{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package ml is model serving and training: deploy a model behind an endpoint, run a training job, tune it with experiments.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "ml"
    },
    {
      "name": "train"
    }
  ],
  "paths": {
    "/v1/ml/health": {
      "get": {
        "operationId": "get_v1_ml_health",
        "summary": "Whether model serving can actually work right now",
        "description": "Reports whether the model-serving plane is genuinely usable: that the Kubernetes API answers, and that the InferenceService CRD is actually served by this cluster. It is a REAL probe, not status theatre — it makes a live call rather than reporting a flag set at boot.\n\n200 only when everything checks out. Otherwise 503 CARRYING THE REPORT — which component failed, and the real error — and that body is the reason this is not a typed op: a typed op reaches a non-2xx by returning an error, and the envelope that produces would drop exactly the detail the probe exists to deliver.\n\nIt answers about the cluster, not about a tenant, so it takes no org and reveals no tenant data. A cluster with no kserve CRD reports degraded honestly rather than failing later at the first deploy.",
        "tags": [
          "ml"
        ]
      }
    },
    "/v1/ml/models": {
      "get": {
        "operationId": "get_v1_ml_models",
        "summary": "ListModels lists the inference models deployed in the caller's org.",
        "description": "ListModels lists the inference models deployed in the caller's org. Each entry\ncarries the model's name, when Kubernetes admitted it, and kserve's live status\n— the spec is on the single-model read. An org that has deployed nothing gets\nan empty list.",
        "tags": [
          "ml"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlResourceList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_ml_models",
        "summary": "Deploy an inference model",
        "description": "Deploys a model into the caller's own tenant namespace and answers the created resource, 201. The spec is the kserve InferenceService spec, relayed as given, so anything kserve serves is deployable here without this layer knowing what it is.\n\nTHE BALANCE GATE RUNS FIRST, before a namespace or a resource exists, so an unfunded org cannot start GPU compute and then be billed for it. It fails CLOSED: a commerce that cannot be reached refuses rather than admits. The refusal carries the fleet's nested error body — the 402 shape a funded-balance client already parses — which is precisely why this route is not a typed op. On success the submission fee is debited from the caller org's own ledger, asynchronously and best-effort; ongoing GPU-hour cost is metered elsewhere.\n\nThe tenant namespace is derived from the VALIDATED org and project — never from a field — and the mapping is injective in both, so two tenants can never land in one namespace. An unvalidated caller is refused before any of that. The name must be a DNS-1123 label; a name already taken in the tenant's namespace is a 409.",
        "tags": [
          "ml"
        ]
      }
    },
    "/v1/ml/models/{name}": {
      "delete": {
        "operationId": "delete_v1_ml_models_name",
        "summary": "DeleteModel deletes a deployed inference model.",
        "description": "DeleteModel deletes a deployed inference model. kserve owns the teardown: the\nInferenceService goes away and the serving deployment behind it follows, so the\nmodel stops answering predict calls. Answers 204, or 404 for a name the\ncaller's org does not own.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the resource to act on, taken from the path. Lower-cased and\ntrimmed to the DNS-1123 label a CustomResource's metadata.name must be.",
            "schema": {
              "type": "string"
            },
            "example": "sentiment"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_ml_models_name",
        "summary": "GetModel returns one deployed inference model.",
        "description": "GetModel returns one deployed inference model. Its spec comes with it, and\nkserve's live status, which is where readiness and the serving address appear.\nA name the caller's org does not own answers 404, exactly as an unknown name\ndoes, so a probe learns nothing about another tenant's models.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the resource to act on, taken from the path. Lower-cased and\ntrimmed to the DNS-1123 label a CustomResource's metadata.name must be.",
            "schema": {
              "type": "string"
            },
            "example": "sentiment"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlResource"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_v1_ml_models_by_name",
        "summary": "Change a deployed model in place",
        "description": "Applies a JSON merge patch to one of the caller org's deployed models and answers the updated resource — the way to change a model's image, replica count or resource requests without tearing the deployment down.\n\nThe body is relayed to Kubernetes VERBATIM. That is deliberate and it is why this route is not a typed op: re-encoding a merge patch changes what it means, because an integer that round-trips through a generic decoder comes back a float. Merge-patch semantics apply as written — a null removes a field, and a list is replaced whole rather than merged.\n\nScoped to the caller's own tenant namespace, resolved from the validated org and project; a name the caller's tenant does not hold is a 404, never another tenant's resource. An empty body is refused, and a patch Kubernetes rejects comes back 422 with its reason rather than being silently dropped.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/ml/models/{name}/predict": {
      "post": {
        "operationId": "post_v1_ml_models_by_name_predict",
        "summary": "Run inference against one of your deployed models",
        "description": "Sends the request body to the named model's predictor and answers the predictor's reply — its status code, its body bytes and its Content-Type, all unchanged. This is the inference call itself, not a description of one.\n\nVERBATIM IS THE CONTRACT, and it is why this route is not a typed op: a model-side error has to surface as the model's own error, not as this layer's paraphrase of it. The body shape is the kserve v2 inference protocol's, which means the runtime decides it, not this API. The v2 model name defaults to the resource name — kserve's single-model convention — and a multi-model runtime selects one with the `model` query parameter.\n\nA model that exists but has no serving address yet answers 503 'not ready' rather than a confusing connection error: deployed is not the same as serving. Scoped to the caller's own tenant namespace from the validated org and project, so a name another tenant owns is simply a 404. The predictor's response body is read up to a fixed ceiling.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/train/experiments": {
      "get": {
        "operationId": "get_v1_train_experiments",
        "summary": "ListExperiments lists the caller org's tuning experiments.",
        "description": "ListExperiments lists the caller org's tuning experiments. Each entry carries\nthe experiment's name, when Kubernetes admitted it, and katib's live status —\nthe spec is on the single-experiment read.",
        "tags": [
          "train"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlResourceList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_train_experiments",
        "summary": "Start a hyperparameter-tuning experiment",
        "description": "Starts a katib hyperparameter search in the caller's own tenant namespace and answers the created Experiment, 201. The spec is katib's own, relayed as given, so the whole search-algorithm surface is available without this layer enumerating it.\n\nOne experiment fans out into many Trials, and each trial is real compute — so the BALANCE GATE RUNS FIRST, before anything is created, and fails CLOSED when commerce cannot be reached. The refusal carries the fleet's nested error body, which is why this is not a typed op. The submission fee is debited from the caller org's own ledger on success, asynchronously and best-effort.\n\nThe trials the search creates are read through the experiment's own trials list. Tenant namespace from the validated org and project, never a field; an unvalidated caller is refused. DNS-1123 name, and a duplicate is a 409.",
        "tags": [
          "train"
        ]
      }
    },
    "/v1/train/experiments/{name}": {
      "delete": {
        "operationId": "delete_v1_train_experiments_name",
        "summary": "DeleteExperiment deletes a hyperparameter-tuning experiment.",
        "description": "DeleteExperiment deletes a hyperparameter-tuning experiment. Kubernetes\ngarbage-collects the Trials katib created under it, because they carry the\nExperiment as their owner. Answers 204, or 404 for a name the caller's org does\nnot own.",
        "tags": [
          "train"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the resource to act on, taken from the path. Lower-cased and\ntrimmed to the DNS-1123 label a CustomResource's metadata.name must be.",
            "schema": {
              "type": "string"
            },
            "example": "sweep-1"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_train_experiments_name",
        "summary": "GetExperiment returns one hyperparameter-tuning experiment.",
        "description": "GetExperiment returns one hyperparameter-tuning experiment. Its spec comes with\nit, and katib's live status, which is where the best trial found so far is\nreported.",
        "tags": [
          "train"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the resource to act on, taken from the path. Lower-cased and\ntrimmed to the DNS-1123 label a CustomResource's metadata.name must be.",
            "schema": {
              "type": "string"
            },
            "example": "sweep-1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlResource"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/train/experiments/{name}/trials": {
      "get": {
        "operationId": "get_v1_train_experiments_name_trials",
        "summary": "ListTrials lists the katib Trials one experiment owns.",
        "description": "ListTrials lists the katib Trials one experiment owns. The experiment is read\nFIRST, so a name the caller's org does not own is a clean 404 rather than an\nempty list; the Trials themselves are selected by katib's own\nkatib.kubeflow.org/experiment label within the caller's tenant namespace.",
        "tags": [
          "train"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the resource to act on, taken from the path. Lower-cased and\ntrimmed to the DNS-1123 label a CustomResource's metadata.name must be.",
            "schema": {
              "type": "string"
            },
            "example": "sweep-1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlTrials"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/train/health": {
      "get": {
        "operationId": "get_v1_train_health",
        "summary": "Whether training and tuning can actually work right now",
        "description": "Reports whether the training plane is genuinely usable: that the Kubernetes API answers, and that BOTH the TrainJob and the Experiment CRDs are served by this cluster. A live check, not a flag read back.\n\n200 only when all of it checks out; otherwise 503 carrying the per-CRD report and the real error. That body is why this is not a typed op — the error envelope a typed refusal renders would drop it.\n\nIt names each CRD separately on purpose: a cluster can serve training but not tuning, and the difference decides whether a job submission or only an experiment will fail. Answers about the cluster, not a tenant, so it takes no org and reveals no tenant data.",
        "tags": [
          "train"
        ]
      }
    },
    "/v1/train/jobs": {
      "get": {
        "operationId": "get_v1_train_jobs",
        "summary": "ListJobs lists the training jobs in the caller's org.",
        "description": "ListJobs lists the training jobs in the caller's org. Each entry carries the\njob's name, when Kubernetes admitted it, and the trainer operator's live status\n— the spec is on the single-job read.",
        "tags": [
          "train"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlResourceList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_train_jobs",
        "summary": "Submit a training job",
        "description": "Submits a training job into the caller's own tenant namespace and answers the created resource, 201. The spec is the Kubeflow TrainJob spec, relayed as given, so the trainer's full surface is reachable without this layer modelling it.\n\nTHE BALANCE GATE RUNS FIRST, before the namespace or the job is created, and it fails CLOSED — an unreachable commerce refuses rather than admits. That is what keeps an unfunded org from starting GPU compute. The refusal carries the fleet's nested error body, which is why this route is not a typed op. On success the submission fee is debited from the caller org's own ledger, asynchronously and best-effort.\n\nSubmitting is not finishing: the answer is the job as accepted, not a result — poll the job read for status. The tenant namespace comes from the validated org and project, never from a field; an unvalidated caller is refused. The name must be a DNS-1123 label, and a name already in use is a 409.",
        "tags": [
          "train"
        ]
      }
    },
    "/v1/train/jobs/{name}": {
      "delete": {
        "operationId": "delete_v1_train_jobs_name",
        "summary": "DeleteJob deletes a training job.",
        "description": "DeleteJob deletes a training job. Kubernetes garbage-collects the pods the\ntrainer operator created under it, because they carry the TrainJob as their\nowner — so deleting the job is how a run is stopped. Answers 204, or 404 for a\nname the caller's org does not own.",
        "tags": [
          "train"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the resource to act on, taken from the path. Lower-cased and\ntrimmed to the DNS-1123 label a CustomResource's metadata.name must be.",
            "schema": {
              "type": "string"
            },
            "example": "finetune-1"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_train_jobs_name",
        "summary": "GetJob returns one training job.",
        "description": "GetJob returns one training job. Its spec comes with it, and the trainer\noperator's live status, which is where a run's phase and its conditions are\nreported.",
        "tags": [
          "train"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the resource to act on, taken from the path. Lower-cased and\ntrimmed to the DNS-1123 label a CustomResource's metadata.name must be.",
            "schema": {
              "type": "string"
            },
            "example": "finetune-1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlResource"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "mlResource": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when Kubernetes admitted the object, RFC 3339 in UTC.",
            "type": "string"
          },
          "name": {
            "description": "Name is the object's metadata.name, unique within the caller's namespace.",
            "type": "string"
          },
          "spec": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "Spec is the resource spec, verbatim as Kubernetes stores it. Present on a\nsingle-object read, absent from a list.",
            "type": "object"
          },
          "status": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "Status is the live status its operator owns (kserve, trainer or katib),\nverbatim. Absent until that operator has written one.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "mlResourceList": {
        "properties": {
          "items": {
            "description": "Items is one entry per object, newest LAST (the Kubernetes list order).",
            "items": {
              "$ref": "#/components/schemas/mlResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "mlTrials": {
        "properties": {
          "experiment": {
            "description": "Experiment is the experiment the trials belong to, echoed from the path.",
            "type": "string"
          },
          "items": {
            "description": "Items is one entry per Trial, in the list shape (no spec).",
            "items": {
              "$ref": "#/components/schemas/mlResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  }
}
