{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package gateway is live control of the policy your API applies to every incoming request: CORS, rate limits, cache TTL and allowed methods, changed without a redeploy.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "gateway"
    }
  ],
  "paths": {
    "/v1/gateway/config": {
      "get": {
        "operationId": "get_gateway_config",
        "summary": "Read returns the EFFECTIVE edge policy the caller is subject to: the platform CORS allowlist and pre-auth per-IP flood cap in force, plus the caller's own authenticated rate ceiling, edge-cache TTLs and accepted-method allowlist.",
        "description": "Read returns the EFFECTIVE edge policy the caller is subject to: the platform CORS\nallowlist and pre-auth per-IP flood cap in force, plus the caller's own authenticated\nrate ceiling, edge-cache TTLs and accepted-method allowlist. A SuperAdmin may inspect\na specific tenant's effective policy with ?org=\u003cslug\u003e.",
        "tags": [
          "gateway"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_gateway_config",
        "summary": "Write updates one policy scope and returns the policy in force after the write.",
        "description": "Write updates one policy scope and returns the policy in force after the write.\nA body carrying any PLATFORM field (cors_origins, per_ip_rpm, window_sec) is a\nplatform write and requires SuperAdmin; otherwise it is a per-org write (org_rpm,\ncache_ttl_sec, cache_paths, methods) scoped to the caller's own org — or, for a\nSuperAdmin, the tenant named by ?org=\u003cslug\u003e. A body that sets nothing is a 400.\nThe abuse gate's mode is an OPERATOR field: setting it requires SuperAdmin,\nwhichever organization it lands on. updated_at and updated_by are\nserver-stamped; a client-supplied value is ignored.",
        "tags": [
          "gateway"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "cache_ttl_sec": 30,
                "methods": [
                  "GET",
                  "POST"
                ],
                "org_rpm": 120
              },
              "schema": {
                "$ref": "#/components/schemas/Policy"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/gateway/traffic": {
      "get": {
        "operationId": "gatewayTraffic",
        "summary": "Report who is calling this org's API right now",
        "description": "Traffic reports who is calling this organization's API right now: the request\ncount for the last minute split by AGENCY LANE — agent, human, bot, unknown —\nand the busiest callers behind it, each with its request count, its\nauthentication-failure count, how many distinct paths it touched, and any\nverdict currently held against it.\n\nThe lane split is the answer to the question a generic bot filter cannot\nanswer: which of this traffic is the customer's own automation and which is\nsomebody working through a list. It is computed from credentials we issued, not\nfrom the client's self-description, so a scraper cannot move itself into the\nagent lane by editing a header.\n\nA validated caller appears as a FINGERPRINT — a one-way, per-process digest. It\nis stable enough to recognise the same caller across a minute and cannot be\nturned back into a key, so this report is safe to read, screenshot and paste.\n\nIt also reports what the sensor's own ceilings are doing (strain, tracked,\nceiling, refused) and how many screens the scorer did not answer (unscored), so\na control that has stopped measuring or a judge that has stopped answering is a\nnumber here rather than a quiet day.\n\nScoped to the caller's own validated organization. A SuperAdmin may inspect a\nspecific tenant with ?org=\u003cslug\u003e, or the lane that has no tenant — every caller\nthe identity boundary could not validate — with an empty ?org=.",
        "tags": [
          "gateway"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrafficView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Policy": {
        "properties": {
          "cache_paths": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "CachePaths overrides CacheTTLSec per path PREFIX (key \"/v1/models\" → seconds).\nThe longest matching prefix wins.",
            "type": "object"
          },
          "cache_ttl_sec": {
            "description": "CacheTTLSec is the org's default edge-cache TTL for its responses, in seconds;\n0 means no caching. Unset inherits the platform default.",
            "type": "integer"
          },
          "cors_origins": {
            "description": "CORSOrigins is the PLATFORM-scope CORS allowlist EdgeCORS admits: an exact\norigin, a bare host, or a \"*.host\" wildcard. Writable only by a SuperAdmin —\nCORS is evaluated before identity, so it has no tenant to scope to.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "methods": {
            "description": "Methods is the allowlist of HTTP methods the edge accepts for this org. Empty\nmeans all are accepted.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "description": "Mode is the abuse gate's posture for THIS scope: \"shadow\" scores traffic and\nrecords the verdict without acting on it, \"live\" enforces it. Unset means\nshadow.\n\nIt is the one per-org field that does NOT inherit. Every other field here\nlayers a platform default under the org's own value, which is right for a\ndefault: a tenant that sets no rate ceiling should get the platform's. Mode\nis not a default, it is an ARMING DECISION — it is what makes a statistical\njudgement start refusing real traffic — and inheriting it means arming one\nscope arms every tenant that never asked for it, without a write to their\nrow and without anything in their config changing. So a tenant is live only\nif that tenant's OWN row says live, and the platform row's mode governs\nexactly one scope: the anonymous lane, which has no tenant of its own.\n\nIt is also not self-service. Writing it requires SuperAdmin (see the\n/v1/gateway config op): the subject of an abuse control does not get to\nswitch the control off.",
            "type": "string"
          },
          "org_rpm": {
            "description": "OrgRPM is the org's OWN authenticated rate ceiling, requests per minute, as\nScopeRateLimit enforces it. Unset inherits the platform default, then the\nstatic boot default.",
            "type": "integer"
          },
          "per_ip_rpm": {
            "description": "PerIPRPM is the PLATFORM-scope pre-auth flood cap: requests EdgeRateLimit\nadmits per WindowSec from one client IP. SuperAdmin-only, same reason.",
            "type": "integer"
          },
          "updated_at": {
            "description": "UpdatedAt is the unix second this policy row was last written. Server-stamped;\na client-supplied value is ignored.",
            "type": "integer"
          },
          "updated_by": {
            "description": "UpdatedBy is the validated user id that wrote this policy row. Server-stamped;\na client-supplied value is ignored.",
            "type": "string"
          },
          "window_sec": {
            "description": "WindowSec is the window PerIPRPM is counted over, in seconds. SuperAdmin-only.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "TrafficCaller": {
        "properties": {
          "action": {
            "description": "Action is the verdict currently held against it, if any.",
            "type": "string"
          },
          "cred": {
            "description": "Cred is the caller's key: a credential fingerprint (a per-process one-way\ndigest, not a key) for a validated caller, and \"ip:\u003caddr\u003e\" for one that\npresented no credential we could validate.",
            "type": "string"
          },
          "failures": {
            "description": "Failures is how many ended 401 or 403.",
            "type": "integer"
          },
          "held_until": {
            "description": "HeldUntil is when the held verdict lapses, unix seconds.",
            "type": "integer"
          },
          "paths": {
            "description": "Paths is the approximate number of distinct paths it touched (max 64).",
            "type": "integer"
          },
          "reason": {
            "description": "Reason is why that verdict was reached.",
            "type": "string"
          },
          "requests": {
            "description": "Requests is its request count in the window.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "TrafficView": {
        "properties": {
          "blind": {
            "description": "Blind is how many requests in the window carried no identity to attribute\nthem to — no validated credential and no client address. Non-zero on a\npublic plane means the client address is not reaching this process (a TCP\nload balancer with no PROXY protocol in front of it, typically), so this\nscope's callers cannot be told apart and nothing can be held against them.",
            "type": "integer"
          },
          "callers": {
            "description": "Callers is the scope's busiest callers this window. A credentialed caller\nappears as a FINGERPRINT — a per-process one-way digest: enough to recognise\nthe same caller across requests, never enough to reconstruct the credential.",
            "items": {
              "$ref": "#/components/schemas/TrafficCaller"
            },
            "type": "array"
          },
          "ceiling": {
            "description": "Ceiling is the most callers this scope may hold at once.",
            "type": "integer"
          },
          "denied": {
            "description": "Denied is how many of them the gate refused.",
            "type": "integer"
          },
          "lanes": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Lanes is the request count per lane — agent, human, bot, unknown. This is\nthe split that separates a customer's automation from a scraper.",
            "type": "object"
          },
          "mode": {
            "description": "Mode is the abuse gate's posture for this scope: \"shadow\" records the scorer's\naction without enforcing it, \"live\" enforces it.",
            "type": "string"
          },
          "org": {
            "description": "Org is the scope this view was taken for — the validated principal's own,\nnever a value the caller supplied. Empty names the anonymous lane, the one\nscope that has no tenant.",
            "type": "string"
          },
          "refused": {
            "description": "Refused is how many callers this scope's ceilings turned away in the window.",
            "type": "integer"
          },
          "requests": {
            "description": "Requests is how many requests this scope made in the window.",
            "type": "integer"
          },
          "screens": {
            "description": "Screens is how many of them were put to the scorer — the billable unit of\nthe risk product. Counted from the first request, whatever the SKU costs.",
            "type": "integer"
          },
          "strain": {
            "description": "Strain is what this scope's ceilings are doing: \"clear\" below them, \"full\"\nat them, \"refuse\" once a caller has been turned away inside this window —\nwhich means that caller is UNMEASURED and the numbers here are a sample\nrather than a census. It is reported rather than logged because the\nalternative — a bound that degrades a scope silently — is the failure this\ndesign exists to rule out. No other scope can move it.",
            "type": "string"
          },
          "tracked": {
            "description": "Tracked is how many callers this scope holds state for right now, and\nCeiling is the most it may hold. Tracked == Ceiling is the fact a bound\nthat binds cannot hide.",
            "type": "integer"
          },
          "unscored": {
            "description": "Unscored is how many of those screens got NO answer — the scorer was absent,\nstuck, slow, erroring or silent. An unanswered screen allows ordinary\ntraffic, so this is the number that separates \"a quiet day\" from \"the judge\nstopped answering and nothing said so\".",
            "type": "integer"
          },
          "window_sec": {
            "description": "WindowSec is the span the counts cover, in seconds.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}
