{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package pubsub is your message bus: publish, subscribe, and durable streams your apps read at their own pace.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "kv"
    },
    {
      "name": "pubsub"
    }
  ],
  "paths": {
    "/v1/kv/{bucket}": {
      "delete": {
        "operationId": "delete_kv_by_bucket",
        "summary": "Removes one bucket of the caller's org — every key and every revision with it — and answers 204 with no body.",
        "description": "Removes one bucket of the caller's org — every key and every\nrevision with it — and answers 204 with no body. 404 when the org has no\nbucket of that name.",
        "tags": [
          "kv"
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "description": "Bucket is the bucket's name, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_kv_by_bucket",
        "summary": "Creates a KV bucket and returns it.",
        "description": "Creates a KV bucket and returns it. A bucket is keyed state on\nthe same durable plane as the streams: each key holds up to History\nrevisions, entries can expire by TTL, and watchers on the NATS port see every\nwrite. 409 when the org already has a bucket of that name.",
        "tags": [
          "kv"
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "description": "Bucket is the bucket's name within the org, from the path: 1–64 of\n[A-Za-z0-9_], no dash.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "history": 5,
                "ttl": 3600
              },
              "schema": {
                "$ref": "#/components/schemas/bucketWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bucketRecord"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/kv/{bucket}/{key}": {
      "delete": {
        "operationId": "delete_kv_by_bucket_by_key",
        "summary": "Delete removes one key — a delete marker in the key's history, so watchers see it and Get answers 404 — and answers 204 with no body.",
        "description": "Delete removes one key — a delete marker in the key's history, so watchers\nsee it and Get answers 404 — and answers 204 with no body. 404 when the\nbucket does not exist.",
        "tags": [
          "kv"
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "description": "Bucket is the bucket, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the key, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "get_kv_by_bucket_by_key",
        "summary": "Get returns one key's current value and revision.",
        "description": "Get returns one key's current value and revision. 404 when the bucket does\nnot exist, the key was never written, or its latest revision is a delete.",
        "tags": [
          "kv"
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "description": "Bucket is the bucket, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the key, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kvEntry"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "put_kv_by_bucket_by_key",
        "summary": "Put sets one key to one value and returns the revision the write created.",
        "description": "Put sets one key to one value and returns the revision the write created.\nWrites are versioned: each put is a new revision and the bucket retains up to\nits History of them per key.",
        "tags": [
          "kv"
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "description": "Bucket is the bucket, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the key, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "value": "{\"theme\":\"dark\"}"
              },
              "schema": {
                "$ref": "#/components/schemas/kvWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kvAck"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/kv/{bucket}/{key}/history": {
      "get": {
        "operationId": "get_kv_by_bucket_by_key_history",
        "summary": "History returns one key's retained revisions, oldest first — every put and every delete marker up to the bucket's History depth.",
        "description": "History returns one key's retained revisions, oldest first — every put and\nevery delete marker up to the bucket's History depth. 404 when the bucket\ndoes not exist or the key was never written.",
        "tags": [
          "kv"
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "description": "Bucket is the bucket, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the key, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kvPage"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pubsub/publish": {
      "post": {
        "operationId": "post_pubsub_publish",
        "summary": "Publish puts one message on the org's bus.",
        "description": "Publish puts one message on the org's bus. When a stream captures the subject\nthe write is DURABLE — the receipt names the stream and sequence only after\nJetStream has it on storage, and a repeated Nats-Msg-Id header within the\ndedup window answers duplicate instead of storing twice. When nothing\ncaptures it, the message goes out core NATS: delivered to current\nsubscribers, receipt {ok}, nothing retained.",
        "tags": [
          "pubsub"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "data": "{\"id\":\"o_1\"}",
                "headers": {
                  "Nats-Msg-Id": "o_1"
                },
                "subject": "orders.created"
              },
              "schema": {
                "$ref": "#/components/schemas/busPublish"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/busAck"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pubsub/request": {
      "post": {
        "operationId": "post_pubsub_request",
        "summary": "Request sends one request on the org's bus and waits for one reply — the synchronous half of pub/sub, for callers speaking to a responder subscribed on the NATS port.",
        "description": "Request sends one request on the org's bus and waits for one reply — the\nsynchronous half of pub/sub, for callers speaking to a responder subscribed\non the NATS port. 404 when nobody is listening on the subject; 408 when a\nresponder exists but no reply arrived within the timeout.",
        "tags": [
          "pubsub"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "data": "{\"sku\":\"gpu_1\"}",
                "subject": "billing.quote",
                "timeoutMs": 2000
              },
              "schema": {
                "$ref": "#/components/schemas/busRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/busMessage"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "bucketRecord": {
        "properties": {
          "bucket": {
            "description": "Bucket is the bucket's name within the org.",
            "type": "string"
          },
          "history": {
            "description": "History is how many revisions each key keeps.",
            "type": "integer"
          },
          "ttl": {
            "description": "TTL is the entry expiry in seconds; 0 means none.",
            "type": "integer"
          },
          "values": {
            "description": "Values is how many values the bucket holds right now.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "bucketWrite": {
        "properties": {
          "bucket": {
            "description": "Bucket is the bucket's name within the org, from the path: 1–64 of\n[A-Za-z0-9_], no dash.",
            "type": "string"
          },
          "history": {
            "description": "History is how many revisions each key keeps, 1–64. 0 means 1.",
            "type": "integer"
          },
          "maxValue": {
            "description": "MaxValue caps one value's size in bytes. 0 or less means the server's\nceiling.",
            "type": "integer"
          },
          "ttl": {
            "description": "TTL expires entries after this many SECONDS. 0 means no expiry.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "busAck": {
        "properties": {
          "duplicate": {
            "description": "Duplicate is true when JetStream deduplicated the message by its\nNats-Msg-Id instead of storing it again.",
            "type": "boolean"
          },
          "ok": {
            "description": "OK is true when the bus accepted the message.",
            "type": "boolean"
          },
          "seq": {
            "description": "Seq is the message's sequence in that stream.",
            "type": "integer"
          },
          "stream": {
            "description": "Stream is the stream that stored the message — absent when no stream\ncaptures the subject and the message went out core (fire-and-forget).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "busMessage": {
        "properties": {
          "data": {
            "description": "Data is the payload as UTF-8 text.",
            "type": "string"
          },
          "headers": {
            "additionalProperties": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "description": "Headers are the message's headers, when it carries any.",
            "type": "object"
          },
          "seq": {
            "description": "Seq is the message's stream sequence — fetched messages only.",
            "type": "integer"
          },
          "subject": {
            "description": "Subject is the message's subject in the org's own namespace.",
            "type": "string"
          },
          "time": {
            "description": "Time is when the stream stored the message, RFC3339 — fetched messages\nonly.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "busPublish": {
        "properties": {
          "data": {
            "description": "Data is the payload, carried verbatim as UTF-8 text (typically JSON).\nBinary payloads belong on the NATS port.",
            "type": "string"
          },
          "headers": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Headers are optional message headers, one value per name. A Nats-Msg-Id\nheader is JetStream's deduplication key: a repeat within the stream's\ndedup window is acknowledged as duplicate rather than stored twice.",
            "type": "object"
          },
          "subject": {
            "description": "Subject is the subject to publish to, in the org's own namespace — e.g.\norders.created. No wildcards.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "busRequest": {
        "properties": {
          "data": {
            "description": "Data is the request payload, carried verbatim as UTF-8 text.",
            "type": "string"
          },
          "headers": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Headers are optional request headers, one value per name.",
            "type": "object"
          },
          "subject": {
            "description": "Subject is the subject a responder listens on, in the org's namespace.",
            "type": "string"
          },
          "timeoutMs": {
            "description": "TimeoutMs bounds the wait for a reply. 0 or less means the default of\n5000; anything above 30000 is clamped to 30000.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "kvAck": {
        "properties": {
          "revision": {
            "description": "Revision is the revision the write created.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "kvEntry": {
        "properties": {
          "created": {
            "description": "Created is when this revision was written, RFC3339.",
            "type": "string"
          },
          "key": {
            "description": "Key is the entry's key.",
            "type": "string"
          },
          "operation": {
            "description": "Operation is what wrote the revision: put, del or purge.",
            "type": "string"
          },
          "revision": {
            "description": "Revision is the entry's revision in the bucket.",
            "type": "integer"
          },
          "value": {
            "description": "Value is the value as UTF-8 text; empty for delete and purge markers.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "kvPage": {
        "properties": {
          "data": {
            "description": "Data are the key's retained revisions.",
            "items": {
              "$ref": "#/components/schemas/kvEntry"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "kvWrite": {
        "properties": {
          "bucket": {
            "description": "Bucket is the bucket, from the path.",
            "type": "string"
          },
          "key": {
            "description": "Key is the key, from the path.",
            "type": "string"
          },
          "value": {
            "description": "Value is the value, carried verbatim as UTF-8 text (typically JSON).",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
