{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "builds"
    },
    {
      "name": "environments"
    },
    {
      "name": "pipelines"
    },
    {
      "name": "platform"
    },
    {
      "name": "releases"
    },
    {
      "name": "run"
    },
    {
      "name": "runner"
    }
  ],
  "paths": {
    "/v1/builds": {
      "get": {
        "operationId": "get_v1_builds",
        "tags": [
          "builds"
        ]
      }
    },
    "/v1/environments": {
      "get": {
        "operationId": "get_v1_environments",
        "tags": [
          "environments"
        ]
      }
    },
    "/v1/pipelines": {
      "get": {
        "operationId": "get_v1_pipelines",
        "tags": [
          "pipelines"
        ]
      }
    },
    "/v1/platform/fleet/": {
      "get": {
        "operationId": "get_v1_platform_fleet",
        "tags": [
          "platform"
        ]
      }
    },
    "/v1/platform/fleet/{app}": {
      "get": {
        "operationId": "get_v1_platform_fleet_by_app",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/fleet/{app}/deploy": {
      "post": {
        "operationId": "post_v1_platform_fleet_by_app_deploy",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/health": {
      "get": {
        "operationId": "get_v1_platform_health",
        "tags": [
          "platform"
        ]
      }
    },
    "/v1/platform/projects": {
      "get": {
        "operationId": "get_v1_platform_projects",
        "tags": [
          "platform"
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/projectView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}": {
      "get": {
        "operationId": "get_v1_platform_projects_by_project",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/projectView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps": {
      "get": {
        "operationId": "get_v1_platform_projects_by_project_apps",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/appView"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createAppReq"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}": {
      "delete": {
        "operationId": "delete_v1_platform_projects_by_project_apps_by_app",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_platform_projects_by_project_apps_by_app",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/deploy": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_deploy",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/deployments": {
      "get": {
        "operationId": "get_v1_platform_projects_by_project_apps_by_app_deployments",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/deployments/{id}": {
      "get": {
        "operationId": "get_v1_platform_projects_by_project_apps_by_app_deployments_by_id",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/deployments/{id}/logs": {
      "get": {
        "operationId": "get_v1_platform_projects_by_project_apps_by_app_deployments_by_id_logs",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/domains": {
      "get": {
        "operationId": "get_v1_platform_projects_by_project_apps_by_app_domains",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_domains",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/domains/{host}": {
      "delete": {
        "operationId": "delete_v1_platform_projects_by_project_apps_by_app_domains_by_host",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/domains/{host}/verify": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_domains_by_host_verify",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/env": {
      "put": {
        "operationId": "put_v1_platform_projects_by_project_apps_by_app_env",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setEnvReq"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/preview": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_preview",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/promote": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_promote",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/rollback": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_rollback",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/start": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_start",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/stop": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_stop",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/releases": {
      "get": {
        "operationId": "get_v1_releases",
        "tags": [
          "releases"
        ]
      }
    },
    "/v1/run": {
      "post": {
        "operationId": "post_v1_run",
        "tags": [
          "run"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/runReq"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runner": {
      "post": {
        "operationId": "post_v1_runner",
        "tags": [
          "runner"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "EnvVarJSON": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "secret": {
            "type": "boolean"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "appView": {
        "type": "object",
        "properties": {
          "buildType": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "currentDeploymentId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dockerfile": {
            "type": "string"
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "env": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvVarJSON"
            }
          },
          "environment": {
            "type": "string"
          },
          "health": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "image": {
            "$ref": "#/components/schemas/imageView"
          },
          "name": {
            "type": "string"
          },
          "namespace": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "phase": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "projectId": {
            "type": "string"
          },
          "replicas": {
            "type": "integer"
          },
          "repo": {
            "$ref": "#/components/schemas/gitSource"
          },
          "secretSync": {
            "type": "string"
          },
          "secretSyncDetail": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "storageGb": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          }
        }
      },
      "createAppReq": {
        "type": "object",
        "properties": {
          "buildType": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dockerfile": {
            "type": "string"
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "env": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvVarJSON"
            }
          },
          "environment": {
            "type": "string"
          },
          "image": {
            "type": "object",
            "properties": {
              "repository": {
                "type": "string"
              },
              "tag": {
                "type": "string"
              }
            }
          },
          "name": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "replicas": {
            "type": "integer"
          },
          "repo": {
            "type": "object",
            "properties": {
              "branch": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          },
          "slug": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "storageGb": {
            "type": "integer"
          }
        }
      },
      "gitSource": {
        "type": "object",
        "properties": {
          "branch": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "imageView": {
        "type": "object",
        "properties": {
          "repository": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        }
      },
      "projectView": {
        "type": "object",
        "properties": {
          "applications": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "runReq": {
        "type": "object",
        "properties": {
          "env": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvVarJSON"
            }
          },
          "gpu": {
            "type": "integer"
          },
          "image": {
            "type": "string"
          },
          "maxScale": {
            "type": "integer"
          },
          "minScale": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "runtime": {
            "type": "string"
          },
          "shape": {
            "type": "string"
          }
        }
      },
      "runView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shape": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "setEnvReq": {
        "type": "object",
        "properties": {
          "env": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvVarJSON"
            }
          }
        }
      }
    }
  }
}
