{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package billing is your org's balance, what it has spent, and the cards it pays with.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "billing"
    }
  ],
  "paths": {
    "/v1/billing/accounts": {
      "get": {
        "operationId": "get_billing_accounts",
        "summary": "Answers the caller's billing accounts: the org itself, its currency, when it was opened, and the caller's own standing in it.",
        "description": "Answers the caller's billing accounts: the org itself, its currency, when it\nwas opened, and the caller's own standing in it.\n\nThe standing is the caller's, resolved from the validated principal here and\nsent to the store rather than looked up there — the membership roster is IAM's\nand commerce keeps none, so a callee that answered \"what role is this\" would\nbe inventing it. An anonymous read gets the account with no role rather than\nan implied membership.\n\nScoped to the caller's own org, which is the whole tenancy story: there is no\norg field on the wire and none on the input.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BillingAccount"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/accounts/{id}/members": {
      "get": {
        "operationId": "get_billing_accounts_by_id_members",
        "summary": "Answers one billing account's roster.",
        "description": "Answers one billing account's roster.\n\ncommerce stores no roster — that is IAM's — so the only member it can name is\nthe caller, and that is what comes back. What it does enforce is that the\naccount named in the path is the caller's own: a foreign id is 403, not an\nempty list, because \"no members\" and \"not your account\" are different answers.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the billing account id, which for this store is the org's own id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Holder"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/alerts": {
      "get": {
        "operationId": "get_billing_alerts",
        "summary": "Lists this org's spend caps: the ceiling, its scope, whether it enforces, and how much of it has been spent this period.",
        "description": "Lists this org's spend caps: the ceiling, its scope, whether it enforces, and\nhow much of it has been spent this period.\n\n`periodSpentCents`, `over` and `warn` are ABSENT rather than zero when the\nspend could not be read, because \"nothing spent\" and \"spend unknown\" are\ndifferent answers and a customer acting on the first when the second is true\nwould be reading a ceiling that is not there. The policy row is reported\neither way.\n\nThe period is the UTC calendar month and `resetsAt` is when the count starts\nagain, so a surface can say \"resets on\" without a second call.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Alert"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_billing_alerts",
        "summary": "Opens a spend cap on the caller's own org.",
        "description": "Opens a spend cap on the caller's own org.\n\nAt least one limit must mean something: a threshold above zero (a spend cap)\nor a requests-per-minute above zero (a rate limit). A row that bounds neither\nis refused rather than stored, because a ceiling nothing measures against is a\nceiling a customer believes in and does not have.\n\nThe cap is keyed on the caller's own billing subject, resolved server-side —\nthe SAME key the verdict looks it up under, which is what makes enforcement\nbind rather than merely record.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSpec"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/alerts/authorize": {
      "get": {
        "operationId": "get_billing_alerts_authorize",
        "summary": "Answers whether one proposed spend fits inside this org's caps.",
        "description": "Answers whether one proposed spend fits inside this org's caps.\n\nIt is the per-request verdict the metering edge consumes before every priced\ncall, and its caller is a SERVICE rather than a person: a service token plus\nthe gateway-pinned org, with no user behind it. So this admits that principal\nwhere the CRUD beside it does not.\n\nEvery covering row is evaluated, most-restrictive-wins, and the tightest one\nis what `capCents`, `spentCents` and `reason` describe. Soft rows never deny;\nnor does a project-scoped enforcing row whose project axis the caller could\nnot establish — `pv=1` is how a caller states that it did, and an unproven\nclaim must not be able to refuse traffic.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project narrows the verdict to one project's caps. Empty is the org-wide row.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "description": "Service narrows it to one service's caps. Empty is every service.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Amount is the proposed spend in cents.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pv",
            "in": "query",
            "required": false,
            "description": "PV is \"1\" when the caller ESTABLISHED the project rather than merely\ncarrying a claim of one. An unproven project may not deny traffic.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapVerdict"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/alerts/{id}": {
      "delete": {
        "operationId": "delete_billing_alerts_by_id",
        "summary": "Removes one of the caller's spend caps and answers 204.",
        "description": "Removes one of the caller's spend caps and answers 204.\n\nRemoving a cap RAISES what the org may spend, so it takes the same authority\nsetting one does. The caps that remain still bind: this drops one, never the\nwhole policy.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the cap to remove, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "patch": {
        "operationId": "patch_billing_alerts_by_id",
        "summary": "Changes one spend cap: raise or lower the ceiling, flip enforcement, retune the rate limit.",
        "description": "Changes one spend cap: raise or lower the ceiling, flip enforcement, retune\nthe rate limit.\n\nOnly the fields the body carries move. Every mutable field is optional, and an\nabsent one is PRESERVED rather than reset — so a change that flips enforcement\ncannot silently wipe the threshold it enforces.\n\nA cap belonging to another org is a 404, not a 403: a guessed id must not\nbecome an oracle for what anyone else holds.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/balance": {
      "get": {
        "operationId": "get_billing_balance",
        "summary": "Prepaid credit the caller's org can still spend",
        "description": "Answers the spendable prepaid balance of the wallet this caller bills from — the same wallet the AI prepaid gate reads before admitting a paid request, the edge meter debits, and a top-up credits.\n\nThe wallet is an ADDRESS, not an org: `account` echoes the key resolved within the ledger — the org's shared pool for a tenant org, a personal account for a member of the shared signup org. The echo is the point. A browser could only GUESS its own payer by decoding its own token, and a guess that disagrees with the server is how money lands in an account the gate never reads.\n\n`balance`, `holds` and `available` are whole USD cents, ROUNDED from the ledger's exact 18-decimal value. On the co-resident ledger `holds` is 0 and `available` equals `balance`: the gate's reservations live in its own pod and are never posted, so the settled balance IS the spendable one.\n\nThe ledger is the caller's own org, taken from the VALIDATED IAM owner claim and never from a client header. No validated principal is 401 — with one exception, the trusted in-process service token the AI gate itself presents, which reads the gateway-pinned org and nothing it could name. A balance that cannot be READ is 502, never 0: unknown is not broke.",
        "tags": [
          "billing"
        ],
        "x-public": true
      }
    },
    "/v1/billing/credit-balance": {
      "get": {
        "operationId": "get_billing_credit-balance",
        "summary": "Answers what the caller can spend right now, one entry per currency.",
        "description": "Answers what the caller can spend right now, one entry per currency.\n\nOnly ACTIVE grants count: a voided, exhausted or lapsed grant contributes\nnothing, which is why this number can be smaller than the grant list suggests\nand why the two reads exist separately. It is credit, not prepaid balance —\n/v1/billing/balance is the wallet, and the two are added by the gate, never by\na reader.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditBalance"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/credit-balance/breakdown": {
      "get": {
        "operationId": "get_billing_credit-balance_breakdown",
        "summary": "Answers that same spendable credit split by grant tag, with the earliest expiry under each and the total across all of them.",
        "description": "Answers that same spendable credit split by grant tag, with the earliest\nexpiry under each and the total across all of them.\n\nThe split is the point: it is how trial credit is told apart from bought\ncredit, which is what a surface asks before it decides whether to spend any.\nAn unregistered address answers 404 and a caller reads that as \"no credit\", so\nthis being served is the difference between a customer with a trial grant\nbeing offered their trial and being told they have none.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/credits": {
      "get": {
        "operationId": "get_billing_credits",
        "summary": "Lists the caller's credit grants — every one of them, spent and lapsed and voided included.",
        "description": "Lists the caller's credit grants — every one of them, spent and lapsed and\nvoided included.\n\nThat is deliberate and it is what makes the list useful: a grant list is a\nLEDGER, and one that hid its spent rows could not be reconciled against a\nburn-down. What is spendable right now is the sibling read, /v1/billing/\ncredit-balance, and the two are different questions.\n\nScoped to the caller's own wallet, resolved server-side.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditGrants"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/crypto/deposit": {
      "post": {
        "operationId": "post_billing_crypto_deposit",
        "summary": "Issues a deposit address the caller can send crypto to, on the asset they ask for.",
        "description": "Issues a deposit address the caller can send crypto to, on the asset they ask\nfor.\n\nThe address credits the CALLER'S own wallet and nobody else's: the payer is\nthe validated principal, never a body value. Asking again reuses the caller's\nopen intent rather than minting a second address, so a refresh cannot spray\nkey generations — and a payer who sent to the address they saw earlier is\nstill credited.\n\nNo balance moves here. The chain watcher credits on real confirmations, so\nwhat comes back is an address and a status, not a receipt.\n\nAn asset this rail cannot mint on is 400 — ask for another. A rail that is\nshut for that asset is 503 — nothing sent now can be credited.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cryptoAsset"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoDeposit"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/crypto/deposit/{id}": {
      "get": {
        "operationId": "get_billing_crypto_deposit_by_id",
        "summary": "Reads one of the caller's own deposit intents back — pending, confirming, or succeeded.",
        "description": "Reads one of the caller's own deposit intents back — pending, confirming, or\nsucceeded.\n\nAn intent belonging to another payer answers 404, exactly as an id that names\nnothing, so a guessed id cannot confirm that somebody else's deposit exists.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the deposit intent id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoDeposit"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/crypto/options": {
      "get": {
        "operationId": "get_billing_crypto_options",
        "summary": "Answers which chains and tokens the crypto rail accepts — what an asset picker renders.",
        "description": "Answers which chains and tokens the crypto rail accepts — what an asset picker\nrenders.\n\nIt is the intersection of two live facts rather than a configured list: an\nasset appears only if something is WATCHING it and the custody processor\nsupports it. An address nobody watches credits nobody, so offering one would\ntake a customer's money and lose it. A rail with nothing armed answers 503,\nnot an empty menu — \"no rail\" and \"no assets\" are different, and only one of\nthem means try again later.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoOptions"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/invoices": {
      "get": {
        "operationId": "get_billing_invoices",
        "summary": "Lists the caller's invoices, newest first, with the count beside them.",
        "description": "Lists the caller's invoices, newest first, with the count beside them.\n\nIt is scoped to the caller's own billing subject — the wallet this request\nbills from, resolved server-side — so a query cannot widen it to another\ncustomer of the same org. An org with no invoices is an empty list, not a\nrefusal.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoices"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "raiseInvoice",
        "summary": "Raise a draft invoice against a customer",
        "description": "Raises a DRAFT invoice against a customer in the caller's own org.\n\nThe invoice is not collectible yet: a draft exists so it can be read and\ncorrected, and issueInvoice is the separate act that turns it into a demand for\npayment. The subtotal and amount due are computed from the lines, so there is\nno total to send and none to get wrong.\n\nThe billing org is the caller's, taken from the validated principal, so an\ninvoice can only ever be raised on the caller's own books.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RaiseIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/invoices/{id}": {
      "get": {
        "operationId": "getInvoice",
        "summary": "Read one invoice",
        "description": "Reads one invoice out of the caller's org.\n\nThe org scopes the read by construction — the store is namespaced to it — so an\nid belonging to another tenant is not found rather than found and then filtered.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the invoice id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/invoices/{id}/collect": {
      "post": {
        "operationId": "collectInvoice",
        "summary": "Collect an issued invoice from credits, balance, then card",
        "description": "Collects an issued invoice: credit grants first, then prepaid balance, then the\ncard on file — the same waterfall the dunning workflow runs.\n\nA DECLINE IS NOT AN ERROR. It answers with paid=false, a reason, and the\ninvoice still open, because a declined collection is a normal business outcome\nthat must remain retryable — and because sealing it as a failure would wedge\ndunning behind a replayed decline. Only a successful collection is sealed, so a\nretry of a paid invoice replays the receipt instead of charging again.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the invoice id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collected"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/invoices/{id}/issue": {
      "post": {
        "operationId": "issueInvoice",
        "summary": "Issue a draft invoice, making it collectible",
        "description": "Issues a draft invoice: moves it to OPEN, assigns its number, and makes it\ncollectible.\n\nOnly a draft can be issued. An invoice already open, paid or void is refused\nwith the state machine's own reason rather than being silently re-issued, which\nwould mint a second number for one debt.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the invoice id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/invoices/{id}/pdf": {
      "get": {
        "operationId": "get_billing_invoices_by_id_pdf",
        "summary": "Download one invoice as a PDF",
        "description": "Answers the invoice as an attachment — `application/pdf` under a Content-Disposition naming the invoice number — rather than as a JSON value, which is why this one route is untyped where its five siblings are typed: a PDF is bytes with a filename, and the two headers are the whole contract.\n\nThe render is a PURE function of the invoice: one page, no timestamps and no random ids, so the same invoice renders the same bytes however often it is asked for and a retry after a dropped connection costs a re-render and nothing else.\n\nThe invoice is read from the caller's own org, taken from the VALIDATED IAM owner claim and never from a client header, and the lookup is scoped at the storage layer — so an id belonging to another customer resolves to nothing and answers 404 rather than being found and then refused.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/billing/invoices/{id}/void": {
      "post": {
        "operationId": "voidInvoice",
        "summary": "Void a draft or issued invoice",
        "description": "Voids a draft or issued invoice — the cancel.\n\nA paid invoice cannot be voided: money has moved, and the correction for that\nis a refund, not an erasure. The state machine refuses it and that refusal is\nthe answer.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the invoice id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/ledger": {
      "get": {
        "operationId": "get_billing_ledger",
        "summary": "Answers the org's own postings inside `range=`, each as a signed entry: a DEPOSIT CREDITS the wallet (positive, account `credits:\u003corg\u003e`) and every other posting DEBITS it (negative, account `usage:\u003corg\u003e`), described by its notes or its tags.",
        "description": "Answers the org's own postings inside `range=`, each as a signed\nentry: a DEPOSIT CREDITS the wallet (positive, account `credits:\u003corg\u003e`) and\nevery other posting DEBITS it (negative, account `usage:\u003corg\u003e`), described by\nits notes or its tags. The sign is the posting's own meaning, read through ONE\nvocabulary shared with the ledger that wrote it — a reader with its own\nspelling for `deposit` rendered a customer's grant as a charge.\n\nThis is the closest projection of the truth. The org's double-entry postings\nare the source of record — balanced, only ever appended, one file per org —\nand this lane is that list, wider than either half of it: the deposits are the\ngrants /v1/billing/credits lists and the debits are the spend /v1/billing/usage\nrolls up. It answers 503 where this deployment runs no ledger, rather than\nreporting an empty wallet.\n\nA row whose timestamp will not parse is KEPT rather than dropped — a malformed\ndate must show up in a money list, not vanish from it. `balanceCents` is\nomitted: these are MOVEMENTS, and the standing balance is /v1/billing/balance.\n\nCents are ROUNDED from the ledger's exact 18-decimal USD. Scoped to the\ncaller's own org, where the org's ledger file is the tenant boundary; 401\nwithout a validated principal.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is the window: 24h, 7d, 30d or 90d. Anything else — including\nabsent — is 30d, so a typo silently widens the window to a month rather\nthan failing.",
            "schema": {
              "type": "string"
            },
            "example": "30d"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/financeLedgerEntry"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok",
            "headers": {
              "Cache-Control": {
                "description": "Set by GET /v1/billing/ledger.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/methods": {
      "get": {
        "operationId": "get_billing_methods",
        "summary": "Cards and accounts on file for the caller",
        "description": "Answers every payment method the caller has saved, newest first.\n\nA saved method is a card or account VAULTED at the processor: what is stored here is the processor's token for it plus the last four digits and the expiry a customer recognises it by, never a card number.\n\nThe list is the caller's OWN — the wallet this request bills from, resolved server-side — so a query cannot widen it to another customer of the same org.\n\n`/v1/billing/portal/methods` answers the same list under the name a hosted checkout addresses it by. One set of rows, two spellings; a card added at either is present at both.\n\nA store that cannot be read answers an EMPTY LIST rather than a failure: the saved-cards panel renders empty instead of breaking the page around it.",
        "tags": [
          "billing"
        ],
        "x-public": true
      },
      "post": {
        "operationId": "post_billing_methods",
        "summary": "Save a card or account for the caller",
        "description": "Vaults the instrument at the processor and stores the row.\n\nA saved method is a card or account VAULTED at the processor: what is stored here is the processor's token for it plus the last four digits and the expiry a customer recognises it by, never a card number.\n\nThe list is the caller's OWN — the wallet this request bills from, resolved server-side — so a query cannot widen it to another customer of the same org.\n\n`/v1/billing/portal/methods` answers the same list under the name a hosted checkout addresses it by. One set of rows, two spellings; a card added at either is present at both.\n\nSaving a card ALREADY on file answers with the row that already holds it rather than stacking a duplicate — 200 for that, 201 for a genuinely new row, so a client can tell which happened. A card the processor declines is 402 and nothing is stored.",
        "tags": [
          "billing"
        ],
        "x-public": true
      }
    },
    "/v1/billing/methods/{id}": {
      "delete": {
        "operationId": "delete_billing_methods_by_id",
        "summary": "Removes one card or account the caller has saved.",
        "description": "Removes one card or account the caller has saved.\n\nIt detaches only the CALLER'S own — the wallet this request bills from,\nresolved server-side — so an id belonging to another customer of the same org\nis not something this operation can reach. A platform or service caller\ndetaches on the subject's behalf, and that authority is decided HERE, where the\ncredential is, and travels as a value: authority decided twice is authority\nthat eventually disagrees with itself.\n\nThe card is vaulted at the processor, so what goes is our token for it.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the saved method to detach, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Detachment"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/mode": {
      "post": {
        "operationId": "post_billing_mode",
        "summary": "Moves this org between sandbox money and real money.",
        "description": "Moves this org between sandbox money and real money.\n\nIt decides whether a charge hits a real card, so it is the one posture change\nthat is not self-service: the platform bar, never an org owner, because an org\nthat could put itself in test mode could take priced work for free.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mode"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/payouts": {
      "get": {
        "operationId": "get_billing_payouts",
        "summary": "Answers the org's outbound payouts, newest first — amount, destination, status, and the failure reason where one applies.",
        "description": "Answers the org's outbound payouts, newest first — amount, destination,\nstatus, and the failure reason where one applies.\n\nA payout is ORG-scoped rather than subject-scoped, so there is nothing to pin\nbeyond the tenant the caller already is, and no query can widen it.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Payout"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/plans": {
      "get": {
        "operationId": "get_billing_plans",
        "summary": "The plan catalog, priced with whatever offer is in force",
        "description": "Answers every plan on sale — its price, what it includes, and the limits it carries — optionally narrowed to one `?category=`.\n\nThe prices are what the CHECKOUT will charge: any active promotion is applied before they leave the store, so a reader never applies a discount a second time and a quote can never disagree with the sale.\n\nIt is the public catalog and needs no tenant: this is what anyone may buy.",
        "tags": [
          "billing"
        ],
        "x-public": true
      }
    },
    "/v1/billing/portal/methods": {
      "get": {
        "operationId": "get_billing_portal_methods",
        "summary": "Cards and accounts on file for the caller",
        "description": "Answers every payment method the caller has saved, newest first.\n\nA saved method is a card or account VAULTED at the processor: what is stored here is the processor's token for it plus the last four digits and the expiry a customer recognises it by, never a card number.\n\nThe list is the caller's OWN — the wallet this request bills from, resolved server-side — so a query cannot widen it to another customer of the same org.\n\n`/v1/billing/portal/methods` answers the same list under the name a hosted checkout addresses it by. One set of rows, two spellings; a card added at either is present at both.\n\nA store that cannot be read answers an EMPTY LIST rather than a failure: the saved-cards panel renders empty instead of breaking the page around it.",
        "tags": [
          "billing"
        ],
        "x-public": true
      },
      "post": {
        "operationId": "post_billing_portal_methods",
        "summary": "Save a card or account for the caller",
        "description": "Vaults the instrument at the processor and stores the row.\n\nA saved method is a card or account VAULTED at the processor: what is stored here is the processor's token for it plus the last four digits and the expiry a customer recognises it by, never a card number.\n\nThe list is the caller's OWN — the wallet this request bills from, resolved server-side — so a query cannot widen it to another customer of the same org.\n\n`/v1/billing/portal/methods` answers the same list under the name a hosted checkout addresses it by. One set of rows, two spellings; a card added at either is present at both.\n\nSaving a card ALREADY on file answers with the row that already holds it rather than stacking a duplicate — 200 for that, 201 for a genuinely new row, so a client can tell which happened. A card the processor declines is 402 and nothing is stored.",
        "tags": [
          "billing"
        ],
        "x-public": true
      }
    },
    "/v1/billing/portal/methods/{id}": {
      "delete": {
        "operationId": "delete_billing_portal_methods_by_id",
        "summary": "DetachPortalMethod is DetachMethod at the address a hosted checkout addresses it by.",
        "description": "DetachPortalMethod is DetachMethod at the address a hosted checkout addresses\nit by. One set of rows, two spellings: a card detached at either is gone from\nboth, because there is one store behind them.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the saved method to detach, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Detachment"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/recharge/run-all": {
      "post": {
        "operationId": "post_billing_recharge_run-all",
        "summary": "Sweeps every org's auto-recharge and answers what it did.",
        "description": "Sweeps every org's auto-recharge and answers what it did.\n\nPLATFORM AUTHORITY ONLY. It charges saved cards across every tenant, so an org\nowner reaching it could sweep-charge the estate; a caller without it is\nrefused before anything is charged.\n\nThe answer explains a sweep that charged nobody as readily as one that\ncharged: it names how many orgs were considered and how many needed charging,\nwith a row each.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recharge"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/settings": {
      "get": {
        "operationId": "get_billing_settings",
        "summary": "Answers the PUBLIC half of this org's processor configuration — the ids a browser needs to tokenize a card, and the environment it must tokenize against.",
        "description": "Answers the PUBLIC half of this org's processor configuration — the ids a\nbrowser needs to tokenize a card, and the environment it must tokenize\nagainst.\n\nIt carries no secret: an application id is published to every checkout page by\ndesign. What matters is that it names the SAME processor account the charge\nwill be made on, because a card vaulted against one account and charged\nagainst another is a card that saves and then cannot be used.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentConfig"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/subscribe/card": {
      "post": {
        "operationId": "post_billing_subscribe_card",
        "summary": "Buy a plan with a card",
        "description": "Vaults the card (or reuses one already on file), charges the plan's FIRST period at the catalog price, and opens the subscription — one act, all of it server-side.\n\nThere is NO AMOUNT in the request. `level` picks which of the plan's published prices to buy at — an index, never a number — so what the card is charged is decided by the catalog and underpaying cannot be expressed.\n\nA fresh sale answers 201 with the receipt. An identical retry answers 200 with the FIRST sale's body, byte for byte, so a client cannot read a replay as a second subscription having been opened. A caller already on a paid plan is 409 rather than charged again.",
        "tags": [
          "billing"
        ],
        "x-public": true
      }
    },
    "/v1/billing/subscriptions": {
      "get": {
        "operationId": "get_billing_subscriptions",
        "summary": "Lists the plans the caller holds, with the count beside them.",
        "description": "Lists the plans the caller holds, with the count beside them.\n\nIt is scoped to the caller's own org, so a query cannot widen it to another\ncustomer's. An org on nothing is an empty list, not a refusal — being on no\nplan is an answer.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriptions"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/subscriptions/{id}/cancel": {
      "post": {
        "operationId": "cancelSubscription",
        "summary": "End a subscription",
        "description": "Ends a subscription.\n\nIt cancels at the END OF THE PAID PERIOD by default, because a customer who\ncancels has already paid for the period they are in and taking it away is\ntaking money for nothing. `atPeriodEnd: false` ends it at once, which is the\ncaller asking for that.\n\nA subscription from another org is not found rather than refused, so an id\ncannot be probed for existence.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/subscriptions/{id}/reactivate": {
      "post": {
        "operationId": "reactivateSubscription",
        "summary": "Put a canceled subscription back on its plan",
        "description": "Puts a canceled subscription back on its plan.\n\nWhat asks for this is usually a recovered payment method or a support tool\nrather than a browser, which is most of the argument for it having an address\nat all. The engine decides whether the move is legal; a row it will not\nreactivate comes back with its own reason.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/tier": {
      "get": {
        "operationId": "get_billing_tier",
        "summary": "Answers which tier the caller is on, what it allows, and what is left to spend.",
        "description": "Answers which tier the caller is on, what it allows, and what is left to spend.\n\n`effectiveAvailable` is the ONLY figure to compare against zero. The others are\nits parts — prepaid money, granted credits and the daily term are three sources\nof one spend, not three balances to add up a second time.\n\nA tier that cannot be READ is an error, never Free. The router in front of the\nmodels maps any non-2xx to Free, so answering Free from a question nobody could\nanswer would pin every paying customer to the most restrictive row with nothing\nanywhere to find.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tier"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/topup": {
      "post": {
        "operationId": "post_billing_topup",
        "summary": "Charges a card the caller already saved and credits the balance.",
        "description": "Charges a card the caller already saved and credits the\nbalance. Same receipt and the same retry safety as the token endpoint; the only\ndifference is which card, so a caller topping up from a saved method never\nre-enters one.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/topupIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charged"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/topup/token": {
      "post": {
        "operationId": "post_billing_topup_token",
        "summary": "Charges a single-use card token and credits the caller's balance.",
        "description": "Charges a single-use card token and credits the caller's\nbalance.\n\nThe token comes from the payment form and is vaulted as part of the charge, so\nno card number reaches this service and none is stored here. The receipt names\nthe ledger entry, the new balance, and the PROCESSOR's own reference — which is\nthe only field that proves money moved at the gateway rather than only in our\nledger.\n\nRetry-safe on X-Idempotency-Key: the same key settles one charge and returns\nthe first receipt.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/topupIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charged"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/transactions": {
      "get": {
        "operationId": "get_billing_transactions",
        "summary": "Answers one page of the caller's own ledger, newest first: what moved, how much, when, and what it was tagged with.",
        "description": "Answers one page of the caller's own ledger, newest first: what moved, how\nmuch, when, and what it was tagged with.\n\n`count` is the size of the WHOLE history rather than of the page, which is how\na reader knows there is more to ask for, and `user` echoes the wallet the page\nwas read for — the same subject the spend gate debits, so a customer can see\nwhich account answered rather than guessing from their own token.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Currency filters to one currency. Empty reads every currency.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit is the page size; absent or non-positive takes the default 100.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset is how far into the history the page starts.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transactions"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/usage": {
      "get": {
        "operationId": "get_billing_usage",
        "summary": "Every billed call the caller's org made, attributed to a product",
        "description": "Answers one row per BILLED call against the caller's org — transaction id, amount, timestamp and the metered unit. This is the raw charged ledger, not a rollup.\n\nEach row is stamped with a canonical `metadata.product` derived from what the meter persisted: `agent` becomes agents, `provisioning` becomes the provisioned kind, a token-metered row becomes inference, anything else keeps its metering surface. The ledger has no product field of its own, so this read is where that dimension is made real — from the SAME charged rows, never a second meter. A row that already carries its own product WINS, so the derivation stops the day the meter records one.\n\n`product=\u003cid\u003e` filters to one product server-side. `groupBy=product` reduces to `{product,requests,amountCents}` rollups instead of rows.\n\n`amount` is whole USD cents, ROUNDED; `decimal` beside it is the SAME debit exact, as an 18-decimal USD string. Sum `decimal`. A page of sub-cent token calls totals correctly there and totals ZERO in `amount` — that difference is real money.\n\nScoped to the caller's own org's books, where the org's ledger file IS the tenant boundary; no client-supplied subject is ever forwarded. 401 without a validated principal. The co-resident read returns the 2000 most recent debits, newest first; `start` and `end` narrow the window only on the split-deploy upstream.",
        "tags": [
          "billing"
        ],
        "x-public": true
      }
    },
    "/v1/billing/usage/accounts": {
      "get": {
        "operationId": "get_billing_usage_accounts",
        "summary": "Answers per-account totals for the linked provider accounts the gateway ROUTED this caller's traffic through — requests, prompt and completion tokens, recorded cost — plus their honest sum.",
        "description": "Answers per-account totals for the linked provider accounts the\ngateway ROUTED this caller's traffic through — requests, prompt and completion\ntokens, recorded cost — plus their honest sum.\n\nThis is the one read in the billing namespace scoped to the PERSON, not the\norg. Rows are keyed on (validated org, validated user), so a caller sees the\naccounts THEY linked and never a colleague's, even inside one org — everything\nelse under /v1/billing is org-wide. Neither key is ever read from the request\nbody or the query.\n\nIt is a ROUTING counter, not the money ledger. `costCents` is 0 for an account\nbilled by its own subscription, where the plan pays the provider directly, so\nthese totals do not reconcile against what the org was charged.\n/v1/billing/usage is the charged ledger.\n\n401 without a validated principal. Where the linked-account plane is not\nresident the answer is an honest 501 — never an empty breakdown, which would\nread as no usage.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accounts"
                }
              }
            },
            "description": "ok",
            "headers": {
              "Cache-Control": {
                "description": "Set by GET /v1/billing/usage/accounts.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/usage/rollup": {
      "get": {
        "operationId": "get_billing_usage_rollup",
        "summary": "Answers the caller's month: what their plan includes, what has been consumed against it, and the wallet beside it.",
        "description": "Answers the caller's month: what their plan includes, what has been consumed\nagainst it, and the wallet beside it.\n\nThe two blocks are SEPARATE monies and are never added. One is usage a plan\ngranted; the other is prepaid credit bought with a card. Their sum is not a\nnumber anyone holds, and a reader that formed it would be inventing a balance.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rollup"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/billing/wire": {
      "get": {
        "operationId": "get_billing_wire",
        "summary": "Answers where to send a wire top-up: the receiving bank details, with the caller's own payment reference.",
        "description": "Answers where to send a wire top-up: the receiving bank details, with the\ncaller's own payment reference.\n\nThe account is the SERVING BRAND'S — resolved from the host the customer is\npaying on, so paying on one brand never shows another's bank — and the\nreference carries the caller's billing key, which is how an arriving wire\nnames who it credits. Nothing mints here; a receipt is settled by an operator\nonce the bank confirms it.\n\nIt is all-or-nothing: no configured account is 503 rather than a partial form,\nbecause nobody can wire to three fields out of five.\n\nA named handler, not a closure, so zipdoc can lift this prose into the registry.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WireInstructions"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "AccountsTotal": {
        "properties": {
          "accounts": {
            "description": "Accounts is how many linked accounts the total folds.",
            "type": "integer"
          },
          "completionTokens": {
            "description": "CompletionTokens is the total completion-token count.",
            "type": "integer"
          },
          "costCents": {
            "description": "CostCents is the total cost in cents.",
            "type": "integer"
          },
          "promptTokens": {
            "description": "PromptTokens is the total prompt-token count.",
            "type": "integer"
          },
          "requests": {
            "description": "Requests is the total request count the gateway routed.",
            "type": "integer"
          },
          "totalTokens": {
            "description": "TotalTokens is the total token count.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Alert": {
        "properties": {
          "createdAt": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "enforce": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "over": {
            "type": "boolean"
          },
          "period": {
            "type": "string"
          },
          "periodSpentCents": {
            "type": "integer"
          },
          "project": {
            "type": "string"
          },
          "rateLimitRpm": {
            "type": "integer"
          },
          "resetsAt": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "softPct": {
            "type": "integer"
          },
          "threshold": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "triggeredAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "warn": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "AlertPatch": {
        "properties": {
          "enforce": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "rateLimitRpm": {
            "type": "integer"
          },
          "service": {
            "type": "string"
          },
          "softPct": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "threshold": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "AlertSpec": {
        "properties": {
          "currency": {
            "type": "string"
          },
          "enforce": {
            "type": "boolean"
          },
          "project": {
            "type": "string"
          },
          "rateLimitRpm": {
            "type": "integer"
          },
          "service": {
            "type": "string"
          },
          "softPct": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "threshold": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "BillingAccount": {
        "properties": {
          "createdAt": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "orgName": {
            "type": "string"
          },
          "role": {
            "description": "Role is the caller's standing. Absent when nobody was named, so an\nanonymous read returns an account rather than an implied membership.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BillingInvoice": {
        "properties": {
          "amountDue": {
            "type": "integer"
          },
          "amountPaid": {
            "type": "integer"
          },
          "attemptCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "creditApplied": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "customerEmail": {
            "type": "string"
          },
          "discount": {
            "type": "integer"
          },
          "dueDate": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lineItems": {
            "description": "LineItems carries no omitempty and is never allocated empty, because the\nwire it reproduces sends `null` for an invoice with no lines. An empty\narray there would be a different answer to \"were there lines\".",
            "items": {
              "$ref": "#/components/schemas/InvoiceLineItem"
            },
            "type": "array"
          },
          "number": {
            "type": "integer"
          },
          "numberStr": {
            "type": "string"
          },
          "paidAt": {
            "type": "string"
          },
          "paymentMethod": {
            "type": "string"
          },
          "paymentRef": {
            "type": "string"
          },
          "periodEnd": {
            "type": "string"
          },
          "periodStart": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "subtotal": {
            "type": "integer"
          },
          "tax": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "voidedAt": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CapVerdict": {
        "properties": {
          "allow": {
            "type": "boolean"
          },
          "capCents": {
            "type": "integer"
          },
          "reason": {
            "type": "string"
          },
          "spentCents": {
            "type": "integer"
          },
          "warnPct": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Charged": {
        "properties": {
          "balanceCents": {
            "description": "BalanceCents is the subject's balance AFTER the charge settled, in cents, so\na caller does not have to re-read to show the new number.",
            "type": "integer"
          },
          "processorRef": {
            "description": "ProcessorRef is the payment processor's own reference. It is the only field\nthat proves money moved at the GATEWAY rather than merely in our ledger,\nwhich is why it is answered and not only logged. Absent where the processor\nreturned none.",
            "type": "string"
          },
          "status": {
            "description": "Status is how the charge ended. Read it rather than inferring success from\nthe HTTP status: the call succeeded whenever this field is present, and what\nthe PROCESSOR did is what this says.",
            "type": "string"
          },
          "test": {
            "description": "Test states which bucket was credited — sandbox money or real money — so no\nreader has to guess whether a receipt is real. Sandbox and live funds are\nphysically separate ledgers, and a reader that conflates them restates the\ncompany's revenue.",
            "type": "boolean"
          },
          "transactionId": {
            "description": "TransactionID is the ledger entry this charge created. It is the handle a\nlater read or a refund names, and it is minted by the ledger rather than by\nthe caller.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Collected": {
        "properties": {
          "balanceUsedCents": {
            "description": "BalanceUsedCents is how much was covered by prepaid balance.",
            "type": "integer"
          },
          "cardChargedCents": {
            "description": "CardChargedCents is how much was charged to the card on file.",
            "type": "integer"
          },
          "creditUsedCents": {
            "description": "CreditUsedCents is how much was covered by credit grants.",
            "type": "integer"
          },
          "invoice": {
            "$ref": "#/components/schemas/Invoice",
            "description": "Invoice is the invoice AFTER the attempt — its status is the authority on\nwhat happened, not this struct's other fields."
          },
          "paid": {
            "description": "Paid reports whether the invoice is now settled in full. A false here with\nno error is a DECLINE: the invoice stays open and may be collected again.",
            "type": "boolean"
          },
          "processorRef": {
            "description": "ProcessorRef is the processor's reference for any card charge — the field\nthat proves money moved at the gateway rather than only in our ledger.",
            "type": "string"
          },
          "reason": {
            "description": "Reason explains a decline or partial collection. Empty on success.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreditBalance": {
        "properties": {
          "balances": {
            "items": {
              "$ref": "#/components/schemas/CreditEntry"
            },
            "type": "array"
          },
          "userId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreditEntry": {
        "properties": {
          "available": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreditGrant": {
        "properties": {
          "active": {
            "type": "boolean"
          },
          "amountCents": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "effectiveAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "priority": {
            "type": "integer"
          },
          "remainingCents": {
            "type": "integer"
          },
          "tags": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "voided": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "CreditGrants": {
        "properties": {
          "count": {
            "type": "integer"
          },
          "grants": {
            "items": {
              "$ref": "#/components/schemas/CreditGrant"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CryptoDeposit": {
        "properties": {
          "addressTag": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "depositAddress": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "token": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CryptoOptions": {
        "properties": {
          "chains": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "tokens": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Detachment": {
        "properties": {
          "deleted": {
            "description": "Deleted is whether the method was actually removed. False with no error\nmeans it was already gone, which is a successful detach rather than a\nfailure — a retry must not be an error.",
            "type": "boolean"
          },
          "id": {
            "description": "ID is the method that was detached, echoed so a caller batching several can\ntell the answers apart.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Holder": {
        "properties": {
          "addedAt": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Invoice": {
        "properties": {
          "amountDueCents": {
            "description": "AmountDueCents is what remains collectible.",
            "type": "integer"
          },
          "amountPaidCents": {
            "description": "AmountPaidCents is what has been collected so far.",
            "type": "integer"
          },
          "createdAt": {
            "description": "CreatedAt is when the draft was raised, RFC3339.",
            "type": "string"
          },
          "currency": {
            "description": "Currency is the ISO 4217 code.",
            "type": "string"
          },
          "customerEmail": {
            "description": "CustomerEmail is where it is sent.",
            "type": "string"
          },
          "id": {
            "description": "ID is the invoice id — what the issue, collect and void ops address.",
            "type": "string"
          },
          "lines": {
            "description": "Lines are the charges on the invoice.",
            "items": {
              "$ref": "#/components/schemas/InvoiceLine"
            },
            "type": "array"
          },
          "number": {
            "description": "Number is the human-facing invoice number, e.g. \"INV-0042\". A draft has\nnone; issuing assigns it.",
            "type": "string"
          },
          "paymentRef": {
            "description": "PaymentRef is the processor reference for the collection, once paid.",
            "type": "string"
          },
          "status": {
            "description": "Status is draft, open, paid, void or uncollectible. A draft is not\ncollectible; issuing moves it to open.",
            "type": "string"
          },
          "subtotalCents": {
            "description": "SubtotalCents is the sum of the lines.",
            "type": "integer"
          },
          "userId": {
            "description": "UserID is the customer billed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "InvoiceLine": {
        "properties": {
          "amount": {
            "description": "Amount is the line total in whole cents (250000 is $2,500.00).",
            "type": "integer"
          },
          "description": {
            "description": "Description is the human-readable line, e.g. \"Advisory retainer — August\".",
            "type": "string"
          },
          "quantity": {
            "description": "Quantity is the number of units, when the line is metered. Optional.",
            "type": "integer"
          },
          "unitPrice": {
            "description": "UnitPrice is the per-unit price in cents, when the line is metered. Optional.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "InvoiceLineItem": {
        "properties": {
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "meterId": {
            "type": "string"
          },
          "periodEnd": {
            "type": "string"
          },
          "periodStart": {
            "description": "The billed period. Both carry omitempty and neither is ever empty, which\nlooks contradictory and is not: the shape they reproduce is a time value,\nand omitempty does nothing to a struct — so those keys render even for the\nzero instant. The adapter formats the zero instant rather than skipping it,\nwhich is what keeps the two wires the same.",
            "type": "string"
          },
          "planId": {
            "type": "string"
          },
          "planName": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "unitPrice": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Invoices": {
        "properties": {
          "count": {
            "type": "integer"
          },
          "invoices": {
            "items": {
              "$ref": "#/components/schemas/BillingInvoice"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Mode": {
        "properties": {
          "live": {
            "type": "boolean"
          },
          "orgId": {
            "type": "string"
          },
          "orgName": {
            "type": "string"
          },
          "testMode": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ModeIn": {
        "properties": {
          "testMode": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "PaymentConfig": {
        "properties": {
          "applicationId": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "live": {
            "type": "boolean"
          },
          "locationId": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Payout": {
        "properties": {
          "amount": {
            "type": "integer"
          },
          "arrivalDate": {
            "type": "string"
          },
          "created": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "destinationId": {
            "type": "string"
          },
          "destinationType": {
            "type": "string"
          },
          "failureCode": {
            "type": "string"
          },
          "failureMessage": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "metadata": {},
          "providerRef": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "RaiseIn": {
        "properties": {
          "currency": {
            "description": "Currency is the ISO 4217 code, lower-cased. Empty means usd.",
            "type": "string"
          },
          "customerEmail": {
            "description": "CustomerEmail is where the invoice is sent. Optional.",
            "type": "string"
          },
          "lines": {
            "description": "Lines are the charges. The invoice subtotal and amount due are COMPUTED\nfrom these — there is no total field to send, because a total that\ndisagreed with its own lines would bill a number nobody could derive.",
            "items": {
              "$ref": "#/components/schemas/InvoiceLine"
            },
            "type": "array"
          },
          "userId": {
            "description": "UserID identifies the customer being billed, within the caller's own org.\nRequired — an invoice with no addressee is not an invoice.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Recharge": {
        "properties": {
          "charged": {
            "description": "Charged is how many of them were actually charged. It is at most Orgs, and\nthe difference is orgs whose balance was already above their threshold.",
            "type": "integer"
          },
          "orgs": {
            "description": "Orgs is how many orgs the sweep considered — every org with auto-recharge\narmed, whether or not it needed charging.",
            "type": "integer"
          },
          "results": {
            "description": "Results is one row per org considered, so a sweep that charged nobody is\nstill explainable. Never null.",
            "items": {
              "$ref": "#/components/schemas/Recharged"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Recharged": {
        "properties": {
          "amountCents": {
            "type": "integer"
          },
          "balanceCents": {
            "type": "integer"
          },
          "charged": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          },
          "orgName": {
            "type": "string"
          },
          "transactionId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Rollup": {
        "properties": {
          "balance": {
            "$ref": "#/components/schemas/RollupBalance"
          },
          "consumedCents": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "included": {
            "$ref": "#/components/schemas/RollupAllotment"
          },
          "overageCents": {
            "type": "integer"
          },
          "period": {
            "type": "string"
          },
          "plan": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "windows": {
            "items": {
              "$ref": "#/components/schemas/Window"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "RollupAllotment": {
        "properties": {
          "consumedCents": {
            "type": "integer"
          },
          "grantedCents": {
            "type": "integer"
          },
          "monthlyCents": {
            "type": "integer"
          },
          "remainingCents": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "RollupBalance": {
        "properties": {
          "availableCents": {
            "type": "integer"
          },
          "balanceCents": {
            "type": "integer"
          },
          "holdsCents": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "RoutedUsage": {
        "properties": {
          "account": {
            "description": "Account is the provider-side account identifier.",
            "type": "string"
          },
          "billing": {
            "description": "Billing is how the routed inference bills: plan or commerce.",
            "type": "string"
          },
          "completionTokens": {
            "description": "CompletionTokens is the routed completion-token count.",
            "type": "integer"
          },
          "costCents": {
            "description": "CostCents is the routed cost in cents.",
            "type": "integer"
          },
          "kind": {
            "description": "Kind is how the account authenticates: subscription or apikey.",
            "type": "string"
          },
          "promptTokens": {
            "description": "PromptTokens is the routed prompt-token count.",
            "type": "integer"
          },
          "provider": {
            "description": "Provider is the AI provider the row's account belongs to.",
            "type": "string"
          },
          "requests": {
            "description": "Requests is how many requests the gateway routed through this account.",
            "type": "integer"
          },
          "totalTokens": {
            "description": "TotalTokens is the routed total token count.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Subscription": {
        "properties": {
          "cancelAtPeriodEnd": {
            "type": "boolean"
          },
          "canceledAt": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "currentPeriodEnd": {
            "type": "string"
          },
          "currentPeriodStart": {
            "type": "string"
          },
          "defaultPaymentMethod": {
            "type": "string"
          },
          "endedAt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "mrrCents": {
            "description": "MRRCents is what this subscription contributes per month — commerce's own\nfigure, interval-normalized and multiplied by its seats, so no reader\nre-derives it from price and interval.",
            "type": "integer"
          },
          "plan": {
            "$ref": "#/components/schemas/SubscriptionPlan"
          },
          "planId": {
            "type": "string"
          },
          "providerType": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "trialEnd": {
            "type": "string"
          },
          "trialStart": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SubscriptionPlan": {
        "properties": {
          "currency": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "interval": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "SubscriptionRef": {
        "properties": {
          "atPeriodEnd": {
            "description": "AtPeriodEnd cancels at the end of the paid period rather than at once. It\ndefaults TRUE on the endpoint, because a customer who cancels has already\npaid for the period they are in.",
            "type": "boolean"
          },
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Subscriptions": {
        "properties": {
          "count": {
            "description": "Count is the row count beside the rows, which is the shape this address\nhas always answered with.",
            "type": "integer"
          },
          "subscriptions": {
            "items": {
              "$ref": "#/components/schemas/Subscription"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Tier": {
        "properties": {
          "balance": {
            "$ref": "#/components/schemas/TierBalance"
          },
          "tier": {
            "$ref": "#/components/schemas/TierLimits"
          },
          "user": {
            "type": "string"
          },
          "windows": {
            "items": {
              "$ref": "#/components/schemas/Window"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "TierBalance": {
        "properties": {
          "creditsRemaining": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "dailyRemaining": {
            "type": "integer"
          },
          "effectiveAvailable": {
            "type": "integer"
          },
          "prepaidAvailable": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "TierLimits": {
        "properties": {
          "allowedModels": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "dailyCreditsCents": {
            "type": "integer"
          },
          "displayName": {
            "type": "string"
          },
          "maxAgents": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "unlimitedAgents": {
            "description": "UnlimitedAgents reports that MaxAgents 0 means \"no ceiling\" rather than\n\"no agents\" — the reading a bare zero cannot carry.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Transaction": {
        "properties": {
          "amount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "metadata": {},
          "notes": {
            "type": "string"
          },
          "tags": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Transactions": {
        "properties": {
          "count": {
            "type": "integer"
          },
          "transactions": {
            "items": {
              "$ref": "#/components/schemas/Transaction"
            },
            "type": "array"
          },
          "user": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Window": {
        "properties": {
          "limit": {
            "type": "integer"
          },
          "remaining": {
            "type": "integer"
          },
          "resets": {
            "type": "string"
          },
          "span": {
            "type": "string"
          },
          "used": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "WireInstructions": {
        "properties": {
          "accountName": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "bankAddress": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "iban": {
            "type": "string"
          },
          "memo": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "routingNumber": {
            "type": "string"
          },
          "swiftCode": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "accounts": {
        "properties": {
          "accounts": {
            "items": {
              "$ref": "#/components/schemas/RoutedUsage"
            },
            "type": "array"
          },
          "scope": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "total": {
            "$ref": "#/components/schemas/AccountsTotal"
          }
        },
        "type": "object"
      },
      "cryptoAsset": {
        "properties": {
          "amountCents": {
            "description": "AmountCents is what the payer intends to send, for the record. Optional —\nthe credit is what actually arrives, never what was announced.",
            "type": "integer"
          },
          "chain": {
            "description": "Chain is the network to receive on. Empty takes the rail's default.",
            "type": "string"
          },
          "token": {
            "description": "Token is the asset on that chain. Empty takes the chain's native one.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "financeLedgerEntry": {
        "properties": {
          "account": {
            "type": "string"
          },
          "balanceCents": {
            "type": "integer"
          },
          "cents": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "topupIn": {
        "properties": {
          "amountCents": {
            "description": "AmountCents is how much to charge, in cents of Currency. Required.",
            "type": "integer"
          },
          "currency": {
            "description": "Currency is the ISO-4217 code to charge in. Empty takes the deployment's\nown default.",
            "type": "string"
          },
          "paymentMethodId": {
            "description": "MethodID names a card the subject already saved, for the saved-card endpoint.",
            "type": "string"
          },
          "sourceId": {
            "description": "SourceID is a single-use card token from the payment form, for the token\nendpoint. It is vaulted as part of the charge, so a caller never holds card\nnumbers and this service never sees one.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
