{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package billing is your org's balance, what it has spent, and the cards it pays with.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "billing"
    },
    {
      "name": "finance"
    }
  ],
  "paths": {
    "/v1/billing/balance": {
      "get": {
        "operationId": "get_billing_balance",
        "summary": "Prepaid credit the caller's org can still spend",
        "description": "Answers the spendable prepaid balance of the wallet this caller bills from — the same wallet the AI prepaid gate reads before admitting a paid request, the edge meter debits, and a top-up credits.\n\nThe wallet is an ADDRESS, not an org: `account` echoes the key resolved within the ledger — the org's shared pool for a tenant org, a personal account for a member of the shared signup org. The echo is the point. A browser could only GUESS its own payer by decoding its own token, and a guess that disagrees with the server is how money lands in an account the gate never reads.\n\n`balance`, `holds` and `available` are whole USD cents, ROUNDED from the ledger's exact 18-decimal value. On the co-resident ledger `holds` is 0 and `available` equals `balance`: the gate's reservations live in its own pod and are never posted, so the settled balance IS the spendable one.\n\nThe ledger is the caller's own org, taken from the VALIDATED IAM owner claim and never from a client header. No validated principal is 401 — with one exception, the trusted in-process service token the AI gate itself presents, which reads the gateway-pinned org and nothing it could name. A balance that cannot be READ is 502, never 0: unknown is not broke.",
        "tags": [
          "billing"
        ],
        "x-public": true
      }
    },
    "/v1/billing/usage": {
      "get": {
        "operationId": "get_billing_usage",
        "summary": "Every billed call the caller's org made, attributed to a product",
        "description": "Answers one row per BILLED call against the caller's org — transaction id, amount, timestamp and the metered unit. This is the raw charged ledger, not a rollup.\n\nEach row is stamped with a canonical `metadata.product` derived from what the meter persisted: `agent` becomes agents, `provisioning` becomes the provisioned kind, a token-metered row becomes inference, anything else keeps its metering surface. The ledger has no product field of its own, so this read is where that dimension is made real — from the SAME charged rows, never a second meter. A row that already carries its own product WINS, so the derivation stops the day the meter records one.\n\n`product=\u003cid\u003e` filters to one product server-side. `groupBy=product` reduces to `{product,requests,amountCents}` rollups instead of rows.\n\n`amount` is whole USD cents, ROUNDED; `decimal` beside it is the SAME debit exact, as an 18-decimal USD string. Sum `decimal`. A page of sub-cent token calls totals correctly there and totals ZERO in `amount` — that difference is real money.\n\nScoped to the caller's own org's books, where the org's ledger file IS the tenant boundary; no client-supplied subject is ever forwarded. 401 without a validated principal. The co-resident read returns the 2000 most recent debits, newest first; `start` and `end` narrow the window only on the split-deploy upstream.",
        "tags": [
          "billing"
        ],
        "x-public": true
      }
    },
    "/v1/billing/usage/accounts": {
      "get": {
        "operationId": "get_billing_usage_accounts",
        "summary": "Answers per-account totals for the linked provider accounts the gateway ROUTED this caller's traffic through — requests, prompt and completion tokens, recorded cost — plus their honest sum.",
        "description": "Answers per-account totals for the linked provider accounts the\ngateway ROUTED this caller's traffic through — requests, prompt and completion\ntokens, recorded cost — plus their honest sum.\n\nThis is the one read in the billing namespace scoped to the PERSON, not the\norg. Rows are keyed on (validated org, validated user), so a caller sees the\naccounts THEY linked and never a colleague's, even inside one org — everything\nelse under /v1/billing is org-wide. Neither key is ever read from the request\nbody or the query.\n\nIt is a ROUTING counter, not the money ledger. `costCents` is 0 for an account\nbilled by its own subscription, where the plan pays the provider directly, so\nthese totals do not reconcile against what the org was charged.\n/v1/billing/usage is the charged ledger.\n\n401 without a validated principal. Where the linked-account plane is not\nresident the answer is an honest 501 — never an empty breakdown, which would\nread as no usage.",
        "tags": [
          "billing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accounts"
                }
              }
            },
            "description": "ok",
            "headers": {
              "Cache-Control": {
                "description": "Set by GET /v1/billing/usage/accounts.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/finance/balance": {
      "get": {
        "operationId": "get_finance_balance",
        "summary": "Answers the org's spendable prepaid balance typed for the finance surfaces: `availableCents`, `pendingCents`, `dueCents` and the `asOf` instant it was read.",
        "description": "Answers the org's spendable prepaid balance typed for the\nfinance surfaces: `availableCents`, `pendingCents`, `dueCents` and the `asOf`\ninstant it was read.\n\nIt is the SAME wallet read /v1/billing/balance answers — one function, called\nby both, so the two surfaces cannot drift into disagreeing about a customer's\nmoney. Reshaped, never re-metered. Co-resident the number comes straight out\nof the org's own double-entry ledger file.\n\n`dueCents` is a structural 0: this is a PREPAID wallet with no open-invoice\ndebt, so nothing is ever owed and a non-zero value here would be an invention.\n`pendingCents` is 0 on the co-resident ledger, where authorization holds are\nnever posted; only a split-deploy upstream reports holds, and there spendable\nis the balance NET of them, floored at 0 — a fully-held wallet reports 0\nrather than money the gate would refuse.\n\nCents are ROUNDED from the ledger's exact 18-decimal USD. Scoped to the\ncaller's own org from the validated IAM owner claim; 401 without a validated\nprincipal, and a balance that cannot be read is 502 — never 0, because unknown\nis not broke.",
        "tags": [
          "finance"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/financeBalanceView"
                }
              }
            },
            "description": "ok",
            "headers": {
              "Cache-Control": {
                "description": "Set by GET /v1/finance/balance.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/finance/credits": {
      "get": {
        "operationId": "get_finance_credits",
        "summary": "Answers the money PUT IN to the org's wallet — each staff grant, promo and settled top-up as a positive row with its id, label, cents and grant time.",
        "description": "Answers the money PUT IN to the org's wallet — each staff\ngrant, promo and settled top-up as a positive row with its id, label, cents\nand grant time.\n\nSpend is not a credit. A posting counts here only when it moved money IN;\ndebits belong to /v1/finance/usage (aggregated) and /v1/finance/ledger\n(signed). All three project ONE read of the same ledger through ONE vocabulary\nfor what a posting means, so they cannot disagree about a row — nor silently\ndrop one, which is what an empty credits page against a funded wallet was.\n\n`label` falls back through the posting's notes, then its tags, then a bare\nCredit — it is a description, never an identifier. `remainingCents` is\nOMITTED: the wallet is one running balance, not per-grant buckets, so no grant\nhas a remainder to report and spend cannot be attributed to the credit that\nfunded it.\n\nCents are ROUNDED from the ledger's exact 18-decimal USD. Scoped to the\ncaller's own org; 401 without a validated principal. An org with no grants\ngets an empty array — honest, never a fabricated figure.",
        "tags": [
          "finance"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/financeCredit"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok",
            "headers": {
              "Cache-Control": {
                "description": "Set by GET /v1/finance/credits.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/finance/invoices": {
      "get": {
        "operationId": "get_finance_invoices",
        "summary": "Answers an empty typed array, always.",
        "description": "Answers an empty typed array, always. The fleet bills a\nPREPAID wallet — money in, metered debits out — and issues no customer\ninvoices, so there is no invoice ledger to project. Nothing here is a\nfabricated figure and nothing is hidden behind a filter.\n\nThe shape is fixed, so the finance UI renders this lane today and the day an\ninvoice ledger exists it fills with ZERO client change. Spend that actually\nhappened is /v1/finance/usage; money in and out is /v1/finance/ledger; what is\nleft to spend is /v1/finance/balance.\n\nThe gate is real even though the body is empty: 401 without a validated\nprincipal. It is the only finance read that touches no store, so it is also\nthe only one that cannot 502.",
        "tags": [
          "finance"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/financeInvoice"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok",
            "headers": {
              "Cache-Control": {
                "description": "Set by GET /v1/finance/invoices.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/finance/ledger": {
      "get": {
        "operationId": "get_finance_ledger",
        "summary": "Answers the org's own postings inside `range=`, each as a signed entry: a DEPOSIT CREDITS the wallet (positive, account `credits:\u003corg\u003e`) and every other posting DEBITS it (negative, account `usage:\u003corg\u003e`), described by its notes or its tags.",
        "description": "Answers the org's own postings inside `range=`, each as a signed\nentry: a DEPOSIT CREDITS the wallet (positive, account `credits:\u003corg\u003e`) and\nevery other posting DEBITS it (negative, account `usage:\u003corg\u003e`), described by\nits notes or its tags. The sign is the posting's own meaning, read through ONE\nvocabulary shared with the ledger that wrote it — a reader with its own\nspelling for `deposit` rendered a customer's grant as a charge.\n\nThis is the closest projection of the truth. The org's double-entry postings\nare the source of record — balanced, only ever appended, one file per org —\nand this lane is that list, widest of the three: /v1/finance/credits is its\ndeposit half and /v1/finance/usage is its withdrawal half rolled up. All three\ncome from ONE read, which is why they cannot contradict each other, and all\nthree answer 501 where no commerce link is configured rather than reporting an\nempty wallet.\n\nA row whose timestamp will not parse is KEPT rather than dropped — a malformed\ndate must show up in a money list, not vanish from it. `balanceCents` is\nomitted: these are MOVEMENTS, and the standing balance is /v1/finance/balance.\n\nCents are ROUNDED from the ledger's exact 18-decimal USD. Scoped to the\ncaller's own org, where the org's ledger file is the tenant boundary; 401\nwithout a validated principal.",
        "tags": [
          "finance"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is the window: 24h, 7d, 30d or 90d. Anything else — including\nabsent — is 30d, so a typo silently widens the window to a month rather\nthan failing.",
            "schema": {
              "type": "string"
            },
            "example": "30d"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/financeLedgerEntry"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok",
            "headers": {
              "Cache-Control": {
                "description": "Set by GET /v1/finance/ledger.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/finance/payment-methods": {
      "get": {
        "operationId": "get_finance_payment-methods",
        "summary": "Answers the masked card descriptors for the caller's resolved WALLET — id, brand, last four, expiry, default flag — reshaped into the finance contract.",
        "description": "Answers the masked card descriptors for the caller's resolved\nWALLET — id, brand, last four, expiry, default flag — reshaped into the\nfinance contract.\n\nIt re-masks defensively: whatever the upstream sends, at most the trailing\nfour DIGITS survive into `last4`. No card number, no security code and no\nprocessor token exists in this shape at all, so an over-returning upstream\nstill cannot leak one through this lane.\n\nRead the sibling difference before trusting a mismatch. This keys the store on\nthe resolved wallet; /v1/billing/methods keys it on the org SLUG, which is\nalso the key a card is SAVED under — identical for an org paying from its\nshared pool, different wherever the payer is a person. When the two lists\ndisagree, the billing one is what was saved.\n\n401 without a validated principal. An upstream that answers non-2xx or cannot\nbe reached is 502 — never an empty list, because no cards and could not ask\nmust not look alike.",
        "tags": [
          "finance"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/financePaymentMethod"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok",
            "headers": {
              "Cache-Control": {
                "description": "Set by GET /v1/finance/payment-methods.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/finance/usage": {
      "get": {
        "operationId": "get_finance_usage",
        "summary": "Answers metered spend inside `range=`: the window total, a time series to plot, and one line per usage TAG.",
        "description": "Answers metered spend inside `range=`: the window total, a time\nseries to plot, and one line per usage TAG. Aggregated from the same charged\nledger the balance comes off — projected, never re-metered.\n\nOnly DEBIT postings count; deposits are credits and are excluded. Buckets are\nhourly at 24h and daily otherwise, in UTC; a posting whose timestamp will not\nparse is dropped rather than mis-bucketed.\n\nLines group by the posting's tag (`Usage` where it carries none) and `units`\ncounts POSTINGS, not tokens. The dimensions here are time and tag. For\nper-request rows and a per-PRODUCT breakdown, read /v1/billing/usage instead —\nthe same money, cut a different way.\n\nCents are ROUNDED from the ledger's exact 18-decimal USD, so a window made of\nsub-cent token calls totals LOW here. Scoped to the caller's own org; 401\nwithout a validated principal.",
        "tags": [
          "finance"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is the window: 24h, 7d, 30d or 90d. Anything else — including\nabsent — is 30d, so a typo silently widens the window to a month rather\nthan failing.",
            "schema": {
              "type": "string"
            },
            "example": "24h"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/financeUsageView"
                }
              }
            },
            "description": "ok",
            "headers": {
              "Cache-Control": {
                "description": "Set by GET /v1/finance/usage.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "AccountsTotal": {
        "properties": {
          "accounts": {
            "description": "Accounts is how many linked accounts the total folds.",
            "type": "integer"
          },
          "completionTokens": {
            "description": "CompletionTokens is the total completion-token count.",
            "type": "integer"
          },
          "costCents": {
            "description": "CostCents is the total cost in cents.",
            "type": "integer"
          },
          "promptTokens": {
            "description": "PromptTokens is the total prompt-token count.",
            "type": "integer"
          },
          "requests": {
            "description": "Requests is the total request count the gateway routed.",
            "type": "integer"
          },
          "totalTokens": {
            "description": "TotalTokens is the total token count.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "RoutedUsage": {
        "properties": {
          "account": {
            "description": "Account is the provider-side account identifier.",
            "type": "string"
          },
          "billing": {
            "description": "Billing is how the routed inference bills: plan or commerce.",
            "type": "string"
          },
          "completionTokens": {
            "description": "CompletionTokens is the routed completion-token count.",
            "type": "integer"
          },
          "costCents": {
            "description": "CostCents is the routed cost in cents.",
            "type": "integer"
          },
          "kind": {
            "description": "Kind is how the account authenticates: subscription or apikey.",
            "type": "string"
          },
          "promptTokens": {
            "description": "PromptTokens is the routed prompt-token count.",
            "type": "integer"
          },
          "provider": {
            "description": "Provider is the AI provider the row's account belongs to.",
            "type": "string"
          },
          "requests": {
            "description": "Requests is how many requests the gateway routed through this account.",
            "type": "integer"
          },
          "totalTokens": {
            "description": "TotalTokens is the routed total token count.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "accounts": {
        "properties": {
          "accounts": {
            "items": {
              "$ref": "#/components/schemas/RoutedUsage"
            },
            "type": "array"
          },
          "scope": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "total": {
            "$ref": "#/components/schemas/AccountsTotal"
          }
        },
        "type": "object"
      },
      "financeBalanceView": {
        "properties": {
          "asOf": {
            "type": "string"
          },
          "availableCents": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "dueCents": {
            "type": "integer"
          },
          "pendingCents": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "financeCredit": {
        "properties": {
          "cents": {
            "type": "integer"
          },
          "expiresAt": {
            "type": "string"
          },
          "grantedAt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "remainingCents": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "financeInvoice": {
        "properties": {
          "cents": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "dueDate": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "financeLedgerEntry": {
        "properties": {
          "account": {
            "type": "string"
          },
          "balanceCents": {
            "type": "integer"
          },
          "cents": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "financePaymentMethod": {
        "properties": {
          "brand": {
            "type": "string"
          },
          "expMonth": {
            "type": "integer"
          },
          "expYear": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          },
          "last4": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "financeUsageView": {
        "properties": {
          "currency": {
            "type": "string"
          },
          "end": {
            "type": "string"
          },
          "lines": {
            "items": {
              "$ref": "#/components/schemas/usageLine"
            },
            "type": "array"
          },
          "series": {
            "items": {
              "$ref": "#/components/schemas/sample"
            },
            "type": "array"
          },
          "start": {
            "type": "string"
          },
          "totalCents": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sample": {
        "properties": {
          "cents": {
            "type": "integer"
          },
          "date": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "usageLine": {
        "properties": {
          "cents": {
            "type": "integer"
          },
          "label": {
            "type": "string"
          },
          "tokens": {
            "type": "integer"
          },
          "units": {
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
