{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package eval is scoring a model on your own data, with a judge you choose.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "evals"
    }
  ],
  "paths": {
    "/v1/evals/datasets": {
      "get": {
        "operationId": "get_v1_evals_datasets",
        "summary": "Is the datasets your org has, each with its name, description, metadata and timestamps.",
        "description": "Is the datasets your org has, each with its name, description,\nmetadata and timestamps.\n\nIt is the only way to enumerate what an org holds. Requires a validated\nprincipal; 403 without one. Every row is filtered on the validated org, so\nthere is no parameter that reaches another tenant's datasets. The item count is\nNOT populated here — read one dataset to get it.",
        "tags": [
          "evals"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned. It defaults to 100 and is capped at 500; a\nnon-positive or unparseable value falls back to the default rather than\nfailing, because a typo about paging is not a reason to refuse a read.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/datasetList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_evals_datasets",
        "summary": "Writes a dataset — the named set of graded examples a run scores a model against — under the caller's org and answers 201 with it.",
        "description": "Writes a dataset — the named set of graded examples a run scores\na model against — under the caller's org and answers 201 with it.\n\nThe NAME is the key, not an id: posting a name the org already has updates that\ndataset's description and metadata and keeps its original creation time, so this\nis create-or-edit and never a duplicate. Its items are untouched.\n\nRequires a validated principal; 403 without one. The org comes from the\nvalidated owner claim, never from a client X-Org-Id, so a dataset can only ever\nbe written under the caller's own tenant. A description over 64 KiB is 400.",
        "tags": [
          "evals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/datasetReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/datasetView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/evals/datasets/{name}": {
      "delete": {
        "operationId": "delete_v1_evals_datasets_by_name",
        "summary": "Removes the named dataset of the caller's org AND all of its examples, in one transaction.",
        "description": "Removes the named dataset of the caller's org AND all of its\nexamples, in one transaction.\n\nThis is not a detach: the examples are gone with the set, so a dataset cannot\nbe resurrected by re-creating the name. A name this org does not have is 404 —\nnever a silent success — and a name belonging to another tenant is the same\n404, because the delete is predicated on the validated org. Requires a\nvalidated principal; 403 without one. Runs and scores already recorded against\nthe dataset are telemetry events and are NOT deleted with it.",
        "tags": [
          "evals"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the dataset the URL names.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/none"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "get": {
        "operationId": "get_v1_evals_datasets_by_name",
        "summary": "Returns one dataset of the caller's org by name, together with its live item count — the one read that answers how big the set actually is.",
        "description": "Returns one dataset of the caller's org by name, together with its\nlive item count — the one read that answers how big the set actually is.\n\nA name this org does not have is 404, which is also what another tenant's\ndataset looks like from here. Requires a validated principal; 403 without one.",
        "tags": [
          "evals"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the dataset the URL names.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/datasetView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/evals/datasets/{name}/items": {
      "get": {
        "operationId": "get_v1_evals_datasets_by_name_items",
        "summary": "Is the examples in one of your datasets — the set is named in the path, because this collection only exists inside one.",
        "description": "Is the examples in one of your datasets — the set is named in the\npath, because this collection only exists inside one.\n\nArchived examples are included, so the caller sees the whole set rather than\nonly what a run would use. Requires a validated principal; 403 without one, and\nthe read is filtered on the validated org, so naming another tenant's dataset\nreturns nothing rather than its contents.",
        "tags": [
          "evals"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Dataset is the set to read, from the path — this collection only exists\ninside one.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/itemList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_evals_datasets_by_name_items",
        "summary": "Writes one graded example — its input, its expected output, free-form metadata and a status — into the dataset named in the path, and answers 201 with it.",
        "description": "Writes one graded example — its input, its expected output,\nfree-form metadata and a status — into the dataset named in the path, and\nanswers 201 with it.\n\nThat dataset MUST already exist for this org: an unknown one is 404, never a\nsilent create. Requires a validated principal; 403 without one.",
        "tags": [
          "evals"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/itemReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/itemView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/evals/evaluators": {
      "get": {
        "operationId": "get_v1_evals_evaluators",
        "summary": "Is the judges your org has defined, each with its judge model, criteria and the score name it writes under.",
        "description": "Is the judges your org has defined, each with its judge model,\ncriteria and the score name it writes under.\n\nRequires a validated principal; 403 without one, and the listing is filtered on\nthe validated org.",
        "tags": [
          "evals"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned. It defaults to 100 and is capped at 500; a\nnon-positive or unparseable value falls back to the default rather than\nfailing, because a typo about paging is not a reason to refuse a read.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/evaluatorList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_evals_evaluators",
        "summary": "Saves a reusable judge for the caller's org — the judge model and the written criteria it grades against — and answers 201 with it.",
        "description": "Saves a reusable judge for the caller's org — the judge model\nand the written criteria it grades against — and answers 201 with it.\n\nLike a dataset, the NAME is the key: re-posting a name edits that judge rather\nthan adding a second one. Requires a validated principal; 403 without one.",
        "tags": [
          "evals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/evaluatorReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/evaluatorView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/evals/metrics": {
      "get": {
        "operationId": "get_v1_evals_metrics",
        "summary": "Is your org's AI overview board over a window: totals (generations, prompt and completion tokens, cost in cents, errors, success rate, distinct models and users), a gap-filled time series, a per-model breakdown with the long tail folded into \"other\", and latency percentiles read from the GenAI spans.",
        "description": "Is your org's AI overview board over a window: totals\n(generations, prompt and completion tokens, cost in cents, errors, success\nrate, distinct models and users), a gap-filled time series, a per-model\nbreakdown with the long tail folded into \"other\", and latency percentiles read\nfrom the GenAI spans.\n\nThe window the answer was actually computed over is echoed back, so a client\nnever has to infer it. A platform admin sees the board across ALL orgs;\neveryone else sees their own.\n\nThe board is HONEST-EMPTY where it cannot be computed: with no datastore wired,\nor under a named project scope the usage ledger does not yet carry, it answers a\nvalid board with zero totals and a flat series rather than a fabricated number\nor a 500. Requires a validated principal; 403 without one.",
        "tags": [
          "evals"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is 24h (the default), 7d or 30d. Anything else normalises to 24h\nrather than failing, so the board always has a valid window.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Interval overrides the bucket the series is grouped into: \"hour\" or \"day\".\nAny other value leaves the range's own default in place.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/evals/rubrics": {
      "get": {
        "operationId": "get_v1_evals_rubrics",
        "summary": "Is the score shapes your org has declared — each name's data type, its numeric bounds and its allowed categories.",
        "description": "Is the score shapes your org has declared — each name's data\ntype, its numeric bounds and its allowed categories.\n\nRequires a validated principal; 403 without one, and the listing is filtered on\nthe validated org.",
        "tags": [
          "evals"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned. It defaults to 100 and is capped at 500; a\nnon-positive or unparseable value falls back to the default rather than\nfailing, because a typo about paging is not a reason to refuse a read.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scoreConfigList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_evals_rubrics",
        "summary": "Defines the shape of one score name for the caller's org and answers 201 with it.",
        "description": "Defines the shape of one score name for the caller's org and\nanswers 201 with it.\n\nThis is the integrity contract, not documentation: once a rubric exists for a\nname, every score recorded under that name is checked against it and the\nrubric's data type is AUTHORITATIVE — a caller cannot claim a different one.\nOut-of-range values, unlisted labels and non-finite numbers are refused at\nwrite time.\n\nA CATEGORICAL rubric with no categories is 400, as is a non-finite bound or a\nminValue above maxValue. Requires a validated principal; 403 without one.",
        "tags": [
          "evals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/scoreConfigReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scoreConfigView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/evals/runs": {
      "get": {
        "operationId": "get_v1_evals_runs",
        "summary": "Is your past runs and how they scored — the dataset and model, the judge model, how many examples were attempted and how many scored, the average score, and when it happened.",
        "description": "Is your past runs and how they scored — the dataset and model, the\njudge model, how many examples were attempted and how many scored, the average\nscore, and when it happened.\n\nRequires a validated principal; 403 without one, and rows are filtered on the\nvalidated org. These records come from the metastore rather than the datastore,\nso they are readable on a deployment with no telemetry wired — but a run's\ntraces and scores are not.",
        "tags": [
          "evals"
        ],
        "parameters": [
          {
            "name": "datasetName",
            "in": "query",
            "required": false,
            "description": "Dataset narrows to the runs against one dataset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runs"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_evals_runs",
        "summary": "Runs a real evaluation and answers the summary when it is finished — this is synchronous work, not a job id.",
        "description": "Runs a real evaluation and answers the summary when it is finished —\nthis is synchronous work, not a job id.\n\nFor each ACTIVE example in the dataset it calls the model under test, records a\ntrace, calls the LLM-as-judge, and records the judge's score with its\nreasoning. The answer carries the per-item results (item id, trace id, score,\noutput or error) alongside items, scored and avgScore.\n\nThe dataset must belong to the caller's org (404 otherwise) and must have at\nleast one ACTIVE example (422 otherwise).\n\nIt runs as YOU: the caller's own Authorization bearer drives the model gateway,\nso a request without one is 401 rather than a run made anonymously or under a\nservice identity. Only a non-reversible hash of that credential is recorded on\nthe traces.\n\nBounded and honest about it: an org may have at most 4 runs in flight and the\nfifth is 429 rather than queued, and the whole run is capped at 10 minutes —\nexamples past the deadline come back with an error instead of a score, and\nscored counts only real successes. A run where NOTHING scored answers 502, not\na 200 that looks like an evaluation. A run must be able to persist what it\nproduces, so a deployment with no datastore wired is 503 up front. Requires a\nvalidated principal; 403 without one.",
        "tags": [
          "evals"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/runRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runSummary"
                }
              }
            },
            "description": "ok"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runSummary"
                }
              }
            },
            "description": "bad gateway"
          }
        }
      }
    },
    "/v1/evals/scores": {
      "get": {
        "operationId": "get_v1_evals_scores",
        "summary": "Is the score events your org has recorded, narrowed by any of name, runName and traceId.",
        "description": "Is the score events your org has recorded, narrowed by any of name,\nrunName and traceId.\n\nThe org is bound as an authoritative predicate on the query, never taken from a\nheader, so a filter can narrow the caller's own scores but can never widen past\nthem. Requires a validated principal; 403 without one. Scores live in the\ndatastore, so a deployment with none wired answers 503 rather than an empty\npage that would read as \"no scores\".",
        "tags": [
          "evals"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name narrows to one score name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runName",
            "in": "query",
            "required": false,
            "description": "RunName narrows to the scores of one run.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "traceId",
            "in": "query",
            "required": false,
            "description": "TraceID narrows to the scores on one model call.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scoreList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_evals_scores",
        "summary": "Files one score event for the caller's org and answers 201 with it.",
        "description": "Files one score event for the caller's org and answers 201 with it.\n\nThis is how human review and out-of-band graders land beside the automatic\nones: name the score, give it a value (or a stringValue for a categorical\nlabel), and attach it to a trace, a run, a dataset example, or any combination.\n\nScores are validated fail-closed. A value must be FINITE — NaN and Inf are 400\n— and if the org has declared a rubric for this name, that rubric decides the\ntype and the value must satisfy it: inside the numeric bounds, or one of the\nallowed categories. A caller cannot override the declared type by sending a\ndifferent dataType.\n\nA score is TELEMETRY, not metadata, so it needs the datastore: a deployment\nwith none wired answers 503 rather than accepting a score it cannot persist.\nRequires a validated principal; 403 without one, and the org is stamped from\nthe validated claim rather than read off the body.",
        "tags": [
          "evals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/scoreReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scoreView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/evals/traces": {
      "get": {
        "operationId": "get_v1_evals_traces",
        "summary": "Is the traces behind your evaluations — one per model call an evaluation made, carrying its input, output, model and timing — narrowed by any of sessionId, runName and datasetName.",
        "description": "Is the traces behind your evaluations — one per model call an\nevaluation made, carrying its input, output, model and timing — narrowed by any\nof sessionId, runName and datasetName.\n\nScoped by org AND by project: the project is the caller's server-minted scope,\nnot a parameter, so it cannot be widened by asking. Requires a validated\nprincipal; 403 without one. Traces live in the datastore, so a deployment with\nnone wired answers 503 rather than an empty page.",
        "tags": [
          "evals"
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "description": "SessionID narrows to one session, which for an evaluation is one run.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runName",
            "in": "query",
            "required": false,
            "description": "RunName narrows to the calls one run made.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetName",
            "in": "query",
            "required": false,
            "description": "Dataset narrows to the calls made against one dataset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/traceList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Board": {
        "properties": {
          "byModel": {
            "description": "the top models by spend",
            "items": {
              "$ref": "#/components/schemas/ModelStat"
            },
            "type": "array"
          },
          "latency": {
            "$ref": "#/components/schemas/LatencyStat",
            "description": "overall latency percentiles from the GenAI spans"
          },
          "other": {
            "$ref": "#/components/schemas/ModelStat",
            "description": "the long tail beyond the top models, folded into one row"
          },
          "range": {
            "$ref": "#/components/schemas/BoardRange",
            "description": "the window they were computed over, echoed back"
          },
          "scope": {
            "$ref": "#/components/schemas/BoardScope",
            "description": "whose numbers these are"
          },
          "series": {
            "description": "one gap-filled bucket per interval, so a chart never breaks",
            "items": {
              "$ref": "#/components/schemas/BoardPoint"
            },
            "type": "array"
          },
          "totals": {
            "$ref": "#/components/schemas/BoardTotals",
            "description": "the window's headline numbers"
          }
        },
        "type": "object"
      },
      "BoardPoint": {
        "properties": {
          "costCents": {
            "description": "what this bucket cost, in cents",
            "type": "integer"
          },
          "errors": {
            "description": "calls in this bucket that did not succeed",
            "type": "integer"
          },
          "generations": {
            "description": "model calls in this bucket",
            "type": "integer"
          },
          "t": {
            "description": "RFC3339 (UTC) bucket start",
            "type": "string"
          },
          "totalTokens": {
            "description": "tokens in this bucket",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "BoardRange": {
        "properties": {
          "end": {
            "description": "RFC3339 (UTC)",
            "type": "string"
          },
          "interval": {
            "description": "hour | day",
            "type": "string"
          },
          "range": {
            "description": "echoed label (24h | 7d | 30d | custom)",
            "type": "string"
          },
          "start": {
            "description": "RFC3339 (UTC)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BoardScope": {
        "properties": {
          "allOrgs": {
            "description": "true when a platform admin is seeing every org at once",
            "type": "boolean"
          },
          "org": {
            "description": "the org the board covers; \"\" when it covers all of them",
            "type": "string"
          },
          "project": {
            "description": "the sub-scope within the org; \"\" is the whole org",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BoardTotals": {
        "properties": {
          "completionTokens": {
            "description": "tokens the models answered with",
            "type": "integer"
          },
          "costCents": {
            "description": "what the window cost, in cents",
            "type": "integer"
          },
          "errors": {
            "description": "calls that did not succeed",
            "type": "integer"
          },
          "generations": {
            "description": "how many model calls the window holds",
            "type": "integer"
          },
          "models": {
            "description": "how many distinct models were called",
            "type": "integer"
          },
          "promptTokens": {
            "description": "tokens sent to the models",
            "type": "integer"
          },
          "successRate": {
            "description": "share of calls that succeeded, 0..1",
            "type": "number"
          },
          "totalTokens": {
            "description": "prompt plus completion",
            "type": "integer"
          },
          "users": {
            "description": "how many distinct users called them",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "LatencyStat": {
        "properties": {
          "available": {
            "description": "false when no GenAI spans carry timing; the percentiles are then null",
            "type": "boolean"
          },
          "p50Ms": {
            "description": "median latency over the window",
            "type": "number"
          },
          "p95Ms": {
            "description": "95th-percentile latency",
            "type": "number"
          },
          "p99Ms": {
            "description": "99th-percentile latency",
            "type": "number"
          }
        },
        "type": "object"
      },
      "ModelStat": {
        "properties": {
          "completionTokens": {
            "description": "tokens it answered with",
            "type": "integer"
          },
          "costCents": {
            "description": "what this model cost, in cents",
            "type": "integer"
          },
          "costPct": {
            "description": "share of total spend, 0..100",
            "type": "number"
          },
          "errorRate": {
            "description": "share of its calls that failed, 0..1",
            "type": "number"
          },
          "errors": {
            "description": "calls to it that did not succeed",
            "type": "integer"
          },
          "model": {
            "description": "the model this row is about, or \"other\" for the fold",
            "type": "string"
          },
          "modelCount": {
            "description": "\u003e0 only on the \"other\" fold",
            "type": "integer"
          },
          "p50Ms": {
            "description": "median latency, null when no spans carry it",
            "type": "number"
          },
          "p95Ms": {
            "description": "95th-percentile latency, null when unknown",
            "type": "number"
          },
          "p99Ms": {
            "description": "99th-percentile latency, null when unknown",
            "type": "number"
          },
          "promptTokens": {
            "description": "tokens sent to it",
            "type": "integer"
          },
          "provider": {
            "description": "who serves it",
            "type": "string"
          },
          "requests": {
            "description": "calls to this model in the window",
            "type": "integer"
          },
          "totalTokens": {
            "description": "prompt plus completion",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "datasetList": {
        "properties": {
          "data": {
            "description": "Data is the caller org's datasets, newest first, bounded by limit.",
            "items": {
              "$ref": "#/components/schemas/datasetView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "datasetReq": {
        "properties": {
          "description": {
            "description": "Description is free text about what this set measures; over 64 KiB is refused.",
            "type": "string"
          },
          "metadata": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "Metadata is a free-form object stored with the set and echoed back verbatim.",
            "type": "object"
          },
          "name": {
            "description": "Name is the dataset's org-unique handle and the segment that will address\nit, so it must match ^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "datasetView": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when the name was first written, kept across later edits.",
            "type": "string"
          },
          "description": {
            "description": "Description is free text the org wrote about what this set measures.",
            "type": "string"
          },
          "items": {
            "description": "Items is how many examples the set holds. It is filled only by the single\nread — a listing does not count, so it is absent there rather than zero.",
            "type": "integer"
          },
          "metadata": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "Metadata is the free-form object stored with the set, echoed back verbatim.",
            "type": "object"
          },
          "name": {
            "description": "Name is the dataset's org-unique handle and the segment that addresses it.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when the description or metadata last changed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "evaluatorList": {
        "properties": {
          "data": {
            "description": "Data is the caller org's judges, bounded by limit.",
            "items": {
              "$ref": "#/components/schemas/evaluatorView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "evaluatorReq": {
        "properties": {
          "criteria": {
            "description": "Criteria is the written standard the judge applies; over 64 KiB is refused.",
            "type": "string"
          },
          "model": {
            "description": "Model is the model that will do the grading.",
            "type": "string"
          },
          "name": {
            "description": "Name is the judge's org-unique handle, matching\n^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$. Re-posting a name edits that judge\nrather than adding a second one.",
            "type": "string"
          },
          "scoreName": {
            "description": "ScoreName is the name the resulting scores are filed under. It defaults to\nthe judge's own name and must match the same pattern.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "evaluatorView": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when the judge was first defined.",
            "type": "string"
          },
          "criteria": {
            "description": "Criteria is the written standard the judge applies.",
            "type": "string"
          },
          "model": {
            "description": "Model is the model that does the grading.",
            "type": "string"
          },
          "name": {
            "description": "Name is the judge's org-unique handle.",
            "type": "string"
          },
          "scoreName": {
            "description": "ScoreName is the name the resulting scores are filed under.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when it last changed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "itemList": {
        "properties": {
          "data": {
            "description": "Data is the examples of the one dataset named in the path, archived ones\nincluded, so the caller sees the whole set rather than what a run would use.",
            "items": {
              "$ref": "#/components/schemas/itemView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "itemReq": {
        "properties": {
          "expectedOutput": {
            "description": "Expected is the answer a correct model produces, which the judge grades\nagainst, stored as raw JSON exactly as sent, up to 64 KiB."
          },
          "id": {
            "description": "ID makes the write idempotent — re-posting the same id replaces that example\nin place. Omit it and one is generated. An id that already exists in a\nDIFFERENT dataset is 409 rather than a move.",
            "type": "string"
          },
          "input": {
            "description": "Input is what the model under test will be given, stored as raw JSON exactly\nas sent, up to 64 KiB."
          },
          "metadata": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "Metadata is a free-form object stored with the example.",
            "type": "object"
          },
          "status": {
            "description": "Status is ACTIVE (the default) or ARCHIVED. Only ACTIVE examples are fed to\na run, which is how an example is retired without being deleted.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "itemResult": {
        "properties": {
          "error": {
            "description": "Error is why this example produced no score — the model, the judge, or the\nrun's deadline. A result carrying one is not counted in Scored.",
            "type": "string"
          },
          "itemId": {
            "description": "ItemID is the example that was scored.",
            "type": "string"
          },
          "output": {
            "description": "Output is what the model under test answered, truncated at 2000 characters.",
            "type": "string"
          },
          "score": {
            "description": "Score is the judge's grade.",
            "type": "number"
          },
          "traceId": {
            "description": "TraceID is the model call this result came from.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "itemView": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when the example was first written.",
            "type": "string"
          },
          "datasetName": {
            "description": "Dataset is the set this example belongs to.",
            "type": "string"
          },
          "expectedOutput": {
            "description": "Expected is the answer a correct model produces, which the judge grades against.",
            "type": "object"
          },
          "id": {
            "description": "ID is the example's handle, unique within the caller's org.",
            "type": "string"
          },
          "input": {
            "description": "Input is what the model under test is given, as it was written.",
            "type": "object"
          },
          "metadata": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "Metadata is the free-form object stored with the example.",
            "type": "object"
          },
          "status": {
            "description": "Status is ACTIVE or ARCHIVED. Only ACTIVE examples are fed to a run, which\nis how one is retired without being deleted.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when it last changed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "judgeSpec": {
        "properties": {
          "criteria": {
            "description": "Criteria is the standard the judge applies, defaulting to a correctness\ncriterion.",
            "type": "string"
          },
          "model": {
            "description": "Model is the model that grades. It defaults to the model under test, so a\nrun with no judge named has the model grade itself.",
            "type": "string"
          },
          "name": {
            "description": "Name is the score name the judge's grades are filed under, \"llm-judge\" by\ndefault. A name that is not a legal handle falls back to that default\nrather than being stored as sent.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "none": {
        "properties": {},
        "type": "object"
      },
      "runRecord": {
        "properties": {
          "avgScore": {
            "description": "AvgScore is the mean over the scored examples.",
            "type": "number"
          },
          "createdAt": {
            "description": "CreatedAt is when the run first landed.",
            "type": "string"
          },
          "dataset": {
            "description": "Dataset is the set that was scored.",
            "type": "string"
          },
          "items": {
            "description": "Items is how many examples were attempted.",
            "type": "integer"
          },
          "judgeModel": {
            "description": "JudgeModel is the model that graded.",
            "type": "string"
          },
          "model": {
            "description": "Model is the model under test.",
            "type": "string"
          },
          "runName": {
            "description": "RunName is the run's label.",
            "type": "string"
          },
          "scored": {
            "description": "Scored is how many produced a real score.",
            "type": "integer"
          },
          "updatedAt": {
            "description": "UpdatedAt is when the record last changed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "runRequest": {
        "properties": {
          "dataset": {
            "description": "Dataset is the set to score, which must belong to the caller's org and hold\nat least one ACTIVE example.",
            "type": "string"
          },
          "judge": {
            "$ref": "#/components/schemas/judgeSpec",
            "description": "Judge is the judge to grade with. Omitted, the model under test grades\nitself against a default correctness criterion under the score name\n\"llm-judge\"."
          },
          "limit": {
            "description": "Limit caps how many examples this run scores. It defaults to 20, and\nanything above 100 falls back to that default.",
            "type": "integer"
          },
          "model": {
            "description": "Model is the model under test.",
            "type": "string"
          },
          "runName": {
            "description": "RunName labels the run and is generated from the clock when omitted. It\nmust match ^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$.",
            "type": "string"
          }
        },
        "required": [
          "dataset",
          "model"
        ],
        "type": "object"
      },
      "runSummary": {
        "properties": {
          "avgScore": {
            "description": "AvgScore is the mean over the scored examples, 0 when none scored.",
            "type": "number"
          },
          "dataset": {
            "description": "Dataset is the set that was scored.",
            "type": "string"
          },
          "items": {
            "description": "Items is how many examples the run attempted.",
            "type": "integer"
          },
          "judgeModel": {
            "description": "JudgeModel is the model that graded.",
            "type": "string"
          },
          "model": {
            "description": "Model is the model under test.",
            "type": "string"
          },
          "results": {
            "description": "Results is one row per attempted example.",
            "items": {
              "$ref": "#/components/schemas/itemResult"
            },
            "type": "array"
          },
          "runName": {
            "description": "RunName is the run's label, which scores and traces are filed under.",
            "type": "string"
          },
          "scored": {
            "description": "Scored is how many produced a real score. It counts successes only, so a\npartial run is honest about what it achieved.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "runs": {
        "properties": {
          "data": {
            "description": "Data is the caller org's runs, bounded by limit.",
            "items": {
              "$ref": "#/components/schemas/runRecord"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "scoreConfigList": {
        "properties": {
          "data": {
            "description": "Data is the caller org's rubrics, bounded by limit.",
            "items": {
              "$ref": "#/components/schemas/scoreConfigView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "scoreConfigReq": {
        "properties": {
          "categories": {
            "description": "Categories is the closed set of labels a CATEGORICAL score may carry. A\nCATEGORICAL rubric with none is refused.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "dataType": {
            "description": "DataType is NUMERIC (the default), CATEGORICAL or BOOLEAN.",
            "type": "string"
          },
          "maxValue": {
            "description": "MaxValue is the inclusive ceiling a NUMERIC score must stay under, finite.",
            "type": "number"
          },
          "minValue": {
            "description": "MinValue is the inclusive floor a NUMERIC score must clear. It must be\nfinite and must not exceed MaxValue.",
            "type": "number"
          },
          "name": {
            "description": "Name is the score name this rubric governs, matching\n^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$. The name is the key, so re-posting one\nreplaces its rules.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "scoreConfigView": {
        "properties": {
          "categories": {
            "description": "Categories is the closed set of labels a CATEGORICAL score may carry.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "createdAt": {
            "description": "CreatedAt is when the rubric was first declared.",
            "type": "string"
          },
          "dataType": {
            "description": "DataType is NUMERIC, CATEGORICAL or BOOLEAN, and is authoritative — a\nscore recorded under this name cannot claim a different one.",
            "type": "string"
          },
          "maxValue": {
            "description": "MaxValue is the inclusive ceiling a NUMERIC score must stay under, absent when unbounded.",
            "type": "number"
          },
          "minValue": {
            "description": "MinValue is the inclusive floor a NUMERIC score must clear, absent when unbounded.",
            "type": "number"
          },
          "name": {
            "description": "Name is the score name this rubric governs.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when it last changed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "scoreList": {
        "properties": {
          "data": {
            "description": "Data is the caller org's score events matching the filters, bounded by limit.",
            "items": {
              "$ref": "#/components/schemas/scoreView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "scoreReq": {
        "properties": {
          "comment": {
            "description": "Comment is the grader's reasoning, truncated at 2000 characters.",
            "type": "string"
          },
          "dataType": {
            "description": "DataType is NUMERIC, CATEGORICAL or BOOLEAN. A declared rubric overrides it\n— a caller cannot claim a type the org's rubric contradicts.",
            "type": "string"
          },
          "datasetItemId": {
            "description": "ItemID attaches the score to one graded example.",
            "type": "string"
          },
          "datasetName": {
            "description": "Dataset attaches the score to one dataset.",
            "type": "string"
          },
          "name": {
            "description": "Name is the score name. A rubric of the same name, if the org has declared\none, decides this score's type and the values it may take.",
            "type": "string"
          },
          "runName": {
            "description": "RunName attaches the score to one run.",
            "type": "string"
          },
          "stringValue": {
            "description": "StringValue is the label of a CATEGORICAL score, which must be one the\nrubric allows.",
            "type": "string"
          },
          "traceId": {
            "description": "TraceID attaches the score to one model call.",
            "type": "string"
          },
          "value": {
            "description": "Value is the numeric score, which must be finite: NaN and Inf are refused.\nA BOOLEAN score takes 0 or 1.",
            "type": "number"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "scoreView": {
        "properties": {
          "comment": {
            "description": "Comment is the grader's reasoning, truncated at 2000 characters.",
            "type": "string"
          },
          "dataType": {
            "description": "DataType is NUMERIC, CATEGORICAL or BOOLEAN.",
            "type": "string"
          },
          "id": {
            "description": "ID is the score event's handle.",
            "type": "string"
          },
          "name": {
            "description": "Name is the score name, which a rubric of the same name governs.",
            "type": "string"
          },
          "runName": {
            "description": "RunName is the run this score was recorded under, when it came from one.",
            "type": "string"
          },
          "stringValue": {
            "description": "StringValue is the label of a CATEGORICAL score.",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp is when the score was recorded.",
            "type": "string"
          },
          "traceId": {
            "description": "TraceID is the model call this score grades, when it grades one.",
            "type": "string"
          },
          "value": {
            "description": "Value is the numeric score; for BOOLEAN it is 0 or 1.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "traceList": {
        "properties": {
          "data": {
            "description": "Data is the caller org's traces matching the filters, bounded by limit.",
            "items": {
              "$ref": "#/components/schemas/traceView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "traceView": {
        "properties": {
          "apiKeyHash": {
            "description": "APIKeyHash is the non-reversible credential ref (never a plaintext key), so\na trace correlates to the key that drove it without the store holding a secret.",
            "type": "string"
          },
          "datasetItemId": {
            "description": "ItemID is the example the call answered.",
            "type": "string"
          },
          "datasetName": {
            "description": "Dataset is the set the graded example came from.",
            "type": "string"
          },
          "endTime": {
            "description": "EndTime is when it returned.",
            "type": "string"
          },
          "id": {
            "description": "ID is the trace's handle, the value a score points at.",
            "type": "string"
          },
          "input": {
            "description": "Input is what the model was given.",
            "type": "object"
          },
          "latencyMs": {
            "description": "LatencyMs is EndTime-StartTime in milliseconds, nil when the trace carries\nno timing (so the console renders \"—\", never a fabricated 0).",
            "type": "number"
          },
          "model": {
            "description": "Model is the model that answered.",
            "type": "string"
          },
          "name": {
            "description": "Name is the trace's label, \"eval:\u003crun\u003e\" for a call a run made.",
            "type": "string"
          },
          "output": {
            "description": "Output is what it answered.",
            "type": "string"
          },
          "projectId": {
            "description": "ProjectID is the sub-scope within the org the call was made under.",
            "type": "string"
          },
          "runName": {
            "description": "RunName is the run the call belongs to.",
            "type": "string"
          },
          "sessionId": {
            "description": "SessionID groups the calls of one run.",
            "type": "string"
          },
          "startTime": {
            "description": "StartTime is when the call began.",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp is the trace's own clock, equal to StartTime for a timed call.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
