{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package crawl is any web page turned into clean markdown a model can read.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "crawl"
    }
  ],
  "paths": {
    "/v1/crawl": {
      "post": {
        "operationId": "post_v1_crawl",
        "summary": "Fetch one URL and read it back as markdown",
        "description": "Fetches a single URL from inside the cluster and answers with the page's title, its content rendered to markdown, and whatever metadata the document carried.\n\nA page that could not be fetched is a NORMAL outcome, not a fault: an unreachable host, a refused address or a non-document content type all answer 200 with `success:false` and the reason in `error`. Non-2xx is reserved for a caller problem — 401 for a bad key, 400 for a missing url, 503 when the surface is unconfigured — so error handling can trust the status.\n\nAdmission is either a validated principal or the shared service key, presented as X-API-Key or a Bearer; neither is refused, and an unset key fails closed rather than opening the fetcher to the private network. Crawled pages are archived under the scope of the VERIFIED principal, never a scope named in the body; a service caller has no org and its pages land in the shared corpus. One URL per call, and the request body is bounded at 1 MiB.",
        "tags": [
          "crawl"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/crawlRequest"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crawlResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "crawlDocument": {
        "type": "object",
        "properties": {
          "markdown": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "crawlRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          }
        }
      },
      "crawlResult": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/crawlDocument"
          },
          "error": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          }
        }
      }
    }
  }
}
