{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package crawl is Hanzo Crawl: fetch one URL and return its readable content as markdown, in-process, in Go.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "crawl"
    }
  ],
  "paths": {
    "/v1/crawl": {
      "post": {
        "operationId": "post_v1_crawl",
        "tags": [
          "crawl"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/crawlRequest"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crawlResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "crawlDocument": {
        "type": "object",
        "properties": {
          "markdown": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "crawlRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          }
        }
      },
      "crawlResult": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/crawlDocument"
          },
          "error": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          }
        }
      }
    }
  }
}
