{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package o11y is your logs, metrics and traces: ship them in, query them, chart them.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "event"
    },
    {
      "name": "o11y"
    }
  ],
  "paths": {
    "/v1/o11y/alerts": {
      "get": {
        "operationId": "GetAlerts",
        "summary": "Returns the org's current alerts.",
        "description": "Returns the org's current alerts. Viewer gate.",
        "tags": [
          "o11y"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yAlertsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/alerts/last": {
      "get": {
        "operationId": "get_o11y_alerts_last",
        "summary": "Replay the alert records this process took",
        "description": "Answers the most recent Alertmanager deliveries THIS process received, as plain text — one greppable `ALERT-RECEIVED` line per alert, followed by the `ALERT-DELIVERED` / `ALERT-UNDELIVERED` outcome of carrying it out of the process, newest last, so piping to `tail` reads in arrival order. `(none)` when nothing has landed.\n\nArrival and delivery are separate lines because they are separate facts that fail independently. Alertmanager can tell you it dispatched a notification, never that anything received it; this process taking the call says nothing about whether a human was reached. Reading only the first as if it were the second is how a pager stays silent for months behind a log where everything looks fine.\n\nThe ring is PROCESS-LOCAL and bounded to the last 200 lines. Both are the point: a record that outlived the process that took the call would be a claim about something nobody observed, and an unbounded log is a memory leak with a nice name. A restart empties it.",
        "tags": [
          "o11y"
        ],
        "x-public": true
      }
    },
    "/v1/o11y/alerts/{receiver}": {
      "post": {
        "operationId": "post_o11y_alerts_by_receiver",
        "summary": "Take an Alertmanager notification and page a human",
        "description": "Records one Alertmanager webhook delivery and pages the on-call. Each alert prints an `ALERT-RECEIVED` line and joins the replay ring, then the batch is carried out of the process by the egress chain: the org's KMS-custodied Slack bot token first (the ONE product Slack egress, not a second webhook credential), falling back to a plain POST to `CLOUD_ALERTS_WEBHOOK_URL` — which needs no Slack connection and so works in exactly the state that silences the first. Resolved notifications page too: \"it recovered\" is the half of an incident people are actually waiting for.\n\nTHE STATUS CODE REPORTS DELIVERY, NOT ARRIVAL. 200 `ok` means an egress accepted the batch. If none did — including when none is configured at all — it answers **503** naming the failure, so Alertmanager retries and counts it in `alertmanager_notifications_failed_total`. An alert nobody could be told about must never answer the same way as one that was delivered.\n\nA body that will not parse is still recorded (with empty fields) rather than rejected: the delivery happened, which is the fact being recorded, and a 400 would make Alertmanager retry a malformed payload forever.\n\nThe receiver segment is Alertmanager's own receiver name, a parameter rather than a hand-listed route because the receiver set is config, not code.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "receiver",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/o11y/api/{project_id}/envelope/": {
      "post": {
        "operationId": "post_o11y_api_by_project_id_envelope",
        "summary": "Receive a Sentry envelope on the SDK's own DSN path",
        "description": "Accepts an application/x-sentry-envelope frame from a Sentry SDK — the batched wire format carrying events, sessions and attachments — and ingests it against the project named in the path.\n\nTHE /api/ SEGMENT IS NOT OURS TO NAME. An SDK appends its own fixed /api/\u003cproject\u003e/envelope/ suffix to whatever DSN it is given, so this address is the SDK's, received verbatim. We receive this shape; we do not publish it. The clean spelling of the same wire is /v1/event/{project}/envelope/.\n\nAUTHENTICATED BY THE DSN PUBLIC KEY, never a Hanzo session, and therefore exempt from the principal gate: the ingest verifier checks the key in constant time, fails closed, and derives the org from it. A keyless submission is a 401 from that verifier — not a 403 from the gate, and not a 404 — which is how you tell the hops apart. The exemption is matched by method plus prefix plus suffix, never a bare prefix, so no read is reachable through it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/o11y/api/{project_id}/store/": {
      "post": {
        "operationId": "post_o11y_api_by_project_id_store",
        "summary": "Receive a single Sentry event on the SDK's own DSN path",
        "description": "The legacy single-event form of the envelope ingest: one JSON event rather than a framed batch, kept because SDKs in the field still send it.\n\nSame address ownership and same authentication as the envelope route — the /api/ segment is the SDK's, the DSN public key is the credential, the principal gate does not apply, and a keyless submission is a 401 from the ingest verifier.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/o11y/authz/check": {
      "post": {
        "operationId": "AuthzCheck",
        "summary": "Evaluates a batch of transactions — relation plus object — for the authenticated caller and answers each with its authorization verdict, in the order they were asked.",
        "description": "Evaluates a batch of transactions — relation plus object — for\nthe authenticated caller and answers each with its authorization verdict, in\nthe order they were asked. It is the read a UI uses to decide which controls\nto show.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/o11y.O11yTransaction"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yCheckOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/auto_complete/attribute_values": {
      "post": {
        "operationId": "post_o11y_auto_complete_attribute_values",
        "summary": "Reads the attribute-value request from the body rather than off the query string — the spelling the newer builder uses to send its filters alongside the request.",
        "description": "Reads the attribute-value request from the body rather\nthan off the query string — the spelling the newer builder uses to send its\nfilters alongside the request.\n\nCallers need the viewer role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.FilterAttributeValueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yAttributeValuesOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/autocomplete/aggregate_attributes": {
      "get": {
        "operationId": "get_o11y_autocomplete_aggregate_attributes",
        "summary": "Lists the attributes usable as an aggregate target for the given telemetry and operator — what a filter builder offers after the aggregation is chosen.",
        "description": "Lists the attributes usable as an aggregate target for\nthe given telemetry and operator — what a filter builder offers after the\naggregation is chosen.\n\nCallers need the viewer role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "dataSource",
            "in": "query",
            "required": false,
            "description": "DataSource is the telemetry the attributes come from — traces, logs,\nmetrics or meter. The runtime requires it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateOperator",
            "in": "query",
            "required": false,
            "description": "AggregateOperator is the aggregation the attribute will be used under, e.g.\ncount, avg, sum. The runtime requires it for non-metrics sources.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "description": "SearchText narrows the attributes to those containing it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many attributes come back. Absent means 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yAggregateAttributesOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/autocomplete/attribute_keys": {
      "get": {
        "operationId": "get_o11y_autocomplete_attribute_keys",
        "summary": "Lists the attribute keys available for filtering the given telemetry, each with its data type and whether it is a materialized column.",
        "description": "Lists the attribute keys available for filtering the given\ntelemetry, each with its data type and whether it is a materialized column.\n\nCallers need the viewer role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "dataSource",
            "in": "query",
            "required": false,
            "description": "DataSource is the telemetry the keys come from — traces, logs, metrics or\nmeter. The runtime requires it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateOperator",
            "in": "query",
            "required": false,
            "description": "AggregateOperator is the aggregation the keys will be used under. The\nruntime requires it for non-metrics sources.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateAttribute",
            "in": "query",
            "required": false,
            "description": "AggregateAttribute is the metric the keys must appear on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "description": "SearchText narrows the keys to those containing it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagType",
            "in": "query",
            "required": false,
            "description": "TagType narrows the keys to one kind — tag or resource. Empty means all;\nan invalid value reads as empty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many keys come back. Absent means 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yAttributeKeysOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/autocomplete/attribute_values": {
      "get": {
        "operationId": "get_o11y_autocomplete_attribute_values",
        "summary": "Lists the values one attribute key has taken — string, number and bool values in their own lists — for completing a filter.",
        "description": "Lists the values one attribute key has taken — string,\nnumber and bool values in their own lists — for completing a filter.\n\nCallers need the viewer role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "dataSource",
            "in": "query",
            "required": false,
            "description": "DataSource is the telemetry the values come from — traces, logs or\nmetrics. The runtime requires it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateOperator",
            "in": "query",
            "required": false,
            "description": "AggregateOperator is the aggregation the values will be used under. The\nruntime requires it for non-metrics sources.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateAttribute",
            "in": "query",
            "required": false,
            "description": "AggregateAttribute is the metric the values must appear on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "required": false,
            "description": "AttributeKey is the key whose values to list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterAttributeKeyDataType",
            "in": "query",
            "required": false,
            "description": "FilterAttributeKeyDataType is the key's data type — string, int64, float64\nor bool. Empty means unspecified.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "description": "SearchText narrows the values to those containing it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagType",
            "in": "query",
            "required": false,
            "description": "TagType narrows the search to one kind of key — tag or resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many values come back. Absent means 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yAttributeValuesOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/availability": {
      "get": {
        "operationId": "get_o11y_availability",
        "summary": "Reports how much of the Hanzo fleet is up — the current per-service inventory plus an up-versus-reporting trend across the window.",
        "description": "Reports how much of the Hanzo fleet is up — the current\nper-service inventory plus an up-versus-reporting trend across the window.\nBoth come from the fleet prober's own measurements: every service is asked its\nhealth URL every 30 seconds, so a service is listed as down because it did not\nanswer, never because something failed to collect it. PLATFORM SUDO ONLY —\nthis is the whole fleet's inventory, not tenant data, so every customer is\n403. An unreachable telemetry store answers 503 rather than an empty trend,\nbecause a board of zeroes and a fleet that is down look identical.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is the trend window in seconds. Default 3600, capped at 604800 (7d).",
            "schema": {
              "type": "integer"
            },
            "example": 3600
          },
          {
            "name": "stepSec",
            "in": "query",
            "required": false,
            "description": "StepSec is the bucket width in seconds, clamped to [30, 3600]. Absent\npicks ~60 buckets across the range.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.availabilityResponse"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/channels": {
      "get": {
        "operationId": "ListChannels",
        "summary": "Lists the org's notification channels.",
        "description": "Lists the org's notification channels. Viewer gate.",
        "tags": [
          "o11y"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yChannelsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "CreateChannel",
        "summary": "Creates a notification channel, answering with the stored channel.",
        "description": "Creates a notification channel, answering with the stored\nchannel. Admin gate.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.PostableChannel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yChannelOut"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/channels/test": {
      "post": {
        "operationId": "TestChannel",
        "summary": "Sends a test notification to the posted receiver.",
        "description": "Sends a test notification to the posted receiver. Editor gate.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.alertmanagertypes.Receiver"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/channels/{id}": {
      "delete": {
        "operationId": "DeleteChannelByID",
        "summary": "Removes a notification channel, by id.",
        "description": "Removes a notification channel, by id. Admin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "GetChannelByID",
        "summary": "Returns one notification channel, by id.",
        "description": "Returns one notification channel, by id. Viewer gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yChannelOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "UpdateChannelByID",
        "summary": "Replaces a notification channel's receiver, by id.",
        "description": "Replaces a notification channel's receiver, by id. Admin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yChannelUpdateIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/cloud-integrations/{cloud_provider}/agent-check-in": {
      "post": {
        "operationId": "AgentCheckInDeprecated",
        "summary": "Is the deployed agent's check-in on its original hyphenated path, kept for backward compatibility with agents already running.",
        "description": "Is the deployed agent's check-in on its original\nhyphenated path, kept for backward compatibility with agents already\nrunning. Viewer gate — the agent's role is viewer.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "cloud_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yAgentCheckInIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yAgentCheckInOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/cloud_integrations/{cloud_provider}/accounts": {
      "get": {
        "operationId": "ListAccounts",
        "summary": "Lists the cloud-integration accounts connected for the given provider.",
        "description": "Lists the cloud-integration accounts connected for the given\nprovider. Admin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "cloud_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yAccountsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "CreateAccount",
        "summary": "Connects a new cloud-integration account for the given provider from its posted config and credentials, answering with the account and the artifact the agent deploys to complete the connection.",
        "description": "Connects a new cloud-integration account for the given\nprovider from its posted config and credentials, answering with the account\nand the artifact the agent deploys to complete the connection. Admin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "cloud_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yCreateAccountIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yCreateAccountOut"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/cloud_integrations/{cloud_provider}/accounts/check_in": {
      "post": {
        "operationId": "AgentCheckIn",
        "summary": "Is the deployed agent's check-in — the path consistent with the account surface, reporting the agent's account and telemetry state so the connection can be tracked.",
        "description": "Is the deployed agent's check-in — the path consistent with the\naccount surface, reporting the agent's account and telemetry state so the\nconnection can be tracked. Viewer gate — the agent's role is viewer.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "cloud_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yAgentCheckInIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yAgentCheckInOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/cloud_integrations/{cloud_provider}/accounts/{id}": {
      "delete": {
        "operationId": "DisconnectAccount",
        "summary": "Tears down a connected account for the given provider, by id.",
        "description": "Tears down a connected account for the given provider, by\nid. Admin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "cloud_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "GetAccount",
        "summary": "Returns one connected account for the given provider, by id.",
        "description": "Returns one connected account for the given provider, by id. Admin\ngate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "cloud_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yAccountOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "UpdateAccount",
        "summary": "Changes a connected account's configuration for the given provider, by id.",
        "description": "Changes a connected account's configuration for the given\nprovider, by id. Admin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "cloud_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yUpdateAccountIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/cloud_integrations/{cloud_provider}/accounts/{id}/services": {
      "get": {
        "operationId": "ListAccountServicesMetadata",
        "summary": "Lists the services metadata for one connected account of the given provider, by account id.",
        "description": "Lists the services metadata for one connected\naccount of the given provider, by account id. Admin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "cloud_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yServicesMetadataOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/cloud_integrations/{cloud_provider}/accounts/{id}/services/{service_id}": {
      "get": {
        "operationId": "GetAccountService",
        "summary": "Returns one service and its configuration for a connected account of the given provider, by account id and service id.",
        "description": "Returns one service and its configuration for a connected\naccount of the given provider, by account id and service id. Admin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "cloud_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yServiceOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "UpdateService",
        "summary": "Changes a service's configuration for one connected account of the given provider, by account id and service id.",
        "description": "Changes a service's configuration for one connected account of\nthe given provider, by account id and service id. Admin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "cloud_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yUpdateServiceIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/cloud_integrations/{cloud_provider}/credentials": {
      "get": {
        "operationId": "GetConnectionCredentials",
        "summary": "Returns the credentials the connecting agent needs to establish the cloud integration, for the given cloud provider.",
        "description": "Returns the credentials the connecting agent needs\nto establish the cloud integration, for the given cloud provider. Admin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "cloud_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yCredentialsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/cloud_integrations/{cloud_provider}/services": {
      "get": {
        "operationId": "ListServicesMetadata",
        "summary": "Lists the services the given provider can collect from, optionally scoped to one cloud integration.",
        "description": "Lists the services the given provider can collect from,\noptionally scoped to one cloud integration. Admin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "cloud_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloud_integration_id",
            "in": "query",
            "required": false,
            "description": "CloudIntegrationID, when set, scopes the listing to one cloud integration.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yServicesMetadataOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/cloud_integrations/{cloud_provider}/services/{service_id}": {
      "get": {
        "operationId": "GetService",
        "summary": "Returns one service the given provider can collect from, by service id, optionally scoped to one cloud integration.",
        "description": "Returns one service the given provider can collect from, by\nservice id, optionally scoped to one cloud integration. Admin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "cloud_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloud_integration_id",
            "in": "query",
            "required": false,
            "description": "CloudIntegrationID, when set, scopes the service to one cloud integration.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yServiceOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/clusters/attribute_keys": {
      "get": {
        "operationId": "get_o11y_clusters_attribute_keys",
        "summary": "Lists the metric attribute keys Kubernetes clusters report, for building cluster filters.",
        "description": "Lists the metric attribute keys Kubernetes clusters\nreport, for building cluster filters.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "dataSource",
            "in": "query",
            "required": false,
            "description": "DataSource is the telemetry the keys come from — metrics for the infra\nfaces. The runtime requires it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateOperator",
            "in": "query",
            "required": false,
            "description": "AggregateOperator is the aggregation the keys will be used under, e.g.\nnoop, count, avg. The runtime requires it for non-metrics sources.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateAttribute",
            "in": "query",
            "required": false,
            "description": "AggregateAttribute is the metric the keys must appear on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "description": "SearchText narrows the keys to those containing it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagType",
            "in": "query",
            "required": false,
            "description": "TagType narrows the keys to one kind — tag or resource. Empty means all;\nan invalid value reads as empty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many keys come back. Absent means 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yInfraAttributeKeysOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/clusters/attribute_values": {
      "get": {
        "operationId": "get_o11y_clusters_attribute_values",
        "summary": "Lists the values one cluster attribute key has taken, for building cluster filters.",
        "description": "Lists the values one cluster attribute key has taken,\nfor building cluster filters.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "dataSource",
            "in": "query",
            "required": false,
            "description": "DataSource is the telemetry the values come from — metrics for the infra\nfaces. The runtime requires it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateOperator",
            "in": "query",
            "required": false,
            "description": "AggregateOperator is the aggregation the values will be used under, e.g.\nnoop, count, avg. The runtime requires it for non-metrics sources.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateAttribute",
            "in": "query",
            "required": false,
            "description": "AggregateAttribute is the metric the values must appear on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "required": false,
            "description": "AttributeKey is the key whose values to list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterAttributeKeyDataType",
            "in": "query",
            "required": false,
            "description": "FilterAttributeKeyDataType is the key's data type — string, int64,\nfloat64 or bool. Empty means unspecified.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "description": "SearchText narrows the values to those containing it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagType",
            "in": "query",
            "required": false,
            "description": "TagType narrows the search to one kind of key — tag or resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many values come back. Absent means 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yInfraAttributeValuesOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/clusters/list": {
      "post": {
        "operationId": "post_o11y_clusters_list",
        "summary": "Lists Kubernetes clusters over a time range, each with its CPU and memory usage against allocatable capacity and its attributes; filterable, groupable and paginated.",
        "description": "Lists Kubernetes clusters over a time range, each with its CPU\nand memory usage against allocatable capacity and its attributes;\nfilterable, groupable and paginated.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.ClusterListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yClusterListOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/complete/google": {
      "get": {
        "operationId": "get_o11y_complete_google",
        "summary": "Complete a Google sign-in",
        "description": "The callback Google redirects a user back to after they approve the sign-in. It exchanges the authorization code, establishes the session and answers 303 to the console.\n\nThe answer is a Location header and no body, which is why it is not a typed operation — declaring a JSON response for a redirect would publish a shape that does not exist and hide the header that is the entire point.\n\nUNAUTHENTICATED by necessity: it is how a caller GETS a principal, so requiring one would be circular. It is not an open door — the code it carries is single-use and verified against the provider.",
        "tags": [
          "o11y"
        ],
        "x-public": true
      }
    },
    "/v1/o11y/complete/oidc": {
      "get": {
        "operationId": "get_o11y_complete_oidc",
        "summary": "Complete a generic OIDC sign-in",
        "description": "The callback any configured OIDC provider redirects back to. Same shape and same reasoning as the Google callback: the code is exchanged, the session is established, and the answer is a 303 to the console rather than a body.\n\nUNAUTHENTICATED by necessity — this is the act of obtaining a principal, and the provider's own code is what authenticates it.",
        "tags": [
          "o11y"
        ],
        "x-public": true
      }
    },
    "/v1/o11y/complete/saml": {
      "post": {
        "operationId": "post_o11y_complete_saml",
        "summary": "Complete a SAML sign-in",
        "description": "The assertion consumer service: the identity provider POSTs its signed assertion here, and a valid one establishes the session and answers 303 to the console.\n\nA redirect, not a value, so it is not a typed operation. UNAUTHENTICATED by necessity and authenticated in fact by the assertion's signature, which is checked against the configured provider before any session exists.",
        "tags": [
          "o11y"
        ],
        "x-public": true
      }
    },
    "/v1/o11y/countErrors": {
      "post": {
        "operationId": "post_o11y_counterrors",
        "summary": "Counts the grouped exceptions in the query window for the caller's org.",
        "description": "Counts the grouped exceptions in the query window for the caller's\norg.\n\nCallers need the viewer role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yErrorsCountIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/daemonsets/attribute_keys": {
      "get": {
        "operationId": "get_o11y_daemonsets_attribute_keys",
        "summary": "Lists the metric attribute keys Kubernetes daemonsets report, for building daemonset filters.",
        "description": "Lists the metric attribute keys Kubernetes daemonsets\nreport, for building daemonset filters.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "dataSource",
            "in": "query",
            "required": false,
            "description": "DataSource is the telemetry the keys come from — metrics for the infra\nfaces. The runtime requires it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateOperator",
            "in": "query",
            "required": false,
            "description": "AggregateOperator is the aggregation the keys will be used under, e.g.\nnoop, count, avg. The runtime requires it for non-metrics sources.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateAttribute",
            "in": "query",
            "required": false,
            "description": "AggregateAttribute is the metric the keys must appear on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "description": "SearchText narrows the keys to those containing it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagType",
            "in": "query",
            "required": false,
            "description": "TagType narrows the keys to one kind — tag or resource. Empty means all;\nan invalid value reads as empty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many keys come back. Absent means 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yInfraAttributeKeysOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/daemonsets/attribute_values": {
      "get": {
        "operationId": "get_o11y_daemonsets_attribute_values",
        "summary": "Lists the values one daemonset attribute key has taken, for building daemonset filters.",
        "description": "Lists the values one daemonset attribute key has\ntaken, for building daemonset filters.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "dataSource",
            "in": "query",
            "required": false,
            "description": "DataSource is the telemetry the values come from — metrics for the infra\nfaces. The runtime requires it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateOperator",
            "in": "query",
            "required": false,
            "description": "AggregateOperator is the aggregation the values will be used under, e.g.\nnoop, count, avg. The runtime requires it for non-metrics sources.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateAttribute",
            "in": "query",
            "required": false,
            "description": "AggregateAttribute is the metric the values must appear on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "required": false,
            "description": "AttributeKey is the key whose values to list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterAttributeKeyDataType",
            "in": "query",
            "required": false,
            "description": "FilterAttributeKeyDataType is the key's data type — string, int64,\nfloat64 or bool. Empty means unspecified.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "description": "SearchText narrows the values to those containing it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagType",
            "in": "query",
            "required": false,
            "description": "TagType narrows the search to one kind of key — tag or resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many values come back. Absent means 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yInfraAttributeValuesOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/daemonsets/list": {
      "post": {
        "operationId": "post_o11y_daemonsets_list",
        "summary": "Lists Kubernetes daemonsets over a time range, each with the CPU and memory its pods used against request and limit, desired and available node counts, restarts and attributes; filterable, groupable and paginated.",
        "description": "Lists Kubernetes daemonsets over a time range, each with the\nCPU and memory its pods used against request and limit, desired and\navailable node counts, restarts and attributes; filterable, groupable and\npaginated.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.DaemonSetListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDaemonSetListOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/dashboard_views": {
      "get": {
        "operationId": "ListDashboardViews",
        "summary": "Returns every saved view in the calling user's org.",
        "description": "Returns every saved view in the calling user's org. Saved\nviews are shared org-wide.\n\nCallers need the viewer role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDashboardViewListOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "CreateDashboardView",
        "summary": "Persists the calling user's dashboard-listing state (query, sort, order) as a named, reusable view shared across the org.",
        "description": "Persists the calling user's dashboard-listing state (query,\nsort, order) as a named, reusable view shared across the org.\n\nCallers need the editor role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yDashboardViewPostable"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDashboardViewOut"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/dashboard_views/{id}": {
      "delete": {
        "operationId": "DeleteDashboardView",
        "summary": "Removes a saved view.",
        "description": "Removes a saved view. Saved views are shared org-wide.\nDeleting a non-existent view refuses with the runtime's not-found.\n\nCallers need the editor role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the resource id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "UpdateDashboardView",
        "summary": "Replaces a saved view's name and data.",
        "description": "Replaces a saved view's name and data. Saved views are shared\norg-wide.\n\nCallers need the editor role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the saved view id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yDashboardViewUpdateIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDashboardViewOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/dashboards": {
      "get": {
        "operationId": "ListDashboardsV2",
        "summary": "Returns a page of v2-shape dashboards for the org.",
        "description": "Returns a page of v2-shape dashboards for the org. This is the\npure, user-independent list — it carries no pin state; use\ndashboardListForUserV2 for the personalized, pin-aware list. Supports a filter\nDSL (query), sort (updated_at/created_at/name), order (asc/desc), and\noffset-based pagination (limit/offset).\n\nCallers need the viewer role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Query is the filter DSL over dashboard columns and tags, e.g.\n`name:cpu source:user`. Empty lists everything.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort is the sort field: updated_at, created_at or name. Empty sorts by\nupdated_at.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Order is the sort direction: asc or desc. Empty orders desc.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many dashboards come back. Zero means the default of 20;\nthe runtime caps it at 200.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset is how many dashboards to skip for pagination.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDashboardListOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "CreateDashboardV2",
        "summary": "Creates a dashboard in the v2 format that follows the Perses spec and answers with the stored dashboard.",
        "description": "Creates a dashboard in the v2 format that follows the Perses\nspec and answers with the stored dashboard.\n\nCallers need the editor role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yDashboardPostable"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDashboardOut"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/dashboards/{id}": {
      "delete": {
        "operationId": "DeleteDashboardV2",
        "summary": "Deletes a v2-shape dashboard along with its tag relations.",
        "description": "Deletes a v2-shape dashboard along with its tag relations.\nLocked dashboards are rejected.\n\nCallers need the editor role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the resource id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "GetDashboardV2",
        "summary": "Returns a v2-shape dashboard.",
        "description": "Returns a v2-shape dashboard.\n\nCallers need the viewer role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the resource id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDashboardOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "patch": {
        "operationId": "PatchDashboardV2",
        "summary": "Applies an RFC 6902 JSON Patch to a v2-shape dashboard.",
        "description": "Applies an RFC 6902 JSON Patch to a v2-shape dashboard. The\npatch is applied against the postable view (metadata, spec, tags), so individual\npanels, queries, variables, layouts or tags can be updated without re-sending the\nrest. Apply is lenient — remove on a missing path is a no-op and add creates any\nmissing parent objects — and the result is still validated. Locked dashboards are\nrejected. The request body is the bare JSON Patch operations array.\n\nCallers need the editor role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the dashboard id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yDashboardPatchIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDashboardOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "UpdateDashboardV2",
        "summary": "Updates a v2-shape dashboard's metadata, spec and tag set.",
        "description": "Updates a v2-shape dashboard's metadata, spec and tag set.\nThe name is immutable and locked dashboards are rejected.\n\nCallers need the editor role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the dashboard id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yDashboardUpdateIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDashboardOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/dashboards/{id}/clone": {
      "post": {
        "operationId": "CloneDashboardV2",
        "summary": "Clones an existing v2-shape dashboard.",
        "description": "Clones an existing v2-shape dashboard. User and integration\ndashboards can be cloned; system dashboards are rejected. The clone keeps the\nsource's display name, panels and tags, but gets a freshly generated unique\ninternal name and is always created as an unlocked user dashboard owned by the\ncaller.\n\nCallers need the editor role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the resource id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDashboardOut"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/dashboards/{id}/lock": {
      "delete": {
        "operationId": "UnlockDashboardV2",
        "summary": "Unlocks a v2-shape dashboard.",
        "description": "Unlocks a v2-shape dashboard. Only the dashboard's creator or\nan org admin may lock or unlock.\n\nCallers need the editor role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the resource id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "LockDashboardV2",
        "summary": "Locks a v2-shape dashboard.",
        "description": "Locks a v2-shape dashboard. Only the dashboard's creator or an\norg admin may lock or unlock.\n\nCallers need the editor role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the resource id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/dashboards/{id}/public": {
      "delete": {
        "operationId": "DeletePublicDashboard",
        "summary": "Deletes the public-sharing config and disables public sharing of a dashboard.",
        "description": "Deletes the public-sharing config and disables public\nsharing of a dashboard.\n\nCallers need the admin role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the resource id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "GetPublicDashboard",
        "summary": "Returns the public-sharing config for a dashboard.",
        "description": "Returns the public-sharing config for a dashboard.\n\nCallers need the admin role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the resource id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yPublicDashboardOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "CreatePublicDashboard",
        "summary": "Creates the public-sharing config for a dashboard and enables public sharing, answering with the new share's id.",
        "description": "Creates the public-sharing config for a dashboard and\nenables public sharing, answering with the new share's id.\n\nCallers need the admin role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the dashboard id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yPublicDashboardWriteIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yIdentifiableOut"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "UpdatePublicDashboard",
        "summary": "Updates the public-sharing config for a dashboard.",
        "description": "Updates the public-sharing config for a dashboard.\n\nCallers need the admin role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the dashboard id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yPublicDashboardWriteIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/dependency_graph": {
      "post": {
        "operationId": "post_o11y_dependency_graph",
        "summary": "Returns the service dependency graph over the requested window: every parent→child edge observed, with call and error rates and latency percentiles per edge.",
        "description": "Returns the service dependency graph over the requested\nwindow: every parent→child edge observed, with call and error rates and\nlatency percentiles per edge.\n\nCallers need the viewer role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yDependencyGraphIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/o11y.O11yDependency"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/deployments/attribute_keys": {
      "get": {
        "operationId": "get_o11y_deployments_attribute_keys",
        "summary": "Lists the metric attribute keys Kubernetes deployments report, for building deployment filters.",
        "description": "Lists the metric attribute keys Kubernetes\ndeployments report, for building deployment filters.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "dataSource",
            "in": "query",
            "required": false,
            "description": "DataSource is the telemetry the keys come from — metrics for the infra\nfaces. The runtime requires it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateOperator",
            "in": "query",
            "required": false,
            "description": "AggregateOperator is the aggregation the keys will be used under, e.g.\nnoop, count, avg. The runtime requires it for non-metrics sources.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateAttribute",
            "in": "query",
            "required": false,
            "description": "AggregateAttribute is the metric the keys must appear on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "description": "SearchText narrows the keys to those containing it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagType",
            "in": "query",
            "required": false,
            "description": "TagType narrows the keys to one kind — tag or resource. Empty means all;\nan invalid value reads as empty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many keys come back. Absent means 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yInfraAttributeKeysOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/deployments/attribute_values": {
      "get": {
        "operationId": "get_o11y_deployments_attribute_values",
        "summary": "Lists the values one deployment attribute key has taken, for building deployment filters.",
        "description": "Lists the values one deployment attribute key has\ntaken, for building deployment filters.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "dataSource",
            "in": "query",
            "required": false,
            "description": "DataSource is the telemetry the values come from — metrics for the infra\nfaces. The runtime requires it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateOperator",
            "in": "query",
            "required": false,
            "description": "AggregateOperator is the aggregation the values will be used under, e.g.\nnoop, count, avg. The runtime requires it for non-metrics sources.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregateAttribute",
            "in": "query",
            "required": false,
            "description": "AggregateAttribute is the metric the values must appear on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "required": false,
            "description": "AttributeKey is the key whose values to list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterAttributeKeyDataType",
            "in": "query",
            "required": false,
            "description": "FilterAttributeKeyDataType is the key's data type — string, int64,\nfloat64 or bool. Empty means unspecified.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "description": "SearchText narrows the values to those containing it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagType",
            "in": "query",
            "required": false,
            "description": "TagType narrows the search to one kind of key — tag or resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many values come back. Absent means 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yInfraAttributeValuesOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/deployments/list": {
      "post": {
        "operationId": "post_o11y_deployments_list",
        "summary": "Lists Kubernetes deployments over a time range, each with the CPU and memory its pods used against request and limit, desired and available replica counts, restarts and attributes; filterable, groupable and paginated.",
        "description": "Lists Kubernetes deployments over a time range, each with the\nCPU and memory its pods used against request and limit, desired and\navailable replica counts, restarts and attributes; filterable, groupable and\npaginated.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.DeploymentListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDeploymentListOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/disks": {
      "get": {
        "operationId": "get_o11y_disks",
        "summary": "Lists the storage disks the datastore reports, with their names and types.",
        "description": "Lists the storage disks the datastore reports, with their names and\ntypes.\n\nCallers need the viewer role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/o11y.O11yDisk"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/domains": {
      "get": {
        "operationId": "ListAuthDomains",
        "summary": "Lists the org's auth domains — the email domains whose SSO configuration this org owns.",
        "description": "Lists the org's auth domains — the email domains whose SSO\nconfiguration this org owns. Admin gate.",
        "tags": [
          "o11y"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yAuthDomainsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "CreateAuthDomain",
        "summary": "Claims an email domain for the org and configures how its users sign in; the answer is the new domain's id.",
        "description": "Claims an email domain for the org and configures how its\nusers sign in; the answer is the new domain's id. Admin gate.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yPostableAuthDomain"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yCreatedOut"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/domains/{id}": {
      "delete": {
        "operationId": "DeleteAuthDomain",
        "summary": "Releases an email domain and discards its SSO configuration, by id.",
        "description": "Releases an email domain and discards its SSO\nconfiguration, by id. Admin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "GetAuthDomain",
        "summary": "Returns one auth domain with its SSO configuration, by id.",
        "description": "Returns one auth domain with its SSO configuration, by id.\nAdmin gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yAuthDomainOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "UpdateAuthDomain",
        "summary": "Replaces one auth domain's SSO configuration, by id.",
        "description": "Replaces one auth domain's SSO configuration, by id. Admin\ngate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yUpdatableAuthDomain"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/downtime_schedules": {
      "get": {
        "operationId": "ListDowntimeSchedules",
        "summary": "Lists all planned maintenance windows, optionally narrowed to the active ones or the recurring ones.",
        "description": "Lists all planned maintenance windows, optionally\nnarrowed to the active ones or the recurring ones. Viewer gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "Active, when \"true\" or \"false\", keeps only the active or inactive windows.\nAbsent lists all.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recurring",
            "in": "query",
            "required": false,
            "description": "Recurring, when \"true\" or \"false\", keeps only the recurring or one-off\nwindows. Absent lists all.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDowntimeSchedulesOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "CreateDowntimeSchedule",
        "summary": "Creates a planned maintenance window, answering with the stored schedule.",
        "description": "Creates a planned maintenance window, answering with\nthe stored schedule. Editor gate.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.PostablePlannedMaintenance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDowntimeScheduleOut"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/downtime_schedules/{id}": {
      "delete": {
        "operationId": "DeleteDowntimeScheduleByID",
        "summary": "Removes a planned maintenance window, by id.",
        "description": "Removes a planned maintenance window, by id. Editor gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "GetDowntimeScheduleByID",
        "summary": "Returns one planned maintenance window, by id.",
        "description": "Returns one planned maintenance window, by id. Viewer gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yDowntimeScheduleOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "UpdateDowntimeScheduleByID",
        "summary": "Replaces a planned maintenance window, by id.",
        "description": "Replaces a planned maintenance window, by id. Editor gate.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/o11y.O11yDowntimeUpdateIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/errorFromErrorID": {
      "get": {
        "operationId": "get_o11y_errorfromerrorid",
        "summary": "Returns one exception instance and the span it happened on, by its error id within a group at a timestamp.",
        "description": "Returns one exception instance and the span it happened on,\nby its error id within a group at a timestamp.\n\nCallers need the viewer role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "description": "Timestamp is the instance's time as a nanosecond epoch spelled as a\nstring. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupID",
            "in": "query",
            "required": true,
            "description": "GroupID is the exception group the instance belongs to. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "errorID",
            "in": "query",
            "required": false,
            "description": "ErrorID is the exception instance id. Required by errorFromErrorID and\nnextPrevErrorIDs; unused by errorFromGroupID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yErrorWithSpan"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/errorFromGroupID": {
      "get": {
        "operationId": "get_o11y_errorfromgroupid",
        "summary": "Returns the representative exception instance of a group at a timestamp, and the span it happened on.",
        "description": "Returns the representative exception instance of a group at a\ntimestamp, and the span it happened on.\n\nCallers need the viewer role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "description": "Timestamp is the instance's time as a nanosecond epoch spelled as a\nstring. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupID",
            "in": "query",
            "required": true,
            "description": "GroupID is the exception group the instance belongs to. Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "errorID",
            "in": "query",
            "required": false,
            "description": "ErrorID is the exception instance id. Required by errorFromErrorID and\nnextPrevErrorIDs; unused by errorFromGroupID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/o11y.O11yErrorWithSpan"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/o11y/errortracking/issues": {
      "get": {
        "operationId": "get_o11y_errortracking_issues",
        "summary": "Lists the caller's org's grouped error issues (by fingerprint) with status, level, counts and first/last-seen.",
        "description": "Lists the caller's org's grouped error issues (by\nfingerprint) with status, level, counts and first/last-seen.\n\nCallers need the viewer role; the runtime's own gate enforces it.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status narrows to one lifecycle state: unresolved, resolved or ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "required": false,
            "description": "Level narrows to one severity, e.g. error, warning, info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
[...]
