{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package o11y is your logs, metrics and traces: ship them in, query them, chart them.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "o11y"
    },
    {
      "name": "sentry"
    },
    {
      "name": "summary"
    }
  ],
  "paths": {
    "/v1/o11y/alerts/last": {
      "get": {
        "operationId": "get_v1_o11y_alerts_last",
        "summary": "Replay the page-delivery receipts this process took",
        "description": "Answers the most recent Alertmanager deliveries THIS process received, as plain text — one greppable `PAGE-DELIVERED` line per alert, newest last, so piping to `tail` reads in arrival order. `(none)` when nothing has landed.\n\nIt answers the question Alertmanager cannot: Alertmanager can tell you it dispatched a notification, never that anything received it. This ring is the far side of that hop, and it is the only record that a page actually arrived.\n\nThe ring is PROCESS-LOCAL and bounded to the last 200 lines. Both are the point: a receipt that outlived the process that took the call would be a claim about something nobody observed, and an unbounded receipt log is a memory leak with a nice name. A restart empties it.",
        "tags": [
          "o11y"
        ]
      }
    },
    "/v1/o11y/alerts/{receiver}": {
      "post": {
        "operationId": "post_v1_o11y_alerts_by_receiver",
        "summary": "Take an Alertmanager notification and page Slack",
        "description": "Records one Alertmanager webhook delivery and pages the on-call. Each alert in the payload prints a `PAGE-DELIVERED` line to the process log and joins the ring the receipt replay serves, then the batch is posted to Slack with the org's KMS-custodied bot token — the ONE Slack egress the product already has, not a second webhook credential. Resolved notifications page too: \"it recovered\" is the half of an incident people are actually waiting for.\n\nIt ALWAYS answers 200 with the body `ok`, and a body that will not parse is recorded with empty fields rather than rejected. Alertmanager retries on any other status, so a receipt that pushes back changes the thing it is measuring, and a 400 on a malformed payload would make it retry forever — the delivery still happened, which is the fact being recorded.\n\nThe receiver segment is Alertmanager's own receiver name, a parameter rather than a hand-listed route because the receiver set is config, not code. Paging is detached and fail-soft: with no channel configured nothing is posted and the receipt still lands, and a Slack failure prints its own line instead of failing the request.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "receiver",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/o11y/annotation-queues": {
      "get": {
        "operationId": "get_v1_o11y_annotation-queues",
        "summary": "ListAnnotationQueues returns a page of the caller org's human-review queues, newest first, narrowed to the caller's project.",
        "description": "ListAnnotationQueues returns a page of the caller org's human-review queues,\nnewest first, narrowed to the caller's project. Another org's queues are never\nvisible.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page is the 1-based page to read. Default 1.",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit is how many rows to return. Default 20, capped at 100.",
            "schema": {
              "type": "integer"
            },
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/annQueueList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_o11y_annotation-queues",
        "summary": "CreateAnnotationQueue creates a human-review queue in the caller's org and project.",
        "description": "CreateAnnotationQueue creates a human-review queue in the caller's org and\nproject. A name already used by another queue in the same project is a 409.",
        "tags": [
          "o11y"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": "hallucination review",
                "scoreConfigIds": [
                  "quality"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/createQueueReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/annQueueView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/o11y/annotation-queues/{id}": {
      "delete": {
        "operationId": "delete_v1_o11y_annotation-queues_id",
        "summary": "DeleteAnnotationQueue removes one review queue and every item in it.",
        "description": "DeleteAnnotationQueue removes one review queue and every item in it. A queue\nid belonging to another org answers the same 404 an unknown id does, so a\nprobe learns nothing about what exists.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the annotation queue to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "annq_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/annQueueDeleted"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "get": {
        "operationId": "get_v1_o11y_annotation-queues_id",
        "summary": "GetAnnotationQueue returns one review queue with its pending and completed counts and its first page of items.",
        "description": "GetAnnotationQueue returns one review queue with its pending and completed\ncounts and its first page of items. A queue id belonging to another org is a\n404, never a cross-tenant read.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the annotation queue to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "annq_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/annQueueDetailView"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_v1_o11y_annotation-queues_id",
        "summary": "UpdateAnnotationQueue changes a review queue's name, description or score-config set.",
        "description": "UpdateAnnotationQueue changes a review queue's name, description or\nscore-config set. A field the request omits is left alone. A name another\nqueue in the same project already uses is a 409; a queue id belonging to\nanother org is a 404.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the annotation queue to update, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "annq_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "annq_1",
                "name": "hallucination review v2"
              },
              "schema": {
                "$ref": "#/components/schemas/updateQueueIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/annQueueView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/o11y/annotation-queues/{id}/items": {
      "get": {
        "operationId": "get_v1_o11y_annotation-queues_id_items",
        "summary": "ListAnnotationQueueItems returns a page of one review queue's items, newest first, optionally filtered to PENDING or COMPLETED.",
        "description": "ListAnnotationQueueItems returns a page of one review queue's items, newest\nfirst, optionally filtered to PENDING or COMPLETED. A queue id belonging to\nanother org is a 404, never a cross-tenant list.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the annotation queue whose items to list, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "annq_1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status filters to PENDING or COMPLETED items. Absent returns both.",
            "schema": {
              "type": "string"
            },
            "example": "PENDING"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page is the 1-based page to read. Default 1.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit is how many rows to return. Default 20, capped at 100.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/annItemList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_o11y_annotation-queues_id_items",
        "summary": "AddAnnotationQueueItems enqueues traces, observations or sessions on a review queue.",
        "description": "AddAnnotationQueueItems enqueues traces, observations or sessions on a review\nqueue. Each item names exactly one object, either by traceId / observationId /\nsessionId or by objectType plus objectId; every item enters PENDING. A queue\nid belonging to another org is a 404.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the annotation queue to add to, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "annq_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "annq_1",
                "items": [
                  {
                    "traceId": "tr_1"
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/addItemsIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/annItemsCreated"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/o11y/annotation-queues/{id}/items/{itemId}": {
      "patch": {
        "operationId": "patch_v1_o11y_annotation-queues_id_items_itemId",
        "summary": "UpdateAnnotationQueueItem moves one queue item between PENDING and COMPLETED and sets its assignee.",
        "description": "UpdateAnnotationQueueItem moves one queue item between PENDING and COMPLETED\nand sets its assignee. Completing an item stamps its completedAt. An item that\nexists under a different queue answers the same 404 an unknown item does, and\nso does a queue belonging to another org.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the annotation queue the item belongs to, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "annq_1"
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "description": "ItemID is the item to update, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "annqi_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "annq_1",
                "itemId": "annqi_1",
                "status": "COMPLETED"
              },
              "schema": {
                "$ref": "#/components/schemas/updateItemIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/annItemView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/o11y/api/v2/healthz": {
      "get": {
        "operationId": "get_v1_o11y_api_v2_healthz",
        "summary": "Health of the observability runtime's services",
        "description": "Reports whether every service in the runtime's registry is healthy, and names them grouped by state — so a failure says WHICH component is down, not merely that something is. An unhealthy registry answers 503, not a 200 with a false flag inside, so a plain status check cannot read a sick runtime as well.\n\nUNAUTHENTICATED by design, like the other two probes: it carries no tenant data and is reached by k8s and by external checks that hold no principal.",
        "tags": [
          "o11y"
        ]
      }
    },
    "/v1/o11y/api/v2/livez": {
      "get": {
        "operationId": "get_v1_o11y_api_v2_livez",
        "summary": "Liveness of the observability process",
        "description": "Answers 200 unconditionally while the process is running, and asserts NOTHING about the telemetry stores behind it. That is what makes it a liveness probe: a container that answers this is worth leaving alive, and restarting on a store outage would only remove the thing reporting the outage.\n\nUNAUTHENTICATED by design, and one of exactly three /v1/o11y paths that are. It carries no tenant data, and gating it would break the k8s probes and the external health checks without protecting anything. Use the health probe, not this one, to ask whether the runtime can actually serve.",
        "tags": [
          "o11y"
        ]
      }
    },
    "/v1/o11y/api/v2/readyz": {
      "get": {
        "operationId": "get_v1_o11y_api_v2_readyz",
        "summary": "Readiness of the observability runtime to serve",
        "description": "Reports whether the runtime's registered services are healthy enough to take traffic, and answers 503 when they are not — which is what takes a booting or degraded replica out of the load balancer instead of letting it serve errors.\n\nUNAUTHENTICATED by design, like the other two probes. It reads the same service registry the health probe reads, so the two agree by construction; readiness is the question a router asks and health is the question an operator asks.",
        "tags": [
          "o11y"
        ]
      }
    },
    "/v1/o11y/logs": {
      "get": {
        "operationId": "get_v1_o11y_logs",
        "summary": "GetO11yLogs returns a page of one product's logs for the caller's org.",
        "description": "GetO11yLogs returns a page of one product's logs for the caller's org. A\nnormal caller sees its OWN request stream, derived from org-tagged spans; a\nvalidated platform SuperAdmin sees the product's raw infra stdout stream\ninstead. Poll for a live tail by passing the previous response's nextCursor\nback as sinceNs. A well-formed product with no backing workload answers an\nempty page rather than an error; a malformed slug is a 400.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "query",
            "required": false,
            "description": "Product is the console product slug whose logs to read, e.g. \"kms\".\nRequired.",
            "schema": {
              "type": "string"
            },
            "example": "kms"
          },
          {
            "name": "sinceNs",
            "in": "query",
            "required": false,
            "description": "SinceNs is the nanosecond cursor from a previous response's nextCursor.\nAbsent (0) reads the last `window` seconds instead.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "description": "Window is how many seconds back to read when there is no cursor.\nDefault 900, capped at 86400.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the returned lines. Default 200, capped at 1000.",
            "schema": {
              "type": "integer"
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logsResponse"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/o11y/metrics": {
      "get": {
        "operationId": "get_v1_o11y_metrics",
        "summary": "GetO11yMetrics returns one product's RED series — request rate, errors, p50 and p95 latency — for the caller's org, plus that org's LLM usage rollup over the same window.",
        "description": "GetO11yMetrics returns one product's RED series — request rate, errors, p50\nand p95 latency — for the caller's org, plus that org's LLM usage rollup over\nthe same window. The series come from org-tagged request spans, so a tenant\nonly ever aggregates its own traffic; a validated platform SuperAdmin sees the\nwhole product's RED, while usage stays the caller's own org either way. A\nwell-formed product with no backing workload answers empty series; a malformed\nslug is a 400.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "query",
            "required": false,
            "description": "Product is the console product slug to read, e.g. \"kms\". Required.",
            "schema": {
              "type": "string"
            },
            "example": "kms"
          },
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is the window in seconds. Default 3600, capped at 604800 (7d).",
            "schema": {
              "type": "integer"
            },
            "example": 3600
          },
          {
            "name": "stepSec",
            "in": "query",
            "required": false,
            "description": "StepSec is the bucket width in seconds, clamped to [30, 3600]. Absent\npicks ~60 buckets across the range.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metricsResponse"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/o11y/query": {
      "post": {
        "operationId": "post_v1_o11y_query",
        "summary": "Run one builder query against the caller's telemetry",
        "description": "Runs the console's composite builder query and answers the engine's own response untouched — body, status and headers ride through both ways, because the shape here is the query engine's, not this layer's.\n\nThis flat path is the ONE canonical public address for the builder query, and pinning it server-side is the point: the version-less alias resolves to the engine's highest version, which rejects the v3-shaped composite payload the console speaks. So the engine version is resolved INSIDE the handler and the client never names one — a caller that spells a version into the path is coupling itself to an internal detail that is free to move.\n\nRequires a validated principal, and the tenant is the principal's own org, pinned server-side from the validated claim; there is no org selector in the payload or the query string that could widen it. Before the runtime is initialized this answers 503 rather than an empty result.",
        "tags": [
          "o11y"
        ]
      }
    },
    "/v1/o11y/query_range": {
      "post": {
        "operationId": "post_v1_o11y_query_range",
        "summary": "Run one ranged builder query against the caller's telemetry",
        "description": "Runs the console's composite builder query over a time range — the list and series the trace, log and metric explorers render — and answers the engine's own response untouched, body, status and headers alike.\n\nSame pin as the instant form and for the same reason: the flat path resolves to a specific engine version INSIDE the handler, because the version-less alias resolves to one that rejects the composite payload the console sends. The client speaks only this path.\n\nRequires a validated principal, and the tenant is that principal's own org, pinned server-side; nothing in the request can widen it. Before the runtime is initialized this answers 503.",
        "tags": [
          "o11y"
        ]
      }
    },
    "/v1/o11y/sessions": {
      "get": {
        "operationId": "get_v1_o11y_sessions",
        "summary": "List the caller org's LLM sessions",
        "description": "Answers the caller org's LLM-observability sessions — traces grouped by session id on the gen_ai span plane — paged by limit and offset, in the runtime's own envelope, passed through unchanged.\n\nAn org-less caller is refused HERE, at the cloud boundary, before the request reaches the runtime, and the org the runtime then scopes on is that SAME validated tenant. The two cannot disagree: the tenant is minted from the principal's own claim at ingress and a client copy never survives it.\n\nThere is deliberately no session-detail route to pair with this. The runtime serves the list only; detail is composed client-side from this list plus the traces filtered by session, so a caller looking for one is looking for something that was never served rather than something that broke.",
        "tags": [
          "o11y"
        ]
      }
    },
    "/v1/o11y/status": {
      "get": {
        "operationId": "get_v1_o11y_status",
        "summary": "GetO11yStatus reports whether a product's service is live: an in-cluster health probe with its measured latency, fused with the per-replica up inventory.",
        "description": "GetO11yStatus reports whether a product's service is live: an in-cluster\nhealth probe with its measured latency, fused with the per-replica up\ninventory. Infra health is not tenant-partitioned — a service is up or down\nfor everyone — so any validated caller is served, but an unvalidated one is\nrefused. A product with no backing workload answers down/unknown-service\nwithout probing anything; a malformed slug is a 400.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "query",
            "required": false,
            "description": "Product is the console product slug to probe, e.g. \"kms\". Required.",
            "schema": {
              "type": "string"
            },
            "example": "kms"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/statusResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/o11y/vm/query": {
      "get": {
        "operationId": "get_v1_o11y_vm_query",
        "summary": "Instant platform-infrastructure metric, for platform administrators",
        "description": "Answers VictoriaMetrics' native Prometheus JSON for one instant query, byte-for-byte — its own status code and envelope, unwrapped and un-reshaped, so the console's infrastructure-health board parses the response it was written against.\n\nPLATFORM SUDO ONLY. This is not tenant data: it is the whole fleet's `up{}` inventory, so it takes the same platform-sudo predicate the infra-log god-view takes, and every customer is 403. VictoriaMetrics has no per-request auth of its own — it is an internal ClusterIP — so this handler IS the access boundary, and it fails closed at every step.\n\nThe query is ALLOWLISTED, not passed through. The `query` parameter must equal one of the exact PromQL strings the boards issue, or it is a 400; there is no way to phrase a new one. That is what keeps a read proxy from becoming a generic PromQL exfiltration and DoS endpoint.",
        "tags": [
          "o11y"
        ]
      }
    },
    "/v1/o11y/vm/query_range": {
      "get": {
        "operationId": "get_v1_o11y_vm_query_range",
        "summary": "Ranged platform-infrastructure metric, for platform administrators",
        "description": "Answers VictoriaMetrics' native Prometheus JSON for one ranged query over start/end/step, byte-for-byte — its own status code and envelope, so the console's infrastructure trends render off the response as-is.\n\nPLATFORM SUDO ONLY, on the same fleet-wide `up{}` inventory and the same fixed board queries as the instant read; a customer is 403. VictoriaMetrics carries no per-request auth, so this handler is the access boundary.\n\nThe query is ALLOWLISTED to the exact PromQL the boards issue — anything else is a 400 — and start, end and step must each be positive integers before the request is forwarded. Range arguments are the other half of the same boundary: an unbounded step over an unbounded window is a DoS whether or not the query is on the list.",
        "tags": [
          "o11y"
        ]
      }
    },
    "/v1/o11y/{wildcard1}": {
      "delete": {
        "operationId": "delete_v1_o11y_by_wildcard1",
        "summary": "Remove a runtime object",
        "description": "Removes one of the observability runtime's own objects — a dashboard, an alert rule, a saved view — passing the runtime's answer through unchanged. The fallthrough for the resources only the runtime knows.\n\nA validated, org-scoped principal is required, and the delete is confined to that principal's own tenant, pinned server-side from its claim, so one tenant can never reach another's object. Before the runtime is initialized, 503.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_o11y_by_wildcard1",
        "summary": "Read a resource from the observability runtime",
        "description": "Serves the observability runtime's own read surface — dashboards, alert rules, saved views, the service and dependency inventory, and the trace, log and metric explorers — in the runtime's own shapes, passed through unchanged.\n\nIt is the FALLTHROUGH, not the front door. Every path this repo owns the shape of is registered ahead of it and wins the match; what reaches here is what only the runtime knows how to answer. The public contract is flat — one /v1/, no nested version — and the mapping onto the runtime's internal namespace happens at this one seam, so a caller never spells an engine version.\n\nA validated principal is required and the read is scoped to that principal's own org, pinned server-side from its claim; a client-supplied org header never survives ingress and there is no query parameter that widens the scope. Platform sudo passes without an org — the admin console reads before one is selected — and buys reach, not data: the runtime still scopes every read from the tenant it was given, so an org-less request answers org-less, never the fleet. Before the runtime is initialized, 503.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "options": {
        "operationId": "options_v1_o11y_by_wildcard1",
        "summary": "Not served by the observability runtime",
        "description": "Published because this address accepts every method, but the runtime routes nothing here: the request reaches it as an unrouted path and no telemetry is read or written.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patch_v1_o11y_by_wildcard1",
        "summary": "Update part of a runtime object",
        "description": "Applies a partial update to one of the observability runtime's own objects, in the runtime's own shapes, passed through unchanged. The fallthrough for the resources only the runtime knows.\n\nA validated, org-scoped principal is required, and the write is confined to that principal's own tenant, pinned server-side from its claim. Before the runtime is initialized, 503.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_o11y_by_wildcard1",
        "summary": "Create a runtime object, or run a query against telemetry",
        "description": "Carries the runtime's own writes and query posts — creating a dashboard, an alert rule or a saved view, and running the query bodies the explorers submit — in the runtime's own shapes, passed through unchanged.\n\nIt is the FALLTHROUGH: the builder query and the ingest routes this repo owns are registered ahead of it and win the match. A validated, org-scoped principal is required and the write lands in that principal's own tenant, pinned server-side.\n\nONE EXEMPTION, and it is deliberate: a Sentry error-ingest write presents a DSN public key, never a Hanzo session, so those two paths bypass the principal gate and are authenticated by the ingest verifier instead — which derives the org from the DSN itself and fails closed. The exemption is matched by method plus prefix plus suffix, never a broad prefix, so every read under the same subtree stays gated. Before the runtime is initialized, 503.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v1_o11y_by_wildcard1",
        "summary": "Replace a runtime object",
        "description": "Replaces one of the observability runtime's own objects — a dashboard, an alert rule, a saved view — in the runtime's own shapes, passed through unchanged. The fallthrough for the resources only the runtime knows.\n\nA validated, org-scoped principal is required, and the write is confined to that principal's own tenant: the org is minted from its claim at ingress, a client copy never survives, and nothing in the request can widen the scope. Before the runtime is initialized, 503.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "trace": {
        "operationId": "trace_v1_o11y_by_wildcard1",
        "summary": "Not served by the observability runtime",
        "description": "Published because this address accepts every method, but the runtime routes nothing here: the request reaches it as an unrouted path and no telemetry is read or written.",
        "tags": [
          "o11y"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sentry/{wildcard1}": {
      "delete": {
        "operationId": "delete_v1_sentry_by_wildcard1",
        "summary": "Delete a Sentry project",
        "description": "The one delete on the Sentry surface: removing a PROJECT, answering 204. Error issues, events and traces are not individually deletable — they are append-only telemetry, and their lifetime is retention's business, not an API call's.\n\nRequires a validated, org-scoped principal with edit rights; a viewer is refused. The delete is confined to the org minted from that principal's claim, so a project id belonging to another tenant is not found rather than removed. Deleting a project retires the DSN that fed it, so any SDK still pointed at that key stops being accepted. Before the runtime is initialized, 503.",
        "tags": [
          "sentry"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_sentry_by_wildcard1",
        "summary": "Read the caller org's errors on the Sentry surface",
        "description": "Serves the Sentry-compatible read surface — projects, error issues and one issue's occurrences, a single event, error logs, error-correlated traces and one trace's waterfall, and the event-rate stats — so a Sentry client or the error console reads its errors at the paths it already speaks.\n\nIt is the SAME runtime the observability surface serves, reached under a second path family, and there is NO rewrite: the runtime carries these routes literally. That is what makes this a product face rather than a translation layer. One runtime, two path families.\n\nA validated principal is required and the read is scoped to that principal's own org. Errors are a tenant's OWN data, so org membership is the whole admission test and there is deliberately no admin term on it — gating the product on platform sudo would make the only way to see your own errors a scope that shows you everyone's. Before the runtime is initialized, 503.",
        "tags": [
          "sentry"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "options": {
        "operationId": "options_v1_sentry_by_wildcard1",
        "summary": "Not served by the Sentry face",
        "description": "Published because this address accepts every method, but the Sentry face routes nothing here: the request reaches the runtime as an unrouted path and no issue, event or trace is touched.",
        "tags": [
          "sentry"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patch_v1_sentry_by_wildcard1",
        "summary": "Not served — the Sentry surface has no partial update",
        "description": "The Sentry face carries NO route for a partial update. The wildcard admits every method, so this operation exists as an address, but nothing behind it answers and a request lands on the runtime as an unrouted path.\n\nIt is documented rather than silently omitted because the useful thing to say is where to go instead: an issue's lifecycle — resolve, ignore, assign — is a REPLACE on that issue, not a patch, and it is the only mutable state on this surface. A client that reaches for a partial update here is looking for that call.",
        "tags": [
          "sentry"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_sentry_by_wildcard1",
        "summary": "Send events to the Sentry surface, or write on it",
        "description": "Carries every write on the Sentry-compatible surface: the SDK's error ingest, and the authenticated writes the console makes — creating a project, rotating a project's DSN key, and running a discover query over the events plane.\n\nTHE TWO ARE AUTHENTICATED DIFFERENTLY, and that is the rule to get right. An envelope or store submission presents a DSN public key, never a Hanzo session, so it is exempt from the principal gate and verified by the ingest key check instead — which derives the org from the DSN and fails closed. A keyless submission is a 401 from that verifier, not a 403 from the gate, and telling those two apart is how you tell the hops apart. Every other write here needs a validated, org-scoped principal, and creating or rotating requires an editor rather than a viewer.\n\nThe ingest exemption is matched by method plus prefix plus suffix, never a bare prefix, and the project segment must be a UUID — so no read is reachable through it. Before the runtime is initialized, 503.",
        "tags": [
          "sentry"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v1_sentry_by_wildcard1",
        "summary": "Move an error issue through its lifecycle",
        "description": "The one replace on the Sentry surface: updating an error ISSUE — resolving it, ignoring it, or assigning it — and answering the updated issue.\n\nNothing else here takes a replace. A project is created and deleted but never replaced, and the event and trace planes are append-only telemetry, so an issue's lifecycle is the only mutable state this face exposes.\n\nRequires a validated, org-scoped principal with edit rights; a viewer is refused. The write is confined to the org minted from that principal's claim, so an issue id belonging to another tenant is simply not found. Before the runtime is initialized, 503.",
        "tags": [
          "sentry"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "trace": {
        "operationId": "trace_v1_sentry_by_wildcard1",
        "summary": "Not served by the Sentry face",
        "description": "Published because this address accepts every method, but the Sentry face routes nothing here: the request reaches the runtime as an unrouted path and no issue, event or trace is touched.",
        "tags": [
          "sentry"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/summary": {
      "get": {
        "operationId": "get_v1_summary",
        "summary": "GetSummary reports whether the platform is up.",
        "description": "GetSummary reports whether the platform is up. It returns the public status\ndocument: the incidents currently open against Hanzo's own services, derived\nfrom the fleet health probes, plus the address of the human status page. No\nauthentication is required and no tenant data is involved — the answer is the\nsame for every caller.\n\nA service that fails its health probe becomes one incident naming that service.\nWhen the availability source itself cannot be read the endpoint answers 503\nrather than an empty incident list, because \"we cannot tell\" and \"everything is\nfine\" are different answers and only one of them is true.",
        "tags": [
          "summary"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusSummary"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StatusComponent": {
        "properties": {
          "current_status": {
            "description": "CurrentStatus is this component's own condition: \"full_outage\" for a\nservice that did not answer its health probe at all.",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "StatusIncident": {
        "properties": {
          "affected_components": {
            "items": {
              "$ref": "#/components/schemas/StatusComponent"
            },
            "type": "array"
          },
          "current_worst_impact": {
            "description": "CurrentWorstImpact is the incident's impact on the PLATFORM, which is not\nthe same question as the component's own condition above.",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "last_update_at": {
            "description": "LastUpdateAt is when the failing measurement this incident reports was\nread, RFC3339 UTC.",
            "type": "string"
          },
          "last_update_message": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "StatusMaintenance": {
        "properties": {
          "affected_components": {
            "items": {
              "$ref": "#/components/schemas/StatusComponent"
            },
            "type": "array"
          },
          "ends_at": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "last_update_at": {
            "type": "string"
          },
          "last_update_message": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "starts_at": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "StatusSummary": {
        "properties": {
          "checked_at": {
            "description": "CheckedAt is when the underlying availability read was taken, RFC3339 UTC.\nNot part of the status-page schema the panel parses (which ignores unknown\nfields); it is here because a status document with no timestamp cannot be\ntold apart from a stale one.",
            "type": "string"
          },
          "in_progress_maintenances": {
            "items": {
              "$ref": "#/components/schemas/StatusMaintenance"
            },
            "type": "array"
          },
          "ongoing_incidents": {
            "items": {
              "$ref": "#/components/schemas/StatusIncident"
            },
            "type": "array"
          },
          "page_title": {
            "type": "string"
          },
          "page_url": {
            "description": "PageURL is the HUMAN status page — an HTML page for people, distinct from\nthis JSON endpoint. Every link in this document points there.",
            "type": "string"
          },
          "scheduled_maintenances": {
            "items": {
              "$ref": "#/components/schemas/StatusMaintenance"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "addItemsIn": {
        "properties": {
          "id": {
            "description": "ID is the annotation queue to add to, from the path.",
            "type": "string"
          },
          "items": {
            "description": "Items are the objects to enqueue for review, 1–200 per request. Each names\nexactly one object.",
            "items": {
              "$ref": "#/components/schemas/itemInput"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "annItemList": {
        "properties": {
          "data": {
            "description": "Data is the page of items.",
            "items": {
              "$ref": "#/components/schemas/annItemView"
            },
            "type": "array"
          },
          "meta": {
            "$ref": "#/components/schemas/listMeta",
            "description": "Meta is the paging that produced it."
          }
        },
        "type": "object"
      },
      "annItemView": {
        "properties": {
          "assignee": {
            "description": "Assignee is the reviewer it is for, omitted when unassigned.",
            "type": "string"
          },
          "completedAt": {
            "description": "CompletedAt is when it was reviewed, omitted while pending.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when it was enqueued, RFC3339 in UTC.",
            "type": "string"
          },
          "id": {
            "description": "ID is the item's id.",
            "type": "string"
          },
          "objectId": {
            "description": "ObjectID is the referenced object's id.",
            "type": "string"
          },
          "objectType": {
            "description": "ObjectType is what it references: TRACE, OBSERVATION or SESSION.",
            "type": "string"
          },
          "observationId": {
            "description": "ObservationID echoes objectId when objectType is OBSERVATION.",
            "type": "string"
          },
          "queueId": {
            "description": "QueueID is the queue it belongs to.",
            "type": "string"
          },
          "sessionId": {
            "description": "SessionID echoes objectId when objectType is SESSION.",
            "type": "string"
          },
          "status": {
            "description": "Status is PENDING or COMPLETED.",
            "type": "string"
          },
          "traceId": {
            "description": "TraceID echoes objectId when objectType is TRACE.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when it last changed, RFC3339 in UTC.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "annItemsCreated": {
        "properties": {
          "data": {
            "description": "Data is every item created by this request, in request order.",
            "items": {
              "$ref": "#/components/schemas/annItemView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "annQueueDeleted": {
        "properties": {
          "deleted": {
            "description": "Deleted is true when the queue (and its items) were removed.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "annQueueDetailView": {
        "properties": {
          "completedCount": {
            "description": "CompletedCount is how many have been reviewed.",
            "type": "integer"
          },
          "createdAt": {
            "description": "CreatedAt is when it was created, RFC3339 in UTC.",
            "type": "string"
          },
          "description": {
            "description": "Description is its free text, omitted when empty.",
            "type": "string"
          },
          "id": {
            "description": "ID is the queue's id.",
            "type": "string"
          },
          "items": {
            "description": "Items is the queue's first page of items (up to 100).",
            "items": {
              "$ref": "#/components/schemas/annItemView"
            },
            "type": "array"
          },
          "name": {
            "description": "Name is its display handle.",
            "type": "string"
          },
          "pendingCount": {
            "description": "PendingCount is how many of its items are still awaiting review.",
            "type": "integer"
          },
          "scoreConfigIds": {
            "description": "ScoreConfigIDs are the eval score-configs reviewers grade against.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "updatedAt": {
            "description": "UpdatedAt is when it last changed, RFC3339 in UTC.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "annQueueList": {
        "properties": {
          "data": {
            "description": "Data is the page of queues.",
            "items": {
              "$ref": "#/components/schemas/annQueueView"
            },
            "type": "array"
          },
          "meta": {
            "$ref": "#/components/schemas/listMeta",
            "description": "Meta is the paging that produced it."
          }
        },
        "type": "object"
      },
      "annQueueView": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when it was created, RFC3339 in UTC.",
            "type": "string"
          },
          "description": {
            "description": "Description is its free text, omitted when empty.",
            "type": "string"
          },
          "id": {
            "description": "ID is the queue's id.",
            "type": "string"
          },
          "name": {
            "description": "Name is its display handle.",
            "type": "string"
          },
          "scoreConfigIds": {
            "description": "ScoreConfigIDs are the eval score-configs reviewers grade against.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "updatedAt": {
            "description": "UpdatedAt is when it last changed, RFC3339 in UTC.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "createQueueReq": {
        "properties": {
          "description": {
            "description": "Description is optional free text, up to 512 characters.",
            "type": "string"
          },
          "name": {
            "description": "Name is the queue's display handle, 1–128 printable characters. It must be\nunique within the org's project. Required.",
            "type": "string"
          },
          "scoreConfigIds": {
            "description": "ScoreConfigIDs are the eval score-configs reviewers grade against.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "deployment": {
        "properties": {
          "instance": {
            "type": "string"
          },
          "up": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "itemInput": {
        "properties": {
          "assignee": {
            "description": "Assignee is the reviewer this item is for, up to 512 characters.",
            "type": "string"
          },
          "objectId": {
            "description": "ObjectID is the referenced object's id, paired with objectType.",
            "type": "string"
          },
          "objectType": {
            "description": "ObjectType is TRACE, OBSERVATION or SESSION — the generic form, paired\nwith objectId.",
            "type": "string"
          },
          "observationId": {
            "description": "ObservationID references an observation — the console-friendly form of\nobjectType=OBSERVATION.",
            "type": "string"
          },
          "sessionId": {
            "description": "SessionID references a session — the console-friendly form of\nobjectType=SESSION.",
            "type": "string"
          },
          "traceId": {
            "description": "TraceID references a trace — the console-friendly form of\nobjectType=TRACE.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "listMeta": {
        "properties": {
          "limit": {
            "description": "Limit is how many rows one page holds.",
            "type": "integer"
          },
          "page": {
            "description": "Page is the 1-based page this response is.",
            "type": "integer"
          },
          "totalItems": {
            "description": "TotalItems is how many rows match in total.",
            "type": "integer"
          },
          "totalPages": {
            "description": "TotalPages is ceil(totalItems/limit), at least 1.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "logLine": {
        "properties": {
          "body": {
            "type": "string"
          },
          "severity": {
            "description": "INFO | WARN | ERROR | ...",
            "type": "string"
          },
          "source": {
            "description": "\"infra\" (stdout) | \"request\" (org request log)",
            "type": "string"
          },
          "ts": {
            "description": "RFC3339 (UTC)",
            "type": "string"
          },
          "tsNano": {
            "description": "nanosecond cursor",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "logsResponse": {
        "properties": {
          "lines": {
            "items": {
              "$ref": "#/components/schemas/logLine"
            },
            "type": "array"
          },
          "nextCursor": {
            "description": "pass back as ?sinceNs for the next tail poll",
            "type": "integer"
          },
          "product": {
            "type": "string"
          },
          "view": {
            "description": "\"infra\" (admin) | \"request\" (per-org)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "metricsResponse": {
        "properties": {
          "product": {
            "type": "string"
          },
          "range": {
            "properties": {
              "sinceSec": {
                "type": "integer"
              },
              "stepSec": {
                "type": "integer"
              }
            },
            "type": "object"
          },
          "series": {
            "properties": {
              "errors": {
                "items": {
                  "$ref": "#/components/schemas/point"
                },
                "type": "array"
              },
              "latencyP50Ms": {
                "items": {
                  "$ref": "#/components/schemas/point"
                },
                "type": "array"
              },
              "latencyP95Ms": {
                "items": {
                  "$ref": "#/components/schemas/point"
                },
                "type": "array"
              },
              "requests": {
                "items": {
                  "$ref": "#/components/schemas/point"
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "summary": {
            "properties": {
              "errorRate": {
                "type": "number"
              },
              "errors": {
                "type": "integer"
              },
              "p95Ms": {
                "type": "number"
              },
              "requests": {
                "type": "integer"
              }
            },
            "type": "object"
          },
          "usage": {
            "properties": {
              "calls": {
                "type": "integer"
              },
              "costCents": {
                "type": "integer"
              },
              "series": {
                "items": {
                  "$ref": "#/components/schemas/usageBucket"
                },
                "type": "array"
              },
              "tokens": {
                "type": "integer"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "point": {
        "properties": {
          "t": {
            "description": "T is the bucket start, RFC3339 in UTC.",
            "type": "string"
          },
          "v": {
            "description": "V is the bucket's value.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "statusResult": {
        "properties": {
          "checkedAt": {
            "type": "string"
          },
          "deployments": {
            "items": {
              "$ref": "#/components/schemas/deployment"
            },
            "type": "array"
          },
          "latencyMs": {
            "type": "integer"
          },
          "product": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "up": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "updateItemIn": {
        "properties": {
          "assignee": {
            "description": "Assignee replaces the reviewer this item is for, up to 512 characters.",
            "type": "string"
          },
          "id": {
            "description": "ID is the annotation queue the item belongs to, from the path.",
            "type": "string"
          },
          "itemId": {
            "description": "ItemID is the item to update, from the path.",
            "type": "string"
          },
          "status": {
            "description": "Status is the item's new review state: PENDING or COMPLETED. Required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "updateQueueIn": {
        "properties": {
          "description": {
            "description": "Description replaces the free text when present, up to 512 characters.",
            "type": "string"
          },
          "id": {
            "description": "ID is the annotation queue to update, from the path.",
            "type": "string"
          },
          "name": {
            "description": "Name replaces the queue's display handle when present, 1–128 printable\ncharacters and unique within the project.",
            "type": "string"
          },
          "scoreConfigIds": {
            "description": "ScoreConfigIDs replaces the whole score-config set when present.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "usageBucket": {
        "properties": {
          "calls": {
            "description": "Calls is how many LLM calls landed in the bucket.",
            "type": "integer"
          },
          "costCents": {
            "description": "CostCents is what they cost, in cents.",
            "type": "integer"
          },
          "t": {
            "description": "T is the bucket start, RFC3339 in UTC.",
            "type": "string"
          },
          "tokens": {
            "description": "Tokens is how many tokens they consumed.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}
