{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package iam is Hanzo's identity provider: users, organizations, applications, and the OIDC/OAuth2 endpoints every Hanzo service authenticates against.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "compat"
    },
    {
      "name": "iam"
    }
  ],
  "paths": {
    "/.well-known/jwks": {
      "get": {
        "operationId": "get_.well-known_jwks",
        "summary": "Publishes the public keys that verify the tokens issued here — the one URL you point a service at so it can check a token itself, offline, without calling back and without holding any secret of ours.",
        "description": "Publishes the public keys that verify the tokens issued here — the\none URL you point a service at so it can check a token itself, offline, without\ncalling back and without holding any secret of ours.\n\nKeys appear here before they start signing and stay after they stop, so a\nrotation never leaves a live token unverifiable. Nothing private is ever\npublished."
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "operationId": "get_.well-known_oauth-authorization-server",
        "summary": "Returns the OpenID Connect discovery document — the one URL you point a standards-compliant client at so it can find every other endpoint on its own, instead of you configuring them by hand.",
        "description": "Returns the OpenID Connect discovery document — the one URL you\npoint a standards-compliant client at so it can find every other endpoint on\nits own, instead of you configuring them by hand.\n\nIt advertises only what is actually implemented, so a client that reads it\ncannot ask for a flow that will fail: the authorization-code flow, PKCE with\nS256, the supported grants, and the signing algorithms whose public keys the\nJWKS really publishes.\n\nThe issuer is derived from the host you asked on and is the same value the\ntokens carry, so a client that pins the issuer never sees it change."
      }
    },
    "/.well-known/openid-configuration": {
      "get": {
        "operationId": "get_.well-known_openid-configuration",
        "summary": "Returns the OpenID Connect discovery document — the one URL you point a standards-compliant client at so it can find every other endpoint on its own, instead of you configuring them by hand.",
        "description": "Returns the OpenID Connect discovery document — the one URL you\npoint a standards-compliant client at so it can find every other endpoint on\nits own, instead of you configuring them by hand.\n\nIt advertises only what is actually implemented, so a client that reads it\ncannot ask for a flow that will fail: the authorization-code flow, PKCE with\nS256, the supported grants, and the signing algorithms whose public keys the\nJWKS really publishes.\n\nThe issuer is derived from the host you asked on and is the same value the\ntokens carry, so a client that pins the issuer never sees it change."
      }
    },
    "/v1/iam/.well-known/jwks": {
      "get": {
        "operationId": "get_iam_.well-known_jwks",
        "summary": "Publishes the public keys that verify the tokens issued here — the one URL you point a service at so it can check a token itself, offline, without calling back and without holding any secret of ours.",
        "description": "Publishes the public keys that verify the tokens issued here — the\none URL you point a service at so it can check a token itself, offline, without\ncalling back and without holding any secret of ours.\n\nKeys appear here before they start signing and stay after they stop, so a\nrotation never leaves a live token unverifiable. Nothing private is ever\npublished.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/.well-known/oauth-authorization-server": {
      "get": {
        "operationId": "get_iam_.well-known_oauth-authorization-server",
        "summary": "Returns the OpenID Connect discovery document — the one URL you point a standards-compliant client at so it can find every other endpoint on its own, instead of you configuring them by hand.",
        "description": "Returns the OpenID Connect discovery document — the one URL you\npoint a standards-compliant client at so it can find every other endpoint on\nits own, instead of you configuring them by hand.\n\nIt advertises only what is actually implemented, so a client that reads it\ncannot ask for a flow that will fail: the authorization-code flow, PKCE with\nS256, the supported grants, and the signing algorithms whose public keys the\nJWKS really publishes.\n\nThe issuer is derived from the host you asked on and is the same value the\ntokens carry, so a client that pins the issuer never sees it change.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/.well-known/openid-configuration": {
      "get": {
        "operationId": "get_iam_.well-known_openid-configuration",
        "summary": "Returns the OpenID Connect discovery document — the one URL you point a standards-compliant client at so it can find every other endpoint on its own, instead of you configuring them by hand.",
        "description": "Returns the OpenID Connect discovery document — the one URL you\npoint a standards-compliant client at so it can find every other endpoint on\nits own, instead of you configuring them by hand.\n\nIt advertises only what is actually implemented, so a client that reads it\ncannot ask for a flow that will fail: the authorization-code flow, PKCE with\nS256, the supported grants, and the signing algorithms whose public keys the\nJWKS really publishes.\n\nThe issuer is derived from the host you asked on and is the same value the\ntokens carry, so a client that pins the issuer never sees it change.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/account": {
      "get": {
        "operationId": "get_iam_account",
        "summary": "Returns the signed-in person's own account and the organization they belong to — what a console reads to draw the account menu.",
        "description": "Returns the signed-in person's own account and the organization\nthey belong to — what a console reads to draw the account menu.\n\nPasswords, API secrets and MFA material are stripped. It answers for a session\ncookie or a bearer token alike.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/add-application": {
      "post": {
        "operationId": "post_iam_add-application",
        "summary": "Registers an application in your organization — one product or site your people sign in to, with its own client credentials, sign-in methods and allowed redirect URIs.",
        "description": "Registers an application in your organization — one product or site your\npeople sign in to, with its own client credentials, sign-in methods and\nallowed redirect URIs.\n\nThe older spelling of POST /v1/iam/application. A name already used in the\norganization is refused rather than overwritten.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/add-membership": {
      "post": {
        "operationId": "post_iam_add-membership",
        "summary": "Lets a person or an application act in an organization.",
        "description": "Lets a person or an application act in an organization. It is the grant\nbehind \"add someone to the team\", and it is safe to repeat — granting a\nmembership that already exists changes nothing. Granting membership IS the org's authority to give, so it takes the\nsame gate a write to that org's own registry row takes: a SuperAdmin, an admin\nof the org itself, or an org-admin-capable confidential client. One rule, one\nplace (internal/authz).",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/add-organization": {
      "post": {
        "operationId": "post_iam_add-organization",
        "summary": "Creates an organization — the account everything else in your directory hangs from.",
        "description": "Creates an organization — the account everything else in your directory\nhangs from. Users, applications, roles, projects and workspaces are all\nnamed inside one organization, so this is the first write in a new tenant.\n\nThe older spelling of POST /v1/iam/organizations. Both reach the same\ncreate, so a name already taken is refused here too.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.CreateOrganizationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/add-project": {
      "post": {
        "operationId": "post_iam_add-project",
        "summary": "Creates a project inside your organization — the scope people pick between when their work is separated by product or client rather than by team.",
        "description": "Creates a project inside your organization — the scope people pick between\nwhen their work is separated by product or client rather than by team.\n\nThe older spelling of POST /v1/iam/projects. Creating one takes an\nadministrator of the owning organization.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/add-provider": {
      "post": {
        "operationId": "post_iam_add-provider",
        "summary": "Adds an identity provider your people can sign in with, or a service your applications send through — a social or enterprise login, an email or SMS sender, a storage or payment connector.",
        "description": "Adds an identity provider your people can sign in with, or a service your\napplications send through — a social or enterprise login, an email or SMS\nsender, a storage or payment connector.\n\nA provider is configured once here and then switched on per application, so\nseveral applications can share one set of credentials.\n\nThe older spelling of POST /v1/iam/providers.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Provider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/add-role": {
      "post": {
        "operationId": "post_iam_add-role",
        "summary": "Creates a role — a named group of people that permissions are granted to.",
        "description": "Creates a role — a named group of people that permissions are granted to.\nGranting to a role rather than to each person is what keeps access correct\nas your team changes: add someone to the role and they inherit everything\nit can do.\n\nThe older spelling of POST /v1/iam/roles.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.roles.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/add-user": {
      "post": {
        "operationId": "post_iam_add-user",
        "summary": "Adds a person to your organization and, if you send a password, sets the one they will sign in with.",
        "description": "Adds a person to your organization and, if you send a password, sets the\none they will sign in with. The password is hashed before it is stored and\nis never returned to you or to anyone else.\n\nUsernames are checked against one rule wherever an account is created —\nthis verb, password signup, a social sign-in, or SCIM — so a name accepted\nhere is a name accepted everywhere.\n\nThe older spelling of POST /v1/iam/users, and it posts the user's fields at\nthe top level rather than wrapped in {user, password}.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.userBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/add-workspace": {
      "post": {
        "operationId": "post_iam_add-workspace",
        "summary": "Creates a workspace inside your organization — the scope a team works in, alongside projects rather than instead of them.",
        "description": "Creates a workspace inside your organization — the scope a team works in,\nalongside projects rather than instead of them.\n\nThe older spelling of POST /v1/iam/workspaces. Creating one takes an\nadministrator of the owning organization.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.workspaces.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/admin/applications/upsert": {
      "post": {
        "operationId": "upsertApplication",
        "summary": "Creates an application or updates it in place, so a deployment can declare the applications it needs and run the same declaration on every environment and on every redeploy.",
        "description": "Creates an application or updates it in place, so a\ndeployment can declare the applications it needs and run the same declaration\non every environment and on every redeploy.\n\nIt says which of the two it did. Leave the client secret out and the existing\none is kept — so re-running your deployment does not rotate a credential your\nrunning services are holding.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.registration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.reply"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.reply"
                }
              }
            },
            "description": "bad request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.reply"
                }
              }
            },
            "description": "unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.reply"
                }
              }
            },
            "description": "internal server error"
          }
        }
      }
    },
    "/v1/iam/admin/provision": {
      "post": {
        "operationId": "post_iam_admin_provision",
        "summary": "Sets up an account on someone's behalf — the same onboarding a person gets themselves, driven by one of your own services instead of by them.",
        "description": "Sets up an account on someone's behalf — the same\nonboarding a person gets themselves, driven by one of your own services\ninstead of by them.\n\nIt authenticates as your service rather than as a person, which is why the\nperson to provision is named in the request. The setup it performs is\nidentical to self-service onboarding; there is one provisioning path, not\ntwo that can drift.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/admin/users/upsert": {
      "post": {
        "operationId": "upsertUser",
        "summary": "Creates a person or updates them in place, so a deployment can declare the accounts it needs and re-run that declaration safely.",
        "description": "Creates a person or updates them in place, so a deployment can\ndeclare the accounts it needs and re-run that declaration safely.\n\nPasswords are hashed before they are stored. Leave the password out and their\ncurrent one is kept, so a redeploy never locks somebody out.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.person"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.reply"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.reply"
                }
              }
            },
            "description": "bad request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.reply"
                }
              }
            },
            "description": "unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.reply"
                }
              }
            },
            "description": "internal server error"
          }
        }
      }
    },
    "/v1/iam/application": {
      "delete": {
        "operationId": "delete_iam_application",
        "summary": "Removes an application.",
        "description": "Removes an application. Anyone mid-sign-in through it is\nturned away and its client credentials stop working, so retire the integration\nbefore deleting it.",
        "tags": [
          "iam",
          "compat"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.DeleteResult"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "get": {
        "operationId": "get_iam_application",
        "summary": "Returns one application: its sign-in methods, its allowed redirect URIs and the client credentials your integration authenticates with.",
        "description": "Returns one application: its sign-in methods, its allowed\nredirect URIs and the client credentials your integration authenticates with.",
        "tags": [
          "iam",
          "compat"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Application"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_iam_application",
        "summary": "Registers an application in your organization — one product or site your people sign in to, with its own client credentials, sign-in methods and allowed redirect URIs.",
        "description": "Registers an application in your organization — one product or site\nyour people sign in to, with its own client credentials, sign-in methods and\nallowed redirect URIs. A name already used in the organization is refused\nrather than overwritten.\n\nExported so the legacy add-application alias reuses this exact path — one\ncreate, two spellings.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Application"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_iam_application",
        "summary": "Changes an application's display, its sign-in methods and the redirect URIs it may return to — the call that makes login work from a new host.",
        "description": "Changes an application's display, its sign-in methods and the redirect\nURIs it may return to — the call that makes login work from a new host. Which\norganization it belongs to and what it is named are fixed when it is created\nand are not editable here.\n\nExported so the legacy update-application alias reuses this exact path — one\nupdate, two spellings.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Application"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/applications": {
      "get": {
        "operationId": "get_iam_applications",
        "summary": "Returns the applications in one organization, newest first — each product or site your people sign in to, with the sign-in methods and redirect URIs it allows.",
        "description": "Returns the applications in one organization, newest first —\neach product or site your people sign in to, with the sign-in methods and\nredirect URIs it allows.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.ApplicationListResult"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_iam_applications",
        "summary": "Registers an application in your organization — one product or site your people sign in to, with its own client credentials, sign-in methods and allowed redirect URIs.",
        "description": "Registers an application in your organization — one product or site\nyour people sign in to, with its own client credentials, sign-in methods and\nallowed redirect URIs. A name already used in the organization is refused\nrather than overwritten.\n\nExported so the legacy add-application alias reuses this exact path — one\ncreate, two spellings.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Application"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/applications/delete": {
      "post": {
        "operationId": "post_iam_applications_delete",
        "summary": "Removes an application.",
        "description": "Removes an application. Anyone mid-sign-in through it is\nturned away and its client credentials stop working, so retire the integration\nbefore deleting it.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.ApplicationRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.DeleteResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/applications/get": {
      "get": {
        "operationId": "get_iam_applications_get",
        "summary": "Returns one application: its sign-in methods, its allowed redirect URIs and the client credentials your integration authenticates with.",
        "description": "Returns one application: its sign-in methods, its allowed\nredirect URIs and the client credentials your integration authenticates with.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Application"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/applications/update": {
      "post": {
        "operationId": "post_iam_applications_update",
        "summary": "Changes an application's display, its sign-in methods and the redirect URIs it may return to — the call that makes login work from a new host.",
        "description": "Changes an application's display, its sign-in methods and the redirect\nURIs it may return to — the call that makes login work from a new host. Which\norganization it belongs to and what it is named are fixed when it is created\nand are not editable here.\n\nExported so the legacy update-application alias reuses this exact path — one\nupdate, two spellings.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Application"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/audit-logs": {
      "get": {
        "operationId": "get_iam_audit-logs",
        "summary": "Returns your organization's audit trail, newest first — who did what, when, and from where.",
        "description": "Returns your organization's audit trail, newest first — who did\nwhat, when, and from where. It is the record you reach for during a security\nreview or an incident.\n\nYou see your own organization's audit trail and no one else's; which organization that\nis comes from your credentials, not from the request.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.ListOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_iam_audit-logs",
        "summary": "Records an audit entry, so activity from your own systems lands in the same trail as everything the Hanzo Cloud records for you.",
        "description": "Records an audit entry, so activity from your own systems lands in the\nsame trail as everything the Hanzo Cloud records for you.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.auditlogs.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.AuditLog"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/audit-logs/delete": {
      "post": {
        "operationId": "post_iam_audit-logs_delete",
        "summary": "Removes an audit entry.",
        "description": "Removes an audit entry. Retention policy is normally what should expire\na trail; deleting by hand leaves a gap a reviewer will notice.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.DeleteOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/audit-logs/get": {
      "post": {
        "operationId": "post_iam_audit-logs_get",
        "summary": "Returns one audit entry in full: the action, the person or key behind it, and the request it came in on.",
        "description": "Returns one audit entry in full: the action, the person or key behind it,\nand the request it came in on.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.AuditLog"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/audit-logs/update": {
      "post": {
        "operationId": "post_iam_audit-logs_update",
        "summary": "Corrects an audit entry.",
        "description": "Corrects an audit entry. The trail is append-only in normal operation\nand nothing in the Hanzo Cloud rewrites it — this exists for an administrator\nto correct an entry their own systems recorded wrongly.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.auditlogs.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.AuditLog"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/auth/application": {
      "get": {
        "operationId": "get_iam_auth_application",
        "summary": "Returns everything a login screen needs to draw itself for one application: its branding, and each sign-in method it offers with the provider details that method needs.",
        "description": "Returns everything a login screen needs to draw itself for one\napplication: its branding, and each sign-in method it offers with the provider\ndetails that method needs.\n\nThe client secret is masked. Read before anyone has signed in, so it carries\nonly what is safe for a browser to see.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "required": false,
            "description": "ClientId is the application's OAuth client id — the one field that selects\nwhich login screen this is.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseType",
            "in": "query",
            "required": false,
            "description": "ResponseType is the OAuth response type the screen will ask for. Only \"code\"\nis served; anything else is refused here rather than at the authorize leg,\nwhere the person has already typed a password.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Answer"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Answer"
                }
              }
            },
            "description": "bad request"
          }
        }
      }
    },
    "/v1/iam/auth/methods": {
      "get": {
        "operationId": "get_iam_auth_methods",
        "summary": "Returns the sign-in methods one application actually has switched on, so a login screen can render the right buttons for it without you hard-coding a list that drifts the moment you add a provider.",
        "description": "Returns the sign-in methods one application actually has switched\non, so a login screen can render the right buttons for it without you\nhard-coding a list that drifts the moment you add a provider.\n\nPublic by design: it is read before anyone has signed in, and it exposes only\nwhich methods exist, never their credentials.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "required": false,
            "description": "ClientId is the application's OAuth client id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Answer"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Answer"
                }
              }
            },
            "description": "bad request"
          }
        }
      }
    },
    "/v1/iam/certs": {
      "get": {
        "operationId": "get_iam_certs",
        "summary": "Returns your organization's signing certificates, newest first — the keys the tokens your applications verify are signed with.",
        "description": "Returns your organization's signing certificates, newest first — the keys\nthe tokens your applications verify are signed with. Private key material is\nmasked.\n\nYou see your own organization's certificates and no one else's; which\norganization that is comes from your credentials, not from the request, so a\nquery parameter can never widen the listing.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.certs.ListOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_iam_certs",
        "summary": "Adds a signing certificate your applications can verify tokens against — the call you make to bring your own key, or to stage the next one before a rotation.",
        "description": "Adds a signing certificate your applications can verify tokens against\n— the call you make to bring your own key, or to stage the next one before a\nrotation. A name already used in your organization is refused.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Cert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Cert"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/certs/delete": {
      "post": {
        "operationId": "post_iam_certs_delete",
        "summary": "Removes a signing certificate.",
        "description": "Removes a signing certificate. Tokens signed with it can no longer be\nverified, so retire it only once nothing is still presenting them.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.certs.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.certs.DeleteOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/certs/get": {
      "post": {
        "operationId": "post_iam_certs_get",
        "summary": "Returns one signing certificate — its algorithm, its validity window and its public half.",
        "description": "Returns one signing certificate — its algorithm, its validity window and\nits public half. The private key is masked.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.certs.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Cert"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/certs/update": {
      "post": {
        "operationId": "post_iam_certs_update",
        "summary": "Changes a signing certificate's settings.",
        "description": "Changes a signing certificate's settings. What it is called does not\nchange, and neither does when it was added.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Cert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Cert"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/consent": {
      "get": {
        "operationId": "get_iam_consent",
        "summary": "Returns the calling person's own privacy and communication choices.",
        "description": "Returns the calling person's own privacy and communication\nchoices. Somebody who has never set them gets the defaults rather than\nnothing, so a consent screen always has something to show — insights on, and\ntraining UNANSWERED, which is the state that means the screen still has to ask.",
        "tags": [
          "iam"
        ]
      },
      "put": {
        "operationId": "put_iam_consent",
        "summary": "Records the calling person's privacy and communication choices.",
        "description": "Records the calling person's privacy and communication\nchoices. Only their own — there is no way to set consent for somebody else.\n\nSend only the answers you are changing. A question you leave out keeps the\nanswer it already had, so a screen that saves one switch never revokes the\nother, and two screens saving at once do not undo each other.\n\nAn answer this version does not recognize is refused here rather than stored,\nso nothing is ever persisted for a later reader to have to interpret.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/delete-application": {
      "post": {
        "operationId": "post_iam_delete-application",
        "summary": "Deletes an application.",
        "description": "Deletes an application. Anyone mid-sign-in through it is turned away and\nits client credentials stop working, so retire the integration first.\n\nThe older spelling of DELETE /v1/iam/application.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/delete-membership": {
      "post": {
        "operationId": "post_iam_delete-membership",
        "summary": "Takes away a person's or an application's right to act in an organization.",
        "description": "Takes away a person's or an application's right to act in an\norganization. Their account survives; what ends is their access to that\norganization. Revoking a membership that is already gone reports that nothing\nwas removed rather than failing, so a retry is safe. It is the mirror of ensure and takes the SAME gate:\nrevoking membership is the org's authority to give or take, so a SuperAdmin, an\nadmin of the org itself, or an org-admin-capable confidential client. Idempotent\nthrough the store — deleting an absent membership reports removed=false, never an\nerror — so a retried revoke is safe.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/delete-mfa": {
      "post": {
        "operationId": "post_iam_delete-mfa",
        "summary": "Turns a factor off, so sign-in stops asking for it.",
        "description": "Turns a factor off, so sign-in stops asking for it. Naming no factor turns\noff ALL of them — the reset path. People may do this for themselves; doing it for\nsomebody else takes an administrator, which is what makes it the way back in when a\nphone is lost.\n\nThe recovery codes go with the last factor: they are the way past a challenge, so\nkeeping them alive for an account with nothing to challenge would leave a standing\ncredential behind.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/delete-organization": {
      "post": {
        "operationId": "post_iam_delete-organization",
        "summary": "Deletes an organization and everything named inside it — its users, applications, roles, projects and workspaces.",
        "description": "Deletes an organization and everything named inside it — its users,\napplications, roles, projects and workspaces. There is no undo, and every\nsession issued under it stops working.\n\nThe older spelling of POST /v1/iam/organizations/delete.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.DeleteOrganizationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/delete-project": {
      "post": {
        "operationId": "post_iam_delete-project",
        "summary": "Deletes a project.",
        "description": "Deletes a project. The people and roles in your organization are unchanged;\nwhat goes is the scope itself, so anything addressed by it must move first.\n\nThe older spelling of POST /v1/iam/projects/delete.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.projects.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/delete-provider": {
      "post": {
        "operationId": "post_iam_delete-provider",
        "summary": "Removes a provider.",
        "description": "Removes a provider. Sign-in through it stops for every application that\nused it, so detach those applications first if they have no other method.\n\nThe older spelling of POST /v1/iam/providers/delete.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Provider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/delete-role": {
      "post": {
        "operationId": "post_iam_delete-role",
        "summary": "Deletes a role.",
        "description": "Deletes a role. Everyone in it loses the access it carried; their accounts\nand any other roles they hold are untouched.\n\nThe older spelling of POST /v1/iam/roles/delete.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.roles.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/delete-user": {
      "post": {
        "operationId": "post_iam_delete-user",
        "summary": "Removes a person from your organization.",
        "description": "Removes a person from your organization. Their sessions stop working and\nthe account is gone, not suspended — to keep the record and only stop\nsign-in, update the user instead.\n\nThe older spelling of POST /v1/iam/users/delete.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.userBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/delete-workspace": {
      "post": {
        "operationId": "post_iam_delete-workspace",
        "summary": "Deletes a workspace.",
        "description": "Deletes a workspace. The people and roles in your organization are\nunchanged; what goes is the scope itself.\n\nThe older spelling of POST /v1/iam/workspaces/delete.",
        "tags": [
          "iam",
          "compat"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.workspaces.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/get-account": {
      "get": {
        "operationId": "get_iam_get-account",
        "summary": "Returns the signed-in person's own account and the organization they belong to — what a console reads to draw the account menu.",
        "description": "Returns the signed-in person's own account and the organization\nthey belong to — what a console reads to draw the account menu.\n\nPasswords, API secrets and MFA material are stripped. It answers for a session\ncookie or a bearer token alike.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-app-login": {
      "get": {
        "operationId": "get_iam_get-app-login",
        "summary": "Returns everything a login screen needs to draw itself for one application: its branding, and each sign-in method it offers with the provider details that method needs.",
        "description": "Returns everything a login screen needs to draw itself for one\napplication: its branding, and each sign-in method it offers with the provider\ndetails that method needs.\n\nThe client secret is masked. Read before anyone has signed in, so it carries\nonly what is safe for a browser to see.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "required": false,
            "description": "ClientId is the application's OAuth client id — the one field that selects\nwhich login screen this is.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseType",
            "in": "query",
            "required": false,
            "description": "ResponseType is the OAuth response type the screen will ask for. Only \"code\"\nis served; anything else is refused here rather than at the authorize leg,\nwhere the person has already typed a password.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Answer"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Answer"
                }
              }
            },
            "description": "bad request"
          }
        }
      }
    },
    "/v1/iam/get-application": {
      "get": {
        "operationId": "get_iam_get-application",
        "summary": "Reads one record — the older spelling of the single reads on the REST surface, over the same data and the same permissions.",
        "description": "Reads one record — the older spelling of the single reads on the\nREST surface, over the same data and the same permissions.\n\nSecrets are stripped. Naming a record in another organization does not reach\nit, however the request spells it.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-applications": {
      "get": {
        "operationId": "get_iam_get-applications",
        "summary": "Lists one kind of record in your organization — the older spelling of the collection reads on the REST surface, over the same data and the same permissions.",
        "description": "Lists one kind of record in your organization — the older spelling\nof the collection reads on the REST surface, over the same data and the same\npermissions.\n\nSecrets are stripped from every row. Send both a page number and a page size to\npage, and the total comes back alongside; send neither and you get the whole\nset. You see your own organization and no other, whatever the request asks for.\n\nScoping note (intentional, fail-closed): iam's ownership model is mixed —\nusers/roles/permissions are owned by their tenant org, while organizations/\napplications/providers/certs are platform-owned (Owner \"admin\"). A SuperAdmin\n(Scope → the requested owner, empty = all) therefore lists every entity, which\nis the console-admin path. A non-super is pinned by Scope to its own org, so it\nlists its tenant-owned entities correctly and is refused the platform-owned\nlists at the Guard (owner \"\" or \"admin\" both deny) — a safe 403, never another\ntenant's rows. Non-super, membership-scoped views of the platform-owned\nentities (e.g. an org console's own app list keyed on Application.Organization)\nare a separate, additive surface, not a silent behavior of this generic lister.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-cert": {
      "get": {
        "operationId": "get_iam_get-cert",
        "summary": "Reads one record — the older spelling of the single reads on the REST surface, over the same data and the same permissions.",
        "description": "Reads one record — the older spelling of the single reads on the\nREST surface, over the same data and the same permissions.\n\nSecrets are stripped. Naming a record in another organization does not reach\nit, however the request spells it.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-certs": {
      "get": {
        "operationId": "get_iam_get-certs",
        "summary": "Lists one kind of record in your organization — the older spelling of the collection reads on the REST surface, over the same data and the same permissions.",
        "description": "Lists one kind of record in your organization — the older spelling\nof the collection reads on the REST surface, over the same data and the same\npermissions.\n\nSecrets are stripped from every row. Send both a page number and a page size to\npage, and the total comes back alongside; send neither and you get the whole\nset. You see your own organization and no other, whatever the request asks for.\n\nScoping note (intentional, fail-closed): iam's ownership model is mixed —\nusers/roles/permissions are owned by their tenant org, while organizations/\napplications/providers/certs are platform-owned (Owner \"admin\"). A SuperAdmin\n(Scope → the requested owner, empty = all) therefore lists every entity, which\nis the console-admin path. A non-super is pinned by Scope to its own org, so it\nlists its tenant-owned entities correctly and is refused the platform-owned\nlists at the Guard (owner \"\" or \"admin\" both deny) — a safe 403, never another\ntenant's rows. Non-super, membership-scoped views of the platform-owned\nentities (e.g. an org console's own app list keyed on Application.Organization)\nare a separate, additive surface, not a silent behavior of this generic lister.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-global-users": {
      "get": {
        "operationId": "get_iam_get-global-users",
        "summary": "Lists one kind of record in your organization — the older spelling of the collection reads on the REST surface, over the same data and the same permissions.",
        "description": "Lists one kind of record in your organization — the older spelling\nof the collection reads on the REST surface, over the same data and the same\npermissions.\n\nSecrets are stripped from every row. Send both a page number and a page size to\npage, and the total comes back alongside; send neither and you get the whole\nset. You see your own organization and no other, whatever the request asks for.\n\nScoping note (intentional, fail-closed): iam's ownership model is mixed —\nusers/roles/permissions are owned by their tenant org, while organizations/\napplications/providers/certs are platform-owned (Owner \"admin\"). A SuperAdmin\n(Scope → the requested owner, empty = all) therefore lists every entity, which\nis the console-admin path. A non-super is pinned by Scope to its own org, so it\nlists its tenant-owned entities correctly and is refused the platform-owned\nlists at the Guard (owner \"\" or \"admin\" both deny) — a safe 403, never another\ntenant's rows. Non-super, membership-scoped views of the platform-owned\nentities (e.g. an org console's own app list keyed on Application.Organization)\nare a separate, additive surface, not a silent behavior of this generic lister.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-invitations": {
      "get": {
        "operationId": "get_iam_get-invitations",
        "summary": "Lists one kind of record in your organization — the older spelling of the collection reads on the REST surface, over the same data and the same permissions.",
        "description": "Lists one kind of record in your organization — the older spelling\nof the collection reads on the REST surface, over the same data and the same\npermissions.\n\nSecrets are stripped from every row. Send both a page number and a page size to\npage, and the total comes back alongside; send neither and you get the whole\nset. You see your own organization and no other, whatever the request asks for.\n\nScoping note (intentional, fail-closed): iam's ownership model is mixed —\nusers/roles/permissions are owned by their tenant org, while organizations/\napplications/providers/certs are platform-owned (Owner \"admin\"). A SuperAdmin\n(Scope → the requested owner, empty = all) therefore lists every entity, which\nis the console-admin path. A non-super is pinned by Scope to its own org, so it\nlists its tenant-owned entities correctly and is refused the platform-owned\nlists at the Guard (owner \"\" or \"admin\" both deny) — a safe 403, never another\ntenant's rows. Non-super, membership-scoped views of the platform-owned\nentities (e.g. an org console's own app list keyed on Application.Organization)\nare a separate, additive surface, not a silent behavior of this generic lister.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-memberships": {
      "get": {
        "operationId": "get_iam_get-memberships",
        "summary": "Answers either question about who belongs where: which organizations one person can act in, or who can act in one organization.",
        "description": "Answers either question about who belongs where: which organizations one\nperson can act in, or who can act in one organization.\n\nBoth are org-scoped: a non-SuperAdmin may ask about ITS OWN org's roster, or\nabout a user whose home org is its own, and nothing else. The bound comes from\nthe verified credential via authz.Scope, so a request parameter can never\nwiden it — a membership row names who may act and spend in an org, so a\ncross-tenant read is a customer roster leak.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": false,
            "description": "User is \"\u003chomeOrg\u003e/\u003cusername\u003e\" — which organizations that identity may act in.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org is an organization — who may act in it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Answer"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Answer"
                }
              }
            },
            "description": "bad request"
          }
        }
      }
    },
    "/v1/iam/get-organization": {
      "get": {
        "operationId": "get_iam_get-organization",
        "summary": "Reads one record — the older spelling of the single reads on the REST surface, over the same data and the same permissions.",
        "description": "Reads one record — the older spelling of the single reads on the\nREST surface, over the same data and the same permissions.\n\nSecrets are stripped. Naming a record in another organization does not reach\nit, however the request spells it.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-organization-projects": {
      "get": {
        "operationId": "get_iam_get-organization-projects",
        "summary": "Returns one organization's projects — what a scope switcher lists so somebody can move between them.",
        "description": "Returns one organization's projects — what a scope switcher\nlists so somebody can move between them.\n\nYou see your own organization and no other, whatever the request asks for.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-organization-workspaces": {
      "get": {
        "operationId": "get_iam_get-organization-workspaces",
        "summary": "Returns one organization's workspaces — what a scope switcher lists so somebody can move between them.",
        "description": "Returns one organization's workspaces — what a scope\nswitcher lists so somebody can move between them.\n\nYou see your own organization and no other, whatever the request asks for.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-organizations": {
      "get": {
        "operationId": "get_iam_get-organizations",
        "summary": "Lists one kind of record in your organization — the older spelling of the collection reads on the REST surface, over the same data and the same permissions.",
        "description": "Lists one kind of record in your organization — the older spelling\nof the collection reads on the REST surface, over the same data and the same\npermissions.\n\nSecrets are stripped from every row. Send both a page number and a page size to\npage, and the total comes back alongside; send neither and you get the whole\nset. You see your own organization and no other, whatever the request asks for.\n\nScoping note (intentional, fail-closed): iam's ownership model is mixed —\nusers/roles/permissions are owned by their tenant org, while organizations/\napplications/providers/certs are platform-owned (Owner \"admin\"). A SuperAdmin\n(Scope → the requested owner, empty = all) therefore lists every entity, which\nis the console-admin path. A non-super is pinned by Scope to its own org, so it\nlists its tenant-owned entities correctly and is refused the platform-owned\nlists at the Guard (owner \"\" or \"admin\" both deny) — a safe 403, never another\ntenant's rows. Non-super, membership-scoped views of the platform-owned\nentities (e.g. an org console's own app list keyed on Application.Organization)\nare a separate, additive surface, not a silent behavior of this generic lister.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-permission": {
      "get": {
        "operationId": "get_iam_get-permission",
        "summary": "Reads one record — the older spelling of the single reads on the REST surface, over the same data and the same permissions.",
        "description": "Reads one record — the older spelling of the single reads on the\nREST surface, over the same data and the same permissions.\n\nSecrets are stripped. Naming a record in another organization does not reach\nit, however the request spells it.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-permissions": {
      "get": {
        "operationId": "get_iam_get-permissions",
        "summary": "Lists one kind of record in your organization — the older spelling of the collection reads on the REST surface, over the same data and the same permissions.",
        "description": "Lists one kind of record in your organization — the older spelling\nof the collection reads on the REST surface, over the same data and the same\npermissions.\n\nSecrets are stripped from every row. Send both a page number and a page size to\npage, and the total comes back alongside; send neither and you get the whole\nset. You see your own organization and no other, whatever the request asks for.\n\nScoping note (intentional, fail-closed): iam's ownership model is mixed —\nusers/roles/permissions are owned by their tenant org, while organizations/\napplications/providers/certs are platform-owned (Owner \"admin\"). A SuperAdmin\n(Scope → the requested owner, empty = all) therefore lists every entity, which\nis the console-admin path. A non-super is pinned by Scope to its own org, so it\nlists its tenant-owned entities correctly and is refused the platform-owned\nlists at the Guard (owner \"\" or \"admin\" both deny) — a safe 403, never another\ntenant's rows. Non-super, membership-scoped views of the platform-owned\nentities (e.g. an org console's own app list keyed on Application.Organization)\nare a separate, additive surface, not a silent behavior of this generic lister.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-provider": {
      "get": {
        "operationId": "get_iam_get-provider",
        "summary": "Reads one record — the older spelling of the single reads on the REST surface, over the same data and the same permissions.",
        "description": "Reads one record — the older spelling of the single reads on the\nREST surface, over the same data and the same permissions.\n\nSecrets are stripped. Naming a record in another organization does not reach\nit, however the request spells it.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-providers": {
      "get": {
        "operationId": "get_iam_get-providers",
        "summary": "Lists one kind of record in your organization — the older spelling of the collection reads on the REST surface, over the same data and the same permissions.",
        "description": "Lists one kind of record in your organization — the older spelling\nof the collection reads on the REST surface, over the same data and the same\npermissions.\n\nSecrets are stripped from every row. Send both a page number and a page size to\npage, and the total comes back alongside; send neither and you get the whole\nset. You see your own organization and no other, whatever the request asks for.\n\nScoping note (intentional, fail-closed): iam's ownership model is mixed —\nusers/roles/permissions are owned by their tenant org, while organizations/\napplications/providers/certs are platform-owned (Owner \"admin\"). A SuperAdmin\n(Scope → the requested owner, empty = all) therefore lists every entity, which\nis the console-admin path. A non-super is pinned by Scope to its own org, so it\nlists its tenant-owned entities correctly and is refused the platform-owned\nlists at the Guard (owner \"\" or \"admin\" both deny) — a safe 403, never another\ntenant's rows. Non-super, membership-scoped views of the platform-owned\nentities (e.g. an org console's own app list keyed on Application.Organization)\nare a separate, additive surface, not a silent behavior of this generic lister.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-records": {
      "get": {
        "operationId": "get_iam_get-records",
        "summary": "Lists one kind of record in your organization — the older spelling of the collection reads on the REST surface, over the same data and the same permissions.",
        "description": "Lists one kind of record in your organization — the older spelling\nof the collection reads on the REST surface, over the same data and the same\npermissions.\n\nSecrets are stripped from every row. Send both a page number and a page size to\npage, and the total comes back alongside; send neither and you get the whole\nset. You see your own organization and no other, whatever the request asks for.\n\nScoping note (intentional, fail-closed): iam's ownership model is mixed —\nusers/roles/permissions are owned by their tenant org, while organizations/\napplications/providers/certs are platform-owned (Owner \"admin\"). A SuperAdmin\n(Scope → the requested owner, empty = all) therefore lists every entity, which\nis the console-admin path. A non-super is pinned by Scope to its own org, so it\nlists its tenant-owned entities correctly and is refused the platform-owned\nlists at the Guard (owner \"\" or \"admin\" both deny) — a safe 403, never another\ntenant's rows. Non-super, membership-scoped views of the platform-owned\nentities (e.g. an org console's own app list keyed on Application.Organization)\nare a separate, additive surface, not a silent behavior of this generic lister.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-role": {
      "get": {
        "operationId": "get_iam_get-role",
        "summary": "Reads one record — the older spelling of the single reads on the REST surface, over the same data and the same permissions.",
        "description": "Reads one record — the older spelling of the single reads on the\nREST surface, over the same data and the same permissions.\n\nSecrets are stripped. Naming a record in another organization does not reach\nit, however the request spells it.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-roles": {
      "get": {
        "operationId": "get_iam_get-roles",
        "summary": "Lists one kind of record in your organization — the older spelling of the collection reads on the REST surface, over the same data and the same permissions.",
        "description": "Lists one kind of record in your organization — the older spelling\nof the collection reads on the REST surface, over the same data and the same\npermissions.\n\nSecrets are stripped from every row. Send both a page number and a page size to\npage, and the total comes back alongside; send neither and you get the whole\nset. You see your own organization and no other, whatever the request asks for.\n\nScoping note (intentional, fail-closed): iam's ownership model is mixed —\nusers/roles/permissions are owned by their tenant org, while organizations/\napplications/providers/certs are platform-owned (Owner \"admin\"). A SuperAdmin\n(Scope → the requested owner, empty = all) therefore lists every entity, which\nis the console-admin path. A non-super is pinned by Scope to its own org, so it\nlists its tenant-owned entities correctly and is refused the platform-owned\nlists at the Guard (owner \"\" or \"admin\" both deny) — a safe 403, never another\ntenant's rows. Non-super, membership-scoped views of the platform-owned\nentities (e.g. an org console's own app list keyed on Application.Organization)\nare a separate, additive surface, not a silent behavior of this generic lister.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-user": {
      "get": {
        "operationId": "get_iam_get-user",
        "summary": "Reads one person, two ways.",
        "description": "Reads one person, two ways.\n\nName them and it is an ordinary read, with secrets stripped. Or hand it a\nSECRET API key and it answers with the person that key belongs to — how a\nservice of yours turns a credential on an incoming request into an identity.\n\nA publishable key resolves to nobody here, deliberately: it is safe to ship in\na browser precisely because it names an organization and never a person.\n\nget-user is handler-authorized (authz.handlerAuthorizedExact) because the key\nvariant carries no owner/name for the Guard to authorize; so the owner/name\nvariant reinstates the SAME read authorization the Guard applies, through the ONE\npolicy function (authz.Can) — identical behavior, a cross-tenant or non-self read\nstill refused 403 — then reuses the generic getHandler verbatim for resolution and\nredaction. No authz and no CRUD is reimplemented.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-users": {
      "get": {
        "operationId": "get_iam_get-users",
        "summary": "Lists one kind of record in your organization — the older spelling of the collection reads on the REST surface, over the same data and the same permissions.",
        "description": "Lists one kind of record in your organization — the older spelling\nof the collection reads on the REST surface, over the same data and the same\npermissions.\n\nSecrets are stripped from every row. Send both a page number and a page size to\npage, and the total comes back alongside; send neither and you get the whole\nset. You see your own organization and no other, whatever the request asks for.\n\nScoping note (intentional, fail-closed): iam's ownership model is mixed —\nusers/roles/permissions are owned by their tenant org, while organizations/\napplications/providers/certs are platform-owned (Owner \"admin\"). A SuperAdmin\n(Scope → the requested owner, empty = all) therefore lists every entity, which\nis the console-admin path. A non-super is pinned by Scope to its own org, so it\nlists its tenant-owned entities correctly and is refused the platform-owned\nlists at the Guard (owner \"\" or \"admin\" both deny) — a safe 403, never another\ntenant's rows. Non-super, membership-scoped views of the platform-owned\nentities (e.g. an org console's own app list keyed on Application.Organization)\nare a separate, additive surface, not a silent behavior of this generic lister.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/invitations": {
      "get": {
        "operationId": "get_iam_invitations",
        "summary": "Returns your organization's invitations, newest first — who has been asked to join, on what terms, and how many seats each invitation still has left.",
        "description": "Returns your organization's invitations, newest first — who has\nbeen asked to join, on what terms, and how many seats each invitation still\nhas left.\n\nYou see your own organization's invitations and no one else's; which organization that\nis comes from your credentials, not from the request.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.invitations.ListOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_iam_invitations",
        "summary": "Issues an invitation to join your organization — the code or link a new member redeems, with the role they arrive holding and the date it stops working.",
        "description": "Issues an invitation to join your organization — the code or link a new\nmember redeems, with the role they arrive holding and the date it stops\nworking. A name already used in the organization is refused.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.invitations.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Invitation"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/invitations/delete": {
      "post": {
        "operationId": "post_iam_invitations_delete",
        "summary": "Withdraws an invitation.",
        "description": "Withdraws an invitation. It stops being redeemable at once; anyone who\nalready joined through it keeps their account.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.invitations.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.invitations.DeleteOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/invitations/get": {
      "post": {
        "operationId": "post_iam_invitations_get",
        "summary": "Returns one invitation: who it is for, what it grants on acceptance, and when it expires.",
        "description": "Returns one invitation: who it is for, what it grants on acceptance, and\nwhen it expires.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.invitations.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Invitation"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/invitations/update": {
      "post": {
        "operationId": "post_iam_invitations_update",
        "summary": "Changes an invitation's terms — the role it grants, how many may redeem it, or when it expires.",
        "description": "Changes an invitation's terms — the role it grants, how many may redeem\nit, or when it expires. What it is called does not change.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.invitations.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Invitation"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/issue-user-token": {
      "post": {
        "operationId": "post_iam_issue-user-token",
        "summary": "Mints an access token for the `?id=\u003cowner\u003e/\u003cname\u003e` target user (optional `?aud=` resource, RFC 8707), issued by the authenticated + allow-listed confidential client.",
        "description": "Mints an access token for the `?id=\u003cowner\u003e/\u003cname\u003e` target\nuser (optional `?aud=` resource, RFC 8707), issued by the authenticated +\nallow-listed confidential client. The token's subject + owner are the TARGET\nUSER's, so a resource server scopes on the validated owner claim to the user's\ntenant — indistinguishable from a token the user obtained directly. Response is\nthe camelCase `{accessToken, expiresIn}` body identity.ts consumes. Equivalent to\nthe RFC 8693 token-exchange grant, minus the subject_token proof (the console has\nthe user's id, not a token) — the reason this compat shim exists.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/keys": {
      "get": {
        "operationId": "get_iam_keys",
        "summary": "Returns your organization's API keys, newest first — what each is called, what it may reach, and its publishable half.",
        "description": "Returns your organization's API keys, newest first — what each is called,\nwhat it may reach, and its publishable half. Secret halves are never listed.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.ListResponse"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_iam_keys",
        "summary": "Issues an API key.",
        "description": "Issues an API key. A standard key comes back as a publishable half you\nmay ship in client code and a secret half you must not — the secret is shown\nonce, at creation, and cannot be retrieved afterwards. A publish-scoped key is\nissued with the publishable half only, so there is no secret to leak.\n\nA name already used in your organization is refused rather than reissued, so\ncreating twice never silently invalidates a key that is in production.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Key"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Key"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/keys/delete": {
      "post": {
        "operationId": "post_iam_keys_delete",
        "summary": "Revokes an API key.",
        "description": "Revokes an API key. Anything still presenting it stops being authorized at\nonce, so roll the replacement out before you revoke.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.keys.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.DeleteResponse"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/keys/get": {
      "get": {
        "operationId": "get_iam_keys_get",
        "summary": "Returns one API key: what it is called, what it may reach, and when it was issued.",
        "description": "Returns one API key: what it is called, what it may reach, and when it was\nissued.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Key"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/keys/mint": {
      "post": {
        "operationId": "post_iam_keys_mint",
        "summary": "(re)generates the target user's key of the requested TYPE and returns it once, over the shared authorizeMinter + mintTarget seam.",
        "description": "(re)generates the target user's key of the requested TYPE and\nreturns it once, over the shared authorizeMinter + mintTarget seam. `?type=secret`\n(the default) yields the confidential sk-; `?type=publishable` yields the pk- that\nis safe to ship in client JS and resolves to an org, never a principal.\n\nIt writes the schema.Key row that the resolvers actually read. schema.User.AccessKey\nis not a credential and nothing resolves it, so a key stamped there would\nauthenticate nobody.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/keys/revoke": {
      "post": {
        "operationId": "post_iam_keys_revoke",
        "summary": "Clears the target user's key of the requested TYPE (immediate revoke).",
        "description": "Clears the target user's key of the requested TYPE (immediate\nrevoke). Scoped by the same `?type` field mint takes, so revoking the browser key\nleaves the server key working. A secret key's stored value is the sk- in its\nschema.Key row.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/keys/update": {
      "post": {
        "operationId": "post_iam_keys_update",
        "summary": "Changes what a key is called or what it may reach.",
        "description": "Changes what a key is called or what it may reach. The credential\nitself is not reissued — the key in your deployment keeps working.",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Key"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Key"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/link": {
      "post": {
        "operationId": "post_iam_link",
        "summary": "Starts connecting another sign-in identity to the account you are already signed in as.",
        "description": "Starts connecting another sign-in identity to the account you are already\nsigned in as. It answers with the provider's URL for the browser to follow; when\nthe provider returns, that identity is attached and you come back to returnUri.\n\nYour account is fixed here, from the credential you are already holding, and is\ncarried server-side for the rest of the round-trip — so nothing that happens at\nthe provider can point the link at somebody else.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/linked-accounts": {
      "get": {
        "operationId": "get_iam_linked-accounts",
        "summary": "Returns the sign-in identities linked to the calling person's account — every provider they can currently sign in with.",
        "description": "Returns the sign-in identities linked to the calling\nperson's account — every provider they can currently sign in with. It is what\na security page lists next to the option to disconnect one.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/login": {
      "post": {
        "operationId": "post_iam_login",
        "summary": "Signs a person in with the credential they typed, and — when the request is part of an OAuth flow — hands back the one-time code that finishes it.",
        "description": "Signs a person in with the credential they typed, and — when the\nrequest is part of an OAuth flow — hands back the one-time code that finishes\nit. A second factor, if the account has one, is asked for and required here.\n\nThe password is compared against a stored one-way hash and is never logged,\nechoed or stored as typed.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/memberships": {
      "get": {
        "operationId": "get_iam_memberships",
        "summary": "Answers either question about who belongs where: which organizations one person can act in, or who can act in one organization.",
        "description": "Answers either question about who belongs where: which organizations one\nperson can act in, or who can act in one organization.\n\nBoth are org-scoped: a non-SuperAdmin may ask about ITS OWN org's roster, or\nabout a user whose home org is its own, and nothing else. The bound comes from\nthe verified credential via authz.Scope, so a request parameter can never\nwiden it — a membership row names who may act and spend in an org, so a\ncross-tenant read is a customer roster leak.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": false,
            "description": "User is \"\u003chomeOrg\u003e/\u003cusername\u003e\" — which organizations that identity may act in.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org is an organization — who may act in it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Answer"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Answer"
                }
              }
            },
            "description": "bad request"
          }
        }
      },
      "post": {
        "operationId": "post_iam_memberships",
        "summary": "Lets a person or an application act in an organization.",
        "description": "Lets a person or an application act in an organization. It is the grant\nbehind \"add someone to the team\", and it is safe to repeat — granting a\nmembership that already exists changes nothing. Granting membership IS the org's authority to give, so it takes the\nsame gate a write to that org's own registry row takes: a SuperAdmin, an admin\nof the org itself, or an org-admin-capable confidential client. One rule, one\nplace (internal/authz).",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/mfa/disable": {
      "post": {
        "operationId": "post_iam_mfa_disable",
        "summary": "Turns a factor off, so sign-in stops asking for it.",
        "description": "Turns a factor off, so sign-in stops asking for it. Naming no factor turns\noff ALL of them — the reset path. People may do this for themselves; doing it for\nsomebody else takes an administrator, which is what makes it the way back in when a\nphone is lost.\n\nThe recovery codes go with the last factor: they are the way past a challenge, so\nkeeping them alive for an account with nothing to challenge would leave a standing\ncredential behind.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/mfa/preferred": {
      "post": {
        "operationId": "post_iam_mfa_preferred",
        "summary": "Picks which second factor an account is asked for first when it has more than one.",
        "description": "Picks which second factor an account is asked for first when it has\nmore than one. Only a factor the account actually holds: storing an unheld one told\nthe login gate \"MFA is on\" — factor.Enabled reads that column — while leaving it\nnothing to ask for, so the sign-in required the password alone.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/mfa/setup/enable": {
      "post": {
        "operationId": "post_iam_mfa_setup_enable",
        "summary": "Finishes the enrolment: from here the account's sign-ins ask for this factor.",
[...]
