{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package iam is Hanzo's identity provider: users, organizations, applications, and the OIDC/OAuth2 endpoints every Hanzo service authenticates against.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "iam"
    }
  ],
  "paths": {
    "/.well-known/jwks": {
      "get": {
        "operationId": "get_.well-known_jwks"
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "operationId": "get_.well-known_oauth-authorization-server"
      }
    },
    "/.well-known/openid-configuration": {
      "get": {
        "operationId": "get_.well-known_openid-configuration"
      }
    },
    "/v1/iam/.well-known/jwks": {
      "get": {
        "operationId": "get_v1_iam_.well-known_jwks",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/.well-known/oauth-authorization-server": {
      "get": {
        "operationId": "get_v1_iam_.well-known_oauth-authorization-server",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/.well-known/openid-configuration": {
      "get": {
        "operationId": "get_v1_iam_.well-known_openid-configuration",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/add-application": {
      "post": {
        "operationId": "post_v1_iam_add-application",
        "summary": "Create an application (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/add-membership": {
      "post": {
        "operationId": "post_v1_iam_add-membership",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/add-organization": {
      "post": {
        "operationId": "post_v1_iam_add-organization",
        "summary": "Create an organization (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.CreateOrganizationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/add-project": {
      "post": {
        "operationId": "post_v1_iam_add-project",
        "summary": "Create a project (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/add-provider": {
      "post": {
        "operationId": "post_v1_iam_add-provider",
        "summary": "Create a provider (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Provider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/add-role": {
      "post": {
        "operationId": "post_v1_iam_add-role",
        "summary": "Create a role (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.roles.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/add-user": {
      "post": {
        "operationId": "post_v1_iam_add-user",
        "summary": "Create a user (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.userBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/add-workspace": {
      "post": {
        "operationId": "post_v1_iam_add-workspace",
        "summary": "Create a workspace (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.workspaces.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/admin/applications/upsert": {
      "post": {
        "operationId": "post_v1_iam_admin_applications_upsert",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/admin/provision": {
      "post": {
        "operationId": "post_v1_iam_admin_provision",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/admin/users/upsert": {
      "post": {
        "operationId": "post_v1_iam_admin_users_upsert",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/application": {
      "delete": {
        "operationId": "delete_v1_iam_application",
        "summary": "Delete an application",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.DeleteResult"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "get": {
        "operationId": "get_v1_iam_application",
        "summary": "Get one application by owner and name",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Application"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_iam_application",
        "summary": "Create an application",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Application"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_v1_iam_application",
        "summary": "Update an application",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Application"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/applications": {
      "get": {
        "operationId": "get_v1_iam_applications",
        "summary": "List applications for an owner",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.ApplicationListResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/audit-logs": {
      "get": {
        "operationId": "get_v1_iam_audit-logs",
        "summary": "List audit logs for an owner",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.ListOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_iam_audit-logs",
        "summary": "Create an audit log",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.auditlogs.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.AuditLog"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/audit-logs/delete": {
      "post": {
        "operationId": "post_v1_iam_audit-logs_delete",
        "summary": "Delete an audit log",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.DeleteOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/audit-logs/get": {
      "post": {
        "operationId": "post_v1_iam_audit-logs_get",
        "summary": "Get one audit log",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.AuditLog"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/audit-logs/update": {
      "post": {
        "operationId": "post_v1_iam_audit-logs_update",
        "summary": "Update an audit log",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.auditlogs.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.AuditLog"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/auth/methods": {
      "get": {
        "operationId": "get_v1_iam_auth_methods",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/certs": {
      "get": {
        "operationId": "get_v1_iam_certs",
        "summary": "List certs for an owner",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.certs.ListOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_iam_certs",
        "summary": "Create a cert",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Cert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Cert"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/certs/delete": {
      "post": {
        "operationId": "post_v1_iam_certs_delete",
        "summary": "Delete a cert",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.certs.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.certs.DeleteOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/certs/get": {
      "post": {
        "operationId": "post_v1_iam_certs_get",
        "summary": "Get one cert",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.certs.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Cert"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/certs/update": {
      "post": {
        "operationId": "post_v1_iam_certs_update",
        "summary": "Update a cert",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Cert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Cert"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/consent": {
      "get": {
        "operationId": "get_v1_iam_consent",
        "tags": [
          "iam"
        ]
      },
      "put": {
        "operationId": "put_v1_iam_consent",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/delete-application": {
      "post": {
        "operationId": "post_v1_iam_delete-application",
        "summary": "Delete an application (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/delete-membership": {
      "post": {
        "operationId": "post_v1_iam_delete-membership",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/delete-mfa": {
      "post": {
        "operationId": "post_v1_iam_delete-mfa",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/delete-organization": {
      "post": {
        "operationId": "post_v1_iam_delete-organization",
        "summary": "Delete an organization (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.DeleteOrganizationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/delete-project": {
      "post": {
        "operationId": "post_v1_iam_delete-project",
        "summary": "Delete a project (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.projects.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/delete-provider": {
      "post": {
        "operationId": "post_v1_iam_delete-provider",
        "summary": "Delete a provider (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Provider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/delete-role": {
      "post": {
        "operationId": "post_v1_iam_delete-role",
        "summary": "Delete a role (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.roles.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/delete-user": {
      "post": {
        "operationId": "post_v1_iam_delete-user",
        "summary": "Delete a user (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.userBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/delete-workspace": {
      "post": {
        "operationId": "post_v1_iam_delete-workspace",
        "summary": "Delete a workspace (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.workspaces.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/get-account": {
      "get": {
        "operationId": "get_v1_iam_get-account",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-app-login": {
      "get": {
        "operationId": "get_v1_iam_get-app-login",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-application": {
      "get": {
        "operationId": "get_v1_iam_get-application",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-applications": {
      "get": {
        "operationId": "get_v1_iam_get-applications",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-cert": {
      "get": {
        "operationId": "get_v1_iam_get-cert",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-certs": {
      "get": {
        "operationId": "get_v1_iam_get-certs",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-global-users": {
      "get": {
        "operationId": "get_v1_iam_get-global-users",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-invitations": {
      "get": {
        "operationId": "get_v1_iam_get-invitations",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-memberships": {
      "get": {
        "operationId": "get_v1_iam_get-memberships",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-organization": {
      "get": {
        "operationId": "get_v1_iam_get-organization",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-organization-projects": {
      "get": {
        "operationId": "get_v1_iam_get-organization-projects",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-organization-workspaces": {
      "get": {
        "operationId": "get_v1_iam_get-organization-workspaces",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-organizations": {
      "get": {
        "operationId": "get_v1_iam_get-organizations",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-permission": {
      "get": {
        "operationId": "get_v1_iam_get-permission",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-permissions": {
      "get": {
        "operationId": "get_v1_iam_get-permissions",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-provider": {
      "get": {
        "operationId": "get_v1_iam_get-provider",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-providers": {
      "get": {
        "operationId": "get_v1_iam_get-providers",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-records": {
      "get": {
        "operationId": "get_v1_iam_get-records",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-role": {
      "get": {
        "operationId": "get_v1_iam_get-role",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-roles": {
      "get": {
        "operationId": "get_v1_iam_get-roles",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-user": {
      "get": {
        "operationId": "get_v1_iam_get-user",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/get-users": {
      "get": {
        "operationId": "get_v1_iam_get-users",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/invitations": {
      "get": {
        "operationId": "get_v1_iam_invitations",
        "summary": "List invitations for an owner",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.invitations.ListOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_iam_invitations",
        "summary": "Create an invitation",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.invitations.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Invitation"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/invitations/delete": {
      "post": {
        "operationId": "post_v1_iam_invitations_delete",
        "summary": "Delete an invitation",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.invitations.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.invitations.DeleteOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/invitations/get": {
      "post": {
        "operationId": "post_v1_iam_invitations_get",
        "summary": "Get one invitation",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.invitations.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Invitation"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/invitations/update": {
      "post": {
        "operationId": "post_v1_iam_invitations_update",
        "summary": "Update an invitation",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.invitations.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Invitation"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/issue-user-token": {
      "post": {
        "operationId": "post_v1_iam_issue-user-token",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/keys": {
      "get": {
        "operationId": "get_v1_iam_keys",
        "summary": "List keys in an owner",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.ListResponse"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_iam_keys",
        "summary": "Create a key",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Key"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Key"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/keys/delete": {
      "post": {
        "operationId": "post_v1_iam_keys_delete",
        "summary": "Delete a key",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.keys.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.DeleteResponse"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/keys/get": {
      "get": {
        "operationId": "get_v1_iam_keys_get",
        "summary": "Get a key by (owner, name)",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Key"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/keys/update": {
      "post": {
        "operationId": "post_v1_iam_keys_update",
        "summary": "Update a key",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Key"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Key"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/linked-accounts": {
      "get": {
        "operationId": "get_v1_iam_linked-accounts",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/login": {
      "post": {
        "operationId": "post_v1_iam_login",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/memberships": {
      "get": {
        "operationId": "get_v1_iam_memberships",
        "tags": [
          "iam"
        ]
      },
      "post": {
        "operationId": "post_v1_iam_memberships",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/mfa/setup/enable": {
      "post": {
        "operationId": "post_v1_iam_mfa_setup_enable",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/mfa/setup/initiate": {
      "post": {
        "operationId": "post_v1_iam_mfa_setup_initiate",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/mfa/setup/verify": {
      "post": {
        "operationId": "post_v1_iam_mfa_setup_verify",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/mint-user-keys": {
      "post": {
        "operationId": "post_v1_iam_mint-user-keys",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/oauth/authorize": {
      "get": {
        "operationId": "get_v1_iam_oauth_authorize",
        "tags": [
          "iam"
        ]
      },
      "post": {
        "operationId": "post_v1_iam_oauth_authorize",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/oauth/callback": {
      "get": {
        "operationId": "get_v1_iam_oauth_callback",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/oauth/device": {
      "post": {
        "operationId": "post_v1_iam_oauth_device",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/oauth/federation/mfa": {
      "post": {
        "operationId": "post_v1_iam_oauth_federation_mfa",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/oauth/introspect": {
      "post": {
        "operationId": "post_v1_iam_oauth_introspect",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/oauth/logout": {
      "get": {
        "operationId": "get_v1_iam_oauth_logout",
        "tags": [
          "iam"
        ]
      },
      "post": {
        "operationId": "post_v1_iam_oauth_logout",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/oauth/revoke": {
      "post": {
        "operationId": "post_v1_iam_oauth_revoke",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/oauth/token": {
      "post": {
        "operationId": "post_v1_iam_oauth_token",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/oauth/userinfo": {
      "get": {
        "operationId": "get_v1_iam_oauth_userinfo",
        "tags": [
          "iam"
        ]
      },
      "post": {
        "operationId": "post_v1_iam_oauth_userinfo",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/onboard": {
      "post": {
        "operationId": "post_v1_iam_onboard",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.ListOrganizationsOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "createOrganization",
        "summary": "Create an organization",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.CreateOrganizationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Organization"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/organizations/delete": {
      "post": {
        "operationId": "deleteOrganization",
        "summary": "Delete an organization",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.DeleteOrganizationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.DeleteOrganizationOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/organizations/get": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get one organization by owner and name",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Organization"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/organizations/update": {
      "post": {
        "operationId": "updateOrganization",
        "summary": "Update an organization",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.UpdateOrganizationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Organization"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/permissions": {
      "get": {
        "operationId": "get_v1_iam_permissions",
        "summary": "List permissions for an owner",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.permission.ListResponse"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_iam_permissions",
        "summary": "Create a permission",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Permission"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Permission"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/permissions/delete": {
      "post": {
        "operationId": "post_v1_iam_permissions_delete",
        "summary": "Delete a permission",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.permission.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.permission.DeleteResponse"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/permissions/get": {
      "get": {
        "operationId": "get_v1_iam_permissions_get",
        "summary": "Get one permission by owner and name",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Permission"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/permissions/update": {
      "post": {
        "operationId": "post_v1_iam_permissions_update",
        "summary": "Update a permission",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Permission"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Permission"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/projects": {
      "get": {
        "operationId": "get_v1_iam_projects",
        "summary": "List projects for an owner",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.projects.ListOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_iam_projects",
        "summary": "Create a project",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Project"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/projects/delete": {
      "post": {
        "operationId": "post_v1_iam_projects_delete",
        "summary": "Delete a project",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.projects.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.projects.DeleteOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/projects/get": {
      "post": {
        "operationId": "post_v1_iam_projects_get",
        "summary": "Get one project",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.projects.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Project"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/projects/update": {
      "post": {
        "operationId": "post_v1_iam_projects_update",
        "summary": "Update a project",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Project"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/providers": {
      "get": {
        "operationId": "listProviders",
        "summary": "List providers in an owner scope",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.listProvidersOut"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "addProvider",
        "summary": "Create a provider",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Provider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.providerResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/providers/delete": {
      "post": {
        "operationId": "deleteProvider",
        "summary": "Delete a provider by (owner, name)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.providerKey"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.mutationResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/providers/get": {
      "post": {
        "operationId": "getProvider",
        "summary": "Get one provider by (owner, name)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.providerKey"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.providerResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/providers/update": {
      "post": {
        "operationId": "updateProvider",
        "summary": "Update an existing provider",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Provider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.mutationResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/registry/jwks": {
      "get": {
        "operationId": "get_v1_iam_registry_jwks",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/registry/token": {
      "get": {
        "operationId": "get_v1_iam_registry_token",
        "tags": [
          "iam"
        ]
      },
      "post": {
        "operationId": "post_v1_iam_registry_token",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/resolve-key": {
      "get": {
        "operationId": "get_v1_iam_resolve-key",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/revoke-user-keys": {
      "post": {
        "operationId": "post_v1_iam_revoke-user-keys",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/roles": {
      "get": {
        "operationId": "get_v1_iam_roles",
        "summary": "List roles for an owner",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.roles.ListOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_iam_roles",
        "summary": "Create a role",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.roles.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Role"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/roles/delete": {
      "post": {
        "operationId": "post_v1_iam_roles_delete",
        "summary": "Delete a role",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.roles.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.roles.DeleteOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/roles/get": {
      "post": {
        "operationId": "post_v1_iam_roles_get",
        "summary": "Get one role",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.roles.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Role"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/roles/update": {
      "post": {
        "operationId": "post_v1_iam_roles_update",
        "summary": "Update a role",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.roles.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Role"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/scim/v2/ResourceTypes": {
      "get": {
        "operationId": "get_v1_iam_scim_v2_resourcetypes",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/scim/v2/ResourceTypes/{name}": {
      "get": {
        "operationId": "get_v1_iam_scim_v2_resourcetypes_by_name",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/iam/scim/v2/Schemas": {
      "get": {
        "operationId": "get_v1_iam_scim_v2_schemas",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/scim/v2/Schemas/{id}": {
      "get": {
        "operationId": "get_v1_iam_scim_v2_schemas_by_id",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/iam/scim/v2/ServiceProviderConfig": {
      "get": {
        "operationId": "get_v1_iam_scim_v2_serviceproviderconfig",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/scim/v2/Users": {
      "get": {
        "operationId": "get_v1_iam_scim_v2_users",
        "tags": [
          "iam"
        ]
      },
      "post": {
        "operationId": "post_v1_iam_scim_v2_users",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/scim/v2/Users/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_iam_scim_v2_users_by_owner_by_name",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_iam_scim_v2_users_by_owner_by_name",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patch_v1_iam_scim_v2_users_by_owner_by_name",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v1_iam_scim_v2_users_by_owner_by_name",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/iam/send-verification-code": {
      "post": {
        "operationId": "post_v1_iam_send-verification-code",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/service-accounts": {
      "get": {
        "operationId": "get_v1_iam_service-accounts",
        "tags": [
          "iam"
        ]
      },
      "post": {
        "operationId": "post_v1_iam_service-accounts",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/service-accounts/{name}": {
      "delete": {
        "operationId": "delete_v1_iam_service-accounts_by_name",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/iam/service-accounts/{name}/keys": {
      "post": {
        "operationId": "post_v1_iam_service-accounts_by_name_keys",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/iam/sessions/create": {
      "post": {
        "operationId": "createSession",
        "summary": "Create or merge a session (upsert)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.CreateSessionIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Session"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/sessions/delete": {
      "post": {
        "operationId": "deleteSession",
        "summary": "Delete a session",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.SessionRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.DeleteSessionOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/sessions/get": {
      "post": {
        "operationId": "getSession",
        "summary": "Get one session by owner/name/application",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.SessionRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Session"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/sessions/list": {
      "post": {
        "operationId": "listSessions",
        "summary": "List an owner's sessions, newest first",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.ListSessionsIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.ListSessionsOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/sessions/update": {
      "post": {
        "operationId": "updateSession",
        "summary": "Replace a session's cookie list",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.UpdateSessionIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Session"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/set-preferred-mfa": {
      "post": {
        "operationId": "post_v1_iam_set-preferred-mfa",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/signin": {
      "post": {
        "operationId": "post_v1_iam_signin",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/signup": {
      "post": {
        "operationId": "post_v1_iam_signup",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/tokens": {
      "get": {
        "operationId": "listTokens",
        "summary": "List tokens in an owner scope",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.listTokensOut"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "addToken",
        "summary": "Create a token",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Token"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.tokenResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/tokens/delete": {
      "post": {
        "operationId": "deleteToken",
        "summary": "Delete a token by (owner, name)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.tokenKey"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.tokenMutation"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/tokens/get": {
      "post": {
        "operationId": "getToken",
        "summary": "Get one token by (owner, name)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.tokenKey"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.tokenResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/tokens/update": {
      "post": {
        "operationId": "updateToken",
        "summary": "Update an existing token",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Token"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.tokenMutation"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/unlink": {
      "post": {
        "operationId": "post_v1_iam_unlink",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/update-application": {
      "post": {
        "operationId": "post_v1_iam_update-application",
        "summary": "Update an application (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/update-organization": {
      "post": {
        "operationId": "post_v1_iam_update-organization",
        "summary": "Update an organization (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.UpdateOrganizationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/update-preferences": {
      "post": {
        "operationId": "post_v1_iam_update-preferences",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/update-provider": {
      "post": {
        "operationId": "post_v1_iam_update-provider",
        "summary": "Update a provider (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.Provider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/update-role": {
      "post": {
        "operationId": "post_v1_iam_update-role",
        "summary": "Update a role (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.roles.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/update-user": {
      "post": {
        "operationId": "post_v1_iam_update-user",
        "summary": "Update a user (legacy verb)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.userBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Response"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/users": {
      "get": {
        "operationId": "get_v1_iam_users",
        "summary": "List users in an org",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.users.ListOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_iam_users",
        "summary": "Create a user",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.CreateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.User"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/users/delete": {
      "post": {
        "operationId": "post_v1_iam_users_delete",
        "summary": "Delete a user",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.users.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.users.DeleteOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/users/get": {
      "get": {
        "operationId": "get_v1_iam_users_get",
        "summary": "Get a user by (owner, name)",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.User"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/users/update": {
      "post": {
        "operationId": "post_v1_iam_users_update",
        "summary": "Update a user",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.UpdateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.User"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/web3/nonce": {
      "get": {
        "operationId": "get_v1_iam_web3_nonce",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/web3/verify": {
      "post": {
        "operationId": "post_v1_iam_web3_verify",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/webauthn-credentials": {
      "get": {
        "operationId": "listWebauthnCredentials",
        "summary": "List webauthn credentials in an owner scope",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.listWebauthnCredentialsOut"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "addWebauthnCredential",
        "summary": "Create a webauthn credential",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.WebauthnCredential"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.webauthnCredentialResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/webauthn-credentials/delete": {
      "post": {
        "operationId": "deleteWebauthnCredential",
        "summary": "Delete a webauthn credential by (owner, name)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.webauthnCredentialKey"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.webauthnCredentialMutationResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/webauthn-credentials/get": {
      "post": {
        "operationId": "getWebauthnCredential",
        "summary": "Get one webauthn credential by (owner, name)",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.webauthnCredentialKey"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.webauthnCredentialResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/webauthn-credentials/update": {
      "post": {
        "operationId": "updateWebauthnCredential",
        "summary": "Update an existing webauthn credential",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.WebauthnCredential"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.webauthnCredentialMutationResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/whoami": {
      "get": {
        "operationId": "get_v1_iam_whoami",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/workspaces": {
      "get": {
        "operationId": "get_v1_iam_workspaces",
        "summary": "List workspaces for an owner",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.workspaces.ListOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_iam_workspaces",
        "summary": "Create a workspace",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.workspaces.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Workspace"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/workspaces/delete": {
      "post": {
        "operationId": "post_v1_iam_workspaces_delete",
        "summary": "Delete a workspace",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.workspaces.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.workspaces.DeleteOutput"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/workspaces/get": {
      "post": {
        "operationId": "post_v1_iam_workspaces_get",
        "summary": "Get one workspace",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.workspaces.Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Workspace"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/iam/workspaces/update": {
      "post": {
        "operationId": "post_v1_iam_workspaces_update",
        "summary": "Update a workspace",
        "tags": [
          "iam"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam.workspaces.Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam.Workspace"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "iam.AccountItem": {
        "properties": {
          "modifyRule": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "regex": {
            "type": "string"
          },
          "tab": {
            "type": "string"
          },
          "viewRule": {
            "type": "string"
          },
          "visible": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "iam.Address": {
        "properties": {
          "city": {
            "type": "string"
          },
          "line1": {
            "type": "string"
          },
          "line2": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "zipCode": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "iam.Application": {
        "properties": {
          "affiliationUrl": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "cert": {
            "type": "string"
          },
          "certObj": {
            "$ref": "#/components/schemas/iam.Cert"
          },
          "certPublicKey": {
            "type": "string"
          },
          "clientCert": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "clientSecret": {
            "type": "string"
          },
          "codeResendTimeout": {
            "type": "integer"
          },
          "cookieExpireInHours": {
            "type": "integer"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string"
          },
          "createdTime": {
            "type": "string"
          },
          "customScopes": {
            "items": {
              "$ref": "#/components/schemas/iam.ScopeDescription"
            },
            "type": "array"
          },
          "defaultGroup": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "disableSamlAttributes": {
            "type": "boolean"
          },
          "disableSignin": {
            "type": "boolean"
          },
          "displayName": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "enableAutoSignin": {
            "type": "boolean"
          },
          "enableCodeSignin": {
            "type": "boolean"
          },
          "enableExclusiveSignin": {
            "type": "boolean"
          },
          "enableLinkWithEmail": {
            "type": "boolean"
          },
          "enablePassword": {
            "type": "boolean"
          },
          "enableSamlAssertionSignature": {
            "type": "boolean"
          },
          "enableSamlC14n10": {
            "type": "boolean"
          },
          "enableSamlCompress": {
            "type": "boolean"
          },
          "enableSamlPostBinding": {
            "type": "boolean"
          },
          "enableSignUp": {
            "type": "boolean"
          },
          "enableSigninSession": {
            "type": "boolean"
          },
          "enableWebAuthn": {
            "type": "boolean"
          },
          "environment": {
            "type": "string"
          },
          "expireInHours": {
            "type": "number"
          },
          "failedSigninFrozenTime": {
            "type": "integer"
          },
          "failedSigninLimit": {
            "type": "integer"
          },
          "favicon": {
            "type": "string"
          },
          "footerHtml": {
            "type": "string"
          },
          "forcedRedirectOrigin": {
            "type": "string"
          },
          "forgetUrl": {
            "type": "string"
          },
          "formBackgroundUrl": {
            "type": "string"
          },
          "formBackgroundUrlMobile": {
            "type": "string"
          },
          "formCss": {
            "type": "string"
          },
          "formCssMobile": {
            "type": "string"
          },
          "formOffset": {
            "type": "integer"
          },
          "formSideHtml": {
            "type": "string"
          },
          "grantTypes": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "headerHtml": {
            "type": "string"
          },
          "homepageUrl": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "ipRestriction": {
            "type": "string"
          },
          "ipWhitelist": {
            "type": "string"
          },
          "isShared": {
            "type": "boolean"
          },
          "logo": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          },
          "orgChoiceMode": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          },
          "organizationObj": {
            "$ref": "#/components/schemas/iam.Organization"
          },
          "otherDomains": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "owner": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "providers": {
            "items": {
              "$ref": "#/components/schemas/iam.ProviderItem"
            },
            "type": "array"
          },
          "redirectUris": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "refreshExpireInHours": {
            "type": "number"
          },
          "samlAttributes": {
            "items": {
              "$ref": "#/components/schemas/iam.SamlItem"
            },
            "type": "array"
          },
          "samlHashAlgorithm": {
            "type": "string"
          },
          "samlReplyUrl": {
            "type": "string"
          },
          "scopes": {
            "items": {
              "$ref": "#/components/schemas/iam.ScopeItem"
            },
            "type": "array"
          },
          "signinHtml": {
            "type": "string"
          },
          "signinItems": {
            "items": {
              "$ref": "#/components/schemas/iam.SigninItem"
            },
            "type": "array"
          },
          "signinMethods": {
            "items": {
              "$ref": "#/components/schemas/iam.SigninMethod"
            },
            "type": "array"
          },
          "signinUrl": {
            "type": "string"
          },
          "signupHtml": {
            "type": "string"
          },
          "signupItems": {
            "items": {
              "$ref": "#/components/schemas/iam.SignupItem"
            },
            "type": "array"
          },
          "signupUrl": {
            "type": "string"
          },
          "sslCert": {
            "type": "string"
          },
          "sslMode": {
            "type": "string"
          },
          "tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "termsOfUse": {
            "type": "string"
          },
          "themeData": {
            "$ref": "#/components/schemas/iam.ThemeData"
          },
          "title": {
            "type": "string"
          },
          "tokenAttributes": {
            "items": {
              "$ref": "#/components/schemas/iam.JwtItem"
            },
            "type": "array"
          },
          "tokenFields": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "tokenFormat": {
            "type": "string"
          },
          "tokenSigningMethod": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "updatedAt": {
            "format": "date-time",
            "type": "string"
          },
          "upstreamHost": {
            "type": "string"
          },
          "useEmailAsSamlNameId": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "iam.ApplicationListResult": {
        "properties": {
          "applications": {
            "items": {
              "$ref": "#/components/schemas/iam.Application"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "iam.AuditLog": {
        "properties": {
          "action": {
            "type": "string"
          },
          "clientIp": {
            "type": "string"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string"
          },
          "createdTime": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "isTriggered": {
            "type": "boolean"
          },
          "language": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "requestUri": {
            "type": "string"
          },
          "response": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          },
          "updatedAt": {
            "format": "date-time",
            "type": "string"
          },
          "user": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "iam.CartItem": {
        "properties": {
          "displayName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "quantity": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "iam.Cert": {
        "properties": {
          "accessKey": {
            "type": "string"
          },
          "accessSecret": {
            "type": "string"
          },
          "account": {
            "type": "string"
          },
          "bitSize": {
            "type": "integer"
          },
          "certificate": {
            "type": "string"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string"
          },
          "createdTime": {
            "type": "string"
          },
          "cryptoAlgorithm": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "displayName": {
            "type": "string"
          },
          "domainExpireTime": {
            "type": "string"
          },
          "expireInYears": {
            "type": "integer"
          },
          "expireTime": {
            "type": "string"
          },
          "id": {
[...]
