{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package iam is Hanzo's identity provider: users, organizations, applications, and the OIDC/OAuth2 endpoints every Hanzo service authenticates against.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "iam"
    }
  ],
  "paths": {
    "/.well-known/{wildcard1}": {
      "delete": {
        "operationId": "delete_.well-known_by_wildcard1",
        "summary": "OIDC discovery and the JWKS at the issuer root, where a relying party looks before it can do anything else.",
        "description": "Serves the two documents every OpenID Connect client reads first: /.well-known/openid-configuration (also at /.well-known/oauth-authorization-server, RFC 8414) and /.well-known/jwks. Public by construction — a client has no token yet — and minted per request by IAM from the deployment's own registered applications and signing certs, with the issuer derived from the host that was asked, so a strict client never has to reconcile two spellings of the origin. What is advertised is what IAM implements: the authorization-code flow, S256 PKCE, the grants it honours, and the signing algorithms whose public keys the JWKS actually publishes.\n\nThe wildcard sits at the ROOT because the spec puts it there, not because it is a catch-all, and it is narrow by construction: zip matches the most specific pattern regardless of registration order, so the deeper routes under it — agentskills' /.well-known/agent-skills/* — still win. A method IAM does not serve at one of these documents is its 405, and an unknown name under the prefix is its 404; neither reaches the console.\n\nFail-closed matters most here, because this is the FIRST call a relying party makes. Before the degraded half covered this wildcard, a discovery request during an IAM outage fell through to the console catch-all and answered 200 with the single-page app's HTML, which the client then parsed as its discovery document. It now answers a JSON 503.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_.well-known_by_wildcard1",
        "summary": "OIDC discovery and the JWKS at the issuer root, where a relying party looks before it can do anything else.",
        "description": "Serves the two documents every OpenID Connect client reads first: /.well-known/openid-configuration (also at /.well-known/oauth-authorization-server, RFC 8414) and /.well-known/jwks. Public by construction — a client has no token yet — and minted per request by IAM from the deployment's own registered applications and signing certs, with the issuer derived from the host that was asked, so a strict client never has to reconcile two spellings of the origin. What is advertised is what IAM implements: the authorization-code flow, S256 PKCE, the grants it honours, and the signing algorithms whose public keys the JWKS actually publishes.\n\nThe wildcard sits at the ROOT because the spec puts it there, not because it is a catch-all, and it is narrow by construction: zip matches the most specific pattern regardless of registration order, so the deeper routes under it — agentskills' /.well-known/agent-skills/* — still win. A method IAM does not serve at one of these documents is its 405, and an unknown name under the prefix is its 404; neither reaches the console.\n\nFail-closed matters most here, because this is the FIRST call a relying party makes. Before the degraded half covered this wildcard, a discovery request during an IAM outage fell through to the console catch-all and answered 200 with the single-page app's HTML, which the client then parsed as its discovery document. It now answers a JSON 503.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "options": {
        "operationId": "options_.well-known_by_wildcard1",
        "summary": "OIDC discovery and the JWKS at the issuer root, where a relying party looks before it can do anything else.",
        "description": "Serves the two documents every OpenID Connect client reads first: /.well-known/openid-configuration (also at /.well-known/oauth-authorization-server, RFC 8414) and /.well-known/jwks. Public by construction — a client has no token yet — and minted per request by IAM from the deployment's own registered applications and signing certs, with the issuer derived from the host that was asked, so a strict client never has to reconcile two spellings of the origin. What is advertised is what IAM implements: the authorization-code flow, S256 PKCE, the grants it honours, and the signing algorithms whose public keys the JWKS actually publishes.\n\nThe wildcard sits at the ROOT because the spec puts it there, not because it is a catch-all, and it is narrow by construction: zip matches the most specific pattern regardless of registration order, so the deeper routes under it — agentskills' /.well-known/agent-skills/* — still win. A method IAM does not serve at one of these documents is its 405, and an unknown name under the prefix is its 404; neither reaches the console.\n\nFail-closed matters most here, because this is the FIRST call a relying party makes. Before the degraded half covered this wildcard, a discovery request during an IAM outage fell through to the console catch-all and answered 200 with the single-page app's HTML, which the client then parsed as its discovery document. It now answers a JSON 503.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patch_.well-known_by_wildcard1",
        "summary": "OIDC discovery and the JWKS at the issuer root, where a relying party looks before it can do anything else.",
        "description": "Serves the two documents every OpenID Connect client reads first: /.well-known/openid-configuration (also at /.well-known/oauth-authorization-server, RFC 8414) and /.well-known/jwks. Public by construction — a client has no token yet — and minted per request by IAM from the deployment's own registered applications and signing certs, with the issuer derived from the host that was asked, so a strict client never has to reconcile two spellings of the origin. What is advertised is what IAM implements: the authorization-code flow, S256 PKCE, the grants it honours, and the signing algorithms whose public keys the JWKS actually publishes.\n\nThe wildcard sits at the ROOT because the spec puts it there, not because it is a catch-all, and it is narrow by construction: zip matches the most specific pattern regardless of registration order, so the deeper routes under it — agentskills' /.well-known/agent-skills/* — still win. A method IAM does not serve at one of these documents is its 405, and an unknown name under the prefix is its 404; neither reaches the console.\n\nFail-closed matters most here, because this is the FIRST call a relying party makes. Before the degraded half covered this wildcard, a discovery request during an IAM outage fell through to the console catch-all and answered 200 with the single-page app's HTML, which the client then parsed as its discovery document. It now answers a JSON 503.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_.well-known_by_wildcard1",
        "summary": "OIDC discovery and the JWKS at the issuer root, where a relying party looks before it can do anything else.",
        "description": "Serves the two documents every OpenID Connect client reads first: /.well-known/openid-configuration (also at /.well-known/oauth-authorization-server, RFC 8414) and /.well-known/jwks. Public by construction — a client has no token yet — and minted per request by IAM from the deployment's own registered applications and signing certs, with the issuer derived from the host that was asked, so a strict client never has to reconcile two spellings of the origin. What is advertised is what IAM implements: the authorization-code flow, S256 PKCE, the grants it honours, and the signing algorithms whose public keys the JWKS actually publishes.\n\nThe wildcard sits at the ROOT because the spec puts it there, not because it is a catch-all, and it is narrow by construction: zip matches the most specific pattern regardless of registration order, so the deeper routes under it — agentskills' /.well-known/agent-skills/* — still win. A method IAM does not serve at one of these documents is its 405, and an unknown name under the prefix is its 404; neither reaches the console.\n\nFail-closed matters most here, because this is the FIRST call a relying party makes. Before the degraded half covered this wildcard, a discovery request during an IAM outage fell through to the console catch-all and answered 200 with the single-page app's HTML, which the client then parsed as its discovery document. It now answers a JSON 503.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_.well-known_by_wildcard1",
        "summary": "OIDC discovery and the JWKS at the issuer root, where a relying party looks before it can do anything else.",
        "description": "Serves the two documents every OpenID Connect client reads first: /.well-known/openid-configuration (also at /.well-known/oauth-authorization-server, RFC 8414) and /.well-known/jwks. Public by construction — a client has no token yet — and minted per request by IAM from the deployment's own registered applications and signing certs, with the issuer derived from the host that was asked, so a strict client never has to reconcile two spellings of the origin. What is advertised is what IAM implements: the authorization-code flow, S256 PKCE, the grants it honours, and the signing algorithms whose public keys the JWKS actually publishes.\n\nThe wildcard sits at the ROOT because the spec puts it there, not because it is a catch-all, and it is narrow by construction: zip matches the most specific pattern regardless of registration order, so the deeper routes under it — agentskills' /.well-known/agent-skills/* — still win. A method IAM does not serve at one of these documents is its 405, and an unknown name under the prefix is its 404; neither reaches the console.\n\nFail-closed matters most here, because this is the FIRST call a relying party makes. Before the degraded half covered this wildcard, a discovery request during an IAM outage fell through to the console catch-all and answered 200 with the single-page app's HTML, which the client then parsed as its discovery document. It now answers a JSON 503.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "trace": {
        "operationId": "trace_.well-known_by_wildcard1",
        "summary": "OIDC discovery and the JWKS at the issuer root, where a relying party looks before it can do anything else.",
        "description": "Serves the two documents every OpenID Connect client reads first: /.well-known/openid-configuration (also at /.well-known/oauth-authorization-server, RFC 8414) and /.well-known/jwks. Public by construction — a client has no token yet — and minted per request by IAM from the deployment's own registered applications and signing certs, with the issuer derived from the host that was asked, so a strict client never has to reconcile two spellings of the origin. What is advertised is what IAM implements: the authorization-code flow, S256 PKCE, the grants it honours, and the signing algorithms whose public keys the JWKS actually publishes.\n\nThe wildcard sits at the ROOT because the spec puts it there, not because it is a catch-all, and it is narrow by construction: zip matches the most specific pattern regardless of registration order, so the deeper routes under it — agentskills' /.well-known/agent-skills/* — still win. A method IAM does not serve at one of these documents is its 405, and an unknown name under the prefix is its 404; neither reaches the console.\n\nFail-closed matters most here, because this is the FIRST call a relying party makes. Before the degraded half covered this wildcard, a discovery request during an IAM outage fell through to the console catch-all and answered 200 with the single-page app's HTML, which the client then parsed as its discovery document. It now answers a JSON 503.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/login/oauth": {
      "delete": {
        "operationId": "delete_login_oauth",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does."
      },
      "get": {
        "operationId": "get_login_oauth",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does."
      },
      "options": {
        "operationId": "options_login_oauth",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does."
      },
      "patch": {
        "operationId": "patch_login_oauth",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does."
      },
      "post": {
        "operationId": "post_login_oauth",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does."
      },
      "put": {
        "operationId": "put_login_oauth",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does."
      },
      "trace": {
        "operationId": "trace_login_oauth",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does."
      }
    },
    "/login/oauth/{wildcard1}": {
      "delete": {
        "operationId": "delete_login_oauth_by_wildcard1",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_login_oauth_by_wildcard1",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "options": {
        "operationId": "options_login_oauth_by_wildcard1",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patch_login_oauth_by_wildcard1",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_login_oauth_by_wildcard1",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_login_oauth_by_wildcard1",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "trace": {
        "operationId": "trace_login_oauth_by_wildcard1",
        "summary": "The interactive browser leg of the authorize flow, claimed by the identity plane.",
        "description": "This is where /v1/iam/oauth/authorize sends a human. Having validated the client, the redirect URI and S256 PKCE, that endpoint answers 302 to the requesting application's own signinUrl — or, when the application record carries none, to /login/oauth/authorize here, with the request re-encoded as a clean query string built from known parameters only. RFC 8628's device verification page (/login/oauth/device) is the other address beneath the prefix.\n\nBoth are PAGES a person opens, not JSON operations, and IAM registers no route under this prefix at all — it claims the prefix so its Guard covers it. What this relay actually returns is therefore IAM's refusal rather than a rendered sign-in form: with no verified bearer, the same {\"status\":401,\"error\":\"authentication required\"} envelope every gated IAM path answers, identically for every method, since there is no route here for the method to select. An application configured with its own signinUrl never reaches this prefix.\n\nThe address is claimed rather than answered, and claiming it is the point: it is more specific than the console's terminal catch-all, so while IAM is mounted nothing else in the binary can serve the target the authorize endpoint redirects to. When IAM cannot boot it answers the same fail-closed JSON 503 the rest of the identity plane does.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/iam": {
      "delete": {
        "operationId": "delete_v1_iam",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ]
      },
      "get": {
        "operationId": "get_v1_iam",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ]
      },
      "options": {
        "operationId": "options_v1_iam",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ]
      },
      "patch": {
        "operationId": "patch_v1_iam",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ]
      },
      "post": {
        "operationId": "post_v1_iam",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ]
      },
      "put": {
        "operationId": "put_v1_iam",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ]
      },
      "trace": {
        "operationId": "trace_v1_iam",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ]
      }
    },
    "/v1/iam/{wildcard1}": {
      "delete": {
        "operationId": "delete_v1_iam_by_wildcard1",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_iam_by_wildcard1",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "options": {
        "operationId": "options_v1_iam_by_wildcard1",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patch_v1_iam_by_wildcard1",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_iam_by_wildcard1",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v1_iam_by_wildcard1",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "trace": {
        "operationId": "trace_v1_iam_by_wildcard1",
        "summary": "The whole Hanzo identity surface: OIDC and OAuth2, sign-in, and the user, organization, application, role and credential records every Hanzo service authenticates against.",
        "description": "Relays github.com/hanzoai/iam verbatim. The remainder of the path and the method together select the operation INSIDE IAM — OIDC discovery and JWKS, the oauth authorize/token/userinfo/logout/introspect/revoke/device endpoints, credential and wallet sign-in, the front door a hosted login page self-configures from, the typed CRUD over users, organizations, applications, providers, roles, projects, workspaces, permissions, certs, keys, invitations and audit logs, SCIM 2.0, service accounts, memberships, TOTP enrollment, and the Casdoor verb aliases (get-users, add-organization, …) the live consoles still call. cloud does not interpret the remainder or rewrite the reply: the status, the bytes and the Content-Type are the nested app's own.\n\nWHO MAY CALL IT is structural inside IAM — decided by which group a route is registered on, never by an allow-list that can drift. The protocol half is public by construction, because a caller holding no token has to be able to reach it: discovery, JWKS, authorize, token, userinfo, logout, introspect, revoke, credential sign-in, the CAIP-122 wallet flow, and the Docker registry token endpoint. Everything else is behind IAM's one Guard and fails closed at 401 — in IAM's OWN {\"status\":401,\"error\":\"authentication required\"} envelope, which is NOT cloud's error shape, so a client that only parses cloud errors will not recognise a refusal from here.\n\nWHAT IT IS SCOPED TO is the verified bearer's own organization: a request parameter can never widen a read past the caller's authority, because the owner queried is the owner authorized. The single cross-tenant scope is membership of the reserved `admin` organization, and only such a principal may write a platform-owned record — the gate that stops a tenant from overwriting a signing cert and minting its own tokens. That predicate is read from the token SUBJECT, never from its `owner` or `organization` claims, which name the APPLICATION's org and diverge from the user's for a shared app. An org admin manages only what its own org owns; an ordinary user gets self-service on its own record and nothing more.\n\nTWO RULES a reader otherwise gets wrong. The oauth token, introspect and revoke endpoints take application/x-www-form-urlencoded bodies by RFC 6749/7662/7009, not JSON — a generated client that posts JSON to everything under this prefix turns a working token exchange into a 400. And the prefix is not exclusively IAM's: a more specific route beats this wildcard, so /v1/iam/keys and /v1/iam/onboard are served by the account app rather than by the relay, even though the nested app registers those addresses too.\n\nIf IAM cannot open its encrypted store or finish mounting, every address here answers a JSON 503 instead of falling through to the console's single-page app. An identity path must say it is down rather than return HTML a client will try to parse.",
        "tags": [
          "iam"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  }
}
