{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package dataset is the per-org dataset plane of /v1/risk: a dataset is a VERSIONED, IMMUTABLE snapshot of one tenant's own event surface, and this is where it is declared, materialised, described, exported and disposed of.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "datasets"
    }
  ],
  "paths": {
    "/v1/datasets": {
      "get": {
        "operationId": "riskDatasets",
        "summary": "List this org's datasets",
        "description": "Datasets lists this org's datasets, each with its newest version. An org that\nhas declared none gets an empty list; a store that cannot be reached gets a\nrefusal, never an empty list, because the two read identically and only one of\nthem is true.",
        "tags": [
          "datasets"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDatasetList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "riskCreateDataset",
        "summary": "Declare the next version of a dataset",
        "description": "Declares the next version of a dataset from a bound query over\nthis org's own feature surface.\n\nIt mints a VERSION and writes no rows: a version is declared, then materialised\nonce, then never rewritten. Version numbers are monotone and never reused, so\n\"version 3 of signups\" means one thing forever — which is the whole reason a\nmodel can cite one.\n\nThe window is bounded by the source's retention, the horizon by a year, the\nrows by the plane's cap, and the number of datasets and versions per org by\ntheir own limits. Every refusal names which bound it hit.",
        "tags": [
          "datasets"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "from": "2026-01-01T00:00:00Z",
                "horizon": 14,
                "kind": "person",
                "name": "signups",
                "to": "2026-04-01T00:00:00Z"
              },
              "schema": {
                "$ref": "#/components/schemas/riskDatasetSpec"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDataset"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/datasets/{name}": {
      "delete": {
        "operationId": "riskDeleteDataset",
        "summary": "Dispose of one dataset and every version of it",
        "description": "Disposes of one dataset and every version of it: the rows are\ndropped and the register is marked with what went.\n\nThis is the ONLY expiry in this plane. Neither table carries a TTL, deliberately:\na table TTL is a fleet-wide clock no tenant can hold longer or shorten, which is\nthe opposite of a retention decision belonging to the tenant whose records they\nare. The drop is a partition drop on (org, dataset), so the tenant is the first\ncomponent of the thing being dropped and a disposal cannot be spelled across one.\n\nThe BYTES are what goes. The register keeps one `disposed` row per version — the\nname, the number, the spec, the digest and who disposed of it when — for two\nreasons: a retention obligation is answered by a record of the deletion, not by\nsilence; and version numbers must stay monotone, so that after `orders` is\ndisposed of and declared again the next version is 4 and not 1. A number that\ncould be reused would make every citation of `orders v3` ambiguous forever.\n\nIt is not reversible and there is no soft state in between. A version a model\ncited has no rows once this returns, and every read of it says so.",
        "tags": [
          "datasets"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the dataset, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "signups"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDatasetDisposal"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "riskDataset",
        "summary": "Describe every version of one dataset",
        "description": "Dataset describes every version of one dataset, newest first — the whole\nhistory, because the point of a version is that the older ones are still there\nand a model fitted last quarter cites one of them.\n\nA name this org does not own answers 404, exactly as an unknown name does, so a\nprobe learns nothing about another tenant's datasets.",
        "tags": [
          "datasets"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the dataset, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "signups"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDatasetVersions"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/datasets/{name}/export": {
      "get": {
        "operationId": "riskExportDataset",
        "summary": "Read a version's rows back, one page at a time",
        "description": "Reads a published version's rows back, one bounded page at a\ntime, in the version's own stable row order.\n\nOnly a published version can be exported. Rows written by an attempt that never\ncompleted are inert — no register row names them — and they are disposed of with\nthe dataset.",
        "tags": [
          "datasets"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the dataset, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "signups"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Version is the version to read. Zero takes the newest published one.",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "split",
            "in": "query",
            "required": false,
            "description": "Split narrows to train, val or test. Empty reads every split.",
            "schema": {
              "type": "string"
            },
            "example": "train"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset is where the page starts, in the version's own row order (by id,\nwhich is derived from the row and therefore stable forever).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit is how many rows to return. Zero and anything above the plane's bound\ntake the bound.",
            "schema": {
              "type": "integer"
            },
            "example": 500
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDatasetRows"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/datasets/{name}/lineage": {
      "get": {
        "operationId": "riskDatasetLineage",
        "summary": "Show where a version's rows came from, and whether that can still be demonstrated",
        "description": "Shows where a version's rows came from and whether that can\nstill be demonstrated.\n\nThe answer is MEASURED, not recalled: the plane asks the source the same\nbounded question again and compares it to the fingerprint taken when the\nversion was built. Anything but exact agreement is reported as drift — the\nsource is fed by a rollup that runs behind the events, so \"it holds more now\"\nis the ordinary case and it means re-running the spec would not reproduce this\nversion. An admitted gap is actionable; an unfalsifiable claim is not.\n\nIT IS A PRICED, BOUNDED READ, because it is the same statement a\nmaterialisation is charged for: an exact distinct-count over up to 400 days of\nthis org's feature surface. It takes the org's ONE source-scan slot, so a\ntenant looping it spends one scan and not a thousand; it counts against the\nplane's ceiling, so the fleet's warehouse is bounded too; and it runs under\nthis plane's own deadline rather than the caller's patience.",
        "tags": [
          "datasets"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the dataset, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "signups"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Version is the version to trace. Zero takes the newest published one.",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskLineage"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/datasets/{name}/materialize": {
      "post": {
        "operationId": "riskMaterializeDataset",
        "summary": "Materialise the declared version into immutable rows",
        "description": "Builds the declared version into immutable rows and answers\n202 as soon as the attempt is on record.\n\nIt never holds the request open for the work: a materialisation is a bounded\nwarehouse scan, and letting an HTTP client's timeout be a data plane's timeout\nis how one tenant's retry loop becomes everyone's outage. ONE materialisation\nruns per org at a time; a second is refused rather than queued, because a queue\nadmits the same work later and the honest answer to \"again\" while one is\nrunning is that one is running.\n\nOnly a DECLARED version is admitted. A published version is immutable, and a\nversion whose earlier attempt did not complete is never re-attempted — that\nwould union two runs' rows under one number and make the digest a lie. In both\ncases the answer is to declare a new version, which is what a second run over a\nmoving source honestly is.",
        "tags": [
          "datasets"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the dataset, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "signups"
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDataset"
                }
              }
            },
            "description": "accepted"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "riskDataset": {
        "properties": {
          "at": {
            "description": "At is when this version last changed state, RFC 3339 UTC.",
            "type": "string"
          },
          "by": {
            "description": "By is who moved it there: the validated user, or the org itself when the\ncaller is a machine with no user behind it.",
            "type": "string"
          },
          "counts": {
            "$ref": "#/components/schemas/riskSplitCounts",
            "description": "Counts is how the rows fall across the splits."
          },
          "digest": {
            "description": "Digest fingerprints the SPEC and the ROWS together. Two materialisations of\none spec agree on it or the plane says they do not.",
            "type": "string"
          },
          "name": {
            "description": "Name identifies the dataset across all of its versions.",
            "type": "string"
          },
          "oversize": {
            "description": "Oversize is how many of the window's subjects this version could NOT carry\nbecause their subject identity exceeds the plane's per-subject byte bound.\n\nIt is on the wire, not only in a log, because it is the one degradation a\ncaller cannot otherwise detect: the rows that are here look complete, and a\ndataset silently missing a population is a model silently blind to it.\nNon-zero does not make a version invalid — it makes it a version whose\ncoverage is STATED. Zero is the normal case and omits.",
            "type": "integer"
          },
          "refusal": {
            "description": "Refusal names why there are no bytes, when there are none.",
            "type": "string"
          },
          "running": {
            "description": "Running is true while THIS process is materialising the version. A version\nthat is `materializing` and not running was started by a process that is\ngone — two states the register cannot tell apart, because a register cannot\nknow which processes are alive.",
            "type": "boolean"
          },
          "share": {
            "description": "Share is the fraction of the window's subjects admitted, in thousandths.\n1000 means the whole window fitted under the cap; anything less means the\nversion is a reproducible sample and says by how much.",
            "type": "integer"
          },
          "spec": {
            "$ref": "#/components/schemas/riskDatasetSpec",
            "description": "Spec is the bound query this version was built from, exactly as recorded."
          },
          "status": {
            "description": "Status is declared, materializing, ready or refused. Only `ready` has bytes,\nand `ready` is terminal: a published version is never rewritten.",
            "type": "string"
          },
          "truncated": {
            "description": "Truncated is true when the row cap bound before the window ran out. The\ntrailing subject is dropped whole when that happens, because half a subject\non one side of a split is exactly the leak the grouping prevents.",
            "type": "boolean"
          },
          "version": {
            "description": "Version is which version this is, from 1 and monotone within the dataset.\nA number is never reused — not even after a disposal, where the next declare\ncontinues the count — so \"signups v3\" means one thing forever, which is what\nmakes a model's citation of it checkable.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "riskDatasetDisposal": {
        "properties": {
          "dataset": {
            "description": "Dataset is the dataset that was disposed of. The NAME survives: declaring it\nagain continues the version count rather than starting over at 1.",
            "type": "string"
          },
          "rows": {
            "description": "Rows is how many rows they held between them, as the REGISTER recorded them\nwhen each was materialised — not a count of what the drop deleted, which is\ngone by the time this answers.",
            "type": "integer"
          },
          "versions": {
            "description": "Versions is how many versions went.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "riskDatasetList": {
        "properties": {
          "items": {
            "description": "Items is one entry per dataset, carrying its newest version. Never null: an\norg that has declared nothing gets an empty array.",
            "items": {
              "$ref": "#/components/schemas/riskDataset"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "riskDatasetRow": {
        "properties": {
          "at": {
            "description": "At is the row's instant.",
            "type": "string"
          },
          "id": {
            "description": "ID names the row forever. It is DERIVED from the row's own subject and\ninstant, not allocated, so two materialisations of the same fact agree on it\nwithout coordinating.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the subject kind: person, session or account.",
            "type": "string"
          },
          "point": {
            "description": "Point is the coordinates, in the order the version's spec names its dims.",
            "items": {
              "type": "number"
            },
            "type": "array"
          },
          "split": {
            "description": "Split is train, val or test.",
            "type": "string"
          },
          "subject": {
            "description": "Subject is the identity within that kind — whose row this is. Every row of\none subject is in ONE split, decided by that subject's earliest instant, so\na subject is never on both sides of a cut.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "riskDatasetRows": {
        "properties": {
          "dataset": {
            "description": "Dataset is the dataset the page was read from.",
            "type": "string"
          },
          "digest": {
            "description": "Digest is the version's fingerprint. An exported page that did not carry it\nwould be bytes with no way to say which dataset they are.",
            "type": "string"
          },
          "dims": {
            "description": "Dims names what each coordinate of Point means, in Point's own order.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "limit": {
            "description": "Limit is the page size actually served: the one asked for, clamped to the\nplane's own bound of 5000. Fewer rows than Limit means the version ended.",
            "type": "integer"
          },
          "offset": {
            "description": "Offset is where this page starts in the version's own row order, which is by\nrow id and therefore stable forever.",
            "type": "integer"
          },
          "rows": {
            "description": "Rows is the page. Never null.",
            "items": {
              "$ref": "#/components/schemas/riskDatasetRow"
            },
            "type": "array"
          },
          "version": {
            "description": "Version is which published version it was read from — the one asked for, or\nthe newest published one when the request named none.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "riskDatasetSpec": {
        "properties": {
          "cuts": {
            "description": "Cuts are the two RFC 3339 instants dividing train | val | test. Omit them to\ntake 70% and 85% of the window by time. Splitting is TEMPORAL and then\ngrouped by subject — a random split puts one device on both sides of the\nline and the model memorises the entity instead of the behaviour.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "dims": {
            "description": "Dims are the coordinates to carry, by published name. Empty takes the whole\nsurface. They are stored in the plane's own order, never the order given, so\ntwo requests naming the same dims produce identical rows.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "from": {
            "description": "From is where the event window opens, RFC 3339, INCLUSIVE. The window may\nnot be longer than the source's own retention: past that, its older half is\nalready gone and the dataset would silently be shorter than it says.",
            "type": "string"
          },
          "horizon": {
            "description": "Horizon is how many days a row must have aged before it may be admitted. It\nis what keeps a fact that was not yet knowable at scoring time out of a\ntraining set: a chargeback lands 30 to 120 days after the transaction it\ncondemns, so 120 for the payment lane and 14 for signup abuse. Zero admits\nthe whole window and is honest only where the outcome is immediate.",
            "type": "integer"
          },
          "kind": {
            "description": "Kind narrows to one subject kind — person, session or account. Empty takes\nevery kind.",
            "type": "string"
          },
          "name": {
            "description": "Name identifies the dataset across its versions: lower-case letters, digits\nand hyphens, starting with a letter.",
            "type": "string"
          },
          "rows": {
            "description": "Rows caps the materialisation. Zero takes the plane's own bound.",
            "type": "integer"
          },
          "seed": {
            "description": "Seed decides WHICH subjects are admitted when the window holds more rows\nthan the cap allows. It is recorded on the version, so a capped dataset is\nreproducible rather than being whichever rows the store returned first.\nOmit it to seed from the dataset's name.",
            "type": "string"
          },
          "to": {
            "description": "To is where the window ends, EXCLUSIVE, so two datasets meeting at one\ninstant share no row. A materialisation reads less than this — the end is\npulled back by Horizon, and the lineage reports the window it actually read.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "riskDatasetVersions": {
        "properties": {
          "items": {
            "description": "Items is every version of it, newest first — including the disposed ones,\nwhose record outlives their rows. Never null.",
            "items": {
              "$ref": "#/components/schemas/riskDataset"
            },
            "type": "array"
          },
          "name": {
            "description": "Name is the dataset these versions belong to, as the register holds it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "riskLineage": {
        "properties": {
          "dataset": {
            "description": "Dataset is the dataset traced.",
            "type": "string"
          },
          "digest": {
            "description": "Digest is the version's fingerprint, repeated here so a lineage answer is\nself-contained.",
            "type": "string"
          },
          "from": {
            "description": "From is where the window actually read opens, RFC 3339. Same as the spec's.",
            "type": "string"
          },
          "holds": {
            "description": "Holds is what the source holds for the same window NOW. The difference\nbetween it and Rows is the whole of the reproducibility claim.",
            "type": "integer"
          },
          "oversize": {
            "description": "Oversize is how many subjects the window held that were too large to\nrepresent when this version was built. It is part of the fingerprint, so it\nis part of what \"reproducible\" is measured over.",
            "type": "integer"
          },
          "refusal": {
            "description": "Refusal says which way it failed — the window expired, or the source now\nholds a different count. Absent when Reproducible is true.",
            "type": "string"
          },
          "reproducible": {
            "description": "Reproducible is true when the source still holds what this version was built\nfrom — measured by asking it again, not recalled. False is ordinary: the\nsource is fed by a rollup that runs behind the events, so \"it holds more\nnow\" is the common case and it means re-running the spec would not produce\nthis version.",
            "type": "boolean"
          },
          "retention": {
            "description": "Retention is the source's own expiry rule as the store reports it, read at\nmaterialisation time rather than assumed. A source whose retention is\nshorter than this window cannot re-derive it.",
            "type": "string"
          },
          "rows": {
            "description": "Rows is how many rows the source held for that window at materialisation\ntime. Holds is the same question asked now, and the difference between them\nis the whole of the reproducibility claim.",
            "type": "integer"
          },
          "share": {
            "description": "Share is the fraction of subjects admitted, in thousandths.",
            "type": "integer"
          },
          "source": {
            "description": "Source is the plane the rows were derived from.",
            "type": "string"
          },
          "subjects": {
            "description": "Subjects is how many distinct subjects those rows belonged to. It is the\nreal sample size — the row count flatters it whenever a subject is active.",
            "type": "integer"
          },
          "to": {
            "description": "To is where it ends: the spec's own end pulled BACK by the maturity horizon,\nso it is usually earlier than the spec says. This is the window a\nreproduction has to ask for — asking the spec's would not return these rows.",
            "type": "string"
          },
          "version": {
            "description": "Version is the version traced — the one asked for, or the newest published\none when the request named none.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "riskSplitCounts": {
        "properties": {
          "judged": {
            "description": "Judged is how many rows carry a disposition. It is zero until a label plane\nwrites one, and reporting it plainly is what lets a model plane refuse to\nrank rather than name a winner it cannot justify.",
            "type": "integer"
          },
          "productive": {
            "description": "Productive is how many judged rows carry the one disposition.",
            "type": "integer"
          },
          "rows": {
            "description": "Rows is how many rows the version holds across every split. It is the size\nof the version, not of the source window — the horizon, the cuts and the row\ncap all bind before this number.",
            "type": "integer"
          },
          "subjects": {
            "description": "Subjects is how many distinct subjects the rows belong to. Every row of one\nsubject is in ONE split, so this is the real sample size — the row count\nflatters it whenever a subject is active.",
            "type": "integer"
          },
          "test": {
            "description": "Test is how many fall after the second cut — the LATEST slice, and the only\none a score is honest about, since the split is temporal.",
            "type": "integer"
          },
          "train": {
            "description": "Train is how many rows fall before the first cut — the EARLIEST slice of the\nwindow, which is what a model is fitted on.",
            "type": "integer"
          },
          "unproductive": {
            "description": "Unproductive is how many carry the other. With Productive it accounts for\nJudged, so the class imbalance is visible before anyone trains on it; both\nstay 0 while Judged is 0.",
            "type": "integer"
          },
          "val": {
            "description": "Val is how many fall between the two cuts, held out for tuning.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
