{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package benchmark mounts the Hanzo Cloud /v1/benchmark/* surface: the native benchmark ARENA — run the top-N canonical public benchmarks against any model or endpoint, under ONE standardized harness, measure Hanzo's own models (enso, zen), and reconcile any external provider-reported claim against that measurement.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "benchmark"
    }
  ],
  "paths": {
    "/v1/benchmark/catalog": {
      "get": {
        "operationId": "get_v1_benchmark_catalog",
        "tags": [
          "benchmark"
        ]
      }
    },
    "/v1/benchmark/compare": {
      "get": {
        "operationId": "get_v1_benchmark_compare",
        "tags": [
          "benchmark"
        ]
      }
    },
    "/v1/benchmark/leaderboard": {
      "get": {
        "operationId": "get_v1_benchmark_leaderboard",
        "tags": [
          "benchmark"
        ]
      }
    },
    "/v1/benchmark/presets": {
      "get": {
        "operationId": "get_v1_benchmark_presets",
        "tags": [
          "benchmark"
        ]
      },
      "post": {
        "operationId": "post_v1_benchmark_presets",
        "tags": [
          "benchmark"
        ]
      }
    },
    "/v1/benchmark/runs": {
      "post": {
        "operationId": "post_v1_benchmark_runs",
        "tags": [
          "benchmark"
        ]
      }
    }
  }
}
