{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package benchmark is one honest score for any model, on the tests everyone quotes.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "benchmark"
    }
  ],
  "paths": {
    "/v1/benchmark/catalog": {
      "get": {
        "operationId": "get_benchmark_catalog",
        "summary": "Is the canonical public benchmarks this arena runs — the id, title, axis, item count and upstream source of each, with native marking the ones the standardized harness runs today; the rest are registered and adapter-pending.",
        "description": "Is the canonical public benchmarks this arena runs — the id, title, axis,\nitem count and upstream source of each, with native marking the ones the\nstandardized harness runs today; the rest are registered and adapter-pending.\n\nThese ids are the vocabulary the rest of the surface takes: a run names them, and\nthe leaderboard and compare read them from ?benchmark=. The catalog is\ndeployment-wide and identical for every caller — there is no tenant in it.",
        "tags": [
          "benchmark"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/benchmarkCatalog"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/benchmark/claims": {
      "get": {
        "operationId": "get_benchmark_claims",
        "summary": "Lists the effective published claims: what the leaderboard will use for each (benchmark, model) after the seed, the import and any stored correction are layered.",
        "description": "Lists the effective published claims: what the leaderboard will use for\neach (benchmark, model) after the seed, the import and any stored correction\nare layered. It answers the operator's question — what does this arena\ncurrently believe someone else reported, and did we ship that or fix it.\n\nEffective values only. The history of a key lives in the append-only file and\nis not what this op is for; a list that returned every superseded row would\nmake the common question the hard one.",
        "tags": [
          "benchmark"
        ],
        "parameters": [
          {
            "name": "Benchmark",
            "in": "query",
            "required": false,
            "description": "Benchmark filters to one benchmark id. Empty returns every benchmark.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Model",
            "in": "query",
            "required": false,
            "description": "Model filters to one model. Empty returns every model.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Provider",
            "in": "query",
            "required": false,
            "description": "Provider filters to one lab or leaderboard — the way to read what a single\nsource claims across every model it covers.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Source",
            "in": "query",
            "required": false,
            "description": "Source filters to one citation, which is the finest grain there is: a\nsource is what makes two claims about one model independent rather than a\nrestatement of each other.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Protocol",
            "in": "query",
            "required": false,
            "description": "Protocol filters by HOW a claim was scored, so provider cards can be read\napart from third parties running their own harness.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/claimsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_benchmark_claims",
        "summary": "Records published claims: one to correct a number, many to import a leaderboard.",
        "description": "Records published claims: one to correct a number, many to import a\nleaderboard. Every row must carry a Source, because a claim without its\ncitation is a number nobody can check — and an unattributed number in the\npublished plane is indistinguishable from a measurement, which is the one\nconfusion this whole surface is built to prevent.\n\nWrites are append-only, so this never destroys the value it replaces. A\nvendor restating a score leaves both rows on disk, which is how the restating\nitself becomes visible.",
        "tags": [
          "benchmark"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putClaimsIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/putClaimsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/benchmark/compare": {
      "get": {
        "operationId": "get_benchmark_compare",
        "summary": "Is the ONLY valid arm-vs-arm test: it pairs the two models on the items BOTH completed, and answers rescue and damage counts with an exact-McNemar p.",
        "description": "Is the ONLY valid arm-vs-arm test: it pairs the two models on the items\nBOTH completed, and answers rescue and damage counts with an exact-McNemar p.\n\nPairing is what prevents the subset artifact — comparing one model's easy subset\nagainst another's full run — so n_common, not either arm's own coverage, is the\nnumber to read this by.\n\nBoth a and b are required. The benchmark defaults to gpqa_diamond.",
        "tags": [
          "benchmark"
        ],
        "parameters": [
          {
            "name": "benchmark",
            "in": "query",
            "required": false,
            "description": "Benchmark is the catalog id to compare on, defaulting to gpqa_diamond.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "a",
            "in": "query",
            "required": true,
            "description": "A is the first model id. It is required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "b",
            "in": "query",
            "required": true,
            "description": "B is the second model id. It is required.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pairing"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/benchmark/history": {
      "get": {
        "operationId": "get_benchmark_history",
        "summary": "Returns each model's measured score per run over time, oldest first, with the change between runs.",
        "description": "Returns each model's measured score per run over time, oldest first,\nwith the change between runs.\n\nThis is the counterweight to a leaderboard: the board shows the latest run\nbecause that is what \"how good is it\" means, and a single latest number cannot\ndistinguish a model that has always been strong from one that just improved,\nor from one that regressed after a provider changed something. Both matter for\nrouting, and only one of them is visible on a board.\n\nRuns with no id — attempts recorded before runs existed — group under the\nempty run, which is honestly what they are: one undated measurement.",
        "tags": [
          "benchmark"
        ],
        "parameters": [
          {
            "name": "Benchmark",
            "in": "query",
            "required": false,
            "description": "Benchmark is the catalog id to read, defaulting to gpqa_diamond.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Model",
            "in": "query",
            "required": false,
            "description": "Model filters to one model. Empty returns every model measured.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/historyOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/benchmark/leaderboard": {
      "get": {
        "operationId": "get_benchmark_leaderboard",
        "summary": "Answers one row per model for the benchmark named — what our own harness measured, beside what the vendor claims, and the gap between them.",
        "description": "Answers one row per model for the benchmark named — what our own\nharness measured, beside what the vendor claims, and the gap between them.\n\nThe gap is the point of the arena; provider-reported claims have run materially\nhot against one standardized harness.\n\nThe two planes are NEVER blended, and that is the rule to read the rows by: a\nmodel we have measured but no vendor has claimed for shows published null, a\nmodel with only a claim shows measured null, and gap exists only where both do.\n\nn is coverage and is not decoration: two measured numbers taken over different\nitem counts are not comparable, so read the row's n before reading its accuracy.",
        "tags": [
          "benchmark"
        ],
        "parameters": [
          {
            "name": "benchmark",
            "in": "query",
            "required": false,
            "description": "Benchmark is the catalog id to read, defaulting to gpqa_diamond.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/leaderboard"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/benchmark/presets": {
      "get": {
        "operationId": "get_benchmark_presets",
        "summary": "Are the router blends available to compose from — a named set of model arms, the rank they escalate through and the panel width that bounds fan-out — each served by the model layer as enso-\u003cname\u003e.",
        "description": "Are the router blends available to compose from — a named set of model\narms, the rank they escalate through and the panel width that bounds fan-out —\neach served by the model layer as enso-\u003cname\u003e.\n\nToday it answers exactly one row, the reference blend: a worked example written\nin models we name, published as an example of the FORM. It is deliberately not\nthe composition of a Hanzo-served tier — the tier name exists to abstract that —\nso fork it and swap arms by what the leaderboard measures on your own tasks\nrather than reading it as a disclosure.",
        "tags": [
          "benchmark"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/presetList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_benchmark_presets",
        "summary": "Validates a router blend — its name, its arms, the rank they escalate through and the panel fan-out width — and answers 202 with the preset and the enso-\u003cname\u003e it would be served as.",
        "description": "Validates a router blend — its name, its arms, the rank they escalate\nthrough and the panel fan-out width — and answers 202 with the preset and the\nenso-\u003cname\u003e it would be served as.\n\nIt VALIDATES AND ECHOES: the definition is not persisted yet, so a preset\naccepted here is not one the model layer will resolve. Treat the response as a\ncheck on the blend, not a promise to serve it.\n\nDefaults fill the shape rather than refusing it: an omitted rank becomes the arms\nin declared order and a panel below 1 becomes 1. The one real invariant is that\nrank may only name arms the blend declares — the same rule the model catalog\nenforces — and a rank naming anything else is a 422 listing exactly which entries\nwere undeclared. A blend with no name or no arms is a 400.",
        "tags": [
          "benchmark"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Preset"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/presetAccepted"
                }
              }
            },
            "description": "accepted"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/benchmark/runs": {
      "post": {
        "operationId": "post_benchmark_runs",
        "summary": "Admits and queues a benchmark run against a model or your own endpoint, and answers 202 with the receipt.",
        "description": "Admits and queues a benchmark run against a model or your own endpoint, and\nanswers 202 with the receipt.\n\nIt is an ADMISSION, not a result: the work is done by the harness afterwards and\nthe numbers appear on the leaderboard as it completes them.\n\nCost is bounded by the store rather than by a quota: attempts are append-only and\nkeyed by (benchmark, item, model), so an (item, model) pair already attempted is\nskipped instead of re-spent, and re-queuing the same run is close to free.\n\nValidation is up front and total — a request with neither model nor endpoint is a\n400, one with no benchmarks is a 400, and any benchmark id outside the catalog is\na 422 naming exactly which ids were unknown, so a typo never silently queues a\npartial run.",
        "tags": [
          "benchmark"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/suite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admission"
                }
              }
            },
            "description": "accepted"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "Benchmark": {
        "properties": {
          "axis": {
            "description": "what capability it measures",
            "type": "string"
          },
          "id": {
            "description": "the id every other op on this surface takes",
            "type": "string"
          },
          "items": {
            "description": "how many items it holds, when the set is fixed",
            "type": "integer"
          },
          "native": {
            "description": "whether the standardized harness runs it today",
            "type": "boolean"
          },
          "source": {
            "description": "where the items come from",
            "type": "string"
          },
          "title": {
            "description": "the benchmark's published name",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ClaimRow": {
        "properties": {
          "at": {
            "description": "At is when a stored row was recorded. Zero for a seed row.",
            "format": "date-time",
            "type": "string"
          },
          "benchmark": {
            "description": "Benchmark is the canonical test id the claim is about, from /catalog.",
            "type": "string"
          },
          "by": {
            "description": "By is who recorded it, when the caller said.",
            "type": "string"
          },
          "model": {
            "description": "Model is the system the score is claimed for.",
            "type": "string"
          },
          "origin": {
            "description": "Origin is \"seed\" for a compiled row and \"stored\" for one written through\nthis surface. It is the difference between what we shipped and what an\noperator has since corrected.",
            "type": "string"
          },
          "protocol": {
            "description": "Protocol records HOW it was scored — provider-reported, agentic,\nthird-party-leaderboard — so a provider card is never read as a measurement.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is who the claim belongs to — the lab or leaderboard whose number\nthis is.",
            "type": "string"
          },
          "score": {
            "description": "Score is the reported aggregate, as a percentage.",
            "type": "number"
          },
          "source": {
            "description": "Source is the citation the row was read from.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "LeaderRow": {
        "properties": {
          "ciHigh": {
            "description": "CIHigh is the upper bound of that interval. Wilson rather than the normal\napproximation because the normal one produces bounds past 100 exactly where\nbenchmark scores live — at 194/198 that is the top of the board, not a\ncorner case.",
            "type": "number"
          },
          "ciLow": {
            "description": "CILow and CIHigh are the 95% Wilson interval on Measured, in percent. They\nare what makes the score comparable: at n=198 a 98% carries roughly ±2\npoints, so most differences at the top of a board are not distinguishable\nand a bare number implies a precision it does not have. Absent when there\nis no measurement.",
            "type": "number"
          },
          "claims": {
            "description": "Claims is how many independent claims exist for this model on this\nbenchmark. More than one means several sources reported it.",
            "type": "integer"
          },
          "gap": {
            "description": "published − measured (the arena signal)",
            "type": "number"
          },
          "mean": {
            "description": "Mean is the unweighted average of every claim, which answers a different\nquestion from Published: what the field says on average, rather than what\nthe vendor says about itself. With one claim the two are equal.",
            "type": "number"
          },
          "measured": {
            "description": "hanzo-measured accuracy % (nil if unrun)",
            "type": "number"
          },
          "measuredAt": {
            "description": "MeasuredAt is when the run behind Measured was recorded.",
            "format": "date-time",
            "type": "string"
          },
          "model": {
            "description": "the model this row scores",
            "type": "string"
          },
          "n": {
            "description": "coverage — NEVER compare across different n",
            "type": "integer"
          },
          "protocol": {
            "description": "how the vendor scored their claim: single-attempt, pass@k or agentic",
            "type": "string"
          },
          "published": {
            "description": "provider-claimed % (nil if none)",
            "type": "number"
          },
          "run": {
            "description": "Run names the measurement Measured came from, and MeasuredAt is when it\nran. A score with no date is not a fact about a model, it is a fact about\na model on a day — and models change, so the date is what makes the number\ncheckable rather than merely quoted.",
            "type": "string"
          },
          "spread": {
            "description": "Spread is the distance between the highest and lowest of them, nil when\nthere is only one. It is the disagreement AMONG sources, which a single\nPublished number cannot show — signal in the same way the\npublished-minus-measured gap is.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "ModelHistory": {
        "properties": {
          "model": {
            "description": "Model is the system these runs measured.",
            "type": "string"
          },
          "points": {
            "description": "Points is every run, oldest first.",
            "items": {
              "$ref": "#/components/schemas/RunPoint"
            },
            "type": "array"
          },
          "trend": {
            "description": "Trend is the change from the first run to the last, absent when there has\nonly been one. It answers the question a list of points makes you compute.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "Preset": {
        "properties": {
          "arms": {
            "description": "the blend — model ids from the arena",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "description": "served as enso-\u003cname\u003e",
            "type": "string"
          },
          "note": {
            "description": "why this blend (audit)",
            "type": "string"
          },
          "owner": {
            "description": "scoping org (never cross-tenant)",
            "type": "string"
          },
          "panel": {
            "description": "fan-out width (\u003e=1)",
            "type": "integer"
          },
          "rank": {
            "description": "escalation order over arms",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "RunPoint": {
        "properties": {
          "at": {
            "description": "At is when the run was recorded.",
            "format": "date-time",
            "type": "string"
          },
          "delta": {
            "description": "Delta is the change in score from the previous run for this model, absent\non the first. It is the number the whole surface exists to make visible.",
            "type": "number"
          },
          "n": {
            "description": "N is how many items the run covered. Two runs are only comparable at the\nsame n, which is why it travels with every point rather than being assumed.",
            "type": "integer"
          },
          "run": {
            "description": "Run is the measurement id these attempts were recorded under.",
            "type": "string"
          },
          "score": {
            "description": "Score is accuracy over the items this run covered, as a percentage.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "admission": {
        "properties": {
          "benchmarks": {
            "description": "Benchmarks are the catalog ids admitted.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "endpoint": {
            "description": "Endpoint is the caller's own endpoint the run targets.",
            "type": "string"
          },
          "model": {
            "description": "Model is the catalog model the run targets.",
            "type": "string"
          },
          "note": {
            "description": "Note explains what admission does and does not promise.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"queued\": the run is admitted, not finished.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "benchmarkCatalog": {
        "properties": {
          "data": {
            "description": "Data is one row per benchmark, in the catalog's own order.",
            "items": {
              "$ref": "#/components/schemas/Benchmark"
            },
            "type": "array"
          },
          "total": {
            "description": "Total is how many rows Data holds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "claimsOut": {
        "properties": {
          "data": {
            "description": "Data is one row per (benchmark, model, SOURCE) — every independent claim,\nnot one per model. Effective values only: the row that wins after layering\nfor each source, never the superseded readings behind it.",
            "items": {
              "$ref": "#/components/schemas/ClaimRow"
            },
            "type": "array"
          },
          "total": {
            "description": "Total is how many rows Data holds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "historyOut": {
        "properties": {
          "benchmark": {
            "description": "Benchmark is the catalog id these histories are about.",
            "type": "string"
          },
          "data": {
            "description": "Data is one entry per model, ordered by model name.",
            "items": {
              "$ref": "#/components/schemas/ModelHistory"
            },
            "type": "array"
          },
          "total": {
            "description": "Total is how many models Data holds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "leaderboard": {
        "properties": {
          "benchmark": {
            "description": "Benchmark is the catalog id these rows are about.",
            "type": "string"
          },
          "rows": {
            "description": "Rows is one per model, ordered by measured accuracy descending.",
            "items": {
              "$ref": "#/components/schemas/LeaderRow"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "pairing": {
        "properties": {
          "a": {
            "description": "A is the first model id.",
            "type": "string"
          },
          "a_correct": {
            "description": "ACorrect is how many of those common items A got right.",
            "type": "integer"
          },
          "b": {
            "description": "B is the second model id.",
            "type": "string"
          },
          "b_correct": {
            "description": "BCorrect is how many of those common items B got right.",
            "type": "integer"
          },
          "benchmark": {
            "description": "Benchmark is the catalog id the two arms were compared on.",
            "type": "string"
          },
          "mcnemar_p": {
            "description": "McnemarP is the two-sided exact binomial p on the discordant pairs. It is 1\nwhen nothing is discordant, which is \"no evidence of a difference\", not an\nerror.",
            "type": "number"
          },
          "n_common": {
            "description": "NCommon is how many items BOTH arms completed. It is the denominator, and\nthe reason this comparison is valid where a raw accuracy difference is not.",
            "type": "integer"
          },
          "net_a_minus_b": {
            "description": "NetAMinusB is the two rescue counts subtracted — A's advantage in items.",
            "type": "integer"
          },
          "rescue_a_over_b": {
            "description": "RescueAOverB is how many items A got right and B got wrong.",
            "type": "integer"
          },
          "rescue_b_over_a": {
            "description": "RescueBOverA is how many items B got right and A got wrong.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "presetAccepted": {
        "properties": {
          "note": {
            "description": "Note explains what acceptance does and does not promise.",
            "type": "string"
          },
          "preset": {
            "$ref": "#/components/schemas/Preset",
            "description": "Preset is the blend with its defaults filled in."
          },
          "served_as": {
            "description": "ServedAs is the model id the serving layer would resolve this blend under.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"accepted\": the blend is well-formed, not that it is now served.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "presetList": {
        "properties": {
          "data": {
            "description": "Data is the blends available to compose from.",
            "items": {
              "$ref": "#/components/schemas/Preset"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "publishedClaim": {
        "properties": {
          "benchmark": {
            "description": "Benchmark is the canonical test id the claim is about, from /catalog.",
            "type": "string"
          },
          "model": {
            "description": "Model is the system the score is claimed for.",
            "type": "string"
          },
          "protocol": {
            "description": "Protocol records HOW it was scored — provider-reported, agentic,\nthird-party-leaderboard — because a provider card and a third party running\nits own harness are different kinds of number and must not be blended.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is who the claim belongs to — the lab or leaderboard whose number\nthis is. It joins a claim to the attempts measured for that same model.",
            "type": "string"
          },
          "score": {
            "description": "Score is the reported aggregate, as a percentage.",
            "type": "number"
          },
          "source": {
            "description": "Source is the citation the row was read from. A claim without one is a\nnumber nobody can check, so every write requires it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "putClaimsIn": {
        "properties": {
          "by": {
            "description": "By is who is recording them — a person, or the importer's name.",
            "type": "string"
          },
          "data": {
            "description": "Data is the claims to record. One row is a correction; many is an import.\nThere is no separate bulk endpoint because there is no separate operation:\nimporting a leaderboard and fixing one number are the same write.",
            "items": {
              "$ref": "#/components/schemas/publishedClaim"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "putClaimsOut": {
        "properties": {
          "recorded": {
            "description": "Recorded is how many rows were written.",
            "type": "integer"
          },
          "rejected": {
            "description": "Rejected names the rows that were not, and why.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "suite": {
        "properties": {
          "attempts": {
            "description": "Attempts is how many times to try each item; the harness's default applies\nwhen it is omitted.",
            "type": "integer"
          },
          "benchmarks": {
            "description": "Benchmarks are the catalog ids to run. At least one is required, and every id\nmust be in the catalog.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "endpoint": {
            "description": "Endpoint is your own chat-completions URL, for benchmarking a model this arena\ndoes not host. Either this or model is required.",
            "type": "string"
          },
          "model": {
            "description": "Model is the catalog model id to run. Either this or endpoint is required.",
            "type": "string"
          }
        },
        "required": [
          "benchmarks"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
