{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "crm"
    }
  ],
  "paths": {
    "/v1/crm/applications": {
      "get": {
        "operationId": "get_v1_crm_applications",
        "summary": "ListApplications returns the org's Startup Program applications, newest first.",
        "description": "ListApplications returns the org's Startup Program applications, newest first.\nEach carries its AI screen and its stage history; a stage narrows the page to\none pipeline stage.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Stage returns only the applications at that pipeline stage when set:\napplied, screened, qualified, credits-offered, onboarded or rejected.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned: 200 by default, 1000 at most.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/applicationList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_crm_applications",
        "tags": [
          "crm"
        ]
      }
    },
    "/v1/crm/applications/{id}": {
      "get": {
        "operationId": "get_v1_crm_applications_id",
        "summary": "GetApplication returns one Startup Program application with its AI screen and stage history.",
        "description": "GetApplication returns one Startup Program application with its AI screen and stage history.\nAn id belonging to another org reads as not found.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "appl_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_v1_crm_applications_id",
        "summary": "PatchApplication moves one Startup Program application through the pipeline.",
        "description": "PatchApplication moves one Startup Program application through the pipeline. The\nmove is recorded on the application's timeline, attributed to the calling\nstaff user: it may advance exactly one stage, go back to any earlier stage,\nreject from any non-rejected stage, or reopen a rejected application to\n`applied`; anything else is refused. Rejecting requires a reason. A note with\nno stage change is still recorded.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the application to move, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "appl_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "appl_1",
                "reason": "not a fit this round",
                "stage": "rejected"
              },
              "schema": {
                "$ref": "#/components/schemas/patchApplicationIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/crm/companies": {
      "get": {
        "operationId": "get_v1_crm_companies",
        "summary": "ListCompanies returns the caller org's companies, most recently updated first.",
        "description": "ListCompanies returns the caller org's companies, most recently updated first.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned: 200 by default, 1000 at most.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/companyList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_crm_companies",
        "summary": "CreateCompany adds a company to the caller's org and answers 201 with the stored record.",
        "description": "CreateCompany adds a company to the caller's org and answers 201 with the stored record.\nA name is required; an empty currency defaults to USD.",
        "tags": [
          "crm"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "domainName": "maxpower.ai",
                "employees": 42,
                "name": "MaxPower Inc"
              },
              "schema": {
                "$ref": "#/components/schemas/companyReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/crm/companies/{id}": {
      "delete": {
        "operationId": "delete_v1_crm_companies_id",
        "summary": "DeleteCompany removes one of the caller org's companies and answers 204.",
        "description": "DeleteCompany removes one of the caller org's companies and answers 204. Any\ncontact or opportunity in the org that referenced it keeps existing with the\nreference cleared, so nothing is left pointing at a company that is gone.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "comp_1"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_crm_companies_id",
        "summary": "GetCompany returns one of the caller org's companies.",
        "description": "GetCompany returns one of the caller org's companies. An id belonging to\nanother org reads as not found.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "comp_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_v1_crm_companies_id",
        "summary": "UpdateCompany replaces one of the caller org's companies.",
        "description": "UpdateCompany replaces one of the caller org's companies. Every writable\nfield is taken from the request, so a field the request omits is CLEARED —\nsend the whole record. A name is required.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID names the company to update and comes from the path. A create ignores\nit: the server mints the id.",
            "schema": {
              "type": "string"
            },
            "example": "comp_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "employees": 64,
                "id": "comp_1",
                "name": "MaxPower Inc"
              },
              "schema": {
                "$ref": "#/components/schemas/companyReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/crm/contacts": {
      "get": {
        "operationId": "get_v1_crm_contacts",
        "summary": "ListContacts returns the caller org's contacts, most recently updated first.",
        "description": "ListContacts returns the caller org's contacts, most recently updated first.\nA companyId narrows the page to the people at that company.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "description": "CompanyID returns only the contacts at that company when set.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned: 200 by default, 1000 at most.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contactList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_crm_contacts",
        "summary": "CreateContact adds a person to the caller's org and answers 201 with the stored record.",
        "description": "CreateContact adds a person to the caller's org and answers 201 with the stored record.\nOne of firstName, lastName or email is required, and a companyId must name a\ncompany in the same org.",
        "tags": [
          "crm"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "dave@maxpower.ai",
                "firstName": "Dave",
                "lastName": "Lorenzini"
              },
              "schema": {
                "$ref": "#/components/schemas/contactReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/crm/contacts/{id}": {
      "delete": {
        "operationId": "delete_v1_crm_contacts_id",
        "summary": "DeleteContact removes one of the caller org's contacts and answers 204.",
        "description": "DeleteContact removes one of the caller org's contacts and answers 204. Any\nopportunity in the org that named it point of contact keeps existing with\nthat reference cleared.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "cont_1"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_crm_contacts_id",
        "summary": "GetContact returns one of the caller org's contacts.",
        "description": "GetContact returns one of the caller org's contacts. An id belonging to\nanother org reads as not found.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "cont_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_v1_crm_contacts_id",
        "summary": "UpdateContact replaces one of the caller org's contacts.",
        "description": "UpdateContact replaces one of the caller org's contacts. Every writable field\nis taken from the request, so a field the request omits is CLEARED — send the\nwhole record. One of firstName, lastName or email is required.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID names the contact to update and comes from the path. A create ignores\nit: the server mints the id.",
            "schema": {
              "type": "string"
            },
            "example": "cont_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "firstName": "Dave",
                "id": "cont_1",
                "jobTitle": "CTO"
              },
              "schema": {
                "$ref": "#/components/schemas/contactReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/crm/opportunities": {
      "get": {
        "operationId": "get_v1_crm_opportunities",
        "summary": "ListOpportunities returns the caller org's deals, most recently updated first.",
        "description": "ListOpportunities returns the caller org's deals, most recently updated first.\nA stage narrows the page to one pipeline stage.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Stage returns only the opportunities at that pipeline stage when set\n(NEW, SCREENING, MEETING, PROPOSAL or CUSTOMER; case-insensitive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned: 200 by default, 1000 at most.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/oppList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_crm_opportunities",
        "summary": "CreateOpportunity adds a deal to the caller's org and answers 201 with the stored record.",
        "description": "CreateOpportunity adds a deal to the caller's org and answers 201 with the stored record.\nA name is required; the stage defaults to NEW; companyId and pointOfContactId\nmust name records in the same org.",
        "tags": [
          "crm"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "amount": 5000000,
                "name": "Enterprise Deal",
                "stage": "PROPOSAL"
              },
              "schema": {
                "$ref": "#/components/schemas/oppReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/crm/opportunities/{id}": {
      "delete": {
        "operationId": "delete_v1_crm_opportunities_id",
        "summary": "DeleteOpportunity removes one of the caller org's deals and answers 204.",
        "description": "DeleteOpportunity removes one of the caller org's deals and answers 204.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "oppo_1"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_crm_opportunities_id",
        "summary": "GetOpportunity returns one of the caller org's deals.",
        "description": "GetOpportunity returns one of the caller org's deals. An id belonging to\nanother org reads as not found.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "oppo_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_v1_crm_opportunities_id",
        "summary": "UpdateOpportunity replaces one of the caller org's deals.",
        "description": "UpdateOpportunity replaces one of the caller org's deals. Every writable\nfield is taken from the request, so a field the request omits is CLEARED —\nsend the whole record. A name is required and the stage must be a pipeline\nstage.",
        "tags": [
          "crm"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID names the opportunity to update and comes from the path. A create\nignores it: the server mints the id.",
            "schema": {
              "type": "string"
            },
            "example": "oppo_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "oppo_1",
                "name": "Enterprise Deal",
                "stage": "CUSTOMER"
              },
              "schema": {
                "$ref": "#/components/schemas/oppReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/crm/summary": {
      "get": {
        "operationId": "get_v1_crm_summary",
        "summary": "Summary counts the caller org's CRM records: companies, contacts, opportunities.",
        "description": "Summary counts the caller org's CRM records: companies, contacts, opportunities.",
        "tags": [
          "crm"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crmSummary"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Application": {
        "properties": {
          "company": {
            "type": "string"
          },
          "companyId": {
            "type": "string"
          },
          "contactId": {
            "type": "string"
          },
          "contactName": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "events": {
            "items": {
              "$ref": "#/components/schemas/StageEvent"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          },
          "metadata": {
            "additionalProperties": {
              "type": "object"
            },
            "type": "object"
          },
          "reason": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "screen": {
            "$ref": "#/components/schemas/ScreenResult"
          },
          "stage": {
            "type": "string"
          },
          "tier1": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "integer"
          },
          "website": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Company": {
        "properties": {
          "arr": {
            "type": "integer"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "domainName": {
            "type": "string"
          },
          "employees": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "idealCustomerProfile": {
            "type": "boolean"
          },
          "linkedinLink": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          },
          "xLink": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Contact": {
        "properties": {
          "city": {
            "type": "string"
          },
          "companyId": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "linkedinLink": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          },
          "xLink": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Opportunity": {
        "properties": {
          "amount": {
            "type": "integer"
          },
          "closeDate": {
            "type": "integer"
          },
          "companyId": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "pointOfContactId": {
            "type": "string"
          },
          "stage": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ScreenResult": {
        "properties": {
          "draftReply": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "score": {
            "description": "0..100",
            "type": "integer"
          },
          "screenedAt": {
            "type": "integer"
          },
          "status": {
            "description": "pending | done | failed",
            "type": "string"
          },
          "suggestedCredits": {
            "description": "0 | 5000 | 25000 | 50000 | 150000",
            "type": "integer"
          },
          "summary": {
            "type": "string"
          },
          "tier1Backed": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "StageEvent": {
        "properties": {
          "at": {
            "type": "integer"
          },
          "by": {
            "description": "\"system\" or a staff user id",
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "applicationList": {
        "properties": {
          "data": {
            "description": "Data is the page of applications, newest first.",
            "items": {
              "$ref": "#/components/schemas/Application"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "companyList": {
        "properties": {
          "data": {
            "description": "Data is the page of companies, most recently updated first.",
            "items": {
              "$ref": "#/components/schemas/Company"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "companyReq": {
        "properties": {
          "arr": {
            "description": "ARR is annual recurring revenue in minor units (cents) of Currency.",
            "type": "integer"
          },
          "city": {
            "description": "City is the head-office city.",
            "type": "string"
          },
          "country": {
            "description": "Country is the head-office country.",
            "type": "string"
          },
          "currency": {
            "description": "Currency is the ISO code ARR is denominated in; empty defaults to USD.",
            "type": "string"
          },
          "domainName": {
            "description": "DomainName is the company's primary domain, e.g. \"acme.com\".",
            "type": "string"
          },
          "employees": {
            "description": "Employees is the headcount.",
            "type": "integer"
          },
          "id": {
            "description": "ID names the company to update and comes from the path. A create ignores\nit: the server mints the id.",
            "type": "string"
          },
          "idealCustomerProfile": {
            "description": "ICP marks the company as an ideal-customer-profile fit.",
            "type": "boolean"
          },
          "linkedinLink": {
            "description": "Linkedin is the company's LinkedIn URL.",
            "type": "string"
          },
          "name": {
            "description": "Name is the company name. Required.",
            "type": "string"
          },
          "xLink": {
            "description": "XLink is the company's X (Twitter) URL.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "contactList": {
        "properties": {
          "data": {
            "description": "Data is the page of contacts, most recently updated first.",
            "items": {
              "$ref": "#/components/schemas/Contact"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "contactReq": {
        "properties": {
          "city": {
            "description": "City is where the person is based.",
            "type": "string"
          },
          "companyId": {
            "description": "CompanyID links the contact to one of the org's companies.",
            "type": "string"
          },
          "email": {
            "description": "Email is the person's email address.",
            "type": "string"
          },
          "firstName": {
            "description": "FirstName is the person's given name.",
            "type": "string"
          },
          "id": {
            "description": "ID names the contact to update and comes from the path. A create ignores\nit: the server mints the id.",
            "type": "string"
          },
          "jobTitle": {
            "description": "JobTitle is the person's role at their company.",
            "type": "string"
          },
          "lastName": {
            "description": "LastName is the person's family name.",
            "type": "string"
          },
          "linkedinLink": {
            "description": "Linkedin is the person's LinkedIn URL.",
            "type": "string"
          },
          "phone": {
            "description": "Phone is the person's phone number.",
            "type": "string"
          },
          "xLink": {
            "description": "XLink is the person's X (Twitter) URL.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "crmSummary": {
        "properties": {
          "companies": {
            "description": "Companies is how many companies the org has.",
            "type": "integer"
          },
          "contacts": {
            "description": "Contacts is how many contacts the org has.",
            "type": "integer"
          },
          "opportunities": {
            "description": "Opportunities is how many opportunities the org has.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "oppList": {
        "properties": {
          "data": {
            "description": "Data is the page of opportunities, most recently updated first.",
            "items": {
              "$ref": "#/components/schemas/Opportunity"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "oppReq": {
        "properties": {
          "amount": {
            "description": "Amount is the deal value in minor units (cents) of Currency.",
            "type": "integer"
          },
          "closeDate": {
            "description": "CloseDate is the expected close, as a unix second (0 = unset).",
            "type": "integer"
          },
          "companyId": {
            "description": "CompanyID links the deal to one of the org's companies.",
            "type": "string"
          },
          "currency": {
            "description": "Currency is the ISO code Amount is denominated in; empty defaults to USD.",
            "type": "string"
          },
          "id": {
            "description": "ID names the opportunity to update and comes from the path. A create\nignores it: the server mints the id.",
            "type": "string"
          },
          "name": {
            "description": "Name is the deal name. Required.",
            "type": "string"
          },
          "pointOfContactId": {
            "description": "PointOfContact links the deal to one of the org's contacts.",
            "type": "string"
          },
          "stage": {
            "description": "Stage is the pipeline stage: NEW, SCREENING, MEETING, PROPOSAL or CUSTOMER\n(case-insensitive). Empty defaults to NEW.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "patchApplicationIn": {
        "properties": {
          "id": {
            "description": "ID is the application to move, from the path.",
            "type": "string"
          },
          "note": {
            "description": "Note is a free-text comment recorded on the timeline, with or without a\nstage change.",
            "type": "string"
          },
          "reason": {
            "description": "Reason records WHY, and is required to reject.",
            "type": "string"
          },
          "stage": {
            "description": "Stage is the stage to move to: applied, screened, qualified,\ncredits-offered, onboarded or rejected. Omit to leave the stage alone.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
