{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package standing prices and tracks what it costs to KEEP a company, as distinct from what it cost to form one.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "standing"
    }
  ],
  "paths": {
    "/v1/standing/upkeep": {
      "post": {
        "operationId": "post_standing_upkeep",
        "summary": "Reports what keeping this entity costs every year, itemised.",
        "description": "Reports what keeping this entity costs every year, itemised.\n\nThis is the figure that decides where to incorporate, and the one a formation\nprice cannot show: Delaware is cheaper to form than Wyoming for a corporation\nand dearer to keep, so a founder shown only the formation fee is shown the half\nthat reverses. Each state line carries the authority that publishes it and the\ndate it was checked, and a franchise tax that scales is marked a minimum rather\nthan quoted as final.",
        "tags": [
          "standing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/upkeepIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Upkeep"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "Obligation": {
        "properties": {
          "amountCents": {
            "description": "AmountCents is what it costs each period.",
            "type": "integer"
          },
          "asOf": {
            "description": "AsOf is when that amount was last checked against its source, RFC 3339 date.",
            "type": "string"
          },
          "code": {
            "description": "Code names the obligation so a caller can branch without reading prose.",
            "type": "string"
          },
          "every": {
            "description": "Every is how often it falls due — \"yearly\" for every obligation known here.",
            "type": "string"
          },
          "label": {
            "description": "Label is what the payer sees.",
            "type": "string"
          },
          "minimum": {
            "description": "Minimum marks a floor rather than a fixed price — a franchise tax that\nscales with shares or assets is quoted at its minimum, and an entity past\nthe threshold owes more. Saying so is the difference between a quote and a\nnumber someone later disputes.",
            "type": "boolean"
          },
          "passThrough": {
            "description": "PassThrough marks money we collect and remit to the state rather than keep.",
            "type": "boolean"
          },
          "source": {
            "description": "Source names the authority that publishes a pass-through amount, so the\nfigure can be checked without first working out who would know.",
            "type": "string"
          },
          "stale": {
            "description": "Stale reports that AsOf is older than the review window. It tells; it does\nnot block.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Upkeep": {
        "properties": {
          "atLeast": {
            "description": "AtLeast reports that some obligation is a minimum, so YearlyCents is a floor\nrather than a final figure.",
            "type": "boolean"
          },
          "currency": {
            "description": "Currency is the ISO code every amount here is denominated in.",
            "type": "string"
          },
          "jurisdiction": {
            "description": "Jurisdiction is the state whose obligations these are.",
            "type": "string"
          },
          "obligations": {
            "description": "Obligations are the recurring charges, in the order a reader should see them.",
            "items": {
              "$ref": "#/components/schemas/Obligation"
            },
            "type": "array"
          },
          "structure": {
            "description": "Structure is the entity this prices.",
            "type": "string"
          },
          "yearlyCents": {
            "description": "YearlyCents is what the entity owes every year, all obligations summed.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "upkeepIn": {
        "properties": {
          "agentOfRecord": {
            "description": "AgentOfRecord includes our agent fee, which most entities owe someone.",
            "type": "boolean"
          },
          "jurisdiction": {
            "description": "Jurisdiction is the state the entity stands in.",
            "type": "string"
          },
          "structure": {
            "description": "Structure is the entity kind: c-corp, llc or dao-llc.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
