{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "search-docs"
    },
    {
      "name": "vector"
    }
  ],
  "paths": {
    "/v1/search-docs/indexes": {
      "get": {
        "operationId": "searchIndexes",
        "summary": "searchIndexes lists every Meilisearch index with its document count.",
        "description": "searchIndexes lists every Meilisearch index with its document count. Creation\nand last-indexed timestamps ride along. An unreachable upstream reads as an empty\nindex list, never a 5xx, so the console panel degrades to an honest empty state.",
        "tags": [
          "search-docs"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "indexes": [
                    {
                      "createdAt": "2026-01-08T17:04:11Z",
                      "docCount": 4210,
                      "lastIndexedAt": "2026-07-02T09:31:00Z",
                      "name": "docs"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/SearchIndexes"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/search-docs/stats": {
      "get": {
        "operationId": "searchStats",
        "summary": "searchStats totals the documents across every Meilisearch index.",
        "description": "searchStats totals the documents across every Meilisearch index. Query counters\nare reported as an honest zero: Meilisearch keeps no query history, so searches,\nsessions and the per-day series are not derivable from the index.",
        "tags": [
          "search-docs"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "searchesPerDay": [],
                  "totalDocuments": 4210,
                  "totalSearches": 0,
                  "totalSessions": 0
                },
                "schema": {
                  "$ref": "#/components/schemas/SearchStats"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/vector/collections": {
      "get": {
        "operationId": "vectorCollections",
        "summary": "vectorCollections lists every Qdrant collection with its vector count.",
        "description": "vectorCollections lists every Qdrant collection with its vector count. Dimension\nand distance metric ride along. An unreachable upstream reads as an empty\ncollection list.",
        "tags": [
          "vector"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "collections": [
                    {
                      "createdAt": "",
                      "dimension": 1536,
                      "distanceMetric": "Cosine",
                      "name": "docs",
                      "vectorCount": 128000
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/VectorCollections"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/vector/stats": {
      "get": {
        "operationId": "vectorStats",
        "summary": "vectorStats sums the Qdrant collections into three headline totals.",
        "description": "vectorStats sums the Qdrant collections into three headline totals. Those are\ncollections, vectors and stored bytes. An unreachable upstream reads as zeros.",
        "tags": [
          "vector"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "totalCollections": 3,
                  "totalStorageBytes": 91750400,
                  "totalVectors": 128000
                },
                "schema": {
                  "$ref": "#/components/schemas/VectorStats"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DayCount": {
        "properties": {
          "count": {
            "description": "Count is the number of searches in that day.",
            "type": "integer"
          },
          "date": {
            "description": "Date is the bucket day.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SearchIndex": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is the index creation time, now() when the upstream did not\nreport one.",
            "type": "string"
          },
          "docCount": {
            "description": "DocCount is how many documents the index currently holds.",
            "type": "integer"
          },
          "lastIndexedAt": {
            "description": "LastIndexedAt is the index's last update time, null when the upstream did\nnot report one.",
            "type": "string"
          },
          "name": {
            "description": "Name is the index uid.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SearchIndexes": {
        "properties": {
          "indexes": {
            "description": "Indexes is every index, sorted by name. Empty when the upstream is\nunreachable.",
            "items": {
              "$ref": "#/components/schemas/SearchIndex"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SearchStats": {
        "properties": {
          "searchesPerDay": {
            "description": "SearchesPerDay is always empty — the series is not derivable from the index.",
            "items": {
              "$ref": "#/components/schemas/DayCount"
            },
            "type": "array"
          },
          "totalDocuments": {
            "description": "TotalDocuments is the summed document count across every index.",
            "type": "integer"
          },
          "totalSearches": {
            "description": "TotalSearches is always 0 — Meilisearch keeps no query-history counter.",
            "type": "integer"
          },
          "totalSessions": {
            "description": "TotalSessions is always 0, for the same reason as TotalSearches.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "VectorCollection": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is the collection creation time when the upstream reports it.",
            "type": "string"
          },
          "dimension": {
            "description": "Dimension is the configured vector size.",
            "type": "integer"
          },
          "distanceMetric": {
            "description": "DistanceMetric is the configured distance, \"cosine\" when the upstream did\nnot report one.",
            "type": "string"
          },
          "name": {
            "description": "Name is the collection name.",
            "type": "string"
          },
          "storageBytes": {
            "description": "StorageBytes is the collection's on-disk size when the upstream reports it.",
            "type": "integer"
          },
          "vectorCount": {
            "description": "VectorCount is the collection's point count.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "VectorCollections": {
        "properties": {
          "collections": {
            "description": "Collections is every collection, sorted by name. Empty when the upstream is\nunreachable.",
            "items": {
              "$ref": "#/components/schemas/VectorCollection"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "VectorStats": {
        "properties": {
          "totalCollections": {
            "description": "TotalCollections is how many collections exist.",
            "type": "integer"
          },
          "totalStorageBytes": {
            "description": "TotalStorageBytes is the summed on-disk size across every collection.",
            "type": "integer"
          },
          "totalVectors": {
            "description": "TotalVectors is the summed point count across every collection.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}
