{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package product is the read-only inventory of the search and vector backends: /v1/search-docs/{indexes,stats} read from Meilisearch and /v1/vector/{collections,stats} from Qdrant, reshaped into the rows the console renders.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "search-docs"
    },
    {
      "name": "vector"
    }
  ],
  "paths": {
    "/v1/search-docs/indexes": {
      "get": {
        "operationId": "get_v1_search-docs_indexes",
        "summary": "Lists the search indexes with their document counts and timestamps.",
        "description": "Lists the search indexes with their document counts and timestamps.\n\nIt reads the in-cluster Meilisearch service and reshapes its /stats and\n/indexes replies into the rows the console's Search panel renders. The read is\ndegrade-friendly by design: an unreachable Meilisearch answers 200 with an\nEMPTY list, so the panel shows an honest empty state instead of an error.\ncreatedAt falls back to now and lastIndexedAt to null when the index list is\nunavailable.",
        "tags": [
          "search-docs"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchIndexList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/search-docs/stats": {
      "get": {
        "operationId": "get_v1_search-docs_stats",
        "summary": "Totals the documents across every search index.",
        "description": "Totals the documents across every search index.\n\ntotalDocuments is summed from Meilisearch's own per-index counts. The other\nthree fields are structurally zero rather than estimated: Meilisearch keeps no\nquery-history counters, so searches, sessions and the per-day series are not\nderivable from the index and this surface reports the honest zero instead of a\nfabricated number. An unreachable Meilisearch answers 200 with all zeros.",
        "tags": [
          "search-docs"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchStats"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/vector/collections": {
      "get": {
        "operationId": "get_v1_vector_collections",
        "summary": "Lists the vector collections with their size and geometry.",
        "description": "Lists the vector collections with their size and geometry.\n\nIt reads the in-cluster Qdrant service: the collection list, then each\ncollection's detail for its point count, vector dimension and distance metric.\nPer-collection detail is best-effort — one collection that fails to describe\nitself keeps its name and defaults (dimension 0, cosine) rather than blanking\nthe whole panel — and an unreachable Qdrant answers 200 with an EMPTY list.",
        "tags": [
          "vector"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vectorCollectionList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/vector/stats": {
      "get": {
        "operationId": "get_v1_vector_stats",
        "summary": "Totals the collections, vectors and storage across the vector store.",
        "description": "Totals the collections, vectors and storage across the vector store.\n\nEvery figure is summed from the same per-collection detail\nGET /v1/vector/collections returns, so the two panels can never disagree. An\nunreachable Qdrant answers 200 with all zeros rather than an error.",
        "tags": [
          "vector"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vectorStats"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "dayCount": {
        "properties": {
          "count": {
            "description": "Count is that day's total.",
            "type": "integer"
          },
          "date": {
            "description": "Date is the day, YYYY-MM-DD.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "searchIndex": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is the index's creation time (RFC 3339); it falls back to now when\nthe index list could not be read.",
            "type": "string"
          },
          "docCount": {
            "description": "DocCount is how many documents the index currently holds.",
            "type": "integer"
          },
          "lastIndexedAt": {
            "description": "LastIndexedAt is the index's last update time (RFC 3339), null when the\nindex list could not be read.",
            "type": "string"
          },
          "name": {
            "description": "Name is the index uid.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "searchIndexList": {
        "properties": {
          "indexes": {
            "description": "Indexes is one row per Meilisearch index, sorted by name. Empty — never\nabsent — when the search service cannot be reached.",
            "items": {
              "$ref": "#/components/schemas/searchIndex"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "searchStats": {
        "properties": {
          "searchesPerDay": {
            "description": "SearchesPerDay is always empty, for the same reason as totalSearches.",
            "items": {
              "$ref": "#/components/schemas/dayCount"
            },
            "type": "array"
          },
          "totalDocuments": {
            "description": "TotalDocuments is the sum of every index's document count.",
            "type": "integer"
          },
          "totalSearches": {
            "description": "TotalSearches is always 0: Meilisearch keeps no query-history counter, so\nthis surface reports the honest zero rather than an estimate.",
            "type": "integer"
          },
          "totalSessions": {
            "description": "TotalSessions is always 0, for the same reason as totalSearches.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "vectorCollection": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is the collection's creation time (RFC 3339); Qdrant does not\nreport one, so it is empty today.",
            "type": "string"
          },
          "dimension": {
            "description": "Dimension is the size of one vector in the collection.",
            "type": "integer"
          },
          "distanceMetric": {
            "description": "DistanceMetric is the collection's distance function; \"cosine\" when the\ncollection's detail could not be read.",
            "type": "string"
          },
          "name": {
            "description": "Name is the collection name.",
            "type": "string"
          },
          "storageBytes": {
            "description": "StorageBytes is the collection's on-disk size, omitted when unknown.",
            "type": "integer"
          },
          "vectorCount": {
            "description": "VectorCount is the collection's point count.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "vectorCollectionList": {
        "properties": {
          "collections": {
            "description": "Collections is one row per Qdrant collection, sorted by name. Empty — never\nabsent — when the vector service cannot be reached.",
            "items": {
              "$ref": "#/components/schemas/vectorCollection"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "vectorStats": {
        "properties": {
          "totalCollections": {
            "description": "TotalCollections is how many collections the store holds.",
            "type": "integer"
          },
          "totalStorageBytes": {
            "description": "TotalStorageBytes is the sum of every collection's on-disk size.",
            "type": "integer"
          },
          "totalVectors": {
            "description": "TotalVectors is the sum of every collection's point count.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}
