{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package prompts is your prompt library, versioned, so nothing changes silently.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "prompts"
    }
  ],
  "paths": {
    "/v1/prompts": {
      "get": {
        "operationId": "get_prompts",
        "summary": "List returns the caller org's prompt library as one row per prompt: its name, type, every version number it has, its taxonomy and when it last changed.",
        "description": "List returns the caller org's prompt library as one row per prompt: its name,\ntype, every version number it has, its taxonomy and when it last changed. The\ntemplate bodies are deliberately absent — fetch one prompt to read its text.",
        "tags": [
          "prompts"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/promptList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      },
      "post": {
        "operationId": "post_prompts",
        "summary": "Create records a prompt for the caller's org and answers 201 with it.",
        "description": "Create records a prompt for the caller's org and answers 201 with it. A name the\norg already uses is NOT an error and NOT an overwrite: it appends a new version,\nso the library keeps real, inspectable history and the response carries the whole\nversion list. The name is also the URL segment the prompt is fetched by, which is\nwhy its shape is constrained and a handful of names are reserved.",
        "tags": [
          "prompts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": "greeting",
                "prompt": "You are a helpful assistant.",
                "tags": [
                  "support"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/promptReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/promptDetail"
                }
              }
            },
            "description": "created"
          }
        },
        "x-tool": true
      }
    },
    "/v1/prompts/catalog": {
      "get": {
        "operationId": "get_prompts_catalog",
        "summary": "Catalog returns the read-only starter prompt library shipped with the binary — reference content every tenant sees the same, NOT the caller's own prompts and never mixed into them.",
        "description": "Catalog returns the read-only starter prompt library shipped with the binary —\nreference content every tenant sees the same, NOT the caller's own prompts and\nnever mixed into them. An org's library stays honestly empty until someone\nexplicitly imports a starter, which is an ordinary POST /v1/prompts. Entries that\nwould fail the create guards are dropped, so everything offered here can actually\nbe imported.",
        "tags": [
          "prompts"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/catalogList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/prompts/metrics": {
      "get": {
        "operationId": "get_prompts_metrics",
        "summary": "Metrics returns real per-prompt statistics for the caller's org: how many versions each prompt has, which one is current, and when it was created and last changed.",
        "description": "Metrics returns real per-prompt statistics for the caller's org: how many versions\neach prompt has, which one is current, and when it was created and last changed.\nEvery number is counted from the store — nothing here is estimated or fabricated.",
        "tags": [
          "prompts"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metricList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/prompts/{name}": {
      "delete": {
        "operationId": "delete_prompts_by_name",
        "summary": "Delete removes one of the caller org's prompts and every version of it, answering 204.",
        "description": "Delete removes one of the caller org's prompts and every version of it, answering\n204. It is scoped to the caller's org, so a name another tenant owns is the same\n404 an unknown name gives. There is no undo: the version history goes with it.",
        "tags": [
          "prompts"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the prompt to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "greeting"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-tool": true
      },
      "get": {
        "operationId": "get_prompts_by_name",
        "summary": "Get returns one of the caller org's prompts: its CURRENT template text plus the metadata of every version it has had.",
        "description": "Get returns one of the caller org's prompts: its CURRENT template text plus the\nmetadata of every version it has had. The history carries version numbers, types\nand timestamps only — not each version's body — so a long history cannot inflate\nthis response. A name the caller's org does not own is 404, whoever owns it.",
        "tags": [
          "prompts"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the prompt to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "greeting"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/promptDetail"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "CatalogEntry": {
        "properties": {
          "labels": {
            "description": "Labels is the starter's second suggested taxonomy, same treatment as Tags.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "description": "Name is the starter's suggested handle. It is NOT taken in your org: the\ncatalog is shared reference content, so this name is free until you import it,\nand posting it under a name you already use appends a version to yours.",
            "type": "string"
          },
          "prompt": {
            "description": "Prompt is the starter's full template body, ready to POST as-is. Entries too\nlarge to create (over 64 KiB) are dropped from this list rather than offered.",
            "type": "string"
          },
          "tags": {
            "description": "Tags is the starter's suggested taxonomy, carried through unchanged if you\nimport it.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "type": {
            "description": "Type labels the template's kind, defaulted to \"text\" for entries that declare\nnone.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "catalogList": {
        "properties": {
          "data": {
            "description": "Data is every starter prompt, each importable as-is with POST /v1/prompts.",
            "items": {
              "$ref": "#/components/schemas/CatalogEntry"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "metricList": {
        "properties": {
          "data": {
            "description": "Data is one row per prompt the org owns.",
            "items": {
              "$ref": "#/components/schemas/metricRow"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "metricRow": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when version 1 was written, RFC 3339 UTC.",
            "type": "string"
          },
          "currentVersion": {
            "description": "CurrentVer is the version number served as current. It always equals\n`versions`: numbering is dense from 1, and deleting a prompt takes its whole\nhistory with it rather than leaving a gap.",
            "type": "integer"
          },
          "lastUpdatedAt": {
            "description": "LastUpdatedAt is when the newest version was appended, RFC 3339 UTC — the age\nof the template you would get today.",
            "type": "string"
          },
          "name": {
            "description": "Name is the prompt this row is about — its org-unique handle.",
            "type": "string"
          },
          "type": {
            "description": "Type is the current version's kind.",
            "type": "string"
          },
          "versions": {
            "description": "Versions is how many revisions the prompt has, COUNTED in the store and\nuncapped — so it can exceed the 100 entries a list row or a detail response\ncarries. Note the type: here `versions` is a number, while on a list row it is\nthe list of version numbers.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "promptDetail": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when version 1 was written, RFC 3339 UTC. Appending a version\ndoes not move it.",
            "type": "string"
          },
          "labels": {
            "description": "Labels is the current version's free-form taxonomy. `[]` when none, never\nnull.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "lastUpdatedAt": {
            "description": "UpdatedAt is when the current version was appended, RFC 3339 UTC. Equal to\ncreatedAt for a prompt that has only ever had one version.",
            "type": "string"
          },
          "name": {
            "description": "Name is the prompt's org-unique handle and the URL segment it is addressed by.",
            "type": "string"
          },
          "prompt": {
            "description": "Prompt is the CURRENT version's template body — the only content this service\nreturns. Earlier versions are listed in versionHistory by number and date, and\ntheir bodies are not served in bulk.",
            "type": "string"
          },
          "tags": {
            "description": "Tags is the second free-form taxonomy, same rules as Labels.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "type": {
            "description": "Type labels the current version's kind; \"text\" unless the creator said\notherwise.",
            "type": "string"
          },
          "version": {
            "description": "Version is the current version number, starting at 1 and incremented by one on\nevery create against an existing name.",
            "type": "integer"
          },
          "versionHistory": {
            "description": "Versions is the history METADATA, newest first, capped at the last 100 — no\nbodies, so a long history cannot inflate this response. It always includes the\ncurrent version as its first entry.",
            "items": {
              "$ref": "#/components/schemas/versionView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "promptList": {
        "properties": {
          "data": {
            "description": "Data is one row per prompt the org owns, each with its version numbers and\ntaxonomy — never the template bodies.",
            "items": {
              "$ref": "#/components/schemas/promptMeta"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "promptMeta": {
        "properties": {
          "labels": {
            "description": "Labels is the creator's free-form taxonomy, stored as given after trimming and\nde-duplication. Always present, `[]` when none — never null.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "lastUpdatedAt": {
            "description": "LastUpdatedAt is when the newest version was appended, RFC 3339 UTC. Empty\nonly if the record carries no timestamp at all.",
            "type": "string"
          },
          "name": {
            "description": "Name is the prompt's org-unique handle and the URL segment it is fetched by:\nGET /v1/prompts/\u003cname\u003e.",
            "type": "string"
          },
          "tags": {
            "description": "Tags is the second free-form taxonomy under the same rules as Labels. Nothing\nin this service interprets either; they are yours to organize by.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "type": {
            "description": "Type labels the template's kind, \"text\" unless the creator said otherwise. It\nis the CURRENT version's type; earlier versions may carry a different one.",
            "type": "string"
          },
          "versions": {
            "description": "Versions lists every version NUMBER this prompt has, newest first, capped at\nthe last 100. The highest is the current one. (On a metrics row the same key\nis a count, not a list.)",
            "items": {
              "type": "integer"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "promptReq": {
        "properties": {
          "labels": {
            "description": "Labels is free-form taxonomy, each up to 64 characters, capped at 32 entries.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "description": "Name is the org-unique handle AND the URL segment the prompt is addressed by:\n1-64 characters matching ^[A-Za-z0-9][A-Za-z0-9._-]*$. \"metrics\", \"new\" and\n\"catalog\" are reserved. A name that already exists appends a new version.",
            "type": "string"
          },
          "prompt": {
            "description": "Prompt is the template body, capped at 64 KiB. It holds template text only —\nnever a secret.",
            "type": "string"
          },
          "tags": {
            "description": "Tags is free-form taxonomy under the same bounds as Labels.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "type": {
            "description": "Type labels the template's kind; defaults to \"text\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "versionView": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when this revision was appended, RFC 3339 UTC.",
            "type": "string"
          },
          "type": {
            "description": "Type is the kind this revision was written with, which may differ from the\ncurrent one.",
            "type": "string"
          },
          "version": {
            "description": "Version is this revision's number, 1 for the first. Numbers are dense and\nnever reused: deleting the prompt drops the whole history with it.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
