{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package webhooks is how your app hears about events: register an endpoint, pick the events, get each one delivered and signed.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "webhooks"
    }
  ],
  "paths": {
    "/v1/webhooks": {
      "get": {
        "operationId": "get_v1_webhooks",
        "summary": "Returns every webhook endpoint the caller's org has registered, newest first, each with its 7-day delivery and failure counts.",
        "description": "Returns every webhook endpoint the caller's org has registered,\nnewest first, each with its 7-day delivery and failure counts. Signing secrets\nare redacted here — a secret leaves the server only on create and on rotate.\nThe listing is physically org-scoped, so another tenant's endpoints are not\nreachable from this route at all.",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/endpointList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_webhooks",
        "summary": "Registers a new webhook subscription for the caller's org and answers 201 with the endpoint INCLUDING its freshly minted signing secret.",
        "description": "Registers a new webhook subscription for the caller's org and\nanswers 201 with the endpoint INCLUDING its freshly minted signing secret.\nThis is one of only two responses that ever carry that secret (the other is\nrotate) — store it now, because no later read returns it. The org is stamped by\nthe server from the validated principal, so a body can never register an\nendpoint in another tenant.",
        "tags": [
          "webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "description": "order pipeline",
                "events": [
                  "commerce.order.\u003e"
                ],
                "url": "https://acme.example/hooks/hanzo"
              },
              "schema": {
                "$ref": "#/components/schemas/createEndpointIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Endpoint"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "delete": {
        "operationId": "delete_v1_webhooks_id",
        "summary": "Removes one of the caller org's webhook endpoints and answers 204 with no body.",
        "description": "Removes one of the caller org's webhook endpoints and answers\n204 with no body. Delivery stops immediately and the endpoint's signing secret\nis gone with it; its recorded delivery history goes too. An id another org owns\nreads as not found.",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wh_9f8c1d2e"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_webhooks_id",
        "summary": "Returns one of the caller org's webhook endpoints with its 7-day delivery and failure counts, signing secret redacted.",
        "description": "Returns one of the caller org's webhook endpoints with its 7-day\ndelivery and failure counts, signing secret redacted. An id another org owns\nreads as not found, so the response cannot confirm that it exists.",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wh_9f8c1d2e"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Endpoint"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_v1_webhooks_id",
        "summary": "Replaces the editable fields of one of the caller org's endpoints — url, events, status and description — and answers the stored row with its secret redacted.",
        "description": "Replaces the editable fields of one of the caller org's\nendpoints — url, events, status and description — and answers the stored row\nwith its secret redacted. It is a full replace, not a patch: an omitted field\nis written as its empty value, and an omitted or empty events list resubscribes\nthe endpoint to EVERY event. The signing secret and the creation time are\nimmutable here; rotate the secret with POST /v1/webhooks/{id}/secret.",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wh_9f8c1d2e"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "events": [
                  "commerce.order.paid"
                ],
                "id": "wh_9f8c1d2e",
                "status": "disabled",
                "url": "https://acme.example/hooks/v2"
              },
              "schema": {
                "$ref": "#/components/schemas/updateEndpointIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Endpoint"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/webhooks/{id}/deliveries": {
      "get": {
        "operationId": "get_v1_webhooks_id_deliveries",
        "summary": "Returns one endpoint's per-attempt delivery log, newest first — the record of what was sent, what the subscriber answered, and how long it took.",
        "description": "Returns one endpoint's per-attempt delivery log, newest first —\nthe record of what was sent, what the subscriber answered, and how long it\ntook. One event that retried three times appears as three rows sharing a\ndelivery id. It is org-scoped exactly like every other route here: the endpoint\nlookup only ever finds THIS org's endpoint, so another org's id is a 404 and\nnever a window onto its logs.",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wh_9f8c1d2e"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many attempts come back: default 50, maximum 200. A value\nthat is not a positive integer reads as the default.",
            "schema": {
              "type": "integer"
            },
            "example": 100
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status narrows the log to one outcome: \"ok\", \"retrying\" or \"failed\".\nEmpty returns every attempt.",
            "schema": {
              "type": "string"
            },
            "example": "failed"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deliveryList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/webhooks/{id}/secret": {
      "post": {
        "operationId": "post_v1_webhooks_id_secret",
        "summary": "Mints a NEW HMAC signing secret for the endpoint and answers the endpoint WITH it — the only other response besides create that ever carries a secret.",
        "description": "Mints a NEW HMAC signing secret for the endpoint and answers the\nendpoint WITH it — the only other response besides create that ever carries a\nsecret. The old secret stops working the instant this returns: every subsequent\ndelivery signs with the new one, with no overlap window. Call it when the\nsubscriber is ready to swap the value on its side, not before.",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wh_9f8c1d2e"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Endpoint"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/webhooks/{id}/test": {
      "post": {
        "operationId": "post_v1_webhooks_id_test",
        "summary": "Sends ONE signed test event to the endpoint right now and answers the outcome inline, so the console can show whether the subscriber is reachable without waiting for real traffic.",
        "description": "Sends ONE signed test event to the endpoint right now and answers\nthe outcome inline, so the console can show whether the subscriber is reachable\nwithout waiting for real traffic. It takes the same attempt path the bus\ndispatcher takes — one attempt, 10s timeout, no retry ladder — and records the\nresult in the endpoint's delivery log. It works on a DISABLED endpoint too:\nvalidating one you have paused is the whole point.",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wh_9f8c1d2e"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/testResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DeliveryRow": {
        "properties": {
          "attempt": {
            "type": "integer"
          },
          "created": {
            "type": "string"
          },
          "delivery": {
            "type": "string"
          },
          "durationMs": {
            "type": "integer"
          },
          "endpoint": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "httpStatus": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Endpoint": {
        "properties": {
          "created": {
            "type": "string"
          },
          "deliveries7d": {
            "description": "Deliveries7d / Failures7d are cheap usage counters computed from the delivery log\nover usageWindow (not stored columns) and populated ONLY on list/get. They are 0\nwhen there is no delivery history — never omitempty, so the console always sees them.",
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "events": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "failures7d": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "updated": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "createEndpointIn": {
        "properties": {
          "description": {
            "description": "Description is a free-text label for the console. Optional, clipped to 1024 bytes.",
            "type": "string"
          },
          "events": {
            "description": "Events are NATS subject patterns to subscribe to (e.g. \"commerce.order.\u003e\").\nAn empty or omitted list means EVERY event on the platform bus. Max 64\npatterns, each max 256 bytes.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "status": {
            "description": "Status is \"active\" or \"disabled\". Empty defaults to active. A disabled\nendpoint receives no bus deliveries, but can still be exercised with\nPOST /v1/webhooks/{id}/test.",
            "type": "string"
          },
          "url": {
            "description": "URL is the https:// address each matching event is POSTed to. Required,\nmax 2048 bytes; http:// and every other scheme is refused, because a\nwebhook carries signed event data and must not travel in the clear.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "deliveryList": {
        "properties": {
          "data": {
            "description": "Data is the matching attempts, newest first.",
            "items": {
              "$ref": "#/components/schemas/DeliveryRow"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "endpointList": {
        "properties": {
          "data": {
            "description": "Data is the org's endpoints, newest first, each with its signing secret\nREDACTED — the secret leaves the server only on create and on rotate.",
            "items": {
              "$ref": "#/components/schemas/Endpoint"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "testResult": {
        "properties": {
          "delivered": {
            "type": "boolean"
          },
          "durationMs": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "httpStatus": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "updateEndpointIn": {
        "properties": {
          "description": {
            "description": "Description is a free-text label for the console. Optional, clipped to 1024 bytes.",
            "type": "string"
          },
          "events": {
            "description": "Events are NATS subject patterns to subscribe to. An empty or omitted list\nmeans EVERY event. Max 64 patterns, each max 256 bytes.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "status": {
            "description": "Status is \"active\" or \"disabled\". Empty defaults to active.",
            "type": "string"
          },
          "url": {
            "description": "URL is the https:// address each matching event is POSTed to. Required,\nmax 2048 bytes; http:// and every other scheme is refused.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
