{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package entitlements is what your org may run: what the plan grants, and which of those products are switched on.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "entitlements"
    },
    {
      "name": "orgs"
    }
  ],
  "paths": {
    "/v1/entitlements": {
      "get": {
        "operationId": "get_v1_entitlements",
        "summary": "Projection reports which console apps the CALLER's org may open, and the plan slug that decides it.",
        "description": "Projection reports which console apps the CALLER's org may open, and the plan slug\nthat decides it. It is the READ side of the unified paywall: the org's plan tier\nresolved from commerce, which is a different authority from the enablement store\nbehind GET /v1/orgs/{org}/entitlements (that one is the org's own on/off intent).\n\nIt fails SAFE-TO-LOCKED, never 500: an unvalidated principal is a 403, but a\ncommerce outage reports every app locked at 200 rather than breaking the shell.\nThe ENFORCEMENT path still fails open, so functionality survives the same outage\neven while the UI conservatively shows locked.",
        "tags": [
          "entitlements"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/projectionView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/orgs/{org}/entitlements": {
      "get": {
        "operationId": "get_v1_orgs_org_entitlements",
        "summary": "Get lists the products an org has ENABLED — its own intent, which the console's paid-product sidebar reads to decide what to show.",
        "description": "Get lists the products an org has ENABLED — its own intent, which the console's\npaid-product sidebar reads to decide what to show. It is distinct from what the\norg's plan ENTITLES it to (that is GET /v1/entitlements, resolved from commerce).\n\nA caller may only read its OWN org's row; a platform super admin may read any.",
        "tags": [
          "orgs"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entitlementsView"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_orgs_org_entitlements",
        "summary": "Post turns products on or off for an org and returns the enabled set afterwards.",
        "description": "Post turns products on or off for an org and returns the enabled set afterwards.\n\nA product may only be ENABLED if the org's plan already ENTITLES it, so enabling\nnever spends new money — a product the plan does not grant answers 402 and the\nconsole routes that to an upgrade prompt. DISABLING is never gated. A platform\nsuper admin bypasses the plan check (operator comp/grant) and may target any org;\neveryone else may only change their own. Commerce unreachable is a 503, never an\nimplicit yes.",
        "tags": [
          "orgs"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "add": [
                  "chat"
                ],
                "remove": [
                  "engine"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/mutateReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entitlementsView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "entitlementsView": {
        "properties": {
          "enabled": {
            "description": "Enabled is the org's turned-on product ids, sorted. Always an array, never null.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "mutateReq": {
        "properties": {
          "add": {
            "description": "Add is the product ids to turn ON. Each must already be an ACTIVE entitlement\nof the org's plan, unless the caller is a platform super admin.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "remove": {
            "description": "Remove is the product ids to turn OFF. Disabling is never gated.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "projectionView": {
        "properties": {
          "apps": {
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Apps says, per console app, whether the org may open it. The SAME six keys are\nalways present (studio, bot, world, platform, team, admin), so a client maps\nover it unconditionally; a key is false both when the plan does not grant the\napp and when commerce could not be reached, because a read that decides what to\nSHOW fails to LOCKED rather than to an error.",
            "type": "object"
          },
          "tier": {
            "description": "Tier is the plan slug commerce resolved for the org, or \"\" when the org has no\nactive licensing subscription — which the console treats as its free default.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
