{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package link is the unified AI login manager's registry: the org+user-scoped record of WHICH provider accounts (Claude Max, ChatGPT Plus, a Hanzo API key, a raw provider key) a developer has signed into, ON WHICH MACHINES, with each account's latest usage snapshot.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "links"
    }
  ],
  "paths": {
    "/v1/links": {
      "get": {
        "operationId": "get_v1_links",
        "summary": "List your linked accounts and the devices they sit on",
        "description": "Answers the caller's own links plus a `devices` projection of the same rows folded per machine — the cross-machine \"AI Providers / Accounts\" view. A device is a projection, not a stored entity: its labels come from its most-recently-seen account, so there is no device to create and none to garbage-collect. Revoked links are INCLUDED rather than dropped, because a logged-out account keeps its usage history and audit trail. Scoped to the caller: a validated principal and a non-empty org, else 403. Both org and subject are bound predicates on every statement, so a caller reads and writes only their OWN accounts within their own org — the org is never a parameter, and there is no path to another user's links.",
        "tags": [
          "links"
        ]
      },
      "post": {
        "operationId": "post_v1_links",
        "summary": "Register a signed-in AI provider account on a machine",
        "description": "Records that a developer has signed into one provider account on one machine — a Claude Max or ChatGPT Plus subscription, a Hanzo key, a raw provider key — and answers with the stored link. Re-reporting the same (machine, provider, account) UPDATES that link rather than creating a second, so a collector may call this on every heartbeat.\n\nNO SECRET IS SENT OR STORED. The provider's OAuth token or API key stays on the device; this registry holds link metadata and usage snapshots only, and the caller authenticates with their own Hanzo bearer. `kind` decides how the account's inference BILLS and defaults to `subscription`: a subscription account bills the user's own monthly plan and is metered here for visibility only, while an `apikey` account bills through commerce on the gateway path. An optional `usage` snapshot is clamped and re-serialized to known fields; omitting it keeps the last good one.\n\n`machine` and `provider` are required (400 otherwise), as is a valid kind, and every field is length-bounded. Scoped to the caller: a validated principal and a non-empty org, else 403. Both org and subject are bound predicates on every statement, so a caller reads and writes only their OWN accounts within their own org — the org is never a parameter, and there is no path to another user's links.",
        "tags": [
          "links"
        ]
      }
    },
    "/v1/links/devices/{machine}": {
      "get": {
        "operationId": "get_v1_links_devices_by_machine",
        "summary": "See one machine: its accounts, usage and live sessions",
        "description": "Answers one device — its host and OS labels, every account the caller has signed in on that machine with its latest usage, and how many agent sessions the caller currently has running on it. The device labels come from the most-recently-seen account, since a device is a projection of its links rather than a row of its own. A machine with none of the caller's accounts is 404, which is also the answer when the machine belongs to someone else — the scope makes the two indistinguishable, deliberately. The session count reports 0 where the agent plane is not mounted rather than failing the read. Scoped to the caller: a validated principal and a non-empty org, else 403. Both org and subject are bound predicates on every statement, so a caller reads and writes only their OWN accounts within their own org — the org is never a parameter, and there is no path to another user's links.",
        "tags": [
          "links"
        ],
        "parameters": [
          {
            "name": "machine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/links/devices/{machine}/revoke": {
      "post": {
        "operationId": "post_v1_links_devices_by_machine_revoke",
        "summary": "Log out every account on one machine and stop its sessions",
        "description": "Revokes every one of the caller's accounts on one machine and stops the agent sessions they were running, answering with how many of each. This is the \"I lost that laptop\" button.\n\nRevoked links are RETAINED, not deleted, so usage history and the audit trail survive a log-out — the rows come back in the response with their new status. The session stop reaches only the REVOKING user's own sessions, so a shared machine name can never be used to stop a co-tenant's work, and a stop that fails does not fail the revoke: the revoked row is the durable truth and the count then honestly reports fewer. A machine with nothing left to revoke is 404. Scoped to the caller: a validated principal and a non-empty org, else 403. Both org and subject are bound predicates on every statement, so a caller reads and writes only their OWN accounts within their own org — the org is never a parameter, and there is no path to another user's links.",
        "tags": [
          "links"
        ],
        "parameters": [
          {
            "name": "machine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/links/route": {
      "get": {
        "operationId": "get_v1_links_route",
        "summary": "Get the failover order across your linked accounts",
        "description": "Answers an ordered redundancy plan over the caller's LINKED (not revoked) accounts: each candidate with its remaining rate-limit headroom, whether it is routable right now, how it BILLS (`plan` or `commerce`), and a reason when it is not — plus the primary to try first. It is what lets a router fail over from one subscription to another and fall back to the metered API as the always-available backstop, knowing the cost consequence before it dials.\n\nIt is POLICY, not execution: the plan is computed purely from the usage snapshots already in the registry, never by probing a provider, so it is a total function of the links and costs nothing to ask for. Actually dialing, detecting a live 429 and advancing to the next candidate belongs to the caller. A link with no snapshot counts as full headroom. Scoped to the caller: a validated principal and a non-empty org, else 403. Both org and subject are bound predicates on every statement, so a caller reads and writes only their OWN accounts within their own org — the org is never a parameter, and there is no path to another user's links.",
        "tags": [
          "links"
        ]
      }
    },
    "/v1/links/usage": {
      "get": {
        "operationId": "get_v1_links_usage",
        "summary": "See one provider account's own usage dashboard",
        "description": "Answers the time series for a SINGLE provider account — the windows in range plus the currently-open ones — as that provider's own meter reported it. `provider` is required; `account` narrows to one account when a user has several with the same provider; `window` selects a window class (6h, day, week or month) and `range` the period (1h, 24h, 7d or 30d, default 24h). An unknown window class or range is 400, never a quiet fallback to a different one.\n\nWhen no series is available the response is a 200 with `available: false` and empty lists — an honest \"we have no data\", which is a different claim from zero usage. Scoped to the caller: a validated principal and a non-empty org, else 403. Both org and subject are bound predicates on every statement, so a caller reads and writes only their OWN accounts within their own org — the org is never a parameter, and there is no path to another user's links.",
        "tags": [
          "links"
        ]
      },
      "post": {
        "operationId": "post_v1_links_usage",
        "summary": "Report usage samples from the device collector",
        "description": "Ingests a batch of usage samples from the on-device collector and answers with how many were accepted, whether history was durably stored, and the links they refreshed. A report also REFRESHES one link per distinct (machine, provider, account) it names, so a running collector keeps the accounts overview current without a separate registration call.\n\nA caller can only ever report for THEMSELVES: org and subject come from the validated bearer, never from the body, so no sample can be attributed to another user or tenant. History is FAIL-SOFT and `stored` says which happened — a warehouse outage still accepts the report and refreshes the links rather than failing the device, and answers 202 either way.\n\nSend either one sample inline or up to 256 in `samples`; an empty batch or an over-long one is 400, as is a provider, window class or kind outside the closed vocabulary — an unrecognized window is refused rather than rewritten, because a silently reclassified sample would fill a dashboard with a class nobody reported. Scoped to the caller: a validated principal and a non-empty org, else 403. Both org and subject are bound predicates on every statement, so a caller reads and writes only their OWN accounts within their own org — the org is never a parameter, and there is no path to another user's links.",
        "tags": [
          "links"
        ]
      }
    },
    "/v1/links/usage/accounts": {
      "get": {
        "operationId": "get_v1_links_usage_accounts",
        "summary": "Break down what the gateway routed through each of your accounts",
        "description": "Answers one row per linked account the GATEWAY actually routed through, plus their total — requests, prompt and completion tokens, and cost. This is the routed ledger, the read twin of the counter the router writes, and it is distinct from both of its neighbours: not the device collector's plan snapshots, and not the org money ledger. The `source` and `scope` fields on the response say so on every payload.\n\nThe same shape answers in the billing namespace, from one shaping function, so the two mounts cannot drift. Scoped to the caller: a validated principal and a non-empty org, else 403. Both org and subject are bound predicates on every statement, so a caller reads and writes only their OWN accounts within their own org — the org is never a parameter, and there is no path to another user's links.",
        "tags": [
          "links"
        ]
      }
    },
    "/v1/links/usage/summary": {
      "get": {
        "operationId": "get_v1_links_usage_summary",
        "summary": "See plan consumption and Hanzo spend side by side",
        "description": "Answers the global usage board over one window: the caller's own linked accounts, metered from each provider's own login, alongside their org's Hanzo-routed inference. These come from different ledgers and mean different things, so every row is LABELLED by source, by scope and by availability, and THE TWO ARE NEVER SUMMED — a plan's percentage is not money, and a provider's own spend is not a Hanzo charge. The rows sit side by side and say what they are.\n\nOne resolver fixes the window for both halves, so the two sets always cover the same period. `range` is one of 1h, 24h, 7d or 30d and defaults to 24h; anything else is 400 rather than a silent substitution. A ledger that cannot answer reports `available: false` instead of a zero that would read as \"no usage\". Scoped to the caller: a validated principal and a non-empty org, else 403. Both org and subject are bound predicates on every statement, so a caller reads and writes only their OWN accounts within their own org — the org is never a parameter, and there is no path to another user's links.",
        "tags": [
          "links"
        ]
      }
    },
    "/v1/links/{id}": {
      "delete": {
        "operationId": "delete_v1_links_by_id",
        "summary": "Log out one account and stop the sessions it was running",
        "description": "Revokes a single linked account and stops the agent sessions that ran under it, answering with the revoked row and how many sessions stopped. The link is RETAINED with a revoked status rather than deleted, so its usage history and the audit trail survive the log-out — which also means a revoked account still appears in the list, and is excluded from the route plan rather than absent from it.\n\nThe session stop is narrowed to the revoking user's own sessions on that device, provider and account, and a stop that fails does not fail the revoke: the revoked row is the durable truth. An id that does not exist, or belongs to another user or org, is the same 404. Scoped to the caller: a validated principal and a non-empty org, else 403. Both org and subject are bound predicates on every statement, so a caller reads and writes only their OWN accounts within their own org — the org is never a parameter, and there is no path to another user's links.",
        "tags": [
          "links"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_links_by_id",
        "summary": "Read one linked account",
        "description": "Answers a single link — its device, provider, account, plan, how it bills, its status and its latest usage snapshot. An id that does not exist, or belongs to another user or org, is the same 404: the scope is a bound predicate on the read, so a wrong id and a foreign id are indistinguishable and neither confirms the other's existence.\n\nThe static paths on this collection — route, usage, devices — are registered BEFORE this one and win first-match, so a link whose id collided with one of those words could not be addressed here. Scoped to the caller: a validated principal and a non-empty org, else 403. Both org and subject are bound predicates on every statement, so a caller reads and writes only their OWN accounts within their own org — the org is never a parameter, and there is no path to another user's links.",
        "tags": [
          "links"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  }
}
