{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package domain is Hanzo Domains: search a name, see the price, buy it from your prepaid wallet.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "domain"
    }
  ],
  "paths": {
    "/v1/domain/availability": {
      "get": {
        "operationId": "get_v1_domain_availability",
        "summary": "Availability and price for names you already have in mind",
        "description": "Checks exact names rather than searching for them, and answers the same quote shape search does — purchasable, premium, first-term and renewal price in cents. Pass `domain` with one name or several comma-separated to check them in one call; names are lowercased. An empty `domain` is 400.\n\nRequires a validated principal; 403 without one. Nothing is charged and nothing is held. A deployment with no registrar credentials answers 503.",
        "tags": [
          "domain"
        ]
      }
    },
    "/v1/domain/domains": {
      "get": {
        "operationId": "get_v1_domain_domains",
        "summary": "The domains your org has bought here",
        "description": "Lists the caller org's domains, newest registration first, each carrying the name, when it was registered, when it expires, what the org paid, the registrar order id and the nameservers it points at. Scoped to the validated principal's org — 403 without one, and there is no parameter that reaches another org's holdings.\n\nThis is the deployment's OWN ownership record, not a query to the registrar: it lists what was bought THROUGH this surface, so a domain the org holds elsewhere is not here. The default store is in-process, so a deployment that has not swapped in a durable store answers from what this process registered.",
        "tags": [
          "domain"
        ]
      }
    },
    "/v1/domain/health": {
      "get": {
        "operationId": "get_v1_domain_health",
        "summary": "Whether this deployment can actually sell domains, and why not when it cannot",
        "description": "Reports registrar reachability honestly: `ok` only when the wholesale credentials are present AND name.com accepted them on a live call made while you waited. Missing credentials or an unreachable registrar is 503 carrying `configured`, `reachable` and the reason, so an operator reads the blocker instead of guessing at it. Takes no principal, like every subsystem health probe. The answer also names the registrar `env`, which is the fact that decides whether money moves: only `prod` reaches the live, billable registrar — anything else, including unset, is the sandbox.",
        "tags": [
          "domain"
        ]
      }
    },
    "/v1/domain/register": {
      "post": {
        "operationId": "post_v1_domain_register",
        "summary": "Buy a domain for your org — charged only once the registrar confirms",
        "description": "Buys `domain` for `years` (default 1) and answers the ownership record together with the quote it was bought at. The order of operations is the product guarantee: quote, refuse anything unpurchasable or unpriced, AUTHORIZE the org's prepaid balance, provision the authoritative zone in Hanzo DNS, register at the registrar already pointing at Hanzo's nameservers, and only then CAPTURE the charge and record ownership. A registrar failure therefore leaves the balance untouched — the org is never billed for a domain it did not get.\n\nRequires a validated principal; that principal's org owns the domain and is the ledger the charge lands on. Re-buying a name the org already holds is 409, not a second purchase. `contacts` is optional — omit it and the registrar uses the reseller account's default WHOIS contacts.\n\nRefusals are distinct on purpose: 402 when the prepaid balance cannot cover the quoted price, 409 when the name is not available, 503 when the deployment has no registrar credentials, and the registrar's own message with its own 4xx — or 502 for its 5xx — when it rejects the purchase. Zone provisioning is best-effort: if the zone service is down the domain is still registered against Hanzo's nameservers and the zone reconciles afterwards, rather than the purchase failing.",
        "tags": [
          "domain"
        ]
      }
    },
    "/v1/domain/renew": {
      "post": {
        "operationId": "post_v1_domain_renew",
        "summary": "Extend a domain your org already owns",
        "description": "Renews `domain` for `years` (default 1) and answers the updated record with its new expiry alongside what was paid. Ownership is the gate: a name the caller's org does not hold is 404, so a renewal can never reach another tenant's domain.\n\nThe price is re-quoted at the CURRENT renewal rate rather than the one paid at purchase. If the registrar returns no renewal price the org's original price is charged instead, so a renewal is never accidentally free. Balance is authorized before the registrar is called and captured after it confirms — 402 when the prepaid balance cannot cover it, 503 when the deployment has no registrar credentials. Requires a validated principal.",
        "tags": [
          "domain"
        ]
      }
    },
    "/v1/domain/search": {
      "get": {
        "operationId": "get_v1_domain_search",
        "summary": "Buyable names for a keyword, priced",
        "description": "Searches the registrar for names built from the keyword `q`, plus its alternate-TLD suggestions, and answers a quote for each: the name, whether it is purchasable, whether it is premium, the first-term and renewal price in cents, and the TLD. Prices are RETAIL — this deployment's markup is already applied and the wholesale cost is never on the wire. Narrow the TLDs with a comma-separated `tld`; `q` is required and its absence is 400.\n\nRequires a validated principal; 403 without one. Nothing is charged and nothing is held — a quote is not a reservation, and the price is re-quoted at purchase, so a name quoted here can be gone or dearer by the time you buy it. A deployment with no registrar credentials answers 503.",
        "tags": [
          "domain"
        ]
      }
    },
    "/v1/domain/transfer": {
      "post": {
        "operationId": "post_v1_domain_transfer",
        "summary": "Move a domain you own at another registrar onto your org here",
        "description": "Transfers `domain` in using its `authCode` — both required, 400 otherwise — for `years` (default 1), and answers the same record-plus-quote a purchase does. It is priced and charged exactly like a registration: authorize the org's prepaid balance, ask the registrar for the transfer, capture only after the registrar accepts. A name the registrar will not price is 409, an insufficient balance is 402, and a deployment with no registrar credentials is 503.\n\nRequires a validated principal; the ownership record is written under that org as soon as the registrar ACCEPTS the request, which is not the same instant the transfer completes at the losing registrar. Unlike a registration this does not provision a zone, so the record carries this deployment's configured nameservers.",
        "tags": [
          "domain"
        ]
      }
    }
  }
}
