{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package domain is Hanzo Domains — the DOMAIN-REGISTRATION product: search a name, see its price (with Hanzo's markup), buy it billed through the customer's prepaid wallet, and have it born pointing at Hanzo's own authoritative nameservers.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "domain"
    }
  ],
  "paths": {
    "/v1/domain/availability": {
      "get": {
        "operationId": "get_v1_domain_availability",
        "tags": [
          "domain"
        ]
      }
    },
    "/v1/domain/domains": {
      "get": {
        "operationId": "get_v1_domain_domains",
        "tags": [
          "domain"
        ]
      }
    },
    "/v1/domain/health": {
      "get": {
        "operationId": "get_v1_domain_health",
        "tags": [
          "domain"
        ]
      }
    },
    "/v1/domain/register": {
      "post": {
        "operationId": "post_v1_domain_register",
        "tags": [
          "domain"
        ]
      }
    },
    "/v1/domain/renew": {
      "post": {
        "operationId": "post_v1_domain_renew",
        "tags": [
          "domain"
        ]
      }
    },
    "/v1/domain/search": {
      "get": {
        "operationId": "get_v1_domain_search",
        "tags": [
          "domain"
        ]
      }
    },
    "/v1/domain/transfer": {
      "post": {
        "operationId": "post_v1_domain_transfer",
        "tags": [
          "domain"
        ]
      }
    }
  }
}
