{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package meet is the virtual office: it decides who may join a room and mints the short-lived token that lets them in.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "meet"
    }
  ],
  "paths": {
    "/v1/meet/getToken": {
      "post": {
        "operationId": "post_v1_meet_gettoken",
        "summary": "Mint a join token for one video room",
        "description": "Answers with a LiveKit join token for exactly the room named in the body. The body is the RAW token as text/plain — one opaque string, not JSON and not wrapped in an envelope, which is what the office client reads.\n\nThe caller presents its workspace session as a Bearer. Every clause is a refusal: the session must verify, its SIGNED workspace claim must equal the room's leading name segment — rooms are named `\u003cworkspace\u003e_\u003croom\u003e_\u003cid\u003e`, and that prefix is the only thing binding a room to a tenant — and the session must carry a privileged workspace role, so a guest is refused rather than seated.\n\nThe participant identity is the SESSION'S, never the body's. `_id` is accepted for compatibility with the published client bundle and deliberately ignored: LiveKit treats the identity as unique and ejects a duplicate, so honouring a caller-chosen one would let anyone in a workspace kick out a colleague and impersonate them. `participantName` is a display name only.\n\nAn unconfigured deployment answers 503 under its own name rather than 404, and the refusal states only that the office is unconfigured — the reason names key material and stays in the boot log.",
        "tags": [
          "meet"
        ]
      }
    },
    "/v1/meet/health": {
      "get": {
        "operationId": "get_v1_meet_health",
        "summary": "Whether the office can mint join tokens",
        "description": "Reports whether this deployment holds the LiveKit key pair it needs. `ready:true` with 200 when tokens can be minted; the SAME body with `ready:false`, `status:\"degraded\"` and 503 when they cannot, so a probe and a dashboard both read the degraded state instead of someone grepping a boot log.\n\nIt takes no credential and is reachable on every public host, so it withholds both the reason and the signing key's name on purpose: `ready` is the whole dashboard fact, and the reason — which names the key file and the Secret — is written to the boot log where an operator already is.",
        "tags": [
          "meet"
        ]
      }
    }
  }
}
