{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package registry is your container and package registry: push images, pull them back, see what you store.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "registry"
    }
  ],
  "paths": {
    "/v1/registry/images": {
      "get": {
        "operationId": "get_registry_images",
        "summary": "Images lists the org's container repositories, read live from the OCI catalog and filtered server-side to the org's namespace — the page can only ever hold the caller's own images.",
        "description": "Images lists the org's container repositories, read live from the OCI\ncatalog and filtered server-side to the org's namespace — the page can only\never hold the caller's own images.",
        "tags": [
          "registry"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registryImageList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/registry/packages": {
      "get": {
        "operationId": "get_registry_packages",
        "summary": "Packages lists the org's npm packages — `\u003corg\u003e` and `@\u003corg\u003e/…` — from the npm registry's search index, optionally narrowed by a query within that scope.",
        "description": "Packages lists the org's npm packages — `\u003corg\u003e` and `@\u003corg\u003e/…` — from the\nnpm registry's search index, optionally narrowed by a query within that\nscope. The org boundary is applied server-side after the search, so a query\ncan never widen it.",
        "tags": [
          "registry"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Query narrows the listing within the org's scope when present; the org\nboundary itself is never widened by it. It rides the query string.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registryPackageList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/registry/projects": {
      "get": {
        "operationId": "get_registry_projects",
        "summary": "Projects lists the namespaces the caller can see with what each holds: the org's slug, its repository count on the OCI catalog, and its package count on the npm registry.",
        "description": "Projects lists the namespaces the caller can see with what each holds: the\norg's slug, its repository count on the OCI catalog, and its package count\non the npm registry. Today that is exactly one row — the caller's org.",
        "tags": [
          "registry"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registryProjectList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/registry/status": {
      "get": {
        "operationId": "get_registry_status",
        "summary": "Status reports whether the OCI and npm registries are reachable and, when the OCI half is auth-gated, which token realm its challenge advertises — an honest lens for \"is the registry plane up\", never a fabricated ok.",
        "description": "Status reports whether the OCI and npm registries are reachable and, when\nthe OCI half is auth-gated, which token realm its challenge advertises — an\nhonest lens for \"is the registry plane up\", never a fabricated ok.",
        "tags": [
          "registry"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registryStatus"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/registry/tags": {
      "get": {
        "operationId": "get_registry_tags",
        "summary": "Tags lists one org-owned repository's tags, read live from the OCI registry.",
        "description": "Tags lists one org-owned repository's tags, read live from the OCI registry.\nThe repository is addressed inside the org's namespace — a name outside it\ncannot be expressed, and an unknown one answers 404.",
        "tags": [
          "registry"
        ],
        "parameters": [
          {
            "name": "image",
            "in": "query",
            "required": false,
            "description": "Image is the repository name inside the org's namespace, as returned by\nthe images op. It rides the query string.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registryTagList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/registry/token": {
      "post": {
        "operationId": "post_registry_token",
        "summary": "Token mints a short-lived, pull-only registry token for exactly one of the org's images, through the same IAM realm the docker CLI authenticates against.",
        "description": "Token mints a short-lived, pull-only registry token for exactly one of the\norg's images, through the same IAM realm the docker CLI authenticates\nagainst. The scope is pinned server-side to `\u003corg\u003e/\u003cimage\u003e` with the `pull`\naction — no field exists to name another org's image or ask for push. Use it\nas `Authorization: Bearer …` on the OCI wire; it expires in minutes.",
        "tags": [
          "registry"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "image": "cloud"
              },
              "schema": {
                "$ref": "#/components/schemas/registryMint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registryToken"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "registryImage": {
        "properties": {
          "name": {
            "description": "Name is the repository name inside the org's namespace (e.g. \"cloud\").",
            "type": "string"
          },
          "ref": {
            "description": "Ref is the full pullable reference (host + org + name) the docker CLI\ntakes verbatim.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "registryImageList": {
        "properties": {
          "data": {
            "description": "Data is the org's repositories.",
            "items": {
              "$ref": "#/components/schemas/registryImage"
            },
            "type": "array"
          },
          "truncated": {
            "description": "Truncated is true when the catalog walk hit its page bound before the\nregistry was exhausted — the list is a prefix, not the whole.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "registryMint": {
        "properties": {
          "image": {
            "description": "Image is the repository name inside the org's namespace (e.g. \"cloud\").",
            "type": "string"
          }
        },
        "type": "object"
      },
      "registryPackage": {
        "properties": {
          "description": {
            "description": "Description says what the package is, as published.",
            "type": "string"
          },
          "name": {
            "description": "Name is the package name (`\u003corg\u003e` or `@\u003corg\u003e/…`).",
            "type": "string"
          },
          "updated": {
            "description": "Updated is when the package last changed, as the registry reports it.",
            "type": "string"
          },
          "version": {
            "description": "Version is the latest published version.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "registryPackageList": {
        "properties": {
          "data": {
            "description": "Data is the packages in the org's scope.",
            "items": {
              "$ref": "#/components/schemas/registryPackage"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "registryProject": {
        "properties": {
          "images": {
            "description": "Images is how many of the org's repositories the OCI catalog holds.",
            "format": "int64",
            "type": "integer"
          },
          "packages": {
            "description": "Packages is how many of the org's packages the npm registry reports.",
            "format": "int64",
            "type": "integer"
          },
          "project": {
            "description": "Project is the namespace: the org's slug, which prefixes its image names\nand scopes its npm packages.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "registryProjectList": {
        "properties": {
          "data": {
            "description": "Data is the namespaces visible to the caller.",
            "items": {
              "$ref": "#/components/schemas/registryProject"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "registryStatus": {
        "properties": {
          "host": {
            "description": "Host is the OCI registry host clients push to and pull from.",
            "type": "string"
          },
          "oci": {
            "description": "Oci is true when the OCI registry answered its /v2/ probe.",
            "type": "boolean"
          },
          "pkg": {
            "description": "Pkg is true when the npm registry answered its ping.",
            "type": "boolean"
          },
          "pkgHost": {
            "description": "PkgHost is the npm registry host.",
            "type": "string"
          },
          "realm": {
            "description": "Realm is the token endpoint the OCI registry's challenge advertises,\npresent only when the registry is reachable and auth-gated.",
            "type": "string"
          },
          "service": {
            "description": "Service is the token service name from the same challenge.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "registryTagList": {
        "properties": {
          "data": {
            "description": "Data is the tag names, as the registry reports them.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "image": {
            "description": "Image is the repository name inside the org's namespace.",
            "type": "string"
          },
          "ref": {
            "description": "Ref is the full repository reference the tags belong to.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "registryToken": {
        "properties": {
          "expires": {
            "description": "Expires is the token's lifetime in seconds.",
            "format": "int64",
            "type": "integer"
          },
          "ref": {
            "description": "Ref is the one repository reference the token can pull.",
            "type": "string"
          },
          "token": {
            "description": "Token is the bearer to present on the OCI wire\n(`Authorization: Bearer …` against the host's /v2/ routes).",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
