{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package kms is secret custody: your org's secrets sealed at rest, plus threshold signing.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "kms"
    }
  ],
  "paths": {
    "/v1/kms/auth/login": {
      "post": {
        "operationId": "post_kms_auth_login",
        "summary": "Exchanges a machine credential for an IAM bearer token.",
        "description": "Exchanges a machine credential for an IAM bearer token.\n\nTakes a tenant's machine credential — a client id and client secret — and\nreturns an owner-scoped IAM access token with its lifetime, which is the\nbearer the caller then carries on the org-scoped secret operations.\n\nIt is deliberately public and unauthenticated, because it IS the credential\nexchange and runs before any principal exists. That makes it the one route in\nthis subsystem rate-limited PER SOURCE IP, keyed on the real TCP peer rather\nthan on any caller-supplied header, and body-capped in the same place.\n\nThe submitted secret is never logged and never echoed, and failures collapse\nto one clean status with no upstream detail: 401 when the credential does not\nauthenticate, 502 when the identity provider is unreachable, 503 when no\nissuer is configured. That is on purpose — a richer error would be a validity\noracle for guessed credentials.",
        "tags": [
          "kms"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "clientId": "kms-operator",
                "clientSecret": "…"
              },
              "schema": {
                "$ref": "#/components/schemas/kmsLogin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kmsToken"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/kms/config": {
      "get": {
        "operationId": "get_kms_config",
        "summary": "Returns the runtime configuration for the KMS console.",
        "description": "Returns the runtime configuration for the KMS console.\n\nWhat the console needs before anyone has signed in: the brand, the OIDC issuer\nit authenticates against, the API base for this subsystem and the path of the\nlogin exchange.\n\nPublic on purpose, and it holds nothing sensitive — it is deliberately kept\nunder this subsystem's own namespace rather than under an admin prefix, so a\ngateway that admin-gates the admin routes cannot break the console's\nlegitimate pre-login fetch.",
        "tags": [
          "kms"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kmsConfig"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/kms/health": {
      "get": {
        "operationId": "get_kms_health",
        "summary": "Reports whether this broker can actually serve secrets.",
        "description": "Reports whether this broker can actually serve secrets.\n\nA real readiness probe, not a liveness stub: 200 only when the store is open\nAND a master key is configured, with `signing` reporting whether signing keys\nare set up too. Anything less answers 503 with `ready:false` and the reason —\nno in-process store, or no master key — which are exactly the two states in\nwhich the secret operations refuse.\n\nNot token-gated, because the platform must be able to probe it without a\ncredential. It reports the broker's configuration state only; no secret, no\nkey material and no tenant name appears in it.",
        "tags": [
          "kms"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kmsHealth"
                }
              }
            },
            "description": "ok"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kmsHealth"
                }
              }
            },
            "description": "service unavailable"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/kms/secrets": {
      "get": {
        "operationId": "get_kms_secrets",
        "summary": "Lists the secrets your org holds, without their values.",
        "description": "Lists the secrets your org holds, without their values.\n\nReturns the METADATA of the caller's own secrets: each one's name, path,\nenvironment and sealing scheme. No value and no ciphertext is included — this\noperation exists to enumerate what is held, and reading a value is a separate,\nper-secret call.\n\nScoped to the caller's own org and nothing else, structurally: there is no org\nin the path, the store root is derived from the validated org claim, and a\ncaller therefore has no way to name another tenant's namespace. `path` narrows\nto a subpath and `env` selects the environment; both are also accepted under\nthe operator's spellings, `secretPath` and `environment`. An omitted `env`\nmeans every environment and an omitted `path` means the whole org, because a\ndefault here reported a populated store as empty.\n\nAdmission is fail-closed and in order: a validated member, an org that is a\nDNS-1123 label, and a store holding a master key — 403, 400 and 503\nrespectively, all decided before any record is touched.",
        "tags": [
          "kms"
        ],
        "parameters": [
          {
            "name": "env",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secretPath",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kmsSecrets"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_kms_secrets",
        "summary": "Stores or replaces one secret in your org.",
        "description": "Stores or replaces one secret in your org.\n\nUpserts one secret under the caller's own org. The value is sealed before it\nis written — a fresh per-secret data key, itself wrapped by the master key —\nso plaintext never reaches disk. The receipt confirms the name and environment\nthat were written and does not echo the value.\n\n`env` is REQUIRED on a write and has no default, which is the rule most easily\ngot wrong here: reads and deletes still fall back to the default environment\nfor older callers, but a write must not, because the environment is part of\nthe storage key. A silently defaulted write lands in a bucket the readers that\nresolve project, environment and path never look in, and the stale value keeps\nbeing served — so the write fails loudly instead.\n\n`name` is required, `path` is an optional subpath beneath the org root, and\nthe org is taken from the validated claim rather than the body.\n\nRequires ADMIN authority over the org — a member reads, an admin writes. A\nmachine credential holds no membership and so is never an org admin: it can\nread the secrets it was issued for and cannot replace one. Fail-closed\nadmission, in order: admin of the org, well-formed org, master key present —\n403, 400 and 503, all decided before any record is touched.",
        "tags": [
          "kms"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "env": "prod",
                "name": "deploy-token",
                "path": "/ci",
                "value": "s3cr3t"
              },
              "schema": {
                "$ref": "#/components/schemas/kmsPut"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kmsStored"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/kms/secrets/{wildcard1}": {
      "delete": {
        "operationId": "delete_kms_secrets_by_wildcard1",
        "summary": "Delete one secret from your org",
        "description": "Removes one secret from the caller's own org and confirms the name and environment that were removed. Deleting a secret that is not there is a 404, not a silent success, so a caller can tell a real deletion from a typo.\n\nThe trailing path is the secret's subpath and name beneath the caller's org root, and `env` selects the environment, defaulting when omitted. Scoped to the caller's own org — the store root comes from the validated claim, never from the request.\n\nRequires ADMIN authority over the org, like the write: destroying a secret is an administrative act, and a credential distributed to read one must not be able to remove it.",
        "tags": [
          "kms"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kmsRemoved"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_kms_secrets_by_wildcard1",
        "summary": "Read one secret's value",
        "description": "Opens one sealed secret belonging to the caller's own org and returns its value in the response body, with the name and environment it was resolved under. This is the broker's purpose, and the response body is the ONLY place the value appears — it is not logged, and it is never carried in an error.\n\nThe trailing path is the secret's subpath and name beneath the caller's org root; `env` selects the environment and falls back to the default when omitted. A secret that is not there is a plain 404 that names nothing about the store.\n\nScoped to the caller's own org and nothing else: there is no org in the path, so another tenant's secret is not merely refused, it is unnameable. Admission is fail-closed — validated member, well-formed org, master key present — and an unconfigured master key is 503 rather than an empty read.",
        "tags": [
          "kms"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kmsSecret"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SecretMeta": {
        "properties": {
          "env": {
            "description": "Env is the environment the secret belongs to. It is part of the storage\nkey, so the same name in two environments is two secrets.",
            "type": "string"
          },
          "name": {
            "description": "Name is the secret's name within its path and environment.",
            "type": "string"
          },
          "path": {
            "description": "Path is the subpath the secret is stored under, beneath the org root.",
            "type": "string"
          },
          "scheme": {
            "description": "Scheme names how the value is sealed at rest, so a caller can tell a\nmigrated record from a current one without opening it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "kmsConfig": {
        "properties": {
          "apiBase": {
            "description": "APIBase is this subsystem's own prefix, `/v1/kms`.",
            "type": "string"
          },
          "brand": {
            "description": "Brand is the deployment's brand, so the console renders as the right\nproduct.",
            "type": "string"
          },
          "issuer": {
            "description": "Issuer is the OIDC issuer the console authenticates against.",
            "type": "string"
          },
          "loginPath": {
            "description": "LoginPath is the credential exchange's address.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "kmsHealth": {
        "properties": {
          "error": {
            "description": "Error is the honest reason readiness is false: no in-process KMS client,\nor no master key. Absent when ready.",
            "type": "string"
          },
          "ready": {
            "description": "Ready is whether a secret operation would actually succeed right now.\nThese are exactly the two states in which the secret operations refuse.",
            "type": "boolean"
          },
          "service": {
            "description": "Service names the subsystem answering, `kms`.",
            "type": "string"
          },
          "signing": {
            "description": "Signing reports whether signing keys are configured. Absent when there is\nno in-process client to ask.",
            "type": "boolean"
          },
          "status": {
            "description": "Status is `ok` or `degraded`, the one-word form of Ready.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "kmsLogin": {
        "properties": {
          "clientId": {
            "description": "ClientID is the machine identity's id, as IAM issued it.",
            "type": "string"
          },
          "clientSecret": {
            "description": "ClientSecret is that identity's secret. It is never logged, never echoed,\nand never carried in an error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "kmsPut": {
        "properties": {
          "env": {
            "description": "Env is the environment to write under. REQUIRED, with no default: it is\npart of the storage key, so a silently defaulted write lands in a bucket\nthe readers that resolve project, environment and path never look in, and\nthe stale value keeps being served.",
            "type": "string"
          },
          "name": {
            "description": "Name is the secret's name. Required.",
            "type": "string"
          },
          "path": {
            "description": "Path is an optional subpath beneath the org root, e.g. \"/ci\".",
            "type": "string"
          },
          "value": {
            "description": "Value is the secret itself. It is sealed under a fresh per-secret data key\nbefore storage, so plaintext never reaches disk, and it is never echoed\nback, logged, or carried in an error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "kmsRemoved": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean"
          },
          "env": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "kmsSecret": {
        "type": "object",
        "properties": {
          "env": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "kmsSecrets": {
        "properties": {
          "names": {
            "description": "Names is the same listing reduced to bare names, which is the shape the\nKMS operator reads. Both are emitted so either consumer keeps working.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "secrets": {
            "description": "Secrets are the descriptors: name, path, environment and sealing scheme.\nNo value and no ciphertext appears here.",
            "items": {
              "$ref": "#/components/schemas/SecretMeta"
            },
            "type": "array"
          },
          "total": {
            "description": "Total is how many descriptors this listing carries.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "kmsStored": {
        "properties": {
          "env": {
            "description": "Env is the environment the secret was written under.",
            "type": "string"
          },
          "name": {
            "description": "Name is the secret's name.",
            "type": "string"
          },
          "stored": {
            "description": "Stored is true; a write confirms by not failing.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "kmsToken": {
        "properties": {
          "accessToken": {
            "description": "AccessToken is IAM's own JWT, verbatim. Its `owner` claim scopes it to\nexactly one org, which is what every secret operation then reads.",
            "type": "string"
          },
          "expiresIn": {
            "description": "ExpiresIn is the token's lifetime in seconds, as IAM reported it.",
            "type": "integer"
          },
          "tokenType": {
            "description": "TokenType is `Bearer`.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
