{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package ai is Hanzo AI — the model API on /v1 (/v1/chat/completions, /v1/messages, /v1/models and the rest of hanzoai/ai's surface) — mounted into a cloud binary with the money, ingest and telemetry callbacks cloud BUILDS but cannot INSTALL.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "models"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "operationId": "get_v1_models",
        "summary": "List the models this org can call",
        "description": "Returns the model catalogue as the CALLER sees it: the models the calling org is entitled to, with the identifier to send as `model` on a completion.\n\nScoped, not global. A limited-preview model appears only once the org has been granted access to it, so two orgs reading this address at the same moment correctly see different catalogues. It is deliberately NOT gated on balance — reading which models exist is how a caller decides what to buy, and refusing it to an org at zero balance would blank the console for every customer between top-ups.\n\nFor what a model COSTS, read /v1/pricing/models: this address answers availability, that one answers price.",
        "tags": [
          "models"
        ]
      }
    },
    "/v1/models/{model}/access": {
      "get": {
        "operationId": "get_v1_models_by_model_access",
        "summary": "Read this org's access standing for one model",
        "description": "Answers where the calling org stands on a limited-preview model — whether it already has access, has an outstanding request, or has never asked. `model` is the same identifier /v1/models lists and a completion sends.\n\nRead your OWN standing. It reports the calling org's position, not another's, and it is the read half of the pair whose write half is the POST below.",
        "tags": [
          "models"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_models_by_model_access",
        "summary": "Request access to a limited-preview model",
        "description": "Files the calling org's request to use a model that is not open to everyone, and is the ONLY way to enter that queue. A granted request makes the model appear in /v1/models and callable on a completion; until then a completion naming it is refused.\n\nIdempotent in effect: asking again while a request is outstanding does not create a second one. Granting is an administrative act and is not this address.",
        "tags": [
          "models"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/{wildcard1}": {
      "delete": {
        "operationId": "delete_v1_by_wildcard1",
        "summary": "Remove an AI resource, connection or indexed document",
        "description": "Removes a member of one of the AI subsystem's managed collections, a connected provider (which revokes the stored connection for the caller's org), or documents from the RAG index.\n\nDeleting a provider connection is the one a reader most easily underestimates: it does not merely hide the provider, it drops the org's stored authorization for it, and every later call routed to that provider fails until it is connected again.\n\nThis address is a FALLBACK, not a front door. It is registered last, so every subsystem that claims a specific path under /v1 — billing, plans, pricing, the per-app health routes — still serves its own, and this catches the rest. The wildcard is the remainder of the path, and the answer is relayed with the model API's own status, headers and content type, so a streamed response streams and an upstream refusal arrives as itself.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_by_wildcard1",
        "summary": "Read the model catalogue and the AI subsystem's own resources",
        "description": "Covers the reads: the model catalogue and a model's access status, connected providers and their usage, fine-tune jobs and presets, Hugging Face model, dataset and repository search, the subsystem's health and metrics, and the collection and member reads on the managed resources behind /v1.\n\nReads are scoped to the calling org by the identity the gateway validated; the catalogue a caller sees is the one its own org has access to, not the whole provider list.\n\nThis address is a FALLBACK, not a front door. It is registered last, so every subsystem that claims a specific path under /v1 — billing, plans, pricing, the per-app health routes — still serves its own, and this catches the rest. The wildcard is the remainder of the path, and the answer is relayed with the model API's own status, headers and content type, so a streamed response streams and an upstream refusal arrives as itself.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "options": {
        "operationId": "options_v1_by_wildcard1",
        "summary": "Not served by the inference surface",
        "description": "Published because this catch-all accepts every method, but the inference surface answers none of them here — the request falls through to whatever owns the path, and reaches no model.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patch_v1_by_wildcard1",
        "summary": "Update one AI resource in place",
        "description": "Updates a member of one of the AI subsystem's managed collections with the fields given, leaving the rest as they were. It is the same update PUT reaches, so either verb is accepted on these resources.\n\nNothing under this method reaches the generating model API; that is the POST surface.\n\nThis address is a FALLBACK, not a front door. It is registered last, so every subsystem that claims a specific path under /v1 — billing, plans, pricing, the per-app health routes — still serves its own, and this catches the rest. The wildcard is the remainder of the path, and the answer is relayed with the model API's own status, headers and content type, so a streamed response streams and an upstream refusal arrives as itself.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_by_wildcard1",
        "summary": "The Hanzo AI model API",
        "description": "Carries every generating call in the model API: chat completions and responses (streamed when the body asks for it), embeddings, reranking, image, video and speech generation, speech-to-text, RAG ingest, and fine-tune jobs — plus the creates on the managed collections behind /v1.\n\nThis is the billed half of the surface. A call is metered per org against the balance the commerce subsystem holds, and the balance gate is FAIL-CLOSED: when no native balance reader is wired into the process the call is refused rather than guessed at, and an insufficient balance answers 402 with its own message intact.\n\nThis address is a FALLBACK, not a front door. It is registered last, so every subsystem that claims a specific path under /v1 — billing, plans, pricing, the per-app health routes — still serves its own, and this catches the rest. The wildcard is the remainder of the path, and the answer is relayed with the model API's own status, headers and content type, so a streamed response streams and an upstream refusal arrives as itself.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v1_by_wildcard1",
        "summary": "Replace one AI resource in full",
        "description": "Replaces a member of one of the AI subsystem's managed collections with the body given. PUT and PATCH reach the SAME update — a full replacement and a partial one are accepted at one address so a client need not know which verb a given collection prefers — so the difference is in what the caller sends, not in what the server does with it.\n\nThis address is a FALLBACK, not a front door. It is registered last, so every subsystem that claims a specific path under /v1 — billing, plans, pricing, the per-app health routes — still serves its own, and this catches the rest. The wildcard is the remainder of the path, and the answer is relayed with the model API's own status, headers and content type, so a streamed response streams and an upstream refusal arrives as itself.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "trace": {
        "operationId": "trace_v1_by_wildcard1",
        "summary": "Not served by the inference surface",
        "description": "Published because this catch-all accepts every method, but the inference surface answers none of them here — the request falls through to whatever owns the path, and reaches no model.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  }
}
