{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package ai is Hanzo AI — the model API on /v1 (/v1/chat/completions, /v1/messages, /v1/models and the rest of hanzoai/ai's surface) — mounted into a cloud binary with the money, ingest and telemetry callbacks cloud BUILDS but cannot INSTALL.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "admin"
    },
    {
      "name": "ai"
    },
    {
      "name": "audio"
    },
    {
      "name": "chat"
    },
    {
      "name": "completions"
    },
    {
      "name": "embeddings"
    },
    {
      "name": "images"
    },
    {
      "name": "index"
    },
    {
      "name": "messages"
    },
    {
      "name": "metrics"
    },
    {
      "name": "models"
    },
    {
      "name": "rerank"
    },
    {
      "name": "responses"
    },
    {
      "name": "search"
    },
    {
      "name": "videos"
    }
  ],
  "paths": {
    "/v1/ai/account": {
      "get": {
        "operationId": "get_ai_account",
        "summary": "Account",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/activities": {
      "get": {
        "operationId": "get_ai_activities",
        "summary": "List activities",
        "description": "List the caller's activities.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Activity"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/answer": {
      "get": {
        "operationId": "get_ai_answer",
        "summary": "Answer",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/articles": {
      "get": {
        "operationId": "get_ai_articles",
        "summary": "List articles",
        "description": "List the caller's articles.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Article"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "post": {
        "operationId": "post_ai_articles",
        "summary": "Create a article",
        "description": "Create one article.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Article"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/articles/global": {
      "get": {
        "operationId": "get_ai_articles_global",
        "summary": "List articles across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Article"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/articles/{owner}/{name}": {
      "delete": {
        "operationId": "delete_ai_articles_by_owner_by_name",
        "summary": "Delete a article",
        "description": "Delete one article.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Article"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "get": {
        "operationId": "get_ai_articles_by_owner_by_name",
        "summary": "Retrieve a article",
        "description": "Read one article by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Article"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "patch": {
        "operationId": "patch_ai_articles_by_owner_by_name",
        "summary": "Update a article",
        "description": "Update one article. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Article"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "put": {
        "operationId": "put_ai_articles_by_owner_by_name",
        "summary": "Replace a article",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Article"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/assets": {
      "get": {
        "operationId": "get_ai_assets",
        "summary": "List assets",
        "description": "List the caller's assets.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Asset"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "post": {
        "operationId": "post_ai_assets",
        "summary": "Create a asset",
        "description": "Create one asset.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Asset"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/assets/scan": {
      "post": {
        "operationId": "post_ai_assets_scan",
        "summary": "Scan (asset)",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/assets/{owner}/{name}": {
      "delete": {
        "operationId": "delete_ai_assets_by_owner_by_name",
        "summary": "Delete a asset",
        "description": "Delete one asset.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Asset"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "get": {
        "operationId": "get_ai_assets_by_owner_by_name",
        "summary": "Retrieve a asset",
        "description": "Read one asset by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Asset"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "patch": {
        "operationId": "patch_ai_assets_by_owner_by_name",
        "summary": "Update a asset",
        "description": "Update one asset. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Asset"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "put": {
        "operationId": "put_ai_assets_by_owner_by_name",
        "summary": "Replace a asset",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Asset"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/assets/{owner}/{name}/scan": {
      "post": {
        "operationId": "post_ai_assets_by_owner_by_name_scan",
        "summary": "Scan (asset)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/chats": {
      "get": {
        "operationId": "get_ai_chats",
        "summary": "List chats",
        "description": "List the caller's chats.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Chat"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "post": {
        "operationId": "post_ai_chats",
        "summary": "Create a chat",
        "description": "Create one chat.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Chat"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/chats/global": {
      "get": {
        "operationId": "get_ai_chats_global",
        "summary": "List chats across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Chat"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/chats/{owner}/{name}": {
      "delete": {
        "operationId": "delete_ai_chats_by_owner_by_name",
        "summary": "Delete a chat",
        "description": "Delete one chat.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Chat"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "get": {
        "operationId": "get_ai_chats_by_owner_by_name",
        "summary": "Retrieve a chat",
        "description": "Read one chat by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Chat"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "patch": {
        "operationId": "patch_ai_chats_by_owner_by_name",
        "summary": "Update a chat",
        "description": "Update one chat. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Chat"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "put": {
        "operationId": "put_ai_chats_by_owner_by_name",
        "summary": "Replace a chat",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Chat"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/connections": {
      "get": {
        "operationId": "get_ai_connections",
        "summary": "Lists the org's connectable AI accounts and whether each is currently connected.",
        "description": "Lists the org's connectable AI accounts and whether each is\ncurrently connected. Never returns a key or a kms:// reference.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/ai.AiConnResponse"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "post": {
        "operationId": "post_ai_connections",
        "summary": "Connects (or reconnects) a third-party AI account for the org by sealing the supplied key into KMS and upserting the org's provider row.",
        "description": "Connects (or reconnects) a third-party AI account for the org by\nsealing the supplied key into KMS and upserting the org's provider row. The raw\nkey is sealed BEFORE the row is built and is never persisted or echoed.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ai.AiConnResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/connections/{provider}": {
      "delete": {
        "operationId": "delete_ai_connections_by_provider",
        "summary": "Disconnects a third-party AI account: it deactivates the org's row so completion resolution falls back to the global Hanzo account (no BYO), and best-effort tombstones the sealed secret.",
        "description": "Disconnects a third-party AI account: it deactivates the org's\nrow so completion resolution falls back to the global Hanzo account (no BYO), and\nbest-effort tombstones the sealed secret. Idempotent.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ai.AiConnResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "post": {
        "operationId": "post_ai_connections_by_provider",
        "summary": "Disconnects a third-party AI account: it deactivates the org's row so completion resolution falls back to the global Hanzo account (no BYO), and best-effort tombstones the sealed secret.",
        "description": "Disconnects a third-party AI account: it deactivates the org's\nrow so completion resolution falls back to the global Hanzo account (no BYO), and\nbest-effort tombstones the sealed secret. Idempotent.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ai.AiConnResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/connections/{provider}/authorize": {
      "get": {
        "operationId": "get_ai_connections_by_provider_authorize",
        "summary": "Begins an OAuth connection for the caller's org: it binds the org into a signed state and sends the caller to the provider's authorize URL.",
        "description": "Begins an OAuth connection for the caller's org: it binds the\norg into a signed state and sends the caller to the provider's authorize URL. By\ndefault it 302-redirects (a top-level browser \"connect your login\" click); a\nSPA/BFF that needs to drive the redirect itself passes ?format=json and gets\n{authorizeUrl} in the standard envelope. The org is the VERIFIED principal, so\nonly the caller's own connection can result.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/connections/{provider}/callback": {
      "get": {
        "operationId": "get_ai_connections_by_provider_callback",
        "summary": "Completes OAuth: the org is recovered from the SIGNED state (not a header), the code is exchanged for a token, the token is SEALED into KMS (never the row/logs) through the same path as a BYOK key, and the org's provider row is upserted to \"connected\".",
        "description": "Completes OAuth: the org is recovered from the SIGNED state\n(not a header), the code is exchanged for a token, the token is SEALED into KMS\n(never the row/logs) through the same path as a BYOK key, and the org's provider\nrow is upserted to \"connected\". The browser is then redirected back to the console\nwith ?ai_connected=\u003cprovider\u003e (or ?ai_connect_error=\u003cprovider\u003e on failure). Because\nthe org comes from the state THIS server signed, an attacker cannot land their\ntoken in a victim org — which is why this endpoint is state-authenticated rather\nthan credential-gated.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/ai/connections/{provider}/usage": {
      "get": {
        "operationId": "get_ai_connections_by_provider_usage",
        "summary": "Imports the caller org's usage for a connected third-party account.",
        "description": "Imports the caller org's usage for a connected third-party\naccount. The org is resolved from the VERIFIED principal (requireConnectionOrg), so a\ntenant reads only its own connection. The key is unsealed SERVER-SIDE and never\nreturned. An unconnected account, a missing importer, or a scope-denied provider all\nreturn a 200 ProviderUsage with connected/available flags + a human note — the UI's\nhonest-empty states — never a fabricated figure.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ai.ProviderUsage"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/dashboards/agents": {
      "get": {
        "operationId": "get_ai_dashboards_agents",
        "summary": "Dashboards Agents",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/dashboards/vm": {
      "get": {
        "operationId": "get_ai_dashboards_vm",
        "summary": "Dashboards Vm",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/deployments": {
      "get": {
        "operationId": "get_ai_deployments",
        "summary": "List deployments",
        "description": "List the caller's deployments.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Application"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "post": {
        "operationId": "post_ai_deployments",
        "summary": "Create a application",
        "description": "Create one application.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Application"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/deployments/{owner}/{name}": {
      "delete": {
        "operationId": "delete_ai_deployments_by_owner_by_name",
        "summary": "Delete a application",
        "description": "Delete one application.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Application"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "get": {
        "operationId": "get_ai_deployments_by_owner_by_name",
        "summary": "Retrieve a application",
        "description": "Read one application by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Application"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "patch": {
        "operationId": "patch_ai_deployments_by_owner_by_name",
        "summary": "Update a application",
        "description": "Update one application. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Application"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "put": {
        "operationId": "put_ai_deployments_by_owner_by_name",
        "summary": "Replace a application",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Application"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/deployments/{owner}/{name}/deploy": {
      "post": {
        "operationId": "post_ai_deployments_by_owner_by_name_deploy",
        "summary": "Deploy (application)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/deployments/{owner}/{name}/undeploy": {
      "post": {
        "operationId": "post_ai_deployments_by_owner_by_name_undeploy",
        "summary": "Undeploy (application)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/feedback": {
      "post": {
        "operationId": "post_ai_feedback",
        "summary": "Attaches a per-request outcome reward to the routing decision that served request_id — the enso training loop's quality signal.",
        "description": "Attaches a per-request outcome reward to the routing decision\nthat served request_id — the enso training loop's quality signal. Org-scoped via\nthe same session-OR-Bearer principal the usage read uses (RequirePrincipal): the\nreward lands only on the caller's OWN org's event, so a request_id from another\norg (or unknown) is a 404 — cross-org writes are impossible and unknown ids are\nindistinguishable from foreign ones. Idempotent: a repeat overwrites. The body\ncarries NO prompt text — only {request_id, reward|rating}.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ai.RoutingRewardResult"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/files": {
      "get": {
        "operationId": "get_ai_files",
        "summary": "List files",
        "description": "List the caller's files.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/File"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "post": {
        "operationId": "post_ai_files",
        "summary": "Create a file",
        "description": "Create one file.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/File"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/files/activate": {
      "post": {
        "operationId": "post_ai_files_activate",
        "summary": "Activate (file)",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/files/active": {
      "get": {
        "operationId": "get_ai_files_active",
        "summary": "Active (file)",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/files/global": {
      "get": {
        "operationId": "get_ai_files_global",
        "summary": "List files across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/File"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/files/upload": {
      "post": {
        "operationId": "post_ai_files_upload",
        "summary": "Upload (file)",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/files/{owner}/{name}": {
      "delete": {
        "operationId": "delete_ai_files_by_owner_by_name",
        "summary": "Delete a file",
        "description": "Delete one file.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/File"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "get": {
        "operationId": "get_ai_files_by_owner_by_name",
        "summary": "Retrieve a file",
        "description": "Read one file by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/File"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "patch": {
        "operationId": "patch_ai_files_by_owner_by_name",
        "summary": "Update a file",
        "description": "Update one file. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/File"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "put": {
        "operationId": "put_ai_files_by_owner_by_name",
        "summary": "Replace a file",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/File"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/files/{owner}/{name}/vectors": {
      "post": {
        "operationId": "post_ai_files_by_owner_by_name_vectors",
        "summary": "Vectors (file)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/finetune/cancel": {
      "post": {
        "operationId": "post_ai_finetune_cancel",
        "summary": "Deletes the TrainJob CR, meters the GPU-hours used so far, and marks the job cancelled.",
        "description": "Deletes the TrainJob CR, meters the GPU-hours used so far, and\nmarks the job cancelled. ?id= or ?name=",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/FinetuneJob"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/finetune/deploy": {
      "post": {
        "operationId": "post_ai_finetune_deploy",
        "summary": "Serves a completed job's checkpoints and registers the result as a routable model on api.hanzo.ai.",
        "description": "Serves a completed job's checkpoints and registers the result\nas a routable model on api.hanzo.ai. ?id= or ?name=",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/cluster.Serving"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/finetune/hf/datasets": {
      "get": {
        "operationId": "get_ai_finetune_hf_datasets",
        "summary": "Proxies a HuggingFace dataset search (dataset picker).",
        "description": "Proxies a HuggingFace dataset search (dataset picker).",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/HfDataset"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/finetune/hf/models": {
      "get": {
        "operationId": "get_ai_finetune_hf_models",
        "summary": "Proxies a HuggingFace model search (base-model picker).",
        "description": "Proxies a HuggingFace model search (base-model picker).",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/HfModel"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/finetune/hf/repo": {
      "get": {
        "operationId": "get_ai_finetune_hf_repo",
        "summary": "Returns a repo's detail (files, gated/private state).",
        "description": "Returns a repo's detail (files, gated/private state). ?id=\u0026kind=model|dataset",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/HfRepoInfo"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/finetune/job": {
      "get": {
        "operationId": "get_ai_finetune_job",
        "summary": "Returns one job with refreshed live status.",
        "description": "Returns one job with refreshed live status. ?id=owner/name or ?name=",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/FinetuneJob"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/finetune/jobs": {
      "get": {
        "operationId": "get_ai_finetune_jobs",
        "summary": "Returns the org's jobs, refreshing live status for active ones.",
        "description": "Returns the org's jobs, refreshing live status for active ones.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/FinetuneJob"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "post": {
        "operationId": "post_ai_finetune_jobs",
        "summary": "Validates the request, resolves efficient defaults, persists the job, and submits a real TrainJob CR.",
        "description": "Validates the request, resolves efficient defaults, persists the\njob, and submits a real TrainJob CR. A submit failure (e.g. no cluster wired) is\nsurfaced honestly: the job is saved with status \"failed\" + the reason, never faked.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/FinetuneJob"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/finetune/presets": {
      "get": {
        "operationId": "get_ai_finetune_presets",
        "summary": "Returns the new-job catalog plus, when a selection is passed (?baseModel\u0026method\u0026task\u0026preset[\u0026datasetExamples]), the recommended config so the console can render \"Recommended\" as a one-click, ready-to-run default.",
        "description": "Returns the new-job catalog plus, when a selection is passed\n(?baseModel\u0026method\u0026task\u0026preset[\u0026datasetExamples]), the recommended config so the\nconsole can render \"Recommended\" as a one-click, ready-to-run default.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "additionalProperties": {},
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/forms": {
      "get": {
        "operationId": "get_ai_forms",
        "summary": "List forms",
        "description": "List the caller's forms.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Form"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "post": {
        "operationId": "post_ai_forms",
        "summary": "Create a form",
        "description": "Create one form.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Form"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/forms/data": {
      "get": {
        "operationId": "get_ai_forms_data",
        "summary": "Data (form)",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/forms/global": {
      "get": {
        "operationId": "get_ai_forms_global",
        "summary": "List forms across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Form"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      }
    },
    "/v1/ai/forms/{owner}/{name}": {
      "delete": {
        "operationId": "delete_ai_forms_by_owner_by_name",
        "summary": "Delete a form",
        "description": "Delete one form.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Form"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "get": {
        "operationId": "get_ai_forms_by_owner_by_name",
        "summary": "Retrieve a form",
        "description": "Read one form by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Form"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "patch": {
        "operationId": "patch_ai_forms_by_owner_by_name",
        "summary": "Update a form",
        "description": "Update one form. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Form"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
        "x-public": true
      },
      "put": {
        "operationId": "put_ai_forms_by_owner_by_name",
        "summary": "Replace a form",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Form"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Envelope. `status` is \"ok\" or \"error\" — check it; a handled failure is still HTTP 200."
          },
          "401": {
            "description": "No credential, or one this service does not accept."
          },
          "403": {
            "description": "A valid credential that may not do this."
          }
        },
[...]
