{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package ai is Hanzo AI — the model API on /v1 (/v1/chat/completions, /v1/messages, /v1/models and the rest of hanzoai/ai's surface) — mounted into a cloud binary with the money, ingest and telemetry callbacks cloud BUILDS but cannot INSTALL.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "ai"
    },
    {
      "name": "audio"
    },
    {
      "name": "chat"
    },
    {
      "name": "completions"
    },
    {
      "name": "dev-bridge"
    },
    {
      "name": "docs"
    },
    {
      "name": "documents"
    },
    {
      "name": "embeddings"
    },
    {
      "name": "feedback"
    },
    {
      "name": "finetune"
    },
    {
      "name": "generate-text-to-speech-audio"
    },
    {
      "name": "generate-text-to-speech-audio-stream"
    },
    {
      "name": "health"
    },
    {
      "name": "images"
    },
    {
      "name": "install-patch"
    },
    {
      "name": "memory"
    },
    {
      "name": "messages"
    },
    {
      "name": "models"
    },
    {
      "name": "org"
    },
    {
      "name": "process-speech-to-text"
    },
    {
      "name": "provider-flags"
    },
    {
      "name": "query"
    },
    {
      "name": "query_multiple"
    },
    {
      "name": "rag"
    },
    {
      "name": "rerank"
    },
    {
      "name": "responses"
    },
    {
      "name": "router"
    },
    {
      "name": "traffic"
    },
    {
      "name": "videos"
    },
    {
      "name": "wecom-bot"
    }
  ],
  "paths": {
    "/v1/ai/account": {
      "get": {
        "operationId": "get_v1_ai_account",
        "summary": "Account",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/activities": {
      "get": {
        "operationId": "get_v1_ai_activities",
        "summary": "List activities",
        "description": "List the caller's activities.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/answer": {
      "get": {
        "operationId": "get_v1_ai_answer",
        "summary": "Answer",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/applications": {
      "get": {
        "operationId": "get_v1_ai_applications",
        "summary": "List applications",
        "description": "List the caller's applications.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_applications",
        "summary": "Create a application",
        "description": "Create one application.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/applications/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_applications_by_owner_by_name",
        "summary": "Delete a application",
        "description": "Delete one application.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_applications_by_owner_by_name",
        "summary": "Retrieve a application",
        "description": "Read one application by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_applications_by_owner_by_name",
        "summary": "Update a application",
        "description": "Update one application. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_applications_by_owner_by_name",
        "summary": "Replace a application",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/applications/{owner}/{name}/deploy": {
      "post": {
        "operationId": "post_v1_ai_applications_by_owner_by_name_deploy",
        "summary": "Deploy (application)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/applications/{owner}/{name}/undeploy": {
      "post": {
        "operationId": "post_v1_ai_applications_by_owner_by_name_undeploy",
        "summary": "Undeploy (application)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/articles": {
      "get": {
        "operationId": "get_v1_ai_articles",
        "summary": "List articles",
        "description": "List the caller's articles.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_articles",
        "summary": "Create a article",
        "description": "Create one article.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/articles/global": {
      "get": {
        "operationId": "get_v1_ai_articles_global",
        "summary": "List articles across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/articles/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_articles_by_owner_by_name",
        "summary": "Delete a article",
        "description": "Delete one article.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_articles_by_owner_by_name",
        "summary": "Retrieve a article",
        "description": "Read one article by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_articles_by_owner_by_name",
        "summary": "Update a article",
        "description": "Update one article. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_articles_by_owner_by_name",
        "summary": "Replace a article",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/assets": {
      "get": {
        "operationId": "get_v1_ai_assets",
        "summary": "List assets",
        "description": "List the caller's assets.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_assets",
        "summary": "Create a asset",
        "description": "Create one asset.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/assets/scan": {
      "post": {
        "operationId": "post_v1_ai_assets_scan",
        "summary": "Scan (asset)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/assets/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_assets_by_owner_by_name",
        "summary": "Delete a asset",
        "description": "Delete one asset.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_assets_by_owner_by_name",
        "summary": "Retrieve a asset",
        "description": "Read one asset by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_assets_by_owner_by_name",
        "summary": "Update a asset",
        "description": "Update one asset. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_assets_by_owner_by_name",
        "summary": "Replace a asset",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/assets/{owner}/{name}/scan": {
      "post": {
        "operationId": "post_v1_ai_assets_by_owner_by_name_scan",
        "summary": "Scan (asset)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/chats": {
      "get": {
        "operationId": "get_v1_ai_chats",
        "summary": "List chats",
        "description": "List the caller's chats.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_chats",
        "summary": "Create a chat",
        "description": "Create one chat.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/chats/global": {
      "get": {
        "operationId": "get_v1_ai_chats_global",
        "summary": "List chats across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/chats/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_chats_by_owner_by_name",
        "summary": "Delete a chat",
        "description": "Delete one chat.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_chats_by_owner_by_name",
        "summary": "Retrieve a chat",
        "description": "Read one chat by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_chats_by_owner_by_name",
        "summary": "Update a chat",
        "description": "Update one chat. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_chats_by_owner_by_name",
        "summary": "Replace a chat",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/connections": {
      "get": {
        "operationId": "get_v1_ai_connections",
        "summary": "Lists the org's connectable AI accounts and whether each is currently connected.",
        "description": "Lists the org's connectable AI accounts and whether each is\ncurrently connected. Never returns a key or a kms:// reference.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_connections",
        "summary": "Connects (or reconnects) a third-party AI account for the org by sealing the supplied key into KMS and upserting the org's provider row.",
        "description": "Connects (or reconnects) a third-party AI account for the org by\nsealing the supplied key into KMS and upserting the org's provider row. The raw\nkey is sealed BEFORE the row is built and is never persisted or echoed.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/connections/{provider}": {
      "delete": {
        "operationId": "delete_v1_ai_connections_by_provider",
        "summary": "Disconnects a third-party AI account: it deactivates the org's row so completion resolution falls back to the global Hanzo account (no BYO), and best-effort tombstones the sealed secret.",
        "description": "Disconnects a third-party AI account: it deactivates the org's\nrow so completion resolution falls back to the global Hanzo account (no BYO), and\nbest-effort tombstones the sealed secret. Idempotent.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_connections_by_provider",
        "summary": "Disconnects a third-party AI account: it deactivates the org's row so completion resolution falls back to the global Hanzo account (no BYO), and best-effort tombstones the sealed secret.",
        "description": "Disconnects a third-party AI account: it deactivates the org's\nrow so completion resolution falls back to the global Hanzo account (no BYO), and\nbest-effort tombstones the sealed secret. Idempotent.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/connections/{provider}/authorize": {
      "get": {
        "operationId": "get_v1_ai_connections_by_provider_authorize",
        "summary": "Begins an OAuth connection for the caller's org: it binds the org into a signed state and sends the caller to the provider's authorize URL.",
        "description": "Begins an OAuth connection for the caller's org: it binds the\norg into a signed state and sends the caller to the provider's authorize URL. By\ndefault it 302-redirects (a top-level browser \"connect your login\" click); a\nSPA/BFF that needs to drive the redirect itself passes ?format=json and gets\n{authorizeUrl} in the standard envelope. The org is the VERIFIED principal, so\nonly the caller's own connection can result.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/connections/{provider}/callback": {
      "get": {
        "operationId": "get_v1_ai_connections_by_provider_callback",
        "summary": "Completes OAuth: the org is recovered from the SIGNED state (not a header), the code is exchanged for a token, the token is SEALED into KMS (never the row/logs) through the same path as a BYOK key, and the org's provider row is upserted to \"connected\".",
        "description": "Completes OAuth: the org is recovered from the SIGNED state\n(not a header), the code is exchanged for a token, the token is SEALED into KMS\n(never the row/logs) through the same path as a BYOK key, and the org's provider\nrow is upserted to \"connected\". The browser is then redirected back to the console\nwith ?ai_connected=\u003cprovider\u003e (or ?ai_connect_error=\u003cprovider\u003e on failure). Because\nthe org comes from the state THIS server signed, an attacker cannot land their\ntoken in a victim org — which is why this endpoint is state-authenticated rather\nthan credential-gated.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/connections/{provider}/usage": {
      "get": {
        "operationId": "get_v1_ai_connections_by_provider_usage",
        "summary": "Imports the caller org's usage for a connected third-party account.",
        "description": "Imports the caller org's usage for a connected third-party\naccount. The org is resolved from the VERIFIED principal (requireConnectionOrg), so a\ntenant reads only its own connection. The key is unsealed SERVER-SIDE and never\nreturned. An unconnected account, a missing importer, or a scope-denied provider all\nreturn a 200 ProviderUsage with connected/available flags + a human note — the UI's\nhonest-empty states — never a fabricated figure.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/dashboards/agents": {
      "get": {
        "operationId": "get_v1_ai_dashboards_agents",
        "summary": "Dashboards Agents",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/dashboards/vm": {
      "get": {
        "operationId": "get_v1_ai_dashboards_vm",
        "summary": "Dashboards Vm",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/files": {
      "get": {
        "operationId": "get_v1_ai_files",
        "summary": "List files",
        "description": "List the caller's files.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_files",
        "summary": "Create a file",
        "description": "Create one file.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/files/activate": {
      "post": {
        "operationId": "post_v1_ai_files_activate",
        "summary": "Activate (file)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/files/active": {
      "get": {
        "operationId": "get_v1_ai_files_active",
        "summary": "Active (file)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/files/global": {
      "get": {
        "operationId": "get_v1_ai_files_global",
        "summary": "List files across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/files/upload": {
      "post": {
        "operationId": "post_v1_ai_files_upload",
        "summary": "Upload (file)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/files/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_files_by_owner_by_name",
        "summary": "Delete a file",
        "description": "Delete one file.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_files_by_owner_by_name",
        "summary": "Retrieve a file",
        "description": "Read one file by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_files_by_owner_by_name",
        "summary": "Update a file",
        "description": "Update one file. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_files_by_owner_by_name",
        "summary": "Replace a file",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/files/{owner}/{name}/vectors": {
      "post": {
        "operationId": "post_v1_ai_files_by_owner_by_name_vectors",
        "summary": "Vectors (file)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/forms": {
      "get": {
        "operationId": "get_v1_ai_forms",
        "summary": "List forms",
        "description": "List the caller's forms.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_forms",
        "summary": "Create a form",
        "description": "Create one form.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/forms/data": {
      "get": {
        "operationId": "get_v1_ai_forms_data",
        "summary": "Data (form)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/forms/global": {
      "get": {
        "operationId": "get_v1_ai_forms_global",
        "summary": "List forms across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/forms/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_forms_by_owner_by_name",
        "summary": "Delete a form",
        "description": "Delete one form.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_forms_by_owner_by_name",
        "summary": "Retrieve a form",
        "description": "Read one form by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_forms_by_owner_by_name",
        "summary": "Update a form",
        "description": "Update one form. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_forms_by_owner_by_name",
        "summary": "Replace a form",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/graphs": {
      "get": {
        "operationId": "get_v1_ai_graphs",
        "summary": "List graphs",
        "description": "List the caller's graphs.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_graphs",
        "summary": "Create a graph",
        "description": "Create one graph.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/graphs/global": {
      "get": {
        "operationId": "get_v1_ai_graphs_global",
        "summary": "List graphs across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/graphs/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_graphs_by_owner_by_name",
        "summary": "Delete a graph",
        "description": "Delete one graph.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_graphs_by_owner_by_name",
        "summary": "Retrieve a graph",
        "description": "Read one graph by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_graphs_by_owner_by_name",
        "summary": "Update a graph",
        "description": "Update one graph. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_graphs_by_owner_by_name",
        "summary": "Replace a graph",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/k8s-status": {
      "get": {
        "operationId": "get_v1_ai_k8s-status",
        "summary": "K8s Status",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/mcp/tools": {
      "get": {
        "operationId": "aiMCPTools",
        "summary": "Tools reports what this binary's MCP door carries: every tool the build publishes, how many of them this process actually serves, and which subsystem each belongs to.",
        "description": "Tools reports what this binary's MCP door carries: every tool the build\npublishes, how many of them this process actually serves, and which subsystem\neach belongs to. It is the answer to \"is the door up and does it have anything\nbehind it\" — a question a status code cannot answer, since an empty door and a\nfull one are both 200.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "query",
            "required": false,
            "description": "App names one subsystem whose tool NAMES to list. Empty answers counts\nonly: nine hundred names is a page no operator reads and no model can\nafford to be handed by accident.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aiMCPSurface"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ai/messages": {
      "get": {
        "operationId": "get_v1_ai_messages",
        "summary": "List messages",
        "description": "List the caller's messages.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_messages",
        "summary": "Create a message",
        "description": "Create one message.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/messages/global": {
      "get": {
        "operationId": "get_v1_ai_messages_global",
        "summary": "List messages across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/messages/welcome": {
      "delete": {
        "operationId": "delete_v1_ai_messages_welcome",
        "summary": "Welcome (message)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/messages/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_messages_by_owner_by_name",
        "summary": "Delete a message",
        "description": "Delete one message.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_messages_by_owner_by_name",
        "summary": "Retrieve a message",
        "description": "Read one message by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_messages_by_owner_by_name",
        "summary": "Update a message",
        "description": "Update one message. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_messages_by_owner_by_name",
        "summary": "Replace a message",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/messages/{owner}/{name}/answer": {
      "get": {
        "operationId": "get_v1_ai_messages_by_owner_by_name_answer",
        "summary": "Answer (message)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/nodes": {
      "get": {
        "operationId": "get_v1_ai_nodes",
        "summary": "List nodes",
        "description": "List the caller's nodes.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_nodes",
        "summary": "Create a node",
        "description": "Create one node.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/nodes/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_nodes_by_owner_by_name",
        "summary": "Delete a node",
        "description": "Delete one node.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_nodes_by_owner_by_name",
        "summary": "Retrieve a node",
        "description": "Read one node by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_nodes_by_owner_by_name",
        "summary": "Update a node",
        "description": "Update one node. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_nodes_by_owner_by_name",
        "summary": "Replace a node",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/nodes/{owner}/{name}/tunnel": {
      "get": {
        "operationId": "get_v1_ai_nodes_by_owner_by_name_tunnel",
        "summary": "Tunnel (node)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_nodes_by_owner_by_name_tunnel",
        "summary": "Tunnel (node)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/permissions": {
      "get": {
        "operationId": "get_v1_ai_permissions",
        "summary": "List permissions",
        "description": "List the caller's permissions.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_permissions",
        "summary": "Create a permission",
        "description": "Create one permission.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/permissions/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_permissions_by_owner_by_name",
        "summary": "Delete a permission",
        "description": "Delete one permission.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_permissions_by_owner_by_name",
        "summary": "Retrieve a permission",
        "description": "Read one permission by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_permissions_by_owner_by_name",
        "summary": "Update a permission",
        "description": "Update one permission. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_permissions_by_owner_by_name",
        "summary": "Replace a permission",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/preferences": {
      "patch": {
        "operationId": "patch_v1_ai_preferences",
        "summary": "Preferences",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_preferences",
        "summary": "Preferences",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/prometheus": {
      "get": {
        "operationId": "get_v1_ai_prometheus",
        "summary": "Prometheus",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/providers": {
      "get": {
        "operationId": "get_v1_ai_providers",
        "summary": "List providers",
        "description": "List the caller's providers.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_providers",
        "summary": "Create a provider",
        "description": "Create one provider.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/providers/global": {
      "get": {
        "operationId": "get_v1_ai_providers_global",
        "summary": "List providers across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/providers/mcp-tools": {
      "post": {
        "operationId": "post_v1_ai_providers_mcp-tools",
        "summary": "Mcp Tools (provider)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/providers/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_providers_by_owner_by_name",
        "summary": "Delete a provider",
        "description": "Delete one provider.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_providers_by_owner_by_name",
        "summary": "Retrieve a provider",
        "description": "Read one provider by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_providers_by_owner_by_name",
        "summary": "Update a provider",
        "description": "Update one provider. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_providers_by_owner_by_name",
        "summary": "Replace a provider",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/records": {
      "get": {
        "operationId": "get_v1_ai_records",
        "summary": "List records",
        "description": "List the caller's records.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_records",
        "summary": "Create a record",
        "description": "Create one record.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/records/batch": {
      "post": {
        "operationId": "post_v1_ai_records_batch",
        "summary": "Batch (record)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/records/commit": {
      "post": {
        "operationId": "post_v1_ai_records_commit",
        "summary": "Commit (record)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/records/commit-second": {
      "post": {
        "operationId": "post_v1_ai_records_commit-second",
        "summary": "Commit Second (record)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/records/query": {
      "get": {
        "operationId": "get_v1_ai_records_query",
        "summary": "Query (record)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/records/query-second": {
      "get": {
        "operationId": "get_v1_ai_records_query-second",
        "summary": "Query Second (record)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/records/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_records_by_owner_by_name",
        "summary": "Delete a record",
        "description": "Delete one record.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_records_by_owner_by_name",
        "summary": "Retrieve a record",
        "description": "Read one record by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_records_by_owner_by_name",
        "summary": "Update a record",
        "description": "Update one record. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_records_by_owner_by_name",
        "summary": "Replace a record",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/remote-connections": {
      "get": {
        "operationId": "get_v1_ai_remote-connections",
        "summary": "List remote-connections",
        "description": "List the caller's remote-connections.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_remote-connections",
        "summary": "Create a connection",
        "description": "Create one connection.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/remote-connections/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_remote-connections_by_owner_by_name",
        "summary": "Delete a connection",
        "description": "Delete one connection.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_remote-connections_by_owner_by_name",
        "summary": "Retrieve a connection",
        "description": "Read one connection by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_remote-connections_by_owner_by_name",
        "summary": "Update a connection",
        "description": "Update one connection. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_remote-connections_by_owner_by_name",
        "summary": "Replace a connection",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/remote-connections/{owner}/{name}/start": {
      "post": {
        "operationId": "post_v1_ai_remote-connections_by_owner_by_name_start",
        "summary": "Start (connection)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/remote-connections/{owner}/{name}/stop": {
      "post": {
        "operationId": "post_v1_ai_remote-connections_by_owner_by_name_stop",
        "summary": "Stop (connection)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/routes": {
      "get": {
        "operationId": "get_v1_ai_routes",
        "summary": "List routes",
        "description": "List the caller's routes.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_routes",
        "summary": "Create a model-route",
        "description": "Create one model-route.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/routes/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_routes_by_owner_by_name",
        "summary": "Delete a model-route",
        "description": "Delete one model-route.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_routes_by_owner_by_name",
        "summary": "Retrieve a model-route",
        "description": "Read one model-route by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_routes_by_owner_by_name",
        "summary": "Update a model-route",
        "description": "Update one model-route. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_routes_by_owner_by_name",
        "summary": "Replace a model-route",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/scales": {
      "get": {
        "operationId": "get_v1_ai_scales",
        "summary": "List scales",
        "description": "List the caller's scales.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_scales",
        "summary": "Create a scale",
        "description": "Create one scale.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/scales/global": {
      "get": {
        "operationId": "get_v1_ai_scales_global",
        "summary": "List scales across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/scales/public": {
      "get": {
        "operationId": "get_v1_ai_scales_public",
        "summary": "Public (scale)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/scales/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_scales_by_owner_by_name",
        "summary": "Delete a scale",
        "description": "Delete one scale.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_scales_by_owner_by_name",
        "summary": "Retrieve a scale",
        "description": "Read one scale by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_scales_by_owner_by_name",
        "summary": "Update a scale",
        "description": "Update one scale. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_scales_by_owner_by_name",
        "summary": "Replace a scale",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/scans": {
      "get": {
        "operationId": "get_v1_ai_scans",
        "summary": "List scans",
        "description": "List the caller's scans.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_scans",
        "summary": "Create a scan",
        "description": "Create one scan.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/scans/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_scans_by_owner_by_name",
        "summary": "Delete a scan",
        "description": "Delete one scan.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_scans_by_owner_by_name",
        "summary": "Retrieve a scan",
        "description": "Read one scan by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_scans_by_owner_by_name",
        "summary": "Update a scan",
        "description": "Update one scan. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_scans_by_owner_by_name",
        "summary": "Replace a scan",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/sessions": {
      "get": {
        "operationId": "get_v1_ai_sessions",
        "summary": "List sessions",
        "description": "List the caller's sessions.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_sessions",
        "summary": "Create a session",
        "description": "Create one session.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/sessions/duplicated": {
      "get": {
        "operationId": "get_v1_ai_sessions_duplicated",
        "summary": "Duplicated (session)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/sessions/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_sessions_by_owner_by_name",
        "summary": "Delete a session",
        "description": "Delete one session.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_sessions_by_owner_by_name",
        "summary": "Retrieve a session",
        "description": "Read one session by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_sessions_by_owner_by_name",
        "summary": "Update a session",
        "description": "Update one session. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_sessions_by_owner_by_name",
        "summary": "Replace a session",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/signin": {
      "post": {
        "operationId": "post_v1_ai_signin",
        "summary": "Signin",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/signout": {
      "post": {
        "operationId": "post_v1_ai_signout",
        "summary": "Signout",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/stores": {
      "get": {
        "operationId": "get_v1_ai_stores",
        "summary": "List stores",
        "description": "List the caller's stores.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_stores",
        "summary": "Create a store",
        "description": "Create one store.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/stores/global": {
      "get": {
        "operationId": "get_v1_ai_stores_global",
        "summary": "List stores across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/stores/names": {
      "get": {
        "operationId": "get_v1_ai_stores_names",
        "summary": "Names (store)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/stores/providers": {
      "get": {
        "operationId": "get_v1_ai_stores_providers",
        "summary": "Providers (store)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/stores/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_stores_by_owner_by_name",
        "summary": "Delete a store",
        "description": "Delete one store.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_stores_by_owner_by_name",
        "summary": "Retrieve a store",
        "description": "Read one store by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_stores_by_owner_by_name",
        "summary": "Update a store",
        "description": "Update one store. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_stores_by_owner_by_name",
        "summary": "Replace a store",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/stores/{owner}/{name}/vectors": {
      "post": {
        "operationId": "post_v1_ai_stores_by_owner_by_name_vectors",
        "summary": "Vectors (store)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/system": {
      "get": {
        "operationId": "get_v1_ai_system",
        "summary": "System",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/tasks": {
      "get": {
        "operationId": "get_v1_ai_tasks",
        "summary": "List tasks",
        "description": "List the caller's tasks.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_tasks",
        "summary": "Create a task",
        "description": "Create one task.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/tasks/global": {
      "get": {
        "operationId": "get_v1_ai_tasks_global",
        "summary": "List tasks across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/tasks/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_tasks_by_owner_by_name",
        "summary": "Delete a task",
        "description": "Delete one task.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_tasks_by_owner_by_name",
        "summary": "Retrieve a task",
        "description": "Read one task by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_tasks_by_owner_by_name",
        "summary": "Update a task",
        "description": "Update one task. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_tasks_by_owner_by_name",
        "summary": "Replace a task",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/tasks/{owner}/{name}/analyze": {
      "post": {
        "operationId": "post_v1_ai_tasks_by_owner_by_name_analyze",
        "summary": "Analyze (task)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/tasks/{owner}/{name}/document": {
      "post": {
        "operationId": "post_v1_ai_tasks_by_owner_by_name_document",
        "summary": "Document (task)",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/templates": {
      "get": {
        "operationId": "get_v1_ai_templates",
        "summary": "List templates",
        "description": "List the caller's templates.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_templates",
        "summary": "Create a template",
        "description": "Create one template.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/templates/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_templates_by_owner_by_name",
        "summary": "Delete a template",
        "description": "Delete one template.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_templates_by_owner_by_name",
        "summary": "Retrieve a template",
        "description": "Read one template by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_templates_by_owner_by_name",
        "summary": "Update a template",
        "description": "Update one template. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_templates_by_owner_by_name",
        "summary": "Replace a template",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/training-contribution": {
      "get": {
        "operationId": "get_v1_ai_training-contribution",
        "summary": "Training Contribution",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_training-contribution",
        "summary": "Training Contribution",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_training-contribution",
        "summary": "Training Contribution",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/tree-files": {
      "post": {
        "operationId": "post_v1_ai_tree-files",
        "summary": "Create a tree-file",
        "description": "Create one tree-file.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/tree-files/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_tree-files_by_owner_by_name",
        "summary": "Delete a tree-file",
        "description": "Delete one tree-file.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_tree-files_by_owner_by_name",
        "summary": "Update a tree-file",
        "description": "Update one tree-file. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "put": {
        "operationId": "put_v1_ai_tree-files_by_owner_by_name",
        "summary": "Replace a tree-file",
        "description": "Identical to PATCH — the handler takes a whole object either way.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/usages": {
      "get": {
        "operationId": "get_v1_ai_usages",
        "summary": "List usages",
        "description": "List the caller's usages.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/usages/cloud": {
      "get": {
        "operationId": "get_v1_ai_usages_cloud",
        "summary": "Cloud (usage)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/usages/range": {
      "get": {
        "operationId": "get_v1_ai_usages_range",
        "summary": "Range (usage)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/users": {
      "get": {
        "operationId": "get_v1_ai_users",
        "summary": "List users",
        "description": "List the caller's users.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/users/table-infos": {
      "get": {
        "operationId": "get_v1_ai_users_table-infos",
        "summary": "Table Infos (user)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/vectors": {
      "get": {
        "operationId": "get_v1_ai_vectors",
        "summary": "List vectors",
        "description": "List the caller's vectors.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "post": {
        "operationId": "post_v1_ai_vectors",
        "summary": "Create a vector",
        "description": "Create one vector.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/vectors/all": {
      "delete": {
        "operationId": "delete_v1_ai_vectors_all",
        "summary": "All (vector)",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/vectors/global": {
      "get": {
        "operationId": "get_v1_ai_vectors_global",
        "summary": "List vectors across tenants",
        "description": "Cross-tenant listing. Admin-only; a tenant caller is refused.",
        "tags": [
          "ai"
        ],
        "x-app": "github.com/hanzoai/ai"
      }
    },
    "/v1/ai/vectors/{owner}/{name}": {
      "delete": {
        "operationId": "delete_v1_ai_vectors_by_owner_by_name",
        "summary": "Delete a vector",
        "description": "Delete one vector.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "get": {
        "operationId": "get_v1_ai_vectors_by_owner_by_name",
        "summary": "Retrieve a vector",
        "description": "Read one vector by its (owner, name) key.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-app": "github.com/hanzoai/ai"
      },
      "patch": {
        "operationId": "patch_v1_ai_vectors_by_owner_by_name",
        "summary": "Update a vector",
        "description": "Update one vector. PATCH and PUT reach the same handler, which has always taken a whole object.",
        "tags": [
          "ai"
        ],
        "parameters": [
          {
[...]
