{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package marketplace is the shop for tools and agents: browse, install into your project, publish your own free or priced.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "marketplace"
    }
  ],
  "paths": {
    "/v1/marketplace": {
      "get": {
        "operationId": "get_v1_marketplace",
        "summary": "Discover lists every tool and agent the caller can reach in their own org and project, enriched with any public listing's title, category and price, and with installed=true on the ones already activated for that scope.",
        "description": "Discover lists every tool and agent the caller can reach in their own org and\nproject, enriched with any public listing's title, category and price, and with\ninstalled=true on the ones already activated for that scope. It is the shop\nwindow: one read that answers what exists, what it costs and what is already on.",
        "tags": [
          "marketplace"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketCatalog"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketplace/install": {
      "post": {
        "operationId": "post_v1_marketplace_install",
        "summary": "Install activates one tool for the caller's own org and project.",
        "description": "Install activates one tool for the caller's own org and project. A marketplace\ninstall IS the tool plane's activation write — one store, one truth — so an\ninstalled capability is immediately dispatchable and a monetized one is priced\nfrom its listing at every call. The tool must resolve in the caller's scope, so\ninstalling something that does not exist is refused rather than recorded.",
        "tags": [
          "marketplace"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "tool": "summarize"
              },
              "schema": {
                "$ref": "#/components/schemas/installReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/installState"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketplace/listings": {
      "get": {
        "operationId": "get_v1_marketplace_listings",
        "summary": "ListListings returns the listings the caller's own org has published — what this org is offering, not what it can buy.",
        "description": "ListListings returns the listings the caller's own org has published — what this\norg is offering, not what it can buy. A publisher only ever sees its own rows.",
        "tags": [
          "marketplace"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listingPage"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_marketplace_listings",
        "summary": "Publish offers one tool on the marketplace, optionally monetized.",
        "description": "Publish offers one tool on the marketplace, optionally monetized. The tool must\nalready resolve in the publisher's own scope, so a listing can never advertise a\ncapability that does not exist; a listing with a price must name the payout wallet\nthe x402 seam settles to, so a monetized offer is never unpayable. The price is\nexact to 18 decimal places, so a per-call price below a cent is a real price and\nnot a rounded-away zero. The listing is owned by the publishing org, paid into a\nwallet of that same org, and answers 201 with the created row.",
        "tags": [
          "marketplace"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "price": "0.0025",
                "public": true,
                "recipient": "wal_9f2",
                "title": "Summarize",
                "tool": "summarize"
              },
              "schema": {
                "$ref": "#/components/schemas/publishReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/marketplace/listings/{id}": {
      "delete": {
        "operationId": "delete_v1_marketplace_listings_id",
        "summary": "Unpublish withdraws one of the caller org's listings from the marketplace and answers 204.",
        "description": "Unpublish withdraws one of the caller org's listings from the marketplace and\nanswers 204. Only the publishing org can remove its own listing; an id that is\nunknown, or belongs to another org, is the same 404, so a probe learns nothing\nabout what exists. Removing a listing removes its price from per-call enforcement;\nit does not uninstall the tool for anyone who already installed it.",
        "tags": [
          "marketplace"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the listing to unpublish, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "lst_1"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/marketplace/uninstall": {
      "post": {
        "operationId": "post_v1_marketplace_uninstall",
        "summary": "Uninstall deactivates one tool for the caller's own org and project, so it stops being dispatchable there.",
        "description": "Uninstall deactivates one tool for the caller's own org and project, so it stops\nbeing dispatchable there. It is the exact inverse of install and touches the same\nactivation record; deactivating something that was never active is not an error.\nThe listing itself is untouched — this withdraws the caller's use of a capability,\nnot anyone's offer of it.",
        "tags": [
          "marketplace"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "tool": "summarize"
              },
              "schema": {
                "$ref": "#/components/schemas/installReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/installState"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Listing": {
        "properties": {
          "category": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "price": {
            "description": "exact per-call price; 0 is free."
          },
          "public": {
            "type": "boolean"
          },
          "publisherOrg": {
            "type": "string"
          },
          "recipient": {
            "description": "seller payout WALLET ID, in PublisherOrg.",
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "tool": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Price": {
        "properties": {
          "amount": {
            "description": "Amount is what ONE call costs, EXACTLY: an 18-decimal USD value, so a\nper-call price of $0.0025 is $0.0025 and not a cent-floored zero. Cents\ncannot hold a per-token price, and a tool plane is where per-token prices\nlive."
          },
          "currency": {
            "description": "Currency is the ISO 4217 code, e.g. \"USD\". Empty means USD.",
            "type": "string"
          },
          "recipient": {
            "description": "Recipient is the payout wallet ref the marketplace seller is paid at.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "installReq": {
        "properties": {
          "tool": {
            "description": "Tool is the registry name of the capability to activate (or deactivate) for\nthe caller's own org and project. Required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "installState": {
        "properties": {
          "installed": {
            "description": "Installed is its activation after the write.",
            "type": "boolean"
          },
          "tool": {
            "description": "Tool is the capability the write applied to.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "listingPage": {
        "properties": {
          "listings": {
            "description": "Listings is every listing this org has published, private ones included\n(Public says which are discoverable by others).",
            "items": {
              "$ref": "#/components/schemas/Listing"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "marketCatalog": {
        "properties": {
          "items": {
            "description": "Items is every capability the caller can see in their own (org, project),\neach carrying any public listing's shop metadata and whether it is installed.",
            "items": {
              "$ref": "#/components/schemas/marketItem"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "marketItem": {
        "properties": {
          "activated": {
            "type": "boolean"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dispatchable": {
            "type": "boolean"
          },
          "inputSchema": {},
          "installed": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "$ref": "#/components/schemas/Price"
          },
          "source": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "publishReq": {
        "properties": {
          "category": {
            "description": "Category groups the listing in the shop window.",
            "type": "string"
          },
          "currency": {
            "description": "Currency denominates Price.",
            "type": "string"
          },
          "description": {
            "description": "Description is the long copy, clipped at 4096 characters.",
            "type": "string"
          },
          "price": {
            "description": "Price is the per-call price as a decimal USD string, exact to 18 places —\n\"0.0025\" is a quarter of a cent and stays one. Empty or \"0\" (the default)\npublishes it free; any positive price makes the listing monetized and\nrequires Recipient.",
            "type": "string"
          },
          "public": {
            "description": "Public makes the listing discoverable by other orgs. Private otherwise.",
            "type": "boolean"
          },
          "recipient": {
            "description": "Recipient is the seller's payout wallet ID, in the publishing org — the\nwallet x402 pays. Required for a monetized listing.",
            "type": "string"
          },
          "title": {
            "description": "Title is the shop-window name, 1-200 characters. Required.",
            "type": "string"
          },
          "tool": {
            "description": "Tool is the registry name of the capability being offered. It must already\nresolve in the publisher's own scope — there are no phantom listings.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
