{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package network mounts the Hanzo Cloud NETWORKING surface: the tenant's Hanzo Zero Trust footprint — the overlay network, its routers and its services — served as clean, org-scoped REST off the unified cloud binary and fronting the Hanzo Zero Trust controller (hanzoai/zt, an ZT-based fabric).",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "network"
    }
  ],
  "paths": {
    "/v1/network": {
      "get": {
        "operationId": "get_network",
        "summary": "Returns the caller's org overlay network on the Zero Trust fabric.",
        "description": "Returns the caller's org overlay network on the Zero Trust fabric.\n\nThe org has at most ONE overlay, projected from the edge-routers tagged with its\n\"org-\u003corg\u003e\" role attribute: nodes is the real router count and status is\n\"connected\" once at least one router has dialed home, \"provisioning\" while none\nhas. An org with no routers gets an empty list, never a fabricated network.\n\nThe read degrades rather than erroring: a deployment with no ZT credential, and a\ncontroller that cannot be reached, both answer 200 with an empty list so the\nconsole's Networks page renders a clean empty state instead of an error.",
        "tags": [
          "network"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/networkList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/network/identities": {
      "get": {
        "operationId": "get_network_identities",
        "summary": "Returns the fabric identities the caller's org owns.",
        "description": "Returns the fabric identities the caller's org owns.\n\nOne row per identity tagged with the org's \"org-\u003corg\u003e\" role attribute — a\ndevice minted here, enrolled or not. An identity that has not yet enrolled\nstill carries its one-time enrollment, so a mislaid JWT is read again here\nrather than re-minted.\n\nA tenancy read over the full inventory, so like the mesh list it does NOT\ndegrade: an unconfigured deployment answers 503.",
        "tags": [
          "network"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/identityList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_network_identities",
        "summary": "Mints a fabric identity for a device the caller's org brings.",
        "description": "Mints a fabric identity for a device the caller's org brings.\n\nThe identity is created of type Device, tagged with the org's \"org-\u003corg\u003e\" role\nattribute plus any supplied roles — each scoped to the org, and a\n\"\u003cservice\u003e-host\" role refused unless the org has published that service. The\nanswer carries the controller's one-time enrollment JWT: the device presents\nit once to join the fabric, and until it does the same token can be read back\noff GET /v1/network/identities.\n\nA write, so it does not degrade: an unconfigured deployment answers 503.",
        "tags": [
          "network"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/identityIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/identityView"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/network/identities/{id}": {
      "delete": {
        "operationId": "delete_network_identities_by_id",
        "summary": "Removes one of the org's fabric identities.",
        "description": "Removes one of the org's fabric identities. The device's\ncredential stops authenticating and its enrollment, if unspent, stops\nenrolling.\n\nAn id belonging to another org — or to nothing — is 404 before any write\nreaches the controller: whether an identity exists is itself a cross-tenant\nfact, and a delete may only ever act on what the caller could list.",
        "tags": [
          "network"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the identity id from the path. The URL is the addressing authority,\nso it binds from there whatever else the request carries.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/network/routers": {
      "get": {
        "operationId": "get_network_routers",
        "summary": "Returns the Zero Trust routers the caller's org owns.",
        "description": "Returns the Zero Trust routers the caller's org owns.\n\nOne row per real ZT edge-router tagged with the org's \"org-\u003corg\u003e\" role attribute,\ncarrying the controller's own health signal: \"online\" when connected, \"disabled\"\nwhen administratively disabled, \"offline\" otherwise. region is filled only from a\n\"region-\u003cslug\u003e\" role attribute and omitted when the router carries none, so the\ncolumn renders \"—\" rather than a guess.\n\nThe read degrades rather than erroring: a deployment with no ZT credential, and a\ncontroller that cannot be reached, both answer 200 with an empty list.",
        "tags": [
          "network"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routerList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/network/services": {
      "get": {
        "operationId": "get_network_services",
        "summary": "Returns the Zero Trust edge services the caller's org owns.",
        "description": "Returns the Zero Trust edge services the caller's org owns.\n\nOne row per real ZT edge service tagged with the org's \"org-\u003corg\u003e\" role\nattribute: mtls is \"required\" when the service mandates end-to-end encryption and\n\"enabled\" otherwise (the fabric always mutually authenticates every link), and\nstatus is \"active\" because a listed service is a configured, dialable entry. A\nservice tagged for another org, or tagged for none, is invisible here.\n\nUnlike the network and router reads this does NOT degrade: an unconfigured\ndeployment answers 503 and an unreachable controller surfaces the upstream's\nstatus, so a mesh page never renders \"no services\" for a fabric it simply could\nnot read.",
        "tags": [
          "network"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/meshServiceList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_network_services",
        "summary": "Puts a name on the org's overlay: a fabric service forwarding to host:port on whichever of the org's devices carries the \"\u003cname\u003e-host\" role, dialable at \"\u003cname\u003e.\u003corg\u003e.zt\" by any of the org's identities — and by the cloud's own, which is what lets a BYO cluster's apiserver be attached to the fleet with a \".zt\" kubeconfig.",
        "description": "Puts a name on the org's overlay: a fabric service forwarding\nto host:port on whichever of the org's devices carries the \"\u003cname\u003e-host\"\nrole, dialable at \"\u003cname\u003e.\u003corg\u003e.zt\" by any of the org's identities — and by\nthe cloud's own, which is what lets a BYO cluster's apiserver be attached to\nthe fleet with a \".zt\" kubeconfig.\n\nAnswers 201 with the service and its DNS name. The objects behind it are\ncreated in dependency order and unwound on failure, so a half-published\nservice never lingers on the fabric.\n\nA write, so it does not degrade: an unconfigured deployment answers 503.",
        "tags": [
          "network"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/serviceIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/publishedView"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/network/{id}": {
      "get": {
        "operationId": "get_network_by_id",
        "summary": "Returns one overlay network by id, scoped to the caller's org.",
        "description": "Returns one overlay network by id, scoped to the caller's org.\n\nThe org has exactly one overlay network and its id is derived from the org, so\nany other id — another tenant's, or one that does not exist — is 404 rather than\na peek across the tenant boundary. An org whose network exists but has no\nedge-routers is 404 too, for the same reason the list is empty: there is no\noverlay until something is on it.",
        "tags": [
          "network"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the network id from the path. The URL is the addressing authority, so\nit binds from there whatever else the request carries.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/networkView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "enrollmentView": {
        "properties": {
          "expiresAt": {
            "description": "ExpiresAt is when the un-used token lapses, RFC 3339.",
            "type": "string"
          },
          "jwt": {
            "description": "JWT is the one-time enrollment token the device presents ONCE to join the\nfabric (zt edge enroll / zt-edge-tunnel enroll). Spent or lapsed, it\nauthenticates nothing; this surface stores it nowhere.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "identityIn": {
        "properties": {
          "name": {
            "description": "Name is the device's name within the org — a DNS label. The fabric knows\nthe identity as \"\u003cname\u003e.\u003corg\u003e\"; every answer here uses the caller's name.",
            "type": "string"
          },
          "roles": {
            "description": "Roles are extra role attributes for the identity, each scoped to the\ncaller's org on the way in (\"k3s-host\" is written as \"k3s-host.\u003corg\u003e\") so\nno caller can claim an attribute another tenant's policy selects. A role\nof the form \"\u003cservice\u003e-host\" makes this identity a HOST of that published\nservice — the bind policy from POST /v1/network/services selects exactly\nthat attribute — and is refused when the org has no such service.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "identityList": {
        "properties": {
          "identities": {
            "description": "Identities is one row per fabric identity tagged with the caller's org role.",
            "items": {
              "$ref": "#/components/schemas/identityView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "identityView": {
        "properties": {
          "enrollment": {
            "$ref": "#/components/schemas/enrollmentView",
            "description": "Enrollment is present only while the identity holds an un-used one-time\ntoken — on create, and on a listed identity that has not yet enrolled, so\na mislaid JWT can be read again until it is spent or lapses."
          },
          "id": {
            "description": "ID is the identity's fabric id — the key DELETE addresses.",
            "type": "string"
          },
          "name": {
            "description": "Name is the identity's name within the org.",
            "type": "string"
          },
          "roles": {
            "description": "Roles are the identity's role attributes as the fabric holds them: the\norg's own \"org-\u003corg\u003e\" plus any org-scoped roles it was minted with.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "meshServiceList": {
        "properties": {
          "services": {
            "description": "Services is one row per ZT edge service tagged with the caller's org role.",
            "items": {
              "$ref": "#/components/schemas/meshView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "meshView": {
        "properties": {
          "id": {
            "description": "ID is the ZT edge service's id.",
            "type": "string"
          },
          "mtls": {
            "description": "Mtls is \"required\" when the service mandates end-to-end encryption, else\n\"enabled\" — the fabric mutually authenticates every link, so it is never\ntruly off.",
            "type": "string"
          },
          "service": {
            "description": "Service is the edge service's name.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"active\": a listed service is a configured, dialable mesh entry.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "networkList": {
        "properties": {
          "networks": {
            "description": "Networks holds the org's overlay network, or is empty when the org has no\nedge-routers on the fabric (no nodes → no network, never a fabricated one).",
            "items": {
              "$ref": "#/components/schemas/networkView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "networkView": {
        "properties": {
          "id": {
            "description": "ID is the org-derived id of the overlay network — the key\nGET /v1/network/{id} addresses.",
            "type": "string"
          },
          "name": {
            "description": "Name is the org the overlay belongs to.",
            "type": "string"
          },
          "nodes": {
            "description": "Nodes is how many edge-routers the org has on the fabric.",
            "format": "int64",
            "type": "integer"
          },
          "status": {
            "description": "Status is \"connected\" once at least one of the org's edge-routers is\nonline, else \"provisioning\" (routers exist but none has dialed home).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "publishedView": {
        "properties": {
          "dns": {
            "description": "DNS is the name the fabric answers for this service — what a kubeconfig\nserver, or any client on the org's overlay, dials.",
            "type": "string"
          },
          "id": {
            "description": "ID is the fabric service's id.",
            "type": "string"
          },
          "name": {
            "description": "Name is the service's name within the org.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "routerList": {
        "properties": {
          "routers": {
            "description": "Routers is one row per ZT edge-router tagged with the caller's org role.",
            "items": {
              "$ref": "#/components/schemas/routerView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "routerView": {
        "properties": {
          "id": {
            "description": "ID is the ZT edge-router's id.",
            "type": "string"
          },
          "name": {
            "description": "Name is the edge-router's name, falling back to its id when it has none.",
            "type": "string"
          },
          "region": {
            "description": "Region comes from a \"region-\u003cslug\u003e\" role attribute and is omitted when the\nrouter carries none, so the column renders \"—\" rather than a guess.",
            "type": "string"
          },
          "status": {
            "description": "Status is the controller's own health signal: \"online\" when connected,\n\"disabled\" when administratively disabled, \"offline\" otherwise.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "serviceIn": {
        "properties": {
          "host": {
            "description": "Host is where the HOSTING identity forwards a connection — an address the\nhost device itself can reach, \"127.0.0.1\" for a server on the device.",
            "type": "string"
          },
          "name": {
            "description": "Name is the service's name within the org — a DNS label. The fabric knows\nthe service as \"\u003cname\u003e.\u003corg\u003e\" and answers for it at \"\u003cname\u003e.\u003corg\u003e.zt\".",
            "type": "string"
          },
          "port": {
            "description": "Port is the port beside Host, and the one the DNS name intercepts.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
