{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package label is the ground-truth plane: what actually turned out to be fraud, who said so, and when they could first have said it.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "label"
    }
  ],
  "paths": {
    "/v1/label": {
      "get": {
        "operationId": "riskLabels",
        "summary": "Read the assertions this tenant has recorded",
        "description": "Reads the assertions this tenant has recorded, newest event first.\n\nIt reads the RECORD — the tenant's own store — and not the columnar copy, so\nwhat it returns is what would be produced in an audit. Narrow it by entity, by\nasserter, or by event window.",
        "tags": [
          "label"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind and Subject narrow to one entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source narrows to one asserter — the read that answers \"what has commerce\ntold us\", separately from \"what has an analyst told us\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "From and To bound the EVENT time, half-open, RFC 3339.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the page. Out of range takes the plane's own bound.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskLabelsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "riskLabel",
        "summary": "Assert ground truth about events",
        "description": "Records a batch of ground truth against the entities it judges.\n\nEach assertion carries TWO times — when the judged event happened, and when\nthe assertion became knowable — and both are required. The second is what\nkeeps a chargeback that landed in June out of a model that had to decide in\nFebruary.\n\nIt is idempotent on the CONTENT of an assertion, so a webhook that redelivers\nis safe. It never overwrites: a source that corrects itself later files a NEW\nassertion, which wins from the moment it became knowable and leaves every\nearlier observation instant seeing exactly what it saw.\n\nThe asserter is stamped from the validated credential and is not a body field.",
        "tags": [
          "label"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskLabelIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskLabelOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/label/coverage": {
      "get": {
        "operationId": "riskLabelCoverage",
        "summary": "How much of the window has matured, and how much of that is judged",
        "description": "Reports how much of a window has matured and how much of that is\njudged, per source.\n\nIt is the gate on training. A supervised fit over a window whose judged count\nis near zero produces a number, and the number is meaningless; this op is what\nlets that be stated before the fit rather than discovered after it.\n\nIt reads the RECORD plane and folds every assertion at that event's OWN as-of,\nso the counts obey exactly the leakage rule a materialisation would. It counts\nonly what was ASSERTED: what share of the whole event STREAM carries a label is\na question about the feature plane's denominator and is not answerable here.",
        "tags": [
          "label"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "From and To bound the EVENT window, half-open, RFC 3339.\n\nUnstated, the window is the 90 days ENDING where maturity begins — `to` is\nthe horizon ago, not now. A default window running to now under a default\nhorizon could not contain one matured event, so every count below it would\nbe zero however much ground truth the tenant held.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "horizon",
            "in": "query",
            "required": false,
            "description": "Horizon is the maturity horizon in days the coverage is measured under.\nUnstated takes 120. It also moves the default window, which ends where\nmaturity begins.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskLabelCoverage"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/label/dispose": {
      "post": {
        "operationId": "riskDisposeLabels",
        "summary": "Dispose of this tenant's expired assertions, whole records only",
        "description": "Applies this tenant's retention, and only this tenant's.\n\nIt is bounded three ways, each a compliance property rather than a\nconvenience. It refuses a boundary younger than the platform floor, because a\nlabel can be the input to an adverse action and five years is what the\nretention ledger holds such a record for. It never touches a record under\nlitigation hold. And it disposes of whole records rather than redacting\nfields.\n\nIt removes the derived columnar copy BEFORE the record, and refuses the whole\ndisposal if the warehouse cannot be reached. The other order would leave rows\nin the warehouse that nothing can identify any more, which is a disposal that\ndid not happen and says it did.",
        "tags": [
          "label"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskDisposeIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDisposeOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/label/hold": {
      "post": {
        "operationId": "riskHoldLabels",
        "summary": "Place or release a litigation hold on named records",
        "description": "Places or releases a litigation hold on named records.\n\nA hold is a fact about the RECORD, not about the world: it says retention may\nnot dispose of this row, and it asserts nothing about what happened. So it is\nnot a field on an assertion and it is not folded into the content digest —\ncarried there it was silently a no-op on any record that already existed, since\nre-filing the same assertion with a hold flag produced the same digest, the\ninsert was ignored, and the caller was answered `duplicate` while the hold it\nasked for was never placed. This op is the one way a hold moves, in either\ndirection, and the move is written to the audit log.\n\nEvery named id is this tenant's or is nothing. The statement runs against the\ntenant's own file, which holds no other tenant's rows and has no column that\ncould name one.",
        "tags": [
          "label"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskHoldIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskHoldOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/label/resolve": {
      "post": {
        "operationId": "riskResolveLabels",
        "summary": "Resolve the label in force for named events, as of each event's own horizon",
        "description": "Answers, for each named event, which assertion was in force AS OF that\nevent's own horizon — and what disagreed with it.\n\nThis is the join surface: the dataset materialiser calls it to attach ground\ntruth to training rows, and the evaluator calls it to score a past decision\nagainst what was knowable when the decision had to be made. One mechanism for\nboth, so a model can never be trained under one leakage rule and scored under\nanother.\n\nThree answers are distinct and all three are honest: a resolved label, an\nevent that has not matured, and a matured event nobody has judged. The last is\nnever reported as unproductive.",
        "tags": [
          "label"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskResolveIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskResolveOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/label/vocabulary": {
      "get": {
        "operationId": "riskLabelVocabulary",
        "summary": "The closed vocabularies and the precedence rule that resolves a conflict",
        "description": "Publishes the closed vocabularies and the precedence rule that\nresolves a conflict between two sources.\n\nA precedence rule nobody can read is a rule nobody can audit or dispute, and\nthe whole defensibility of a contested label rests on being able to say why\none assertion beat another. The order returned here is derived from the same\ndeclaration the resolver reads — it is not a description of it.",
        "tags": [
          "label"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskLabelVocabulary"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "riskDisposeIn": {
        "properties": {
          "before": {
            "description": "Before disposes of assertions WRITTEN before this instant, RFC 3339. It is\nmeasured against the server clock at the write and not against the event\nor observation times, both of which the asserting caller supplies — a\ntenant that could back-date could delete a compliance record on demand.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "riskDisposeOut": {
        "properties": {
          "before": {
            "description": "Before echoes the retention boundary that was applied, RFC 3339 in UTC, as\nthis plane parsed it from the request. What was disposed of is every record\nWRITTEN strictly before it and not under litigation hold — written, measured\nagainst the server clock at the write, and not against the event or\nobservation times the asserting caller supplies, because a tenant that could\nback-date could delete a compliance record on demand. A boundary younger than\nthe platform floor of five years is refused before anything is removed.",
            "type": "string"
          },
          "disposed": {
            "description": "Disposed is how many whole records were removed. Records are disposed of\nwhole, never redacted: a partially-erased compliance record is one nobody\ncan attest to.",
            "type": "integer"
          },
          "held": {
            "description": "Held is how many records inside the boundary were kept under litigation\nhold.",
            "type": "integer"
          },
          "oldest": {
            "description": "Oldest is the WRITE time of the oldest assertion this tenant still holds after\nthe sweep, RFC 3339, and it is omitted exactly when nothing remains at all.\nStill older than Before means records survived on purpose and says which\nmechanism kept them: a litigation hold (Held), or the per-call bound with more\nto sweep on the next call (Remaining).",
            "type": "string"
          },
          "remaining": {
            "description": "Remaining is how many disposable records are still older than the\nboundary. A sweep is bounded per call, so a non-zero value here means call\nagain rather than that something failed.",
            "type": "integer"
          },
          "restored": {
            "description": "Restored is how many records this sweep had already removed from the derived\ncolumnar copy and then did NOT dispose of, because a litigation hold arrived\nbetween the identify and the delete — and which were therefore written back\nto the derived copy before this answered.\n\nIt is a NAMED state and not a silent repair. The copy is swept before the\nrecord so nothing is orphaned in the warehouse, which means a record the\ndelete declines to remove is one the warehouse has already lost, with its\nseq behind the delivery cursor and no retry that can reach it. Non-zero here\nsays the collision happened and was repaired; a non-zero that keeps\nrecurring says retention and hold are racing on the same records, which is\nworth an operator's attention rather than a debug line.",
            "type": "integer"
          },
          "total": {
            "description": "Total and Oldest describe what the tenant still holds afterwards, so a\ndisposal that removed nothing is distinguishable from a tenant that had\nnothing.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "riskHoldIn": {
        "properties": {
          "hold": {
            "description": "Hold is the state to put them in: true places the hold, false releases it.\nOne op both ways, because a hold that can be placed and not released pins a\ncompliance record past every retention boundary with nothing able to let it\ngo — and an operator who cannot release a hold stops placing them.",
            "type": "boolean"
          },
          "ids": {
            "description": "IDs are the content digests of the records, as returned by the write and\nby the read. They name records in THIS tenant's plane; an id belonging to\nanybody else names nothing here, because the statement runs against this\ntenant's own file and there is no other file it could reach.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "riskHoldOut": {
        "properties": {
          "changed": {
            "description": "Changed is how many records moved into that state. A record already in it\nis not counted and is not an error: the op is idempotent, so a retry after\na network failure is safe.",
            "type": "integer"
          },
          "held": {
            "description": "Held is how many records this tenant is now holding, at any age. Retention\nnever disposes of one.",
            "type": "integer"
          },
          "hold": {
            "description": "Hold echoes the state asked for.",
            "type": "boolean"
          },
          "missing": {
            "description": "Missing is how many of the named ids this tenant does not hold. It is\nreported rather than refused, so a sweep over a list that includes disposed\nrecords still places every hold it can — but it is REPORTED, because a hold\nthat silently did nothing is a compliance control that lies.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "riskLabelCoverage": {
        "properties": {
          "contested": {
            "description": "Contested is how many matured events have two visible assertions that\ndisagree. It is the number that says whether the precedence rule is\nload-bearing or decorative, and it is the one to watch after wiring a new\nsource.",
            "type": "integer"
          },
          "events": {
            "description": "Events is how many DISTINCT judged events those assertions name, keyed on\n(kind, subject, at). It counts only events something was ASSERTED about: what\nshare of the whole event stream carries a label is a question about the\nfeature plane's denominator and is not answerable here. Matured + Unmatured is\nEvents.",
            "type": "integer"
          },
          "explore": {
            "description": "Explore is the share of judged events whose winning assertion came from\nthe below-the-line sample. A blocked transaction never produces a\nchargeback, so a training set with no exploration in it is a description of\nthe incumbent block list rather than of the world — and a champion measured\non it is measured on whether it agrees with the incumbent.",
            "type": "number"
          },
          "facts": {
            "description": "Facts is how many assertions the window holds; Events is how many distinct\njudged events they cover. The two differ by exactly the corroboration and\nthe conflict in the plane.",
            "type": "integer"
          },
          "from": {
            "description": "From is the INCLUSIVE start of the EVENT window these counts were folded over,\nRFC 3339, echoed with the defaults filled in — the caller's, or 90 days before\nTo. An assertion is in the window when its event time satisfies at \u003e= From.",
            "type": "string"
          },
          "horizon": {
            "description": "Horizon is the maturity horizon these counts were measured under, IN DAYS —\nthe caller's, or 120. It decides Matured (an event is matured when its `at`\nplus this many days is not after now), it sets each event's own as-of and so\nwhich assertions were visible to it, and when the caller bounds nothing it\nalso places the default window's end.",
            "type": "integer"
          },
          "judged": {
            "description": "Judged is how many MATURED events resolve, at their own as-of, to\nsomething other than unjudged.",
            "type": "integer"
          },
          "matured": {
            "description": "Matured is how many of those events have aged past the horizon and may\ntherefore be admitted to a supervised set at all. It counts every matured\nevent, judged or not — it is the DENOMINATOR an operator divides Judged by,\nand a denominator that excluded the unjudged would read 1.0 on a plane with\none label in it.",
            "type": "integer"
          },
          "pending": {
            "description": "Pending is how many of this tenant's assertions the DERIVED columnar copy is\nnot known to hold yet. Every count above is folded from the record, so they\nare right regardless — but a materialiser that joins in the warehouse while\nthis is non-zero is joining against an incomplete answer key, and a missing\nfraud label is indistinguishable from an honest customer. It is reported at\nthe training gate because that is where somebody is deciding whether the\nground truth is good enough to fit on. Counted under a cap, so it saturates\nrather than costing a full scan on every read.",
            "type": "integer"
          },
          "productive": {
            "description": "Productive is how many matured events resolve, at their own as-of, to a\nWINNING assertion of `productive` — the event led somewhere: escalated,\nreported, charged back. It is the positive class a supervised fit would train\non, and a near-zero count is the number that says the fit is not worth\nrunning.",
            "type": "integer"
          },
          "sources": {
            "description": "Sources breaks the judged events down by the source that WON, so a plane\nthat looks labelled because one noisy source dominates is visible as such.",
            "items": {
              "$ref": "#/components/schemas/riskSourceCoverage"
            },
            "type": "array"
          },
          "to": {
            "description": "To is the EXCLUSIVE end of that window (at \u003c To). Unstated it is one horizon\nbefore now, never now: a window running to now under a maturity horizon can\nhold no matured event at all, so every count below would read zero however\nmuch ground truth the tenant held.",
            "type": "string"
          },
          "unlabelled": {
            "description": "Unlabelled is how many MATURED events had no assertion knowable by their\nown as-of — including every assertion that arrived after that instant. It\nis the field that says WHY judged is low: a tenant whose ground truth was\nfiled long after the events it judges reads matured=n, judged=0,\nunlabelled=n, which is diagnosable, rather than a bare zero, which is not.",
            "type": "integer"
          },
          "unmatured": {
            "description": "Unmatured is how many events in the window have NOT aged past the horizon.\nThey are not unlabelled — they are not yet askable, and a supervised set\nmust exclude them rather than treat them as negatives. Matured + Unmatured\nis Events.",
            "type": "integer"
          },
          "unproductive": {
            "description": "Unproductive is every OTHER judged event: the winner claimed `unproductive`,\njudged not suspicious. Productive + Unproductive is Judged exactly, because a\nwinner of the explicit unjudged is counted in neither — it is a matured event\nsomebody looked at and could not conclude about, and rolling it into the\nnegatives would hand a model a claim nobody made.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "riskLabelEvent": {
        "properties": {
          "at": {
            "description": "At is the event's own instant, RFC 3339. It is part of the event's IDENTITY\nand not a filter: it is matched exactly, to the second, against the `at` the\nassertions were filed under, so an instant a second off names a different\nevent and resolves to nothing. It is also what this event's as-of is measured\nfrom — At plus the horizon.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the judged entity's type, from the closed set: account, agent,\nmerchant, payout, person, session or transaction. One outside it is refused\nrather than answered `unlabelled`, because it could only ever match nothing\nand the caller would read a real absence into a typo.",
            "type": "string"
          },
          "subject": {
            "description": "Subject is the entity id in the tenant's own namespace, at most 512 bytes. It\nis matched EXACTLY against what was recorded — this is a lookup, not a search,\nand no prefix, pattern or normalisation is applied.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "riskLabelFact": {
        "properties": {
          "at": {
            "description": "At is when the judged event happened, RFC 3339.",
            "type": "string"
          },
          "confidence": {
            "description": "Confidence in [0,1]. A processor chargeback is 1; an analyst's hunch is\nnot. It breaks a tie WITHIN a precedence rank and can never lift a weak\nsource above a strong one — otherwise every caller would send 1.\n\nA litigation hold is NOT a field here. It is a fact about the record and\nnot about the world, so it is not part of what was asserted, it is not in\nthe content digest, and it has its own op — which is also the only way one\ncan be released. Carried here it was silently a no-op on any record that\nalready existed: the digest was the same, the insert was ignored, and the\ncaller was told `duplicate` while the hold it asked for was never placed.",
            "type": "number"
          },
          "disposition": {
            "description": "Disposition is productive, unproductive, or empty for an explicit\nunjudged — the AML engine's own vocabulary, verbatim.",
            "type": "string"
          },
          "evidence": {
            "description": "Evidence points at the record this conclusion came from: a dispute id, a\ncase id, a decision id. Required, because a label with no evidence cannot\nbe defended when the adverse action it fed is challenged.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what the subject is: account, agent, merchant, payout, person,\nsession or transaction. Closed, because a typo in an open field would shard\na tenant's labels into a partition nothing reads and nothing would say so.",
            "type": "string"
          },
          "seen": {
            "description": "Seen is when this assertion became KNOWABLE, RFC 3339. It is required and\nit is not At: a chargeback lands 30 to 120 days after the transaction it\njudges, and a training set joined on At alone knows the future. Everything\nthis plane does to prevent leakage is computed from Seen.",
            "type": "string"
          },
          "source": {
            "description": "Source is who asserted: chargeoff, dispute, case, refund, review or\nsample. It is the primary term of the precedence rule, so it is closed —\nan unknown source has no rank and a conflict with it could not be resolved.",
            "type": "string"
          },
          "subject": {
            "description": "Subject identifies the thing being judged, in the tenant's own namespace.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "riskLabelIn": {
        "properties": {
          "labels": {
            "description": "Labels is the batch. Each member is judged on its own: one refusal does\nnot discard the rest, because a webhook redelivering five disputes must\nnot lose four of them to one malformed fifth.",
            "items": {
              "$ref": "#/components/schemas/riskLabelFact"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "riskLabelOut": {
        "properties": {
          "duplicate": {
            "description": "Duplicate is how many members this tenant already held, byte for byte. The\nidempotency key is the assertion's CONTENT digest — kind, subject, at, seen,\ndisposition, source, evidence, the asserting identity and confidence, folded\nin length-prefixed — so a webhook redelivering one chargeback is a duplicate\nand costs nothing, while an assertion differing in ANY of those fields is a\nDIFFERENT assertion and is recorded beside the first. Nothing was written and\nnothing was overwritten; it is an outcome, never an error. The asserting\nidentity is in the digest, so the same claim filed by a second credential is\ntwo assertions and not a redelivery.",
            "type": "integer"
          },
          "mirror": {
            "description": "Mirror names why the columnar copy did not take this batch, when it did\nnot. The record is already durable in the tenant's own store by then — the\nwarehouse copy exists to make a training join cheap, and its absence is a\ngap in that join, never a lost label.",
            "type": "string"
          },
          "pending": {
            "description": "Pending is how many assertions the derived copy is still to take. Every\nwrite attempt carries the backlog forward as well as its own batch, so a\nwarehouse that was unreachable closes its gap on the next write rather than\nleaving a hole in a training join nothing would report. It is counted under\na cap and saturates there: zero means caught up, and a large number means a\nbacklog to work through rather than an inventory to reconcile.",
            "type": "integer"
          },
          "recorded": {
            "description": "Recorded is how many members became a NEW row in the tenant's record.\nRecorded + Duplicate + Refused is exactly the number of labels sent, so a\ncaller reconciling a webhook delivery can do it on the counts alone.",
            "type": "integer"
          },
          "refused": {
            "description": "Refused is how many members failed admission and were NOT recorded. Refusal\nis per member and never discards the rest of the batch: an empty or\nover-512-byte subject or evidence, a kind, disposition or source outside the\nclosed vocabulary, an `at` or `seen` that is not RFC 3339, a `seen` before the\n`at` it judges, either instant more than five minutes past the server clock,\nor a confidence outside [0,1]. Results names which member and why, so the\nrefused ones are exactly the ones to fix and resend.",
            "type": "integer"
          },
          "results": {
            "description": "Results is per fact, in the order sent, so a caller can retry exactly the\nmembers that were refused and can log the content digest of the ones that\nlanded.",
            "items": {
              "$ref": "#/components/schemas/riskLabelResult"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "riskLabelRecord": {
        "properties": {
          "at": {
            "description": "At is when the judged EVENT happened, RFC 3339 in UTC, truncated to the\nsecond. The filer supplies it, and it is what a maturity horizon measures\nfrom: this event's as-of is At plus the horizon. A resolve names it back\nexactly, to the second.",
            "type": "string"
          },
          "by": {
            "description": "By is the identity that asserted, stamped server-side at the write.",
            "type": "string"
          },
          "confidence": {
            "description": "Confidence is the filer's own confidence in [0,1] — 1 for a processor\nchargeback, less for an analyst's hunch. Zero is the ordinary value for a\nfiler that stated none, and it means the weakest tie-break there is rather\nthan \"unknown\". It breaks a tie only WITHIN one precedence rank and can never\nlift a weak source above a strong one.",
            "type": "number"
          },
          "disposition": {
            "description": "Disposition is what was concluded, from the closed set: `productive` — the\nevent led somewhere, escalated, reported or charged back; `unproductive` —\njudged not suspicious; or the empty string for an explicit UNJUDGED, which is\na real assertion (\"we looked and could not say\") and not the absence of one.",
            "type": "string"
          },
          "evidence": {
            "description": "Evidence is the pointer to the record this conclusion came from: a dispute id,\na case id, a decision id. At most 512 bytes, required at the write, and opaque\nto this plane — stored and returned verbatim, never resolved. It is what an\nadverse action is defended with, which is why an assertion carrying none is\nrefused at the endpoint.",
            "type": "string"
          },
          "hold": {
            "description": "Hold is true while a litigation hold is on this record: retention will not\ndispose of it, at any age. False — and it is omitted then — leaves the record\ndisposable once it is older than the boundary a sweep names. It is a fact\nabout the RECORD and not about the world, so it is not folded into ID, no\nwrite path can set it, and the hold op is the one way it moves in either\ndirection.",
            "type": "boolean"
          },
          "id": {
            "description": "ID is the assertion's content digest — SHA-256 over every semantic field,\nrendered hex — computed server-side and never supplied. It is the key a\nredelivery collapses onto, and it is the id the hold op names.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what the subject IS, from the closed set: account, agent, merchant,\npayout, person, session or transaction. With Subject and At it is the IDENTITY\nof the judged event — the triple a resolve names and the triple assertions are\ngrouped by, so a typo in it would file a label against an event nobody asks\nabout.",
            "type": "string"
          },
          "knowable": {
            "description": "Knowable is when THIS PLANE could first have answered with the assertion:\nthe later of Seen and the server clock at the write, derived server-side.\nIt is the instant the leakage guard compares, so it is published beside the\nclaim it was derived from — an answer whose rule nobody can see is one\nnobody can check.",
            "type": "string"
          },
          "seen": {
            "description": "Seen is when the FILER said the assertion became knowable. It is\nprovenance: it is recorded and published, and it decides nothing.",
            "type": "string"
          },
          "source": {
            "description": "Source is WHO asserted, from the closed set: chargeoff, dispute, case, refund,\nreview or sample. It is the primary term of the precedence rule — an unknown\nsource has no rank and a conflict with it could not be resolved — so it is\nwhat decides which of two disagreeing assertions is in force.",
            "type": "string"
          },
          "subject": {
            "description": "Subject is the entity that was judged, named in the TENANT'S OWN namespace and\nat most 512 bytes. It is opaque here: stored, matched and returned verbatim,\nnever dereferenced. It has no meaning outside this tenant — the record is the\ntenant's own file — so an id lifted from another tenant's response names\nnothing.",
            "type": "string"
          },
          "wrote": {
            "description": "Wrote is the server clock at the write. It is the only time on the record\nthe tenant did not supply, and it is what retention measures against.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "riskLabelResult": {
        "properties": {
          "id": {
            "description": "ID is the content digest of the assertion — the id a redelivery of the\nsame fact resolves to.",
            "type": "string"
          },
          "refusal": {
            "description": "Refusal states what was wrong, for the refused.",
            "type": "string"
          },
          "status": {
            "description": "Status is recorded, duplicate or refused.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "riskLabelVocabulary": {
        "properties": {
          "dispositions": {
            "description": "Dispositions is the closed set a write's `disposition` must be drawn from,\npublished in full so a caller can validate a batch before filing it instead of\ndiscovering a refusal per member: \"productive\", \"unproductive\", and \"\" — the\nEMPTY STRING is a member and means an explicit unjudged, so a client that\nfilters empties out of this list drops a third of the vocabulary and can never\nfile \"we looked and could not say\". They are the AML engine's own spelling,\nverbatim, which is what lets a replay there report against these values.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "kinds": {
            "description": "Kinds, Dispositions and Sources are the closed vocabularies. A value\noutside them is refused at the endpoint.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "precedence": {
            "description": "Precedence is the sources in the order that resolves a conflict, strongest\nfirst. It is DERIVED from the same declaration the resolver reads, so the\npublished order is the enforced order and cannot drift from it.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "retention": {
            "description": "Retention is the platform floor in days: no tenant may dispose of a label\nyounger than this, because a label can be the input to an adverse action.",
            "type": "integer"
          },
          "rule": {
            "description": "Rule states the tie-breaks below rank, in order, so a caller reading a\ncontested resolution can reproduce it.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "riskLabelsOut": {
        "properties": {
          "count": {
            "description": "Count is how many this page holds. It is not a total: a total over an\nunbounded append-only log is a full scan of a single-writer file.",
            "type": "integer"
          },
          "labels": {
            "description": "Labels is the page, newest event first.",
            "items": {
              "$ref": "#/components/schemas/riskLabelRecord"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "riskResolveIn": {
        "properties": {
          "horizon": {
            "description": "Horizon is how many days an event must age before it may be resolved at\nall, and it is the whole of the no-leakage rule. 120 for the payment lane\n(past the Visa and Mastercard dispute windows), 14 for signup abuse.\nUnstated takes 120.",
            "type": "integer"
          },
          "now": {
            "description": "Now moves the observation instant BACKWARDS, RFC 3339. It exists so a\nBACKTEST can resolve labels as the plane stood at a past moment; without it,\nevery backtest would score a model against knowledge that arrived after the\ndecision it is being scored on. An instant after the server clock is\nrefused: a backtest resolves the past, and a future one would declare\nunmatured events matured and hand a training set negatives for rows whose\nchargeback has not had time to arrive.",
            "type": "string"
          },
          "subjects": {
            "description": "Subjects are the exact events being judged. Each carries its own event\ntime, because the as-of that keeps the future out is derived from that\ninstant plus the horizon — one as-of over a whole batch would give a\nJanuary row six extra months of hindsight.\n\nOne entry per DISTINCT (kind, subject, at): naming an event twice answers\nonce, because an event resolved twice would list its own winner as a\ncontrary claim and would hand a materialiser duplicate training rows.",
            "items": {
              "$ref": "#/components/schemas/riskLabelEvent"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "riskResolveOut": {
        "properties": {
          "horizon": {
            "description": "Horizon is the maturity horizon this answer was computed under, IN DAYS — the\ncaller's, or 120 when it stated none. Each event's as-of is its own `at` plus\nthis many days, and that as-of is what decides which assertions were visible\nto it; an event whose as-of falls after Now is not resolved at all and is\ncounted in Unmatured instead.",
            "type": "integer"
          },
          "labels": {
            "description": "Labels is one entry per named event that BOTH matured and had at least one\nassertion knowable by its own as-of, in the order the events were named. The\nthree outcomes partition the ask: len(labels) + Unmatured + Unlabelled is the\nnumber of DISTINCT events named, an event named twice having been answered\nonce.",
            "items": {
              "$ref": "#/components/schemas/riskResolved"
            },
            "type": "array"
          },
          "now": {
            "description": "Now and Horizon echo the observation this answer was computed under. A\nresolved label without them is a claim nobody can check.",
            "type": "string"
          },
          "unlabelled": {
            "description": "Unlabelled is how many matured events had no assertion knowable by their\nown as-of. That is the ordinary state of most traffic and it is reported\nrather than answered as unproductive: manufacturing negatives is how a\nfraud model comes to describe the incumbent block list.",
            "type": "integer"
          },
          "unmatured": {
            "description": "Unmatured is how many named events had not aged past the horizon. They are\nnot unlabelled — they are not yet ASKABLE, and a supervised training set\nmust exclude them rather than treat them as negatives.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "riskResolved": {
        "properties": {
          "asOf": {
            "description": "AsOf is the instant this answer was true at: the event time plus the\nhorizon. Nothing seen after it was visible to this resolution.",
            "type": "string"
          },
          "at": {
            "description": "At is the event's instant, RFC 3339, echoed. It is what the horizon is\nmeasured from, so At plus the horizon is AsOf.",
            "type": "string"
          },
          "by": {
            "description": "By is the identity that filed the WINNING assertion, `\u003chome org\u003e/\u003cuser\u003e`,\nstamped server-side from the validated principal at the write and never taken\nfrom a body — an attribution the caller chose is not attribution. It is the\nwinner's alone; every losing assertion keeps its own and is returned whole in\nConflicts.",
            "type": "string"
          },
          "confidence": {
            "description": "Confidence is the winning assertion's own confidence in [0,1], zero when its\nfiler stated none. It is reported because it is a term of the rule that picked\nthe winner, and it is the weakest term but one: it breaks a tie inside one\nrank and never lifts a weak source above a strong one.",
            "type": "number"
          },
          "conflicts": {
            "description": "Conflicts is every other visible assertion, strongest first, whole. They\nare kept and returned rather than dropped, so an adverse action can show\nthat the plane knew of a contrary claim and say why it lost. They are\nhorizon-filtered exactly like the winner: an assertion that was not\nknowable yet cannot even be named here, because naming it would leak its\nexistence into a past decision.",
            "items": {
              "$ref": "#/components/schemas/riskLabelRecord"
            },
            "type": "array"
          },
          "contested": {
            "description": "Contested is true when a visible assertion claimed a DIFFERENT disposition.\nTwo sources agreeing is corroboration, not conflict.",
            "type": "boolean"
          },
          "disposition": {
            "description": "Disposition is the claim IN FORCE at AsOf: productive, unproductive, or the\nempty string for an explicit unjudged. It is the winning assertion's own\nclaim, never a vote or an average — an average of two adjudications is a third\nclaim nobody made. A matured event nobody judged is not answered here at all;\nit is counted in Unlabelled, because manufacturing a negative there is how a\nfraud model comes to describe the incumbent block list.",
            "type": "string"
          },
          "evidence": {
            "description": "Evidence is the winning assertion's pointer to the record behind it — the\ndispute, case or decision id it was filed with, opaque and verbatim. It\ntravels with the answer so an adverse action can name what judged the subject\nwithout a second read.",
            "type": "string"
          },
          "id": {
            "description": "ID is the winning assertion's content digest, so this answer traces to the\nexact record it came from — and that record can be placed under litigation\nhold by naming this id.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the judged entity's type, echoed from the event that was named. With\nSubject and At it is how a caller joins this answer back onto the training row\nor the decision it asked about.",
            "type": "string"
          },
          "source": {
            "description": "Source is who filed the winning assertion, and it is the PRIMARY term of the\nrule that picked it. Sources rank by adjudication weight — chargeoff,\ndispute, case, refund, review, sample, strongest first — and only inside one\nrank do the tie-breaks run, in order: the assertion that became KNOWABLE\nlatest, then the higher confidence, then the lower id. The vocabulary op\npublishes that order from the same declaration the resolver reads, so a caller\nholding a contested answer can reproduce it.",
            "type": "string"
          },
          "subject": {
            "description": "Subject is the entity id, echoed from the event that was named — the tenant's\nown key, returned verbatim.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "riskSourceCoverage": {
        "properties": {
          "facts": {
            "description": "Facts is how many assertions this source filed; Won is how many judged\nevents it was the assertion in force for. A source with many facts and few\nwins is one that is being outranked, which is worth knowing before\nconcluding it is wired correctly.",
            "type": "integer"
          },
          "source": {
            "description": "Source is the asserter these two counts are for — chargeoff, dispute, case,\nrefund, review or sample. There is one entry per source that either filed in\nthe window or won in it, in precedence order, strongest first. A source no\nlonger in the vocabulary still has rows and is reported after the known ones\nrather than dropped out of a total that is supposed to add up.",
            "type": "string"
          },
          "won": {
            "description": "Won is how many JUDGED events this source's assertion was the one IN FORCE\nfor, at that event's own as-of — it beat every other visible claim under the\nprecedence rule. Summed over the sources it is Judged. Read against Facts it\nis the ratio that matters: many filed and few won is a source being outranked,\nnot a source that is broken, and one source winning nearly everything is a\nplane that looks labelled because one noisy filer dominates it.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
