{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package skills is the skill catalogue an AI client reads to learn what it can do.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "paths": {
    "/.well-known/agent-skills/index.json": {
      "get": {
        "operationId": "get_.well-known_agent-skills_index.json",
        "summary": "The brand's catalogue of agent skills",
        "description": "The Agent Skills Discovery catalogue an AI client reads to learn what this deployment can do: every skill, with the sha256 of the SKILL.md that is actually served for it, so a client can verify the document it then fetches.\n\nThe catalogue is GENERATED from the per-service OpenAPI specs and embedded in the binary; this route serves those bytes verbatim and never re-derives them, which is what makes the digests hold. Which brand's catalogue you get is decided per request from the Host — api.hanzo.ai answers the Hanzo catalogue, api.lux.network the Lux one, api.zoo.ngo the Zoo one — never one brand's skills on another's surface; a Host whose brand has no embedded catalogue falls back to the deployment brand, then to hanzo.\n\nPublic by design: the discovery surface carries no secrets, so there is no bearer and no tenant scope. Answers `Cache-Control: public, max-age=300`, and a catalogue that is not embedded is `{\"error\":…}` at 404."
      }
    },
    "/.well-known/agent-skills/{skill}/SKILL.md": {
      "get": {
        "operationId": "get_.well-known_agent-skills_by_skill_skill.md",
        "summary": "One skill's document, as markdown",
        "description": "Serves a single agent skill's SKILL.md as text/markdown — the instructions a client follows once index.json has told it the skill exists, and byte for byte the document that index.json's sha256 for that skill was computed over.\n\nThe skill segment is a flat, service-prefixed id (`ai_models`): one path segment with no separators, so a request can never address anything outside the embedded catalogue. An id of any other shape, or a skill the serving brand does not carry, is `{\"error\":…}` at 404 — the same answer, so a probe learns nothing about which is which.\n\nBrand resolution and caching are index.json's: the Host picks the catalogue, and the response is `Cache-Control: public, max-age=300`. Public — no bearer, no tenant scope.",
        "parameters": [
          {
            "name": "skill",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
