apiVersion: v1
kind: Service
metadata:
  name: cloud-api
  namespace: hanzo
  labels:
    app: cloud-api
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  selector:
    app: cloud-api
