{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package admin is the operator's view of the fleet: orgs, users, roles, spend and system health.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "admin"
    }
  ],
  "paths": {
    "/v1/admin/aimetrics": {
      "get": {
        "operationId": "adminAIMetrics",
        "summary": "Is the fleet AI board: LLM generations over gen_ai spans (count, cost, avg/p95 latency, per-model), per-model usage from the live cloud_usage ledger, and the eval plane (traces, scores, score names, runs, and the average-score trend).",
        "description": "Is the fleet AI board: LLM generations over gen_ai spans (count, cost,\navg/p95 latency, per-model), per-model usage from the live cloud_usage ledger, and\nthe eval plane (traces, scores, score names, runs, and the average-score trend).\n\nEvery signal degrades INDEPENDENTLY — a table that is absent or errors contributes its\nzero value and the read still succeeds. Generation latency is a SEPARATE query from\ngenerations and cost on purpose: a duration/attribute mismatch there must not zero\nthe two numbers that did read.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is the lower time bound: 24h, 7d or 30d. Anything else reads as the\nboard's own default.",
            "schema": {
              "type": "string"
            },
            "example": "7d"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "end": "2026-07-27T00:00:00Z",
                    "evalRuns": [],
                    "o11yAiModels": [],
                    "range": "7d",
                    "scoreNames": [],
                    "scoreSeries": [],
                    "start": "2026-07-20T00:00:00Z",
                    "topModels": []
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/aimetricsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/analytics": {
      "get": {
        "operationId": "adminAnalytics",
        "summary": "Is the SaaS product-analytics board over the caller's tenant window: active customers, new and churned, retention, MRR, ARPU, the usage trend and the top customers by spend — every number folded from the commerce ledger, not sampled.",
        "description": "Is the SaaS product-analytics board over the caller's tenant window: active\ncustomers, new and churned, retention, MRR, ARPU, the usage trend and the top\ncustomers by spend — every number folded from the commerce ledger, not sampled.\n\nThe window is the caller's, not the fleet's: a SuperAdmin gets every org, a\nwhite-label admin only their own subtree (core.ScopedOrgs, the one scope predicate).\n\nsources[] carries each upstream's freshness so a partial read is VISIBLE rather than\nsilently low: a ledger that answered for only some orgs marks commerce-ledger degraded\ninstead of publishing an undercount as healthy.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is the lower time bound: 24h, 7d or 30d. Anything else reads as the\nboard's own default.",
            "schema": {
              "type": "string"
            },
            "example": "30d"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "generatedAt": "2026-07-27T00:00:00Z",
                    "interval": "day",
                    "range": "30d",
                    "sources": [
                      {
                        "lastSync": "2026-07-27T00:00:00Z",
                        "name": "iam",
                        "ok": true,
                        "rows": 2
                      }
                    ]
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/analyticsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/applications": {
      "get": {
        "operationId": "adminApplications",
        "summary": "Lists IAM applications for one owner org, forwarded VERBATIM from IAM's get-applications.",
        "description": "Lists IAM applications for one owner org, forwarded VERBATIM from IAM's\nget-applications. These are the platform's OIDC clients — the console reads clientId\noff each row.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "description": "Owner is the org whose rows to read. Defaults to the admin org, which owns the\nplatform's roles and applications.",
            "schema": {
              "type": "string"
            },
            "example": "admin"
          },
          {
            "name": "p",
            "in": "query",
            "required": false,
            "description": "Page is the 1-based page number. Forwarded only when set — IAM applies its own\ndefault otherwise.",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "PageSize is rows per page. Forwarded only when set.",
            "schema": {
              "type": "string"
            },
            "example": "50"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "clientId": "cid",
                      "name": "hanzo-cloud",
                      "owner": "admin"
                    }
                  ],
                  "msg": "",
                  "status": "ok",
                  "total": 1
                },
                "schema": {
                  "$ref": "#/components/schemas/iamRowsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/audit": {
      "get": {
        "operationId": "adminAudit",
        "summary": "Reads one chain of cloud's tamper-evident audit trail, newest first, with that chain's live integrity attached so a listing can be badged as verified.",
        "description": "Reads one chain of cloud's tamper-evident audit trail, newest first, with\nthat chain's live integrity attached so a listing can be badged as verified.\n\nWhen cloud has no local store configured it falls back to forwarding IAM's own\nget-records trail verbatim — a DIFFERENT trail, federated so the endpoint never\nregresses to an empty list. Those rows carry no integrity of ours, so the field is\nnull there.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org restricts the trail to one tenant.",
            "schema": {
              "type": "string"
            },
            "example": "acme"
          },
          {
            "name": "sub",
            "in": "query",
            "required": false,
            "description": "Sub restricts it to one actor (the validated subject that made the request).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "description": "Action restricts it to one action name, e.g. \"admin.waitlist.grant\".",
            "schema": {
              "type": "string"
            },
            "example": "admin.waitlist.grant"
          },
          {
            "name": "resource",
            "in": "query",
            "required": false,
            "description": "Resource restricts it to one resource kind, e.g. \"credit-grant\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": false,
            "description": "ResourceID restricts it to one resource instance.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "result",
            "in": "query",
            "required": false,
            "description": "Result restricts it to \"success\" or \"error\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Since is the inclusive lower time bound, RFC3339. An unparseable value is\nignored rather than refused — one malformed filter must not hide the trail.",
            "schema": {
              "type": "string"
            },
            "example": "2026-07-01T00:00:00Z"
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "Until is the upper time bound, RFC3339, with the same tolerance.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "PageSize is rows per page, default 100.",
            "schema": {
              "type": "string"
            },
            "example": "50"
          },
          {
            "name": "p",
            "in": "query",
            "required": false,
            "description": "Page is the 1-based page number, driving the offset.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "action": "admin.waitlist.grant",
                      "org": "acme",
                      "resource": "waitlist",
                      "result": "success",
                      "seq": 41,
                      "sub": "z@hanzo.ai",
                      "ts": "2026-07-26T18:00:00Z"
                    }
                  ],
                  "integrity": {
                    "brokenAt": -1,
                    "count": 42,
                    "head": "9f2c",
                    "name": "audit-admin",
                    "verdict": "intact"
                  },
                  "msg": "",
                  "status": "ok",
                  "total": 1
                },
                "schema": {
                  "$ref": "#/components/schemas/RecordsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/audit/verify": {
      "get": {
        "operationId": "adminAuditVerify",
        "summary": "Walks EVERY hash chain this deployment keeps and reports each one: which chains were checked, how many records each holds, the head hash to pin externally against tail-truncation, and — when a chain is broken — the seq of the first bad record and why.",
        "description": "Walks EVERY hash chain this deployment keeps and reports each one: which\nchains were checked, how many records each holds, the head hash to pin externally\nagainst tail-truncation, and — when a chain is broken — the seq of the first bad\nrecord and why.\n\nThe trail is a FAMILY of chains, one per process, so the answer is a set and not a\nboolean: `intact`, `broken` and `unread` count the three verdicts and sum to the\nnumber of chains. A chain that could not be READ is reported `unread` and is never\na pass — an unreadable chain and a verified one must not render the same, which is\nthe whole reason this is not one flag.\n\nAn unconfigured store is an honest failure here rather than a fabricated pass.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "broken": 0,
                    "chains": [
                      {
                        "brokenAt": -1,
                        "count": 42,
                        "head": "9f2c",
                        "name": "audit-iam",
                        "verdict": "intact"
                      }
                    ],
                    "intact": 1,
                    "records": 42,
                    "unread": 0
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/VerifyOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/bases": {
      "get": {
        "operationId": "adminBases",
        "summary": "Lists the tenant Base instances in the caller's window — a SuperAdmin sees every tenant's, anyone else only their own subtree's.",
        "description": "Lists the tenant Base instances in the caller's window — a SuperAdmin sees every\ntenant's, anyone else only their own subtree's.\n\nThe scope is enforced TWICE: the upstream is asked for the caller's org, AND every row\nit returns is re-checked against the resolved scope. An upstream that ignored the\nfilter therefore degrades to empty, never to a cross-tenant leak.\n\nThe Base engine is being embedded into cloud; until it lands this proxies\nBASE_ADMIN_URL and, when that is unset, answers 200 with an empty list and msg saying\nso — the honest not-yet state, never fabricated instances.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "created": "2026-03-01T00:00:00Z",
                      "name": "acme-base",
                      "org": "acme",
                      "plan": "pro",
                      "region": "nyc3",
                      "status": "running",
                      "url": "https://acme.base.hanzo.ai"
                    }
                  ],
                  "msg": "",
                  "status": "ok",
                  "total": 1
                },
                "schema": {
                  "$ref": "#/components/schemas/basesOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/caps": {
      "get": {
        "operationId": "adminCaps",
        "summary": "Reads one org's usage caps: its spend alerts plus the derived period spend, over/warn state and reset time.",
        "description": "Reads one org's usage caps: its spend alerts plus the derived period\nspend, over/warn state and reset time.\n\nThese are the SAME rows the customer edits in their own console — a platform override\nand a customer budget are one model, not two.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org is the tenant to act on. Required for a SuperAdmin — they must name their\ntarget; ignored for a white-label admin, who always acts on their own org.",
            "schema": {
              "type": "string"
            },
            "example": "acme"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "ID is the cap to edit or remove, from the path. Unused by the list and create ops.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "enforce": true,
                      "id": "cap_1",
                      "limitCents": 100000,
                      "over": false,
                      "periodSpendCents": 42000,
                      "resetsAt": "2026-08-01T00:00:00Z",
                      "warn": false
                    }
                  ],
                  "msg": "",
                  "status": "ok",
                  "total": 0
                },
                "schema": {
                  "$ref": "#/components/schemas/rawOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      },
      "post": {
        "operationId": "adminCreateCap",
        "summary": "Sets a usage cap on one org — a platform override of a customer budget, written to the customer's own spend-alert rows.",
        "description": "Sets a usage cap on one org — a platform override of a customer budget,\nwritten to the customer's own spend-alert rows. The body is commerce's spend-alert\ncontract, forwarded byte-for-byte.",
        "tags": [
          "admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "enforce": true,
                "limitCents": 100000,
                "org": "acme"
              },
              "schema": {
                "$ref": "#/components/schemas/capIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "enforce": true,
                    "id": "cap_1",
                    "limitCents": 100000
                  },
                  "msg": "",
                  "status": "ok",
                  "total": 0
                },
                "schema": {
                  "$ref": "#/components/schemas/rawOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/caps/{id}": {
      "delete": {
        "operationId": "adminDeleteCap",
        "summary": "Removes one cap by id, lifting the ceiling entirely.",
        "description": "Removes one cap by id, lifting the ceiling entirely.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the cap to edit or remove, from the path. Unused by the list and create ops.",
            "schema": {
              "type": "string"
            },
            "example": "cap_1"
          },
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org is the tenant to act on. Required for a SuperAdmin — they must name their\ntarget; ignored for a white-label admin, who always acts on their own org.",
            "schema": {
              "type": "string"
            },
            "example": "acme"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "ok": true
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/rawOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      },
      "patch": {
        "operationId": "adminUpdateCap",
        "summary": "Edits one cap by id — raise or lower the ceiling, flip enforcement.",
        "description": "Edits one cap by id — raise or lower the ceiling, flip enforcement. The\nbody is commerce's spend-alert patch contract, forwarded byte-for-byte.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the cap to edit or remove, from the path. Unused by the list and create ops.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "enforce": false,
                "limitCents": 250000,
                "org": "acme"
              },
              "schema": {
                "$ref": "#/components/schemas/capIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "enforce": false,
                    "id": "cap_1",
                    "limitCents": 250000
                  },
                  "msg": "",
                  "status": "ok",
                  "total": 0
                },
                "schema": {
                  "$ref": "#/components/schemas/rawOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/compute": {
      "get": {
        "operationId": "adminCompute",
        "summary": "Rolls the fleet's compute usage up to one row per (org, app, project, kind): how many distinct machines ran in the window, how many are still active, what they billed, and when each group last emitted an event.",
        "description": "Rolls the fleet's compute usage up to one row per (org, app, project, kind):\nhow many distinct machines ran in the window, how many are still active, what they\nbilled, and when each group last emitted an event. The console folds these into its\norg → app → project tree.\n\nA machine counts as ACTIVE when its LATEST lifecycle event is not a terminal one\n(stop/destroy/terminate/delete/off/shutdown/expire and their past tenses) — the same\nfold the console applies, done in the warehouse so the count is over every machine and\nnot just the page.\n\nHonest-empty when the warehouse is not connected or hanzo.compute_usage is not\nprovisioned yet: an empty list, never a fabricated fleet.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind narrows to one workload class (bot | machine | cluster | nodepool |\ncontainer | function | …). An OPEN spectrum matched as a plain string, lowercased\nto the warehouse's convention; empty means every kind.",
            "schema": {
              "type": "string"
            },
            "example": "bot"
          },
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org narrows to one tenant. Empty means every tenant — this board is\ncross-tenant by nature.",
            "schema": {
              "type": "string"
            },
            "example": "acme"
          },
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is the lower time bound: 24h, 7d or 30d. Anything else reads as 30d.",
            "schema": {
              "type": "string"
            },
            "example": "7d"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "active": 2,
                      "app": "support",
                      "kind": "bot",
                      "lastTs": "2026-07-26T18:00:00Z",
                      "machines": 4,
                      "org": "acme",
                      "project": "default",
                      "spendCents": 900
                    }
                  ],
                  "msg": "",
                  "status": "ok",
                  "total": 1
                },
                "schema": {
                  "$ref": "#/components/schemas/computeOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/customers": {
      "get": {
        "operationId": "adminCustomers",
        "summary": "Lists every customer org at a glance, sorted by slug: owner email, plan, suspend status, member count, balance, month-to-date spend and MRR.",
        "description": "Lists every customer org at a glance, sorted by slug: owner email, plan,\nsuspend status, member count, balance, month-to-date spend and MRR.\n\nEach row costs one IAM read plus the org's money reads, fanned out under a fixed\nconcurrency ceiling so a large fleet cannot stampede the upstreams. Every read is\nbest-effort per row: an upstream miss degrades THAT field to its honest zero rather\nthan failing the fleet.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "balanceCents": 5000,
                      "created": "2026-01-04T00:00:00Z",
                      "display": "Acme",
                      "lastActive": "2026-07-26T18:00:00Z",
                      "mrrCents": 9900,
                      "org": "acme",
                      "ownerEmail": "ada@acme.com",
                      "plan": "pro",
                      "spendCents": 12500,
                      "status": "active",
                      "users": 7
                    }
                  ],
                  "msg": "",
                  "status": "ok",
                  "total": 1
                },
                "schema": {
                  "$ref": "#/components/schemas/CustomersOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/customers/{org}": {
      "get": {
        "operationId": "adminCustomer",
        "summary": "Answers GET /v1/admin/customers/:org.",
        "description": "Answers GET /v1/admin/customers/:org.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "description": "Org is the tenant slug from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetailOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/customers/{org}/credit": {
      "post": {
        "operationId": "adminGrantCredit",
        "summary": "Issues a staff credit grant to the org named in the path — a comp, refund or promo — through the ONE credit-write path core.ApplyGrant, which validates the amount against the per-grant cap, checks the org exists, moves the money and records the tamper-evident audit row.",
        "description": "Issues a staff credit grant to the org named in the path — a comp, refund\nor promo — through the ONE credit-write path core.ApplyGrant, which validates the\namount against the per-grant cap, checks the org exists, moves the money and records\nthe tamper-evident audit row.\n\nThe credit lands on the account account.Payer resolves, NOT necessarily the org: name\na member of a pooled org and the pool is credited. The receipt echoes the subject so\nthe caller can see which.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "description": "Org is the tenant to credit. Required.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "amountCents": 5000,
                "currency": "usd",
                "reason": "launch comp",
                "source": "trial"
              },
              "schema": {
                "$ref": "#/components/schemas/GrantIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "balanceCents": 10000,
                    "balanceExact": "100.000000000000000000",
                    "currency": "usd",
                    "grantedCents": 5000,
                    "org": "acme",
                    "source": "trial",
                    "subject": "acme",
                    "transactionId": "tx_01J"
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/GrantOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/customers/{org}/reactivate": {
      "post": {
        "operationId": "adminReactivateCustomer",
        "summary": "Restores access for every member of the org, undoing a suspend.",
        "description": "Restores access for every member of the org, undoing a suspend. It\nreports the same per-user breakdown.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "description": "Org is the tenant slug from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "affected": [
                      "ada",
                      "bob"
                    ],
                    "failed": [],
                    "org": "acme",
                    "suspended": false
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/AccessOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/customers/{org}/suspend": {
      "post": {
        "operationId": "adminSuspendCustomer",
        "summary": "Cuts off every member of the org: IAM refuses a forbidden user at login AND at token issuance, so a suspended customer can neither sign in nor mint a fresh token.",
        "description": "Cuts off every member of the org: IAM refuses a forbidden user at\nlogin AND at token issuance, so a suspended customer can neither sign in nor mint a\nfresh token. Fully reversible with ReactivateCustomer.\n\nThe result names every user updated and every user that was NOT — a partial failure\nleaves the org in a mixed state and says so instead of reporting a clean success.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "description": "Org is the tenant slug from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "affected": [
                      "ada",
                      "bob"
                    ],
                    "failed": [],
                    "org": "acme",
                    "suspended": true
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/AccessOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/finance": {
      "get": {
        "operationId": "adminFinance",
        "summary": "Answers GET /v1/admin/finance.",
        "description": "Answers GET /v1/admin/finance. It reads the multi-vendor COGS from commerce\n/v1/costs, the DO promo-credit/burn-down treasury view, and the fleet commerce revenue,\nthen hands them to ComputeFinance. SuperAdmin only.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinanceOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/finance/backfill": {
      "post": {
        "operationId": "adminFinanceBackfill",
        "summary": "Carries ONE org's current commerce prepaid balance into the native finance wallet — the one-time cutover between the two ledgers.",
        "description": "Carries ONE org's current commerce prepaid balance into the native finance\nwallet — the one-time cutover between the two ledgers.\n\nIt is IDEMPOTENT: the deposit uses the fixed ref \"backfill:\u003corg\u003e\", so re-running it\ncredits the wallet at most once. Safe to retry.\n\nThe pre-migration balance is read from the CO-RESIDENT commerce ledger, not over HTTP:\nthe admin HTTP client dials an unroutable in-process address and would read $0, and a\nphantom zero would silently carry nothing while reporting success. When commerce is\nnot co-resident this fails rather than migrating nothing.",
        "tags": [
          "admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "org": "acme"
              },
              "schema": {
                "$ref": "#/components/schemas/BackfillIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "entryId": "fe_01J",
                    "migratedCents": 50000,
                    "org": "acme"
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/BackfillOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/flags": {
      "get": {
        "operationId": "adminFlags",
        "summary": "Reads the platform control-plane board: every runtime launch/release switch (waitlist, public signup, subsystem activation, gateway limits, network ids) with its LIVE value and where that value came from — a stored definition or the compiled-in default.",
        "description": "Reads the platform control-plane board: every runtime launch/release\nswitch (waitlist, public signup, subsystem activation, gateway limits, network ids)\nwith its LIVE value and where that value came from — a stored definition or the\ncompiled-in default.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "switches": [
                      {
                        "category": "launch",
                        "description": "Gate chat behind the waitlist",
                        "key": "waitlist.chat",
                        "label": "Chat waitlist",
                        "source": "default",
                        "value": true
                      }
                    ]
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/flagsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/flags/{key}": {
      "put": {
        "operationId": "adminSetFlag",
        "summary": "Stores or overwrites ONE platform switch's definition and answers with the whole board as it now stands.",
        "description": "Stores or overwrites ONE platform switch's definition and answers with the\nwhole board as it now stands. The flip is hot: this pod applies it immediately and\npeers converge within one evaluation TTL (15s by default), with no redeploy.\n\nThe body reaches the flag engine BYTE-FOR-BYTE — it is the engine's definition\nformat, not this layer's, so a field the engine understands and admin does not must\nstill arrive intact. setFlagIn names the two fields that matter for documentation; it\nis not a filter.\n\nThe write is recorded in the store's activity log against the caller's email.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the switch to write, taken from the path (e.g. \"waitlist.chat\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "active": true,
                "filters": {
                  "groups": [
                    {
                      "properties": [],
                      "rollout_percentage": 100
                    }
                  ]
                }
              },
              "schema": {
                "$ref": "#/components/schemas/setFlagIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "switches": [
                      {
                        "category": "launch",
                        "description": "Gate chat behind the waitlist",
                        "key": "waitlist.chat",
                        "label": "Chat waitlist",
                        "source": "stored",
                        "value": true
                      }
                    ]
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/flagsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/grants": {
      "get": {
        "operationId": "adminGrants",
        "summary": "Reads the credit-grant ledger across ALL orgs, newest first — who granted what to whom, when, and from which money bucket.",
        "description": "Reads the credit-grant ledger across ALL orgs, newest first — who granted what\nto whom, when, and from which money bucket.\n\nIt is a PROJECTION of the tamper-evident audit trail, not a second store: every grant\nis written there as action \"admin.customer.credit\", so this view cannot drift from\nwhat actually happened, and FAILED grants appear too.\n\nA deployment with no local audit store has no history to project, and says so with an\nempty list and a msg rather than an error.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org filters by the ACTOR's org (the staff org that issued the grant), which is\nrarely what a reader wants — the target org is a row field, not a filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "result",
            "in": "query",
            "required": false,
            "description": "Result filters by outcome: \"success\" or \"error\". Empty returns both, which is\nthe point of this view — a refused grant is as interesting as a granted one.",
            "schema": {
              "type": "string"
            },
            "example": "success"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned. Default 200.",
            "schema": {
              "type": "string"
            },
            "example": "50"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "actor": "z@hanzo.ai",
                      "amountCents": 5000,
                      "createdAt": "2026-07-26T18:00:00Z",
                      "currency": "usd",
                      "org": "acme",
                      "reason": "launch comp",
                      "result": "success",
                      "source": "trial",
                      "transactionId": "tx_01J"
                    }
                  ],
                  "msg": "",
                  "status": "ok",
                  "total": 1
                },
                "schema": {
                  "$ref": "#/components/schemas/GrantsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      },
      "post": {
        "operationId": "adminIssueGrant",
        "summary": "Issues a credit grant to any org from the operator Grants view, with the target named in the body.",
        "description": "Issues a credit grant to any org from the operator Grants view, with the\ntarget named in the body. It funnels through the SAME core.ApplyGrant that\nPOST /v1/admin/customers/:org/credit uses, so there is exactly ONE credit-write path\nand one audit trail behind both.",
        "tags": [
          "admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "amountCents": 5000,
                "currency": "usd",
                "org": "acme",
                "reason": "launch comp",
                "source": "trial"
              },
              "schema": {
                "$ref": "#/components/schemas/GrantIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "balanceCents": 10000,
                    "balanceExact": "100.000000000000000000",
                    "currency": "usd",
                    "grantedCents": 5000,
                    "org": "acme",
                    "source": "trial",
                    "subject": "acme",
                    "transactionId": "tx_01J"
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/GrantOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/infra": {
      "get": {
        "operationId": "adminInfra",
        "summary": "Serves the whole DigitalOcean infrastructure board: droplets, volumes, DOKS clusters and load balancers, each cross-referenced against every cluster's live Kubernetes state so the board can say what is safe to destroy and what is not.",
        "description": "Serves the whole DigitalOcean infrastructure board: droplets, volumes, DOKS\nclusters and load balancers, each cross-referenced against every cluster's live\nKubernetes state so the board can say what is safe to destroy and what is not.\n\nIt is cached for up to a minute because one read is a fan-out over the DO API plus a\nfull pod/PV listing per cluster. Staleness is never load-bearing: every MUTATION\nre-scans from scratch and ignores this cache.\n\nOnly an unusable DO account is a hard failure. A partial read still produces a board,\nwith the failing source named in sources[] — except for clusters and volumes, which\nthe safety verdict depends on; without those the analysis degrades rather than\nclassifying anything it cannot prove.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "description": "Refresh, when present, forces a full re-scan instead of serving the cached\nsnapshot. Every MUTATION re-scans regardless — this is only for the reader.",
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "clusters": [],
                    "loadBalancers": [],
                    "nodes": [],
                    "sources": [
                      {
                        "lastSync": "2026-07-27T00:00:00Z",
                        "name": "do.volumes",
                        "ok": true,
                        "rows": 2
                      }
                    ],
                    "volumes": []
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/ReadOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/infra/clusters/{id}/nodepools/{pool}/scale": {
      "post": {
        "operationId": "adminScaleNodePool",
        "summary": "Sets a node pool's node count — the ONE correct way to change how many nodes a DOKS cluster has.",
        "description": "Sets a node pool's node count — the ONE correct way to change how many\nnodes a DOKS cluster has.\n\nThe response states what the board could NOT prove: DOKS picks which nodes a shrink\nremoves, so no particular pod is shown to survive one. See NodePool.ScaleTo.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the DOKS cluster id, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pool",
            "in": "path",
            "required": true,
            "description": "Pool is the node pool, from the path. Its DO id or its name — both are unique\nwithin a cluster, and an operator reads the name off the board.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "count": 5
              },
              "schema": {
                "$ref": "#/components/schemas/ScaleIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "cluster": "hanzo-k8s",
                    "from": 3,
                    "pool": "workers",
                    "to": 5
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/MutationOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/infra/droplets/{id}": {
      "delete": {
        "operationId": "adminDeleteDroplet",
        "summary": "Destroys a droplet the board has just proven is NOT a DOKS node.",
        "description": "Destroys a droplet the board has just proven is NOT a DOKS node. There\nis no snapshot-first undo for a droplet the way there is for a volume: the local disk\ngoes with it.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the DO droplet id, from the path. Numeric.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Size is the target DigitalOcean size slug on resize, e.g. \"s-4vcpu-8gb\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disk",
            "in": "query",
            "required": false,
            "description": "Disk requests a PERMANENT resize that grows the disk. DO can never resize such a\ndroplet down again, so it defaults false — a CPU/RAM-only change, reversible.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "deleted": true,
                    "freedMonthlyCents": 4800,
                    "name": "worker-3"
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/MutationOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/infra/droplets/{id}/resize": {
      "post": {
        "operationId": "adminResizeDroplet",
        "summary": "Changes a droplet's plan.",
        "description": "Changes a droplet's plan. Same refusal as delete and for the same\nreason: a DOKS node's size is the node pool's to declare.\n\ndisk=true is a PERMANENT resize — the disk grows and DO can never resize the droplet\nDOWN again. disk=false (the default) changes CPU/RAM only and is reversible. DO\nrequires the droplet to be powered off and applies the change asynchronously, so the\nresponse carries the action to poll, not a completed change.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the DO droplet id, from the path. Numeric.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "disk": false,
                "size": "s-4vcpu-8gb"
              },
              "schema": {
                "$ref": "#/components/schemas/DropletIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "actionId": 1234567,
                    "actionStatus": "in-progress",
                    "from": "s-2vcpu-4gb",
                    "name": "worker-3",
                    "permanent": false,
                    "to": "s-4vcpu-8gb"
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/MutationOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/infra/loadbalancers/{id}": {
      "delete": {
        "operationId": "adminDeleteLoadBalancer",
        "summary": "Destroys a load balancer the board has just proven no live type=LoadBalancer Service in any cluster targets.",
        "description": "Destroys a load balancer the board has just proven no live\ntype=LoadBalancer Service in any cluster targets.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the DO load balancer id, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "deleted": true,
                    "freedMonthlyCents": 1200,
                    "ip": "1.2.3.4",
                    "name": "ingress-lb"
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/MutationOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/infra/nodes/{id}/cordon": {
      "post": {
        "operationId": "adminCordonNode",
        "summary": "Marks one cluster node unschedulable — or schedulable again — and can drain the pods already on it.",
        "description": "Marks one cluster node unschedulable — or schedulable again — and can drain\nthe pods already on it.\n\nIt is the ONE infra change that does not go through the run discipline, because there\nis no destructive verdict to check: cordoning is reversible and evicting respects the\ncluster's own PodDisruptionBudgets. It reads the cached board for the same reason.\nThe outcome is audited either way, and the result reports how many pods were evicted.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the node's droplet id, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "cordon": true,
                "drain": true
              },
              "schema": {
                "$ref": "#/components/schemas/CordonIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "evicted": 7,
                    "name": "worker-3",
                    "schedulable": false
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/MutationOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/infra/volumes/{id}": {
      "delete": {
        "operationId": "adminDeleteVolume",
        "summary": "Destroys a volume the board has just proven no PersistentVolume in any cluster references.",
        "description": "Destroys a volume the board has just proven no PersistentVolume in any\ncluster references. Irreversible, so it snapshots first unless explicitly waived —\nthe snapshot IS the undo.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the DO volume id, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot",
            "in": "query",
            "required": false,
            "description": "Snapshot is the snapshot-first switch on DELETE. Anything other than the literal\n\"false\" snapshots before destroying — the snapshot IS the undo, so waiving it is\ndeliberate and explicit.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name is the snapshot name on the snapshot action. Blank gets a deterministic\n\"\u003cvolume\u003e-predelete-\u003cunix\u003e\" so the undo is findable in the DO console.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sizeGiB",
            "in": "query",
            "required": false,
            "description": "SizeGiB is the target size on the resize action. A volume only ever grows —\nExpandTo is the verdict that refuses a shrink, so this is not validated here.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "deleted": true,
                    "freedMonthlyCents": 2000,
                    "name": "acme-data",
                    "sizeGiB": 200,
                    "snapshotId": "snap-01J"
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/MutationOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/infra/volumes/{id}/resize": {
      "post": {
        "operationId": "adminResizeVolume",
        "summary": "Grows a volume.",
        "description": "Grows a volume. GROW ONLY — see Volume.ExpandTo for why the other\ndirection is a data migration this board deliberately refuses to run.\n\nThe MECHANISM follows the volume's owner, because there is exactly one way to grow each\nkind completely. A volume a PVC claims is grown by patching the claim: the CSI driver\nthen resizes the DigitalOcean device AND grows the filesystem on it, leaving claim, PV,\ndevice and filesystem all agreeing. Calling DigitalOcean directly for that volume would\ngrow the device while the PV kept declaring the old capacity and the filesystem never\ngrew at all. One operation, one correct mechanism per owner — not two ways to do it.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the DO volume id, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VolumeIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/infra/volumes/{id}/snapshot": {
      "post": {
        "operationId": "adminSnapshotVolume",
        "summary": "Takes a point-in-time snapshot of one volume — the undo a delete relies on, available on its own so an operator can take one before any risky change.",
        "description": "Takes a point-in-time snapshot of one volume — the undo a delete relies\non, available on its own so an operator can take one before any risky change.\n\nIt re-scans the board first (never the cache) so the volume it snapshots is one that\nexists right now, and audits the outcome either way.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the DO volume id, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": "acme-data-before-migration"
              },
              "schema": {
                "$ref": "#/components/schemas/VolumeIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "created": "2026-07-27T00:00:00Z",
                    "id": "snap-01J",
                    "name": "acme-data-before-migration",
                    "sizeGiB": 200
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/VolumeSnapshotOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/invoices": {
      "get": {
        "operationId": "adminInvoices",
        "summary": "Answers GET /v1/admin/invoices.",
        "description": "Answers GET /v1/admin/invoices.\n\n\tGET /v1/admin/invoices?org=\u0026status=\u0026limit=",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status filters on the invoice's LATEST lifecycle status (paid, open, void, …),\nmatched case-insensitively.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org filters to one tenant, matched exactly.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned. total still reports the full match count.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicesOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/me": {
      "get": {
        "operationId": "adminMe",
        "summary": "Answers with the validated operator identity — who the console is signed in as, which tier they are, and how wide their tenant window is.",
        "description": "Answers with the validated operator identity — who the console is signed in as,\nwhich tier they are, and how wide their tenant window is. The fields come from the\nsanitized identity headers the gate just read, so they are authoritative and never\nclient-forgeable; nothing is looked up.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "displayName": "z",
                    "email": "z@hanzo.ai",
                    "isSuperAdmin": true,
                    "isWhiteLabel": false,
                    "name": "z",
                    "owner": "admin"
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/meOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/metrics": {
      "get": {
        "operationId": "adminMetrics",
        "summary": "Answers GET /v1/admin/metrics by aggregating commerce.events directly (fleet-wide, no per-org fan-out).",
        "description": "Answers GET /v1/admin/metrics by aggregating commerce.events directly\n(fleet-wide, no per-org fan-out). SuperAdmin only.\n\n\tGET /v1/admin/metrics?window=30d\u0026limit=20",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "description": "Window is the movement window the new/churned MRR and the recent feed are\nmeasured over. Anything unrecognised falls back to the board default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the top-customers table.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/money": {
      "get": {
        "operationId": "adminMoney",
        "summary": "moneyBoardHandler answers GET /v1/admin/money.",
        "description": "moneyBoardHandler answers GET /v1/admin/money.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoneyOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/o11y": {
      "get": {
        "operationId": "adminO11y",
        "summary": "Is the fleet-wide observability board: LLM usage (requests, tokens, cost, errors, top orgs, top models), trace RED metrics (count, p50/p95/p99 latency in ms, error rate, top services), fleet log volume, and the O11yAI generation rollup — all aggregated across EVERY tenant, with no org filter applied.",
        "description": "Is the fleet-wide observability board: LLM usage (requests, tokens, cost,\nerrors, top orgs, top models), trace RED metrics (count, p50/p95/p99 latency in ms,\nerror rate, top services), fleet log volume, and the O11yAI generation rollup — all\naggregated across EVERY tenant, with no org filter applied.\n\nEvery signal degrades INDEPENDENTLY. A table that is absent or errors contributes its\nzero value and the read still succeeds, so the board renders exactly what the\nwarehouse holds rather than failing whole because one of four sources is missing.\nSame when the warehouse is not connected at all: the zero board, never a fabricated\nfleet.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is the lower time bound: 24h, 7d or 30d. Anything else reads as the\nboard's own default.",
            "schema": {
              "type": "string"
            },
            "example": "7d"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "end": "2026-07-27T00:00:00Z",
                    "llm": {
                      "costUsd": 0,
                      "generations": 0
                    },
                    "logSeries": [],
                    "range": "7d",
                    "series": [],
                    "start": "2026-07-20T00:00:00Z",
                    "topModels": [],
                    "topOrgs": [],
                    "topServices": [],
                    "totals": {
                      "costCents": 41200,
                      "errors": 37,
                      "requests": 10420,
                      "tokens": 8100000
                    }
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/o11yOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/orgs": {
      "get": {
        "operationId": "adminOrgs",
        "summary": "Lists the tenant directory one row per org, sorted by slug: member count and the org's month-to-date spend and credit balance, read live from IAM and commerce.",
        "description": "Lists the tenant directory one row per org, sorted by slug: member count and the\norg's month-to-date spend and credit balance, read live from IAM and commerce.\n\nThe rows are the caller's tenant window, not the fleet: a SuperAdmin gets every org, a\nwhite-label admin only their own subtree. A per-org read that fails degrades THAT row\nto an honest zero — this panel carries no sources[] channel to report freshness on, so\nthe alternative would be a fleet total that silently reads healthy.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "p",
            "in": "query",
            "required": false,
            "description": "Page is the 1-based page number. Defaults to \"1\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "PageSize is rows per page. Defaults to \"200\", the shared admin page size.\nIt bounds the fan-out: the page decides how many per-org reads happen, so\nthe directory costs the same at eighty tenants and at eight thousand.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "created": "2026-01-04T00:00:00Z",
                      "creditsCents": 5000,
                      "display": "Acme",
                      "org": "acme",
                      "products": 0,
                      "spendCents": 12500,
                      "tokens": 0,
                      "users": 7
                    }
                  ],
                  "msg": "",
                  "status": "ok",
                  "total": 1
                },
                "schema": {
                  "$ref": "#/components/schemas/orgsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/overview": {
      "get": {
        "operationId": "adminOverview",
        "summary": "Is the Platform Overview tiles: how many orgs and users are in the caller's tenant window, the fleet workload counts, and month-to-date spend and credits.",
        "description": "Is the Platform Overview tiles: how many orgs and users are in the caller's\ntenant window, the fleet workload counts, and month-to-date spend and credits.\n\nIt ALWAYS answers 200 — a tile board that fails as a whole because one upstream is\ndown is useless. Instead every upstream reports itself in sources[]: ok, degraded, or\nnot-configured. A commerce read that failed for ANY org marks that source degraded,\nbecause the spend/credits totals are then an undercount and must not read healthy.\n\nThe AI tiles — 30-day spend and tokens — come from the AI ledger (ledger.go), the\nplane that owns \"what was served\". They used to come from the money plane with the\ntoken counter hardcoded to zero, so the board read $0.00 and 0 tokens over a month in\nwhich the fleet served fifteen thousand requests. Credits still come from commerce,\nwhich owns the wallet.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "activeProducts": 29,
                    "creditsCents": 10000,
                    "drift": 1,
                    "lastSync": "2026-07-27T00:00:00Z",
                    "orgs": 2,
                    "products": 31,
                    "sources": [
                      {
                        "lastSync": "2026-07-27T00:00:00Z",
                        "name": "iam",
                        "ok": true,
                        "rows": 2
                      }
                    ],
                    "spendCents30d": 250000,
                    "tokens30d": 0,
                    "users": 14
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/overviewOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/products": {
      "get": {
        "operationId": "adminProducts",
        "summary": "Lists the fleet workload registry: every operator App CR across the platform namespaces with its declared vs running image tag, reconciled health/phase and drift verdict.",
        "description": "Lists the fleet workload registry: every operator App CR across the platform\nnamespaces with its declared vs running image tag, reconciled health/phase and drift\nverdict. Optionally narrowed by kind, tier or env, each an exact match.\n\nThe rows are the SAME observation /v1/platform/fleet renders — read through the in-process\nplatform seam, not a second k8s client — so the two boards can never disagree about what\nthe fleet is. A PaaS plane that is not co-resident yields an honestly empty registry,\nnever a fabricated row.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind matches the operator App CR's declared spec.role (sql|kv|generic|ingress).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tier",
            "in": "query",
            "required": false,
            "description": "Tier matches the derived infra grouping (cloud|data|edge|daemon|paas|app).",
            "schema": {
              "type": "string"
            },
            "example": "data"
          },
          {
            "name": "env",
            "in": "query",
            "required": false,
            "description": "Env matches the lifecycle namespace (main|test|dev).",
            "schema": {
              "type": "string"
            },
            "example": "main"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "cluster": "hanzo-k8s",
                      "declaredTag": "v1.4.2",
                      "drift": false,
                      "driftSeverity": "ok",
                      "env": "main",
                      "health": "green",
                      "kind": "sql",
                      "latestTag": "",
                      "name": "sql",
                      "namespace": "hanzo",
                      "org": "hanzoai",
                      "phase": "Running",
                      "repo": "hanzoai/sql",
                      "runningTag": "v1.4.2",
                      "tier": "data",
                      "updated": ""
                    }
                  ],
                  "msg": "",
                  "status": "ok",
                  "total": 1
                },
                "schema": {
                  "$ref": "#/components/schemas/productsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/promos": {
      "get": {
        "operationId": "adminPromo",
        "summary": "Reads the current platform plan promo — the singleton discount offer, e.g.",
        "description": "Reads the current platform plan promo — the singleton discount offer, e.g.\nthe 50%-off launch promo. Commerce stores it in the reserved platform namespace, so\nthe org sent with the read is the admin org and the service token is what passes\ncommerce's own platform-admin gate.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "active": true,
                    "end": "2026-09-01T00:00:00Z",
                    "percentOff": 50,
                    "plans": [
                      "pro"
                    ],
                    "start": "2026-07-01T00:00:00Z"
                  },
                  "msg": "",
                  "status": "ok",
                  "total": 0
                },
                "schema": {
                  "$ref": "#/components/schemas/rawOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      },
      "put": {
        "operationId": "adminSetPromo",
        "summary": "Upserts the platform plan promo — the ONE place the offer is configured.",
        "description": "Upserts the platform plan promo — the ONE place the offer is configured.\n\nThe body is commerce's own promo contract and is forwarded BYTE-FOR-BYTE, so no field\ncommerce accepts is dropped in transit. promoIn names its documented fields.",
        "tags": [
          "admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "active": true,
                "end": "2026-09-01T00:00:00Z",
                "percentOff": 50,
                "plans": [
                  "pro"
                ],
                "start": "2026-07-01T00:00:00Z"
              },
              "schema": {
                "$ref": "#/components/schemas/promoIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "active": true,
                    "end": "2026-09-01T00:00:00Z",
                    "percentOff": 50,
                    "plans": [
                      "pro"
                    ],
                    "start": "2026-07-01T00:00:00Z"
                  },
                  "msg": "",
                  "status": "ok",
                  "total": 0
                },
                "schema": {
                  "$ref": "#/components/schemas/rawOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/providers/credit": {
      "get": {
        "operationId": "adminProvidersCredit",
        "summary": "Serves GET /v1/admin/providers/credit — the per-provider upstream credit ledger.",
        "description": "Serves GET /v1/admin/providers/credit — the per-provider upstream\ncredit ledger. SuperAdmin-guarded (see Routes).",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvidersCreditOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/revenue": {
      "get": {
        "operationId": "adminRevenue",
        "summary": "Is the fleet money board: total prepaid balances held, total realized spend, MRR, ARPU, a per-customer table sorted highest-revenue first, and a real 30-day spend trend from the usage ledger.",
        "description": "Is the fleet money board: total prepaid balances held, total realized spend,\nMRR, ARPU, a per-customer table sorted highest-revenue first, and a real 30-day spend\ntrend from the usage ledger.\n\nORTHOGONAL to /v1/admin/finance, which is the COGS/margin view of what WE pay vendors.\nThis is the customer side: what each customer holds, spends and subscribes to.\n\narpu divides realized spend by PAYING customers, not by all of them — a fleet of free\nsignups must not deflate the number. A customer counts as paying when it has spend or\nMRR.\n\nAn org whose money did not read degrades to honest zeros and marks the commerce source\ndegraded in sources[], so a partial fleet read is visible instead of quietly low.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "arpuCents": 16363,
                    "customers": 42,
                    "generatedAt": "2026-07-27T00:00:00Z",
                    "mrrCents": 99000,
                    "payingCustomers": 11,
                    "perCustomer": [],
                    "sources": [
                      {
                        "lastSync": "2026-07-27T00:00:00Z",
                        "name": "iam",
                        "ok": true,
                        "rows": 42
                      }
                    ],
                    "spendTrend": [],
                    "totalBalancesCents": 250000,
                    "totalSpendCents": 180000
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/RevenueOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/roles": {
      "get": {
        "operationId": "adminRoles",
        "summary": "Lists IAM roles for one owner org, forwarded VERBATIM from IAM's get-roles.",
        "description": "Lists IAM roles for one owner org, forwarded VERBATIM from IAM's get-roles.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "description": "Owner is the org whose rows to read. Defaults to the admin org, which owns the\nplatform's roles and applications.",
            "schema": {
              "type": "string"
            },
            "example": "admin"
          },
          {
            "name": "p",
            "in": "query",
            "required": false,
            "description": "Page is the 1-based page number. Forwarded only when set — IAM applies its own\ndefault otherwise.",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "PageSize is rows per page. Forwarded only when set.",
            "schema": {
              "type": "string"
            },
            "example": "50"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "displayName": "Ops",
                      "name": "ops",
                      "owner": "admin"
                    }
                  ],
                  "msg": "",
                  "status": "ok",
                  "total": 1
                },
                "schema": {
                  "$ref": "#/components/schemas/iamRowsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/services": {
      "get": {
        "operationId": "adminServices",
        "summary": "Reads the launch board: every hosted service in the registry with its LIVE waitlist mode, evaluated through the flag engine.",
        "description": "Reads the launch board: every hosted service in the registry with its LIVE\nwaitlist mode, evaluated through the flag engine. This is the \"remove the waitlist one\nservice at a time\" view.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "services": [
                      {
                        "description": "",
                        "displayName": "Chat",
                        "hosts": [
                          "chat.hanzo.ai"
                        ],
                        "service": "chat",
                        "waitlistMode": true
                      }
                    ]
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/servicesOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      },
      "post": {
        "operationId": "adminUpsertService",
        "summary": "Onboards a hosted service, or edits one, so a new host comes under the launch gate WITHOUT a redeploy.",
        "description": "Onboards a hosted service, or edits one, so a new host comes under the\nlaunch gate WITHOUT a redeploy. Re-registering an existing service PRESERVES its live\nswitch — editing the hosts of a service that is already open must not silently close\nit again.",
        "tags": [
          "admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "description": "Hanzo Chat",
                "displayName": "Chat",
                "hosts": [
                  "chat.hanzo.ai"
                ],
                "service": "chat",
                "waitlistMode": true
              },
              "schema": {
                "$ref": "#/components/schemas/ServiceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "service": {
                      "description": "Hanzo Chat",
                      "displayName": "Chat",
                      "hosts": [
                        "chat.hanzo.ai"
                      ],
                      "service": "chat",
                      "waitlistMode": true
                    }
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/serviceOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/services/{service}/mode": {
      "post": {
        "operationId": "adminSetServiceMode",
        "summary": "Flips ONE service's waitlist switch — the launch lever.",
        "description": "Flips ONE service's waitlist switch — the launch lever. Hot: it takes\neffect on this pod immediately and on peers within one evaluation TTL, with no\nredeploy. An unknown service is a 404, not a silent create; onboarding goes through\nupsertService.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "service",
            "in": "path",
            "required": true,
            "description": "Service is the slug to flip, taken from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "waitlistMode": false
              },
              "schema": {
                "$ref": "#/components/schemas/serviceModeIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "service": {
                      "description": "Hanzo Chat",
                      "displayName": "Chat",
                      "hosts": [
                        "chat.hanzo.ai"
                      ],
                      "service": "chat",
                      "waitlistMode": false
                    }
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/serviceOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/subscriptions": {
      "get": {
        "operationId": "adminSubscriptions",
        "summary": "Answers GET /v1/admin/subscriptions.",
        "description": "Answers GET /v1/admin/subscriptions.\n\n\tGET /v1/admin/subscriptions?org=\u0026status=\u0026limit=",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status filters on the subscription's LATEST lifecycle status (active, trialing,\ncanceled, …), matched case-insensitively.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org filters to one tenant, matched exactly.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned. total still reports the full match count.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/subsystems": {
      "get": {
        "operationId": "adminSubsystems",
        "summary": "subsystems answers GET /v1/admin/subsystems.",
        "description": "subsystems answers GET /v1/admin/subsystems. ?range=24h|7d|30d bounds the telemetry\nwindow (default 30d) — the same enum, and the same helpers, as the o11y board.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range bounds the telemetry window: 24h, 7d or 30d. Anything else, including\nempty, resolves to the default through the same o11yRange the o11y board uses.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubsystemsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/sync": {
      "post": {
        "operationId": "adminSync",
        "summary": "Answers the operator's \"Sync now\" button.",
        "description": "Answers the operator's \"Sync now\" button. There is nothing to kick: admin\naggregates LIVE on every read, so the button is just a re-read. It acknowledges\nhonestly with started:true rather than pretending a batch job was queued.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "started": true
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/syncOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/usage": {
      "get": {
        "operationId": "adminUsage",
        "summary": "Returns the trailing 30 days of AI usage: one org's when org names one, else the whole fleet's — the spend, the tokens and the requests, the daily curve behind them, and the split by model.",
        "description": "Returns the trailing 30 days of AI usage: one org's when org names one, else the\nwhole fleet's — the spend, the tokens and the requests, the daily curve behind them,\nand the split by model.\n\nIt reads the AI ledger (ledger.go), which is the plane that owns this question. It used\nto ask the commerce billing API instead, once per org, and answer with a hardcoded\nempty series, zero tokens and zero requests, on the reasoning that a trend and a split\nwere \"not derivable from the commerce billing API\". They are not — but the question was\nnever commerce's. hanzo.cloud_usage carries a row per served request, so all three fall\nout of the same window the totals do.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org reads ONE tenant's trailing-30-day total instead of the fleet sum. Honoured\nfor a SuperAdmin only — a white-label admin always reads their own org.\n\nThe window is the one core.OrgMoney returns, and it is what the operator board\nbeside this already labelled (\"Daily, last 30 days\"). The wire used to say\nmonth-to-date while that UI said 30 days; they agree now. This comment is\nREGENERATED into plugin/admin/openapi.json and openapi.yaml as the ?org\nparameter description, so a stale word here ships as a contradiction inside\none spec file — which is the drift this whole change set exists to remove.",
            "schema": {
              "type": "string"
            },
            "example": "acme"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "byModel": [
                      {
                        "model": "claude-opus-4-8",
                        "spendCents": 9000,
                        "tokens": 80000
                      }
                    ],
                    "series": [
                      {
                        "date": "2026-08-13",
                        "requests": 3,
                        "spendCents": 900,
                        "tokens": 12000
                      }
                    ],
                    "totals": {
                      "requests": 42,
                      "spendCents": 12500,
                      "tokens": 170000
                    }
                  },
                  "msg": "",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/usageOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/usage/funding": {
      "get": {
        "operationId": "adminUsageFunding",
        "summary": "Splits our upstream AI usage by how it was FUNDED: one row per (provider, model) over the window, tagged credit (provider grant still remaining), paid (grant exhausted) or paid_only (no grant at all).",
[...]
