{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package dataroom is a secure document room you share by link and watch page by page.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "admin"
    },
    {
      "name": "dataroom"
    }
  ],
  "paths": {
    "/v1/admin/dataroom/trust": {
      "get": {
        "operationId": "get_admin_dataroom_trust",
        "summary": "Roster lists every published trust centre in the deployment with the size of its queue — the platform's view of who is running one and who is leaving people waiting.",
        "description": "Roster lists every published trust centre in the deployment with the size of its\nqueue — the platform's view of who is running one and who is leaving people\nwaiting.\n\nIt is the ONE cross-tenant read in this subsystem and it is refused to anyone who\nis not a SuperAdmin: a member of the reserved admin org, the same predicate every\nother subsystem asks. An org's own admin is a different, org-scoped fact and does\nnot pass here — reading it as platform authority is how one customer comes to see\nevery other customer's queue.\n\nIt counts and does not read: no item, request, address or grant of any org's\ncrosses into the answer.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trustRosters"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/dataroom/analytics/dataroom/{dataroomId}": {
      "get": {
        "operationId": "get_dataroom_analytics_dataroom_by_dataroomid",
        "summary": "Rolls up every share link pointing at one data room: session and page-view totals for the room, plus the per-page breakdown for each link beneath it.",
        "description": "Rolls up every share link pointing at one data room:\nsession and page-view totals for the room, plus the per-page breakdown for each\nlink beneath it.\n\nA room id outside the caller's own tenant store is not found. Only links that\nNAME the room are counted — a link created over a single document contributes\nnothing here, even when that document also sits in the room.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "dataroomId",
            "in": "path",
            "required": true,
            "description": "DataroomID is the room to report on. It is the path segment, resolved in\nthe caller's own tenant store.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dataroomStats"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/analytics/link/{linkId}": {
      "get": {
        "operationId": "get_dataroom_analytics_link_by_linkid",
        "summary": "Reports how one share link was actually read: total viewing sessions, total page views, and per page the view count, the summed dwell measure and its average.",
        "description": "Reports how one share link was actually read: total viewing\nsessions, total page views, and per page the view count, the summed dwell\nmeasure and its average.\n\nThe link is resolved in the caller's OWN tenant store, so another org's link id\nis not found — knowing a link id is enough to OPEN the room it shares, and\nnever enough to read who has been reading it.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "description": "LinkID is the link to report on. It is the path segment, resolved in the\ncaller's own tenant store.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dataroomLinkStats"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/datarooms": {
      "get": {
        "operationId": "get_dataroom_datarooms",
        "summary": "Returns every data room in the caller org's own store, newest first, with its short public id, name, description and timestamps.",
        "description": "Returns every data room in the caller org's own store, newest\nfirst, with its short public id, name, description and timestamps.\n\nDocuments are not included — a room's contents come from reading the single\nroom.",
        "tags": [
          "dataroom"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dataroomRooms"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_dataroom_datarooms",
        "summary": "Opens a new data room for the caller org and answers with it, including the short public id it is addressed by.",
        "description": "Opens a new data room for the caller org and answers with it,\nincluding the short public id it is addressed by.\n\n`name` is required; without it the call is refused and the tenant store is\nuntouched, because a dispatch answering 4xx rolls its transaction back. A new\nroom holds no documents and is reachable by NOBODY until a share link is\ncreated over it — opening a room and granting access are two separate acts, so\na room cannot leak by existing.",
        "tags": [
          "dataroom"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dataroomCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dataroomRoomOne"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/datarooms/{id}": {
      "get": {
        "operationId": "get_dataroom_datarooms_by_id",
        "summary": "Reads one of the caller org's data rooms together with every document in it, each carrying its membership id and order index.",
        "description": "Reads one of the caller org's data rooms together with every\ndocument in it, each carrying its membership id and order index.\n\nThe documents are sorted by that index with unordered ones last and creation\ntime breaking ties — the SAME order a link's visitor sees, so this is what the\nroom looks like from the outside. A room id outside the caller's own tenant\nstore is not found.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the room to read. It is the path segment: the URL is the addressing\nauthority, and the org it is resolved in comes from the caller's principal,\nso an id from another tenant is simply not found.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dataroomRoomDetailOne"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/datarooms/{id}/documents": {
      "post": {
        "operationId": "post_dataroom_datarooms_by_id_documents",
        "summary": "Puts an already-uploaded document into one of the caller org's data rooms and answers with the new membership id.",
        "description": "Puts an already-uploaded document into one of the caller\norg's data rooms and answers with the new membership id.\n\nIt ATTACHES, it never uploads: the bytes must already be stored, so the usual\norder is upload the document, then add it to the room. Both the room and the\ndocument must exist in the caller's own store — either missing is not found —\nand a document already in the room is refused as a conflict rather than\nduplicated.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the room to add to. It is the path segment: the URL is the addressing\nauthority, and the org it is resolved in comes from the caller's principal,\nso an id from another tenant is simply not found.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dataroomAddDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dataroomMembership"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/documents": {
      "get": {
        "operationId": "get_dataroom_documents",
        "summary": "Returns every document in the caller org's own store, newest first — name, opaque storage key, content type, page count, size and timestamps.",
        "description": "Returns every document in the caller org's own store, newest\nfirst — name, opaque storage key, content type, page count, size and\ntimestamps.\n\nTenant isolation is the per-org store itself: there is one SQLite file per org\nand the org is never a parameter, so no input the caller controls can address\nanother tenant's documents. Metadata only — the bytes come from the file route.",
        "tags": [
          "dataroom"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dataroomDocuments"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_dataroom_documents",
        "summary": "Upload a document's bytes and record it",
        "description": "Takes the file ITSELF as the raw request body — not a JSON envelope, not multipart — stores it on the object-storage seam, and records the metadata row, answering with the new document. `?name=` names it (default \"document\"), the request's Content-Type becomes the recorded mime type, and `?numPages=` is optional.\n\nRequires a validated principal; 403 without one. An empty body is 400 and anything over 64 MiB is 413 — a data room holds decks and PDFs, not a media library.\n\nThe storage key is 128 random bits under the tenant's own key prefix, minted before the bytes are written: if the system's randomness is unavailable the upload fails 500 rather than fall back to a predictable key that could overwrite another document's bytes. A storage write that fails is 502 and no metadata row is recorded, so a document never exists without its file.",
        "tags": [
          "dataroom"
        ],
        "x-public": true
      }
    },
    "/v1/dataroom/documents/{id}": {
      "get": {
        "operationId": "get_dataroom_documents_by_id",
        "summary": "Reads one of the caller org's documents — its name, opaque storage key, content type, page count, size and timestamps.",
        "description": "Reads one of the caller org's documents — its name, opaque storage\nkey, content type, page count, size and timestamps.\n\nThe lookup runs in the caller's own tenant store, so an id belonging to another\norg is not found exactly like one that never existed. Metadata only: the bytes\nare a separate read.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the document to read. It is the path segment: the URL is the\naddressing authority, and the org it is resolved in comes from the caller's\nprincipal, so an id from another tenant is simply not found.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dataroomDocumentOne"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/documents/{id}/file": {
      "get": {
        "operationId": "get_dataroom_documents_by_id_file",
        "summary": "Download a document's bytes as its owner",
        "description": "Streams the stored file back under its recorded content type, falling back to application/octet-stream when none was recorded.\n\nRequires a validated principal; 403 without one, and the document is resolved in the caller's own tenant store, so another org's id is a 404. This is the OWNER's path and applies no link gate at all — the per-link password, email and download controls live on the viewer surface, not here. Bytes that cannot be fetched from object storage are 502, never a truncated or empty file.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/dataroom/health": {
      "get": {
        "operationId": "get_dataroom_health",
        "summary": "Liveness of the dataroom subsystem",
        "description": "Answers {service, status} unconditionally — no principal, no tenant. It is registered BEFORE the bundle, the link index and the object-storage seam are wired, so it keeps answering when any of those fail and the subsystem degrades to health-only. That is the point, and the limit: a 200 here says the process is alive, never that a data room can be read or written.",
        "tags": [
          "dataroom"
        ],
        "x-public": true
      }
    },
    "/v1/dataroom/links": {
      "get": {
        "operationId": "get_dataroom_links",
        "summary": "Returns every live share link in the caller org's own store, newest first, with the controls a visitor will meet: whether an address is required, whether a password is set, the allow and deny lists, whether download is permitted, and when the link expires.",
        "description": "Returns every live share link in the caller org's own store,\nnewest first, with the controls a visitor will meet: whether an address is\nrequired, whether a password is set, the allow and deny lists, whether download\nis permitted, and when the link expires.\n\nArchived links are omitted entirely. A link reports only THAT a password is\nset — the stored form is a bcrypt hash and no route returns it.",
        "tags": [
          "dataroom"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dataroomLinks"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_dataroom_links",
        "summary": "Grants access: it mints a public share link over one data room (`dataroomId`) or one document (`documentId`) — one of the two is required — and answers with the link, whose `id` is the token a visitor opens it with.",
        "description": "Grants access: it mints a public share link over one data\nroom (`dataroomId`) or one document (`documentId`) — one of the two is\nrequired — and answers with the link, whose `id` is the token a visitor opens\nit with.\n\nThis is how a party is let in. The controls are declared HERE and enforced on\nthe viewer surface: `password` is hashed with bcrypt before storage and is\nnever readable back, `emailProtected` (on by default) makes a visitor state an\naddress, `allowList`/`denyList` narrow which addresses pass, `allowDownload`\n(off by default) governs downloads, and `expiresAt` closes the link. The target\nroom or document must exist in the caller's own store or it is not found.\n\nCreating a link also writes dataroom's ONE cross-tenant row: the link id to\nowning org mapping an anonymous visitor is routed through. That write is part\nof the operation — if it fails the call is 500 — so a link that no visitor\ncould open is never handed back as usable.\n\nThe address a visitor later states is recorded UNVERIFIED, so a link gated only\nby email is openable by anyone the link reaches. Use a password for a link that\nmust not travel.",
        "tags": [
          "dataroom"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dataroomLinkCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dataroomLinkOne"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/trust": {
      "get": {
        "operationId": "get_dataroom_trust",
        "summary": "Answers the caller org's OWN trust centre: its settings, every item it holds in both tiers, the requests waiting on it, and the grants it has made.",
        "description": "Answers the caller org's OWN trust centre: its settings, every item it\nholds in both tiers, the requests waiting on it, and the grants it has made.\n\nThe org is the caller's, taken from the validated bearer and from nothing else,\nso this op cannot be pointed at another tenant — there is no field for one. An\norg that has never opened a centre reads back an empty one rather than an error,\nbecause having no trust centre is an ordinary state and this is the read that\ntells you so.",
        "tags": [
          "dataroom"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trustDesk"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "put_dataroom_trust",
        "summary": "SetCenter opens, publishes or withdraws the caller org's trust centre and answers with the centre as it now stands.",
        "description": "SetCenter opens, publishes or withdraws the caller org's trust centre and answers\nwith the centre as it now stands.\n\nPublishing requires a name and an address, and the address must be free: another\norg already answering there is a conflict, never a takeover. Withdrawing closes\nthe public door only — items, grants and the access record are untouched, so an\norg can go quiet and come back without losing anything.\n\nOnly an admin of the org may call it. The org is the caller's own, so there is no\nfield naming one and no way to point this at another tenant.",
        "tags": [
          "dataroom"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/trustSettings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trustDesk"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/trust/artifacts": {
      "post": {
        "operationId": "post_dataroom_trust_artifacts",
        "summary": "Publish puts an item on the caller org's trust centre and answers with it.",
        "description": "Publish puts an item on the caller org's trust centre and answers with it.\n\nThe item is GATED unless it says otherwise, so a kind nobody has thought of yet\narrives private and someone has to release it deliberately — that default is what\nkeeps an auditor's report from becoming readable because a field went unset. An\nitem whose attester is \"auditor\" cannot be public at all: the database refuses the\npair, so no path through this API can publish one.\n\nA file is optional and is uploaded FIRST, through POST /v1/dataroom/documents,\nthen named here — the data room is the one place bytes enter, so a trust centre\ndocument is an ordinary data-room document and inherits its storage, its grants\nand its page-by-page access record. A gated item that has a file is added to the\norg's release room, which is what lets a party be granted the whole gated tier in\none link.\n\nOnly an admin of the org may call it.",
        "tags": [
          "dataroom"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/trustPublish"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trustItemView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/trust/artifacts/{id}": {
      "patch": {
        "operationId": "patch_dataroom_trust_artifacts_by_id",
        "summary": "Amend changes an item on the caller org's trust centre — replace its file with a newer edition, move it between public and gated, rewrite what it says, or retire it — and answers with the item as it now stands.",
        "description": "Amend changes an item on the caller org's trust centre — replace its file with a\nnewer edition, move it between public and gated, rewrite what it says, or retire\nit — and answers with the item as it now stands.\n\nRetiring is the withdrawal: the item leaves the public centre immediately and can\nno longer be granted, while grants already made over it stand, because a release\nthat happened is part of the record and un-happening it in the record would be a\nlie. Restoring is the same call with retired false.\n\nMoving an item an independent auditor signed to the public tier is refused, and\nrefused by the database rather than only here. Only an admin of the org may call\nit, and the item is resolved in that org's own store, so another org's id is not\nfound.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the item to change, taken from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/trustEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trustItemView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/trust/center/{slug}": {
      "get": {
        "operationId": "get_dataroom_trust_center_by_slug",
        "summary": "Answers an org's public trust centre: its name, the text a party must accept to ask for a document, and every item it publishes.",
        "description": "Answers an org's public trust centre: its name, the text a party must\naccept to ask for a document, and every item it publishes.\n\nAn item is either available NOW — the things the org states itself, its policies,\nits filled questionnaires, its subprocessor list, its knowledge base — or\navailable ON REQUEST, which is everything an independent auditor put their name\nto. Both are listed by name and kind, so a reader can see WHAT exists before\nasking for it; only the second withholds the content.\n\nNo principal is involved and none is accepted: the org is resolved from the\naddress, which answers only for a centre its owner has published. An address\nnobody publishes at is not found, the same answer an unpublished one gets.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the centre's public address. It resolves only for an org that has\npublished; anything else is not found, so this cannot be used to learn which\norgs exist.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trustPage"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/trust/center/{slug}/file/{item}": {
      "get": {
        "operationId": "get_dataroom_trust_center_by_slug_file_by_item",
        "summary": "Read a public trust-centre item's bytes",
        "description": "Streams the file behind an item a trust centre publishes openly — a policy, a filled questionnaire, a knowledge-base attachment — under its recorded content type.\n\nNo principal and no link: these are the things an org states about itself, so they are served to anyone who asks. The narrowing is in the lookup rather than in a check: the item must be public, must not be retired, and must belong to a centre its owner has published, so an item released only on request is NOT FOUND here rather than refused — the same answer an id that never existed gets, which is what stops this reporting what the released-on-request tier holds.\n\nBytes that cannot be fetched from object storage are 502, never a truncated file.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/dataroom/trust/center/{slug}/requests": {
      "post": {
        "operationId": "post_dataroom_trust_center_by_slug_requests",
        "summary": "Records a request to read what an independent auditor signed, and answers with its id.",
        "description": "Records a request to read what an independent auditor signed, and\nanswers with its id.\n\nThe org that owns the centre decides. Nothing is released here and no link is\nminted: this writes the ask down, which is the whole promise the form makes.\nThe write is the answer — a request that could not be stored is an error, never\na receipt, so a form can never appear to have been sent and be gone.\n\n`email` is required and is the ONLY address the eventual grant will admit, so an\naddress the asker cannot read is an ask that cannot be answered. Where the centre\nstates an NDA, `accept` must be true and the text in force is recorded verbatim\nagainst the request.\n\nAsking twice for the same thing from the same address is the SAME ask: the second\nanswers with the first's id rather than opening a second row, which is also what\nkeeps an anonymous door from filling a tenant's store.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the centre's public address, taken from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/trustAsk"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trustAsked"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/trust/requests/{id}/grant": {
      "post": {
        "operationId": "post_dataroom_trust_requests_by_id_grant",
        "summary": "Grant answers a request by opening access: it mints a share link over what was asked for, addressed to the address that asked and closing at expiry, records the decision, and mails the asker.",
        "description": "Grant answers a request by opening access: it mints a share link over what was\nasked for, addressed to the address that asked and closing at expiry, records the\ndecision, and mails the asker.\n\nThe link is NEVER a public URL. It carries the asker's address on its allow list,\nso forwarding it to somebody else does not open it, and it expires. What the\nparty then does with it — which document, which page, for how long — is recorded\nby the data room's own view tracking, which is where the access record for this\nrelease lives; there is no second log.\n\nA request that was already answered is refused rather than answered twice, so a\nsecond click cannot mint a second link. Only an admin of the org may call it, and\nthe request is resolved in that org's own store, so another org's request id is\nnot found — which is also what stops one org deciding another's queue.\n\nMail is best effort and the grant does not depend on it: a deployment that sends\nno mail still records the grant and says so in `delivery`, so the approver knows\nto pass the address on themselves.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the request to answer, taken from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/trustDecision"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trustGranted"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/trust/requests/{id}/refuse": {
      "post": {
        "operationId": "post_dataroom_trust_requests_by_id_refuse",
        "summary": "Refuse answers a request by declining it, recording who declined and why.",
        "description": "Refuse answers a request by declining it, recording who declined and why.\n\nNothing is released and no link is minted. The refusal STAYS on the record beside\nthe ask — a request that was turned down is part of the access record exactly as\none that was granted is, and deleting it would leave a queue that only ever shows\nthe decisions somebody liked.\n\nA request that was already answered is refused rather than answered twice. Only an\nadmin of the org may call it, and the request is resolved in that org's own store,\nso another org's request id is not found.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the request to answer, taken from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/trustDecision"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trustRefused"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/dataroom/view/{linkId}": {
      "get": {
        "operationId": "get_dataroom_view_by_linkid",
        "summary": "What a share link's visitor sees before authenticating",
        "description": "Answers the pre-auth face of a link to anyone holding its id: name and type, which gates apply (whether an address is required, whether a password is set), whether download is permitted, whether it has expired, and the name and description of the room behind it — or, for a single-document link, that document's name and page count.\n\nNo principal is involved: the owning org is resolved from the link id through dataroom's one cross-tenant routing table, and an unknown or archived link is a 404.\n\nIt is metadata only — a room's document list and every file stay behind the authenticate step. An expired link is REPORTED as expired here rather than refused, so a visitor learns why the next step will fail; nothing about the password beyond its existence is disclosed.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/dataroom/view/{linkId}/authenticate": {
      "post": {
        "operationId": "post_dataroom_view_by_linkid_authenticate",
        "summary": "Pass a share link's gates and open a viewing session",
        "description": "Clears the link's access controls and answers with the viewing session — a `viewId`, whether download is permitted, and the documents behind the link — which every later viewer call is authorised by.\n\nNo principal: the visitor is whoever holds the link id, and the org is resolved from it. The gates run in a fixed order and each is a flat refusal, never a hint. An archived or unknown link is 404 and an expired one 403. A missing address on an email-protected link is 401. An address on the deny list is 403, checked BEFORE the allow list so deny always wins. An address the allow list does not admit is 403 — an EMPTY allow list admits everyone, so a link with no list enforces the email gate alone. A wrong or absent password is 401, decided against the stored bcrypt hash.\n\nThe address is taken as stated and recorded UNVERIFIED: it names a viewer for analytics and repeat visits from it reuse one viewer record, but it proves nothing about who is on the other end. A link gated only by email is openable by anyone the link reaches.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/dataroom/view/{linkId}/document/{documentId}/file": {
      "get": {
        "operationId": "get_dataroom_view_by_linkid_document_by_documentid_file",
        "summary": "Read a document's bytes as an authorised link visitor",
        "description": "Streams a document's bytes under its recorded content type to a visitor holding an open viewing session.\n\nNo principal: `?viewId=` from the authenticate step is the authorisation and must belong to this link, or the call is 403 — holding the link id alone gets no bytes. The document must be reachable THROUGH this link (a member of the room the link opens, or the single document the link names), so a visitor cannot walk to an unrelated document by guessing an id; anything else is a 404, as is an unknown or archived link. Bytes that cannot be fetched from object storage are 502.\n\n`?download=1` additionally requires the link's `allowDownload` and is 403 when the owner did not permit it. Read that flag precisely: it gates the DOWNLOAD intent, not access to the bytes — without the parameter an authorised visitor is served the file for in-place viewing whether or not downloads are allowed.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/dataroom/view/{linkId}/pageview": {
      "post": {
        "operationId": "post_dataroom_view_by_linkid_pageview",
        "summary": "Record one page-view against an open viewing session",
        "description": "Appends a single per-page analytics event — {viewId, pageNumber, documentId, versionNumber, duration} — and answers with its id. These events are what the owner's analytics count.\n\nNo principal: the `viewId` from the authenticate step IS the authorisation, and it must belong to THIS link or the call is 404, so a session opened on one link cannot write events onto another. `pageNumber` is required (400 without it); `documentId` falls back to the document the session was opened on, and `duration` is the caller's own dwell measure, summed per page by analytics.\n\nEvents are additive: the same page reported twice is two views, which is the metric's whole point.",
        "tags": [
          "dataroom"
        ],
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    }
  },
  "components": {
    "schemas": {
      "dataroomAddDocument": {
        "properties": {
          "documentId": {
            "description": "DocumentId is the document to attach. Required, and it must already exist\nin the caller's own store — this route attaches, it never uploads."
          },
          "id": {
            "description": "ID is the room to add to. It is the path segment: the URL is the addressing\nauthority, and the org it is resolved in comes from the caller's principal,\nso an id from another tenant is simply not found.",
            "type": "string"
          },
          "orderIndex": {
            "description": "OrderIndex fixes the document's place in the viewer's list. Optional; a\nnumber or a numeric string is accepted, and anything that is not a number\nleaves the document unordered, which sorts it last."
          }
        },
        "type": "object"
      },
      "dataroomCreate": {
        "properties": {
          "description": {
            "description": "Description is the room's description. Optional; any JSON scalar is\naccepted and stored as its text, and omitting it leaves the room with none."
          },
          "name": {
            "description": "Name is the room's display name. Required, and a room without one is\nrefused with the data room's own validation error."
          }
        },
        "type": "object"
      },
      "dataroomDocument": {
        "properties": {
          "contentType": {
            "description": "ContentType is the mime type recorded at upload, null when none was sent.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the document was uploaded, in unix milliseconds.",
            "type": "integer"
          },
          "fileKey": {
            "description": "FileKey is the opaque object-storage key the bytes are stored under. It is\nscoped to the tenant's own key prefix and is not a URL.",
            "type": "string"
          },
          "fileSize": {
            "description": "FileSize is the stored byte count, null when it was not recorded.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the document id.",
            "type": "string"
          },
          "name": {
            "description": "Name is the document's display name.",
            "type": "string"
          },
          "numPages": {
            "description": "NumPages is the page count, null when it was not supplied at upload.",
            "type": "integer"
          },
          "type": {
            "description": "Type is the document's kind, null when it was not recorded.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when the document row last changed, in unix milliseconds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dataroomDocumentOne": {
        "properties": {
          "document": {
            "$ref": "#/components/schemas/dataroomDocument",
            "description": "Document is the document itself."
          }
        },
        "type": "object"
      },
      "dataroomDocuments": {
        "properties": {
          "documents": {
            "description": "Documents is every document in the caller's own store, newest first.",
            "items": {
              "$ref": "#/components/schemas/dataroomDocument"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "dataroomLink": {
        "properties": {
          "allowDownload": {
            "description": "AllowDownload is whether a visitor may download, rather than only view.",
            "type": "boolean"
          },
          "allowList": {
            "description": "AllowList narrows which addresses pass the email gate. An entry may be a\nfull address, an \"@domain.com\" suffix, or a bare \"domain.com\". An EMPTY\nlist admits everyone.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "createdAt": {
            "description": "CreatedAt is when the link was minted, in unix milliseconds.",
            "type": "integer"
          },
          "dataroomId": {
            "description": "DataroomId is the room the link opens, null for a single-document link.",
            "type": "string"
          },
          "denyList": {
            "description": "DenyList rejects addresses, in the same three forms as the allow list, and\nis checked BEFORE it — so deny always wins.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "documentId": {
            "description": "DocumentId is the document the link opens, null for a room link.",
            "type": "string"
          },
          "emailProtected": {
            "description": "EmailProtected is whether a visitor must state an address to enter.",
            "type": "boolean"
          },
          "expiresAt": {
            "description": "ExpiresAt is when the link closes, in unix milliseconds; null never expires.",
            "type": "integer"
          },
          "hasPassword": {
            "description": "HasPassword reports THAT a password is set. The stored form is a bcrypt\nhash and no route returns it.",
            "type": "boolean"
          },
          "id": {
            "description": "ID is the link id — the public token a visitor opens the room with.",
            "type": "string"
          },
          "isArchived": {
            "description": "IsArchived is whether the link has been retired.",
            "type": "boolean"
          },
          "linkType": {
            "description": "LinkType is DATAROOM_LINK or DOCUMENT_LINK.",
            "type": "string"
          },
          "name": {
            "description": "Name is the link's label, null when none was given.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when the link last changed, in unix milliseconds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dataroomLinkCreate": {
        "properties": {
          "allowDownload": {
            "description": "AllowDownload permits downloading rather than viewing only. Optional and\nOFF by default; any truthy JSON value turns it on."
          },
          "allowList": {
            "description": "AllowList narrows which addresses pass the email gate. Optional; an entry\nmay be a full address (\"ada@example.com\"), an \"@domain.com\" suffix, or a\nbare \"domain.com\". An omitted or EMPTY list admits everyone, so a link with\nno list enforces the email gate alone.",
            "items": {},
            "type": "array"
          },
          "dataroomId": {
            "description": "DataroomId is the room to share. One of dataroomId or documentId is\nrequired, and the target must exist in the caller's own store."
          },
          "denyList": {
            "description": "DenyList rejects addresses, in the same three forms as the allow list.\nOptional. It is checked BEFORE the allow list, so deny always wins.",
            "items": {},
            "type": "array"
          },
          "documentId": {
            "description": "DocumentId shares a SINGLE document instead of a room. One of dataroomId or\ndocumentId is required."
          },
          "emailProtected": {
            "description": "EmailProtected makes a visitor state an address before entering. Optional\nand ON by default: it is disabled only by the JSON literal false, so any\nother value — including the string \"false\" — leaves the gate on."
          },
          "expiresAt": {
            "description": "ExpiresAt closes the link, in unix milliseconds. Optional; a number or a\nnumeric string is accepted, and omitting it means the link never expires."
          },
          "name": {
            "description": "Name labels the link. Optional; any JSON scalar is stored as its text."
          },
          "password": {
            "description": "Password gates the link. Optional; it is hashed with bcrypt before storage\nand is never readable back through any route."
          }
        },
        "type": "object"
      },
      "dataroomLinkOne": {
        "properties": {
          "link": {
            "$ref": "#/components/schemas/dataroomLink",
            "description": "Link is the link itself, including the id a visitor opens it with."
          }
        },
        "type": "object"
      },
      "dataroomLinkStats": {
        "properties": {
          "linkId": {
            "description": "LinkId is the link these counts are for.",
            "type": "string"
          },
          "pages": {
            "description": "Pages is the per-page breakdown, in page order.",
            "items": {
              "$ref": "#/components/schemas/dataroomPageStat"
            },
            "type": "array"
          },
          "totalPageViews": {
            "description": "TotalPageViews is how many page views the link received.",
            "type": "integer"
          },
          "totalViews": {
            "description": "TotalViews is how many viewing sessions the link opened.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dataroomLinks": {
        "properties": {
          "links": {
            "description": "Links is every non-archived link, newest first.",
            "items": {
              "$ref": "#/components/schemas/dataroomLink"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "dataroomMember": {
        "properties": {
          "contentType": {
            "description": "ContentType is the mime type recorded at upload, null when none was sent.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the document was uploaded, in unix milliseconds.",
            "type": "integer"
          },
          "dataroomDocumentId": {
            "description": "DataroomDocumentId is the membership id — this document's place in THIS\nroom, distinct from the document id.",
            "type": "string"
          },
          "fileKey": {
            "description": "FileKey is the opaque object-storage key the bytes are stored under.",
            "type": "string"
          },
          "fileSize": {
            "description": "FileSize is the stored byte count, null when it was not recorded.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the document id.",
            "type": "string"
          },
          "name": {
            "description": "Name is the document's display name.",
            "type": "string"
          },
          "numPages": {
            "description": "NumPages is the page count, null when it was not supplied at upload.",
            "type": "integer"
          },
          "orderIndex": {
            "description": "OrderIndex is the document's place in the viewer's list, null when it was\nadded without one. Unordered documents sort last.",
            "type": "integer"
          },
          "type": {
            "description": "Type is the document's kind, null when it was not recorded.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when the document row last changed, in unix milliseconds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dataroomMembership": {
        "properties": {
          "dataroomDocumentId": {
            "description": "DataroomDocumentId is the new membership id.",
            "type": "string"
          },
          "dataroomId": {
            "description": "DataroomId is the room the document was added to.",
            "type": "string"
          },
          "documentId": {
            "description": "DocumentId is the document that was added.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "dataroomPageStat": {
        "properties": {
          "avgDuration": {
            "description": "AvgDuration is totalDuration divided by views, rounded; 0 when unviewed.",
            "type": "integer"
          },
          "pageNumber": {
            "description": "PageNumber is the page these counts are for.",
            "type": "integer"
          },
          "totalDuration": {
            "description": "TotalDuration is the summed dwell measure reported for the page.",
            "type": "integer"
          },
          "views": {
            "description": "Views is how many times the page was viewed.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dataroomRoom": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when the room was created, in unix milliseconds.",
            "type": "integer"
          },
          "description": {
            "description": "Description is the room's description, null when none was given.",
            "type": "string"
          },
          "id": {
            "description": "ID is the room id, which is what other dataroom calls address it by.",
            "type": "string"
          },
          "name": {
            "description": "Name is the room's display name.",
            "type": "string"
          },
          "pId": {
            "description": "PId is the room's short public identifier, unique within the tenant.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when the room last changed, in unix milliseconds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dataroomRoomDetail": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when the room was created, in unix milliseconds.",
            "type": "integer"
          },
          "description": {
            "description": "Description is the room's description, null when none was given.",
            "type": "string"
          },
          "documents": {
            "description": "Documents is every document in the room, in the order a visitor sees them.",
            "items": {
              "$ref": "#/components/schemas/dataroomMember"
            },
            "type": "array"
          },
          "id": {
            "description": "ID is the room id.",
            "type": "string"
          },
          "name": {
            "description": "Name is the room's display name.",
            "type": "string"
          },
          "pId": {
            "description": "PId is the room's short public identifier.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when the room last changed, in unix milliseconds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dataroomRoomDetailOne": {
        "properties": {
          "dataroom": {
            "$ref": "#/components/schemas/dataroomRoomDetail",
            "description": "Dataroom is the room and its contents."
          }
        },
        "type": "object"
      },
      "dataroomRoomOne": {
        "properties": {
          "dataroom": {
            "$ref": "#/components/schemas/dataroomRoom",
            "description": "Dataroom is the room itself."
          }
        },
        "type": "object"
      },
      "dataroomRooms": {
        "properties": {
          "datarooms": {
            "description": "Datarooms is every data room in the caller's own store, newest first.",
            "items": {
              "$ref": "#/components/schemas/dataroomRoom"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "dataroomStats": {
        "properties": {
          "dataroomId": {
            "description": "DataroomId is the room these counts are for.",
            "type": "string"
          },
          "links": {
            "description": "Links is the same per-page breakdown for each link into the room.",
            "items": {
              "$ref": "#/components/schemas/dataroomLinkStats"
            },
            "type": "array"
          },
          "totalPageViews": {
            "description": "TotalPageViews is the room's page views across every link.",
            "type": "integer"
          },
          "totalViews": {
            "description": "TotalViews is the room's viewing sessions across every link.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "trustAsk": {
        "properties": {
          "accept": {
            "description": "Accept must be true when the centre states an NDA. The text accepted is\nrecorded verbatim on the request, so a later edit to the NDA cannot rewrite\nwhat this party agreed to.",
            "type": "boolean"
          },
          "email": {
            "description": "Email is where the grant will be sent, and the ONLY address the resulting\nlink admits. Required.",
            "type": "string"
          },
          "item": {
            "description": "Item names one published item to ask for. Optional; omitting it asks for\neverything released on request.",
            "type": "string"
          },
          "party": {
            "description": "Party is the company the asker is from. Optional, and recorded as stated.",
            "type": "string"
          },
          "reason": {
            "description": "Reason is why they want it. Optional, and recorded as stated — it is what the\nperson deciding reads.",
            "type": "string"
          },
          "slug": {
            "description": "Slug is the centre's public address, taken from the path.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "trustAskView": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when the ask arrived, in unix milliseconds.",
            "type": "integer"
          },
          "decidedAt": {
            "description": "DecidedAt is when it was answered, in unix milliseconds; 0 while open.",
            "type": "integer"
          },
          "decidedBy": {
            "description": "DecidedBy is who answered it.",
            "type": "string"
          },
          "email": {
            "description": "Email is the address that asked, as stated and UNVERIFIED — it names a party\nand proves nothing, which is why the grant is addressed to it rather than\ntrusting it.",
            "type": "string"
          },
          "expiresAt": {
            "description": "ExpiresAt is when a granted ask closes, in unix milliseconds.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the request's id.",
            "type": "string"
          },
          "item": {
            "description": "Item is the item asked for, empty when the whole released tier was asked for.",
            "type": "string"
          },
          "link": {
            "description": "Link is the share link a granted ask became.",
            "type": "string"
          },
          "nda": {
            "description": "Nda is the text this party accepted, verbatim as it stood when they accepted.",
            "type": "string"
          },
          "note": {
            "description": "Note is what the decider wrote when refusing.",
            "type": "string"
          },
          "party": {
            "description": "Party is the company the asker stated.",
            "type": "string"
          },
          "reason": {
            "description": "Reason is why they said they want it.",
            "type": "string"
          },
          "state": {
            "description": "State is open, granted or refused.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "trustAsked": {
        "properties": {
          "id": {
            "description": "ID is the request's id, so the asker can be told about it later.",
            "type": "string"
          },
          "state": {
            "description": "State is always \"open\": recording an ask decides nothing.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "trustDecision": {
        "properties": {
          "days": {
            "description": "Days is how long the grant stays open, from now. Optional; 14 by default and\n365 at most — a longer release is describing a customer relationship rather\nthan a document.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the request to answer, taken from the path.",
            "type": "string"
          },
          "note": {
            "description": "Note is why. Recorded on the request either way, and it is what the record\nshows a year later.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "trustDesk": {
        "properties": {
          "grants": {
            "description": "Grants is every grant that has been made, newest first.",
            "items": {
              "$ref": "#/components/schemas/trustGrantView"
            },
            "type": "array"
          },
          "items": {
            "description": "Items is everything the org holds, both tiers, retired included.",
            "items": {
              "$ref": "#/components/schemas/trustItemView"
            },
            "type": "array"
          },
          "name": {
            "description": "Name is the centre's display name.",
            "type": "string"
          },
          "nda": {
            "description": "Nda is the text a party must accept before asking.",
            "type": "string"
          },
          "published": {
            "description": "Published is whether the centre answers at its public address.",
            "type": "boolean"
          },
          "requests": {
            "description": "Requests is every ask, newest first, open ones included.",
            "items": {
              "$ref": "#/components/schemas/trustAskView"
            },
            "type": "array"
          },
          "slug": {
            "description": "Slug is the public address, empty until the centre is published.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "trustEdit": {
        "properties": {
          "body": {
            "description": "Body replaces the item's content.",
            "type": "string"
          },
          "document": {
            "description": "Document replaces the file the item points at — this is how a report is\nsuperseded by its next edition. The new document must already exist in the\ncaller org's own store.",
            "type": "string"
          },
          "framework": {
            "description": "Framework replaces the standard it speaks to.",
            "type": "string"
          },
          "id": {
            "description": "ID is the item to change, taken from the path.",
            "type": "string"
          },
          "name": {
            "description": "Name replaces its title.",
            "type": "string"
          },
          "retired": {
            "description": "Retired withdraws the item, or true→false restores it. A retired item leaves\nthe public centre at once and can no longer be granted; grants already made\nover it stand, because they are part of the record.",
            "type": "boolean"
          },
          "summary": {
            "description": "Summary replaces the line about it.",
            "type": "string"
          },
          "tier": {
            "description": "Tier moves it between public and gated. Moving an auditor-signed item to\npublic is refused.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "trustGrantView": {
        "properties": {
          "email": {
            "description": "Email is the one address the link admits.",
            "type": "string"
          },
          "expiresAt": {
            "description": "ExpiresAt is when the grant closes, in unix milliseconds.",
            "type": "integer"
          },
          "item": {
            "description": "Item is the item granted, empty when the whole released tier was granted.",
            "type": "string"
          },
          "link": {
            "description": "Link is the share link's id — the token the party opens. Reading it here does\nnot widen it: the link admits only Email whoever holds the id.",
            "type": "string"
          },
          "live": {
            "description": "Live is whether the grant is still open at the time of reading.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "trustGranted": {
        "properties": {
          "delivery": {
            "description": "Delivery is empty when the asker was mailed, and otherwise says what happened\ninstead — so an approver is never left believing a mail went out that did not.",
            "type": "string"
          },
          "expiresAt": {
            "description": "ExpiresAt is when the grant closes, in unix milliseconds.",
            "type": "integer"
          },
          "link": {
            "description": "Link is the share link's id. The link admits only the address that asked.",
            "type": "string"
          },
          "state": {
            "description": "State is \"granted\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "trustItem": {
        "properties": {
          "available": {
            "description": "Available is \"now\" when the item can be read immediately, or \"on request\"\nwhen it is released only to a party who asks and is answered. It is the one\nfield a page renders the difference from.",
            "type": "string"
          },
          "body": {
            "description": "Body is the item's content, for the kinds that are text rather than a file —\nan article, a subprocessor entry, a note. Empty for anything released on\nrequest: a summary of a document is still the document.",
            "type": "string"
          },
          "framework": {
            "description": "Framework is the standard the item speaks to, when it speaks to one.",
            "type": "string"
          },
          "id": {
            "description": "ID addresses the item — for reading it if it is available now, or for naming\nit in a request if it is not.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what the item is: report, letter, policy, questionnaire,\nsubprocessor, article or update.",
            "type": "string"
          },
          "name": {
            "description": "Name is the item's title.",
            "type": "string"
          },
          "signed": {
            "description": "Signed is \"self\" when the org states it itself and \"auditor\" when an\nindependent auditor put their name to it. It is the reason an item is\navailable now or on request, so a reader can see the rule rather than infer it.",
            "type": "string"
          },
          "summary": {
            "description": "Summary is a line about the item.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when the item last changed, in unix milliseconds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "trustItemView": {
        "properties": {
          "attester": {
            "description": "Attester is who vouched for it: self or auditor.",
            "type": "string"
          },
          "body": {
            "description": "Body is the item's content for the kinds that are text rather than a file.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when it was published, in unix milliseconds.",
            "type": "integer"
          },
          "document": {
            "description": "Document is the data-room document holding its bytes, empty when it has none.",
            "type": "string"
          },
          "framework": {
            "description": "Framework is the standard it speaks to, when it speaks to one.",
            "type": "string"
          },
          "id": {
            "description": "ID addresses the item.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what it is.",
            "type": "string"
          },
          "name": {
            "description": "Name is its title.",
            "type": "string"
          },
          "retired": {
            "description": "Retired is whether it has been withdrawn. A retired item is absent from the\npublic centre and cannot be granted; it is kept because a grant already made\nover it is part of the record.",
            "type": "boolean"
          },
          "summary": {
            "description": "Summary is a line about it.",
            "type": "string"
          },
          "tier": {
            "description": "Tier is public or gated. Gated is the default and an auditor-signed item can\nonly ever be gated.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when it last changed, in unix milliseconds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "trustPage": {
        "properties": {
          "items": {
            "description": "Items is everything the centre publishes: what can be read now, and what\nexists and is released on request.",
            "items": {
              "$ref": "#/components/schemas/trustItem"
            },
            "type": "array"
          },
          "name": {
            "description": "Name is the org's display name for its centre.",
            "type": "string"
          },
          "nda": {
            "description": "Nda is the text a party must accept to ask for the gated items, verbatim.\nEmpty when the org asks for none.",
            "type": "string"
          },
          "slug": {
            "description": "Slug is the centre's public address.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "trustPublish": {
        "properties": {
          "attester": {
            "description": "Attester is who vouched for it: \"self\" for anything the org states itself, or\n\"auditor\" for anything an independent auditor put their name to. REQUIRED, and\nanything other than \"self\" is read as \"auditor\" — the safe direction, since an\nauditor-signed item can only ever be released on request.",
            "type": "string"
          },
          "body": {
            "description": "Body is the item's content for the kinds that are text rather than a file: an\narticle, a subprocessor entry, a dated note.",
            "type": "string"
          },
          "document": {
            "description": "Document is a data-room document holding the item's bytes, uploaded first\nthrough POST /v1/dataroom/documents. Optional: an item can be content with no\nfile. The document must already exist in the caller org's own store.",
            "type": "string"
          },
          "framework": {
            "description": "Framework is the standard it speaks to. Optional and free text — the value is\nthe org's own, not a list this API keeps.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what the item is: report, letter, policy, questionnaire, subprocessor,\narticle or update. Required.",
            "type": "string"
          },
          "name": {
            "description": "Name is the item's title. Required.",
            "type": "string"
          },
          "summary": {
            "description": "Summary is a line about it. Optional.",
            "type": "string"
          },
          "tier": {
            "description": "Tier is who may read it: \"public\" or \"gated\". It DEFAULTS TO GATED and\nanything that is not exactly \"public\" is gated, so an item published by a\ncaller that says nothing is private and someone has to release it on purpose.\n\"public\" is refused for an auditor-signed item.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "trustRefused": {
        "properties": {
          "state": {
            "description": "State is \"refused\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "trustRoster": {
        "properties": {
          "grants": {
            "description": "Grants is how many grants that org has made.",
            "type": "integer"
          },
          "items": {
            "description": "Items is how many items it publishes, retired excluded.",
            "type": "integer"
          },
          "name": {
            "description": "Name is the centre's display name.",
            "type": "string"
          },
          "open": {
            "description": "Open is how many requests are waiting on it — the number that says whether\nanybody is being kept waiting.",
            "type": "integer"
          },
          "org": {
            "description": "Org is the tenant that owns it.",
            "type": "string"
          },
          "slug": {
            "description": "Slug is its public address.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "trustRosters": {
        "properties": {
          "centers": {
            "description": "Centers is every published centre, by address.",
            "items": {
              "$ref": "#/components/schemas/trustRoster"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "trustSettings": {
        "properties": {
          "name": {
            "description": "Name is the centre's display name. Required to publish.",
            "type": "string"
          },
          "nda": {
            "description": "Nda is the text a party must accept before asking for a document. Optional;\nempty asks for no acceptance. The text in force is copied onto each request as\nit is accepted, so editing it never changes what anyone already agreed to.",
            "type": "string"
          },
          "publish": {
            "description": "Publish makes the centre answer at its public address. False withdraws it: the\naddress stops answering while every item, grant and record stays exactly as it\nwas, so withdrawing is reversible and loses nothing.",
            "type": "boolean"
          },
          "slug": {
            "description": "Slug is the public address to answer at — a lowercase label of letters,\ndigits and hyphens. Required to publish, unique across the deployment, and one\norg holds one: publishing under a new address MOVES the centre rather than\nleaving the old one answering.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
