{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package knowledge is your team's wiki and your agents' memory, searchable by meaning.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "knowledge"
    }
  ],
  "paths": {
    "/v1/knowledge/connectors": {
      "get": {
        "operationId": "get_knowledge_connectors",
        "summary": "Returns every supported knowledge connector with THIS org's connection state and the REAL number of documents each has ingested into the org's store.",
        "description": "Returns every supported knowledge connector with THIS org's\nconnection state and the REAL number of documents each has ingested into the\norg's store. A provider that is configured for the deployment but not yet\nconnected appears as disconnected, so the console can offer a Connect button.\nNo secret is ever returned.",
        "tags": [
          "knowledge"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kbConnectorsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/knowledge/connectors/catalog": {
      "get": {
        "operationId": "get_knowledge_connectors_catalog",
        "summary": "Returns the ONE catalog of everything a caller can connect: every first-party connector and every long-tail one, in a single list sorted by provider.",
        "description": "Returns the ONE catalog of everything a caller can\nconnect: every first-party connector and every long-tail one, in a single list\nsorted by provider. `configured` reports whether this deployment holds OAuth\ncredentials for a source, so the console can show Connect rather than a dead\nbutton, and `kind` is a badge only — the connect and sync lifecycle is\nidentical for both. The catalog itself is org-independent; a validated\nprincipal is still required. It is metadata only: no secret is ever returned.",
        "tags": [
          "knowledge"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "connectors": [
                    {
                      "configured": true,
                      "description": "Repositories, READMEs, and issues.",
                      "displayName": "GitHub",
                      "kind": "native",
                      "provider": "github"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/catalogOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/knowledge/connectors/{provider}": {
      "delete": {
        "operationId": "delete_knowledge_connectors_by_provider",
        "summary": "Revokes a connection: it tombstones the stored credential so a later sync cannot reuse it, purges this provider's points from the org's vector namespace, and marks the connector disconnected.",
        "description": "Revokes a connection: it tombstones the stored credential\nso a later sync cannot reuse it, purges this provider's points from the org's\nvector namespace, and marks the connector disconnected. The documents already\ningested stay in the org's store — they are the org's own data — but stop being\nretrievable by search; a caller deletes them through the document surface.",
        "tags": [
          "knowledge"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the connector to act on: github, slack, google or notion.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/connectionOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/knowledge/connectors/{provider}/callback": {
      "get": {
        "operationId": "get_knowledge_connectors_by_provider_callback",
        "summary": "CompleteConnectorOAuth finishes an OAuth connection: it exchanges the provider's code for a token, seals that token in KMS, and records the connection.",
        "description": "CompleteConnectorOAuth finishes an OAuth connection: it exchanges the\nprovider's code for a token, seals that token in KMS, and records the\nconnection. THE ORG COMES FROM THE SIGNED STATE, not from a header and not from\nthe provider, so an attacker cannot bind their own account to someone else's\norg — a tampered, expired or foreign-provider state is refused outright. The\ntoken itself is never returned, never written into the document, and never\nlogged; the document holds only its KMS path.",
        "tags": [
          "knowledge"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the connector completing its flow, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "Code is the provider's authorization code, exchanged for a token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "State is the org-bound value this server signed at connect time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "description": "Error is the provider's denial reason when the user refused consent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/connectionOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/knowledge/connectors/{provider}/connect": {
      "get": {
        "operationId": "get_knowledge_connectors_by_provider_connect",
        "summary": "StartConnectorOAuth returns the provider authorize URL the console opens to connect this org's account.",
        "description": "StartConnectorOAuth returns the provider authorize URL the console opens to\nconnect this org's account. There is no server-side redirect — the console\nstays in control of the navigation. The URL carries a state this server SIGNED\nover the caller's validated org, so the connection the callback completes can\nonly ever land in that org.",
        "tags": [
          "knowledge"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the connector to act on: github, slack, google or notion.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kbAuthorizeOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/knowledge/connectors/{provider}/sync": {
      "post": {
        "operationId": "post_knowledge_connectors_by_provider_sync",
        "summary": "Pulls the provider's documents for the caller's org and files them as knowledge sources, which the store's own hook then indexes — so a synced document is retrievable exactly like a hand-written page.",
        "description": "Pulls the provider's documents for the caller's org and files\nthem as knowledge sources, which the store's own hook then indexes — so a\nsynced document is retrievable exactly like a hand-written page. The org is the\nvalidated tenant and the credential is read from KMS, so an org can only ever\nsync its own connection. A provider failure is reported honestly (502) and\nrecorded on the connector rather than silently swallowed.",
        "tags": [
          "knowledge"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the connector to act on: github, slack, google or notion.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kbSyncOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/knowledge/graph": {
      "get": {
        "operationId": "get_knowledge_graph",
        "summary": "Returns the caller org's knowledge as a node/edge graph shaped for a force-directed renderer: pages, memories and synced sources as nodes; the page parent tree, the wikilinks between pages, and each source's connector provenance as edges.",
        "description": "Returns the caller org's knowledge as a node/edge graph\nshaped for a force-directed renderer: pages, memories and synced sources as\nnodes; the page parent tree, the wikilinks between pages, and each source's\nconnector provenance as edges. Wikilink targets are resolved HERE by title or\nslug, so a rename never needs an edge rewrite and a link that matches no page\nrenders as its own \"unresolved\" node instead of vanishing. ?project= narrows\nit. A store outage degrades to an honest empty graph, never a 5xx.",
        "tags": [
          "knowledge"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project narrows the graph to one project scope. Empty reads the whole org.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/graphOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/knowledge/import": {
      "post": {
        "operationId": "post_knowledge_import",
        "summary": "Import an Obsidian, Notion, Roam or Evernote export into the org's knowledge base",
        "description": "Ingests an uploaded export as a tree of kb-page documents with its link structure intact. `?format=` picks the normalizer — obsidian, notion, roam or evernote — and the export arrives as a multipart `file` part, or as the raw request body when there is no multipart part: an Obsidian or Notion vault zip, a Roam JSON (raw or inside the zip Roam downloads), or an Evernote .enex.\n\nThe pages are filed through the SAME ingest path a connector sync uses, so the kb-page hook indexes each one for retrieval AND extracts its `[[wikilinks]]` into kb-link edges — the imported vault is searchable and its graph is navigable without a second pass. Parents are filed before their children, and each page takes a slug unique within the org (suffixed -2, -3, … on collision), so a re-import adds pages rather than overwriting the ones already there.\n\nScoped to the caller's validated org; `?project=` narrows every imported page to one project. No validated principal is 403, and an org that has not installed the kb module is refused with the install call to make first. The bounds are 64 MB per upload, 5000 pages and 8 MB per archive entry: pages past the five-thousandth are dropped and a larger entry is truncated at its bound, and a page the store rejects is skipped — so the answer's `imported` count is what was actually filed, not what was sent.",
        "tags": [
          "knowledge"
        ],
        "x-public": true
      }
    },
    "/v1/knowledge/search": {
      "post": {
        "operationId": "post_knowledge_search",
        "summary": "Runs a semantic search over the caller org's own knowledge — its wiki pages, its agent memories and everything its connectors have synced — and returns the matching passages.",
        "description": "Runs a semantic search over the caller org's own knowledge —\nits wiki pages, its agent memories and everything its connectors have synced —\nand returns the matching passages. This is the RAG entry point: an agent asks\n\"what does this org know about X\" and the org's OWN vector namespace answers.\nThe org comes from the validated principal, and both the collection and the\npayload filter are pinned to it, so cross-tenant retrieval is impossible. An\nunreachable index returns an honest empty result set with degraded=true, never\na 5xx.",
        "tags": [
          "knowledge"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "limit": 5,
                "query": "how do we rotate the signing key"
              },
              "schema": {
                "$ref": "#/components/schemas/searchIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "catalogEntry": {
        "properties": {
          "configured": {
            "description": "Configured is whether THIS DEPLOYMENT holds the OAuth client credentials for\nthe provider. False means Connect would dead-end, so the console can offer it\ndisabled instead of broken. It is deployment-wide and says nothing about\nwhether the caller's org has connected the source — that is the connector\nlist's `status`.",
            "type": "boolean"
          },
          "description": {
            "description": "Description is one line of shop copy: what connecting this source pulls in.\nNative connectors carry written prose; a piece-backed one reads\n\"activepieces connector (\u003cpiece\u003e)\".",
            "type": "string"
          },
          "displayName": {
            "description": "DisplayName is the label to show a person. First-party connectors carry a\nwritten name (\"GitHub\", \"Google Drive\"); a piece-backed one falls back to the\nprovider capitalized, because the rich activepieces metadata lives behind a\ncross-service call this read will not make.",
            "type": "string"
          },
          "kind": {
            "description": "\"native\" | \"piece\"",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the source's id and the address every connector op takes it by\n(/v1/knowledge/connectors/:provider). One of github, slack, google, notion.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "catalogOut": {
        "properties": {
          "connectors": {
            "description": "Connectors is every connectable source, sorted by provider.",
            "items": {
              "$ref": "#/components/schemas/catalogEntry"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "connectionOut": {
        "properties": {
          "account": {
            "description": "Account names the connected external account, when the provider reports one.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the connector this answer is about.",
            "type": "string"
          },
          "status": {
            "description": "Status is the connection state: connected or disconnected.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "connectorView": {
        "properties": {
          "account": {
            "description": "Account names the connected external account. Absent until the org connects.",
            "type": "string"
          },
          "configured": {
            "description": "Configured is true when this deployment holds OAuth credentials for the provider.",
            "type": "boolean"
          },
          "docCount": {
            "description": "DocCount is the live count of this provider's documents in the org's store.",
            "type": "integer"
          },
          "error": {
            "description": "Error is the last sync failure, if any. Absent until the org connects.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is \"native\" for a first-party Go connector, \"piece\" for a long-tail one.",
            "type": "string"
          },
          "lastSync": {
            "description": "LastSync is when the last pull finished. Absent until the org connects.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the connector's id.",
            "type": "string"
          },
          "status": {
            "description": "Status is connected, disconnected, syncing or error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "graphEdge": {
        "properties": {
          "from": {
            "description": "From is the id of the node the edge starts at: the child page for a parent\nedge, the page holding the wikilink for a link edge, the kb-source for a\nprovenance edge. Always one of Nodes.",
            "type": "string"
          },
          "kind": {
            "description": "parent | link | provenance",
            "type": "string"
          },
          "to": {
            "description": "To is the id of the node the edge points at: the parent page, the linked\npage, the kb-connector. Always one of Nodes — a wikilink matching no page\npoints at a synthetic \"unresolved:\u003clowercased title\u003e\" node rather than\ndangling.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "graphNode": {
        "properties": {
          "id": {
            "description": "\"\u003cdoctype\u003e:\u003cname\u003e\" — globally unique, click-to-open key",
            "type": "string"
          },
          "name": {
            "description": "the document name (empty for synthetic nodes)",
            "type": "string"
          },
          "project": {
            "description": "Project is the project scope the underlying document was saved under. Absent\nfor a document saved with none, and for the synthetic nodes — unresolved link\ntargets and connectors belong to no project. When ?project= narrows the\ngraph, every page, memory and source node carries that value.",
            "type": "string"
          },
          "title": {
            "description": "display label",
            "type": "string"
          },
          "type": {
            "description": "kb-page | kb-memory | kb-source | kb-connector | unresolved",
            "type": "string"
          }
        },
        "type": "object"
      },
      "graphOut": {
        "properties": {
          "degraded": {
            "description": "Degraded is true when the store was unreachable and this graph is honestly\nempty rather than wrong. Absent on a normal answer.",
            "type": "boolean"
          },
          "edges": {
            "description": "Edges are the parent tree, the resolved wikilinks and the connector provenance.",
            "items": {
              "$ref": "#/components/schemas/graphEdge"
            },
            "type": "array"
          },
          "nodes": {
            "description": "Nodes are the pages, memories, sources, connectors and unresolved link targets.",
            "items": {
              "$ref": "#/components/schemas/graphNode"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "hit": {
        "properties": {
          "doctype": {
            "description": "DocType is which kind of knowledge matched: kb-page (a wiki page), kb-memory\n(a unit of agent memory) or kb-source (a document a connector ingested).\nThose three are the whole indexed set, and searchIn.DocTypes filters on them.",
            "type": "string"
          },
          "name": {
            "description": "Name is the document's name in the framework store — the id to read or open\nit with. Unique per (org, doctype), so it identifies the document with\nDocType and not alone.",
            "type": "string"
          },
          "project": {
            "description": "Project is the project scope the document was saved under. Absent for a\ndocument saved with none, which is also why a project-scoped query cannot\nreach it.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the connector that ingested the document — github, slack, google\nor notion. Absent for a page or memory written in the product, which came\nfrom no connector.",
            "type": "string"
          },
          "score": {
            "description": "Score is the cosine similarity between the query's embedding and the\ndocument's, from -1 to 1, higher being closer — the collection is created\nwith Cosine distance. Hits arrive ordered by it, descending. There is no\nabsolute cutoff: what counts as a good score moves with the query and the\nembedding model, so compare scores within one response and not across\nqueries.",
            "type": "number"
          },
          "title": {
            "description": "Title is the document's title as it was indexed. Empty for a document saved\nwithout one; it is a label to show, never the id (that is Name).",
            "type": "string"
          },
          "url": {
            "description": "URL is the document's link back into the app it was ingested from. Absent\nwhen the indexed payload carries none, which is the normal case for pages and\nmemories.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "kbAuthorizeOut": {
        "properties": {
          "authorizeUrl": {
            "description": "AuthorizeURL is the provider's authorize endpoint with an org-bound signed state.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "kbConnectorsOut": {
        "properties": {
          "connectors": {
            "description": "Connectors is every supported provider with this org's connection state.",
            "items": {
              "$ref": "#/components/schemas/connectorView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "kbSyncOut": {
        "properties": {
          "ingested": {
            "description": "Ingested is how many documents landed in the org's knowledge store.",
            "type": "integer"
          },
          "provider": {
            "description": "Provider is the connector that was pulled.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "searchIn": {
        "properties": {
          "doctypes": {
            "description": "DocTypes restricts retrieval to a subset of the indexed knowledge doctypes\n(kb-page, kb-memory, kb-source). An empty or foreign list reads all of them.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "limit": {
            "description": "Limit bounds the hits returned. Default 10, maximum 50.",
            "type": "integer"
          },
          "project": {
            "description": "Project narrows retrieval to one project scope.",
            "type": "string"
          },
          "query": {
            "description": "Query is the natural-language question. Required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "searchOut": {
        "properties": {
          "degraded": {
            "description": "Degraded is true when the index was unreachable and this answer is honestly\nempty rather than wrong — a RAG caller continues with no context instead of\nfailing the turn. Absent on a normal answer.",
            "type": "boolean"
          },
          "hits": {
            "description": "Hits are the matching passages, most relevant first.",
            "items": {
              "$ref": "#/components/schemas/hit"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
