{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "plans"
    }
  ],
  "paths": {
    "/v1/plans": {
      "get": {
        "operationId": "get_v1_plans",
        "tags": [
          "plans"
        ]
      }
    },
    "/v1/plans/blockchain": {
      "get": {
        "operationId": "get_v1_plans_blockchain",
        "tags": [
          "plans"
        ]
      }
    },
    "/v1/plans/cloud": {
      "get": {
        "operationId": "get_v1_plans_cloud",
        "tags": [
          "plans"
        ]
      }
    },
    "/v1/plans/dns": {
      "get": {
        "operationId": "get_v1_plans_dns",
        "tags": [
          "plans"
        ]
      }
    },
    "/v1/plans/entitlements/{id}": {
      "get": {
        "operationId": "get_v1_plans_entitlements_by_id",
        "tags": [
          "plans"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/plans/gpu": {
      "get": {
        "operationId": "get_v1_plans_gpu",
        "tags": [
          "plans"
        ]
      }
    },
    "/v1/plans/health": {
      "get": {
        "operationId": "get_v1_plans_health",
        "tags": [
          "plans"
        ]
      }
    },
    "/v1/plans/policy": {
      "get": {
        "operationId": "get_v1_plans_policy",
        "tags": [
          "plans"
        ]
      }
    },
    "/v1/plans/regions": {
      "get": {
        "operationId": "get_v1_plans_regions",
        "tags": [
          "plans"
        ]
      }
    },
    "/v1/plans/resolve/{id}": {
      "get": {
        "operationId": "get_v1_plans_resolve_by_id",
        "tags": [
          "plans"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/plans/schema": {
      "get": {
        "operationId": "get_v1_plans_schema",
        "tags": [
          "plans"
        ]
      }
    },
    "/v1/plans/storage": {
      "get": {
        "operationId": "get_v1_plans_storage",
        "tags": [
          "plans"
        ]
      }
    },
    "/v1/plans/subscriptions": {
      "get": {
        "operationId": "get_v1_plans_subscriptions",
        "tags": [
          "plans"
        ]
      }
    },
    "/v1/plans/tools": {
      "get": {
        "operationId": "get_v1_plans_tools",
        "tags": [
          "plans"
        ]
      }
    },
    "/v1/plans/vocab": {
      "get": {
        "operationId": "get_v1_plans_vocab",
        "tags": [
          "plans"
        ]
      }
    }
  }
}
