{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "compliance"
    }
  ],
  "paths": {
    "/v1/compliance/accreditation": {
      "get": {
        "operationId": "get_v1_compliance_accreditation",
        "summary": "ListAccreditation returns the org's tracked accreditation-state records, newest",
        "description": "ListAccreditation returns the org's tracked accreditation-state records, newest\nfirst — evidence entries the org keeps, never a platform certification.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; non-positive means the server default.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_compliance_accreditation",
        "summary": "CreateAccreditation records an ASSERTED accreditation state for a subject — the\nsubject's own assertion, with no verifier.",
        "description": "CreateAccreditation records an ASSERTED accreditation state for a subject — the\nsubject's own assertion, with no verifier. Every CONFIRMED state\n(provider_verified, reviewer_confirmed) and every rejected/expired state is a\nDECISION recorded via the decision endpoint, attributed to the reviewer — a\ncreate can never stamp a confirmation. The underlying figures (income, net\nworth) are never stored; only the method, category, and state.",
        "tags": [
          "compliance"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "basis": "income",
                "method": "self_attested",
                "subjectId": "sub_1"
              },
              "schema": {
                "$ref": "#/components/schemas/accreditationReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/compliance/accreditation/{id}": {
      "get": {
        "operationId": "get_v1_compliance_accreditation_id",
        "summary": "GetAccreditation returns one tracked accreditation record.",
        "description": "GetAccreditation returns one tracked accreditation record.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the accreditation record to read, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "acc_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/compliance/accreditation/{id}/decision": {
      "post": {
        "operationId": "post_v1_compliance_accreditation_id_decision",
        "summary": "DecideAccreditation records an org reviewer's decision on an accreditation\nrecord — a reviewer confirmation, a provider verification the reviewer has\nevidence of (a CPA/attorney letter, a verifier report), a rejection, or an\nexpiry.",
        "description": "DecideAccreditation records an org reviewer's decision on an accreditation\nrecord — a reviewer confirmation, a provider verification the reviewer has\nevidence of (a CPA/attorney letter, a verifier report), a rejection, or an\nexpiry. ROLE-GATED (an org admin or platform reviewer) and ATTRIBUTED: the\nreviewer's identity is recorded as ReviewerSub and audited. Human-in-the-loop:\nthe platform never confirms on its own, and even a provider_verified state\ncarries the reviewer who recorded it.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the accreditation record to decide, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "acc_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "acc_1",
                "status": "reviewer_confirmed"
              },
              "schema": {
                "$ref": "#/components/schemas/accreditationDecision"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/compliance/audit": {
      "get": {
        "operationId": "get_v1_compliance_audit",
        "summary": "AuditRead is the compliance-scoped read of the SHARED tamper-evident audit plane —\nthe SOC 2 posture surface (privileged actions: who started/decided what, when).",
        "description": "AuditRead is the compliance-scoped read of the SHARED tamper-evident audit plane —\nthe SOC 2 posture surface (privileged actions: who started/decided what, when). The\norg is PINNED to the caller's validated org and the rows are narrowed to\ncompliance.* actions. Fail-closed: no principal is a 403, no configured audit\nstore a 501.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "result",
            "in": "query",
            "required": false,
            "description": "Result filters rows by outcome result: success, deny, or error; empty means all.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auditList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/compliance/health": {
      "get": {
        "operationId": "get_v1_compliance_health",
        "summary": "Health reports subsystem liveness and the wired verification provider.",
        "description": "Health reports subsystem liveness and the wired verification provider. Fail-open\non purpose: it never probes the external provider, so a provider outage cannot\nfail liveness.",
        "tags": [
          "compliance"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/healthView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/compliance/records": {
      "get": {
        "operationId": "get_v1_compliance_records",
        "summary": "ListRecords is the unified compliance-record view for the org: its verifications\nand accreditation records together, each provider-reported or tracked, never\nplatform-asserted.",
        "description": "ListRecords is the unified compliance-record view for the org: its verifications\nand accreditation records together, each provider-reported or tracked, never\nplatform-asserted. PII stays in the subject store; records carry only opaque ids\nand statuses.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; non-positive means the server default.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recordList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/compliance/status": {
      "get": {
        "operationId": "get_v1_compliance_status",
        "summary": "Status is the org's honest posture read: the wired provider and the per-status\ntally of its verifications.",
        "description": "Status is the org's honest posture read: the wired provider and the per-status\ntally of its verifications. It is deliberately NOT a boolean \"compliant\" — it\nreports counts of provider-reported states and carries the boundary disclaimer.",
        "tags": [
          "compliance"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/statusView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/compliance/subjects": {
      "get": {
        "operationId": "get_v1_compliance_subjects",
        "summary": "ListSubjects returns the org's subjects as PII-MINIMIZED summaries — no name or\nemail, only whether an email is on file.",
        "description": "ListSubjects returns the org's subjects as PII-MINIMIZED summaries — no name or\nemail, only whether an email is on file. The full record is returned only by the\nexplicit single-subject read.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; non-positive means the server default.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subjectList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_compliance_subjects",
        "summary": "CreateSubject records a party the org is verifying as part of its own\nonboarding/compliance — a team member, vendor, customer, or counterparty.",
        "description": "CreateSubject records a party the org is verifying as part of its own\nonboarding/compliance — a team member, vendor, customer, or counterparty. The\nsubject's contact PII (name/email) is sealed at rest and returned only to the\nowning org; downstream records reference the subject by opaque id.",
        "tags": [
          "compliance"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "founder@example.com",
                "kind": "individual",
                "name": "Ada"
              },
              "schema": {
                "$ref": "#/components/schemas/subjectReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subject"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/compliance/subjects/{id}": {
      "get": {
        "operationId": "get_v1_compliance_subjects_id",
        "summary": "GetSubject returns one subject WITH its contact PII — the only surface that\nreturns it, and only to the owning org.",
        "description": "GetSubject returns one subject WITH its contact PII — the only surface that\nreturns it, and only to the owning org. The response is never cached by any\nintermediary.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the subject to read, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sub_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subject"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/compliance/verifications": {
      "get": {
        "operationId": "get_v1_compliance_verifications",
        "summary": "ListVerifications returns the org's KYC/KYB verifications, newest first — opaque",
        "description": "ListVerifications returns the org's KYC/KYB verifications, newest first — opaque\nsubject references and provider-reported statuses only, no subject PII.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; non-positive means the server default.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/checkList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_compliance_verifications",
        "summary": "StartVerification begins a KYC/KYB verification of a subject through the wired",
        "description": "StartVerification begins a KYC/KYB verification of a subject through the wired\nprovider — an existing subject by id, or one created inline from the request.\nThe returned status is provider-reported and never terminal on a fresh start:\nstarting a verification can never yield a verified record, and a provider error\nis a 502, never a verification.",
        "tags": [
          "compliance"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "subjectId": "sub_1"
              },
              "schema": {
                "$ref": "#/components/schemas/verificationReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/checkView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/compliance/verifications/webhook": {
      "post": {
        "operationId": "post_v1_compliance_verifications_webhook",
        "tags": [
          "compliance"
        ]
      }
    },
    "/v1/compliance/verifications/{id}": {
      "get": {
        "operationId": "get_v1_compliance_verifications_id",
        "summary": "GetVerification returns one verification — its opaque subject reference and",
        "description": "GetVerification returns one verification — its opaque subject reference and\nprovider-reported status, no subject PII.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the verification to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "chk_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/checkView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/compliance/verifications/{id}/decision": {
      "post": {
        "operationId": "post_v1_compliance_verifications_id_decision",
        "summary": "DecideVerification records a privileged reviewer's MANUAL decision on a\nverification — the human-in-the-loop path, and the ONLY route to a passing status\nwhen no real provider is wired.",
        "description": "DecideVerification records a privileged reviewer's MANUAL decision on a\nverification — the human-in-the-loop path, and the ONLY route to a passing status\nwhen no real provider is wired. It produces a DISTINCT reviewer_confirmed, never\na provider_verified (a provider decision is the provider's to report, via the\nwebhook or a reconcile), and it is ROLE-GATED (an org admin or platform reviewer)\nAND ATTRIBUTED (the reviewer's user id is DecidedBy), so a manual pass is always\naccountable.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the verification to decide, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "chk_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "chk_1",
                "status": "reviewer_confirmed"
              },
              "schema": {
                "$ref": "#/components/schemas/verificationDecision"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/checkView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/compliance/verifications/{id}/refresh": {
      "post": {
        "operationId": "post_v1_compliance_verifications_id_refresh",
        "summary": "RefreshVerification polls the wired provider for its current decision and\nrecords it, ATTRIBUTED to the provider — the internal PULL reconcile.",
        "description": "RefreshVerification polls the wired provider for its current decision and\nrecords it, ATTRIBUTED to the provider — the internal PULL reconcile. For the\nManual provider the check stays pending; for a hosted provider it reflects the\nprovider's settled status. A poll error is a 502, never a verification.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the verification to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "chk_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "chk_1"
              },
              "schema": {
                "$ref": "#/components/schemas/verificationRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/checkView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Subject": {
        "properties": {
          "createdAt": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "ref": {
            "description": "the org's own opaque external id for this subject",
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Wire": {
        "properties": {
          "action": {
            "type": "string"
          },
          "authMethod": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "home": {
            "type": "string"
          },
          "isAdmin": {
            "type": "boolean"
          },
          "method": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "prevHash": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "resource": {
            "type": "string"
          },
          "resourceId": {
            "type": "string"
          },
          "result": {
            "type": "string"
          },
          "seq": {
            "type": "integer"
          },
          "sourceIp": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "sub": {
            "type": "string"
          },
          "time": {
            "type": "string"
          },
          "userAgent": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "accList": {
        "properties": {
          "data": {
            "description": "Data is the org's tracked accreditation records, newest first.",
            "items": {
              "$ref": "#/components/schemas/accView"
            },
            "type": "array"
          },
          "disclaimer": {
            "description": "Disclaimer states that statuses are tracked or provider-reported, never a\nplatform assertion of legal or regulatory compliance.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "accView": {
        "properties": {
          "basis": {
            "description": "Basis is the qualification category: income, net_worth, professional_license,\nor entity.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is the unix second the record was created.",
            "type": "integer"
          },
          "evidenceDocId": {
            "description": "EvidenceDocID references an evidence document in the org's sealed data room.",
            "type": "string"
          },
          "expiresAt": {
            "description": "ExpiresAt is the unix second a confirmation ages out; 0 means none.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the accreditation record's opaque id.",
            "type": "string"
          },
          "method": {
            "description": "Method is how the state was established: self_attested, third_party_letter,\nor provider_verified.",
            "type": "string"
          },
          "note": {
            "description": "Note is a non-PII operator note.",
            "type": "string"
          },
          "reviewerSub": {
            "description": "ReviewerSub is the org user who recorded a decision on this record.",
            "type": "string"
          },
          "status": {
            "description": "Status is the tracked state: asserted, provider_verified, reviewer_confirmed,\nrejected, or expired.",
            "type": "string"
          },
          "subjectId": {
            "description": "SubjectID is the opaque id of the subject the record is about.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is the unix second the record last changed.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "accreditationDecision": {
        "properties": {
          "id": {
            "description": "ID is the accreditation record to decide, from the path.",
            "type": "string"
          },
          "status": {
            "description": "Status is the decision being recorded: reviewer_confirmed, provider_verified,\nrejected, or expired.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "accreditationReq": {
        "properties": {
          "basis": {
            "description": "Basis is the qualification category: income, net_worth, professional_license,\nor entity.",
            "type": "string"
          },
          "evidenceDocId": {
            "description": "EvidenceDocID references an evidence document in the org's sealed data room.",
            "type": "string"
          },
          "expiresAt": {
            "description": "ExpiresAt is the unix second a confirmation ages out; 0 means none.",
            "type": "integer"
          },
          "method": {
            "description": "Method is how the state was established: self_attested, third_party_letter,\nor provider_verified.",
            "type": "string"
          },
          "note": {
            "description": "Note is a non-PII operator note.",
            "type": "string"
          },
          "status": {
            "description": "Status may only be \"asserted\" (empty reads as asserted); every confirmed,\nrejected or expired state is recorded via the decision endpoint.",
            "type": "string"
          },
          "subjectId": {
            "description": "SubjectID names the subject this record is about; it must exist within the org.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "auditList": {
        "properties": {
          "data": {
            "description": "Data is the org's compliance.* audit rows, newest first.",
            "items": {
              "$ref": "#/components/schemas/Wire"
            },
            "type": "array"
          },
          "disclaimer": {
            "description": "Disclaimer states that statuses are provider-reported or tracked, never a\nplatform assertion of legal or regulatory compliance.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "checkList": {
        "properties": {
          "data": {
            "description": "Data is the org's verifications, newest first, without subject PII.",
            "items": {
              "$ref": "#/components/schemas/checkView"
            },
            "type": "array"
          },
          "disclaimer": {
            "description": "Disclaimer states that statuses are provider-reported, never a platform\nassertion of legal or regulatory compliance.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "checkView": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is the unix second the verification was started.",
            "type": "integer"
          },
          "decidedAt": {
            "description": "DecidedAt is the unix second a terminal status was recorded.",
            "type": "integer"
          },
          "decidedBy": {
            "description": "DecidedBy records who settled a terminal status: the provider name, or a\nreviewer's user id for a recorded manual decision.",
            "type": "string"
          },
          "id": {
            "description": "ID is the verification's opaque id.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the party type: \"individual\" (KYC) or \"business\" (KYB).",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the verification provider this check runs through.",
            "type": "string"
          },
          "status": {
            "description": "Status is the check's state: pending, provider_verified, provider_rejected,\nmanual_review, or expired (provider-reported), or reviewer_confirmed — the\none value a privileged human reviewer records, never a provider.",
            "type": "string"
          },
          "subjectId": {
            "description": "SubjectID is the opaque id of the subject under verification.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is the unix second the verification last changed.",
            "type": "integer"
          },
          "verifyUrl": {
            "description": "VerifyURL is the provider's hosted verification flow for the subject, when one exists.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "healthView": {
        "properties": {
          "provider": {
            "description": "Provider is the wired verification provider's name (\"manual\" by default).",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" when the subsystem is live.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "recordList": {
        "properties": {
          "accreditation": {
            "description": "Accreditation is the org's tracked accreditation-state records.",
            "items": {
              "$ref": "#/components/schemas/accView"
            },
            "type": "array"
          },
          "disclaimer": {
            "description": "Disclaimer states that statuses are provider-reported or tracked, never a\nplatform assertion of legal or regulatory compliance.",
            "type": "string"
          },
          "verifications": {
            "description": "Verifications is the org's KYC/KYB checks, provider-reported statuses only.",
            "items": {
              "$ref": "#/components/schemas/checkView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "statusView": {
        "properties": {
          "disclaimer": {
            "description": "Disclaimer states that statuses are provider-reported, never a platform\nassertion of legal or regulatory compliance.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the wired verification provider's name.",
            "type": "string"
          },
          "verifications": {
            "$ref": "#/components/schemas/verificationTally",
            "description": "Verifications tallies the org's verifications by provider-reported status."
          }
        },
        "type": "object"
      },
      "subjectList": {
        "properties": {
          "data": {
            "description": "Data is the org's subjects, newest first, without contact PII.",
            "items": {
              "$ref": "#/components/schemas/subjectSummary"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "subjectReq": {
        "properties": {
          "email": {
            "description": "Email is the subject's contact email, sealed at rest.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the party type: \"individual\" (KYC) or \"business\" (KYB).",
            "type": "string"
          },
          "name": {
            "description": "Name is the subject's name, sealed at rest.",
            "type": "string"
          },
          "ref": {
            "description": "Ref is the org's own opaque external id for this subject.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "subjectSummary": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is the unix second the subject was recorded.",
            "type": "integer"
          },
          "hasEmail": {
            "description": "HasEmail reports whether a contact email is on file, without exposing it.",
            "type": "boolean"
          },
          "id": {
            "description": "ID is the subject's opaque id.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the party type: \"individual\" (KYC) or \"business\" (KYB).",
            "type": "string"
          },
          "ref": {
            "description": "Ref is the org's own opaque external id for this subject.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "verificationDecision": {
        "properties": {
          "id": {
            "description": "ID is the verification to decide, from the path.",
            "type": "string"
          },
          "status": {
            "description": "Status is the reviewer's decision: \"reviewer_confirmed\" (a pass) or\n\"manual_review\" (withheld for review) — never a provider status.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "verificationRef": {
        "properties": {
          "id": {
            "description": "ID is the verification to act on, from the path.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "verificationReq": {
        "properties": {
          "email": {
            "description": "Email is an inline subject's contact email, sealed at rest.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is an inline subject's party type: \"individual\" (KYC) or \"business\" (KYB).",
            "type": "string"
          },
          "name": {
            "description": "Name is an inline subject's name, sealed at rest.",
            "type": "string"
          },
          "ref": {
            "description": "Ref is the org's own opaque external id for an inline subject.",
            "type": "string"
          },
          "subjectId": {
            "description": "SubjectID names an existing subject to verify; empty creates one inline.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "verificationTally": {
        "properties": {
          "byStatus": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "ByStatus tallies the org's verifications by provider-reported status.",
            "type": "object"
          },
          "total": {
            "description": "Total is the sum over every status.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}
