{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package compliance is your KYC/KYB onboarding, accreditation records, and the evidence trail behind them.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "compliance"
    }
  ],
  "paths": {
    "/v1/compliance/accreditation": {
      "get": {
        "operationId": "get_compliance_accreditation",
        "summary": "Returns the org's tracked accreditation-state records, newest first — evidence entries the org keeps, never a platform certification.",
        "description": "Returns the org's tracked accreditation-state records, newest\nfirst — evidence entries the org keeps, never a platform certification.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; non-positive means the server default.",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_compliance_accreditation",
        "summary": "Records an ASSERTED accreditation state for a subject — the subject's own assertion, with no verifier.",
        "description": "Records an ASSERTED accreditation state for a subject — the\nsubject's own assertion, with no verifier. Every CONFIRMED state\n(provider_verified, reviewer_confirmed) and every rejected/expired state is a\nDECISION recorded via the decision endpoint, attributed to the reviewer — a\ncreate can never stamp a confirmation. The underlying figures (income, net\nworth) are never stored; only the method, category, and state.",
        "tags": [
          "compliance"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "basis": "income",
                "method": "self_attested",
                "subjectId": "sub_1"
              },
              "schema": {
                "$ref": "#/components/schemas/accreditationReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accView"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compliance/accreditation/{id}": {
      "get": {
        "operationId": "get_compliance_accreditation_by_id",
        "summary": "Returns one tracked accreditation record.",
        "description": "Returns one tracked accreditation record.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the accreditation record to read, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "acc_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compliance/accreditation/{id}/decision": {
      "post": {
        "operationId": "post_compliance_accreditation_by_id_decision",
        "summary": "Records an org reviewer's decision on an accreditation record — a reviewer confirmation, a provider verification the reviewer has evidence of (a CPA/attorney letter, a verifier report), a rejection, or an expiry.",
        "description": "Records an org reviewer's decision on an accreditation\nrecord — a reviewer confirmation, a provider verification the reviewer has\nevidence of (a CPA/attorney letter, a verifier report), a rejection, or an\nexpiry. ROLE-GATED (an org admin or platform reviewer) and ATTRIBUTED: the\nreviewer's identity is recorded as ReviewerSub and audited. Human-in-the-loop:\nthe platform never confirms on its own, and even a provider_verified state\ncarries the reviewer who recorded it.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the accreditation record to decide, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "acc_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "acc_1",
                "status": "reviewer_confirmed"
              },
              "schema": {
                "$ref": "#/components/schemas/accreditationDecision"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compliance/audit": {
      "get": {
        "operationId": "get_compliance_audit",
        "summary": "AuditRead is the compliance read of the SHARED tamper-evident audit plane — the SOC 2 posture surface (privileged actions: who started/decided what, when).",
        "description": "AuditRead is the compliance read of the SHARED tamper-evident audit plane —\nthe SOC 2 posture surface (privileged actions: who started/decided what, when). The\norg is PINNED to the caller's validated org and the rows are narrowed to\ncompliance.* actions. Fail-closed: no principal is a 403, no configured audit\nstore a 501.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "result",
            "in": "query",
            "required": false,
            "description": "Result filters rows by outcome result: success, deny, or error; empty means all.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auditList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compliance/health": {
      "get": {
        "operationId": "get_compliance_health",
        "summary": "Health reports subsystem liveness and the wired verification provider.",
        "description": "Health reports subsystem liveness and the wired verification provider. Fail-open\non purpose: it never probes the external provider, so a provider outage cannot\nfail liveness.",
        "tags": [
          "compliance"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/healthView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compliance/records": {
      "get": {
        "operationId": "get_compliance_records",
        "summary": "ListRecords is the unified compliance-record view for the org: its verifications and accreditation records together, each provider-reported or tracked, never platform-asserted.",
        "description": "ListRecords is the unified compliance-record view for the org: its verifications\nand accreditation records together, each provider-reported or tracked, never\nplatform-asserted. PII stays in the subject store; records carry only opaque ids\nand statuses.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; non-positive means the server default.",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recordList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compliance/status": {
      "get": {
        "operationId": "get_compliance_status",
        "summary": "Status is the org's honest posture read: the wired provider and the per-status tally of its verifications.",
        "description": "Status is the org's honest posture read: the wired provider and the per-status\ntally of its verifications. It is deliberately NOT a boolean \"compliant\" — it\nreports counts of provider-reported states and carries the boundary disclaimer.",
        "tags": [
          "compliance"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/statusView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compliance/subjects": {
      "get": {
        "operationId": "get_compliance_subjects",
        "summary": "Returns the org's subjects as PII-MINIMIZED summaries — no name or email, only whether an email is on file.",
        "description": "Returns the org's subjects as PII-MINIMIZED summaries — no name or\nemail, only whether an email is on file. The full record is returned only by the\nexplicit single-subject read.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; non-positive means the server default.",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subjectList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_compliance_subjects",
        "summary": "Records a party the org is verifying as part of its own onboarding/compliance — a team member, vendor, customer, or counterparty.",
        "description": "Records a party the org is verifying as part of its own\nonboarding/compliance — a team member, vendor, customer, or counterparty. The\nsubject's contact PII (name/email) is sealed at rest and returned only to the\nowning org; downstream records reference the subject by opaque id.",
        "tags": [
          "compliance"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "founder@example.com",
                "kind": "individual",
                "name": "Ada"
              },
              "schema": {
                "$ref": "#/components/schemas/subjectReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subject"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compliance/subjects/{id}": {
      "get": {
        "operationId": "get_compliance_subjects_by_id",
        "summary": "Returns one subject WITH its contact PII — the only surface that returns it, and only to the owning org.",
        "description": "Returns one subject WITH its contact PII — the only surface that\nreturns it, and only to the owning org. The response is never cached by any\nintermediary.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the subject to read, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sub_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subject"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compliance/verifications": {
      "get": {
        "operationId": "get_compliance_verifications",
        "summary": "Returns the org's KYC/KYB verifications, newest first — opaque subject references and provider-reported statuses only, no subject PII.",
        "description": "Returns the org's KYC/KYB verifications, newest first — opaque\nsubject references and provider-reported statuses only, no subject PII.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; non-positive means the server default.",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/checkList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_compliance_verifications",
        "summary": "Begins a KYC/KYB verification of a subject through the wired provider — an existing subject by id, or one created inline from the request.",
        "description": "Begins a KYC/KYB verification of a subject through the wired\nprovider — an existing subject by id, or one created inline from the request.\nThe returned status is provider-reported and never terminal on a fresh start:\nstarting a verification can never yield a verified record, and a provider error\nis a 502, never a verification.",
        "tags": [
          "compliance"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "subjectId": "sub_1"
              },
              "schema": {
                "$ref": "#/components/schemas/verificationReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/checkView"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compliance/verifications/webhook": {
      "post": {
        "operationId": "post_compliance_verifications_webhook",
        "summary": "Provider push that settles a verification, authenticated by HMAC signature",
        "description": "The external PUSH reconcile: a verification provider (or a Hanzo relay) signals that a check settled, and the reconciled check comes back. It authenticates by an HMAC SIGNATURE over the RAW body bytes rather than by a principal — an external caller has no validated org — and the org is then resolved FROM the record the signed provider reference matches, so a call can only ever touch the one tenant that owns that reference.\n\nThe body carries NO trusted decision. A valid signature cannot force a status: the reference only says WHICH check to re-read, and the status is then pulled from the wired provider, which stays the source of truth. With no real provider configured a check stays pending, and the only route to a passing status is the role-gated, attributed reviewer decision.\n\nAn unknown reference is a benign 200 `{\"ignored\": ...}` no-op, not an error, so a provider replaying stale events neither retry-storms nor learns whether a reference exists in some other tenant. Fails closed otherwise: 501 unless a webhook secret is configured, 401 on a signature that does not verify, 400 with no provider reference, 413 over 1 MiB, and 502 if the secret or the provider is unreachable.",
        "tags": [
          "compliance"
        ],
        "x-public": true
      }
    },
    "/v1/compliance/verifications/{id}": {
      "get": {
        "operationId": "get_compliance_verifications_by_id",
        "summary": "Returns one verification — its opaque subject reference and provider-reported status, no subject PII.",
        "description": "Returns one verification — its opaque subject reference and\nprovider-reported status, no subject PII.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the verification to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "chk_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/checkView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compliance/verifications/{id}/decision": {
      "post": {
        "operationId": "post_compliance_verifications_by_id_decision",
        "summary": "Records a privileged reviewer's MANUAL decision on a verification — the human-in-the-loop path, and the ONLY route to a passing status when no real provider is wired.",
        "description": "Records a privileged reviewer's MANUAL decision on a\nverification — the human-in-the-loop path, and the ONLY route to a passing status\nwhen no real provider is wired. It produces a DISTINCT reviewer_confirmed, never\na provider_verified (a provider decision is the provider's to report, via the\nwebhook or a reconcile), and it is ROLE-GATED (an org admin or platform reviewer)\nAND ATTRIBUTED (the reviewer's user id is DecidedBy), so a manual pass is always\naccountable.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the verification to decide, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "chk_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "chk_1",
                "status": "reviewer_confirmed"
              },
              "schema": {
                "$ref": "#/components/schemas/verificationDecision"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/checkView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compliance/verifications/{id}/refresh": {
      "post": {
        "operationId": "post_compliance_verifications_by_id_refresh",
        "summary": "Polls the wired provider for its current decision and records it, ATTRIBUTED to the provider — the internal PULL reconcile.",
        "description": "Polls the wired provider for its current decision and\nrecords it, ATTRIBUTED to the provider — the internal PULL reconcile. For the\nManual provider the check stays pending; for a hosted provider it reflects the\nprovider's settled status. A poll error is a 502, never a verification.",
        "tags": [
          "compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the verification to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "chk_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/checkView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "Subject": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when the subject was first recorded, Unix SECONDS.",
            "format": "int64",
            "type": "integer"
          },
          "email": {
            "description": "Email is the party's address, when the org supplied one. It is PII: sealed at\nrest, returned only to the owning org, and never copied into a check record.",
            "type": "string"
          },
          "id": {
            "description": "ID is the opaque handle every other record uses to point at this party. It is\nthe only reference that leaves this type, which is what keeps the PII in one\nplace: a check, an accreditation and an audit row all carry the id and none of\nthem carry the name.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what is being verified: \"individual\" (a natural person, so KYC) or\n\"business\" (a legal entity, so KYB). It decides which provider flow runs.",
            "type": "string"
          },
          "name": {
            "description": "Name is the party's name, under the same PII rule as Email. For a business it\nis the legal entity name rather than a trading name, since that is what a\nprovider verifies against.",
            "type": "string"
          },
          "org": {
            "description": "Org is the tenant that is doing the verifying — the party who must answer for\nthis record, not the party being verified. A subject is returned only to it.",
            "type": "string"
          },
          "ref": {
            "description": "Ref is the org's OWN identifier for this party, carried so a caller can match a\nsubject back to their system without keeping a second mapping. Opaque here:\nnothing in this plane parses or enforces it.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when the subject's own fields last changed, Unix seconds. A check\nmoving to a new status does not touch it — that history lives on the check.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Wire": {
        "properties": {
          "action": {
            "description": "Action is the verb that was performed. It is the event's name, not the HTTP\nmethod — a request-sourced record carries both, and the pair is what makes a\nrow readable (\"grant.create\" at POST /v1/admin/grants).",
            "type": "string"
          },
          "authMethod": {
            "description": "Auth is the credential the actor presented: \"jwt\", \"api-key\", or \"none\".",
            "type": "string"
          },
          "email": {
            "description": "Email is the actor's validated address, absent when the credential carried\nnone. It comes from the verified token, never from a client header.",
            "type": "string"
          },
          "hash": {
            "description": "Hash is this record's SHA-256 over its own canonical JSON with both hash\nfields cleared, folded with prevHash. Recomputing it from the row's other\nfields is what proves the row has not been edited.",
            "type": "string"
          },
          "home": {
            "description": "Home is present ONLY on a cross-org action: the org the actor came FROM,\nwhile Org is the org they acted IN. A console row carrying `home` is a\nplatform-admin impersonation and should be rendered as one.",
            "type": "string"
          },
          "isAdmin": {
            "description": "IsAdmin is the VALIDATED platform-SuperAdmin bit at decision time (membership\nof the reserved admin org), never the client's own claim to be one.",
            "type": "boolean"
          },
          "method": {
            "description": "Method is the HTTP verb, on a record a request produced. Absent on an event\nemitted from inside the binary with no request behind it.",
            "type": "string"
          },
          "org": {
            "description": "Org is the tenant the action was taken IN — the effective org, which for\neveryone but an impersonating SuperAdmin is also the actor's own. Empty on an\nunauthenticated request.",
            "type": "string"
          },
          "path": {
            "description": "Path is the request's route. Any segment shaped like a credential is replaced\nbefore the record is written, so a key that rides in a path is not preserved\nhere by the very control meant to watch it.",
            "type": "string"
          },
          "prevHash": {
            "description": "PrevHash is the hash of record seq-1, which is what links the rows into a\nchain: a deleted or reordered record breaks the recomputation at that point.\nThe first record of a chain carries 64 zeros rather than an empty string, so\n\"start of chain\" and \"field missing\" cannot look alike.",
            "type": "string"
          },
          "reason": {
            "description": "Reason is a short explanation for a deny or an error (\"SuperAdmin required\",\n\"insufficient_balance\"). It is never a secret and never a raw upstream error\nbody; absent on a success.",
            "type": "string"
          },
          "requestId": {
            "description": "RequestID ties this row to the request-line log and any downstream trace — the\nX-Request-Id the pipeline minted for that request.",
            "type": "string"
          },
          "resource": {
            "description": "Resource is the KIND of thing acted upon (\"org\", \"role\", \"secret\",\n\"provider-config\", \"credit\"). Where a mutation has no finer semantics than its\nroute, this is the route family and resourceId is empty — the action and the\npath already pin the object.",
            "type": "string"
          },
          "resourceId": {
            "description": "ResourceID is the specific instance, absent when the kind alone identifies it.",
            "type": "string"
          },
          "result": {
            "description": "Result is how the action ended: \"success\", \"deny\" or \"error\". A deny is a\ndecision this binary made and is as much evidence as a success.",
            "type": "string"
          },
          "seq": {
            "description": "Seq is the record's position in the chain, 0-based and gapless. The Recorder\nassigns it under its own lock, so it is a true total order: seq n+1 was\nwritten after seq n, and a missing number is a missing record.",
            "format": "uint64",
            "type": "integer"
          },
          "sourceIp": {
            "description": "SourceIP is the client address the edge resolved for the request, after the\nproxy chain — the address a responder would act on, not the socket peer.",
            "type": "string"
          },
          "status": {
            "description": "Status is the HTTP status the caller received. It is the outcome as the client\nsaw it, so a 200 carrying a domain refusal still reads 200 here.",
            "format": "int64",
            "type": "integer"
          },
          "sub": {
            "description": "Sub is the acting user (the IAM subject). Empty for a machine principal or an\nanonymous request, which is how a service action is told from a person's.",
            "type": "string"
          },
          "time": {
            "description": "Time is when the action happened, RFC3339Nano in UTC. The stored column has\nthe same precision and sorts the same way, so a client can range and order on\nthis string verbatim.",
            "type": "string"
          },
          "userAgent": {
            "description": "UserAgent is the client the request announced itself as. Client-supplied, so\nit is evidence about what claimed to act, not proof of it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "accList": {
        "properties": {
          "data": {
            "description": "Data is the org's tracked accreditation records, newest first.",
            "items": {
              "$ref": "#/components/schemas/accView"
            },
            "type": "array"
          },
          "disclaimer": {
            "description": "Disclaimer states that statuses are tracked or provider-reported, never a\nplatform assertion of legal or regulatory compliance.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "accView": {
        "properties": {
          "basis": {
            "description": "Basis is the qualification category: income, net_worth, professional_license,\nor entity.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is the unix second the record was created.",
            "format": "int64",
            "type": "integer"
          },
          "evidenceDocId": {
            "description": "EvidenceDocID references an evidence document in the org's sealed data room.",
            "type": "string"
          },
          "expiresAt": {
            "description": "ExpiresAt is the unix second a confirmation ages out; 0 means none.",
            "format": "int64",
            "type": "integer"
          },
          "id": {
            "description": "ID is the accreditation record's opaque id.",
            "type": "string"
          },
          "method": {
            "description": "Method is how the state was established: self_attested, third_party_letter,\nor provider_verified.",
            "type": "string"
          },
          "note": {
            "description": "Note is a non-PII operator note.",
            "type": "string"
          },
          "reviewerSub": {
            "description": "ReviewerSub is the org user who recorded a decision on this record.",
            "type": "string"
          },
          "status": {
            "description": "Status is the tracked state: asserted, provider_verified, reviewer_confirmed,\nrejected, or expired.",
            "type": "string"
          },
          "subjectId": {
            "description": "SubjectID is the opaque id of the subject the record is about.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is the unix second the record last changed.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "accreditationDecision": {
        "properties": {
          "id": {
            "description": "ID is the accreditation record to decide, from the path.",
            "type": "string"
          },
          "status": {
            "description": "Status is the decision being recorded: reviewer_confirmed, provider_verified,\nrejected, or expired.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "accreditationReq": {
        "properties": {
          "basis": {
            "description": "Basis is the qualification category: income, net_worth, professional_license,\nor entity.",
            "type": "string"
          },
          "evidenceDocId": {
            "description": "EvidenceDocID references an evidence document in the org's sealed data room.",
            "type": "string"
          },
          "expiresAt": {
            "description": "ExpiresAt is the unix second a confirmation ages out; 0 means none.",
            "format": "int64",
            "type": "integer"
          },
          "method": {
            "description": "Method is how the state was established: self_attested, third_party_letter,\nor provider_verified.",
            "type": "string"
          },
          "note": {
            "description": "Note is a non-PII operator note.",
            "type": "string"
          },
          "status": {
            "description": "Status may only be \"asserted\" (empty reads as asserted); every confirmed,\nrejected or expired state is recorded via the decision endpoint.",
            "type": "string"
          },
          "subjectId": {
            "description": "SubjectID names the subject this record is about; it must exist within the org.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "auditList": {
        "properties": {
          "data": {
            "description": "Data is the org's compliance.* audit rows, newest first.",
            "items": {
              "$ref": "#/components/schemas/Wire"
            },
            "type": "array"
          },
          "disclaimer": {
            "description": "Disclaimer states that statuses are provider-reported or tracked, never a\nplatform assertion of legal or regulatory compliance.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "checkList": {
        "properties": {
          "data": {
            "description": "Data is the org's verifications, newest first, without subject PII.",
            "items": {
              "$ref": "#/components/schemas/checkView"
            },
            "type": "array"
          },
          "disclaimer": {
            "description": "Disclaimer states that statuses are provider-reported, never a platform\nassertion of legal or regulatory compliance.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "checkView": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is the unix second the verification was started.",
            "format": "int64",
            "type": "integer"
          },
          "decidedAt": {
            "description": "DecidedAt is the unix second a terminal status was recorded.",
            "format": "int64",
            "type": "integer"
          },
          "decidedBy": {
            "description": "DecidedBy records who settled a terminal status: the provider name, or a\nreviewer's user id for a recorded manual decision.",
            "type": "string"
          },
          "id": {
            "description": "ID is the verification's opaque id.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the party type: \"individual\" (KYC) or \"business\" (KYB).",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the verification provider this check runs through.",
            "type": "string"
          },
          "status": {
            "description": "Status is the check's state: pending, provider_verified, provider_rejected,\nmanual_review, or expired (provider-reported), or reviewer_confirmed — the\none value a privileged human reviewer records, never a provider.",
            "type": "string"
          },
          "subjectId": {
            "description": "SubjectID is the opaque id of the subject under verification.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is the unix second the verification last changed.",
            "format": "int64",
            "type": "integer"
          },
          "verifyUrl": {
            "description": "VerifyURL is the provider's hosted verification flow for the subject, when one exists.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "healthView": {
        "properties": {
          "provider": {
            "description": "Provider is the wired verification provider's name (\"manual\" by default).",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" when the subsystem is live.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "recordList": {
        "properties": {
          "accreditation": {
            "description": "Accreditation is the org's tracked accreditation-state records.",
            "items": {
              "$ref": "#/components/schemas/accView"
            },
            "type": "array"
          },
          "disclaimer": {
            "description": "Disclaimer states that statuses are provider-reported or tracked, never a\nplatform assertion of legal or regulatory compliance.",
            "type": "string"
          },
          "verifications": {
            "description": "Verifications is the org's KYC/KYB checks, provider-reported statuses only.",
            "items": {
              "$ref": "#/components/schemas/checkView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "statusView": {
        "properties": {
          "disclaimer": {
            "description": "Disclaimer states that statuses are provider-reported, never a platform\nassertion of legal or regulatory compliance.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the wired verification provider's name.",
            "type": "string"
          },
          "verifications": {
            "$ref": "#/components/schemas/verificationTally",
            "description": "Verifications tallies the org's verifications by provider-reported status."
          }
        },
        "type": "object"
      },
      "subjectList": {
        "properties": {
          "data": {
            "description": "Data is the org's subjects, newest first, without contact PII.",
            "items": {
              "$ref": "#/components/schemas/subjectSummary"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "subjectReq": {
        "properties": {
          "email": {
            "description": "Email is the subject's contact email, sealed at rest.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the party type: \"individual\" (KYC) or \"business\" (KYB).",
            "type": "string"
          },
          "name": {
            "description": "Name is the subject's name, sealed at rest.",
            "type": "string"
          },
          "ref": {
            "description": "Ref is the org's own opaque external id for this subject.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "subjectSummary": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is the unix second the subject was recorded.",
            "format": "int64",
            "type": "integer"
          },
          "hasEmail": {
            "description": "HasEmail reports whether a contact email is on file, without exposing it.",
            "type": "boolean"
          },
          "id": {
            "description": "ID is the subject's opaque id.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the party type: \"individual\" (KYC) or \"business\" (KYB).",
            "type": "string"
          },
          "ref": {
            "description": "Ref is the org's own opaque external id for this subject.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "verificationDecision": {
        "properties": {
          "id": {
            "description": "ID is the verification to decide, from the path.",
            "type": "string"
          },
          "status": {
            "description": "Status is the reviewer's decision: \"reviewer_confirmed\" (a pass) or\n\"manual_review\" (withheld for review) — never a provider status.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "verificationReq": {
        "properties": {
          "email": {
            "description": "Email is an inline subject's contact email, sealed at rest.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is an inline subject's party type: \"individual\" (KYC) or \"business\" (KYB).",
            "type": "string"
          },
          "name": {
            "description": "Name is an inline subject's name, sealed at rest.",
            "type": "string"
          },
          "ref": {
            "description": "Ref is the org's own opaque external id for an inline subject.",
            "type": "string"
          },
          "subjectId": {
            "description": "SubjectID names an existing subject to verify; empty creates one inline.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "verificationTally": {
        "properties": {
          "byStatus": {
            "additionalProperties": {
              "format": "int64",
              "type": "integer"
            },
            "description": "ByStatus tallies the org's verifications by provider-reported status.",
            "type": "object"
          },
          "total": {
            "description": "Total is the sum over every status.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
