{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "destinations"
    }
  ],
  "paths": {
    "/v1/destinations": {
      "get": {
        "operationId": "get_v1_destinations",
        "summary": "list reports every destination this deployment can forward to, each with the caller org's connection state: whether it is connected, whether it is enabled, whether a credential resolves right now, and the config fields the console renders for it.",
        "description": "list reports every destination this deployment can forward to, each with the\ncaller org's connection state: whether it is connected, whether it is enabled,\nwhether a credential resolves right now, and the config fields the console\nrenders for it.",
        "tags": [
          "destinations"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/destinationList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/destinations/{platform}": {
      "delete": {
        "operationId": "delete_v1_destinations_platform",
        "summary": "disconnect forgets a destination for the caller's org: every credential held in KMS, then the stored config.",
        "description": "disconnect forgets a destination for the caller's org: every credential held in\nKMS, then the stored config. Idempotent, and it requires org admin.",
        "tags": [
          "destinations"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "description": "Platform is the destination to act on, from the path: ga4 | meta | tiktok |\nlinkedin | x | reddit | posthog | umami.",
            "schema": {
              "type": "string"
            },
            "example": "ga4"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/destinationDisconnected"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "get": {
        "operationId": "get_v1_destinations_platform",
        "summary": "get reports one destination's card for the caller's org — its config fields, its connection state, and whether a credential resolves right now.",
        "description": "get reports one destination's card for the caller's org — its config fields,\nits connection state, and whether a credential resolves right now. A platform\nthis deployment does not carry is not found.",
        "tags": [
          "destinations"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "description": "Platform is the destination to act on, from the path: ga4 | meta | tiktok |\nlinkedin | x | reddit | posthog | umami.",
            "schema": {
              "type": "string"
            },
            "example": "ga4"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationStatus"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_destinations_by_platform",
        "tags": [
          "destinations"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/destinations/{platform}/test": {
      "post": {
        "operationId": "post_v1_destinations_platform_test",
        "summary": "test sends ONE synthetic pageview through the connected destination end to end and reports what the platform said.",
        "description": "test sends ONE synthetic pageview through the connected destination end to end\nand reports what the platform said. A send the platform refuses is reported as\ndata — {\"ok\": false, \"error\": …} at 200 — so the console shows the platform's\nown words rather than an error about Hanzo. It requires org admin.",
        "tags": [
          "destinations"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "description": "Platform is the destination to act on, from the path: ga4 | meta | tiktok |\nlinkedin | x | reddit | posthog | umami.",
            "schema": {
              "type": "string"
            },
            "example": "ga4"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/destinationTest"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DestinationField": {
        "properties": {
          "example": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "DestinationStatus": {
        "properties": {
          "account": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "config": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          },
          "connected": {
            "type": "boolean"
          },
          "enabled": {
            "type": "boolean"
          },
          "fields": {
            "items": {
              "$ref": "#/components/schemas/DestinationField"
            },
            "type": "array"
          },
          "live": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "secrets": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "destinationDisconnected": {
        "properties": {
          "disconnected": {
            "description": "Disconnected is true when the credentials and the row are gone.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "destinationList": {
        "properties": {
          "destinations": {
            "description": "Destinations is one card per registered platform, in slug order.",
            "items": {
              "$ref": "#/components/schemas/DestinationStatus"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "destinationTest": {
        "properties": {
          "error": {
            "description": "Error is the platform's rejection, present only on a failed send.",
            "type": "string"
          },
          "message": {
            "description": "Message is the platform's own note about the send, present only on success.",
            "type": "string"
          },
          "ok": {
            "description": "OK is true when the platform accepted the synthetic event.",
            "type": "boolean"
          },
          "sent": {
            "description": "Sent is how many events the platform accepted, present only on success.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}
