{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "destinations"
    }
  ],
  "paths": {
    "/v1/destinations": {
      "get": {
        "operationId": "listDestinations",
        "summary": "list returns every destination platform with the caller org's connection state.",
        "description": "list returns every destination platform with the caller org's connection state.\n\nUnconnected platforms are listed too, so the console can render the full catalog\nfrom one read.",
        "tags": [
          "destinations"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "destinations": [
                    {
                      "category": "ads",
                      "connected": true,
                      "enabled": true,
                      "fields": [
                        {
                          "key": "pixel_id",
                          "label": "Pixel ID",
                          "required": true
                        }
                      ],
                      "live": true,
                      "name": "Meta Conversions API",
                      "platform": "meta",
                      "secrets": [
                        "api_secret"
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/StatusList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/destinations/{platform}": {
      "delete": {
        "operationId": "disconnectDestination",
        "summary": "disconnect forgets a destination for the caller org: its KMS secrets, then its row.",
        "description": "disconnect forgets a destination for the caller org: its KMS secrets, then its row.\n\nIt is idempotent and requires org admin.",
        "tags": [
          "destinations"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "description": "Platform is the destination's registry slug, e.g. meta, ga4 or tiktok.",
            "schema": {
              "type": "string"
            },
            "example": "meta"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "disconnected": true
                },
                "schema": {
                  "$ref": "#/components/schemas/Disconnected"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "get": {
        "operationId": "getDestination",
        "summary": "get returns one destination platform with the caller org's connection state.",
        "description": "get returns one destination platform with the caller org's connection state.\n\nAn unknown platform slug answers 404; a known one that this org has not\nconnected answers its card with connected false.",
        "tags": [
          "destinations"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "description": "Platform is the destination's registry slug, e.g. meta, ga4 or tiktok.",
            "schema": {
              "type": "string"
            },
            "example": "meta"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "category": "ads",
                  "connected": true,
                  "enabled": true,
                  "fields": [
                    {
                      "key": "pixel_id",
                      "label": "Pixel ID",
                      "required": true
                    }
                  ],
                  "live": true,
                  "name": "Meta Conversions API",
                  "platform": "meta",
                  "secrets": [
                    "api_secret"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_destinations_by_platform",
        "tags": [
          "destinations"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/destinations/{platform}/test": {
      "post": {
        "operationId": "testDestination",
        "summary": "test sends ONE synthetic pageview through the connected destination end-to-end.",
        "description": "test sends ONE synthetic pageview through the connected destination end-to-end.\n\nA send failure is reported as DATA ({\"ok\":false,\"error\":…}), not an HTTP error,\nso the console renders the platform's own answer.\nThe event carries no PII, only a stable per-org test id, and the op requires org\nadmin.",
        "tags": [
          "destinations"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "description": "Platform is the destination's registry slug, e.g. meta, ga4 or tiktok.",
            "schema": {
              "type": "string"
            },
            "example": "meta"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "platform": "meta"
              },
              "schema": {
                "$ref": "#/components/schemas/Ref"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "message": "1 event received",
                  "ok": true,
                  "sent": 1
                },
                "schema": {
                  "$ref": "#/components/schemas/TestResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Disconnected": {
        "properties": {
          "disconnected": {
            "description": "Disconnected is always true — the op is idempotent, so it also reports true\nfor a destination that was not connected.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Field": {
        "properties": {
          "example": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Ref": {
        "properties": {
          "platform": {
            "description": "Platform is the destination's registry slug, e.g. meta, ga4 or tiktok.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Status": {
        "properties": {
          "account": {
            "description": "Account is the operator-set label for the connected account.",
            "type": "string"
          },
          "category": {
            "description": "Category groups the destination in the console, e.g. ads or analytics.",
            "type": "string"
          },
          "config": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Config is the org's stored NON-SECRET ids for this destination.",
            "type": "object"
          },
          "connected": {
            "description": "Connected is true when this org has a stored row for the destination.",
            "type": "boolean"
          },
          "enabled": {
            "description": "Enabled is whether the org's connection currently forwards events.",
            "type": "boolean"
          },
          "fields": {
            "description": "Fields are the non-secret inputs connect accepts for this destination.",
            "items": {
              "$ref": "#/components/schemas/Field"
            },
            "type": "array"
          },
          "live": {
            "description": "Live is whether a credential resolves right now.",
            "type": "boolean"
          },
          "name": {
            "description": "Name is the destination's display name.",
            "type": "string"
          },
          "platform": {
            "description": "Platform is the destination's registry slug, the :platform path segment.",
            "type": "string"
          },
          "secrets": {
            "description": "Secrets are the KMS secret names this destination custodies; values are\nnever returned.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "StatusList": {
        "properties": {
          "destinations": {
            "description": "Destinations is one card per registered platform, connected or not.",
            "items": {
              "$ref": "#/components/schemas/Status"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "TestResult": {
        "properties": {
          "error": {
            "description": "Error is the send failure, reported as DATA so the console can render it.\nAbsent on success.",
            "type": "string"
          },
          "message": {
            "description": "Message is the platform's own response text; empty when it returned none.",
            "type": "string"
          },
          "ok": {
            "description": "OK is whether the platform accepted the event.",
            "type": "boolean"
          },
          "sent": {
            "description": "Sent is how many events the platform reported accepting.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}
