{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "agents"
    }
  ],
  "paths": {
    "/v1/agents": {
      "get": {
        "operationId": "get_v1_agents",
        "summary": "ListAgents returns every agent defined in the caller's org, each with the number of runs recorded against it.",
        "description": "ListAgents returns every agent defined in the caller's org, each with the\nnumber of runs recorded against it.",
        "tags": [
          "agents"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agentList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_agents",
        "summary": "CreateAgent defines an agent in the caller's org: a model, a system prompt (instructions) and a set of tool names.",
        "description": "CreateAgent defines an agent in the caller's org: a model, a system prompt\n(instructions) and a set of tool names. The name must be unique in the org and\nmatch ^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$. An omitted model takes the\ndeployment's configured default; a named one is checked against the gateway's\nserved catalog, so a model this deployment never serves is refused here rather\nthan failing at run time. A long-running agent must carry a 5-field cron\nschedule (the scheduler would otherwise never fire it) and counts against a\nper-org cap on scheduled agents.",
        "tags": [
          "agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "instructions": "be terse",
                "model": "enso-flash",
                "name": "helper"
              },
              "schema": {
                "$ref": "#/components/schemas/createAgentIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agentView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/agents/activity": {
      "get": {
        "operationId": "get_v1_agents_activity",
        "summary": "AgentActivity serves the org-wide recent-activity feed.",
        "description": "AgentActivity serves the org-wide recent-activity feed. Events are REAL: each\nrecorded run is an invoked (ok) or failed (error) event; each agent's own\ncreate/update timestamps are created/updated events. Merged, newest first,\ncapped. Nothing is invented — an org with no agents and no runs gets [].",
        "tags": [
          "agents"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/activityFeed"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/builds": {
      "get": {
        "operationId": "get_v1_agents_builds",
        "summary": "ListBuilds returns the public index of every published build, most recently updated first, so a gallery can link straight to the story behind each product.",
        "description": "ListBuilds returns the public index of every published build, most recently\nupdated first, so a gallery can link straight to the story behind each product.\nPUBLIC, no tenancy: publishing is the author's act, and only published root\nsessions appear here.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the page. Absent, zero or over 500 reads as 100.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/buildList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/builds/{org}/{project}": {
      "get": {
        "operationId": "get_v1_agents_builds_org_project",
        "summary": "ReadBuild returns the readable build of one product: the agent session that produced it, turn by turn — the prompts, the reasoning, the commits each turn produced — plus the exact `git log` that re-derives every commit binding from git itself, so nothing here has to be taken on trust.",
        "description": "ReadBuild returns the readable build of one product: the agent session that\nproduced it, turn by turn — the prompts, the reasoning, the commits each turn\nproduced — plus the exact `git log` that re-derives every commit binding from\ngit itself, so nothing here has to be taken on trust.\n\nPUBLIC, no tenancy: it answers only for a session its author explicitly\npublished, which is what makes it safe to be anonymous. An unpublished session\nis invisible here no matter who asks; its owner reads it through the org-scoped\n/v1/agents/sessions routes, which need a validated principal.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "description": "Org is the org that published the build, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "hanzo"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the product's slug, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "landing"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/buildView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/metrics": {
      "get": {
        "operationId": "get_v1_agents_metrics",
        "summary": "AgentMetrics serves the invocations-over-time histogram for the org's Agents dashboard.",
        "description": "AgentMetrics serves the invocations-over-time histogram for the org's Agents\ndashboard. Every point is a REAL count of recorded runs in that time bucket —\none series line per agent that ran in the window. The Resource Usage rollup is\nall-null because this store meters no CPU/memory/storage/cost; the console\nrenders those as \"—\" rather than a fabricated figure. No runs =\u003e empty series\n(an honest \"not connected / no activity yet\"), never a synthesized trend.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is the window to bucket: 24H, 7D or 30D. Anything else reads as 30D.",
            "schema": {
              "type": "string"
            },
            "example": "7D"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metricsView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/sessions": {
      "get": {
        "operationId": "get_v1_agents_sessions",
        "summary": "ListSessions returns the caller org's live sessions, newest first — each with its event count, its direct-child count and a one-line preview of its latest event.",
        "description": "ListSessions returns the caller org's live sessions, newest first — each with\nits event count, its direct-child count and a one-line preview of its latest\nevent. With no filter it returns ROOT sessions only, so a dashboard shows one\nrow per flow rather than one per subagent; ?root= or ?parent= descends.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "root",
            "in": "query",
            "required": false,
            "description": "Root scopes the page to one subagent tree (its root session id).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "query",
            "required": false,
            "description": "Parent scopes the page to the direct children of one session. Ignored when\nroot is set; with neither, only ROOT sessions come back.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status filters to running, paused, done or error.",
            "schema": {
              "type": "string"
            },
            "example": "running"
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project filters to the sessions tagged with one product slug.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the page. Absent, zero or over 500 reads as 100.",
            "schema": {
              "type": "integer"
            },
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_agents_sessions",
        "summary": "RegisterSession opens a live agent session in the caller's org — the row every surface (the CLI's outer agent, hanzo.bot, the console, chat) hangs its activity off.",
        "description": "RegisterSession opens a live agent session in the caller's org — the row every\nsurface (the CLI's outer agent, hanzo.bot, the console, chat) hangs its\nactivity off. A session with a parentSessionId becomes a subagent of that\nsession and inherits its root, so one flow is one tree; without one it is\nitself a root. Registering with a terminal status records a session that has\nalready finished.",
        "tags": [
          "agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "agent": "hanzo-dev",
                "host": "gpu-01",
                "title": "ship the landing page"
              },
              "schema": {
                "$ref": "#/components/schemas/registerReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/agents/sessions/stream": {
      "get": {
        "operationId": "get_v1_agents_sessions_stream",
        "tags": [
          "agents"
        ]
      }
    },
    "/v1/agents/sessions/{id}": {
      "get": {
        "operationId": "get_v1_agents_sessions_id",
        "summary": "GetSession returns one session with its direct child sessions and its 50 most recent events, oldest of those first.",
        "description": "GetSession returns one session with its direct child sessions and its 50 most\nrecent events, oldest of those first.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sess_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionDetail"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_v1_agents_sessions_id",
        "summary": "PatchSession updates a session's surface-owned truth: its status, its title, the run-target it is dispatched to, and the product it built plus whether that build's story is public.",
        "description": "PatchSession updates a session's surface-owned truth: its status, its title,\nthe run-target it is dispatched to, and the product it built plus whether that\nbuild's story is public. A FINISHED session stays finished — reopening a\ndone/error run would fabricate liveness — and publishing is refused unless the\nsession names the project it built, because the public build route is keyed on\n(org, project).",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to update, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sess_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "sess_1",
                "status": "done"
              },
              "schema": {
                "$ref": "#/components/schemas/patchSessionIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/sessions/{id}/control": {
      "get": {
        "operationId": "get_v1_agents_sessions_id_control",
        "summary": "DrainSessionControl returns the steering commands (pause/resume/stop/message) recorded against the caller's own session that are newer than the cursor, oldest first, with the cursor to poll from next.",
        "description": "DrainSessionControl returns the steering commands (pause/resume/stop/message)\nrecorded against the caller's own session that are newer than the cursor,\noldest first, with the cursor to poll from next. It is how a locally started\n`hanzo code` session — which is not task-backed, so nothing forwards its\ncommands to an execution engine — consumes what the dashboard posted. Read-only\nand bounded at 200 per poll, so a steady poll is cheap and an applied command is\nnever redelivered.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session whose commands are being drained, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sess_1"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "After is the last seq this poller applied; only commands newer than it come\nback. Absent or negative reads as 0, which drains from the beginning.",
            "schema": {
              "type": "integer"
            },
            "example": 12
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/controlDrain"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/sessions/{id}/events": {
      "post": {
        "operationId": "post_v1_agents_sessions_by_id_events",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agents/sessions/{id}/message": {
      "post": {
        "operationId": "post_v1_agents_sessions_by_id_message",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agents/sessions/{id}/pause": {
      "post": {
        "operationId": "post_v1_agents_sessions_by_id_pause",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agents/sessions/{id}/resume": {
      "post": {
        "operationId": "post_v1_agents_sessions_by_id_resume",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agents/sessions/{id}/stop": {
      "post": {
        "operationId": "post_v1_agents_sessions_by_id_stop",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agents/sessions/{id}/tree": {
      "get": {
        "operationId": "get_v1_agents_sessions_id_tree",
        "summary": "SessionTree returns the subagent-flow graph rooted at this session: the session, its children, their children, each node carrying its own event count.",
        "description": "SessionTree returns the subagent-flow graph rooted at this session: the session,\nits children, their children, each node carrying its own event count. One\nindexed read pulls the whole flow (every node of a flow shares a root id), so\nthe shape is assembled in memory rather than by walking the store per node.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sess_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/treeNode"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/targets": {
      "get": {
        "operationId": "get_v1_agents_targets",
        "summary": "ListTargets returns every machine registered to the caller's org, newest first, each with its live session load.",
        "description": "ListTargets returns every machine registered to the caller's org, newest\nfirst, each with its live session load.",
        "tags": [
          "agents"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_agents_targets",
        "summary": "RegisterTarget registers a machine as an agent target, or re-links one that is already registered.",
        "description": "RegisterTarget registers a machine as an agent target, or re-links one that is\nalready registered. Re-linking is idempotent and keyed on org+host+owner, so a\nmachine that reconnects refreshes its own row rather than piling up duplicates;\nit answers 200, while a first registration answers 201.",
        "tags": [
          "agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "host": "gpu-01",
                "kind": "gpu",
                "label": "workshop"
              },
              "schema": {
                "$ref": "#/components/schemas/targetReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/targets/{id}": {
      "delete": {
        "operationId": "delete_v1_agents_targets_id",
        "summary": "DeleteTarget deregisters one machine.",
        "description": "DeleteTarget deregisters one machine. Only its owner, or an org admin, may\nremove it; an unknown id, a cross-org id and a machine owned by someone else\nall answer the same not-found, so a probe learns nothing about what exists.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetDeleted"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "get": {
        "operationId": "get_v1_agents_targets_id",
        "summary": "GetTarget returns one registered machine, with its live session load.",
        "description": "GetTarget returns one registered machine, with its live session load.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetView"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_v1_agents_targets_id",
        "summary": "PatchTarget updates one machine in place.",
        "description": "PatchTarget updates one machine in place. Every field is optional; a field the\nrequest omits is left alone. A metrics patch IS a heartbeat — the server stamps\nits own clock, so a client can neither forge nor backdate staleness.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to update, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "tgt_1",
                "status": "draining"
              },
              "schema": {
                "$ref": "#/components/schemas/patchTargetIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/targets/{id}/claim": {
      "post": {
        "operationId": "post_v1_agents_targets_id_claim",
        "summary": "ClaimRoutedRun is the machine's long poll for work: it authenticates the daemon, stamps the liveness the dispatch gate reads (the poll IS the proof a runner is listening), and waits up to 25 seconds for the next run addressed to THIS machine.",
        "description": "ClaimRoutedRun is the machine's long poll for work: it authenticates the\ndaemon, stamps the liveness the dispatch gate reads (the poll IS the proof a\nrunner is listening), and waits up to 25 seconds for the next run addressed to\nTHIS machine. It answers the run when one arrives and 204 with no body when the\nwindow elapses, on which the daemon re-polls immediately.\n\nTWO independent proofs are required and both fail closed to the same 403: the\ncaller must own this machine (or be an org admin) AND present its claim key in\nX-Target-Key. A run offered to one machine is unreachable from another's claim.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routedRunOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/targets/{id}/claim-key": {
      "post": {
        "operationId": "post_v1_agents_targets_id_claim-key",
        "summary": "MintTargetClaimKey mints (or rotates) the claim key a `hanzo code --serve` daemon presents to claim work for this machine, and returns it ONCE: only its SHA-256 hash is stored.",
        "description": "MintTargetClaimKey mints (or rotates) the claim key a `hanzo code --serve`\ndaemon presents to claim work for this machine, and returns it ONCE: only its\nSHA-256 hash is stored. Rotating supersedes any prior daemon, so only the\nmachine's owner — or an org admin — may call it; every other caller gets the\nsame not-found an unknown id gets, and learns nothing about what exists.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/claimKeyOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/targets/{id}/runs/{runId}/report": {
      "post": {
        "operationId": "post_v1_agents_targets_id_runs_runId_report",
        "summary": "ReportRoutedRun completes a claimed run: it delivers the terminal result to the run's durable owner, which is what lets that workflow finish.",
        "description": "ReportRoutedRun completes a claimed run: it delivers the terminal result to the\nrun's durable owner, which is what lets that workflow finish. Scoped to (org,\ntarget, run) and claim-key-authenticated, so a machine can only ever report a\nrun it legitimately holds. Idempotent — a report for an unknown or\nalready-finished run answers delivered:false rather than failing, because the\nsession's terminal state was already set by the machine's own stream.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the machine reporting, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "description": "RunID is the routed run being completed, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "run_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "branch": "hanzo/fix",
                "changed": true,
                "id": "tgt_1",
                "ok": true,
                "runId": "run_1"
              },
              "schema": {
                "$ref": "#/components/schemas/reportRunIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reportOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/{ref}": {
      "delete": {
        "operationId": "delete_v1_agents_ref",
        "summary": "DeleteAgent removes an agent and every run recorded against it.",
        "description": "DeleteAgent removes an agent and every run recorded against it. Answers 204.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Ref is the agent's public id (the agent_… handle create and list return) or\nits org-unique name, from the path. Either resolves the same agent.",
            "schema": {
              "type": "string"
            },
            "example": "helper"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_agents_ref",
        "summary": "GetAgent returns one agent with its system prompt and its 20 most recent runs.",
        "description": "GetAgent returns one agent with its system prompt and its 20 most recent runs.\nThe ref is the agent's public id or its org-unique name — a created agent is\nimmediately gettable by whatever create handed back.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Ref is the agent's public id (the agent_… handle create and list return) or\nits org-unique name, from the path. Either resolves the same agent.",
            "schema": {
              "type": "string"
            },
            "example": "helper"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agentDetail"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_v1_agents_ref",
        "summary": "UpdateAgent changes an agent in place.",
        "description": "UpdateAgent changes an agent in place. Every field is optional; a field the\nrequest omits keeps its stored value. The resulting mode+schedule are\nre-validated together, so a partial update can never leave a long-running\nagent without the cron the scheduler needs to fire it, and a transition INTO\nlong-running counts against the per-org cap on scheduled agents.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Ref is the agent to update — its public id or org-unique name, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "helper"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "instructions": "be terse and cite sources",
                "ref": "helper"
              },
              "schema": {
                "$ref": "#/components/schemas/updateAgentIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agentView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/{ref}/run": {
      "post": {
        "operationId": "post_v1_agents_by_ref_run",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agents/{ref}/runs": {
      "get": {
        "operationId": "get_v1_agents_ref_runs",
        "summary": "ListAgentRuns returns one agent's execution history, newest first — each run's input, its output or its error, and how long it took.",
        "description": "ListAgentRuns returns one agent's execution history, newest first — each run's\ninput, its output or its error, and how long it took. Every row is a run that\nactually happened.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Ref is the agent's public id or its org-unique name, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "helper"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many runs come back, newest first. Absent, zero or out of\nrange (1..200) reads as 50.",
            "schema": {
              "type": "integer"
            },
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GPU": {
        "properties": {
          "memory": {
            "description": "VRAM bytes, 0 = unknown",
            "type": "integer"
          },
          "model": {
            "description": "\"GB10\", \"8060S\", \"RTX 4090\"",
            "type": "string"
          },
          "vendor": {
            "description": "nvidia | amd | apple | intel | ...",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Metrics": {
        "properties": {
          "at": {
            "description": "unix seconds, server-stamped",
            "type": "integer"
          },
          "gpuUtil": {
            "description": "0..1 aggregate utilization",
            "type": "number"
          },
          "load1": {
            "type": "number"
          },
          "load15": {
            "type": "number"
          },
          "load5": {
            "type": "number"
          },
          "memFree": {
            "description": "bytes",
            "type": "integer"
          },
          "memUsed": {
            "description": "bytes",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Spec": {
        "properties": {
          "arch": {
            "description": "amd64 | arm64 | ...",
            "type": "string"
          },
          "cpus": {
            "description": "logical cores",
            "type": "integer"
          },
          "gpus": {
            "items": {
              "$ref": "#/components/schemas/GPU"
            },
            "type": "array"
          },
          "memory": {
            "description": "total RAM, bytes",
            "type": "integer"
          },
          "os": {
            "description": "linux | darwin | windows",
            "type": "string"
          }
        },
        "type": "object"
      },
      "activityFeed": {
        "properties": {
          "activity": {
            "description": "Activity is the merged run/create/update events, newest first, capped at 50.",
            "items": {
              "$ref": "#/components/schemas/activityView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "activityView": {
        "properties": {
          "agent": {
            "description": "agent name",
            "type": "string"
          },
          "at": {
            "description": "RFC3339 UTC",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "kind": {
            "description": "invoked|failed|created|updated (from real events)",
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "agentDetail": {
        "properties": {
          "computeRef": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "executionMode": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "recentRuns": {
            "items": {
              "$ref": "#/components/schemas/agentRunView"
            },
            "type": "array"
          },
          "runs": {
            "type": "integer"
          },
          "schedule": {
            "type": "string"
          },
          "serviceAccountId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "tools": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "agentList": {
        "properties": {
          "agents": {
            "description": "Agents is the org's agents, each carrying its recorded run count.",
            "items": {
              "$ref": "#/components/schemas/agentView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "agentRunView": {
        "properties": {
          "createdAt": {
            "type": "string"
          },
          "durationMs": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "input": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "agentView": {
        "properties": {
          "computeRef": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "executionMode": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "runs": {
            "type": "integer"
          },
          "schedule": {
            "type": "string"
          },
          "serviceAccountId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "tools": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "buildList": {
        "properties": {
          "builds": {
            "description": "Builds is every published build, most recently updated first.",
            "items": {
              "$ref": "#/components/schemas/buildSummary"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "buildSummary": {
        "properties": {
          "agent": {
            "type": "string"
          },
          "endedAt": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "repo": {
            "type": "string"
          },
          "session": {
            "type": "string"
          },
          "startedAt": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "turns": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "buildTurn": {
        "properties": {
          "actor": {
            "type": "string"
          },
          "at": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "commit": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "turn": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "buildView": {
        "properties": {
          "agent": {
            "type": "string"
          },
          "endedAt": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "repo": {
            "type": "string"
          },
          "session": {
            "type": "string"
          },
          "startedAt": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "turns": {
            "items": {
              "$ref": "#/components/schemas/buildTurn"
            },
            "type": "array"
          },
          "verify": {
            "description": "Verify is the exact command that re-derives every commit binding below\nstraight from git, so nothing here has to be taken on trust.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "claimKeyOut": {
        "properties": {
          "claimKey": {
            "description": "ClaimKey is the capability itself. It is returned ONCE and never again — only\nits SHA-256 hash is stored — so a daemon that loses it mints a new one.",
            "type": "string"
          },
          "targetId": {
            "description": "TargetID is the machine the key authenticates.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "controlCommandView": {
        "properties": {
          "command": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "payload": {},
          "seq": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "controlDrain": {
        "properties": {
          "commands": {
            "description": "Commands is the session's control commands newer than the cursor, oldest first.",
            "items": {
              "$ref": "#/components/schemas/controlCommandView"
            },
            "type": "array"
          },
          "cursor": {
            "description": "Cursor is the seq to send as `after` on the next poll — the highest seq in\nthis page, or the cursor sent in when the page is empty.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "createAgentIn": {
        "properties": {
          "computeRef": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "executionMode": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "schedule": {
            "type": "string"
          },
          "serviceAccountId": {
            "type": "string"
          },
          "tools": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "eventView": {
        "properties": {
          "actor": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "payload": {},
          "seq": {
            "type": "integer"
          },
          "sessionId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "lastEventView": {
        "properties": {
          "actor": {
            "type": "string"
          },
          "at": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "preview": {
            "type": "string"
          },
          "seq": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "metricsView": {
        "properties": {
          "range": {
            "description": "echoes the requested window (24H|7D|30D)",
            "type": "string"
          },
          "resource": {
            "$ref": "#/components/schemas/resourceUsage"
          },
          "series": {
            "description": "per-agent invocation histogram (real)",
            "items": {
              "$ref": "#/components/schemas/seriesLine"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "patchSessionIn": {
        "properties": {
          "id": {
            "description": "ID is the session to update, from the path.",
            "type": "string"
          },
          "project": {
            "description": "Project tags the product this session built; Published is the author's\ndecision to let anyone read the story (provenance.go). Both are pointers so\n\"absent\" and \"cleared\" are different requests.",
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "target": {
            "description": "Target re-dispatches a session to a run-target (the #48 association). \"\" detaches.",
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "patchTargetIn": {
        "properties": {
          "capacity": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "id": {
            "description": "ID is the target to update, from the path.",
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics",
            "description": "present =\u003e a heartbeat; the server stamps its time"
          },
          "spec": {
            "$ref": "#/components/schemas/Spec"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "registerReq": {
        "properties": {
          "account": {
            "type": "string"
          },
          "actor": {
            "type": "string"
          },
          "agent": {
            "type": "string"
          },
          "cwd": {
            "type": "string"
          },
          "host": {
            "description": "Execution context — where this session runs (all optional).",
            "type": "string"
          },
          "parentSessionId": {
            "type": "string"
          },
          "project": {
            "description": "The readable build (provenance.go): which product this session builds, and\nwhether its story may be read by the world.",
            "type": "string"
          },
          "provider": {
            "description": "Account tag — the linked AI account this session ran under (login manager).",
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "repo": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "taskRunId": {
            "type": "string"
          },
          "taskWorkflowId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "reportOut": {
        "properties": {
          "delivered": {
            "description": "Delivered is true when a waiting durable owner received this result. False\nmeans there was none to deliver to — an unknown or already-finished run — which\nis a clean no-op, not an error.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "reportRunIn": {
        "properties": {
          "branch": {
            "description": "Branch, CommitSha and Diffstat describe what the run produced; Error is the\nfailure when OK is false. Each is clamped, never rejected.",
            "type": "string"
          },
          "changed": {
            "type": "boolean"
          },
          "commitSha": {
            "type": "string"
          },
          "diffstat": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "id": {
            "description": "ID is the machine reporting, from the path.",
            "type": "string"
          },
          "ok": {
            "description": "OK is whether the run succeeded; Changed whether it produced any commit.",
            "type": "boolean"
          },
          "runId": {
            "description": "RunID is the routed run being completed, from the path.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "resourceUsage": {
        "properties": {
          "costCents": {
            "type": "number"
          },
          "cpuVcpuHours": {
            "type": "number"
          },
          "memGbHours": {
            "type": "number"
          },
          "storageIoBytes": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "routedRunOut": {
        "properties": {
          "base": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "cloneUrl": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "repo": {
            "description": "Repo is the repository to work in and CloneURL is how to fetch it.",
            "type": "string"
          },
          "sessionId": {
            "description": "SessionID is the live session opened at dispatch; the machine streams its\nturns into it.",
            "type": "string"
          },
          "timeoutSeconds": {
            "description": "TimeoutSeconds bounds the run on the machine; 0 means the machine's own default.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "runList": {
        "properties": {
          "runs": {
            "description": "Runs is the agent's executions, newest first.",
            "items": {
              "$ref": "#/components/schemas/agentRunView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "seriesLine": {
        "properties": {
          "key": {
            "description": "agent name",
            "type": "string"
          },
          "points": {
            "items": {
              "$ref": "#/components/schemas/seriesPoint"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "seriesPoint": {
        "properties": {
          "t": {
            "description": "bucket start, RFC3339 UTC",
            "type": "string"
          },
          "v": {
            "description": "real invocation count in the bucket",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sessionDetail": {
        "properties": {
          "account": {
            "type": "string"
          },
          "actor": {
            "type": "string"
          },
          "agent": {
            "type": "string"
          },
          "childSessions": {
            "items": {
              "$ref": "#/components/schemas/sessionView"
            },
            "type": "array"
          },
          "children": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "cwd": {
            "type": "string"
          },
          "endedAt": {
            "type": "string"
          },
          "events": {
            "type": "integer"
          },
          "host": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lastEvent": {
            "$ref": "#/components/schemas/lastEventView"
          },
          "org": {
            "type": "string"
          },
          "parentSessionId": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "recentEvents": {
            "items": {
              "$ref": "#/components/schemas/eventView"
            },
            "type": "array"
          },
          "repo": {
            "type": "string"
          },
          "rootSessionId": {
            "type": "string"
          },
          "startedAt": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "taskRunId": {
            "type": "string"
          },
          "taskWorkflowId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "sessionList": {
        "properties": {
          "sessions": {
            "description": "Sessions is the matching sessions, each with its event and child counts and\na one-line preview of its latest event.",
            "items": {
              "$ref": "#/components/schemas/sessionView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "sessionView": {
        "properties": {
          "account": {
            "type": "string"
          },
          "actor": {
            "type": "string"
          },
          "agent": {
            "type": "string"
          },
          "children": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "cwd": {
            "type": "string"
          },
          "endedAt": {
            "type": "string"
          },
          "events": {
            "type": "integer"
          },
          "host": {
            "description": "Execution context (mission-control): the machine/repo/cwd a card shows and\nthe run-target a session is dispatched to. Omitted when a surface didn't report it.",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lastEvent": {
            "$ref": "#/components/schemas/lastEventView",
            "description": "LastEvent is the compact latest-activity line for the list projection (nil in\nregister/patch/tree responses; set by list + detail). It lets a swipe card show\na live one-line preview without fetching full detail."
          },
          "org": {
            "description": "Org is the caller's OWN tenant, echoed so a client can build the public\nbuild URL (/builds/:org/:project) without a second call or a guess. It is\nnever another tenant's — every read is org-scoped before it gets here.",
            "type": "string"
          },
          "parentSessionId": {
            "type": "string"
          },
          "project": {
            "description": "The readable build: the product this session built and whether its story\nis public (provenance.go).",
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "repo": {
            "type": "string"
          },
          "rootSessionId": {
            "type": "string"
          },
          "startedAt": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "taskRunId": {
            "type": "string"
          },
          "taskWorkflowId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "targetDeleted": {
        "properties": {
          "deleted": {
            "description": "Deleted is true when the target was removed.",
            "type": "boolean"
          },
          "id": {
            "description": "ID is the target that was removed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "targetList": {
        "properties": {
          "targets": {
            "description": "Targets is every target registered to the caller's org.",
            "items": {
              "$ref": "#/components/schemas/targetView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "targetReq": {
        "properties": {
          "capacity": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics"
          },
          "spec": {
            "$ref": "#/components/schemas/Spec"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "targetView": {
        "properties": {
          "capacity": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics"
          },
          "metricsAt": {
            "type": "string"
          },
          "running": {
            "type": "integer"
          },
          "sessions": {
            "type": "integer"
          },
          "spec": {
            "$ref": "#/components/schemas/Spec"
          },
          "status": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "treeNode": {
        "properties": {
          "children": {
            "items": {
              "$ref": "#/components/schemas/treeNode"
            },
            "type": "array"
          },
          "session": {
            "$ref": "#/components/schemas/sessionView"
          }
        },
        "type": "object"
      },
      "updateAgentIn": {
        "properties": {
          "computeRef": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "executionMode": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "ref": {
            "description": "Ref is the agent to update — its public id or org-unique name, from the path.",
            "type": "string"
          },
          "schedule": {
            "type": "string"
          },
          "serviceAccountId": {
            "type": "string"
          },
          "tools": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  }
}
