{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package agents is autonomous agents for your org: define them, run them, keep every run.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "agent"
    },
    {
      "name": "agents"
    },
    {
      "name": "coding"
    }
  ],
  "paths": {
    "/v1/agent": {
      "post": {
        "operationId": "post_agent",
        "summary": "Run one tool-calling round against your org's own tools",
        "description": "Answers one turn of a conversation with four things: the model's `reply`, the `actions` the server executed on the caller's behalf, the `ops` the client must apply itself, and the `conversationId` the turn was recorded under.\n\nThe split between actions and ops is the rule most easily got wrong. A tool call is executed HERE only when the chosen preset is server-executing AND the tool resolves in the caller's own scope; every other call is handed back as an op for the client to apply to its own graph or UI. A tool that fails still comes back as an action, carrying its error rather than failing the round.\n\n`preset` selects the system prompt and the tool set (`capability` is a legacy alias for it); an unknown one is refused. `conversationId` continues an existing thread, and its absence starts one. A validated principal with a non-empty org is required — the org is the sole authority for both persistence and tool scope, and is NEVER read from the body.\n\nA completion refused for the caller's own reason — 402 insufficient balance, 429, 403 — is relayed with its own status and body verbatim, so the real billing message reaches the client instead of an opaque gateway error. Only a genuine upstream fault becomes a 502.",
        "tags": [
          "agent"
        ]
      }
    },
    "/v1/agent/conversations": {
      "get": {
        "operationId": "get_agent_conversations",
        "summary": "List the agent threads in your org",
        "description": "Returns a summary of every agent conversation in the caller's org — id, derived title, and when it was last appended to — for populating a thread list.\n\nScoped to the caller's org and nothing else, and that isolation is structural rather than a filter: conversations are persisted in a store opened PER ORG, so there is no query in which another tenant's threads could appear. A validated principal with a non-empty org is required; 403 without one.",
        "tags": [
          "agent"
        ]
      }
    },
    "/v1/agent/conversations/{id}": {
      "get": {
        "operationId": "get_agent_conversations_by_id",
        "summary": "Read one agent thread in full",
        "description": "Returns every message of one conversation in order — role, content, the assistant's tool calls where it made any, and each message's creation time — which is the transcript a client replays to resume a thread.\n\nThe lookup happens inside the caller's OWN per-org store, so an id belonging to another tenant is not refused, it is simply absent: the answer is 200 with an empty message list. Read it as \"no such conversation for you\" rather than as an empty thread. A validated principal with a non-empty org is required; 403 without one.",
        "tags": [
          "agent"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agent/presets": {
      "get": {
        "operationId": "get_agent_presets",
        "summary": "List the agent presets available to a caller",
        "description": "Returns the preset catalog: each entry's id, its description and whether it is server-executing — the flag that decides if a preset's tool calls run here or come back for the client to apply. The ids are what POST /v1/agent accepts in `preset`.\n\nThe catalog is compiled into the build, identical for every caller, and this is the one read in the group that needs no principal.",
        "tags": [
          "agent"
        ]
      }
    },
    "/v1/agents": {
      "get": {
        "operationId": "get_agents",
        "summary": "Returns every agent defined in the caller's org, each with the number of runs recorded against it.",
        "description": "Returns every agent defined in the caller's org, each with the\nnumber of runs recorded against it.",
        "tags": [
          "agents"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agentList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_agents",
        "summary": "Defines an agent in the caller's org: a model, a system prompt (instructions) and a set of tool names.",
        "description": "Defines an agent in the caller's org: a model, a system prompt\n(instructions) and a set of tool names. The name must be unique in the org and\nmatch ^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$. An omitted model takes the\ndeployment's configured default; a named one is checked against the gateway's\nserved catalog, so a model this deployment never serves is refused here rather\nthan failing at run time. A long-running agent must carry a 5-field cron\nschedule (the scheduler would otherwise never fire it) and counts against a\nper-org cap on scheduled agents.",
        "tags": [
          "agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "instructions": "be terse",
                "model": "enso-flash",
                "name": "helper"
              },
              "schema": {
                "$ref": "#/components/schemas/createAgentIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agentView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/agents/activity": {
      "get": {
        "operationId": "get_agents_activity",
        "summary": "Serves the org-wide recent-activity feed.",
        "description": "Serves the org-wide recent-activity feed. Events are REAL: each\nrecorded run is an invoked (ok) or failed (error) event; each agent's own\ncreate/update timestamps are created/updated events. Merged, newest first,\ncapped. Nothing is invented — an org with no agents and no runs gets [].",
        "tags": [
          "agents"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/activityFeed"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/builds": {
      "get": {
        "operationId": "get_agents_builds",
        "summary": "Returns the public index of every published build, most recently updated first, so a gallery can link straight to the story behind each product.",
        "description": "Returns the public index of every published build, most recently\nupdated first, so a gallery can link straight to the story behind each product.\nPUBLIC, no tenancy: publishing is the author's act, and only published root\nsessions appear here.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the page. Absent, zero or over 500 reads as 100.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/buildList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/builds/{org}/{project}": {
      "get": {
        "operationId": "get_agents_builds_by_org_by_project",
        "summary": "Returns the readable build of one product: the agent session that produced it, turn by turn — the prompts, the reasoning, the commits each turn produced — plus the exact `git log` that re-derives every commit binding from git itself, so nothing here has to be taken on trust.",
        "description": "Returns the readable build of one product: the agent session that\nproduced it, turn by turn — the prompts, the reasoning, the commits each turn\nproduced — plus the exact `git log` that re-derives every commit binding from\ngit itself, so nothing here has to be taken on trust.\n\nPUBLIC, no tenancy: it answers only for a session its author explicitly\npublished, which is what makes it safe to be anonymous. An unpublished session\nis invisible here no matter who asks; its owner reads it through the org-scoped\n/v1/agents/sessions routes, which need a validated principal.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "description": "Org is the org that published the build, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "hanzo"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the product's slug, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "landing"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/buildView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/metrics": {
      "get": {
        "operationId": "get_agents_metrics",
        "summary": "Serves the invocations-over-time histogram for the org's Agents dashboard.",
        "description": "Serves the invocations-over-time histogram for the org's Agents\ndashboard. Every point is a REAL count of recorded runs in that time bucket —\none series line per agent that ran in the window. The Resource Usage rollup is\nall-null because this store meters no CPU/memory/storage/cost; the console\nrenders those as \"—\" rather than a fabricated figure. No runs =\u003e empty series\n(an honest \"not connected / no activity yet\"), never a synthesized trend.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is the window to bucket: 24H, 7D or 30D. Anything else reads as 30D.",
            "schema": {
              "type": "string"
            },
            "example": "7D"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metricsView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/runs": {
      "get": {
        "operationId": "get_agents_runs",
        "summary": "Returns the org's agent runs across EVERY agent, newest first — what ran here, for whom, on which model, how long it took, and why it failed.",
        "description": "Returns the org's agent runs across EVERY agent, newest first —\nwhat ran here, for whom, on which model, how long it took, and why it failed.\n\nIt is the feed the per-agent history could not be: an operator asking \"what is\nthis tenant's agent plane doing\" does not start out knowing an agent ref, and\nanswering by listing the agents and then paging each one's history is N+1 round\ntrips to reconstruct one ordering the database already has (RunsSince, ordered\nby created_at over the org index).\n\nThe org is the CALLER's, resolved from identity by tenantStore — never a\nparameter. There is deliberately no org field on orgRunsQuery to forge: run\nhistory is the tenant's own record, and the only tenant this can answer for is\nthe one asking.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many runs come back, newest first. Absent, zero or out of\nrange (1..200) reads as 50.",
            "schema": {
              "type": "integer"
            },
            "example": 20
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status keeps only runs with this outcome (\"ok\" or \"error\"). Empty keeps\nboth. It is the filter an operator reaches for first — \"show me what broke\"\n— and answering it here rather than by paging the whole history client-side\nis the difference between a usable feed and a download.",
            "schema": {
              "type": "string"
            },
            "example": "error"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/sessions": {
      "get": {
        "operationId": "get_agents_sessions",
        "summary": "Returns the caller org's live sessions, newest first — each with its event count, its direct-child count and a one-line preview of its latest event.",
        "description": "Returns the caller org's live sessions, newest first — each with\nits event count, its direct-child count and a one-line preview of its latest\nevent. With no filter it returns ROOT sessions only, so a dashboard shows one\nrow per flow rather than one per subagent; ?root= or ?parent= descends.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "root",
            "in": "query",
            "required": false,
            "description": "Root scopes the page to one subagent tree (its root session id).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "query",
            "required": false,
            "description": "Parent scopes the page to the direct children of one session. Ignored when\nroot is set; with neither, only ROOT sessions come back.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status filters to running, paused, done or error.",
            "schema": {
              "type": "string"
            },
            "example": "running"
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project filters to the sessions tagged with one product slug.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the page. Absent, zero or over 500 reads as 100.",
            "schema": {
              "type": "integer"
            },
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_agents_sessions",
        "summary": "Opens a live agent session in the caller's org — the row every surface (the CLI's outer agent, hanzo.bot, the console, chat) hangs its activity off.",
        "description": "Opens a live agent session in the caller's org — the row every\nsurface (the CLI's outer agent, hanzo.bot, the console, chat) hangs its\nactivity off. A session with a parentSessionId becomes a subagent of that\nsession and inherits its root, so one flow is one tree; without one it is\nitself a root. Registering with a terminal status records a session that has\nalready finished.",
        "tags": [
          "agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "agent": "hanzo-dev",
                "host": "gpu-01",
                "title": "ship the landing page"
              },
              "schema": {
                "$ref": "#/components/schemas/registerReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/agents/sessions/stream": {
      "get": {
        "operationId": "get_agents_sessions_stream",
        "summary": "Live session and event updates for the caller's org, as Server-Sent Events.",
        "description": "Holds the connection open as text/event-stream and pushes a frame each time the org's registry moves: an `event: session` frame carrying the same session shape the list and detail reads answer with (a registration, an update, or a login-manager revoke tearing a session down), and an `event: event` frame carrying one appended turn. Optional ?root=\u003csession id\u003e narrows the feed to a single subagent tree.\n\nRequires a validated principal carrying an org; 403 without one. Org-scoped fail-closed: the bus filters on tenant before it fans out, so a subscriber only ever receives its own org's updates, and ?root= narrows that further but can never widen it.\n\nDelivery is best-effort and the GET reads remain the source of truth. A subscriber that falls more than 256 frames behind is DROPPED — its channel is closed and the stream ends — so one stuck dashboard can never back-pressure a session write; the client reconnects and re-reads the session endpoints to resynchronise. A `: ping` comment every 25 seconds holds the connection open through proxies and is how a departed client is noticed.",
        "tags": [
          "agents"
        ]
      }
    },
    "/v1/agents/sessions/{id}": {
      "get": {
        "operationId": "get_agents_sessions_by_id",
        "summary": "Returns one session with its direct child sessions and its 50 most recent events, oldest of those first.",
        "description": "Returns one session with its direct child sessions and its 50 most\nrecent events, oldest of those first.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sess_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionDetail"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_agents_sessions_by_id",
        "summary": "Updates a session's surface-owned truth: its status, its title, the run-target it is dispatched to, and the product it built plus whether that build's story is public.",
        "description": "Updates a session's surface-owned truth: its status, its title,\nthe run-target it is dispatched to, and the product it built plus whether that\nbuild's story is public. A FINISHED session stays finished — reopening a\ndone/error run would fabricate liveness — and publishing is refused unless the\nsession names the project it built, because the public build route is keyed on\n(org, project).",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to update, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sess_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "sess_1",
                "status": "done"
              },
              "schema": {
                "$ref": "#/components/schemas/patchSessionIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/sessions/{id}/control": {
      "get": {
        "operationId": "get_agents_sessions_by_id_control",
        "summary": "Returns the steering commands (pause/resume/stop/message) recorded against the caller's own session that are newer than the cursor, oldest first, with the cursor to poll from next.",
        "description": "Returns the steering commands (pause/resume/stop/message)\nrecorded against the caller's own session that are newer than the cursor,\noldest first, with the cursor to poll from next. It is how a locally started\n`hanzo code` session — which is not task-backed, so nothing forwards its\ncommands to an execution engine — consumes what the dashboard posted. Read-only\nand bounded at 200 per poll, so a steady poll is cheap and an applied command is\nnever redelivered.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session whose commands are being drained, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sess_1"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "After is the last seq this poller applied; only commands newer than it come\nback. Absent or negative reads as 0, which drains from the beginning.",
            "schema": {
              "type": "integer"
            },
            "example": 12
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/controlDrain"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/sessions/{id}/events": {
      "post": {
        "operationId": "post_agents_sessions_by_id_events",
        "summary": "Append one turn to a session's ordered log.",
        "description": "Records a message, tool-call, spawn, log, status or control turn against the session and answers 201 with the stored event, including the monotonic `seq` the store assigned — the cursor every reader pages from. The same turn is fanned out live to every stream subscriber watching that session's tree.\n\nRequires a validated principal carrying an org, and the session must already exist IN THAT ORG: an id belonging to another tenant is a 404 exactly like one that does not exist, so the log can never be written across a tenant boundary. `actor` defaults to the calling principal when the body names none. `kind` must be one of the six above, and `payload` must be valid JSON of at most 64 KiB.\n\nThe payload is scanned for credentials BEFORE it is stored, and a hit REFUSES the write with 422 rather than redacting it: {status, code: \"secret_in_transcript\", error, findings:[…]}, each finding naming the rule, severity, line, a masked preview and a SHA-256 fingerprint the author can match against the value they rotate. The detected value itself appears nowhere in that body, because it was never stored. That in-band findings array is the reason this operation cannot be typed.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agents/sessions/{id}/message": {
      "post": {
        "operationId": "post_agents_sessions_by_id_message",
        "summary": "Send text into a running session.",
        "description": "Records `message` as a durable control event carrying the caller's text and answers 200 with {command, event, forwarded} — this is how a dashboard steers an agent mid-run. It is the one command with a required body: a `message` (up to 16 KiB) or a `payload`, and 400 with neither. The credential scan that guards an appended turn covers `payload` here; `message` is bounded but not scanned. \n\nRequires a validated principal carrying an org, and the session must exist IN THAT ORG — a foreign id is a 404, so no tenant can steer another's agents. A FINISHED session (done or error) refuses every command with 409: a run that has ended cannot be steered.\n\nTHE COMMAND IS AN INTENT, NOT A STATE CHANGE. Nothing here writes the session's status. A 200 means the command was durably recorded and delivered, never that the agent has actually paused, resumed or stopped; the status becomes paused, done or error only when the surface running the agent reports it back through a session update. That surface learns of the command in one of two ways: a task-backed session (one carrying a workflow id, with a tasks backend wired) has it forwarded to the durable-execution engine, and `forwarded` says so; everything else is record-only, and the running surface — a locally started `hanzo code` session, for one — drains it by polling the session's control endpoint. Today that is every session: the only controller wired forwards nothing, so `forwarded` is false and polling is how a command arrives. If a forward is attempted and fails, the answer is 502 stating that the command was recorded but not forwarded: the intent is never lost.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agents/sessions/{id}/pause": {
      "post": {
        "operationId": "post_agents_sessions_by_id_pause",
        "summary": "Ask a running session to pause.",
        "description": "Records `pause` as a durable control event on the session and answers 200 with {command, event, forwarded} — the stored event carries the `seq` that orders it against every other turn. \n\nRequires a validated principal carrying an org, and the session must exist IN THAT ORG — a foreign id is a 404, so no tenant can steer another's agents. A FINISHED session (done or error) refuses every command with 409: a run that has ended cannot be steered.\n\nTHE COMMAND IS AN INTENT, NOT A STATE CHANGE. Nothing here writes the session's status. A 200 means the command was durably recorded and delivered, never that the agent has actually paused, resumed or stopped; the status becomes paused, done or error only when the surface running the agent reports it back through a session update. That surface learns of the command in one of two ways: a task-backed session (one carrying a workflow id, with a tasks backend wired) has it forwarded to the durable-execution engine, and `forwarded` says so; everything else is record-only, and the running surface — a locally started `hanzo code` session, for one — drains it by polling the session's control endpoint. Today that is every session: the only controller wired forwards nothing, so `forwarded` is false and polling is how a command arrives. If a forward is attempted and fails, the answer is 502 stating that the command was recorded but not forwarded: the intent is never lost.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agents/sessions/{id}/resume": {
      "post": {
        "operationId": "post_agents_sessions_by_id_resume",
        "summary": "Ask a paused session to carry on.",
        "description": "Records `resume` as a durable control event on the session and answers 200 with {command, event, forwarded}. The session is NOT required to be paused first: the only status this refuses is a finished one, because the live status is the running surface's to report rather than this endpoint's to enforce. \n\nRequires a validated principal carrying an org, and the session must exist IN THAT ORG — a foreign id is a 404, so no tenant can steer another's agents. A FINISHED session (done or error) refuses every command with 409: a run that has ended cannot be steered.\n\nTHE COMMAND IS AN INTENT, NOT A STATE CHANGE. Nothing here writes the session's status. A 200 means the command was durably recorded and delivered, never that the agent has actually paused, resumed or stopped; the status becomes paused, done or error only when the surface running the agent reports it back through a session update. That surface learns of the command in one of two ways: a task-backed session (one carrying a workflow id, with a tasks backend wired) has it forwarded to the durable-execution engine, and `forwarded` says so; everything else is record-only, and the running surface — a locally started `hanzo code` session, for one — drains it by polling the session's control endpoint. Today that is every session: the only controller wired forwards nothing, so `forwarded` is false and polling is how a command arrives. If a forward is attempted and fails, the answer is 502 stating that the command was recorded but not forwarded: the intent is never lost.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agents/sessions/{id}/stop": {
      "post": {
        "operationId": "post_agents_sessions_by_id_stop",
        "summary": "Ask a session to stop for good.",
        "description": "Records `stop` as a durable control event on the session and answers 200 with {command, event, forwarded}. Stop is the one command that CANCELS a task-backed session's durable workflow instead of signalling it — pause, resume and message are cooperative signals the workflow decides how to act on, while this tears it down, with the request's `message` recorded as the cancellation reason (a default stands in when none is given). \n\nRequires a validated principal carrying an org, and the session must exist IN THAT ORG — a foreign id is a 404, so no tenant can steer another's agents. A FINISHED session (done or error) refuses every command with 409: a run that has ended cannot be steered.\n\nTHE COMMAND IS AN INTENT, NOT A STATE CHANGE. Nothing here writes the session's status. A 200 means the command was durably recorded and delivered, never that the agent has actually paused, resumed or stopped; the status becomes paused, done or error only when the surface running the agent reports it back through a session update. That surface learns of the command in one of two ways: a task-backed session (one carrying a workflow id, with a tasks backend wired) has it forwarded to the durable-execution engine, and `forwarded` says so; everything else is record-only, and the running surface — a locally started `hanzo code` session, for one — drains it by polling the session's control endpoint. Today that is every session: the only controller wired forwards nothing, so `forwarded` is false and polling is how a command arrives. If a forward is attempted and fails, the answer is 502 stating that the command was recorded but not forwarded: the intent is never lost.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agents/sessions/{id}/tree": {
      "get": {
        "operationId": "get_agents_sessions_by_id_tree",
        "summary": "Returns the subagent-flow graph rooted at this session: the session, its children, their children, each node carrying its own event count.",
        "description": "Returns the subagent-flow graph rooted at this session: the session,\nits children, their children, each node carrying its own event count. One\nindexed read pulls the whole flow (every node of a flow shares a root id), so\nthe shape is assembled in memory rather than by walking the store per node.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sess_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/treeNode"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/targets": {
      "get": {
        "operationId": "get_agents_targets",
        "summary": "Returns every machine registered to the caller's org, newest first, each with its live session load.",
        "description": "Returns every machine registered to the caller's org, newest\nfirst, each with its live session load.",
        "tags": [
          "agents"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_agents_targets",
        "summary": "Registers a machine as an agent target, or re-links one that is already registered.",
        "description": "Registers a machine as an agent target, or re-links one that is\nalready registered. Re-linking is idempotent and keyed on org+host+owner, so a\nmachine that reconnects refreshes its own row rather than piling up duplicates;\nit answers 200, while a first registration answers 201.",
        "tags": [
          "agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "host": "gpu-01",
                "kind": "gpu",
                "label": "workshop"
              },
              "schema": {
                "$ref": "#/components/schemas/targetReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/targets/{id}": {
      "delete": {
        "operationId": "delete_agents_targets_by_id",
        "summary": "Deregisters one machine.",
        "description": "Deregisters one machine. Only its owner, or an org admin, may\nremove it; an unknown id, a cross-org id and a machine owned by someone else\nall answer the same not-found, so a probe learns nothing about what exists.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetDeleted"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "get": {
        "operationId": "get_agents_targets_by_id",
        "summary": "Returns one registered machine, with its live session load.",
        "description": "Returns one registered machine, with its live session load.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetView"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_agents_targets_by_id",
        "summary": "Updates one machine in place.",
        "description": "Updates one machine in place. Every field is optional; a field the\nrequest omits is left alone. A metrics patch IS a heartbeat — the server stamps\nits own clock, so a client can neither forge nor backdate staleness.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to update, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "tgt_1",
                "status": "draining"
              },
              "schema": {
                "$ref": "#/components/schemas/patchTargetIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/targets/{id}/claim": {
      "post": {
        "operationId": "post_agents_targets_by_id_claim",
        "summary": "ClaimRoutedRun is the machine's long poll for work: it authenticates the daemon, stamps the liveness the dispatch gate reads (the poll IS the proof a runner is listening), and waits up to 25 seconds for the next run addressed to THIS machine.",
        "description": "ClaimRoutedRun is the machine's long poll for work: it authenticates the\ndaemon, stamps the liveness the dispatch gate reads (the poll IS the proof a\nrunner is listening), and waits up to 25 seconds for the next run addressed to\nTHIS machine. It answers the run when one arrives and 204 with no body when the\nwindow elapses, on which the daemon re-polls immediately.\n\nTWO independent proofs are required and both fail closed to the same 403: the\ncaller must own this machine (or be an org admin) AND present its claim key in\nX-Target-Key. A run offered to one machine is unreachable from another's claim.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routedRunOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/targets/{id}/key": {
      "post": {
        "operationId": "post_agents_targets_by_id_key",
        "summary": "Mints (or rotates) the claim key a `hanzo code --serve` daemon presents to claim work for this machine, and returns it ONCE: only its SHA-256 hash is stored.",
        "description": "Mints (or rotates) the claim key a `hanzo code --serve`\ndaemon presents to claim work for this machine, and returns it ONCE: only its\nSHA-256 hash is stored. Rotating supersedes any prior daemon, so only the\nmachine's owner — or an org admin — may call it; every other caller gets the\nsame not-found an unknown id gets, and learns nothing about what exists.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/claimKeyOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/targets/{id}/runs/{runId}/report": {
      "post": {
        "operationId": "post_agents_targets_by_id_runs_by_runid_report",
        "summary": "Completes a claimed run: it delivers the terminal result to the run's durable owner, which is what lets that workflow finish.",
        "description": "Completes a claimed run: it delivers the terminal result to the\nrun's durable owner, which is what lets that workflow finish. Scoped to (org,\ntarget, run) and claim-key authenticated, so a machine can only ever report a\nrun it legitimately holds. Idempotent — a report for an unknown or\nalready-finished run answers delivered:false rather than failing, because the\nsession's terminal state was already set by the machine's own stream.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the machine reporting, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "description": "RunID is the routed run being completed, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "run_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "branch": "hanzo/fix",
                "changed": true,
                "id": "tgt_1",
                "ok": true,
                "runId": "run_1"
              },
              "schema": {
                "$ref": "#/components/schemas/reportRunIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reportOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/{ref}": {
      "delete": {
        "operationId": "delete_agents_by_ref",
        "summary": "Removes an agent and every run recorded against it.",
        "description": "Removes an agent and every run recorded against it. Answers 204.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Ref is the agent's public id (the agent_… handle create and list return) or\nits org-unique name, from the path. Either resolves the same agent.",
            "schema": {
              "type": "string"
            },
            "example": "helper"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_agents_by_ref",
        "summary": "Returns one agent with its system prompt and its 20 most recent runs.",
        "description": "Returns one agent with its system prompt and its 20 most recent runs.\nThe ref is the agent's public id or its org-unique name — a created agent is\nimmediately gettable by whatever create handed back.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Ref is the agent's public id (the agent_… handle create and list return) or\nits org-unique name, from the path. Either resolves the same agent.",
            "schema": {
              "type": "string"
            },
            "example": "helper"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agentDetail"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_agents_by_ref",
        "summary": "Changes an agent in place.",
        "description": "Changes an agent in place. Every field is optional; a field the\nrequest omits keeps its stored value. The resulting mode+schedule are\nre-validated together, so a partial update can never leave a long-running\nagent without the cron the scheduler needs to fire it, and a transition INTO\nlong-running counts against the per-org cap on scheduled agents.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Ref is the agent to update — its public id or org-unique name, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "helper"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "instructions": "be terse and cite sources",
                "ref": "helper"
              },
              "schema": {
                "$ref": "#/components/schemas/updateAgentIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agentView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/agents/{ref}/run": {
      "post": {
        "operationId": "post_agents_by_ref_run",
        "summary": "Run one of your org's agents and get the recorded run back.",
        "description": "Composes the agent's stored instructions with the caller's `input`, executes one real chat completion through the same in-process AI client the rest of the console uses, and answers with the run that was recorded: its id, status, model, output, duration and error. Every run this returns reflects an execution that actually happened — a model failure is recorded and reported, never hidden and never fabricated. A transient upstream failure (429, 5xx, empty choices) is retried up to three times with jittered backoff, and a configured failover model is tried before the run is called an error.\n\n`ref` is the agent's public `agent_…` id or its org-unique name; either resolves the same agent, and it must belong to the caller's org, so an agent in another tenant is a 404 exactly like one that does not exist. A validated principal is required and the check is made twice on purpose: this route MOVES MONEY, so the debit's principal requirement is asserted where the money moves rather than inherited from the tenant lookup.\n\nThe org's balance is authorized BEFORE any inference, so an unfunded tenant gets 402 and no free compute, and a billing plane that cannot answer gets 503 rather than a free run. The flat per-run fee is an operator knob; setting it to zero makes runs free and removes the balance gate with them. Only a SUCCESSFUL run is billed, attributed to the model actually used — a failover run bills the model it fell over to, not the one it started on. A deployment with no inference wired answers 503 before any of this.\n\nTHE RULE A READER GETS WRONG: a failed run is a 502 whose body is the RUN, not an error envelope. The execution happened, the run was persisted to this agent's history, and its `error` field is the product — so a client that treats every non-2xx as an opaque failure throws away the only account of what went wrong. Each run also opens a root session in the live session registry, best-effort: a bookkeeping failure there never fails the run, because the run and its billing already happened.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agents/{ref}/runs": {
      "get": {
        "operationId": "get_agents_by_ref_runs",
        "summary": "Returns one agent's execution history, newest first — each run's input, its output or its error, and how long it took.",
        "description": "Returns one agent's execution history, newest first — each run's\ninput, its output or its error, and how long it took. Every row is a run that\nactually happened.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Ref is the agent's public id or its org-unique name, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "helper"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many runs come back, newest first. Absent, zero or out of\nrange (1..200) reads as 50.",
            "schema": {
              "type": "integer"
            },
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/coding": {
      "post": {
        "operationId": "post_coding",
        "summary": "Start one autonomous coding run against a repo in the caller's org",
        "description": "Runs a coding task on a repository: clones it into a sandbox, lets a model read\nand edit the code, run the tests, and push the work to a branch. Say the thing\nyou want done — \"fix\nthe failing auth test in hanzoai/cloud\" — and the run infers the repo, the\nbranch and the plan. No prefix, no ceremony.\n\nIt answers 202 with the run's handle the moment the run is ADMITTED — not when\nit finishes. A coding run takes minutes; holding a request open for one would\ntie a connection to a model loop and give the caller nothing it cannot get\nbetter from the session stream.\n\nThe handle is a session id, and that is deliberate: the session is already the\nrun's durable record and its live stream (/v1/agents/sessions/{id}/stream), so\nthis door does not grow a progress endpoint, a status endpoint or a cancel\nendpoint of its own. One way to watch a run, whoever started it.",
        "tags": [
          "coding"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CodingStartIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodingStarted"
                }
              }
            },
            "description": "accepted"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CodingStartIn": {
        "properties": {
          "agentRef": {
            "description": "AgentRef names a configured agent to run as, which is how an org pins a\nharness, a model and a prompt to a name. Empty runs the default agent.",
            "type": "string"
          },
          "base": {
            "description": "Base is the branch to start from. Empty takes the repository's default. The\nrun never writes here — it writes the agent branch it answers with.",
            "type": "string"
          },
          "desktop": {
            "description": "Desktop asks for a run with a SCREEN — an image carrying an X server — for a\ntask that has to drive a browser or another windowed program. False, the\ndefault, is a headless checkout, which is what writing code needs.",
            "type": "boolean"
          },
          "project": {
            "description": "Project scopes the run to one board's work when the org keeps more than one.\nEmpty is the org's default.",
            "type": "string"
          },
          "prompt": {
            "description": "Prompt is the task, in the words you would use with a colleague who has the\ncheckout open. It is the whole instruction: there is no second field for\ncontext, and a prompt that names files and the outcome it wants gets a run\nthat does not have to guess either.",
            "type": "string"
          },
          "replyChannel": {
            "description": "ReplyChannel / ReplyThread are WHERE THE RUN NARRATES ITSELF, when the door\nthat started it has somewhere for it to talk. Empty means nobody is\nlistening and the run simply does not narrate — which is the app door's\ncase, because /v1/coding hands back a session id and the session stream is\na better progress feed than any message could be.\n\nIt is an ADDRESS and not a token: the engine says \"put this text there\",\nand the process that owns the workspace's bot credential is the one that\nactually posts. So a run reports into a Slack thread without the engine\never holding the token that could post anywhere else in that workspace.",
            "type": "string"
          },
          "replyThread": {
            "type": "string"
          },
          "repo": {
            "description": "Repo is what to work on, as `owner/name` in the caller's own org. The engine\nresolves the clone URL and the push credential from the org itself, so this\nsays WHICH repository and never how to reach it.",
            "type": "string"
          },
          "targetId": {
            "description": "TargetID routes the run to a registered machine the org has claimed instead\nof to a sandbox in our cluster. Empty runs it here, which is the usual case.",
            "type": "string"
          },
          "timeoutSeconds": {
            "description": "TimeoutSeconds bounds the whole run. Unset takes the default budget; a run\nthat hits the bound is stopped and reports what it had done by then.",
            "type": "integer"
          },
          "tool": {
            "description": "Tool is which harness runs the prompt — dev | claude | codex | python |\nnode — and Desktop is whether the run needs a screen. Both are empty by\ndefault, which is `dev` with no screen, and that default is what every\ncaller gets until it says otherwise.\n\nThey are two fields because they are two questions. The harness decides\nwhat argv starts; the screen decides which image carries an X server. A\ncaller may want claude WITH a browser it can see, and a single enum would\nhave made that combination unsayable.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CodingStarted": {
        "properties": {
          "branch": {
            "description": "Branch is the ref the run will push its work to, and the ONLY ref it is\npermitted to write. It exists before the work does, so it is safe to tell\nsomebody where to look while the run is still going.",
            "type": "string"
          },
          "repo": {
            "description": "Repo is the repository the run was admitted against, echoed back as the\nengine resolved it.",
            "type": "string"
          },
          "routed": {
            "description": "Routed says the run went to one of the org's own registered machines rather\nthan to a sandbox in our cluster. False is the ordinary case.",
            "type": "boolean"
          },
          "sessionId": {
            "description": "SessionID is the run's handle: its durable record, and the id its live\nprogress streams under at /v1/agents/sessions/{sessionId}/stream. Every\nlater question about this run is asked with it.",
            "type": "string"
          },
          "targetId": {
            "description": "TargetID names that machine when Routed is true, and is empty otherwise.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GPU": {
        "properties": {
          "memory": {
            "description": "VRAM bytes, 0 = unknown",
            "type": "integer"
          },
          "model": {
            "description": "\"GB10\", \"8060S\", \"RTX 4090\"",
            "type": "string"
          },
          "vendor": {
            "description": "nvidia | amd | apple | intel | ...",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Metrics": {
        "properties": {
          "at": {
            "description": "unix seconds, server-stamped",
            "type": "integer"
          },
          "gpuUtil": {
            "description": "0..1 aggregate utilization",
            "type": "number"
          },
          "load1": {
            "type": "number"
          },
          "load15": {
            "type": "number"
          },
          "load5": {
            "type": "number"
          },
          "memFree": {
            "description": "bytes",
            "type": "integer"
          },
          "memUsed": {
            "description": "bytes",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Spec": {
        "properties": {
          "arch": {
            "description": "amd64 | arm64 | ...",
            "type": "string"
          },
          "cpus": {
            "description": "logical cores",
            "type": "integer"
          },
          "gpus": {
            "items": {
              "$ref": "#/components/schemas/GPU"
            },
            "type": "array"
          },
          "memory": {
            "description": "total RAM, bytes",
            "type": "integer"
          },
          "os": {
            "description": "linux | darwin | windows",
            "type": "string"
          }
        },
        "type": "object"
      },
      "activityFeed": {
        "properties": {
          "activity": {
            "description": "Activity is the merged run/create/update events, newest first, capped at 50.",
            "items": {
              "$ref": "#/components/schemas/activityView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "activityView": {
        "properties": {
          "agent": {
            "description": "agent name",
            "type": "string"
          },
          "at": {
            "description": "RFC3339 UTC",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "kind": {
            "description": "invoked|failed|created|updated (from real events)",
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "agentDetail": {
        "properties": {
          "computeRef": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "executionMode": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "recentRuns": {
            "items": {
              "$ref": "#/components/schemas/agentRunView"
            },
            "type": "array"
          },
          "runs": {
            "type": "integer"
          },
          "schedule": {
            "type": "string"
          },
          "serviceAccountId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "tools": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "agentList": {
        "properties": {
          "agents": {
            "description": "Agents is the org's agents, each carrying its recorded run count.",
            "items": {
              "$ref": "#/components/schemas/agentView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "agentRunView": {
        "properties": {
          "actor": {
            "type": "string"
          },
          "agent": {
            "description": "What an operator needs to answer \"what ran, for whom, and what did it do\" —\nand, through traceId, to leave this record for the waterfall of the very\nsame run rather than a search that hopefully lands near it.\n\nAgent is on the row because the org-wide feed lists runs across agents, and\na run that cannot name its agent is an orphan in exactly the view built to\nmake sense of many of them. Every field is omitempty: a run recorded before\nthese columns existed reports absence rather than a zero it never measured.",
            "type": "string"
          },
          "completionTokens": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "durationMs": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "input": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "string"
          },
          "promptTokens": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "toolCalls": {
            "type": "integer"
          },
          "traceId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "agentView": {
        "properties": {
          "computeRef": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "executionMode": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "runs": {
            "type": "integer"
          },
          "schedule": {
            "type": "string"
          },
          "serviceAccountId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "tools": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "buildList": {
        "properties": {
          "builds": {
            "description": "Builds is every published build, most recently updated first.",
            "items": {
              "$ref": "#/components/schemas/buildSummary"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "buildSummary": {
        "properties": {
          "agent": {
            "type": "string"
          },
          "endedAt": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "repo": {
            "type": "string"
          },
          "session": {
            "type": "string"
          },
          "startedAt": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "turns": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "buildTurn": {
        "properties": {
          "actor": {
            "type": "string"
          },
          "at": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "commit": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "turn": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "buildView": {
        "properties": {
          "agent": {
            "type": "string"
          },
          "endedAt": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "repo": {
            "type": "string"
          },
          "session": {
            "type": "string"
          },
          "startedAt": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "turns": {
            "items": {
              "$ref": "#/components/schemas/buildTurn"
            },
            "type": "array"
          },
          "verify": {
            "description": "Verify is the exact command that re-derives every commit binding below\nstraight from git, so nothing here has to be taken on trust.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "claimKeyOut": {
        "properties": {
          "claimKey": {
            "description": "ClaimKey is the capability itself. It is returned ONCE and never again — only\nits SHA-256 hash is stored — so a daemon that loses it mints a new one.",
            "type": "string"
          },
          "targetId": {
            "description": "TargetID is the machine the key authenticates.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "controlCommandView": {
        "properties": {
          "command": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "payload": {},
          "seq": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "controlDrain": {
        "properties": {
          "commands": {
            "description": "Commands is the session's control commands newer than the cursor, oldest first.",
            "items": {
              "$ref": "#/components/schemas/controlCommandView"
            },
            "type": "array"
          },
          "cursor": {
            "description": "Cursor is the seq to send as `after` on the next poll — the highest seq in\nthis page, or the cursor sent in when the page is empty.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "createAgentIn": {
        "properties": {
          "computeRef": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "executionMode": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "schedule": {
            "type": "string"
          },
          "serviceAccountId": {
            "type": "string"
          },
          "tools": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "eventView": {
        "properties": {
          "actor": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "payload": {},
          "seq": {
            "type": "integer"
          },
          "sessionId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "lastEventView": {
        "properties": {
          "actor": {
            "type": "string"
          },
          "at": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "preview": {
            "type": "string"
          },
          "seq": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "metricsView": {
        "properties": {
          "range": {
            "description": "echoes the requested window (24H|7D|30D)",
            "type": "string"
          },
          "resource": {
            "$ref": "#/components/schemas/resourceUsage"
          },
          "series": {
            "description": "per-agent invocation histogram (real)",
            "items": {
              "$ref": "#/components/schemas/seriesLine"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "patchSessionIn": {
        "properties": {
          "cwd": {
            "description": "Cwd is where the session is working NOW.\n\nIt was write-once — captured at register and never again — which is right\nfor a run that starts in a directory and stays there, and wrong for a linked\nshell, which is a place a person moves around in. The console showed the\ndirectory `hanzo link` happened to be run from and kept showing it after the\nshell had walked away, so the field answered \"which work is this\" with an\nanswer that was true once. A pointer, so an unchanged path is an omitted\nfield rather than a repeated write.",
            "type": "string"
          },
          "id": {
            "description": "ID is the session to update, from the path.",
            "type": "string"
          },
          "project": {
            "description": "Project tags the product this session built; Published is the author's\ndecision to let anyone read the story (provenance.go). Both are pointers so\n\"absent\" and \"cleared\" are different requests.",
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "target": {
            "description": "Target re-dispatches a session to a run-target (the #48 association). \"\" detaches.",
            "type": "string"
          },
          "terminal": {
            "description": "Terminal publishes (or, with \"\", withdraws) the URL this session's live\nterminal can be watched at. A pointer so \"absent\" and \"withdrawn\" are\ndifferent requests: a session that stops sharing must be able to say so.",
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "patchTargetIn": {
        "properties": {
          "capacity": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "id": {
            "description": "ID is the target to update, from the path.",
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics",
            "description": "present =\u003e a heartbeat; the server stamps its time"
          },
          "spec": {
            "$ref": "#/components/schemas/Spec"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "registerReq": {
        "properties": {
          "account": {
            "type": "string"
          },
          "actor": {
            "type": "string"
          },
          "agent": {
            "type": "string"
          },
          "cwd": {
            "type": "string"
          },
          "host": {
            "description": "Execution context — where this session runs (all optional).",
            "type": "string"
          },
          "parentSessionId": {
            "type": "string"
          },
          "project": {
            "description": "The readable build (provenance.go): which product this session builds, and\nwhether its story may be read by the world.",
            "type": "string"
          },
          "provider": {
            "description": "Account tag — the linked AI account this session ran under (login manager).",
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "repo": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "taskRunId": {
            "type": "string"
          },
          "taskWorkflowId": {
            "type": "string"
          },
          "terminal": {
            "description": "Terminal is the URL this session's live terminal is published at, so the\nconsole can watch it. Optional — a session that publishes nothing is still\na session.",
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "reportOut": {
        "properties": {
          "delivered": {
            "description": "Delivered is true when a waiting durable owner received this result. False\nmeans there was none to deliver to — an unknown or already-finished run — which\nis a clean no-op, not an error.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "reportRunIn": {
        "properties": {
          "branch": {
            "description": "Branch, CommitSha and Diffstat describe what the run produced; Error is the\nfailure when OK is false. Each is clamped, never rejected.",
            "type": "string"
          },
          "changed": {
            "type": "boolean"
          },
          "commitSha": {
            "type": "string"
          },
          "diffstat": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "id": {
            "description": "ID is the machine reporting, from the path.",
            "type": "string"
          },
          "ok": {
            "description": "OK is whether the run succeeded; Changed whether it produced any commit.",
            "type": "boolean"
          },
          "runId": {
            "description": "RunID is the routed run being completed, from the path.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "resourceUsage": {
        "properties": {
          "costCents": {
            "type": "number"
          },
          "cpuVcpuHours": {
            "type": "number"
          },
          "memGbHours": {
            "type": "number"
          },
          "storageIoBytes": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "routedRunOut": {
        "properties": {
          "base": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "cloneUrl": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "repo": {
            "description": "Repo is the repository to work in and CloneURL is how to fetch it.",
            "type": "string"
          },
          "sessionId": {
            "description": "SessionID is the live session opened at dispatch; the machine streams its\nturns into it.",
            "type": "string"
          },
          "timeoutSeconds": {
            "description": "TimeoutSeconds bounds the run on the machine; 0 means the machine's own default.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "runList": {
        "properties": {
          "runs": {
            "description": "Runs is the agent's executions, newest first.",
            "items": {
              "$ref": "#/components/schemas/agentRunView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "seriesLine": {
        "properties": {
          "key": {
            "description": "agent name",
            "type": "string"
          },
          "points": {
            "items": {
              "$ref": "#/components/schemas/seriesPoint"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "seriesPoint": {
        "properties": {
          "t": {
            "description": "bucket start, RFC3339 UTC",
            "type": "string"
          },
          "v": {
            "description": "real invocation count in the bucket",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sessionDetail": {
        "properties": {
          "account": {
            "type": "string"
          },
          "actor": {
            "type": "string"
          },
          "agent": {
            "type": "string"
          },
          "childSessions": {
            "items": {
              "$ref": "#/components/schemas/sessionView"
            },
            "type": "array"
          },
          "children": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "cwd": {
            "type": "string"
          },
          "endedAt": {
            "type": "string"
          },
          "events": {
            "type": "integer"
          },
          "host": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lastEvent": {
            "$ref": "#/components/schemas/lastEventView"
          },
          "org": {
            "type": "string"
          },
          "parentSessionId": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "recentEvents": {
            "items": {
              "$ref": "#/components/schemas/eventView"
            },
            "type": "array"
          },
          "repo": {
            "type": "string"
          },
          "rootSessionId": {
            "type": "string"
          },
          "startedAt": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "taskRunId": {
            "type": "string"
          },
          "taskWorkflowId": {
            "type": "string"
          },
          "terminal": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "sessionList": {
        "properties": {
          "sessions": {
            "description": "Sessions is the matching sessions, each with its event and child counts and\na one-line preview of its latest event.",
            "items": {
              "$ref": "#/components/schemas/sessionView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "sessionView": {
        "properties": {
          "account": {
            "type": "string"
          },
          "actor": {
            "type": "string"
          },
          "agent": {
            "type": "string"
          },
          "children": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "cwd": {
            "type": "string"
          },
          "endedAt": {
            "type": "string"
          },
          "events": {
            "type": "integer"
          },
          "host": {
            "description": "Execution context (mission-control): the machine/repo/cwd a card shows and\nthe run-target a session is dispatched to. Omitted when a surface didn't report it.",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lastEvent": {
            "$ref": "#/components/schemas/lastEventView",
            "description": "LastEvent is the compact latest-activity line for the list projection (nil in\nregister/patch/tree responses; set by list + detail). It lets a swipe card show\na live one-line preview without fetching full detail."
          },
          "org": {
            "description": "Org is the caller's OWN tenant, echoed so a client can build the public\nbuild URL (/builds/:org/:project) without a second call or a guess. It is\nnever another tenant's — every read is org-scoped before it gets here.",
            "type": "string"
          },
          "parentSessionId": {
            "type": "string"
          },
          "project": {
            "description": "The readable build: the product this session built and whether its story\nis public (provenance.go).",
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "repo": {
            "type": "string"
          },
          "rootSessionId": {
            "type": "string"
          },
          "startedAt": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "taskRunId": {
            "type": "string"
          },
          "taskWorkflowId": {
            "type": "string"
          },
          "terminal": {
            "description": "Terminal is where this session can be WATCHED — the URL the machine\npublished for its live terminal. Omitted when it publishes none.",
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "targetDeleted": {
        "properties": {
          "deleted": {
            "description": "Deleted is true when the target was removed.",
            "type": "boolean"
          },
          "id": {
            "description": "ID is the target that was removed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "targetList": {
        "properties": {
          "targets": {
            "description": "Targets is every target registered to the caller's org.",
            "items": {
              "$ref": "#/components/schemas/targetView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "targetReq": {
        "properties": {
          "capacity": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics"
          },
          "spec": {
            "$ref": "#/components/schemas/Spec"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "targetView": {
        "properties": {
          "capacity": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics"
          },
          "metricsAt": {
            "type": "string"
          },
          "running": {
            "type": "integer"
          },
          "sessions": {
            "type": "integer"
          },
          "spec": {
            "$ref": "#/components/schemas/Spec"
          },
          "status": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "treeNode": {
        "properties": {
          "children": {
            "items": {
              "$ref": "#/components/schemas/treeNode"
            },
            "type": "array"
          },
          "session": {
            "$ref": "#/components/schemas/sessionView"
          }
        },
        "type": "object"
      },
      "updateAgentIn": {
        "properties": {
          "computeRef": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "executionMode": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "ref": {
            "description": "Ref is the agent to update — its public id or org-unique name, from the path.",
            "type": "string"
          },
          "schedule": {
            "type": "string"
          },
          "serviceAccountId": {
            "type": "string"
          },
          "tools": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  }
}
