{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package agents is autonomous agents for your org: define them, run them, keep every run.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "agents"
    }
  ],
  "paths": {
    "/v1/agents": {
      "get": {
        "operationId": "get_agents",
        "summary": "Returns every agent defined in the caller's org, each with the number of runs recorded against it.",
        "description": "Returns every agent defined in the caller's org, each with the\nnumber of runs recorded against it.",
        "tags": [
          "agents"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agentList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_agents",
        "summary": "Defines an agent in the caller's org: a model, a system prompt (instructions) and a set of tool names.",
        "description": "Defines an agent in the caller's org: a model, a system prompt\n(instructions) and a set of tool names. The name must be unique in the org and\nmatch ^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$. An omitted model takes the\ndeployment's configured default; a named one is checked against the gateway's\nserved catalog, so a model this deployment never serves is refused here rather\nthan failing at run time. A long-running agent must carry a 5-field cron\nschedule (the scheduler would otherwise never fire it) and counts against a\nper-org cap on scheduled agents.",
        "tags": [
          "agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "instructions": "be terse",
                "model": "enso-flash",
                "name": "helper"
              },
              "schema": {
                "$ref": "#/components/schemas/createAgentIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agentView"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/activity": {
      "get": {
        "operationId": "get_agents_activity",
        "summary": "Serves the org-wide recent-activity feed.",
        "description": "Serves the org-wide recent-activity feed. Events are REAL: each\nrecorded run is an invoked (ok) or failed (error) event; each agent's own\ncreate/update timestamps are created/updated events. Merged, newest first,\ncapped. Nothing is invented — an org with no agents and no runs gets [].",
        "tags": [
          "agents"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/activityFeed"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/builds": {
      "get": {
        "operationId": "get_agents_builds",
        "summary": "Returns the public index of every published build, most recently updated first, so a gallery can link straight to the story behind each product.",
        "description": "Returns the public index of every published build, most recently\nupdated first, so a gallery can link straight to the story behind each product.\nPUBLIC, no tenancy: publishing is the author's act, and only published root\nsessions appear here.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the page. Absent, zero or over 500 reads as 100.",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/buildList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/builds/{org}/{project}": {
      "get": {
        "operationId": "get_agents_builds_by_org_by_project",
        "summary": "Returns the readable build of one product: the agent session that produced it, turn by turn — the prompts, the reasoning, the commits each turn produced — plus the exact `git log` that re-derives every commit binding from git itself, so nothing here has to be taken on trust.",
        "description": "Returns the readable build of one product: the agent session that\nproduced it, turn by turn — the prompts, the reasoning, the commits each turn\nproduced — plus the exact `git log` that re-derives every commit binding from\ngit itself, so nothing here has to be taken on trust.\n\nPUBLIC, no tenancy: it answers only for a session its author explicitly\npublished, which is what makes it safe to be anonymous. An unpublished session\nis invisible here no matter who asks; its owner reads it through the org-scoped\n/v1/agents/sessions routes, which need a validated principal.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "description": "Org is the org that published the build, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "hanzo"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the product's slug, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "landing"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/buildView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/chat": {
      "post": {
        "operationId": "post_agents_chat",
        "summary": "Run one tool-calling round against your org's own tools",
        "description": "Answers one turn of a conversation with four things: the model's `reply`, the `actions` the server executed on the caller's behalf, the `ops` the client must apply itself, and the `conversationId` the turn was recorded under.\n\nThe split between actions and ops is the rule most easily got wrong. A tool call is executed HERE only when the chosen preset is server-executing AND the tool resolves in the caller's own scope; every other call is handed back as an op for the client to apply to its own graph or UI. A tool that fails still comes back as an action, carrying its error rather than failing the round.\n\n`preset` selects the system prompt and the tool set (`capability` is a legacy alias for it); an unknown one is refused. `conversationId` continues an existing thread, and its absence starts one. A validated principal with a non-empty org is required — the org is the sole authority for both persistence and tool scope, and is NEVER read from the body.\n\nA completion refused for the caller's own reason — 402 insufficient balance, 429, 403 — is relayed with its own status and body verbatim, so the real billing message reaches the client instead of an opaque gateway error. Only a genuine upstream fault becomes a 502.",
        "tags": [
          "agents"
        ],
        "x-public": true
      }
    },
    "/v1/agents/chat/conversations": {
      "get": {
        "operationId": "get_agents_chat_conversations",
        "summary": "List the agent threads in your org",
        "description": "Returns a summary of every agent conversation in the caller's org — id, derived title, and when it was last appended to — for populating a thread list.\n\nScoped to the caller's org and nothing else, and that isolation is structural rather than a filter: conversations are persisted in a store opened PER ORG, so there is no query in which another tenant's threads could appear. A validated principal with a non-empty org is required; 403 without one.",
        "tags": [
          "agents"
        ],
        "x-public": true
      },
      "post": {
        "operationId": "post_agents_chat_conversations",
        "summary": "Record turns in a conversation",
        "description": "Writes turns to the caller's thread store without running a completion, and answers the `conversationId` they were written under. An absent `conversationId` opens a new thread; supplying one appends to it.\n\nThis is for a client that streams its own turn through /v1/chat/completions and still wants the conversation in its history — the round records what IT answers, and is otherwise the only writer. It takes the same store, the same per-org isolation and the same notion of a thread: what is recorded here reads back through the two GETs beside it and the round can continue it by id. A validated principal with a non-empty org is required; 403 without one.",
        "tags": [
          "agents"
        ],
        "x-public": true
      }
    },
    "/v1/agents/chat/conversations/{id}": {
      "get": {
        "operationId": "get_agents_chat_conversations_by_id",
        "summary": "Read one agent thread in full",
        "description": "Returns every message of one conversation in order — role, content, the assistant's tool calls where it made any, and each message's creation time — which is the transcript a client replays to resume a thread.\n\nThe lookup happens inside the caller's OWN per-org store, so an id belonging to another tenant is not refused, it is simply absent: the answer is 200 with an empty message list. Read it as \"no such conversation for you\" rather than as an empty thread. A validated principal with a non-empty org is required; 403 without one.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/agents/chat/presets": {
      "get": {
        "operationId": "get_agents_chat_presets",
        "summary": "List the agent presets available to a caller",
        "description": "Returns the preset catalog: each entry's id, its description and whether it is server-executing — the flag that decides if a preset's tool calls run here or come back for the client to apply. The ids are what the round accepts in `preset`.\n\nThe catalog is compiled into the build, identical for every caller, and this is the one read in the group that needs no principal.",
        "tags": [
          "agents"
        ],
        "x-public": true
      }
    },
    "/v1/agents/coding": {
      "post": {
        "operationId": "post_agents_coding",
        "summary": "Start one autonomous coding run against a repo in the caller's org",
        "tags": [
          "agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CodingStartIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodingStarted"
                }
              }
            },
            "description": "accepted"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/metrics": {
      "get": {
        "operationId": "get_agents_metrics",
        "summary": "Serves the invocations-over-time histogram for the org's Agents dashboard.",
        "description": "Serves the invocations-over-time histogram for the org's Agents\ndashboard. Every point is a REAL count of recorded runs in that time bucket —\none series line per agent that ran in the window. The Resource Usage rollup is\nall-null because this store meters no CPU/memory/storage/cost; the console\nrenders those as \"—\" rather than a fabricated figure. No runs =\u003e empty series\n(an honest \"not connected / no activity yet\"), never a synthesized trend.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is the window to bucket: 24H, 7D or 30D. Anything else reads as 30D.",
            "schema": {
              "type": "string"
            },
            "example": "7D"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metricsView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/runs": {
      "get": {
        "operationId": "get_agents_runs",
        "summary": "Returns the org's agent runs across EVERY agent, newest first — what ran here, for whom, on which model, how long it took, and why it failed.",
        "description": "Returns the org's agent runs across EVERY agent, newest first —\nwhat ran here, for whom, on which model, how long it took, and why it failed.\n\nIt is the feed the per-agent history could not be: an operator asking \"what is\nthis tenant's agent plane doing\" does not start out knowing an agent ref, and\nanswering by listing the agents and then paging each one's history is N+1 round\ntrips to reconstruct one ordering the database already has (RunsSince, ordered\nby created_at over the org index).\n\nThe org is the CALLER's, resolved from identity by tenantStore — never a\nparameter. There is deliberately no org field on orgRunsQuery to forge: run\nhistory is the tenant's own record, and the only tenant this can answer for is\nthe one asking.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many runs come back, newest first. Absent, zero or out of\nrange (1..200) reads as 50.",
            "schema": {
              "format": "int64",
              "type": "integer"
            },
            "example": 20
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status keeps only runs with this outcome (\"ok\" or \"error\"). Empty keeps\nboth. It is the filter an operator reaches for first — \"show me what broke\"\n— and answering it here rather than by paging the whole history client-side\nis the difference between a usable feed and a download.",
            "schema": {
              "type": "string"
            },
            "example": "error"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/sessions": {
      "get": {
        "operationId": "get_agents_sessions",
        "summary": "Returns the caller org's live sessions, newest first — each with its event count, its direct-child count and a one-line preview of its latest event.",
        "description": "Returns the caller org's live sessions, newest first — each with\nits event count, its direct-child count and a one-line preview of its latest\nevent. With no filter it returns ROOT sessions only, so a dashboard shows one\nrow per flow rather than one per subagent; ?root= or ?parent= descends.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "root",
            "in": "query",
            "required": false,
            "description": "Root scopes the page to one subagent tree (its root session id).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "query",
            "required": false,
            "description": "Parent scopes the page to the direct children of one session. Ignored when\nroot is set; with neither, only ROOT sessions come back.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status filters to running, paused, done or error.",
            "schema": {
              "type": "string"
            },
            "example": "running"
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project filters to the sessions tagged with one product slug.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "room",
            "in": "query",
            "required": false,
            "description": "Room filters to the sessions started in one collaborative room — the query a\nspace view runs to show what has been run in it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the page. Absent, zero or over 500 reads as 100.",
            "schema": {
              "format": "int64",
              "type": "integer"
            },
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_agents_sessions",
        "summary": "Opens a live agent session in the caller's org — the row every surface (the CLI's outer agent, hanzo.bot, the console, chat) hangs its activity off.",
        "description": "Opens a live agent session in the caller's org — the row every\nsurface (the CLI's outer agent, hanzo.bot, the console, chat) hangs its\nactivity off. A session with a parentSessionId becomes a subagent of that\nsession and inherits its root, so one flow is one tree; without one it is\nitself a root. Registering with a terminal status records a session that has\nalready finished.",
        "tags": [
          "agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "agent": "hanzo-dev",
                "host": "gpu-01",
                "title": "ship the landing page"
              },
              "schema": {
                "$ref": "#/components/schemas/registerReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionView"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/sessions/stream": {
      "get": {
        "operationId": "get_agents_sessions_stream",
        "summary": "Live session and event updates for the caller's org, as Server-Sent Events.",
        "description": "Holds the connection open as text/event-stream and pushes a frame each time the org's registry moves: an `event: session` frame carrying the same session shape the list and detail reads answer with (a registration, an update, or a login-manager revoke tearing a session down), and an `event: event` frame carrying one appended turn. Optional ?root=\u003csession id\u003e narrows the feed to a single subagent tree.\n\nRequires a validated principal carrying an org; 403 without one. Org-scoped fail-closed: the bus filters on tenant before it fans out, so a subscriber only ever receives its own org's updates, and ?root= narrows that further but can never widen it.\n\nDelivery is best-effort and the GET reads remain the source of truth. A subscriber that falls more than 256 frames behind is DROPPED — its channel is closed and the stream ends — so one stuck dashboard can never back-pressure a session write; the client reconnects and re-reads the session endpoints to resynchronise. A `: ping` comment every 25 seconds holds the connection open through proxies and is how a departed client is noticed.",
        "tags": [
          "agents"
        ],
        "x-public": true
      }
    },
    "/v1/agents/sessions/{id}": {
      "get": {
        "operationId": "get_agents_sessions_by_id",
        "summary": "Returns one session with its direct child sessions and its 50 most recent events, oldest of those first.",
        "description": "Returns one session with its direct child sessions and its 50 most\nrecent events, oldest of those first.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sess_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionDetail"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "patch": {
        "operationId": "patch_agents_sessions_by_id",
        "summary": "Updates a session's surface-owned truth: its status, its title, the run-target it is dispatched to, and the product it built plus whether that build's story is public.",
        "description": "Updates a session's surface-owned truth: its status, its title,\nthe run-target it is dispatched to, and the product it built plus whether that\nbuild's story is public. A FINISHED session stays finished — reopening a\ndone/error run would fabricate liveness — and publishing is refused unless the\nsession names the project it built, because the public build route is keyed on\n(org, project).",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to update, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sess_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "sess_1",
                "status": "done"
              },
              "schema": {
                "$ref": "#/components/schemas/patchSessionIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/sessions/{id}/control": {
      "get": {
        "operationId": "get_agents_sessions_by_id_control",
        "summary": "Returns the steering commands (pause/resume/stop/message) recorded against the caller's own session that are newer than the cursor, oldest first, with the cursor to poll from next.",
        "description": "Returns the steering commands (pause/resume/stop/message)\nrecorded against the caller's own session that are newer than the cursor,\noldest first, with the cursor to poll from next. It is how a locally started\n`hanzo code` session — which is not task-backed, so nothing forwards its\ncommands to an execution engine — consumes what the dashboard posted. Read-only\nand bounded at 200 per poll, so a steady poll is cheap and an applied command is\nnever redelivered.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session whose commands are being drained, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sess_1"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "After is the last seq this poller applied; only commands newer than it come\nback. Absent or negative reads as 0, which drains from the beginning.",
            "schema": {
              "format": "int64",
              "type": "integer"
            },
            "example": 12
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/controlDrain"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/sessions/{id}/events": {
      "post": {
        "operationId": "post_agents_sessions_by_id_events",
        "summary": "Records one turn of a session's transcript and answers 201 with it.",
        "description": "Records one turn of a session's transcript and answers 201 with it.\n\nA `progress` turn additionally MOVES THE SESSION'S PROGRESS, marked as the run's\nown word rather than an estimate, and pushes the updated session onto the live\nstream — so a board's bar follows the run without polling and without a second\nwrite path. See progress.go.\n\nTHE TURN IS SCANNED BEFORE IT IS STORED. The same engine the code-security\nsurface runs reads the payload at this boundary, and a credential in it refuses\nthe append with 422 rather than redacting it — a redacted transcript is one\nthat still had the secret in it once, and this way the author learns which\nvalue to rotate. The refusal carries every finding: the rule, the severity, the\nline, a MASKED preview and the fingerprint. The secret is never in the answer.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to append to, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eventIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventView"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/sessions/{id}/message": {
      "post": {
        "operationId": "post_agents_sessions_by_id_message",
        "summary": "Sends a steering message to a running session — the endpoint a human or another agent interrupts through.",
        "description": "Sends a steering message to a running session — the endpoint a\nhuman or another agent interrupts through. It requires a `message` or a\n`payload`; the other three commands do not.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to steer, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/controlIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/controlResult"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/sessions/{id}/pause": {
      "post": {
        "operationId": "post_agents_sessions_by_id_pause",
        "summary": "Asks a running session to pause.",
        "description": "Asks a running session to pause. Recorded durably, and forwarded\nto the durable-execution engine when the session is task-backed.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to steer, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/controlIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/controlResult"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/sessions/{id}/progress": {
      "get": {
        "operationId": "get_agents_sessions_by_id_progress",
        "summary": "Returns how far along one run is: the share of its goal that is done, whether it is running, blocked or finished, and a line saying what it is doing right now.",
        "description": "Returns how far along one run is: the share of its goal that\nis done, whether it is running, blocked or finished, and a line saying what it\nis doing right now.\n\nIt is a MODEL ESTIMATE read off the run's own transcript, not a measurement —\n`estimated` says so on every answer, and a run whose progress cannot be told\nreports phase \"unknown\" with no percentage rather than a zero it does not\nmean. A session that has already finished answers from its own status instead,\nand is marked not estimated.\n\nThe list and detail reads carry the same value; this address is the one that\nWAITS. Where the stored estimate has gone stale it is remade before answering,\nso a human deciding whether to step into a run gets a current reading rather\nthan the last poll's — which costs one small completion, charged to the same\nwallet the session already names, at most once every thirty seconds per run.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sess_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionProgress"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/sessions/{id}/resume": {
      "post": {
        "operationId": "post_agents_sessions_by_id_resume",
        "summary": "Asks a paused session to continue, on the same terms as a pause.",
        "description": "Asks a paused session to continue, on the same terms as a pause.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to steer, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/controlIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/controlResult"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/sessions/{id}/stop": {
      "post": {
        "operationId": "post_agents_sessions_by_id_stop",
        "summary": "Ends a running session.",
        "description": "Ends a running session. `message` is recorded as the cancellation\nreason, which is what a later reader of the transcript sees.\n\nSTOPPING IS NOT DELETING: the session, its transcript and anything it produced\nstay readable. A session that has already finished is 409 rather than a second\nstop.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to steer, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/controlIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/controlResult"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/sessions/{id}/tree": {
      "get": {
        "operationId": "get_agents_sessions_by_id_tree",
        "summary": "Returns the subagent-flow graph rooted at this session: the session, its children, their children, each node carrying its own event count.",
        "description": "Returns the subagent-flow graph rooted at this session: the session,\nits children, their children, each node carrying its own event count. One\nindexed read pulls the whole flow (every node of a flow shares a root id), so\nthe shape is assembled in memory rather than by walking the store per node.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the session to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "sess_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/treeNode"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/targets": {
      "get": {
        "operationId": "get_agents_targets",
        "summary": "Returns every machine registered to the caller's org, newest first, each with its live session load.",
        "description": "Returns every machine registered to the caller's org, newest\nfirst, each with its live session load.",
        "tags": [
          "agents"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_agents_targets",
        "summary": "Registers a machine as an agent target, or re-links one that is already registered.",
        "description": "Registers a machine as an agent target, or re-links one that is\nalready registered. Re-linking is idempotent and keyed on org+host+owner, so a\nmachine that reconnects refreshes its own row rather than piling up duplicates;\nit answers 200, while a first registration answers 201.",
        "tags": [
          "agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "host": "gpu-01",
                "kind": "gpu",
                "label": "workshop"
              },
              "schema": {
                "$ref": "#/components/schemas/targetReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/targets/{id}": {
      "delete": {
        "operationId": "delete_agents_targets_by_id",
        "summary": "Deregisters one machine.",
        "description": "Deregisters one machine. Only its owner, or an org admin, may\nremove it; an unknown id, a cross-org id and a machine owned by someone else\nall answer the same not-found, so a probe learns nothing about what exists.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetDeleted"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "get_agents_targets_by_id",
        "summary": "Returns one registered machine, with its live session load.",
        "description": "Returns one registered machine, with its live session load.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "patch": {
        "operationId": "patch_agents_targets_by_id",
        "summary": "Updates one machine in place.",
        "description": "Updates one machine in place. Every field is optional; a field the\nrequest omits is left alone. A metrics patch IS a heartbeat — the server stamps\nits own clock, so a client can neither forge nor backdate staleness.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to update, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "tgt_1",
                "status": "draining"
              },
              "schema": {
                "$ref": "#/components/schemas/patchTargetIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/targetView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/targets/{id}/claim": {
      "post": {
        "operationId": "post_agents_targets_by_id_claim",
        "summary": "ClaimRoutedRun is the machine's long poll for work: it authenticates the daemon, stamps the liveness the dispatch gate reads (the poll IS the proof a runner is listening), and waits up to 25 seconds for the next run addressed to THIS machine.",
        "description": "ClaimRoutedRun is the machine's long poll for work: it authenticates the\ndaemon, stamps the liveness the dispatch gate reads (the poll IS the proof a\nrunner is listening), and waits up to 25 seconds for the next run addressed to\nTHIS machine. It answers the run when one arrives and 204 with no body when the\nwindow elapses, on which the daemon re-polls immediately.\n\nTWO independent proofs are required and both fail closed to the same 403: the\ncaller must own this machine (or be an org admin) AND present its claim key in\nX-Target-Key. A run offered to one machine is unreachable from another's claim.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/routedRunOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/targets/{id}/key": {
      "post": {
        "operationId": "post_agents_targets_by_id_key",
        "summary": "Mints (or rotates) the claim key a `hanzo code --serve` daemon presents to claim work for this machine, and returns it ONCE: only its SHA-256 hash is stored.",
        "description": "Mints (or rotates) the claim key a `hanzo code --serve`\ndaemon presents to claim work for this machine, and returns it ONCE: only its\nSHA-256 hash is stored. Rotating supersedes any prior daemon, so only the\nmachine's owner — or an org admin — may call it; every other caller gets the\nsame not-found an unknown id gets, and learns nothing about what exists.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the target to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/claimKeyOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/targets/{id}/runs/{runId}/report": {
      "post": {
        "operationId": "post_agents_targets_by_id_runs_by_runid_report",
        "summary": "Completes a claimed run: it delivers the terminal result to the run's durable owner, which is what lets that workflow finish.",
        "description": "Completes a claimed run: it delivers the terminal result to the\nrun's durable owner, which is what lets that workflow finish. Scoped to (org,\ntarget, run) and claim-key authenticated, so a machine can only ever report a\nrun it legitimately holds. Idempotent — a report for an unknown or\nalready-finished run answers delivered:false rather than failing, because the\nsession's terminal state was already set by the machine's own stream.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the machine reporting, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "tgt_1"
          },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "description": "RunID is the routed run being completed, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "run_1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "branch": "hanzo/fix",
                "changed": true,
                "id": "tgt_1",
                "ok": true,
                "runId": "run_1"
              },
              "schema": {
                "$ref": "#/components/schemas/reportRunIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reportOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/{ref}": {
      "delete": {
        "operationId": "delete_agents_by_ref",
        "summary": "Removes an agent and every run recorded against it.",
        "description": "Removes an agent and every run recorded against it. Answers 204.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Ref is the agent's public id (the agent_… handle create and list return) or\nits org-unique name, from the path. Either resolves the same agent.",
            "schema": {
              "type": "string"
            },
            "example": "helper"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "get_agents_by_ref",
        "summary": "Returns one agent with its system prompt and its 20 most recent runs.",
        "description": "Returns one agent with its system prompt and its 20 most recent runs.\nThe ref is the agent's public id or its org-unique name — a created agent is\nimmediately gettable by whatever create handed back.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Ref is the agent's public id (the agent_… handle create and list return) or\nits org-unique name, from the path. Either resolves the same agent.",
            "schema": {
              "type": "string"
            },
            "example": "helper"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agentDetail"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "patch": {
        "operationId": "patch_agents_by_ref",
        "summary": "Changes an agent in place.",
        "description": "Changes an agent in place. Every field is optional; a field the\nrequest omits keeps its stored value. The resulting mode+schedule are\nre-validated together, so a partial update can never leave a long-running\nagent without the cron the scheduler needs to fire it, and a transition INTO\nlong-running counts against the per-org cap on scheduled agents.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Ref is the agent to update — its public id or org-unique name, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "helper"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "instructions": "be terse and cite sources",
                "ref": "helper"
              },
              "schema": {
                "$ref": "#/components/schemas/updateAgentIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agentView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/agents/{ref}/run": {
      "post": {
        "operationId": "post_agents_by_ref_run",
        "summary": "Run one of your org's agents and get the recorded run back.",
        "description": "Composes the agent's stored instructions with the caller's `input`, executes one real chat completion through the same in-process AI client the rest of the console uses, and answers with the run that was recorded: its id, status, model, output, duration and error. Every run this returns reflects an execution that actually happened — a model failure is recorded and reported, never hidden and never fabricated. A transient upstream failure (429, 5xx, empty choices) is retried up to three times with jittered backoff, and a configured failover model is tried before the run is called an error.\n\n`ref` is the agent's public `agent_…` id or its org-unique name; either resolves the same agent, and it must belong to the caller's org, so an agent in another tenant is a 404 exactly like one that does not exist. A validated principal is required and the check is made twice on purpose: this route MOVES MONEY, so the debit's principal requirement is asserted where the money moves rather than inherited from the tenant lookup.\n\nThe org's balance is authorized BEFORE any inference, so an unfunded tenant gets 402 and no free compute, and a billing plane that cannot answer gets 503 rather than a free run. The flat per-run fee is an operator knob; setting it to zero makes runs free and removes the balance gate with them. Only a SUCCESSFUL run is billed, attributed to the model actually used — a failover run bills the model it fell over to, not the one it started on. A deployment with no inference wired answers 503 before any of this.\n\nTHE RULE A READER GETS WRONG: a failed run is a 502 whose body is the RUN, not an error envelope. The execution happened, the run was persisted to this agent's history, and its `error` field is the product — so a client that treats every non-2xx as an opaque failure throws away the only account of what went wrong. Each run also opens a root session in the live session registry, best-effort: a bookkeeping failure there never fails the run, because the run and its billing already happened.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/agents/{ref}/runs": {
      "get": {
        "operationId": "get_agents_by_ref_runs",
        "summary": "Returns one agent's execution history, newest first — each run's input, its output or its error, and how long it took.",
        "description": "Returns one agent's execution history, newest first — each run's\ninput, its output or its error, and how long it took. Every row is a run that\nactually happened.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Ref is the agent's public id or its org-unique name, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "helper"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many runs come back, newest first. Absent, zero or out of\nrange (1..200) reads as 50.",
            "schema": {
              "format": "int64",
              "type": "integer"
            },
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "CodingStartIn": {
        "properties": {
          "after": {
            "type": "string"
          },
          "agentRef": {
            "type": "string"
          },
          "base": {
            "type": "string"
          },
          "desktop": {
            "type": "boolean"
          },
          "project": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "replyChannel": {
            "type": "string"
          },
          "replyThread": {
            "type": "string"
          },
          "repo": {
            "type": "string"
          },
          "targetId": {
            "type": "string"
          },
          "timeoutSeconds": {
            "format": "int64",
            "type": "integer"
          },
          "tool": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CodingStarted": {
        "properties": {
          "branch": {
            "type": "string"
          },
          "repo": {
            "type": "string"
          },
          "routed": {
            "type": "boolean"
          },
          "sessionId": {
            "type": "string"
          },
          "targetId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "GPU": {
        "properties": {
          "memory": {
            "description": "VRAM bytes, 0 = unknown",
            "format": "int64",
            "type": "integer"
          },
          "model": {
            "description": "\"GB10\", \"8060S\", \"RTX 4090\"",
            "type": "string"
          },
          "vendor": {
            "description": "nvidia | amd | apple | intel | ...",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Metrics": {
        "properties": {
          "at": {
            "description": "unix seconds, server-stamped",
            "format": "int64",
            "type": "integer"
          },
          "gpuUtil": {
            "description": "0..1 aggregate utilization",
            "format": "double",
            "type": "number"
          },
          "load1": {
            "description": "Load1 is the machine's own one-minute load average — a count of runnable and\nuninterruptible tasks, NOT a percentage and NOT already divided by core\ncount, so it is read against Spec.CPUs: 8.0 is idle on 16 cores and swamped\non 4. Coerced finite and non-negative on write, so 0 means either genuinely\nidle or nothing reported.",
            "format": "double",
            "type": "number"
          },
          "load15": {
            "description": "Load15 is the same figure over fifteen. The three together are what separate\na machine that is busy right now from one that has been busy all along —\nwhich is the question a dispatcher is really asking.",
            "format": "double",
            "type": "number"
          },
          "load5": {
            "description": "Load5 is the same figure averaged over five minutes.",
            "format": "double",
            "type": "number"
          },
          "memFree": {
            "description": "bytes",
            "format": "int64",
            "type": "integer"
          },
          "memUsed": {
            "description": "bytes",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Spec": {
        "properties": {
          "arch": {
            "description": "amd64 | arm64 | ...",
            "type": "string"
          },
          "cpus": {
            "description": "logical cores",
            "format": "int64",
            "type": "integer"
          },
          "gpus": {
            "description": "GPUs is every accelerator the machine advertises, one entry each, capped at\n32 on write. Empty means the probe found none — and that is the answer a\nNeed is checked against, so a machine with no entry here clears no\naccelerator floor. The list is not vendor-filtered: what satisfies a job is\ncounts and VRAM, never a brand (see Need).",
            "items": {
              "$ref": "#/components/schemas/GPU"
            },
            "type": "array"
          },
          "memory": {
            "description": "total RAM, bytes",
            "format": "int64",
            "type": "integer"
          },
          "os": {
            "description": "linux | darwin | windows",
            "type": "string"
          }
        },
        "type": "object"
      },
      "activityFeed": {
        "properties": {
          "activity": {
            "description": "Activity is the merged run/create/update events, newest first, capped at 50.",
            "items": {
              "$ref": "#/components/schemas/activityView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "activityView": {
        "properties": {
          "agent": {
            "description": "agent name",
            "type": "string"
          },
          "at": {
            "description": "RFC3339 UTC",
            "type": "string"
          },
          "id": {
            "description": "ID identifies the event, and its shape says which kind it is: a run event\ncarries the run's own id, while an agent event is the agent id suffixed\n\":created\" or \":updated\". Unique within a feed, and not an address — there is\nnothing to fetch it by.",
            "type": "string"
          },
          "kind": {
            "description": "invoked|failed|created|updated (from real events)",
            "type": "string"
          },
          "message": {
            "description": "Message is the line to render, already bounded: \"Invoked \u003cmodel\u003e\" for a run\nthat worked, the run's own error truncated to 200 characters for one that did\nnot (or \"Run failed\" when it said nothing), and a fixed phrase for the two\nagent events. Nothing here is invented — every event is a row that exists.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "agentDetail": {
        "properties": {
          "avatar": {
            "type": "string"
          },
          "computeRef": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "emoji": {
            "type": "string"
          },
          "executionMode": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "instructions": {
            "description": "Instructions is the agent's system prompt, verbatim, up to 32 KiB. It is the\none field the list read withholds, because it is the agent's whole behaviour\nand a page of them would be a page of prompts.",
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "recentRuns": {
            "description": "RecentRuns is the agent's 20 most recent executions, newest first. It is a\nwindow on the history, not the history: the count beside it is `runs`.",
            "items": {
              "$ref": "#/components/schemas/agentRunView"
            },
            "type": "array"
          },
          "runs": {
            "format": "int64",
            "type": "integer"
          },
          "schedule": {
            "type": "string"
          },
          "serviceAccountId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "tools": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "agentList": {
        "properties": {
          "agents": {
            "description": "Agents is the org's agents, each carrying its recorded run count.",
            "items": {
              "$ref": "#/components/schemas/agentView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "agentRunView": {
        "properties": {
          "actor": {
            "description": "Actor is the \"org/sub\" identity the run was executed and billed AS. Empty\nmeans there was no PERSON — a schedule or a service token — which is a\ndifferent fact from \"we do not know\", and the difference is what an audit\nasks about.",
            "type": "string"
          },
          "agent": {
            "description": "What an operator needs to answer \"what ran, for whom, and what did it do\" —\nand, through traceId, to leave this record for the waterfall of the very\nsame run rather than a search that hopefully lands near it.\n\nAgent is on the row because the org-wide feed lists runs across agents, and\na run that cannot name its agent is an orphan in exactly the view built to\nmake sense of many of them. Every field is omitempty: a run recorded before\nthese columns existed reports absence rather than a zero it never measured.",
            "type": "string"
          },
          "completionTokens": {
            "description": "CompletionTokens is the same measurement for what the model produced, on the\nsame final completion. It is a count of TOKENS, not of turns and not of money.",
            "format": "int64",
            "type": "integer"
          },
          "createdAt": {
            "description": "CreatedAt is when the run finished, RFC 3339 in UTC to the second — the\nduration above already says how long it had been going.",
            "type": "string"
          },
          "durationMs": {
            "description": "DurationMs is wall-clock milliseconds around the completion, including a\nfailover's retries. It is time SPENT, not time billed.",
            "format": "int64",
            "type": "integer"
          },
          "error": {
            "description": "Error is why an \"ok\"-less run failed, as the failing call reported it. Empty\non every successful run.",
            "type": "string"
          },
          "id": {
            "description": "ID is the run's handle, minted as \"run_\" + 32 hex characters. It is the key\nthe metering ledger records this run's per-round token spend under, so it is\nhow a bill and a run are joined.",
            "type": "string"
          },
          "input": {
            "description": "Input is the text the run was given, verbatim.",
            "type": "string"
          },
          "model": {
            "description": "Model is the model that actually SERVED this run, which is not always the one\nthe agent is defined on — a failover records what answered. Normalized to our\nname on the way out; the stored row is left exactly as it happened, because a\nrun is a record and rewriting it would be worse than the name it carries.",
            "type": "string"
          },
          "output": {
            "description": "Output is what the model produced. Empty on an error run, and empty is also a\nlegitimate answer from a run that succeeded with nothing to say — Status is\nwhat separates those.",
            "type": "string"
          },
          "promptTokens": {
            "description": "PromptTokens is what the gateway reported for the run's FINAL completion, and\nonly that one — a tool loop's earlier rounds are the metering ledger's account,\njoined by this run's id. Reading it as the run's total spend undercounts a\nloop.",
            "format": "int64",
            "type": "integer"
          },
          "status": {
            "description": "Status is the run's outcome, and there are exactly two: \"ok\" when the model\nanswered, \"error\" when it did not. It is written when the run ends, so no row\nhere is in flight.",
            "type": "string"
          },
          "toolCalls": {
            "description": "ToolCalls is how many tool dispatches the run made — a count of ACTIONS, which\nis a different measurement from the token counts above and from the turns a\nbuild reports. Zero is a run that answered straight from the model.",
            "format": "int64",
            "type": "integer"
          },
          "traceId": {
            "description": "TraceID is the trace this run IS, so the record and its spans are one thing to\nmove between: it opens the waterfall for THIS run rather than a search that\nlands near it. Empty when the process had no tracer, never a fabricated id.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "agentView": {
        "properties": {
          "avatar": {
            "description": "Avatar is an image the agent is drawn as — a link to one, or the bytes\ninline as a data URL, up to 96 KiB. Emoji is the one glyph a caller picked\nwhen they had no image. At most one is ever set; neither means the agent is\ndrawn as its initial, the same way a person with no photo is. Both are\niam/pkg/schema's Mark, so a face means the same thing on an agent as it\ndoes on a person or an org.\nAvatar is the agent's picture: an image URL, or the image itself inline as a\ndata URL up to 96 KiB. Empty when the agent has no image.",
            "type": "string"
          },
          "computeRef": {
            "description": "ComputeRef is the visor machine this bot is bound to, opaque here: this\npackage stores and echoes it, and the binding's lifecycle belongs elsewhere.\nEmpty means unbound, which is what every one-shot agent is.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the agent was defined, RFC 3339 in UTC to the second.",
            "type": "string"
          },
          "description": {
            "description": "Description is the one line another agent reads when deciding whether to call\nthis one: the tool catalogue publishes it as the description of `agent_\u003cname\u003e`,\nfalling back to \"agent \u003cname\u003e\" when it is empty. It is not part of the prompt —\nInstructions is — so writing the behaviour here reaches the caller and not the\nmodel.",
            "type": "string"
          },
          "emoji": {
            "description": "Emoji is the single glyph a caller picked when they had no image. At most one\nof avatar and emoji is ever set; neither means the agent is drawn as its\ninitial, the same way a person with no photo is.",
            "type": "string"
          },
          "executionMode": {
            "description": "ExecutionMode is one-shot or long-running, and it decides who may start this\nagent. one-shot runs only when something POSTs to it; long-running is\nadditionally invoked by the scheduler on Schedule, once a minute against the\ncron. An org's long-running agents are capped, so a switch INTO it can be\nrefused with 409.",
            "type": "string"
          },
          "id": {
            "description": "ID is the agent's stable handle, minted here as \"agent_\" + 32 hex characters\nof crypto/rand. A caller cannot choose it, and it never changes — unlike Name,\nwhich is the other way to address the same agent.",
            "type": "string"
          },
          "model": {
            "description": "Model is the Zen model this agent runs on, and it is always OUR name for it:\nwrites normalize through cloud.ZenModel and the read normalizes again, so an\nupstream family name never leaves here even from a row written before that\nrule existed. A create that named none took the deployment's configured\ndefault, so this is where a caller learns which model it actually got.",
            "type": "string"
          },
          "name": {
            "description": "Name is the agent's org-unique handle, matching\n^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$. It addresses the agent everywhere ID does,\nit is what a run row records, and it is the suffix of the `agent_\u003cname\u003e` tool\nother agents call this one by. Set once at create; no update route moves it,\nbecause moving it would orphan that history.",
            "type": "string"
          },
          "runs": {
            "description": "Runs is how many executions the org has recorded against this agent, counted\nat read time. The list and update reads count the WHOLE history; the detail\nread reports the size of the RecentRuns page it carries, which stops at 20 —\nso a detail row saying 20 means \"at least 20\", not \"exactly 20\".",
            "format": "int64",
            "type": "integer"
          },
          "schedule": {
            "description": "Schedule is the 5-field cron the scheduler fires a long-running agent on,\nevaluated once a minute. Required for long-running and DROPPED for one-shot —\na one-shot agent's schedule is not stored, so absence here is the mode's\nanswer rather than a value nobody set.",
            "type": "string"
          },
          "serviceAccountId": {
            "description": "ServiceAccountID is the IAM agent service account (\u003corg\u003e-\u003cagent\u003e) a scheduled\nrun is billed AS. It is what makes an autonomous run attributable to a\nprincipal rather than only to the org; empty means the org itself wears the\nspend.",
            "type": "string"
          },
          "status": {
            "description": "Status is the agent's readiness, and today it is \"ready\" on every row: an\nagent is a definition rather than a provisioned thing, so nothing transitions\nit. Server-set at create; no route accepts it.",
            "type": "string"
          },
          "tools": {
            "description": "Tools are the tool names this agent may call, and the list IS the authority:\nan agent that declares none gets none. The single entry \"*\" means whatever the\nfleet's MCP server serves at the moment of the run, resolved per run rather\nthan frozen here, which is how the default assistant reaches subsystems that\nshipped after it was defined. Empty array, never null.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "updatedAt": {
            "description": "UpdatedAt is the last time any field above was written, same format. It moves\non an update to the DEFINITION and never on a run, so a busy agent nobody has\nedited keeps an old one.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "buildList": {
        "properties": {
          "builds": {
            "description": "Builds is every published build, most recently updated first.",
            "items": {
              "$ref": "#/components/schemas/buildSummary"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "buildSummary": {
        "properties": {
          "agent": {
            "description": "Agent is the label the surface that did the work calls itself by.",
            "type": "string"
          },
          "endedAt": {
            "description": "EndedAt is when it finished, same format. Empty means it is still going.",
            "type": "string"
          },
          "org": {
            "description": "Org and Project are the build's public ADDRESS — the pair the full story is\nread at, and the pair a visitor sees in the URL bar. Not a tenant key: this\nindex is anonymous and lists only what authors published.",
            "type": "string"
          },
          "project": {
            "description": "Project is the product's slug, the second half of that address.",
            "type": "string"
          },
          "repo": {
            "description": "Repo is the repository the work was done in, as the session reported it.",
            "type": "string"
          },
          "session": {
            "description": "Session is the agent session behind the build, and the value its commits name\nin their `Hanzo-Session:` trailer.",
            "type": "string"
          },
          "startedAt": {
            "description": "StartedAt is when the session opened, RFC 3339 in UTC.",
            "type": "string"
          },
          "status": {
            "description": "Status is the session's own: running, paused, done or error — so a card can\nshow a build still being written.",
            "type": "string"
          },
          "title": {
            "description": "Title is the human line for the card. Sent even when empty, like every field\nhere, because that is what this route has always sent.",
            "type": "string"
          },
          "turns": {
            "description": "Turns is HOW MANY turns the transcript holds — a COUNT, unlike the `turn` on\neach turn of the full story, which is that turn's position. The full read\nreturns at most 1000 of them; this number is not capped.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "buildTurn": {
        "properties": {
          "actor": {
            "description": "Actor is who took the turn. A deploy turn's actor is the literal \"deploy\",\nbecause nobody took it.",
            "type": "string"
          },
          "at": {
            "description": "At is when the turn was recorded, RFC 3339 in UTC to the second.",
            "type": "string"
          },
          "body": {
            "description": "Body is the readable text of the turn, taken from the stored event's `text`.\nEmpty when the event carried a payload of some other shape — this route reads\ntranscripts and does not invent prose for turns that are not one.",
            "type": "string"
          },
          "commit": {
            "description": "Commit is the full sha this turn produced, empty when the turn changed\nnothing. It is ECHOED from the transcript, and the authority is the commit\nitself: it carries the `Hanzo-Session:`/`Hanzo-Turn:` trailer, or a note under\nrefs/notes/hanzo-provenance saying the same, so the claim is checkable at\nsource with the command in `verify`.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what the turn was, from the log's closed six: message, tool-call,\nspawn, log, status, control. A deploy arrives as a `status` turn.",
            "type": "string"
          },
          "subject": {
            "description": "Subject is that commit's subject line, from the same transcript, so a reader\nsees what the commit says without fetching the repository.",
            "type": "string"
          },
          "turn": {
            "description": "Seq is this turn's POSITION in the session's log — monotonic from 1, per\nsession — and it is what a commit's `Hanzo-Turn:` trailer names. It is not a\ncount of anything: the count is `turns` on the summary beside it.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "buildView": {
        "properties": {
          "agent": {
            "description": "Agent is the label the surface that did the work calls itself by.",
            "type": "string"
          },
          "endedAt": {
            "description": "EndedAt is when it finished, same format. Empty means it has not — the build\nis still going.",
            "type": "string"
          },
          "model": {
            "description": "Model is the model that did the work, taken from the FIRST turn whose body\nnames one — a transcript states it, this route does not resolve it. Empty when\nno turn said.",
            "type": "string"
          },
          "org": {
            "description": "Org is the org that published this build, echoed from the URL. It is part of\nthe build's public ADDRESS and not a tenant key — this route is anonymous, and\nthe only rows it can reach are ones an author explicitly published.",
            "type": "string"
          },
          "project": {
            "description": "Project is the product's slug, the other half of that address.",
            "type": "string"
          },
          "repo": {
            "description": "Repo is the repository the work was done in, as the session reported it.",
            "type": "string"
          },
          "session": {
            "description": "Session is the id of the agent session this story IS — the same value a\nproduced commit carries in its `Hanzo-Session:` trailer, which is what ties\nthe repository's history to this page.",
            "type": "string"
          },
          "startedAt": {
            "description": "StartedAt is when the session opened, RFC 3339 in UTC.",
            "type": "string"
          },
          "status": {
            "description": "Status is the session's own: running, paused, done or error. A build can be\nread while it is still being written, so this is not always terminal — and an\n`error` build is still a readable story, not a missing page.",
            "type": "string"
          },
          "title": {
            "description": "Title is the human line the session was opened or renamed with. Empty when\nnobody gave it one.",
            "type": "string"
          },
          "turns": {
            "description": "Turns is the whole transcript, oldest first, capped at 1000: a published build\nis a story to read down, not an archive to page.",
            "items": {
              "$ref": "#/components/schemas/buildTurn"
            },
            "type": "array"
          },
          "verify": {
            "description": "Verify is the exact command that re-derives every commit binding below\nstraight from git, so nothing here has to be taken on trust.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "claimKeyOut": {
        "properties": {
          "claimKey": {
            "description": "ClaimKey is the capability itself. It is returned ONCE and never again — only\nits SHA-256 hash is stored — so a daemon that loses it mints a new one.",
            "type": "string"
          },
          "targetId": {
            "description": "TargetID is the machine the key authenticates.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "controlCommandView": {
        "properties": {
          "command": {
            "description": "Command is what was asked, from a closed four: pause, resume, stop, message.\nIt is an INTENT — the poller decides what to do about it, and the session's\nstatus changes only when the poller reports back that it did.",
            "type": "string"
          },
          "message": {
            "description": "Message is the text that came with the command: what to say into the run for\n`message`, and the cancellation reason for `stop`. Up to 16 KiB. Empty on a\nbare pause or resume.",
            "type": "string"
          },
          "payload": {
            "description": "Payload is the structured half a caller sent instead of (or beside) Message,\nembedded as JSON. Its shape is the caller's business; this surface carries it\nthrough untouched."
          },
          "seq": {
            "description": "Seq is this command's position in the session's log — the same monotonic\nnumber every other turn is ordered by, so a command sits in the transcript\nwhere it was issued. Send the highest one you applied back as `after` and it\nis never redelivered.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "controlDrain": {
        "properties": {
          "commands": {
            "description": "Commands is the session's control commands newer than the cursor, oldest first.",
            "items": {
              "$ref": "#/components/schemas/controlCommandView"
            },
            "type": "array"
          },
          "cursor": {
            "description": "Cursor is the seq to send as `after` on the next poll — the highest seq in\nthis page, or the cursor sent in when the page is empty.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "controlIn": {
        "properties": {
          "id": {
            "description": "ID is the session to steer, from the path.",
            "type": "string"
          },
          "message": {
            "description": "Message is free text for the running agent, up to 16 KiB. On a stop it is\nrecorded as the cancellation reason.",
            "type": "string"
          },
          "payload": {
            "description": "Payload is a structured argument for the command: any valid JSON up to\n64 KiB, scanned for credentials before it is stored (a hit refuses the\ncommand with 422 and the findings). A task-backed session receives it as\nthe forwarded signal's argument."
          }
        },
        "type": "object"
      },
      "controlResult": {
        "properties": {
          "command": {
            "description": "Command is the verb that was recorded: pause, resume, stop or message.",
            "type": "string"
          },
          "event": {
            "$ref": "#/components/schemas/eventView",
            "description": "Event is the durable control event the command became. The intent is\nrecorded whether or not it reached an engine, which is what makes a\nstream-consuming surface able to act on it."
          },
          "forwarded": {
            "description": "Forwarded is whether the command also reached the durable-execution engine.\nFALSE IS NOT A FAILURE: a session with no workflow link, or a deployment\nwith no tasks backend, is record-only by design. A forward that was\nattempted and failed is a 502, never a false here.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "createAgentIn": {
        "properties": {
          "avatar": {
            "description": "Avatar and Emoji are how the agent APPEARS. An image wins when both are\ngiven — it is the thing somebody made — and both empty leaves the agent\ndrawn as its initial. Validated by iam/pkg/schema, the same rule a person's\navatar passes, so the 96 KiB bound and the accepted URL forms are stated\nonce for every subject that has a face.",
            "type": "string"
          },
          "computeRef": {
            "description": "ComputeRef optionally binds this bot to a visor machine. Opaque here, bounded\nat 256 characters, and not resolved — this package stores the reference and\nthe binding's lifecycle belongs elsewhere.",
            "type": "string"
          },
          "description": {
            "description": "Description is the one line published as the description of the `agent_\u003cname\u003e`\ntool, which is how another agent decides whether to call this one. Optional,\nand worth writing for exactly that reason.",
            "type": "string"
          },
          "emoji": {
            "description": "Emoji is the single glyph shown when there is no image. An image WINS when\nboth are given — it is the thing somebody made — and both empty leaves the\nagent drawn as its initial.",
            "type": "string"
          },
          "executionMode": {
            "description": "ExecutionMode is one-shot or long-running. Empty takes one-shot, which runs\nonly when something POSTs to it. long-running additionally requires Schedule,\nand counts against a per-org cap that answers 409 when it is full.",
            "type": "string"
          },
          "instructions": {
            "description": "Instructions is the system prompt, up to 32 KiB, stored verbatim. This is what\nthe model reads; Description is what other CALLERS read.",
            "type": "string"
          },
          "model": {
            "description": "Model names the model to run on. Omit it to take the deployment's configured\ndefault; name one and it is checked against the gateway's served catalogue\nhere, so a model this deployment cannot serve is refused now rather than at\nthe first run. Stored under our own name for it, whatever spelling arrives.",
            "type": "string"
          },
          "name": {
            "description": "Name is the agent's org-unique handle and the only required field. It must\nmatch ^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$, and a name already taken in this org\nis a 409 rather than an overwrite. It is permanent: no update route moves it.",
            "type": "string"
          },
          "schedule": {
            "description": "Schedule is the 5-field cron a long-running agent fires on, parsed here so a\nbad expression is a 400 and not an agent that silently never runs. Required\nwith long-running; DISCARDED for one-shot rather than stored unused.",
            "type": "string"
          },
          "serviceAccountId": {
            "description": "ServiceAccountID optionally names the IAM agent service account (\u003corg\u003e-\u003cagent\u003e)\na scheduled run should be billed AS, so an autonomous run is attributable to a\nprincipal rather than only to the org. Same 256-character bound, also\nunresolved here.",
            "type": "string"
          },
          "tools": {
            "description": "Tools are the tool names this agent may call. Omitted or empty grants NONE —\nthat default is the agent's authority and is not widened anywhere. The single\nentry \"*\" means whatever the fleet's MCP server serves at the time of each run.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "eventIn": {
        "properties": {
          "actor": {
            "description": "Actor is who produced the turn. Empty takes the validated caller, which is\nwhat an agent writing its own transcript wants; naming one is for a surface\nrecording on somebody else's behalf.",
            "type": "string"
          },
          "id": {
            "description": "ID is the session to append to, from the path.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what this turn IS: message, tool-call, spawn, log, status, control\nor progress. Anything else is refused — the vocabulary is closed so a\nreader can branch on it.",
            "type": "string"
          },
          "payload": {
            "description": "Payload is the turn's own body, any valid JSON up to 64 KiB. It is SCANNED\nfor credentials before it is stored, and a hit refuses the whole append with\n422 and the findings — this plane never redacts a secret into a transcript\nit then keeps.\n\nIts SHAPE is the writer's business for every kind but one: a `progress`\nturn is the run reporting on itself in a shape this surface publishes —\n{\"pct\":0-100 (optional), \"phase\":\"running|blocked|done\",\n\"activity\":\"≤120 chars\"} — so a malformed one is refused with 400 instead\nof being stored as prose nobody reads."
          }
        },
        "type": "object"
      },
      "eventView": {
        "properties": {
          "actor": {
            "description": "Actor is who produced the turn. A write that names nobody takes the calling\nprincipal, so this is rarely empty in practice.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the turn was recorded, RFC 3339 in UTC to the second. Seconds\nare coarse enough that two turns can share one, which is why Seq and not this\nis the order.",
            "type": "string"
          },
          "id": {
            "description": "ID is the event's own handle, minted as \"evt_\" + 32 hex characters. It\nidentifies the turn; Seq is what ORDERS it.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what the turn IS, from a closed six: message (a model turn),\ntool-call, spawn (a subagent started), log, status, control (a steering\ncommand the running surface consumes). Anything else is refused at the write.",
            "type": "string"
          },
          "payload": {
            "description": "Payload is the turn's body, embedded as JSON rather than as a string —\nwhatever the writer sent, up to 64 KiB, checked for well-formedness and\nscanned for credentials before it was stored. Its SHAPE is the writer's\nbusiness and varies by Kind; this surface does not interpret it."
          },
          "seq": {
            "description": "Seq is the turn's position in this session's log: monotonic from 1, assigned\nby the store inside the insert, and unique PER SESSION rather than globally.\nIt is the cursor a reader resumes from after a reconnect — ask for everything\nafter your last-seen seq.",
            "format": "int64",
            "type": "integer"
          },
          "sessionId": {
            "description": "SessionID is the session this turn belongs to. Carried on every event so a\nstream frame stands alone — a subscriber watching a whole tree gets turns from\nseveral sessions down one connection.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "lastEventView": {
        "properties": {
          "actor": {
            "description": "Actor is who produced the turn, defaulted to the calling principal when the\nwriter named nobody.",
            "type": "string"
          },
          "at": {
            "description": "At is when the turn was recorded, RFC 3339 in UTC to the second.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what the turn was, from the log's closed six: message, tool-call,\nspawn, log, status, control.",
            "type": "string"
          },
          "preview": {
            "description": "Preview is the first 240 bytes of the event's payload, cut without regard for\nthe JSON inside it — it is a string to SHOW, never a value to parse. Read the\ndetail or the stream for the whole payload.",
            "type": "string"
          },
          "seq": {
            "description": "Seq is that event's position in the session's log — monotonic from 1, per\nsession. A reader holding it can ask the detail or stream reads for\neverything after it, so this doubles as the list's resume cursor.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "metricsView": {
        "properties": {
          "range": {
            "description": "echoes the requested window (24H|7D|30D)",
            "type": "string"
          },
          "resource": {
            "$ref": "#/components/schemas/resourceUsage",
            "description": "Resource is the Resource Usage panel's rollup, and every field of it is\ncurrently null — see resourceUsage. It is present rather than omitted so a\npanel renders \"—\" instead of guessing."
          },
          "series": {
            "description": "per-agent invocation histogram (real)",
            "items": {
              "$ref": "#/components/schemas/seriesLine"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "patchSessionIn": {
        "properties": {
          "cwd": {
            "description": "Cwd is where the session is working NOW.\n\nIt was write-once — captured at register and never again — which is right\nfor a run that starts in a directory and stays there, and wrong for a linked\nshell, which is a place a person moves around in. The console showed the\ndirectory `hanzo link` happened to be run from and kept showing it after the\nshell had walked away, so the field answered \"which work is this\" with an\nanswer that was true once. A pointer, so an unchanged path is an omitted\nfield rather than a repeated write.",
            "type": "string"
          },
          "id": {
            "description": "ID is the session to update, from the path.",
            "type": "string"
          },
          "project": {
            "description": "Project tags the product this session built; Published is the author's\ndecision to let anyone read the story (provenance.go). Both are pointers so\n\"absent\" and \"cleared\" are different requests.",
            "type": "string"
          },
          "published": {
            "description": "Published opens the session's story to the public build route; false withdraws\nit, and withdrawing is always allowed. PUBLISHING is refused unless the\nsession names a Project — the one set in this same request, or the one already\nstored — because that route is keyed on (org, project). It widens READ access\nto what is already there and grants nothing else.",
            "type": "boolean"
          },
          "status": {
            "description": "Status moves the session to running, paused, done or error. A session that has\nalready finished refuses any change with 409 — done and error are monotonic —\nand moving INTO one stamps the end time. This is the surface REPORTING what\nhappened; a control command never writes it.",
            "type": "string"
          },
          "target": {
            "description": "Target re-dispatches a session to a run-target (the #48 association). \"\" detaches.",
            "type": "string"
          },
          "terminal": {
            "description": "Terminal publishes (or, with \"\", withdraws) the URL this session's live\nterminal can be watched at. A pointer so \"absent\" and \"withdrawn\" are\ndifferent requests: a session that stops sharing must be able to say so.",
            "type": "string"
          },
          "title": {
            "description": "Title rewrites the human line, up to 512 characters — usually because the work\nturned out to be something other than what it was opened as.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "patchTargetIn": {
        "properties": {
          "capacity": {
            "description": "Capacity rewrites the human summary, up to 256 characters. \"\" clears it.",
            "type": "string"
          },
          "host": {
            "description": "Host re-points the hostname sessions are matched by. Moving it moves the load:\nthe session counts follow the new name from the next read.",
            "type": "string"
          },
          "id": {
            "description": "ID is the target to update, from the path.",
            "type": "string"
          },
          "kind": {
            "description": "Kind re-files it under laptop | cloud | gpu | cluster | machine.",
            "type": "string"
          },
          "label": {
            "description": "Label renames the machine, up to 128 characters. Empty STRING is refused — a\ntarget with no name is a row nobody can pick out of a fleet.",
            "type": "string"
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics",
            "description": "Metrics replaces the live sample, and sending one IS A HEARTBEAT: the server\nstamps the time and appends the point to the fleet series. Sending an all-zero\nsample CLEARS the heartbeat — the machine goes back to having no liveness fact\nat all, and its stored status is taken at face value again."
          },
          "spec": {
            "$ref": "#/components/schemas/Spec",
            "description": "Spec replaces the static capability whole, sanitized and clamped the same way\na register's is."
          },
          "status": {
[...]
