{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package esign is a document out for signature, signed and filed with an audit trail.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "esign"
    }
  ],
  "paths": {
    "/v1/esign/documents": {
      "get": {
        "operationId": "get_esign_documents",
        "summary": "Returns your org's documents, newest first.",
        "description": "Returns your org's documents, newest first.\n\nEach carries its status, recipients and field layout. The listing is capped at\n200 and there is no paging, so treat it as the recent window rather than a\ncomplete export. It reads the caller's own tenant store, so no other org's\ndocuments can appear in it.",
        "tags": [
          "esign"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignDocuments"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_esign_documents",
        "summary": "Uploads a PDF and opens a draft ready for recipients and fields.",
        "description": "Uploads a PDF and opens a draft ready for recipients and fields.\n\nIt answers 201 with the document in DRAFT — the state where recipients and\nfields may still be added, and the only state they may. The bytes go to object\nstorage rather than into the tenant database, and the original is kept under its\nown key so it survives sealing untouched: a completed document can always be\ncompared against what was uploaded. Creation is recorded on the audit trail.\n\nThis is the sender's door: a validated principal is required, and the document\nlands in that principal's OWN org. Isolation is physical rather than a filter —\neach tenant has its own store — so another org's document id is simply not\nthere. A body over 32 MiB is refused with 413.",
        "tags": [
          "esign"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "pdfBase64": "JVBERi0xLjQK…",
                "signingOrder": "SEQUENTIAL",
                "title": "Mutual NDA"
              },
              "schema": {
                "$ref": "#/components/schemas/esignUploadIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignDocument"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/esign/documents/{id}": {
      "get": {
        "operationId": "get_esign_documents_by_id",
        "summary": "Returns one document with its recipients and field layout.",
        "description": "Returns one document with its recipients and field layout.\n\nIt answers the document, its recipients with each one's read and signing status,\nand every field with its type, page and position — the view a sender's UI\nrenders, and where the field ids come from. The id is resolved in the caller's\nOWN tenant store, so another org's document id is a 404 rather than a refusal\nthat would confirm it exists.",
        "tags": [
          "esign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the document to act on. It is the path segment: the URL is the\naddressing authority, and the org it is resolved in comes from the caller's\nprincipal, so an id belonging to another tenant is simply not found.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignDocument"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/esign/documents/{id}/audit": {
      "get": {
        "operationId": "get_esign_documents_by_id_audit",
        "summary": "Returns the document's full audit trail, oldest first.",
        "description": "Returns the document's full audit trail, oldest first.\n\nIt answers every recorded event for the document in order — created, recipient\nadded, field created, sent, opened, each field inserted, each recipient\ncompleted or rejected, and completion — with the actor and timestamp on each.\nThis is the evidence record behind a signature, so it is append-only and nothing\nin the surface edits it.\n\nThe id is resolved in the caller's OWN tenant store, so another org's document\nid is a 404.",
        "tags": [
          "esign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the document to act on. It is the path segment: the URL is the\naddressing authority, and the org it is resolved in comes from the caller's\nprincipal, so an id belonging to another tenant is simply not found.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignTrail"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/esign/documents/{id}/download": {
      "get": {
        "operationId": "get_esign_documents_by_id_download",
        "summary": "Returns the document — the sealed PDF once it is complete.",
        "description": "Returns the document — the sealed PDF once it is complete.\n\nIt answers the document's current PDF as base64 with a sealed flag and a\nfilename. Before completion that is the original upload; once every signer has\nfinished it is the SEALED artifact, with the field values rendered onto the page\nand a real x509 PKCS#7 digital signature applied. There is one pdfBase64 field\neither way, so sealed is what tells you which you are holding.\n\nThe id is resolved in the caller's OWN tenant store, so another org's document\nid is a 404.",
        "tags": [
          "esign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the document to act on. It is the path segment: the URL is the\naddressing authority, and the org it is resolved in comes from the caller's\nprincipal, so an id belonging to another tenant is simply not found.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignPDF"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/esign/documents/{id}/fields": {
      "post": {
        "operationId": "post_esign_documents_by_id_fields",
        "summary": "Places a field on the page for one recipient to fill.",
        "description": "Places a field on the page for one recipient to fill.\n\nIt adds a signature, date, name, email or text box at a page and position for\nONE named recipient, and answers 201 with its id. The recipient must belong to\nthis document; one from elsewhere is refused.\n\nFields are what make a recipient signable: a document cannot be sent while any\nsigning recipient has none. Only while DRAFT — adding a field to a sent document\nis a 409 — and an unknown document is a 404. The addition is recorded on the\naudit trail.",
        "tags": [
          "esign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "page": 1,
                "positionX": 72,
                "positionY": 640,
                "recipientId": "rec_2f…",
                "type": "SIGNATURE"
              },
              "schema": {
                "$ref": "#/components/schemas/esignFieldIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignPlacement"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/esign/documents/{id}/recipients": {
      "post": {
        "operationId": "post_esign_documents_by_id_recipients",
        "summary": "Adds someone to a draft and mints their signing token.",
        "description": "Adds someone to a draft and mints their signing token.\n\nIt answers 201 with the recipient's id and their signing TOKEN — the\ncrypto-random capability that is the only credential the signer's door accepts —\nso this response is where the signing link is built from. A CC recipient is\nrecorded as already complete, because they are never asked to sign.\n\nOnly while DRAFT: adding a recipient to a document already sent is a 409,\nbecause the field layout and the turn order were fixed when it went out. An\nunknown document is a 404. The addition is recorded on the audit trail.",
        "tags": [
          "esign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "counterparty@example.com",
                "name": "Dana Lee",
                "role": "SIGNER"
              },
              "schema": {
                "$ref": "#/components/schemas/esignRecipientIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignInvite"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/esign/documents/{id}/send": {
      "post": {
        "operationId": "post_esign_documents_by_id_send",
        "summary": "Sends the document out and answers each signer's link.",
        "description": "Sends the document out and answers each signer's link.\n\nIt moves the document from DRAFT to PENDING and answers the signing tokens — one\nper signing recipient, with the path to hand them — which is how the links reach\nthe people who must sign. Nothing is emailed by this call; delivering the links\nis the caller's.\n\nIt refuses to send an unsignable document: no recipients at all is a 400, and so\nis any signing recipient with no fields to fill, named in the error. Re-sending\nan already-pending document is allowed and re-issues the same links rather than\nrestarting anything; a completed document is a 409, and an unknown one a 404.\nThe send is recorded on the audit trail.",
        "tags": [
          "esign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the document to send. The URL is the addressing authority.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignLinks"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/esign/health": {
      "get": {
        "operationId": "get_esign_health",
        "summary": "Reports whether the e-signature surface is mounted.",
        "description": "Reports whether the e-signature surface is mounted.\n\nIt answers ok whenever the subsystem is mounted, takes no tenant and needs no\nprincipal. It is deliberately shallow: it is registered before the document host\nis built, so it still answers on a deployment that came up WITHOUT object\nstorage and therefore serves nothing else. Read it as reachability, never as a\npromise that documents can be stored.",
        "tags": [
          "esign"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignHealth"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/esign/o/{org}/sign/{token}": {
      "get": {
        "operationId": "get_esign_o_by_org_sign_by_token",
        "summary": "Opens a document you were asked to sign, using your signing link.",
        "description": "Opens a document you were asked to sign, using your signing link.\n\nIt answers the document, the recipient the link identifies, the fields THAT\nrecipient must fill, and the PDF to display. The first open also marks the\nrecipient as having opened it and records that on the audit trail, so this read\nhas a side effect by design.\n\nThis door takes NO account: the signing token is the entire credential, and it\nnames the recipient, so a signer sees only their own fields and never the other\nrecipients' tokens. The token resolves to its owning tenant FIRST, before any\nper-tenant store is opened, and the org segment is only checked against that\nanswer. An unknown or wrong-org token is one and the same 404, never a hint that\nsome other document exists.",
        "tags": [
          "esign"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignSession"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/esign/o/{org}/sign/{token}/complete": {
      "post": {
        "operationId": "post_esign_o_by_org_sign_by_token_complete",
        "summary": "Finishes your signing — and seals the document if you were the last.",
        "description": "Finishes your signing — and seals the document if you were the\nlast.\n\nIt marks this recipient as done and answers whether the DOCUMENT sealed with it.\nWhen every signing recipient has completed, sealing happens right here in the\nsame call: the collected values are rendered onto the PDF, a real x509 PKCS#7\nsignature is applied, the sealed bytes are stored beside the untouched original,\nand the document moves to COMPLETED. Until then the answer is the recipient's\nown completion with the document still pending.\n\nIt refuses to complete a half-filled signature: a recipient with any unfilled\nfield is a 400 naming how many remain. A document not out for signature is a\n409, as is a recipient who has already completed, and under SEQUENTIAL order a\nsigner out of turn is a 403. The token is the whole credential — no account, and\na token that does not resolve under the org segment is a 404. Sealing and\ncompletion are one transaction, so a failure anywhere leaves the document\nexactly as it was.",
        "tags": [
          "esign"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignCompletion"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/esign/o/{org}/sign/{token}/fields/{fieldId}": {
      "post": {
        "operationId": "post_esign_o_by_org_sign_by_token_fields_by_fieldid",
        "summary": "Fills in one of your fields.",
        "description": "Fills in one of your fields.\n\nIt records a value for one field and marks it inserted. A signature field takes\na value with isBase64 true for drawn image bytes, or false for a typed\nsignature; a date, name or email field falls back to today, the recipient's name\nor their email when the value is omitted; any other type requires one.\n\nNothing is sealed here — filling every field still leaves the document pending\nuntil the completion call. The token is the whole credential and it bounds what\ncan be written: a field belonging to another recipient is refused with 401 even\nunder a valid token, an unknown field is a 404, and a field already filled is a\n409. A document not out for signature is a 409, as is a recipient who has\nalready completed or rejected. Under SEQUENTIAL order a signer whose turn has\nnot come is refused 403 until every earlier signer has signed. Each insertion is\nrecorded on the audit trail.",
        "tags": [
          "esign"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "isBase64": false,
                "value": "Dana Lee"
              },
              "schema": {
                "$ref": "#/components/schemas/esignValueIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignInsertion"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/esign/o/{org}/sign/{token}/reject": {
      "post": {
        "operationId": "post_esign_o_by_org_sign_by_token_reject",
        "summary": "Declines to sign, with an optional reason.",
        "description": "Declines to sign, with an optional reason.\n\nIt records this recipient's refusal and moves the WHOLE DOCUMENT to REJECTED —\none declining signer ends it for everyone, and there is no route back: the\ndocument cannot then be signed or completed. An optional reason is stored and\nwritten onto the audit trail with the rejection, which is what the sender sees.\n\nA document not out for signature is a 409, and so is a recipient who has already\nsigned or already rejected — a refusal cannot be taken back or repeated. The\ntoken is the whole credential; one that does not resolve under the org segment\nis a 404.",
        "tags": [
          "esign"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "reason": "Terms changed since we agreed them."
              },
              "schema": {
                "$ref": "#/components/schemas/esignRejectIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignRejection"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "esignCompletion": {
        "properties": {
          "documentStatus": {
            "description": "DocumentStatus is COMPLETED when this was the last signature and the document\nsealed here, PENDING while others have still to sign.",
            "type": "string"
          },
          "recipientId": {
            "description": "RecipientID is the recipient who finished.",
            "type": "string"
          },
          "sealed": {
            "description": "Sealed is whether the document sealed on this call — the field values\nrendered onto the PDF and a real x509 PKCS#7 signature applied.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "esignDocument": {
        "properties": {
          "completedAt": {
            "description": "CompletedAt is when the document sealed, in unix milliseconds; null until it\ndoes.",
            "type": "integer"
          },
          "createdAt": {
            "description": "CreatedAt is when the document was uploaded, in unix milliseconds.",
            "type": "integer"
          },
          "externalId": {
            "description": "ExternalID is the caller's own identifier for this document, echoed back as\nit was given; null when none was.",
            "type": "string"
          },
          "fields": {
            "description": "Fields is every field on the document, ordered by page and then by when it\nwas placed.",
            "items": {
              "$ref": "#/components/schemas/esignField"
            },
            "type": "array"
          },
          "id": {
            "description": "ID is the document id.",
            "type": "string"
          },
          "message": {
            "description": "Message is the covering message stored with the document; null when none was\ngiven. Nothing in this surface sends it.",
            "type": "string"
          },
          "recipients": {
            "description": "Recipients is everyone on the document, ordered by signing order and then by\nwhen they were added — which is also the order a SEQUENTIAL document enforces.",
            "items": {
              "$ref": "#/components/schemas/esignRecipient"
            },
            "type": "array"
          },
          "signingOrder": {
            "description": "SigningOrder is PARALLEL or SEQUENTIAL, fixed when the document was created.",
            "type": "string"
          },
          "source": {
            "description": "Source is how the document came to exist. It is DOCUMENT for everything this\nsurface creates.",
            "type": "string"
          },
          "status": {
            "description": "Status is DRAFT while recipients and fields may still be added, PENDING once\nit has gone out, then COMPLETED when every signer has finished or REJECTED if\nany one of them declined.",
            "type": "string"
          },
          "subject": {
            "description": "Subject is the covering subject line stored with the document; null when none\nwas given.",
            "type": "string"
          },
          "title": {
            "description": "Title is the document's name, and the stem of the download filename.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when the document last changed, in unix milliseconds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "esignDocuments": {
        "properties": {
          "documents": {
            "description": "Documents is the caller org's documents, newest first, capped at 200. There\nis no paging, so read it as the recent window rather than a complete export.",
            "items": {
              "$ref": "#/components/schemas/esignDocument"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "esignEvent": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when it happened, in unix milliseconds.",
            "type": "integer"
          },
          "data": {
            "description": "Data is the event's own detail, whose shape depends on the type — the field\nand recipient a signature was inserted for, the reason a document was\nrejected. Null when the event carried none."
          },
          "email": {
            "description": "Email is the email of whoever caused it, null for an event with no actor —\nthe sender's own calls are recorded without one.",
            "type": "string"
          },
          "id": {
            "description": "ID is the entry id.",
            "type": "string"
          },
          "name": {
            "description": "Name is the name of whoever caused it, null when it was not recorded.",
            "type": "string"
          },
          "type": {
            "description": "Type is what happened: DOCUMENT_CREATED, RECIPIENT_CREATED, FIELD_CREATED,\nDOCUMENT_SENT, DOCUMENT_OPENED, DOCUMENT_FIELD_INSERTED,\nDOCUMENT_RECIPIENT_COMPLETED, DOCUMENT_RECIPIENT_REJECTED or\nDOCUMENT_COMPLETED.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "esignField": {
        "properties": {
          "customText": {
            "description": "CustomText is the value a non-signature field was filled with, empty until it\nis. A signature's value is not here: it is stored separately and rendered\nonto the page at sealing.",
            "type": "string"
          },
          "fieldMeta": {
            "description": "FieldMeta is the caller's own metadata for this field, stored verbatim at\nplacement and never interpreted. Null when none was supplied."
          },
          "height": {
            "description": "Height is the field's height, -1 when the renderer is to choose one.",
            "type": "number"
          },
          "id": {
            "description": "ID is the field id.",
            "type": "string"
          },
          "inserted": {
            "description": "Inserted is whether this field has been filled in.",
            "type": "boolean"
          },
          "page": {
            "description": "Page is the 1-based page the field sits on.",
            "type": "number"
          },
          "positionX": {
            "description": "PositionX is the field's horizontal position on that page.",
            "type": "number"
          },
          "positionY": {
            "description": "PositionY is the field's vertical position on that page.",
            "type": "number"
          },
          "recipientId": {
            "description": "RecipientID is who must fill this field. It is absent on a signer's own view\nof a document, where every field returned is already theirs.",
            "type": "string"
          },
          "type": {
            "description": "Type is what the field collects — SIGNATURE, DATE, NAME, EMAIL, TEXT and the\nrest.",
            "type": "string"
          },
          "width": {
            "description": "Width is the field's width, -1 when the renderer is to choose one.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "esignFieldIn": {
        "properties": {
          "fieldMeta": {
            "description": "FieldMeta is your own metadata for this field — a label, a placeholder, a\nrequired flag — stored verbatim and handed back on every read of the\ndocument. Any JSON, and esign never interprets it."
          },
          "height": {
            "description": "Height is the field's height, defaulting to -1, which means the renderer\nchooses one when the document is sealed."
          },
          "page": {
            "description": "Page is the 1-based page the field sits on, defaulting to 1."
          },
          "positionX": {
            "description": "PositionX is the field's horizontal position on that page, defaulting to 0."
          },
          "positionY": {
            "description": "PositionY is the field's vertical position on that page, defaulting to 0."
          },
          "recipientId": {
            "description": "RecipientID is who must fill this field. Required, and it must belong to this\ndocument — a recipient from elsewhere is refused rather than silently\naccepted."
          },
          "type": {
            "description": "Type is what the field collects: SIGNATURE, FREE_SIGNATURE, INITIALS, NAME,\nEMAIL, DATE, TEXT, NUMBER, RADIO, CHECKBOX or DROPDOWN. Required, and\nanything else is refused."
          },
          "width": {
            "description": "Width is the field's width, defaulting to -1, which means the renderer\nchooses one when the document is sealed."
          }
        },
        "type": "object"
      },
      "esignHealth": {
        "properties": {
          "service": {
            "description": "Service names the subsystem that answered, so a probe reading several looks\nthe same on each.",
            "type": "string"
          },
          "status": {
            "description": "Status is ok whenever the subsystem is mounted. It is never anything else:\nthis route is registered before the document host is built, so it is\nreachability and not a promise that documents can be stored.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "esignInsertion": {
        "properties": {
          "fieldId": {
            "description": "FieldID is the field that was filled.",
            "type": "string"
          },
          "inserted": {
            "description": "Inserted is true — the field now holds a value. Filling every field still\nleaves the document pending until the completion call.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "esignInvite": {
        "properties": {
          "email": {
            "description": "Email is the address the invitation is for, lower-cased.",
            "type": "string"
          },
          "id": {
            "description": "ID is the new recipient's id, which is what a field is placed against.",
            "type": "string"
          },
          "name": {
            "description": "Name is the recipient's display name, empty when none was given.",
            "type": "string"
          },
          "role": {
            "description": "Role is the role they were recorded with — SIGNER unless another was asked\nfor.",
            "type": "string"
          },
          "token": {
            "description": "Token is the crypto-random signing capability for this recipient. It is the\nentire credential their door accepts, so treat it as a secret and hand it\nonly to them: the signing link is built from it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "esignLink": {
        "properties": {
          "email": {
            "description": "Email is the address this link is meant for.",
            "type": "string"
          },
          "recipientId": {
            "description": "RecipientID is the recipient the link identifies.",
            "type": "string"
          },
          "role": {
            "description": "Role is their role — only a SIGNER or an APPROVER gets a link, because only\nthey are asked to act.",
            "type": "string"
          },
          "signingPath": {
            "description": "SigningPath is the tail of the address to send them, relative to wherever the\nsigning page is served.",
            "type": "string"
          },
          "token": {
            "description": "Token is the crypto-random signing capability. It is the entire credential,\nso treat it as a secret and give each one only to the recipient it names.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "esignLinks": {
        "properties": {
          "id": {
            "description": "ID is the document that went out.",
            "type": "string"
          },
          "recipients": {
            "description": "Recipients is one link per signing recipient. Nothing is emailed by this\ncall; delivering the links is the caller's.",
            "items": {
              "$ref": "#/components/schemas/esignLink"
            },
            "type": "array"
          },
          "status": {
            "description": "Status is PENDING — the state a sent document is in until every signer has\nfinished.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "esignPDF": {
        "properties": {
          "filename": {
            "description": "Filename is the name to save it under, built from the title and marked\n_signed once it is sealed.",
            "type": "string"
          },
          "id": {
            "description": "ID is the document.",
            "type": "string"
          },
          "pdfBase64": {
            "description": "PdfBase64 is the PDF itself, base64-encoded. There is one field either way,\nso Sealed is what tells you which artifact you are holding.",
            "type": "string"
          },
          "sealed": {
            "description": "Sealed is whether this is the SEALED artifact — the field values rendered\nonto the page and a real x509 PKCS#7 signature applied — rather than the\noriginal upload.",
            "type": "boolean"
          },
          "status": {
            "description": "Status is the document's state at the moment it was read.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "esignPlacement": {
        "properties": {
          "id": {
            "description": "ID is the new field's id.",
            "type": "string"
          },
          "page": {
            "description": "Page is the page it was placed on.",
            "type": "number"
          },
          "recipientId": {
            "description": "RecipientID is who must fill it.",
            "type": "string"
          },
          "type": {
            "description": "Type is what it collects.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "esignRecipient": {
        "properties": {
          "email": {
            "description": "Email is where this recipient's signing link is meant to go, lower-cased.",
            "type": "string"
          },
          "id": {
            "description": "ID is the recipient id, which is what a field is placed against.",
            "type": "string"
          },
          "name": {
            "description": "Name is the recipient's display name, empty when none was given.",
            "type": "string"
          },
          "readStatus": {
            "description": "ReadStatus is NOT_OPENED until they first open their link, then OPENED.",
            "type": "string"
          },
          "rejectionReason": {
            "description": "RejectionReason is why they declined, null unless they did.",
            "type": "string"
          },
          "role": {
            "description": "Role is SIGNER, CC, VIEWER, APPROVER or ASSISTANT. A document waits only for\nits SIGNERs and APPROVERs before it can seal.",
            "type": "string"
          },
          "sendStatus": {
            "description": "SendStatus is NOT_SENT until the document goes out, then SENT. A CC recipient\nis SENT from the moment they are added.",
            "type": "string"
          },
          "signedAt": {
            "description": "SignedAt is when they finished or declined, in unix milliseconds; null while\nneither has happened.",
            "type": "integer"
          },
          "signingOrder": {
            "description": "SigningOrder is their position in a SEQUENTIAL document, null when they were\nadded without one. A PARALLEL document ignores it.",
            "type": "number"
          },
          "signingStatus": {
            "description": "SigningStatus is NOT_SIGNED, SIGNED or REJECTED. A CC recipient is SIGNED\nfrom the moment they are added, because they are never asked.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "esignRecipientIn": {
        "properties": {
          "email": {
            "description": "Email is where the signing link is meant to go, lower-cased on the way in.\nRequired."
          },
          "name": {
            "description": "Name is the recipient's display name, also the fallback a NAME field is\nfilled with when they leave it blank. Optional."
          },
          "role": {
            "description": "Role is SIGNER (the default), CC, VIEWER, APPROVER or ASSISTANT; anything\nelse reads as SIGNER. A CC recipient is recorded as already complete, because\nthey are never asked to sign. SIGNER and APPROVER are the roles a document\nwaits for before it can seal."
          },
          "signingOrder": {
            "description": "SigningOrder is this recipient's position when the document is SEQUENTIAL —\nlower signs first, and ties fall back to the order they were added. Ignored\nby a PARALLEL document. Optional."
          }
        },
        "type": "object"
      },
      "esignRejectIn": {
        "properties": {
          "reason": {
            "description": "Reason is why the signer is declining. Optional, stored, and written onto the\naudit trail with the rejection — it is what the sender sees."
          }
        },
        "type": "object"
      },
      "esignRejection": {
        "properties": {
          "recipientId": {
            "description": "RecipientID is the recipient who declined.",
            "type": "string"
          },
          "status": {
            "description": "Status is REJECTED — one declining signer ends the document for everyone, and\nthere is no route back.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "esignSession": {
        "properties": {
          "document": {
            "$ref": "#/components/schemas/esignState",
            "description": "Document is what is being signed."
          },
          "fields": {
            "description": "Fields is only the fields this recipient must fill — never another party's,\nso the layout a signer sees cannot reveal what anyone else was asked for.",
            "items": {
              "$ref": "#/components/schemas/esignField"
            },
            "type": "array"
          },
          "pdfBase64": {
            "description": "PdfBase64 is the PDF to display, base64-encoded. Null when the document's\nstored bytes are missing.",
            "type": "string"
          },
          "recipient": {
            "$ref": "#/components/schemas/esignSigner",
            "description": "Recipient is who the token says you are."
          }
        },
        "type": "object"
      },
      "esignSigner": {
        "properties": {
          "email": {
            "description": "Email is the address the link was issued to.",
            "type": "string"
          },
          "id": {
            "description": "ID is the recipient id.",
            "type": "string"
          },
          "name": {
            "description": "Name is the display name recorded for them, empty when none was given.",
            "type": "string"
          },
          "role": {
            "description": "Role is the role they were added with.",
            "type": "string"
          },
          "signingStatus": {
            "description": "SigningStatus is NOT_SIGNED until they finish or decline.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "esignState": {
        "properties": {
          "id": {
            "description": "ID is the document id.",
            "type": "string"
          },
          "status": {
            "description": "Status is PENDING while it is out for signature.",
            "type": "string"
          },
          "title": {
            "description": "Title is the document's name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "esignTrail": {
        "properties": {
          "documentId": {
            "description": "DocumentID is the document the trail belongs to.",
            "type": "string"
          },
          "entries": {
            "description": "Entries is every recorded event in order, oldest first. It is append-only:\nnothing in this surface edits or removes an entry.",
            "items": {
              "$ref": "#/components/schemas/esignEvent"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "esignUploadIn": {
        "properties": {
          "externalId": {
            "description": "ExternalID is your own identifier for this document, stored and echoed back\nso a document here can be matched to a record in your system. Optional."
          },
          "message": {
            "description": "Message is the covering message carried with the document. Optional, and like\nthe subject it is stored rather than sent."
          },
          "pdfBase64": {
            "description": "PdfBase64 is the document itself, base64-encoded; a `data:` URL prefix is\naccepted and stripped. Required. The bytes go to object storage rather than\ninto the tenant database, and this ORIGINAL is kept under its own key so it\nsurvives sealing untouched."
          },
          "signingOrder": {
            "description": "SigningOrder chooses PARALLEL — the default, where everyone may sign at once\n— or SEQUENTIAL, where each signer waits for the ones ahead of them. Anything\nelse reads as PARALLEL, and the choice is fixed for the document's life."
          },
          "subject": {
            "description": "Subject is the covering subject line carried with the document. Optional, and\nnothing in this surface emails it — delivering the signing links is the\ncaller's."
          },
          "title": {
            "description": "Title is the document's name, shown to every recipient and used to build the\ndownload filename. Required — a request without one is refused and nothing is\nstored."
          }
        },
        "type": "object"
      },
      "esignValueIn": {
        "properties": {
          "isBase64": {
            "description": "IsBase64 marks Value as drawn signature image bytes rather than a typed\nsignature. Only a signature field reads it, and a `data:` URL prefix is\nstripped."
          },
          "value": {
            "description": "Value is what goes in the field. A signature takes the drawn image bytes or a\ntyped name; a DATE, NAME or EMAIL field falls back to today, the recipient's\nname or their email when this is omitted; every other type requires it."
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
