{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package s3 is object storage: your buckets and the files in them, with signed URLs for upload and download.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "s3"
    }
  ],
  "paths": {
    "/v1/s3/buckets": {
      "get": {
        "operationId": "get_s3_buckets",
        "summary": "Lists the caller org's own buckets.",
        "description": "Lists the caller org's own buckets.\n\nOnly the caller's: every bucket is physically named under a per-org prefix and\nthe listing strips that prefix, so a tenant sees friendly names and another\ntenant's buckets are not in the answer at all. Another org's bucket is not\nrefused but INVISIBLE, so this cannot be used to learn that a name is taken\nelsewhere.\n\nBilled per call: the balance is checked BEFORE anything is touched, so an\nunfunded org is refused with nothing done, and the debit lands only once the\nwork has succeeded.",
        "tags": [
          "s3"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bucketList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_s3_buckets",
        "summary": "Makes a new bucket for the caller's org and answers 201 with it.",
        "description": "Makes a new bucket for the caller's org and answers 201 with it.\n\nThe physical name is derived from the caller's validated org, so a tenant can\nonly ever create inside its own namespace and no request field can redirect\nthat. A name already taken in the org is 409.\n\nBilled per call: the balance is checked BEFORE anything is touched, so an\nunfunded org is refused with nothing created, and the debit lands only once the\nbucket exists.",
        "tags": [
          "s3"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bucketIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bucketItem"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/s3/buckets/{bucket}": {
      "delete": {
        "operationId": "delete_s3_buckets_by_bucket",
        "summary": "Removes an EMPTY bucket and answers 204.",
        "description": "Removes an EMPTY bucket and answers 204.\n\nA non-empty bucket is 409 rather than a cascade: deleting a tenant's objects\nbehind a single bucket call is not a thing this surface will do silently. A\nbucket the caller's org does not own is the same 404 an unknown name gives.\n\nBilled per call: the balance is checked BEFORE anything is touched, so an\nunfunded org is refused with nothing deleted, and the debit lands only once the\nbucket is gone.",
        "tags": [
          "s3"
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "description": "Bucket is the bucket's friendly name, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/s3/buckets/{bucket}/objects": {
      "get": {
        "operationId": "get_s3_buckets_by_bucket_objects",
        "summary": "Lists one folder level of a bucket.",
        "description": "Lists one folder level of a bucket.\n\nFolder-style by default: sub-prefixes come back as directory entries, which is\nthe file-manager view. `?recursive=true` lists every key flat under the prefix\ninstead. Keys are RELATIVE to `?prefix=`, and the listing is bounded so a huge\nbucket cannot exhaust memory — Total is what came back, not what the bucket\nholds.\n\nBilled per call: the balance is checked BEFORE anything is touched, so an\nunfunded org is refused with nothing read, and the debit lands only once the\nlisting has succeeded.",
        "tags": [
          "s3"
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "description": "Bucket is the bucket to list, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/objectList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_s3_buckets_by_bucket_objects",
        "summary": "Mints a presigned PUT URL the caller uploads to DIRECTLY.",
        "description": "Mints a presigned PUT URL the caller uploads to DIRECTLY.\n\nThe bytes never pass through this binary and the admin credential never leaves\nthe server: the URL is signed against the PUBLIC host, scoped to exactly this\nbucket and key, and expires. A deployment with no public endpoint configured\ncannot mint one and answers 503 rather than a URL that will not work.\n\nBilled per call — for MINTING the URL, which is the work this operation does;\nthe upload that follows it goes straight to the store and is not seen here. The\nbalance is checked BEFORE anything is touched, so an unfunded org is refused\nwith no URL issued.",
        "tags": [
          "s3"
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "description": "Bucket is the bucket to upload into, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/uploadIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/presignResponse"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/s3/buckets/{bucket}/objects/{wildcard1}": {
      "delete": {
        "operationId": "delete_s3_buckets_by_bucket_objects_by_wildcard1",
        "summary": "Delete one object",
        "description": "Removes the single object at the trailing path from one of the caller's buckets and answers 204 with no body. The key is path-cleaned first, so the delete cannot reach outside the bucket it names.\n\nIt removes one object and never a prefix: a trailing path that looks like a folder deletes the placeholder at that key, not the objects beneath it.\n\nA validated principal is required, and every bucket and key is resolved inside the caller's own org: physical bucket names are derived from the org, so a tenant cannot name another's storage. The operation is billed per call — the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing done, and the debit happens only after the work succeeds. Object storage that is not configured answers 503 under this subsystem's own name rather than falling through to another.",
        "tags": [
          "s3"
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_s3_buckets_by_bucket_objects_by_wildcard1",
        "summary": "Get a URL to download one object directly",
        "description": "Returns a short-lived presigned GET URL for the object at the trailing path, with the method, the key and its remaining lifetime. As with upload, the client fetches from that URL directly and the storage credential stays on the server.\n\nThe URL carries a content disposition of attachment with the object's file name, so a browser following it downloads the object rather than rendering it in place. Signed against the public host, scoped to the one bucket and key, and good for five minutes; a deployment with no public storage endpoint answers 503.\n\nA validated principal is required, and every bucket and key is resolved inside the caller's own org: physical bucket names are derived from the org, so a tenant cannot name another's storage. The operation is billed per call — the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing done, and the debit happens only after the work succeeds. Object storage that is not configured answers 503 under this subsystem's own name rather than falling through to another.",
        "tags": [
          "s3"
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/presignResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/s3/health": {
      "get": {
        "operationId": "get_s3_health",
        "summary": "Health reports whether this deployment can serve object storage.",
        "description": "Health reports whether this deployment can serve object storage.\n\nIt is a REAL probe rather than a constant: 200 when admin credentials are\npresent, so the store is reachable in principle, and 503 with the reason when\nthey are not. It is deliberately NOT gated — liveness has to be probe-able\nwithout a token — so it is the one operation here that names no bucket and\nbills nothing.",
        "tags": [
          "s3"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/s3Health"
                }
              }
            },
            "description": "ok"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/s3Health"
                }
              }
            },
            "description": "service unavailable"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "bucketIn": {
        "properties": {
          "name": {
            "description": "Name is the bucket's friendly name, matching\n^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$. It is validated AS GIVEN and never\nlower-cased for you: a client that creates \"Photos\" and then lists \"photos\"\nwould be reading a bucket it did not make, so mixed case is a clean 400.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "bucketItem": {
        "properties": {
          "createdAt": {
            "description": "unix seconds",
            "type": "integer"
          },
          "name": {
            "description": "friendly name",
            "type": "string"
          }
        },
        "type": "object"
      },
      "bucketList": {
        "properties": {
          "buckets": {
            "description": "Buckets are the caller org's buckets, friendly names, oldest first as the\nstore returns them.",
            "items": {
              "$ref": "#/components/schemas/bucketItem"
            },
            "type": "array"
          },
          "total": {
            "description": "Total is how many buckets this org has. It equals len(buckets): the listing\nis not paged, because an org's bucket count is small by construction.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "objectItem": {
        "properties": {
          "etag": {
            "description": "ETag is the store's entity tag for the bytes currently at this key, with the\nquotes the store wraps it in stripped. It is an opaque VERSION and not a\nchecksum to verify against: a single-part upload's tag happens to be the MD5\nof the content and a multipart upload's is not, and nothing here says which\nthis was. Compare two reads of one key to learn whether the object changed;\nabsent for a folder entry, and for an object the store reports none for.",
            "type": "string"
          },
          "isDir": {
            "description": "true for a folder (common prefix)",
            "type": "boolean"
          },
          "key": {
            "description": "key RELATIVE to the requested prefix",
            "type": "string"
          },
          "lastModified": {
            "description": "unix seconds (0 for a folder)",
            "type": "integer"
          },
          "size": {
            "description": "bytes (0 for a folder)",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "objectList": {
        "properties": {
          "bucket": {
            "description": "Bucket is the bucket that was listed, friendly name.",
            "type": "string"
          },
          "objects": {
            "description": "Objects are the entries at this level, keys RELATIVE to Prefix.",
            "items": {
              "$ref": "#/components/schemas/objectItem"
            },
            "type": "array"
          },
          "prefix": {
            "description": "Prefix is the sub-folder the listing was scoped to, cleaned. Empty for the\nbucket root.",
            "type": "string"
          },
          "total": {
            "description": "Total is how many entries came back. The listing is BOUNDED, so a bucket\nwith more keys than the cap answers the cap and this says so — it is not a\ncount of what the bucket holds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "presignResponse": {
        "properties": {
          "expiresIn": {
            "description": "seconds until the URL expires",
            "type": "integer"
          },
          "key": {
            "description": "Key is the object key the URL was signed for, relative to the bucket root\nand path-cleaned — so it is what the store will actually read or write, which\nis not always the string the caller sent. The signature covers this one bucket\nand this one key: a URL minted here reaches nothing else.",
            "type": "string"
          },
          "method": {
            "description": "\"PUT\" (upload) or \"GET\" (download)",
            "type": "string"
          },
          "url": {
            "description": "presigned URL the browser follows directly",
            "type": "string"
          }
        },
        "type": "object"
      },
      "s3Health": {
        "properties": {
          "error": {
            "description": "Error is why the probe is degraded, in plain words. Absent when it is not.",
            "type": "string"
          },
          "presign": {
            "description": "Presign is whether presigned upload and download URLs can be minted, which\nneeds a PUBLIC endpoint on top of the credentials. False does not make the\nsurface degraded — listing and creating still work.\n\nNOT omitempty. On the ready path the untyped probe wrote this key\nunconditionally, and omitting a false one would turn what a\nhealthy-but-presignless deployment reports from \"presign: false\" into\nsilence — two different facts. The degraded body now carries it too, which is\nthe one delta of typing this: the probe answers ONE shape under both of its\nstatuses, which is what makes a single declared Out honest.",
            "type": "boolean"
          },
          "ready": {
            "description": "Ready is whether this deployment can serve object operations at all: true\nonly when admin credentials are configured.",
            "type": "boolean"
          },
          "service": {
            "description": "Service names the subsystem this probe is for. Always \"s3\".",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" when the store is reachable in principle, \"degraded\" when it\nis not. It is the field to read; the HTTP status carries the same fact for a\ncaller that only looks at the code.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "uploadIn": {
        "properties": {
          "bucket": {
            "description": "Bucket is the bucket to upload into, from the path.",
            "type": "string"
          },
          "key": {
            "description": "Key is the object key relative to the bucket root. It is path-cleaned, so a\n\"../\" cannot escape the bucket, and an empty or unclean key is 400.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
