{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package pricing is the price list: what every model, provider, GPU tier, tool and hosting plan costs.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "admin"
    },
    {
      "name": "pricing"
    }
  ],
  "paths": {
    "/v1/admin/pricing/catalog": {
      "get": {
        "operationId": "get_admin_pricing_catalog",
        "summary": "Returns the full model and provider catalog annotated with each entry's enablement state, for the operator console.",
        "description": "Returns the full model and provider catalog annotated with\neach entry's enablement state, for the operator console. Nothing is hidden:\nthis is the admin's view of what exists and what is currently off, in beta or\ngenerally available. SuperAdmin only; every other caller is refused.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adminCatalogOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/pricing/catalog/models/{wildcard1}": {
      "patch": {
        "operationId": "patch_admin_pricing_catalog_models_by_wildcard1",
        "summary": "Turns one model off, into beta for named orgs, or generally available.",
        "description": "Turns one model off, into beta for named orgs, or generally available.\n\nSets one model's availability overlay — and the price overrides applied on top\nof the catalog — then answers the new effective overlay, so a console needs no\nsecond read. The model id is the whole remaining path, so a slashed id like\n`acme/some-model-1` addresses intact.\n\nSuperAdmin only; every other caller is 403. The overlay is PLATFORM-WIDE —\nthis is the catalog every org prices against, not a per-org setting — and\n`betaOrgs` is what narrows a beta to named orgs.\n\nOnly the fields the patch names change; an entry with no overlay yet starts\nfrom the catalog default, which is enabled. `state` is the coherent tri-state\nsetter (`off`|`beta`|`ga`) and the low-level `enabled`/`beta` flags are applied\nAFTER it, so they win where both are sent; anything else in `state` is 400. A\nfield sent as an explicit `null` arrives indistinguishable from an absent one,\nso null does not clear anything.\n\nThe rule worth reading twice: a disabled entry that still carries beta orgs IS\na beta — `{\"enabled\":false,\"betaOrgs\":[\"acme\"]}` leaves acme seeing the model.\nOnly an explicit `off` (or `beta:false`) with an empty list is the absolute\nkill switch that a user's own beta opt-in can never re-open.\n\n`overrides` is an RFC 7386 merge patch, stored and echoed back verbatim; it\nmust be a JSON object or null — an array or a scalar is refused — and is\nbounded in size and nesting depth. An uninitialised overlay store answers 503.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "description": "ID is the model the overlay belongs to. Over HTTP it is the whole remaining\npath, so a slashed id (acme/some-model-1) addresses intact, and the path\nwins over anything sent in the body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/modelPatchIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Overlay"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/pricing/catalog/providers/{name}": {
      "patch": {
        "operationId": "patch_admin_pricing_catalog_providers_by_name",
        "summary": "Sets one provider's availability overlay.",
        "description": "Sets one provider's availability overlay.\n\nThe overlay decides whether a provider is off, in beta for named orgs, or\ngenerally available, and carries the price overrides applied on top of the\ncatalog. Only the fields the patch names change; every other field keeps the\nvalue it had, and an absent overlay starts from the catalog default (enabled).\nAnswers the new effective overlay, so a console needs no second read.\n\nSuperAdmin only.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the provider the overlay belongs to, from the URL.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/providerPatchIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Overlay"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/admin/pricing/enablement": {
      "get": {
        "operationId": "get_admin_pricing_enablement",
        "summary": "Returns every item an operator has set an enablement state on — its global state (off, beta or ga) and the orgs granted its beta.",
        "description": "Returns every item an operator has set an enablement state on —\nits global state (off, beta or ga) and the orgs granted its beta. An item\nnobody has touched is absent, because an untouched item is generally\navailable; the console composes the candidate list from the live catalog.\nSuperAdmin only; every other caller is refused.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adminEnablementBoard"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      },
      "put": {
        "operationId": "put_admin_pricing_enablement",
        "summary": "Sets one item's global enablement state — off, beta or ga — and optionally replaces the list of orgs granted its beta.",
        "description": "Sets one item's global enablement state — off, beta or ga — and\noptionally replaces the list of orgs granted its beta. It is generic over\nkind, so the same call manages models, providers and product features through\nthe one registry. `off` is an absolute kill switch: a self-service opt-in can\nnever re-open it. SuperAdmin only; every other caller is refused.",
        "tags": [
          "admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "betaOrgs": [
                  "acme"
                ],
                "id": "labs",
                "kind": "feature",
                "state": "beta"
              },
              "schema": {
                "$ref": "#/components/schemas/setEnablementBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adminEnablementItem"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/pricing": {
      "get": {
        "operationId": "get_pricing",
        "summary": "Returns the whole pricing catalog in one document: Zen and third-party models, providers, model families, the free-model list, plan and infrastructure pricing.",
        "description": "Returns the whole pricing catalog in one document: Zen and\nthird-party models, providers, model families, the free-model list, plan and\ninfrastructure pricing. Every model and provider it names is filtered to what\nthe caller's org may see — the same gate the leaf routes apply, so this can\nnever be an un-gated second source for what they hide.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/base": {
      "get": {
        "operationId": "get_pricing_base",
        "summary": "Returns the Hanzo Base plans — the managed-instance tiers, each with its monthly and annual price, storage and request allowances and feature list.",
        "description": "Returns the Hanzo Base plans — the managed-instance tiers,\neach with its monthly and annual price, storage and request allowances and\nfeature list.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingPlanList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/blockchain": {
      "get": {
        "operationId": "get_pricing_blockchain",
        "summary": "Returns the blockchain access plans — the RPC and node tiers, each with its monthly price, compute-unit allowance and feature list.",
        "description": "Returns the blockchain access plans — the RPC and node\ntiers, each with its monthly price, compute-unit allowance and feature list.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingPlanList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/cloud": {
      "get": {
        "operationId": "get_pricing_cloud",
        "summary": "Returns the public cloud section of the catalog in one document: its instance plans, its regions and its block-storage prices.",
        "description": "Returns the public cloud section of the catalog in one\ndocument: its instance plans, its regions and its block-storage prices. The\nsection's internal half — the provider costs Hanzo pays and the plan-to-\nprovider routing table — is stripped before it is served, so this is what a\ncustomer may see and nothing more.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/cloud/plans": {
      "get": {
        "operationId": "get_pricing_cloud_plans",
        "summary": "Returns just the cloud instance plans — each with its vCPU, memory, disk, CPU type, VM allowance, feature list and monthly and hourly price.",
        "description": "Returns just the cloud instance plans — each with its vCPU,\nmemory, disk, CPU type, VM allowance, feature list and monthly and hourly\nprice. It is the plans of the cloud section on their own.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingPlanList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/cloud/regions": {
      "get": {
        "operationId": "get_pricing_cloud_regions",
        "summary": "Returns the regions a cloud instance can be placed in, each with its id, display name and physical location.",
        "description": "Returns the regions a cloud instance can be placed in, each\nwith its id, display name and physical location. It is the regions of the\ncloud section on their own.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingRegionList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/cloud/storage": {
      "get": {
        "operationId": "get_pricing_cloud_storage",
        "summary": "Returns the block-storage prices of the cloud section: the per-GB monthly rate and the volume size bounds a caller may ask for.",
        "description": "Returns the block-storage prices of the cloud\nsection: the per-GB monthly rate and the volume size bounds a caller may ask\nfor.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/compute": {
      "get": {
        "operationId": "get_pricing_compute",
        "summary": "Returns the compute section of the catalog: the cloud provider and region the prices are quoted for, the monthly markup applied to them, the full instance-size tier list and the named presets.",
        "description": "Returns the compute section of the catalog: the cloud\nprovider and region the prices are quoted for, the monthly markup applied to\nthem, the full instance-size tier list and the named presets. It is the\nwhole section as the pricing source records it, un-gated — no model or\nprovider identity appears in it.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/compute/presets": {
      "get": {
        "operationId": "get_pricing_compute_presets",
        "summary": "Returns just the named compute sizes — the short, human-labelled list (\"Starter\", \"Pro\") a size picker renders, each carrying its provider slug, vCPU, memory, disk and price.",
        "description": "Returns just the named compute sizes — the short,\nhuman-labelled list (\"Starter\", \"Pro\") a size picker renders, each carrying\nits provider slug, vCPU, memory, disk and price. It is the presets of the\ncompute section on their own, for a caller that does not need the full tier\ntable.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingPresetList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/datastore": {
      "get": {
        "operationId": "get_pricing_datastore",
        "summary": "Returns the Hanzo Datastore rate card: the tier list, the per-GB storage and egress usage rates, the annual discount and the trial.",
        "description": "Returns the Hanzo Datastore rate card: the tier list, the\nper-GB storage and egress usage rates, the annual discount and the trial. It is\nthe section as authored, un-gated — no provider identity appears in it.\n\nThe route was missing while the data existed, so this 404d and every visitor to\nhanzo.ai's Infrastructure tab was told pricing was \"temporarily unavailable\".",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/enablement": {
      "get": {
        "operationId": "get_pricing_enablement",
        "summary": "Returns what the caller's org can actually use: every managed item with its global state, whether it is effective here, whether this org is already opted into its beta, and whether it may still opt in.",
        "description": "Returns what the caller's org can actually use: every managed\nitem with its global state, whether it is effective here, whether this org is\nalready opted into its beta, and whether it may still opt in. Read-only and\nsafe for any caller — one without a validated principal simply sees the\ngenerally-available items and no opt-in affordance, never another org's state.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/enablementBoard"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/enablement/optin": {
      "post": {
        "operationId": "post_pricing_enablement_optin",
        "summary": "Opts the caller's OWN org into a beta item.",
        "description": "Opts the caller's OWN org into a beta item. The org is the\ncaller's validated one, so this can never target another org, and the registry\nrefuses anything not in beta — so it can neither re-open an item an operator\nturned off nor touch one that is already generally available. Requires a\nsigned-in caller with an org.",
        "tags": [
          "pricing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "labs",
                "kind": "feature"
              },
              "schema": {
                "$ref": "#/components/schemas/enablementOptRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userEnablementItem"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/enablement/optout": {
      "post": {
        "operationId": "post_pricing_enablement_optout",
        "summary": "Removes the caller's OWN org from a beta item's grant list, the reverse of OptIntoBeta and idempotent.",
        "description": "Removes the caller's OWN org from a beta item's grant list, the\nreverse of OptIntoBeta and idempotent. The org is the caller's validated one,\nso this can never revoke another org's grant. Requires a signed-in caller with\nan org.",
        "tags": [
          "pricing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "labs",
                "kind": "feature"
              },
              "schema": {
                "$ref": "#/components/schemas/enablementOptRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userEnablementItem"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/featured": {
      "get": {
        "operationId": "get_pricing_featured",
        "summary": "Returns the models the catalog highlights, filtered to what the caller's org may see.",
        "description": "Returns the models the catalog highlights, filtered to what\nthe caller's org may see. It is the same catalog as ListModels narrowed to\nentries the pricing source marks featured.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingModelList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/free": {
      "get": {
        "operationId": "get_pricing_free",
        "summary": "Returns the models that cost nothing to call, filtered to what the caller's org may see.",
        "description": "Returns the models that cost nothing to call, filtered to what\nthe caller's org may see. It is the same catalog as ListModels narrowed to\nentries the pricing source marks free.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingModelList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/gpu": {
      "get": {
        "operationId": "get_pricing_gpu",
        "summary": "ListGPUTiers returns the rentable GPU configurations, each with its accelerator count and model, VRAM, vCPU, host memory and hourly price.",
        "description": "ListGPUTiers returns the rentable GPU configurations, each with its\naccelerator count and model, VRAM, vCPU, host memory and hourly price.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingTierList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/health": {
      "get": {
        "operationId": "get_pricing_health",
        "summary": "Health reports that the pricing subsystem is mounted and serving.",
        "description": "Health reports that the pricing subsystem is mounted and serving. It answers\nfrom the process itself and consults neither the catalog bundle nor the\nenablement store, so it stays \"ok\" while either is degraded.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "service": "pricing",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/pricingHealth"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/iam": {
      "get": {
        "operationId": "get_pricing_iam",
        "summary": "ListIAMPlans returns the identity plans — the Hanzo IAM tiers, each with its monthly and annual price, monthly-active-user allowance and feature list.",
        "description": "ListIAMPlans returns the identity plans — the Hanzo IAM tiers, each with its\nmonthly and annual price, monthly-active-user allowance and feature list.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingPlanList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/model/{name}": {
      "get": {
        "operationId": "get_pricing_model_by_name",
        "summary": "Returns one model's catalog entry — its pricing, context window and capabilities as the pricing source records them.",
        "description": "Returns one model's catalog entry — its pricing, context window and\ncapabilities as the pricing source records them. A model hidden for the\ncaller's org answers the same 404 an unknown name does, so a disabled model\ngets no existence oracle.",
        "tags": [
          "pricing"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the model's name or its slugged id (\"zen4\",\n\"acme/some-model-1\"), matched case-insensitively. It comes from\nthe path: the URL is the addressing authority.",
            "schema": {
              "type": "string"
            },
            "example": "zen4"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/models": {
      "get": {
        "operationId": "get_pricing_models",
        "summary": "Returns the whole model catalog — every model the gateway serves, Zen and third-party alike — filtered to what the caller's org may see.",
        "description": "Returns the whole model catalog — every model the gateway serves,\nZen and third-party alike — filtered to what the caller's org may see. A\nmodel an admin has disabled is absent; one in beta appears only for an org\ngranted it. A SuperAdmin sees every model, each annotated with its\nenablement state.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingModelList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/paas": {
      "get": {
        "operationId": "get_pricing_paas",
        "summary": "ListPaaSPlans returns the application-hosting plans — the deploy-and-host tiers, each with its monthly and annual price, app and memory allowances and feature list.",
        "description": "ListPaaSPlans returns the application-hosting plans — the deploy-and-host\ntiers, each with its monthly and annual price, app and memory allowances and\nfeature list.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingPlanList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/policy": {
      "get": {
        "operationId": "get_pricing_policy",
        "summary": "Returns the pricing policy document: the revenue-sharing terms (the idle-resale share and the open-source share, each with its percentage and who is eligible) and the commitments Hanzo makes about how it bills — no hidden fees, no egress charges, no surprise bills.",
        "description": "Returns the pricing policy document: the revenue-sharing\nterms (the idle-resale share and the open-source share, each with its\npercentage and who is eligible) and the commitments Hanzo makes about how it\nbills — no hidden fees, no egress charges, no surprise bills.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/providers": {
      "get": {
        "operationId": "get_pricing_providers",
        "summary": "Returns the model providers the catalog knows, each with its info object, filtered to what the caller's org may see.",
        "description": "Returns the model providers the catalog knows, each with its\ninfo object, filtered to what the caller's org may see. A provider an admin\nhas disabled is absent — and so are its models everywhere else on this\nsurface, because a provider's state cascades to what it serves.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingProviderList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/services": {
      "get": {
        "operationId": "get_pricing_services",
        "summary": "Returns the managed-service rate cards — Search, Crawl, Vector, Console and Managed Services — each with its own tiers, and some with usage rates or a comparison table.",
        "description": "Returns the managed-service rate cards — Search, Crawl,\nVector, Console and Managed Services — each with its own tiers, and some with\nusage rates or a comparison table. It is the section as authored, un-gated.\n\nThese are DISPLAY rate cards: what a product costs, not what a plan grants. No\nentitlement or limit fields ride here, so nothing can bill off them.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/subscriptions": {
      "get": {
        "operationId": "get_pricing_subscriptions",
        "summary": "Returns the API subscription plans — the account-level tiers a customer subscribes to, each with its monthly and annual price, included credit, rate limits and feature list.",
        "description": "Returns the API subscription plans — the account-level\ntiers a customer subscribes to, each with its monthly and annual price,\nincluded credit, rate limits and feature list.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingPlanList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/summary": {
      "get": {
        "operationId": "get_pricing_summary",
        "summary": "Returns the catalog's headline statistics — model counts by family and the provider directory.",
        "description": "Returns the catalog's headline statistics — model counts by\nfamily and the provider directory. The provider sub-object is filtered to what\nthe caller's org may see, so a disabled provider's name never leaks; the\naggregate counts are the catalog's own, over everything it holds.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/sync": {
      "post": {
        "operationId": "post_pricing_sync",
        "summary": "Refreshes the third-party section of the catalog from its upstream listings and returns the time the refreshed catalog was stamped with.",
        "description": "Refreshes the third-party section of the catalog from its upstream\nlistings and returns the time the refreshed catalog was stamped with. The\nfetch runs in Go and the markup transform in the pricing bundle. SuperAdmin\nonly; every other caller is refused.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingSyncOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/tariff": {
      "get": {
        "operationId": "get_pricing_tariff",
        "summary": "Returns the platform's rate card: what a bill is made of, what each part costs, and the completion windows a request may ask for.",
        "description": "Returns the platform's rate card: what a bill is made of, what each\npart costs, and the completion windows a request may ask for.\n\nFOUR COMPONENTS, and every charge is one of them — model inference, computer,\nweb tools and media generation. Two are quoted before they run, so an agent is\nrefused before it breaches its budget; two are booked from what they used,\nbecause neither a provider's charge nor a render's cost is knowable in advance.\n\nEVERY AMOUNT IS INTEGER MICRO-USD (1 USD = 1,000,000), stated once in `unit`,\nand each rate says what one unit of it is in `per`. The compute rates are per\nHOUR because that is the unit a span is priced in — rate × seconds / 3600 — and\nbecause a GiB-second is four and a half micro-USD, which no integer holds.\n\nThe rates are the ones the ledger books: each is resolved through the same\nauthority the metering path reads, falling back to the same compiled floor. A\nrate of zero is a price and not an absence — a paused computer, a computer's\ncreation, the interfaces and a seat all cost nothing by design.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/pricing/tools": {
      "get": {
        "operationId": "get_pricing_tools",
        "summary": "Returns the per-use tool prices — web search, web fetch, code interpreter, file storage, image generation, speech-to-text and text-to-speech — each with the unit it is billed by and its price in that unit.",
        "description": "Returns the per-use tool prices — web search, web fetch, code\ninterpreter, file storage, image generation, speech-to-text and\ntext-to-speech — each with the unit it is billed by and its price in that\nunit.\n\nThe two WEB rows are priced from the rate card rather than from the catalog,\nbecause those are the rows the platform charges by the call and a published\nnumber that is also a charged one has exactly one home (see tariff.go). Read\nthem as integer micro-USD at /v1/pricing/tariff; the decimal here is the\ndisplay this list has always carried.",
        "tags": [
          "pricing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricingToolList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "Card": {
        "properties": {
          "components": {
            "description": "Components are the four things a bill is made of.",
            "items": {
              "$ref": "#/components/schemas/Component"
            },
            "type": "array"
          },
          "rates": {
            "description": "Rates are the priced lines, each in micro-USD per its own unit.",
            "items": {
              "$ref": "#/components/schemas/Rate"
            },
            "type": "array"
          },
          "unit": {
            "description": "Unit is the unit every amount on this card is stated in.",
            "type": "string"
          },
          "windows": {
            "description": "Speeds are the completion speeds, dearest first.",
            "items": {
              "$ref": "#/components/schemas/Speed"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Component": {
        "properties": {
          "basis": {
            "description": "Basis is what it is metered by, in the fewest words that are true.",
            "type": "string"
          },
          "name": {
            "description": "Name is the component's name on the spend breakdown.",
            "type": "string"
          },
          "note": {
            "description": "Note is what the component means, in one sentence.",
            "type": "string"
          },
          "quoted": {
            "description": "Quoted says whether a call is priced BEFORE it runs. A quoted component can\nrefuse a call that would breach a budget; a measured one is booked from what\nit used and is bounded by the headroom under the per-task cap instead.",
            "type": "boolean"
          },
          "tiers": {
            "description": "Tiers are the disjoint tiers this component meters in, where it has them.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "title": {
            "description": "Title is how it reads on a price list.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Overlay": {
        "properties": {
          "beta": {
            "description": "Beta matters only while Enabled is false, and it is what separates the two\nhidden states: true means the orgs in BetaOrgs still see the entry, false\nmeans nobody does and BetaOrgs is ignored. Absent reads as false.",
            "type": "boolean"
          },
          "betaOrgs": {
            "description": "BetaOrgs are the org ids granted a beta, trimmed and de-duplicated. It is\nconsulted ONLY in the beta state; on an \"off\" entry it is inert, which is\nwhat makes off an absolute kill switch a self-opt-in cannot re-open. Absent\nmeans the grant list is empty.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "enabled": {
            "description": "Enabled true is the \"ga\" state: everyone sees the entry. False is either\n\"beta\" or \"off\" depending on Beta — read State() rather than this flag\nalone, since false on its own does not say which.",
            "type": "boolean"
          },
          "id": {
            "description": "ID is the entry this state governs within Kind — a model id (which may\ncarry a provider prefix, \"acme/some-model-1\"), a provider name, or a\nfeature key. Matched exactly as stored.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the namespace the id lives in: \"model\", \"provider\" or \"feature\".\nOne id may name a different thing in each, so a row is only ever addressed\nby the pair.",
            "type": "string"
          },
          "overrides": {
            "description": "Overrides is the RFC 7386 merge patch applied over this entry's catalog\nvalues — typically price fields — carried verbatim, so its keys are the\ncatalog's own rather than this API's. Absent means the catalog value stands\nunmodified."
          },
          "updatedAt": {
            "description": "UpdatedAt is when this state was last written, in SECONDS since the Unix\nepoch (not milliseconds). Absent on a row no operator has touched, which is\nthe same thing as having no row at all.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Rate": {
        "properties": {
          "component": {
            "description": "Component is which of the four this line bills under.",
            "type": "string"
          },
          "name": {
            "description": "Name addresses the rate.",
            "type": "string"
          },
          "note": {
            "description": "Note is what the line covers.",
            "type": "string"
          },
          "per": {
            "description": "Per names one unit, so a reader never has to guess what the number is per.",
            "type": "string"
          },
          "rate_micro_usd": {
            "description": "Micros is the price of ONE unit, in micro-USD. It is the number the ledger\nbooks, resolved through the same authority the metering path reads.",
            "format": "int64",
            "type": "integer"
          },
          "title": {
            "description": "Title is how the line reads on a price list.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Speed": {
        "properties": {
          "name": {
            "description": "Name is what a request asks for.",
            "type": "string"
          },
          "note": {
            "description": "Note is what asking for this window buys.",
            "type": "string"
          },
          "rank": {
            "description": "Rank orders the windows by price, 1 being the dearest.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "adminCatalogOut": {
        "properties": {
          "models": {
            "description": "Models is every model the catalog holds — disabled ones included — each\ncarrying its enablement state under \"_overlay\".",
            "items": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            },
            "type": "array"
          },
          "providers": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "Providers is every provider the catalog holds, keyed by name, each\ncarrying its enablement state under \"_overlay\".",
            "type": "object"
          },
          "updated": {
            "description": "Updated is when the catalog was last refreshed, as the pricing source\nrecorded it.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "adminEnablementBoard": {
        "properties": {
          "items": {
            "description": "Items is every item an operator has set a state on. An item nobody has\ntouched is absent: it is generally available by default.",
            "items": {
              "$ref": "#/components/schemas/adminEnablementItem"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "adminEnablementItem": {
        "properties": {
          "betaOrgs": {
            "description": "BetaOrgs are the org ids granted this item's beta. It decides who sees a\n\"beta\" item and is IGNORED on an \"off\" one, so a non-empty list beside\n\"off\" grants nothing. Empty on a ga item, where there is nothing to grant.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "id": {
            "description": "ID is the item within that namespace — a model id, a provider name, or a\nfeature key.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the namespace the id lives in: \"model\", \"provider\" or \"feature\".",
            "type": "string"
          },
          "state": {
            "description": "State is the item's global availability, one of exactly \"off\" (nobody sees\nit), \"beta\" (only the orgs below see it) or \"ga\" (everybody sees it).",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when an operator last set this item's state, in SECONDS since\nthe Unix epoch (not milliseconds).",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "enablementBoard": {
        "properties": {
          "betas": {
            "description": "Betas are the subset of Items the caller's org may still opt into.",
            "items": {
              "$ref": "#/components/schemas/userEnablementItem"
            },
            "type": "array"
          },
          "items": {
            "description": "Items is every managed item, each resolved for the caller's org.",
            "items": {
              "$ref": "#/components/schemas/userEnablementItem"
            },
            "type": "array"
          },
          "org": {
            "description": "Org is the org this view was resolved for; empty for a caller with no\nvalidated principal, who sees only the generally-available items.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "enablementOptRef": {
        "properties": {
          "id": {
            "description": "ID is the item within that namespace.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the item's namespace: \"model\", \"provider\" or \"feature\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "modelPatchIn": {
        "properties": {
          "beta": {
            "type": "boolean"
          },
          "betaOrgs": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "enabled": {
            "type": "boolean"
          },
          "id": {
            "description": "ID is the model the overlay belongs to. Over HTTP it is the whole remaining\npath, so a slashed id (acme/some-model-1) addresses intact, and the path\nwins over anything sent in the body.",
            "type": "string"
          },
          "overrides": {},
          "state": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "pricingHealth": {
        "properties": {
          "service": {
            "description": "Service names the subsystem that answered.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" whenever this subsystem is mounted.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "pricingModelList": {
        "properties": {
          "models": {
            "description": "Models are the catalog entries visible to the caller, each an opaque\nobject exactly as the pricing source emits it, with any admin override\nmerged on top. An admin additionally sees hidden entries, each annotated\nunder \"_overlay\".",
            "items": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            },
            "type": "array"
          },
          "total": {
            "description": "Total is how many models this answer carries — recounted over the visible\nset, not the catalog's own total.",
            "format": "int64",
            "type": "integer"
          },
          "updated": {
            "description": "Updated is when the catalog was last refreshed, as the pricing source\nrecorded it.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "pricingPlanList": {
        "properties": {
          "plans": {
            "description": "Plans are the plans in this section, each an opaque object exactly as the\npricing source emits it — typically id, name, description, price and a\nfeature list.",
            "items": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "pricingPresetList": {
        "properties": {
          "presets": {
            "description": "Presets are the named compute sizes, each an opaque object exactly as the\npricing source emits it — typically id, name, provider slug, vCPU, memory,\ndisk and price.",
            "items": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "pricingProviderList": {
        "properties": {
          "providers": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "Providers maps a provider name to its opaque info object. A provider\nhidden for the caller's org is absent entirely.",
            "type": "object"
          },
          "updated": {
            "description": "Updated is when the catalog was last refreshed, as the pricing source\nrecorded it.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "pricingRegionList": {
        "properties": {
          "regions": {
            "description": "Regions are the regions cloud instances can be placed in, each an opaque\nobject exactly as the pricing source emits it — typically id, name and\nlocation.",
            "items": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "pricingSyncOut": {
        "properties": {
          "status": {
            "description": "Status is \"ok\" when the sync completed.",
            "type": "string"
          },
          "updated": {
            "description": "Updated is the RFC 3339 time the refreshed catalog was stamped with.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "pricingTierList": {
        "properties": {
          "tiers": {
            "description": "Tiers are the rentable GPU configurations, each an opaque object exactly\nas the pricing source emits it — typically id, name, accelerator count and\nmodel, VRAM, vCPU, memory and hourly price.",
            "items": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "pricingToolList": {
        "properties": {
          "tools": {
            "description": "Tools are the metered tools, each an opaque object exactly as the pricing\nsource emits it — typically name, billing unit and price.",
            "items": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "providerPatchIn": {
        "properties": {
          "beta": {
            "type": "boolean"
          },
          "betaOrgs": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "enabled": {
            "type": "boolean"
          },
          "name": {
            "description": "Name is the provider the overlay belongs to, from the URL.",
            "type": "string"
          },
          "overrides": {},
          "state": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "setEnablementBody": {
        "properties": {
          "betaOrgs": {
            "description": "BetaOrgs REPLACES the item's beta grant list when present. Omit it to\nleave the existing grants alone.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "id": {
            "description": "ID is the item within that namespace — a model id, a provider name, or a\nfeature's key.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the item's namespace: \"model\", \"provider\" or \"feature\".",
            "type": "string"
          },
          "state": {
            "description": "State is the item's global enablement: \"off\" (hidden from everyone,\nabsolutely), \"beta\" (visible only to granted orgs) or \"ga\" (visible to\neveryone). Required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "userEnablementItem": {
        "properties": {
          "canOptIn": {
            "description": "CanOptIn is whether POST /v1/pricing/enablement/optin would do anything\nhere: the item is in beta and this org is not on its list yet. False for a\ncaller with no validated org, who has no org to enrol.",
            "type": "boolean"
          },
          "effective": {
            "description": "Effective is whether the caller's org may use the item right now, which is\nthe field to branch on: true for any ga item, for a beta this org holds,\nand never for an off one.",
            "type": "boolean"
          },
          "id": {
            "description": "ID is the item within that namespace — a model id, a provider name, or a\nfeature key.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the namespace the id lives in: \"model\", \"provider\" or \"feature\".",
            "type": "string"
          },
          "optedIn": {
            "description": "OptedIn is whether the caller's org is on this item's beta grant list. It\ncan be true on an \"off\" item — the list survives the kill switch and is\nsimply ignored while it is thrown — so it does not imply Effective.",
            "type": "boolean"
          },
          "state": {
            "description": "State is the item's GLOBAL availability — \"off\", \"beta\" or \"ga\" — which is\nthe operator's setting and not this caller's answer. Effective is that.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
