{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package flags is feature flags: ship it dark, then turn it on for who you pick.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "flags"
    }
  ],
  "paths": {
    "/v1/flags": {
      "post": {
        "operationId": "post_flags",
        "summary": "Evaluate runs the caller's flag definitions for one identity and returns the flag verdict: which flags are on (or which variant), their payloads, and whether any definition failed to compute.",
        "description": "Evaluate runs the caller's flag definitions for one identity and returns the\nflag verdict: which flags are on (or which variant), their payloads,\nand whether any definition failed to compute. Evaluation is in-process over the\ncaller's own (org, project) definitions — no network hop, no shared KV — so a\ntenant can only ever evaluate its own flags.",
        "tags": [
          "flags"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "distinct_id": "u1",
                "groups": {
                  "0": {
                    "key": "acme"
                  }
                },
                "person_properties": {
                  "plan": "pro"
                }
              },
              "schema": {
                "$ref": "#/components/schemas/evaluateIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "errorsWhileComputingFlags": false,
                  "featureFlagPayloads": {},
                  "featureFlags": {
                    "new-editor": true
                  }
                },
                "schema": {}
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/flags/activity": {
      "get": {
        "operationId": "get_flags_activity",
        "summary": "Returns the caller's flag change log newest-first: every create, update and delete, with the actor and the time.",
        "description": "Returns the caller's flag change log newest-first: every\ncreate, update and delete, with the actor and the time.",
        "tags": [
          "flags"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned. 1–500; anything else takes the default 100.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/activityOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/flags/decide": {
      "post": {
        "operationId": "post_flags_decide",
        "summary": "Evaluate runs the caller's flag definitions for one identity and returns the flag verdict: which flags are on (or which variant), their payloads, and whether any definition failed to compute.",
        "description": "Evaluate runs the caller's flag definitions for one identity and returns the\nflag verdict: which flags are on (or which variant), their payloads,\nand whether any definition failed to compute. Evaluation is in-process over the\ncaller's own (org, project) definitions — no network hop, no shared KV — so a\ntenant can only ever evaluate its own flags.",
        "tags": [
          "flags"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "distinct_id": "u1",
                "groups": {
                  "0": {
                    "key": "acme"
                  }
                },
                "person_properties": {
                  "plan": "pro"
                }
              },
              "schema": {
                "$ref": "#/components/schemas/evaluateIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "errorsWhileComputingFlags": false,
                  "featureFlagPayloads": {},
                  "featureFlags": {
                    "new-editor": true
                  }
                },
                "schema": {}
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/flags/defs": {
      "get": {
        "operationId": "get_flags_defs",
        "summary": "Returns every flag definition in the caller's (org, project) store, by key, with its version and who last changed it.",
        "description": "Returns every flag definition in the caller's (org,\nproject) store, by key, with its version and who last changed it.",
        "tags": [
          "flags"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/defsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/flags/defs/{key}": {
      "delete": {
        "operationId": "delete_flags_defs_by_key",
        "summary": "Removes one flag definition by key and records the deletion in the change log.",
        "description": "Removes one flag definition by key and records the\ndeletion in the change log. A key the caller's store does not hold is a 404.",
        "tags": [
          "flags"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the flag key to act on, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deletedOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "get_flags_defs_by_key",
        "summary": "Returns one flag definition by key, or 404 when the caller's store has none under that key.",
        "description": "Returns one flag definition by key, or 404 when the caller's\nstore has none under that key.",
        "tags": [
          "flags"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the flag key to act on, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefRow"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "put_flags_defs_by_key",
        "summary": "Creates or replaces the flag definition at the path's key and returns the stored row.",
        "description": "Creates or replaces the flag definition at the path's key and\nreturns the stored row. The BODY IS THE DEFINITION DOCUMENT — the flag-definition\nJSON object the evaluator consumes — and it is stored verbatim except that its\n\"key\" is forced to the key in the URL, so a document can never be filed under a\nname other than the one it was addressed by. Every write bumps the version and\nappends to the change log under the caller's identity.",
        "tags": [
          "flags"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the flag key to write, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "new-editor"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "active": true,
                "filters": {
                  "groups": [
                    {
                      "rollout_percentage": 25
                    }
                  ]
                },
                "key": "new-editor"
              },
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefRow"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/flags/health": {
      "get": {
        "operationId": "get_flags_health",
        "summary": "Health reports that the flag engine is serving.",
        "description": "Health reports that the flag engine is serving. It is not gated: liveness must\nbe probe-able without a token.",
        "tags": [
          "flags"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "engine": "hanzo-flags",
                  "ok": true
                },
                "schema": {
                  "$ref": "#/components/schemas/healthOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "ActivityRow": {
        "properties": {
          "action": {
            "description": "Action is one of created, updated, deleted.",
            "type": "string"
          },
          "actor": {
            "description": "Actor is the email of the principal who made the change. Empty for a write\nby an in-process composer; a project key can never appear here, because\nevaluating flags is all a key may do.",
            "type": "string"
          },
          "at": {
            "description": "At is when the change was made, RFC 3339 UTC.",
            "type": "string"
          },
          "detail": {
            "description": "Detail is free-form context about the change. Nothing writes it today, so\nit is absent from every row the store serves.",
            "type": "string"
          },
          "id": {
            "description": "ID is the log's own sequence number, rising with each entry. The log is\nserved newest-first, which is this descending.",
            "type": "integer"
          },
          "key": {
            "description": "Key is the flag that changed. It survives a delete, so the log still names\nflags the definition store no longer holds.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DefRow": {
        "properties": {
          "definition": {
            "description": "Definition is the flag-definition document the evaluator consumes, kept\nBYTE-FOR-BYTE as it was written. It is the engine's format rather than this\npackage's, so it carries fields no Go type here names — targeting groups,\nrollout percentages, variants, payloads — and a caller must round-trip it\nwhole rather than rebuilding it from the parts it recognizes."
          },
          "key": {
            "description": "Key is the flag's primary key in the caller's (org, project) store, and the\nname evaluation looks it up by. On a write it is taken from the URL, never\nfrom the body: the stored document's own \"key\" is forced to match.",
            "type": "string"
          },
          "updated_at": {
            "description": "UpdatedAt is when the definition was last written, RFC 3339 UTC.",
            "type": "string"
          },
          "updated_by": {
            "description": "UpdatedBy is the email of the principal who last wrote it. Empty when the\nwrite came from an in-process composer (an experiment registering its own\nassignment flag) rather than from a signed-in person.",
            "type": "string"
          },
          "version": {
            "description": "Version is 1 when the key was created and rises by one on every overwrite.\nIt counts writes, not content changes: re-storing an identical document\nbumps it.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "activityOut": {
        "properties": {
          "data": {
            "description": "Data is the change log newest-first: who created, updated or deleted which key, when.",
            "items": {
              "$ref": "#/components/schemas/ActivityRow"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "defsOut": {
        "properties": {
          "data": {
            "description": "Data is every definition in the caller's (org, project) store, by key.",
            "items": {
              "$ref": "#/components/schemas/DefRow"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "deletedOut": {
        "properties": {
          "deleted": {
            "description": "Deleted is the key that no longer exists.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "evaluateIn": {
        "properties": {
          "distinct_id": {
            "description": "DistinctID is the identity the flags are evaluated for. Required.",
            "type": "string"
          },
          "groups": {
            "description": "Groups are the group-level properties, keyed by group type index."
          },
          "person_properties": {
            "description": "PersonProperties are the person-level properties conditions match against."
          }
        },
        "type": "object"
      },
      "healthOut": {
        "properties": {
          "engine": {
            "description": "Engine names the evaluator this deployment runs.",
            "type": "string"
          },
          "ok": {
            "description": "OK is true whenever the flag engine is serving.",
            "type": "boolean"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
