{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package marketing is lifecycle email: drip sequences that reach the right people.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "marketing"
    }
  ],
  "paths": {
    "/v1/marketing/audiences": {
      "get": {
        "operationId": "get_v1_marketing_audiences",
        "summary": "Returns the org's saved audiences, most recently updated first.",
        "description": "Returns the org's saved audiences, most recently updated first.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.",
            "schema": {
              "type": "integer"
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_marketing_audiences",
        "summary": "Saves a cohort filter for the caller's org.",
        "description": "Saves a cohort filter for the caller's org. Name is required.\nOmitting event saves the WHOLE-ORG audience — every mailable customer — which\nneeds no analytics warehouse; naming one narrows that roster to the customers\nwho fired it within windowDays.",
        "tags": [
          "marketing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "event": "model.invoked",
                "name": "Model users, last 30d",
                "windowDays": 30
              },
              "schema": {
                "$ref": "#/components/schemas/Audience"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/audiences/{id}": {
      "delete": {
        "operationId": "delete_v1_marketing_audiences_id",
        "summary": "Removes one of the caller org's audiences and answers 204.",
        "description": "Removes one of the caller org's audiences and answers 204. It\ndeletes the saved filter only — no customer, event or enrollment is touched.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the audience id from the path, as returned by create.",
            "schema": {
              "type": "string"
            },
            "example": "aud_4c1e9b7a2d6f0538e4a7c9b1d3f5027a"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_marketing_audiences_id",
        "summary": "Returns one of the caller org's saved audiences.",
        "description": "Returns one of the caller org's saved audiences. An audience\nbelonging to another org reads as not found.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the audience id from the path, as returned by create.",
            "schema": {
              "type": "string"
            },
            "example": "aud_4c1e9b7a2d6f0538e4a7c9b1d3f5027a"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/audiences/{id}/preview": {
      "get": {
        "operationId": "get_v1_marketing_audiences_id_preview",
        "summary": "Evaluates the cohort LIVE — the same resolution an enrollment would run — and reports how big it is and how many real mailboxes it reaches.",
        "description": "Evaluates the cohort LIVE — the same resolution an enrollment\nwould run — and reports how big it is and how many real mailboxes it reaches.\nIt is the honest answer to \"is this send worth making\": a cohort of 500 that\nmails 3 says so, in deliverable and unmatched. Nothing is sent.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the audience id from the path, as returned by create.",
            "schema": {
              "type": "string"
            },
            "example": "aud_4c1e9b7a2d6f0538e4a7c9b1d3f5027a"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "available": true,
                  "count": 500,
                  "deliverable": 3,
                  "sample": [
                    "u_1",
                    "u_2"
                  ],
                  "source": "event.event",
                  "unmatched": 497
                },
                "schema": {
                  "$ref": "#/components/schemas/AudiencePreview"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/calendar": {
      "get": {
        "operationId": "get_v1_marketing_calendar",
        "summary": "Returns the org's calendar, soonest scheduled first, optionally narrowed to one status.",
        "description": "Returns the org's calendar, soonest scheduled first,\noptionally narrowed to one status.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status keeps only posts in that state (draft, scheduled, published,\nfailed, canceled). Empty means every post.",
            "schema": {
              "type": "string"
            },
            "example": "scheduled"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.",
            "schema": {
              "type": "integer"
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_marketing_calendar",
        "summary": "Adds a post to the content calendar.",
        "description": "Adds a post to the content calendar. Channel and body are\nrequired. A scheduledAt in the future makes the post \"scheduled\" and the\ndurable sweep publishes it when it comes due — claimed once, so a post\npublishes at most once; without one it stays a draft.",
        "tags": [
          "marketing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "body": "Hanzo Cloud is live.",
                "channel": "x",
                "scheduledAt": 1780000000,
                "title": "Launch day"
              },
              "schema": {
                "$ref": "#/components/schemas/CalendarPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarPost"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/calendar/{id}": {
      "delete": {
        "operationId": "delete_v1_marketing_calendar_id",
        "summary": "Removes one of the caller org's posts and answers 204.",
        "description": "Removes one of the caller org's posts and answers 204. A\npost already published is deleted from the calendar only — nothing is\nretracted from the network it went out on.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the post id from the path, as returned by create.",
            "schema": {
              "type": "string"
            },
            "example": "cal_1d7f3b9e5a2c8046f1b3d5a7c9e02468"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_marketing_calendar_id",
        "summary": "Returns one of the caller org's posts, including the exact error behind a failed publish.",
        "description": "Returns one of the caller org's posts, including the exact\nerror behind a failed publish. A post belonging to another org reads as not\nfound.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the post id from the path, as returned by create.",
            "schema": {
              "type": "string"
            },
            "example": "cal_1d7f3b9e5a2c8046f1b3d5a7c9e02468"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarPost"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_v1_marketing_calendar_id",
        "summary": "Replaces a post's editable fields.",
        "description": "Replaces a post's editable fields. It is a full write, not\na patch, and it RESETS the lifecycle from the schedule: a scheduledAt makes\nthe post \"scheduled\" again and none makes it a draft — so editing a failed\npost requeues it rather than leaving it stuck.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the server-assigned post id (\"cal_\" + 128 random bits).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "body": "Hanzo Cloud is live — try it free.",
                "channel": "x",
                "scheduledAt": 1780003600,
                "title": "Launch day"
              },
              "schema": {
                "$ref": "#/components/schemas/CalendarPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarPost"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/calendar/{id}/publish": {
      "post": {
        "operationId": "post_v1_marketing_calendar_id_publish",
        "summary": "Publishes a post NOW, synchronously, whatever its schedule.",
        "description": "Publishes a post NOW, synchronously, whatever its\nschedule. No social connector is wired today, so every channel answers an\nhonest 501 naming the seam a real one would plug into, and the post is\nrecorded failed with that exact reason — never a faked \"published\".",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the post id from the path, as returned by create.",
            "schema": {
              "type": "string"
            },
            "example": "cal_1d7f3b9e5a2c8046f1b3d5a7c9e02468"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarPost"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/campaigns": {
      "get": {
        "operationId": "get_v1_marketing_campaigns",
        "summary": "Returns the org's campaigns, most recently updated first, optionally narrowed to one lifecycle status.",
        "description": "Returns the org's campaigns, most recently updated first,\noptionally narrowed to one lifecycle status.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status keeps only campaigns in that lifecycle state (draft, scheduled,\nactive, paused, completed). Empty means every campaign.",
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.",
            "schema": {
              "type": "integer"
            },
            "example": 25
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_marketing_campaigns",
        "summary": "Registers a campaign in the caller's org.",
        "description": "Registers a campaign in the caller's org. Name is required;\nchannel defaults to email and status to draft, and a future scheduledAt with\nno explicit status makes the campaign \"scheduled\". Budget and spend are cents\nand are clamped to \u003e= 0. The id, createdAt and updatedAt of the input are\nignored — the server assigns them.",
        "tags": [
          "marketing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "budget": 50000,
                "channel": "meta",
                "name": "Spring Launch",
                "objective": "signups",
                "scheduledAt": 1780000000
              },
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/campaigns/{id}": {
      "delete": {
        "operationId": "delete_v1_marketing_campaigns_id",
        "summary": "Removes one of the caller org's campaigns and answers 204.",
        "description": "Removes one of the caller org's campaigns and answers 204. A\ncampaign belonging to another org reads as not found and is left untouched.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the campaign id from the path, as returned by create.",
            "schema": {
              "type": "string"
            },
            "example": "camp_9f2a1c7d4e8b0a6f3d2c5b1e7a9f4c60"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_marketing_campaigns_id",
        "summary": "Returns one of the caller org's campaigns.",
        "description": "Returns one of the caller org's campaigns. A campaign belonging to\nanother org reads as not found.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the campaign id from the path, as returned by create.",
            "schema": {
              "type": "string"
            },
            "example": "camp_9f2a1c7d4e8b0a6f3d2c5b1e7a9f4c60"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_v1_marketing_campaigns_id",
        "summary": "Replaces a campaign's editable fields.",
        "description": "Replaces a campaign's editable fields. It is a full write, not\na patch: every field takes the value in the body, and an omitted one is\ncleared. The id comes from the path — the body cannot retarget another\ncampaign — and createdAt is never rewritten.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the server-assigned campaign id (\"camp_\" + 128 random bits).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "budget": 50000,
                "channel": "meta",
                "name": "Spring Launch",
                "objective": "signups",
                "spend": 12500,
                "status": "active"
              },
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/campaigns/{id}/schedule": {
      "post": {
        "operationId": "post_v1_marketing_campaigns_id_schedule",
        "summary": "Sets a campaign's send time and moves it to \"scheduled\".",
        "description": "Sets a campaign's send time and moves it to \"scheduled\". A\nscheduledAt of 0 clears the schedule and returns it to \"draft\".",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the campaign id from the path.",
            "schema": {
              "type": "string"
            },
            "example": "camp_9f2a1c7d4e8b0a6f3d2c5b1e7a9f4c60"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "camp_9f2a1c7d4e8b0a6f3d2c5b1e7a9f4c60",
                "scheduledAt": 1780000000
              },
              "schema": {
                "$ref": "#/components/schemas/ScheduleInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/promos": {
      "get": {
        "operationId": "get_v1_marketing_promos",
        "summary": "Returns every promo the deployment offers with its live counters: how many orgs have redeemed it and how many redemptions remain under the cap.",
        "description": "Returns every promo the deployment offers with its live counters:\nhow many orgs have redeemed it and how many redemptions remain under the cap.\nThe promos are fleet-wide, not per-org — only the counters move.",
        "tags": [
          "marketing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "promo": {
                        "active": true,
                        "code": "first1000",
                        "maxRedemptions": 1000,
                        "percentOff": 90
                      },
                      "redeemed": 137,
                      "remaining": 863
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/PromoList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/promos/{code}/eligibility": {
      "get": {
        "operationId": "get_v1_marketing_promos_code_eligibility",
        "summary": "Prices a promo against a plan and seat count.",
        "description": "Prices a promo against a plan and seat count. It is PURE: nothing\nis redeemed, credited or counted, so it is safe to call from a pricing page on\nevery keystroke. An inactive promo or an exhausted cap quotes ineligible with\nthe reason rather than erroring.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Code is the promo code from the path.",
            "schema": {
              "type": "string"
            },
            "example": "first1000"
          },
          {
            "name": "plan",
            "in": "query",
            "required": false,
            "description": "Plan is the plan being priced: pro, max or team. Anything else (including\nthe free Developer plan) has no list price and so nothing to discount.",
            "schema": {
              "type": "string"
            },
            "example": "team"
          },
          {
            "name": "seats",
            "in": "query",
            "required": false,
            "description": "Seats is the Team seat count; 0 means 1, and it is ignored for the\nsingle-seat plans.",
            "schema": {
              "type": "integer"
            },
            "example": 12
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "chargeCents": 418900,
                  "code": "first1000",
                  "discountCents": 179100,
                  "eligible": true,
                  "listCents": 19900,
                  "plan": "team",
                  "remaining": 863,
                  "seats": 12
                },
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/promos/{code}/redeem": {
      "post": {
        "operationId": "post_v1_marketing_promos_code_redeem",
        "summary": "Redeems the promo for the caller's org, crediting the discount value to its wallet through the finance ledger.",
        "description": "Redeems the promo for the caller's org, crediting the discount\nvalue to its wallet through the finance ledger. Three guards run under one\nlock so the cap cannot be raced past: the fleet-wide redemption cap, one\nredemption per org, and one per payment instrument.\n\nIt is IDEMPOTENT: an org that already redeemed gets its original redemption\nback with alreadyRedeemed true and is not credited twice.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Code is the promo code from the path.",
            "schema": {
              "type": "string"
            },
            "example": "first1000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "code": "first1000",
                "instrument": "pm_1QxYz2AbCdEf",
                "plan": "pro",
                "seats": 1
              },
              "schema": {
                "$ref": "#/components/schemas/RedeemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeemResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/promos/{code}/redemption": {
      "get": {
        "operationId": "get_v1_marketing_promos_code_redemption",
        "summary": "Returns the caller org's OWN redemption of a promo — an org-scoped read, so it can never surface another tenant's.",
        "description": "Returns the caller org's OWN redemption of a promo — an\norg-scoped read, so it can never surface another tenant's. Not found when this\norg has not redeemed it.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Code is the promo code from the path, e.g. \"first1000\".",
            "schema": {
              "type": "string"
            },
            "example": "first1000"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Redemption"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/sequences": {
      "get": {
        "operationId": "get_v1_marketing_sequences",
        "summary": "Returns the org's drip sequences, most recently updated first.",
        "description": "Returns the org's drip sequences, most recently updated first.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.",
            "schema": {
              "type": "integer"
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SequenceList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_marketing_sequences",
        "summary": "Registers a drip sequence in the caller's org.",
        "description": "Registers a drip sequence in the caller's org. Name is\nrequired; status defaults to draft, and a sequence must be ACTIVE before it\nwill accept enrollments. The id, createdAt and updatedAt of the input are\nignored — the server assigns them.",
        "tags": [
          "marketing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": "Trial onboarding",
                "status": "draft"
              },
              "schema": {
                "$ref": "#/components/schemas/Sequence"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sequence"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/sequences/{id}": {
      "get": {
        "operationId": "get_v1_marketing_sequences_id",
        "summary": "Returns one of the caller org's sequences together with its steps in send order.",
        "description": "Returns one of the caller org's sequences together with its steps\nin send order. A sequence belonging to another org reads as not found.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the sequence id from the path, as returned by create.",
            "schema": {
              "type": "string"
            },
            "example": "seq_7b3e5a1c9d024f68b0a3e7c5d9f1a248"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SequenceView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/sequences/{id}/enroll": {
      "post": {
        "operationId": "post_v1_marketing_sequences_id_enroll",
        "summary": "Adds one contact or a whole audience to a sequence and schedules the first step for each.",
        "description": "Adds one contact or a whole audience to a sequence and schedules the\nfirst step for each. The sequence must be ACTIVE (a draft sends nothing), and\nthe request must name exactly one of address or audienceId.\n\nEnrolling is ALL this does: the message itself is sent later by the drip\nengine, through the suppression gate, so an opted-out customer can be enrolled\nhere and still never be mailed. Re-posting is safe — an address this sequence\nalready took is counted in alreadyEnrolled and never double-dripped — which is\nwhat makes retrying a partially-applied announcement a resume rather than a\nsecond send.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the sequence id from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "audienceId": "aud_4c1e9b7a2d6f0538e4a7c9b1d3f5027a",
                "channel": "email"
              },
              "schema": {
                "$ref": "#/components/schemas/EnrollInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "alreadyEnrolled": 3,
                  "enrolled": 409,
                  "resolved": 412
                },
                "schema": {
                  "$ref": "#/components/schemas/EnrollResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/sequences/{id}/enrollments": {
      "get": {
        "operationId": "get_v1_marketing_sequences_id_enrollments",
        "summary": "Returns who is walking one sequence, most recently enrolled first, with each walk's current step and next due time.",
        "description": "Returns who is walking one sequence, most recently enrolled\nfirst, with each walk's current step and next due time.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the sequence id from the path.",
            "schema": {
              "type": "string"
            },
            "example": "seq_7b3e5a1c9d024f68b0a3e7c5d9f1a248"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.",
            "schema": {
              "type": "integer"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/sequences/{id}/enrollments/{eid}/cancel": {
      "post": {
        "operationId": "post_v1_marketing_sequences_id_enrollments_eid_cancel",
        "summary": "Stops one walk mid-sequence and answers 204: no further step is sent, and steps already delivered are not recalled.",
        "description": "Stops one walk mid-sequence and answers 204: no further step\nis sent, and steps already delivered are not recalled. Only an ACTIVE\nenrollment can be canceled — one already completed or canceled reads as not\nfound.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the sequence id from the path.",
            "schema": {
              "type": "string"
            },
            "example": "seq_7b3e5a1c9d024f68b0a3e7c5d9f1a248"
          },
          {
            "name": "eid",
            "in": "path",
            "required": true,
            "description": "EID is the enrollment id from the path, as returned by a single-address\nenroll.",
            "schema": {
              "type": "string"
            },
            "example": "enr_2a8d6f0b4c1e9375a0d2f6b8c4e19f73"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/marketing/sequences/{id}/status": {
      "post": {
        "operationId": "post_v1_marketing_sequences_id_status",
        "summary": "Flips draft/active/archived — the activation gate for sending, since only an active sequence accepts enrollments.",
        "description": "Flips draft/active/archived — the activation gate for\nsending, since only an active sequence accepts enrollments. It does not touch\nenrollments already walking: archiving stops new ones, not in-flight ones.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the sequence id from the path.",
            "schema": {
              "type": "string"
            },
            "example": "seq_7b3e5a1c9d024f68b0a3e7c5d9f1a248"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "seq_7b3e5a1c9d024f68b0a3e7c5d9f1a248",
                "status": "active"
              },
              "schema": {
                "$ref": "#/components/schemas/SequenceStatus"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SequenceStatus"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/sequences/{id}/steps": {
      "get": {
        "operationId": "get_v1_marketing_sequences_id_steps",
        "summary": "Returns one sequence's steps in send order.",
        "description": "Returns one sequence's steps in send order.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the sequence id from the path, as returned by create.",
            "schema": {
              "type": "string"
            },
            "example": "seq_7b3e5a1c9d024f68b0a3e7c5d9f1a248"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StepList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_marketing_sequences_id_steps",
        "summary": "Appends a message to the END of a sequence: the new step's idx is one past the last, so steps arrive in the order they are added.",
        "description": "Appends a message to the END of a sequence: the new step's idx is one\npast the last, so steps arrive in the order they are added. Body is required\nand delaySeconds must be \u003e= 0. Adding a step does not disturb enrollments\nalready walking — one that has passed this index simply never sees it.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "SequenceID is the sequence id from the path (the route's :id).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "body": "Here is how to make your first request…",
                "delaySeconds": 86400,
                "subject": "Day 1: your first model call"
              },
              "schema": {
                "$ref": "#/components/schemas/StepInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Step"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/summary": {
      "get": {
        "operationId": "get_v1_marketing_summary",
        "summary": "Rolls up the caller org's campaigns: how many there are, how many are active, and the summed budget and spend in cents.",
        "description": "Rolls up the caller org's campaigns: how many there are, how many are\nactive, and the summed budget and spend in cents.",
        "tags": [
          "marketing"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "active": 3,
                  "budget": 500000,
                  "campaigns": 12,
                  "spend": 128400
                },
                "schema": {
                  "$ref": "#/components/schemas/Summary"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/suppressions": {
      "delete": {
        "operationId": "delete_v1_marketing_suppressions",
        "summary": "Re-subscribes an address on one channel and answers 204.",
        "description": "Re-subscribes an address on one channel and answers 204. An\naddress that is not on the list reads as not found.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "description": "Channel is the surface opted out of: email, sms, social, meta, google or\ntiktok. Empty means email. Opting out of one leaves the others reachable.",
            "schema": {
              "type": "string"
            },
            "example": "email"
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "Address is the recipient, normalized (lower-cased, trimmed) so an opt-out\ncannot be slipped past on a case or whitespace difference. Required.",
            "schema": {
              "type": "string"
            },
            "example": "person@example.com"
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "description": "Reason is a free-text note, capped at 1024 bytes. The public one-click\nendpoint records \"one-click unsubscribe\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdAt",
            "in": "query",
            "required": false,
            "description": "CreatedAt is unix seconds, server-assigned.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_marketing_suppressions",
        "summary": "Returns the org's opt-out list, newest first — everyone the send gate will refuse to deliver to.",
        "description": "Returns the org's opt-out list, newest first — everyone the\nsend gate will refuse to deliver to.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.",
            "schema": {
              "type": "integer"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_marketing_suppressions",
        "summary": "Records an opt-out for the org (admin / self-service management).",
        "description": "Records an opt-out for the org (admin / self-service\nmanagement). Address is required; channel defaults to email. It is idempotent:\nre-suppressing the same tuple keeps the original record rather than erroring.\nFrom here on the ONE send gate refuses that recipient on that channel.",
        "tags": [
          "marketing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "address": "person@example.com",
                "channel": "email",
                "reason": "asked support to stop"
              },
              "schema": {
                "$ref": "#/components/schemas/Suppression"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Suppression"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/marketing/unsubscribe": {
      "get": {
        "operationId": "get_v1_marketing_unsubscribe",
        "summary": "Is the PUBLIC one-click endpoint (no principal): a recipient clicks the signed link in an email footer.",
        "description": "Is the PUBLIC one-click endpoint (no principal): a recipient\nclicks the signed link in an email footer. The token binds (org, channel,\naddress), so a caller can only opt OUT exactly the tuple it was minted for —\nnever another address and never another org. An invalid token is refused, and\na deployment with no KMS-sealed key refuses rather than accepting anything.",
        "tags": [
          "marketing"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org is the org the link was minted for.",
            "schema": {
              "type": "string"
            },
            "example": "acme"
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "description": "Channel is the surface to opt out of.",
            "schema": {
              "type": "string"
            },
            "example": "email"
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "Address is the recipient to opt out.",
            "schema": {
              "type": "string"
            },
            "example": "person@example.com"
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Token is the HMAC over (org, channel, address). It is the ONLY authority\nhere — there is no principal — so it binds the request to one tuple and\nnothing else.",
            "schema": {
              "type": "string"
            },
            "example": "9f2a…"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "address": "person@example.com",
                  "channel": "email",
                  "unsubscribed": true
                },
                "schema": {
                  "$ref": "#/components/schemas/Unsubscribed"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Audience": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt and UpdatedAt are unix seconds, both server-assigned.",
            "type": "integer"
          },
          "event": {
            "description": "Event is the analytics event a member must have fired. EMPTY MEANS NO\nFILTER: the audience is then every mailable customer in the org, and no\nwarehouse is consulted.",
            "type": "string"
          },
          "id": {
            "description": "ID is the server-assigned audience id (\"aud_\" + 128 random bits).",
            "type": "string"
          },
          "name": {
            "description": "Name is the audience's label. Required, trimmed, capped at 1024 bytes.",
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          },
          "windowDays": {
            "description": "WindowDays is how far back the event counts, ending now. 0 means 30 and\nnothing above 3650 is honoured. Ignored when Event is empty.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "AudienceList": {
        "properties": {
          "data": {
            "description": "Data is the page; an empty array when the org has saved no audience.",
            "items": {
              "$ref": "#/components/schemas/Audience"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AudiencePreview": {
        "properties": {
          "available": {
            "description": "Available is false when the roster or the warehouse could not be read; the\ncounts are then zero because nothing was measured, not because the cohort\nis empty, and Reason says which read failed.",
            "type": "boolean"
          },
          "count": {
            "description": "Count is the cohort size: distinct warehouse identifiers for an event\naudience, mailable customers for an event-less (whole-org) one.",
            "type": "integer"
          },
          "deliverable": {
            "description": "Deliverable is how many de-duplicated addresses a send would reach, and\nUnmatched how many cohort identifiers named no customer. Unmatched is\nreported rather than hidden: it is the honest explanation for a cohort of\n500 that mails 3.",
            "type": "integer"
          },
          "reason": {
            "type": "string"
          },
          "sample": {
            "description": "Sample is up to 1000 cohort IDENTIFIERS — never addresses, which product\nanalytics does not hold. Empty for an event-less (whole-org) audience.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "source": {
            "description": "Source names where the cohort was read: the events table for an event\naudience, \"iam:\u003corg\u003e\" for the whole-org one.",
            "type": "string"
          },
          "unmatched": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CalendarPost": {
        "properties": {
          "body": {
            "description": "Body is the post text. Required.",
            "type": "string"
          },
          "channel": {
            "description": "Channel is the target network: x, facebook, instagram, linkedin, tiktok,\nyoutube or threads. Required — a post must name where it goes.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt and UpdatedAt are unix seconds, both server-assigned.",
            "type": "integer"
          },
          "error": {
            "description": "Error is the exact reason the last publish attempt failed — the honest\nrecord behind a \"failed\" status, never a faked success.",
            "type": "string"
          },
          "id": {
            "description": "ID is the server-assigned post id (\"cal_\" + 128 random bits).",
            "type": "string"
          },
          "publishedAt": {
            "description": "PublishedAt is when the publish succeeded; 0 until it does.",
            "type": "integer"
          },
          "scheduledAt": {
            "description": "ScheduledAt is the unix publish time; 0 leaves the post a draft, and any\nvalue makes it \"scheduled\" for the durable sweep to pick up.",
            "type": "integer"
          },
          "status": {
            "description": "Status is draft, scheduled, published, failed or canceled. Server-owned.",
            "type": "string"
          },
          "title": {
            "description": "Title is the post's internal label, capped at 1024 bytes.",
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Campaign": {
        "properties": {
          "budget": {
            "description": "Budget and Spend are minor units (USD cents), clamped to \u003e= 0.",
            "type": "integer"
          },
          "channel": {
            "description": "Channel is the delivery surface: email, sms, social, meta, google or\ntiktok. Empty means email.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt and UpdatedAt are unix seconds, both server-assigned.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the server-assigned campaign id (\"camp_\" + 128 random bits).",
            "type": "string"
          },
          "name": {
            "description": "Name is the campaign's label. Required, trimmed, capped at 1024 bytes.",
            "type": "string"
          },
          "objective": {
            "description": "Objective is the free-text goal (\"signups\"), capped at 1024 bytes.",
            "type": "string"
          },
          "scheduledAt": {
            "description": "ScheduledAt is the unix send time; 0 means unscheduled. Setting it on a\ncampaign with no explicit status makes that status \"scheduled\".",
            "type": "integer"
          },
          "spend": {
            "type": "integer"
          },
          "status": {
            "description": "Status is the lifecycle: draft, scheduled, active, paused or completed.\nEmpty means draft.",
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CampaignList": {
        "properties": {
          "data": {
            "description": "Data is the page; an empty array when the org has no matching campaign.",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "EnrollInput": {
        "properties": {
          "address": {
            "description": "Address is a single recipient, normalized (lower-cased, trimmed) before\nuse. Give this OR audienceId, never both and never neither.",
            "type": "string"
          },
          "audienceId": {
            "description": "AudienceID fans the sequence out over a saved audience, resolved live to\nthe org's mailable customers. Email only.",
            "type": "string"
          },
          "channel": {
            "description": "Channel is the delivery surface; empty means email. An audience resolves\nmailboxes, so an audience enroll must be email.",
            "type": "string"
          },
          "id": {
            "description": "ID is the sequence id from the path.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EnrollResult": {
        "properties": {
          "alreadyEnrolled": {
            "description": "AlreadyEnrolled is how many this sequence had already taken and were left\nalone.",
            "type": "integer"
          },
          "enrolled": {
            "description": "Enrolled is how many started a walk on this call.",
            "type": "integer"
          },
          "enrollmentId": {
            "description": "EnrollmentID names the walk, and is present ONLY for a single-address\nenroll — a fan-out has many, and reporting one of them would be a lie.",
            "type": "string"
          },
          "resolved": {
            "description": "Resolved is how many addresses the request named — 1 for an address, the\naudience's deliverable count for an audience.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Enrollment": {
        "properties": {
          "address": {
            "description": "Address is the normalized (lower-cased, trimmed) recipient.",
            "type": "string"
          },
          "channel": {
            "description": "Channel is the delivery surface the steps go out on.",
            "type": "string"
          },
          "currentStep": {
            "description": "CurrentStep is the index of the step that sends next.",
            "type": "integer"
          },
          "enrolledAt": {
            "description": "EnrolledAt and UpdatedAt are unix seconds.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the server-assigned enrollment id (\"enr_\" + 128 random bits).",
            "type": "string"
          },
          "nextRunAt": {
            "description": "NextRunAt is the unix time the current step comes due; 0 once the walk has\nended. It IS the schedule — durable in SQLite, so it survives restarts.",
            "type": "integer"
          },
          "sequenceId": {
            "description": "SequenceID is the sequence being walked.",
            "type": "string"
          },
          "status": {
            "description": "Status is active, completed or canceled.",
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "EnrollmentList": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Enrollment"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PostList": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/CalendarPost"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Promo": {
        "properties": {
          "active": {
            "description": "Active is false for a promo that is no longer offered; an inactive promo\nquotes as ineligible and refuses to redeem.",
            "type": "boolean"
          },
          "code": {
            "description": "Code is the promo id, e.g. \"first1000\".",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is unix seconds.",
            "type": "integer"
          },
          "description": {
            "description": "Description is the human-readable offer.",
            "type": "string"
          },
          "maxRedemptions": {
            "description": "MaxRedemptions is the hard fleet-wide cap; the redemption past it is\ndeclined.",
            "type": "integer"
          },
          "percentOff": {
            "description": "PercentOff is the discount applied to ONE month's list price.",
            "type": "integer"
          },
          "plans": {
            "description": "Plans is the csv of eligible plan ids (\"pro,max,team\").",
            "type": "string"
          },
          "teamSeatCap": {
            "description": "TeamSeatCap is how many Team seats bill at the promo rate; seats beyond it\nbill at list.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "PromoList": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/PromoStatus"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PromoStatus": {
        "properties": {
          "promo": {
            "$ref": "#/components/schemas/Promo"
          },
          "redeemed": {
            "description": "Redeemed is how many orgs have taken it, Remaining how many are left under\nthe fleet-wide cap.",
            "type": "integer"
          },
          "remaining": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Quote": {
        "properties": {
          "chargeCents": {
            "type": "integer"
          },
          "code": {
            "description": "Code, Plan and Seats echo what was quoted.",
            "type": "string"
          },
          "discountCents": {
            "type": "integer"
          },
          "eligible": {
            "description": "Eligible says whether a redeem would be accepted right now; Reason says\nwhy not when it would not.",
            "type": "boolean"
          },
          "listCents": {
            "description": "ListCents is the undiscounted month price, ChargeCents what would be\ncharged, DiscountCents the difference — all in USD cents.",
            "type": "integer"
          },
          "plan": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "remaining": {
            "description": "Remaining is how many redemptions are left under the fleet-wide cap.",
            "type": "integer"
          },
          "seats": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "RedeemInput": {
        "properties": {
          "code": {
            "description": "Code is the promo code from the path.",
            "type": "string"
          },
          "instrument": {
            "description": "Instrument identifies the payment method. It is the anti-farming key: one\nredemption per instrument, fleet-wide.",
            "type": "string"
          },
          "plan": {
            "description": "Plan is the plan being redeemed against: pro, max or team.",
            "type": "string"
          },
          "seats": {
            "description": "Seats is the Team seat count; 0 means 1. Seats beyond the promo's\nteamSeatCap bill at list.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "RedeemResult": {
        "properties": {
          "alreadyRedeemed": {
            "description": "AlreadyRedeemed is true when this org had already taken the promo and the\ncall was an idempotent replay — nothing was credited a second time.",
            "type": "boolean"
          },
          "chargeCents": {
            "description": "ChargeCents is what month one costs after the discount, DiscountCents the\ncredit that produced it.",
            "type": "integer"
          },
          "discountCents": {
            "type": "integer"
          },
          "redemption": {
            "$ref": "#/components/schemas/Redemption"
          }
        },
        "type": "object"
      },
      "Redemption": {
        "properties": {
          "code": {
            "description": "Code is the promo redeemed.",
            "type": "string"
          },
          "creditCents": {
            "description": "CreditCents is the discount value credited to the org's wallet — the promo\nis realized as a NON-CASH credit, not a subscription coupon.",
            "type": "integer"
          },
          "creditEntryId": {
            "description": "CreditEntryID is the finance ledger entry that credit landed in.",
            "type": "string"
          },
          "plan": {
            "description": "Plan and Seats are what was redeemed against.",
            "type": "string"
          },
          "redeemedAt": {
            "description": "RedeemedAt is unix seconds.",
            "type": "integer"
          },
          "seats": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ScheduleInput": {
        "properties": {
          "id": {
            "description": "ID is the campaign id from the path.",
            "type": "string"
          },
          "scheduledAt": {
            "description": "ScheduledAt is the unix send time. 0 clears the schedule.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Sequence": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt and UpdatedAt are unix seconds, both server-assigned.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the server-assigned sequence id (\"seq_\" + 128 random bits).",
            "type": "string"
          },
          "name": {
            "description": "Name is the sequence's label. Required, trimmed, capped at 1024 bytes.",
            "type": "string"
          },
          "status": {
            "description": "Status is the lifecycle: draft, active or archived. Empty means draft, and\nONLY an active sequence accepts enrollments.",
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "SequenceList": {
        "properties": {
          "data": {
            "description": "Data is the page; an empty array when the org has no sequence.",
            "items": {
              "$ref": "#/components/schemas/Sequence"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SequenceStatus": {
        "properties": {
          "id": {
            "description": "ID is the sequence id from the path.",
            "type": "string"
          },
          "status": {
            "description": "Status is draft, active or archived. Required; there is no default here,\nunlike on create. Only an active sequence accepts enrollments.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SequenceView": {
        "properties": {
          "sequence": {
            "$ref": "#/components/schemas/Sequence"
          },
          "steps": {
            "description": "Steps are in send order (idx ascending); empty for a sequence with no\nmessages yet, which enrolls fine and completes immediately.",
            "items": {
              "$ref": "#/components/schemas/Step"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Step": {
        "properties": {
          "body": {
            "description": "Body is the message text. Required. The signed one-click unsubscribe link\nis appended to it at send time.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is unix seconds, server-assigned.",
            "type": "integer"
          },
          "delaySeconds": {
            "description": "DelaySeconds is how long after the previous step this one sends (after\nenrollment, for step 0).",
            "type": "integer"
          },
          "id": {
            "description": "ID is the server-assigned step id (\"step_\" + 128 random bits).",
            "type": "string"
          },
          "idx": {
            "description": "Idx is the step's 0-based position, assigned by appending: a new step\nalways lands after the last one.",
            "type": "integer"
          },
          "sequenceId": {
            "description": "SequenceID is the sequence this step belongs to.",
            "type": "string"
          },
          "subject": {
            "description": "Subject is the email subject line, capped at 1024 bytes.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "StepInput": {
        "properties": {
          "body": {
            "description": "Body is the message text. Required.",
            "type": "string"
          },
          "delaySeconds": {
            "description": "DelaySeconds is how long after the previous step this one sends (after\nenrollment, for the first step). Must be \u003e= 0.",
            "type": "integer"
          },
          "id": {
            "description": "SequenceID is the sequence id from the path (the route's :id).",
            "type": "string"
          },
          "subject": {
            "description": "Subject is the email subject line, capped at 1024 bytes.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "StepList": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Step"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Summary": {
        "properties": {
          "active": {
            "type": "integer"
          },
          "budget": {
            "description": "Budget and Spend are the summed campaign budget and spend, in cents.",
            "type": "integer"
          },
          "campaigns": {
            "description": "Campaigns is how many campaigns the org has, Active how many are running.",
            "type": "integer"
          },
          "spend": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Suppression": {
        "properties": {
          "address": {
            "description": "Address is the recipient, normalized (lower-cased, trimmed) so an opt-out\ncannot be slipped past on a case or whitespace difference. Required.",
            "type": "string"
          },
          "channel": {
            "description": "Channel is the surface opted out of: email, sms, social, meta, google or\ntiktok. Empty means email. Opting out of one leaves the others reachable.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is unix seconds, server-assigned.",
            "type": "integer"
          },
          "reason": {
            "description": "Reason is a free-text note, capped at 1024 bytes. The public one-click\nendpoint records \"one-click unsubscribe\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SuppressionList": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Suppression"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Unsubscribed": {
        "properties": {
          "address": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "unsubscribed": {
            "type": "boolean"
          }
        },
        "type": "object"
      }
    }
  }
}
