{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package x402 is pay-per-request over HTTP 402: quote a price, take the payment, serve the resource.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "x402"
    }
  ],
  "paths": {
    "/v1/x402/settlements/{id}": {
      "get": {
        "operationId": "get_x402_settlements_by_id",
        "summary": "Settlement reads one x402 payment receipt by id.",
        "description": "Settlement reads one x402 payment receipt by id.\n\nIt is scoped to the caller's PAYER org — the ledger that was debited — so one\ntenant can never read another's settlement, and an id that exists but belongs\nto somebody else is a 404 exactly like one that does not exist. A caller with\nno billable identity is refused outright.",
        "tags": [
          "x402"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the settlement id from the URL — the deterministic keccak(from|nonce)\nkey an x402 receipt is issued under (the `id` field of a Receipt, and the\n`transaction` of the SettlementResponse on the PAYMENT-RESPONSE header a paid\nrequest answers with).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Receipt"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "Receipt": {
        "properties": {
          "amount": {
            "description": "exact 18-dp USD (money.Amount string)",
            "type": "string"
          },
          "from": {
            "description": "payer address",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "payee": {
            "description": "recipient address",
            "type": "string"
          },
          "payeeOrg": {
            "type": "string"
          },
          "payer": {
            "description": "payer ORG (the debited ledger)",
            "type": "string"
          },
          "resource": {
            "type": "string"
          },
          "settledAt": {
            "type": "integer"
          },
          "settledVia": {
            "description": "\"ledger\" (live) | \"chain\" (seam)",
            "type": "string"
          },
          "txHash": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
