{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package x402 is the Hanzo Cloud native x402 pay-per-use subsystem (HTTP 402): challenge → the client pays → proof submitted → verify → serve → settle.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "x402"
    }
  ],
  "paths": {
    "/v1/x402/settlements/{id}": {
      "get": {
        "operationId": "get_v1_x402_settlements_id",
        "summary": "Settlement reads one x402 payment receipt by id.",
        "description": "Settlement reads one x402 payment receipt by id.\n\nIt is scoped to the caller's PAYER org — the ledger that was debited — so one\ntenant can never read another's settlement, and an id that exists but belongs\nto somebody else is a 404 exactly like one that does not exist. A caller with\nno billable identity is refused outright.",
        "tags": [
          "x402"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the settlement id from the URL — the deterministic keccak(from|nonce)\nkey an x402 receipt is issued under (the `id` field of a Receipt, and the\nvalue of the X-Payment-Response header a paid request answers with).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Receipt"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Receipt": {
        "properties": {
          "amount": {
            "description": "exact 18-dp USD (money.Amount string)",
            "type": "string"
          },
          "from": {
            "description": "payer address",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "payee": {
            "description": "recipient address",
            "type": "string"
          },
          "payeeOrg": {
            "type": "string"
          },
          "payer": {
            "description": "payer ORG (the debited ledger)",
            "type": "string"
          },
          "resource": {
            "type": "string"
          },
          "settledAt": {
            "type": "integer"
          },
          "settledVia": {
            "description": "\"ledger\" (live) | \"chain\" (seam)",
            "type": "string"
          },
          "txHash": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
