{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "legal"
    }
  ],
  "paths": {
    "/v1/legal/documents": {
      "get": {
        "operationId": "get_v1_legal_documents",
        "summary": "ListLegalDocuments returns the org's generated documents, newest first, WITHOUT their rendered content — fetch one document to read its body.",
        "description": "ListLegalDocuments returns the org's generated documents, newest first, WITHOUT\ntheir rendered content — fetch one document to read its body.\n\nThe response is marked no-store: these records name the counterparties an org is\ncontracting with, and must not sit in a shared cache.",
        "tags": [
          "legal"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds the page. Absent or unparseable means the store's own default.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentPage"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_legal_documents",
        "summary": "GenerateLegalDocument renders a document from a template and the caller's own merge data, seals it in the org's store, and returns it with its rendered body.",
        "description": "GenerateLegalDocument renders a document from a template and the caller's own\nmerge data, seals it in the org's store, and returns it with its rendered body.\n\nThe render is PURE and deterministic — no clock, no I/O — so the same template\nversion and the same data always produce identical bytes, which is what makes a\ngenerated contract reproducible. It fails CLOSED on a missing merge field: there\nis no blank-filled contract, only a 400 naming the fields that were absent. When\nthe template is counsel-review the rendered body opens with the counsel notice,\nwhich no caller can suppress.\n\nThe document is a DRAFT. Hanzo Legal manages documents; it does not give legal\nadvice and does not determine that a document is valid or sufficient.",
        "tags": [
          "legal"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "data": {
                  "counterparty": "Acme, Inc.",
                  "date": "2026-07-30"
                },
                "templateId": "nda"
              },
              "schema": {
                "$ref": "#/components/schemas/generateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentReply"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/legal/documents/{id}": {
      "get": {
        "operationId": "get_v1_legal_documents_id",
        "summary": "GetLegalDocument returns one of the org's documents WITH its rendered body.",
        "description": "GetLegalDocument returns one of the org's documents WITH its rendered body. 404\nwhen the org has no document with that id — a document is never readable across\norgs.\n\nThe response is marked no-store: the body is contract text, sealed at rest and\nreturned only to the owning org, and must not sit in a shared cache.",
        "tags": [
          "legal"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the document's server-minted handle, \"doc_\"-prefixed.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentReply"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/legal/documents/{id}/sign": {
      "post": {
        "operationId": "post_v1_legal_documents_id_sign",
        "summary": "RequestLegalSignature opens an e-signature request over one document and moves it to out_for_signature, returning the provider's reference for the request.",
        "description": "RequestLegalSignature opens an e-signature request over one document and moves it\nto out_for_signature, returning the provider's reference for the request.\n\nThe provider is whatever this deployment has wired. The honest default is\n\"manual\": the request is recorded and the org fulfils it out of band — nothing\nhere fabricates a signature, and the stub never reports itself complete.",
        "tags": [
          "legal"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the document to send for signature, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "doc_1f…"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "doc_1f…",
                "signers": [
                  {
                    "email": "ada@acme.com",
                    "name": "Ada"
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/signRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/signReply"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/legal/documents/{id}/sign/complete": {
      "post": {
        "operationId": "post_v1_legal_documents_by_id_sign_complete",
        "tags": [
          "legal"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/legal/filings": {
      "get": {
        "operationId": "get_v1_legal_filings",
        "summary": "ListLegalFilings returns the org's filing records, newest first — which documents were filed where, through which provider, and what the filing's honest status is.",
        "description": "ListLegalFilings returns the org's filing records, newest first — which documents\nwere filed where, through which provider, and what the filing's honest status is.",
        "tags": [
          "legal"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds the page. Absent or unparseable means the store's own default.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/filingPage"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_legal_filings",
        "summary": "CreateLegalFiling records a filing of one or more of the org's documents with a state or agency, and returns the tracking record.",
        "description": "CreateLegalFiling records a filing of one or more of the org's documents with a\nstate or agency, and returns the tracking record.\n\nIt is a TRACKING record, not an autonomous filing. With no filing partner wired\nthe honest status is \"manual\" and the note says so: the documents were generated\nfor signature, and the org files them through its registered agent. Nothing here\ninvents a filing id it does not have.\n\nEvery document id must belong to the caller's org; one that does not is a 404\nnaming it, so a filing can never reach across tenants.",
        "tags": [
          "legal"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "documentIds": [
                  "doc_1f…"
                ],
                "jurisdiction": "DE"
              },
              "schema": {
                "$ref": "#/components/schemas/filingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/filingReply"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/legal/health": {
      "get": {
        "operationId": "get_v1_legal_health",
        "summary": "LegalHealth reports that the legal subsystem is serving and how many built-in templates its catalog carries.",
        "description": "LegalHealth reports that the legal subsystem is serving and how many built-in\ntemplates its catalog carries. It reads no tenant, so a liveness prober that\nsends no principal is answered rather than refused.",
        "tags": [
          "legal"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/legalHealth"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/legal/templates": {
      "get": {
        "operationId": "get_v1_legal_templates",
        "summary": "ListLegalTemplates returns the org's effective template catalog: every built-in template, with any the org has overridden replaced by its own latest version.",
        "description": "ListLegalTemplates returns the org's effective template catalog: every built-in\ntemplate, with any the org has overridden replaced by its own latest version.\n\nThe listing carries each template's metadata and its declared MERGE FIELDS — the\nkeys a document generation must supply — but never the template bodies; fetch one\ntemplate to get its body. Templates in the formation and equity categories are\nmarked counselReview: every document rendered from them carries a counsel notice,\nand that posture cannot be dropped by an override.",
        "tags": [
          "legal"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/templateCatalog"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/legal/templates/{id}": {
      "get": {
        "operationId": "get_v1_legal_templates_id",
        "summary": "GetLegalTemplate returns one template resolved for the caller's org — the org's own override if it has saved one, else the built-in — with its full text/template body and its declared merge fields.",
        "description": "GetLegalTemplate returns one template resolved for the caller's org — the org's\nown override if it has saved one, else the built-in — with its full text/template\nbody and its declared merge fields. 404 when neither exists.",
        "tags": [
          "legal"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the template's stable id, e.g. \"nda\" or \"safe\".",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/templateReply"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_v1_legal_templates_id",
        "summary": "SaveLegalTemplateOverride saves the org's own version of a template — a custom NDA, a house MSA — and returns it with its new version number.",
        "description": "SaveLegalTemplateOverride saves the org's own version of a template — a custom\nNDA, a house MSA — and returns it with its new version number. It takes effect\nfor that org only; other orgs keep the built-in.\n\nTwo boundaries cannot be crossed here. Overriding a built-in INHERITS its\ncategory and its counsel-review posture, which can be raised but never dropped;\nand a formation or equity template is counsel-review whatever the caller sends,\nso no org can generate a securities-class document without the notice.\n\nThe body is validated on save, not at generation: a template that references an\nUNDECLARED merge field is refused with 400 rather than stored and rendered blank\ninto a contract months later.",
        "tags": [
          "legal"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the template to override, from the path. Overriding a built-in id\ninherits that built-in's category, title and counsel-review posture.",
            "schema": {
              "type": "string"
            },
            "example": "nda"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "body": "…{{.counterparty}}…",
                "fields": [
                  {
                    "key": "counterparty",
                    "label": "Counterparty"
                  }
                ],
                "id": "nda",
                "title": "Acme Mutual NDA"
              },
              "schema": {
                "$ref": "#/components/schemas/templateOverride"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/templateReply"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Field": {
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "documentPage": {
        "properties": {
          "data": {
            "description": "Data are the documents, WITHOUT their rendered content — fetch one to read it.",
            "items": {
              "$ref": "#/components/schemas/documentSummary"
            },
            "type": "array"
          },
          "disclaimer": {
            "description": "Disclaimer is the boundary made visible on the wire.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "documentReply": {
        "properties": {
          "disclaimer": {
            "description": "Disclaimer is the boundary made visible on the wire.",
            "type": "string"
          },
          "document": {
            "$ref": "#/components/schemas/documentView",
            "description": "Document is the document, rendered content included."
          }
        },
        "type": "object"
      },
      "documentSummary": {
        "properties": {
          "category": {
            "description": "Category is the template's category: formation, equity, ops or sales.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the document was generated, in unix seconds.",
            "type": "integer"
          },
          "esignProvider": {
            "description": "EsignProvider names the e-signature provider handling it, absent until a\nsignature has been requested.",
            "type": "string"
          },
          "id": {
            "description": "ID is the document's server-minted handle, \"doc_\"-prefixed.",
            "type": "string"
          },
          "signedAt": {
            "description": "SignedAt is when the provider reported completion, in unix seconds. Absent\nuntil then.",
            "type": "integer"
          },
          "status": {
            "description": "Status is the lifecycle state: draft, out_for_signature, signed or voided.\nThere is deliberately no \"legally valid\" state — that is counsel's\ndetermination, not the platform's.",
            "type": "string"
          },
          "templateId": {
            "description": "TemplateID is the template it was rendered from.",
            "type": "string"
          },
          "templateVersion": {
            "description": "TemplateVersion is WHICH version of that template rendered it, so the\ndocument is reproducible and auditable.",
            "type": "integer"
          },
          "title": {
            "description": "Title is the document's title, inherited from the template.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when it last changed, in unix seconds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "documentView": {
        "properties": {
          "body": {
            "description": "Body is the rendered document. It is sealed at rest and returned only to the\nowning org. When the template is counsel-review it opens with the counsel\nnotice, which the engine prepends and no caller can suppress.",
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "contentType": {
            "description": "ContentType is the rendered body's media type — text/markdown.",
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "esignProvider": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "signedAt": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "templateId": {
            "type": "string"
          },
          "templateVersion": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "filingPage": {
        "properties": {
          "data": {
            "description": "Data are the filing records.",
            "items": {
              "$ref": "#/components/schemas/legalFiling"
            },
            "type": "array"
          },
          "disclaimer": {
            "description": "Disclaimer is the boundary made visible on the wire.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "filingReply": {
        "properties": {
          "disclaimer": {
            "description": "Disclaimer is the boundary made visible on the wire.",
            "type": "string"
          },
          "filing": {
            "$ref": "#/components/schemas/legalFiling",
            "description": "Filing is the tracking record."
          }
        },
        "type": "object"
      },
      "filingRequest": {
        "properties": {
          "documentIds": {
            "description": "DocumentIDs are the documents to file. At least one is required, and every\none must belong to the caller's org — a filing can never reach across orgs.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "jurisdiction": {
            "description": "Jurisdiction is the state or agency the filing is for, e.g. \"DE\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "generateRequest": {
        "properties": {
          "data": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Data supplies every merge field the template declares, keyed by field key.\nEvery declared field is REQUIRED: a missing one is refused with 400 rather\nthan rendered as a blank into a contract.",
            "type": "object"
          },
          "templateId": {
            "description": "TemplateID is the template to render. Required; resolved for the caller's\norg, so an override wins over the built-in.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "legalFiling": {
        "properties": {
          "createdAt": {
            "type": "integer"
          },
          "documentIds": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          },
          "jurisdiction": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "legalHealth": {
        "properties": {
          "status": {
            "description": "Status is \"ok\" when the subsystem is serving.",
            "type": "string"
          },
          "templates": {
            "description": "Templates is how many built-in templates the catalog carries.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "legalSigner": {
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "legalTemplate": {
        "properties": {
          "body": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "counselReview": {
            "type": "boolean"
          },
          "fields": {
            "items": {
              "$ref": "#/components/schemas/Field"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          },
          "origin": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "signReply": {
        "properties": {
          "document": {
            "$ref": "#/components/schemas/documentSummary",
            "description": "Document is the document, now out for signature. Its rendered body is not\nrepeated here."
          },
          "esignRef": {
            "description": "EsignRef is the provider's own reference for the request — what a webhook or\na status poll quotes.",
            "type": "string"
          },
          "provider": {
            "description": "Provider names the e-signature provider that took the request. \"manual\" means\nno provider is wired on this deployment and the org fulfils it out of band.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "signRequest": {
        "properties": {
          "id": {
            "description": "ID is the document to send for signature, from the path.",
            "type": "string"
          },
          "signers": {
            "description": "Signers are the people who must sign, by name and email. At least one is\nrequired.",
            "items": {
              "$ref": "#/components/schemas/legalSigner"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "templateCatalog": {
        "properties": {
          "data": {
            "description": "Data is the catalog, metadata and merge fields only — never the template\nbodies, which are fetched one at a time.",
            "items": {
              "$ref": "#/components/schemas/templateView"
            },
            "type": "array"
          },
          "disclaimer": {
            "description": "Disclaimer is the boundary made visible on the wire: Hanzo Legal is document\ntooling, not legal advice.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "templateOverride": {
        "properties": {
          "body": {
            "description": "Body is the text/template source. Required. Every {{.key}} it references must\nbe declared in Fields, or the save is refused rather than rendering a blank\ninto a contract later.",
            "type": "string"
          },
          "category": {
            "description": "Category groups the template: formation, equity, ops or sales. Optional when\noverriding a built-in, which supplies its own.",
            "type": "string"
          },
          "counselReview": {
            "description": "CounselReview marks a template whose documents must carry the counsel notice.\nIt can be raised but never lowered: a formation or equity template is always\ncounsel-review, and an override of a counsel-review built-in stays one.",
            "type": "boolean"
          },
          "fields": {
            "description": "Fields declares the merge fields the body consumes. Every declared field is\nREQUIRED at generation — the engine fails closed on a missing one.",
            "items": {
              "$ref": "#/components/schemas/Field"
            },
            "type": "array"
          },
          "id": {
            "description": "ID is the template to override, from the path. Overriding a built-in id\ninherits that built-in's category, title and counsel-review posture.",
            "type": "string"
          },
          "title": {
            "description": "Title is the template's display name. Required unless a built-in supplies it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "templateReply": {
        "properties": {
          "disclaimer": {
            "description": "Disclaimer is the boundary made visible on the wire.",
            "type": "string"
          },
          "template": {
            "$ref": "#/components/schemas/legalTemplate",
            "description": "Template is the resolved template — the org's override if it has one, else\nthe built-in."
          }
        },
        "type": "object"
      },
      "templateView": {
        "properties": {
          "category": {
            "type": "string"
          },
          "counselReview": {
            "type": "boolean"
          },
          "fields": {
            "items": {
              "$ref": "#/components/schemas/Field"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          },
          "origin": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}
