{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "analytics"
    },
    {
      "name": "errors"
    },
    {
      "name": "event"
    },
    {
      "name": "insights"
    },
    {
      "name": "tracker"
    }
  ],
  "paths": {
    "/v1/analytics": {
      "post": {
        "operationId": "post_v1_analytics",
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/batch": {
      "post": {
        "operationId": "post_v1_analytics_batch",
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/health": {
      "get": {
        "operationId": "get_v1_analytics_health",
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/overview": {
      "get": {
        "operationId": "get_v1_analytics_overview",
        "summary": "Overview returns the caller org's analytics KPIs for one time window.",
        "description": "Overview returns the caller org's analytics KPIs for one time window. Three lenses\nover one warehouse: llm is the live per-org LLM usage ledger (requests, tokens,\nspend, models, providers, errors) and is always real; web (pageviews, visitors,\nsessions) and commerce (orders, revenue, AOV) read the product-event table and\nreport available=false rather than fabricating zeros when it holds nothing yet.\n\nThe org is the validated principal's — never a parameter — so a caller can only\never read its own tenant. 403 without a validated bearer, 400 on an unknown range,\n503 when the warehouse is unreachable.",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is a relative window: 24h, 7d or 30d. Default 24h. Ignored when both\nstart and end are given. An unknown value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "7d"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start is the inclusive lower bound of a custom window, RFC3339. Requires end.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End is the exclusive upper bound of a custom window, RFC3339. Requires start.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Overview"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/analytics/timeseries": {
      "get": {
        "operationId": "get_v1_analytics_timeseries",
        "summary": "Timeseries returns the caller org's LLM usage over time as an evenly-spaced series.",
        "description": "Timeseries returns the caller org's LLM usage over time as an evenly-spaced series.\nOne point per hour or per day — the bucket the window implies, 24h giving hours and\n7d/30d giving days — carrying requests, total tokens and spend in cents. Empty\nbuckets are filled with zeros so a client charts a continuous line.\n\nThe org is the validated principal's — never a parameter. 403 without a validated\nbearer, 400 on an unknown range, 503 when the warehouse is unreachable.",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is a relative window: 24h, 7d or 30d. Default 24h. Ignored when both\nstart and end are given. An unknown value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "30d"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start is the inclusive lower bound of a custom window, RFC3339. Requires end.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End is the exclusive upper bound of a custom window, RFC3339. Requires start.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeseries"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/analytics/top": {
      "get": {
        "operationId": "get_v1_analytics_top",
        "summary": "Top returns the caller org's ranked lenses for one window, five of them at once.",
        "description": "Top returns the caller org's ranked lenses for one window, five of them at once.\nmodels ranks LLM models by spend and is always real; products ranks commerce orders\nby revenue; topPages ranks requested paths, topReferrers the external referrer\ndomains (\"(direct)\" for a missing or same-origin one) and topSources the utm_source\ncampaigns (\"(none)\" when absent), each by pageviews. Every lens carries each row's\nshare of the in-window total, so a top-N honestly shows the long tail.\n\nThe four event lenses report available=false rather than fabricating zeros when the\nproduct-event table holds nothing yet. The org is the validated principal's — never\na parameter. 403 without a validated bearer, 400 on an unknown range, 503 when the\nwarehouse is unreachable.",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is a relative window: 24h, 7d or 30d. Default 24h. Ignored when both\nstart and end are given. An unknown value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "7d"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start is the inclusive lower bound of a custom window, RFC3339. Requires end.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End is the exclusive upper bound of a custom window, RFC3339. Requires start.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds every ranked lens in the response. Default 10, maximum 100; a\nvalue at or below zero, or one that is not a number, takes the default.",
            "schema": {
              "type": "integer"
            },
            "example": 25
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Top"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/errors": {
      "get": {
        "operationId": "get_v1_errors",
        "summary": "Errors returns the caller org's most recently captured errors, newest first.",
        "description": "Errors returns the caller org's most recently captured errors, newest first. The\nerror-tracking read view over the same table the capture doors write: only rows\nstored as type 'error', each with its captured exception lifted out of the property\nbag as a first-class field.\n\nThe org is the validated principal's — never a parameter — and this read requires a\nreal bearer, NEVER the write-only publishable key: pk- can attribute a write and can\nread nothing. 403 without a validated bearer, 503 when the warehouse is unreachable.",
        "tags": [
          "errors"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit is how many rows to return, newest first. Default 50, maximum 200; a\nvalue at or below zero, or one that is not a number, takes the default.",
            "schema": {
              "type": "integer"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/event": {
      "post": {
        "operationId": "post_v1_event",
        "tags": [
          "event"
        ]
      }
    },
    "/v1/event/{project}/envelope": {
      "post": {
        "operationId": "post_v1_event_by_project_envelope",
        "tags": [
          "event"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/event/{project}/store": {
      "post": {
        "operationId": "post_v1_event_by_project_store",
        "tags": [
          "event"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/insights/e": {
      "post": {
        "operationId": "post_v1_insights_e",
        "tags": [
          "insights"
        ]
      }
    },
    "/v1/insights/events": {
      "get": {
        "operationId": "get_v1_insights_events",
        "summary": "InsightsEvents returns the caller org's most recent product events, newest first.",
        "description": "InsightsEvents returns the caller org's most recent product events, newest first.\nThe console's raw-event view over the same table the capture doors write: one row\nper stored event, with the caller's own property bag returned verbatim.\n\nThe org is the validated principal's — never a parameter — and a read requires a\nreal bearer, never the write-only publishable key. 403 without a validated bearer,\n503 when the warehouse is unreachable.",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit is how many rows to return, newest first. Default 50, maximum 200; a\nvalue at or below zero, or one that is not a number, takes the default.",
            "schema": {
              "type": "integer"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/insights/health": {
      "get": {
        "operationId": "get_v1_insights_health",
        "summary": "InsightsHealth reports that the unified insights surface is serving.",
        "description": "InsightsHealth reports that the unified insights surface is serving. It reads no\ntenant data and consults no dependency, so it answers 200 unconditionally and needs\nno principal — liveness must be probe-able. The warehouse-connectivity probe is a\ndifferent question and lives at GET /v1/analytics/health.",
        "tags": [
          "insights"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/insightsStatus"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/tracker": {
      "post": {
        "operationId": "post_v1_tracker",
        "tags": [
          "tracker"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Breakdown": {
        "properties": {
          "available": {
            "description": "Available is false when the product-event table could not be read.",
            "type": "boolean"
          },
          "items": {
            "description": "Items is the ranked buckets, most pageviews first. Empty rather than absent.",
            "items": {
              "$ref": "#/components/schemas/BreakdownRow"
            },
            "type": "array"
          },
          "reason": {
            "description": "Reason says why the lens is unavailable. Omitted when it is available.",
            "type": "string"
          },
          "source": {
            "description": "Source is the warehouse table the lens read.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BreakdownRow": {
        "properties": {
          "key": {
            "description": "Key is the bucket: a requested path, a referrer domain (\"(direct)\" for none or\na same-origin one), or a utm_source (\"(none)\" when absent).",
            "type": "string"
          },
          "pageviews": {
            "description": "Pageviews is how many $pageview events fell in this bucket.",
            "type": "integer"
          },
          "pct": {
            "description": "Pct is this bucket's share of ALL in-window pageviews, 0..100, one decimal —\nnot of the returned rows, so a top-N shows the long tail honestly.",
            "type": "number"
          },
          "visitors": {
            "description": "Visitors is how many distinct people they came from.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CommerceOverview": {
        "properties": {
          "aov": {
            "description": "AOV is average order value — Revenue/Orders, rounded to two places. Zero when\nthere were no orders.",
            "type": "number"
          },
          "available": {
            "description": "Available is false when the product-event table could not be read — the lens is\nreported missing rather than as zeros that look like no sales.",
            "type": "boolean"
          },
          "orders": {
            "description": "Orders is how many order_completed events landed in the window.",
            "type": "integer"
          },
          "reason": {
            "description": "Reason says why the lens is unavailable. Omitted when it is available.",
            "type": "string"
          },
          "revenue": {
            "description": "Revenue is the total those orders carried, in the events' own currency unit.",
            "type": "number"
          },
          "source": {
            "description": "Source is the warehouse table the lens read.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "LLMOverview": {
        "properties": {
          "available": {
            "description": "Available is true whenever the ledger answered — including with no usage in the\nwindow, which is honest zeros rather than a missing lens.",
            "type": "boolean"
          },
          "completionTokens": {
            "description": "CompletionTokens is the output half of Tokens.",
            "type": "integer"
          },
          "errorRate": {
            "description": "ErrorRate is Errors/Requests, 0..1, rounded to three places. Zero when there\nwere no requests.",
            "type": "number"
          },
          "errors": {
            "description": "Errors is how many of Requests failed.",
            "type": "integer"
          },
          "models": {
            "description": "Models is how many distinct models the org called.",
            "type": "integer"
          },
          "promptTokens": {
            "description": "PromptTokens is the input half of Tokens.",
            "type": "integer"
          },
          "providers": {
            "description": "Providers is how many distinct providers served them.",
            "type": "integer"
          },
          "requests": {
            "description": "Requests is how many LLM calls the org made in the window.",
            "type": "integer"
          },
          "source": {
            "description": "Source is the warehouse table the lens read.",
            "type": "string"
          },
          "spendCents": {
            "description": "SpendCents is what those calls cost, in cents.",
            "type": "integer"
          },
          "tokens": {
            "description": "Tokens is prompt plus completion tokens over those calls.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ModelRow": {
        "properties": {
          "model": {
            "description": "Model is the model id, e.g. claude-opus-4.",
            "type": "string"
          },
          "pct": {
            "description": "Pct is this model's share of the window's returned spend, 0..100, one decimal.",
            "type": "number"
          },
          "provider": {
            "description": "Provider is who served it.",
            "type": "string"
          },
          "requests": {
            "description": "Requests is how many calls went to this model.",
            "type": "integer"
          },
          "spendCents": {
            "description": "SpendCents is what they cost, in cents.",
            "type": "integer"
          },
          "tokens": {
            "description": "Tokens is prompt plus completion tokens over those calls.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Overview": {
        "properties": {
          "commerce": {
            "$ref": "#/components/schemas/CommerceOverview",
            "description": "Commerce is the orders/revenue lens over product events."
          },
          "end": {
            "description": "End is the window's exclusive upper bound, RFC3339 UTC.",
            "type": "string"
          },
          "interval": {
            "description": "Interval is the bucket width the window implies: hour or day.",
            "type": "string"
          },
          "llm": {
            "$ref": "#/components/schemas/LLMOverview",
            "description": "LLM is the LLM usage lens — real per-org data."
          },
          "range": {
            "description": "Range is the window that was actually applied: 24h, 7d, 30d or custom.",
            "type": "string"
          },
          "scope": {
            "$ref": "#/components/schemas/Scope",
            "description": "Scope names the tenant these numbers belong to."
          },
          "start": {
            "description": "Start is the window's inclusive lower bound, RFC3339 UTC.",
            "type": "string"
          },
          "web": {
            "$ref": "#/components/schemas/WebOverview",
            "description": "Web is the web-traffic lens over product events."
          }
        },
        "type": "object"
      },
      "ProductRow": {
        "properties": {
          "orders": {
            "description": "Orders is how many order_completed events carried it.",
            "type": "integer"
          },
          "productId": {
            "description": "ProductID is the product the order events named.",
            "type": "string"
          },
          "revenue": {
            "description": "Revenue is the total they carried, in the events' own currency unit.",
            "type": "number"
          },
          "units": {
            "description": "Units is the summed quantity sold.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Scope": {
        "properties": {
          "org": {
            "description": "Org is the IAM org slug the rows were read under: the validated principal's,\nresolved server-side.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Timeseries": {
        "properties": {
          "end": {
            "description": "End is the window's exclusive upper bound, RFC3339 UTC.",
            "type": "string"
          },
          "interval": {
            "description": "Interval is the bucket width: hour or day.",
            "type": "string"
          },
          "range": {
            "description": "Range is the window that was actually applied: 24h, 7d, 30d or custom.",
            "type": "string"
          },
          "scope": {
            "$ref": "#/components/schemas/Scope",
            "description": "Scope names the tenant these numbers belong to."
          },
          "series": {
            "description": "Series is one point per bucket, oldest first, with empty buckets zero-filled.",
            "items": {
              "$ref": "#/components/schemas/UsagePoint"
            },
            "type": "array"
          },
          "source": {
            "description": "Source is the warehouse table the series read.",
            "type": "string"
          },
          "start": {
            "description": "Start is the window's inclusive lower bound, RFC3339 UTC.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Top": {
        "properties": {
          "end": {
            "description": "End is the window's exclusive upper bound, RFC3339 UTC.",
            "type": "string"
          },
          "models": {
            "$ref": "#/components/schemas/TopModels",
            "description": "Models ranks the window's LLM models by spend — real per-org data."
          },
          "products": {
            "$ref": "#/components/schemas/TopProducts",
            "description": "Products ranks the window's products by revenue."
          },
          "range": {
            "description": "Range is the window that was actually applied: 24h, 7d, 30d or custom.",
            "type": "string"
          },
          "scope": {
            "$ref": "#/components/schemas/Scope",
            "description": "Scope names the tenant these rankings belong to."
          },
          "start": {
            "description": "Start is the window's inclusive lower bound, RFC3339 UTC.",
            "type": "string"
          },
          "topPages": {
            "$ref": "#/components/schemas/Breakdown",
            "description": "Pages ranks the paths visitors requested, by pageviews."
          },
          "topReferrers": {
            "$ref": "#/components/schemas/Breakdown",
            "description": "Referrers ranks the external domains visitors arrived from, by pageviews."
          },
          "topSources": {
            "$ref": "#/components/schemas/Breakdown",
            "description": "Sources ranks the utm_source campaigns visitors arrived on, by pageviews."
          }
        },
        "type": "object"
      },
      "TopModels": {
        "properties": {
          "available": {
            "description": "Available is true whenever the ledger answered, including with no rows.",
            "type": "boolean"
          },
          "items": {
            "description": "Items is the ranked models, highest spend first.",
            "items": {
              "$ref": "#/components/schemas/ModelRow"
            },
            "type": "array"
          },
          "source": {
            "description": "Source is the warehouse table the lens read.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TopProducts": {
        "properties": {
          "available": {
            "description": "Available is false when the product-event table could not be read.",
            "type": "boolean"
          },
          "items": {
            "description": "Items is the ranked products, highest revenue first. Empty rather than absent.",
            "items": {
              "$ref": "#/components/schemas/ProductRow"
            },
            "type": "array"
          },
          "reason": {
            "description": "Reason says why the lens is unavailable. Omitted when it is available.",
            "type": "string"
          },
          "source": {
            "description": "Source is the warehouse table the lens read.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "UsagePoint": {
        "properties": {
          "requests": {
            "description": "Requests is how many LLM calls fell in this bucket.",
            "type": "integer"
          },
          "spendCents": {
            "description": "SpendCents is what they cost, in cents.",
            "type": "integer"
          },
          "t": {
            "description": "T is the bucket's start, RFC3339 UTC, aligned to the interval.",
            "type": "string"
          },
          "tokens": {
            "description": "Tokens is prompt plus completion tokens over those calls.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "WebOverview": {
        "properties": {
          "available": {
            "description": "Available is false when the product-event table could not be read — the lens is\nreported missing rather than as zeros that look like real traffic.",
            "type": "boolean"
          },
          "pageviews": {
            "description": "Pageviews is how many $pageview events landed in the window.",
            "type": "integer"
          },
          "reason": {
            "description": "Reason says why the lens is unavailable. Omitted when it is available.",
            "type": "string"
          },
          "sessions": {
            "description": "Sessions is how many distinct visits they span.",
            "type": "integer"
          },
          "source": {
            "description": "Source is the warehouse table the lens read.",
            "type": "string"
          },
          "visitors": {
            "description": "Visitors is how many distinct people those pageviews came from.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "capturedError": {
        "properties": {
          "distinctId": {
            "description": "DistinctID is the person/visitor the error is attributed to. Omitted when the\nrow carries none.",
            "type": "string"
          },
          "event": {
            "description": "Event is the event name the error was stored under, e.g. $error.",
            "type": "string"
          },
          "exception": {
            "description": "Exception is the captured error itself — the {type, message, stack, handled}\nobject, already redacted at the fold point. Omitted when the row has none."
          },
          "id": {
            "description": "ID is the row's stable event id — the client's own idempotency id when it sent\none, else the server-minted one.",
            "type": "string"
          },
          "library": {
            "description": "Library is the client SDK that reported the error. Omitted when absent.",
            "type": "string"
          },
          "libraryVersion": {
            "description": "LibraryVer is that SDK's version. Omitted when absent.",
            "type": "string"
          },
          "path": {
            "description": "Path is the URL's path component. Omitted when absent.",
            "type": "string"
          },
          "product": {
            "description": "Product is the surface that emitted the error. Omitted when absent.",
            "type": "string"
          },
          "properties": {
            "description": "Properties is the row's whole property bag, returned verbatim as stored — any\nJSON object, $exception included. Omitted when the row carries none or it did\nnot parse."
          },
          "sessionId": {
            "description": "SessionID groups the events of one visit. Omitted when the client sent none.",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp is when the error was captured, RFC3339 UTC.",
            "type": "string"
          },
          "url": {
            "description": "URL is the full page address the error fired on. Omitted when absent.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "errorList": {
        "properties": {
          "data": {
            "description": "Data is the errors, newest first. Empty rather than absent when there are none.",
            "items": {
              "$ref": "#/components/schemas/capturedError"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "eventList": {
        "properties": {
          "data": {
            "description": "Data is the events, newest first. Empty rather than absent when there are none.",
            "items": {
              "$ref": "#/components/schemas/productEvent"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "insightsStatus": {
        "properties": {
          "engine": {
            "description": "Engine names the engine serving the surface: hanzo-analytics.",
            "type": "string"
          },
          "ok": {
            "description": "OK is always true — reaching this route is the liveness fact it reports.",
            "type": "boolean"
          },
          "surface": {
            "description": "Surface is the path prefix this status covers: /v1/insights.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "productEvent": {
        "properties": {
          "distinctId": {
            "description": "DistinctID is the person/visitor the event is attributed to.",
            "type": "string"
          },
          "event": {
            "description": "Event is the event name, e.g. $pageview.",
            "type": "string"
          },
          "id": {
            "description": "ID is the row's stable event id — the client's own idempotency id when it sent\none, else the server-minted one.",
            "type": "string"
          },
          "path": {
            "description": "Path is the URL's path component, the key the topPages lens groups by.",
            "type": "string"
          },
          "product": {
            "description": "Product is the surface that emitted the event. Omitted when absent.",
            "type": "string"
          },
          "properties": {
            "description": "Properties is the caller's own property bag, returned verbatim as stored — any\nJSON object. Omitted when the row carries none or it did not parse."
          },
          "sessionId": {
            "description": "SessionID groups the events of one visit. Omitted when the client sent none.",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp is when the event happened, RFC3339 UTC.",
            "type": "string"
          },
          "type": {
            "description": "Type is the canonical kind: pageview, error, identify, group or event.",
            "type": "string"
          },
          "url": {
            "description": "URL is the full page address the event fired on. Omitted when absent.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
