{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package analytics is product analytics: send an event, read back who did what.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "analytics"
    },
    {
      "name": "errors"
    },
    {
      "name": "event"
    },
    {
      "name": "insights"
    }
  ],
  "paths": {
    "/v1/analytics/health": {
      "get": {
        "operationId": "get_v1_analytics_health",
        "summary": "Whether the event plane can take a write and the warehouse can answer a read",
        "description": "Reports the analytics subsystem's own liveness in BOTH directions: `plane` is the event plane it WRITES (the bus and the JetStream stream every accepted event is published to, both named in the report), and `datastore` is the warehouse it READS, with each read lens's table reported as it is provisioned (the LLM usage ledger and the product-event table).\n\nEITHER ONE DOWN IS A 503, and the report says WHICH — they are probed independently and never collapse into a single bit. This endpoint used to report the read half only, and answered 200/ok while every POST /v1/event failed on a stream that could not bind: a total ingest outage behind a green probe. A readiness gate wired here now gates on the write path too.\n\n`plane.ready` IS A REAL PROBE and walks the ingest path itself — the same connection and the same stream a publish uses — so it cannot answer ready while a publish would 503. `plane.reason` carries the plane's own error text when it is false.\n\n`datastore` IS NOT PROBED WITH A QUERY. It is the state of the process's own shared client — established, and not since closed — so a warehouse accepting connections and failing reads still reports true. Degraded CARRIES the report (status, the failing half, reason) as its body rather than an error envelope, so a gate reads the cause off the same object it got at 200.\n\nA MISSING LENS TABLE IS NOT A FAILURE and never moves the status: a lens reported available:false answers honest-empty rather than erroring, so a fresh deployment whose collector has not emitted yet is legitimately 200 with the product-event lens unavailable. The lens block is reported whenever the warehouse is REACHABLE — including on a report degraded by the plane, where the tables genuinely were probed — and is absent only when the warehouse is not, having nothing to say about tables it could not reach.\n\nUnauthenticated on purpose — liveness has to be probe-able — and it reads NO tenant data: table existence and stream presence only, never a row and never an event.",
        "tags": [
          "analytics"
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/healthReport"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/overview": {
      "get": {
        "operationId": "get_v1_analytics_overview",
        "summary": "Overview returns the caller org's analytics KPIs for one time window.",
        "description": "Overview returns the caller org's analytics KPIs for one time window. Three lenses\nover one warehouse: llm is the live per-org LLM usage ledger (requests, tokens,\nspend, models, providers, errors) and is always real; web (pageviews, visitors,\nsessions) and commerce (orders, revenue, AOV) read the product-event table and\nreport available=false rather than fabricating zeros when it holds nothing yet.\n\nThe org is the validated principal's — never a parameter — so a caller can only\never read its own tenant. 403 without a validated bearer, 400 on an unknown range,\n503 when the warehouse is unreachable.",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is a relative window: 24h, 7d or 30d. Default 24h. Ignored when both\nstart and end are given. An unknown value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "7d"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start is the inclusive lower bound of a custom window, RFC3339. Requires end.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End is the exclusive upper bound of a custom window, RFC3339. Requires start.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Overview"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/analytics/timeseries": {
      "get": {
        "operationId": "get_v1_analytics_timeseries",
        "summary": "Timeseries returns the caller org's LLM usage over time as an evenly-spaced series.",
        "description": "Timeseries returns the caller org's LLM usage over time as an evenly-spaced series.\nOne point per hour or per day — the bucket the window implies, 24h giving hours and\n7d/30d giving days — carrying requests, total tokens and spend in cents. Empty\nbuckets are filled with zeros so a client charts a continuous line.\n\nThe org is the validated principal's — never a parameter. 403 without a validated\nbearer, 400 on an unknown range, 503 when the warehouse is unreachable.",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is a relative window: 24h, 7d or 30d. Default 24h. Ignored when both\nstart and end are given. An unknown value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "30d"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start is the inclusive lower bound of a custom window, RFC3339. Requires end.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End is the exclusive upper bound of a custom window, RFC3339. Requires start.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeseries"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/analytics/top": {
      "get": {
        "operationId": "get_v1_analytics_top",
        "summary": "Top returns the caller org's ranked lenses for one window, five of them at once.",
        "description": "Top returns the caller org's ranked lenses for one window, five of them at once.\nmodels ranks LLM models by spend and is always real; products ranks commerce orders\nby revenue; topPages ranks requested paths, topReferrers the external referrer\ndomains (\"(direct)\" for a missing or same-origin one) and topSources the utm_source\ncampaigns (\"(none)\" when absent), each by pageviews. Every lens carries each row's\nshare of the in-window total, so a top-N honestly shows the long tail.\n\nThe four event lenses report available=false rather than fabricating zeros when the\nproduct-event table holds nothing yet. The org is the validated principal's — never\na parameter. 403 without a validated bearer, 400 on an unknown range, 503 when the\nwarehouse is unreachable.",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is a relative window: 24h, 7d or 30d. Default 24h. Ignored when both\nstart and end are given. An unknown value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "7d"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start is the inclusive lower bound of a custom window, RFC3339. Requires end.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End is the exclusive upper bound of a custom window, RFC3339. Requires start.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds every ranked lens in the response. Default 10, maximum 100; a\nvalue at or below zero, or one that is not a number, takes the default.",
            "schema": {
              "type": "integer"
            },
            "example": 25
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Top"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/errors": {
      "get": {
        "operationId": "get_v1_errors",
        "summary": "Errors returns the caller org's most recently captured errors, newest first.",
        "description": "Errors returns the caller org's most recently captured errors, newest first. The\nerror-tracking read view over event.error — the plane table the write core's error\nfacts land in (errors are DELIBERATELY not on event.event) — each with its captured\nexception surfaced from the attributes map as a first-class field.\n\nThe org is the validated principal's — never a parameter — and this read requires a\nreal bearer, NEVER the write-only publishable key: pk- can attribute a write and can\nread nothing. 403 without a validated bearer, 503 when the warehouse is unreachable.",
        "tags": [
          "errors"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit is how many rows to return, newest first. Default 50, maximum 200; a\nvalue at or below zero, or one that is not a number, takes the default.",
            "schema": {
              "type": "integer"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/event": {
      "post": {
        "operationId": "post_v1_event",
        "summary": "Capture product events into your org's warehouse",
        "description": "Stores pageviews, browser errors, identifies and custom commerce events as rows in the caller's own tenant, and answers a receipt {accepted, dropped} that always totals what was sent — a beacon is never silently discarded.\n\nONE door for every wire a Hanzo surface emits, dispatched by the SHAPE of the body and never by a second path: a bare event object, a bare array of them, the {batch:[…]} / {events:[…]} envelope, the team console's snake_case array, and the PostHog wire (spelled `distinct_id`/`api_key`, which the canonical wire never uses). BATCH IS A BODY, NOT A PATH — there is no /v1/event/batch, because an array already is one.\n\nWHAT THE CALLER PRESENTS DECIDES WHAT IT MAY WRITE, and the door itself grants nothing. A validated bearer or an org API key writes the full event at full fidelity. A PUBLISHABLE key (pk-, on Authorization: Bearer, x-hanzo-ingest-key, or ?ingest_key= for navigator.sendBeacon, which cannot set headers) does the same, and is the credential a browser bundle ships: it is deliberately NOT a secret, it resolves WHICH tenant a beacon belongs to and nothing more. A pk- never authenticates and can READ NOTHING — not this org's errors, not a lens, not any other route on this API — so a leaked one lets a stranger write into your stream, and never lets one read out of it. Reading these rows back always takes a real bearer. A Hanzo Team workspace token resolves its org at REDUCED capability: the signed account names the person, so a `distinctId` in the body cannot pin events on a colleague.\n\nNO CREDENTIAL IS ALSO ADMITTED, and that is the point — a logged-out visitor has none. Such a write is PROJECTED: filed under the reserved `$public` tenant, narrowed to what the SERVER can name — pageviews and errors, whose names the route supplies, plus the closed autocapture vocabulary ($click, $input, $change, $submit, $view) resolved through a server-owned table — and stripped to the fields the projection names, so revenue, personId, groupId, an arbitrary event name and every property but the element annotation cannot reach a row. ITS IDENTITY IS NAMESPACED for the same reason the name is: nobody signed for it, so a `distinctId` off the wire is stored under a reserved `$anon:` prefix that no identified subject carries — an anonymous visitor still counts as one visitor, and still cannot be joined to a person the org knows. Everything refused is counted in `dropped`. On a published-site host the same projection applies with that site's org as the tenant. But a credential that IS presented and does NOT resolve is 403, never quietly downgraded: filing a misconfigured key's events under $public would hide them in a partition their owner cannot read.\n\nThe anonymous lane alone is bounded: 413 over 64 KiB, 400 over 50 events, 429 on the per-client-IP and per-peer caps, and a DNT:1 or Sec-GPC:1 request stores nothing and says so in the receipt. Where a deployment switches anonymous capture off, a credential-less write is 403 instead. Authenticated bodies are offered to the observability plane first, which claims LLM-observability ingestion batches and declines everything else.",
        "tags": [
          "event"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Event"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Event"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/CaptureBatch"
                  },
                  {
                    "$ref": "#/components/schemas/insightsBody"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptureResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/event/{project}/envelope": {
      "post": {
        "operationId": "post_v1_event_by_project_envelope",
        "summary": "Sentry SDK envelope ingest — errors and traces from an unmodified Sentry client",
        "description": "Accepts the CURRENT Sentry wire — the framed envelope a modern SDK posts, carrying its items in one request — so an application already instrumented with Sentry reports into Hanzo's error tracking by pointing its DSN here and changing nothing else.\n\nCLOUD ROUTES IT AND READS NONE OF IT. The body is relayed byte-for-byte to the observability plane, which parses the wire, verifies the credential and answers; this door declares no response shape because it does not know one. A deployment with no observability plane mounted answers 503.\n\nTHE CREDENTIAL IS A SENTRY DSN KEY, NOT A HANZO PRINCIPAL. This is one of the few writes on the platform that carries no bearer and no org header by design — a Sentry SDK has neither — and it is exempt from the principal gate for that reason. The observability plane verifies the DSN key itself, fail-closed: a request without a valid one is refused there, never admitted here. Presenting a Hanzo bearer instead does nothing.\n\n`project` IS THE DSN'S PROJECT ID — the identifier in the DSN the SDK was configured with, and what the tenant is derived from. It is NOT a Hanzo IAM project and NOT a tracker project key. Only these two ingest paths map through: no observability READ API is reachable by any other suffix under this prefix.",
        "tags": [
          "event"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    },
    "/v1/event/{project}/store": {
      "post": {
        "operationId": "post_v1_event_by_project_store",
        "summary": "Sentry SDK store ingest — the legacy single-event wire",
        "description": "Accepts the LEGACY Sentry wire: one event per request, what an SDK predating envelopes sends. Same door, same credential, same destination as the envelope endpoint — kept open so an old client reports without being upgraded first. New instrumentation has no reason to choose it.\n\nCLOUD ROUTES IT AND READS NONE OF IT. The body is relayed byte-for-byte to the observability plane, which parses the wire, verifies the credential and answers; this door declares no response shape because it does not know one. A deployment with no observability plane mounted answers 503.\n\nTHE CREDENTIAL IS A SENTRY DSN KEY, NOT A HANZO PRINCIPAL. This is one of the few writes on the platform that carries no bearer and no org header by design — a Sentry SDK has neither — and it is exempt from the principal gate for that reason. The observability plane verifies the DSN key itself, fail-closed: a request without a valid one is refused there, never admitted here. Presenting a Hanzo bearer instead does nothing.\n\n`project` IS THE DSN'S PROJECT ID — the identifier in the DSN the SDK was configured with, and what the tenant is derived from. It is NOT a Hanzo IAM project and NOT a tracker project key. Only these two ingest paths map through: no observability READ API is reachable by any other suffix under this prefix.",
        "tags": [
          "event"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    },
    "/v1/insights/events": {
      "get": {
        "operationId": "get_v1_insights_events",
        "summary": "Returns the caller org's most recent product events, newest first.",
        "description": "Returns the caller org's most recent product events, newest first.\nThe console's raw-event view over event.event — the same table the capture doors\nfill — one row per stored event, with the row's attributes returned as the\nproperties object.\n\nThe org is the validated principal's — never a parameter — and a read requires a\nreal bearer, never the write-only publishable key. 403 without a validated bearer,\n503 when the warehouse is unreachable.",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit is how many rows to return, newest first. Default 50, maximum 200; a\nvalue at or below zero, or one that is not a number, takes the default.",
            "schema": {
              "type": "integer"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/insights/health": {
      "get": {
        "operationId": "get_v1_insights_health",
        "summary": "Reports that the unified insights surface is serving.",
        "description": "Reports that the unified insights surface is serving. It reads no\ntenant data and consults no dependency, so it answers 200 unconditionally and needs\nno principal — liveness must be probe-able. The warehouse-connectivity probe is a\ndifferent question and lives at GET /v1/analytics/health.",
        "tags": [
          "insights"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/insightsStatus"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Breakdown": {
        "properties": {
          "available": {
            "description": "Available is false when the product-event table could not be read.",
            "type": "boolean"
          },
          "items": {
            "description": "Items is the ranked buckets, most pageviews first. Empty rather than absent.",
            "items": {
              "$ref": "#/components/schemas/BreakdownRow"
            },
            "type": "array"
          },
          "reason": {
            "description": "Reason says why the lens is unavailable. Omitted when it is available.",
            "type": "string"
          },
          "source": {
            "description": "Source is the warehouse table the lens read.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BreakdownRow": {
        "properties": {
          "key": {
            "description": "Key is the bucket: a requested path, a referrer domain (\"(direct)\" for none or\na same-origin one), or a utm_source (\"(none)\" when absent).",
            "type": "string"
          },
          "pageviews": {
            "description": "Pageviews is how many $pageview events fell in this bucket.",
            "type": "integer"
          },
          "pct": {
            "description": "Pct is this bucket's share of ALL in-window pageviews, 0..100, one decimal —\nnot of the returned rows, so a top-N shows the long tail honestly.",
            "type": "number"
          },
          "visitors": {
            "description": "Visitors is how many distinct people they came from.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CaptureBatch": {
        "properties": {
          "batch": {
            "items": {
              "$ref": "#/components/schemas/CaptureEvent"
            },
            "type": "array"
          },
          "events": {
            "items": {
              "$ref": "#/components/schemas/CaptureEvent"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CaptureEvent": {
        "properties": {
          "anonymousId": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "distinctId": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/Exception"
          },
          "event": {
            "type": "string"
          },
          "groupId": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "level": {
            "type": "string"
          },
          "library": {
            "type": "string"
          },
          "libraryVersion": {
            "type": "string"
          },
          "log": {
            "$ref": "#/components/schemas/LogBody"
          },
          "messageId": {
            "type": "string"
          },
          "metric": {
            "$ref": "#/components/schemas/MetricBody"
          },
          "path": {
            "type": "string"
          },
          "personId": {
            "type": "string"
          },
          "product": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "properties": {
            "additionalProperties": {},
            "type": "object"
          },
          "quantity": {
            "type": "integer"
          },
          "refCode": {
            "type": "string"
          },
          "referrer": {
            "type": "string"
          },
          "release": {
            "type": "string"
          },
          "revenue": {
            "type": "number"
          },
          "service": {
            "type": "string"
          },
          "sessionId": {
            "type": "string"
          },
          "signupWeek": {
            "type": "string"
          },
          "site": {
            "type": "string"
          },
          "span": {
            "$ref": "#/components/schemas/SpanBody"
          },
          "spanId": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "utm": {
            "$ref": "#/components/schemas/UTM"
          }
        },
        "type": "object"
      },
      "CaptureResult": {
        "properties": {
          "accepted": {
            "type": "integer"
          },
          "dropped": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CommerceOverview": {
        "properties": {
          "aov": {
            "description": "AOV is average order value — Revenue/Orders, rounded to two places. Zero when\nthere were no orders.",
            "type": "number"
          },
          "available": {
            "description": "Available is false when the product-event table could not be read — the lens is\nreported missing rather than as zeros that look like no sales.",
            "type": "boolean"
          },
          "orders": {
            "description": "Orders is how many order_completed events landed in the window.",
            "type": "integer"
          },
          "reason": {
            "description": "Reason says why the lens is unavailable. Omitted when it is available.",
            "type": "string"
          },
          "revenue": {
            "description": "Revenue is the total those orders carried, in the events' own currency unit.",
            "type": "number"
          },
          "source": {
            "description": "Source is the warehouse table the lens read.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Event": {
        "properties": {
          "distinctId": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "properties": {
            "additionalProperties": {},
            "type": "object"
          },
          "time": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Exception": {
        "properties": {
          "frames": {
            "items": {
              "$ref": "#/components/schemas/Frame"
            },
            "type": "array"
          },
          "handled": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stack": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Frame": {
        "properties": {
          "column": {
            "type": "integer"
          },
          "file": {
            "type": "string"
          },
          "function": {
            "type": "string"
          },
          "line": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "LLMOverview": {
        "properties": {
          "available": {
            "description": "Available is true whenever the ledger answered — including with no usage in the\nwindow, which is honest zeros rather than a missing lens.",
            "type": "boolean"
          },
          "completionTokens": {
            "description": "CompletionTokens is the output half of Tokens.",
            "type": "integer"
          },
          "errorRate": {
            "description": "ErrorRate is Errors/Requests, 0..1, rounded to three places. Zero when there\nwere no requests.",
            "type": "number"
          },
          "errors": {
            "description": "Errors is how many of Requests failed.",
            "type": "integer"
          },
          "models": {
            "description": "Models is how many distinct models the org called.",
            "type": "integer"
          },
          "promptTokens": {
            "description": "PromptTokens is the input half of Tokens.",
            "type": "integer"
          },
          "providers": {
            "description": "Providers is how many distinct providers served them.",
            "type": "integer"
          },
          "requests": {
            "description": "Requests is how many LLM calls the org made in the window.",
            "type": "integer"
          },
          "source": {
            "description": "Source is the warehouse table the lens read.",
            "type": "string"
          },
          "spendCents": {
            "description": "SpendCents is what those calls cost, in cents.",
            "type": "integer"
          },
          "tokens": {
            "description": "Tokens is prompt plus completion tokens over those calls.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "LogBody": {
        "properties": {
          "body": {
            "type": "string"
          },
          "number": {
            "type": "integer"
          },
          "severity": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "MetricBody": {
        "properties": {
          "labels": {
            "additionalProperties": {},
            "type": "object"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "ModelRow": {
        "properties": {
          "model": {
            "description": "Model is the model id, e.g. zen5-coder.",
            "type": "string"
          },
          "pct": {
            "description": "Pct is this model's share of the window's returned spend, 0..100, one decimal.",
            "type": "number"
          },
          "provider": {
            "description": "Provider is who served it.",
            "type": "string"
          },
          "requests": {
            "description": "Requests is how many calls went to this model.",
            "type": "integer"
          },
          "spendCents": {
            "description": "SpendCents is what they cost, in cents.",
            "type": "integer"
          },
          "tokens": {
            "description": "Tokens is prompt plus completion tokens over those calls.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Overview": {
        "properties": {
          "commerce": {
            "$ref": "#/components/schemas/CommerceOverview",
            "description": "Commerce is the orders/revenue lens over product events."
          },
          "end": {
            "description": "End is the window's exclusive upper bound, RFC3339 UTC.",
            "type": "string"
          },
          "interval": {
            "description": "Interval is the bucket width the window implies: hour or day.",
            "type": "string"
          },
          "llm": {
            "$ref": "#/components/schemas/LLMOverview",
            "description": "LLM is the LLM usage lens — real per-org data."
          },
          "range": {
            "description": "Range is the window that was actually applied: 24h, 7d, 30d or custom.",
            "type": "string"
          },
          "scope": {
            "$ref": "#/components/schemas/Scope",
            "description": "Scope names the tenant these numbers belong to."
          },
          "start": {
            "description": "Start is the window's inclusive lower bound, RFC3339 UTC.",
            "type": "string"
          },
          "web": {
            "$ref": "#/components/schemas/WebOverview",
            "description": "Web is the web-traffic lens over product events."
          }
        },
        "type": "object"
      },
      "ProductRow": {
        "properties": {
          "orders": {
            "description": "Orders is how many order_completed events carried it.",
            "type": "integer"
          },
          "productId": {
            "description": "ProductID is the product the order events named.",
            "type": "string"
          },
          "revenue": {
            "description": "Revenue is the total they carried, in the events' own currency unit.",
            "type": "number"
          },
          "units": {
            "description": "Units is the summed quantity sold.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Scope": {
        "properties": {
          "org": {
            "description": "Org is the IAM org slug the rows were read under: the validated principal's,\nresolved server-side.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SpanBody": {
        "properties": {
          "duration": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "parent": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "trace": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Timeseries": {
        "properties": {
          "end": {
            "description": "End is the window's exclusive upper bound, RFC3339 UTC.",
            "type": "string"
          },
          "interval": {
            "description": "Interval is the bucket width: hour or day.",
            "type": "string"
          },
          "range": {
            "description": "Range is the window that was actually applied: 24h, 7d, 30d or custom.",
            "type": "string"
          },
          "scope": {
            "$ref": "#/components/schemas/Scope",
            "description": "Scope names the tenant these numbers belong to."
          },
          "series": {
            "description": "Series is one point per bucket, oldest first, with empty buckets zero-filled.",
            "items": {
              "$ref": "#/components/schemas/UsagePoint"
            },
            "type": "array"
          },
          "source": {
            "description": "Source is the warehouse table the series read.",
            "type": "string"
          },
          "start": {
            "description": "Start is the window's inclusive lower bound, RFC3339 UTC.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Top": {
        "properties": {
          "end": {
            "description": "End is the window's exclusive upper bound, RFC3339 UTC.",
            "type": "string"
          },
          "models": {
            "$ref": "#/components/schemas/TopModels",
            "description": "Models ranks the window's LLM models by spend — real per-org data."
          },
          "products": {
            "$ref": "#/components/schemas/TopProducts",
            "description": "Products ranks the window's products by revenue."
          },
          "range": {
            "description": "Range is the window that was actually applied: 24h, 7d, 30d or custom.",
            "type": "string"
          },
          "scope": {
            "$ref": "#/components/schemas/Scope",
            "description": "Scope names the tenant these rankings belong to."
          },
          "start": {
            "description": "Start is the window's inclusive lower bound, RFC3339 UTC.",
            "type": "string"
          },
          "topPages": {
            "$ref": "#/components/schemas/Breakdown",
            "description": "Pages ranks the paths visitors requested, by pageviews."
          },
          "topReferrers": {
            "$ref": "#/components/schemas/Breakdown",
            "description": "Referrers ranks the external domains visitors arrived from, by pageviews."
          },
          "topSources": {
            "$ref": "#/components/schemas/Breakdown",
            "description": "Sources ranks the utm_source campaigns visitors arrived on, by pageviews."
          }
        },
        "type": "object"
      },
      "TopModels": {
        "properties": {
          "available": {
            "description": "Available is true whenever the ledger answered, including with no rows.",
            "type": "boolean"
          },
          "items": {
            "description": "Items is the ranked models, highest spend first.",
            "items": {
              "$ref": "#/components/schemas/ModelRow"
            },
            "type": "array"
          },
          "source": {
            "description": "Source is the warehouse table the lens read.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TopProducts": {
        "properties": {
          "available": {
            "description": "Available is false when the product-event table could not be read.",
            "type": "boolean"
          },
          "items": {
            "description": "Items is the ranked products, highest revenue first. Empty rather than absent.",
            "items": {
              "$ref": "#/components/schemas/ProductRow"
            },
            "type": "array"
          },
          "reason": {
            "description": "Reason says why the lens is unavailable. Omitted when it is available.",
            "type": "string"
          },
          "source": {
            "description": "Source is the warehouse table the lens read.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "UTM": {
        "properties": {
          "campaign": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "medium": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "term": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "UsagePoint": {
        "properties": {
          "requests": {
            "description": "Requests is how many LLM calls fell in this bucket.",
            "type": "integer"
          },
          "spendCents": {
            "description": "SpendCents is what they cost, in cents.",
            "type": "integer"
          },
          "t": {
            "description": "T is the bucket's start, RFC3339 UTC, aligned to the interval.",
            "type": "string"
          },
          "tokens": {
            "description": "Tokens is prompt plus completion tokens over those calls.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "WebOverview": {
        "properties": {
          "available": {
            "description": "Available is false when the product-event table could not be read — the lens is\nreported missing rather than as zeros that look like real traffic.",
            "type": "boolean"
          },
          "pageviews": {
            "description": "Pageviews is how many $pageview events landed in the window.",
            "type": "integer"
          },
          "reason": {
            "description": "Reason says why the lens is unavailable. Omitted when it is available.",
            "type": "string"
          },
          "sessions": {
            "description": "Sessions is how many distinct visits they span.",
            "type": "integer"
          },
          "source": {
            "description": "Source is the warehouse table the lens read.",
            "type": "string"
          },
          "visitors": {
            "description": "Visitors is how many distinct people those pageviews came from.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "capturedError": {
        "properties": {
          "distinctId": {
            "description": "DistinctID is the person/visitor the error is attributed to. Omitted when the\nrow carries none.",
            "type": "string"
          },
          "event": {
            "description": "Event is the event name the error was stored under, e.g. $error.",
            "type": "string"
          },
          "exception": {
            "description": "Exception is the captured error itself — the {type, message, stack, handled}\nobject, already redacted at the fold point. Omitted when the row has none."
          },
          "id": {
            "description": "ID is the row's stable event id — the client's own idempotency id when it sent\none, else the server-minted one.",
            "type": "string"
          },
          "library": {
            "description": "Library is the client SDK that reported the error. Omitted when absent.",
            "type": "string"
          },
          "libraryVersion": {
            "description": "LibraryVer is that SDK's version. Omitted when absent.",
            "type": "string"
          },
          "path": {
            "description": "Path is the URL's path component. Omitted when absent.",
            "type": "string"
          },
          "product": {
            "description": "Product is the surface that emitted the error. Omitted when absent.",
            "type": "string"
          },
          "properties": {
            "description": "Properties is the row's whole property bag, returned verbatim as stored — any\nJSON object, $exception included. Omitted when the row carries none or it did\nnot parse."
          },
          "sessionId": {
            "description": "SessionID groups the events of one visit. Omitted when the client sent none.",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp is when the error was captured, RFC3339 UTC.",
            "type": "string"
          },
          "url": {
            "description": "URL is the full page address the error fired on. Omitted when absent.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "errorList": {
        "properties": {
          "data": {
            "description": "Data is the errors, newest first. Empty rather than absent when there are none.",
            "items": {
              "$ref": "#/components/schemas/capturedError"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "eventList": {
        "properties": {
          "data": {
            "description": "Data is the events, newest first. Empty rather than absent when there are none.",
            "items": {
              "$ref": "#/components/schemas/productEvent"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "healthLens": {
        "properties": {
          "available": {
            "type": "boolean"
          },
          "table": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "healthLenses": {
        "properties": {
          "events": {
            "$ref": "#/components/schemas/healthLens"
          },
          "llm": {
            "$ref": "#/components/schemas/healthLens"
          }
        },
        "type": "object"
      },
      "healthPlane": {
        "properties": {
          "bus": {
            "type": "string"
          },
          "ready": {
            "type": "boolean"
          },
          "reason": {
            "type": "string"
          },
          "stream": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "healthReport": {
        "properties": {
          "datastore": {
            "type": "boolean"
          },
          "lenses": {
            "$ref": "#/components/schemas/healthLenses"
          },
          "lost": {
            "$ref": "#/components/schemas/loss"
          },
          "plane": {
            "$ref": "#/components/schemas/healthPlane"
          },
          "reason": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "warehouse": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "insightsBody": {
        "properties": {
          "batch": {
            "items": {
              "$ref": "#/components/schemas/insightsEvent"
            },
            "type": "array"
          },
          "distinct_id": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "properties": {
            "additionalProperties": {},
            "type": "object"
          },
          "timestamp": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "insightsEvent": {
        "properties": {
          "distinct_id": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "properties": {
            "additionalProperties": {},
            "type": "object"
          },
          "timestamp": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "insightsStatus": {
        "properties": {
          "engine": {
            "description": "Engine names the engine serving the surface: hanzo-analytics.",
            "type": "string"
          },
          "ok": {
            "description": "OK is always true — reaching this route is the liveness fact it reports.",
            "type": "boolean"
          },
          "surface": {
            "description": "Surface is the path prefix this status covers: /v1/insights.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "loss": {
        "properties": {
          "exhausted": {
            "type": "integer"
          },
          "undecodable": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "productEvent": {
        "properties": {
          "distinctId": {
            "description": "DistinctID is the person/visitor the event is attributed to.",
            "type": "string"
          },
          "event": {
            "description": "Event is the event name, e.g. page_viewed or signup_completed.",
            "type": "string"
          },
          "id": {
            "description": "ID is the row's stable event id — the client's own idempotency id when it sent\none, else the server-minted one.",
            "type": "string"
          },
          "path": {
            "description": "Path is the URL's path component, the key the topPages lens groups by.",
            "type": "string"
          },
          "product": {
            "description": "Product is the surface that emitted the event. Omitted when absent.",
            "type": "string"
          },
          "properties": {
            "description": "Properties is the row's attributes map as a JSON object (string values — the\nplane stores Map(String,String), so a nested value the caller sent is a\nJSON-encoded string). Omitted when the row carries none."
          },
          "sessionId": {
            "description": "SessionID groups the events of one visit. Omitted when the client sent none.",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp is when the event happened, RFC3339 UTC.",
            "type": "string"
          },
          "type": {
            "description": "Type is the row's kind — the plane's discriminator: page, track, identify or\ngroup. (Errors are not here at all: they land on event.error and are read at\n/v1/errors.)",
            "type": "string"
          },
          "url": {
            "description": "URL is the full page address the event fired on. Omitted when absent.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
