{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "edge"
    },
    {
      "name": "mesh"
    },
    {
      "name": "networks"
    }
  ],
  "paths": {
    "/v1/edge/nodes": {
      "get": {
        "operationId": "get_v1_edge_nodes",
        "summary": "listEdgeNodes returns the Zero Trust edge-routers the caller's org owns.",
        "description": "listEdgeNodes returns the Zero Trust edge-routers the caller's org owns.\n\nOne row per real ZT edge-router tagged with the org's \"org-\u003corg\u003e\" role attribute,\ncarrying the controller's own health signal: \"online\" when connected, \"disabled\"\nwhen administratively disabled, \"offline\" otherwise. region is filled only from a\n\"region-\u003cslug\u003e\" role attribute and omitted when the router carries none, so the\ncolumn renders \"—\" rather than a guess.\n\nThe read degrades rather than erroring: a deployment with no ZT credential, and a\ncontroller that cannot be reached, both answer 200 with an empty list.",
        "tags": [
          "edge"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/edgeNodeList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/mesh/services": {
      "get": {
        "operationId": "get_v1_mesh_services",
        "summary": "listMeshServices returns the Zero Trust edge services the caller's org owns.",
        "description": "listMeshServices returns the Zero Trust edge services the caller's org owns.\n\nOne row per real ZT edge service tagged with the org's \"org-\u003corg\u003e\" role\nattribute: mtls is \"required\" when the service mandates end-to-end encryption and\n\"enabled\" otherwise (the fabric always mutually authenticates every link), and\nstatus is \"active\" because a listed service is a configured, dialable entry. A\nservice tagged for another org, or tagged for none, is invisible here.\n\nUnlike the network and edge-node reads this does NOT degrade: an unconfigured\ndeployment answers 503 and an unreachable controller surfaces the upstream's\nstatus, so a mesh page never renders \"no services\" for a fabric it simply could\nnot read.",
        "tags": [
          "mesh"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/meshServiceList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/networks": {
      "get": {
        "operationId": "get_v1_networks",
        "summary": "listNetworks returns the caller's org overlay network on the Zero Trust fabric.",
        "description": "listNetworks returns the caller's org overlay network on the Zero Trust fabric.\n\nThe org has at most ONE overlay, projected from the edge-routers tagged with its\n\"org-\u003corg\u003e\" role attribute: nodes is the real router count and status is\n\"connected\" once at least one router has dialed home, \"provisioning\" while none\nhas. An org with no routers gets an empty list, never a fabricated network.\n\nThe read degrades rather than erroring: a deployment with no ZT credential, and a\ncontroller that cannot be reached, both answer 200 with an empty list so the\nconsole's Networks page renders a clean empty state instead of an error.",
        "tags": [
          "networks"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/networkList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/networks/{id}": {
      "get": {
        "operationId": "get_v1_networks_id",
        "summary": "getNetwork returns one overlay network by id, scoped to the caller's org.",
        "description": "getNetwork returns one overlay network by id, scoped to the caller's org.\n\nThe org has exactly one overlay network and its id is derived from the org, so\nany other id — another tenant's, or one that does not exist — is 404 rather than\na peek across the tenant boundary. An org whose network exists but has no\nedge-routers is 404 too, for the same reason the list is empty: there is no\noverlay until something is on it.",
        "tags": [
          "networks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the network id from the path. The URL is the addressing authority, so\nit binds from there whatever else the request carries.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/networkView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "edgeNodeList": {
        "properties": {
          "nodes": {
            "description": "Nodes is one row per ZT edge-router tagged with the caller's org role.",
            "items": {
              "$ref": "#/components/schemas/edgeNodeView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "edgeNodeView": {
        "properties": {
          "id": {
            "description": "ID is the ZT edge-router's id.",
            "type": "string"
          },
          "name": {
            "description": "Name is the edge-router's name, falling back to its id when it has none.",
            "type": "string"
          },
          "region": {
            "description": "Region comes from a \"region-\u003cslug\u003e\" role attribute and is omitted when the\nrouter carries none, so the column renders \"—\" rather than a guess.",
            "type": "string"
          },
          "status": {
            "description": "Status is the controller's own health signal: \"online\" when connected,\n\"disabled\" when administratively disabled, \"offline\" otherwise.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "meshServiceList": {
        "properties": {
          "services": {
            "description": "Services is one row per ZT edge service tagged with the caller's org role.",
            "items": {
              "$ref": "#/components/schemas/meshView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "meshView": {
        "properties": {
          "id": {
            "description": "ID is the ZT edge service's id.",
            "type": "string"
          },
          "mtls": {
            "description": "Mtls is \"required\" when the service mandates end-to-end encryption, else\n\"enabled\" — the fabric mutually authenticates every link, so it is never\ntruly off.",
            "type": "string"
          },
          "service": {
            "description": "Service is the edge service's name.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"active\": a listed service is a configured, dialable mesh entry.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "networkList": {
        "properties": {
          "networks": {
            "description": "Networks holds the org's overlay network, or is empty when the org has no\nedge-routers on the fabric (no nodes → no network, never a fabricated one).",
            "items": {
              "$ref": "#/components/schemas/networkView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "networkView": {
        "properties": {
          "id": {
            "description": "ID is the org-derived id of the overlay network — the key\nGET /v1/networks/{id} addresses.",
            "type": "string"
          },
          "name": {
            "description": "Name is the org the overlay belongs to.",
            "type": "string"
          },
          "nodes": {
            "description": "Nodes is how many edge-routers the org has on the fabric.",
            "type": "integer"
          },
          "status": {
            "description": "Status is \"connected\" once at least one of the org's edge-routers is\nonline, else \"provisioning\" (routers exist but none has dialed home).",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
