{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "platform"
    },
    {
      "name": "projects"
    },
    {
      "name": "sites"
    }
  ],
  "paths": {
    "/v1/platform/sites": {
      "get": {
        "operationId": "get_v1_platform_sites",
        "summary": "list lists every project the caller's org owns, newest first.",
        "description": "list lists every project the caller's org owns, newest first. Org is the bound\nisolation boundary, so another tenant's projects are never returned.",
        "tags": [
          "platform"
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "post": {
        "operationId": "post_v1_platform_sites",
        "summary": "create registers a new project (a static site) in the caller's org.",
        "description": "create registers a new project (a static site) in the caller's org. The slug is\nderived from the name when omitted, must be free in this org, and becomes the\nproject's public subdomain, so a reserved label is refused.",
        "tags": [
          "platform"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "description": "campaign microsite",
                "framework": "next",
                "name": "Spring Launch",
                "slug": "spring-launch",
                "visibility": "private"
              },
              "schema": {
                "$ref": "#/components/schemas/siteCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteProject"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/platform/sites/{slug}": {
      "delete": {
        "operationId": "delete_v1_platform_sites_slug",
        "summary": "del deletes one project of the caller's org and everything it published.",
        "description": "del deletes one project of the caller's org and everything it published. The\nsubdomain binding, the release history and the object-store content all go, so\nthe slug is free to reclaim and a reclaimed slug inherits no rollback menu.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_platform_sites_slug",
        "summary": "get reads one project of the caller's org.",
        "description": "get reads one project of the caller's org. It returns the status, live URL,\nframework and linked repo, and a slug in another org is reported not-found.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteProject"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_v1_platform_sites_slug",
        "summary": "update edits one project of the caller's org.",
        "description": "update edits one project of the caller's org. Every field is a pointer, so an\nabsent one is left alone and an explicit null or empty clears it; hidden and\nhiddenReason are moderation and are ignored unless the caller is an operator.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path — which project to edit.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "description": "campaign microsite",
                "slug": "spring-launch",
                "upstream": "UI8 — Fitness Pro Website UI Kit",
                "visibility": "public"
              },
              "schema": {
                "$ref": "#/components/schemas/siteUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteProject"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/platform/sites/{slug}/deploy": {
      "post": {
        "operationId": "post_v1_platform_sites_by_slug_deploy",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/sites/{slug}/deployments": {
      "get": {
        "operationId": "get_v1_platform_sites_slug_deployments",
        "summary": "listDeployments lists one project's deployments, newest first.",
        "description": "listDeployments lists one project's deployments, newest first. Each row carries\nthe version, status, source and the live URL that deployment produced.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/platform/sites/{slug}/deployments/{id}": {
      "get": {
        "operationId": "get_v1_platform_sites_slug_deployments_id",
        "summary": "getDeployment reads one deployment of one project: its version, status, source",
        "description": "getDeployment reads one deployment of one project: its version, status, source\ncommit, byte and file counts, and the URL it went live at.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the deployment id from the path.",
            "schema": {
              "type": "string"
            },
            "example": "dep_2f9c1a"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteDeployment"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/platform/sites/{slug}/domains": {
      "get": {
        "operationId": "get_v1_platform_sites_slug_domains",
        "summary": "listDomains returns every host this site holds.",
        "description": "listDomains returns every host this site holds. The live ones come back beside\nany pending claim with the DNS records it still owes.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteDomains"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_platform_sites_slug_domains",
        "summary": "setDomains attaches custom public hostnames to this org's static site.",
        "description": "setDomains attaches custom public hostnames to this org's static site. Binding a\nhost you do not own would let you shadow it at the edge, so which outcome you get\ndepends on whether ownership is already established:\n\n  - SuperAdmin or the platform-operator org → bound VERIFIED immediately. The\n    operator manages customer DNS, so its bind is itself the vouch.\n  - any other org → the host is CLAIMED as pending and the response carries the\n    DNS challenge. The claim HOLDS the name so nobody else can take it, but it\n    does not route until POST .../domains/{host}/verify proves control.\n\nBefore this was wired, a non-operator org got a flat 403 and could not bind at\nall; the only way onto a custom domain was to ask an operator. Now it is the\nsame DNS-01 self-serve the apps path has always had, over the same primitives.\n\nFirst-come and reserved-label guards are the store's. Claims and binds are\nidempotent for the same (org, slug) — a redeploy or repeat call is safe, and a\nre-claim returns the SAME token rather than invalidating a record the customer\nhas already published.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path — which site to bind the hosts to.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "domains": [
                  "launch.example.com"
                ],
                "slug": "spring-launch"
              },
              "schema": {
                "$ref": "#/components/schemas/setDomainsReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/boundDomains"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/platform/sites/{slug}/domains/{host}": {
      "delete": {
        "operationId": "delete_v1_platform_sites_slug_domains_host",
        "summary": "releaseDomain gives a custom host back so it can be reused.",
        "description": "releaseDomain gives a custom host back so it can be reused. A claim is FIRST-COME\nand global, so until this existed a bound or merely pending host was held\nforever: setDomains only ever adds\n(an empty list is a 400, not a clear), delete-project unbinds the site's own bare\nslug and nothing else, and there was no third writer. A customer who mistyped a\ndomain, or claimed one they later moved elsewhere, could neither reuse it nor let\nanyone else — the row outlived every path that could reach it. Add-only ownership\nof a global namespace is not ownership, it is a leak.\n\nScoped to (host, org, slug) by UnbindHost, so a release can only ever drop THIS\ntenant's own claim; another org's identical-host row is untouched (it cannot exist\n— the host is unique — but the scoping states the guarantee). Idempotent: releasing\na host we do not hold is a clean 204, never a 404 that would let a caller probe\nwhich hosts other tenants hold.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "description": "Host is the custom hostname from the path.",
            "schema": {
              "type": "string"
            },
            "example": "launch.example.com"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/platform/sites/{slug}/domains/{host}/verify": {
      "post": {
        "operationId": "post_v1_platform_sites_slug_domains_host_verify",
        "summary": "verifyDomain resolves the DNS challenge for a pending custom-host claim.",
        "description": "verifyDomain resolves the DNS challenge for a pending custom-host claim. On\nsuccess the host is promoted and begins routing at the edge; on not-yet it\nreturns the honest still-pending view rather than an error, because the check\nran and simply did not find the record, so the customer retries once DNS\npropagates.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "description": "Host is the custom hostname from the path.",
            "schema": {
              "type": "string"
            },
            "example": "launch.example.com"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "host": "launch.example.com",
                "slug": "spring-launch"
              },
              "schema": {
                "$ref": "#/components/schemas/domainRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hostClaim"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/platform/sites/{slug}/publish": {
      "post": {
        "operationId": "post_v1_platform_sites_by_slug_publish",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/sites/{slug}/purge": {
      "post": {
        "operationId": "post_v1_platform_sites_slug_purge",
        "summary": "purge flushes a project's edge cache without redeploying it.",
        "description": "purge flushes a project's edge cache without redeploying it. The object-store\norigin is never written or deleted, so the live build keeps serving and only\nstale edge copies drop; an edge miss is non-fatal and the updated project is\nreturned either way, so the caller sees the new lastPurgeAt.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "slug": "spring-launch"
              },
              "schema": {
                "$ref": "#/components/schemas/projectRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteProject"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/platform/sites/{slug}/releases": {
      "get": {
        "operationId": "get_v1_platform_sites_slug_releases",
        "summary": "listReleases returns a site's releases newest-first, marking the active one.",
        "description": "listReleases returns a site's releases newest-first, marking the active one.\nIt is the rollback menu: any row here can be activated.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "post": {
        "operationId": "post_v1_platform_sites_by_slug_releases",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/sites/{slug}/releases/{release}/activate": {
      "post": {
        "operationId": "post_v1_platform_sites_slug_releases_release_activate",
        "summary": "activateRelease flips the site's pointer to an existing release.",
        "description": "activateRelease flips the site's pointer to an existing release. It is the\ngo-live and equally the ROLLBACK — aim it at an older release and nothing is\nrebuilt or re-copied, because releases are immutable and retained to the\nretention depth, so it is not billed: only a pointer moves.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the site slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          },
          {
            "name": "release",
            "in": "path",
            "required": true,
            "description": "Release is the release id from the path.",
            "schema": {
              "type": "string"
            },
            "example": "rel_7c31a9"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "release": "rel_7c31a9",
                "slug": "spring-launch"
              },
              "schema": {
                "$ref": "#/components/schemas/releaseRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteRelease"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/projects": {
      "get": {
        "operationId": "get_v1_projects",
        "summary": "list lists every project the caller's org owns, newest first.",
        "description": "list lists every project the caller's org owns, newest first. Org is the bound\nisolation boundary, so another tenant's projects are never returned.",
        "tags": [
          "projects"
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "post": {
        "operationId": "post_v1_projects",
        "summary": "create registers a new project (a static site) in the caller's org.",
        "description": "create registers a new project (a static site) in the caller's org. The slug is\nderived from the name when omitted, must be free in this org, and becomes the\nproject's public subdomain, so a reserved label is refused.",
        "tags": [
          "projects"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "description": "campaign microsite",
                "framework": "next",
                "name": "Spring Launch",
                "slug": "spring-launch",
                "visibility": "private"
              },
              "schema": {
                "$ref": "#/components/schemas/siteCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteProject"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/projects/fork": {
      "post": {
        "operationId": "post_v1_projects_fork",
        "summary": "fork creates a real project seeded from a published example.",
        "description": "fork creates a real project seeded from a published example. The parent is a\nstarter-kit template from the embedded gallery catalog or any live project on\nthe platform, it funnels through the SAME create path so slug validation and\nconflict handling are not duplicated, and the parent it actually resolved is\nstamped on the child, so attribution is recorded at fork time rather than\nreconstructed later.",
        "tags": [
          "projects"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": "My Portfolio",
                "slug": "portfolio",
                "target": "my-portfolio",
                "variant": "dark"
              },
              "schema": {
                "$ref": "#/components/schemas/siteFork"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteProject"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/projects/{slug}": {
      "delete": {
        "operationId": "delete_v1_projects_slug",
        "summary": "del deletes one project of the caller's org and everything it published.",
        "description": "del deletes one project of the caller's org and everything it published. The\nsubdomain binding, the release history and the object-store content all go, so\nthe slug is free to reclaim and a reclaimed slug inherits no rollback menu.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_projects_slug",
        "summary": "get reads one project of the caller's org.",
        "description": "get reads one project of the caller's org. It returns the status, live URL,\nframework and linked repo, and a slug in another org is reported not-found.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteProject"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_v1_projects_slug",
        "summary": "update edits one project of the caller's org.",
        "description": "update edits one project of the caller's org. Every field is a pointer, so an\nabsent one is left alone and an explicit null or empty clears it; hidden and\nhiddenReason are moderation and are ignored unless the caller is an operator.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path — which project to edit.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "description": "campaign microsite",
                "slug": "spring-launch",
                "upstream": "UI8 — Fitness Pro Website UI Kit",
                "visibility": "public"
              },
              "schema": {
                "$ref": "#/components/schemas/siteUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteProject"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/projects/{slug}/deploy": {
      "post": {
        "operationId": "post_v1_projects_by_slug_deploy",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/projects/{slug}/deployments": {
      "get": {
        "operationId": "get_v1_projects_slug_deployments",
        "summary": "listDeployments lists one project's deployments, newest first.",
        "description": "listDeployments lists one project's deployments, newest first. Each row carries\nthe version, status, source and the live URL that deployment produced.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/projects/{slug}/deployments/{id}": {
      "get": {
        "operationId": "get_v1_projects_slug_deployments_id",
        "summary": "getDeployment reads one deployment of one project: its version, status, source",
        "description": "getDeployment reads one deployment of one project: its version, status, source\ncommit, byte and file counts, and the URL it went live at.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the deployment id from the path.",
            "schema": {
              "type": "string"
            },
            "example": "dep_2f9c1a"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteDeployment"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/projects/{slug}/deployments/{id}/complete": {
      "post": {
        "operationId": "post_v1_projects_slug_deployments_id_complete",
        "summary": "completeDeployment is the CI completion hook for the git path.",
        "description": "completeDeployment is the CI completion hook for the git path. After CI syncs the\nbuilt site to object storage this flips the queued deployment to live or error,\nand only a live completion is billed; keys is the manifest CI uploaded, and\nsupplying it lets cloud delete what CI replaced.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the queued deployment id from the path.",
            "schema": {
              "type": "string"
            },
            "example": "dep_2f9c1a"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "bytes": 1048576,
                "commit": "9f2c1ab",
                "files": 42,
                "id": "dep_2f9c1a",
                "slug": "spring-launch",
                "status": "live"
              },
              "schema": {
                "$ref": "#/components/schemas/completeReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteDeployment"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/projects/{slug}/domains": {
      "get": {
        "operationId": "get_v1_projects_slug_domains",
        "summary": "listDomains returns every host this site holds.",
        "description": "listDomains returns every host this site holds. The live ones come back beside\nany pending claim with the DNS records it still owes.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteDomains"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_projects_slug_domains",
        "summary": "setDomains attaches custom public hostnames to this org's static site.",
        "description": "setDomains attaches custom public hostnames to this org's static site. Binding a\nhost you do not own would let you shadow it at the edge, so which outcome you get\ndepends on whether ownership is already established:\n\n  - SuperAdmin or the platform-operator org → bound VERIFIED immediately. The\n    operator manages customer DNS, so its bind is itself the vouch.\n  - any other org → the host is CLAIMED as pending and the response carries the\n    DNS challenge. The claim HOLDS the name so nobody else can take it, but it\n    does not route until POST .../domains/{host}/verify proves control.\n\nBefore this was wired, a non-operator org got a flat 403 and could not bind at\nall; the only way onto a custom domain was to ask an operator. Now it is the\nsame DNS-01 self-serve the apps path has always had, over the same primitives.\n\nFirst-come and reserved-label guards are the store's. Claims and binds are\nidempotent for the same (org, slug) — a redeploy or repeat call is safe, and a\nre-claim returns the SAME token rather than invalidating a record the customer\nhas already published.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path — which site to bind the hosts to.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "domains": [
                  "launch.example.com"
                ],
                "slug": "spring-launch"
              },
              "schema": {
                "$ref": "#/components/schemas/setDomainsReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/boundDomains"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/projects/{slug}/domains/{host}": {
      "delete": {
        "operationId": "delete_v1_projects_slug_domains_host",
        "summary": "releaseDomain gives a custom host back so it can be reused.",
        "description": "releaseDomain gives a custom host back so it can be reused. A claim is FIRST-COME\nand global, so until this existed a bound or merely pending host was held\nforever: setDomains only ever adds\n(an empty list is a 400, not a clear), delete-project unbinds the site's own bare\nslug and nothing else, and there was no third writer. A customer who mistyped a\ndomain, or claimed one they later moved elsewhere, could neither reuse it nor let\nanyone else — the row outlived every path that could reach it. Add-only ownership\nof a global namespace is not ownership, it is a leak.\n\nScoped to (host, org, slug) by UnbindHost, so a release can only ever drop THIS\ntenant's own claim; another org's identical-host row is untouched (it cannot exist\n— the host is unique — but the scoping states the guarantee). Idempotent: releasing\na host we do not hold is a clean 204, never a 404 that would let a caller probe\nwhich hosts other tenants hold.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "description": "Host is the custom hostname from the path.",
            "schema": {
              "type": "string"
            },
            "example": "launch.example.com"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/projects/{slug}/domains/{host}/verify": {
      "post": {
        "operationId": "post_v1_projects_slug_domains_host_verify",
        "summary": "verifyDomain resolves the DNS challenge for a pending custom-host claim.",
        "description": "verifyDomain resolves the DNS challenge for a pending custom-host claim. On\nsuccess the host is promoted and begins routing at the edge; on not-yet it\nreturns the honest still-pending view rather than an error, because the check\nran and simply did not find the record, so the customer retries once DNS\npropagates.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "description": "Host is the custom hostname from the path.",
            "schema": {
              "type": "string"
            },
            "example": "launch.example.com"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "host": "launch.example.com",
                "slug": "spring-launch"
              },
              "schema": {
                "$ref": "#/components/schemas/domainRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hostClaim"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/projects/{slug}/purge": {
      "post": {
        "operationId": "post_v1_projects_slug_purge",
        "summary": "purge flushes a project's edge cache without redeploying it.",
        "description": "purge flushes a project's edge cache without redeploying it. The object-store\norigin is never written or deleted, so the live build keeps serving and only\nstale edge copies drop; an edge miss is non-fatal and the updated project is\nreturned either way, so the caller sees the new lastPurgeAt.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "slug": "spring-launch"
              },
              "schema": {
                "$ref": "#/components/schemas/projectRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteProject"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/sites": {
      "get": {
        "operationId": "get_v1_sites",
        "summary": "listSites lists the org's deployed sites at their public URLs.",
        "description": "listSites lists the org's deployed sites at their public URLs. Only projects\nthat are actually live appear; one that never deployed is not a site yet.",
        "tags": [
          "sites"
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "post": {
        "operationId": "post_v1_sites",
        "tags": [
          "sites"
        ]
      }
    },
    "/v1/sites/deploy": {
      "post": {
        "operationId": "post_v1_sites_deploy",
        "tags": [
          "sites"
        ]
      }
    },
    "/v1/sites/{slug}/publish": {
      "post": {
        "operationId": "post_v1_sites_by_slug_publish",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sites/{slug}/releases": {
      "get": {
        "operationId": "get_v1_sites_slug_releases",
        "summary": "listReleases returns a site's releases newest-first, marking the active one.",
        "description": "listReleases returns a site's releases newest-first, marking the active one.\nIt is the rollback menu: any row here can be activated.",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the project slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "post": {
        "operationId": "post_v1_sites_by_slug_releases",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sites/{slug}/releases/{release}/activate": {
      "post": {
        "operationId": "post_v1_sites_slug_releases_release_activate",
        "summary": "activateRelease flips the site's pointer to an existing release.",
        "description": "activateRelease flips the site's pointer to an existing release. It is the\ngo-live and equally the ROLLBACK — aim it at an older release and nothing is\nrebuilt or re-copied, because releases are immutable and retained to the\nretention depth, so it is not billed: only a pointer moves.",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the site slug from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-launch"
          },
          {
            "name": "release",
            "in": "path",
            "required": true,
            "description": "Release is the release id from the path.",
            "schema": {
              "type": "string"
            },
            "example": "rel_7c31a9"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "release": "rel_7c31a9",
                "slug": "spring-launch"
              },
              "schema": {
                "$ref": "#/components/schemas/releaseRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/siteRelease"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Record": {
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "boundDomains": {
        "properties": {
          "bound": {
            "description": "Bound is one claim view per host in the request, with its DNS challenge.",
            "items": {
              "$ref": "#/components/schemas/hostClaim"
            },
            "type": "array"
          },
          "domains": {
            "description": "Domains are the site's hosts that are verified and routing.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "org": {
            "description": "Org is the owning tenant.",
            "type": "string"
          },
          "slug": {
            "description": "Slug is the site the hosts were bound to.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "completeReq": {
        "properties": {
          "bytes": {
            "type": "integer"
          },
          "commit": {
            "type": "string"
          },
          "files": {
            "type": "integer"
          },
          "id": {
            "description": "ID is the queued deployment id from the path.",
            "type": "string"
          },
          "keys": {
            "description": "Keys is the manifest CI just uploaded, RELATIVE to the deployment prefix. It\nis what replaces `aws s3 sync --delete`: an upload grant authorizes writes\nonly, so CI cannot remove a file, and cloud reconciles the prefix against\nthis list instead (grant.go). Omit it and nothing is deleted — the prefix\nonly grows, which is the old pre-grant behaviour and a safe default.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "liveUrl": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "slug": {
            "description": "Slug is the project slug from the path.",
            "type": "string"
          },
          "status": {
            "description": "live | error",
            "type": "string"
          }
        },
        "type": "object"
      },
      "domainRef": {
        "properties": {
          "host": {
            "description": "Host is the custom hostname from the path.",
            "type": "string"
          },
          "slug": {
            "description": "Slug is the project slug from the path.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "hostClaim": {
        "properties": {
          "createdAt": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "records": {
            "items": {
              "$ref": "#/components/schemas/Record"
            },
            "type": "array"
          },
          "status": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "projectRef": {
        "properties": {
          "slug": {
            "description": "Slug is the project slug from the path.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "releaseRef": {
        "properties": {
          "release": {
            "description": "Release is the release id from the path.",
            "type": "string"
          },
          "slug": {
            "description": "Slug is the site slug from the path.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "setDomainsReq": {
        "properties": {
          "domains": {
            "description": "Domains are the custom hostnames to attach. At least one is required.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "slug": {
            "description": "Slug is the project slug from the path — which site to bind the hosts to.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "siteCreate": {
        "properties": {
          "analytics": {
            "description": "Analytics is the opt-OUT for the wired-by-default analytics beacon: absent\n(nil) ⇒ ON (the default); explicit false ⇒ off. A pointer so \"unset\" is\ndistinguishable from \"false\" — the only way to turn the default off.",
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "framework": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "repo": {
            "properties": {
              "branch": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "slug": {
            "type": "string"
          },
          "upstream": {
            "description": "Upstream/License credit the third-party work this project was published\nfrom. Taken from any caller: disclaiming authorship can only cost the\npublisher credit, so it needs no gate (see Project.Upstream).",
            "type": "string"
          },
          "visibility": {
            "description": "Visibility is \"public\" (the default when absent) or \"private\". Publishing\npublicly is ungated — that is the point of a community. Going PRIVATE is\nthe paid feature, so an unfunded org asking for it is refused rather than\nsilently downgraded (see resolve).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "siteDeployment": {
        "properties": {
          "bucket": {
            "type": "string"
          },
          "bytes": {
            "type": "integer"
          },
          "commit": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "files": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "liveUrl": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          },
          "upload": {
            "$ref": "#/components/schemas/uploadGrant",
            "description": "Upload is the prefix-scoped, short-lived S3 write grant handed to CI with a\nqueued git deployment, so it needs no bucket credential (grant.go). Present\nONLY on the 202 that creates the deployment — it is never stored and never\nreplayed on a later read, so a grant cannot outlive the build it was minted\nfor by being fetched again."
          },
          "version": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "siteDomains": {
        "properties": {
          "claims": {
            "description": "Claims is every host on record, verified or still pending its DNS challenge.",
            "items": {
              "$ref": "#/components/schemas/hostClaim"
            },
            "type": "array"
          },
          "domains": {
            "description": "Domains are the hosts that are verified and routing.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "org": {
            "description": "Org is the owning tenant.",
            "type": "string"
          },
          "slug": {
            "description": "Slug is the site the hosts belong to.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "siteFork": {
        "properties": {
          "name": {
            "description": "target project name (optional; defaults to the parent's title)",
            "type": "string"
          },
          "slug": {
            "description": "parent slug to fork — catalog template or published project (required)",
            "type": "string"
          },
          "target": {
            "description": "Target overrides the derived project slug (optional; defaults to the\nparent slug). Kept distinct from Slug so callers can rename on fork.",
            "type": "string"
          },
          "variant": {
            "description": "Variant picks a template's format/page/theme (optional; defaults to the\ntemplate's first shape). This is the axis the catalog used to spend\nsibling slugs on, so it is expressed here, where the user's preference is.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "siteProject": {
        "properties": {
          "analytics": {
            "description": "Analytics is the wired-by-default web-analytics flag (default true). It is the\nvalue the app's static-builder reads as deployment.analytics to inject the\nbeacon. Space is the project's Base data space (\"\u003corg\u003e/\u003cslug\u003e\") a deployed\nsite posts form/forum/data submissions to under /v1/base.",
            "type": "boolean"
          },
          "bucket": {
            "type": "string"
          },
          "cacheControl": {
            "description": "Cache is the site's edge-cache state: the HTML/document Cache-Control policy\nin effect (TTL) and the last edge-purge time, so a console can show freshness.",
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "currentDeploymentId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "forkedFrom": {
            "description": "ForkedFrom is the parent this project was forked from (\"\u003corg\u003e/\u003cslug\u003e\" of a\npublished project, or a catalog template slug) — the attribution edge a\ngallery credits.",
            "type": "string"
          },
          "framework": {
            "type": "string"
          },
          "hidden": {
            "type": "boolean"
          },
          "hiddenReason": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lastPurgeAt": {
            "type": "integer"
          },
          "license": {
            "type": "string"
          },
          "liveUrl": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "repo": {
            "$ref": "#/components/schemas/siteRepo"
          },
          "slug": {
            "type": "string"
          },
          "space": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          },
          "upstream": {
            "description": "Upstream/License credit the third-party work this project was published\nfrom, and the terms it carries. Omitted when nothing is declared: an absent\ncredit means \"nobody has said\", not \"there is nothing to say\".",
            "type": "string"
          },
          "visibility": {
            "description": "Visibility is \"public\" or \"private\", and Hidden reports platform\nmoderation. Both are always present (never omitempty) so a consumer can\ntell a real answer from \"this API is too old to say\" — and so a console\nnever renders a project as public because a field was missing.\n\nAuthorship is deliberately absent: it is Org, above.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "siteRelease": {
        "properties": {
          "active": {
            "type": "boolean"
          },
          "bytes": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "objects": {
            "type": "integer"
          },
          "releaseId": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "siteRepo": {
        "properties": {
          "branch": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "siteUpdate": {
        "properties": {
          "cacheControl": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "framework": {
            "type": "string"
          },
          "hidden": {
            "description": "Hidden is MODERATION, and the only admin-gated field on this body: it pulls\na public project out of the catalogue from admin.hanzo.ai without editing\nthe publisher's own visibility choice, so un-hiding restores exactly what\nthey asked for. A tenant sending it is ignored.",
            "type": "boolean"
          },
          "hiddenReason": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "repo": {
            "properties": {
              "branch": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "slug": {
            "description": "Slug is the project slug from the path — which project to edit.",
            "type": "string"
          },
          "upstream": {
            "description": "Upstream/License credit the third-party work this app was published from —\nsettable after the fact, because the demos that need crediting most are the\nones already live. Pointers so \"\" clears a credit and absent leaves it.",
            "type": "string"
          },
          "visibility": {
            "description": "Visibility flips an existing project between \"public\" and \"private\". Same\nONE rule as at create: public is free, private needs a paid plan.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "uploadGrant": {
        "properties": {
          "expiresAt": {
            "type": "integer"
          },
          "fields": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          },
          "maxBytes": {
            "type": "integer"
          },
          "prefix": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
