{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package dataset is the per-org dataset plane of /v1/ml: a dataset is a VERSIONED, IMMUTABLE snapshot of one tenant's own event surface, and this is where it is declared, materialised, described, exported and disposed of.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "ml"
    }
  ],
  "paths": {
    "/v1/ml/datasets": {
      "get": {
        "operationId": "mlDatasets",
        "summary": "List this org's datasets",
        "description": "Datasets lists this org's datasets, each with its newest version. An org that\nhas declared none gets an empty list; a store that cannot be reached gets a\nrefusal, never an empty list, because the two read identically and only one of\nthem is true.",
        "tags": [
          "ml"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlDatasetList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "mlCreateDataset",
        "summary": "Declare the next version of a dataset",
        "description": "Declares the next version of a dataset from a bound query over\nthis org's own feature surface.\n\nIt mints a VERSION and writes no rows: a version is declared, then materialised\nonce, then never rewritten. Version numbers are monotone and never reused, so\n\"version 3 of signups\" means one thing forever — which is the whole reason a\nmodel can cite one.\n\nThe window is bounded by the source's retention, the horizon by a year, the\nrows by the plane's cap, and the number of datasets and versions per org by\ntheir own limits. Every refusal names which bound it hit.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "from": "2026-01-01T00:00:00Z",
                "horizon": 14,
                "kind": "person",
                "name": "signups",
                "to": "2026-04-01T00:00:00Z"
              },
              "schema": {
                "$ref": "#/components/schemas/mlDatasetSpec"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlDataset"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/datasets/{name}": {
      "delete": {
        "operationId": "mlDeleteDataset",
        "summary": "Dispose of one dataset and every version of it",
        "description": "Disposes of one dataset and every version of it — the register\nrows and the bytes together.\n\nThis is the ONLY expiry in this plane. Neither table carries a TTL, deliberately:\na table TTL is a fleet-wide clock no tenant can hold longer or shorten, which is\nthe opposite of a retention decision belonging to the tenant whose records they\nare. Disposal is a partition drop on (org, name), so the tenant is the first\ncomponent of the thing being dropped and a disposal cannot be spelled across one.\n\nIt is not reversible and there is no soft state in between. A dataset a model\ncited is gone once this returns, which is exactly what a retention obligation\nasks for and exactly why the answer says what went.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the dataset, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "signups"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlDisposal"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "get": {
        "operationId": "mlDataset",
        "summary": "Describe every version of one dataset",
        "description": "Dataset describes every version of one dataset, newest first — the whole\nhistory, because the point of a version is that the older ones are still there\nand a model fitted last quarter cites one of them.\n\nA name this org does not own answers 404, exactly as an unknown name does, so a\nprobe learns nothing about another tenant's datasets.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the dataset, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "signups"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlDatasetVersions"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/datasets/{name}/export": {
      "get": {
        "operationId": "mlExportDataset",
        "summary": "Read a version's rows back, one page at a time",
        "description": "Reads a published version's rows back, one bounded page at a\ntime, in the version's own stable row order.\n\nOnly a published version can be exported. Rows written by an attempt that never\ncompleted are inert — no register row names them — and they are disposed of with\nthe dataset.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the dataset, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "signups"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Version is the version to read. Zero takes the newest published one.",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "split",
            "in": "query",
            "required": false,
            "description": "Split narrows to train, val or test. Empty reads every split.",
            "schema": {
              "type": "string"
            },
            "example": "train"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset is where the page starts, in the version's own row order (by id,\nwhich is derived from the row and therefore stable forever).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit is how many rows to return. Zero and anything above the plane's bound\ntake the bound.",
            "schema": {
              "type": "integer"
            },
            "example": 500
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlDatasetRows"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/datasets/{name}/lineage": {
      "get": {
        "operationId": "mlDatasetLineage",
        "summary": "Show where a version's rows came from, and whether that can still be demonstrated",
        "description": "Shows where a version's rows came from and whether that can\nstill be demonstrated.\n\nThe answer is MEASURED, not recalled: the plane asks the source the same\nbounded question again and compares it to the fingerprint taken when the\nversion was built. When the source has since expired the window, the dataset\nstill holds its own rows and this says plainly that they can no longer be\nre-derived — an admitted gap is actionable, an unfalsifiable claim is not.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the dataset, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "signups"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Version is the version to trace. Zero takes the newest published one.",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlLineage"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/datasets/{name}/materialize": {
      "post": {
        "operationId": "mlMaterializeDataset",
        "summary": "Materialise the declared version into immutable rows",
        "description": "Builds the declared version into immutable rows and answers\n202 as soon as the attempt is on record.\n\nIt never holds the request open for the work: a materialisation is a bounded\nwarehouse scan, and letting an HTTP client's timeout be a data plane's timeout\nis how one tenant's retry loop becomes everyone's outage. ONE materialisation\nruns per org at a time; a second is refused rather than queued, because a queue\nadmits the same work later and the honest answer to \"again\" while one is\nrunning is that one is running.\n\nOnly a DECLARED version is admitted. A published version is immutable, and a\nversion whose earlier attempt did not complete is never re-attempted — that\nwould union two runs' rows under one number and make the digest a lie. In both\ncases the answer is to declare a new version, which is what a second run over a\nmoving source honestly is.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the dataset, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "signups"
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlDataset"
                }
              }
            },
            "description": "accepted"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "mlDataset": {
        "properties": {
          "at": {
            "description": "At is when this version last changed state, and By who.",
            "type": "string"
          },
          "by": {
            "type": "string"
          },
          "counts": {
            "$ref": "#/components/schemas/mlSplitCounts",
            "description": "Counts is how the rows fall across the splits."
          },
          "digest": {
            "description": "Digest fingerprints the SPEC and the ROWS together. Two materialisations of\none spec agree on it or the plane says they do not.",
            "type": "string"
          },
          "name": {
            "description": "Name and Version identify the version.",
            "type": "string"
          },
          "refusal": {
            "description": "Refusal names why there are no bytes, when there are none.",
            "type": "string"
          },
          "running": {
            "description": "Running is true while THIS process is materialising the version. A version\nthat is `materializing` and not running was started by a process that is\ngone — two states the register cannot tell apart, because a register cannot\nknow which processes are alive.",
            "type": "boolean"
          },
          "share": {
            "description": "Share is the fraction of the window's subjects admitted, in thousandths.\n1000 means the whole window fitted under the cap; anything less means the\nversion is a reproducible sample and says by how much.",
            "type": "integer"
          },
          "spec": {
            "$ref": "#/components/schemas/mlDatasetSpec",
            "description": "Spec is the bound query this version was built from, exactly as recorded."
          },
          "status": {
            "description": "Status is declared, materializing, ready or refused. Only `ready` has bytes,\nand `ready` is terminal: a published version is never rewritten.",
            "type": "string"
          },
          "truncated": {
            "description": "Truncated is true when the row cap bound before the window ran out. The\ntrailing subject is dropped whole when that happens, because half a subject\non one side of a split is exactly the leak the grouping prevents.",
            "type": "boolean"
          },
          "version": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlDatasetList": {
        "properties": {
          "items": {
            "description": "Items is one entry per dataset, carrying its newest version. Never null: an\norg that has declared nothing gets an empty array.",
            "items": {
              "$ref": "#/components/schemas/mlDataset"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "mlDatasetRow": {
        "properties": {
          "at": {
            "description": "At is the row's instant.",
            "type": "string"
          },
          "id": {
            "description": "ID names the row forever. It is DERIVED from the row's own subject and\ninstant, not allocated, so two materialisations of the same fact agree on it\nwithout coordinating.",
            "type": "string"
          },
          "kind": {
            "description": "Kind and Subject name whose row this is.",
            "type": "string"
          },
          "point": {
            "description": "Point is the coordinates, in the order the version's spec names its dims.",
            "items": {
              "type": "number"
            },
            "type": "array"
          },
          "split": {
            "description": "Split is train, val or test.",
            "type": "string"
          },
          "subject": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "mlDatasetRows": {
        "properties": {
          "dataset": {
            "type": "string"
          },
          "digest": {
            "description": "Digest is the version's fingerprint. An exported page that did not carry it\nwould be bytes with no way to say which dataset they are.",
            "type": "string"
          },
          "dims": {
            "description": "Dims names what each coordinate of Point means, in Point's own order.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "description": "Offset and Limit are the page actually served, which may be smaller than the\none asked for.",
            "type": "integer"
          },
          "rows": {
            "description": "Rows is the page. Never null.",
            "items": {
              "$ref": "#/components/schemas/mlDatasetRow"
            },
            "type": "array"
          },
          "version": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlDatasetSpec": {
        "properties": {
          "cuts": {
            "description": "Cuts are the two RFC 3339 instants dividing train | val | test. Omit them to\ntake 70% and 85% of the window by time. Splitting is TEMPORAL and then\ngrouped by subject — a random split puts one device on both sides of the\nline and the model memorises the entity instead of the behaviour.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "dims": {
            "description": "Dims are the coordinates to carry, by published name. Empty takes the whole\nsurface. They are stored in the plane's own order, never the order given, so\ntwo requests naming the same dims produce identical rows.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "from": {
            "description": "From and To bound the event window, half-open, RFC 3339. The window may not\nbe longer than the source's own retention: past that, its older half is\nalready gone and the dataset would silently be shorter than it says.",
            "type": "string"
          },
          "horizon": {
            "description": "Horizon is how many days a row must have aged before it may be admitted. It\nis what keeps a fact that was not yet knowable at scoring time out of a\ntraining set: a chargeback lands 30 to 120 days after the transaction it\ncondemns, so 120 for the payment lane and 14 for signup abuse. Zero admits\nthe whole window and is honest only where the outcome is immediate.",
            "type": "integer"
          },
          "kind": {
            "description": "Kind narrows to one subject kind — person, session or account. Empty takes\nevery kind.",
            "type": "string"
          },
          "name": {
            "description": "Name identifies the dataset across its versions: lower-case letters, digits\nand hyphens, starting with a letter.",
            "type": "string"
          },
          "rows": {
            "description": "Rows caps the materialisation. Zero takes the plane's own bound.",
            "type": "integer"
          },
          "seed": {
            "description": "Seed decides WHICH subjects are admitted when the window holds more rows\nthan the cap allows. It is recorded on the version, so a capped dataset is\nreproducible rather than being whichever rows the store returned first.\nOmit it to seed from the dataset's name.",
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "mlDatasetVersions": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/mlDataset"
            },
            "type": "array"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "mlDisposal": {
        "properties": {
          "dataset": {
            "type": "string"
          },
          "rows": {
            "type": "integer"
          },
          "versions": {
            "description": "Versions is how many versions went, and Rows how many rows they held between\nthem, as the register recorded them.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlLineage": {
        "properties": {
          "dataset": {
            "type": "string"
          },
          "digest": {
            "description": "Digest is the version's fingerprint, repeated here so a lineage answer is\nself-contained.",
            "type": "string"
          },
          "from": {
            "description": "From and To are the window actually read — To is the window's end pulled\nback by the maturity horizon, which is usually earlier than the spec's.",
            "type": "string"
          },
          "holds": {
            "description": "Holds is what the source holds for the same window NOW. The difference\nbetween it and Rows is the whole of the reproducibility claim.",
            "type": "integer"
          },
          "refusal": {
            "type": "string"
          },
          "reproducible": {
            "description": "Reproducible is true when the source still holds what this version was built\nfrom. Refusal says why not, when it is false.",
            "type": "boolean"
          },
          "retention": {
            "description": "Retention is the source's own expiry rule as the store reports it, read at\nmaterialisation time rather than assumed. A source whose retention is\nshorter than this window cannot re-derive it.",
            "type": "string"
          },
          "rows": {
            "description": "Rows and Subjects are what the source held for that window at\nmaterialisation time.",
            "type": "integer"
          },
          "share": {
            "description": "Share is the fraction of subjects admitted, in thousandths.",
            "type": "integer"
          },
          "source": {
            "description": "Source is the plane the rows were derived from.",
            "type": "string"
          },
          "subjects": {
            "type": "integer"
          },
          "to": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlSplitCounts": {
        "properties": {
          "judged": {
            "description": "Judged is how many rows carry a disposition. It is zero until a label plane\nwrites one, and reporting it plainly is what lets a model plane refuse to\nrank rather than name a winner it cannot justify.",
            "type": "integer"
          },
          "productive": {
            "description": "Productive and Unproductive are the two judged classes, so the imbalance is\nvisible before anyone trains on it.",
            "type": "integer"
          },
          "rows": {
            "type": "integer"
          },
          "subjects": {
            "description": "Subjects is how many distinct subjects the rows belong to. Every row of one\nsubject is in ONE split, so this is the real sample size — the row count\nflatters it whenever a subject is active.",
            "type": "integer"
          },
          "test": {
            "type": "integer"
          },
          "train": {
            "type": "integer"
          },
          "unproductive": {
            "type": "integer"
          },
          "val": {
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}
