{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package venue is bring your own cloud: link a DigitalOcean, AWS or GCP account and its clusters show up ready to run work.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "cloud"
    }
  ],
  "paths": {
    "/v1/cloud": {
      "get": {
        "operationId": "get_v1_cloud",
        "summary": "Returns the clouds this deployment can link and what linking each one needs — the DigitalOcean token, the AWS role and external id, the GCP credential JSON, the Azure app — plus whether the provider can be linked without storing any long-lived secret.",
        "description": "Returns the clouds this deployment can link and what linking each\none needs — the DigitalOcean token, the AWS role and external id, the GCP\ncredential JSON, the Azure app — plus whether the provider can be linked without\nstoring any long-lived secret. It is the catalog a \"connect a cloud\" screen\nrenders; it reports no account and no credential.",
        "tags": [
          "cloud"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/providersView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/cloud/accounts": {
      "get": {
        "operationId": "get_v1_cloud_accounts",
        "summary": "Lists the caller org's linked cloud accounts across every provider: which account each one is at the provider, which fleet clusters it folded, and when it was last discovered.",
        "description": "Lists the caller org's linked cloud accounts across every provider:\nwhich account each one is at the provider, which fleet clusters it folded, and\nwhen it was last discovered. Metadata only — a sealed credential never appears in\na response. Another org's accounts are not visible and not countable.",
        "tags": [
          "cloud"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cloudAccountsView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/cloud/{provider}/accounts": {
      "post": {
        "operationId": "post_v1_cloud_provider_accounts",
        "summary": "Links one of the caller org's cloud accounts and folds the Kubernetes clusters it finds there into the ONE Hanzo fleet, so they appear at /v1/clusters and can run work like any managed or bring-your-own cluster.",
        "description": "Links one of the caller org's cloud accounts and folds the Kubernetes\nclusters it finds there into the ONE Hanzo fleet, so they appear at /v1/clusters\nand can run work like any managed or bring-your-own cluster. Answers 201.\n\nThe credential is verified LIVE against the provider BEFORE anything is stored,\nso a bad one is refused and nothing is written; it is then sealed in the org's own\nKMS namespace and never appears in a response, the account index, or a log line.\nDiscovery follows, and a cluster that fails to fold is reported as DATA in the\nclusters list rather than failing the link.\n\nRe-linking a label that already exists re-seals its credential and re-folds it, so\nthis is how a rotated token is replaced. Requires org admin.",
        "tags": [
          "cloud"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the cloud being linked, from the path: digitalocean, aws, gcp\nor azure.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/venueLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountFoldView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/cloud/{provider}/accounts/{label}": {
      "delete": {
        "operationId": "delete_v1_cloud_provider_accounts_label",
        "summary": "Forgets one linked cloud account: it detaches every fleet cluster THIS account folded (its own names, in its own shard — a neighbour's cluster of the same name is untouched), deletes the sealed credential, and drops the index row.",
        "description": "Forgets one linked cloud account: it detaches every fleet cluster\nTHIS account folded (its own names, in its own shard — a neighbour's cluster of\nthe same name is untouched), deletes the sealed credential, and drops the index\nrow.\n\nIt is idempotent and deliberately not an existence oracle: an account this org\ndoes not hold answers exactly the same as one it just removed. A cluster that\nfails to detach is logged and the unlink continues, so a dead provider cannot\nstrand a credential. Requires org admin.",
        "tags": [
          "cloud"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the cloud the account belongs to: digitalocean, aws, gcp or\nazure. An unknown provider is not found.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "path",
            "required": true,
            "description": "Label is the org-chosen name of the account within that provider. Empty\nmeans \"default\"; anything outside 1–64 of [A-Za-z0-9._-] is refused.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unlinkedView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/cloud/{provider}/accounts/{label}/sync": {
      "post": {
        "operationId": "post_v1_cloud_provider_accounts_label_sync",
        "summary": "Re-discovers one already-linked cloud account and reconciles what it folded: kubeconfigs are refreshed, clusters that appeared since the last sync are folded, and clusters this account folded that the provider no longer returns are detached — only this account's own, in the fleet shard it was linked into.",
        "description": "Re-discovers one already-linked cloud account and reconciles what it\nfolded: kubeconfigs are refreshed, clusters that appeared since the last sync are\nfolded, and clusters this account folded that the provider no longer returns are\ndetached — only this account's own, in the fleet shard it was linked into.\n\nIt is idempotent, it reads the credential already sealed at link time, and a\ndiscovery failure leaves the existing fold set alone rather than mass-detaching\nit. An account this org has not linked is not found. Requires org admin.",
        "tags": [
          "cloud"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the cloud the account belongs to: digitalocean, aws, gcp or\nazure. An unknown provider is not found.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "path",
            "required": true,
            "description": "Label is the org-chosen name of the account within that provider. Empty\nmeans \"default\"; anything outside 1–64 of [A-Za-z0-9._-] is refused.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountFoldView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "accountFoldView": {
        "properties": {
          "account": {
            "$ref": "#/components/schemas/cloudAccountView",
            "description": "Account is the account as it is now recorded."
          },
          "clusters": {
            "description": "Clusters is one entry per cluster discovered in the account. It is empty\nwhen discovery itself failed, which leaves the previously folded set\nuntouched rather than mass-detaching it.",
            "items": {
              "$ref": "#/components/schemas/clusterResult"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "cloudAccountView": {
        "properties": {
          "account": {
            "description": "Account is the provider's human label for it, e.g. the DigitalOcean team\nemail.",
            "type": "string"
          },
          "clusters": {
            "description": "Clusters is the fleet names this account currently owns. Unlinking detaches\nexactly these and nothing else.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "externalId": {
            "description": "ExternalID is the provider's own identifier for the account — a\nDigitalOcean account uuid, an AWS account id, a GCP project.",
            "type": "string"
          },
          "label": {
            "description": "Label is the org-chosen name for this account within the provider, which is\nhow a second account at the same provider is addressed. Defaults to\n\"default\".",
            "type": "string"
          },
          "linkedAt": {
            "description": "LinkedAt is when the account was first linked, RFC3339 UTC. Re-linking the\nsame label keeps the original.",
            "type": "string"
          },
          "project": {
            "description": "Project is the fleet shard the account's clusters were folded into,\nrecorded at link time so a later sync or unlink acts on the same shard.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the cloud the account belongs to: digitalocean, aws, gcp or\nazure.",
            "type": "string"
          },
          "syncedAt": {
            "description": "SyncedAt is when it was last discovered, RFC3339 UTC.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "cloudAccountsView": {
        "properties": {
          "accounts": {
            "description": "Accounts is every account this org has linked, across all providers. Empty\nwhen it has linked none.",
            "items": {
              "$ref": "#/components/schemas/cloudAccountView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "clusterResult": {
        "properties": {
          "amdGpu": {
            "description": "AmdGPU is how many AMD GPUs those nodes advertise.",
            "type": "integer"
          },
          "cluster": {
            "description": "Cluster is the stable fleet name the cluster was folded under — the name\n/v1/clusters shows and a workload targets.",
            "type": "string"
          },
          "error": {
            "description": "Error is why this cluster did not fold — a billing denial, an unsafe\nkubeconfig, or an unreachable apiserver. It never contains credential\nmaterial.",
            "type": "string"
          },
          "folded": {
            "description": "Folded is whether it reached the fleet. False means Error says why, and\nthis cluster alone was skipped.",
            "type": "boolean"
          },
          "nodes": {
            "description": "Nodes is how many nodes the fleet counted in it.",
            "type": "integer"
          },
          "nvidiaGpu": {
            "description": "NvidiaGPU is how many NVIDIA GPUs those nodes advertise.",
            "type": "integer"
          },
          "region": {
            "description": "Region is the provider region it runs in.",
            "type": "string"
          },
          "source": {
            "description": "Source is the cluster's own name at the provider.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "providerCard": {
        "properties": {
          "id": {
            "description": "ID is the provider slug used in the path: digitalocean, aws, gcp, azure.",
            "type": "string"
          },
          "keyless": {
            "description": "Keyless is whether the provider can be linked WITHOUT storing a long-lived\nsecret — AWS by role assumption, GCP by workload identity federation, Azure\nby federated credential. DigitalOcean is not: it needs a stored token.",
            "type": "boolean"
          },
          "name": {
            "description": "Name is the provider's display name.",
            "type": "string"
          },
          "requires": {
            "description": "Requires names the credential fields a link body must carry for this\nprovider.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "providersView": {
        "properties": {
          "providers": {
            "description": "Providers is every cloud this deployment can link, with what each needs.",
            "items": {
              "$ref": "#/components/schemas/providerCard"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "unlinkedView": {
        "properties": {
          "unlinked": {
            "description": "Unlinked is always true. Unlinking is idempotent: an account this org does\nnot hold answers the same, so a repeated call is not an error and is not an\nexistence oracle either.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "venueLinkRequest": {
        "properties": {
          "clientId": {
            "description": "ClientID is the Azure AD application id. Azure only.",
            "type": "string"
          },
          "clientSecret": {
            "description": "ClientSecret selects the service-principal flow. LEAVING IT OUT selects\nkeyless workload identity federation instead, so omitting it is a choice\nrather than an omission. Azure only.",
            "type": "string"
          },
          "credentialJson": {
            "description": "CredentialJSON is a Google credentials document — an external_account\n(workload identity federation, keyless) or a service-account key. GCP only.",
            "type": "string"
          },
          "externalId": {
            "description": "ExternalID pins that role assumption to Hanzo, which is what closes the\nconfused-deputy hole. AWS only.",
            "type": "string"
          },
          "label": {
            "description": "Label is the org-chosen name for this account within the provider, which is\nhow a second account at the same provider is addressed later. Empty means\n\"default\"; anything outside 1–64 of [A-Za-z0-9._-] is refused.",
            "type": "string"
          },
          "projectIds": {
            "description": "ProjectIDs bounds the GKE cluster sweep. GCP only.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "provider": {
            "description": "Provider is the cloud being linked, from the path: digitalocean, aws, gcp\nor azure.",
            "type": "string"
          },
          "regions": {
            "description": "Regions bounds the AWS EKS cluster sweep. AWS only.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "roleArn": {
            "description": "RoleARN is the AWS role Hanzo assumes into the account — the keyless path,\nso no access key is ever stored.",
            "type": "string"
          },
          "subscriptionIds": {
            "description": "SubscriptionIDs bounds the AKS cluster sweep. Azure only.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "tenantId": {
            "description": "TenantID is the Azure AD tenant of the app. Azure only.",
            "type": "string"
          },
          "token": {
            "description": "Token is the DigitalOcean personal access token. DigitalOcean only, and it\nis the one provider that requires storing a secret.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
