{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package company is incorporation end to end: pick a structure, add founders, pay, file, and e-sign.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "company"
    }
  ],
  "paths": {
    "/v1/company": {
      "get": {
        "operationId": "get_company",
        "summary": "Get returns the caller org's formation and the stages reachable from it, or 404 when the org has not begun one.",
        "description": "Get returns the caller org's formation and the stages reachable from it, or 404\nwhen the org has not begun one.",
        "tags": [
          "company"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/formationView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_company",
        "summary": "Begin starts the org's one formation and returns it with the stages reachable from it.",
        "description": "Begin starts the org's one formation and returns it with the stages reachable\nfrom it. It is idempotent: an org that already has a formation gets that one\nback with 200, while a first call creates it and answers 201.",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "jurisdiction": "DE",
                "name": "Acme Inc.",
                "structure": "c-corp"
              },
              "schema": {
                "$ref": "#/components/schemas/beginIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/formationView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/advance": {
      "post": {
        "operationId": "post_company_advance",
        "summary": "Advance runs the ONE guarded transition of the formation machine.",
        "description": "Advance runs the ONE guarded transition of the formation machine. It is the\nonly door between stages: the actions populate data, this decides ordering.\n\nAn edge the machine does not define answers 409; an edge whose guard is not yet\nsatisfied answers 422 naming what is missing. Reaching the terminal `company`\nstage also records the incorporation on the canonical cap table, and that must\nsucceed before the transition is persisted.",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "to": "founders"
              },
              "schema": {
                "$ref": "#/components/schemas/advanceIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/formationView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/documents": {
      "post": {
        "operationId": "post_company_documents",
        "summary": "Renders the formation documents for the chosen structure and jurisdiction, ingests each into the org's data room, and submits the state filing through the filing client.",
        "description": "Renders the formation documents for the chosen structure and\njurisdiction, ingests each into the org's data room, and submits the state\nfiling through the filing client.\n\nWith no filing partner wired the filing is recorded honestly as \"manual\" — no\nfiling id is fabricated. Available only at the documents stage.",
        "tags": [
          "company"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/formationView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/ein": {
      "post": {
        "operationId": "post_company_ein",
        "summary": "Opens the EIN application and answers what it owes.",
        "description": "Opens the EIN application and answers what it owes.\n\nThe answer states whether it can be filed ONLINE, because that is the fact\ndeciding whether the customer waits a sitting or several weeks — and it names\neach form with what that form is for, so nobody has to already know what an\nSS-4 is to understand why they are signing one.",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/einIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EIN"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/esign": {
      "post": {
        "operationId": "post_company_esign",
        "summary": "Sends the generated formation documents for signature by every founder and records the provider's reference on the formation.",
        "description": "Sends the generated formation documents for signature by every\nfounder and records the provider's reference on the formation. Available only\nat the esign stage.",
        "tags": [
          "company"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/esignOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/esign/complete": {
      "post": {
        "operationId": "post_company_esign_complete",
        "summary": "Records whether the formation documents have been signed.",
        "description": "Records whether the formation documents have been signed. It\nconsults the e-signature provider, which a real provider's webhook drives; the\nsignal is idempotent.\n\nAn explicit `signed` in the request overrides the provider's answer, which is\nthe manual path for the stub provider that never self-completes.",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "signed": true
              },
              "schema": {
                "$ref": "#/components/schemas/esignCompleteIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/formationView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/founders": {
      "post": {
        "operationId": "post_company_founders",
        "summary": "Replaces the formation's founders.",
        "description": "Replaces the formation's founders. Each founder needs a name, an\nemail and an equity share in basis points; every founder is (re)set to pending\nKYC, so a previously settled decision does not survive a change of the list.",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "founders": [
                  {
                    "email": "ada@acme.com",
                    "equityBps": 10000,
                    "name": "Ada"
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/foundersIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/formationView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/fundraise/deck": {
      "post": {
        "operationId": "post_company_fundraise_deck",
        "summary": "Share a pitch deck in the org's data room",
        "description": "Stores the request body as a document in the caller org's data room and answers with the data room id to reference it by. The deck is RAW BYTES of whatever content type is sent — a PDF, a slide export — not a JSON document: the Content-Type header is carried through to the data room as given, and `?name=` names the document, defaulting to `pitch-deck`.\n\nScoped to the caller's validated org, and only after incorporation: a formation still short of stage `company` is refused 409 and an org that never began one is 404. The route is registered AHEAD of the surface's JSON body cap deliberately, so a deck's size ceiling is the edge's rather than the cap meant for small structured records. An empty body is 400; a data room that will not take the bytes is 502.",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deckOut"
                }
              }
            }
          }
        },
        "x-public": true
      }
    },
    "/v1/company/fundraise/round": {
      "post": {
        "operationId": "post_company_fundraise_round",
        "summary": "Records a fundraising round on the org's canonical cap table.",
        "description": "Records a fundraising round on the org's canonical cap table.\nAvailable only after incorporation (stage company); roundType defaults to\nPRICED.",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": "Seed",
                "roundType": "PRICED",
                "targetAmount": 2000000
              },
              "schema": {
                "$ref": "#/components/schemas/RoundInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/roundOut"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/fundraise/safe": {
      "post": {
        "operationId": "post_company_fundraise_safe",
        "summary": "Raises an e-signature request over documents already in the org's data room — a SAFE, a convertible note, or any other fundraising paper.",
        "description": "Raises an e-signature request over documents already in the org's\ndata room — a SAFE, a convertible note, or any other fundraising paper.\nAvailable only after incorporation (stage company).",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "documentIds": [
                  "doc_safe"
                ],
                "signers": [
                  {
                    "email": "ada@acme.com",
                    "name": "Ada"
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/safeIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/safeOut"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/genesis": {
      "post": {
        "operationId": "post_company_genesis",
        "summary": "Seeds the canonical cap table with the founding allocation (stakeholders, a common share class, issued shares) and anchors the deterministic equity-genesis root on-chain.",
        "description": "Seeds the canonical cap table with the founding allocation\n(stakeholders, a common share class, issued shares) and anchors the\ndeterministic equity-genesis root on-chain.\n\nIt is idempotent: once a root is recorded the cap table is NOT re-seeded, which\nwould double-issue founder share certificates. The root is persisted even when\nthe on-chain submit fails, because the root is the tamper-evident witness and\nmust not be recomputed on retry. Available only at the genesis stage.",
        "tags": [
          "company"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/formationView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/import/captable": {
      "post": {
        "operationId": "post_company_import_captable",
        "summary": "Reads an existing company's cap table from a Google Sheet and adds its stakeholders to the canonical cap table.",
        "description": "Reads an existing company's cap table from a Google Sheet and\nadds its stakeholders to the canonical cap table.\n\nThe first row is a header and columns are matched by name (case-insensitive):\nname and email are required, type/relationship/institution optional. A sheet\nwithout name and email columns, or with no usable data rows, is refused with\n400. Available only at the import stage.",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "range": "Cap Table!A1:E100",
                "spreadsheetId": "1AbCdEfGhIjKlMnOpQrStUvWxYz"
              },
              "schema": {
                "$ref": "#/components/schemas/importCapTableIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/importCapTableOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/import/documents": {
      "post": {
        "operationId": "post_company_import_documents",
        "summary": "Ingests an existing company's corporate documents from a Google Drive folder into the org's data room.",
        "description": "Ingests an existing company's corporate documents from a Google\nDrive folder into the org's data room. The import is shallow — sub-folders are\nskipped, not walked — and available only at the import stage.",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "folderId": "1AbCdEfGhIjKlMnOpQrStUvWxYz"
              },
              "schema": {
                "$ref": "#/components/schemas/importDocumentsIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/importDocumentsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/kyc": {
      "post": {
        "operationId": "post_company_kyc",
        "summary": "StartKYC opens an identity-verification session for every founder with the wired provider and records each session's reference on the formation.",
        "description": "StartKYC opens an identity-verification session for every founder with the\nwired provider and records each session's reference on the formation.\n\nA start is never a decision: any terminal status the provider reports at\ninquiry time is clamped back to pending, so the payment gate can never open\nhere. A terminal status arrives only from POST /v1/company/kyc/refresh (the\nprovider) or POST /v1/company/kyc/decision (a Hanzo platform reviewer).",
        "tags": [
          "company"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kycStartOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/kyc/decision": {
      "post": {
        "operationId": "post_company_kyc_decision",
        "summary": "DecideKYC records a privileged reviewer's MANUAL decision on a founder's KYC — the human-in-the-loop path, and the ONLY route to a pass when no real provider is wired.",
        "description": "DecideKYC records a privileged reviewer's MANUAL decision on a founder's KYC —\nthe human-in-the-loop path, and the ONLY route to a pass when no real provider\nis wired. It produces a DISTINCT reviewer_confirmed, never a provider\n\"verified\".\n\nBecause Hanzo forms the entity and carries the formation KYC/AML obligation,\nthe reviewer is a HANZO platform reviewer (SuperAdmin), and the decision is\nATTRIBUTED to them.",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "ada@acme.com",
                "status": "reviewer_confirmed"
              },
              "schema": {
                "$ref": "#/components/schemas/decisionIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/formationView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/kyc/refresh": {
      "post": {
        "operationId": "post_company_kyc_refresh",
        "summary": "RefreshKYC reconciles each pending founder's KYC with the WIRED provider — the PULL path to a provider-reported terminal status.",
        "description": "RefreshKYC reconciles each pending founder's KYC with the WIRED provider — the\nPULL path to a provider-reported terminal status. For the manual provider the\ncheck stays pending; for a real provider it reflects the settled decision,\nATTRIBUTED to the provider.\n\nIt NEVER trusts a client-asserted status — the status comes from the provider\nclient — so a client cannot force a pass here, and an already-passing founder\n(e.g. a reviewer confirmation) is left untouched.",
        "tags": [
          "company"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kycRefreshOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/payment": {
      "post": {
        "operationId": "post_company_payment",
        "summary": "Charges the caller's own org the one-time Hanzo Company formation fee.",
        "description": "Charges the caller's own org the one-time Hanzo Company formation fee.\n\nIt is $999 unless the deployment sets another, and the answer is the formation\nrecord carrying its paid flag and the charge reference. It takes no body: the org is the validated tenant and the amount is the\nplatform's, never the caller's to assert.\n\nIDEMPOTENT on the formation rather than on the request: an already-paid\nformation answers 200 with the same record and is not charged again, so a\nretry or a double-clicked button costs nothing. Available only at the\n`payment` stage (409 anywhere else) and only for an org that has begun a\nformation (404 otherwise).\n\nA denial answers the fleet-wide billing contract — 402 insufficient_balance,\n402 spend_cap_exceeded, 503 balance_unavailable — carried by cloud.Denied,\nwhich is the money wire's own {\"error\":{\"code\",\"message\"}} body rather than a\nsecond vocabulary invented for this surface.\n\nThe gate is the LAST thing it does, after the stage check and the paid\nshort-circuit, so a caller the machine is about to refuse is never charged.\nThat ordering is why the gate cannot lift into middleware, where it would run\nfirst. Both facts are pinned: TestPaymentDenialWire, TestPaymentChargesLast.",
        "tags": [
          "company"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/formationView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/register": {
      "get": {
        "operationId": "get_company_register",
        "summary": "Returns the platform's whole formation register, newest activity first — every org's formation, not the caller's.",
        "description": "Returns the platform's whole formation register, newest activity\nfirst — every org's formation, not the caller's. It is a Hanzo platform\noperation: a caller who is not a platform reviewer gets 403.\n\nFilter by stage and structure, page with limit and offset. An unknown stage is\nrefused with 400 rather than returning a silently empty page.",
        "tags": [
          "company"
        ],
        "parameters": [
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Stage keeps only formations at that stage. Empty means any.",
            "schema": {
              "type": "string"
            },
            "example": "founders"
          },
          {
            "name": "structure",
            "in": "query",
            "required": false,
            "description": "Structure keeps only formations of that entity kind. Empty means any.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds the page; 0 or less means the default of 200.",
            "schema": {
              "type": "integer"
            },
            "example": 50
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset skips that many rows.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registerPage"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/register/summary": {
      "get": {
        "operationId": "get_company_register_summary",
        "summary": "Counts the platform's formations by stage — the register's shape in one read, so a queue that is growing is visible as a number rather than inferred by paging the list.",
        "description": "Counts the platform's formations by stage — the register's\nshape in one read, so a queue that is growing is visible as a number rather\nthan inferred by paging the list. A Hanzo platform operation: a caller who is\nnot a platform reviewer gets 403.",
        "tags": [
          "company"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registerCounts"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/review": {
      "get": {
        "operationId": "get_company_review",
        "summary": "Reports the founders whose KYC is not yet settled, oldest formation first, so the queue drains in the order founders have been waiting.",
        "description": "Reports the founders whose KYC is not yet settled, oldest formation\nfirst, so the queue drains in the order founders have been waiting. A Hanzo\nplatform operation: a caller who is not a platform reviewer gets 403.\n\nIt only says who is waiting; the decision itself is POST\n/v1/company/kyc/decision.",
        "tags": [
          "company"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds how many formations are scanned; 0 or less means the default of 200.",
            "schema": {
              "type": "integer"
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reviewQueue"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/skip": {
      "post": {
        "operationId": "post_company_skip",
        "summary": "Skip marks the org as already incorporated and moves it onto the import path, so an existing company brings its documents and cap table in instead of forming a new entity.",
        "description": "Skip marks the org as already incorporated and moves it onto the import path,\nso an existing company brings its documents and cap table in instead of forming\na new entity. Available only at the structure stage.",
        "tags": [
          "company"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/formationView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/structure": {
      "put": {
        "operationId": "put_company_structure",
        "summary": "Records the entity kind, the state of formation and the proposed name.",
        "description": "Records the entity kind, the state of formation and the proposed\nname. Available only at the structure stage; an unknown structure or\njurisdiction, or an empty name, is refused with 400.",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "jurisdiction": "DE",
                "name": "Acme Inc.",
                "structure": "c-corp"
              },
              "schema": {
                "$ref": "#/components/schemas/structureIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/formationView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/company/tariff": {
      "post": {
        "operationId": "post_company_tariff",
        "summary": "Itemises what a formation costs before anyone commits to it.",
        "description": "Itemises what a formation costs before anyone commits to it.\n\nIt answers what is due now and what recurs, as separate figures, and marks the\nstate's filing fee as money we collect and remit rather than keep. A caller can\ntherefore show a payer the whole bill — which is the point of quoting at all,\nand was impossible while the fee was one number in an error string.\n\nA jurisdiction whose filing fee this deployment has not been told REFUSES,\nnaming the setting that fixes it. Quoting our half as though it were the total\nis the one answer that would be worse than no answer.",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tariffIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tariff"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "Charge": {
        "properties": {
          "amountCents": {
            "description": "AmountCents is what this line costs.",
            "type": "integer"
          },
          "asOf": {
            "description": "AsOf is when a pass-through amount was last checked against its source.",
            "type": "string"
          },
          "code": {
            "description": "Code names the line so a caller can branch on it without reading prose.",
            "type": "string"
          },
          "label": {
            "description": "Label is what the payer sees on the invoice.",
            "type": "string"
          },
          "passThrough": {
            "description": "PassThrough marks money we collect and remit rather than keep — the state's\nfee is not our revenue, and a quote that hides that is a quote that reads\nas a bigger margin than it is.",
            "type": "boolean"
          },
          "recurring": {
            "description": "Recurring marks a line that repeats. An agent of record is billed every\nyear for as long as the entity stands, and a payer agreeing to a one-time\ntotal is not agreeing to that.",
            "type": "string"
          },
          "source": {
            "description": "Source names who publishes this amount, for a line we merely pass through.\nEmpty for a price of ours, which needs no external authority.",
            "type": "string"
          },
          "stale": {
            "description": "Stale reports that AsOf is older than the review window — the figure may\nhave moved and nobody has looked. It does not block; it tells.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "EIN": {
        "properties": {
          "expedited": {
            "description": "Expedited reports that prioritised handling was asked for.",
            "type": "boolean"
          },
          "forms": {
            "description": "Forms are the forms this application owes, with what each is for.",
            "items": {
              "$ref": "#/components/schemas/Form"
            },
            "type": "array"
          },
          "naics": {
            "description": "NAICS is the six-digit code for what the business does. The SS-4 asks it\nand the IRS will not process an application without one.",
            "type": "string"
          },
          "number": {
            "description": "Number is the issued EIN, absent until the IRS issues it.",
            "type": "string"
          },
          "online": {
            "description": "Online reports that this application can be filed with the IRS online and\nissued in a sitting, rather than signed and posted. It is the single fact\nthat decides how long a customer waits, so it is answered rather than\nimplied by the absence of forms.",
            "type": "boolean"
          },
          "responsible": {
            "$ref": "#/components/schemas/Responsible",
            "description": "Responsible is the person the IRS holds answerable."
          },
          "status": {
            "description": "Status is how far it has got.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Filing": {
        "properties": {
          "at": {
            "description": "At is the unix second the filing record was written.",
            "type": "integer"
          },
          "note": {
            "description": "Note explains a filing Hanzo did not perform itself: what remains to be done\nand by whom.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the filing partner that performed the filing, or \"manual\" when no\npartner is wired.",
            "type": "string"
          },
          "ref": {
            "description": "Ref is the partner's or the state's filing reference. Empty when nothing was\nactually filed — no filing id is ever fabricated.",
            "type": "string"
          },
          "status": {
            "description": "Status is manual (no partner wired — a registered agent files out-of-band),\nsubmitted (the partner accepted it, awaiting the state), filed (the state\naccepted it) or rejected.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Form": {
        "properties": {
          "code": {
            "description": "Code is the IRS designation, e.g. \"SS-4\".",
            "type": "string"
          },
          "name": {
            "description": "Name is the form's own title, so a reader need not already know the code.",
            "type": "string"
          },
          "signed": {
            "description": "Signed reports whether we hold the signature.",
            "type": "boolean"
          },
          "why": {
            "description": "Why states what this form is for in this application — the same form is\nowed for different reasons on different paths.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Formation": {
        "properties": {
          "alreadyIncorporated": {
            "description": "AlreadyIncorporated declares an org that already has a legal entity, which\ntakes the import path (structure → import → company) instead of forming one.",
            "type": "boolean"
          },
          "capTableImported": {
            "description": "CapTableImported reports whether the existing company's cap table has been\nimported onto the canonical cap table.",
            "type": "boolean"
          },
          "createdAt": {
            "description": "CreatedAt is the unix second the formation was opened.",
            "type": "integer"
          },
          "documentIds": {
            "description": "DocumentIDs are the data room ids of the GENERATED formation documents.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "esignRef": {
            "description": "EsignRef is the e-signature provider's reference for the signature request.",
            "type": "string"
          },
          "filing": {
            "$ref": "#/components/schemas/Filing",
            "description": "Filing is the state-of-incorporation filing record, once documents exist."
          },
          "founders": {
            "description": "Founders is every founding stakeholder, with its equity split and KYC state.",
            "items": {
              "$ref": "#/components/schemas/Founder"
            },
            "type": "array"
          },
          "genesis": {
            "$ref": "#/components/schemas/Genesis",
            "description": "Genesis is the cap-table equity genesis, once recorded."
          },
          "imported": {
            "description": "Imported reports whether the existing company's corporate documents have been\ningested into the org's data room.",
            "type": "boolean"
          },
          "importedDocs": {
            "description": "ImportedDocs are the data room ids of the documents ingested from Drive.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "jurisdiction": {
            "description": "Jurisdiction is the state of formation: DE or WY.",
            "type": "string"
          },
          "name": {
            "description": "Name is the company name the entity is being formed under.",
            "type": "string"
          },
          "org": {
            "description": "Org is the owning org — the tenant key, and the reason there is exactly one\nformation per org.",
            "type": "string"
          },
          "paid": {
            "description": "Paid reports whether the one-time formation fee has been charged.",
            "type": "boolean"
          },
          "paymentRef": {
            "description": "PaymentRef is the billing reference recorded for the charged formation fee on\nthe org's own ledger.",
            "type": "string"
          },
          "signed": {
            "description": "Signed reports whether the formation documents have come back signed — the\ne-signature provider's answer, which a real provider's webhook drives.",
            "type": "boolean"
          },
          "stage": {
            "description": "Stage is the machine's current state: structure, founders, payment, documents,\nesign or genesis on the formation path, import on the skip path, and company\nat the terminal.",
            "type": "string"
          },
          "structure": {
            "description": "Structure is the legal entity being formed: c-corp, llc or dao-llc.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is the unix second of the most recent write to the formation.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Founder": {
        "properties": {
          "decidedBy": {
            "description": "DecidedBy is who settled a terminal KYC status: the provider name, or a\nreviewer's user id.",
            "type": "string"
          },
          "email": {
            "description": "Email is the founder's email, and the key a KYC decision addresses a founder\nby — POST /v1/company/kyc/decision matches on it.",
            "type": "string"
          },
          "equityBps": {
            "description": "EquityBps is the founder's ownership in basis points, 0–10000 (1% == 100 bps,\nso 10000 is the whole company). The founders' shares seed the cap-table genesis.",
            "type": "integer"
          },
          "kycRef": {
            "description": "KYCRef is the idv provider's session reference for this founder.",
            "type": "string"
          },
          "kycStatus": {
            "description": "KYCStatus is the founder's identity-verification state: pending, verified (a\nreal idv provider reported a pass), reviewer_confirmed (a privileged reviewer\nconfirmed out-of-band) or failed. The payment stage is unreachable until every\nfounder passes.",
            "type": "string"
          },
          "name": {
            "description": "Name is the founder's full legal name, as it appears on the formation documents.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Genesis": {
        "properties": {
          "at": {
            "description": "At is the unix second the genesis root was computed.",
            "type": "integer"
          },
          "block": {
            "description": "Block is the L1 block the anchoring transaction landed in. Set only once the\nreceipt has been read; absent otherwise.",
            "type": "integer"
          },
          "chainId": {
            "description": "ChainID is the EVM chain the root is committed to — the Hanzo L1 by default.",
            "type": "integer"
          },
          "note": {
            "description": "Note explains an unanchored genesis honestly — anchor wiring absent, or the\nsubmit error — rather than reporting a commit that did not happen.",
            "type": "string"
          },
          "root": {
            "description": "Root is the 0x-prefixed keccak256 root of the founding allocation. It is\nALWAYS computed, whether or not the on-chain anchor is wired, because the root\nis the tamper-evident witness.",
            "type": "string"
          },
          "status": {
            "description": "Status is pending (root computed, not yet on-chain) or anchored (committed).",
            "type": "string"
          },
          "txHash": {
            "description": "TxHash is the L1 transaction hash of the anchoring commit. Empty until anchored.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Registration": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is the unix second the formation was opened.",
            "type": "integer"
          },
          "name": {
            "description": "Name is the company name the entity is being formed under.",
            "type": "string"
          },
          "org": {
            "description": "Org is the org whose formation this row projects.",
            "type": "string"
          },
          "stage": {
            "description": "Stage is the formation's current state — what the platform reads to see which\nformations are stalled and where.",
            "type": "string"
          },
          "structure": {
            "description": "Structure is the legal entity being formed: c-corp, llc or dao-llc.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is the unix second of the most recent write to the formation, and\nthe key the register sorts on (newest activity first).",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Responsible": {
        "properties": {
          "country": {
            "description": "Country is where they reside, ISO 3166-1 alpha-2.",
            "type": "string"
          },
          "email": {
            "description": "Email reaches them for signature.",
            "type": "string"
          },
          "name": {
            "description": "Name is their full legal name as the IRS will hold it.",
            "type": "string"
          },
          "usTaxId": {
            "description": "USTaxID reports that they hold an SSN or ITIN. It is a BOOLEAN on purpose:\nthe number itself is never needed here and a field that could hold it is a\nfield that will eventually be logged.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "RoundInput": {
        "properties": {
          "name": {
            "description": "Name is the round's name on the cap table, e.g. \"Seed\". Required.",
            "type": "string"
          },
          "preMoneyValuation": {
            "description": "PreMoneyValuation is the valuation the round prices off, before the new money.",
            "type": "number"
          },
          "pricePerShare": {
            "description": "PricePerShare is the per-share price of a priced round.",
            "type": "number"
          },
          "roundType": {
            "description": "RoundType is PRICED, SAFE or CONVERTIBLE_NOTE. Defaults to PRICED.",
            "type": "string"
          },
          "shareClassId": {
            "description": "ShareClassID is the cap table's share class the round issues into.",
            "type": "string"
          },
          "targetAmount": {
            "description": "TargetAmount is the amount the round is raising, recorded verbatim on the\ncanonical cap table's rounds.create contract.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "Signer": {
        "properties": {
          "email": {
            "description": "Email is the address the signature request is sent to.",
            "type": "string"
          },
          "name": {
            "description": "Name is the recipient's name, as it appears on the signature request.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Tariff": {
        "properties": {
          "currency": {
            "description": "Currency is the ISO code every amount on this quote is denominated in.",
            "type": "string"
          },
          "dueNowCents": {
            "description": "DueNowCents is what is charged to begin: every non-recurring line.",
            "type": "integer"
          },
          "jurisdiction": {
            "description": "Jurisdiction is the state of formation the filing fee belongs to.",
            "type": "string"
          },
          "lines": {
            "description": "Lines are the charges, in the order a reader should see them.",
            "items": {
              "$ref": "#/components/schemas/Charge"
            },
            "type": "array"
          },
          "recurring": {
            "description": "Recurring is how often RecurringCents repeats — \"yearly\" for an agent of\nrecord. Empty when nothing on this quote recurs.",
            "type": "string"
          },
          "recurringCents": {
            "description": "RecurringCents is what repeats, and Recurring says how often.",
            "type": "integer"
          },
          "structure": {
            "description": "Structure is the entity this prices: c-corp, llc or dao-llc.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "advanceIn": {
        "properties": {
          "to": {
            "description": "To is the target stage: structure, founders, payment, documents, esign,\ngenesis, import or company.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "beginIn": {
        "properties": {
          "alreadyIncorporated": {
            "description": "AlreadyIncorporated declares an org that already has an entity, which takes\nthe import path (POST /v1/company/skip) instead of the formation path.",
            "type": "boolean"
          },
          "jurisdiction": {
            "description": "Jurisdiction is the state of formation: DE or WY.",
            "type": "string"
          },
          "name": {
            "description": "Name is the proposed company name.",
            "type": "string"
          },
          "structure": {
            "description": "Structure is the legal entity to form: c-corp, llc or dao-llc.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "decisionIn": {
        "properties": {
          "email": {
            "description": "Email identifies the founder on the formation.",
            "type": "string"
          },
          "status": {
            "description": "Status is the decision: reviewer_confirmed or failed. Nothing else is accepted.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "deckOut": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          }
        }
      },
      "einIn": {
        "properties": {
          "expedited": {
            "description": "Expedited asks for prioritised handling. Only meaningful when the\nresponsible party cannot file online.",
            "type": "boolean"
          },
          "naics": {
            "description": "NAICS is the six-digit code for what the business does.",
            "type": "string"
          },
          "responsible": {
            "$ref": "#/components/schemas/Responsible",
            "description": "Responsible is the person the IRS holds answerable for the entity."
          }
        },
        "type": "object"
      },
      "esignCompleteIn": {
        "properties": {
          "signed": {
            "description": "Signed, when present, overrides what the provider reports — the manual path\nfor a provider whose webhook is not wired. Omit it to take the provider's answer.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "esignOut": {
        "properties": {
          "esignRef": {
            "description": "EsignRef is the provider's reference for the signature request.",
            "type": "string"
          },
          "formation": {
            "$ref": "#/components/schemas/Formation",
            "description": "Formation is the org's incorporation record with the reference recorded on it."
          },
          "provider": {
            "description": "Provider is the wired e-signature provider's name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "formationView": {
        "properties": {
          "formation": {
            "$ref": "#/components/schemas/Formation",
            "description": "Formation is the org's one incorporation record."
          },
          "nextStages": {
            "description": "NextStages are the stages reachable from the formation's current stage,\nwhether or not their guards are satisfied yet.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "foundersIn": {
        "properties": {
          "founders": {
            "description": "Founders is every founding stakeholder. Each needs a name and an email, and\nequityBps between 0 and 10000 (1% == 100 bps).",
            "items": {
              "$ref": "#/components/schemas/Founder"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "importCapTableIn": {
        "properties": {
          "range": {
            "description": "Range is an optional A1 range within the sheet; empty reads the default range.",
            "type": "string"
          },
          "spreadsheetId": {
            "description": "SpreadsheetID is a Google Sheets id. Required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "importCapTableOut": {
        "properties": {
          "formation": {
            "$ref": "#/components/schemas/Formation",
            "description": "Formation is the org's incorporation record, now marked cap-table-imported."
          },
          "rows": {
            "description": "Rows is how many rows were read from the sheet, header included.",
            "type": "integer"
          },
          "stakeholdersImported": {
            "description": "StakeholdersImported is how many stakeholders the cap table accepted.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "importDocumentsIn": {
        "properties": {
          "folderId": {
            "description": "FolderID is a Google Drive folder id. Required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "importDocumentsOut": {
        "properties": {
          "formation": {
            "$ref": "#/components/schemas/Formation",
            "description": "Formation is the org's incorporation record with the imported document ids."
          },
          "ingested": {
            "description": "Ingested is how many files this call put in the data room.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "kycRefreshOut": {
        "properties": {
          "formation": {
            "$ref": "#/components/schemas/Formation",
            "description": "Formation is the org's incorporation record with each founder's reconciled status."
          },
          "provider": {
            "description": "Provider is the identity-verification provider that was consulted.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "kycSession": {
        "properties": {
          "email": {
            "description": "Email is the founder the session belongs to.",
            "type": "string"
          },
          "ref": {
            "description": "Ref is the provider's reference for the session.",
            "type": "string"
          },
          "status": {
            "description": "Status is the session's status at start, which is always pending.",
            "type": "string"
          },
          "verifyUrl": {
            "description": "VerifyURL is the hosted flow the founder visits; empty for the manual provider.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "kycStartOut": {
        "properties": {
          "formation": {
            "$ref": "#/components/schemas/Formation",
            "description": "Formation is the org's incorporation record, with each founder's session\nreference and status recorded on it."
          },
          "provider": {
            "description": "Provider is the wired identity-verification provider's name.",
            "type": "string"
          },
          "sessions": {
            "description": "Sessions is one entry per founder, in the order the founders are recorded.",
            "items": {
              "$ref": "#/components/schemas/kycSession"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "registerCounts": {
        "properties": {
          "byStage": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "ByStage counts formations per stage, keyed by the stage name.",
            "type": "object"
          },
          "total": {
            "description": "Total is every formation in the register.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "registerPage": {
        "properties": {
          "count": {
            "description": "Count is how many rows this page holds.",
            "type": "integer"
          },
          "formations": {
            "description": "Formations are the rows, newest activity first.",
            "items": {
              "$ref": "#/components/schemas/Registration"
            },
            "type": "array"
          },
          "limit": {
            "description": "Limit is the page size that was applied.",
            "type": "integer"
          },
          "offset": {
            "description": "Offset is the offset that was applied.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "reviewQueue": {
        "properties": {
          "count": {
            "description": "Count is how many founders are waiting.",
            "type": "integer"
          },
          "queue": {
            "description": "Queue is one entry per unsettled founder, oldest formation first.",
            "items": {
              "$ref": "#/components/schemas/waiting"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "roundOut": {
        "properties": {
          "roundId": {
            "description": "RoundID is the cap table's id for the recorded round.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "safeIn": {
        "properties": {
          "documentIds": {
            "description": "DocumentIDs are data room document ids to raise a signature request over. Required.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "signers": {
            "description": "Signers are the recipients, each a name and an email. Required.",
            "items": {
              "$ref": "#/components/schemas/Signer"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "safeOut": {
        "properties": {
          "esignRef": {
            "description": "EsignRef is the provider's reference for the signature request.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the wired e-signature provider's name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "structureIn": {
        "properties": {
          "jurisdiction": {
            "description": "Jurisdiction is the state of formation: DE or WY.",
            "type": "string"
          },
          "name": {
            "description": "Name is the proposed company name.",
            "type": "string"
          },
          "structure": {
            "description": "Structure is the legal entity: c-corp, llc or dao-llc.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "tariffIn": {
        "properties": {
          "agentOfRecord": {
            "description": "AgentOfRecord puts us on file as the entity's agent, yearly.",
            "type": "boolean"
          },
          "expeditedEin": {
            "description": "ExpeditedEIN prioritises the EIN.",
            "type": "boolean"
          },
          "jurisdiction": {
            "description": "Jurisdiction is the state of formation.",
            "type": "string"
          },
          "structure": {
            "description": "Structure is the entity being formed: c-corp, llc or dao-llc.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "waiting": {
        "properties": {
          "email": {
            "description": "Email is the founder's email — the key a decision is posted against.",
            "type": "string"
          },
          "founder": {
            "description": "Founder is the founder's name.",
            "type": "string"
          },
          "kycRef": {
            "description": "KYCRef is the identity-verification session reference, when one was opened.",
            "type": "string"
          },
          "kycStatus": {
            "description": "KYCStatus is the founder's unsettled status.",
            "type": "string"
          },
          "name": {
            "description": "Name is the proposed company name.",
            "type": "string"
          },
          "org": {
            "description": "Org is the tenant whose formation the founder belongs to.",
            "type": "string"
          },
          "since": {
            "description": "Since is when the formation was last touched, as a unix second.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
