{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package todo is Hanzo Todo: boards, the work items on them, and the filters that make a board.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "todo"
    }
  ],
  "paths": {
    "/v1/todo/board": {
      "get": {
        "operationId": "get_todo_board",
        "summary": "Returns a board's issues — work items with their column, priority, assignee, labels and schedule.",
        "description": "Returns a board's issues — work items with their column, priority,\nassignee, labels and schedule.\n\nWHICH board is a filter, not an address. Bound to a repository (the key from\nthe path) it is that project's board; left unbound it is the org's whole\nboard; narrowed by label it is a board smaller than any repository — which is\nthe only way an app that lives as a directory inside a shared repository can\nhave one. Every combination is the same rows through the same projection, so\nno two boards can disagree about what a column means.\n\nThe column is a LABEL on the forge, so the board and the forge web UI are the\nsame object seen twice: relabelling in either moves the card in both. A closed\nissue reads as done whatever its labels say.",
        "tags": [
          "todo"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": false,
            "description": "Key is the project whose issues to list, from the path. EMPTY means every\nproject in the org — the global board. It is a filter like the rest of\nthis struct rather than an address, which is what lets one op answer both\n\"this board\" and \"all the work\" without a second surface disagreeing with\nthe first about what a column is.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status keeps only issues in that board column: backlog, todo, in_progress,\ndone or canceled. An unknown value is refused with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind keeps only work items of that shape: issue, pr or epic. An unknown\nvalue is refused with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": false,
            "description": "Repo keeps only issues bound to that git repository.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "description": "Label keeps only issues carrying that label, compared case-insensitively.\n\nThis is how a board narrows to something SMALLER than a repository — the\none mechanism for it. An estate whose apps are directories inside one\nrepository (hanzoai/cloud carries ~140 of them) has no repository per app\nto address, so the app is a label: `label=app/meet` is the meet board.\nNothing is provisioned to make one exist; a board is the query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source keeps only issues opened from that surface: team, git, crm,\nhelpdesk, cms or agent. An unknown value is refused with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduled",
            "in": "query",
            "required": false,
            "description": "Scheduled keeps only issues that carry a date — a start, a due date or\nboth. This is the timeline's slice of the board: pass scheduled=true to\nget exactly the rows a gantt has somewhere to draw, instead of fetching\nevery issue and discarding the undated ones client-side.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/issueView"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/todo/issues": {
      "get": {
        "operationId": "get_todo_issues",
        "summary": "Answers across every project in the org.",
        "description": "Answers across every project in the org.\n\nThe org comes from the validated principal and never from the request: a\ncaller able to name the org could read another tenant's backlog, and a search\nis exactly the shape that would quietly return it.",
        "tags": [
          "todo"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Q matches an issue's title or description. A word from the issue, which is\nwhat someone remembers — not its number, which is what they are looking up.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project narrows to one team key; \"\" searches every project in the org,\nwhich is the point of this op.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status keeps one board column: backlog, todo, in_progress, done, canceled.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind keeps one shape: issue, pr, epic.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": false,
            "description": "Repo keeps issues bound to one git repository.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source keeps one origin: team, git, crm, helpdesk, cms, agent. \"git\" is\nhow you ask for the mirrored GitHub issues specifically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "description": "Assignee keeps issues held by one person. Pass \"me\" for yourself.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the answer; 0 means the default, and anything above the ceiling\nis clamped rather than refused — a search that errors on being too broad\nteaches people to guess.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issueHits"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/todo/projects": {
      "get": {
        "operationId": "get_todo_projects",
        "summary": "Returns the boards of your org — the places your work actually is.",
        "description": "Returns the boards of your org — the places your work actually\nis. The key addresses the board's issues.\n\nA BOARD IS A PLACE WORK IS, not an object somebody provisioned. So the list is\nassembled from the work itself: the repositories your org has filed issues on,\nplus the boards the index holds. A repository with nothing on it is not in the\nlist and is still perfectly addressable — GET /projects/\u003cname\u003e reads it and a\ncreate files into it — so nothing is lost by leaving it out.\n\nMeasured, which is why: reading the forge's whole repository inventory put 745\nboards here, of which all but a handful were vendored forks and mirrors\n(.github, .profile, DOMPurify, BoatAttack) that will never carry this org's\nwork. A list that long is not a list — the estate's real roadmap was in it\nsomewhere and no one could see it.\n\nThe forge half is the FORGE's answer for your own account, so two people in\none org can legitimately see different boards.",
        "tags": [
          "todo"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/todoProject"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_todo_projects",
        "summary": "Refused — a board is a repository on the forge",
        "description": "Answers 405. A todo board IS a repository on this deployment's forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.\n\nOffering it here would put a second door on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: \"not this service's job\" and \"no such thing\" are different facts, and the body names the forge so a caller knows where the job IS done.\n\nWhat this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and read the schedule a milestone is. Those are the routes beside this one.",
        "tags": [
          "todo"
        ],
        "x-public": true
      }
    },
    "/v1/todo/projects/{key}": {
      "delete": {
        "operationId": "delete_todo_projects_by_key",
        "summary": "Refused — a board is a repository on the forge",
        "description": "Answers 405. A todo board IS a repository on this deployment's forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.\n\nOffering it here would put a second door on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: \"not this service's job\" and \"no such thing\" are different facts, and the body names the forge so a caller knows where the job IS done.\n\nWhat this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and read the schedule a milestone is. Those are the routes beside this one.",
        "tags": [
          "todo"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      },
      "get": {
        "operationId": "get_todo_projects_by_key",
        "summary": "Returns one board of your org by its key — the repository name.",
        "description": "Returns one board of your org by its key — the repository name.\n404 when your org has no repository under that key, or when your own forge\naccount cannot see it.",
        "tags": [
          "todo"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the project's org-unique handle: 2-8 uppercase alphanumerics starting\nwith a letter (\"ENG\", \"OPS2\"). Matched case-insensitively.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/todoProject"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "patch": {
        "operationId": "patch_todo_projects_by_key",
        "summary": "Refused — a board is a repository on the forge",
        "description": "Answers 405. A todo board IS a repository on this deployment's forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.\n\nOffering it here would put a second door on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: \"not this service's job\" and \"no such thing\" are different facts, and the body names the forge so a caller knows where the job IS done.\n\nWhat this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and read the schedule a milestone is. Those are the routes beside this one.",
        "tags": [
          "todo"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/todo/projects/{key}/issues": {
      "get": {
        "operationId": "get_todo_projects_by_key_issues",
        "summary": "Returns a board's issues — work items with their column, priority, assignee, labels and schedule.",
        "description": "Returns a board's issues — work items with their column, priority,\nassignee, labels and schedule.\n\nWHICH board is a filter, not an address. Bound to a repository (the key from\nthe path) it is that project's board; left unbound it is the org's whole\nboard; narrowed by label it is a board smaller than any repository — which is\nthe only way an app that lives as a directory inside a shared repository can\nhave one. Every combination is the same rows through the same projection, so\nno two boards can disagree about what a column means.\n\nThe column is a LABEL on the forge, so the board and the forge web UI are the\nsame object seen twice: relabelling in either moves the card in both. A closed\nissue reads as done whatever its labels say.",
        "tags": [
          "todo"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the project whose issues to list, from the path. EMPTY means every\nproject in the org — the global board. It is a filter like the rest of\nthis struct rather than an address, which is what lets one op answer both\n\"this board\" and \"all the work\" without a second surface disagreeing with\nthe first about what a column is.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status keeps only issues in that board column: backlog, todo, in_progress,\ndone or canceled. An unknown value is refused with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind keeps only work items of that shape: issue, pr or epic. An unknown\nvalue is refused with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": false,
            "description": "Repo keeps only issues bound to that git repository.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "description": "Label keeps only issues carrying that label, compared case-insensitively.\n\nThis is how a board narrows to something SMALLER than a repository — the\none mechanism for it. An estate whose apps are directories inside one\nrepository (hanzoai/cloud carries ~140 of them) has no repository per app\nto address, so the app is a label: `label=app/meet` is the meet board.\nNothing is provisioned to make one exist; a board is the query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source keeps only issues opened from that surface: team, git, crm,\nhelpdesk, cms or agent. An unknown value is refused with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduled",
            "in": "query",
            "required": false,
            "description": "Scheduled keeps only issues that carry a date — a start, a due date or\nboth. This is the timeline's slice of the board: pass scheduled=true to\nget exactly the rows a gantt has somewhere to draw, instead of fetching\nevery issue and discarding the undated ones client-side.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/issueView"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_todo_projects_by_key_issues",
        "summary": "Opens a work item on the board — an issue on that repository on the deployment's forge, filed as YOU.",
        "description": "Opens a work item on the board — an issue on that repository on\nthe deployment's forge, filed as YOU.\n\nThe column and priority are written as LABELS, which is what makes the card\nand the forge issue the same object: someone relabelling in the forge web UI\nhas moved your card.",
        "tags": [
          "todo"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the board — the repository name, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/newIssue"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issueView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/todo/projects/{key}/issues/{num}": {
      "get": {
        "operationId": "get_todo_projects_by_key_issues_by_num",
        "summary": "Returns ONE work item in full — its description included.",
        "description": "Returns ONE work item in full — its description included.\n\nThe list reads answer a board, and a board is a summary: the description is\nwhere the actual content of a work item lives — what an issue asks for, what\nan epic's acceptance criteria are — and no read on this surface returned it.\nThe address is the one PATCH already accepts, so an item you can move is now\nan item you can read.\n\nIt reads the forge directly rather than filtering the org fan-out, then falls\nback to the index for a board the forge has never heard of — the same order,\nand the same reason, as GetProject: a row is one kind of thing however it came\nto exist, so a caller does not have to know which store it is in to fetch it.",
        "tags": [
          "todo"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the board — the repository name, or an index board's key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num",
            "in": "path",
            "required": true,
            "description": "Num is the issue's number on that board.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issueView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "patch": {
        "operationId": "patch_todo_projects_by_key_issues_by_num",
        "summary": "Edits a work item — rename it, rewrite it, move it to another column, or re-prioritise it.",
        "description": "Edits a work item — rename it, rewrite it, move it to another\ncolumn, or re-prioritise it. Absent fields are left alone.\n\nMOVING A CARD IS A RELABEL. The column lives in the forge's label set, so the\nmove replaces that set rather than writing a status column here that a\nforge-side change could contradict. Moving to `done` also CLOSES the issue on\nthe forge, because a done card and an open issue are a contradiction.",
        "tags": [
          "todo"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the board — the repository name, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num",
            "in": "path",
            "required": true,
            "description": "Num is the issue number on that repository, from the path.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/issueEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issueView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/todo/projects/{key}/issues/{num}/claim": {
      "post": {
        "operationId": "post_todo_projects_by_key_issues_by_num_claim",
        "summary": "Takes an issue: it becomes yours and it moves to in_progress.",
        "description": "Takes an issue: it becomes yours and it moves to in_progress.\n\nThe holder is the CALLER, never an argument. \"Assign this to someone else\" is\na different act with different authority, and it already exists as a PATCH;\nconflating them would let anyone hand work to anyone by naming them.\n\nClaiming something already held by someone else is refused rather than\nsilently taken — two agents on one issue is the failure this prevents, and a\nclaim that quietly wins a race is worse than one that says no.",
        "tags": [
          "todo"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issueHit"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "issueEdit": {
        "properties": {
          "description": {
            "description": "Description rewrites the body.",
            "type": "string"
          },
          "key": {
            "description": "Key is the board — the repository name, from the path.",
            "type": "string"
          },
          "num": {
            "description": "Num is the issue number on that repository, from the path.",
            "type": "integer"
          },
          "priority": {
            "description": "Priority re-prioritises it.",
            "type": "string"
          },
          "status": {
            "description": "Status moves the card to another column.",
            "type": "string"
          },
          "title": {
            "description": "Title renames the work item.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "issueHit": {
        "properties": {
          "assignee": {
            "description": "Assignee is who holds the work. EMPTY MEANS UNHELD, which is what makes the\nissue claimable: claiming one already held by someone else is refused with\n409 rather than quietly taken.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what the row IS: issue, pr or epic.",
            "type": "string"
          },
          "number": {
            "description": "Number is the issue's number on that board, from 1 and monotonic there.\nUnique per board, never across the org — so it addresses an issue only\ntogether with Project.",
            "type": "integer"
          },
          "priority": {
            "description": "Priority is urgent, high, medium, low or none. Never empty — an unset\npriority is the value \"none\".",
            "type": "string"
          },
          "project": {
            "description": "Project is the board key the issue is on. It and Number are the issue's\naddress in every other route on this surface, which is why a hit carries it.",
            "type": "string"
          },
          "repo": {
            "description": "Repo is the git repository the issue is bound to, empty when it is not\nrepo-bound.",
            "type": "string"
          },
          "source": {
            "description": "Source is which surface opened it: team, git, crm, helpdesk, cms or agent.\n\"git\" is how the mirrored forge and GitHub rows are spelled.",
            "type": "string"
          },
          "status": {
            "description": "Status is the board column: backlog, todo, in_progress, done or canceled.\nClaiming moves backlog and todo to in_progress and leaves the other three\nwhere they are.",
            "type": "string"
          },
          "title": {
            "description": "Title is the issue's one-line summary — what the q filter matched, along with\nthe description.",
            "type": "string"
          },
          "url": {
            "description": "URL is the row's external anchor — its extRef — which is a link only when the\nfeeder sent one. A mirrored GitHub issue carries \"github:owner/repo#123\" and\nan agent's PR row carries the pushed branch. Empty for a row opened here.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "issueHits": {
        "properties": {
          "count": {
            "description": "Count is how many rows Issues carries — the size of THIS answer after the\ncap, not how many issues matched. A count equal to the limit means there are\nprobably more; there is no total and no cursor.",
            "type": "integer"
          },
          "issues": {
            "description": "Issues are the matching rows grouped by status and oldest-first within a\ngroup, capped by the search's limit (50 by default, 200 at most). The cap is\napplied to that order, so a broad search returns the head of it rather than a\nsample.",
            "items": {
              "$ref": "#/components/schemas/issueHit"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "issueView": {
        "properties": {
          "assignee": {
            "description": "Assignee is who holds the work — an IAM username, or the login of the FIRST\nassignee when a forge issue has several. Absent when nobody holds it, which\nis exactly the state a claim needs.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the item was opened, in unix seconds. 0 when the source\ngave no parseable timestamp.",
            "type": "integer"
          },
          "description": {
            "description": "Description is the body, markdown as its author wrote it. Absent when empty.",
            "type": "string"
          },
          "dueAt": {
            "description": "DueAt is when the work is due, in unix seconds; absent means no due date. A\nforge row takes it from its MILESTONE's due date, since a forge issue has no\ndeadline of its own. Never before StartAt, and never past 2200-01-01.",
            "type": "integer"
          },
          "extRef": {
            "description": "ExtRef anchors the item to something outside the todo — a mirrored issue\n(\"github:owner/repo#123\"), a pushed PR branch, or a record on another plane.\nIt is the idempotency key the mirror upsert matches on. Absent when the item\nhas no external origin.",
            "type": "string"
          },
          "id": {
            "description": "ID is the work item's opaque handle, and it is NOT how you address it —\nProjectKey plus Number is. Its shape says which source answered: a forge\nissue's is the forge's own numeric id in decimal, an index row's a minted\n\"issue_\" id.",
            "type": "string"
          },
          "identifier": {
            "description": "Identifier is the human handle, \"\u003ckey\u003e#\u003cnumber\u003e\" — the board and the number\non it, joined. ONE spelling whichever source answered, because a list where\nforge rows read cli#1 and index rows read OPS-3 is two products in one list.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what the item IS: issue, pr or epic. Set once at create and never\nchanged, so a row does not migrate between surfaces. Deliberately not \"task\"\n— that word is the async plane (contract.go).",
            "type": "string"
          },
          "labels": {
            "description": "Labels are the item's remaining tags, with the status and priority labels\nlifted OUT — a column that stayed here would render twice, once as the card's\ncolumn and once as a chip on the card. Always present; empty is [].",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "number": {
            "description": "Number is the item's number ON ITS BOARD, from 1 and monotonic there — the\nforge's own issue number for a forge row, allocated inside the create\ntransaction for an index row so it cannot race. Unique per board, never\nacross the org.",
            "type": "integer"
          },
          "priority": {
            "description": "Priority is urgent, high, medium, low or none. Also a label on a forge row.\nNever empty: \"none\" when nothing names one, so callers compare a value rather\nthan test for absence.",
            "type": "string"
          },
          "projectKey": {
            "description": "ProjectKey is the board this item is on: the repository name for a forge\nissue, the index board's key otherwise. With Number it is the item's address\nin every other route.",
            "type": "string"
          },
          "repo": {
            "description": "Repo is the git repository the item is bound to, so a repository's Issues and\nPRs tabs are filters over this one table. Absent when the item is not\nrepo-bound.",
            "type": "string"
          },
          "source": {
            "description": "Source is which surface OPENED it: team, git, crm, helpdesk, cms or agent.\nAlso set once. It is the ORIGIN, not the subject — source=helpdesk is an\nengineering issue opened from a support escalation, not a support ticket.",
            "type": "string"
          },
          "startAt": {
            "description": "StartAt is when the work starts, in unix seconds; absent means unscheduled.\nA forge row takes it from when the issue was opened, but only once the issue\nhas a due date — an interval needs both ends.",
            "type": "integer"
          },
          "status": {
            "description": "Status is the board column: backlog, todo, in_progress, done or canceled, and\nnothing else. On a forge row it is read off a LABEL, so relabelling in the\nforge web UI moves the card here and vice versa — and a CLOSED forge issue\nreads done whatever its labels say. Never empty: \"backlog\" when nothing names\na column.",
            "type": "string"
          },
          "title": {
            "description": "Title is the item's one-line summary.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when it last changed, in unix seconds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "newIssue": {
        "properties": {
          "description": {
            "description": "Description becomes the issue body.",
            "type": "string"
          },
          "key": {
            "description": "Key is the board — the repository name, from the path.",
            "type": "string"
          },
          "priority": {
            "description": "Priority is one of none, urgent, high, medium or low.",
            "type": "string"
          },
          "status": {
            "description": "Status is the board column to open into: backlog, todo, in_progress, done\nor canceled. Empty opens into backlog.",
            "type": "string"
          },
          "title": {
            "description": "Title is required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "todoProject": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when the board was created, in unix seconds. 0 on a forge board\nfor the same reason Description is absent.",
            "type": "integer"
          },
          "description": {
            "description": "Description is whatever an index board was created with. Absent on a forge\nboard: this projection takes the repository's name and nothing else about the\nrepository.",
            "type": "string"
          },
          "id": {
            "description": "ID is the board's opaque handle, and it is NOT how you address it — Key is.\nIts shape says which source answered: a forge board's is the repository's\nfull name (\"hanzoai/cloud\"), an index board's a minted \"prj_\" id.",
            "type": "string"
          },
          "key": {
            "description": "Key addresses the board everywhere else — /v1/todo/projects/\u003ckey\u003e/issues —\nand prefixes every issue identifier on it. An index board's key is 2-8\nuppercase alphanumerics starting with a letter (\"ENG\", \"OPS2\") and is matched\ncase-insensitively; a forge board's is the repository name as the forge\nspells it.",
            "type": "string"
          },
          "name": {
            "description": "Name is the board's display name. For a forge board it is the repository\nname, so it equals Key; an index board carries its own.",
            "type": "string"
          },
          "org": {
            "description": "Org is the IAM org the board belongs to, taken from the validated principal\nand never from the request. Every board a caller can see is in it.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is when the board record last changed, in unix seconds — the BOARD,\nnot the work on it, so filing an issue does not move it. 0 on a forge board.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
