{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "mcp"
    },
    {
      "name": "plugins"
    },
    {
      "name": "skills"
    },
    {
      "name": "tools"
    }
  ],
  "paths": {
    "/v1/mcp/servers": {
      "get": {
        "operationId": "get_v1_mcp_servers",
        "summary": "ListServers lists the external MCP servers the caller's org has registered.",
        "description": "ListServers lists the external MCP servers the caller's org has registered.\nEach record carries the URL and the name of the header its credential is\ninjected into; the credential VALUE lives only in KMS and is never returned,\nso hasSecret is the whole of what this surface says about it.",
        "tags": [
          "mcp"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcpServerList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_mcp_servers",
        "summary": "CreateServer registers one of the caller org's own external MCP servers, so its tools join the unified registry and become activatable.",
        "description": "CreateServer registers one of the caller org's own external MCP servers, so its\ntools join the unified registry and become activatable. The credential VALUE is\nsealed in KMS under a per-org ref; the row keeps only the URL, the header name\nto inject it into, and a has-secret flag — so a secret with no KMS configured\nis refused 503 rather than stored in the clear. The URL is SSRF-validated here\nand re-checked by the dialer at connect time, which is the DNS-rebinding\ndefense. Answers 201 with the stored record.",
        "tags": [
          "mcp"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "authHeader": "Authorization",
                "name": "myserver",
                "secret": "Bearer …",
                "url": "https://mcp.example.com/rpc"
              },
              "schema": {
                "$ref": "#/components/schemas/createServerReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MCPServer"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/mcp/servers/{id}": {
      "delete": {
        "operationId": "delete_v1_mcp_servers_id",
        "summary": "DeleteServer deregisters one of the caller org's external MCP servers, so its tools leave the registry.",
        "description": "DeleteServer deregisters one of the caller org's external MCP servers, so its\ntools leave the registry. Scoped to the caller's org, so an id belonging to\nanother tenant is a 404 and not a delete. Answers 204 with no body; a server\nthis org does not have is 404.",
        "tags": [
          "mcp"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the server to deregister, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/plugins": {
      "get": {
        "operationId": "get_v1_plugins",
        "summary": "ListPlugins reports what this deployment actually mounted: every subsystem the composition root declared and whether it is switched on.",
        "description": "ListPlugins reports what this deployment actually mounted: every subsystem the\ncomposition root declared and whether it is switched on. A plugin here is\nMOUNTED CODE that extends the deployment's own surface — not a tool an agent\ncalls — so this is an inventory and not a tool source. It is read off the same\nboot snapshot every traced request resolves its subsystem label against, so it\ncannot drift from what is serving. Enabled-only by default, because a caller\nasking what this deployment can do wants what is running; ?all=true adds the\nconfigured-but-off ones.",
        "tags": [
          "plugins"
        ],
        "parameters": [
          {
            "name": "all",
            "in": "query",
            "required": false,
            "description": "All includes the configured-but-disabled subsystems too, but only when it is\nexactly the string \"true\". Otherwise only the running ones are reported.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pluginMountList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/plugins/authored": {
      "get": {
        "operationId": "get_v1_plugins_authored",
        "summary": "ListAuthoredPlugins lists the plugins the caller's org BUILT, newest first, each with the TypeScript as authored.",
        "description": "ListAuthoredPlugins lists the plugins the caller's org BUILT, newest first,\neach with the TypeScript as authored. That is a different set with a different\nlifecycle from GET /v1/plugins, which reports the subsystems this deployment\nmounted. The bundled CommonJS the runtime executes is never included, and\nneither is any credential — a plugin names the connectors provider it needs and\nreads the credential from ctx.auth at run time.",
        "tags": [
          "plugins"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authoredPluginList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/plugins/authored/{id}": {
      "delete": {
        "operationId": "delete_v1_plugins_authored_id",
        "summary": "DeleteAuthoredPlugin removes one of the caller org's built plugins, so the runtime can no longer load it.",
        "description": "DeleteAuthoredPlugin removes one of the caller org's built plugins, so the\nruntime can no longer load it. Scoped to the caller's org, so an id belonging\nto another tenant answers 404 and is not deleted.",
        "tags": [
          "plugins"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the plugin to remove, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pluginDeleted"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/plugins/build": {
      "post": {
        "operationId": "post_v1_plugins_build",
        "tags": [
          "plugins"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/buildRequest"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/buildOut"
                }
              }
            }
          }
        }
      }
    },
    "/v1/skills": {
      "get": {
        "operationId": "get_v1_skills",
        "summary": "ListSkills lists the skills the caller's org can reach — the brand's embedded catalogue plus the org's own authored ones — with each one's activation flag.",
        "description": "ListSkills lists the skills the caller's org can reach — the brand's embedded\ncatalogue plus the org's own authored ones — with each one's activation flag.\nA skill is discovery and activation metadata attached to an agent, never called\ndirectly, so every entry here is non-dispatchable. It is GET /v1/tools narrowed\nto one source, not a second store: a name a caller sees here is the same entry,\nwith the same activation state, that discovery reports.",
        "tags": [
          "skills"
        ],
        "parameters": [
          {
            "name": "activated",
            "in": "query",
            "required": false,
            "description": "Activated keeps only the tools activated for the caller's org and project,\nand only when it is exactly the string \"true\".",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sourceToolList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_skills",
        "summary": "PutSkill adds or revises one of the caller org's own skills, and answers 201 with the stored record.",
        "description": "PutSkill adds or revises one of the caller org's own skills, and answers 201\nwith the stored record. The id is derived from the name, so writing the same\nname again REVISES that skill rather than accumulating near-duplicates that\nwould then collide in the registry. An org's skills are private to it by\nconstruction — they live in a different store from the brand's embedded\ncatalogue and have no path into the public gallery — and a brand skill always\nwins a name collision against an org's.",
        "tags": [
          "skills"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "content": "# Triage\n…",
                "description": "how we triage",
                "name": "triage"
              },
              "schema": {
                "$ref": "#/components/schemas/skillIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skillWritten"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/skills/authored": {
      "get": {
        "operationId": "get_v1_skills_authored",
        "summary": "ListAuthoredSkills lists the caller org's OWN skills with their SKILL.md bodies.",
        "description": "ListAuthoredSkills lists the caller org's OWN skills with their SKILL.md\nbodies. GET /v1/skills is the registry view — the brand's catalogue plus this\norg's, with activation flags and no bodies; this is the EDITABLE set, so it\ncarries the content that view omits and nothing the org did not write.",
        "tags": [
          "skills"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authoredSkillList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/skills/{id}": {
      "delete": {
        "operationId": "delete_v1_skills_id",
        "summary": "DeleteSkill removes one of the caller org's authored skills.",
        "description": "DeleteSkill removes one of the caller org's authored skills. Scoped to the\ncaller's org, so an id belonging to another tenant is never reached. Removing\nwhat is not there is not an error — the caller's intent is \"gone\", and it is.",
        "tags": [
          "skills"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the skill to remove, from the path. It is the skill's name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skillDeleted"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/tools": {
      "get": {
        "operationId": "get_v1_tools",
        "summary": "ListTools lists every tool the caller's org and project can reach, from every source, each flagged with whether it is activated.",
        "description": "ListTools lists every tool the caller's org and project can reach, from every\nsource, each flagged with whether it is activated. This is the discovery\nsurface: one flat set of names spanning connector actions, user functions,\nzap-service routes, agents, skills and the org's own external MCP servers,\ndeduplicated by name so the highest-precedence source wins a collision. It\nlists; it does not call — dispatch is POST /v1/tools/call.",
        "tags": [
          "tools"
        ],
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source keeps only tools from one source — connector, function, zap-service,\nagent, skill or mcp. Empty keeps every source.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activated",
            "in": "query",
            "required": false,
            "description": "Activated keeps only the tools activated for the caller's org and project,\nand only when it is exactly the string \"true\".",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/toolList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/tools/activation": {
      "get": {
        "operationId": "get_v1_tools_activation",
        "summary": "GetActivation reports which tools are switched on for the caller's org and project.",
        "description": "GetActivation reports which tools are switched on for the caller's org and\nproject. Activation is what makes a tool dispatchable and what makes it visible\nto an agent, so this is the set the MCP tool list is drawn from — every other\ntool in the registry is discoverable but refused at call time.",
        "tags": [
          "tools"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/activationSet"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_v1_tools_activation",
        "summary": "PutActivation switches tools on and off for the caller's org and project, and answers with the resulting activated set.",
        "description": "PutActivation switches tools on and off for the caller's org and project, and\nanswers with the resulting activated set. It is the ONE write path that turns\nskills, plugins and connectors into callable tools — an unactivated tool is\nlisted by discovery but refused 403 at dispatch. Activate is applied before\nDeactivate, so a name in both lists ends up off. More than 256 toggles in one\nrequest is refused 413.",
        "tags": [
          "tools"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "activate": [
                  "cloud_get_ping"
                ],
                "deactivate": []
              },
              "schema": {
                "$ref": "#/components/schemas/activationReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/activationSet"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/tools/call": {
      "post": {
        "operationId": "post_v1_tools_call",
        "summary": "CallTool runs one of the caller's activated tools and answers with its output.",
        "description": "CallTool runs one of the caller's activated tools and answers with its output.\n\nThis is the door onto the tool plane's DYNAMIC half — the half no build-time\ncatalogue can hold, because it is per-tenant: an org's connected connector\nactions, its authored skills, its agents and functions, and the tools of every\nexternal MCP server it registered. A tool's existence, its price and its\nactivation are all rows, not code, so they cannot be known until the caller is.\n\nOne policy, the registry's: resolve by precedence, refuse an unactivated tool\n403, settle a priced one through the x402 seam or fail closed 402, then\ndispatch to the winning source bound to the caller's own (org, project). One\nmetered unit, one audit record. A caller can only ever dispatch its own tools.\n\nDiscovery is GET /v1/tools — ?activated=true for the callable set.",
        "tags": [
          "tools"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "arguments": {
                  "channel": "#general",
                  "text": "hi"
                },
                "name": "slack_post_message"
              },
              "schema": {
                "$ref": "#/components/schemas/toolCall"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/toolResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthoredPlugin": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when the plugin was last built, Unix seconds.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the plugin's id within the org, and the id a delete addresses.",
            "type": "string"
          },
          "name": {
            "description": "Name is the plugin's name: one lowercase path segment, the id it runs by.",
            "type": "string"
          },
          "org": {
            "description": "Org is the org that built the plugin — the validated caller's.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the connectors provider whose credential this plugin uses at\nrun time. Absent for a plugin that needs none. The credential itself is\nnever here — it stays under KMS custody in the connectors plane.",
            "type": "string"
          },
          "source": {
            "description": "Source is the TypeScript as authored (or as generated from a spec).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MCPServer": {
        "properties": {
          "authHeader": {
            "description": "AuthHeader is the request header the KMS-held credential is injected into,\ne.g. \"Authorization\". Absent when the server needs no credential.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the server was registered, Unix seconds.",
            "type": "integer"
          },
          "hasSecret": {
            "description": "HasSecret is whether a credential is sealed in KMS for this server. The\nVALUE is never returned by any route.",
            "type": "boolean"
          },
          "id": {
            "description": "ID is the server's id within the org. It also PREFIXES every tool name the\nserver contributes, which is what keeps two servers' \"search\" apart.",
            "type": "string"
          },
          "name": {
            "description": "Name is the org's label for the server.",
            "type": "string"
          },
          "org": {
            "description": "Org is the org that registered the server — the validated caller's.",
            "type": "string"
          },
          "url": {
            "description": "URL is the server's JSON-RPC endpoint. Always a public http(s) host: the\nregistration boundary and the dialer both refuse anything else.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Price": {
        "properties": {
          "amountCents": {
            "description": "AmountCents is what ONE call costs, in minor units of Currency.",
            "type": "integer"
          },
          "currency": {
            "description": "Currency is the ISO 4217 code, e.g. \"USD\". Empty means USD.",
            "type": "string"
          },
          "recipient": {
            "description": "Recipient is the payout wallet ref the marketplace seller is paid at.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Skill": {
        "properties": {
          "content": {
            "description": "Content is the SKILL.md body, markdown.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the skill was last written, Unix seconds.",
            "type": "integer"
          },
          "description": {
            "description": "Description is the one-line summary discovery shows for the skill.",
            "type": "string"
          },
          "id": {
            "description": "ID is the skill's id within the org. It is DERIVED from Name, so writing\nthe same name again revises that skill rather than adding another.",
            "type": "string"
          },
          "name": {
            "description": "Name is the skill's name: one lowercase path segment (a-z0-9, _ or -).",
            "type": "string"
          },
          "org": {
            "description": "Org is the org that authored the skill — the validated caller's, never a\nvalue the body supplied.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Tool": {
        "properties": {
          "activated": {
            "description": "Activated is filled by the registry from the activation store for the\nrequesting (org,project); providers leave it zero. An unactivated tool is\ndiscoverable but refused 403 at dispatch.",
            "type": "boolean"
          },
          "description": {
            "description": "Description is the prose a model reads to decide whether to call the tool.",
            "type": "string"
          },
          "dispatchable": {
            "description": "Dispatchable is whether the tool can be CALLED. False for a listing-only\nentry: a skill is activated and attached to an agent, never called.",
            "type": "boolean"
          },
          "inputSchema": {
            "description": "Schema is the JSON Schema of the call arguments — the MCP inputSchema.\nAbsent for a tool that takes none."
          },
          "name": {
            "description": "Name is the tool's id in the flat, fleet-wide tool namespace — the value a\ntools/call passes. Unique across sources: a collision is resolved by source\nprecedence before the caller ever sees it.",
            "type": "string"
          },
          "price": {
            "$ref": "#/components/schemas/Price",
            "description": "Price is what a call costs and who is paid, absent for a free tool.\nEnforcement is the x402 settlement seam; this is the declaration."
          },
          "source": {
            "description": "Source is where the tool comes from: connector, function, zap-service,\nagent, skill or mcp.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "activationReq": {
        "properties": {
          "activate": {
            "description": "Activate switches these tool names on for the caller's org and project.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "deactivate": {
            "description": "Deactivate switches these tool names off.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "activationSet": {
        "properties": {
          "enabled": {
            "description": "Enabled is every tool name activated for the caller's org and project.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "authoredPluginList": {
        "properties": {
          "plugins": {
            "description": "Plugins is every plugin this org built, newest first, each carrying the\nTypeScript as authored. The bundled artifact is never rendered.",
            "items": {
              "$ref": "#/components/schemas/AuthoredPlugin"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "authoredSkillList": {
        "properties": {
          "skills": {
            "description": "Skills is every skill this org authored, each with its SKILL.md content.",
            "items": {
              "$ref": "#/components/schemas/Skill"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "buildOut": {
        "type": "object",
        "properties": {
          "bytes": {
            "type": "integer"
          },
          "generated": {
            "type": "boolean"
          },
          "plugin": {
            "$ref": "#/components/schemas/AuthoredPlugin"
          }
        }
      },
      "buildRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "spec": {
            "type": "string"
          }
        }
      },
      "createServerReq": {
        "properties": {
          "authHeader": {
            "description": "AuthHeader is the request header the credential is injected into, e.g.\n\"Authorization\". Empty means the server needs no credential.",
            "type": "string"
          },
          "name": {
            "description": "Name labels the server for the org. Required, at most 128 characters.",
            "type": "string"
          },
          "secret": {
            "description": "Secret is the credential VALUE. It is sealed into KMS under a per-org ref\nand never stored in SQLite, never listed, and never returned.",
            "type": "string"
          },
          "url": {
            "description": "URL is the server's JSON-RPC endpoint. It must be an http(s) URL naming a\nPUBLIC host: loopback, link-local, private and cloud-metadata addresses are\nrefused here and again when the dialer connects.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mcpServerList": {
        "properties": {
          "servers": {
            "description": "Servers is every external MCP server this org has registered. No secret\nVALUE is ever included — only whether one is set.",
            "items": {
              "$ref": "#/components/schemas/MCPServer"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "pluginDeleted": {
        "properties": {
          "deleted": {
            "description": "Deleted is the plugin id that is now gone.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "pluginMount": {
        "properties": {
          "enabled": {
            "description": "Enabled is whether this subsystem is switched on in this deployment.",
            "type": "boolean"
          },
          "name": {
            "description": "Name is the subsystem's name, the same label a traced request resolves to.",
            "type": "string"
          },
          "prefixes": {
            "description": "Prefixes are the URL prefixes this subsystem serves.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "pluginMountList": {
        "properties": {
          "plugins": {
            "description": "Plugins is every subsystem the composition root declared, filtered to the\nenabled ones unless all=true.",
            "items": {
              "$ref": "#/components/schemas/pluginMount"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "skillDeleted": {
        "properties": {
          "deleted": {
            "description": "Deleted is the skill id that is now gone.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "skillIn": {
        "properties": {
          "content": {
            "description": "Content is the SKILL.md body. Required, at most 256 KiB.",
            "type": "string"
          },
          "description": {
            "description": "Description is the one-line summary discovery shows for the skill.",
            "type": "string"
          },
          "name": {
            "description": "Name is the skill's id within the org: one lowercase path segment\n(a-z0-9, _ or -). Writing an existing name REVISES that skill.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "skillWritten": {
        "properties": {
          "skill": {
            "$ref": "#/components/schemas/Skill",
            "description": "Skill is the skill as stored, with its derived id and creation time."
          }
        },
        "type": "object"
      },
      "sourceToolList": {
        "properties": {
          "source": {
            "description": "Source is the source these tools came from.",
            "type": "string"
          },
          "tools": {
            "description": "Tools is the caller's tools from that source. Never null.",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "toolCall": {
        "properties": {
          "arguments": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "Arguments is the tool's own input object, passed through verbatim to\nwhichever source owns it.",
            "type": "object"
          },
          "name": {
            "description": "Name is the tool to run, exactly as GET /v1/tools reports it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "toolList": {
        "properties": {
          "tools": {
            "description": "Tools is every tool the caller may see, deduplicated by name with source\nprecedence applied.",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "toolResult": {
        "properties": {
          "name": {
            "description": "Name is the tool that ran.",
            "type": "string"
          },
          "result": {
            "description": "Result is the tool's own output, verbatim — its shape is the tool's, not\nthis plane's.",
            "type": "object"
          }
        },
        "type": "object"
      }
    }
  }
}
