{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package bot is /v1/bot, the node control plane: bot nodes on user machines dial in and hold a socket, and an org lists its connected nodes and invokes commands on one, authorized once at the socket.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "bot"
    }
  ],
  "paths": {
    "/v1/bot/connect": {
      "get": {
        "operationId": "get_v1_bot_connect",
        "tags": [
          "bot"
        ]
      }
    },
    "/v1/bot/nodes": {
      "get": {
        "operationId": "get_v1_bot_nodes",
        "summary": "Returns the caller org's currently connected bot nodes: what each one calls itself, the platform it runs on, its agent version, when its socket was established, and the capabilities and commands it reported.",
        "description": "Returns the caller org's currently connected bot nodes: what each one\ncalls itself, the platform it runs on, its agent version, when its socket was\nestablished, and the capabilities and commands it reported.\n\nOnly this org's nodes are listed — the org is half of every key in the table it\nreads — and only nodes attached to THIS replica, because the list is of live\nsockets rather than of registrations. The capability and command lists are the\nnode's own self-report: useful to show, never load-bearing, because what a node\nmay actually be asked to do is decided at the socket against the deployment's\nallowlist.",
        "tags": [
          "bot"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nodesView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/bot/nodes/{id}/invoke": {
      "post": {
        "operationId": "post_v1_bot_nodes_by_id_invoke",
        "tags": [
          "bot"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/bot/peer/invoke": {
      "post": {
        "operationId": "post_v1_bot_peer_invoke",
        "tags": [
          "bot"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "nodeView": {
        "properties": {
          "caps": {
            "description": "Caps is the capability list the node reported. It is a self-report, useful\nto SHOW and never load-bearing: what a node may actually be asked to do is\ndecided at the socket by the deployment's allowlist.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "commands": {
            "description": "Commands is the command list the node reported. Same standing as Caps: a\nself-report, checked again at the socket before anything runs.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "connectedAt": {
            "description": "ConnectedAt is when this node's socket was established, RFC3339 UTC.",
            "type": "string"
          },
          "displayName": {
            "description": "DisplayName is the human name the node reported for itself.",
            "type": "string"
          },
          "id": {
            "description": "ID is the node's own identifier within the org — the value\nPOST /v1/bot/nodes/{id}/invoke addresses it by.",
            "type": "string"
          },
          "platform": {
            "description": "Platform is the operating system and architecture the node reported.",
            "type": "string"
          },
          "version": {
            "description": "Version is the node agent's own version string.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "nodesView": {
        "properties": {
          "nodes": {
            "description": "Nodes is every node of the caller's org with a live socket to THIS replica,\nordered by id. A node connected to a different replica is not in it.",
            "items": {
              "$ref": "#/components/schemas/nodeView"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  }
}
