{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package bots is a bot doing your work on a real desktop, live, while you watch.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "bots"
    }
  ],
  "paths": {
    "/v1/bots": {
      "get": {
        "operationId": "get_v1_bots",
        "summary": "List returns the caller org's live bot runs, read from the bot runtime and projected into the console contract with each run's live session URL derived here.",
        "description": "List returns the caller org's live bot runs, read from the bot runtime and projected\ninto the console contract with each run's live session URL derived here.\n\nThe org is ALWAYS the validated principal's org, NEVER a request field, and it is\nwhat scopes the runtime's answer — so one tenant can never enumerate another's\nruns. A runtime that cannot answer is an error, not an empty list: [] would tell\nthe caller \"your org has no runs\", which is a different claim from \"we could not\nask\", and the difference is the whole reason this endpoint exists.",
        "tags": [
          "bots"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotRuns"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/bots/run": {
      "post": {
        "operationId": "post_v1_bots_run",
        "tags": [
          "bots"
        ]
      }
    },
    "/v1/bots/{runId}/stop": {
      "post": {
        "operationId": "post_v1_bots_runId_stop",
        "summary": "Stop terminates one of the caller org's own bot runs and reports its terminal state.",
        "description": "Stop terminates one of the caller org's own bot runs and reports its terminal state.\n\nThe own-key guard is the org: it is the caller's validated org, never theirs to\nchoose, and the runtime resolves the run id UNDER it. A run belonging to another\ntenant is not among this org's runs, so it answers absent — the same 404 a\nnonexistent id gets, which is what keeps this from being an oracle.\n\nAbsence is honoured ONLY when the runtime answers it. A runtime that does not\nserve stop reports nothing about the run, and reporting \"stopped\" on that basis\nwould be a stop that cannot fail — so it is a 502.",
        "tags": [
          "bots"
        ],
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotStopped"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BotRun": {
        "properties": {
          "runId": {
            "description": "RunID is the run's id in the bot runtime, and the node id its live VNC session\nis registered under.",
            "type": "string"
          },
          "sessionUrl": {
            "description": "SessionURL is the live session the hanzo.app /vnc panel embeds to watch or\nattach to this run. Derived here from the run id, never sent by the runtime.",
            "type": "string"
          },
          "startedAt": {
            "description": "StartedAt is when the run began, RFC 3339, as the runtime stamped it.",
            "type": "string"
          },
          "status": {
            "description": "Status is the run's state as the runtime reports it; \"running\" when the runtime\nnames none of its own.",
            "type": "string"
          },
          "surface": {
            "description": "Surface is what the bot drives: the desktop or terminal sandbox it runs in.",
            "type": "string"
          },
          "task": {
            "description": "Task is the instruction the bot is executing.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BotRuns": {
        "properties": {
          "bots": {
            "description": "Bots is the org's live runs. Always an array, never null.",
            "items": {
              "$ref": "#/components/schemas/BotRun"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "BotStopped": {
        "properties": {
          "runId": {
            "description": "RunID is the run that was stopped.",
            "type": "string"
          },
          "status": {
            "description": "Status is the run's terminal state: \"stopped\".",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
