{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package exec is the code interpreter: run a snippet in a sandbox, and move files in and out of the session that sandbox IS.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "download"
    },
    {
      "name": "exec"
    },
    {
      "name": "files"
    },
    {
      "name": "upload"
    }
  ],
  "paths": {
    "/v1/download/{wildcard1}": {
      "get": {
        "operationId": "get_v1_download_by_wildcard1",
        "summary": "Download a file from a session",
        "description": "Fetches one file's BYTES from a session, addressed as {session_id}/{fileId} — a plot, a generated CSV, whatever a run wrote. The content type is derived from the name and defaults to application/octet-stream.\n\nThis is the one address whose success body is not JSON, which is why it is not a typed operation: a typed operation always marshals a Go value.",
        "tags": [
          "download"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/exec": {
      "post": {
        "operationId": "post_v1_exec",
        "summary": "Run a code snippet in a sandboxed interpreter",
        "tags": [
          "exec"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CodeRun"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/exec/programmatic": {
      "post": {
        "operationId": "post_v1_exec_programmatic",
        "summary": "Programmatic tool calling (not served here)",
        "description": "Answers 501. This address belongs to a DIFFERENT protocol from /v1/exec: the server suspends a program on each tool call, returns the pending calls with a continuation token, and resumes when the client posts results back. Serving it means implementing suspension and resumption, so it refuses in the open rather than answering with a shape the caller's parser cannot read.",
        "tags": [
          "exec"
        ]
      }
    },
    "/v1/files/{sid}": {
      "get": {
        "operationId": "get_v1_files_by_sid",
        "summary": "List the files in an execution session",
        "description": "Lists what a session's sandbox holds — the uploads a run can read and the artifacts it produced — each then fetched from /v1/download.\n\nIt answers a BARE JSON ARRAY of {name, lastModified}, where `name` is the same {session_id}/{fileId} identifier download takes, because that is what the client matches on. An object wrapper would be a wire change, which is why this is not a typed operation.",
        "tags": [
          "files"
        ],
        "parameters": [
          {
            "name": "sid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/upload": {
      "post": {
        "operationId": "post_v1_upload",
        "summary": "Upload a file into an execution session",
        "description": "Takes a multipart upload and writes the file into the session's sandbox, so a later run can read it. Answers the session id and the identifier the file is addressed by; `session_id` in the form joins an existing session instead of opening one.\n\nThe body is multipart/form-data, which is why this is not a typed operation: every non-empty typed body is decoded as JSON.",
        "tags": [
          "upload"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CodeFile": {
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "storage_session_id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CodeResult": {
        "properties": {
          "files": {
            "items": {
              "$ref": "#/components/schemas/CodeFile"
            },
            "type": "array"
          },
          "session_id": {
            "type": "string"
          },
          "stderr": {
            "type": "string"
          },
          "stdout": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CodeRun": {
        "properties": {
          "args": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "code": {
            "type": "string"
          },
          "files": {
            "items": {
              "$ref": "#/components/schemas/CodeFile"
            },
            "type": "array"
          },
          "lang": {
            "type": "string"
          },
          "runtime_session_hint": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          }
        },
        "required": [
          "lang",
          "code"
        ],
        "type": "object"
      }
    }
  }
}
