{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package security is secret scanning for your code: submit sources, get findings, masked never raw.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "security"
    }
  ],
  "paths": {
    "/v1/security/findings": {
      "get": {
        "operationId": "get_security_findings",
        "summary": "Is the org's findings — rule, severity, path, line, masked preview and fingerprint — newest first, across scans or within one.",
        "description": "Is the org's findings — rule, severity, path, line, masked preview\nand fingerprint — newest first, across scans or within one.\n\nA minSeverity outside critical|high|medium|low is refused rather than quietly\nignored, so a filter typo cannot read as \"no findings\". Strictly org-scoped, and\na caller with no validated org is refused.",
        "tags": [
          "security"
        ],
        "parameters": [
          {
            "name": "scanId",
            "in": "query",
            "required": false,
            "description": "ScanID narrows to a single scan.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minSeverity",
            "in": "query",
            "required": false,
            "description": "MinSeverity drops everything below that rank: critical, high, medium or low.\nA value outside that set is refused rather than quietly ignored, so a filter\ntypo cannot read as \"no findings\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/findingList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/security/findings/{id}": {
      "get": {
        "operationId": "get_security_findings_by_id",
        "summary": "Returns a single finding: which rule fired, where (path and line), the masked preview and the SHA-256 fingerprint of the secret — the raw secret is not stored and cannot be read back.",
        "description": "Returns a single finding: which rule fired, where (path and line),\nthe masked preview and the SHA-256 fingerprint of the secret — the raw secret is\nnot stored and cannot be read back.\n\nScoped to the caller's org, and a finding belonging to another org is the same\n404 as one that never existed.",
        "tags": [
          "security"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the finding the URL names.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/findingView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/security/health": {
      "get": {
        "operationId": "get_security_health",
        "summary": "Reports that the scanning subsystem is serving and how many secret-detection rules the engine holds.",
        "description": "Reports that the scanning subsystem is serving and how many\nsecret-detection rules the engine holds.\n\nIt has no external dependency — the answer is ok whenever the findings store\nopened — so it measures this process rather than anything downstream. It reads\nno tenant: a prober that sends no principal is answered, not refused.",
        "tags": [
          "security"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ruleset"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/security/rules": {
      "get": {
        "operationId": "get_security_rules",
        "summary": "Is the secret-detection catalog the engine scans with.",
        "description": "Is the secret-detection catalog the engine scans with.\n\nIt returns every rule a scan can fire — the id, name and severity a finding\ncites — so a caller can render or triage results without hard-coding the\ncatalog. It is the same for everyone and discloses nothing tenant-specific, so\nit carries no org scope.",
        "tags": [
          "security"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ruleList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/security/scans": {
      "get": {
        "operationId": "get_security_scans",
        "summary": "Is the org's scan history, newest first, each as the same summary the submission answered — files read, findings fired, tally by severity.",
        "description": "Is the org's scan history, newest first, each as the same summary the\nsubmission answered — files read, findings fired, tally by severity.\n\nStrictly org-scoped: a caller only ever sees its own scans, and one with no\nvalidated org is refused.",
        "tags": [
          "security"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scanList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_security_scans",
        "summary": "Runs the detection engine over a batch of files and answers 201 with the scan summary: how many files were read, how many findings fired, and the tally by severity.",
        "description": "Runs the detection engine over a batch of files and answers 201 with\nthe scan summary: how many files were read, how many findings fired, and the\ntally by severity.\n\nTHE SUBMITTED CONTENT IS NEVER STORED. It is scanned in memory; what persists is\nthe finding — its rule, its path and line, a MASKED preview (first and last\ncharacters kept, the middle starred) and the SHA-256 fingerprint of the raw\nsecret. The fingerprint is what makes the same secret recognisable across scans\nand after rotation without the secret ever being written down.\n\nIt requires a validated org, which scopes the stored scan and every finding on\nit; a caller with no org is refused. Bounded at 500 files and 8 MiB of total\ncontent per submission — split a larger tree across scans. One scan is one\nmetered unit, and the scan is recorded in the audit log with its tally, never\nwith its findings.",
        "tags": [
          "security"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/submitReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scanView"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/security/scans/{id}": {
      "get": {
        "operationId": "get_security_scans_by_id",
        "summary": "Returns one scan together with every finding on it, so the detail view is one round-trip rather than a list call per scan.",
        "description": "Returns one scan together with every finding on it, so the detail view\nis one round-trip rather than a list call per scan. The findings carry masked\npreviews and fingerprints, never secrets.\n\nScoped to the caller's org: a scan id belonging to another org is the same 404\nas an id that never existed, so a ruleset learns nothing about what exists\nelsewhere. No validated org is refused.",
        "tags": [
          "security"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the scan the URL names.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scanDetail"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "RuleView": {
        "properties": {
          "description": {
            "description": "what kind of secret this rule recognises",
            "type": "string"
          },
          "id": {
            "description": "the rule identifier a finding cites",
            "type": "string"
          },
          "name": {
            "description": "the rule's human name",
            "type": "string"
          },
          "severity": {
            "description": "how serious a match is: critical, high, medium or low",
            "type": "string"
          }
        },
        "type": "object"
      },
      "findingList": {
        "properties": {
          "data": {
            "description": "Data is the caller org's findings, newest first.",
            "items": {
              "$ref": "#/components/schemas/findingView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "findingView": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when the finding was recorded, in Unix milliseconds.",
            "type": "integer"
          },
          "fingerprint": {
            "description": "Fingerprint is the SHA-256 of the raw secret. It is what makes the same\nsecret recognisable across scans and after rotation without the secret ever\nbeing written down.",
            "type": "string"
          },
          "id": {
            "description": "ID addresses this finding.",
            "type": "string"
          },
          "line": {
            "description": "Line is where in that file.",
            "type": "integer"
          },
          "path": {
            "description": "Path is the file the secret was found in.",
            "type": "string"
          },
          "preview": {
            "description": "Preview is the secret MASKED — first and last characters kept, the middle\nstarred — so a reviewer can recognise it without it being disclosed.",
            "type": "string"
          },
          "ruleId": {
            "description": "RuleID is the detection rule that fired.",
            "type": "string"
          },
          "ruleName": {
            "description": "RuleName is that rule's human name.",
            "type": "string"
          },
          "scanId": {
            "description": "ScanID is the scan that produced it.",
            "type": "string"
          },
          "severity": {
            "description": "Severity ranks the finding: critical, high, medium or low.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ruleList": {
        "properties": {
          "data": {
            "description": "Data is every rule a scan can fire, each with the id, name and severity a\nfinding cites.",
            "items": {
              "$ref": "#/components/schemas/RuleView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ruleset": {
        "properties": {
          "rules": {
            "description": "Rules is how many detection rules the engine holds.",
            "type": "integer"
          },
          "status": {
            "description": "Status is \"ok\" whenever the findings store opened.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "scan": {
        "properties": {
          "content": {
            "description": "Content is the source to scan. It is NEVER stored: what persists is the\nfinding, with a masked preview and a fingerprint.",
            "type": "string"
          },
          "path": {
            "description": "Path is where the file lives, recorded on any finding so a result can be\nlocated in the tree it came from.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "scanDetail": {
        "properties": {
          "findings": {
            "description": "Findings is every finding on that scan, so the detail view is one round-trip.",
            "items": {
              "$ref": "#/components/schemas/findingView"
            },
            "type": "array"
          },
          "scan": {
            "$ref": "#/components/schemas/scanView",
            "description": "Scan is the summary."
          }
        },
        "type": "object"
      },
      "scanList": {
        "properties": {
          "data": {
            "description": "Data is the caller org's scans, newest first.",
            "items": {
              "$ref": "#/components/schemas/scanView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "scanView": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when the scan ran, in Unix milliseconds.",
            "type": "integer"
          },
          "critical": {
            "description": "Critical is how many findings carry the highest severity.",
            "type": "integer"
          },
          "files": {
            "description": "Files is how many files the scan read.",
            "type": "integer"
          },
          "findings": {
            "description": "Findings is how many secrets fired across them.",
            "type": "integer"
          },
          "high": {
            "description": "High is how many findings rank high.",
            "type": "integer"
          },
          "id": {
            "description": "ID addresses this scan and every finding on it.",
            "type": "string"
          },
          "low": {
            "description": "Low is how many findings rank low.",
            "type": "integer"
          },
          "medium": {
            "description": "Medium is how many findings rank medium.",
            "type": "integer"
          },
          "project": {
            "description": "Project is the sub-scope the scan was filed under.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "submitReq": {
        "properties": {
          "files": {
            "description": "Files is the batch to scan, at most 500 files and 8 MiB of content in total.",
            "items": {
              "$ref": "#/components/schemas/scan"
            },
            "type": "array"
          },
          "project": {
            "description": "Project names the sub-scope the scan is filed under. It must be a slug; omit\nit and the caller's project header is used instead.",
            "type": "string"
          }
        },
        "required": [
          "files"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
