{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package account mounts the signed-in caller's OWN account self-service surface natively in the unified cloud binary — the Go port of the console's two NON-proxy Next server routes (app/keys + app/onboard) plus the money/store data bridges the statically-exported console needs (task #41, \"True 1-binary FE\").",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "billing"
    },
    {
      "name": "commerce"
    }
  ],
  "paths": {
    "/v1/billing/{wildcard1}": {
      "get": {
        "operationId": "get_v1_billing_by_wildcard1",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_billing_by_wildcard1",
        "tags": [
          "billing"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/commerce/{wildcard1}": {
      "delete": {
        "operationId": "delete_v1_commerce_by_wildcard1",
        "tags": [
          "commerce"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_commerce_by_wildcard1",
        "tags": [
          "commerce"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patch_v1_commerce_by_wildcard1",
        "tags": [
          "commerce"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_commerce_by_wildcard1",
        "tags": [
          "commerce"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v1_commerce_by_wildcard1",
        "tags": [
          "commerce"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  }
}
