{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package risk is Hanzo Risk: the scoring and decision plane for any entity a tenant has — an account, a transaction, a session, an agent, a merchant, a payout — and the shared model plane both it and the compliance face read.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "ml"
    },
    {
      "name": "risk"
    }
  ],
  "paths": {
    "/v1/ml/calibrate": {
      "post": {
        "operationId": "mlCalibrate",
        "summary": "Fit a calibration so a score reads as a probability",
        "description": "Calibrate fits the map that turns this organisation's scores into\nprobabilities, from its own judged decisions.\n\nA detector's score is a density — how isolated an event is among the mass this\norganisation's recent traffic laid down. It ranks well and it means nothing on\nits own: 0.8 is not \"80% likely\", and two organisations' 0.8s are not\ncomparable. Every band set on such a score is a number someone liked and every\ncost calculation over it is arithmetic on the wrong units.\n\nThe fit is refused rather than approximated when the evidence cannot support\none — too few judged decisions, or all of them one class — because a\ncalibration fitted on one class is a constant, and a constant reported as a\nprobability is a lie with a decimal point on it.\n\nIt records the SCORING SHAPE it was fitted under: the detector's geometry and\nfeature inventory folded with this organisation's enabled rule set. If either\nmoves, the map refuses to answer and the decision plane reports probabilities\nas absent — which is the training-serving skew control, and the reason it\ncannot fail silently.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mlCalibrateIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlCalibrationView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/ml/calibration": {
      "get": {
        "operationId": "mlCalibration",
        "summary": "Read the calibration in force and how well it holds",
        "description": "Calibration reads the map in force and how well it holds against reality.\n\nThe reliability report is the diagonal a console draws: bins of predicted\nprobability against the share that actually turned out productive. An empty\nbin reports absence rather than zero, because a point drawn at zero on that\nchart claims perfect confidence in innocence.\n\nCurrent is the field to read first. When it is false the scoring shape has\nmoved since the fit — a feature changed, or a rule was written, retired or\nreweighted — and the map refuses to answer, so every decision since reports\nits probability as absent. The remedy is a new fit, and until then the bands\ncannot act.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Stage selects whose bands supply the operating point and the prices.\nEmpty measures at the cost-minimising threshold with no stated price,\nwhich reports separation and nothing about money.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "horizon",
            "in": "query",
            "required": false,
            "description": "Horizon is the maturity horizon in days, 0 to 3650 — see mlCalibrate, where\nthe same field decides the same thing and for the same reason.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "required": false,
            "description": "Rows bounds the history read, 1..50000. Zero takes the bound.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlCalibrationView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/evaluate": {
      "post": {
        "operationId": "mlEvaluate",
        "summary": "Measure the decision plane against what actually happened",
        "description": "Evaluate measures the decision plane against what actually happened.\n\nThe metrics suit imbalanced data because fraud is rare and the usual ones do\nnot: accuracy is not computed at all, ROC-AUC is reported with the prevalence\nbeside it because it is uninterpretable without one, and average precision is\ncomputed by the step definition rather than the trapezoid — interpolating\nbetween operating points on a precision-recall curve credits a plane with\npoints it cannot reach, and flatters exactly the rare-event case the metric\nexists for.\n\nThe cost-weighted number is the one anybody outside the team cares about. A\nmiss and a false alarm have different prices, both stated on the stage's own\nbands, both integers of nano-units so the arithmetic is exact. The\ncost-minimising threshold is reported beside the one in force, and the gap\nbetween them is what a threshold review is about.\n\nUnacted bounds the trust in all of it: a blocked decision has no outcome, so a\njudged set drawn only from decisions the plane already acted on measures\nagreement with the incumbent rather than accuracy.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mlMeasureIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlMeasurement"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/features": {
      "get": {
        "operationId": "mlFeatures",
        "summary": "Read the typology-to-feature inventory the model is built on",
        "description": "Features is the typology-to-feature inventory the model is built on: what each\ndimension measures, the risk indicator it serves, and the published source\nthose words come from.\n\nIt is code rather than a document because a mapping kept beside the model\ncannot drift away from what the model actually reads — and the attributability\nit makes possible is why this is a tree and not a net.",
        "tags": [
          "ml"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlFeatureInventory"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/learning": {
      "get": {
        "operationId": "mlLearning",
        "summary": "Read the learning curve: quality against how much history was seen",
        "description": "Learning is the curve an operator reads before spending money on more labels:\nquality as a function of how much history the fit had.\n\nIt has TWO arms and the pair is the point. The train arm is the metric on the\nrows the fit saw, optimistic by construction. The ahead arm is the metric on a\nFIXED later window — the same rows at every step, all of them after everything\nany step trained on. Both still falling means more labels would help; the\ntrain arm falling while the ahead arm has stopped means the fit has started\nmemorising the sample and the next thing to change is the method, not the\nvolume.\n\nThe split is temporal and only temporal, never random. A random split lets a\nfit see the future — fraud arrives in campaigns, and half a campaign on each\nside of the line scores brilliantly on a pattern the fit has already been\nshown — and lets one device or one card appear on both sides, which rewards\nmemorising an identifier and is invisible in every metric.\n\nThe separation arm and the calibration arm say different things: a monotone\ncalibration cannot reorder anything, so ROC and PR are identical before and\nafter fitting one. ROC and PR moving along the curve is the DETECTOR getting\nbetter as it learns; Brier moving is the CALIBRATION getting better as labels\naccrue.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": false,
            "description": "Method is isotonic or platt, as for a fit.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Stage supplies the prices, so the cost arm of the curve means something.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "horizon",
            "in": "query",
            "required": false,
            "description": "Horizon is the maturity horizon in days, 0 to 3650.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "steps",
            "in": "query",
            "required": false,
            "description": "Steps is how many points the curve has, 2..20, default 10.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "required": false,
            "description": "Rows bounds the history read, 1..50000. Zero takes the bound.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlLearningCurve"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/replay": {
      "post": {
        "operationId": "mlReplay",
        "summary": "Replay a candidate policy over this tenant's own history",
        "description": "Replay answers what a candidate policy WOULD have decided, over the decisions\nthis organisation already made.\n\nThe RECORDED score is replayed and the model is not re-run, for two reasons\nthat are the difference between a backtest that means something and one that\ndoes not. A score states how unusual an event was against the traffic at that\nmoment, so recomputing it against today's aggregates answers a different\nquestion under the same name. And the detector has since learned from these\nvery events, so re-scoring them through it is the purest form of knowing the\nfuture — and it produces a beautiful number.\n\nSo the score is a fact and the candidate is a pure function of it, which is\nwhat makes the report DETERMINISTIC: no clock, no random source, no model\nstate, and nothing that reaches the output is a map. Two runs over the same\nrows return the same digest, which is what lets a replay be evidence.\n\nIt is written down. A replay is the justification attached to a threshold\nchange, so it is a record with an identifier and not a number that scrolled\npast in a console.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mlReplayIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlReplayReport"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/ml/replays/{id}": {
      "get": {
        "operationId": "mlReplayReport",
        "summary": "Read a replay report",
        "description": "Reads a replay back. A threshold change is justified by one, so\nthe justification has to still be there when somebody asks about the change.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to read, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlReplayReport"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/restore": {
      "post": {
        "operationId": "mlRestore",
        "summary": "Restore this tenant's learned state from its pinned snapshot",
        "description": "Restore reinstates this tenant's learned state from its pinned snapshot.\n\nA snapshot whose shape does not match the running inventory is REFUSED, not\ncoerced, and a snapshot belonging to another tenant is refused twice — here,\nby the tenant that asked, and again inside the engine. State the model would\ntreat as its own memory has to have come from this algorithm over this feature\nset for this tenant.",
        "tags": [
          "ml"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlModelState"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/score": {
      "post": {
        "operationId": "mlScore",
        "summary": "Score an observation without learning from it",
        "description": "Score scores one observation and LEARNS NOTHING from it. It is how a candidate\nis tried against a tenant's real behaviour before anything depends on the\nanswer, and it is the model's analogue of testing a rule: because it records\nnothing, the aggregates it reads do not include the candidate.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mlScoreIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlScoreOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/search": {
      "post": {
        "operationId": "mlSearch",
        "summary": "Exhaustively search the model topology over this tenant's own history",
        "description": "Search exhaustively tries the model topology over this tenant's own history\nand returns the learning curve and the winning shape.\n\nThe grid is CLOSED — trees x depth x window x blend x appetite — because an\nunbounded grid is an unbounded amount of a shared pod's CPU reachable by\nanyone with a key. Each candidate runs in a sandbox over fresh counters, so a\nsearch can never move the live model, and no candidate can see another\ntenant's history because the replay reads this tenant's own file.\n\nIt answers 202 with a run identifier; read the report back at\nGET /v1/ml/search/{id}.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mlSearchIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlSearchRun"
                }
              }
            },
            "description": "accepted"
          }
        }
      }
    },
    "/v1/ml/search/{id}": {
      "get": {
        "operationId": "mlSearchResult",
        "summary": "Read an exhaustive search's report",
        "description": "Reads an exhaustive search's report: every candidate tried, the\nwinner, and the winner's learning curve.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to read, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlSearchReport"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/snapshot": {
      "post": {
        "operationId": "mlSnapshot",
        "summary": "Pin this tenant's learned state",
        "description": "Snapshot pins this tenant's learned state into its own encrypted file.\n\nIt is what an auditor asks for: the exact model that raised an alert, kept so\nthat the same input can be scored again a year later. It is also what makes a\nrollout survivable — the shutdown path snapshots every resident tenant,\nbecause cloud deploys Recreate at one replica and a model that comes back with\nnothing learned refuses to score for its whole warm period.",
        "tags": [
          "ml"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlSnapshotOut"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/ml/state": {
      "get": {
        "operationId": "mlState",
        "summary": "Read the model's governance state",
        "description": "ModelState is what a review of the model reads: the appetite it was given, the\nthreshold that appetite produced, and the share it ACTUALLY reached.\n\nStated against realised is the whole governance report. An appetite is a\nmeasured commitment or it is nothing, and a fixed threshold on a drifting\ndistribution silently becomes either silence or a flood.",
        "tags": [
          "ml"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlModelState"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/state/appetite": {
      "put": {
        "operationId": "mlSetAppetite",
        "summary": "Set the share of the stream the model may examine",
        "description": "Sets how much of the stream the model may examine.\n\nReview is the lever, and the threshold is derived from it as a quantile of the\nscores actually observed rather than fixed at a number someone liked. That is\nwhat makes an alert level governed rather than tuned, and it is why the level\ncannot be set to fit the size of the review team.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mlAppetiteIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlModelState"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/train": {
      "post": {
        "operationId": "mlTrain",
        "summary": "Train this tenant's model on its own observations",
        "description": "Train teaches this tenant's model from this tenant's own observations.\n\nIt is online: there is no job, no queue and no window in which the tenant is\nprotected by a stale model, because the half-space geometry is built before\nany data arrives and the model IS a set of mass counters. One observation is\none increment.\n\nTHERE IS NO CROSS-TENANT TRAINING INPUT AND NO WAY TO EXPRESS ONE. The model\nis indexed by the tenant key and its tree GEOMETRY is seeded from it, so two\ntenants do not merely hold different counters — they hold different trees.\nAny cross-org learning in this product is aggregate-only, lives in a table\nwith no tenant column, and is published only above a k-anonymity floor.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mlTrainIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlTrainOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/activity": {
      "get": {
        "operationId": "riskActivity",
        "summary": "Watch live rule activations and their disposition",
        "description": "Activity is the watcher: what is firing right now, what is being muted, and\nwhich way the decisions are going.\n\nIt reads the DECISION LOG rather than a second bus. The log is already the\nrecord and the analytics copies already reach the platform stream; a dedicated\nactivation bus would be a third representation of one fact and a third thing\nthat can be behind.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds how many recent decisions are summarised, 1..500.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskActivityView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/controls": {
      "get": {
        "operationId": "riskControls",
        "summary": "List the platform controls declared on subjects",
        "description": "Controls lists the platform controls declared on this tenant's subjects:\nreserves, payout holds and blocks.\n\nThey are DECLARATIONS the money plane reads. Risk never moves money —\nhanzoai/commerce owns payouts, disputes and balances — so a marketplace reads\nthis before a payout and calls decide at authorization, and risk touches no\nprocessor. That is what \"processor-agnostic\" is: a structural property, not a\nfeature.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind narrows to one subject kind.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Subject narrows to one subject.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskControlPage"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "riskSetControl",
        "summary": "Declare a reserve, a payout hold or a block on a subject",
        "description": "Declares a reserve, a payout hold or a block on a subject.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskControlIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskControl"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/risk/controls/{id}": {
      "delete": {
        "operationId": "riskReleaseControl",
        "summary": "Release a control",
        "description": "Lifts a control. Answers 204, or 404 for an identifier this\ntenant does not own.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, taken from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/risk/decide": {
      "post": {
        "operationId": "riskDecide",
        "summary": "Score an entity or event and return a decision",
        "description": "Decide scores one entity or event and answers what to do about it: allow,\nchallenge, review, restrict or block, with the evidence behind it.\n\nOne op, not three. \"Score this thing\" is one verb, and a stage-specific op per\nlifecycle moment would be three places for the tenant gate to drift. The stage\nselects the feature window and the rule set and nothing else.\n\nIt is METERED AFTER the work, never gated before it. A pre-work balance gate\nwould have to render its refusal in the fleet's nested error contract, which a\ntyped op cannot do — so the hot path stays typed, the screen is billed on the\ndecision that was actually produced, and no funded client's 402 parsing is\naffected. Overage lands on the caller's OWN ledger: Meter sends the org as\nboth the commerce identity and the org header, which is the anti-cross-org\nproperty.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskDecideIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDecision"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/decisions": {
      "get": {
        "operationId": "riskDecisions",
        "summary": "List recent decisions",
        "description": "Decisions lists this tenant's recent decisions, newest first. Every filter is\nan equality on a column the tenant's own file owns, so a filter can narrow the\ncaller's own log and can never widen it.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind narrows to one subject kind.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Subject narrows to one subject.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "description": "Action narrows to one outcome.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Stage narrows to one lifecycle moment.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds the page, 1..500, default 100.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDecisionPage"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/decisions/{id}": {
      "get": {
        "operationId": "riskDecisionDetail",
        "summary": "Read one decision with its evidence",
        "description": "Reads one decision with everything behind it: the evidence, the\nmodel's per-feature attribution and the digest of the model that produced it.\nThat set IS the dispute packet — what was decided, on what, by which model.\n\nA decision another tenant owns answers 404, exactly as an unknown identifier\ndoes, because the tenant's file is the only place looked in: there is no query\nthat could reach another tenant's row, so a probe learns nothing.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, taken from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDecisionView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/decisions/{id}/label": {
      "post": {
        "operationId": "riskLabel",
        "summary": "Record what a human concluded about a decision",
        "description": "Label records what a human concluded about a decision — fraud, legitimate,\nchargeback, abuse or unknown.\n\nTHE DECIDER IS SERVER-SET. It comes from the validated principal and never\nfrom the request body: the engine's own resolutions carry an unauthenticated\n`by`, and importing that gap into a product that bills on the decision would\nmake the attribution worthless the moment anyone asked who cleared what.\n\nThis is also the only supervision this product has. Everything the model knows\nabout its own miss rate comes from these labels against the below-the-line\nsample.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the decision, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskLabelIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDecisionView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/dictionary": {
      "get": {
        "operationId": "riskDictionary",
        "summary": "Read the field catalogue a rule may name",
        "description": "Dictionary is the vocabulary a rule may be written in: every fact, every\noperator, every velocity axis and window, this tenant's own lists, and the\nsignal keys this tenant has actually sent.\n\nTwo lenses on one catalogue. The product half is closed and is what admission\nchecks against. The tenant half — the signals — is the tenant's own, read back\noff its recent decisions, which is what makes a rule builder able to offer the\nfields that exist here rather than the fields that exist in general.",
        "tags": [
          "risk"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDictionaryView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/health": {
      "get": {
        "operationId": "get_v1_risk_health",
        "summary": "Report whether the decision plane can decide",
        "description": "Answers 200 with a report of what is up, or 503 CARRYING THE SAME REPORT as its body — which is the whole point of a real probe, and the reason this one route is not a typed op: a typed op reaches a non-2xx only by returning an error, and that renders as an envelope with the report dropped.\n\nThe report names the model digest in force, how many tenants this process holds resident, whether the feature warehouse is reachable, and whether metering is configured. Only the first is load-bearing for a decision: the rings are in memory, the rules and lists are the tenant's own file, and the model is in process, so a decision does NOT need the warehouse and the probe stays green without it. A warehouse that is down costs the field dictionary and the search sandbox, and is reported as exactly that rather than as a failure of the authorization path.",
        "tags": [
          "risk"
        ]
      }
    },
    "/v1/risk/lists": {
      "get": {
        "operationId": "riskLists",
        "summary": "List this tenant's allow and deny lists",
        "description": "Lists shows this tenant's allow and deny lists and how many values each holds.\n\nThese are the TENANT's operational lists. Sanctions and PEP designations are\nnot here and are never merged into them: a tenant may add to its own deny\nlist, and a tenant may not edit OFAC.",
        "tags": [
          "risk"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskListPage"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "riskCreateList",
        "summary": "Create an allow or deny list",
        "description": "Creates an allow or deny list a rule can name in an inlist term.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskListIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskListView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/risk/lists/{name}/entries": {
      "post": {
        "operationId": "riskAddListEntries",
        "summary": "Add values to a list",
        "description": "Adds values to a list. Values are folded to lower case so a\nvalue added in one case matches a signal sent in another.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the list, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskListEntriesIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskListView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/lists/{name}/entries/{value}": {
      "delete": {
        "operationId": "riskRemoveListEntry",
        "summary": "Remove one value from a list",
        "description": "Removes one value from a list. Answers 204, or 404 when the\nlist does not hold it.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the list, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "path",
            "required": true,
            "description": "Value is the value to remove, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/risk/mode": {
      "get": {
        "operationId": "riskMode",
        "summary": "Read whether this tenant's decisions act or only observe",
        "description": "Mode reports whether this tenant's decisions act or only observe.",
        "tags": [
          "risk"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskModeView"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "riskSetMode",
        "summary": "Take this tenant live, or return it to shadow",
        "description": "Takes this tenant live, or returns it to shadow.\n\nSHADOW IS THE DEFAULT AND THE DEFAULT IS NOT CONFIGURABLE. In shadow every\nrule runs, the model scores and learns, every decision is recorded, and the\naction is always allow — so what would have happened is readable over real\ntraffic before anyone depends on it. A model that quietly went live and\nstarted declining payments is the worst failure available here.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskModeIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskModeView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/policy": {
      "get": {
        "operationId": "riskPolicy",
        "summary": "Read the score bands in force",
        "description": "Policy reads the score bands in force, per lifecycle stage.\n\nA band maps a calibrated PROBABILITY to an action, which is why it is a\ngoverned value and not a constant: where the line sits between letting a\ncustomer through and stopping them is a business decision with a price on\neither side, and it belongs to the organisation making it. A threshold\ncompiled into the scoring path is a decision nobody signed and cannot be shown\nto have been in force on the day a particular customer was declined.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Stage is signup, payment, session, usage or payout. Empty reads every\nstage this organisation has set bands for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskPolicyBook"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "riskSetPolicy",
        "summary": "Set the score bands, as a new recorded version",
        "description": "Records a new version of one stage's bands.\n\nIt is an INSERT and never an update. A policy change is a governance decision,\nso the previous version stays exactly as it was and \"what was in force when\nthis customer was declined\" is a lookup rather than a reconstruction. The\nversion is minted here, the author comes from the validated principal rather\nthan from the body, and the reason is required — a threshold that moved with\nno stated reason is a decision with no author.\n\nEvery refusal below is a real way a ladder silently stops being a risk policy:\na band above one is an action nothing can reach, bands out of order mean a\nhigher probability asks for less, two bands at one probability leave which\napplies undecided, and a band repeating the action beneath it is dead weight\nthat makes the ladder look like it has more steps than it has.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskPolicyBands"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskPolicyBands"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/policy/versions": {
      "get": {
        "operationId": "riskPolicyVersions",
        "summary": "Read every version of a stage's bands, newest first",
        "description": "PolicyVersions is the audit trail: every version of one stage's bands, newest\nfirst, each with who set it, when and why.\n\nNothing here was ever edited, so this is the whole history and not a\nreconstruction of one.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Stage is the lifecycle moment. Required: a version history across stages\nwould interleave unrelated decisions.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds the page, 1..200, default 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskPolicyBook"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/reasons": {
      "get": {
        "operationId": "riskReasons",
        "summary": "Read the closed vocabulary of reason codes a decision can cite",
        "description": "Reasons is the closed vocabulary of reason codes a decision can cite.\n\nIt is DERIVED from the detector's own feature inventory rather than declared\nbeside it, so it cannot name a feature the model does not read and cannot omit\none it does. Every model code carries the typology, the supervisory indicator\nand the published citation those words come from, so a reason shown to a\nperson is checkable rather than asserted.\n\nA free-text reason cannot be counted, cannot be tested and cannot be compared\nbetween two decisions. Every regime that lets someone question an automated\ndecision asks for the principal reasons specifically — which is a ranked list\nover a fixed vocabulary, and this is the vocabulary.",
        "tags": [
          "risk"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskReasonBook"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/rules": {
      "get": {
        "operationId": "riskRules",
        "summary": "List this tenant's rules",
        "description": "Rules lists this tenant's detections. A tenant starts with a starter set\ncovering the lifecycle the product names — signup burst, shared device,\ndisposable email, card testing, denied address, spend spike, payout velocity,\nundeclared automation — all of which it may read, copy, edit and retire.",
        "tags": [
          "risk"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskRuleList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "riskCreateRule",
        "summary": "Create a rule",
        "description": "Admits a new detection. Admission is strict on purpose: a rule with\nno terms holds on everything, a rule naming a field that does not exist holds\non nothing, and both read as a working control from the outside.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskRuleIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskRule"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/risk/rules/{id}": {
      "delete": {
        "operationId": "riskDeleteRule",
        "summary": "Retire a rule",
        "description": "Retires a detection. Answers 204, or 404 for an identifier this\ntenant does not own.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, taken from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "patch": {
        "operationId": "riskUpdateRule",
        "summary": "Replace a rule",
        "description": "Replaces a detection whole. There is no partial update: a rule is a\nconjunction of terms, and merging a partial term list into an existing one is\na change nobody can read off the request.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the rule to replace, from the path on a PATCH. Ignored on create,\nwhere the server mints one.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskRuleIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskRule"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/simulate": {
      "post": {
        "operationId": "riskSimulate",
        "summary": "Replay a candidate rule over this tenant's own history",
        "description": "Simulate replays a candidate rule over this tenant's OWN recorded decisions\nand reports what it would have caught, what it would have given up, and how\nmuch of that a human has already judged.\n\nIt is a gate and not a nicety: a new typology has to be tested before live\nactivation, and a retirement has to be justified against the outgoing rule's\nperformance. Nothing is written — the replay reads the decision log and\nevaluates in memory.\n\nAn EMPTY history is REFUSED rather than reported as zero alerts. \"No alerts\"\nis exactly what a quiet rule looks like, and being unable to tell the two\napart is the failure a sandbox exists to prevent.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskSimulateIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskSimulateReport"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/subjects/{kind}/{id}": {
      "get": {
        "operationId": "riskSubjectState",
        "summary": "Read one subject's current risk state",
        "description": "Reads one subject's current risk state: every live velocity\naggregate it has, its recent decisions, whatever controls are declared on it,\nits thirty-day history, and where this KIND of subject sits across the\nplatform. This is the continuous-monitoring read — a merchant, an account or\nan agent, on one page.\n\nThe last two come from the warehouse and are BEST EFFORT: an unreachable\nwarehouse omits them and names the gap, because a zeroed history would say the\nsubject did nothing and a zeroed baseline would say the platform did.\n\nThe network comparison is the only cross-org value this API returns and it is\naggregate BY CONSTRUCTION: the table has no tenant column, so there is no\nquery — here or anywhere — that could return another tenant's rows.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "description": "Kind is the subject kind, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the subject identifier, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskSubjectView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/suppressions": {
      "get": {
        "operationId": "riskSuppressions",
        "summary": "List active suppressions",
        "description": "Suppressions lists the active mutes. A suppression that has expired is not\nlisted and mutes nothing — a forgotten mute stops muting instead of quietly\nstaying on forever.",
        "tags": [
          "risk"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskSuppressionPage"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "riskSuppress",
        "summary": "Suppress a rule's activations",
        "description": "Suppress mutes a rule's activations for a subject, a subject kind, or\neverywhere that rule fires.\n\nA suppressed hit is RECORDED with suppressed set and contributes nothing to\nthe action. It is never dropped, for the same reason the model counts its\nrefusals: silence must never read as a clean result, and a compliance record\nthat can be silently muted by an operational knob is not a record.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskSuppressIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskSuppression"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/risk/suppressions/{id}": {
      "delete": {
        "operationId": "riskUnsuppress",
        "summary": "Lift a suppression",
        "description": "Unsuppress lifts a mute. Answers 204, or 404 for an identifier this tenant\ndoes not own.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, taken from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "mlAppetite": {
        "properties": {
          "review": {
            "description": "Review is the share of the stream that may be sent for examination. The\nalert threshold is derived from it as a quantile of the scores actually\nobserved, rather than fixed at a number someone liked — so an alert level\nis governed rather than tuned, and a drifting distribution does not turn\nit into silence or a flood.",
            "type": "number"
          },
          "sample": {
            "description": "Sample is the share of NON-alerting traffic retained for review below the\nline. It is the only instrument that can measure what the model missed,\nbecause nothing in the stream is labelled.",
            "type": "number"
          },
          "warm": {
            "description": "Warm is how many observations the model must learn before it may score.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlAppetiteIn": {
        "properties": {
          "review": {
            "description": "Review is the share of the stream that may be examined, in (0, 0.5].",
            "type": "number"
          },
          "sample": {
            "description": "Sample is the share of non-alerting traffic retained, in [0, 1].",
            "type": "number"
          }
        },
        "type": "object"
      },
      "mlBin": {
        "properties": {
          "from": {
            "description": "From is the lower bound of the predicted probability, inclusive.",
            "type": "number"
          },
          "observed": {
            "description": "Observed is the share of them that turned out productive. A calibrated map\nhas it equal to Predicted, and the gap between the two is the whole report.\nAbsent for an empty bin, for the same reason.",
            "type": "number"
          },
          "predicted": {
            "description": "Predicted is the mean probability the map gave them. ABSENT for an empty\nbin: a point drawn at zero would claim perfect confidence in innocence.",
            "type": "number"
          },
          "rows": {
            "description": "Rows is how many decisions fell in the bin.",
            "type": "integer"
          },
          "to": {
            "description": "To is the upper bound, exclusive.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "mlCalibrateIn": {
        "properties": {
          "horizon": {
            "description": "Horizon is how many days a decision must have aged before its outcome\ncounts as settled. It is the single most consequential field here: an\nanalyst judges within hours and a card dispute lands 30 to 120 days later,\nso measuring over everything strips the recent tail of exactly the\nchargebacks that make the base rate what it is. 120 for a payment lane, 14\nfor signup abuse, 0 only where every label genuinely arrives at once.\nBetween 0 and 3650, which is past every retention window here.",
            "type": "integer"
          },
          "method": {
            "description": "Method is isotonic or platt. Isotonic assumes only that a higher score is\nnever less likely to be productive, which is the one assumption the\ndetector guarantees, and needs data. Platt has two parameters and survives\na small sample at the cost of assuming a shape. Empty takes isotonic.",
            "type": "string"
          },
          "rows": {
            "description": "Rows bounds the history read, 1..50000. Zero takes the bound.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlCalibrationView": {
        "properties": {
          "at": {
            "description": "At is when it was fitted, RFC 3339 in UTC.",
            "type": "string"
          },
          "brier": {
            "description": "Brier is the mean squared error on the fitting sample — the in-sample\nnumber, and therefore optimistic. The honest one is on the learning\ncurve's held-out arm.",
            "type": "number"
          },
          "current": {
            "description": "Current says whether that shape is still the one in force. When it is not,\nthe map REFUSES to answer and every decision reports its probability as\nabsent — which is the training-serving skew control working, and the field\nto read first.",
            "type": "boolean"
          },
          "digest": {
            "description": "Digest identifies this fit exactly, so a decision can name the map that\nproduced its probability.",
            "type": "string"
          },
          "fitted": {
            "description": "Fitted is false when this organisation has no calibration. Everything\nbelow is then empty and the decision plane reports probabilities as\nabsent rather than inventing them.",
            "type": "boolean"
          },
          "horizon": {
            "description": "Horizon is the maturity horizon the fit was taken under, in days.",
            "type": "integer"
          },
          "immature": {
            "description": "Immature is how many labelled decisions that horizon excluded for being too\nyoung. A horizon that quietly drops most of the evidence is the difference\nbetween a thin answer and a wrong one, so it is reported beside every fit.",
            "type": "integer"
          },
          "method": {
            "description": "Method is isotonic or platt.",
            "type": "string"
          },
          "prevalence": {
            "description": "Prevalence is the productive share of that sample. A probability read\nwithout it is uninterpretable: 0.4 is alarming at a base rate of one in a\nthousand and unremarkable at one in three.",
            "type": "number"
          },
          "productive": {
            "description": "Productive is how many of them turned out to be worth acting on.",
            "type": "integer"
          },
          "refusal": {
            "description": "Refusal names why there is no fit, when there is none.",
            "type": "string"
          },
          "reliability": {
            "description": "Reliability is the fit against reality, in bins — the diagonal a console\ndraws. ABSENT when the map refuses to answer: a reliability report is the\nmap applied to every row, so a chart beside a refusal draws what the\nrefusal just said does not exist.",
            "items": {
              "$ref": "#/components/schemas/mlBin"
            },
            "type": "array"
          },
          "rows": {
            "description": "Rows is how many judged decisions the fit was taken over.",
            "type": "integer"
          },
          "shape": {
            "description": "Shape is the scoring shape it was fitted under: the detector's geometry and\nfeature inventory folded with this organisation's enabled rule set.",
            "type": "string"
          },
          "superseded": {
            "description": "Superseded is how many mature judged decisions were excluded because they\nwere scored under a DIFFERENT scoring shape. A fit reads one coordinate\nsystem only — stamping today's shape on yesterday's scores is exactly the\nskew the shape gate refuses — so this is the evidence a refit cannot\nhonestly use, and the number that says why a fit went thin after a governed\nchange.",
            "type": "integer"
          },
          "truncated": {
            "description": "Truncated says the bounded read cut the history: there are older mature\ndecisions under this shape that nothing here was computed from. The read\ntakes the MOST RECENT rows, so what is missing is the oldest.",
            "type": "boolean"
          },
          "unproductive": {
            "description": "Unproductive is how many turned out fine. Both classes are reported so the\nimbalance is visible before anyone reads a probability computed over it.",
            "type": "integer"
          },
          "version": {
            "description": "Version is monotone; a fit never replaces an earlier one in place.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlCandidate": {
        "properties": {
          "blend": {
            "description": "Blend is how much of a closing window folds into the reference.",
            "type": "number"
          },
          "depth": {
            "description": "Depth is how deep each tree splits.",
            "type": "integer"
          },
          "review": {
            "description": "Review is the share of the stream this topology may examine.",
            "type": "number"
          },
          "trees": {
            "description": "Trees is how many half-space trees the model holds.",
            "type": "integer"
          },
          "window": {
            "description": "Window is how many observations make up one reference window.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlConfusion": {
        "properties": {
          "fn": {
            "description": "FN is productive and let through — the misses, which the price of a miss\nvalues.",
            "type": "number"
          },
          "fp": {
            "description": "FP is unproductive and flagged — the false alarms, which the price of an\nalarm values.",
            "type": "number"
          },
          "tn": {
            "description": "TN is unproductive and let through: correctly left alone.",
            "type": "number"
          },
          "tp": {
            "description": "TP is productive and flagged: caught.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "mlFeature": {
        "properties": {
          "citation": {
            "description": "Citation is where those words come from, so the claim is checkable.",
            "type": "string"
          },
          "indicator": {
            "description": "Indicator is the supervisor's own words for what is being looked for.",
            "type": "string"
          },
          "name": {
            "description": "Name is the dimension.",
            "type": "string"
          },
          "neutral": {
            "description": "Neutral is the value at which this feature is unremarkable — the\ncoordinate the counterfactual moves it to.",
            "type": "number"
          },
          "severity": {
            "description": "Severity is the grading a hit on this feature carries.",
            "type": "string"
          },
          "typology": {
            "description": "Typology is the pattern it expresses.",
            "type": "string"
          },
          "unit": {
            "description": "Unit is how to read the raw number.",
            "type": "string"
          },
          "window": {
            "description": "Window is the span it is measured over, when it has one.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mlFeatureInventory": {
        "properties": {
          "digest": {
            "description": "Digest is the identity of this shape.",
            "type": "string"
          },
          "items": {
            "description": "Items is every dimension, in coordinate order. The ORDER is part of the\nmodel's identity: adding, removing or reordering one invalidates learned\nstate, which the digest enforces.",
            "items": {
              "$ref": "#/components/schemas/mlFeature"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "mlLearningCurve": {
        "properties": {
          "horizon": {
            "description": "Horizon is the maturity horizon applied, in days.",
            "type": "integer"
          },
          "immature": {
            "description": "Immature is how many labelled decisions that horizon excluded.",
            "type": "integer"
          },
          "refusal": {
            "description": "Refusal names why the curve is empty when it is.",
            "type": "string"
          },
          "steps": {
            "description": "Steps is the curve, oldest prefix first.",
            "items": {
              "$ref": "#/components/schemas/mlLearningStep"
            },
            "type": "array"
          },
          "superseded": {
            "description": "Superseded is how many mature judged decisions were scored under a\ndifferent scoring shape and therefore appear at no step.",
            "type": "integer"
          },
          "truncated": {
            "description": "Truncated says the bounded read cut the history at its oldest end.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "mlLearningStep": {
        "properties": {
          "ahead": {
            "$ref": "#/components/schemas/mlMetrics",
            "description": "Ahead is the report on the held window, strictly later than anything the\nfit saw. Two arms, because one alone cannot tell \"more labels would help\"\nfrom \"the fit has started memorising\"."
          },
          "held": {
            "description": "Held is the size of the fixed later window this step was measured against.\nIt is the same at every step, which is the whole reason two steps are\ncomparable.",
            "type": "integer"
          },
          "judged": {
            "description": "Judged is how many of those carried an outcome — the number that actually\nconstrains the fit.",
            "type": "integer"
          },
          "productive": {
            "description": "Productive is how many of the judged were positive. A step with two\npositives produces a number and not evidence, and this is how a reader\ntells which.",
            "type": "integer"
          },
          "refusal": {
            "description": "Refusal names why a step produced no fit — almost always too little of one\nclass by that point. Stated rather than skipped, so the curve shows where\nthe plane became able to answer at all.",
            "type": "string"
          },
          "rows": {
            "description": "Rows is how many decisions the fit was given.",
            "type": "integer"
          },
          "train": {
            "$ref": "#/components/schemas/mlMetrics",
            "description": "Train is the report on the rows the fit saw, and is optimistic by\nconstruction."
          }
        },
        "type": "object"
      },
      "mlMeasureIn": {
        "properties": {
          "horizon": {
            "description": "Horizon is the maturity horizon in days, 0 to 3650 — see mlCalibrate, where\nthe same field decides the same thing and for the same reason.",
            "type": "integer"
          },
          "rows": {
            "description": "Rows bounds the history read, 1..50000. Zero takes the bound.",
            "type": "integer"
          },
          "stage": {
            "description": "Stage selects whose bands supply the operating point and the prices.\nEmpty measures at the cost-minimising threshold with no stated price,\nwhich reports separation and nothing about money.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mlMeasurement": {
        "properties": {
          "calibrated": {
            "description": "Calibrated says whether a probability was available at all. When it is\nfalse, Brier is absent and the operating point is the raw score — the\nSAME state the decide path is in, which is the point: this op must not\ndescribe a world the live plane refuses to enter.",
            "type": "boolean"
          },
          "curve": {
            "description": "Curve is the sweep — ROC, precision-recall and cost, three charts from one\npass because they are three projections of it.",
            "items": {
              "$ref": "#/components/schemas/mlPoint"
            },
            "type": "array"
          },
          "horizon": {
            "description": "Horizon is the maturity horizon applied, in days.",
            "type": "integer"
          },
          "immature": {
            "description": "Immature is how many labelled decisions that horizon excluded for being too\nyoung for their outcome to have arrived.",
            "type": "integer"
          },
          "metrics": {
            "$ref": "#/components/schemas/mlMetrics",
            "description": "Metrics is the report at the operating point."
          },
          "refusal": {
            "description": "Refusal names why there was no probability, when there was none.",
            "type": "string"
          },
          "stage": {
            "description": "Stage is whose bands supplied the operating point and the prices, when one\ndid.",
            "type": "string"
          },
          "superseded": {
            "description": "Superseded is how many mature judged decisions were scored under a\ndifferent scoring shape and therefore measured nowhere here.",
            "type": "integer"
          },
          "truncated": {
            "description": "Truncated says the bounded read cut the history at its oldest end.",
            "type": "boolean"
          },
          "unacted": {
            "description": "Unacted is the share of the judged evidence that came from decisions the\nplane LET THROUGH. It is the honest limit on every number above: a blocked\ndecision has no outcome, so a judged set made entirely of decisions the\nincumbent chose to act on measures agreement with the incumbent rather than\naccuracy. Near zero means exactly that.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "mlMetrics": {
        "properties": {
          "alarm": {
            "description": "Alarm is the share of the judged stream flagged there — the realised\nreview rate an operations team is resourced against.",
            "type": "number"
          },
          "best_nano": {
            "description": "BestNano is the lowest cost reachable anywhere on the sweep. Absent for the\nsame reason.",
            "type": "integer"
          },
          "best_threshold": {
            "description": "BestThreshold is where that lowest cost sits. The gap between it and\nThreshold is what a threshold review is about.",
            "type": "number"
          },
          "brier": {
            "description": "Brier is the calibration error. A well-ranked, badly-calibrated plane\nmakes every band mean something other than what it says, and neither ROC\nnor PR can see that: both are rank statistics and a monotone calibration\ncannot move either.",
            "type": "number"
          },
          "confusion": {
            "$ref": "#/components/schemas/mlConfusion",
            "description": "Confusion is the four counts there."
          },
          "cost_nano": {
            "description": "CostNano is what being wrong cost at the operating point, in nano-units of\nthe organisation's accounting currency. Absent when the stage's bands state\nno price, because a cost computed from unstated prices is a number with a\ndecimal point and no meaning.",
            "type": "integer"
          },
          "f1": {
            "description": "F1 is their harmonic mean. It is reported for continuity with what people\nexpect and it hides the trade-off the two prices make explicit; read the\ncost instead when one is stated.",
            "type": "number"
          },
          "judged": {
            "description": "Judged is how many of those carry an outcome. The gap between it and Rows\nis the honest limit on everything below, which is why the pair is reported\nfirst.",
            "type": "integer"
          },
          "lift": {
            "description": "Lift is precision over prevalence: how much better than chance the flagged\nset is. One means the plane is choosing at random.",
            "type": "number"
          },
          "pr": {
            "description": "PR is average precision — the area under precision-recall by the step\ndefinition, never the trapezoid. This is the number that moves when a\nrare-event model gets better.",
            "type": "number"
          },
          "precision": {
            "description": "Precision is the productive share of what was flagged at that point — the\nnumber an investigator experiences as the alert queue's hit rate.",
            "type": "number"
          },
          "prevalence": {
            "description": "Prevalence is the productive share of the judged set.",
            "type": "number"
          },
          "productive": {
            "description": "Productive is how many judged decisions were worth acting on.",
            "type": "integer"
          },
          "recall": {
            "description": "Recall is the flagged share of what was productive: how much of the harm\nwas caught.",
            "type": "number"
          },
          "refusal": {
            "description": "Refusal names why a report is thin when it is.",
            "type": "string"
          },
          "roc": {
            "description": "ROC is the area under the receiver-operating curve, ties counted as half a\nwin. Insensitive to the base rate, which makes it comparable across\norganisations and optimistic-looking on a rare-event stream.",
            "type": "number"
          },
          "rows": {
            "description": "Rows is every decision looked at.",
            "type": "integer"
          },
          "threshold": {
            "description": "Threshold is the score everything below is measured at.",
            "type": "number"
          },
          "unproductive": {
            "description": "Unproductive is how many were not. Both classes are reported so the\nimbalance is visible before anyone reads a rate computed over it.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlModelState": {
        "properties": {
          "alerted": {
            "description": "Alerted is how many of those it alerted on — the numerator of Realised.",
            "type": "integer"
          },
          "appetite": {
            "$ref": "#/components/schemas/mlAppetite",
            "description": "Appetite is the stated share of the stream that may be examined."
          },
          "blind": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Blind counts, per feature, how often it took its neutral value for want of\ndata.",
            "type": "object"
          },
          "digest": {
            "description": "Digest is the model identity an auditor pins.",
            "type": "string"
          },
          "distribution": {
            "description": "Distribution is the score distribution the threshold is cut from, in 32\nbands.",
            "items": {
              "type": "number"
            },
            "type": "array"
          },
          "inventory": {
            "description": "Inventory is the feature set, so the state and the shape are read\ntogether.",
            "items": {
              "$ref": "#/components/schemas/mlFeature"
            },
            "type": "array"
          },
          "learned": {
            "description": "Learned is how many observations this tenant's model has taken in.",
            "type": "integer"
          },
          "realised": {
            "description": "Realised is the share that ACTUALLY alerted. Stated against realised is\nthe governance report — an appetite is a measured commitment or it is\nnothing.",
            "type": "number"
          },
          "refusals": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Refusals counts what the model declined to score, by reason. None of these\nwas examined by the model; all of them were examined by the rules.",
            "type": "object"
          },
          "saturated": {
            "description": "Saturated means the appetite cannot be honoured by any threshold because\ntoo much of the stream scores in the top band. It is the one state that\nmust never be mistaken for quiet.",
            "type": "boolean"
          },
          "scored": {
            "description": "Scored is how many observations the model was able to score — the\ndenominator of Realised.",
            "type": "integer"
          },
          "threshold": {
            "description": "Threshold is the score cut currently in force, recomputed each window as\nthe quantile that admits the stated share.",
            "type": "number"
          },
          "warming": {
            "description": "Warming is true while the model has not learned enough to score. A warming\nmodel REFUSES rather than scoring low, and the refusal is counted below.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "mlMove": {
        "properties": {
          "at": {
            "description": "At is when it was decided, RFC 3339 in UTC.",
            "type": "string"
          },
          "id": {
            "description": "ID is the decision this move is about.",
            "type": "string"
          },
          "outcome": {
            "description": "Outcome is what turned out to be true, when anyone judged it. It is what\nturns a list of differences into a list of improvements or of regressions.",
            "type": "string"
          },
          "probability": {
            "description": "Probability is what the calibration makes of that score. Absent when no\ncalibration is in force or the one on file was fitted under another shape.",
            "type": "number"
          },
          "score": {
            "description": "Score is what the model recorded at the time. It is replayed, never\nrecomputed: the rings have moved on and the detector has since learned from\nthis very event.",
            "type": "number"
          },
          "was": {
            "description": "Was is what the plane actually did.",
            "type": "string"
          },
          "would": {
            "description": "Would is what the candidate would have done instead.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mlObservation": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/riskAmount",
            "description": "Amount is the money involved, if any."
          },
          "at": {
            "description": "At is when it happened, RFC 3339. Absent means now.",
            "type": "string"
          },
          "signals": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Signals are the observations: ip, device, counterparty and the rest.",
            "type": "object"
          },
          "subject": {
            "$ref": "#/components/schemas/riskSubject",
            "description": "Subject is whose behaviour this is."
          }
        },
        "type": "object"
      },
      "mlPoint": {
        "properties": {
          "cost_nano": {
            "description": "CostNano is what this point costs under the stated prices, zero when none\nare stated.",
            "type": "integer"
          },
          "fpr": {
            "description": "FalsePositive is fall-out: the flagged share of what was unproductive. The\nROC horizontal axis.",
            "type": "number"
          },
          "precision": {
            "description": "Precision is the productive share of what was flagged. The PR vertical\naxis, against TruePositive as recall.",
            "type": "number"
          },
          "threshold": {
            "description": "Threshold is the score at or above which a decision is flagged.",
            "type": "number"
          },
          "tpr": {
            "description": "TruePositive is recall at this point — the ROC vertical axis, and the PR\nhorizontal one.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "mlReplayIn": {
        "properties": {
          "bands": {
            "description": "Bands is the candidate ladder. Empty replays the ladder currently in force,\nwhich is how a change of maturity horizon or of window is compared on its\nown.",
            "items": {
              "$ref": "#/components/schemas/riskBand"
            },
            "type": "array"
          },
          "cost": {
            "$ref": "#/components/schemas/riskCost",
            "description": "Cost is what being wrong is worth under the candidate. Empty takes the\nprices the stage's current bands state."
          },
          "floor": {
            "description": "Floor is the action below the first band. Empty takes the floor the stage's\ncurrent ladder states.",
            "type": "string"
          },
          "horizon": {
            "description": "Horizon is the maturity horizon in days, 0 to 3650.",
            "type": "integer"
          },
          "rows": {
            "description": "Rows bounds the history read, 1..50000. Zero takes the bound.",
            "type": "integer"
          },
          "stage": {
            "description": "Stage is which lifecycle moment's decisions to replay. Required: replaying\na payout ladder over signup decisions answers a question nobody asked.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mlReplayReport": {
        "properties": {
          "at": {
            "description": "At is when it was run, RFC 3339 in UTC.",
            "type": "string"
          },
          "calibration": {
            "description": "Calibration is the digest of the map that turned each recorded score into\nthe probability the ladder read. Empty when none was in force.",
            "type": "string"
          },
          "changed": {
            "description": "Changed is how many decisions would differ, exactly, and is never cut.",
            "type": "integer"
          },
          "digest": {
            "description": "Digest is the identity of this report. Two replays of one candidate over\none history agree on it; if they do not, the inputs moved. It is what makes\na replay evidence rather than an anecdote.",
            "type": "string"
          },
          "explore": {
            "description": "Explore is the share of the judged evidence that came from the\nbelow-the-line sample rather than from something the plane chose to look\nat. Near zero means the report is measuring agreement with the incumbent,\nwhich is a property of the evidence and not of the candidate.",
            "type": "number"
          },
          "from": {
            "description": "From is the earliest decision in the period, RFC 3339 in UTC.",
            "type": "string"
          },
          "id": {
            "description": "ID identifies this report for the whole of its life. A threshold change is\njustified by one, so the justification has an address.",
            "type": "string"
          },
          "loosened": {
            "description": "Loosened is how many it would let through that the plane did not. That\ndirection is the one a review has to justify.",
            "type": "integer"
          },
          "metrics": {
            "$ref": "#/components/schemas/mlMetrics",
            "description": "Metrics is the candidate measured against the judged subset at the\noperating point its FIRST band implies — the point where it stops doing\nnothing."
          },
          "moved": {
            "description": "Moved lists the differences, oldest first, cut at a bound. Changed is\nnever cut.",
            "items": {
              "$ref": "#/components/schemas/mlMove"
            },
            "type": "array"
          },
          "policy": {
            "description": "Policy is the digest of the candidate ladder that was replayed.",
            "type": "string"
          },
          "refusal": {
            "description": "Refusal names why a report is empty when it is. An empty history and a\ncandidate that changes nothing render identically otherwise.",
            "type": "string"
          },
          "rows": {
            "description": "Rows is how many decisions were replayed.",
            "type": "integer"
          },
          "tightened": {
            "description": "Tightened is how many of those the candidate would act harder on.",
            "type": "integer"
          },
          "to": {
            "description": "To is the latest.",
            "type": "string"
          },
          "was": {
            "description": "Was is the action distribution the plane actually produced, ascending by\naction.",
            "items": {
              "$ref": "#/components/schemas/mlTally"
            },
            "type": "array"
          },
          "would": {
            "description": "Would is the distribution the candidate would have produced.",
            "items": {
              "$ref": "#/components/schemas/mlTally"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "mlScoreIn": {
        "properties": {
          "observation": {
            "$ref": "#/components/schemas/mlObservation",
            "description": "Observation is what to score."
          }
        },
        "type": "object"
      },
      "mlScoreOut": {
        "properties": {
          "alert": {
            "description": "Alert is whether this would become evidence.",
            "type": "boolean"
          },
          "causes": {
            "description": "Causes is the per-feature attribution, ordered by contribution.",
            "items": {
              "$ref": "#/components/schemas/riskCause"
            },
            "type": "array"
          },
          "cut": {
            "description": "Cut is the threshold in force, derived from the appetite.",
            "type": "number"
          },
          "model": {
            "description": "Model is the digest of the model that produced this.",
            "type": "string"
          },
          "refusal": {
            "description": "Refusal names the decline: warming or unidentified.",
            "type": "string"
          },
          "score": {
            "description": "Score is the anomaly score in [0,1]: 0 where this tenant's recent\nbehaviour is densest, 1 where there is none of it.",
            "type": "number"
          },
          "scored": {
            "description": "Scored is false when the model declined; Refusal says which refusal.",
            "type": "boolean"
          },
          "shadow": {
            "description": "Shadow is whether the model is observing rather than contributing.",
            "type": "boolean"
          },
          "values": {
            "description": "Values is every coordinate, including the blind ones.",
            "items": {
              "$ref": "#/components/schemas/mlValue"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "mlSearchIn": {
        "properties": {
          "limit": {
            "description": "Limit bounds how many recorded observations are replayed, 1..5000. The\ngrid itself is closed and needs no bound from the caller.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlSearchReport": {
        "properties": {
          "curve": {
            "description": "Curve is the winner's separation as a function of how much history it had\nseen, in ten steps — the learning curve.",
            "items": {
              "type": "number"
            },
            "type": "array"
          },
          "events": {
            "description": "Events is how many historical observations were replayed.",
            "type": "integer"
          },
          "id": {
            "description": "ID identifies the run.",
            "type": "string"
          },
          "refusal": {
            "description": "Refusal names why the report is empty when it is. An empty history is\nrefused rather than reported as zero alerts, because a quiet model and an\nunrun model produce the same number.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"running\", \"done\" or \"refused\".",
            "type": "string"
          },
          "trials": {
            "description": "Trials is every candidate tried, best-separating first.",
            "items": {
              "$ref": "#/components/schemas/mlTrial"
            },
            "type": "array"
          },
          "winner": {
            "$ref": "#/components/schemas/mlCandidate",
            "description": "Winner is the best-separating topology that also honoured its stated\nappetite. Absent when no candidate did both."
          }
        },
        "type": "object"
      },
      "mlSearchRun": {
        "properties": {
          "candidates": {
            "description": "Candidates is how many topologies will be tried.",
            "type": "integer"
          },
          "id": {
            "description": "ID identifies the run; read it back at GET /v1/ml/search/{id}.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"running\" or \"done\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mlSnapshotOut": {
        "properties": {
          "at": {
            "description": "At is when it was pinned, RFC 3339 in UTC.",
            "type": "string"
          },
          "digest": {
            "description": "Digest is the model identity that was pinned.",
            "type": "string"
          },
          "learned": {
            "description": "Learned is how many observations that state had taken in.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlTally": {
        "properties": {
          "action": {
            "description": "Action is the action reached.",
            "type": "string"
          },
          "count": {
            "description": "Count is how many decisions reached it.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlTrainIn": {
        "properties": {
          "observations": {
            "description": "Observations are what to learn from. They are this tenant's own data and\nnothing else: there is no cross-tenant training input and no way to\nexpress one, because the model is indexed by the tenant key and its tree\nGEOMETRY is seeded from it.",
            "items": {
              "$ref": "#/components/schemas/mlObservation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "mlTrainOut": {
        "properties": {
          "learned": {
            "description": "Learned is how many observations were incorporated.",
            "type": "integer"
          },
          "model": {
            "description": "Model is the digest of the model that learned them.",
            "type": "string"
          },
          "refused": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Refused is how many were not, by reason.",
            "type": "object"
          },
          "warm": {
            "description": "Warm is true once the model has learned enough of this tenant's behaviour\nto score at all.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "mlTrial": {
        "properties": {
          "alerted": {
            "description": "Alerted is how many of those it would have alerted on.",
            "type": "integer"
          },
          "candidate": {
            "$ref": "#/components/schemas/mlCandidate",
            "description": "Candidate is the topology tried."
          },
          "realised": {
            "description": "Realised is Alerted over Scored, against the Review share intended.",
            "type": "number"
          },
          "scored": {
            "description": "Scored is how many observations it was able to score.",
            "type": "integer"
          },
          "separation": {
            "description": "Separation is the mean score of the alerted set minus the mean of the\nrest. It is the ranking objective: a topology that separates the tail from\nthe body is doing the job whatever its absolute scores look like.",
            "type": "number"
          },
          "warm": {
            "description": "Warm is how many observations passed before it would score at all.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlValue": {
        "properties": {
          "baseline": {
            "description": "Baseline is what is unremarkable here.",
            "type": "number"
          },
          "blind": {
            "description": "Blind is true when this feature had no usable coordinate, so it took its\nneutral value. A feature blind on most traffic is not contributing\nwhatever the inventory claims for it.",
            "type": "boolean"
          },
          "feature": {
            "description": "Feature is the dimension.",
            "type": "string"
          },
          "observed": {
            "description": "Observed is the raw number behind it.",
            "type": "number"
          },
          "unit": {
            "description": "Unit is how to read Observed and Baseline.",
            "type": "string"
          },
          "x": {
            "description": "X is the coordinate the model used, in [0,1].",
            "type": "number"
          }
        },
        "type": "object"
      },
      "riskActivityRule": {
        "properties": {
          "activations": {
            "description": "Activations is how many of the sampled decisions it fired on.",
            "type": "integer"
          },
          "name": {
            "description": "Name is its detection name.",
            "type": "string"
          },
          "rule": {
            "description": "Rule is the rule that fired.",
            "type": "string"
          },
          "suppressed": {
            "description": "Suppressed is how many of those were muted.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "riskActivityView": {
        "properties": {
          "actions": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Actions is how many decisions reached each action.",
            "type": "object"
          },
          "agency": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Agency is how many decisions were of each actor class.",
            "type": "object"
          },
          "refusals": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Refusals is how many decisions the model declined to score, by reason.",
            "type": "object"
          },
          "rules": {
            "description": "Rules is per-rule activation, most active first.",
            "items": {
              "$ref": "#/components/schemas/riskActivityRule"
            },
            "type": "array"
          },
          "sampled": {
            "description": "Sampled is how many recent decisions this summarises.",
            "type": "integer"
          },
          "shadow": {
            "description": "Shadow is whether this tenant is observing rather than acting.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "riskActor": {
        "properties": {
          "agent": {
[...]
