{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package risk is Hanzo Risk: the scoring and decision plane for any entity a tenant has — an account, a transaction, a session, an agent, a merchant, a payout — and the shared model plane both it and the compliance face read.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "ml"
    },
    {
      "name": "risk"
    }
  ],
  "paths": {
    "/v1/ml/drift": {
      "get": {
        "operationId": "mlDrift",
        "summary": "Measure whether the deciding model still fits the world it was estimated on",
        "description": "Drift measures whether the deciding model still fits the world it was\nestimated on: the distribution of every feature it reads, the distribution of\nthe scores it produces, the alert share against the appetite it states, and\nthe judgement rate against the one it measured.\n\nEvery reference is the version's OWN, stored when it was estimated. A report\nthat recomputed its baseline from recent data would be comparing the present\nto the present, which is a number that is always small and always reassuring.\n\nIT IS THE ESTIMATION'S WORK AT A SMALLER SIZE, SO IT CARRIES THE ESTIMATION'S\nBOUNDS. A reading replays up to fitRows rows through a fresh forest —\nmeasured at 54 ms of one core at the cap — on the single replica that is also\nanswering authorisations. Unpriced and unbounded that is a free way to spend\nthe pod: gated and metered on the caller's own ledger, one reading in flight\nper tenant, two across the deployment, and a deadline of its own so a caller\nthat walked away is not still holding a core.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "fit",
            "in": "query",
            "required": false,
            "description": "Fit is the version to measure. Absent takes the champion, which is the one\nwhose drift actually costs anything.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds how many recent observations the live profile is built from,\n1..5000. Default 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlDriftOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/features": {
      "get": {
        "operationId": "mlFeatures",
        "summary": "Read the typology-to-feature inventory the model is built on",
        "description": "Features is the typology-to-feature inventory the model is built on: what each\ndimension measures, the risk indicator it serves, and the published source\nthose words come from.\n\nIt is code rather than a document because a mapping kept beside the model\ncannot drift away from what the model actually reads — and the attributability\nit makes possible is why this is a tree and not a net.",
        "tags": [
          "ml"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlFeatureInventory"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/fits": {
      "get": {
        "operationId": "mlFits",
        "summary": "List this tenant's model versions",
        "description": "Fits lists this tenant's model versions, newest first, and names which one is\ndeciding, which is on trial and which is being estimated.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds the page, 1..200, default 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlFitPage"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "mlFit",
        "summary": "Estimate a new version of this tenant's model",
        "description": "Fit estimates a new version of this tenant's model from its own recorded\nbehaviour, and answers 202 with the queued record.\n\nIt never runs in the request. The estimation replays up to five thousand rows\nthrough a fresh forest — seconds to minutes on a pod that is also serving\nauthorisations — so it is queued behind four bounds: one in flight per tenant,\ntwo across the whole deployment, a ten-minute ceiling, and the row cap. The\nfifth is the caller's own ledger, debited here, before any of it is queued.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "horizon": 120,
                "note": "quarterly refresh",
                "window": 365
              },
              "schema": {
                "$ref": "#/components/schemas/mlFitIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlFitRecord"
                }
              }
            },
            "description": "accepted"
          }
        }
      }
    },
    "/v1/ml/fits/{id}": {
      "get": {
        "operationId": "mlFitDetail",
        "summary": "Read one model version with its lineage and role history",
        "description": "Reads one version with its lineage, its whole role history, any open\ndrift recorded against it, and whether its learned state can be served right\nnow. Answers 404 for an identifier this tenant does not own — never 403, which\nwould distinguish \"exists and is not yours\" from \"does not exist\" and let a\nneighbour enumerate.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to read, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlFitDetailOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/fits/{id}/cancel": {
      "post": {
        "operationId": "mlCancelFit",
        "summary": "Cancel an estimation that is queued or running",
        "description": "Stops an estimation that is queued or running. The record stays and\nsays it was cancelled: a queue entry that vanishes leaves nobody able to tell\na cancelled fit from one that was never asked for.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to read, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlFitRecord"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/fits/{id}/role": {
      "put": {
        "operationId": "mlSetFitRole",
        "summary": "Promote a version, put it on trial, roll back to it, or retire it",
        "description": "Moves a version between candidate, challenger, champion and\nretired. It is the ONE operation that changes which model decides.\n\nPromotion to champion has a precondition and it is the point of the whole\nplane: the version must already be the challenger, or must have decided real\ntraffic before, or there must be no incumbent. So a new model reaches the\ndecision path only after it has scored the live stream alongside the one it\nreplaces — and a ROLLBACK, which is promoting a version that has served,\npasses immediately and always. The failure this prevents is the one worth\npreventing: the emergency where a rollback is refused by the same gate that\nshould have stopped the promotion.\n\nThe displaced champion keeps its learned state, which is why rolling back is\ninstant rather than a re-warm.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the version, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "reason": "beat the incumbent over 14 days",
                "role": "champion"
              },
              "schema": {
                "$ref": "#/components/schemas/mlFitRoleIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlFitRecord"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/fits/{id}/tally": {
      "get": {
        "operationId": "mlFitTally",
        "summary": "Read how a challenger answered the same stream as the champion",
        "description": "Reads how a challenger answered the same stream as the champion:\nsame decisions, same rings, same feature vector, two verdicts.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the version, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds how many recent comparisons are counted, 1..5000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlTallyOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/restore": {
      "post": {
        "operationId": "mlRestore",
        "summary": "Restore this tenant's learned state from its pinned snapshot",
        "description": "Restore reinstates this tenant's learned state from its pinned snapshot.\n\nA snapshot whose shape does not match the running inventory is REFUSED, not\ncoerced, and a snapshot belonging to another tenant is refused twice — here,\nby the tenant that asked, and again inside the engine. State the model would\ntreat as its own memory has to have come from this algorithm over this feature\nset for this tenant.",
        "tags": [
          "ml"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlModelState"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/schedule": {
      "get": {
        "operationId": "mlSchedule",
        "summary": "Read when this tenant's model is re-estimated",
        "description": "Schedule reads when this tenant's model is re-estimated, and what the\nautomatic trigger is currently waiting for.",
        "tags": [
          "ml"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlScheduleOut"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "mlSetSchedule",
        "summary": "Set when this tenant's model is re-estimated",
        "description": "Sets when this tenant's model is re-estimated.\n\nA schedule may enrol its versions as candidates or as challengers and NEVER as\nchampions: the trigger decides that a new estimation is owed, and a person\ndecides which model gets to answer a customer.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "every": 168,
                "labels": 50,
                "role": "challenger"
              },
              "schema": {
                "$ref": "#/components/schemas/mlScheduleIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlScheduleOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/score": {
      "post": {
        "operationId": "mlScore",
        "summary": "Score an observation without learning from it",
        "description": "Score scores one observation and LEARNS NOTHING from it. It is how a candidate\nis tried against a tenant's real behaviour before anything depends on the\nanswer, and it is the model's analogue of testing a rule: because it records\nnothing, the aggregates it reads do not include the candidate.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mlScoreIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlScoreOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/search": {
      "post": {
        "operationId": "mlSearch",
        "summary": "Exhaustively search the model topology over this tenant's own history",
        "description": "Search exhaustively tries the model topology over this tenant's own history\nand returns the learning curve and the winning shape.\n\nThe grid is CLOSED — trees x depth x window x blend x appetite — because an\nunbounded grid is an unbounded amount of a shared pod's CPU reachable by\nanyone with a key. Each candidate runs in a sandbox over fresh counters, so a\nsearch can never move the live model, and no candidate can see another\ntenant's history because the replay reads this tenant's own file.\n\nA CLOSED GRID IS NOT A BOUND ON CONCURRENCY. 243 candidates over a thousand\nreplayed rows is one bounded search; a caller looping the op is as many of\nthem at once as it cares to start, on a single replica that is also answering\nauthorisations for every other product on this host. So it queues on THE bench\n— the same one estimation uses, with the same four bounds: one in flight per\ntenant, two across the deployment, a wall-clock ceiling, and the row cap.\n\nIt answers 202 with a run identifier; read the report back at\nGET /v1/ml/search/{id}.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mlSearchIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlSearchRun"
                }
              }
            },
            "description": "accepted"
          }
        }
      }
    },
    "/v1/ml/search/{id}": {
      "get": {
        "operationId": "mlSearchResult",
        "summary": "Read an exhaustive search's report",
        "description": "Reads an exhaustive search's report: every candidate tried, the\nwinner, and the winner's learning curve.",
        "tags": [
          "ml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to read, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlSearchReport"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/snapshot": {
      "post": {
        "operationId": "mlSnapshot",
        "summary": "Pin this tenant's learned state",
        "description": "Snapshot pins this tenant's learned state into its own encrypted file.\n\nIt is what an auditor asks for: the exact model that raised an alert, kept so\nthat the same input can be scored again a year later. It is also what makes a\nrollout survivable — the shutdown path snapshots every resident tenant,\nbecause cloud deploys Recreate at one replica and a model that comes back with\nnothing learned refuses to score for its whole warm period.",
        "tags": [
          "ml"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlSnapshotOut"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/ml/state": {
      "get": {
        "operationId": "mlState",
        "summary": "Read the model's governance state",
        "description": "ModelState is what a review of the model reads: the appetite it was given, the\nthreshold that appetite produced, and the share it ACTUALLY reached.\n\nStated against realised is the whole governance report. An appetite is a\nmeasured commitment or it is nothing, and a fixed threshold on a drifting\ndistribution silently becomes either silence or a flood.",
        "tags": [
          "ml"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlModelState"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/state/appetite": {
      "put": {
        "operationId": "mlSetAppetite",
        "summary": "Set the share of the stream the model may examine",
        "description": "Sets how much of the stream the model may examine.\n\nReview is the lever, and the threshold is derived from it as a quantile of the\nscores actually observed rather than fixed at a number someone liked. That is\nwhat makes an alert level governed rather than tuned, and it is why the level\ncannot be set to fit the size of the review team.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mlAppetiteIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlModelState"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/ml/train": {
      "post": {
        "operationId": "mlTrain",
        "summary": "Train this tenant's model on its own observations",
        "description": "Train teaches this tenant's model from this tenant's own observations.\n\nIt is online: there is no job, no queue and no window in which the tenant is\nprotected by a stale model, because the half-space geometry is built before\nany data arrives and the model IS a set of mass counters. One observation is\none increment.\n\nTHERE IS NO CROSS-TENANT TRAINING INPUT AND NO WAY TO EXPRESS ONE. The model\nis indexed by the tenant key and its tree GEOMETRY is seeded from it, so two\ntenants do not merely hold different counters — they hold different trees.\nAny cross-org learning in this product is aggregate-only, lives in a table\nwith no tenant column, and is published only above a k-anonymity floor.",
        "tags": [
          "ml"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mlTrainIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mlTrainOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/activity": {
      "get": {
        "operationId": "riskActivity",
        "summary": "Watch live rule activations and their disposition",
        "description": "Activity is the watcher: what is firing right now, what is being muted, and\nwhich way the decisions are going.\n\nIt reads the DECISION LOG rather than a second bus. The log is already the\nrecord and the analytics copies already reach the platform stream; a dedicated\nactivation bus would be a third representation of one fact and a third thing\nthat can be behind.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds how many recent decisions are summarised, 1..500.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskActivityView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/controls": {
      "get": {
        "operationId": "riskControls",
        "summary": "List the platform controls declared on subjects",
        "description": "Controls lists the platform controls declared on this tenant's subjects:\nreserves, payout holds and blocks.\n\nThey are DECLARATIONS the money plane reads. Risk never moves money —\nhanzoai/commerce owns payouts, disputes and balances — so a marketplace reads\nthis before a payout and calls decide at authorization, and risk touches no\nprocessor. That is what \"processor-agnostic\" is: a structural property, not a\nfeature.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind narrows to one subject kind.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Subject narrows to one subject.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskControlPage"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "riskSetControl",
        "summary": "Declare a reserve, a payout hold or a block on a subject",
        "description": "Declares a reserve, a payout hold or a block on a subject.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskControlIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskControl"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/risk/controls/{id}": {
      "delete": {
        "operationId": "riskReleaseControl",
        "summary": "Release a control",
        "description": "Lifts a control. Answers 204, or 404 for an identifier this\ntenant does not own.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, taken from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/risk/decide": {
      "post": {
        "operationId": "riskDecide",
        "summary": "Score an entity or event and return a decision",
        "description": "Decide scores one entity or event and answers what to do about it: allow,\nchallenge, review, restrict or block, with the evidence behind it.\n\nOne op, not three. \"Score this thing\" is one verb, and a stage-specific op per\nlifecycle moment would be three places for the tenant gate to drift. The stage\nselects the feature window and the rule set and nothing else.\n\nIt is METERED AFTER the work, never gated before it. A pre-work balance gate\nwould have to render its refusal in the fleet's nested error contract, which a\ntyped op cannot do — so the hot path stays typed, the screen is billed on the\ndecision that was actually produced, and no funded client's 402 parsing is\naffected. Overage lands on the caller's OWN ledger: Meter sends the org as\nboth the commerce identity and the org header, which is the anti-cross-org\nproperty.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskDecideIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDecision"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/decisions": {
      "get": {
        "operationId": "riskDecisions",
        "summary": "List recent decisions",
        "description": "Decisions lists this tenant's recent decisions, newest first. Every filter is\nan equality on a column the tenant's own file owns, so a filter can narrow the\ncaller's own log and can never widen it.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind narrows to one subject kind.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Subject narrows to one subject.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "description": "Action narrows to one outcome.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Stage narrows to one lifecycle moment.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit bounds the page, 1..500, default 100.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDecisionPage"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/decisions/{id}": {
      "get": {
        "operationId": "riskDecisionDetail",
        "summary": "Read one decision with its evidence",
        "description": "Reads one decision with everything behind it: the evidence, the\nmodel's per-feature attribution and the digest of the model that produced it.\nThat set IS the dispute packet — what was decided, on what, by which model.\n\nA decision another tenant owns answers 404, exactly as an unknown identifier\ndoes, because the tenant's file is the only place looked in: there is no query\nthat could reach another tenant's row, so a probe learns nothing.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, taken from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDecisionView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/decisions/{id}/label": {
      "post": {
        "operationId": "riskLabel",
        "summary": "Record what a human concluded about a decision",
        "description": "Label records what a human concluded about a decision — fraud, legitimate,\nchargeback, abuse or unknown.\n\nTHE DECIDER IS SERVER-SET. It comes from the validated principal and never\nfrom the request body: the engine's own resolutions carry an unauthenticated\n`by`, and importing that gap into a product that bills on the decision would\nmake the attribution worthless the moment anyone asked who cleared what.\n\nThis is also the only supervision this product has. Everything the model knows\nabout its own miss rate comes from these labels against the below-the-line\nsample.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the decision, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskLabelIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDecisionView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/dictionary": {
      "get": {
        "operationId": "riskDictionary",
        "summary": "Read the field catalogue a rule may name",
        "description": "Dictionary is the vocabulary a rule may be written in: every fact, every\noperator, every velocity axis and window, this tenant's own lists, and the\nsignal keys this tenant has actually sent.\n\nTwo lenses on one catalogue. The product half is closed and is what admission\nchecks against. The tenant half — the signals — is the tenant's own, read back\noff its recent decisions, which is what makes a rule builder able to offer the\nfields that exist here rather than the fields that exist in general.",
        "tags": [
          "risk"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskDictionaryView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/health": {
      "get": {
        "operationId": "get_v1_risk_health",
        "summary": "Report whether the decision plane can decide",
        "description": "Answers 200 with a report of what is up, or 503 CARRYING THE SAME REPORT as its body — which is the whole point of a real probe, and the reason this one route is not a typed op: a typed op reaches a non-2xx only by returning an error, and that renders as an envelope with the report dropped.\n\nThe report names the model digest in force, how many tenants this process holds resident, whether the feature warehouse is reachable, and whether metering is configured. Only the first is load-bearing for a decision: the rings are in memory, the rules and lists are the tenant's own file, and the model is in process, so a decision does NOT need the warehouse and the probe stays green without it. A warehouse that is down costs the field dictionary and the search sandbox, and is reported as exactly that rather than as a failure of the authorization path.",
        "tags": [
          "risk"
        ]
      }
    },
    "/v1/risk/lists": {
      "get": {
        "operationId": "riskLists",
        "summary": "List this tenant's allow and deny lists",
        "description": "Lists shows this tenant's allow and deny lists and how many values each holds.\n\nThese are the TENANT's operational lists. Sanctions and PEP designations are\nnot here and are never merged into them: a tenant may add to its own deny\nlist, and a tenant may not edit OFAC.",
        "tags": [
          "risk"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskListPage"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "riskCreateList",
        "summary": "Create an allow or deny list",
        "description": "Creates an allow or deny list a rule can name in an inlist term.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskListIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskListView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/risk/lists/{name}/entries": {
      "post": {
        "operationId": "riskAddListEntries",
        "summary": "Add values to a list",
        "description": "Adds values to a list. Values are folded to lower case so a\nvalue added in one case matches a signal sent in another.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the list, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskListEntriesIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskListView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/lists/{name}/entries/{value}": {
      "delete": {
        "operationId": "riskRemoveListEntry",
        "summary": "Remove one value from a list",
        "description": "Removes one value from a list. Answers 204, or 404 when the\nlist does not hold it.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the list, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "path",
            "required": true,
            "description": "Value is the value to remove, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/risk/mode": {
      "get": {
        "operationId": "riskMode",
        "summary": "Read whether this tenant's decisions act or only observe",
        "description": "Mode reports whether this tenant's decisions act or only observe.",
        "tags": [
          "risk"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskModeView"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "riskSetMode",
        "summary": "Take this tenant live, or return it to shadow",
        "description": "Takes this tenant live, or returns it to shadow.\n\nSHADOW IS THE DEFAULT AND THE DEFAULT IS NOT CONFIGURABLE. In shadow every\nrule runs, the model scores and learns, every decision is recorded, and the\naction is always allow — so what would have happened is readable over real\ntraffic before anyone depends on it. A model that quietly went live and\nstarted declining payments is the worst failure available here.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskModeIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskModeView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/rules": {
      "get": {
        "operationId": "riskRules",
        "summary": "List this tenant's rules",
        "description": "Rules lists this tenant's detections. A tenant starts with a starter set\ncovering the lifecycle the product names — signup burst, shared device,\ndisposable email, card testing, denied address, spend spike, payout velocity,\nundeclared automation — all of which it may read, copy, edit and retire.",
        "tags": [
          "risk"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskRuleList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "riskCreateRule",
        "summary": "Create a rule",
        "description": "Admits a new detection. Admission is strict on purpose: a rule with\nno terms holds on everything, a rule naming a field that does not exist holds\non nothing, and both read as a working control from the outside.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskRuleIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskRule"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/risk/rules/{id}": {
      "delete": {
        "operationId": "riskDeleteRule",
        "summary": "Retire a rule",
        "description": "Retires a detection. Answers 204, or 404 for an identifier this\ntenant does not own.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, taken from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "patch": {
        "operationId": "riskUpdateRule",
        "summary": "Replace a rule",
        "description": "Replaces a detection whole. There is no partial update: a rule is a\nconjunction of terms, and merging a partial term list into an existing one is\na change nobody can read off the request.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the rule to replace, from the path on a PATCH. Ignored on create,\nwhere the server mints one.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskRuleIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskRule"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/simulate": {
      "post": {
        "operationId": "riskSimulate",
        "summary": "Replay a candidate rule over this tenant's own history",
        "description": "Simulate replays a candidate rule over this tenant's OWN recorded decisions\nand reports what it would have caught, what it would have given up, and how\nmuch of that a human has already judged.\n\nIt is a gate and not a nicety: a new typology has to be tested before live\nactivation, and a retirement has to be justified against the outgoing rule's\nperformance. Nothing is written — the replay reads the decision log and\nevaluates in memory.\n\nAn EMPTY history is REFUSED rather than reported as zero alerts. \"No alerts\"\nis exactly what a quiet rule looks like, and being unable to tell the two\napart is the failure a sandbox exists to prevent.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskSimulateIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskSimulateReport"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/subjects/{kind}/{id}": {
      "get": {
        "operationId": "riskSubjectState",
        "summary": "Read one subject's current risk state",
        "description": "Reads one subject's current risk state: every live velocity\naggregate it has, its recent decisions, whatever controls are declared on it,\nits thirty-day history, and where this KIND of subject sits across the\nplatform. This is the continuous-monitoring read — a merchant, an account or\nan agent, on one page.\n\nThe last two come from the warehouse and are BEST EFFORT: an unreachable\nwarehouse omits them and names the gap, because a zeroed history would say the\nsubject did nothing and a zeroed baseline would say the platform did.\n\nThe network comparison is the only cross-org value this API returns and it is\naggregate BY CONSTRUCTION: the table has no tenant column, so there is no\nquery — here or anywhere — that could return another tenant's rows.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "description": "Kind is the subject kind, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the subject identifier, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskSubjectView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/risk/suppressions": {
      "get": {
        "operationId": "riskSuppressions",
        "summary": "List active suppressions",
        "description": "Suppressions lists the active mutes. A suppression that has expired is not\nlisted and mutes nothing — a forgotten mute stops muting instead of quietly\nstaying on forever.",
        "tags": [
          "risk"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskSuppressionPage"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "riskSuppress",
        "summary": "Suppress a rule's activations",
        "description": "Suppress mutes a rule's activations for a subject, a subject kind, or\neverywhere that rule fires.\n\nA suppressed hit is RECORDED with suppressed set and contributes nothing to\nthe action. It is never dropped, for the same reason the model counts its\nrefusals: silence must never read as a clean result, and a compliance record\nthat can be silently muted by an operational knob is not a record.",
        "tags": [
          "risk"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/riskSuppressIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/riskSuppression"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/risk/suppressions/{id}": {
      "delete": {
        "operationId": "riskUnsuppress",
        "summary": "Lift a suppression",
        "description": "Unsuppress lifts a mute. Answers 204, or 404 for an identifier this tenant\ndoes not own.",
        "tags": [
          "risk"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the record to act on, taken from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "mlAppetite": {
        "properties": {
          "review": {
            "description": "Review is the share of the stream that may be sent for examination. The\nalert threshold is derived from it as a quantile of the scores actually\nobserved, rather than fixed at a number someone liked — so an alert level\nis governed rather than tuned, and a drifting distribution does not turn\nit into silence or a flood.",
            "type": "number"
          },
          "sample": {
            "description": "Sample is the share of NON-alerting traffic retained for review below the\nline. It is the only instrument that can measure what the model missed,\nbecause nothing in the stream is labelled.",
            "type": "number"
          },
          "warm": {
            "description": "Warm is how many observations the model must learn before it may score.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlAppetiteIn": {
        "properties": {
          "review": {
            "description": "Review is the share of the stream that may be examined, in (0, 0.5].",
            "type": "number"
          },
          "sample": {
            "description": "Sample is the share of non-alerting traffic retained, in [0, 1].",
            "type": "number"
          }
        },
        "type": "object"
      },
      "mlCandidate": {
        "properties": {
          "blend": {
            "description": "Blend is how much of a closing window folds into the reference.",
            "type": "number"
          },
          "depth": {
            "description": "Depth is how deep each tree splits.",
            "type": "integer"
          },
          "review": {
            "description": "Review is the share of the stream this topology may examine.",
            "type": "number"
          },
          "trees": {
            "description": "Trees is how many half-space trees the model holds.",
            "type": "integer"
          },
          "window": {
            "description": "Window is how many observations make up one reference window.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlDimDrift": {
        "properties": {
          "dim": {
            "description": "Dim is the feature.",
            "type": "string"
          },
          "index": {
            "description": "Index is the population-stability index against this version's own\nreference distribution. Below 0.1 is stable, 0.1 to 0.25 has moved, above\n0.25 is a different world.",
            "type": "number"
          },
          "moved": {
            "description": "Moved marks an index past 0.1 — reported without alarming, because a\nfeature moving is ordinary and only a shifted one is a finding.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "mlDriftAlarm": {
        "properties": {
          "at": {
            "description": "At is when it was first recorded.",
            "type": "string"
          },
          "rows": {
            "description": "Rows is how many observations the finding rests on.",
            "type": "integer"
          },
          "says": {
            "description": "Says is what degraded.",
            "type": "string"
          },
          "scored": {
            "description": "Scored is how many of them the model was warm enough to score — the number\nthat decides whether the finding is a measurement or noise.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlDriftOut": {
        "properties": {
          "dims": {
            "description": "Dims is the population-stability index per feature, worst first. This is\nthe INPUT side: has the distribution of what the model reads moved away\nfrom the one it was estimated on.",
            "items": {
              "$ref": "#/components/schemas/mlDimDrift"
            },
            "type": "array"
          },
          "drifted": {
            "description": "Drifted is whether any measure left its band.",
            "type": "boolean"
          },
          "fit": {
            "description": "Fit is the version measured.",
            "type": "string"
          },
          "from": {
            "description": "From is the first instant in the window measured, RFC 3339.",
            "type": "string"
          },
          "open": {
            "description": "Open is every degradation already recorded against this version, so the\nreading says when it started and not only that it is true now.",
            "items": {
              "$ref": "#/components/schemas/mlDriftAlarm"
            },
            "type": "array"
          },
          "rate": {
            "description": "Rate is the productive share of the judged rows in the window. Absent when\nnothing in range is judged, which is itself the finding.",
            "type": "number"
          },
          "realised": {
            "description": "Realised is the alert share the live model actually reached over the\nwindow. Far under the stated appetite is a control alerting on nothing,\nand that reads exactly like a quiet week. Absent when too little of the\nstream has been scored for the share to mean anything.",
            "type": "number"
          },
          "refusal": {
            "description": "Refusal says why nothing was measured, when nothing was.",
            "type": "string"
          },
          "rows": {
            "description": "Rows is how many recent observations the live profile was built from.",
            "type": "integer"
          },
          "says": {
            "description": "Says names which measures left their band, in words an operator can act\non. Empty when nothing did.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "score": {
            "description": "Score is the same index over the score distribution — the OUTPUT side.\nAbsent when the version recorded no reference distribution.",
            "type": "number"
          },
          "scored": {
            "description": "Scored is how many of those rows the model was warm enough to score. A\nreading over too little scored traffic refuses rather than reporting a\nsmall index, because a small index over forty rows is not evidence of\nstability — it is the absence of a measurement wearing one's clothes.",
            "type": "integer"
          },
          "stated": {
            "description": "Stated is the alert share this version's shape declared. It is the one\nnumber in the whole reading somebody committed to, which is why the alarm\nhangs off the gap between it and Realised rather than off feature drift.",
            "type": "number"
          },
          "to": {
            "description": "To is the last instant in the window measured, RFC 3339.",
            "type": "string"
          },
          "was": {
            "description": "Was is the productive share this version measured when it was estimated —\nwhat Rate is compared against. Absent when the version judged nothing.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "mlFeature": {
        "properties": {
          "citation": {
            "description": "Citation is where those words come from, so the claim is checkable.",
            "type": "string"
          },
          "indicator": {
            "description": "Indicator is the supervisor's own words for what is being looked for.",
            "type": "string"
          },
          "name": {
            "description": "Name is the dimension.",
            "type": "string"
          },
          "neutral": {
            "description": "Neutral is the value at which this feature is unremarkable — the\ncoordinate the counterfactual moves it to.",
            "type": "number"
          },
          "severity": {
            "description": "Severity is the grading a hit on this feature carries.",
            "type": "string"
          },
          "typology": {
            "description": "Typology is the pattern it expresses.",
            "type": "string"
          },
          "unit": {
            "description": "Unit is how to read the raw number.",
            "type": "string"
          },
          "window": {
            "description": "Window is the span it is measured over, when it has one.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mlFeatureInventory": {
        "properties": {
          "digest": {
            "description": "Digest is the identity of this shape.",
            "type": "string"
          },
          "items": {
            "description": "Items is every dimension, in coordinate order. The ORDER is part of the\nmodel's identity: adding, removing or reordering one invalidates learned\nstate, which the digest enforces.",
            "items": {
              "$ref": "#/components/schemas/mlFeature"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "mlFitDetailOut": {
        "properties": {
          "drift": {
            "description": "Drift is every open degradation recorded against this version.",
            "items": {
              "$ref": "#/components/schemas/mlDriftAlarm"
            },
            "type": "array"
          },
          "fit": {
            "$ref": "#/components/schemas/mlFitRecord",
            "description": "Fit is the record."
          },
          "moves": {
            "description": "Moves is every role transition, oldest first. Appended and never amended:\na model that changed and cannot say who changed it is a control nobody owns.",
            "items": {
              "$ref": "#/components/schemas/mlFitMove"
            },
            "type": "array"
          },
          "refusal": {
            "description": "Refusal says why it is not servable, when it is not.",
            "type": "string"
          },
          "servable": {
            "description": "Servable reports whether this version's learned state is present and\nrestorable RIGHT NOW. A version that cannot be served cannot be promoted,\nand knowing that before the promotion is the point.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "mlFitIn": {
        "properties": {
          "algo": {
            "description": "Algo is the estimator. \"forest\" is the streaming half-space forest the\ndecision path runs, and today it is the only one this plane can estimate;\nanything else is refused by name rather than silently substituted.",
            "type": "string"
          },
          "horizon": {
            "description": "Horizon is how many days a row must have aged before it may be admitted.\nIt is what keeps a judgement that did not exist at scoring time out of the\nset: a dispute lands 30 to 120 days after the payment it judges, so 120 is\nthe default and a shorter one is a deliberate statement about a faster lane.",
            "type": "integer"
          },
          "note": {
            "description": "Note is why this estimation was asked for. It is kept on the record\nbecause \"who asked for this model and why\" is the first question anyone\nreviewing a decline asks.",
            "type": "string"
          },
          "rows": {
            "description": "Rows caps how many recorded observations are replayed, 1..5000.",
            "type": "integer"
          },
          "shape": {
            "$ref": "#/components/schemas/mlCandidate",
            "description": "Shape is the detector's geometry. Absent takes the shape currently\nrunning, which is what makes \"re-estimate what I already have on fresher\ndata\" the default rather than a thing to spell out."
          },
          "window": {
            "description": "Window is how many days of this tenant's own history to read. Default 365.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlFitMetrics": {
        "properties": {
          "alerted": {
            "description": "Alerted is how many scored rows crossed the threshold.",
            "type": "integer"
          },
          "auc": {
            "description": "AUC is the probability the model ranks a productive row above an\nunproductive one. Absent unless both classes are present.",
            "type": "number"
          },
          "judged": {
            "description": "Judged is how many scored rows carry a matured judgement.",
            "type": "integer"
          },
          "lift": {
            "description": "Lift is precision in the alerted slice divided by prevalence: how many\ntimes better than chance the rows an analyst actually looks at are.",
            "type": "number"
          },
          "prevalence": {
            "description": "Prevalence is the productive share of the judged rows. An AUC without it is\nuninterpretable on a one-in-ten-thousand problem.",
            "type": "number"
          },
          "realised": {
            "description": "Realised is Alerted over Scored against the appetite the shape states.",
            "type": "number"
          },
          "rows": {
            "description": "Rows is how many held-out rows were replayed.",
            "type": "integer"
          },
          "scored": {
            "description": "Scored is how many of them the model was warm enough to score. Everything\nbelow is measured over these rows and no others.",
            "type": "integer"
          },
          "separation": {
            "description": "Separation is the mean score of the alerted set minus the mean of the rest\n— the same objective the exhaustive search ranks its candidates on, so a\nversion and a search trial are comparable rather than merely adjacent.",
            "type": "number"
          },
          "warm": {
            "description": "Warm is how many passed before the model would score at all. A shape that\nwarms slowly costs real coverage, and the cost is reported rather than\namortised away.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlFitMove": {
        "properties": {
          "at": {
            "description": "At is when it happened, RFC 3339.",
            "type": "string"
          },
          "by": {
            "description": "By is who decided, taken from the identity the edge validated and never\nfrom the request body. A control that changed hands and cannot name who\nmoved it is a control nobody owns.",
            "type": "string"
          },
          "now": {
            "description": "Now is the role held after it.",
            "type": "string"
          },
          "reason": {
            "description": "Reason is why. It is required on a promotion because a control changing\nhands with no stated reason is a change nobody can review.",
            "type": "string"
          },
          "stood": {
            "description": "Stood is the version this one displaced, or the one that displaced it.",
            "type": "string"
          },
          "was": {
            "description": "Was is the role held before the transition.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mlFitPage": {
        "properties": {
          "challenger": {
            "description": "Challenger is the version on trial beside it, if there is one.",
            "type": "string"
          },
          "champion": {
            "description": "Champion is the identifier of the version deciding right now, empty when\nthe tenant runs the shipped default shape.",
            "type": "string"
          },
          "estimating": {
            "description": "Estimating is the version currently being fitted, if any. One per tenant:\na second request is refused rather than queued.",
            "type": "string"
          },
          "items": {
            "description": "Items are the versions.",
            "items": {
              "$ref": "#/components/schemas/mlFitRecord"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "mlFitRecord": {
        "properties": {
          "algo": {
            "description": "Algo is the estimator that produced it.",
            "type": "string"
          },
          "at": {
            "description": "At is when it was asked for, RFC 3339 in UTC.",
            "type": "string"
          },
          "by": {
            "description": "By is who asked for it — the note the request carried, or the trigger's own\nname when the schedule asked. \"Who wanted this model\" is the first question\nanyone reviewing a decline asks.",
            "type": "string"
          },
          "digest": {
            "description": "Digest fingerprints the artefact: the estimator, the geometry, the rows and\ntheir split, and the feature inventory read. It does not move once the fit\nis ready, which is what \"immutable\" means here and what a test asserts.",
            "type": "string"
          },
          "id": {
            "description": "ID identifies the version.",
            "type": "string"
          },
          "metrics": {
            "$ref": "#/components/schemas/mlFitMetrics",
            "description": "Metrics are measured on the held-out split."
          },
          "refusal": {
            "description": "Refusal says why there is no artefact when there is none. It is stated\nrather than returned as a fit with an invented score — most often it is\nthat too little of the window had matured for a measurement to mean\nanything, which is a fact about the data and not a failure of the plane.",
            "type": "string"
          },
          "retired": {
            "description": "Retired is when it was last stood down.",
            "type": "string"
          },
          "role": {
            "description": "Role is candidate, challenger, champion or retired. Exactly one champion\nand at most one challenger per tenant.",
            "type": "string"
          },
          "served": {
            "description": "Served is when it first decided real traffic, empty when it never has.",
            "type": "string"
          },
          "shape": {
            "$ref": "#/components/schemas/mlCandidate",
            "description": "Shape is the geometry it was estimated at."
          },
          "source": {
            "$ref": "#/components/schemas/mlFitSource",
            "description": "Source is the window it was estimated over."
          },
          "status": {
            "description": "Status is queued, fitting, ready, refused or cancelled.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mlFitRoleIn": {
        "properties": {
          "id": {
            "description": "ID is the version, from the path.",
            "type": "string"
          },
          "reason": {
            "description": "Reason is why. Required for champion and challenger.",
            "type": "string"
          },
          "role": {
            "description": "Role is candidate, challenger, champion or retired.\n\nReaching champion requires the version to have earned it: it must already\nbe the challenger, or it must be a version that has decided real traffic\nbefore (which is what makes a rollback instant), or there must be no\nincumbent to displace. An unproven model put straight into the decision\npath is the failure this whole plane exists to prevent.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mlFitSource": {
        "properties": {
          "cut": {
            "description": "Cut is where the split fell. It is a point in TIME, and every row of one\nsubject then goes wholly to one side: a random split puts the same account\non both sides and the model memorises the account instead of the behaviour.",
            "type": "string"
          },
          "digest": {
            "description": "Digest fingerprints the admitted rows and their split assignment.",
            "type": "string"
          },
          "dims": {
            "description": "Dims is the feature set, in the order the model reads it.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "from": {
            "description": "From is the start of the window read, RFC 3339.",
            "type": "string"
          },
          "horizon": {
            "description": "Horizon is how many days a row had aged before it was admitted.",
            "type": "integer"
          },
          "inventory": {
            "description": "Inventory is the engine's own shape digest. State estimated under one\ninventory cannot be restored into another, and this is the value that\ndecides it — so a fit whose inventory no longer matches the running one is\nvisibly unservable rather than silently wrong.",
            "type": "string"
          },
          "judged": {
            "description": "Judged is how many held-out rows carry a matured judgement. It is the\nnumber that decides whether any of the metrics below exist at all.",
            "type": "integer"
          },
          "name": {
            "description": "Name is the surface read: this tenant's own recorded decisions.",
            "type": "string"
          },
          "productive": {
            "description": "Productive is how many judged rows were confirmed as the thing being\nlooked for. Reported beside Unproductive so imbalance is visible before\nanyone reads a metric.",
            "type": "integer"
          },
          "rows": {
            "description": "Rows is how many observations were admitted after the horizon.",
            "type": "integer"
          },
          "test": {
            "description": "Test is how many were held out for the measurement.",
            "type": "integer"
          },
          "to": {
            "description": "To is the end of the window read, half-open, RFC 3339.",
            "type": "string"
          },
          "train": {
            "description": "Train is how many of them the model learned from.",
            "type": "integer"
          },
          "unproductive": {
            "description": "Unproductive is how many judged rows were confirmed as ordinary.",
            "type": "integer"
          },
          "version": {
            "description": "Version is monotone per tenant per surface, so two versions can always be\nordered and neither can claim the other's number.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlModelState": {
        "properties": {
          "alerted": {
            "description": "Alerted is how many of those it alerted on — the numerator of Realised.",
            "type": "integer"
          },
          "appetite": {
            "$ref": "#/components/schemas/mlAppetite",
            "description": "Appetite is the stated share of the stream that may be examined."
          },
          "blind": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Blind counts, per feature, how often it took its neutral value for want of\ndata.",
            "type": "object"
          },
          "digest": {
            "description": "Digest is the model identity an auditor pins.",
            "type": "string"
          },
          "distribution": {
            "description": "Distribution is the score distribution the threshold is cut from, in 32\nbands.",
            "items": {
              "type": "number"
            },
            "type": "array"
          },
          "inventory": {
            "description": "Inventory is the feature set, so the state and the shape are read\ntogether.",
            "items": {
              "$ref": "#/components/schemas/mlFeature"
            },
            "type": "array"
          },
          "learned": {
            "description": "Learned is how many observations this tenant's model has taken in.",
            "type": "integer"
          },
          "realised": {
            "description": "Realised is the share that ACTUALLY alerted. Stated against realised is\nthe governance report — an appetite is a measured commitment or it is\nnothing.",
            "type": "number"
          },
          "refusals": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Refusals counts what the model declined to score, by reason. None of these\nwas examined by the model; all of them were examined by the rules.",
            "type": "object"
          },
          "saturated": {
            "description": "Saturated means the appetite cannot be honoured by any threshold because\ntoo much of the stream scores in the top band. It is the one state that\nmust never be mistaken for quiet.",
            "type": "boolean"
          },
          "scored": {
            "description": "Scored is how many observations the model was able to score — the\ndenominator of Realised.",
            "type": "integer"
          },
          "threshold": {
            "description": "Threshold is the score cut currently in force, recomputed each window as\nthe quantile that admits the stated share.",
            "type": "number"
          },
          "warming": {
            "description": "Warming is true while the model has not learned enough to score. A warming\nmodel REFUSES rather than scoring low, and the refusal is counted below.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "mlObservation": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/riskAmount",
            "description": "Amount is the money involved, if any."
          },
          "at": {
            "description": "At is when it happened, RFC 3339. Absent means now.",
            "type": "string"
          },
          "signals": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Signals are the observations: ip, device, counterparty and the rest.",
            "type": "object"
          },
          "subject": {
            "$ref": "#/components/schemas/riskSubject",
            "description": "Subject is whose behaviour this is."
          }
        },
        "type": "object"
      },
      "mlScheduleIn": {
        "properties": {
          "every": {
            "description": "Every is hours between re-estimations. Zero turns automatic estimation\noff, which is the default: a model that starts re-estimating itself\nbecause a default said so is a control nobody chose to run.",
            "type": "integer"
          },
          "horizon": {
            "description": "Horizon is how many days a row must have aged before an automatic\nestimation may admit it. Default 120, the far side of the card dispute\nwindows.",
            "type": "integer"
          },
          "labels": {
            "description": "Labels is how many NEW MATURED judgements must have arrived since the last\nversion before another is owed. It counts matured rows, never raw label\narrivals: a burst of fresh disputes is exactly the moment not to\nre-estimate, because their horizon has not run and the set they would form\nis the tail of an argument rather than a conclusion.",
            "type": "integer"
          },
          "role": {
            "description": "Role is where an automatic version lands: candidate, or challenger to put\nit straight on trial. Champion is REFUSED — a model that took over the\ndecision path because a timer fired is a change whose author is a clock.",
            "type": "string"
          },
          "rows": {
            "description": "Rows caps how many recorded observations an automatic estimation replays,\n1..5000. It is the same bound an explicit request takes, because it is the\nsame work on the same shared pod.",
            "type": "integer"
          },
          "window": {
            "description": "Window is how many days of this tenant's own history each automatic\nestimation reads. Default 365.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlScheduleOut": {
        "properties": {
          "due": {
            "description": "Due reports whether a re-estimation is owed right now.",
            "type": "boolean"
          },
          "estimating": {
            "description": "Estimating names the version being fitted, if one is.",
            "type": "string"
          },
          "every": {
            "description": "Every is hours between automatic re-estimations, zero when they are off.",
            "type": "integer"
          },
          "horizon": {
            "description": "Horizon is how many days a row must have aged to be admitted.",
            "type": "integer"
          },
          "labels": {
            "description": "Labels is how many new matured judgements must arrive before another\nversion is owed, zero when only the clock triggers.",
            "type": "integer"
          },
          "last": {
            "description": "Last is when a version was last estimated, empty when none ever has been.",
            "type": "string"
          },
          "matured": {
            "description": "Matured is how many new matured judgements have arrived since then — the\nnumber the Labels trigger is waiting on.",
            "type": "integer"
          },
          "role": {
            "description": "Role is where an automatic version lands: candidate, or challenger to put\nit straight on trial. Never champion.",
            "type": "string"
          },
          "rows": {
            "description": "Rows caps how many observations each automatic estimation replays.",
            "type": "integer"
          },
          "says": {
            "description": "Says is why it is owed, or what the trigger is still waiting for. It is\nhere so \"why has nothing been re-estimated\" is answerable without reading\ntwo more endpoints and doing the arithmetic by hand.",
            "type": "string"
          },
          "window": {
            "description": "Window is how many days of history each automatic estimation reads.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlScoreIn": {
        "properties": {
          "observation": {
            "$ref": "#/components/schemas/mlObservation",
            "description": "Observation is what to score."
          }
        },
        "type": "object"
      },
      "mlScoreOut": {
        "properties": {
          "alert": {
            "description": "Alert is whether this would become evidence.",
            "type": "boolean"
          },
          "causes": {
            "description": "Causes is the per-feature attribution, ordered by contribution.",
            "items": {
              "$ref": "#/components/schemas/riskCause"
            },
            "type": "array"
          },
          "cut": {
            "description": "Cut is the threshold in force, derived from the appetite.",
            "type": "number"
          },
          "model": {
            "description": "Model is the digest of the model that produced this.",
            "type": "string"
          },
          "refusal": {
            "description": "Refusal names the decline: warming or unidentified.",
            "type": "string"
          },
          "score": {
            "description": "Score is the anomaly score in [0,1]: 0 where this tenant's recent\nbehaviour is densest, 1 where there is none of it.",
            "type": "number"
          },
          "scored": {
            "description": "Scored is false when the model declined; Refusal says which refusal.",
            "type": "boolean"
          },
          "shadow": {
            "description": "Shadow is whether the model is observing rather than contributing.",
            "type": "boolean"
          },
          "values": {
            "description": "Values is every coordinate, including the blind ones.",
            "items": {
              "$ref": "#/components/schemas/mlValue"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "mlSearchIn": {
        "properties": {
          "limit": {
            "description": "Limit bounds how many recorded observations are replayed, 1..5000. The\ngrid itself is closed and needs no bound from the caller.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlSearchReport": {
        "properties": {
          "curve": {
            "description": "Curve is the winner's separation as a function of how much history it had\nseen, in ten steps — the learning curve.",
            "items": {
              "type": "number"
            },
            "type": "array"
          },
          "events": {
            "description": "Events is how many historical observations were replayed.",
            "type": "integer"
          },
          "id": {
            "description": "ID identifies the run.",
            "type": "string"
          },
          "refusal": {
            "description": "Refusal names why the report is empty when it is. An empty history is\nrefused rather than reported as zero alerts, because a quiet model and an\nunrun model produce the same number.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"running\", \"done\" or \"refused\".",
            "type": "string"
          },
          "trials": {
            "description": "Trials is every candidate tried, best-separating first.",
            "items": {
              "$ref": "#/components/schemas/mlTrial"
            },
            "type": "array"
          },
          "winner": {
            "$ref": "#/components/schemas/mlCandidate",
            "description": "Winner is the best-separating topology that also honoured its stated\nappetite. Absent when no candidate did both."
          }
        },
        "type": "object"
      },
      "mlSearchRun": {
        "properties": {
          "candidates": {
            "description": "Candidates is how many topologies will be tried.",
            "type": "integer"
          },
          "id": {
            "description": "ID identifies the run; read it back at GET /v1/ml/search/{id}.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"running\" or \"done\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mlSnapshotOut": {
        "properties": {
          "at": {
            "description": "At is when it was pinned, RFC 3339 in UTC.",
            "type": "string"
          },
          "digest": {
            "description": "Digest is the model identity that was pinned.",
            "type": "string"
          },
          "learned": {
            "description": "Learned is how many observations that state had taken in.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlTallyOut": {
        "properties": {
          "agreed": {
            "description": "Agreed is how often the two reached the same verdict.",
            "type": "integer"
          },
          "alerted": {
            "description": "Alerted is how many decisions the challenger would have alerted on.",
            "type": "integer"
          },
          "champion": {
            "description": "Champion is the version it ran beside — the one whose answer was actually\nreturned to the caller on every one of these decisions.",
            "type": "string"
          },
          "fit": {
            "description": "Fit is the challenger being tallied.",
            "type": "string"
          },
          "incumbent": {
            "description": "Incumbent is how many the champion's recorded score crosses the\nchallenger's own threshold on — the same line applied to both models,\nwhich is the comparison an operator wants.",
            "type": "integer"
          },
          "refusal": {
            "description": "Refusal says why there is nothing to report, when there is nothing.",
            "type": "string"
          },
          "rows": {
            "description": "Rows is how many decisions both models saw.",
            "type": "integer"
          },
          "scored": {
            "description": "Scored is how many the challenger was warm enough to score. A challenger\nwell below Rows here is still warming and its shares mean nothing yet.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlTrainIn": {
        "properties": {
          "observations": {
            "description": "Observations are what to learn from. They are this tenant's own data and\nnothing else: there is no cross-tenant training input and no way to\nexpress one, because the model is indexed by the tenant key and its tree\nGEOMETRY is seeded from it.",
            "items": {
              "$ref": "#/components/schemas/mlObservation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "mlTrainOut": {
        "properties": {
          "learned": {
            "description": "Learned is how many observations were incorporated.",
            "type": "integer"
          },
          "model": {
            "description": "Model is the digest of the model that learned them.",
            "type": "string"
          },
          "refused": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Refused is how many were not, by reason.",
            "type": "object"
          },
          "warm": {
            "description": "Warm is true once the model has learned enough of this tenant's behaviour\nto score at all.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "mlTrial": {
        "properties": {
          "alerted": {
            "description": "Alerted is how many of those it would have alerted on.",
            "type": "integer"
          },
          "candidate": {
            "$ref": "#/components/schemas/mlCandidate",
            "description": "Candidate is the topology tried."
          },
          "realised": {
            "description": "Realised is Alerted over Scored, against the Review share intended.",
            "type": "number"
          },
          "scored": {
            "description": "Scored is how many observations it was able to score.",
            "type": "integer"
          },
          "separation": {
            "description": "Separation is the mean score of the alerted set minus the mean of the\nrest. It is the ranking objective: a topology that separates the tail from\nthe body is doing the job whatever its absolute scores look like.",
            "type": "number"
          },
          "warm": {
            "description": "Warm is how many observations passed before it would score at all.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mlValue": {
        "properties": {
          "baseline": {
            "description": "Baseline is what is unremarkable here.",
            "type": "number"
          },
          "blind": {
            "description": "Blind is true when this feature had no usable coordinate, so it took its\nneutral value. A feature blind on most traffic is not contributing\nwhatever the inventory claims for it.",
            "type": "boolean"
          },
          "feature": {
            "description": "Feature is the dimension.",
            "type": "string"
          },
          "observed": {
            "description": "Observed is the raw number behind it.",
            "type": "number"
          },
          "unit": {
            "description": "Unit is how to read Observed and Baseline.",
            "type": "string"
          },
          "x": {
            "description": "X is the coordinate the model used, in [0,1].",
            "type": "number"
          }
        },
        "type": "object"
      },
      "riskActivityRule": {
        "properties": {
          "activations": {
            "description": "Activations is how many of the sampled decisions it fired on.",
            "type": "integer"
          },
          "name": {
            "description": "Name is its detection name.",
            "type": "string"
          },
          "rule": {
            "description": "Rule is the rule that fired.",
            "type": "string"
          },
          "suppressed": {
            "description": "Suppressed is how many of those were muted.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "riskActivityView": {
        "properties": {
          "actions": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Actions is how many decisions reached each action.",
            "type": "object"
          },
          "agency": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Agency is how many decisions were of each actor class.",
            "type": "object"
          },
          "refusals": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Refusals is how many decisions the model declined to score, by reason.",
            "type": "object"
          },
          "rules": {
            "description": "Rules is per-rule activation, most active first.",
            "items": {
              "$ref": "#/components/schemas/riskActivityRule"
            },
            "type": "array"
          },
          "sampled": {
            "description": "Sampled is how many recent decisions this summarises.",
            "type": "integer"
          },
          "shadow": {
            "description": "Shadow is whether this tenant is observing rather than acting.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "riskActor": {
        "properties": {
          "agent": {
            "description": "Agent is the agent reference the caller claims to be acting as. It is\nresolved against THIS org's agent registry; an unresolvable reference is\nsimply not a declaration.",
            "type": "string"
          },
          "credential": {
            "description": "Credential is the credential class the caller believes it presented.\nAdvisory only — the server reads the credential it actually verified.",
            "type": "string"
          },
          "session": {
            "description": "Session is the session reference this action belongs to.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "riskAmount": {
        "properties": {
          "currency": {
            "description": "Currency is the ISO 4217 code.",
            "type": "string"
          },
          "direction": {
            "description": "Direction is whether value came in or went out: \"in\" or \"out\". Without it\nthe model cannot see funds passing through, which is the layering shape.",
            "type": "string"
          },
          "nano": {
            "description": "Nano is the amount in billionths of one unit of Currency.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "riskBaseline": {
        "properties": {
          "day": {
            "description": "Day is the period the band covers, YYYY-MM-DD.",
            "type": "string"
          },
          "feature": {
            "description": "Feature is what is being compared.",
            "type": "string"
          },
          "observations": {
            "description": "Observations is how many measurements the band was cut from.",
            "type": "integer"
          },
          "orgs": {
            "description": "Orgs is how many distinct organisations contributed to this band. It is\nreported so a reader can see the k-anonymity floor was met rather than\ntake it on trust.",
            "type": "integer"
          },
          "q10": {
            "description": "Q10 is the tenth percentile across the platform for this subject kind.",
            "type": "number"
          },
          "q50": {
            "description": "Q50 is the median.",
            "type": "number"
          },
          "q90": {
            "description": "Q90 is the ninetieth percentile.",
            "type": "number"
          },
          "q99": {
            "description": "Q99 is the ninety-ninth — where the tail this product is looking for\nbegins.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "riskCause": {
        "properties": {
          "baseline": {
            "description": "Baseline is what is unremarkable for this subject.",
            "type": "number"
          },
          "citation": {
            "description": "Citation is where those words come from.",
            "type": "string"
          },
          "feature": {
            "description": "Feature is the model dimension.",
            "type": "string"
          },
          "indicator": {
            "description": "Indicator is the supervisor's own words for what is being looked for.",
            "type": "string"
          },
          "observed": {
            "description": "Observed is this subject's value.",
            "type": "number"
          },
          "share": {
            "description": "Share is this feature's part of the score, in [0,1].",
            "type": "number"
          },
          "typology": {
            "description": "Typology is the pattern the feature expresses.",
            "type": "string"
          },
          "unit": {
            "description": "Unit is how to read Observed and Baseline.",
            "type": "string"
          },
          "without": {
            "description": "Without is the score the model would have produced with this feature\nneutral, holding everything else.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "riskControl": {
        "properties": {
          "at": {
            "description": "At is when, RFC 3339 in UTC.",
            "type": "string"
          },
          "by": {
            "description": "By is who declared it, taken from the validated principal.",
            "type": "string"
          },
          "control": {
            "description": "Control is which one.",
            "type": "string"
          },
          "id": {
            "description": "ID identifies the control.",
            "type": "string"
          },
          "rate": {
            "description": "Rate is the reserve fraction, for a reserve.",
            "type": "number"
          },
          "reason": {
            "description": "Reason is why it was declared.",
            "type": "string"
          },
          "subject": {
            "$ref": "#/components/schemas/riskSubject",
            "description": "Subject is what it applies to."
          },
          "until": {
            "description": "Until is when it lapses, RFC 3339. Absent means it does not.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "riskControlIn": {
        "properties": {
          "control": {
            "description": "Control is which one: reserve, payout-hold or block.",
            "type": "string"
          },
          "rate": {
            "description": "Rate is the reserve fraction, in [0,1], for a reserve.",
            "type": "number"
          },
          "reason": {
            "description": "Reason is why.",
            "type": "string"
          },
          "subject": {
            "$ref": "#/components/schemas/riskSubject",
            "description": "Subject is what the control applies to."
          },
          "until": {
            "description": "Until is when it lapses, RFC 3339. Absent means it does not.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "riskControlPage": {
        "properties": {
          "items": {
            "description": "Items is every control, newest first.",
            "items": {
              "$ref": "#/components/schemas/riskControl"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "riskDecideIn": {
        "properties": {
          "actor": {
            "$ref": "#/components/schemas/riskActor",
            "description": "Actor is who is acting, if the caller knows."
          },
          "amount": {
            "$ref": "#/components/schemas/riskAmount",
            "description": "Amount is the money involved, for the stages where there is any."
          },
          "idem": {
            "description": "Idem makes a re-decide idempotent: the same key returns the same decision\nrather than scoring twice and moving the counters twice.",
            "type": "string"
[...]
