{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package books is double-entry accounting: chart of accounts, ledger, bank reconciliation, and the reports that prove the books balance.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "books"
    }
  ],
  "paths": {
    "/v1/books/accounts": {
      "get": {
        "operationId": "get_books_accounts",
        "summary": "Returns the org's chart of accounts — the seeded fixed chart every posting key in the ledger refers to.",
        "description": "Returns the org's chart of accounts — the seeded fixed chart every\nposting key in the ledger refers to.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\"; anything else\nreads the live one.",
            "schema": {
              "type": "string"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/ask": {
      "post": {
        "operationId": "post_books_ask",
        "summary": "Answers a plain-language question about the caller's own books — \"what is my MRR?\", \"how long is my runway?\" — with figures taken from their ledger, never a guessed number.",
        "description": "Answers a plain-language question about the caller's own books — \"what is my\nMRR?\", \"how long is my runway?\" — with figures taken from their ledger, never a guessed\nnumber. A deterministic keyword router picks the intent and reads the real metrics, and\nthose figures, followups and report sources are computed BEFORE any model call and are\nnever altered by one: the optional narration client only rephrases the sentence, and it\ndegrades silently to the templated answer when no AI plane is wired. It is strictly\nread-only — it restates the books, it never posts to them.",
        "tags": [
          "books"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "question": "how long is my runway?"
              },
              "schema": {
                "$ref": "#/components/schemas/AskRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AskResponse"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/bank/exchange": {
      "post": {
        "operationId": "post_books_bank_exchange",
        "summary": "Finish connecting a bank account (not yet available)",
        "description": "ANSWERS 501 UNCONDITIONALLY. It is the intended second hop of the bank-linking handshake — trade the provider's short-lived public token for the durable access credential and seal that credential into KMS — and nothing on the HTTP path reaches an implementation today.\n\nThe durable bank credential is the reason this hop exists: it is meant to be sealed server-side and never handed back to the caller. Since the route never succeeds, no credential is stored by it and no bank is connected through it.\n\nDocumented as refusing rather than declared with a success body, for the same reason as the first hop: it has never sent one, and stating a shape it has never produced would put a return type in every SDK for a call that always fails. A caller with no principal gets 401 before the 501.",
        "tags": [
          "books"
        ],
        "x-public": true
      }
    },
    "/v1/books/bank/import": {
      "post": {
        "operationId": "post_books_bank_import",
        "summary": "Import a bank statement file into your books",
        "description": "Takes a bank statement as RAW BYTES — the file exactly as downloaded, OFX, QFX or CSV, not wrapped in JSON — parses every row, books it against the caller org's own ledger, and answers the tally: how many rows were seen, how many vouchers posted, how many inflows reconciled, how many raised a question, how many were own-account transfers, and how many were skipped.\n\nRE-IMPORTING THE SAME STATEMENT DOES NOT DOUBLE-BOOK. Every row goes through the same posting choke point every other source uses, keyed idempotently, so an overlapping statement — the usual case, since exports overlap at the month boundary — lands its new rows and counts the rest as skipped. Skipped is the number to read on a second import.\n\nIt is READ-ONLY against the bank: this ingests, it never sends money. Scoped to the caller's own org from the validated principal, and refused without one; `sandbox=true` writes the org's sandbox ledger instead of its real books. An empty body is a 400, and a file the parser cannot read is a 400 carrying the parser's reason rather than a partial import. On a deployment whose import parser is not built, this answers 501 rather than mishandling the file.",
        "tags": [
          "books"
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankTally"
                }
              }
            }
          }
        },
        "x-public": true
      }
    },
    "/v1/books/bank/sync": {
      "post": {
        "operationId": "post_books_bank_sync",
        "summary": "Pulls every connected bank (Plaid/Teller) for the caller's org, maps each fetched transaction to a posting and books it idempotently, then advances that connector's cursor so the next sync resumes where this one stopped.",
        "description": "Pulls every connected bank (Plaid/Teller) for the caller's org, maps each\nfetched transaction to a posting and books it idempotently, then advances that\nconnector's cursor so the next sync resumes where this one stopped. One connector's\noutage is skipped rather than failing the whole sync. It reports the batch: how many\ntransactions were seen, how many vouchers posted, how many inflows reconciled against\nthe processor clearing account, how many raised a question, how many were own-account\ntransfers, and how many were already-processed no-ops. It is READ-ONLY against the\nbank — it ingests, it never sends money.",
        "tags": [
          "books"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankTally"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/bank/token": {
      "post": {
        "operationId": "post_books_bank_token",
        "summary": "Begin connecting a bank account (not yet available)",
        "description": "ANSWERS 501 UNCONDITIONALLY. It is the intended first hop of the bank-linking handshake — mint the short-lived session token a browser hands to the provider's link widget — and nothing on the HTTP path reaches an implementation today.\n\nThe connectors behind it are written and tested; only the wiring is missing, so an org cannot connect a bank through the API at all. Until that lands, bank data reaches the books by statement import.\n\nIt is documented as refusing rather than declared with a success body precisely because it has never sent one. A response schema here would be invention: every generated SDK would carry a return type for a call that has only ever failed. A caller with no principal gets 401 before the 501.",
        "tags": [
          "books"
        ],
        "x-public": true
      }
    },
    "/v1/books/bank/transactions": {
      "get": {
        "operationId": "get_books_bank_transactions",
        "summary": "Returns the org's normalized bank transactions, newest first — every row the import and connector paths have ingested, with its amount in exact cents, its direction, and whether it has been matched to a voucher yet.",
        "description": "Returns the org's normalized bank transactions, newest first —\nevery row the import and connector paths have ingested, with its amount in exact cents,\nits direction, and whether it has been matched to a voucher yet.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many rows come back; 500 when absent or not positive.",
            "schema": {
              "type": "integer"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BankTxnRow"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/bank/unreconciled": {
      "get": {
        "operationId": "get_books_bank_unreconciled",
        "summary": "Returns the org's unmatched bank inflows and their open clarifying questions — the queue a human answers so an unexplained deposit is never guessed into revenue.",
        "description": "Returns the org's unmatched bank inflows and their open clarifying\nquestions — the queue a human answers so an unexplained deposit is never guessed into\nrevenue.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\"; anything else\nreads the live one.",
            "schema": {
              "type": "string"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unreconciledOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/export": {
      "get": {
        "operationId": "get_books_export",
        "summary": "Returns the complete financial package for the caller's org over (from, to]: the trial balance, the P\u0026L, the balance sheet, and the GL detail behind them — the four statements a tax preparer or an investor asks for, assembled from the one ledger in a single read so they cannot disagree with each other.",
        "description": "Returns the complete financial package for the caller's org over\n(from, to]: the trial balance, the P\u0026L, the balance sheet, and the GL detail behind\nthem — the four statements a tax preparer or an investor asks for, assembled from the\none ledger in a single read so they cannot disagree with each other.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "From is the RFC3339 start of the window, exclusive. Empty means all time.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01T00:00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "To is the RFC3339 end of the window, inclusive. Empty means up to now.",
            "schema": {
              "type": "string"
            },
            "example": "2026-12-31T23:59:59Z"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Format is the export encoding. Only \"json\" is supported; empty means json.",
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the GL detail rows included as the audit trail; 5000 when absent\nor not positive.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialPackage"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/gl": {
      "get": {
        "operationId": "get_books_gl",
        "summary": "ListGL returns the org's most recent GL Entry rows, newest first.",
        "description": "ListGL returns the org's most recent GL Entry rows, newest first. This is the raw\ndouble-entry detail behind every statement: one row per leg, with its debit, credit,\nposting time and the source that booked it.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many rows come back; 500 when absent or not positive.",
            "schema": {
              "type": "integer"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/GLRow"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/inbox": {
      "get": {
        "operationId": "get_books_inbox",
        "summary": "Returns the org's open document queue — everything uploaded but not yet booked, newest first, each with its extracted summary and the confidence the scanner resolved its category at.",
        "description": "Returns the org's open document queue — everything uploaded but not yet\nbooked, newest first, each with its extracted summary and the confidence the scanner\nresolved its category at. A booked document drops out of the queue.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\"; anything else\nreads the live one.",
            "schema": {
              "type": "string"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inboxOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_books_inbox",
        "summary": "Queue a document for later scanning",
        "description": "Takes a document as RAW BYTES and queues it in the caller org's inbox as `unsorted`, answering the queued item. It is the drop box: get the paperwork in now, read it later.\n\nIt EXTRACTS NOTHING and calls no model — that is what separates it from the scan. Nothing is proposed and nothing is posted; the item simply waits to be scanned, and a booked document leaves the queue.\n\nIDEMPOTENT BY CONTENT: the item's id is the file hash, so re-uploading the same bytes answers the existing item rather than adding a duplicate row — and it is the same id a scan of those bytes uses, which is how the two routes address one document. Scoped to the caller's own org from the validated principal and refused without one; `sandbox=true` targets the sandbox ledger, and `filename` is recorded for display. An empty or oversized upload is a 400.",
        "tags": [
          "books"
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxItem"
                }
              }
            }
          }
        },
        "x-public": true
      }
    },
    "/v1/books/metrics": {
      "get": {
        "operationId": "get_books_metrics",
        "summary": "Metrics returns the org's deterministic SaaS-metrics snapshot over an optional (from, to] window — MRR, ARR, revenue, COGS, burn, gross margin, net income, cash, deferred revenue, monthly burn and runway — as raw int64-cent figures AND the same figures already formatted.",
        "description": "Metrics returns the org's deterministic SaaS-metrics snapshot over an optional\n(from, to] window — MRR, ARR, revenue, COGS, burn, gross margin, net income, cash,\ndeferred revenue, monthly burn and runway — as raw int64-cent figures AND the same\nfigures already formatted. Every number is the ledger, aggregated the one way the books\ndefine it, never a guess; it is the grounded read the unified /v1/ask advisor replays.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "From is the RFC3339 start of the window, exclusive. Empty means all time.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01T00:00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "To is the RFC3339 end of the window, inclusive. Empty means up to now.",
            "schema": {
              "type": "string"
            },
            "example": "2026-06-30T23:59:59Z"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/pnl": {
      "get": {
        "operationId": "get_books_pnl",
        "summary": "Returns the org's accrual-basis Profit \u0026 Loss over an optional (from, to] window of RFC3339 posting times: recognized revenue, matched cost, and the net.",
        "description": "Returns the org's accrual-basis Profit \u0026 Loss over an optional (from, to]\nwindow of RFC3339 posting times: recognized revenue, matched cost, and the net.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "From is the RFC3339 start of the window, exclusive. Empty means all time.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01T00:00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "To is the RFC3339 end of the window, inclusive. Empty means up to now.",
            "schema": {
              "type": "string"
            },
            "example": "2026-03-31T23:59:59Z"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PnL"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/position": {
      "get": {
        "operationId": "get_books_position",
        "summary": "Returns the org's Balance Sheet as of `to` (empty = all time), with the Assets == Liabilities + Equity equation proof.",
        "description": "Returns the org's Balance Sheet as of `to` (empty = all time), with the\nAssets == Liabilities + Equity equation proof.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "To is the RFC3339 instant the statement is struck as of. Empty means all time.",
            "schema": {
              "type": "string"
            },
            "example": "2026-03-31T23:59:59Z"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceSheet"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/questions": {
      "get": {
        "operationId": "get_books_questions",
        "summary": "Returns the clarifying questions the caller's own recent GL raises — the unusual postings a founder should look at (outliers, reversals, round-offs, uncosted revenue, an overdrawn wallet), sharpest first.",
        "description": "Returns the clarifying questions the caller's own recent GL raises — the\nunusual postings a founder should look at (outliers, reversals, round-offs, uncosted\nrevenue, an overdrawn wallet), sharpest first. An empty list means the books look clean;\nthe detector is deterministic over the ledger and invents nothing.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\"; anything else\nreads the live one.",
            "schema": {
              "type": "string"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionsResponse"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/rules": {
      "get": {
        "operationId": "get_books_rules",
        "summary": "Returns the org's auto-categorization rules, highest priority first.",
        "description": "Returns the org's auto-categorization rules, highest priority first. A rule\nis a standing instruction — \"anything whose merchant contains X books to category Y\" —\nand it overrides a vendor's default category, so this is the list that decides how a\nfuture bill classifies itself.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\"; anything else\nreads the live one.",
            "schema": {
              "type": "string"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rulesOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_books_rules",
        "summary": "Creates or updates one auto-categorization rule, keyed by its pattern — writing a pattern that already exists REPLACES that row's category and priority.",
        "description": "Creates or updates one auto-categorization rule, keyed by its pattern —\nwriting a pattern that already exists REPLACES that row's category and priority. The\ncategory is normalized to a real COA expense account, and anything unrecognized becomes\n5900 Uncategorized rather than a guessed real account. It answers the row exactly as\nstored, so the caller sees the normalization. A rule overrides a vendor's default\ncategory, so this is the standing instruction that decides how a future bill classifies.",
        "tags": [
          "books"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "category": "cloud",
                "pattern": "aws",
                "priority": 5
              },
              "schema": {
                "$ref": "#/components/schemas/Rule"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rule"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/scan": {
      "post": {
        "operationId": "post_books_scan",
        "summary": "Scan a receipt or invoice into a proposed voucher",
        "description": "Takes a receipt or invoice as RAW BYTES — a PDF, an image or plain text, uploaded under its own content type, not wrapped in JSON — extracts what the document says, resolves the vendor's expense category, and answers a DRAFT carrying a balanced voucher proposed for it.\n\nNOTHING IS POSTED. That split is the whole design: the model only ever produces a structured reading of the document, the voucher is assembled deterministically in Go from that reading, and the ledger is written only by the separate book call a human confirms. So a misread scan can propose a wrong draft; it cannot move money. Amounts are exact integer cents end to end — the extraction returns cents, never a decimal — so no rounding enters the ledger.\n\nThe draft's id is the FILE HASH, and that is what makes booking idempotent: re-scanning the same bytes addresses the same draft rather than queuing a second one. A row is written to the org's document inbox as a side effect, moving it from unsorted to draft. Scoped to the caller's own org from the validated principal and refused without one; `sandbox=true` targets the sandbox ledger, and `filename` is recorded for the inbox. An empty or oversized upload is a 400, and a deployment with no scanner model answers 501.",
        "tags": [
          "books"
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanDraft"
                }
              }
            }
          }
        },
        "x-public": true
      }
    },
    "/v1/books/scan/book": {
      "post": {
        "operationId": "post_books_scan_book",
        "summary": "Posts a reviewed scanned bill to the ledger.",
        "description": "Posts a reviewed scanned bill to the ledger. It is the scanner's ONLY write:\nthe voucher goes through the same post() choke point every other source uses, so it is\nchecked to balance (Σdebit == Σcredit) and is idempotent by (scan, scanId) — re-booking\nthe same scan answers posted=false and writes nothing. A bill whose economic identity\n(vendor, total, issue date) already posted under a DIFFERENT scan is refused 409 unless\noverride is set, which is what stops the same receipt re-scanned into a new file hash\nfrom double-booking. An unbalanced voucher is refused 400.",
        "tags": [
          "books"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "scanId": "a5f3c1",
                "voucher": {
                  "description": "GitHub",
                  "legs": [
                    {
                      "account": "5300",
                      "debit": 1234
                    },
                    {
                      "account": "2001",
                      "credit": 1234
                    }
                  ]
                }
              },
              "schema": {
                "$ref": "#/components/schemas/BookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookResponse"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/sync": {
      "post": {
        "operationId": "post_books_sync",
        "summary": "Sync ingests the caller's OWN org from commerce into BOTH ledgers (live and sandbox) and reports how many new vouchers posted to each.",
        "description": "Sync ingests the caller's OWN org from commerce into BOTH ledgers (live and sandbox)\nand reports how many new vouchers posted to each. It is idempotent — money that has\nalready been booked posts nothing on a repeat — and it is read-only against commerce:\nit never mints a deposit, a credit or a payout, only the accounting twin of money that\nalready moved.",
        "tags": [
          "books"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/syncTally"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/transactions": {
      "get": {
        "operationId": "get_books_transactions",
        "summary": "Returns the org's booked ledger as a single-line register, newest first: one row per voucher, with its date, description, vendor, category, source and amount in exact cents.",
        "description": "Returns the org's booked ledger as a single-line register, newest\nfirst: one row per voucher, with its date, description, vendor, category, source and\namount in exact cents. It is the double-entry ledger projected to the register a human\nreads, filterable by posting-time window, category and vendor. Strictly read-only — it\nrestates the books, it never moves them.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "From is the RFC3339 start of the posting-time window, inclusive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "To is the RFC3339 end of the posting-time window, inclusive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Category filters to one COA account, named by number (\"5300\") or by category\nslug (\"software\").",
            "schema": {
              "type": "string"
            },
            "example": "software"
          },
          {
            "name": "vendor",
            "in": "query",
            "required": false,
            "description": "Vendor filters to rows whose vendor or description contains this text,\ncase-insensitively.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many rows come back; 200 when absent or not positive.",
            "schema": {
              "type": "integer"
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactionsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/trial": {
      "get": {
        "operationId": "get_books_trial",
        "summary": "Returns the org's trial balance over an optional [from, to] window of RFC3339 posting times, including the opening/closing columns and the TotalDebit == TotalCredit proof that the books balance.",
        "description": "Returns the org's trial balance over an optional [from, to] window of\nRFC3339 posting times, including the opening/closing columns and the\nTotalDebit == TotalCredit proof that the books balance.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "From is the RFC3339 start of the window, exclusive. Empty means all time.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01T00:00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "To is the RFC3339 end of the window, inclusive. Empty means up to now.",
            "schema": {
              "type": "string"
            },
            "example": "2026-03-31T23:59:59Z"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialBalance"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/books/vendors": {
      "get": {
        "operationId": "get_books_vendors",
        "summary": "Returns the org's vendor book: each canonical vendor, the alias spellings a receipt may print it under, and the expense account new bills from it default to.",
        "description": "Returns the org's vendor book: each canonical vendor, the alias spellings a\nreceipt may print it under, and the expense account new bills from it default to. A\nvendor here is what makes a scanned bill self-classify instead of asking again.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\"; anything else\nreads the live one.",
            "schema": {
              "type": "string"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vendorsOut"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_books_vendors",
        "summary": "Creates or updates one vendor in the org's vendor book, keyed by its canonical name — writing a canonical name that already exists REPLACES that row's aliases and default category.",
        "description": "Creates or updates one vendor in the org's vendor book, keyed by its\ncanonical name — writing a canonical name that already exists REPLACES that row's\naliases and default category. A category given as a slug (\"software\") is normalized to\nits real COA expense account, and anything unrecognized becomes 5900 Uncategorized\nrather than a guessed real account. It answers the row exactly as stored, so the caller\nsees the normalization. Recording a vendor is what makes future bills from it\nself-classify instead of asking again.",
        "tags": [
          "books"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "aliases": [
                  "github.com"
                ],
                "canonical": "GitHub",
                "defaultCategory": "software"
              },
              "schema": {
                "$ref": "#/components/schemas/VendorRow"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorRow"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "properties": {
          "name": {
            "description": "Name is the account's human name, for a statement's line label.",
            "type": "string"
          },
          "number": {
            "description": "Number is the posting key every voucher leg, rule and report references —\nstable, and the reason the chart is a fixed value rather than a table anybody\ncan edit. It looks numeric and is a string: \"1000\" sorts and compares as text.",
            "type": "string"
          },
          "party": {
            "description": "Party marks the account as carrying a SUBLEDGER — receivable is money owed to\nus, payable money we owe — so a leg posted here also writes a payment-ledger\nrow against a counterparty. Absent means no subledger: a bank, wallet, revenue\nor cost account tracks no counterparty at all.",
            "type": "string"
          },
          "type": {
            "description": "Type is the account's fundamental class, which is also its NORMAL balance\nside: asset and expense are debit-normal, liability, income and equity\ncredit-normal.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AskRequest": {
        "properties": {
          "from": {
            "description": "From is the RFC3339 start of the metric window. Empty means all time, treated as a\nsingle reporting period (see monthsBetween).",
            "type": "string"
          },
          "question": {
            "description": "Question is the plain-language question about the org's books, e.g. \"what is my\nMRR?\". Longer than 2000 characters is truncated, never refused.",
            "type": "string"
          },
          "to": {
            "description": "To is the RFC3339 end of the metric window. Empty means up to now.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AskResponse": {
        "properties": {
          "answer": {
            "description": "Answer is one or two sentences answering the question, every number in it taken\nfrom Figures.",
            "type": "string"
          },
          "figures": {
            "description": "Figures are the grounded numbers the answer states, each already formatted.",
            "items": {
              "$ref": "#/components/schemas/Figure"
            },
            "type": "array"
          },
          "followups": {
            "description": "Followups are sharper questions to ask next, chosen from the same intent.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "sources": {
            "description": "Sources name the books reports the figures were computed from — \"pnl\",\n\"position\", \"trial\".",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "BalanceLine": {
        "properties": {
          "account": {
            "description": "Account is the chart-of-accounts number this line reports on. ABSENT marks a\nDERIVED line that no account holds — retained earnings is the one such line,\ncomputed from cumulative income minus expense.",
            "type": "string"
          },
          "amount": {
            "description": "Amount is the balance as of the statement date, in whole cents, in its NATURAL\nsign: positive when the account behaved normally, on all three sides. Assets\nare debit-normal and shown as stored; liabilities and equity are credit-normal\nand flipped once here for display. A negative asset is a real overdraft, not a\nsign convention.",
            "type": "integer"
          },
          "name": {
            "description": "Name is the account's human name, or the derived line's own name.",
            "type": "string"
          },
          "type": {
            "description": "Type is the account's fundamental class. Absent on a derived line, which\nbelongs to no account and therefore has none.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BalanceSheet": {
        "properties": {
          "asOf": {
            "description": "AsOf is the posting time the statement is taken at, inclusive. A balance sheet\nis a snapshot, not a window, so there is no From. Absent means as of now.",
            "type": "string"
          },
          "assets": {
            "description": "Assets are what the org OWNS at that instant, one line per account that has a\nbalance. Cash, receivables, funds captured but not yet settled.",
            "items": {
              "$ref": "#/components/schemas/BalanceLine"
            },
            "type": "array"
          },
          "balanced": {
            "description": "Balanced is whether assets equal liabilities plus equity — the accounting\nequation, computed from the totals above rather than assumed. False means the\nledger is broken, not that the statement is.",
            "type": "boolean"
          },
          "equity": {
            "description": "Equity is what is left over for the owners. It carries a DERIVED retained\nearnings line holding cumulative income minus expense, because this ledger has\nno period close that sweeps the P\u0026L into equity — without that line the\nequation would not close.",
            "items": {
              "$ref": "#/components/schemas/BalanceLine"
            },
            "type": "array"
          },
          "liabilities": {
            "description": "Liabilities are what the org OWES — including customers' unspent prepaid\ncredit, which is their money until it is consumed and so is carried here\nrather than counted as revenue.",
            "items": {
              "$ref": "#/components/schemas/BalanceLine"
            },
            "type": "array"
          },
          "totalAssets": {
            "description": "TotalAssets is the sum of the asset lines, in cents.",
            "type": "integer"
          },
          "totalEquity": {
            "description": "TotalEquity is the sum of the equity lines including retained earnings, in cents.",
            "type": "integer"
          },
          "totalLiabilities": {
            "description": "TotalLiabilities is the sum of the liability lines, in cents.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "BankQuestion": {
        "properties": {
          "connector": {
            "description": "Connector names the feed the unplaceable line arrived on. With externalId it\nidentifies both the question and the bank line it is about, so re-syncing the\nsame deposit never asks twice.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the question was raised.",
            "type": "string"
          },
          "externalId": {
            "description": "ExternalID is the bank's own id for the line in question.",
            "type": "string"
          },
          "prompt": {
            "description": "Prompt is the question put to the founder in plain language — what this money\nwas, since the books cannot place it on their own.",
            "type": "string"
          },
          "status": {
            "description": "Status is whether the question is still open or has been answered.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BankTally": {
        "properties": {
          "ingested": {
            "description": "transactions seen",
            "type": "integer"
          },
          "posted": {
            "description": "vouchers newly posted (outflow + reconciled)",
            "type": "integer"
          },
          "questions": {
            "description": "unmatched inflows that raised a question",
            "type": "integer"
          },
          "reconciled": {
            "description": "inflows cleared against Square-clearing",
            "type": "integer"
          },
          "skipped": {
            "description": "already-processed idempotent no-ops",
            "type": "integer"
          },
          "transfers": {
            "description": "own-account moves recorded (no P\u0026L)",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "BankTxnRow": {
        "properties": {
          "amountCents": {
            "description": "AmountCents is the size of the movement in whole cents, always POSITIVE —\ndirection carries the sign, so a caller must read both to know which way money\nwent.",
            "type": "integer"
          },
          "connector": {
            "description": "Connector names the feed this row arrived on — which bank or processor\nconnection it was synced from. With externalId it is the row's identity, so\nre-syncing the same statement never books a second copy.",
            "type": "string"
          },
          "currency": {
            "description": "Currency is the ISO code the bank reported the line in.",
            "type": "string"
          },
          "description": {
            "description": "Description is the statement memo as the bank wrote it.",
            "type": "string"
          },
          "direction": {
            "description": "Direction is which way the money moved: an inflow into the account or an\noutflow from it, from the org's point of view.",
            "type": "string"
          },
          "externalId": {
            "description": "ExternalID is the bank's OWN id for the line, carried verbatim. It is unique\nonly within its connector.",
            "type": "string"
          },
          "matchedVoucher": {
            "description": "MatchedVoucher names the ledger voucher this line was reconciled against —\nthe bill it paid, or the settlement it cleared. Absent when nothing matched,\nwhich for an inflow is what raises a question.",
            "type": "string"
          },
          "merchant": {
            "description": "Merchant is the counterparty the feed identified, where it did.",
            "type": "string"
          },
          "postedAt": {
            "description": "PostedAt is the bank's posting date for the line, not when we synced it.",
            "type": "string"
          },
          "status": {
            "description": "Status is where the line got to: posted (an outflow booked straight to an\nexpense), settled (an outflow that paid down a scanned bill), reconciled (an\ninflow that cleared a pending settlement), transfer (a move between the org's\nown accounts, recorded but with no effect on the books), or unmatched (an\ninflow nobody could place, which is waiting on a human answer).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BookRequest": {
        "properties": {
          "override": {
            "description": "Override books this bill even when one of the SAME economic identity\n(vendor, total, issue date) already posted — the explicit human confirmation that a\nsame-looking bill is a genuine second spend, not the same receipt re-scanned.",
            "type": "boolean"
          },
          "scanId": {
            "description": "ScanID is the scanned document's file hash, as GET /v1/books/inbox and the scan\ndraft report it. It is the idempotency key: re-booking the same scan writes nothing.",
            "type": "string"
          },
          "voucher": {
            "$ref": "#/components/schemas/Voucher",
            "description": "Voucher is the reviewed voucher to post. Its source is FORCED to (scan, scanId)\nserver-side, so it can never be booked under another source's key."
          }
        },
        "type": "object"
      },
      "BookResponse": {
        "properties": {
          "posted": {
            "description": "Posted is true when this call wrote the voucher, false when the same scan had\nalready booked and nothing was written.",
            "type": "boolean"
          },
          "scanId": {
            "description": "ScanID echoes the scan that was booked.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Extracted": {
        "properties": {
          "category": {
            "description": "Category is the expense bucket the SCANNER guessed, as a slug — a hint only.\nVendor rules override it whenever they know better, so this is the model's\nreading and not the account the entry will land on.",
            "type": "string"
          },
          "currency": {
            "description": "Currency is the ISO code the document is denominated in.",
            "type": "string"
          },
          "issuedAt": {
            "description": "IssuedAt is the document's OWN date as YYYY-MM-DD — when the bill was issued,\nwhich is not when it was uploaded or when it will post.",
            "type": "string"
          },
          "lineItems": {
            "description": "LineItems are the individual lines read off the document, where it had any.\nThey need not sum to totalCents: a document may carry lines the scanner could\nnot read, and the total is taken from the total.",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            },
            "type": "array"
          },
          "merchant": {
            "description": "Merchant is the supplier as printed on the document.",
            "type": "string"
          },
          "note": {
            "description": "Note is anything else worth carrying from the document that has no field of\nits own.",
            "type": "string"
          },
          "taxCents": {
            "description": "TaxCents is how much of that total is tax, in cents. It is part of totalCents,\nnot additional to it.",
            "type": "integer"
          },
          "totalCents": {
            "description": "TotalCents is the document total in whole cents, tax INCLUDED.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Figure": {
        "properties": {
          "label": {
            "description": "Label names the metric, e.g. \"MRR\" or \"Runway\".",
            "type": "string"
          },
          "period": {
            "description": "Period is the window the figure covers, e.g. \"2026-07\" or \"all-time\".",
            "type": "string"
          },
          "value": {
            "description": "Value is the figure already formatted through books' own money formatter, so a\nconsumer never re-derives it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "FinancialPackage": {
        "properties": {
          "balanceSheet": {
            "$ref": "#/components/schemas/BalanceSheet",
            "description": "BalanceSheet is struck as of the period END, not the start."
          },
          "from": {
            "description": "From opens the reporting period. Absent means from the beginning of the ledger.",
            "type": "string"
          },
          "generatedAt": {
            "description": "GeneratedAt is when the bundle was assembled — the moment the statements were\nstruck, which is what makes two exports of the same period comparable.",
            "type": "string"
          },
          "gl": {
            "description": "GL is the newest slice of ledger detail, as the audit trail behind the\nstatements. It is CAPPED, so on a busy ledger it is a sample rather than the\nfull support for the figures above.",
            "items": {
              "$ref": "#/components/schemas/GLRow"
            },
            "type": "array"
          },
          "org": {
            "description": "Org is the organisation whose books these are — the validated caller's own,\nstamped so a downloaded bundle still says whose it is.",
            "type": "string"
          },
          "pnl": {
            "$ref": "#/components/schemas/PnL",
            "description": "PnL is the income statement for the period, on an accrual basis."
          },
          "to": {
            "description": "To closes it. Absent means up to now.",
            "type": "string"
          },
          "trialBalance": {
            "$ref": "#/components/schemas/TrialBalance",
            "description": "TrialBalance is the proof the ledger balances over the period."
          }
        },
        "type": "object"
      },
      "GLRow": {
        "properties": {
          "account": {
            "description": "Account is the chart-of-accounts number this leg posts to.",
            "type": "string"
          },
          "against": {
            "description": "Against names the OTHER accounts in the same voucher — the contra side of this\nleg — so a single row reads as an entry rather than as half of one.",
            "type": "string"
          },
          "credit": {
            "description": "Credit is the amount credited to that account, in whole cents.",
            "type": "integer"
          },
          "debit": {
            "description": "Debit is the amount debited to that account, in whole cents. Exactly one of\ndebit and credit is non-zero on a leg; a negative amount is never used to mean\nthe other side.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the entry's position in the ledger. The ledger is append-only, so ids\nascend with posting order and a higher id is a later entry.",
            "type": "integer"
          },
          "postingAt": {
            "description": "PostingAt is the accounting date this entry belongs to — what the reports\nwindow on, which need not be when the row was written.",
            "type": "string"
          },
          "remarks": {
            "description": "Remarks is the memo carried onto the entry, for a human reading the ledger.",
            "type": "string"
          },
          "sourceId": {
            "description": "SourceID identifies that originating record within its kind.",
            "type": "string"
          },
          "sourceKind": {
            "description": "SourceKind is what caused the posting: a bank line, a scanned document, a\ncommerce sale. With sourceId it traces the entry back to the thing that\nproduced it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "InboxItem": {
        "properties": {
          "category": {
            "description": "Category is the expense account the scanner proposed, as a chart number — a\nPROPOSAL, not a posting: nothing is booked until it is accepted.",
            "type": "string"
          },
          "confidence": {
            "description": "Confidence is how sure the scanner is of that reading, and is the signal for\nwhether a person needs to check it before it is booked.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the document was uploaded.",
            "type": "string"
          },
          "extracted": {
            "$ref": "#/components/schemas/Extracted",
            "description": "Extracted is what the scanner read off the document. Absent until it has been\nscanned, so its absence is \"not read yet\", never \"nothing on it\"."
          },
          "filename": {
            "description": "Filename is the name the document was uploaded under, for a person to\nrecognise it by. It is not part of the item's identity.",
            "type": "string"
          },
          "id": {
            "description": "ID is the CONTENT HASH of the uploaded bytes, which is what makes the queue\nidempotent: re-uploading the same document returns this item rather than\nadding a second one. It is also the id the scan of this document carries.",
            "type": "string"
          },
          "status": {
            "description": "Status is where the document is in the queue — unsorted until the scanner has\nread it, and thereafter whether it is waiting on a person or has been booked.",
            "type": "string"
          },
          "vendor": {
            "description": "Vendor is the supplier the scanner identified, surfaced beside the item so a\nqueue renders without opening each document.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Leg": {
        "properties": {
          "account": {
            "description": "Account is the chart-of-accounts number this side posts to, e.g. \"5300\".",
            "type": "string"
          },
          "credit": {
            "description": "Credit is the leg's credit in exact cents. Set this or Debit, not both.",
            "type": "integer"
          },
          "debit": {
            "description": "Debit is the leg's debit in exact cents. Set this or Credit, not both.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "LineItem": {
        "properties": {
          "amountCents": {
            "description": "AmountCents is that line's amount in whole cents. The scanner is instructed to\nreturn integer cents rather than a decimal, so no float rounding can enter the\nledger through here.",
            "type": "integer"
          },
          "description": {
            "description": "Description is the line as it appears on the document.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MetricsResponse": {
        "properties": {
          "arr": {
            "description": "ARR is annualized recurring revenue in cents (MRR × 12).",
            "type": "integer"
          },
          "burn": {
            "description": "Burn is total expense in cents over the period.",
            "type": "integer"
          },
          "cash": {
            "description": "Cash is the bank + processor-clearing balance in cents as of To.",
            "type": "integer"
          },
          "cogs": {
            "description": "COGS is cost of goods sold in cents over the period.",
            "type": "integer"
          },
          "deferredRevenue": {
            "description": "DeferredRevenue is the customer-wallet liability in cents as of To.",
            "type": "integer"
          },
          "figures": {
            "description": "Figures is the same snapshot rendered through books' one money formatter.",
            "items": {
              "$ref": "#/components/schemas/Figure"
            },
            "type": "array"
          },
          "from": {
            "description": "From is the RFC3339 start of the reporting window, exclusive; absent for all time.",
            "type": "string"
          },
          "grossMarginBps": {
            "description": "GrossMarginBps is GrossProfit / Revenue in basis points (7000 = 70%).",
            "type": "integer"
          },
          "grossProfit": {
            "description": "GrossProfit is Revenue − COGS, in cents.",
            "type": "integer"
          },
          "monthlyBurn": {
            "description": "MonthlyBurn is net cash burned per month in cents; 0 when not losing cash.",
            "type": "integer"
          },
          "months": {
            "description": "Months is the window length in whole months used to normalize MRR and burn.",
            "type": "integer"
          },
          "mrr": {
            "description": "MRR is monthly recurring revenue in cents.",
            "type": "integer"
          },
          "netIncome": {
            "description": "NetIncome is Revenue − Burn, in cents.",
            "type": "integer"
          },
          "period": {
            "description": "Period is the human window label, e.g. \"2026-07\" or \"all-time\".",
            "type": "string"
          },
          "revenue": {
            "description": "Revenue is recognized revenue in cents over the period.",
            "type": "integer"
          },
          "runwayMonths": {
            "description": "RunwayMonths is Cash / MonthlyBurn; -1 means infinite (the org is not burning).",
            "type": "integer"
          },
          "to": {
            "description": "To is the RFC3339 end of the reporting window, inclusive; absent for up to now.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PnL": {
        "properties": {
          "expense": {
            "description": "Expense is the cost lines that moved in the period, one per account.",
            "items": {
              "$ref": "#/components/schemas/PnLLine"
            },
            "type": "array"
          },
          "from": {
            "description": "From opens the period and is EXCLUSIVE — movement strictly after it, matching\nthe trial balance's opening boundary so the two reports agree on what belongs\nto a period. Absent means from the beginning of the ledger.",
            "type": "string"
          },
          "income": {
            "description": "Income is the revenue lines that moved in the period, one per account.\nAccounts that did not move are omitted rather than listed at zero.",
            "items": {
              "$ref": "#/components/schemas/PnLLine"
            },
            "type": "array"
          },
          "netIncome": {
            "description": "NetIncome is totalIncome minus totalExpense, in cents. Negative is a loss.",
            "type": "integer"
          },
          "to": {
            "description": "To closes the period and is inclusive. Absent means up to now.",
            "type": "string"
          },
          "totalExpense": {
            "description": "TotalExpense is cost MATCHED to that revenue, in cents, including accrued\ninfrastructure that has not been billed yet.",
            "type": "integer"
          },
          "totalIncome": {
            "description": "TotalIncome is revenue RECOGNIZED in the period, in cents — accrual, not cash,\nso a prepaid top-up is not in it until the credit is consumed.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "PnLLine": {
        "properties": {
          "account": {
            "description": "Account is the chart-of-accounts number this line reports on.",
            "type": "string"
          },
          "amount": {
            "description": "Amount is the account's movement over the period in whole cents, in its\nNATURAL sign: positive when the account behaved normally, for income and\nexpense alike. Income is credit-normal so its stored net is flipped once here\nfor display; the ledger underneath is never sign-flipped. A negative amount\ntherefore means the account ran backwards — a refunded sale, a reversed cost.",
            "type": "integer"
          },
          "name": {
            "description": "Name is that account's human name from the fixed chart.",
            "type": "string"
          },
          "type": {
            "description": "Type is the account's fundamental class, which on this statement is always\nincome or expense — it tells a reader which half of the statement the line\ncame from without re-deriving it from the array it arrived in.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Question": {
        "properties": {
          "account": {
            "description": "Account is the chart number the questioned entry posted to, where one applies.",
            "type": "string"
          },
          "amount": {
            "description": "Amount is the figure that makes the question concrete, already FORMATTED for\ndisplay with its currency symbol — a string, not cents, and not for arithmetic.",
            "type": "string"
          },
          "id": {
            "description": "ID is the source transaction the question is about, so answering it leads\nstraight back to the entry that raised it.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what looked wrong: outlier (a charge far above the usual), reversal (a\nposting undone), roundoff (a balancing plug big enough to be worth explaining),\nuncosted (revenue booked with no cost matched to it), or overdrawn (a wallet\nspent past its balance).",
            "type": "string"
          },
          "postedAt": {
            "description": "PostedAt anchors the question in time — when the entry it concerns posted.",
            "type": "string"
          },
          "text": {
            "description": "Text is the question itself, written for a founder to answer directly.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "QuestionsResponse": {
        "properties": {
          "questions": {
            "description": "Questions are what the books want explained, SHARPEST FIRST — largest amounts\nahead of smaller ones, and capped, so this is the top of the list rather than\neverything. Empty means the ledger looks clean; the detector is deterministic\nover what was posted and invents nothing.",
            "items": {
              "$ref": "#/components/schemas/Question"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Rule": {
        "properties": {
          "category": {
            "description": "Category is the COA expense account a matching bill books to. An upsert normalizes\na slug (\"cloud\") to its account number.",
            "type": "string"
          },
          "pattern": {
            "description": "Pattern is the merchant substring the rule matches on, case-insensitively. It is\nalso the key an upsert writes by.",
            "type": "string"
          },
          "priority": {
            "description": "Priority breaks ties: when several patterns match, the highest wins.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ScanDraft": {
        "type": "object",
        "properties": {
          "balanced": {
            "type": "boolean"
          },
          "category": {
            "type": "string"
          },
          "confidence": {
            "type": "string"
          },
          "extracted": {
            "$ref": "#/components/schemas/Extracted"
          },
          "questions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Question"
            }
          },
          "scanId": {
            "type": "string"
          },
          "vendor": {
            "type": "string"
          },
          "voucher": {
            "$ref": "#/components/schemas/Voucher"
          }
        }
      },
      "TrialBalance": {
        "properties": {
          "balanced": {
            "description": "Balanced is the proof this report exists to give: whether total debits equal\ntotal credits. It is computed from the rows above, never assumed, and false\nmeans the ledger itself is broken rather than that the report is wrong.",
            "type": "boolean"
          },
          "from": {
            "description": "From is the posting time the window opens at, as it was asked for. Absent\nmeans the report runs from the beginning of the ledger.",
            "type": "string"
          },
          "rows": {
            "description": "Rows are the accounts that MOVED in one of the windows. An account that never\nmoved is omitted rather than listed at zero, so this is shorter than the chart.",
            "items": {
              "$ref": "#/components/schemas/TrialBalanceRow"
            },
            "type": "array"
          },
          "to": {
            "description": "To is the posting time the window closes at, inclusive. Absent means \"up to\nnow\" — every posting the ledger holds.",
            "type": "string"
          },
          "totalCredit": {
            "description": "TotalCredit is the sum of every row's closing credit column, in cents.",
            "type": "integer"
          },
          "totalDebit": {
            "description": "TotalDebit is the sum of every row's CLOSING debit column, in cents.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "TrialBalanceRow": {
        "properties": {
          "account": {
            "description": "Account is the chart-of-accounts NUMBER this line reports on (\"1000\", \"4000\")\n— the stable posting key, not a display label.",
            "type": "string"
          },
          "closingCredit": {
            "description": "ClosingCredit is that closing balance in cents when it is a credit balance.",
            "type": "integer"
          },
          "closingDebit": {
            "description": "ClosingDebit is the balance at the end of the window, in cents, when it is a\ndebit balance. This is the column the report's totals are summed from.",
            "type": "integer"
          },
          "credit": {
            "description": "Credit is the same window movement in cents when it was net credit.",
            "type": "integer"
          },
          "debit": {
            "description": "Debit is the account's MOVEMENT within the window — closing minus opening, not\nthe closing balance — in cents, when that movement was net debit. Zero when the\naccount moved net credit.",
            "type": "integer"
          },
          "name": {
            "description": "Name is that account's human name from the fixed chart.",
            "type": "string"
          },
          "openingCredit": {
            "description": "OpeningCredit is the same opening balance in cents when it fell on the credit\nside. Zero when the balance was a debit one.",
            "type": "integer"
          },
          "openingDebit": {
            "description": "OpeningDebit is the account's balance before the window began, in whole cents,\nwhen that balance was on the debit side. Zero when the balance was a credit\none — the pair is exclusive, never two halves of one number.",
            "type": "integer"
          },
          "type": {
            "description": "Type is the account's fundamental class — asset, liability, income, expense or\nequity — which is also its normal balance side. It is carried for presentation\nand does NOT decide which column an amount lands in: placement follows the\nsign of the real net, so a contra balance shows up as one.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Txn": {
        "properties": {
          "amountCents": {
            "description": "AmountCents is the voucher's total, in whole cents — its total debit, which\nequals its total credit because every voucher balances. It is the size of the\nentry and carries no direction; the category says which way it went.",
            "type": "integer"
          },
          "category": {
            "description": "Category is the chart-of-accounts NUMBER of the income or expense account this\nvoucher touched — where it lands on the P\u0026L, not a free-text label.",
            "type": "string"
          },
          "categoryName": {
            "description": "CategoryName is that account's human name, so a caller need not carry the\nchart to render the row.",
            "type": "string"
          },
          "date": {
            "description": "Date is when the voucher POSTED — the accounting date the reports window on,\nwhich for an imported bank row is the bank's date and not the day it landed\nhere.",
            "type": "string"
          },
          "description": {
            "description": "Description is the line a person reads: the memo carried in from the source.",
            "type": "string"
          },
          "source": {
            "description": "Source is where the entry came from: bank_txn for an imported statement line,\nscan for a receipt or bill read by the scanner, commerce_txn for a sale\nbooked by the store.",
            "type": "string"
          },
          "vendor": {
            "description": "Vendor is the counterparty, resolved from whatever the source knew — a bank\nrow's merchant, a scanned bill's supplier. Absent when the source named none.",
            "type": "string"
          },
          "voucherId": {
            "description": "VoucherID identifies the underlying double-entry voucher, so a caller can open\nthe full set of legs behind this single register line.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "VendorRow": {
        "properties": {
          "aliases": {
            "description": "Aliases are the other spellings a receipt may print the vendor under; a scan\nmatching any of them resolves to this vendor.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "canonical": {
            "description": "Canonical is the vendor's one true name, and the key an upsert writes by.",
            "type": "string"
          },
          "defaultCategory": {
            "description": "DefaultCategory is the COA expense account new bills from this vendor book to.\nAn upsert normalizes a slug (\"software\") to its account number.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Voucher": {
        "properties": {
          "description": {
            "description": "Description is the human line for the event, e.g. the vendor a bill came from.",
            "type": "string"
          },
          "legs": {
            "description": "Legs are the sides of the posting. They must balance: Σdebit == Σcredit, give or\ntake the 2¢ round-off allowance.",
            "items": {
              "$ref": "#/components/schemas/Leg"
            },
            "type": "array"
          },
          "postingAt": {
            "description": "PostingAt is the RFC3339 instant the event posts at — the time every statement\nwindow filters on.",
            "type": "string"
          },
          "sourceId": {
            "description": "SourceID is the source event's own id within that namespace. Together with\nSourceKind it is the key that makes a repeat posting a no-op.",
            "type": "string"
          },
          "sourceKind": {
            "description": "SourceKind is the idempotency namespace naming what booked this, e.g. \"scan\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "inboxOut": {
        "properties": {
          "items": {
            "description": "Items is every document still unsorted or in draft, newest first.",
            "items": {
              "$ref": "#/components/schemas/InboxItem"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "rulesOut": {
        "properties": {
          "rules": {
            "description": "Rules is every rule the org has set, highest priority first — the order they\nare matched in.",
            "items": {
              "$ref": "#/components/schemas/Rule"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "syncTally": {
        "properties": {
          "live": {
            "description": "Live is the number of vouchers newly posted to the live ledger.",
            "type": "integer"
          },
          "sandbox": {
            "description": "Sandbox is the number newly posted to the sandbox ledger.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "transactionsOut": {
        "properties": {
          "transactions": {
            "description": "Transactions is the matching register rows, newest first.",
            "items": {
              "$ref": "#/components/schemas/Txn"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "unreconciledOut": {
        "properties": {
          "questions": {
            "description": "Questions is the open clarifying question per unmatched inflow.",
            "items": {
              "$ref": "#/components/schemas/BankQuestion"
            },
            "type": "array"
          },
          "transactions": {
            "description": "Transactions is every bank row still unmatched against the ledger.",
            "items": {
              "$ref": "#/components/schemas/BankTxnRow"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "vendorsOut": {
        "properties": {
          "vendors": {
            "description": "Vendors is every vendor the org has recorded, canonical name ascending.",
            "items": {
              "$ref": "#/components/schemas/VendorRow"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
