{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "books"
    }
  ],
  "paths": {
    "/v1/books/accounts": {
      "get": {
        "operationId": "get_v1_books_accounts",
        "summary": "ListAccounts returns the org's chart of accounts — the seeded fixed chart every",
        "description": "ListAccounts returns the org's chart of accounts — the seeded fixed chart every\nposting key in the ledger refers to.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\"; anything else\nreads the live one.",
            "schema": {
              "type": "string"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/books/ask": {
      "post": {
        "operationId": "post_v1_books_ask",
        "tags": [
          "books"
        ]
      }
    },
    "/v1/books/balance-sheet": {
      "get": {
        "operationId": "get_v1_books_balance-sheet",
        "summary": "BalanceSheet returns the org's Balance Sheet as of `to` (empty = all time), with the",
        "description": "BalanceSheet returns the org's Balance Sheet as of `to` (empty = all time), with the\nAssets == Liabilities + Equity equation proof.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "To is the RFC3339 instant the statement is struck as of. Empty means all time.",
            "schema": {
              "type": "string"
            },
            "example": "2026-03-31T23:59:59Z"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceSheet"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/books/bank/exchange": {
      "post": {
        "operationId": "post_v1_books_bank_exchange",
        "tags": [
          "books"
        ]
      }
    },
    "/v1/books/bank/import": {
      "post": {
        "operationId": "post_v1_books_bank_import",
        "tags": [
          "books"
        ]
      }
    },
    "/v1/books/bank/link-token": {
      "post": {
        "operationId": "post_v1_books_bank_link-token",
        "tags": [
          "books"
        ]
      }
    },
    "/v1/books/bank/sync": {
      "post": {
        "operationId": "post_v1_books_bank_sync",
        "tags": [
          "books"
        ]
      }
    },
    "/v1/books/bank/transactions": {
      "get": {
        "operationId": "get_v1_books_bank_transactions",
        "summary": "ListBankTransactions returns the org's normalized bank transactions, newest first —",
        "description": "ListBankTransactions returns the org's normalized bank transactions, newest first —\nevery row the import and connector paths have ingested, with its amount in exact cents,\nits direction, and whether it has been matched to a voucher yet.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many rows come back; 500 when absent or not positive.",
            "schema": {
              "type": "integer"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BankTxnRow"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/books/bank/unreconciled": {
      "get": {
        "operationId": "get_v1_books_bank_unreconciled",
        "summary": "ListUnreconciled returns the org's unmatched bank inflows and their open clarifying",
        "description": "ListUnreconciled returns the org's unmatched bank inflows and their open clarifying\nquestions — the queue a human answers so an unexplained deposit is never guessed into\nrevenue.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\"; anything else\nreads the live one.",
            "schema": {
              "type": "string"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unreconciledOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/books/export": {
      "get": {
        "operationId": "get_v1_books_export",
        "summary": "ExportPackage returns the complete financial package for the caller's org over",
        "description": "ExportPackage returns the complete financial package for the caller's org over\n(from, to]: the trial balance, the P\u0026L, the balance sheet, and the GL detail behind\nthem — the four statements a tax preparer or an investor asks for, assembled from the\none ledger in a single read so they cannot disagree with each other.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "From is the RFC3339 start of the window, exclusive. Empty means all time.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01T00:00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "To is the RFC3339 end of the window, inclusive. Empty means up to now.",
            "schema": {
              "type": "string"
            },
            "example": "2026-12-31T23:59:59Z"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Format is the export encoding. Only \"json\" is supported; empty means json.",
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the GL detail rows included as the audit trail; 5000 when absent\nor not positive.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialPackage"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/books/gl": {
      "get": {
        "operationId": "get_v1_books_gl",
        "summary": "ListGL returns the org's most recent GL Entry rows, newest first.",
        "description": "ListGL returns the org's most recent GL Entry rows, newest first. This is the raw\ndouble-entry detail behind every statement: one row per leg, with its debit, credit,\nposting time and the source that booked it.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many rows come back; 500 when absent or not positive.",
            "schema": {
              "type": "integer"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/GLRow"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/books/inbox": {
      "get": {
        "operationId": "get_v1_books_inbox",
        "summary": "ListInbox returns the org's open document queue — everything uploaded but not yet\nbooked, newest first, each with its extracted summary and the confidence the scanner\nresolved its category at.",
        "description": "ListInbox returns the org's open document queue — everything uploaded but not yet\nbooked, newest first, each with its extracted summary and the confidence the scanner\nresolved its category at. A booked document drops out of the queue.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\"; anything else\nreads the live one.",
            "schema": {
              "type": "string"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inboxOut"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_books_inbox",
        "tags": [
          "books"
        ]
      }
    },
    "/v1/books/metrics": {
      "get": {
        "operationId": "get_v1_books_metrics",
        "tags": [
          "books"
        ]
      }
    },
    "/v1/books/pnl": {
      "get": {
        "operationId": "get_v1_books_pnl",
        "summary": "ProfitAndLoss returns the org's accrual-basis Profit \u0026 Loss over an optional (from, to]",
        "description": "ProfitAndLoss returns the org's accrual-basis Profit \u0026 Loss over an optional (from, to]\nwindow of RFC3339 posting times: recognized revenue, matched cost, and the net.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "From is the RFC3339 start of the window, exclusive. Empty means all time.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01T00:00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "To is the RFC3339 end of the window, inclusive. Empty means up to now.",
            "schema": {
              "type": "string"
            },
            "example": "2026-03-31T23:59:59Z"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PnL"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/books/questions": {
      "get": {
        "operationId": "get_v1_books_questions",
        "summary": "ListQuestions returns the clarifying questions the caller's own recent GL raises — the\nunusual postings a founder should look at (outliers, reversals, round-offs, uncosted\nrevenue, an overdrawn wallet), sharpest first.",
        "description": "ListQuestions returns the clarifying questions the caller's own recent GL raises — the\nunusual postings a founder should look at (outliers, reversals, round-offs, uncosted\nrevenue, an overdrawn wallet), sharpest first. An empty list means the books look clean;\nthe detector is deterministic over the ledger and invents nothing.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\"; anything else\nreads the live one.",
            "schema": {
              "type": "string"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionsResponse"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/books/rules": {
      "get": {
        "operationId": "get_v1_books_rules",
        "summary": "ListRules returns the org's auto-categorization rules, highest priority first.",
        "description": "ListRules returns the org's auto-categorization rules, highest priority first. A rule\nis a standing instruction — \"anything whose merchant contains X books to category Y\" —\nand it overrides a vendor's default category, so this is the list that decides how a\nfuture bill classifies itself.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\"; anything else\nreads the live one.",
            "schema": {
              "type": "string"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rulesOut"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_books_rules",
        "tags": [
          "books"
        ]
      }
    },
    "/v1/books/scan": {
      "post": {
        "operationId": "post_v1_books_scan",
        "tags": [
          "books"
        ]
      }
    },
    "/v1/books/scan/book": {
      "post": {
        "operationId": "post_v1_books_scan_book",
        "tags": [
          "books"
        ]
      }
    },
    "/v1/books/sync": {
      "post": {
        "operationId": "post_v1_books_sync",
        "summary": "Sync ingests the caller's OWN org from commerce into BOTH ledgers (live and sandbox)\nand reports how many new vouchers posted to each.",
        "description": "Sync ingests the caller's OWN org from commerce into BOTH ledgers (live and sandbox)\nand reports how many new vouchers posted to each. It is idempotent — money that has\nalready been booked posts nothing on a repeat — and it is read-only against commerce:\nit never mints a deposit, a credit or a payout, only the accounting twin of money that\nalready moved.",
        "tags": [
          "books"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/syncIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/syncTally"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/books/transactions": {
      "get": {
        "operationId": "get_v1_books_transactions",
        "summary": "ListTransactions returns the org's booked ledger as a single-line register, newest\nfirst: one row per voucher, with its date, description, vendor, category, source and\namount in exact cents.",
        "description": "ListTransactions returns the org's booked ledger as a single-line register, newest\nfirst: one row per voucher, with its date, description, vendor, category, source and\namount in exact cents. It is the double-entry ledger projected to the register a human\nreads, filterable by posting-time window, category and vendor. Strictly read-only — it\nrestates the books, it never moves them.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "From is the RFC3339 start of the posting-time window, inclusive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "To is the RFC3339 end of the posting-time window, inclusive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Category filters to one COA account, named by number (\"5300\") or by category\nslug (\"software\").",
            "schema": {
              "type": "string"
            },
            "example": "software"
          },
          {
            "name": "vendor",
            "in": "query",
            "required": false,
            "description": "Vendor filters to rows whose vendor or description contains this text,\ncase-insensitively.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many rows come back; 200 when absent or not positive.",
            "schema": {
              "type": "integer"
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactionsOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/books/trial-balance": {
      "get": {
        "operationId": "get_v1_books_trial-balance",
        "summary": "TrialBalance returns the org's trial balance over an optional [from, to] window of",
        "description": "TrialBalance returns the org's trial balance over an optional [from, to] window of\nRFC3339 posting times, including the opening/closing columns and the\nTotalDebit == TotalCredit proof that the books balance.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "From is the RFC3339 start of the window, exclusive. Empty means all time.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01T00:00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "To is the RFC3339 end of the window, inclusive. Empty means up to now.",
            "schema": {
              "type": "string"
            },
            "example": "2026-03-31T23:59:59Z"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialBalance"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/books/vendors": {
      "get": {
        "operationId": "get_v1_books_vendors",
        "summary": "ListVendors returns the org's vendor book: each canonical vendor, the alias spellings a\nreceipt may print it under, and the expense account new bills from it default to.",
        "description": "ListVendors returns the org's vendor book: each canonical vendor, the alias spellings a\nreceipt may print it under, and the expense account new bills from it default to. A\nvendor here is what makes a scanned bill self-classify instead of asking again.",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "sandbox",
            "in": "query",
            "required": false,
            "description": "Sandbox reads the org's SANDBOX ledger when it is exactly \"true\"; anything else\nreads the live one.",
            "schema": {
              "type": "string"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vendorsOut"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_books_vendors",
        "tags": [
          "books"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "properties": {
          "name": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "party": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "BalanceLine": {
        "properties": {
          "account": {
            "type": "string"
          },
          "amount": {
            "description": "cents, display sign",
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "BalanceSheet": {
        "properties": {
          "asOf": {
            "type": "string"
          },
          "assets": {
            "items": {
              "$ref": "#/components/schemas/BalanceLine"
            },
            "type": "array"
          },
          "balanced": {
            "description": "TotalAssets == TotalLiabilities + TotalEquity",
            "type": "boolean"
          },
          "equity": {
            "items": {
              "$ref": "#/components/schemas/BalanceLine"
            },
            "type": "array"
          },
          "liabilities": {
            "items": {
              "$ref": "#/components/schemas/BalanceLine"
            },
            "type": "array"
          },
          "totalAssets": {
            "type": "integer"
          },
          "totalEquity": {
            "type": "integer"
          },
          "totalLiabilities": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "BankQuestion": {
        "properties": {
          "connector": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "BankTxnRow": {
        "properties": {
          "amountCents": {
            "type": "integer"
          },
          "connector": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "direction": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "matchedVoucher": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          },
          "postedAt": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Extracted": {
        "properties": {
          "category": {
            "description": "proposed slug (software|cloud|office|…)",
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "issuedAt": {
            "description": "YYYY-MM-DD",
            "type": "string"
          },
          "lineItems": {
            "items": {
              "$ref": "#/components/schemas/LineItem"
            },
            "type": "array"
          },
          "merchant": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "taxCents": {
            "type": "integer"
          },
          "totalCents": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "FinancialPackage": {
        "properties": {
          "balanceSheet": {
            "$ref": "#/components/schemas/BalanceSheet"
          },
          "from": {
            "type": "string"
          },
          "generatedAt": {
            "type": "string"
          },
          "gl": {
            "items": {
              "$ref": "#/components/schemas/GLRow"
            },
            "type": "array"
          },
          "org": {
            "type": "string"
          },
          "pnl": {
            "$ref": "#/components/schemas/PnL"
          },
          "to": {
            "type": "string"
          },
          "trialBalance": {
            "$ref": "#/components/schemas/TrialBalance"
          }
        },
        "type": "object"
      },
      "GLRow": {
        "properties": {
          "account": {
            "type": "string"
          },
          "against": {
            "type": "string"
          },
          "credit": {
            "type": "integer"
          },
          "debit": {
            "type": "integer"
          },
          "id": {
            "type": "integer"
          },
          "postingAt": {
            "type": "string"
          },
          "remarks": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "sourceKind": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "InboxItem": {
        "properties": {
          "category": {
            "type": "string"
          },
          "confidence": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "extracted": {
            "$ref": "#/components/schemas/Extracted"
          },
          "filename": {
            "type": "string"
          },
          "id": {
            "description": "the file hash (== a scan's ScanID)",
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "vendor": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "LineItem": {
        "properties": {
          "amountCents": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PnL": {
        "properties": {
          "expense": {
            "items": {
              "$ref": "#/components/schemas/PnLLine"
            },
            "type": "array"
          },
          "from": {
            "type": "string"
          },
          "income": {
            "items": {
              "$ref": "#/components/schemas/PnLLine"
            },
            "type": "array"
          },
          "netIncome": {
            "description": "TotalIncome − TotalExpense",
            "type": "integer"
          },
          "to": {
            "type": "string"
          },
          "totalExpense": {
            "type": "integer"
          },
          "totalIncome": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "PnLLine": {
        "properties": {
          "account": {
            "type": "string"
          },
          "amount": {
            "description": "cents, display sign (income \u0026 expense both positive when normal)",
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Question": {
        "properties": {
          "account": {
            "type": "string"
          },
          "amount": {
            "description": "formatted figure ($…)",
            "type": "string"
          },
          "id": {
            "description": "the source transaction id it concerns",
            "type": "string"
          },
          "kind": {
            "description": "outlier|reversal|roundoff|uncosted|overdrawn",
            "type": "string"
          },
          "postedAt": {
            "type": "string"
          },
          "text": {
            "description": "the specific question to ask the founder",
            "type": "string"
          }
        },
        "type": "object"
      },
      "QuestionsResponse": {
        "properties": {
          "questions": {
            "items": {
              "$ref": "#/components/schemas/Question"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Rule": {
        "properties": {
          "category": {
            "description": "COA account number",
            "type": "string"
          },
          "pattern": {
            "type": "string"
          },
          "priority": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "TrialBalance": {
        "properties": {
          "balanced": {
            "type": "boolean"
          },
          "from": {
            "type": "string"
          },
          "rows": {
            "items": {
              "$ref": "#/components/schemas/TrialBalanceRow"
            },
            "type": "array"
          },
          "to": {
            "type": "string"
          },
          "totalCredit": {
            "type": "integer"
          },
          "totalDebit": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "TrialBalanceRow": {
        "properties": {
          "account": {
            "type": "string"
          },
          "closingCredit": {
            "type": "integer"
          },
          "closingDebit": {
            "type": "integer"
          },
          "credit": {
            "description": "period movement",
            "type": "integer"
          },
          "debit": {
            "description": "period movement",
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "openingCredit": {
            "type": "integer"
          },
          "openingDebit": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Txn": {
        "properties": {
          "amountCents": {
            "type": "integer"
          },
          "category": {
            "description": "COA account number of the P\u0026L line",
            "type": "string"
          },
          "categoryName": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "source": {
            "description": "source_kind: bank_txn | scan | commerce_txn",
            "type": "string"
          },
          "vendor": {
            "type": "string"
          },
          "voucherId": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "VendorRow": {
        "properties": {
          "aliases": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "canonical": {
            "type": "string"
          },
          "defaultCategory": {
            "description": "COA account number",
            "type": "string"
          }
        },
        "type": "object"
      },
      "inboxOut": {
        "properties": {
          "items": {
            "description": "Items is every document still unsorted or in draft, newest first.",
            "items": {
              "$ref": "#/components/schemas/InboxItem"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "rulesOut": {
        "properties": {
          "rules": {
            "description": "Rules is every rule the org has set, highest priority first — the order they\nare matched in.",
            "items": {
              "$ref": "#/components/schemas/Rule"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "syncIn": {
        "properties": {},
        "type": "object"
      },
      "syncTally": {
        "properties": {
          "live": {
            "description": "Live is the number of vouchers newly posted to the live ledger.",
            "type": "integer"
          },
          "sandbox": {
            "description": "Sandbox is the number newly posted to the sandbox ledger.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "transactionsOut": {
        "properties": {
          "transactions": {
            "description": "Transactions is the matching register rows, newest first.",
            "items": {
              "$ref": "#/components/schemas/Txn"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "unreconciledOut": {
        "properties": {
          "questions": {
            "description": "Questions is the open clarifying question per unmatched inflow.",
            "items": {
              "$ref": "#/components/schemas/BankQuestion"
            },
            "type": "array"
          },
          "transactions": {
            "description": "Transactions is every bank row still unmatched against the ledger.",
            "items": {
              "$ref": "#/components/schemas/BankTxnRow"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "vendorsOut": {
        "properties": {
          "vendors": {
            "description": "Vendors is every vendor the org has recorded, canonical name ascending.",
            "items": {
              "$ref": "#/components/schemas/VendorRow"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  }
}
