{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package ask is a plain-language question about your business, answered with real numbers.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "ask"
    }
  ],
  "paths": {
    "/v1/ask": {
      "post": {
        "operationId": "post_v1_ask",
        "tags": [
          "ask"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/askRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "askRequest": {
        "type": "object",
        "properties": {
          "followUps": {
            "type": "boolean"
          },
          "language": {
            "type": "string"
          },
          "maxQueries": {
            "type": "integer"
          },
          "maxSources": {
            "type": "integer"
          },
          "mode": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "q": {
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "stream": {
            "type": "boolean"
          },
          "system": {
            "type": "string"
          }
        }
      }
    }
  }
}
