{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package ask is a plain-language question about your business, answered with real numbers.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "ask"
    }
  ],
  "paths": {
    "/v1/ask": {
      "post": {
        "operationId": "post_v1_ask",
        "summary": "Ask a grounded question about your own org",
        "description": "Answers a natural-language question about the CALLER'S OWN org, from real figures rather than from the model's memory.\n\nThe question is classified to a grounded domain, that domain's read runs IN-PROCESS under the caller's own credentials, and only then is the result narrated. So the figures and their sources are the domain's, resolved before any model call and never altered by one — a wrong answer is a wrong query, never an invention.\n\nDomains: books (the org's ledger), projects (what is built and what of it is deployed), git (the org's repositories and what changed in them), and web (search, news, research, deep). A validated principal is required; the answer is scoped to that principal's org and nothing else.",
        "tags": [
          "ask"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/askRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "askRequest": {
        "type": "object",
        "properties": {
          "followUps": {
            "type": "boolean"
          },
          "language": {
            "type": "string"
          },
          "maxQueries": {
            "type": "integer"
          },
          "maxSources": {
            "type": "integer"
          },
          "mode": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "q": {
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "stream": {
            "type": "boolean"
          },
          "system": {
            "type": "string"
          }
        }
      }
    }
  }
}
