{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package leaderboard ranks AI usage: who leads inside an org, which orgs lead globally, and a GitHub-style per-day contribution graph for one subject — all opt-in for public listing.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "usage"
    }
  ],
  "paths": {
    "/v1/usage/activity": {
      "get": {
        "operationId": "get_v1_usage_activity",
        "summary": "Activity returns the per-day usage series for ONE authorized subject — the points a contribution heatmap and a timeline are drawn from, gap-filled so every day in the range is present.",
        "description": "Activity returns the per-day usage series for ONE authorized subject — the points a\ncontribution heatmap and a timeline are drawn from, gap-filled so every day in the\nrange is present. Authorization is resolved server-side from the validated\nprincipal, so a caller can never widen the subject past what they are entitled to:\na non-admin reads only themselves and their own org. subject=project answers empty\nwith a note, because the usage ledger records no project column yet. When the\nwarehouse is not connected the series answers empty with available=false rather\nthan fabricated days.",
        "tags": [
          "usage"
        ],
        "parameters": [
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Subject is what the series is about: \"user\" (default), \"org\" or \"project\".",
            "schema": {
              "type": "string"
            },
            "example": "user"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "ID names the subject within what the caller is entitled to see. Omitted (or\n\"me\") it is the caller themselves, or their own org. Another user requires org\nadmin and must belong to the caller's org; another org requires a SuperAdmin.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "From is the first day of the range, \"2006-01-02\". Defaults to 90 days back.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "To is the last day of the range, \"2006-01-02\". Defaults to today; the span is\nclamped to 366 days.",
            "schema": {
              "type": "string"
            },
            "example": "2026-03-31"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/usage/leaderboard": {
      "get": {
        "operationId": "get_v1_usage_leaderboard",
        "summary": "Leaderboard ranks AI usage over a window, either the users of the caller's own org or organizations against each other, and always reports the caller's own standing even when it falls outside the returned page.",
        "description": "Leaderboard ranks AI usage over a window, either the users of the caller's own org\nor organizations against each other, and always reports the caller's own standing\neven when it falls outside the returned page. Identities are private by default: a\ncaller sees themselves, plus the peers or orgs that opted into public listing, and\nonly an admin sees their own org's members named. Cross-org spend is restricted to\nplatform admins. When the warehouse is not connected the board answers empty with\navailable=false rather than a fabricated rank.",
        "tags": [
          "usage"
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Scope picks the board: \"personal\" (default) ranks the caller among their own\norg's users, \"org\" is that same org board named for an admin, \"global\" ranks\norganizations against each other.",
            "schema": {
              "type": "string"
            },
            "example": "personal"
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "Metric is the value ranked: tokens (default), requests, or cost.",
            "schema": {
              "type": "string"
            },
            "example": "tokens"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Period is the window ranked: day, week, month (default) or all.",
            "schema": {
              "type": "string"
            },
            "example": "week"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned, clamped to 100. Defaults to 10, which is also\nwhat a non-positive or unparseable value takes.",
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/usage/leaderboard/optin": {
      "get": {
        "operationId": "get_v1_usage_leaderboard_optin",
        "summary": "GetOptin returns the caller's own public-listing preference and their org's, each with whether the caller may change it.",
        "description": "GetOptin returns the caller's own public-listing preference and their org's,\neach with whether the caller may change it. Public listing is opt-in and private\nby default, so a fresh caller reads listed=false for both.",
        "tags": [
          "usage"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/optinView"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_v1_usage_leaderboard_optin",
        "summary": "PutUserOptin sets the CALLER's own public-listing preference on the leaderboard.",
        "description": "PutUserOptin sets the CALLER's own public-listing preference on the leaderboard.\nSelf only: the row written is keyed by the caller's validated ledger identity, so\nthis can never edit another member's visibility whatever the request says. A\ncaller opting in with no handle is given their username, so a listed row never\nrenders as \"Anonymous\" to its own owner.",
        "tags": [
          "usage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "handle": "ada",
                "listed": true
              },
              "schema": {
                "$ref": "#/components/schemas/userOptinReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userOptinView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/usage/leaderboard/optin/org": {
      "put": {
        "operationId": "put_v1_usage_leaderboard_optin_org",
        "summary": "PutOrgOptin sets the ORG's listing on the cross-org global board.",
        "description": "PutOrgOptin sets the ORG's listing on the cross-org global board. Only an admin of\nthe caller's own org — an org admin or a platform SuperAdmin — may change it, and\nthe org written is the caller's validated tenant, never a value from the request.\nListing consents to publishing the org's usage VOLUME; cross-org spend stays\nrestricted to platform admins regardless.",
        "tags": [
          "usage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "display": "Acme",
                "listed": true
              },
              "schema": {
                "$ref": "#/components/schemas/orgOptinReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/orgOptinView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/usage/rollup/backfill": {
      "post": {
        "operationId": "post_v1_usage_rollup_backfill",
        "summary": "Backfill seeds the derived usage rollup from ledger history — the rows written before the incremental view existed, which that view can never capture.",
        "description": "Backfill seeds the derived usage rollup from ledger history — the rows written\nbefore the incremental view existed, which that view can never capture. SuperAdmin\nonly. Because the rollup accumulates, a second unguarded run would double every\nday it re-reads, so it refuses with 409 when the rollup already holds rows unless\nforce=true is passed; forcing WILL double-count.",
        "tags": [
          "usage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "before": "2026-01-01T00:00:00Z"
              },
              "schema": {
                "$ref": "#/components/schemas/backfillQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/backfillResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActivityPoint": {
        "properties": {
          "costCents": {
            "type": "integer"
          },
          "day": {
            "description": "\"2006-01-02\"",
            "type": "string"
          },
          "requests": {
            "type": "integer"
          },
          "tokens": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ActivityTotals": {
        "properties": {
          "activeDays": {
            "description": "days with any usage",
            "type": "integer"
          },
          "costCents": {
            "type": "integer"
          },
          "maxRequests": {
            "type": "integer"
          },
          "maxTokens": {
            "description": "busiest day's tokens (heatmap intensity ceiling)",
            "type": "integer"
          },
          "requests": {
            "type": "integer"
          },
          "tokens": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ActivityView": {
        "properties": {
          "available": {
            "type": "boolean"
          },
          "days": {
            "items": {
              "$ref": "#/components/schemas/ActivityPoint"
            },
            "type": "array"
          },
          "from": {
            "type": "string"
          },
          "id": {
            "description": "resolved subject id (echoed)",
            "type": "string"
          },
          "note": {
            "description": "honest note (e.g. project attribution not in the ledger)",
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "subject": {
            "description": "user|org|project",
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "totals": {
            "$ref": "#/components/schemas/ActivityTotals"
          }
        },
        "type": "object"
      },
      "LeaderboardRow": {
        "properties": {
          "anonymous": {
            "type": "boolean"
          },
          "costCents": {
            "type": "integer"
          },
          "handle": {
            "type": "string"
          },
          "metric": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          },
          "requests": {
            "type": "integer"
          },
          "self": {
            "type": "boolean"
          },
          "tokens": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "LeaderboardView": {
        "properties": {
          "available": {
            "type": "boolean"
          },
          "end": {
            "type": "string"
          },
          "metric": {
            "description": "tokens|requests|cost",
            "type": "string"
          },
          "period": {
            "description": "day|week|month|all|custom",
            "type": "string"
          },
          "rows": {
            "items": {
              "$ref": "#/components/schemas/LeaderboardRow"
            },
            "type": "array"
          },
          "scope": {
            "description": "personal|org|global",
            "type": "string"
          },
          "self": {
            "$ref": "#/components/schemas/SelfRank"
          },
          "source": {
            "type": "string"
          },
          "start": {
            "description": "\"\" for all",
            "type": "string"
          },
          "subject": {
            "description": "user|org",
            "type": "string"
          },
          "total": {
            "description": "ranked subjects in the window",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "SelfRank": {
        "properties": {
          "costCents": {
            "type": "integer"
          },
          "handle": {
            "type": "string"
          },
          "listed": {
            "description": "is the caller publicly listed (opted in)",
            "type": "boolean"
          },
          "metric": {
            "type": "integer"
          },
          "ofTotal": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          },
          "ranked": {
            "type": "boolean"
          },
          "requests": {
            "type": "integer"
          },
          "tokens": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "backfillQuery": {
        "properties": {
          "before": {
            "description": "Before bounds the seed to ledger rows written before this RFC3339 instant.\nDefaults to now; pass the incremental view's creation instant so the seed and\nthe live view never overlap and double a day.",
            "type": "string"
          },
          "force": {
            "description": "Force must be exactly \"true\" to seed a rollup that already holds rows. It is\nspelled as a string, not a flag, because the guard has always compared this\nvalue literally — \"1\" and \"yes\" do NOT force.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "backfillResult": {
        "properties": {
          "forced": {
            "description": "Forced is true when the caller overrode the already-populated guard.",
            "type": "boolean"
          },
          "seededBefore": {
            "description": "SeededBefore is the RFC3339 upper bound the seed actually used.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" — a seed that did not run answered an error instead.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "optinView": {
        "properties": {
          "org": {
            "$ref": "#/components/schemas/orgOptinView"
          },
          "user": {
            "$ref": "#/components/schemas/userOptinView"
          }
        },
        "type": "object"
      },
      "orgOptinReq": {
        "properties": {
          "display": {
            "description": "Display is the name shown for the org on that board: 1-40 characters of\nletters, digits, space, dot, underscore, apostrophe or hyphen. Left empty on a\nlisting opt-in it defaults to the org id.",
            "type": "string"
          },
          "listed": {
            "description": "Listed publishes the org on the cross-org global board when true, and withdraws\nit when false.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "orgOptinView": {
        "properties": {
          "canManage": {
            "description": "may the caller edit the org opt-in",
            "type": "boolean"
          },
          "display": {
            "type": "string"
          },
          "listed": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "userOptinReq": {
        "properties": {
          "handle": {
            "description": "Handle is the display name shown on a listed row: 1-40 characters of letters,\ndigits, space, dot, underscore, apostrophe or hyphen. Left empty on a listing\nopt-in it defaults to the caller's username.",
            "type": "string"
          },
          "listed": {
            "description": "Listed publishes the caller's row to other viewers of the board when true, and\nanonymizes it when false.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "userOptinView": {
        "properties": {
          "canSet": {
            "description": "false when the caller's identity can't be resolved",
            "type": "boolean"
          },
          "handle": {
            "type": "string"
          },
          "listed": {
            "type": "boolean"
          }
        },
        "type": "object"
      }
    }
  }
}
