{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package leaderboard is the ranking of who uses AI most, in your org and globally.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "usage"
    }
  ],
  "paths": {
    "/v1/usage/activity": {
      "get": {
        "operationId": "get_usage_activity",
        "summary": "Activity returns the per-day usage series for ONE authorized subject — the points a contribution heatmap and a timeline are drawn from, gap-filled so every day in the range is present.",
        "description": "Activity returns the per-day usage series for ONE authorized subject — the points a\ncontribution heatmap and a timeline are drawn from, gap-filled so every day in the\nrange is present. Authorization is resolved server-side from the validated\nprincipal, so a caller can never widen the subject past what they are entitled to:\na non-admin reads only themselves and their own org. subject=project answers empty\nwith a note, because the usage ledger records no project column yet. When the\nwarehouse is not connected the series answers empty with available=false rather\nthan fabricated days.",
        "tags": [
          "usage"
        ],
        "parameters": [
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Subject is what the series is about: \"user\" (default), \"org\" or \"project\".",
            "schema": {
              "type": "string"
            },
            "example": "user"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "ID names the subject within what the caller is entitled to see. Omitted (or\n\"me\") it is the caller themselves, or their own org. Another user requires org\nadmin and must belong to the caller's org; another org requires a SuperAdmin.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "From is the first day of the range, \"2006-01-02\". Defaults to 90 days back.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "To is the last day of the range, \"2006-01-02\". Defaults to today; the span is\nclamped to 366 days.",
            "schema": {
              "type": "string"
            },
            "example": "2026-03-31"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/usage/leaderboard": {
      "get": {
        "operationId": "get_usage_leaderboard",
        "summary": "Leaderboard ranks AI usage over a window, either the users of the caller's own org or organizations against each other, and always reports the caller's own standing even when it falls outside the returned page.",
        "description": "Leaderboard ranks AI usage over a window, either the users of the caller's own org\nor organizations against each other, and always reports the caller's own standing\neven when it falls outside the returned page. Identities are private by default: a\ncaller sees themselves, plus the peers or orgs that opted into public listing, and\nonly an admin sees their own org's members named. Cross-org spend is restricted to\nplatform admins. When the warehouse is not connected the board answers empty with\navailable=false rather than a fabricated rank.",
        "tags": [
          "usage"
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Scope picks the board: \"personal\" (default) ranks the caller among their own\norg's users, \"org\" is that same org board named for an admin, \"global\" ranks\norganizations against each other.",
            "schema": {
              "type": "string"
            },
            "example": "personal"
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "Metric is the value ranked: tokens (default), requests, or cost.",
            "schema": {
              "type": "string"
            },
            "example": "tokens"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Period is the window ranked: day, week, month (default) or all.",
            "schema": {
              "type": "string"
            },
            "example": "week"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned, clamped to 100. Defaults to 10, which is also\nwhat a non-positive or unparseable value takes.",
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/usage/leaderboard/optin": {
      "get": {
        "operationId": "get_usage_leaderboard_optin",
        "summary": "Returns the caller's own public-listing preference and their org's, each with whether the caller may change it.",
        "description": "Returns the caller's own public-listing preference and their org's,\neach with whether the caller may change it. Public listing is opt-in and private\nby default, so a fresh caller reads listed=false for both.",
        "tags": [
          "usage"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/optinView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      },
      "put": {
        "operationId": "put_usage_leaderboard_optin",
        "summary": "Sets the CALLER's own public-listing preference on the leaderboard.",
        "description": "Sets the CALLER's own public-listing preference on the leaderboard.\nSelf only: the row written is keyed by the caller's validated ledger identity, so\nthis can never edit another member's visibility whatever the request says. A\ncaller opting in with no handle is given their username, so a listed row never\nrenders as \"Anonymous\" to its own owner.",
        "tags": [
          "usage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "handle": "ada",
                "listed": true
              },
              "schema": {
                "$ref": "#/components/schemas/userOptinReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userOptinView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/usage/leaderboard/optin/org": {
      "put": {
        "operationId": "put_usage_leaderboard_optin_org",
        "summary": "Sets the ORG's listing on the cross-org global board.",
        "description": "Sets the ORG's listing on the cross-org global board. Only an admin of\nthe caller's own org — an org admin or a platform SuperAdmin — may change it, and\nthe org written is the caller's validated tenant, never a value from the request.\nListing consents to publishing the org's usage VOLUME; cross-org spend stays\nrestricted to platform admins regardless.",
        "tags": [
          "usage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "display": "Acme",
                "listed": true
              },
              "schema": {
                "$ref": "#/components/schemas/orgOptinReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/orgOptinView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/usage/rollup/backfill": {
      "post": {
        "operationId": "post_usage_rollup_backfill",
        "summary": "Backfill seeds the derived usage rollup from ledger history — the rows written before the incremental view existed, which that view can never capture.",
        "description": "Backfill seeds the derived usage rollup from ledger history — the rows written\nbefore the incremental view existed, which that view can never capture. SuperAdmin\nonly. Because the rollup accumulates, a second unguarded run would double every\nday it re-reads, so it refuses with 409 when the rollup already holds rows unless\nforce=true is passed; forcing WILL double-count.",
        "tags": [
          "usage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "before": "2026-01-01T00:00:00Z"
              },
              "schema": {
                "$ref": "#/components/schemas/backfillQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/backfillResult"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "ActivityPoint": {
        "properties": {
          "costCents": {
            "description": "CostCents is the day's spend in whole US cents. A series is only ever returned\nfor a subject the caller is authorized to see, so this is never withheld: 0 means\nno spend that day.",
            "type": "integer"
          },
          "day": {
            "description": "Day is the UTC calendar day this point covers, \"2006-01-02\".",
            "type": "string"
          },
          "requests": {
            "description": "Requests is the subject's request count on this day. 0 is a real, quiet day: the\nseries is gap-filled, so every day in the range is present whether or not\nanything happened.",
            "type": "integer"
          },
          "tokens": {
            "description": "Tokens is prompt+completion tokens on this day — normally the heatmap's\nintensity, scaled against ActivityTotals.MaxTokens.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ActivityTotals": {
        "properties": {
          "activeDays": {
            "description": "ActiveDays counts the days with any usage at all — the streak/consistency number.\nCompare it against len(days) for the share of days the subject showed up.",
            "type": "integer"
          },
          "costCents": {
            "description": "CostCents is the window's spend in whole US cents, the sum of Days[].CostCents.",
            "type": "integer"
          },
          "maxRequests": {
            "description": "MaxRequests is the same ceiling for a request-based heatmap — the busiest single\nday's request count, 0 for an idle window.",
            "type": "integer"
          },
          "maxTokens": {
            "description": "MaxTokens is the busiest single day's token count: the ceiling to normalize a\ntoken heatmap against, so the darkest cell is that day. 0 for an idle window,\nwhich a client must not divide by.",
            "type": "integer"
          },
          "requests": {
            "description": "Requests is the sum of Days[].Requests over the whole window.",
            "type": "integer"
          },
          "tokens": {
            "description": "Tokens is the sum of Days[].Tokens over the whole window.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ActivityView": {
        "properties": {
          "available": {
            "description": "Available is false when nothing could be read: the warehouse is not connected,\nthe rollup is not ready, or the subject is one the ledger cannot attribute (see\nNote). Days is then empty because there is no answer, not because there was no\nactivity.",
            "type": "boolean"
          },
          "days": {
            "description": "Days is the gap-filled series, one point per calendar day from From up to (not\nincluding) To, in ascending order, zero-valued days included. Always a list,\nnever null.",
            "items": {
              "$ref": "#/components/schemas/ActivityPoint"
            },
            "type": "array"
          },
          "from": {
            "description": "From is the first day in Days, \"2006-01-02\" inclusive.",
            "type": "string"
          },
          "id": {
            "description": "ID is the subject the server actually read, after resolving \"me\"/empty to the\ncaller and bounding it to what they may see — a ledger \"owner/name\" for a user,\nan org id for an org. Echoed so a client can confirm whose series it holds.",
            "type": "string"
          },
          "note": {
            "description": "Note explains an empty-but-not-broken answer in plain words — today only\nsubject=project, which the usage ledger records no column for. Present only when\nthere is something to say; show it instead of an empty chart.",
            "type": "string"
          },
          "source": {
            "description": "Source names the table the series was aggregated from (the derived daily rollup,\nhanzo.usage_rollup_daily).",
            "type": "string"
          },
          "subject": {
            "description": "Subject echoes what the series is about: user|org|project.",
            "type": "string"
          },
          "to": {
            "description": "To is the EXCLUSIVE upper bound, \"2006-01-02\" — the day AFTER the last point in\nDays. A request for to=2026-03-31 answers to=2026-04-01 with 2026-03-31 last.",
            "type": "string"
          },
          "totals": {
            "$ref": "#/components/schemas/ActivityTotals",
            "description": "Totals are the window's sums plus the busiest-day ceilings a heatmap scales\nagainst. Derived from Days — nothing here is read separately."
          }
        },
        "type": "object"
      },
      "LeaderboardRow": {
        "properties": {
          "anonymous": {
            "description": "Anonymous is true when this subject's identity was withheld and Handle is the\n\"Anonymous\" placeholder: the metric is real, the name is not. Render it as an\nunnamed row, never as someone actually called Anonymous.",
            "type": "boolean"
          },
          "costCents": {
            "description": "CostCents is this subject's spend in whole US cents (not dollars, not\nmillicents). It is 0 unless the viewer is entitled to this subject's spend —\ntheir own row, an admin looking at their own org, an explicitly cost-ranked\nboard, or a platform admin on the global board — so 0 means \"withheld or zero\",\nand the two are deliberately indistinguishable.",
            "type": "integer"
          },
          "handle": {
            "description": "Handle is the display identity to render: the peer's chosen handle if they opted\ninto public listing, their username if the viewer is an admin of their org, the\norg's chosen display name (or its id) on an org board, and the literal\n\"Anonymous\" when the identity is withheld. Never an email or a raw ledger id.",
            "type": "string"
          },
          "metric": {
            "description": "Metric is the value the board was ranked by, copied from Requests, Tokens or\nCostCents according to the request's metric. It is what a client sizes bars\nagainst without having to know which metric was asked for.",
            "type": "integer"
          },
          "rank": {
            "description": "Rank is this subject's 1-based standing in the window, 1 being the top. Rows are\nordered by the ranked metric descending (ties broken by request count), and a\nboard is always the top of the list — there is no offset paging — so the first\nrow is always rank 1 and rank is also the row's index + 1.",
            "type": "integer"
          },
          "requests": {
            "description": "Requests is how many AI requests this subject made in the window. Volume is not\nsensitive, so it is reported for every row including anonymized ones.",
            "type": "integer"
          },
          "self": {
            "description": "Self marks the caller's own row so a client can highlight it in place. At most\none row carries it, and it is never set on an org board — org rows carry no user\nidentity, so the caller's own org standing arrives in LeaderboardView.Self.",
            "type": "boolean"
          },
          "tokens": {
            "description": "Tokens is prompt+completion tokens this subject spent in the window. Like\nRequests it is reported for every row.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "LeaderboardView": {
        "properties": {
          "available": {
            "description": "Available is false when the usage warehouse is not connected or its rollup is not\nready. Rows is then empty because nothing could be read — not because nobody used\nanything. Show that difference; never render an unavailable board as a real one.",
            "type": "boolean"
          },
          "end": {
            "description": "End is the EXCLUSIVE upper bound of the window, \"2006-01-02\" — the day after the\nlast one counted. A board through today reports tomorrow's date here.",
            "type": "string"
          },
          "metric": {
            "description": "Metric echoes the value ranked: tokens|requests|cost.",
            "type": "string"
          },
          "period": {
            "description": "Period is the window's canonical label: day|week|month|all. The server resolves\naliases (7d, 30d, today, …) to these, so this may differ from what was sent.",
            "type": "string"
          },
          "rows": {
            "description": "Rows are the ranked subjects, best first, at most the requested limit of them.\nAlways a list, never null: an empty one means nothing was read, not an error.",
            "items": {
              "$ref": "#/components/schemas/LeaderboardRow"
            },
            "type": "array"
          },
          "scope": {
            "description": "Scope echoes the board that was served: personal|org|global.",
            "type": "string"
          },
          "self": {
            "$ref": "#/components/schemas/SelfRank",
            "description": "Self is the caller's own standing, reported even when they fall outside Rows.\nAbsent when the caller's ledger identity cannot be resolved, or when the query\nbehind it failed — never faked to keep the shape tidy."
          },
          "source": {
            "description": "Source names the table these numbers were aggregated from (the derived daily\nrollup, hanzo.usage_rollup_daily), so an operator can tell exactly what was read.",
            "type": "string"
          },
          "start": {
            "description": "Start is the first day counted, \"2006-01-02\" inclusive. Empty for period=all,\nwhich has no lower bound at all.",
            "type": "string"
          },
          "subject": {
            "description": "Subject is what the rows stand for — \"user\" on a personal or org board, \"org\" on\nthe global one. It tells a client whether Handle names a person or a company.",
            "type": "string"
          },
          "total": {
            "description": "Total is how many subjects were ranked in the window — the org's active users, or\nthe active/opted-in orgs on the global board. It is the universe the ranks are\nout of, so it is normally larger than len(rows).",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "SelfRank": {
        "properties": {
          "costCents": {
            "description": "CostCents is the caller's own spend in whole US cents. Always populated — your\nown spend is never withheld from you — so here 0 really does mean zero.",
            "type": "integer"
          },
          "handle": {
            "description": "Handle is how the caller appears on this board: their chosen handle, falling back\nto their username, on a user board; their org id on the global board. Present\neven when unlisted — this is the caller looking at themselves.",
            "type": "string"
          },
          "listed": {
            "description": "Listed says whether the caller is publicly visible on this board: opted in on a\nuser board, org opted in (or the viewer is a platform admin) on the global one.\nFalse is the prompt to offer the opt-in, and explains an unranked global self.",
            "type": "boolean"
          },
          "metric": {
            "description": "Metric is whichever of the three values above the board was ranked by, so a\nclient can compare the caller against the rows without re-reading the request.\nMetric \u003c= 0 is exactly the case that leaves Ranked false.",
            "type": "integer"
          },
          "ofTotal": {
            "description": "OfTotal is the size of the universe Rank is out of — \"rank N of OfTotal\". On a\nuser board that is the org's users with any usage in the window; on the global\nboard it is every active org for a platform admin, and the count of opted-in\norgs for everyone else.",
            "type": "integer"
          },
          "rank": {
            "description": "Rank is the caller's 1-based standing, computed as (subjects whose windowed\nmetric strictly exceeds the caller's) + 1. It is exact against the whole ranked\nuniverse, not just the returned page, so it can far exceed len(rows). Read it\nonly when Ranked.",
            "type": "integer"
          },
          "ranked": {
            "description": "Ranked is false when the caller holds no position: they had no usage in the\nwindow, or (on the global board) their org has not opted into public listing and\nso is not ranked against a set it never joined. Rank is then 0 and means nothing.",
            "type": "boolean"
          },
          "requests": {
            "description": "Requests is the caller's own request count in the window, 0 if they were idle.",
            "type": "integer"
          },
          "tokens": {
            "description": "Tokens is the caller's own prompt+completion tokens in the window.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "backfillQuery": {
        "properties": {
          "before": {
            "description": "Before bounds the seed to ledger rows written before this RFC3339 instant.\nDefaults to now, and is snapped down to UTC midnight — the rollup's grain, so\nthe seeded days and the guarded days are the same set. Pass the day the\nincremental view started capturing, so seed and view never share a day.",
            "type": "string"
          },
          "force": {
            "description": "Force must be exactly \"true\" to seed a rollup that already holds rows. It is\nspelled as a string, not a flag, because the guard has always compared this\nvalue literally — \"1\" and \"yes\" do NOT force.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "backfillResult": {
        "properties": {
          "forced": {
            "description": "Forced is true when the caller overrode the already-populated guard.",
            "type": "boolean"
          },
          "seededBefore": {
            "description": "SeededBefore is the RFC3339 upper bound the seed actually used.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" — a seed that did not run answered an error instead.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "optinView": {
        "properties": {
          "org": {
            "$ref": "#/components/schemas/orgOptinView",
            "description": "Org is the caller's org's listing preference on the cross-org board, and whether\nthis caller is allowed to change it. It is read for every caller — a member sees\nwhere their org stands even though only an admin may edit it."
          },
          "user": {
            "$ref": "#/components/schemas/userOptinView",
            "description": "User is the caller's OWN listing preference, and whether they may change it."
          }
        },
        "type": "object"
      },
      "orgOptinReq": {
        "properties": {
          "display": {
            "description": "Display is the name shown for the org on that board: 1-40 characters of\nletters, digits, space, dot, underscore, apostrophe or hyphen. Left empty on a\nlisting opt-in it defaults to the org id.",
            "type": "string"
          },
          "listed": {
            "description": "Listed publishes the org on the cross-org global board when true, and withdraws\nit when false.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "orgOptinView": {
        "properties": {
          "canManage": {
            "description": "CanManage is true only for an admin of this org (or a platform SuperAdmin) — the\ncallers whose write of the org preference will be accepted.",
            "type": "boolean"
          },
          "display": {
            "description": "Display is the name shown for the org on that board. Empty when none was chosen;\nopting in without one defaults it to the org id.",
            "type": "string"
          },
          "listed": {
            "description": "Listed is true when the org has opted onto the cross-org global board. False —\nthe default — keeps the org off it entirely; the org's own members still see\ntheir own board. Listing consents to publishing usage VOLUME, never spend.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "userOptinReq": {
        "properties": {
          "handle": {
            "description": "Handle is the display name shown on a listed row: 1-40 characters of letters,\ndigits, space, dot, underscore, apostrophe or hyphen. Left empty on a listing\nopt-in it defaults to the caller's username.",
            "type": "string"
          },
          "listed": {
            "description": "Listed publishes the caller's row to other viewers of the board when true, and\nanonymizes it when false.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "userOptinView": {
        "properties": {
          "canSet": {
            "description": "CanSet is false when the caller's ledger identity cannot be resolved (no user\nname on the principal). Writing the preference would fail, so hide the control.",
            "type": "boolean"
          },
          "handle": {
            "description": "Handle is the display name on the caller's listed row. Empty when they never\nchose one; opting in without a handle sets it to their username, so a listed row\nis never blank.",
            "type": "string"
          },
          "listed": {
            "description": "Listed is true when the caller's board row is published under Handle to other\nviewers. False — the default for anyone who never opted in — anonymizes the row;\nthe metric still counts, only the name is withheld.",
            "type": "boolean"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
