{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package content is marketing content from draft to published, on every channel.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "content"
    }
  ],
  "paths": {
    "/v1/content/board": {
      "get": {
        "operationId": "get_content_board",
        "summary": "Aggregates the caller org's marketing content across every publishable content type into ONE queue board — the cross-type read the framework's per-DocType list cannot give.",
        "description": "Aggregates the caller org's marketing content across every publishable\ncontent type into ONE queue board — the cross-type read the framework's\nper-DocType list cannot give. It never fails on a partial outage: a content type\nthe org has not installed, or one whose search errors, is skipped and logged\nrather than failing the whole board.",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status keeps only items in one lifecycle state (draft, in_review, approved,\nqueued, published, archived). An undefined state is refused.",
            "schema": {
              "type": "string"
            },
            "example": "queued"
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project keeps only items in one brand/site sub-scope.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "doctype",
            "in": "query",
            "required": false,
            "description": "DocType keeps only one content type; omitted, the board spans every\npublishable type. An unknown type is refused.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned, clamped to 1000. Defaults to 200, which is also\nwhat a non-positive or unparseable value takes.",
            "schema": {
              "type": "integer"
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/boardPage"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/content/channels": {
      "get": {
        "operationId": "get_content_channels",
        "summary": "Lists the distribution channels the caller's org has connected — the social integrations a publish can target.",
        "description": "Lists the distribution channels the caller's org has connected — the\nsocial integrations a publish can target. A deployment with no distribution edge\nwired answers 503 rather than an empty list that would read as \"no channels\".",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/channelList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/content/generate": {
      "post": {
        "operationId": "post_content_generate",
        "summary": "Draft a piece of marketing content and file it in the CMS as a draft.",
        "description": "Draft a piece of marketing content and file it in the CMS as a draft.\n\nAnswers 201 with the created draft's identity — {doctype, name, status} — and the\ndocument itself lands in the CMS through the SAME validate and lifecycle-hook\npipeline an ordinary create runs. This is a WRITE, not a preview: there is no\ndry-run, and every call that succeeds leaves a document behind.\n\n`doctype` picks which of two generation planes runs, and they are the only two.\nCampaign and SocialPost are drafted as brand COPY on the platform AI plane (zen5 by\ndefault, overridable per request with `model` or per deployment); Asset is a studio\nimage render the AI plane never sees. Everything else about the call is identical.\n\nMONEY, metered in exactly one place per mode and never both. Copy rides the\nplatform's own inference meter — the org's balance is authorised before the model\ncall and debited at the exact token cost after — so content never re-bills it. A\nstudio render is invisible to that meter, so content is the sole meter for it: the\norg is gated BEFORE the GPU compute and refused 402 when out of funds or over its\nspend cap, and the debit is recorded only once the render actually returns, because\nthe billable event is the consumed compute and not the CMS row. `project` rides the\nBODY rather than a server-minted identity claim, so it attributes spend but a\nproject-scoped cap stays soft on it — the org is the value that is enforced.\n\nThe org is the caller's own, resolved once from the validated principal and never\nread from the body; a caller without one is refused 403. Status is not the\ngenerator's to choose: a generated item is ALWAYS a draft, and the storage-boundary\nhook enforces that a second time.\n\nIt fails closed rather than inventing anything. An unknown content type is 404 and a\ndeployment whose marketing module is not installed is 409 naming the install call.\nAn AI plane or studio that is unconfigured or unreachable, a graph the studio\nrejects, and a render that does not return in time all degrade to 503 — never\nfabricated copy, never a fake render. A `source_media` that fails the SSRF and\ntraversal validator is 400 raised before the billing gate and before the studio is\ncontacted, so a hostile source never costs the caller anything.",
        "tags": [
          "content"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateResult"
                }
              }
            },
            "description": "created"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateResult"
                }
              }
            },
            "description": "payment required"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/content/lifecycle": {
      "get": {
        "operationId": "get_content_lifecycle",
        "summary": "Returns the ONE marketing-content state machine: the ordered lifecycle states, which state a fresh document starts in, which one is publicly live, and the legal successors of every state.",
        "description": "Returns the ONE marketing-content state machine: the ordered\nlifecycle states, which state a fresh document starts in, which one is publicly\nlive, and the legal successors of every state. The console builds its board\ncolumns and its per-item action buttons from this single answer, so the UI and\nthe write-time enforcement hook can never disagree about what is legal.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stateGraph"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/content/publish": {
      "post": {
        "operationId": "post_content_publish",
        "summary": "Publish distributes one CMS content item to the channels recorded on it and returns the honest per-channel outcome.",
        "description": "Publish distributes one CMS content item to the channels recorded on it and\nreturns the honest per-channel outcome. The item names itself — its caption,\nmedia and channel list are read from the stored document, not from this request.\nIt is idempotent per channel (a channel already posted for this item is skipped),\nand a publish that loses the per-item lease to a live publisher answers status\n\"in_progress\" having posted nothing.",
        "tags": [
          "content"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "doctype": "SocialPost",
                "name": "spring-teaser"
              },
              "schema": {
                "$ref": "#/components/schemas/PublishInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResult"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/content/{doctype}/{name}/transition": {
      "post": {
        "operationId": "post_content_by_doctype_by_name_transition",
        "summary": "Moves one content item to a new lifecycle state and, on the move to published, fans it out to the item's channels.",
        "description": "Moves one content item to a new lifecycle state and, on the move to\npublished, fans it out to the item's channels. The edge must be legal for the\nitem's current state — an illegal move is refused with 409 — and the status write\nre-validates it at the storage boundary. Distribution is best effort: its honest\nstate is reported on the result and a distribution failure never rolls the status\nchange back.",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "doctype",
            "in": "path",
            "required": true,
            "description": "DocType is the content type to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "SocialPost"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the document to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-teaser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "doctype": "SocialPost",
                "name": "spring-teaser",
                "to": "published"
              },
              "schema": {
                "$ref": "#/components/schemas/transitionIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransitionResult"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "Channel": {
        "properties": {
          "disabled": {
            "type": "boolean"
          },
          "id": {
            "description": "the social integration id to target in a post",
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "description": "\"x\" | \"instagram\" | \"tiktok\" | ...",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ChannelResult": {
        "properties": {
          "channel": {
            "description": "the social integration id targeted",
            "type": "string"
          },
          "error": {
            "description": "short reason, when it failed",
            "type": "string"
          },
          "externalId": {
            "description": "social post id, when it went out",
            "type": "string"
          },
          "provider": {
            "description": "\"x\" | \"instagram\" | ... when known",
            "type": "string"
          },
          "status": {
            "description": "\"distributed\" | \"scheduled\" | \"failed\"",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GenerateInput": {
        "properties": {
          "brief": {
            "description": "the brief/goal driving copy generation",
            "type": "string"
          },
          "channels": {
            "description": "target channels (SocialPost)",
            "type": "string"
          },
          "design": {
            "description": "studio design slug (asset source)",
            "type": "string"
          },
          "doctype": {
            "description": "Campaign | SocialPost | Asset",
            "type": "string"
          },
          "kind": {
            "description": "asset kind: ecom|product|lifestyle|hover|hero",
            "type": "string"
          },
          "model": {
            "description": "optional zen model override (copy)",
            "type": "string"
          },
          "product": {
            "description": "commerce product handle (copy context)",
            "type": "string"
          },
          "project": {
            "description": "brand/site sub-scope (billing + tenancy axis)",
            "type": "string"
          },
          "source_media": {
            "description": "asset source image (design CAD/photo)",
            "type": "string"
          },
          "title": {
            "description": "optional explicit title",
            "type": "string"
          },
          "tone": {
            "description": "tone override for a single draft",
            "type": "string"
          },
          "voice": {
            "description": "brand-voice guidance for the copy director",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GenerateResult": {
        "properties": {
          "doctype": {
            "description": "the marketing type the draft was filed as",
            "type": "string"
          },
          "name": {
            "description": "the new document's name — its address for every later call",
            "type": "string"
          },
          "status": {
            "description": "always \"draft\"; the lifecycle owns the initial state",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PublishInput": {
        "properties": {
          "doctype": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "scheduleAt": {
            "description": "\"\" = now",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PublishResult": {
        "properties": {
          "channels": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "externalIds": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          },
          "results": {
            "items": {
              "$ref": "#/components/schemas/ChannelResult"
            },
            "type": "array"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "StorefrontResult": {
        "properties": {
          "imageUrl": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "store": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "TransitionResult": {
        "properties": {
          "distribution": {
            "$ref": "#/components/schemas/PublishResult"
          },
          "doctype": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "storefront": {
            "$ref": "#/components/schemas/StorefrontResult"
          },
          "to": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "boardItem": {
        "properties": {
          "doctype": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "boardPage": {
        "properties": {
          "count": {
            "description": "Count is the number of rows in THIS page — never the org's total.",
            "type": "integer"
          },
          "data": {
            "description": "Data is the matching items, most recently updated first.",
            "items": {
              "$ref": "#/components/schemas/boardItem"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "channelList": {
        "properties": {
          "data": {
            "description": "Data is every social channel the caller's org has connected, disabled ones\nincluded (Disabled says which).",
            "items": {
              "$ref": "#/components/schemas/Channel"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "stateGraph": {
        "properties": {
          "initial": {
            "type": "string"
          },
          "live": {
            "type": "string"
          },
          "states": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "transitions": {
            "additionalProperties": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "transitionIn": {
        "properties": {
          "doctype": {
            "description": "DocType is the content type to act on, from the path.",
            "type": "string"
          },
          "name": {
            "description": "Name is the document to act on, from the path.",
            "type": "string"
          },
          "scheduleAt": {
            "description": "ScheduleAt is an ISO-8601 go-live time handed to the channel's own scheduler;\n\"\" distributes now.",
            "type": "string"
          },
          "to": {
            "description": "To is the lifecycle state to move to. Required, and the move must be a legal\nedge from the item's current state.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
