{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package content is the Hanzo agentic-marketing lane: the marketing content loop (generate → CMS → review → approve → publish → distribute) built natively on the framework DocType engine, the ONE Go-native replacement for the bespoke karma Python scripts, multi-tenant for ANY brand (org = tenant, project = brand/site sub-scope).",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "content"
    }
  ],
  "paths": {
    "/v1/content/board": {
      "get": {
        "operationId": "get_v1_content_board",
        "summary": "GetBoard aggregates the caller org's marketing content across every publishable content type into ONE queue board — the cross-type read the framework's per-DocType list cannot give.",
        "description": "GetBoard aggregates the caller org's marketing content across every publishable\ncontent type into ONE queue board — the cross-type read the framework's\nper-DocType list cannot give. It never fails on a partial outage: a content type\nthe org has not installed, or one whose search errors, is skipped and logged\nrather than failing the whole board.",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status keeps only items in one lifecycle state (draft, in_review, approved,\nqueued, published, archived). An undefined state is refused.",
            "schema": {
              "type": "string"
            },
            "example": "queued"
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project keeps only items in one brand/site sub-scope.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "doctype",
            "in": "query",
            "required": false,
            "description": "DocType keeps only one content type; omitted, the board spans every\npublishable type. An unknown type is refused.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned, clamped to 1000. Defaults to 200, which is also\nwhat a non-positive or unparseable value takes.",
            "schema": {
              "type": "integer"
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/boardPage"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/content/channels": {
      "get": {
        "operationId": "get_v1_content_channels",
        "summary": "GetChannels lists the distribution channels the caller's org has connected — the social integrations a publish can target.",
        "description": "GetChannels lists the distribution channels the caller's org has connected — the\nsocial integrations a publish can target. A deployment with no distribution edge\nwired answers 503 rather than an empty list that would read as \"no channels\".",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/channelList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/content/generate": {
      "post": {
        "operationId": "post_v1_content_generate",
        "tags": [
          "content"
        ]
      }
    },
    "/v1/content/lifecycle": {
      "get": {
        "operationId": "get_v1_content_lifecycle",
        "summary": "GetLifecycle returns the ONE marketing-content state machine: the ordered lifecycle states, which state a fresh document starts in, which one is publicly live, and the legal successors of every state.",
        "description": "GetLifecycle returns the ONE marketing-content state machine: the ordered\nlifecycle states, which state a fresh document starts in, which one is publicly\nlive, and the legal successors of every state. The console builds its board\ncolumns and its per-item action buttons from this single answer, so the UI and\nthe write-time enforcement hook can never disagree about what is legal.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stateGraph"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/content/publish": {
      "post": {
        "operationId": "post_v1_content_publish",
        "summary": "Publish distributes one CMS content item to the channels recorded on it and returns the honest per-channel outcome.",
        "description": "Publish distributes one CMS content item to the channels recorded on it and\nreturns the honest per-channel outcome. The item names itself — its caption,\nmedia and channel list are read from the stored document, not from this request.\nIt is idempotent per channel (a channel already posted for this item is skipped),\nand a publish that loses the per-item lease to a live publisher answers status\n\"in_progress\" having posted nothing.",
        "tags": [
          "content"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "doctype": "SocialPost",
                "name": "spring-teaser"
              },
              "schema": {
                "$ref": "#/components/schemas/PublishInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/content/{doctype}/{name}/transition": {
      "post": {
        "operationId": "post_v1_content_doctype_name_transition",
        "summary": "PostTransition moves one content item to a new lifecycle state and, on the move to published, fans it out to the item's channels.",
        "description": "PostTransition moves one content item to a new lifecycle state and, on the move to\npublished, fans it out to the item's channels. The edge must be legal for the\nitem's current state — an illegal move is refused with 409 — and the status write\nre-validates it at the storage boundary. Distribution is best effort: its honest\nstate is reported on the result and a distribution failure never rolls the status\nchange back.",
        "tags": [
          "content"
        ],
        "parameters": [
          {
            "name": "doctype",
            "in": "path",
            "required": true,
            "description": "DocType is the content type to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "SocialPost"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the document to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "spring-teaser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "doctype": "SocialPost",
                "name": "spring-teaser",
                "to": "published"
              },
              "schema": {
                "$ref": "#/components/schemas/transitionIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransitionResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Channel": {
        "properties": {
          "disabled": {
            "type": "boolean"
          },
          "id": {
            "description": "the social integration id to target in a post",
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "description": "\"x\" | \"instagram\" | \"tiktok\" | ...",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ChannelResult": {
        "properties": {
          "channel": {
            "description": "the social integration id targeted",
            "type": "string"
          },
          "error": {
            "description": "short reason, when it failed",
            "type": "string"
          },
          "externalId": {
            "description": "social post id, when it went out",
            "type": "string"
          },
          "provider": {
            "description": "\"x\" | \"instagram\" | ... when known",
            "type": "string"
          },
          "status": {
            "description": "\"distributed\" | \"scheduled\" | \"failed\"",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PublishInput": {
        "properties": {
          "doctype": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "scheduleAt": {
            "description": "\"\" = now",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PublishResult": {
        "properties": {
          "channels": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "externalIds": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          },
          "results": {
            "items": {
              "$ref": "#/components/schemas/ChannelResult"
            },
            "type": "array"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "StorefrontResult": {
        "properties": {
          "imageUrl": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "store": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "TransitionResult": {
        "properties": {
          "distribution": {
            "$ref": "#/components/schemas/PublishResult"
          },
          "doctype": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "storefront": {
            "$ref": "#/components/schemas/StorefrontResult"
          },
          "to": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "boardItem": {
        "properties": {
          "doctype": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "boardPage": {
        "properties": {
          "count": {
            "description": "Count is the number of rows in THIS page — never the org's total.",
            "type": "integer"
          },
          "data": {
            "description": "Data is the matching items, most recently updated first.",
            "items": {
              "$ref": "#/components/schemas/boardItem"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "channelList": {
        "properties": {
          "data": {
            "description": "Data is every social channel the caller's org has connected, disabled ones\nincluded (Disabled says which).",
            "items": {
              "$ref": "#/components/schemas/Channel"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "stateGraph": {
        "properties": {
          "initial": {
            "type": "string"
          },
          "live": {
            "type": "string"
          },
          "states": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "transitions": {
            "additionalProperties": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "transitionIn": {
        "properties": {
          "doctype": {
            "description": "DocType is the content type to act on, from the path.",
            "type": "string"
          },
          "name": {
            "description": "Name is the document to act on, from the path.",
            "type": "string"
          },
          "scheduleAt": {
            "description": "ScheduleAt is an ISO-8601 go-live time handed to the channel's own scheduler;\n\"\" distributes now.",
            "type": "string"
          },
          "to": {
            "description": "To is the lifecycle state to move to. Required, and the move must be a legal\nedge from the item's current state.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
