{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package social is posting to every social account you own, now or on a schedule.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "social"
    }
  ],
  "paths": {
    "/v1/social/accounts": {
      "get": {
        "operationId": "get_social_accounts",
        "summary": "List the social accounts connected to your org",
        "description": "Returns the org's connected accounts — each one's id, network, handle, status and timestamps. `provider` filters to one network; `limit` bounds the page, defaulting to 200 and capped at 1000.\n\nAn account's provider access token is NEVER included in any response on this surface. Only the publisher reads it.\n\nA validated principal is required; 403 without one. Every row is keyed by the caller's org taken from that principal and never from the request, so an id belonging to another tenant reads as not found rather than as a refusal.",
        "tags": [
          "social"
        ],
        "x-public": true
      },
      "post": {
        "operationId": "post_social_accounts",
        "summary": "Connect a social account to your org",
        "description": "Records a social account for the org and answers 201 with the stored row, including the generated id later calls address it by.\n\n`provider` must be one of x, facebook, instagram, linkedin, tiktok, youtube or threads, defaulting to x when omitted. `status` is one of connected, disconnected or error, defaulting to connected. The handle is trimmed and bounded at 1024 characters.\n\nA validated principal is required; 403 without one. Every row is keyed by the caller's org taken from that principal and never from the request, so an id belonging to another tenant reads as not found rather than as a refusal.",
        "tags": [
          "social"
        ],
        "x-public": true
      }
    },
    "/v1/social/accounts/{id}": {
      "delete": {
        "operationId": "delete_social_accounts_by_id",
        "summary": "Disconnect one account",
        "description": "Removes one connected account from the org and answers 204 with no body; an id that is not there is 404.\n\nIt removes the account record only. Posts that already published through it keep their published state and their recorded external ids — this does not retract anything from the network.\n\nA validated principal is required; 403 without one. Every row is keyed by the caller's org taken from that principal and never from the request, so an id belonging to another tenant reads as not found rather than as a refusal.",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      },
      "get": {
        "operationId": "get_social_accounts_by_id",
        "summary": "Read one connected account",
        "description": "Returns one of the org's connected accounts by id — its network, handle, status and timestamps — or 404. The provider access token is not part of the response.\n\nA validated principal is required; 403 without one. Every row is keyed by the caller's org taken from that principal and never from the request, so an id belonging to another tenant reads as not found rather than as a refusal.",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      },
      "put": {
        "operationId": "put_social_accounts_by_id",
        "summary": "Replace one connected account",
        "description": "Replaces the account's network, handle and status with what the body carries, and answers with the stored row.\n\nThis is a REPLACEMENT, not a merge, which is the rule most easily got wrong: a field the body omits is written as its default, so leaving out the handle blanks it and leaving out the status resets it to connected. Send the whole record. The same vocabularies as create apply, and an unknown network or status is refused rather than coerced.\n\nA validated principal is required; 403 without one. Every row is keyed by the caller's org taken from that principal and never from the request, so an id belonging to another tenant reads as not found rather than as a refusal.",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/social/posts": {
      "get": {
        "operationId": "get_social_posts",
        "summary": "List your org's posts",
        "description": "Returns the org's posts — content, channel, status, scheduled time, media and timestamps. `status` filters to one of draft, scheduled, published or failed; `limit` bounds the page, defaulting to 200 and capped at 1000.\n\nA validated principal is required; 403 without one. Every row is keyed by the caller's org taken from that principal and never from the request, so an id belonging to another tenant reads as not found rather than as a refusal.",
        "tags": [
          "social"
        ],
        "x-public": true
      },
      "post": {
        "operationId": "post_social_posts",
        "summary": "Create a post, and publish it if it is already due",
        "description": "Stores a post for the org and answers 201 with the stored row.\n\nA post created as scheduled for a time that has already passed is published IMMEDIATELY, and the row returned carries that outcome — this is the one behaviour a reader would otherwise miss. A future-scheduled post is left for the scheduler, and a draft is left alone. Publishing never fails the creation: the post is stored either way, and a publish that could not run leaves the row for the scheduler to retry.\n\n`content` is required and bounded at 8192 characters; `channel` is one of the seven supported networks, defaulting to x; `status` is one of draft, scheduled, published or failed, defaulting to draft; up to 10 media URLs are kept, each bounded at 1024 characters.\n\nA validated principal is required; 403 without one. Every row is keyed by the caller's org taken from that principal and never from the request, so an id belonging to another tenant reads as not found rather than as a refusal.",
        "tags": [
          "social"
        ],
        "x-public": true
      }
    },
    "/v1/social/posts/{id}": {
      "delete": {
        "operationId": "delete_social_posts_by_id",
        "summary": "Delete one post",
        "description": "Removes one post from the org and answers 204 with no body; an id that is not there is 404.\n\nIt deletes the record here only. A post that has already published is not retracted from the network by deleting it.\n\nA validated principal is required; 403 without one. Every row is keyed by the caller's org taken from that principal and never from the request, so an id belonging to another tenant reads as not found rather than as a refusal.",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      },
      "get": {
        "operationId": "get_social_posts_by_id",
        "summary": "Read one post",
        "description": "Returns one of the org's posts by id, with its current status, scheduled time, media and — once it has published — the account and external id it published under. 404 when there is no such post for this org.\n\nA validated principal is required; 403 without one. Every row is keyed by the caller's org taken from that principal and never from the request, so an id belonging to another tenant reads as not found rather than as a refusal.",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      },
      "put": {
        "operationId": "put_social_posts_by_id",
        "summary": "Replace one post",
        "description": "Replaces the post's content, channel, status, scheduled time and media with what the body carries, and answers with the stored row.\n\nA REPLACEMENT, not a merge: an omitted field is written as its default, so omitting media clears it and omitting the status resets the post to draft. `content` is required on every update. Unlike create, this never triggers a publish — moving a post's scheduled time into the past here leaves it for the scheduler; publish now is its own operation.\n\nA validated principal is required; 403 without one. Every row is keyed by the caller's org taken from that principal and never from the request, so an id belonging to another tenant reads as not found rather than as a refusal.",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/social/posts/{id}/publish": {
      "post": {
        "operationId": "post_social_posts_by_id_publish",
        "summary": "Publish one post now",
        "description": "Publishes the post immediately to the connected accounts on its channel and answers with the updated row, carrying the account and external id it published under.\n\nIt is IDEMPOTENT: a post that has already published, or that another caller is publishing right now, comes back unchanged rather than being posted twice. That claim is taken before any network call, which is what makes a double submit safe.\n\nThe two failure shapes differ on purpose. Having no connected account for the channel is the caller's to fix, so it is recorded ON the post as failed with the reason and answers normally. A deployment that lacks the network's own credentials cannot publish for anyone, so that is a 503 naming exactly what is missing.\n\nA validated principal is required; 403 without one. Every row is keyed by the caller's org taken from that principal and never from the request, so an id belonging to another tenant reads as not found rather than as a refusal.",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/social/providers": {
      "get": {
        "operationId": "get_social_providers",
        "summary": "Which networks this deployment can actually publish to",
        "description": "Reports each supported network's publish-readiness: whether this deployment holds the OAuth application credentials for it and, when it does not, exactly which environment variables are missing.\n\nThis is a live read of the deployment's own configuration, not a static list of networks — it answers \"can I connect this today\", which is what a connect affordance and a pre-cutover checklist both need. It says nothing about whether the caller has connected an account; that is the accounts listing.\n\nA validated principal is required; 403 without one. Every row is keyed by the caller's org taken from that principal and never from the request, so an id belonging to another tenant reads as not found rather than as a refusal.",
        "tags": [
          "social"
        ],
        "x-public": true
      }
    },
    "/v1/social/summary": {
      "get": {
        "operationId": "get_social_summary",
        "summary": "Counts across your org's social presence",
        "description": "Returns four counts for the caller's org: total posts, how many are scheduled, how many have published, and how many accounts are connected. It is the dashboard roll-up, computed over the org's own rows in one read.\n\nA validated principal is required; 403 without one. Every row is keyed by the caller's org taken from that principal and never from the request, so an id belonging to another tenant reads as not found rather than as a refusal.",
        "tags": [
          "social"
        ],
        "x-public": true
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
