{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package social is social publishing: an org's connected channels (X, Facebook, Instagram, LinkedIn, TikTok, YouTube, Threads) and the posts it publishes now or schedules to them.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "social"
    }
  ],
  "paths": {
    "/v1/social/accounts": {
      "get": {
        "operationId": "get_v1_social_accounts",
        "tags": [
          "social"
        ]
      },
      "post": {
        "operationId": "post_v1_social_accounts",
        "tags": [
          "social"
        ]
      }
    },
    "/v1/social/accounts/{id}": {
      "delete": {
        "operationId": "delete_v1_social_accounts_by_id",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_social_accounts_by_id",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v1_social_accounts_by_id",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/social/posts": {
      "get": {
        "operationId": "get_v1_social_posts",
        "tags": [
          "social"
        ]
      },
      "post": {
        "operationId": "post_v1_social_posts",
        "tags": [
          "social"
        ]
      }
    },
    "/v1/social/posts/{id}": {
      "delete": {
        "operationId": "delete_v1_social_posts_by_id",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_social_posts_by_id",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v1_social_posts_by_id",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/social/posts/{id}/publish": {
      "post": {
        "operationId": "post_v1_social_posts_by_id_publish",
        "tags": [
          "social"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/social/providers": {
      "get": {
        "operationId": "get_v1_social_providers",
        "tags": [
          "social"
        ]
      }
    },
    "/v1/social/summary": {
      "get": {
        "operationId": "get_v1_social_summary",
        "tags": [
          "social"
        ]
      }
    }
  }
}
