{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package search is one ranked result set over everything your org has stored.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "search"
    }
  ],
  "paths": {
    "/v1/search": {
      "post": {
        "operationId": "search",
        "summary": "Hybrid search over the org's own corpora",
        "description": "Is the typed op behind POST /v1/search. It does exactly two things the\nin-process entry point must not do: resolve the tenant from the validated\nprincipal, and refuse when there is none. Everything else is ForOrg.",
        "tags": [
          "search"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/search/indexes": {
      "get": {
        "operationId": "get_search_indexes",
        "summary": "Lists the search indexes with their document counts and timestamps.",
        "description": "Lists the search indexes with their document counts and timestamps.\n\nIt reads the in-cluster Meilisearch service and reshapes its /stats and\n/indexes replies into the rows the console's Search panel renders. The read is\ndegrade-friendly by design: an unreachable Meilisearch answers 200 with an\nEMPTY list, so the panel shows an honest empty state instead of an error.\ncreatedAt falls back to now and lastIndexedAt to null when the index list is\nunavailable.",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Authorization carries the surface's bearer key (`Bearer \u003ckey\u003e`); the bare\nkey is accepted too. It is not `validate:\"required\"` on purpose: requireKey\nanswers absence itself, so an unconfigured surface 503s and a missing bearer\n401s — a validation refusal would rewrite both statuses.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchIndexList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/search/stats": {
      "get": {
        "operationId": "get_search_stats",
        "summary": "Totals the documents across every search index.",
        "description": "Totals the documents across every search index.\n\ntotalDocuments is summed from Meilisearch's own per-index counts. The other\nthree fields are structurally zero rather than estimated: Meilisearch keeps no\nquery-history counters, so searches, sessions and the per-day series are not\nderivable from the index and this surface reports the honest zero instead of a\nfabricated number. An unreachable Meilisearch answers 200 with all zeros.",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Authorization carries the surface's bearer key (`Bearer \u003ckey\u003e`); the bare\nkey is accepted too. It is not `validate:\"required\"` on purpose: requireKey\nanswers absence itself, so an unconfigured surface 503s and a missing bearer\n401s — a validation refusal would rewrite both statuses.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchStats"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "BackendStatus": {
        "properties": {
          "error": {
            "type": "string"
          },
          "hits": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "took_ms": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Hit": {
        "properties": {
          "corpus": {
            "type": "string"
          },
          "doctype": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "matched": {
            "items": {
              "$ref": "#/components/schemas/Match"
            },
            "type": "array"
          },
          "project": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Match": {
        "properties": {
          "backend": {
            "type": "string"
          },
          "rank": {
            "type": "integer"
          },
          "score": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "doctypes": {
            "description": "DocTypes restricts the semantic leg to a subset of indexed knowledge types.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "index": {
            "description": "Index names the lexical index to query. Defaults to \"kb\".",
            "type": "string"
          },
          "limit": {
            "description": "Limit bounds the FUSED result set (default 10, max 50).",
            "type": "integer"
          },
          "mode": {
            "description": "Mode selects the legs: auto (default) | text | semantic | hybrid.",
            "type": "string"
          },
          "offset": {
            "description": "Offset pages the fused result set.",
            "type": "integer"
          },
          "project": {
            "description": "Project narrows to one project scope within the org.",
            "type": "string"
          },
          "query": {
            "description": "Query is the natural-language or keyword query. Required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Response": {
        "properties": {
          "backends": {
            "description": "Backends is the per-leg report. Always populated.",
            "items": {
              "$ref": "#/components/schemas/BackendStatus"
            },
            "type": "array"
          },
          "hits": {
            "description": "Hits is the fused, ranked result set.",
            "items": {
              "$ref": "#/components/schemas/Hit"
            },
            "type": "array"
          },
          "mode": {
            "description": "Mode is the mode actually used after `auto` resolution.",
            "type": "string"
          },
          "status": {
            "description": "Status is the query's overall honesty signal:\n  ok          every consulted leg answered.\n  partial     at least one leg failed; Hits holds the survivors' results.\n  unavailable every consulted leg failed; Hits is empty AND that is stated.",
            "type": "string"
          },
          "took_ms": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dayCount": {
        "properties": {
          "count": {
            "description": "Count is that day's total.",
            "type": "integer"
          },
          "date": {
            "description": "Date is the day, YYYY-MM-DD.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "searchIndex": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is the index's creation time (RFC 3339); it falls back to now when\nthe index list could not be read.",
            "type": "string"
          },
          "docCount": {
            "description": "DocCount is how many documents the index currently holds.",
            "type": "integer"
          },
          "lastIndexedAt": {
            "description": "LastIndexedAt is the index's last update time (RFC 3339), null when the\nindex list could not be read.",
            "type": "string"
          },
          "name": {
            "description": "Name is the index uid.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "searchIndexList": {
        "properties": {
          "indexes": {
            "description": "Indexes is one row per Meilisearch index, sorted by name. Empty — never\nabsent — when the search service cannot be reached.",
            "items": {
              "$ref": "#/components/schemas/searchIndex"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "searchStats": {
        "properties": {
          "searchesPerDay": {
            "description": "SearchesPerDay is always empty, for the same reason as totalSearches.",
            "items": {
              "$ref": "#/components/schemas/dayCount"
            },
            "type": "array"
          },
          "totalDocuments": {
            "description": "TotalDocuments is the sum of every index's document count.",
            "type": "integer"
          },
          "totalSearches": {
            "description": "TotalSearches is always 0: Meilisearch keeps no query-history counter, so\nthis surface reports the honest zero rather than an estimate.",
            "type": "integer"
          },
          "totalSessions": {
            "description": "TotalSessions is always 0, for the same reason as totalSearches.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
