{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package runtime is the transport to the bot runtime service — the TS bot that executes channels and skills — and it relays that service's own ops paths at /v1/bot/* (ops.go), the only routes it serves.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "bot"
    }
  ],
  "paths": {
    "/v1/bot/{wildcard1}": {
      "delete": {
        "operationId": "delete_v1_bot_by_wildcard1",
        "tags": [
          "bot"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_bot_by_wildcard1",
        "tags": [
          "bot"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "options": {
        "operationId": "options_v1_bot_by_wildcard1",
        "tags": [
          "bot"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patch_v1_bot_by_wildcard1",
        "tags": [
          "bot"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_bot_by_wildcard1",
        "tags": [
          "bot"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v1_bot_by_wildcard1",
        "tags": [
          "bot"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "trace": {
        "operationId": "trace_v1_bot_by_wildcard1",
        "tags": [
          "bot"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  }
}
