{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package auditlog is your org's tamper-evident audit trail: every security-relevant event, hash-chained and readable.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "audit"
    }
  ],
  "paths": {
    "/v1/audit": {
      "get": {
        "operationId": "get_audit",
        "summary": "List reads the caller's OWN org audit trail, newest first, with the total the filter matched so a console can page it.",
        "description": "List reads the caller's OWN org audit trail, newest first, with the total the\nfilter matched so a console can page it.\n\nEvery filter is optional and applies WITHIN the caller's org — the org itself is\nthe validated principal's and can never be widened by a request. Fails closed:\nan absent principal is a true \"not signed in\" (401), and a deployment with no\nlocal tamper-evident store answers an honest 501 rather than silently serving\nsomebody else's trail.",
        "tags": [
          "audit"
        ],
        "parameters": [
          {
            "name": "sub",
            "in": "query",
            "required": false,
            "description": "Sub narrows the trail to one actor — the validated subject that made the\nrequest. Blank means every actor in the org.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "description": "Action narrows it to one action name, e.g. \"machine.create\".",
            "schema": {
              "type": "string"
            },
            "example": "machine.create"
          },
          {
            "name": "resource",
            "in": "query",
            "required": false,
            "description": "Resource narrows it to one resource TYPE, e.g. \"apikey\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": false,
            "description": "ResourceID narrows it to one resource instance.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "result",
            "in": "query",
            "required": false,
            "description": "Result narrows it to one outcome: \"success\", \"deny\" or \"error\".",
            "schema": {
              "type": "string"
            },
            "example": "success"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Since is the inclusive lower time bound, RFC3339. An unparseable value is\nignored rather than refused — one malformed filter must not hide the trail.",
            "schema": {
              "type": "string"
            },
            "example": "2026-07-01T00:00:00Z"
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "Until is the upper time bound, RFC3339, with the same tolerance.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "PageSize is rows per page, default 100. A value that is not a positive\ninteger falls back to the default.",
            "schema": {
              "type": "string"
            },
            "example": "50"
          },
          {
            "name": "p",
            "in": "query",
            "required": false,
            "description": "Page is the 1-based page number, driving the offset. Anything below 2 reads\nthe first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trailPage"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "Wire": {
        "properties": {
          "action": {
            "type": "string"
          },
          "authMethod": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "home": {
            "description": "Home is present ONLY on a cross-org action: the org the actor came FROM,\nwhile Org is the org they acted IN. A console row carrying `home` is a\nplatform-admin impersonation and should be rendered as one.",
            "type": "string"
          },
          "isAdmin": {
            "type": "boolean"
          },
          "method": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "prevHash": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "resource": {
            "type": "string"
          },
          "resourceId": {
            "type": "string"
          },
          "result": {
            "type": "string"
          },
          "seq": {
            "type": "integer"
          },
          "sourceIp": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "sub": {
            "type": "string"
          },
          "time": {
            "type": "string"
          },
          "userAgent": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "trailPage": {
        "properties": {
          "data": {
            "description": "Data is one page of the org's events, newest first. Empty, never null.",
            "items": {
              "$ref": "#/components/schemas/Wire"
            },
            "type": "array"
          },
          "msg": {
            "description": "Msg is the envelope's message slot, empty on success.",
            "type": "string"
          },
          "status": {
            "description": "Status is the envelope's status slot, \"ok\" on success.",
            "type": "string"
          },
          "total": {
            "description": "Total is how many events match the filter, across all pages — what a pager\nneeds to size itself.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
