{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package help is the Hanzo Support product: the Frappe-Helpdesk model rebuilt as DocType fixtures on the native framework engine (clients/framework), plus a thin /v1/help subsystem (subsystem.go) for the one plane the generic, secure-by-default framework surface deliberately cannot serve — the PUBLIC help center.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "help"
    }
  ],
  "paths": {
    "/v1/help/articles": {
      "get": {
        "operationId": "get_v1_help_articles",
        "summary": "Returns the public knowledge base: the help center's Published, publicly-visible articles as cards.",
        "description": "Returns the public knowledge base: the help center's Published,\npublicly-visible articles as cards. The org is server-fixed and the\nstatus/is_public filter is server-set, so neither the tenant nor the visibility\ncan be widened by the caller. A deployment with no help center answers 404.",
        "tags": [
          "help"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Category narrows the list to one knowledge-base section, matched against\nthe article's category by exact name. Empty lists every section.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many articles are returned. Anything that is not a positive\ninteger uses 50, and values above 200 are clamped to 200.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/helpArticleList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/help/articles/{slug}": {
      "get": {
        "operationId": "get_v1_help_articles_slug",
        "summary": "Returns one public article by slug, with its body.",
        "description": "Returns one public article by slug, with its body. A missing, Draft,\nor internal (non-public) article is 404 — fail-closed, so this route is no\nexistence oracle for anything beyond \"published and public\".",
        "tags": [
          "help"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the article's public identifier, from the path. It IS the document\nname in the help center's store.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/helpArticle"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/help/categories": {
      "get": {
        "operationId": "get_v1_help_categories",
        "summary": "Returns the knowledge-base sections for the public center's navigation — but ONLY the sections that front at least one Published, public article, so an internal (agent-only) category name or description never leaks.",
        "description": "Returns the knowledge-base sections for the public center's\nnavigation — but ONLY the sections that front at least one Published, public\narticle, so an internal (agent-only) category name or description never leaks. A\nsection with no public article is invisible; a center with no public articles has\nno sections, which is an empty list rather than an error.",
        "tags": [
          "help"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/helpCategoryList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/help/tickets": {
      "post": {
        "operationId": "post_v1_help_tickets",
        "summary": "Files a customer support ticket into the public help center.",
        "description": "Files a customer support ticket into the public help center. It\ncreates the ticket (status Open, source portal) with the customer's message on\nthe description, then records that same message as the opening entry of the\nticket's conversation thread; the description carries it regardless, so failing\nto write that entry loses nothing. Answers 201 with an opaque reference.\n\nA deployment with no help center answers 404, one whose center has not installed\nthe Help model answers 503, and a body over 64 KiB answers 413 — in that order,\nwhich is the order the route has always decided them in.",
        "tags": [
          "help"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/helpTicketIntake"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/helpTicketFiled"
                }
              }
            },
            "description": "created"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "helpArticle": {
        "properties": {
          "body": {
            "description": "Body is the article's rich-text content as the author saved it.",
            "type": "string"
          },
          "category": {
            "description": "Category is the name of the knowledge-base section the article sits in, or\nempty when it is filed under none.",
            "type": "string"
          },
          "excerpt": {
            "description": "Excerpt is the short summary the author wrote for listings, or empty.",
            "type": "string"
          },
          "slug": {
            "description": "Slug is the article's stable public identifier — the path segment it was\naddressed by.",
            "type": "string"
          },
          "title": {
            "description": "Title is the article's headline.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is the unix second the article was last written.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "helpArticleCard": {
        "properties": {
          "category": {
            "description": "Category is the name of the knowledge-base section the article sits in, or\nempty when it is filed under none.",
            "type": "string"
          },
          "excerpt": {
            "description": "Excerpt is the short summary the author wrote for listings, or empty.",
            "type": "string"
          },
          "slug": {
            "description": "Slug is the article's stable public identifier and the path segment\n/v1/help/articles/{slug} addresses it by.",
            "type": "string"
          },
          "title": {
            "description": "Title is the article's headline.",
            "type": "string"
          },
          "updatedAt": {
            "description": "UpdatedAt is the unix second the article was last written, in the help\ncenter's own store.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "helpArticleList": {
        "properties": {
          "data": {
            "description": "Data is the matching Published, public articles, newest write order last —\nthe store's order, not a ranking. Empty when the center has none.",
            "items": {
              "$ref": "#/components/schemas/helpArticleCard"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "helpCategory": {
        "properties": {
          "description": {
            "description": "Description is the section's blurb, or empty.",
            "type": "string"
          },
          "name": {
            "description": "Name is the section's name, and the value an article's category matches.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "helpCategoryList": {
        "properties": {
          "data": {
            "description": "Data is the sections that front at least one public article. Empty when the\ncenter publishes none.",
            "items": {
              "$ref": "#/components/schemas/helpCategory"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "helpTicketFiled": {
        "properties": {
          "status": {
            "description": "Status is the lifecycle state the ticket was filed in — always \"Open\".",
            "type": "string"
          },
          "ticket": {
            "description": "Ticket is the opaque, random customer-facing reference (\"tkt_\" + 24 hex\ncharacters). It is NOT the ticket's internal name: that name is sequential,\nand handing it out would disclose the center's ticket volume.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "helpTicketIntake": {
        "properties": {
          "description": {
            "description": "Description is the customer's message. Optional; it becomes the ticket's\ndescription AND the opening entry of its conversation thread. Clipped at\n16 KiB.",
            "type": "string"
          },
          "email": {
            "description": "Email is how the support team replies. Required; clipped at 320 characters\n(the RFC 5321 maximum). It is recorded as the ticket's customer, and it is\nnot verified.",
            "type": "string"
          },
          "priority": {
            "description": "Priority is Low, Medium, High or Urgent, case-insensitively. Anything else —\nincluding omitting it — is recorded as Medium rather than refused.",
            "type": "string"
          },
          "subject": {
            "description": "Subject is the one-line summary of the problem. Required; longer than 300\ncharacters is clipped rather than refused.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
