{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package compute is the compute you rent from Hanzo: machines, GPUs and clusters — launch one, resize it, tear it down.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "compute"
    }
  ],
  "paths": {
    "/v1/compute/clusters": {
      "get": {
        "operationId": "listClusters",
        "summary": "Returns the caller org's clusters from both sources: the managed clusters projected from Visor's node pools, and the BYO clusters attached to the caller's project.",
        "description": "Returns the caller org's clusters from both sources: the managed\nclusters projected from Visor's node pools, and the BYO clusters attached to the\ncaller's project. A Visor outage costs the managed half only — the BYO half\nstill lists, because a page that 502s on an optional provider is worse than a\npage that shows what it can.",
        "tags": [
          "compute"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "clusters": [
                    {
                      "doksClusterId": "cl-1",
                      "kind": "managed",
                      "name": "prod",
                      "nodeCount": 2,
                      "nodePools": [
                        {
                          "count": 2,
                          "name": "gpu",
                          "poolId": "p-1",
                          "size": "gpu-h100x8-640gb"
                        }
                      ],
                      "nodeSize": "gpu-h100x8-640gb",
                      "status": "running"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/clusterList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "attachCluster",
        "summary": "Attaches a BYO cluster to the caller's org — the kubeconfig is validated, KMS-sealed and added to the fleet — and answers 201 with the cluster as it now appears on GET /v1/compute/clusters.",
        "description": "Attaches a BYO cluster to the caller's org — the kubeconfig is\nvalidated, KMS-sealed and added to the fleet — and answers 201 with the cluster\nas it now appears on GET /v1/compute/clusters. Billed the nominal management fee: the\ncustomer brings the compute, Hanzo meters the management plane.",
        "tags": [
          "compute"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "default": false,
                "kubeconfig": "apiVersion: v1\nkind: Config\n...",
                "name": "lab",
                "provider": "on-prem"
              },
              "schema": {
                "$ref": "#/components/schemas/clusterAttach"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "kind": "byo",
                  "name": "lab",
                  "nodeCount": 3,
                  "nodePools": [],
                  "nvidiaGpu": 2,
                  "region": "on-prem",
                  "status": "attached"
                },
                "schema": {
                  "$ref": "#/components/schemas/clusterView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/clusters/{clusterId}/pools": {
      "post": {
        "operationId": "createNodePool",
        "summary": "Adds a node pool to one of the caller org's clusters and answers 201 with the created pool.",
        "description": "Adds a node pool to one of the caller org's clusters and answers 201\nwith the created pool. Only the CreateNodePoolSpec fields are forwarded;\nowner/provider/clusterId ride in the query exactly as Visor expects them.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "description": "ClusterID is the cluster to add the pool to, from the URL path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "autoScale": false,
                "count": 2,
                "name": "gpu",
                "provider": "digitalocean",
                "size": "gpu-h100x8-640gb"
              },
              "schema": {
                "$ref": "#/components/schemas/poolCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "count": 2,
                  "name": "gpu",
                  "poolId": "p-1",
                  "size": "gpu-h100x8-640gb"
                },
                "schema": {
                  "$ref": "#/components/schemas/nodePoolView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/clusters/{clusterId}/pools/{poolId}": {
      "delete": {
        "operationId": "deleteNodePool",
        "summary": "Removes a node pool from one of the caller org's clusters.",
        "description": "Removes a node pool from one of the caller org's clusters. The owner\nscopes the delete to the caller's tenant; provider+clusterId drive the\nprovider-side removal. Answers 204.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "description": "ClusterID and PoolID address the pool, from the URL path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "description": "Provider is the cloud the cluster lives on, from ?provider=. Required.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/clusters/{clusterId}/pools/{poolId}/scale": {
      "post": {
        "operationId": "scaleNodePool",
        "summary": "Resizes a node pool to an absolute node count and returns the pool as Visor reports it after the change.",
        "description": "Resizes a node pool to an absolute node count and returns the pool as\nVisor reports it after the change.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "description": "ClusterID is the cluster holding the pool, from the URL path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "description": "PoolID is the pool to resize, from the URL path — the `poolId` a cluster read\nreports for it. Required.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "count": 4,
                "provider": "digitalocean"
              },
              "schema": {
                "$ref": "#/components/schemas/poolScale"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "count": 4,
                  "name": "gpu",
                  "poolId": "p-1",
                  "size": "gpu-h100x8-640gb"
                },
                "schema": {
                  "$ref": "#/components/schemas/nodePoolView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/clusters/{id}": {
      "delete": {
        "operationId": "detachCluster",
        "summary": "Removes a BYO cluster from the caller org's fleet.",
        "description": "Removes a BYO cluster from the caller org's fleet. It only ever\ntouches BYO clusters — a managed cluster's nodes are removed through the node-pool\nroutes — and answers 404 when the name is not in this org's fleet.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the cluster's fleet name (the `name` it was attached under), matched\nlower-cased.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "detached": "lab"
                },
                "schema": {
                  "$ref": "#/components/schemas/clusterDetached"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/fleet": {
      "get": {
        "operationId": "listFleet",
        "summary": "Returns every compute unit the caller's org has, from every source, each carrying its latest utilization: agent run-targets, the BYO machines that dialed in, attached BYO clusters and Visor-provisioned machines.",
        "description": "Returns every compute unit the caller's org has, from every source, each\ncarrying its latest utilization: agent run-targets, the BYO machines that dialed\nin, attached BYO clusters and Visor-provisioned machines.\n\nA unit with a live snapshot of its own keeps it; the rest are overlaid from the\nutilization series, and only when the sample agrees about the SOURCE — two planes\ncould mint the same unit id, and a board must never show one machine's load on\nanother's row. BYO GPU units also carry their gpu-jobs queue depth. Every source\nis folded in independently: a broken one costs its own rows and nothing else.",
        "tags": [
          "compute"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "units": [
                    {
                      "host": "spark",
                      "kind": "worker",
                      "label": "spark",
                      "metrics": {
                        "at": "2026-07-27T09:00:00Z",
                        "gpuUtil": 0.42
                      },
                      "queued": 2,
                      "running": 1,
                      "sessions": 0,
                      "source": "byo",
                      "spec": {
                        "arch": "arm64",
                        "cpus": 20,
                        "gpuModel": "NVIDIA GB10",
                        "gpus": 1,
                        "os": "linux"
                      },
                      "status": "online",
                      "unit": "spark"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/fleetBoard"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/fleet/jobs": {
      "get": {
        "operationId": "listFleetJobs",
        "summary": "Returns the caller org's gpu-jobs render queue, each row tagged with the GPU it targets (empty = the shared any-GPU lane) and the node claiming it, optionally narrowed to one GPU's queue and/or one status.",
        "description": "Returns the caller org's gpu-jobs render queue, each row tagged with\nthe GPU it targets (empty = the shared any-GPU lane) and the node claiming it,\noptionally narrowed to one GPU's queue and/or one status.\n\nA job whose worker died — STARTED with an elapsed lease and not yet reclaimed —\nreads \"stalled\", not \"running\". Fail-soft: an unavailable tasks engine yields an\nempty queue rather than an error.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "gpu",
            "in": "query",
            "required": false,
            "description": "GPU selects one node's lane: jobs TARGETED at it (gpu:\u003cnode\u003e) or CLAIMED by\nit. The literal \"shared\" selects the any-GPU lane — no target, no claimant.\nMatched case-insensitively.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status selects one lifecycle state: queued, running, stalled, completed,\nfailed or canceled.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "jobs": [
                    {
                      "attempt": 1,
                      "gpu": "spark",
                      "id": "job-1",
                      "label": "hero",
                      "runId": "job-1",
                      "status": "running",
                      "type": "studio.render",
                      "worker": "spark"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/jobList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/fleet/jobs/{id}/cancel": {
      "post": {
        "operationId": "cancelFleetJob",
        "summary": "Cancels a queued or running render in the caller's org.",
        "description": "Cancels a queued or running render in the caller's org. The engine\ncancel is org-scoped, so a tenant can only ever cancel its OWN job: a job in\nanother tenant's shard is 404, exactly like one that never existed. An\nalready-finished job is 409.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the job (activity) id, from the URL path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "reason": "superseded"
              },
              "schema": {
                "$ref": "#/components/schemas/jobCancel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "canceled": "job-1",
                  "run": "job-1"
                },
                "schema": {
                  "$ref": "#/components/schemas/jobCanceled"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/fleet/samples": {
      "get": {
        "operationId": "listFleetSamples",
        "summary": "Returns the caller org's utilization series, oldest first.",
        "description": "Returns the caller org's utilization series, oldest first.\n\nA rejected narrower is a 400 carrying its own reason (the vocabulary is ours and\nsafe to echo); a warehouse failure is logged and answered 503 \"unavailable\",\nbecause a chart that silently reads \"no load\" when the truth is \"we cannot tell\"\nis worse than one that says so. An ABSENT warehouse is different again: it returns\nan empty series, which renders honestly as \"no samples yet\".",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "description": "Unit selects one compute unit's series by its source-local id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source selects one plane: \"agent\", \"byo\" or \"visor\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Range is the lookback window (e.g. \"1h\", \"24h\", \"7d\"); empty takes the\nwarehouse default.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "samples": [
                    {
                      "at": "2026-07-27T09:00:00Z",
                      "gpuModel": "GB10",
                      "gpuUtil": 0.42,
                      "gpus": 1,
                      "host": "spark",
                      "kind": "worker",
                      "source": "byo",
                      "unit": "spark"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/sampleList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "recordFleetSample",
        "summary": "Records a BYO worker's live GPU utilization into the SAME series the fleet board overlays.",
        "description": "Records a BYO worker's live GPU utilization into the SAME series the\nfleet board overlays. The org is the validated principal and source/kind are fixed\nserver-side, so a worker names only its own metrics — never another tenant or\nanother source. Answers 202: the warehouse write is DETACHED (its own bounded\ncontext, never in the response path), so a slow or absent warehouse cannot stall a\nheartbeat.",
        "tags": [
          "compute"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "gpuModel": "GB10",
                "gpuUtil": 0.42,
                "gpus": 1,
                "host": "spark",
                "memFree": 200,
                "memUsed": 100,
                "unit": "spark"
              },
              "schema": {
                "$ref": "#/components/schemas/sampleIngest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "recorded": true
                },
                "schema": {
                  "$ref": "#/components/schemas/sampleAccepted"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/fleet/workers": {
      "get": {
        "operationId": "listFleetWorkers",
        "summary": "Returns the caller org's BYO machines — the ones that dialed in via `hanzo link` — with everything each host reported about itself.",
        "description": "Returns the caller org's BYO machines — the ones that dialed in\nvia `hanzo link` — with everything each host reported about itself. The Machines\nand GPUs pages fold the same data into their normalized shapes; this is the\ncanonical raw list a fleet view (or the CLI's `status`) reads.",
        "tags": [
          "compute"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "workers": [
                    {
                      "arch": "arm64",
                      "cpus": 20,
                      "gpus": [
                        {
                          "memoryTotal": "122880 MiB",
                          "name": "NVIDIA GB10"
                        }
                      ],
                      "hostname": "spark",
                      "id": "spark",
                      "location": "on-prem",
                      "provider": "byo",
                      "status": "online"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/workerList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/gpus": {
      "get": {
        "operationId": "listGpus",
        "summary": "Returns one row per physical accelerator the caller's org has, derived from its real GPU machines (the size slug says how many cards a node holds) and from the accelerators BYO workers report through nvidia-smi.",
        "description": "Returns one row per physical accelerator the caller's org has, derived\nfrom its real GPU machines (the size slug says how many cards a node holds) and\nfrom the accelerators BYO workers report through nvidia-smi.\n\nLive telemetry is absent on Visor rows because Visor's machine object carries\nnone — an honest omission the console renders as \"—\", never a fabricated 0.",
        "tags": [
          "compute"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "gpus": [
                    {
                      "id": "gpu-1#0",
                      "machine": "gpu-1",
                      "model": "H100",
                      "name": "gpu-1",
                      "provider": "digitalocean",
                      "region": "nyc2",
                      "status": "running"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/gpuList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/gpus/alerts": {
      "get": {
        "operationId": "listGpuAlerts",
        "summary": "Is an HONEST empty surface: Visor exposes no GPU alert inventory, so this returns [] rather than fabricating alerts.",
        "description": "Is an HONEST empty surface: Visor exposes no GPU alert inventory, so\nthis returns [] rather than fabricating alerts. It stays a real, tenant-gated\nroute so the console's alerts fetch resolves (200 [], not a 404) — an honest\n\"no alerts\", the same discipline the rest of the surface follows.",
        "tags": [
          "compute"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "alerts": []
                },
                "schema": {
                  "$ref": "#/components/schemas/gpuAlertList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/k8s/clusters": {
      "get": {
        "operationId": "listKubernetesClusters",
        "summary": "Lists the org's DOKS clusters (Visor, house account) folded with the org's BYO clusters — ONE fleet cluster view under the unified k8s noun.",
        "description": "Lists the org's DOKS clusters (Visor, house account) folded with\nthe org's BYO clusters — ONE fleet cluster view under the unified k8s noun. A Visor\noutage is logged and skipped so a down optional provider never hides the BYO list.",
        "tags": [
          "compute"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "clusters": [
                    {
                      "doClusterId": "cl-1",
                      "doksClusterId": "cl-1",
                      "kind": "managed",
                      "name": "prod",
                      "nodeCount": 0,
                      "nodePools": [],
                      "region": "nyc3",
                      "status": "running"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/clusterList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "createKubernetesCluster",
        "summary": "Provisions a DOKS cluster for the caller's org and answers 201.",
        "description": "Provisions a DOKS cluster for the caller's org and answers 201.\nADMIN-GATED — a SuperAdmin, or an OrgAdmin of the caller's own org — because\nprovisioning spends real infrastructure on the house account. The request is\nvalidated at this boundary, then Visor owns provisioning and the hanzo-org\nownership tag.",
        "tags": [
          "compute"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": "prod",
                "nodePool": {
                  "count": 2,
                  "name": "gpu",
                  "size": "gpu-h100x8-640gb"
                },
                "region": "nyc3"
              },
              "schema": {
                "$ref": "#/components/schemas/createClusterReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "doClusterId": "cl-1",
                  "doksClusterId": "cl-1",
                  "kind": "managed",
                  "name": "prod",
                  "nodeCount": 0,
                  "nodePools": [],
                  "region": "nyc3",
                  "status": "provisioning"
                },
                "schema": {
                  "$ref": "#/components/schemas/clusterView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/k8s/clusters/{id}": {
      "delete": {
        "operationId": "deleteKubernetesCluster",
        "summary": "Destroys a DOKS cluster by id and answers 204.",
        "description": "Destroys a DOKS cluster by id and answers 204. ADMIN-GATED, like\ncreate. Visor scopes the delete to the org (refuses a foreign id), so this can\nonly ever remove the caller org's own cluster.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the provider's DOKS cluster id. Visor scopes the lookup to the caller's\norg, so another tenant's id resolves to not-found rather than their cluster.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "getKubernetesCluster",
        "summary": "Returns one cluster's detail: node pools + worker nodes.",
        "description": "Returns one cluster's detail: node pools + worker nodes. Visor scopes\nthe lookup to the org (a foreign or missing id resolves to not-found), so a tenant\ncan never read another tenant's cluster by guessing an id.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the provider's DOKS cluster id. Visor scopes the lookup to the caller's\norg, so another tenant's id resolves to not-found rather than their cluster.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "doksClusterId": "cl-1",
                  "kind": "managed",
                  "name": "prod",
                  "nodeCount": 1,
                  "nodePools": [
                    {
                      "count": 1,
                      "name": "gpu",
                      "poolId": "p-1",
                      "size": "gpu-h100x8-640gb"
                    }
                  ],
                  "nodeSize": "gpu-h100x8-640gb",
                  "nodes": [
                    {
                      "id": "node-1",
                      "name": "node-1",
                      "status": "active"
                    }
                  ],
                  "region": "nyc3",
                  "status": "running"
                },
                "schema": {
                  "$ref": "#/components/schemas/clusterDetailView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/k8s/nodes": {
      "get": {
        "operationId": "listKubernetesNodes",
        "summary": "Returns every DOKS worker node in the org's clusters as a machine — the SAME set the fleet folds in (managedMachines), exposed directly under the k8s noun.",
        "description": "Returns every DOKS worker node in the org's clusters as a machine —\nthe SAME set the fleet folds in (managedMachines), exposed directly under the k8s\nnoun. House account (hanzo-org cluster tag) + BYOC, deduped by Visor.",
        "tags": [
          "compute"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "nodes": [
                    {
                      "id": "node-1",
                      "name": "node-1",
                      "region": "nyc3",
                      "status": "active",
                      "type": "s-4vcpu-8gb",
                      "vcpu": 4
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/nodeList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/machines": {
      "get": {
        "operationId": "listMachines",
        "summary": "Returns every machine the caller's org has — Visor's registry, the live DigitalOcean droplets and the DOKS worker nodes (deduped into one union), plus the BYO machines that dialed in via `hanzo link` (provider \"byo\").",
        "description": "Returns every machine the caller's org has — Visor's registry, the\nlive DigitalOcean droplets and the DOKS worker nodes (deduped into one union),\nplus the BYO machines that dialed in via `hanzo link` (provider \"byo\").\n\nA source Visor cannot answer for is logged and skipped, never an error: one\nwedged upstream must not hide the machines the other sources can see.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "machines": [
                    {
                      "id": "web-1",
                      "mem": "4 GB",
                      "name": "Web 1",
                      "provider": "digitalocean",
                      "publicIp": "1.2.3.4",
                      "region": "sfo3",
                      "status": "running",
                      "type": "s-2vcpu-4gb",
                      "vcpu": 2
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/machineList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_compute_machines",
        "summary": "Launch a metered machine for your org, or price one first with dryRun",
        "description": "Provisions a machine owned by the caller's org and answers 201 with the machine. Send `dryRun: true` to get a PRICE QUOTE instead: 200 with the upstream quote passed through verbatim, nothing launched and nothing spent. Two response shapes on one address is the rule to know, and it is why this is not a typed op.\n\nMetering is not this plane's: the launch fronts the compute provider's resell endpoint, which owns the balance gate and the per-hour meter, and cloud only forwards the tenant. Ownership is the validated principal's org and is never read from the body, so a launch always lands in the caller's OWN tenant and the machine it creates is only ever visible to that tenant. Fails closed: a validated principal is required (403 without one) and `size` (or its `instanceType` alias) is required (400).",
        "tags": [
          "compute"
        ],
        "x-public": true
      }
    },
    "/v1/compute/machines/agents": {
      "get": {
        "operationId": "listMachineAgents",
        "summary": "Returns every agent↔machine binding in the caller's org — which machines are running which cloud Agent, with vm's own reconciled status.",
        "description": "Returns every agent↔machine binding in the caller's org — which\nmachines are running which cloud Agent, with vm's own reconciled status.",
        "tags": [
          "compute"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "agentBindings": [
                    {
                      "agentName": "bot-a",
                      "machineId": "drop-a",
                      "publicIp": "1.2.3.4",
                      "status": "running"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/bindingList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/machines/{id}": {
      "delete": {
        "operationId": "deleteMachine",
        "summary": "Terminates one of the caller org's machines.",
        "description": "Terminates one of the caller org's machines. Visor takes the\nmachine identity as owner+name, and the owner is the validated principal, so a\ncaller can only ever terminate its own tenant's machine. Answers 204.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the machine's org-scoped NAME — the stable key Visor addresses a\nmachine by (owner/name), not the ephemeral provider id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "getMachine",
        "summary": "Returns one of the caller org's machines by its org-scoped name.",
        "description": "Returns one of the caller org's machines by its org-scoped name.\nVisor keys the lookup by owner/name, so an id belonging to another tenant\nresolves to not-found rather than another org's machine.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the machine's org-scoped NAME — the stable key Visor addresses a\nmachine by (owner/name), not the ephemeral provider id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "id": "web-1",
                  "name": "Web 1",
                  "publicIp": "1.2.3.4",
                  "region": "sfo3",
                  "status": "running",
                  "type": "s-2vcpu-4gb",
                  "vcpu": 2
                },
                "schema": {
                  "$ref": "#/components/schemas/machineView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/machines/{id}/agent": {
      "delete": {
        "operationId": "unbindMachineAgent",
        "summary": "Detaches the agent runtime from one of the caller org's machines.",
        "description": "Detaches the agent runtime from one of the caller org's\nmachines. The machine stays — this halts the bot, it does not terminate the\ncompute. Answers 204.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the machine's org-scoped NAME — the stable key Visor addresses a\nmachine by (owner/name), not the ephemeral provider id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "getMachineAgent",
        "summary": "Returns the agent binding of one of the caller org's machines, or 404 when the machine runs no bot runtime.",
        "description": "Returns the agent binding of one of the caller org's\nmachines, or 404 when the machine runs no bot runtime.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the machine's org-scoped NAME — the stable key Visor addresses a\nmachine by (owner/name), not the ephemeral provider id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "agentName": "bot-a",
                  "botVersion": "1.4.0",
                  "machineId": "drop-a",
                  "status": "running"
                },
                "schema": {
                  "$ref": "#/components/schemas/agentBinding"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "bindMachineAgent",
        "summary": "Binds a cloud Agent to one of the caller org's machines: the machine is recorded as running that Agent's @hanzo/bot runtime.",
        "description": "Binds a cloud Agent to one of the caller org's machines: the\nmachine is recorded as running that Agent's @hanzo/bot runtime. The owning org is\nthe validated tenant, never a client field.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the machine to bind, from the URL path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "agentName": "bot-a",
                "botVersion": "1.4.0"
              },
              "schema": {
                "$ref": "#/components/schemas/bindAgentReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "agentName": "bot-a",
                  "machineId": "drop-a",
                  "status": "binding"
                },
                "schema": {
                  "$ref": "#/components/schemas/agentBinding"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/machines/{id}/{action}": {
      "post": {
        "operationId": "post_compute_machines_by_id_by_action",
        "summary": "Message a bot, or stop it, by naming the action in the path",
        "description": "Dispatches one verb against a bot the caller's org owns. `message` runs the bot's bound agent with the request body as the message and streams the agent's answer back VERBATIM — the upstream body, its content type and its status — so a message is a real agent run, recorded, billed and traced exactly like any other, under the caller's own identity rather than a fabricated one. `stop` and `pause` are the same single honest capability: they halt the runtime by unbinding the agent while LEAVING THE MACHINE UP, so the bot stops answering but keeps costing — rebind to resume, or delete the bot to tear it down. Stopping is idempotent; a bot with no binding still reports stopped.\n\nOrg-scoped and fails closed: a validated principal is required (403 without one) and the bot is addressed under the caller's OWN org, so another tenant's id is not reachable. An unknown action is a clean 400 naming the three it accepts, never a silent no-op, and messaging a bot with no bound agent is a 400.",
        "tags": [
          "compute"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/compute/regions": {
      "get": {
        "operationId": "get_compute_regions",
        "summary": "Regions lists the regions a machine can be launched in.",
        "description": "Regions lists the regions a machine can be launched in.\n\nThe catalog is GLOBAL — identical for every tenant — so no owner is forwarded\nupstream. It is still org-gated, because a catalog is a map of what this\ndeployment can spend money in and an anonymous caller has no business reading it.",
        "tags": [
          "compute"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/compute/sizes": {
      "get": {
        "operationId": "get_compute_sizes",
        "summary": "Sizes lists the machine sizes available to launch, with their specifications.",
        "description": "Sizes lists the machine sizes available to launch, with their specifications.\n\nGlobal and org-gated, exactly as the region catalog is, and for the same reasons.",
        "tags": [
          "compute"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "agentBinding": {
        "properties": {
          "agentName": {
            "description": "AgentName is the cloud Agent (/v1/agent) this machine runs — the agent a\nmessage to the bot is actually run against. It is the one field that decides\nwhat the bot DOES.",
            "type": "string"
          },
          "botVersion": {
            "description": "BotVersion pins the @hanzo/bot runtime version the machine runs. Empty means\nthe machine took the default in force when it was bound.",
            "type": "string"
          },
          "createdTime": {
            "description": "CreatedTime is when the binding was first made.",
            "type": "string"
          },
          "machineId": {
            "description": "MachineId is the bound machine as vm addresses it, owner-qualified\n(\"\u003corg\u003e/\u003cmachine\u003e\"). The unqualified half is what this surface's :id routes\ntake.",
            "type": "string"
          },
          "message": {
            "description": "Message is vm's human-readable detail on Status (\"machine provisioning;\n@hanzo/bot runtime not yet confirmed\") — the reason behind the state, not a\nsecond state.",
            "type": "string"
          },
          "name": {
            "description": "Name is the binding's own key, which is the machine's id: a machine hosts at\nmost one agent, so the binding is named for it. This is the key a bots list\njoins bindings onto machines by.",
            "type": "string"
          },
          "org": {
            "description": "Org is the Hanzo tenant the binding belongs to.",
            "type": "string"
          },
          "owner": {
            "description": "Owner is the tenant vm filed the binding under, resolved from the ?owner it\nwas called with — which is the caller's validated org and never a body field.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the cloud the bound machine runs on, carried here so a bindings\nlist says where each bot lives without a second read per machine.",
            "type": "string"
          },
          "publicIp": {
            "description": "PublicIp is the bound machine's public address as vm recorded it on the\nbinding. Empty while the machine has none yet.",
            "type": "string"
          },
          "status": {
            "description": "Status is the binding's lifecycle in VM's OWN words — \"Pending\" while the\nmachine provisions and the runtime is unconfirmed, \"running\" once vm has\nconfirmed it. The vocabulary is vm's and passes through unmapped, which is\nwhy its capitalization does not match the machine states beside it, and it is\nvm's reconciled reading rather than anything asserted here.",
            "type": "string"
          },
          "updatedTime": {
            "description": "UpdatedTime is when vm last reconciled it — the age of Status.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "bindAgentReq": {
        "properties": {
          "agentName": {
            "description": "AgentName is the cloud Agent (/v1/agent) the machine will run. Required.",
            "type": "string"
          },
          "botVersion": {
            "description": "BotVersion pins the @hanzo/bot runtime version; empty takes the default.",
            "type": "string"
          },
          "id": {
            "description": "ID is the machine to bind, from the URL path.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "bindingList": {
        "properties": {
          "agentBindings": {
            "description": "AgentBindings is one row per bound machine, emitted verbatim as vm reports\nit.",
            "items": {
              "$ref": "#/components/schemas/agentBinding"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "byoGPU": {
        "properties": {
          "arch": {
            "description": "Arch is the card's native compile target (\"gfx1151\"), which is what a kernel\nhas to be built for. AMD reports one; NVIDIA cards leave it empty.",
            "type": "string"
          },
          "memoryTotal": {
            "description": "MemoryTotal is the card's VRAM in the units the host reported it in\n(\"122880 MiB\") — a display string, not a byte count. On a unified part it is\nthe shared CPU/GPU pool, so it is not memory reserved for the GPU.",
            "type": "string"
          },
          "name": {
            "description": "Name is the card's model exactly as its own tooling named it (\"NVIDIA\nGB10\"), never normalized — an operator matches what they see here against\nwhat nvidia-smi tells them on the box.",
            "type": "string"
          },
          "unified": {
            "description": "Unified reports that CPU and GPU share one memory pool (an APU or SoC), so\nMemoryTotal is not private to the GPU and the host competes for it.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "byoWorker": {
        "properties": {
          "arch": {
            "description": "Arch/CPUs/Memory are the connecting host's static CPU spec, mirrored from the\nregistration: Arch is runtime.GOARCH (amd64 | arm64), Memory is total RAM in\nBYTES — the same fields a code-linked run-target carries, so the /v1/compute/fleet\nboard renders a linked node's arch + cores + RAM like any other unit.",
            "type": "string"
          },
          "capabilities": {
            "description": "Capabilities is what this worker offers the org: \"studio.render\" when the\nnode can render, \"engine.serve\" when it serves a model endpoint. A node\nadvertises one only once it can honour it, so an absent list means a node\nthat has dialed in but is not ready to serve any of them yet.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "cpuModel": {
            "description": "CPUModel is the processor as the host names it (\"Apple M3 Max\"), for display.",
            "type": "string"
          },
          "cpus": {
            "description": "CPUs is the host's logical core count.",
            "format": "int64",
            "type": "integer"
          },
          "cuda": {
            "description": "Cuda is the host's CUDA toolkit version. NVIDIA hosts report it.",
            "type": "string"
          },
          "driver": {
            "description": "Driver is the host's NVIDIA kernel driver version — distinct from Cuda, and\nthe one that bounds which CUDA versions can run on this box.",
            "type": "string"
          },
          "engine": {
            "$ref": "#/components/schemas/engineAdvertisement",
            "description": "Engine is the hanzo-engine model server this node runs, when it runs one\n(`hanzo link --serve-engine`). Absent means the node takes jobs but serves\nno model endpoint."
          },
          "firstSeen": {
            "description": "FirstSeen is when this node first dialed in, RFC 3339 — the start of its\npresence record, which `hanzo unlink` ends.",
            "type": "string"
          },
          "gpus": {
            "description": "GPUs are the accelerators the host found on itself. Empty is a real answer:\na CPU-only machine can dial in and take non-GPU work.",
            "items": {
              "$ref": "#/components/schemas/byoGPU"
            },
            "type": "array"
          },
          "hip": {
            "description": "Hip is the host's HIP runtime version, the AMD counterpart to Cuda.",
            "type": "string"
          },
          "hostname": {
            "description": "Hostname is what the host calls itself. It equals ID for any hostname already\nin the [a-z0-9-] alphabet, and differs when sanitizing had to change it.",
            "type": "string"
          },
          "id": {
            "description": "ID is the node's id in the fleet — the sanitized hostname it registered\nunder, which is also the `unit` its samples and its gpu-jobs lane key on.\nThis is the id to use everywhere else on the compute surface.",
            "type": "string"
          },
          "jobQueue": {
            "description": "JobQueue is the tasks NAMESPACE this worker claims render jobs out of —\n\"gpu-jobs\" unless `hanzo link` was pointed at another. Within it, a job aimed\nat this node alone rides the task-queue value \"gpu:\u003cid\u003e\".",
            "type": "string"
          },
          "lastHeartbeat": {
            "description": "LastHeartbeat is the most recent beat this node sent, RFC 3339. It is what\nStatus is computed from, so a reader can check the judgement.",
            "type": "string"
          },
          "location": {
            "description": "Location is always \"on-prem\" — a machine that dialed in has no cloud region,\nand inventing one would put it somewhere it is not.",
            "type": "string"
          },
          "memory": {
            "description": "Memory is the host's total RAM in BYTES.",
            "format": "int64",
            "type": "integer"
          },
          "os": {
            "description": "Os is the host's operating system: linux, darwin or windows.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is always \"byo\": this machine is the operator's, not one Hanzo\nprovisioned. It exists so a fold into the machines/GPUs pages says which\nrows are rented and which are the customer's own.",
            "type": "string"
          },
          "rocm": {
            "description": "Rocm is the host's ROCm version. AMD hosts report it; empty otherwise.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"online\" when the last heartbeat landed within 90s, else\n\"offline\" — so it is a fact about heartbeat freshness, not about the box\nbeing powered on. A worker that has never beaten reads offline.",
            "type": "string"
          },
          "version": {
            "description": "Version is the `hanzo` CLI version running on the node. It is what to check\nwhen a worker is missing a field a newer registration reports.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "clusterAttach": {
        "properties": {
          "default": {
            "description": "Default marks this the org's default cluster for scheduling.",
            "type": "boolean"
          },
          "kubeconfig": {
            "description": "Kubeconfig is the cluster's kubeconfig, verbatim. Required — a body without\none is not an attach.",
            "type": "string"
          },
          "name": {
            "description": "Name is the fleet-local name for the cluster; lower-cased, and the key the\ndetach route addresses it by. Required.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is a free-form label for where the cluster runs (\"gke\", \"on-prem\");\nit is display only, not a routing key.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "clusterDetached": {
        "properties": {
          "detached": {
            "description": "Detached is the lower-cased fleet name that was removed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "clusterDetailView": {
        "properties": {
          "amdGpu": {
            "format": "int64",
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "doClusterId": {
            "type": "string"
          },
          "doksClusterId": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nodeCount": {
            "format": "int64",
            "type": "integer"
          },
          "nodePools": {
            "items": {
              "$ref": "#/components/schemas/nodePoolView"
            },
            "type": "array"
          },
          "nodeSize": {
            "type": "string"
          },
          "nodes": {
            "description": "Nodes is every worker node in the cluster, each in the same shape the\nmachines surface uses — a node IS a machine, addressable by its own id. This\nis the individual hardware behind the pool counts above.",
            "items": {
              "$ref": "#/components/schemas/machineView"
            },
            "type": "array"
          },
          "nvidiaGpu": {
            "format": "int64",
            "type": "integer"
          },
          "region": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "clusterList": {
        "properties": {
          "clusters": {
            "description": "Clusters is the merged fleet — kind \"managed\" for Visor-provisioned, \"byo\"\nfor an attached kubeconfig.",
            "items": {
              "$ref": "#/components/schemas/clusterView"
            },
            "type": "array"
          },
          "degraded": {
            "description": "Degraded names any source that did not answer, so an empty Clusters means\n\"you have none\" only when this is absent. Omitted when everything answered,\nso a healthy response is unchanged. See degraded.go.",
            "items": {
              "$ref": "#/components/schemas/sourceFailure"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "clusterView": {
        "properties": {
          "amdGpu": {
            "description": "AmdGPU is the same count for `amd.com/gpu`: AMD accelerators across the BYO\ncluster's nodes, as of the attach.",
            "format": "int64",
            "type": "integer"
          },
          "createdAt": {
            "description": "CreatedAt is when the cluster started existing: the earliest creation time\namong its pools for a managed cluster, and for a BYO one the RFC 3339 moment\nit was attached. Empty when the source states none.",
            "type": "string"
          },
          "doClusterId": {
            "description": "DoClusterID carries the SAME id as DoksClusterID. Both names exist because\nthe console's Cluster type reads either one; neither is a second identifier.",
            "type": "string"
          },
          "doksClusterId": {
            "description": "DoksClusterID is the provider's own id for the cluster, and the value the\n/v1/compute/k8s/clusters/:id routes take. Empty for a BYO cluster: an attached\nkubeconfig was never provisioned, so there is no provider id to state.",
            "type": "string"
          },
          "kind": {
            "description": "Kind says which of the two kinds of cluster this row is, and there are only\ntwo: \"managed\" — Visor provisioned it and Hanzo's account pays the provider —\nor \"byo\", an existing cluster the org attached by kubeconfig.",
            "type": "string"
          },
          "name": {
            "description": "Name is the cluster's name: the provider's for a managed cluster, and for a\nBYO one the lower-cased fleet name it was attached under — which is also how\nthe detach route addresses it.",
            "type": "string"
          },
          "nodeCount": {
            "description": "NodeCount is how many worker nodes the cluster has — the sum over its pools\nfor a managed cluster, and for a BYO one the node count read off the cluster\nwhen it was attached.",
            "format": "int64",
            "type": "integer"
          },
          "nodePools": {
            "description": "NodePools is the authoritative node inventory — every pool, each with its own\nsize and count. It is empty in two cases that are not \"no pools\": a row from\nthe /v1/compute/k8s/clusters LIST, which is deliberately lightweight and whose\n:id detail carries them, and a BYO cluster, whose pools were never read.",
            "items": {
              "$ref": "#/components/schemas/nodePoolView"
            },
            "type": "array"
          },
          "nodeSize": {
            "description": "NodeSize is a display convenience: the size slug of the FIRST pool. A cluster\nmixing sizes has more than one, and NodePools is where they all are.",
            "type": "string"
          },
          "nvidiaGpu": {
            "description": "NvidiaGPU is how many NVIDIA accelerators the cluster's nodes advertise, the\nsum of `nvidia.com/gpu` allocatable across them. BYO only, and counted ONCE\nwhen the cluster was attached — it is an inventory, not live capacity.",
            "format": "int64",
            "type": "integer"
          },
          "region": {
            "description": "Region is the provider region slug for a managed cluster. A BYO cluster has\nno region we can read, so it carries the free-form `provider` label the\nattach named it with (\"gke\", \"on-prem\") instead.",
            "type": "string"
          },
          "status": {
            "description": "Status is the cluster's state: the provider's own word for a managed cluster\n(\"running\", \"provisioning\"), \"unknown\" when the provider stated none, and\nalways \"attached\" for a BYO cluster — that one says the kubeconfig is on\nfile, not that the cluster is reachable this second.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "createClusterReq": {
        "properties": {
          "name": {
            "description": "Name is the cluster's name. Required.",
            "type": "string"
          },
          "nodePool": {
            "description": "NodePool is the ONE pool the cluster is born with — a cluster with no nodes\nruns nothing, so it is not optional. More pools are added afterwards through\nPOST /v1/compute/clusters/:clusterId/pools.",
            "properties": {
              "count": {
                "format": "int64",
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "size": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "region": {
            "description": "Region is the provider region slug (e.g. \"nyc3\"). Required.",
            "type": "string"
          },
          "version": {
            "description": "Version is the Kubernetes version slug; empty takes the provider default.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "engineAdvertisement": {
        "properties": {
          "apis": {
            "description": "APIs are the wire formats the engine serves on that one port: \"openai\",\n\"anthropic\", or both.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "models": {
            "description": "Models are the model ids the node's own GET /v1/models answered with — what\nthis GPU can actually be asked for.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "status": {
            "description": "Status is \"ready\" when the node's engine answered, \"unreachable\" when it did\nnot. Advertised is not the same as serving, and this is the difference.",
            "type": "string"
          },
          "url": {
            "description": "URL is the base address the node advertised its engine on — where a model\ncall to this GPU is sent. The node chose it, so reaching it is a question\nabout the node's network, not about this surface.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "fleetBoard": {
        "properties": {
          "units": {
            "description": "Units is the union across sources — agent run-targets, BYO workers, BYO\nclusters and Visor machines — each row naming the source it came from.",
            "items": {
              "$ref": "#/components/schemas/fleetUnit"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "fleetMetrics": {
        "properties": {
          "at": {
            "description": "At is when this reading was MEASURED, RFC 3339 in UTC — not when the board\nwas built. A console decides staleness by comparing it to now; the board\ndeliberately does not decide that for it.",
            "type": "string"
          },
          "gpuUtil": {
            "description": "GPUUtil is aggregate accelerator utilization as a FRACTION of 1 — 0.42 is\n42% busy, never 42. Across all of the unit's cards, not one of them.",
            "format": "double",
            "type": "number"
          },
          "load1": {
            "description": "Load1 is the host's 1-minute load average — runnable processes, not a\npercentage, so it is read against the unit's core count and can exceed 1.",
            "format": "double",
            "type": "number"
          },
          "memFree": {
            "description": "MemFree is host memory still available, in BYTES. It is what the source\nreported, not fleetSpec.Memory minus MemUsed.",
            "format": "int64",
            "type": "integer"
          },
          "memUsed": {
            "description": "MemUsed is host memory in use, in BYTES.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "fleetSpec": {
        "properties": {
          "arch": {
            "description": "Arch is the CPU architecture, amd64 or arm64, and it is what decides whether\na binary built for the fleet will run here. Only the sources that report one\ncarry it (a linked run-target, a BYO worker).",
            "type": "string"
          },
          "cpus": {
            "description": "CPUs is logical cores on the unit.",
            "format": "int64",
            "type": "integer"
          },
          "gpuModel": {
            "description": "GPUModel names the FIRST accelerator (\"NVIDIA GB10\") as the representative of\nthe set; GPUs carries how many. Empty for a cluster, whose cards are counted\nrather than modelled, and for a unit with none.",
            "type": "string"
          },
          "gpus": {
            "description": "GPUs is how many accelerators the unit has. For a cluster it is the vendor\ntotals summed across every node, so it counts cards, not machines.",
            "format": "int64",
            "type": "integer"
          },
          "memory": {
            "description": "Memory is total system RAM in BYTES — not GB, and not what is free right now\n(fleetMetrics carries that). Absent when the source reports no RAM figure.",
            "format": "int64",
            "type": "integer"
          },
          "os": {
            "description": "OS is the operating system the unit runs: linux, darwin or windows. Empty\nwhen the source does not report one — a cluster row does not.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "fleetUnit": {
        "properties": {
          "host": {
            "description": "Host is the unit's hostname. Empty for a unit that is not one host: a cluster\nrow has no hostname to report.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what the unit IS: laptop, cloud, gpu, cluster, machine or worker.",
            "type": "string"
          },
          "label": {
            "description": "Label is the name to show a human — a target's label, a worker's hostname, a\nmachine's display name. Empty when the source has none to give.",
            "type": "string"
          },
          "metrics": {
            "$ref": "#/components/schemas/fleetMetrics",
            "description": "Metrics is the unit's latest utilization: its own live snapshot when it keeps\none (a run-target's heartbeat wins), else the newest sample from the series\nfor the SAME source. Absent means nothing is known about this unit's load —\nwhich is deliberately not the same as a reading of zero."
          },
          "queued": {
            "description": "Queued is how many renders are waiting on THIS GPU's own lane in the org's\ngpu-jobs queue. BYO units only — an agent run-target dispatches, it does not\nqueue — and omitted when nothing is waiting.",
            "format": "int64",
            "type": "integer"
          },
          "running": {
            "description": "Running is what the unit is executing right now: agent sessions in flight for\na run-target, claimed renders for a BYO GPU.",
            "format": "int64",
            "type": "integer"
          },
          "sessions": {
            "description": "Sessions is how many agent sessions are open on this unit. Always present,\nand 0 for a source that cannot host agent sessions at all — a fact about that\nplane, not a gap in the reading.",
            "format": "int64",
            "type": "integer"
          },
          "source": {
            "description": "Source is the plane this row came from: \"agent\" (a linked run-target), \"byo\"\n(a worker or cluster the org dialed in) or \"visor\" (a machine Hanzo\nprovisioned). It is half the row's identity, and it says which face owns the\nunit — /v1/agent/targets, /v1/compute/fleet/workers, /v1/compute/machines.",
            "type": "string"
          },
          "spec": {
            "$ref": "#/components/schemas/fleetSpec",
            "description": "Spec is the unit's static capability. Absent when the source reported none —\nunknown capability, never a zeroed one."
          },
          "status": {
            "description": "Status is liveness in the SOURCE's own vocabulary, because each plane decides\nit differently: a run-target's is derived from its heartbeat, a BYO worker's\nis online/offline on the 90s window, a BYO cluster's is \"attached\", and a\nVisor machine's is the provider's word for its lifecycle state.",
            "type": "string"
          },
          "unit": {
            "description": "Unit is the SOURCE's own id for this unit — a run-target id, a BYO worker id,\na Visor machine name — so a row links straight back to the face that owns it.\nIt is unique within a source, not across them: two planes may mint the same\nid, which is why (source, unit) together is the identity.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "gpuAlertList": {
        "properties": {
          "alerts": {
            "description": "Alerts is always empty, and typed as a raw list because Visor exposes no\nalert inventory for this surface to shape: there is nothing to describe\nuntil there is something to return.",
            "items": {
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "gpuJob": {
        "properties": {
          "attempt": {
            "description": "Attempt is which try this is, counting from 1. Above 1 means the job was\nretried after a failed or abandoned run.",
            "format": "int64",
            "type": "integer"
          },
          "closeTime": {
            "description": "CloseTime is when the job reached a terminal state, RFC 3339. Empty means it\nis still live — queued, running or stalled.",
            "type": "string"
          },
          "failureCause": {
            "description": "FailureCause is the engine's reason the job failed. Empty unless it did.",
            "type": "string"
          },
          "gpu": {
            "description": "GPU is the node this job is aimed AT — the lane \"gpu:\u003cnode\u003e\" it was submitted\non. Empty means the shared any-GPU lane: it was not aimed anywhere and the\nfirst free worker takes it.",
            "type": "string"
          },
          "id": {
            "description": "ID is the job's id, and the id the cancel route takes. The dispatcher sets it\nequal to the render's prompt id, so it is the same value the studio knows the\njob by.",
            "type": "string"
          },
          "label": {
            "description": "Label is the cheap human name for the render — the output filename prefix\nlifted out of the submitted graph. Empty when the graph carried none. The\ngraph itself is never in this list; the tasks describe endpoint serves it.",
            "type": "string"
          },
          "lastHeartbeat": {
            "description": "LastHeartbeat is the claiming worker's most recent beat on this job, RFC 3339\n— the evidence a long render is still alive rather than wedged.",
            "type": "string"
          },
          "leaseExpiry": {
            "description": "LeaseExpiry is when the worker's claim lapses, RFC 3339. Past it with the job\nstill STARTED, the claimant is presumed dead and Status reads \"stalled\".",
            "type": "string"
          },
          "runId": {
            "description": "RunID identifies this execution of the job. It equals ID for a job the\ndispatcher submitted, which is why a cancel that omits it still works.",
            "type": "string"
          },
          "startTime": {
            "description": "StartTime is when a worker began executing the job, RFC 3339. Empty while it\nis still queued.",
            "type": "string"
          },
          "status": {
            "description": "Status is the job's lifecycle state: queued, running, completed, failed or\ncanceled — plus \"stalled\", which is this surface's own reading of a job that\nis STARTED whose worker died: its lease has elapsed and no reaper has taken\nit back yet. Without it such a job reads \"running\" forever. An engine state\nthis surface does not recognize passes through lower-cased rather than being\ncoerced into one of these.",
            "type": "string"
          },
          "type": {
            "description": "Type is the work being done (\"studio.render\") — what the claiming worker has\nto be able to execute.",
            "type": "string"
          },
          "worker": {
            "description": "Worker is the node that actually CLAIMED the job, which is not always the one\nit was aimed at: a shared-lane job has no GPU but does have a Worker once\npicked up. Empty while the job is still waiting.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "gpuList": {
        "properties": {
          "gpus": {
            "description": "GPUs is every accelerator the org has, from Visor GPU droplets and from BYO\nworkers alike.",
            "items": {
              "$ref": "#/components/schemas/gpuView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "gpuView": {
        "properties": {
          "id": {
            "description": "ID is the card's address: its host machine's id, \"#\", and the card's ordinal\nwithin that machine (\"gpu-1#0\"). Stable for as long as the machine is, and\nthe only id a single accelerator has — providers do not name cards.",
            "type": "string"
          },
          "location": {
            "description": "Location is where the card physically sits, which for every source today is\nthe same value Region carries — the console renders it in its own column.",
            "type": "string"
          },
          "machine": {
            "description": "Machine is the id of the machine holding this card, addressable as-is on\n/v1/compute/machines/:id.",
            "type": "string"
          },
          "memory": {
            "description": "Memory is the card's VRAM as its own tooling reported it (\"122880 MiB\") — a\ndisplay string in the reporter's units, not a byte count. BYO cards carry it\n(nvidia-smi); Visor's machine object states no VRAM, so a rented card leaves\nit empty and the console renders \"—\" rather than a fabricated 0.",
            "type": "string"
          },
          "model": {
            "description": "Model is the accelerator: the model token read out of the size slug for a\nVisor GPU droplet (\"H100\", \"MI300X\"), or the name nvidia-smi reported for a\nBYO card (\"NVIDIA GB10\").",
            "type": "string"
          },
          "name": {
            "description": "Name is the HOST MACHINE's display name, not the card's — every card in a\ngpu-h100x8 node repeats it. Model is what says which accelerator this is.",
            "type": "string"
          },
          "provider": {
            "description": "Provider distinguishes a BYO accelerator (\"byo\") from a Visor-provisioned one\n(the host machine's real provider). It is what tells a card the org owns from\na card the org rents.",
            "type": "string"
          },
          "region": {
            "description": "Region is the host machine's provider region slug; \"on-prem\" for a BYO card.",
            "type": "string"
          },
          "status": {
            "description": "Status is the HOST MACHINE's lifecycle state, because nothing upstream\nreports a card's own health. A card reads running because its machine does.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "jobCancel": {
        "properties": {
          "id": {
            "description": "ID is the job (activity) id, from the URL path.",
            "type": "string"
          },
          "reason": {
            "description": "Reason is recorded on the cancellation; empty records \"canceled from console\".",
            "type": "string"
          },
          "run": {
            "description": "Run is the run id; empty defaults to the job id, which is what the dispatcher\nsets (runId == activityId == prompt_id), so the common case sends no body.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "jobCanceled": {
        "properties": {
          "canceled": {
            "description": "Canceled is the job id that was canceled.",
            "type": "string"
          },
          "run": {
            "description": "Run is the run id the cancel was applied to.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "jobList": {
        "properties": {
          "jobs": {
            "description": "Jobs is the queue, most-recent-first. Every LIVE job is present; terminal\nhistory is capped, so a busy org's running work is never crowded out.",
            "items": {
              "$ref": "#/components/schemas/gpuJob"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "machineList": {
        "properties": {
          "machines": {
            "description": "Machines is every machine the org has: Visor-provisioned and BYO together.",
            "items": {
              "$ref": "#/components/schemas/machineView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "machineView": {
        "properties": {
          "agent": {
            "description": "Agent is the cloud Agent this machine runs, lifted out of the binding so a\nlist reads without following one. Empty means nothing is bound — for a\nkind=bot machine that means it costs money and answers nothing.",
            "type": "string"
          },
          "binding": {
            "$ref": "#/components/schemas/agentBinding",
            "description": "Binding is the record joining this machine to that agent, carrying vm's own\nreconciled status and its reason. Absent means no runtime is bound, which is\nalso what a stopped bot looks like: stopping unbinds and leaves the machine\nrunning."
          },
          "createdTime": {
            "description": "CreatedTime is when the machine came into being: the provider's own creation\ntimestamp for a Visor machine, passed through in whatever form it states it,\nand for a BYO machine the RFC 3339 moment it first dialed in.",
            "type": "string"
          },
          "gpu": {
            "description": "GPU names the accelerators this machine holds (\"H100\", or \"2× NVIDIA GB10\"\nfor a BYO machine reporting a matched pair). Empty means the machine is not\na GPU machine — the size slug does not parse as one, or nvidia-smi found\nnothing.",
            "type": "string"
          },
          "id": {
            "description": "ID addresses this machine on the /v1/compute/machines/:id routes: the\norg-scoped NAME Visor keys a machine by, falling back to the provider id for\na machine that has no name. A BYO machine's is the id it dialed in under.",
            "type": "string"
          },
          "image": {
            "description": "Image is the OS image the machine booted from, as the provider names it.",
            "type": "string"
          },
          "mem": {
            "description": "Mem is system RAM rendered for a human (\"8 GB\"), not a number to compute\nwith. Empty when the provider's figure is ambiguous, or when the only figure\navailable is a GPU slug's gb — that is VRAM, and reporting it as system RAM\nwould be a fabrication. A BYO machine's RAM is on /v1/compute/fleet/workers.",
            "type": "string"
          },
          "name": {
            "description": "Name is the label to show a human — Visor's displayName, or the machine name\nwhen it carries none. A BYO machine's is its hostname. It is not an address:\nID is what the routes take.",
            "type": "string"
          },
          "os": {
            "description": "Os is the operating system on the machine — Visor's record for a provisioned\none, the host's own report (linux, darwin, windows) for a BYO one.",
            "type": "string"
          },
          "privateIp": {
            "description": "PrivateIp is the address on the provider's own network, reachable from the\norg's other machines in the same region. Empty on the same terms as PublicIp.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the cloud that runs the machine (\"digitalocean\"), or \"byo\" for\none the operator dialed in with `hanzo link`.",
            "type": "string"
          },
          "publicIp": {
            "description": "PublicIp is the internet-facing address the provider assigned. Empty while a\nmachine is still provisioning, and empty for a BYO machine — it dials out\nfrom behind NAT, so no address is ever learned for it.",
            "type": "string"
          },
          "region": {
            "description": "Region is the provider region slug (\"sfo3\"), or the zone when the provider\nreports only that. \"on-prem\" for a BYO machine, which has no cloud region.",
            "type": "string"
          },
          "status": {
            "description": "Status is the lifecycle state in the PROVIDER's own words (\"active\",\n\"running\", \"off\"), passed through rather than mapped onto a vocabulary of\nours. A BYO machine's is \"online\" or \"offline\", decided by whether its last\nheartbeat is within 90s.",
            "type": "string"
          },
          "type": {
            "description": "Type is the provider SIZE SLUG the machine runs at (\"s-2vcpu-4gb\",\n\"gpu-h100x8-640gb\") — the value a launch asks for, and what Vcpu/Mem/GPU are\nread out of when the provider states them no other way. \"byo-gpu\" for a\ndialed-in machine, which was never bought from a size catalog.",
            "type": "string"
          },
          "vcpu": {
            "description": "Vcpu is logical cores — the provider's own cpuSize when that is a clean\ninteger, else the count read out of the size slug (4 from \"s-4vcpu-8gb\").\nABSENT, never 0, when neither says. A BYO machine leaves it absent here; its\nreal core count is on GET /v1/compute/fleet/workers.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "nodeList": {
        "properties": {
          "nodes": {
            "description": "Nodes is one row per worker node, in the SAME machineView shape the machines\nsurface emits — a node IS a machine.",
            "items": {
              "$ref": "#/components/schemas/machineView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "nodePoolView": {
        "properties": {
          "autoScale": {
            "description": "AutoScale reports whether the provider's cluster autoscaler owns this pool's\nsize, moving Count between MinNodes and MaxNodes as workloads demand. False\nmeans Count changes only when someone scales the pool.",
            "type": "boolean"
          },
          "count": {
            "description": "Count is how many nodes the pool has right now. Always present, so 0 means a\npool that is genuinely empty rather than a figure the provider withheld.",
            "format": "int64",
            "type": "integer"
          },
          "maxNodes": {
            "description": "MaxNodes is the ceiling the autoscaler will not grow the pool past, and so\nthe bound on what this pool can cost. Read it only with AutoScale set.",
            "format": "int64",
            "type": "integer"
          },
          "minNodes": {
            "description": "MinNodes is the floor the autoscaler will not shrink the pool below. Read it\nonly with AutoScale set — the provider ignores it otherwise.",
            "format": "int64",
            "type": "integer"
          },
          "name": {
            "description": "Name is the pool's name as the provider knows it.",
            "type": "string"
          },
          "poolId": {
            "description": "PoolID is the provider's id for the pool — the value the scale and delete\nroutes address it by. It falls back to the pool's name when the provider\nanswered without one, so it is always something the routes accept.",
            "type": "string"
          },
          "size": {
            "description": "Size is the provider size slug every node in the pool runs at\n(\"s-4vcpu-8gb\", \"gpu-h100x8-640gb\"). One pool is one size — a mixed cluster\nis several pools.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "poolCreate": {
        "properties": {
          "autoScale": {
            "description": "AutoScale turns the provider's cluster autoscaler on for this pool.",
            "type": "boolean"
          },
          "clusterId": {
            "description": "ClusterID is the cluster to add the pool to, from the URL path.",
            "type": "string"
          },
          "count": {
            "description": "Count is how many nodes the pool starts with.",
            "format": "int64",
            "type": "integer"
          },
          "maxNodes": {
            "description": "MaxNodes is the ceiling the autoscaler may not grow the pool past, and so the\nbound on what this pool can spend. Ignored unless AutoScale is set.",
            "format": "int64",
            "type": "integer"
          },
          "minNodes": {
            "description": "MinNodes is the floor the autoscaler may not shrink the pool below. Ignored\nunless AutoScale is set.",
            "format": "int64",
            "type": "integer"
          },
          "name": {
            "description": "Name is the pool's name.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the cloud the cluster lives on (e.g. \"digitalocean\"). Required —\nVisor routes the create by it. Accepted from the body or ?provider=.",
            "type": "string"
          },
          "size": {
            "description": "Size is the provider size slug for each node (e.g. \"s-4vcpu-8gb\").",
            "type": "string"
          }
        },
        "type": "object"
      },
      "poolScale": {
        "properties": {
          "clusterId": {
            "description": "ClusterID is the cluster holding the pool, from the URL path.",
            "type": "string"
          },
          "count": {
            "description": "Count is the node count to scale TO — an absolute target, not a delta, and\nnever negative.",
            "format": "int64",
            "type": "integer"
          },
          "poolId": {
            "description": "PoolID is the pool to resize, from the URL path — the `poolId` a cluster read\nreports for it. Required.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the cloud the cluster lives on. Required; body or ?provider=.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "sampleAccepted": {
        "properties": {
          "recorded": {
            "description": "Recorded is always true: the response is an acknowledgement, and the\nwarehouse write is detached, so it reports acceptance, not durability.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "sampleIngest": {
        "properties": {
          "gpuModel": {
            "description": "GPUModel names the representative accelerator (\"GB10\"); GPUs carries how\nmany. A heterogeneous host names its first card rather than inventing a\nsummary.",
            "type": "string"
          },
          "gpuUtil": {
            "description": "GPUUtil is accelerator utilization as a fraction 0..1; the warehouse clamps\nanything outside that.",
            "format": "double",
            "type": "number"
          },
          "gpus": {
            "description": "GPUs is how many accelerators this reading covers.",
            "format": "int64",
            "type": "integer"
          },
          "host": {
            "description": "Host is the node's hostname, for display.",
            "type": "string"
          },
          "memFree": {
            "description": "MemFree is host memory still available, in BYTES.",
            "format": "int64",
            "type": "integer"
          },
          "memUsed": {
            "description": "MemUsed is host memory in use, in BYTES.",
            "format": "int64",
            "type": "integer"
          },
          "unit": {
            "description": "Unit is the reporting node's own id — the same id it registered under, and\nthe key the board joins this series onto. Required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "sampleList": {
        "properties": {
          "samples": {
            "description": "Samples are the readings, OLDEST first — the order a chart plots.",
            "items": {
              "$ref": "#/components/schemas/sampleView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "sampleView": {
        "properties": {
          "at": {
            "description": "At is when the reading was MEASURED, RFC 3339 in UTC — the x-axis a chart\nplots against. The series is returned oldest first, so it only increases.",
            "type": "string"
          },
          "costCents": {
            "description": "CostCents is what this unit resold for over the hour the reading falls in, in\nwhole US cents. 0 means UNPRICED, not free: the operator's own machines — a\nlinked run-target, a dialed-in BYO worker — are metered for utilization and\nnever resold, so only a priced source ever fills it.",
            "format": "int64",
            "type": "integer"
          },
          "cpus": {
            "description": "CPUs is logical cores. The static capability rides every row on purpose: a\nchart can size load against cores without joining a registry whose row may\nsince have been rewritten or the unit deregistered.",
            "format": "int64",
            "type": "integer"
          },
          "gpuModel": {
            "description": "GPUModel names the representative accelerator (\"GB10\"); GPUs carries how many.",
            "type": "string"
          },
          "gpuUtil": {
            "description": "GPUUtil is aggregate accelerator utilization as a FRACTION of 1 — 0.42 is\n42% busy. Anything a reporter sends outside 0..1 is clamped into it on write.",
            "format": "double",
            "type": "number"
          },
          "gpus": {
            "description": "GPUs is how many accelerators the reading covers.",
            "format": "int64",
            "type": "integer"
          },
          "host": {
            "description": "Host is the hostname the unit reported at the time of the reading.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is what the measured unit is: laptop, cloud, gpu, cluster, machine or\nworker.",
            "type": "string"
          },
          "load1": {
            "description": "Load1 is the 1-minute load average — runnable processes, not a percentage.",
            "format": "double",
            "type": "number"
          },
          "load15": {
            "description": "Load15 is the 15-minute load average, the same units as Load1.",
            "format": "double",
            "type": "number"
          },
          "load5": {
            "description": "Load5 is the 5-minute load average, the same units as Load1.",
            "format": "double",
            "type": "number"
          },
          "memFree": {
            "description": "MemFree is host memory available, in BYTES, as reported rather than derived.",
            "format": "int64",
            "type": "integer"
          },
          "memUsed": {
            "description": "MemUsed is host memory in use, in BYTES.",
            "format": "int64",
            "type": "integer"
          },
          "memory": {
            "description": "Memory is total system RAM in BYTES at the time of the reading.",
            "format": "int64",
            "type": "integer"
          },
          "source": {
            "description": "Source is the plane that reported the reading: \"agent\", \"byo\" or \"visor\" —\nthe same vocabulary the board's rows carry, and what ?source= narrows on.",
            "type": "string"
          },
          "unit": {
            "description": "Unit is the source's own id for the measured unit. With Source it is the key\nthe chart groups by, and the key the board joins a unit's latest reading on.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "sourceFailure": {
        "properties": {
          "reason": {
            "description": "Reason is a terse, log-safe summary — never the upstream's response body.",
            "type": "string"
          },
          "source": {
            "description": "Source is the dependency that failed, named as an operator names it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "workerList": {
        "properties": {
          "workers": {
            "description": "Workers is one row per connected BYO machine, each carrying the host's own\nreport (GPUs, driver versions, capabilities) rather than a normalized view.",
            "items": {
              "$ref": "#/components/schemas/byoWorker"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
