{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package treasury is the reserve fund behind every payout: real capital, held and accounted for.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "admin"
    },
    {
      "name": "finance"
    }
  ],
  "paths": {
    "/v1/admin/treasury": {
      "get": {
        "operationId": "get_admin_treasury",
        "summary": "Returns the whole treasury board for a SuperAdmin: the reserve fund report, the recent double-entry journal, and the Hanzo L1 anchor status of the ledger root.",
        "description": "Returns the whole treasury board for a SuperAdmin: the reserve\nfund report, the recent double-entry journal, and the Hanzo L1 anchor status of\nthe ledger root. ?limit= bounds the journal page.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the journal entries returned. Out of range or unparseable takes the default.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adminReportOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/admin/treasury/anchor": {
      "post": {
        "operationId": "post_admin_treasury_anchor",
        "summary": "Commits the current ledger root to Hanzo L1, making the books tamper-evident on chain, and returns the anchoring status.",
        "description": "Commits the current ledger root to Hanzo L1, making the books\ntamper-evident on chain, and returns the anchoring status. When the chain path\nis wired it signs and submits the anchor transaction and records it; when it is\nnot, it returns the root that WOULD be committed plus the exact remaining\nwiring step and records nothing false. A submit that fails still answers 200\nwith the anchor's own status set to \"error\" — the attempt is the product.\nSuperAdmin only.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/anchorOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/admin/treasury/anchor/signer": {
      "put": {
        "operationId": "put_admin_treasury_anchor_signer",
        "summary": "Installs the reserve's threshold MPC wallet as the signer for on-chain anchors, and returns its EVM address so an operator can fund it for gas.",
        "description": "Installs the reserve's threshold MPC wallet as the signer\nfor on-chain anchors, and returns its EVM address so an operator can fund it\nfor gas. It provisions-or-resolves the caller org's treasury wallet on the\ndeployed MPC ring and installs it, so every later anchor commits the ledger\nroot SIGNED BY THE QUORUM WALLET instead of a lone KMS key. Idempotent — a\nrepeat resolves the same wallet, which is why the address is a PUT. SuperAdmin\nonly.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/signerOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/admin/treasury/policy": {
      "post": {
        "operationId": "post_admin_treasury_policy",
        "summary": "Sets the revenue-share basis points a sweep accrues into the reserve fund and returns the stored policy.",
        "description": "Sets the revenue-share basis points a sweep accrues into the\nreserve fund and returns the stored policy. 0–10000; the change is audited.\nSuperAdmin only.",
        "tags": [
          "admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "revenueShareBps": 2000
              },
              "schema": {
                "$ref": "#/components/schemas/policyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/policyOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/admin/treasury/seed": {
      "post": {
        "operationId": "post_admin_treasury_seed",
        "summary": "Injects bootstrap capital into the reserve fund so backed payouts can begin before the first revenue-share sweep, and returns the journal entry it wrote.",
        "description": "Injects bootstrap capital into the reserve fund so backed payouts\ncan begin before the first revenue-share sweep, and returns the journal entry\nit wrote. A repeat of the same ref is at-most-once and reports created=false.\nSuperAdmin only.",
        "tags": [
          "admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "amountCents": 500000,
                "memo": "founding capital",
                "ref": "seed:2026-q3"
              },
              "schema": {
                "$ref": "#/components/schemas/seedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/seedOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/admin/treasury/sweep": {
      "post": {
        "operationId": "post_admin_treasury_sweep",
        "summary": "Posts the revenue-share accrual for one period — revenue into the reserve fund, at the current policy's basis points — and returns what it moved.",
        "description": "Posts the revenue-share accrual for one period — revenue into the\nreserve fund, at the current policy's basis points — and returns what it moved.\nIt is idempotent per period: a re-run of a period already swept accrues nothing\nand reports created=false. SuperAdmin only.",
        "tags": [
          "admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "period": "2026-07",
                "revenueCents": 100000
              },
              "schema": {
                "$ref": "#/components/schemas/sweepRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sweepOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/finance/accounts": {
      "get": {
        "operationId": "get_finance_accounts",
        "summary": "Returns the ledger accounts the caller may see, with their balances.",
        "description": "Returns the ledger accounts the caller may see, with their\nbalances. It is tenant-isolated SERVER-SIDE: an ordinary caller sees ONLY\naccounts under its own \"org:\u003ctenant\u003e:\" prefix, never house accounts and never\nanother tenant's. A SuperAdmin may widen with ?scope=house (the reserve,\nrevenue and payout house accounts) or ?org=\u003ctenant\u003e — the only way to cross the\ntenant boundary, and only for platform sudo. The answer is honestly empty until\na tenant has ledger postings.",
        "tags": [
          "finance"
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Scope is \"house\" to read the reserve/revenue/payout house accounts. SuperAdmin only.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org names another tenant to read. SuperAdmin only; ignored when scope=house.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountsOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/finance/treasury": {
      "get": {
        "operationId": "get_finance_treasury",
        "summary": "Returns the reserve fund's health and the current revenue-share policy for any validated caller.",
        "description": "Returns the reserve fund's health and the current revenue-share\npolicy for any validated caller. It is a TRANSPARENCY view — a partner or\nauthor can see that the pool backing their payouts is solvent — and NOT per-org\nmoney, which is the customer's own commerce balance at /v1/billing/balance. The\npolicy is read-only here; only a SuperAdmin sets it.",
        "tags": [
          "finance"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TreasuryReport"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JournalEntry": {
        "properties": {
          "amount": {
            "description": "the entry's magnitude (display; postings hold the signed truth)"
          },
          "createdAt": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "memo": {
            "type": "string"
          },
          "postings": {
            "items": {
              "$ref": "#/components/schemas/Posting"
            },
            "type": "array"
          },
          "program": {
            "description": "referral|affiliate|author for payouts; \"\" otherwise",
            "type": "string"
          },
          "ref": {
            "description": "idempotency ref (unique within Kind+Program)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Posting": {
        "properties": {
          "account": {
            "type": "string"
          },
          "amount": {
            "description": "signed 18-decimal USD (1e-18); Σ over an entry == 0"
          }
        },
        "type": "object"
      },
      "SharePolicy": {
        "properties": {
          "revenueShareBps": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "TreasuryReport": {
        "properties": {
          "accruedCents": {
            "description": "lifetime revenue-share into the fund",
            "type": "integer"
          },
          "byProgramCents": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "program → lifetime paid",
            "type": "object"
          },
          "paidCents": {
            "description": "lifetime backed payouts out of the fund",
            "type": "integer"
          },
          "policy": {
            "$ref": "#/components/schemas/SharePolicy",
            "description": "current revenue-share policy"
          },
          "reserveCents": {
            "description": "fund:reserve balance (available now)",
            "type": "integer"
          },
          "solventForPayout": {
            "description": "reserve \u003e 0: at least some payout is backable",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "accountView": {
        "properties": {
          "address": {
            "description": "Address is the ledger account address (\"org:acme:wallet\", \"fund:reserve\", …).",
            "type": "string"
          },
          "balanceCents": {
            "description": "BalanceCents is that account's signed balance in minor units.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "accountsOut": {
        "properties": {
          "accounts": {
            "description": "Accounts are the ledger accounts in scope with their balances.",
            "items": {
              "$ref": "#/components/schemas/accountView"
            },
            "type": "array"
          },
          "scope": {
            "description": "Scope is the scope actually served: \"org\" or \"house\".",
            "type": "string"
          },
          "tenant": {
            "description": "Tenant is the org whose accounts these are (empty for the house scope's own rows).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "adminReportData": {
        "properties": {
          "anchor": {
            "$ref": "#/components/schemas/anchorStatus",
            "description": "Anchor is the Hanzo L1 anchoring status of the ledger root."
          },
          "journal": {
            "description": "Journal is the recent double-entry entries, newest first.",
            "items": {
              "$ref": "#/components/schemas/JournalEntry"
            },
            "type": "array"
          },
          "report": {
            "$ref": "#/components/schemas/TreasuryReport",
            "description": "Report is the reserve-fund snapshot — available, accrued, paid, per-program, policy."
          }
        },
        "type": "object"
      },
      "adminReportOut": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/adminReportData",
            "description": "Data is the treasury board."
          },
          "msg": {
            "description": "Msg carries an operator-facing note; empty on success.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" on success; the transport maps a non-ok envelope to an error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "anchorData": {
        "properties": {
          "anchor": {
            "$ref": "#/components/schemas/anchorStatus",
            "description": "Anchor is the Hanzo L1 anchoring status of the ledger root after this call."
          }
        },
        "type": "object"
      },
      "anchorOut": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/anchorData",
            "description": "Data is the anchoring status."
          },
          "msg": {
            "description": "Msg carries an operator-facing note; empty on success.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" on success. A submit that failed still answers ok with the\nanchor's own status set to \"error\" — the attempt is the product.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "anchorStatus": {
        "properties": {
          "chainId": {
            "type": "integer"
          },
          "contract": {
            "type": "string"
          },
          "currentRoot": {
            "description": "0x… root of the journal as it stands now",
            "type": "string"
          },
          "entryCount": {
            "type": "integer"
          },
          "lastAt": {
            "type": "integer"
          },
          "lastBlock": {
            "type": "integer"
          },
          "lastRoot": {
            "description": "The last committed on-chain anchor (nil-fields until the first successful submit).",
            "type": "string"
          },
          "lastTxHash": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "rpcConfigured": {
            "type": "boolean"
          },
          "signerConfigured": {
            "type": "boolean"
          },
          "status": {
            "description": "pending | anchored | error",
            "type": "string"
          },
          "synced": {
            "description": "true when the last anchored root == the current root",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "policyData": {
        "properties": {
          "policy": {
            "$ref": "#/components/schemas/SharePolicy",
            "description": "Policy is the revenue-share configuration as stored."
          }
        },
        "type": "object"
      },
      "policyOut": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/policyData",
            "description": "Data is the stored policy."
          },
          "msg": {
            "description": "Msg carries an operator-facing note; empty on success.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" on success.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "policyRequest": {
        "properties": {
          "revenueShareBps": {
            "description": "RevenueShareBps is the share of net platform revenue a sweep accrues into the\nreserve fund, in basis points. 0–10000; 2000 (20%) is the platform default.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "seedData": {
        "properties": {
          "created": {
            "description": "Created is false when this ref had already been seeded — the injection is at-most-once.",
            "type": "boolean"
          },
          "entry": {
            "$ref": "#/components/schemas/JournalEntry",
            "description": "Entry is the journal entry the injection wrote."
          },
          "reserveCents": {
            "description": "ReserveCents is the fund balance after the injection.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "seedOut": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/seedData",
            "description": "Data is the injection result."
          },
          "msg": {
            "description": "Msg carries an operator-facing note; empty on success.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" on success.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "seedRequest": {
        "properties": {
          "amountCents": {
            "description": "AmountCents is the capital to inject, in minor units. Must be \u003e 0.",
            "type": "integer"
          },
          "memo": {
            "description": "Memo is the operator's note on the entry. Empty takes \"reserve capital injection\".",
            "type": "string"
          },
          "ref": {
            "description": "Ref is an idempotency key. Without one each seed is a distinct injection.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "signerData": {
        "properties": {
          "boundAnchorSigner": {
            "description": "BoundAnchorSigner is the EVM address now signing anchors. Fund it for gas.",
            "type": "string"
          },
          "chainId": {
            "description": "ChainID is the EVM chain the signer is bound for.",
            "type": "integer"
          },
          "org": {
            "description": "Org is the org whose treasury wallet was resolved.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "signerOut": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/signerData",
            "description": "Data is the bound signer."
          },
          "msg": {
            "description": "Msg carries an operator-facing note; empty on success.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" on success.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "sweepData": {
        "properties": {
          "accruedCents": {
            "description": "AccruedCents is the amount moved into the reserve fund.",
            "type": "integer"
          },
          "created": {
            "description": "Created is false when this period had already been swept — the accrual is idempotent.",
            "type": "boolean"
          },
          "period": {
            "description": "Period is the period actually accrued.",
            "type": "string"
          },
          "reserveCents": {
            "description": "ReserveCents is the fund balance after the accrual.",
            "type": "integer"
          },
          "revenueCents": {
            "description": "RevenueCents is the revenue the share was computed from.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sweepOut": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/sweepData",
            "description": "Data is the accrual result."
          },
          "msg": {
            "description": "Msg carries an operator-facing note; empty on success.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" on success.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "sweepRequest": {
        "properties": {
          "period": {
            "description": "Period is the accrual period as YYYY-MM. Empty takes the current UTC month.",
            "type": "string"
          },
          "revenueCents": {
            "description": "RevenueCents is the net platform revenue measured for the period, in minor units. Must be \u003e= 0.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}
