{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package market is what trades on each chain, and how far the read of it got.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "market"
    }
  ],
  "paths": {
    "/v1/market/chains": {
      "get": {
        "operationId": "get_market_chains",
        "summary": "Answers every chain this deployment can read, what is deployed on each, and what its automated market maker amounts to.",
        "description": "Answers every chain this deployment can read, what is deployed on each, and what\nits automated market maker amounts to.\n\nOne call. It reads the chain registry, then every chain's indexer for its figures\nand its most recent active day, all at once — where a client doing it itself makes\none registry request and two more per chain.\n\nTHE ROW IS THE UNIT OF TRUTH. Each carries its own reach, so one indexer being\nunreachable costs one row its figures and leaves the rest answered. A chain with no\nmarket maker deployed — the registry names no factory for it — answers `read` with\ntotals of nothing, which is a fact about that chain and is not the same as a chain\nnobody could ask.",
        "tags": [
          "market"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Roster"
                }
              }
            },
            "description": "ok"
          }
        },
        "security": [],
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/market/pools": {
      "get": {
        "operationId": "get_market_pools",
        "summary": "Answers the automated market makers on one chain: their two tokens, their fee tier, and what has moved through each.",
        "description": "Answers the automated market makers on one chain: their two tokens, their fee tier,\nand what has moved through each.\n\nThe two price fields on a pool are the ratio its own reserves stand at, as the\nindexer computed them. They are not a price ON either token and not a mark: nothing\nhere derives one, ranks the pools, or names a route through them.\n\nA chain with no market maker deployed answers `read` with no pools. That is the\nchain's real condition, and it is deliberately not the same answer as an indexer\nthat could not be asked.",
        "tags": [
          "market"
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "description": "Chain is the chain's slug — `cchain`, `zoo` — as `chains` reports it. It is\nthe indexer's word for the chain and NOT the chain id: `96369`, `C` and\n`c-chain` all name nothing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pools"
                }
              }
            },
            "description": "ok"
          }
        },
        "security": [],
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/market/survey": {
      "get": {
        "operationId": "get_market_survey",
        "summary": "Answers which of the four settlement precompiles carry code on one chain.",
        "description": "Answers which of the four settlement precompiles carry code on one chain.\n\nAn address with no code answers a call with empty data rather than an error, so\n\"this chain has no view precompile\" and \"this market was never opened\" reach a\ncaller as the same silence — and only the second is a fact about a market. This\nsays which it is, by asking the node for the code at each address.\n\nIt reads presence and nothing else. No market, no quote, no depth and no order is\nrequested here, and `eth_getCode` is the only method this operation ever sends.",
        "tags": [
          "market"
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "description": "Chain is the chain's slug — `cchain`, `zoo` — as `chains` reports it. It is\nthe indexer's word for the chain and NOT the chain id: `96369`, `C` and\n`c-chain` all name nothing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Survey"
                }
              }
            },
            "description": "ok"
          }
        },
        "security": [],
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/market/token": {
      "get": {
        "operationId": "get_market_token",
        "summary": "Answers one token's daily history — open, high, low, close, price and volume per UTC day, oldest first.",
        "description": "Answers one token's daily history — open, high, low, close, price and volume per\nUTC day, oldest first.\n\nEvery figure is the indexer's own arithmetic, passed through as the decimal string\nit computed. Nothing here rounds one, converts one, or fills a gap: a day the\nindexer holds no figure for arrives with that field absent, which says \"not\nindexed\" where a zero would say \"worth nothing\".",
        "tags": [
          "market"
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "description": "At is the token's contract address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/History"
                }
              }
            },
            "description": "ok"
          }
        },
        "security": [],
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/market/tokens": {
      "get": {
        "operationId": "get_market_tokens",
        "summary": "Answers the tokens one chain's indexer has seen, with the decimals a caller needs to read any amount of one correctly.",
        "description": "Answers the tokens one chain's indexer has seen, with the decimals a caller needs\nto read any amount of one correctly.\n\nThis is what the indexer INGESTED, which is not the same as what exists on the\nchain: a token nothing has traded has no row here, and this is not a registry of\nwhat is permitted or listed.",
        "tags": [
          "market"
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "description": "Chain is the chain's slug — `cchain`, `zoo` — as `chains` reports it. It is\nthe indexer's word for the chain and NOT the chain id: `96369`, `C` and\n`c-chain` all name nothing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tokens"
                }
              }
            },
            "description": "ok"
          }
        },
        "security": [],
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "Day": {
        "properties": {
          "close": {
            "type": "string"
          },
          "count": {
            "description": "Count is transactions in the day, where the table keeps one.",
            "type": "integer"
          },
          "date": {
            "description": "Date is the day's start, unix seconds.",
            "type": "integer"
          },
          "high": {
            "type": "string"
          },
          "locked": {
            "type": "string"
          },
          "low": {
            "type": "string"
          },
          "open": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "volume": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Figures": {
        "properties": {
          "count": {
            "type": "integer"
          },
          "locked": {
            "type": "string"
          },
          "pools": {
            "type": "integer"
          },
          "volume": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "History": {
        "properties": {
          "at": {
            "description": "At is the token this is the history of, lowercased.",
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "days": {
            "description": "Days is oldest first, which is the order a chart draws. `[]` for a token the\nindexer holds no day for, `null` where the read failed.",
            "items": {
              "$ref": "#/components/schemas/Day"
            },
            "type": "array"
          },
          "reach": {
            "$ref": "#/components/schemas/Reach"
          }
        },
        "type": "object"
      },
      "Market": {
        "properties": {
          "amm": {
            "description": "Amm reports whether an automated market maker is deployed on this chain,\nwhich is the registry's factory addresses being present and not the indexer\nhaving rows. The two disagree in exactly the interesting case: a chain with a\nfactory and nothing traded yet is a live venue with no history, and a chain\nwith neither has no venue at all.",
            "type": "boolean"
          },
          "coin": {
            "type": "string"
          },
          "day": {
            "$ref": "#/components/schemas/Day"
          },
          "factory": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Factory is the AMM's factory contracts, by generation, omitted where none is\ndeployed. Addresses come from the registry because that is what the indexer\nitself ingested from; anything else is a second copy free to drift.",
            "type": "object"
          },
          "figures": {
            "$ref": "#/components/schemas/Figures",
            "description": "Figures is the chain's whole market maker, and Day its most recent active one.\nBoth are absent unless Reach says Read, so a caller cannot mistake a zero this\nprocess never received for one the indexer computed. Day is also absent on a\nchain that has never traded — which reach reports as Read, so the two absences\nare told apart by the state beside them and never by the gap itself."
          },
          "graph": {
            "description": "Graph is where this chain's indexer answers, empty where it has none.",
            "type": "string"
          },
          "id": {
            "description": "ID is the EVM chain id, which is what a wallet must agree with.",
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "reach": {
            "$ref": "#/components/schemas/Reach",
            "description": "Reach is how far the read of this chain's FIGURES got — its own, so one\nindexer being down describes one row and leaves the others to answer."
          },
          "rpc": {
            "description": "RPC is the chain's PUBLIC JSON-RPC, empty where the registry names only a\nroute this process happens to have. The registry's own `rpc` field is the\nINDEXER's route to the node and is sometimes inside its cluster — plain HTTP\non a `.svc.cluster.local` name — which is reachable from the indexer, from\nnothing else, and from no browser. Publishing that as the chain's endpoint\nhands every caller an address that cannot answer them. See [endpoint].",
            "type": "string"
          },
          "slug": {
            "description": "Slug is the chain's word in every indexer path — `cchain`, `zoo`. It is the\nvalue a caller passes back as `chain`, and it is NOT the chain id: `96369`,\n`C` and `c-chain` all answer 404 in that position.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Pool": {
        "properties": {
          "at": {
            "description": "At is the pool contract's address, lowercase.",
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "fee": {
            "description": "Fee is the pool's tier in hundredths of a basis point — 3000 is 0.3%. It is\nthe integer the contract stores, unconverted, so nothing here rounds a rate.",
            "type": "integer"
          },
          "locked": {
            "type": "string"
          },
          "token0": {
            "$ref": "#/components/schemas/Token"
          },
          "token0Price": {
            "description": "Token0Price is token1 per token0, and Token1Price its reciprocal, both as the\nindexer computed them. Neither is a price ON anything: it is the ratio the\npool's reserves stand at.",
            "type": "string"
          },
          "token1": {
            "$ref": "#/components/schemas/Token"
          },
          "token1Price": {
            "type": "string"
          },
          "volume": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Pools": {
        "properties": {
          "chain": {
            "type": "string"
          },
          "pools": {
            "description": "Pools is `[]` where the chain has none and `null` where the read failed.\n\nThe two are different sentences and the wire says which: an empty ARRAY is the\nindexer answering that nothing is deployed there, and `null` is nobody having\nanswered. `omitempty` would collapse both to an absent key — which is the\nexact flattening the reach beside it exists to prevent, reintroduced one\nstruct tag lower down.",
            "items": {
              "$ref": "#/components/schemas/Pool"
            },
            "type": "array"
          },
          "reach": {
            "$ref": "#/components/schemas/Reach"
          }
        },
        "type": "object"
      },
      "Precompile": {
        "properties": {
          "at": {
            "type": "string"
          },
          "code": {
            "description": "Code is whether the address carries any. False is an ANSWER — the node\nreplied and there is nothing deployed there — and is not the same as the read\nhaving failed, which the enclosing Reach reports instead.",
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Reach": {
        "properties": {
          "at": {
            "description": "At is `read`, `unconfigured`, `unreachable` or `refused`.\n\nThe four values are written out here because this document cannot carry an\nenum, so the description IS the contract a client reads. Spelling the Go\nconstant names instead would name four identifiers no caller can see.",
            "type": "string"
          },
          "why": {
            "description": "Why is the upstream's own words, on Unreachable and Refused, and empty\notherwise. It is the upstream's and not ours: a failure reported without its\nreason sends the reader to look at the venue, which is the one place the fault\nis not.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Roster": {
        "properties": {
          "chains": {
            "description": "Chains is `[]` where the registry answered and named none, and `null` where\nit did not answer — never absent, because a missing key and an empty list\nread alike and only one of them means \"there are none\". Each row carries its\nOWN reach for its figures, so a chain whose indexer is down is one row\nsaying so.",
            "items": {
              "$ref": "#/components/schemas/Market"
            },
            "type": "array"
          },
          "reach": {
            "$ref": "#/components/schemas/Reach",
            "description": "Reach is how far the read of the REGISTRY got. It governs the list: a\nregistry that did not answer yields no rows, and the reason it did not is\nhere rather than in an empty array a caller would read as \"no chains exist\"."
          }
        },
        "type": "object"
      },
      "Survey": {
        "properties": {
          "carries": {
            "description": "Carries is all four where the node answered and `null` where it did not. It is\nnever a short list: a partial read reporting three would let a reader count\nthem and conclude the chain is missing one.",
            "items": {
              "$ref": "#/components/schemas/Precompile"
            },
            "type": "array"
          },
          "chain": {
            "type": "string"
          },
          "reach": {
            "$ref": "#/components/schemas/Reach"
          },
          "rpc": {
            "description": "RPC is the endpoint that was asked, so an answer names where it came from.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Token": {
        "properties": {
          "at": {
            "description": "At is the token's contract address, lowercase.",
            "type": "string"
          },
          "decimals": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Tokens": {
        "properties": {
          "chain": {
            "type": "string"
          },
          "reach": {
            "$ref": "#/components/schemas/Reach"
          },
          "tokens": {
            "description": "Tokens is `[]` where the indexer holds none and `null` where the read failed.",
            "items": {
              "$ref": "#/components/schemas/Token"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
