{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package experiments is A/B testing anything: a flag, an ad, a subject line, a model.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "experiment"
    }
  ],
  "paths": {
    "/v1/experiment": {
      "get": {
        "operationId": "get_experiment",
        "summary": "Is every experiment in the caller's org, with its variants, status and decision, ordered by project then id.",
        "description": "Is every experiment in the caller's org, with its variants, status and\ndecision, ordered by project then id.\n\nScoped to the org resolved from the validated principal — a distinct org is a\ndistinct physical store, so no query here can reach another tenant's rows — and\nfurther narrowed to the caller's project scope when the credential carries one.\nA principal with NO project scope sees the org's experiments across all of its\nprojects, which is the answer a reader most often expects to be filtered and is\nnot.\n\nRequires a validated principal; refuses without one rather than answering an\nempty list.",
        "tags": [
          "experiment"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/experimentList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_experiment",
        "summary": "Registers a controlled experiment AND puts its assignment flag live, in that order, so the arms start bucketing subjects the moment this returns 201 — the flag is created active at 100% rollout, with each variant weighted as declared.",
        "description": "Registers a controlled experiment AND puts its assignment flag live, in\nthat order, so the arms start bucketing subjects the moment this returns 201 —\nthe flag is created active at 100% rollout, with each variant weighted as\ndeclared. There is no separate start call; creating IS starting.\n\nA variant carries an opaque payload this primitive never interprets: a feature\nconfig, an ad-creative id, a subject line, a model id.\n\nRequires a validated principal, and refuses without one. The org and project are\ntaken from that principal and the creator is stamped from the credential — none\nof the three is a body field, so an experiment cannot be filed against another\ntenant. An id already used in this project is a conflict, never a silent\noverwrite: re-creating would stomp the assignment flag of a run in progress.\n\nIt fails closed on the flag write. An experiment whose assignment flag does not\nexist would assign nobody, so if that write fails nothing is registered.",
        "tags": [
          "experiment"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trial"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/experiment/health": {
      "get": {
        "operationId": "get_experiment_health",
        "summary": "Is whether the experiments subsystem is mounted and serving in this process.",
        "description": "Is whether the experiments subsystem is mounted and serving in this\nprocess.\n\nIt answers unconditionally. It proves exactly one thing — that this binary\nregistered the experiments routes and is dispatching them — and deliberately no\nmore: it reads no principal, opens no per-org registry, and touches neither the\nflags engine nor the analytics plane, so a 200 here says nothing about whether a\ngiven tenant's store will open or whether an analysis can run. It is the only\nroute on this surface that needs no org.\n\nThe static path is registered ahead of the /:id read, so it always wins the\nfirst-match scan. \"health\" is a legal experiment id, which means an experiment\ncreated under that id can never be fetched by id — pick another.",
        "tags": [
          "experiment"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/health"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/experiment/{id}": {
      "get": {
        "operationId": "get_experiment_by_id",
        "summary": "Is one experiment's definition and lifecycle: variants, weights, control arm, status and winner.",
        "description": "Is one experiment's definition and lifecycle: variants, weights, control\narm, status and winner.\n\nIt reads the registry row only — the definition and the decision, never live\nmeasurements. Assignment lives in the flags plane and outcomes in analytics;\nthis is the value that names both.\n\nScoped to the caller's org and project from the validated principal, so another\ntenant's experiment of the same id is simply not found. An id that is not a\nlegal slug is answered the same way, without a store read — the shape check and\nthe existence check are one answer, so neither leaks the other.",
        "tags": [
          "experiment"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the experiment the URL names.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trial"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/experiment/{id}/analyze": {
      "post": {
        "operationId": "post_experiment_by_id_analyze",
        "summary": "Is per-variant conversion, lift and statistical significance against the control arm.",
        "description": "Is per-variant conversion, lift and statistical significance against\nthe control arm.\n\nIt reads per-subject outcomes from the analytics plane over a window, folds them\ninto per-variant samples, and returns each arm's exposed count, conversions,\nrate, lift versus control, two-proportion z, two-tailed p-value and whether it\nclears alpha. Arms with no data still appear with zero exposed, so the read is\ncomplete over the experiment's declared arms; the control arm sorts first. The\npooled-variance estimator is used and the p-value is exact; a degenerate\ncomparison (an empty arm, no variance) answers z 0 and p 1 — not significant,\nnever an error.\n\nOnly EXPOSED subjects are counted, and each is joined to its arm by re-evaluating\nthe assignment flag AT ANALYSIS TIME — not from what was in force during the\nwindow. That is the one rule to get right: analyzing an experiment after its\nwinner has been promoted re-buckets every subject into the promoted arm,\ncollapsing the control to zero exposed and making the result meaningless. Read\nthe analysis before deciding. A subject the flag cannot place is dropped rather\nthan allowed to poison the fold.\n\nThe winner in the response is ADVISORY — the significant, control-beating arm\nwith the highest rate, or empty when inconclusive. It promotes nothing; the\ndecision is a separate, explicit act.\n\nEvery plane read is scoped to the caller's org. Per-variant samples are also\nwritten to the research evidence plane as immutable ab rows, best-effort: the\nanalysis is still returned if that write fails, because the samples are\nrecomputable, and the failure is logged rather than swallowed.",
        "tags": [
          "experiment"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the experiment the URL names.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/analyzeQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analysis"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/experiment/{id}/assign": {
      "get": {
        "operationId": "get_experiment_by_id_assign",
        "summary": "Is the variant one subject is bucketed into, and the payload that variant carries.",
        "description": "Is the variant one subject is bucketed into, and the payload that\nvariant carries.\n\nThe bucketing is a deterministic hash of the subject, so the same subject gets\nthe same arm on every call for as long as the flag definition is unchanged —\nand this is a pure READ: it records nothing. In particular it does NOT record an\nexposure. The caller's SDK must emit the experiment's exposure event itself, or\nthe analysis has an empty denominator and every arm measures zero.\n\nAn empty variant with on false is not an error — it means the flag returned\nnothing for this subject, so the subject is not enrolled. A flags engine that is\nunavailable refuses rather than defaulting to an arm. Requires a validated\nprincipal, and the experiment must exist in the caller's org and project.",
        "tags": [
          "experiment"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the experiment the URL names.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "required": true,
            "description": "Subject is the unit to bucket — a user, org, session or audience key,\nmatching the experiment's subjectKind.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "props",
            "in": "query",
            "required": false,
            "description": "Props is a JSON object of person properties for targeting. A value that is\nnot valid JSON is dropped rather than refused, so a malformed one changes\nthe bucketing without saying so.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assignment"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/experiment/{id}/decide": {
      "post": {
        "operationId": "post_experiment_by_id_decide",
        "summary": "Promotes one variant to the whole rollout and records who decided.",
        "description": "Promotes one variant to the whole rollout and records who decided.\n\nIt rewrites the assignment flag so the named winner serves 100% of the rollout\nand every other arm 0%, preserving the flag's targeting groups and payloads,\nthen stamps the experiment decided with the winner, the deciding credential and\nthe time. This is a production behaviour change that takes effect immediately\nfor every subject the flag evaluates.\n\nIt requires an ORG ADMIN of the caller's own org — a stricter gate than the rest\nof this surface, matching the flags write plane, because promoting is a flag\nwrite. The admin check runs AFTER the experiment is found, so a caller from\nanother tenant is answered not-found rather than forbidden and learns nothing\nabout what exists.\n\nAn experiment whose assignment flag has gone missing is a conflict rather than a\nsilent no-op — there is nothing to promote.\n\nDeciding is NOT terminal. A second call re-promotes a different variant and\nre-stamps the row; the status stays decided and the previous winner is\noverwritten with no record that it was ever chosen. Nothing here reverts the\nflag to its original weights either, so an experiment cannot be un-decided\nthrough this route — restoring a split means writing the flag definition back\nthrough the flags plane.",
        "tags": [
          "experiment"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/decideBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trial"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "Analysis": {
        "properties": {
          "alpha": {
            "description": "the two-tailed threshold significance was judged at",
            "type": "number"
          },
          "experiment": {
            "description": "the experiment that was analysed",
            "type": "string"
          },
          "exposedTotal": {
            "description": "subjects enrolled across every arm",
            "type": "integer"
          },
          "metric": {
            "description": "the event a conversion is counted from",
            "type": "string"
          },
          "results": {
            "description": "one row per declared arm, control first",
            "items": {
              "$ref": "#/components/schemas/Outcome"
            },
            "type": "array"
          },
          "winner": {
            "description": "ADVISORY: the significant, control-beating arm with the highest rate, else empty",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Arm": {
        "properties": {
          "control": {
            "description": "true on the baseline arm every other arm is compared to",
            "type": "boolean"
          },
          "key": {
            "description": "the arm's slug, unique within the experiment",
            "type": "string"
          },
          "payload": {
            "description": "opaque JSON the arm carries, which the consumer interprets"
          },
          "weight": {
            "description": "its share of the rollout; the arms sum to 100",
            "type": "number"
          }
        },
        "type": "object"
      },
      "Outcome": {
        "properties": {
          "control": {
            "description": "true on the baseline arm; its own lift and stats are zero",
            "type": "boolean"
          },
          "converted": {
            "description": "of those, how many fired the metric event",
            "type": "integer"
          },
          "exposed": {
            "description": "subjects the arm enrolled — the denominator",
            "type": "integer"
          },
          "lift": {
            "description": "relative to control: (rate-ctrl)/ctrl",
            "type": "number"
          },
          "pValue": {
            "description": "two-tailed p vs control",
            "type": "number"
          },
          "rate": {
            "description": "converted over exposed",
            "type": "number"
          },
          "significant": {
            "description": "pValue \u003c alpha",
            "type": "boolean"
          },
          "variant": {
            "description": "the arm this row measures",
            "type": "string"
          },
          "z": {
            "description": "two-proportion z vs control",
            "type": "number"
          }
        },
        "type": "object"
      },
      "Trial": {
        "properties": {
          "createdAt": {
            "description": "when it started assigning",
            "type": "string"
          },
          "createdBy": {
            "description": "the credential that registered it",
            "type": "string"
          },
          "decidedAt": {
            "description": "when the promotion took effect",
            "type": "string"
          },
          "decidedBy": {
            "description": "the credential that promoted the winner",
            "type": "string"
          },
          "exposureEvent": {
            "description": "the event that enrols a subject — the analysis denominator",
            "type": "string"
          },
          "flagKey": {
            "description": "the assignment flag this experiment drives",
            "type": "string"
          },
          "id": {
            "description": "the experiment's slug, unique within the project",
            "type": "string"
          },
          "metricEvent": {
            "description": "the event that counts as a conversion — the numerator",
            "type": "string"
          },
          "name": {
            "description": "free text for a reader",
            "type": "string"
          },
          "project": {
            "description": "the sub-scope within the org, stamped from the principal",
            "type": "string"
          },
          "status": {
            "description": "running while it assigns and measures, decided once a winner is promoted",
            "type": "string"
          },
          "subjectKind": {
            "description": "the unit assigned and measured: user, org, session or audience",
            "type": "string"
          },
          "variants": {
            "description": "the arms, weighted, one of them the control",
            "items": {
              "$ref": "#/components/schemas/Arm"
            },
            "type": "array"
          },
          "winner": {
            "description": "the arm promoted to the whole rollout",
            "type": "string"
          }
        },
        "type": "object"
      },
      "analyzeQuery": {
        "properties": {
          "alpha": {
            "description": "Alpha overrides the 0.05 two-tailed significance threshold when it lies\nstrictly between 0 and 1; anything else leaves the default in place.",
            "type": "number"
          },
          "days": {
            "description": "Days is how far back to read when no start is given: 1 to 365, 30 by\ndefault. A value outside that range leaves the default in place.",
            "type": "integer"
          },
          "end": {
            "description": "End is the window's exclusive end in RFC3339, defaulting to now.",
            "type": "string"
          },
          "id": {
            "description": "ID is the experiment the URL names.",
            "type": "string"
          },
          "start": {
            "description": "Start is the window's inclusive start in RFC3339. Given, it wins over days.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "assignment": {
        "properties": {
          "experiment": {
            "description": "Trial is the experiment that was evaluated.",
            "type": "string"
          },
          "on": {
            "description": "On is false when the flag returned nothing for this subject, which means the\nsubject is not enrolled — not an error.",
            "type": "boolean"
          },
          "payload": {
            "description": "Payload is the opaque JSON the winning arm carries, which the caller\ninterprets: a feature config, an ad-creative id, a subject line, a model id."
          },
          "subject": {
            "description": "Subject is the unit that was bucketed.",
            "type": "string"
          },
          "variant": {
            "description": "Arm is the arm the subject falls in, empty when the flag enrolled it in\nnone.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "createBody": {
        "properties": {
          "exposureEvent": {
            "description": "ExposureEvent is the event that marks a subject as enrolled — the analysis\ndenominator — defaulting to the SDK's $feature_flag_called marker.",
            "type": "string"
          },
          "flagKey": {
            "description": "FlagKey names the assignment flag this experiment writes, defaulting to\nexp_\u003cid\u003e. It must be a slug.",
            "type": "string"
          },
          "id": {
            "description": "ID is the experiment's slug, claimed once per project. It must match\n[A-Za-z0-9][A-Za-z0-9._-]{0,127}.",
            "type": "string"
          },
          "metricEvent": {
            "description": "MetricEvent is the event that counts as a conversion — the analysis\nnumerator.",
            "type": "string"
          },
          "name": {
            "description": "Name is free text for a reader; the id is what addresses the experiment.",
            "type": "string"
          },
          "subjectKind": {
            "description": "SubjectKind is the unit assigned and measured: user (the default), org,\nsession or audience.",
            "type": "string"
          },
          "variants": {
            "description": "Arms are the arms, at least two. Weights that are all zero become an\neven split; otherwise they must sum to 100, and at most one arm may be\nflagged control.",
            "items": {
              "$ref": "#/components/schemas/Arm"
            },
            "type": "array"
          }
        },
        "required": [
          "id",
          "metricEvent",
          "variants"
        ],
        "type": "object"
      },
      "decideBody": {
        "properties": {
          "winner": {
            "description": "Winner is the variant to promote. It must name one of this experiment's own\narms.",
            "type": "string"
          }
        },
        "required": [
          "winner"
        ],
        "type": "object"
      },
      "experimentList": {
        "properties": {
          "data": {
            "description": "Data is the org's experiments, ordered by project then id.",
            "items": {
              "$ref": "#/components/schemas/Trial"
            },
            "type": "array"
          },
          "total": {
            "description": "Total is how many rows Data holds.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "health": {
        "properties": {
          "ok": {
            "description": "OK is true whenever this route answers at all: reaching the handler IS the\nproof that the routes are registered and dispatching.",
            "type": "boolean"
          },
          "subsystem": {
            "description": "Subsystem names what answered, so a health response read out of context still\nsays which surface it came from.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
