{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package blueprint is what a template costs to run, worked out before you deploy.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "blueprint"
    }
  ],
  "paths": {
    "/v1/blueprint": {
      "get": {
        "operationId": "get_v1_blueprint",
        "summary": "Returns every deployable blueprint with its service count and estimated monthly compute cost.",
        "description": "Returns every deployable blueprint with its service count and estimated\nmonthly compute cost.\n\nIt is the lightweight index the console renders as a template gallery before\ndrilling into one stack's bill of images — GET /v1/blueprint/sbom?template=\u003cid\u003e\nis the detail view. The cost is the same figure the deploy path meters the\ndeploying org on and the 20% author royalty is taken from, priced from the\nactive rate card (GET /v1/blueprint/health echoes that card).",
        "tags": [
          "blueprint"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/blueprintIndex"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/blueprint/health": {
      "get": {
        "operationId": "get_v1_blueprint_health",
        "summary": "Reports blueprint liveness and echoes the compute rate card in force.",
        "description": "Reports blueprint liveness and echoes the compute rate card in force.\n\nThe rate card is the one the estimator actually applies after the operator env\noverlay, so an operator can confirm a tuned knob took effect rather than\ninferring it from a price. Not JWT-gated — a liveness probe must be reachable —\nand it always answers 200 while the subsystem is mounted.",
        "tags": [
          "blueprint"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/blueprintHealth"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/blueprint/sbom": {
      "get": {
        "operationId": "get_v1_blueprint_sbom",
        "tags": [
          "blueprint"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "RateCard": {
        "properties": {
          "basis": {
            "description": "Basis names where the rates come from, so a published price can be\nexplained rather than merely asserted.",
            "type": "string"
          },
          "microUsdPerGbHour": {
            "description": "MicroUSDPerGBHour is the price of one GiB of memory for one hour, in\nmillionths of a US dollar.",
            "type": "integer"
          },
          "microUsdPerVcpuHour": {
            "description": "MicroUSDPerVCPUHour is the price of one vCPU for one hour, in millionths of\na US dollar.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "blueprintHealth": {
        "properties": {
          "blueprints": {
            "description": "Blueprints is how many blueprints this build has embedded and priced.",
            "type": "integer"
          },
          "rateCard": {
            "$ref": "#/components/schemas/RateCard",
            "description": "RateCard is the rate card actually in force after the operator env overlay\n(CLOUD_BLUEPRINT_UCPU_HR / CLOUD_BLUEPRINT_UGB_HR), not the shipped default."
          },
          "service": {
            "description": "Service names the subsystem answering — always \"blueprint\".",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\"; the route answers 200 whenever the subsystem is mounted.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "blueprintIndex": {
        "properties": {
          "data": {
            "description": "Data is one row per embedded blueprint, sorted by template id.",
            "items": {
              "$ref": "#/components/schemas/blueprintRow"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "blueprintRow": {
        "properties": {
          "estCentsPerMonth": {
            "description": "CentsPerMonth is the estimated compute cost of running the whole stack for\none month, in USD cents, from the rate card GET /v1/blueprint/health echoes.",
            "type": "integer"
          },
          "services": {
            "description": "Services is how many compose services the stack runs.",
            "type": "integer"
          },
          "templateId": {
            "description": "TemplateID is the blueprint slug — the id GET /v1/blueprint/sbom takes as\n?template= and the path under templates.hanzo.ai/blueprints/\u003cid\u003e/.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
