{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package sbom is what is inside a container image: every component, resolvable by digest or image ref.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "sbom"
    }
  ],
  "paths": {
    "/v1/sbom": {
      "post": {
        "operationId": "post_v1_sbom",
        "summary": "Ingest persists a CycloneDX SBOM's components keyed by image digest.",
        "description": "Ingest persists a CycloneDX SBOM's components keyed by image digest. Gated to a\nvalidated SuperAdmin (owner == AdminOrg) — the canonical cloud super-admin\ncheck, which the build fleet / CI carries. Re-ingest is idempotent: rows share\nthe (digest, name, version, purl) ORDER BY, so ReplacingMergeTree keeps the\nlatest by ingested_at (and resolve reads FINAL).",
        "tags": [
          "sbom"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "document": {
                  "components": []
                },
                "format": "cyclonedx",
                "imageDigest": "sha256:abc",
                "imageRef": "registry.hanzo.ai/hanzo/cloud:v1"
              },
              "schema": {
                "$ref": "#/components/schemas/SbomIngest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SbomIngested"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/sbom/health": {
      "get": {
        "operationId": "get_v1_sbom_health",
        "summary": "Health is a pure liveness probe: the service is up; datastore reflects whether the datastore store is connected.",
        "description": "Health is a pure liveness probe: the service is up; datastore reflects whether\nthe datastore store is connected. Not JWT-gated, always 200 (a disconnected\ndatastore is degraded-but-alive; the data endpoints report that as 503).",
        "tags": [
          "sbom"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SbomHealth"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/sbom/{wildcard1}": {
      "get": {
        "operationId": "get_v1_sbom_by_wildcard1",
        "tags": [
          "sbom"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "SbomHealth": {
        "properties": {
          "datastore": {
            "description": "Datastore reports whether the shared datastore connection this subsystem reads\nand writes through is established. False means the data endpoints answer 503.",
            "type": "boolean"
          },
          "service": {
            "description": "Service names the subsystem answering: always \"sbom\".",
            "type": "string"
          },
          "status": {
            "description": "Status is the liveness verdict: always \"ok\" here, because the process answering\nat all IS the liveness fact.",
            "type": "string"
          },
          "table": {
            "description": "Table is the fully-qualified datastore table the components live in.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SbomIngest": {
        "properties": {
          "document": {
            "description": "Document is the raw CycloneDX bill of materials, any JSON. Its components[]\nare flattened and persisted; nothing else is read or stored."
          },
          "format": {
            "description": "Format names the document format; \"cyclonedx\" is the only one parsed.",
            "type": "string"
          },
          "gitSha": {
            "description": "GitSha is the commit the image was built from.",
            "type": "string"
          },
          "imageDigest": {
            "description": "ImageDigest is the content-addressed digest (sha256:…) the components are\nkeyed under. Required — it, not a tenant, is what an SBOM belongs to.",
            "type": "string"
          },
          "imageRef": {
            "description": "ImageRef is the human-readable image reference the digest was published as.\nA resolve matches on either this or the digest.",
            "type": "string"
          },
          "sourceRepo": {
            "description": "SourceRepo is the repository the image was built from.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SbomIngested": {
        "properties": {
          "componentCount": {
            "description": "ComponentCount is how many components the CycloneDX document yielded and this\ncall persisted.",
            "type": "integer"
          },
          "imageDigest": {
            "description": "ImageDigest is the content-addressed digest the components were keyed under.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
