{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "notify"
    }
  ],
  "paths": {
    "/v1/notify/health": {
      "get": {
        "operationId": "get_v1_notify_health",
        "summary": "health reports that the notify send surface is alive.",
        "description": "health reports that the notify send surface is alive.\n\nIt is a pure liveness probe, taking no credential and reading no provider.\nThe body mirrors notifyd's own verbatim, so probes that keyed on it keep\nworking unchanged.",
        "tags": [
          "notify"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "service": "notify",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/notifyHealth"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/notify/send": {
      "post": {
        "operationId": "post_v1_notify_send",
        "tags": [
          "notify"
        ]
      }
    },
    "/v1/notify/send/email": {
      "post": {
        "operationId": "post_v1_notify_send_email",
        "tags": [
          "notify"
        ]
      }
    },
    "/v1/notify/send/sms": {
      "post": {
        "operationId": "post_v1_notify_send_sms",
        "tags": [
          "notify"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "notifyHealth": {
        "properties": {
          "service": {
            "description": "Service is always \"notify\" — which subsystem answered.",
            "type": "string"
          },
          "status": {
            "description": "Status is always \"ok\": the route answers 200 whenever the process is alive.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
