{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package notify is transactional email and SMS, sent through your org's own provider credential.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "notify"
    }
  ],
  "paths": {
    "/v1/notify/health": {
      "get": {
        "operationId": "get_v1_notify_health",
        "summary": "Reports that the notify send surface is mounted.",
        "description": "Reports that the notify send surface is mounted.\n\nIt is a pure liveness probe: it answers 200 whenever this subsystem is mounted\nand checks nothing downstream, so an \"ok\" here says the routes are reachable, not\nthat any provider credential is configured. The body is notifyd's verbatim, so\nprobes and clients that keyed on the standalone service keep working unchanged.",
        "tags": [
          "notify"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notifyHealth"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/notify/send": {
      "post": {
        "operationId": "post_v1_notify_send",
        "summary": "Send one transactional message by email or SMS through your org's own provider credential",
        "description": "Delivers a message to each address in `to` over the channel the body names — sms or email — using the CALLER ORG'S own provider credential, read from KMS at orgs/\u003corg\u003e/notify/\u003cservice\u003e/\u003ckey\u003e and never from the environment. The org is the validated principal's, never a client-supplied header, so a caller can only ever send as their own tenant; an unauthenticated caller gets 401. Naming no provider picks the one whose credentials are actually configured (Twilio, then Plivo for SMS; Twilio Email, then SMTP for email) and fails closed when none is. Delivery is synchronous and per recipient: one recipient answers the bare {messageId,status} SendResponse, several answer the {items:[…]} envelope. A terminal provider failure is a 200 whose status is failed with the reason in error, never a transport error. ?sync=true is REQUIRED — an async dispatch answers 503, because the queue plane that would run it is owned elsewhere and is not folded in here. The message body wins verbatim when present; otherwise template_id (or the event name) selects a built-in template rendered against template_vars.",
        "tags": [
          "notify"
        ]
      }
    },
    "/v1/notify/send/email": {
      "post": {
        "operationId": "post_v1_notify_send_email",
        "summary": "Send one transactional email through your org's own provider credential",
        "description": "The channel-pinned form of the generic send: identical in every respect except that the channel is fixed to email, OVERRIDING whatever the body names — so a body that says sms still goes out as mail. The provider is the org's own email credential from KMS (Twilio Email, then SMTP), resolved for the validated principal's org and never from a client-supplied header; an unauthenticated caller gets 401. Subject is carried on the email channel only. Delivery is synchronous and per recipient: one recipient answers the bare {messageId,status} SendResponse, several answer the {items:[…]} envelope. A terminal provider failure is a 200 whose status is failed with the reason in error, never a transport error. ?sync=true is REQUIRED — an async dispatch answers 503, because the queue plane that would run it is owned elsewhere and is not folded in here. The message body wins verbatim when present; otherwise template_id (or the event name) selects a built-in template rendered against template_vars.",
        "tags": [
          "notify"
        ]
      }
    },
    "/v1/notify/send/sms": {
      "post": {
        "operationId": "post_v1_notify_send_sms",
        "summary": "Send one transactional SMS through your org's own provider credential",
        "description": "The channel-pinned form of the generic send: identical in every respect except that the channel is fixed to sms, OVERRIDING whatever the body names — so a body that says email still goes out as a text message. The provider is the org's own SMS credential from KMS (Twilio, then Plivo), resolved for the validated principal's org and never from a client-supplied header; an unauthenticated caller gets 401. Delivery is synchronous and per recipient: one recipient answers the bare {messageId,status} SendResponse, several answer the {items:[…]} envelope. A terminal provider failure is a 200 whose status is failed with the reason in error, never a transport error. ?sync=true is REQUIRED — an async dispatch answers 503, because the queue plane that would run it is owned elsewhere and is not folded in here. The message body wins verbatim when present; otherwise template_id (or the event name) selects a built-in template rendered against template_vars.",
        "tags": [
          "notify"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "notifyHealth": {
        "properties": {
          "service": {
            "description": "Service names the subsystem answering — always \"notify\".",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\"; the route answers 200 whenever the subsystem is mounted.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
