{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package do is the org-scoped private-network surface — /v1/vpcs and /v1/balancers — carved out of Hanzo's OWN house DigitalOcean account.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "balancers"
    },
    {
      "name": "vpcs"
    }
  ],
  "paths": {
    "/v1/balancers": {
      "get": {
        "operationId": "get_balancers",
        "summary": "Returns every load balancer the caller's org owns, under the friendly names the org created them with.",
        "description": "Returns every load balancer the caller's org owns, under the\nfriendly names the org created them with. Same account-wide filter as the VPC\nlisting: a load balancer outside the caller's \"o\"\u003corgHash\u003e- namespace is never\nin the answer.",
        "tags": [
          "balancers"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "loadBalancers": [
                    {
                      "id": "lb-1",
                      "ip": "10.0.0.1",
                      "name": "edge",
                      "status": "active",
                      "targets": 3,
                      "type": "REGIONAL"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/lbList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      },
      "post": {
        "operationId": "post_balancers",
        "summary": "Creates a load balancer in the caller's org namespace and answers 201 with it.",
        "description": "Creates a load balancer in the caller's org namespace and\nanswers 201 with it. The physical DigitalOcean name is derived server-side from\nthe validated org; a name that already exists there is a 409. Omitting\nforwarding rules yields a usable HTTP 80→80 load balancer rather than a 422.",
        "tags": [
          "balancers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "forwarding_rules": [
                  {
                    "entry_port": 443,
                    "entry_protocol": "https",
                    "target_port": 8080,
                    "target_protocol": "http"
                  }
                ],
                "name": "edge",
                "region": "nyc3"
              },
              "schema": {
                "$ref": "#/components/schemas/createLBReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lbView"
                }
              }
            },
            "description": "created"
          }
        },
        "x-tool": true
      }
    },
    "/v1/balancers/{id}": {
      "delete": {
        "operationId": "delete_balancers_by_id",
        "summary": "Removes one of the caller org's load balancers and answers 204.",
        "description": "Removes one of the caller org's load balancers and answers\n204. Ownership is confirmed by re-fetching the resource before anything is\ndeleted, so a cross-tenant id is a 404 rather than a delete of another org's\nload balancer.",
        "tags": [
          "balancers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the DigitalOcean resource id (a UUID), from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-tool": true
      },
      "get": {
        "operationId": "get_balancers_by_id",
        "summary": "Returns one of the caller org's load balancers by id.",
        "description": "Returns one of the caller org's load balancers by id. One that\nexists in another org's namespace is reported 404, never 403 — the same\nexistence-oracle guard the VPC read applies.",
        "tags": [
          "balancers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the DigitalOcean resource id (a UUID), from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lbView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    },
    "/v1/vpcs": {
      "get": {
        "operationId": "get_vpcs",
        "summary": "Returns every VPC the caller's org owns, under the friendly names the org created them with.",
        "description": "Returns every VPC the caller's org owns, under the friendly names the\norg created them with. DigitalOcean is one account for the whole deployment, so\nthe account-wide inventory is filtered to the caller's own \"o\"\u003corgHash\u003e- name\nprefix and the prefix is stripped — another org's VPC is not merely hidden, it\nis never in the answer.",
        "tags": [
          "vpcs"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "vpcs": [
                    {
                      "cidr": "10.10.0.0/16",
                      "id": "vpc-1",
                      "name": "web",
                      "region": "nyc3",
                      "status": "active",
                      "subnets": []
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/vpcList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      },
      "post": {
        "operationId": "post_vpcs",
        "summary": "Creates a VPC in the caller's org namespace and answers 201 with it.",
        "description": "Creates a VPC in the caller's org namespace and answers 201 with it.\nThe physical DigitalOcean name is derived server-side from the validated org,\nso a tenant can only ever create inside its own namespace; a name that already\nexists there is a 409.",
        "tags": [
          "vpcs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "ip_range": "10.10.0.0/16",
                "name": "web",
                "region": "nyc3"
              },
              "schema": {
                "$ref": "#/components/schemas/createVPCReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vpcView"
                }
              }
            },
            "description": "created"
          }
        },
        "x-tool": true
      }
    },
    "/v1/vpcs/{id}": {
      "delete": {
        "operationId": "delete_vpcs_by_id",
        "summary": "Removes one of the caller org's VPCs and answers 204.",
        "description": "Removes one of the caller org's VPCs and answers 204. Ownership is\nconfirmed by re-fetching the resource and checking its physical name carries\nthe caller's org prefix BEFORE anything is deleted, so a cross-tenant id is a\n404 rather than a delete of another org's VPC.",
        "tags": [
          "vpcs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the DigitalOcean resource id (a UUID), from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-tool": true
      },
      "get": {
        "operationId": "get_vpcs_by_id",
        "summary": "Returns one of the caller org's VPCs by id.",
        "description": "Returns one of the caller org's VPCs by id. A VPC that exists but sits\nin another org's namespace is reported 404, never 403 — the answer must not\ntell one tenant that another tenant's resource exists.",
        "tags": [
          "vpcs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the DigitalOcean resource id (a UUID), from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vpcView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "createLBReq": {
        "properties": {
          "forwarding_rules": {
            "description": "ForwardingRules are the listen→backend port mappings. Empty defaults to\nplain HTTP 80→80, the same default DigitalOcean's own console applies.",
            "items": {
              "$ref": "#/components/schemas/fwdRule"
            },
            "type": "array"
          },
          "name": {
            "description": "Name is the FRIENDLY name, a DNS-safe slug of at most 40 characters. The\nphysical DigitalOcean name is derived from it and the caller's org.",
            "type": "string"
          },
          "region": {
            "description": "Region is the DigitalOcean region slug (nyc3, sfo3, …). Required.",
            "type": "string"
          },
          "size": {
            "description": "Size is the DigitalOcean size slug. Empty takes DO's default.",
            "type": "string"
          },
          "type": {
            "description": "Type is the DigitalOcean load-balancer type. Empty takes DO's default (REGIONAL).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "createVPCReq": {
        "properties": {
          "ip_range": {
            "description": "IPRange is the VPC's private CIDR. Empty lets DigitalOcean assign one.",
            "type": "string"
          },
          "name": {
            "description": "Name is the FRIENDLY name, a DNS-safe slug of at most 40 characters. The\nphysical DigitalOcean name is derived from it and the caller's org.",
            "type": "string"
          },
          "region": {
            "description": "Region is the DigitalOcean region slug (nyc3, sfo3, …). Required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "fwdRule": {
        "properties": {
          "entry_port": {
            "description": "EntryPort is the port the load balancer listens on.",
            "type": "integer"
          },
          "entry_protocol": {
            "description": "EntryProtocol is the protocol the load balancer listens with (http, https, tcp).",
            "type": "string"
          },
          "target_port": {
            "description": "TargetPort is the backend port traffic is forwarded to.",
            "type": "integer"
          },
          "target_protocol": {
            "description": "TargetProtocol is the protocol used to reach the backend droplets.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "lbList": {
        "properties": {
          "loadBalancers": {
            "description": "LoadBalancers are the caller org's load balancers under their friendly names.",
            "items": {
              "$ref": "#/components/schemas/lbView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "lbView": {
        "properties": {
          "id": {
            "type": "string"
          },
          "ip": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "targets": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "vpcList": {
        "properties": {
          "vpcs": {
            "description": "VPCs are the caller org's VPCs under their friendly names.",
            "items": {
              "$ref": "#/components/schemas/vpcView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "vpcView": {
        "properties": {
          "cidr": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "subnets": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
