{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package taxonomy is the product catalogue's shape: which categories exist, what each product is called, which category it sits in, what it is tagged with, and the order the two are shown in.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "taxonomy"
    }
  ],
  "paths": {
    "/v1/taxonomy": {
      "get": {
        "operationId": "get_taxonomy",
        "summary": "Read returns the product catalogue as this caller sees it: the PLATFORM catalogue — Hanzo's own products, the part that is true for everyone — plus the caller's own org's rows, every category in display order and each carrying the products filed under it in theirs.",
        "description": "Read returns the product catalogue as this caller sees it: the PLATFORM\ncatalogue — Hanzo's own products, the part that is true for everyone — plus the\ncaller's own org's rows, every category in display order and each carrying the\nproducts filed under it in theirs. Another customer's rows are never in it. It\nis readable signed out, and a signed-out visitor gets the platform catalogue\nalone, which is what the marketing landing renders from.\n\nWhere the caller's org and the platform hold the same id, the caller's own row\nis the one served. That rule exists because ids are unique per ORG and not\nglobally — two customers may each have a \"crm\", and refusing the second would\ntell one of them the other exists — so a collision with the platform is possible\nby construction and something has to win deterministically. Yours does: your own\ncatalogue is the one you edited.\n\n`?brand=` narrows it the way a brand's own console does: only the categories\nthat brand admits, and within them only the taxa scoped to it. An unpublished\nrow is served only to whoever may edit it — a SuperAdmin for the platform's, an\norg admin for their own — so a product can be staged before anyone sees it\nwithout becoming invisible to the person staging it.",
        "tags": [
          "taxonomy"
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Brand returns only what that brand's console shows — the categories it\nadmits, and within them the taxa scoped to it. Empty returns everything.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Taxonomy"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/taxonomy/categories/{id}": {
      "delete": {
        "operationId": "delete_taxonomy_categories_by_id",
        "summary": "Removes one empty category.",
        "description": "Removes one empty category. A category that still has taxa\nfiled under it is refused with 409 and a count: deleting the label off a group\nmust never silently take the products wearing it, and the alternative — orphan\nrows naming a category that no longer exists — is a catalogue that cannot be\nrendered. Move or delete its taxa first. An id no category holds is a 404.",
        "tags": [
          "taxonomy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the slug to act on, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deleted"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_taxonomy_categories_by_id",
        "summary": "Creates or replaces one category and returns it as stored.",
        "description": "Creates or replaces one category and returns it as stored. The id in\nthe URL is the one it is filed under whatever the body says, so a category can\nnever be written under a name it was not addressed by — which also makes create\nand replace the same act, and is why there is no POST beside this.\n\nPlatform SuperAdmin only: one catalogue serves every tenant, so an org admin who\ncould rename a category would rename it for all of them.",
        "tags": [
          "taxonomy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the category slug to write, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "label": "Observe",
                "order": 6,
                "summary": "Traces, metrics, logs and alerts."
              },
              "schema": {
                "$ref": "#/components/schemas/categoryIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/taxonomy/taxa/{id}": {
      "delete": {
        "operationId": "delete_taxonomy_taxa_by_id",
        "summary": "Removes one product from the catalogue.",
        "description": "Removes one product from the catalogue. An id no taxon holds is a\n404. To take a product out of view without losing what was written about it, set\n`published` to false instead.",
        "tags": [
          "taxonomy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the slug to act on, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deleted"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_taxonomy_taxa_by_id",
        "summary": "Creates or replaces one product and returns it as stored.",
        "description": "Creates or replaces one product and returns it as stored. The id in the\nURL is the one it is filed under whatever the body says. The category must\nalready exist — a taxon naming a category that does not is refused with 400\nrather than stored where nothing can render it.\n\nA taxon opens exactly one way: `route` for a product the console renders\nitself, or `href` for one that genuinely lives at its own domain. Giving both,\nor neither, is refused.\n\nPlatform SuperAdmin only.",
        "tags": [
          "taxonomy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the taxon slug to write, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "category": "data",
                "description": "Managed vector search.",
                "icon": "Database",
                "name": "Vector",
                "order": 3,
                "route": "/vector",
                "tags": [
                  "search"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/taxonIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Taxon"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Category": {
        "properties": {
          "brands": {
            "description": "Brands are the brands whose console shows this category. Absent means every\nbrand.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "id": {
            "description": "ID is the stable slug this category is addressed by, e.g. \"observe\".",
            "type": "string"
          },
          "label": {
            "description": "Label is the display name, e.g. \"Observe\".",
            "type": "string"
          },
          "order": {
            "description": "Order is where the category sits among its siblings, ascending.",
            "type": "integer"
          },
          "owner": {
            "description": "Owner is the org this category belongs to: the platform's own org for a\ncategory every tenant sees, or your org for one you added. It tells a console\nwhich rows it may offer to edit.",
            "type": "string"
          },
          "summary": {
            "description": "Summary is the one line describing what the category groups, shown as the\nheader copy on its landing page.",
            "type": "string"
          },
          "taxa": {
            "description": "Taxa are the products filed under this category, in display order.",
            "items": {
              "$ref": "#/components/schemas/Taxon"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Taxon": {
        "properties": {
          "brands": {
            "description": "Brands are the brands whose console shows this taxon. Absent means every\nbrand its category admits.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "category": {
            "description": "Category is the id of the category this taxon is filed under.",
            "type": "string"
          },
          "description": {
            "description": "Description is the one line shown beneath the name in the catalogue and nav.",
            "type": "string"
          },
          "href": {
            "description": "Href is the absolute URL an external product launches, for the taxa that\ngenuinely live at their own domain. Empty for an in-console product.",
            "type": "string"
          },
          "icon": {
            "description": "Icon names the icon the surface renders, e.g. \"Database\". It is a NAME, not\nan image: which icon set draws it is the rendering surface's business.",
            "type": "string"
          },
          "id": {
            "description": "ID is the stable slug this taxon is addressed by, e.g. \"vector\".",
            "type": "string"
          },
          "name": {
            "description": "Name is the display name, e.g. \"Vector\".",
            "type": "string"
          },
          "order": {
            "description": "Order is where the taxon sits within its category, ascending.",
            "type": "integer"
          },
          "owner": {
            "description": "Owner is the org this product belongs to: the platform's own org for one\nevery tenant sees, or your org for one you added. Where two rows share an id,\nyours is the one served.",
            "type": "string"
          },
          "published": {
            "description": "Published is whether the taxon is shown. An unpublished taxon is served only\nto an editor, so a product can be staged before anyone sees it.",
            "type": "boolean"
          },
          "route": {
            "description": "Route is the in-console path this taxon opens, e.g. \"/vector\". Set for a\nproduct the console renders itself; empty for an external one.",
            "type": "string"
          },
          "tags": {
            "description": "Tags are free-form labels for search and grouping across categories.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Taxonomy": {
        "properties": {
          "categories": {
            "description": "Categories are the groupings, in display order, each with its own taxa.",
            "items": {
              "$ref": "#/components/schemas/Category"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "categoryIn": {
        "properties": {
          "brands": {
            "description": "Brands are the brands whose console shows it. Omit for every brand.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "id": {
            "description": "ID is the category slug to write, from the path.",
            "type": "string"
          },
          "label": {
            "description": "Label is the display name. Required.",
            "type": "string"
          },
          "order": {
            "description": "Order is where the category sits among its siblings, ascending.",
            "type": "integer"
          },
          "summary": {
            "description": "Summary is the one line describing what the category groups.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "deleted": {
        "properties": {
          "deleted": {
            "description": "Deleted is the id that no longer exists.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "taxonIn": {
        "properties": {
          "brands": {
            "description": "Brands are the brands whose console shows it. Omit for every brand its\ncategory admits.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "category": {
            "description": "Category is the id of an EXISTING category to file it under. Required.",
            "type": "string"
          },
          "description": {
            "description": "Description is the one line shown beneath the name.",
            "type": "string"
          },
          "href": {
            "description": "Href is the absolute URL an external product launches. Give this or route,\nnever both.",
            "type": "string"
          },
          "icon": {
            "description": "Icon names the icon the surface renders, e.g. \"Database\".",
            "type": "string"
          },
          "id": {
            "description": "ID is the taxon slug to write, from the path.",
            "type": "string"
          },
          "name": {
            "description": "Name is the display name. Required.",
            "type": "string"
          },
          "order": {
            "description": "Order is where it sits within its category, ascending.",
            "type": "integer"
          },
          "published": {
            "description": "Published is whether it is shown. Omitted means published — a taxon someone\ntook the trouble to write is meant to be seen, and hiding one is the\ndeliberate act.",
            "type": "boolean"
          },
          "route": {
            "description": "Route is the in-console path it opens, e.g. \"/vector\". Give this or href,\nnever both.",
            "type": "string"
          },
          "tags": {
            "description": "Tags are free-form labels for search and grouping across categories.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
