{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "channels"
    }
  ],
  "paths": {
    "/v1/channels": {
      "get": {
        "operationId": "get_v1_channels",
        "summary": "list returns every chat transport channels can talk to — Discord, Slack, Teams and Telegram — with the caller org's own facts on each: whether it is connected and to which account, what the transport supports, the org's DM and group access policies, and how many pairing requests are pending approval.",
        "description": "list returns every chat transport channels can talk to — Discord, Slack, Teams\nand Telegram — with the caller org's own facts on each: whether it is\nconnected and to which account, what the transport supports, the org's DM and\ngroup access policies, and how many pairing requests are pending approval. The\norder is fixed, so a console can render the same rows every time. A policy that\ncannot be read leaves that channel's policy fields empty rather than failing\nthe whole listing.",
        "tags": [
          "channels"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/chatChannels"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/channels/allowlist": {
      "get": {
        "operationId": "get_v1_channels_allowlist",
        "summary": "allowlistGet returns the caller org's access policy for one channel: whether DMs are pairing-gated, allowlisted or open, whether group rooms are open, allowlisted or disabled, the config-managed DM and group allow entries, the senders approved through PAIRING (read-only here), and the org's named access groups.",
        "description": "allowlistGet returns the caller org's access policy for one channel: whether\nDMs are pairing-gated, allowlisted or open, whether group rooms are open,\nallowlisted or disabled, the config-managed DM and group allow entries, the\nsenders approved through PAIRING (read-only here), and the org's named access\ngroups. An unknown channel is a 404.",
        "tags": [
          "channels"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "description": "Channel is the transport to read: discord, slack, teams or telegram.\nRequired; an unknown value is a 404.",
            "schema": {
              "type": "string"
            },
            "example": "slack"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/allowlistView"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_v1_channels_allowlist",
        "summary": "allowlistPut edits the caller org's access policy for one channel and answers the policy as GET would, so both verbs return ONE shape.",
        "description": "allowlistPut edits the caller org's access policy for one channel and answers\nthe policy as GET would, so both verbs return ONE shape. It requires ORG ADMIN.\nEvery field but `channel` is optional and applied only when provided: an empty\npolicy string leaves that policy alone, an absent or null list leaves that list\nalone, and an EMPTY list clears it. It writes only CONFIG-sourced allow entries\n— senders approved through pairing belong to the approval flow, so a policy\nedit can never revoke one. An unknown channel is a 404.",
        "tags": [
          "channels"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "channel": "slack",
                "dm": [
                  "U024BE7LH"
                ],
                "dmPolicy": "allowlist"
              },
              "schema": {
                "$ref": "#/components/schemas/allowlistPutIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/allowlistView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/channels/inbox": {
      "get": {
        "operationId": "get_v1_channels_inbox",
        "summary": "inbox returns the messages people have sent to the caller org's connected chat bots, oldest first, in the portable envelope shape every transport normalises into.",
        "description": "inbox returns the messages people have sent to the caller org's connected chat\nbots, oldest first, in the portable envelope shape every transport normalises\ninto. It is a CURSOR feed, not a search: pass the returned cursor back as\n`since` to get only what has arrived since. Only this org's messages are\nstored under this org, so the feed can never carry another tenant's chat.",
        "tags": [
          "channels"
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Since is the exclusive cursor: only messages with a higher row id come\nback. Empty starts at the beginning. Must parse as an integer.",
            "schema": {
              "type": "string"
            },
            "example": "1042"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps how many messages come back. Empty or 0 uses the store's\ndefault page size. Must parse as an integer.",
            "schema": {
              "type": "string"
            },
            "example": "100"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inboxPage"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/channels/pairing": {
      "get": {
        "operationId": "get_v1_channels_pairing",
        "summary": "pairingList returns the pairing requests waiting for the caller org to approve — one per person who messaged a connected bot on a channel whose DM policy is \"pairing\" and who is not allowed yet.",
        "description": "pairingList returns the pairing requests waiting for the caller org to approve\n— one per person who messaged a connected bot on a channel whose DM policy is\n\"pairing\" and who is not allowed yet. Each row carries the CODE an org admin\npasses to POST /v1/channels/pairing/approve. Expired requests are not\nreturned. Codes are capability strings: they are shown here, and never logged.",
        "tags": [
          "channels"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pairingQueue"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/channels/pairing/approve": {
      "post": {
        "operationId": "post_v1_channels_pairing_approve",
        "summary": "pairingApprove turns one pending pairing code into a standing allow entry, so that person can DM the org's bot on that channel from now on.",
        "description": "pairingApprove turns one pending pairing code into a standing allow entry, so\nthat person can DM the org's bot on that channel from now on. It requires ORG\nADMIN, not merely membership. The first approval an org makes on a channel also\nbootstraps that sender as the channel's owner, which the answer reports. An\nunknown or expired code is a 404, and a code always belongs to exactly one\norg, so it can never approve someone into another tenant.",
        "tags": [
          "channels"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "channel": "telegram",
                "code": "PAIR-7Q2M"
              },
              "schema": {
                "$ref": "#/components/schemas/approvePairingIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pairingApproved"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/channels/{channel}/send": {
      "post": {
        "operationId": "post_v1_channels_by_channel_send",
        "tags": [
          "channels"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "allowlistPutIn": {
        "properties": {
          "accessGroups": {
            "additionalProperties": {
              "additionalProperties": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "type": "object"
            },
            "description": "AccessGroups REPLACES the org's named access groups, as\ngroup name -\u003e channel -\u003e entries. Absent or null leaves them alone.",
            "type": "object"
          },
          "channel": {
            "description": "Channel is the transport to edit: discord, slack, teams or telegram.\nRequired; an unknown value is a 404.",
            "type": "string"
          },
          "dm": {
            "description": "DM REPLACES the config-managed DM allow entries. Absent or null leaves them\nalone; an empty list clears them. It never touches senders approved through\npairing — a policy edit cannot revoke an approved pairing.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "dmPolicy": {
            "description": "DMPolicy sets how direct messages are admitted: \"pairing\" (a person must be\napproved first), \"allowlist\" (only listed senders) or \"open\". Empty leaves\nit unchanged.",
            "type": "string"
          },
          "group": {
            "description": "Group REPLACES the config-managed group allow entries. Absent or null\nleaves them alone; an empty list clears them.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "groupPolicy": {
            "description": "GroupPolicy sets how group and thread rooms are admitted: \"open\",\n\"allowlist\" or \"disabled\". Empty leaves it unchanged.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "allowlistView": {
        "properties": {
          "accessGroups": {
            "additionalProperties": {
              "additionalProperties": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "type": "object"
            },
            "type": "object"
          },
          "dm": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "dmPolicy": {
            "type": "string"
          },
          "group": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "groupPolicy": {
            "type": "string"
          },
          "paired": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "approvePairingIn": {
        "properties": {
          "channel": {
            "description": "Channel is the transport the request came in on: discord, slack, teams or telegram.",
            "type": "string"
          },
          "code": {
            "description": "Code is the pairing code from GET /v1/channels/pairing. It is a capability:\nholding it is what authorises the approval, alongside org admin.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "capabilities": {
        "properties": {
          "actions": {
            "type": "boolean"
          },
          "dm": {
            "type": "boolean"
          },
          "group": {
            "type": "boolean"
          },
          "media": {
            "type": "boolean"
          },
          "thread": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "channelView": {
        "properties": {
          "account": {
            "type": "string"
          },
          "accountLabel": {
            "type": "string"
          },
          "capabilities": {
            "$ref": "#/components/schemas/capabilities"
          },
          "connected": {
            "type": "boolean"
          },
          "dmPolicy": {
            "type": "string"
          },
          "groupPolicy": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "pendingPairing": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "chatChannels": {
        "properties": {
          "channels": {
            "description": "Channels is every chat transport this deployment supports, in a fixed\norder, each carrying whether the org has connected it, the account behind\nthe connection, what the transport can do, the org's DM/group access\npolicies for it, and how many pairing requests are waiting.",
            "items": {
              "$ref": "#/components/schemas/channelView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "inboxPage": {
        "properties": {
          "cursor": {
            "description": "Cursor is the row id to pass back as `since` for the next page. It is the\nlast message's id, or the requested cursor when the page is empty.",
            "type": "integer"
          },
          "messages": {
            "description": "Messages are the inbound messages, oldest first.",
            "items": {
              "$ref": "#/components/schemas/inboxView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "inboxView": {
        "properties": {
          "account": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "id": {
            "type": "integer"
          },
          "replyTo": {
            "type": "string"
          },
          "roomId": {
            "type": "string"
          },
          "roomKind": {
            "type": "string"
          },
          "sender": {
            "type": "string"
          },
          "senderUser": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "pairingApproved": {
        "properties": {
          "ownerBootstrapped": {
            "description": "OwnerBootstrapped is true when this approval was the org's FIRST on the\nchannel and therefore also made the sender its owner.",
            "type": "boolean"
          },
          "sender": {
            "description": "Sender is the external chat identity that is now allowed to DM the org's bot.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "pairingQueue": {
        "properties": {
          "pending": {
            "description": "Pending is every unexpired pairing request waiting on an org admin, each\ncarrying the channel, the requesting sender and the code to approve it with.",
            "items": {
              "$ref": "#/components/schemas/pairingView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "pairingView": {
        "properties": {
          "channel": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "lastSeen": {
            "type": "integer"
          },
          "sender": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
