{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package wallets is blockchain key custody: create wallets, rotate their keys, and sign with them.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "wallet"
    }
  ],
  "paths": {
    "/v1/wallet": {
      "get": {
        "operationId": "get_wallet",
        "summary": "Returns the caller org's wallets, newest first, optionally NARROWED within the org by project, agent or account.",
        "description": "Returns the caller org's wallets, newest first, optionally NARROWED\nwithin the org by project, agent or account. The org is always the bound\nisolation boundary — the filters only ever narrow inside it, so a caller can\nnever widen past its own org.",
        "tags": [
          "wallet"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project narrows to wallets scoped to one project. Must be a url-safe segment.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent",
            "in": "query",
            "required": false,
            "description": "Agent narrows to wallets scoped to one agent. Must be a url-safe segment.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account",
            "in": "query",
            "required": false,
            "description": "Account narrows to wallets under one account id. Must be a url-safe segment.",
            "schema": {
              "type": "string"
            },
            "example": "acct_9f8c1d"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/walletList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_wallet",
        "summary": "Provisions a new signing identity under one of the caller org's accounts and answers the stored wallet including its on-chain address.",
        "description": "Provisions a new signing identity under one of the caller org's\naccounts and answers the stored wallet including its on-chain address. The\ncustody backend generates the key material — a KMS-sealed secp256k1 key, an\nMPC threshold key on the ring, or a Safe smart wallet owned by one — and the\nHANDLE to it is kept server-side and never returned. A custody kind the\ndeployment has not wired fails CLOSED with 503: a signature is never\nfabricated. The wallet is scoped to the org, the caller's ambient project, and\noptionally an agent and the named account; those narrowings are what its key\nref is derived from, so each must be a url-safe segment.",
        "tags": [
          "wallet"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "accountId": "acct_9f8c1d",
                "chain": "eip155:36963",
                "custody": "kms",
                "name": "ops hot wallet",
                "tier": "hot"
              },
              "schema": {
                "$ref": "#/components/schemas/createWalletIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/wallet/accounts": {
      "get": {
        "operationId": "get_wallet_accounts",
        "summary": "Returns the caller org's wallet accounts, newest first.",
        "description": "Returns the caller org's wallet accounts, newest first. Accounts\nare physically org-scoped, so another tenant's are not reachable from here.",
        "tags": [
          "wallet"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_wallet_accounts",
        "summary": "Opens a named wallet account for the caller's org.",
        "description": "Opens a named wallet account for the caller's org. An account is\na GROUPING of wallets, not a key or a balance: wallets are created under one\nand can be listed by it. The org is stamped by the server from the validated\nprincipal, so a request can never open an account in another tenant.",
        "tags": [
          "wallet"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": "treasury"
              },
              "schema": {
                "$ref": "#/components/schemas/createAccountIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletAccount"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/wallet/{id}": {
      "get": {
        "operationId": "get_wallet_by_id",
        "summary": "Returns one of the caller org's wallets: its scope, custody kind, tier, chain and on-chain address.",
        "description": "Returns one of the caller org's wallets: its scope, custody kind,\ntier, chain and on-chain address. The custody handle to the signing material is\nnever part of the answer. A wallet id another org owns reads as not found, so\nthe response cannot confirm that it exists.",
        "tags": [
          "wallet"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wal_4b1e77"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/wallet/{id}/keys": {
      "post": {
        "operationId": "post_wallet_by_id_keys",
        "summary": "Rolls one wallet's signing material through its own custody backend and answers the wallet with whatever address that produced.",
        "description": "Rolls one wallet's signing material through its own custody backend\nand answers the wallet with whatever address that produced. For KMS custody a\nfresh secp256k1 key is generated and sealed, which CHANGES the address — funds\nand approvals at the old address do not move. For a Safe the address is\ncounterfactual and the owner shares are ring-managed, so rotation is a no-op\nand the address is unchanged. A backend that is not configured fails closed\nwith 503 rather than leaving the wallet half-rotated.",
        "tags": [
          "wallet"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wal_4b1e77"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/wallet/{id}/sign": {
      "post": {
        "operationId": "post_wallet_by_id_sign",
        "summary": "Produces a secp256k1 signature from one of the caller org's wallets over a 32-byte digest, through whichever custody backend that wallet uses.",
        "description": "Produces a secp256k1 signature from one of the caller org's wallets over\na 32-byte digest, through whichever custody backend that wallet uses. Give it\neither a `digest` (32 bytes as hex, signed verbatim) or a `message` (hashed\nwith Keccak256 first) — exactly one is required. The private key never leaves\nits backend: KMS custody opens the sealed key in-process, MPC custody produces\na threshold signature on the ring. The answer carries the digest that was\nsigned alongside the signature, so a caller can verify what it got.",
        "tags": [
          "wallet"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wal_4b1e77"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "wal_4b1e77",
                "message": "approve withdrawal 42"
              },
              "schema": {
                "$ref": "#/components/schemas/signIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/signature"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/wallet/{id}/transactions": {
      "post": {
        "operationId": "post_wallet_by_id_transactions",
        "summary": "Composes a Safe transaction on the MPC ring and answers its EIP-712 hash together with the owner approval the ring's threshold signature produced.",
        "description": "Composes a Safe transaction on the MPC ring and answers its\nEIP-712 hash together with the owner approval the ring's threshold signature\nproduced. Only a wallet whose custody is \"safe\" can do this — any other custody\nis a 400, because the backend itself is asked whether it can propose rather\nthan the kind being switched on. The ring computes the Safe-tx hash bound to\nthe Safe contract and the chain id, so the hash a caller gets back is the one\nthe Safe will verify. This PROPOSES: it does not execute the transaction.",
        "tags": [
          "wallet"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wal_4b1e77"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "chainId": 36963,
                "data": "0x",
                "id": "wal_4b1e77",
                "nonce": 7,
                "to": "0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984",
                "value": "0"
              },
              "schema": {
                "$ref": "#/components/schemas/safeTxIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/safeProposal"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "Wallet": {
        "properties": {
          "accountId": {
            "type": "string"
          },
          "address": {
            "description": "Address is the on-chain address. For kms/mpc/treasury it is the EOA a\nsignature from this wallet recovers to; for safe it is the CREATE2 address\nof the Safe CONTRACT, which holds no key — its approvals recover to the MPC\nowner instead. Rotating a kms wallet mints a new key and therefore a NEW\naddress, and funds and approvals at the old one do not follow; mpc,\ntreasury and safe addresses are invariant under rotation.",
            "type": "string"
          },
          "agent": {
            "type": "string"
          },
          "chain": {
            "description": "Chain is the EVM chain the wallet is bound to, CAIP-2 \"eip155:\u003cn\u003e\" or a\nbare decimal chain id. Empty is chain-agnostic: the ring signs an unbound\ndigest, and a Safe falls back to the Hanzo L1 (36963) because a Safe and\nits EIP-712 domain must be chain-bound.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the wallet was provisioned, Unix seconds. Listings order\nby it, newest first.",
            "format": "int64",
            "type": "integer"
          },
          "custody": {
            "description": "Custody is the backend holding the signing material, fixed at creation:\n\"kms\" (a secp256k1 key sealed under KMS and opened in-process), \"mpc\" or\n\"treasury\" (an m-of-n threshold key on the deployed ring, which differ by\ngovernance and not by signing mechanics), or \"safe\" (a Safe contract owned\nby an MPC key). A kind the deployment has not wired refuses with 503 rather\nthan fabricating a signature.",
            "type": "string"
          },
          "financeAccount": {
            "description": "FinanceAccount is the finance ledger account bound to this wallet — the\nlookup that turns a ledger account back into an on-chain signer. Absent is\nthe normal state and means unbound; the column is NULL until something\nbinds it.",
            "type": "string"
          },
          "id": {
            "description": "ID is the wallet id, minted by the server as \"wal_\" + 24 hex. It is the\nlast segment of the key ref, and it is the LEDGER SUBJECT an x402 payment\ninto this wallet credits — so it names money as well as key material.",
            "type": "string"
          },
          "name": {
            "description": "Name is the display label given at creation. It addresses nothing: the key\nref is derived from the scope and the id, so renaming moves no material.",
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "tier": {
            "description": "Tier is the wallet tier the ring keys its TierPolicy on: hot, warm, cold,\ngas, bridge, contract_admin, validator, quarantine or disaster_recovery.\nIt defaults to hot and is refused at the boundary if it is none of the nine.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "WalletAccount": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is when the account was opened, Unix seconds. Listings order by\nit, newest first.",
            "format": "int64",
            "type": "integer"
          },
          "id": {
            "description": "ID is the account id, minted by the server as \"acct_\" + 24 hex. Wallets\nname it as their accountId, and it becomes a segment of each of their key\nrefs — so it addresses key material and cannot be reassigned.",
            "type": "string"
          },
          "name": {
            "description": "Name is the label given at creation, trimmed and required. It groups\nwallets: it is not a key, holds no balance, and is not unique in the org.",
            "type": "string"
          },
          "org": {
            "description": "Org is the tenant that owns the account, stamped from the validated\nprincipal rather than taken from the request. Every read is physically\nscoped to it, so another tenant's accounts are not reachable at all.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "accountList": {
        "properties": {
          "accounts": {
            "description": "Accounts are the org's accounts, newest first.",
            "items": {
              "$ref": "#/components/schemas/WalletAccount"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "createAccountIn": {
        "properties": {
          "name": {
            "description": "Name is the account's label. Required, trimmed; it groups wallets and is\nnot itself a key.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "createWalletIn": {
        "properties": {
          "accountId": {
            "description": "AccountID is the account this wallet belongs to. Required, and it must be\nan account of the caller's own org — an unknown one is a 404.",
            "type": "string"
          },
          "agent": {
            "description": "Agent optionally narrows the wallet to one agent within the org. It becomes\na segment of the key ref, so it must be a url-safe segment with no slash.",
            "type": "string"
          },
          "chain": {
            "description": "Chain is the EVM chain this wallet is for, as \"eip155:\u003cn\u003e\" or a bare\ndecimal chain id. Optional; a Safe defaults to the Hanzo L1 (36963).",
            "type": "string"
          },
          "custody": {
            "description": "Custody selects the signing backend: \"kms\" (in-process, always available),\n\"mpc\" or \"treasury\" (the deployed MPC ring), or \"safe\" (a Safe smart wallet\nowned by an MPC key). Empty uses the deployment's default. A backend that is\nnot configured fails CLOSED with 503 rather than fabricating a signature.",
            "type": "string"
          },
          "name": {
            "description": "Name is the wallet's display label. Optional.",
            "type": "string"
          },
          "tier": {
            "description": "Tier is the MPC wallet tier: hot, warm, cold, gas, bridge, contract_admin,\nvalidator, quarantine or disaster_recovery. Empty defaults to hot.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "safeProposal": {
        "properties": {
          "r": {
            "description": "R is the r component of the MPC threshold signature over the Safe-tx hash.",
            "type": "string"
          },
          "s": {
            "description": "S is the s component of that signature.",
            "type": "string"
          },
          "safeAddress": {
            "description": "SafeAddress is the Safe contract this transaction is for.",
            "type": "string"
          },
          "safeTxHash": {
            "description": "SafeTxHash is the EIP-712 Safe transaction hash, bound to the Safe contract\nand the chain id — the value the owner approval signs.",
            "type": "string"
          },
          "walletId": {
            "description": "WalletID is the wallet whose Safe this is.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "safeTxIn": {
        "properties": {
          "chainId": {
            "description": "ChainID is the EVM chain the Safe transaction is bound to. 0 uses the\nwallet's own chain, or the Hanzo L1 (36963) when it is chain-agnostic.",
            "format": "int64",
            "type": "integer"
          },
          "data": {
            "description": "Data is the call data, hex-encoded.",
            "type": "string"
          },
          "nonce": {
            "description": "Nonce is the Safe's transaction nonce.",
            "format": "int64",
            "type": "integer"
          },
          "to": {
            "description": "To is the transaction's target address.",
            "type": "string"
          },
          "value": {
            "description": "Value is the native-token amount to send, as a decimal string in wei.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "signIn": {
        "properties": {
          "digest": {
            "description": "Digest is a pre-computed 32-byte digest as hex, with or without the 0x\nprefix. When present it is signed verbatim and message is ignored.",
            "type": "string"
          },
          "message": {
            "description": "Message is arbitrary text to hash with Keccak256 and sign. Used only when\ndigest is empty.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "signature": {
        "properties": {
          "address": {
            "description": "Address is the wallet's on-chain address, the one this signature recovers to.",
            "type": "string"
          },
          "digest": {
            "description": "Digest is the 32-byte digest that was signed, hex with an 0x prefix.",
            "type": "string"
          },
          "signature": {
            "description": "Signature is the 65-byte secp256k1 signature, hex with an 0x prefix.",
            "type": "string"
          },
          "walletId": {
            "description": "WalletID is the wallet that signed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "walletList": {
        "properties": {
          "wallets": {
            "description": "Wallets are the matching wallets, newest first.",
            "items": {
              "$ref": "#/components/schemas/Wallet"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
