{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package affiliates is a partner program that pays commission on what your referrals spend.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "admin"
    },
    {
      "name": "affiliates"
    }
  ],
  "paths": {
    "/v1/admin/affiliates": {
      "get": {
        "operationId": "get_admin_affiliates",
        "summary": "Lists every affiliate across the fleet with its ORG exposed, plus a fleet summary of lifetime accrued, still-pending and paid commission in integer cents.",
        "description": "Lists every affiliate across the fleet with its ORG exposed, plus a\nfleet summary of lifetime accrued, still-pending and paid commission in\ninteger cents.\n\nPLATFORM SUDO ONLY, and a non-admin is refused outright. This is the\ncross-tenant view and it names orgs — exactly what the partner-facing\nleaderboard refuses to do. There is deliberately no org-scoped variant of this\nread; a partner sees its own standing through its own dashboard. Bounded per\nrequest.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned. Absent or non-positive means the default of\n500; anything above 1000 is clamped to 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/directoryOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/admin/affiliates/sweep": {
      "post": {
        "operationId": "post_admin_affiliates_sweep",
        "summary": "Runs the accrual: for each referred org it reads that org's metered spend for the current period and accrues commission to every affiliate up its referral chain, then answers how many sources were swept and how many NEW accruals landed.",
        "description": "Runs the accrual: for each referred org it reads that org's metered\nspend for the current period and accrues commission to every affiliate up its\nreferral chain, then answers how many sources were swept and how many NEW\naccruals landed.\n\nThis is the cron path, and it is LATCHED at most once per affiliate, source\norg and period — so re-running it inside the same period accrues nothing\nfurther. Safe to retry, and safe to run by hand beside the schedule.\n\nCommission is a rate of Hanzo's MARGIN on that spend, never of the customer's\ngross bill, so every level's share summed over one source event stays within\nthe margin actually earned and the customer's charge is untouched. Nothing\naccrues past the third upline level, and only an APPROVED affiliate accrues at\nall.\n\nThe same spend read drives the OSS author royalty — one read, both programs —\nso the answer reports royalties accrued alongside. PLATFORM SUDO ONLY. Bounded\nper run; a source whose spend cannot be read is skipped and picked up next\ntime, never half-accrued.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accrualsOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/admin/affiliates/{id}/approve": {
      "post": {
        "operationId": "post_admin_affiliates_by_id_approve",
        "summary": "Approves an affiliate and MINTS its referral code — the moment the partner has a working share link and starts accruing.",
        "description": "Approves an affiliate and MINTS its referral code — the moment\nthe partner has a working share link and starts accruing.\n\nThe code is taken from the body if one is given, else the vanity code the\napplicant requested, else a slug derived for them. Codes are ONE global\nnamespace, so a taken code is a 409 and nothing is approved. The minted code\nis also mirrored as a link row so click tracking is uniform across every code\nthe affiliate holds; that mirror is best-effort and its failure never fails\nthe approval.\n\nApproval is what makes an affiliate eligible: before it, attribution against\nits code does not resolve and no sweep accrues to it. PLATFORM SUDO ONLY.\nAudited.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the affiliate to approve, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/approval"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/affiliateOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/admin/affiliates/{id}/payout": {
      "post": {
        "operationId": "post_admin_affiliates_by_id_payout",
        "summary": "Pays out accrued commission and answers the payout row with the affiliate's updated balances.",
        "description": "Pays out accrued commission and answers the payout row with the\naffiliate's updated balances.\n\nThe amount is reserved atomically against the affiliate's PENDING commission —\naccrued minus paid — so a payout can never exceed what is owed. The METHOD\ndecides whether money actually moves: `credits` issues a commerce grant into\nthe affiliate ORG's own wallet, tagged so the ledger can tell an affiliate\npayout apart from an admin or referral grant; every other method — wire,\npaypal and the rest — is RECORD-ONLY: the payout row and the balances move,\nthe cash is disbursed out of band.\n\nThe amount is integer cents and must be positive. PLATFORM SUDO ONLY.\nAudited.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the affiliate to pay, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "amountCents": 1200,
                "method": "credits",
                "reference": "ledger-1"
              },
              "schema": {
                "$ref": "#/components/schemas/disbursal"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payoutOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/admin/affiliates/{id}/rate": {
      "post": {
        "operationId": "post_admin_affiliates_by_id_rate",
        "summary": "Sets one affiliate's DIRECT commission rate, in basis points of Hanzo's margin.",
        "description": "Sets one affiliate's DIRECT commission rate, in basis points of\nHanzo's margin.\n\nThe rate is CAPPED so that the direct rate plus the platform-wide second- and\nthird-level rates can never exceed the whole margin — the structural guarantee\nthat everything paid on one source event stays inside the margin actually\nearned. The cap is resolved from the rates in force at the moment of the call\nand quoted in the refusal, because those switches move; a hardcoded bound\nwould start lying the moment somebody edits the schedule.\n\nOnly the direct level is per-affiliate. The second and third levels are\nplatform switches and are not settable here. The change applies to FUTURE\naccruals — commission already latched for a period is not recomputed. PLATFORM\nSUDO ONLY. Audited.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the affiliate whose direct rate moves, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "rateBps": 2500
              },
              "schema": {
                "$ref": "#/components/schemas/rateSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/affiliateOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/admin/affiliates/{id}/suspend": {
      "post": {
        "operationId": "post_admin_affiliates_by_id_suspend",
        "summary": "Suspends an affiliate: it stops accruing on the next sweep, and its code stops resolving for new attributions.",
        "description": "Suspends an affiliate: it stops accruing on the next sweep, and\nits code stops resolving for new attributions.\n\nIt CLAWS NOTHING BACK. Commission already accrued stays accrued and stays\npayable, and existing attribution edges are left standing — suspension ends\nearning, it does not unwind history. PLATFORM SUDO ONLY. Audited.",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the affiliate's server-minted handle, \"aff_\"-prefixed.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/affiliateOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/admin/referrals": {
      "get": {
        "operationId": "get_admin_referrals",
        "summary": "Answers the referral board: the top referrers by lifetime commission, the funnel conversion rate (referred orgs that have actually produced commission, over all referred orgs), and the accrual LIABILITY the platform owes, broken out by upline level.",
        "description": "Answers the referral board: the top referrers by lifetime\ncommission, the funnel conversion rate (referred orgs that have actually\nproduced commission, over all referred orgs), and the accrual LIABILITY the\nplatform owes, broken out by upline level.\n\nRead the liability figure carefully — it is commission accrued and NOT yet\npaid, so it is money owed, not money spent, and the per-level split says how\nmuch of it comes from direct referrals versus the second and third levels.\n\nPLATFORM SUDO ONLY, cross-tenant, and it names orgs. It reads the SAME single\nattribution spine the accrual itself walks, so the board and the ledger cannot\ndisagree. Amounts are integer cents.",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/referralsOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/affiliates": {
      "get": {
        "operationId": "get_affiliates",
        "summary": "Answers the caller org's OWN affiliate standing: status, referral code and share link, commission rate, how many orgs it has referred, and its lifetime accrued, still-pending and already-paid commission in integer cents, with its payout history.",
        "description": "Answers the caller org's OWN affiliate standing: status, referral\ncode and share link, commission rate, how many orgs it has referred, and its\nlifetime accrued, still-pending and already-paid commission in integer cents,\nwith its payout history.\n\nAn org that never applied gets an honest `isAffiliate:false` and the default\nrate rather than a 404 — the console renders the apply form off that answer.\n\nThe affiliate is resolved from the VALIDATED org, never from a field, so this\ncan only ever read the caller's own row; without a principal it is refused. It\nis a PURE READ: nothing accrues until the sweep runs. Commission is earned on\nHanzo's MARGIN, never on the referred customer's bill, so nothing here changes\nwhat that customer pays.",
        "tags": [
          "affiliates"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/affiliateStanding"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/affiliates/apply": {
      "post": {
        "operationId": "post_affiliates_apply",
        "summary": "Enrolls the caller's OWN org as an affiliate at status `applied`, optionally requesting a vanity code, and answers the record — 201 on the first apply, 200 with `created:false` afterwards.",
        "description": "Enrolls the caller's OWN org as an affiliate at status `applied`,\noptionally requesting a vanity code, and answers the record — 201 on the first\napply, 200 with `created:false` afterwards.\n\nIDEMPOTENT, first apply wins: one affiliate per org, so re-applying never\ncreates a second row and never resets an existing approval. Applying is not\njoining — no code is minted and nothing accrues until staff approve, which is\nwhere both the code and the commission rate come from.\n\nThe org is the validated caller's, never a field. A malformed vanity code is\nrefused up front; the code is only REQUESTED here, and approval may mint a\ndifferent one if the requested code is taken.",
        "tags": [
          "affiliates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "requestedCode": "acme"
              },
              "schema": {
                "$ref": "#/components/schemas/applyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application"
                }
              }
            },
            "description": "ok"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/affiliates/attribute": {
      "post": {
        "operationId": "post_affiliates_attribute",
        "summary": "Records the first-touch edge every later commission is computed from: the caller's org was referred by the affiliate that owns this code.",
        "description": "Records the first-touch edge every later commission is computed\nfrom: the caller's org was referred by the affiliate that owns this code.\n\nThe REFERRED org is the validated caller, never a field. A caller that could\nname the referred org could attach itself to somebody else's revenue. The\naffiliate is resolved from the code, and only an APPROVED affiliate's code\nresolves.\n\nFIRST TOUCH WINS, set once: one affiliate per referred org, so a re-post\nanswers the existing edge with `created:false` rather than moving the\nattribution. Self-attribution is refused, and so is a code that would make a\ncycle in the upline chain. An unknown code is a 404, deliberately: an\naffiliate code IS a public shareable link, so whether one is real is public by\ndesign, and the caller legitimately needs to know its link resolved.\n\nA user-level mirror of the edge is written best-effort; a conflict there never\nfails the org attribution, which is the money-bearing one.",
        "tags": [
          "affiliates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "code": "acme"
              },
              "schema": {
                "$ref": "#/components/schemas/attributeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/attribution"
                }
              }
            },
            "description": "ok"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/attribution"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/affiliates/click": {
      "post": {
        "operationId": "post_affiliates_click",
        "summary": "Counts a click on a share link.",
        "description": "Counts a click on a share link. PUBLIC — it takes no principal, because\na visitor clicking a shareable link has no session yet.\n\nThe ping folds into an in-memory buffer and NEVER writes the money database\nsynchronously, so a click flood cannot contend with the accrual and payout\nwrite path; tallies are flushed in one batch on the next authenticated links\nread and at shutdown. Clicks are a vanity metric: no accrual and no payout\never reads them — those key on real metered spend — so click inflation cannot\nmove money.\n\nAny well-formed code is accepted WITHOUT checking that it exists,\ndeliberately: this is not a code-existence oracle. `counted` reports that the\nbuffer took the ping, not that the code is real; an unknown code simply no-ops\nat flush time.",
        "tags": [
          "affiliates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "code": "acme"
              },
              "schema": {
                "$ref": "#/components/schemas/clickRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/clickCount"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/affiliates/leaderboard": {
      "get": {
        "operationId": "get_affiliates_leaderboard",
        "summary": "Answers the top affiliates by lifetime accrued commission, shown by OPT-IN HANDLE with aggregate figures only, plus the caller's own exact rank.",
        "description": "Answers the top affiliates by lifetime accrued commission, shown by\nOPT-IN HANDLE with aggregate figures only, plus the caller's own exact rank.\n\nIt never discloses an org identity and never a referred org's usage. An\naffiliate that has set no handle still OCCUPIES its rank but is not listed —\nso opting out hides the name, not the position, and the visible board must not\nbe read as a complete roster.\n\nThe caller's own row carries its exact GLOBAL rank, computed over the whole\napproved set rather than over the page, so it is right well outside the top of\nthe board. Only an approved affiliate has a rank. Requires a validated\nprincipal; a signed-in non-affiliate may read the board but gets no personal\nrow.",
        "tags": [
          "affiliates"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/affiliateBoard"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/affiliates/me": {
      "get": {
        "operationId": "get_affiliates_me",
        "summary": "Answers the richer self-view: the same lifetime accrued, pending and paid commission and payout history, plus the caller's downline broken out by upline LEVEL — direct, second, third — each with the rate paid at that level and how many orgs sit there.",
        "description": "Answers the richer self-view: the same lifetime accrued, pending and paid\ncommission and payout history, plus the caller's downline broken out by upline\nLEVEL — direct, second, third — each with the rate paid at that level and how\nmany orgs sit there.\n\nCommission is MULTI-LEVEL: a referred org's spend pays up its referral chain,\nthree levels deep and no further. The direct level is the affiliate's own\nnegotiated rate; the second and third are platform-wide switches, read live,\nso the schedule shown is the one actually in force rather than one compiled\nin. A caller that has not applied still gets that schedule alongside\n`isAffiliate:false`, so the console can show what it would earn.\n\nScoped to the validated org and nothing else, and refused without a\nprincipal. A PURE READ — it reports the downline but accrues nothing.",
        "tags": [
          "affiliates"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/affiliateSelf"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/affiliates/me/earnings": {
      "get": {
        "operationId": "get_affiliates_me_earnings",
        "summary": "Answers the caller's own commission ledger: per period, the margin it earned against and the commission taken from that margin; and per referred org, that referral's aggregate contribution.",
        "description": "Answers the caller's own commission ledger: per period, the margin it\nearned against and the commission taken from that margin; and per referred\norg, that referral's aggregate contribution. Integer cents throughout.\n\nThe per-org view deliberately carries the affiliate's OWN earned share and NOT\nthe referred org's spend or margin. An affiliate is entitled to what it\nearned, not to a restatement of its customer's usage — the period view is\nwhere the margin base appears, aggregated across every referral.\n\nScoped server-side to the validated caller's affiliate; a caller that is not\none gets `isAffiliate:false`.",
        "tags": [
          "affiliates"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/affiliateEarnings"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/affiliates/me/handle": {
      "post": {
        "operationId": "post_affiliates_me_handle",
        "summary": "Sets the caller's public leaderboard display name, or clears it.",
        "description": "Sets the caller's public leaderboard display name, or clears it.\n\nThe handle IS the opt-in. An empty handle opts out: the affiliate keeps its\nrank and can still see its own row, it simply stops being listed to anyone\nelse. That is the whole privacy control — there is no separate visibility\nflag, and no way to be listed without choosing a name.\n\nRequires a validated principal and an existing affiliate record; apply first.\nThe handle is bounded and restricted to letters, digits, space, hyphen,\nunderscore and dot.",
        "tags": [
          "affiliates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "handle": "acme partners"
              },
              "schema": {
                "$ref": "#/components/schemas/handleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/handleSet"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/affiliates/me/links": {
      "get": {
        "operationId": "get_affiliates_me_links",
        "summary": "Answers the caller's share links, each with its URL and its funnel: clicks tracked, signups — orgs attributed with that code — and conversions, meaning how many of those signups have actually produced commission.",
        "description": "Answers the caller's share links, each with its URL and its funnel:\nclicks tracked, signups — orgs attributed with that code — and conversions,\nmeaning how many of those signups have actually produced commission.\n\nSignups and conversions are DERIVED from the commission ledger and never\nstored, so they cannot drift from the money. Clicks are the one stored counter\nand the one that is pure vanity.\n\nAny pending public click pings are folded into the store before the read, in\none batch — which is how the counters stay current without a database write\nper click. Scoped to the validated caller's own affiliate; a non-affiliate\ngets `isAffiliate:false` and the link cap.",
        "tags": [
          "affiliates"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/affiliateLinks"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_affiliates_me_links",
        "summary": "Mints a new share link for the caller's own affiliate and answers it with its full URL, 201.",
        "description": "Mints a new share link for the caller's own affiliate and answers it\nwith its full URL, 201.\n\nAPPROVAL IS REQUIRED: an org that has applied but is not approved is refused,\nbecause a link that cannot accrue is a link that quietly loses the referral. A\nrequested vanity code must be valid and free across the WHOLE directory —\ncodes are one global namespace, so a taken code is a 409 rather than a silent\nalias. Omit the code and a random one is minted.\n\nBounded per affiliate. The label is cosmetic: it is trimmed, stripped of\ncontrol characters and capped, and it is never part of a code.",
        "tags": [
          "affiliates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "label": "twitter"
              },
              "schema": {
                "$ref": "#/components/schemas/createLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/linkMint"
                }
              }
            },
            "description": "created"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "accruals": {
        "properties": {
          "accrued": {
            "description": "Accrued is how many NEW commission accruals this run created, counted across\nevery upline level. The accrual is latched at most once per (affiliate, source\norg, period), so a re-run inside the same month reports 0 having changed\nnothing — 0 means \"already accrued\", not \"failed\".",
            "type": "integer"
          },
          "royaltiesAccrued": {
            "description": "RoyaltiesAccrued is how many OSS-author royalty accruals the SAME spend read\nproduced in the sibling authors program. One read drives both.",
            "type": "integer"
          },
          "royaltyFailures": {
            "description": "RoyaltyFailures is reported, not swallowed: a sweep that could not reach\nthe royalty store must not read as one that found nothing owed. The count\nwas already computed and then dropped on the floor, which is the same\nsilence the typed leg was added to end.",
            "type": "integer"
          },
          "swept": {
            "description": "Swept is how many source (referred) orgs the run visited, bounded at 500 per\nrun. A source with no spend this period, or one whose spend could not be read,\nstill counts as swept.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "accrualsOut": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/accruals",
            "description": "Data is what the run did: sources visited, new accruals, royalties alongside."
          },
          "msg": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "adminAffiliateView": {
        "properties": {
          "accruedCents": {
            "description": "AccruedCents is lifetime commission accrued, in cents. It only grows — a\npayout moves paidCents, never this.",
            "type": "integer"
          },
          "approvedAt": {
            "description": "ApprovedAt is when staff approved, Unix seconds UTC. 0 means never approved.",
            "type": "integer"
          },
          "code": {
            "description": "Code is the minted referral code, the slug the ?aff link carries. Empty until\napproval mints it. Codes are one global namespace across all affiliates.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the org applied, Unix seconds UTC.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the affiliate's server-minted handle, \"aff_\"-prefixed — the id the\napprove, suspend, rate and payout routes address.",
            "type": "string"
          },
          "org": {
            "description": "Org is the partner's own org slug. It appears ONLY on this cross-tenant admin\nview; no partner-facing read ever names another org.",
            "type": "string"
          },
          "paidCents": {
            "description": "PaidCents is lifetime commission already paid out, in cents — credits grants\nand record-only cash disbursements alike.",
            "type": "integer"
          },
          "pendingCents": {
            "description": "PendingCents is accrued minus paid, in cents: what is still owed, and the hard\nceiling the next payout is reserved against. Never negative.",
            "type": "integer"
          },
          "rateBps": {
            "description": "RateBps is this affiliate's DIRECT (level 1) commission rate in basis points\nOF Hanzo's margin (2000 = 20% of margin, never of the customer's bill). Levels\n2 and 3 are platform-wide switches and are not carried per affiliate.",
            "type": "integer"
          },
          "referredCount": {
            "description": "ReferredCount is how many orgs this affiliate is the DIRECT referrer of,\ncounted from the attribution edges. It is 0 on the single-affiliate answers\n(approve, suspend, rate, payout), which do not run the count.",
            "type": "integer"
          },
          "requestedCode": {
            "description": "RequestedCode is the vanity code the applicant asked for. A request, not an\nallocation: approval mints a different slug if this one was taken. Absent when\nnone was asked for.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"applied\", \"approved\" or \"suspended\". Only \"approved\" resolves for\nattribution and accrues; \"suspended\" stops future earning and claws nothing\nback.",
            "type": "string"
          },
          "suspendedAt": {
            "description": "SuspendedAt is when staff suspended, Unix seconds UTC. 0 means never\nsuspended; it is not cleared by a later re-approval.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "affiliateBoard": {
        "properties": {
          "leaders": {
            "description": "Leaders are the top opt-in affiliates, by handle and aggregate figures only.",
            "items": {
              "$ref": "#/components/schemas/leaderboardRow"
            },
            "type": "array"
          },
          "total": {
            "description": "Total is the approved population where it is known; omitted where the top\npage truncated and the caller has no rank to derive it from.",
            "type": "integer"
          },
          "you": {
            "$ref": "#/components/schemas/leaderboardRow",
            "description": "You is the caller's own row with its exact global rank; only an approved\naffiliate has one."
          }
        },
        "type": "object"
      },
      "affiliateData": {
        "properties": {
          "affiliate": {
            "$ref": "#/components/schemas/adminAffiliateView",
            "description": "Affiliate is the row as it stands AFTER the action that returned it. Its\nreferredCount is 0 here: these single-affiliate answers do not run the count."
          }
        },
        "type": "object"
      },
      "affiliateEarnings": {
        "properties": {
          "accruedCents": {
            "description": "AccruedCents is lifetime commission accrued, in cents.",
            "type": "integer"
          },
          "byPeriod": {
            "description": "ByPeriod is the per-period ledger: the margin earned against and the\ncommission taken from it.",
            "items": {
              "$ref": "#/components/schemas/periodEarningView"
            },
            "type": "array"
          },
          "byReferredOrg": {
            "description": "ByReferredOrg is each referral's aggregate contribution — the affiliate's\nOWN share, never the referred org's spend.",
            "items": {
              "$ref": "#/components/schemas/orgEarningView"
            },
            "type": "array"
          },
          "isAffiliate": {
            "description": "IsAffiliate says whether the caller org has an affiliate record. On false it\nis the ONLY field present — there is no ledger to report, and the zeros you\nmight expect are absent rather than reported as earnings of nothing.",
            "type": "boolean"
          },
          "marginBps": {
            "description": "MarginBps is the platform gross-margin fraction commission is a rate OF.",
            "type": "integer"
          },
          "paidCents": {
            "description": "PaidCents is lifetime commission already paid out, in cents.",
            "type": "integer"
          },
          "pendingCents": {
            "description": "PendingCents is accrued minus paid — what the platform still owes.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "affiliateLinks": {
        "properties": {
          "isAffiliate": {
            "description": "IsAffiliate says whether the caller org has an affiliate record. On false only\nmaxLinks comes back — there are no links, and there is no link to mint until\nthe org applies and is approved.",
            "type": "boolean"
          },
          "links": {
            "description": "Links is the caller's share links, each with its URL and funnel.",
            "items": {
              "$ref": "#/components/schemas/codeView"
            },
            "type": "array"
          },
          "maxLinks": {
            "description": "MaxLinks is how many share links one affiliate may hold.",
            "type": "integer"
          },
          "status": {
            "description": "Status is the caller's affiliate status: \"applied\", \"approved\" or\n\"suspended\"; absent for a non-affiliate. Minting a link requires \"approved\",\nbecause a link that cannot accrue quietly loses the referral.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "affiliateOut": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/affiliateData",
            "description": "Data carries the affiliate row the action just wrote."
          },
          "msg": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "affiliateSelf": {
        "properties": {
          "accruedCents": {
            "description": "AccruedCents is lifetime commission accrued, in cents. It only grows — a\npayout is recorded against paidCents and never reduces this.",
            "type": "integer"
          },
          "code": {
            "description": "Code is the minted referral code, the slug the ?aff link carries. Absent until\nstaff approve; codes live in ONE global namespace across all affiliates.",
            "type": "string"
          },
          "defaultRateBps": {
            "description": "DefaultRateBps is the direct rate a new affiliate starts at, in basis points\nof margin (2000 = 20%). Answered ONLY to a caller that has not applied, as the\nquote beside `schedule`.",
            "type": "integer"
          },
          "downlineTotal": {
            "description": "DownlineTotal counts every org in the caller's downline across the levels.",
            "type": "integer"
          },
          "handle": {
            "description": "Handle is the opt-in public leaderboard name. Empty means opted out: the\ncaller keeps its rank and still sees its own row, it is just not listed.",
            "type": "string"
          },
          "id": {
            "description": "ID is the affiliate's server-minted handle, \"aff_\"-prefixed. Absent until the\norg applies.",
            "type": "string"
          },
          "isAffiliate": {
            "description": "IsAffiliate says whether the caller org has an affiliate record. On false the\nanswer carries the rate SCHEDULE and the default rate instead of a downline,\nso the console can show what the caller would earn.",
            "type": "boolean"
          },
          "levels": {
            "description": "Levels is the caller's downline per upline level, with the rate paid there.",
            "items": {
              "$ref": "#/components/schemas/levelView"
            },
            "type": "array"
          },
          "link": {
            "description": "Link is the shareable ?aff URL built from the code. Empty until a code is\nminted, since there is nothing to share before approval.",
            "type": "string"
          },
          "marginBps": {
            "description": "MarginBps is the platform gross-margin fraction, in basis points, that every\nrate here is a rate OF. Read live per request, so it is the value in force\nnow, not the one that applied to commission already accrued.",
            "type": "integer"
          },
          "paidCents": {
            "description": "PaidCents is lifetime commission already paid out, in cents — credits grants\nand record-only cash disbursements alike.",
            "type": "integer"
          },
          "payouts": {
            "description": "Payouts is the payout history, newest first, bounded to the last 100 rows.",
            "items": {
              "$ref": "#/components/schemas/remittance"
            },
            "type": "array"
          },
          "pendingCents": {
            "description": "PendingCents is accrued minus paid, in cents — what the platform still owes\nand the ceiling on the next payout. Never negative.",
            "type": "integer"
          },
          "rateBps": {
            "description": "RateBps is the caller's OWN direct (level 1) commission rate, in basis points\nof margin. Levels 2 and 3 are platform-wide and appear in `levels`.",
            "type": "integer"
          },
          "schedule": {
            "description": "Schedule is the rate schedule quoted to a caller that has not applied.",
            "items": {
              "$ref": "#/components/schemas/levelView"
            },
            "type": "array"
          },
          "status": {
            "description": "Status is \"applied\", \"approved\" or \"suspended\"; absent for a caller that never\napplied. Only \"approved\" mints links and accrues.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "affiliateStanding": {
        "properties": {
          "accruedCents": {
            "description": "AccruedCents is lifetime commission accrued, in cents.",
            "type": "integer"
          },
          "code": {
            "description": "Code is the minted referral code; empty until staff approve.",
            "type": "string"
          },
          "defaultRateBps": {
            "description": "DefaultRateBps is the direct rate a new affiliate would get, answered only\nto a caller that has not applied.",
            "type": "integer"
          },
          "handle": {
            "description": "Handle is the opt-in public leaderboard name; empty means opted out.",
            "type": "string"
          },
          "id": {
            "description": "ID is the affiliate's server-minted handle, \"aff_\"-prefixed — what staff\napprove, suspend, re-rate and pay against. Absent until the org applies.",
            "type": "string"
          },
          "isAffiliate": {
            "description": "IsAffiliate says whether the caller org has an affiliate record at all. It is\nthe ONE field an org that never applied gets besides defaultRateBps: on false,\nread nothing else here — every other field is absent, not zero.",
            "type": "boolean"
          },
          "link": {
            "description": "Link is the shareable ?aff URL; empty until a code is minted.",
            "type": "string"
          },
          "marginBps": {
            "description": "MarginBps is the platform gross-margin fraction commission is a rate OF.",
            "type": "integer"
          },
          "paidCents": {
            "description": "PaidCents is lifetime commission already paid out, in cents.",
            "type": "integer"
          },
          "payouts": {
            "description": "Payouts is the payout history, newest rows bounded.",
            "items": {
              "$ref": "#/components/schemas/remittance"
            },
            "type": "array"
          },
          "pendingCents": {
            "description": "PendingCents is accrued minus paid — what the platform still owes.",
            "type": "integer"
          },
          "rateBps": {
            "description": "RateBps is the affiliate's own direct commission rate, in basis points.",
            "type": "integer"
          },
          "referredCount": {
            "description": "ReferredCount is how many orgs this affiliate has referred.",
            "type": "integer"
          },
          "requestedCode": {
            "description": "RequestedCode is the vanity code asked for at apply time — a request, not an\nallocation. Approval mints `code`, which may be a different slug if this one\nwas already taken.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"applied\", \"approved\" or \"suspended\". Only an approved affiliate has\na code that resolves for attribution and accrues commission; suspended keeps\nwhat it already earned but stops earning more.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "application": {
        "properties": {
          "code": {
            "description": "Code is the minted referral code. Empty on a first apply — applying does not\nmint a code, approval does; a re-apply echoes whatever the row already holds.",
            "type": "string"
          },
          "created": {
            "description": "Created says whether THIS call made the row. false means the org had already\napplied and nothing changed — no second row, no reset of an existing approval.\nThe HTTP status states the same fact: 201 when true, 200 when false.",
            "type": "boolean"
          },
          "id": {
            "description": "ID is the affiliate's server-minted handle, \"aff_\"-prefixed — the id staff\napprove, suspend, re-rate and pay against.",
            "type": "string"
          },
          "rateBps": {
            "description": "RateBps is the direct (level 1) commission rate the row carries, in basis\npoints OF Hanzo's margin (2000 = 20% of margin, never of the customer's bill).",
            "type": "integer"
          },
          "requestedCode": {
            "description": "RequestedCode echoes the vanity code asked for, normalized to lower case. It\nis a request only: approval mints a different slug if this one is taken.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"applied\" for a row this call created. A re-apply echoes the\nexisting row's status, which may already be \"approved\" or \"suspended\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "applyRequest": {
        "properties": {
          "requestedCode": {
            "description": "RequestedCode is the vanity code the applicant asks for; approval may mint\na different one if it is taken. Body-only: the URL cannot supply it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "approval": {
        "properties": {
          "code": {
            "description": "Code overrides the minted code; else the requested vanity code, else a\nderived slug.",
            "type": "string"
          },
          "id": {
            "description": "ID is the affiliate to approve, from the path.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "attributeRequest": {
        "properties": {
          "code": {
            "description": "Code is the affiliate code the referred org arrived with. Body-only: the\nURL cannot supply it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "attribution": {
        "properties": {
          "code": {
            "description": "Code is the affiliate code the edge was recorded under, normalized to lower\ncase. On a re-post it is the code of the STANDING edge, which may differ from\nthe one just sent — first touch wins.",
            "type": "string"
          },
          "created": {
            "description": "Created says whether THIS call made the edge. false means the caller org was\nalready attributed and nothing moved. The HTTP status says the same: 201 when\ntrue, 200 when false.",
            "type": "boolean"
          },
          "createdAt": {
            "description": "CreatedAt is when the edge was FIRST recorded, Unix seconds UTC. On a re-post\nit is the original time, not now.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the attribution edge's server-minted handle, \"afr_\"-prefixed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "clickCount": {
        "properties": {
          "counted": {
            "description": "Counted says the in-memory buffer took the ping. It does NOT say the code\nexists — this is deliberately not a code-existence oracle, and an unknown code\nsimply no-ops at flush time. false means the buffer was full and the ping was\ndropped, which is harmless: clicks are vanity and move no money.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "clickRequest": {
        "properties": {
          "code": {
            "description": "Code is the share-link code that was clicked. Body-only: the URL cannot\nsupply it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "codeView": {
        "properties": {
          "clicks": {
            "description": "Clicks is how many pings this code has taken. The one STORED counter here and\npure vanity: no accrual or payout reads it, pings are coalesced in memory and\nflushed in batches, and a dropped tally is accepted rather than contending\nwith the money write path. Do not reconcile it against anything.",
            "type": "integer"
          },
          "code": {
            "description": "Code is the link's slug — 3–32 chars of a–z, 0–9 and hyphen — unique across\nthe WHOLE directory, so any affiliate's code resolves an attribution.",
            "type": "string"
          },
          "conversions": {
            "description": "Conversions is how many of those signups have actually produced positive\ncommission for the caller. Also derived, from the accrual rows, so it is\n≤ signups and lags a referral until the first sweep after it spends.",
            "type": "integer"
          },
          "createdAt": {
            "description": "CreatedAt is when the link was minted, Unix seconds UTC.",
            "type": "integer"
          },
          "label": {
            "description": "Label is the caller's own note for the link (\"twitter\", \"newsletter\").\nCosmetic: trimmed, stripped of control characters, capped at 48 bytes, and\nnever part of the code. \"primary\" on the link mirrored at approval.",
            "type": "string"
          },
          "signups": {
            "description": "Signups is how many orgs were attributed with this code — DERIVED by counting\nattribution edges, never stored, so it cannot drift from the ledger.",
            "type": "integer"
          },
          "url": {
            "description": "URL is the full shareable link, the brand host plus ?aff=\u003ccode\u003e. The host is\nthe deployment's own brand, so a Lux or Zoo install never mints a hanzo.ai\nlink.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "createLinkRequest": {
        "properties": {
          "code": {
            "description": "Code is an optional vanity code; it must be free across the whole\ndirectory, and omitting it mints a random one. Body-only.",
            "type": "string"
          },
          "label": {
            "description": "Label is cosmetic — trimmed, stripped of control characters, capped — and\nnever part of a code. Body-only: the URL cannot supply it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "directoryData": {
        "properties": {
          "affiliates": {
            "description": "Affiliates is one row per affiliate across the whole fleet, ORG EXPOSED,\noldest first and bounded by the request's limit.",
            "items": {
              "$ref": "#/components/schemas/adminAffiliateView"
            },
            "type": "array"
          },
          "summary": {
            "$ref": "#/components/schemas/totals",
            "description": "Summary tallies exactly the rows above — not the whole table — so a limit that\ntruncates the page truncates the tally with it."
          }
        },
        "type": "object"
      },
      "directoryOut": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/directoryData",
            "description": "Data is the affiliate directory and its tally."
          },
          "msg": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "disbursal": {
        "properties": {
          "amountCents": {
            "description": "AmountCents is the payout, integer cents; it must be positive and can\nnever exceed the affiliate's pending commission. Body-only (`url:\"-\"`,\nlike every money field here): a payout must never ride the URL into\naccess logs, and the raw handler read only the body.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the affiliate to pay, from the path.",
            "type": "string"
          },
          "method": {
            "description": "Method decides whether money moves: `credits` issues a commerce grant,\nevery other method (wire, paypal, …) is record-only.",
            "type": "string"
          },
          "reference": {
            "description": "Reference is the operator's settlement note (a bank id, a ledger ref).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "funnel": {
        "properties": {
          "convertedOrgs": {
            "description": "ConvertedOrgs is how many distinct referred orgs have produced positive\ncommission at least once — a referral that actually spent.",
            "type": "integer"
          },
          "ratePct": {
            "description": "RatePct is convertedOrgs over referredOrgs as a PERCENTAGE, 0–100, and the one\nnon-integer figure on this board. It is 0 when nothing has been referred yet,\nnot undefined.",
            "type": "number"
          },
          "referredOrgs": {
            "description": "ReferredOrgs is how many attribution edges exist fleet-wide — one per referred\norg, first-touch, so it is also the count of distinct referred orgs.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "handleRequest": {
        "properties": {
          "handle": {
            "description": "Handle is the public leaderboard display name; empty opts out. Body-only:\nthe URL cannot supply it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "handleSet": {
        "properties": {
          "handle": {
            "description": "Handle is the display name as STORED, echoed back after trimming. Empty means\nthe caller opted out: it keeps its rank and still sees its own row, it is just\nno longer listed to anyone else.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "leaderboardRow": {
        "properties": {
          "accruedCents": {
            "description": "AccruedCents is that affiliate's lifetime commission accrued, in cents, and\nwhat the board is ordered by. An aggregate: no per-customer figure is exposed.",
            "type": "integer"
          },
          "handle": {
            "description": "Handle is the affiliate's self-chosen display name — the only identity the\nboard ever carries. The org behind it is never disclosed.",
            "type": "string"
          },
          "isYou": {
            "description": "IsYou marks the caller's own row, so a client can highlight it without\nmatching on a handle. Absent on every other row.",
            "type": "boolean"
          },
          "rank": {
            "description": "Rank is the position in the GLOBAL approved set ordered by lifetime accrued\ncommission, 1-based. Affiliates that set no handle still occupy their rank and\nare simply not listed, so the visible ranks have gaps and the board is not a\ncomplete roster. On the caller's own row the rank is computed over the whole\nset, so it is exact well outside the top page.",
            "type": "integer"
          },
          "referredCount": {
            "description": "ReferredCount is how many orgs that affiliate directly referred — a count\nonly, never which orgs.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "levelSplit": {
        "properties": {
          "l1Cents": {
            "description": "L1Cents is lifetime commission accrued to DIRECT referrers, in cents.",
            "type": "integer"
          },
          "l2Cents": {
            "description": "L2Cents is lifetime commission accrued one step above the direct referrer, in\ncents, at the platform-wide level-2 rate.",
            "type": "integer"
          },
          "l3Cents": {
            "description": "L3Cents is lifetime commission accrued two steps above, in cents. Nothing\naccrues past level 3, so l1+l2+l3 is the whole accrual.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "levelView": {
        "properties": {
          "downlineCount": {
            "description": "DownlineCount is how many orgs sit exactly this many hops below the caller. It\nis 0 in the schedule quoted to a caller that has not applied, which has no\ndownline to count.",
            "type": "integer"
          },
          "level": {
            "description": "Level is the upline distance from the org whose spend is being shared: 1 is\nthe direct referrer, 2 and 3 the referrers above it. Nothing accrues past 3.",
            "type": "integer"
          },
          "rateBps": {
            "description": "RateBps is the commission paid at this level, in basis points OF Hanzo's\nmargin (2000 = 20% of margin, never of the customer's bill). Level 1 is the\naffiliate's own negotiated rate; 2 and 3 are platform switches read live, so\nthis is the schedule actually in force, not one compiled in.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "linkMint": {
        "properties": {
          "link": {
            "$ref": "#/components/schemas/codeView",
            "description": "Link is the link just minted, with its full shareable URL. Its funnel counters\nall start at zero — nothing has clicked or signed up through it yet."
          }
        },
        "type": "object"
      },
      "orgEarningView": {
        "properties": {
          "commissionCents": {
            "description": "CommissionCents is what the caller earned from that org across ALL periods, in\ncents. Deliberately the caller's own share and nothing else: that org's spend\nand the margin on it are not restated here.",
            "type": "integer"
          },
          "referredOrg": {
            "description": "ReferredOrg is the org slug this contribution came from — one the caller\nreferred, directly or up to three levels down.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "payoutOut": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/settlement",
            "description": "Data is the recorded payout and the balances it left behind."
          },
          "msg": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "periodEarningView": {
        "properties": {
          "commissionCents": {
            "description": "CommissionCents is what the caller earned that period, in cents: the sum over\neach referred org and upline level of margin × that level's rate. Always ≤\nmarginCents, by construction.",
            "type": "integer"
          },
          "marginCents": {
            "description": "MarginCents is the margin Hanzo earned in that period on the spend of every\norg the caller referred, in cents — the base commission is a rate OF. It is\nthe aggregate base, never any one customer's bill.",
            "type": "integer"
          },
          "period": {
            "description": "Period is the accrual bucket: the UTC year-month, \"YYYY-MM\". Commission is\nlatched at most once per referred org per period, so one row is one month.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "rateSet": {
        "properties": {
          "id": {
            "description": "ID is the affiliate whose direct rate moves, from the path.",
            "type": "string"
          },
          "rateBps": {
            "description": "RateBps is the direct commission rate, in basis points of Hanzo's margin;\ncapped so the whole L1+L2+L3 schedule never exceeds the margin. Body-only\n(`url:\"-\"`): a money parameter must never ride the URL into access logs.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "referralBoard": {
        "properties": {
          "accrualByLevel": {
            "$ref": "#/components/schemas/levelSplit",
            "description": "AccrualByLevel splits the lifetime accrual across the three upline levels —\nhow much of the liability comes from direct referrals versus the chain above."
          },
          "conversion": {
            "$ref": "#/components/schemas/funnel",
            "description": "Conversion is the funnel: referred orgs against those that actually earned."
          },
          "summary": {
            "$ref": "#/components/schemas/tally",
            "description": "Summary is the fleet tally — population by status, and lifetime accrued, paid\nand still-owed commission."
          },
          "topReferrers": {
            "description": "TopReferrers is the 25 affiliates with the most lifetime accrued commission,\ndescending, orgs named.",
            "items": {
              "$ref": "#/components/schemas/referrerRow"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "referralsOut": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/referralBoard",
            "description": "Data is the referral board: leaders, funnel, tally and per-level liability."
          },
          "msg": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "referrerRow": {
        "properties": {
          "accruedCents": {
            "description": "AccruedCents is lifetime commission accrued, in cents. The board is sorted by\nthis, descending.",
            "type": "integer"
          },
          "code": {
            "description": "Code is that affiliate's minted referral code; empty if it is not approved.",
            "type": "string"
          },
          "org": {
            "description": "Org is the partner's own org slug. Named only here, on the SuperAdmin board —\nthe partner-facing leaderboard shows an opt-in handle and never an org.",
            "type": "string"
          },
          "pendingCents": {
            "description": "PendingCents is accrued minus paid, in cents — what is still owed to this\naffiliate. Never negative.",
            "type": "integer"
          },
          "referredCount": {
            "description": "ReferredCount is how many orgs this affiliate is the DIRECT referrer of —\nits level-1 downline, not the whole three-level chain.",
            "type": "integer"
          },
          "status": {
            "description": "Status is \"applied\", \"approved\" or \"suspended\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "remittance": {
        "properties": {
          "amountCents": {
            "description": "AmountCents is the amount disbursed, in cents. It was reserved against pending\ncommission atomically when recorded, so it never exceeds what was owed.",
            "type": "integer"
          },
          "createdAt": {
            "description": "CreatedAt is when the payout was recorded, Unix seconds UTC — when the balance\nmoved, not necessarily when the cash landed.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the payout row's server-minted handle, \"apo_\"-prefixed.",
            "type": "string"
          },
          "method": {
            "description": "Method is how it was settled. \"credits\" issued a commerce grant into the\naffiliate org's own wallet; any other value (wire, paypal, check, …) is a\nRECORD of cash a human moved out of band.",
            "type": "string"
          },
          "reference": {
            "description": "Reference is the operator's settlement note — a bank id, a ledger ref. Free\ntext, absent when none was given.",
            "type": "string"
          },
          "txn": {
            "description": "Txn is the commerce ledger transaction id, set ONLY where a \"credits\" payout\nactually issued the grant. Absent for cash methods, which write no ledger row.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "settlement": {
        "properties": {
          "affiliate": {
            "$ref": "#/components/schemas/adminAffiliateView",
            "description": "Affiliate is the row re-read AFTER the payout, so its paidCents and\npendingCents already account for the row beside it."
          },
          "payout": {
            "$ref": "#/components/schemas/remittance",
            "description": "Payout is the payout row just recorded."
          }
        },
        "type": "object"
      },
      "tally": {
        "properties": {
          "accruedLifetimeCents": {
            "description": "AccruedLifetimeCents is all commission ever accrued, summed across every\naffiliate, in cents. It only grows; a payout does not reduce it.",
            "type": "integer"
          },
          "affiliates": {
            "description": "Affiliates is how many affiliate rows the board read, at every status. The\nread is bounded at 1000 rows, so a larger fleet reports the bound.",
            "type": "integer"
          },
          "approved": {
            "description": "Approved is how many of those rows are approved — the only ones whose code\nresolves for attribution and whose balance can grow.",
            "type": "integer"
          },
          "paidLifetimeCents": {
            "description": "PaidLifetimeCents is all commission ever paid out, in cents: credits grants\nplus record-only cash disbursements.",
            "type": "integer"
          },
          "pendingLiabilityCents": {
            "description": "PendingLiabilityCents is accrued minus paid across every affiliate, in cents.\nRead it as money OWED and not yet disbursed — a liability, not spend.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "totals": {
        "properties": {
          "accruedCents": {
            "description": "AccruedCents is lifetime commission accrued summed over those rows, in cents.",
            "type": "integer"
          },
          "applied": {
            "description": "Applied is how many of those rows are still awaiting approval — no code, no\naccrual yet.",
            "type": "integer"
          },
          "approved": {
            "description": "Approved is how many are approved: the only rows whose code resolves for\nattribution and whose balance can still grow.",
            "type": "integer"
          },
          "paidCents": {
            "description": "PaidCents is lifetime commission already paid out summed over those rows, in\ncents.",
            "type": "integer"
          },
          "pendingCents": {
            "description": "PendingCents is accrued minus paid summed over those rows, in cents — the\noutstanding liability across the page.",
            "type": "integer"
          },
          "suspended": {
            "description": "Suspended is how many were suspended. What they already accrued stays accrued\nand stays payable.",
            "type": "integer"
          },
          "total": {
            "description": "Total is how many affiliate rows this page covered, at every status. It is the\npage, not the table: a limit that truncates truncates this too.",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
