{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "base"
    },
    {
      "name": "collections"
    }
  ],
  "paths": {
    "/v1/base/health": {
      "get": {
        "operationId": "get_v1_base_health",
        "summary": "health reports that the base subsystem is mounted and answering.",
        "description": "health reports that the base subsystem is mounted and answering. It opens no\nBase app and reads no store, so it stays true whether or not the per-org\nhosting lane is switched on — which is what makes it a liveness probe for the\nbinary rather than a readiness probe for the embed.",
        "tags": [
          "base"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "service": "base",
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/baseStatus"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/collections": {
      "delete": {
        "operationId": "delete_v1_collections",
        "tags": [
          "collections"
        ]
      },
      "get": {
        "operationId": "get_v1_collections",
        "tags": [
          "collections"
        ]
      },
      "options": {
        "operationId": "options_v1_collections",
        "tags": [
          "collections"
        ]
      },
      "patch": {
        "operationId": "patch_v1_collections",
        "tags": [
          "collections"
        ]
      },
      "post": {
        "operationId": "post_v1_collections",
        "tags": [
          "collections"
        ]
      },
      "put": {
        "operationId": "put_v1_collections",
        "tags": [
          "collections"
        ]
      },
      "trace": {
        "operationId": "trace_v1_collections",
        "tags": [
          "collections"
        ]
      }
    },
    "/v1/collections/{wildcard1}": {
      "delete": {
        "operationId": "delete_v1_collections_by_wildcard1",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_collections_by_wildcard1",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "options": {
        "operationId": "options_v1_collections_by_wildcard1",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patch_v1_collections_by_wildcard1",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_collections_by_wildcard1",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_v1_collections_by_wildcard1",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "trace": {
        "operationId": "trace_v1_collections_by_wildcard1",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "baseStatus": {
        "properties": {
          "service": {
            "description": "Service names the subsystem answering.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" whenever this route answers.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
