{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package base is managed Hanzo Base: a hosted backend for your app — collections, records, access rules and sign-in.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "base"
    }
  ],
  "paths": {
    "/v1/base/health": {
      "get": {
        "operationId": "get_base_health",
        "summary": "Reports that the base subsystem is serving.",
        "description": "Reports that the base subsystem is serving.\n\nIt is deliberately INDEPENDENT of whether this deployment actually embeds the\nBase engine: the route answers before the CLOUD_BASE_EMBED gate and before the\n/v1/base/* wildcard, so a liveness probe measures the process rather than an\noptional feature, and the wildcard can never shadow it. It reads no tenant, so a\nprober that sends no principal is answered rather than refused.",
        "tags": [
          "base"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/baseHealth"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "baseHealth": {
        "properties": {
          "service": {
            "description": "Service is \"base\" — which subsystem answered.",
            "type": "string"
          },
          "status": {
            "description": "Status is \"ok\" when the subsystem is serving.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
