{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package machines is the ONE compute primitive: a machine is a gVisor pod that runs somebody else's code, and every lifetime is the same object.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "sandboxes"
    }
  ],
  "paths": {
    "/v1/sandboxes/{id}/exec": {
      "post": {
        "operationId": "post_v1_sandboxes_by_id_exec",
        "summary": "Run a command in a machine",
        "description": "Runs a command inside the machine and returns its exit code, stdout and stderr. A non-zero exit is a SUCCESSFUL call carrying a failed program — the HTTP status stays 200, because \"the tests failed\" and \"the machine is broken\" are different facts.\n\nNOTHING RUNS IN cloud. The command is streamed to the Kubernetes exec subresource of the machine's pod, which runs under the gVisor runtime class. The machine is addressed by pod NAME through the apiserver, never by address.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sandboxes/{id}/fs": {
      "get": {
        "operationId": "get_v1_sandboxes_by_id_fs",
        "summary": "Read a file, or list a directory",
        "description": "Reads one file from the machine's project directory as text, or lists the entries when the path names a directory. Paths resolve under the project root and a path that climbs out is refused rather than rewritten.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_sandboxes_by_id_fs",
        "summary": "Write a file",
        "description": "Writes the request body to one file in the machine's project directory, creating parent directories. Same confinement as the read above.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  }
}
