{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package sandbox is the ONE compute primitive: a sandbox is a gVisor pod that runs somebody else's code, and every lifetime is the same object.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "sandboxes"
    }
  ],
  "paths": {
    "/v1/sandboxes": {
      "get": {
        "operationId": "get_v1_sandboxes",
        "summary": "The sandboxes this org holds",
        "description": "Lists the caller org's sandboxes, newest first. `project` and `status` narrow it, and both are read from the QUERY STRING.\n\nIt answers from the org's own store rather than from the cluster, so a sandbox whose pod has since died still appears, carrying the status it was last known to have. That is deliberate: a lease you are being charged for should not vanish from the list because the thing behind it fell over.",
        "tags": [
          "sandboxes"
        ]
      },
      "post": {
        "operationId": "post_v1_sandboxes",
        "summary": "Lease a sandbox",
        "description": "Creates a sandbox and returns it. `class` is one of `exec`, `dev` or `desktop`; `dev` and `desktop` are attached to a `project`, which is required for them and names the volume the work persists on. `ttlSec` bounds the lease, and `image` overrides the class default.\n\nThis is the ONLY path that creates cluster objects. The isolation boundary is the pod's runtime class, one field, so what a sandbox is confined by is a deployment decision rather than anything this operation negotiates.",
        "tags": [
          "sandboxes"
        ]
      }
    },
    "/v1/sandboxes/end": {
      "post": {
        "operationId": "end_sandbox",
        "summary": "End a sandbox and release it",
        "tags": [
          "sandboxes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/sandboxes/lease": {
      "post": {
        "operationId": "lease_sandbox",
        "summary": "Lease a sandbox — a real computer — or resume one you hold",
        "tags": [
          "sandboxes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaseIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Leased"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/sandboxes/read": {
      "post": {
        "operationId": "read_sandbox_file",
        "summary": "Read a file from a sandbox you hold",
        "tags": [
          "sandboxes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PathIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blob"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/sandboxes/run": {
      "post": {
        "operationId": "run_in_sandbox",
        "summary": "Run a command in a sandbox you hold and read its output",
        "tags": [
          "sandboxes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ran"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/sandboxes/write": {
      "post": {
        "operationId": "write_sandbox_file",
        "summary": "Write a file into a sandbox you hold",
        "tags": [
          "sandboxes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WriteIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wrote"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/sandboxes/{id}": {
      "delete": {
        "operationId": "delete_v1_sandboxes_by_id",
        "summary": "End a sandbox",
        "description": "Stops the sandbox's pod and drops the lease. The VOLUME survives by default, so a `dev` or `desktop` sandbox can be leased again over the same project and find its checkout where it left it.\n\n`purge=1` deletes the volume too. It is opt-in because it is the one part of this that cannot be undone.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_sandboxes_by_id",
        "summary": "One sandbox",
        "description": "Returns one of the caller org's sandboxes. An id belonging to another org answers 404 and not 403 — a 403 would confirm the id exists, and whether a given sandbox exists is itself a cross-tenant fact.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sandboxes/{id}/exec": {
      "post": {
        "operationId": "post_v1_sandboxes_by_id_exec",
        "summary": "Run a command in a sandbox",
        "description": "Runs a command inside the sandbox and returns its exit code, stdout and stderr. A non-zero exit is a SUCCESSFUL call carrying a failed program — the HTTP status stays 200, because \"the tests failed\" and \"the sandbox is broken\" are different facts.\n\nNOTHING RUNS IN cloud. The command is streamed to the Kubernetes exec subresource of the sandbox's pod, which runs under the gVisor runtime class. The sandbox is addressed by pod NAME through the apiserver, never by address.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sandboxes/{id}/fs": {
      "get": {
        "operationId": "get_v1_sandboxes_by_id_fs",
        "summary": "Read a file, or list a directory",
        "description": "Reads one file from the sandbox's project directory as text, or lists the entries when the path names a directory. Paths resolve under the project root and a path that climbs out is refused rather than rewritten.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_sandboxes_by_id_fs",
        "summary": "Write a file",
        "description": "Writes the request body to one file in the sandbox's project directory, creating parent directories. Same confinement as the read above.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sandboxes/{id}/terminal": {
      "get": {
        "operationId": "get_v1_sandboxes_by_id_terminal",
        "summary": "The terminal, as a page",
        "description": "A complete, self-contained terminal — xterm inline, no other origin — that opens its own socket and runs a shell in this sandbox. Embed it in an iframe and there is nothing else to build.\n\n`ticket` is the credential from the POST above and `arg` names the session (see the socket below); both are simply carried through to the socket. The page is NOT gated — it is inert markup and does not redeem the ticket, because a ticket is spent once and a page that spent it would hold a credential that no longer opens anything.\n\nWhen the terminal is up it posts `{source:\"hanzo-term\", ready:true}` to its parent frame, so a host can tell a live terminal from a page that failed into something else. `frame-ancestors` admits our own brands' hosts and nothing further.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sandboxes/{id}/terminal/ticket": {
      "post": {
        "operationId": "post_v1_sandboxes_by_id_terminal_ticket",
        "summary": "Open a terminal",
        "description": "Mints a SINGLE-USE ticket for one interactive terminal in this sandbox and returns `{ticket, expiresIn, url}`, where url is the terminal PAGE with the ticket already on it.\n\nIt exists because a browser carries no Authorization header into a WebSocket or an iframe, so a terminal cannot be authenticated the way every other route here is. The ticket is a credential MINTED for that one terminal: bound to this org and this sandbox, valid for thirty seconds, and gone the first time it is presented. A long-lived bearer in a query string would instead be written into every access log on the path.\n\nMint one per terminal, and mint a fresh one to reconnect.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sandboxes/{id}/terminal/ws": {
      "get": {
        "operationId": "get_v1_sandboxes_by_id_terminal_ws",
        "summary": "The terminal, as a socket",
        "description": "Upgrades to a WebSocket carrying a login shell on a pseudo-terminal inside the sandbox — for a host that brings its own emulator. Requires `ticket`; a missing, expired or already-spent one answers 401 without upgrading.\n\nTHE WIRE. A text frame is stdin, unless it is the one control object `{\"resize\":{\"cols\":N,\"rows\":M}}`; a binary frame is always stdin. Output comes back as BINARY frames, because a pty emits arbitrary bytes cut at arbitrary offsets and a text frame carrying half a rune is one the browser closes the connection over.\n\n`arg` names a SESSION: the shell runs under `tmux new -A -s \u003carg\u003e`, which attaches to that session if it exists and creates it if it does not — so one sandbox holds as many terminals as a caller has names for. It is 1-64 characters of letters, digits, `-` or `_` and may not begin with `-`; anything else is 400. Without `arg` the shell is unnamed and unmultiplexed.\n\nThe shell is `bash -l`, falling back to `sh -l`, and to the plain shell again when the image has no tmux. Whatever else the image carries — the hanzo CLI included — is a command to type, never a requirement to get a prompt.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Blob": {
        "properties": {
          "data": {
            "contentEncoding": "base64",
            "type": "string"
          },
          "dir": {
            "type": "boolean"
          },
          "entries": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "path": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "EndIn": {
        "properties": {
          "id": {
            "type": "string"
          },
          "purge": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "LeaseIn": {
        "properties": {
          "class": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "ttlSec": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Leased": {
        "properties": {
          "class": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "workdir": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PathIn": {
        "properties": {
          "id": {
            "type": "string"
          },
          "path": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Ran": {
        "properties": {
          "exitCode": {
            "type": "integer"
          },
          "stderr": {
            "type": "string"
          },
          "stdout": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "RunIn": {
        "properties": {
          "argv": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "command": {
            "type": "string"
          },
          "dir": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "stdin": {
            "type": "string"
          },
          "timeoutSec": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "WriteIn": {
        "properties": {
          "data": {
            "contentEncoding": "base64",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "path": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Wrote": {
        "properties": {
          "bytes": {
            "type": "integer"
          },
          "path": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
