{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package sandbox is the ONE compute primitive: a sandbox is a gVisor pod that runs somebody else's code, and every lifetime is the same object.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "sandboxes"
    }
  ],
  "paths": {
    "/v1/sandboxes": {
      "get": {
        "operationId": "get_v1_sandboxes",
        "summary": "The sandboxes this org holds",
        "description": "Lists the caller org's sandboxes, newest first. `project` and `status` narrow it, and both are read from the QUERY STRING.\n\nIt answers from the org's own store rather than from the cluster, so a sandbox whose pod has since died still appears, carrying the status it was last known to have. That is deliberate: a lease you are being charged for should not vanish from the list because the thing behind it fell over.",
        "tags": [
          "sandboxes"
        ]
      },
      "post": {
        "operationId": "post_v1_sandboxes",
        "summary": "Lease a sandbox",
        "description": "Creates a sandbox and returns it. `class` is one of `exec`, `dev` or `desktop`; `dev` and `desktop` are attached to a `project`, which is required for them and names the volume the work persists on. `ttlSec` bounds the lease, and `image` overrides the class default.\n\nThis is the ONLY path that creates cluster objects. The isolation boundary is the pod's runtime class, one field, so what a sandbox is confined by is a deployment decision rather than anything this operation negotiates.",
        "tags": [
          "sandboxes"
        ]
      }
    },
    "/v1/sandboxes/end": {
      "post": {
        "operationId": "end_sandbox",
        "summary": "End a sandbox and release it",
        "description": "Ends the caller's sandbox lease: the pod goes, and the volume goes only\nwhen the caller asked for that too.",
        "tags": [
          "sandboxes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/sandboxes/lease": {
      "post": {
        "operationId": "lease_sandbox",
        "summary": "Lease a sandbox — a real computer — or resume one you hold",
        "description": "Leases the caller's sandbox, or returns the one it named if that\nlease is still running.\n\nWhat comes back is a real computer: a pod under a runtime boundary with a\ntoolchain already in it, its own filesystem, and a lease that ends it. Every\nother op here acts on the one this returns.",
        "tags": [
          "sandboxes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaseIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Leased"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/sandboxes/read": {
      "post": {
        "operationId": "read_sandbox_file",
        "summary": "Read a file from a sandbox you hold",
        "description": "Reads one path in the caller's sandbox: a file's bytes, or a\ndirectory's entries when the path names one.",
        "tags": [
          "sandboxes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PathIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blob"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/sandboxes/run": {
      "post": {
        "operationId": "run_in_sandbox",
        "summary": "Run a command in a sandbox you hold and read its output",
        "description": "Runs one command inside the caller's sandbox and answers its exit code,\nstdout and stderr. A non-zero exit is a successful call carrying a failed\nprogram, so it comes back as data and not as an error.\n\nName a `session` and the command NARRATES INTO IT: its output is appended to\nthat session's live log as the program produces it, so anything watching the\nsession — GET /v1/agents/sessions/stream, scoped to one run with ?root= —\nwatches the work happen rather than waiting for the verdict. Without it the\ncall is what it always was: silent until it returns, which for an agentic run\nis twenty-five minutes of blank screen.\n\nThe session is named; the TENANT is not. It is the org the caller already\nproved, so a session belonging to somebody else is absent from the org this\ncall acts for and the append is refused there.",
        "tags": [
          "sandboxes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ran"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/sandboxes/stop": {
      "post": {
        "operationId": "stop_run",
        "summary": "Stop what a sandbox is running, and keep the sandbox",
        "description": "Interrupts whatever the caller's sandbox is running and answers how\nmany commands it ended. The sandbox stays leased — stop ends the WORK, end ends\nthe RESOURCE — so whoever stopped a run can still read what it left behind.",
        "tags": [
          "sandboxes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stopped"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/sandboxes/write": {
      "post": {
        "operationId": "write_sandbox_file",
        "summary": "Write a file into a sandbox you hold",
        "description": "Writes bytes to one path in the caller's sandbox, creating parents,\nand answers the resolved path.",
        "tags": [
          "sandboxes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WriteIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wrote"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/sandboxes/{id}": {
      "delete": {
        "operationId": "delete_v1_sandboxes_by_id",
        "summary": "End a sandbox",
        "description": "Stops the sandbox's pod and drops the lease. The VOLUME survives by default, so a `dev` or `desktop` sandbox can be leased again over the same project and find its checkout where it left it.\n\n`purge=1` deletes the volume too. It is opt-in because it is the one part of this that cannot be undone.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_sandboxes_by_id",
        "summary": "One sandbox",
        "description": "Returns one of the caller org's sandboxes. An id belonging to another org answers 404 and not 403 — a 403 would confirm the id exists, and whether a given sandbox exists is itself a cross-tenant fact.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sandboxes/{id}/exec": {
      "post": {
        "operationId": "post_v1_sandboxes_by_id_exec",
        "summary": "Run a command in a sandbox",
        "description": "Runs a command inside the sandbox and returns its exit code, stdout and stderr. A non-zero exit is a SUCCESSFUL call carrying a failed program — the HTTP status stays 200, because \"the tests failed\" and \"the sandbox is broken\" are different facts.\n\nNOTHING RUNS IN cloud. The command is streamed to the Kubernetes exec subresource of the sandbox's pod, which runs under the gVisor runtime class. The sandbox is addressed by pod NAME through the apiserver, never by address.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sandboxes/{id}/fs": {
      "get": {
        "operationId": "get_v1_sandboxes_by_id_fs",
        "summary": "Read a file, or list a directory",
        "description": "Reads one file from the sandbox's project directory as text, or lists the entries when the path names a directory. Paths resolve under the project root and a path that climbs out is refused rather than rewritten.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_v1_sandboxes_by_id_fs",
        "summary": "Write a file",
        "description": "Writes the request body to one file in the sandbox's project directory, creating parent directories. Same confinement as the read above.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sandboxes/{id}/terminal": {
      "get": {
        "operationId": "get_v1_sandboxes_by_id_terminal",
        "summary": "The terminal, as a page",
        "description": "A complete, self-contained terminal — xterm inline, no other origin — that opens its own socket and runs a shell in this sandbox. Embed it in an iframe and there is nothing else to build.\n\n`ticket` is the credential from the POST above and `arg` names the session (see the socket below); both are simply carried through to the socket. The page is NOT gated — it is inert markup and does not redeem the ticket, because a ticket is spent once and a page that spent it would hold a credential that no longer opens anything.\n\nWhen the terminal is up it posts `{source:\"hanzo-term\", ready:true}` to its parent frame, so a host can tell a live terminal from a page that failed into something else. `frame-ancestors` admits our own brands' hosts and nothing further.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sandboxes/{id}/terminal/ticket": {
      "post": {
        "operationId": "post_v1_sandboxes_by_id_terminal_ticket",
        "summary": "Open a terminal",
        "description": "Mints a SINGLE-USE ticket for one interactive terminal in this sandbox and returns `{ticket, expiresIn, url}`, where url is the terminal PAGE with the ticket already on it.\n\nIt exists because a browser carries no Authorization header into a WebSocket or an iframe, so a terminal cannot be authenticated the way every other route here is. The ticket is a credential MINTED for that one terminal: bound to this org and this sandbox, valid for thirty seconds, and gone the first time it is presented. A long-lived bearer in a query string would instead be written into every access log on the path.\n\nMint one per terminal, and mint a fresh one to reconnect.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/sandboxes/{id}/terminal/ws": {
      "get": {
        "operationId": "get_v1_sandboxes_by_id_terminal_ws",
        "summary": "The terminal, as a socket",
        "description": "Upgrades to a WebSocket carrying a login shell on a pseudo-terminal inside the sandbox — for a host that brings its own emulator. Requires `ticket`; a missing, expired or already-spent one answers 401 without upgrading.\n\nTHE WIRE. A text frame is stdin, unless it is the one control object `{\"resize\":{\"cols\":N,\"rows\":M}}`; a binary frame is always stdin. Output comes back as BINARY frames, because a pty emits arbitrary bytes cut at arbitrary offsets and a text frame carrying half a rune is one the browser closes the connection over.\n\n`arg` names a SESSION: the shell runs under `tmux new -A -s \u003carg\u003e`, which attaches to that session if it exists and creates it if it does not — so one sandbox holds as many terminals as a caller has names for. It is 1-64 characters of letters, digits, `-` or `_` and may not begin with `-`; anything else is 400. Without `arg` the shell is unnamed and unmultiplexed.\n\nThe shell is `zsh -l`, falling back to `bash -l` and then to `sh -l`, and to the plain shell again when the image has no tmux. Every step is a preference and none is a requirement: whatever else the image carries — the hanzo CLI included — is a command to type, never a condition for getting a prompt.",
        "tags": [
          "sandboxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Blob": {
        "properties": {
          "data": {
            "contentEncoding": "base64",
            "type": "string"
          },
          "dir": {
            "type": "boolean"
          },
          "entries": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "path": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "EndIn": {
        "properties": {
          "id": {
            "description": "ID is the sandbox whose lease ends, from an earlier lease.",
            "type": "string"
          },
          "purge": {
            "description": "Purge deletes the project's DISK as well. It is opt-in because the disk holds\nthe only copy of the checkout: ending a lease is cheap and reversible,\ndeleting someone's uncommitted work is neither.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "LeaseIn": {
        "properties": {
          "class": {
            "description": "Class is what KIND of computer to lease, and the set is closed:\n\n\texec     a throwaway one that keeps nothing. Seconds to minutes.\n\tdev      a coding one, with the project's own disk attached. Hours.\n\tdesktop  a dev one that also has a screen.\n\nEmpty leases an `exec`, which is the right answer for running a program and\nthe wrong one for working on a repository, because it keeps nothing.",
            "type": "string"
          },
          "id": {
            "description": "ID names a sandbox to RESUME, and is the id an earlier lease answered with.\nEmpty asks for a new one. A caller that holds an id and omits it does not get\na second view of the same computer, it gets a second computer.",
            "type": "string"
          },
          "project": {
            "description": "Project names the disk to attach, and is REQUIRED for every class but `exec`.\n\nOne live sandbox per project: the disk attaches to one computer at a time, so\na second lease over a project that already has one is refused by name rather\nthan handed a silently empty disk.",
            "type": "string"
          },
          "runtime": {
            "description": "Runtime is the isolation boundary asked for: `gvisor` shares a filesystem\nand holds a project volume, `kata-fc` is a microVM that boots slower and\nreads files faster but has no shared filesystem at all. Empty asks for the\nfleet's default, which is the right answer unless you are measuring.\n\nIt is a REQUEST. The owner decides, and refuses a combination it cannot\nhonour — a volume under a runtime with no shared filesystem would write\ninto a tmpfs and lose the bytes at exit. Read Leased.Runtime for what the\nsandbox actually got.",
            "type": "string"
          },
          "ttlSec": {
            "description": "TTLSec bounds the lease in seconds. Unset takes the class default. Nothing\nruns forever, because a sandbox is somebody else's code on our nodes.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Leased": {
        "properties": {
          "class": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "runtime": {
            "description": "Runtime is the boundary this sandbox GOT, which need not be the one asked\nfor — carried for the same reason Workdir is, that it is a fact only the\nowner knows and a caller assuming it would be holding a second copy. Empty\nis the node's default runtime, and a real answer.",
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "workdir": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PathIn": {
        "properties": {
          "id": {
            "description": "ID is the sandbox to read from, from an earlier lease.",
            "type": "string"
          },
          "path": {
            "description": "Path is read relative to the sandbox's working directory unless it is\nabsolute, and a path that climbs out of it is refused rather than rewritten.\nEmpty names the working directory itself, which lists it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Ran": {
        "properties": {
          "exitCode": {
            "type": "integer"
          },
          "stderr": {
            "type": "string"
          },
          "stdout": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "RunIn": {
        "properties": {
          "argv": {
            "description": "Argv is the program and its arguments, already split — the form no shell can\nmisread. Give this or Command, not both.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "command": {
            "description": "Command is a shell line, run by `sh -c`. Use it when a pipeline or a\nredirection is the point, and Argv when it is not.",
            "type": "string"
          },
          "dir": {
            "description": "Dir runs the command somewhere other than the sandbox's working directory,\nwhich Leased.Workdir names.",
            "type": "string"
          },
          "id": {
            "description": "ID is the sandbox to run in, from an earlier lease.",
            "type": "string"
          },
          "session": {
            "description": "Session is the live agent session this command narrates into: its output is\nappended there AS IT IS PRODUCED, so every surface watching that session\nwatches the command work instead of a blank pause. A long run is otherwise a\nsilence with a verdict at the end.\n\nIt names a SESSION and never a tenant. The org is the one the caller already\nproved, so a session belonging to somebody else is simply absent from the org\nthis call acts for and the append is refused there. Empty means nothing is\nwatching, and then nothing is sent.",
            "type": "string"
          },
          "stdin": {
            "description": "Stdin is fed to the program on standard input. This is how bytes reach a file\nwithout being quoted into a shell line: `cat \u003e path` with the contents here\nwrites them exactly.",
            "type": "string"
          },
          "timeoutSec": {
            "description": "TimeoutSec bounds this ONE command, so a wedged program holds the caller for\nits own timeout rather than for the whole lease.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "StopIn": {
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Stopped": {
        "properties": {
          "stopped": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "WriteIn": {
        "properties": {
          "data": {
            "contentEncoding": "base64",
            "description": "Data is the file's bytes, and replaces whatever was there.",
            "type": "string"
          },
          "id": {
            "description": "ID is the sandbox to write into, from an earlier lease.",
            "type": "string"
          },
          "path": {
            "description": "Path is confined the same way PathIn.Path is. Missing parent directories are\ncreated.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Wrote": {
        "properties": {
          "bytes": {
            "type": "integer"
          },
          "path": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
