{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package integrations is how your org connects third-party accounts like Slack, and revokes them.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "connectors"
    },
    {
      "name": "integrations"
    }
  ],
  "paths": {
    "/v1/connectors": {
      "get": {
        "operationId": "get_connectors",
        "summary": "Lists the caller's OWN connectors across every provider — the set `hanzo connector ls` prints.",
        "description": "Lists the caller's OWN connectors across every provider — the set\n`hanzo connector ls` prints. Rows are keyed (org,user), so this can never\nsurface another user's connector, and no secret is in the view.",
        "tags": [
          "connectors"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "connectors": [
                    {
                      "account": "me@acme.com",
                      "connectedAt": "2026-07-01T10:00:00Z",
                      "expiresAt": "2026-07-01T11:00:00Z",
                      "externalId": "u-42",
                      "id": "openai:default",
                      "label": "default",
                      "provider": "openai",
                      "scopes": [
                        "api"
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/connectorsOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/connectors/providers": {
      "get": {
        "operationId": "get_connectors_providers",
        "summary": "Lists the user-scoped provider cards — the catalog of what a user can connect, and how.",
        "description": "Lists the user-scoped provider cards — the catalog of what a\nuser can connect, and how. Methods derive from capabilities (Device/Adopt/Verify\n— Mount asserts at least one), never from a parallel kind enum.",
        "tags": [
          "connectors"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "providers": [
                    {
                      "category": "AI",
                      "description": "Use your own OpenAI account.",
                      "id": "openai",
                      "methods": [
                        "device",
                        "token"
                      ],
                      "name": "OpenAI",
                      "scopes": [
                        "api"
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/connectorProvidersOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/connectors/{id}": {
      "delete": {
        "operationId": "delete_connectors_by_id",
        "summary": "Forgets a connector: every custodied secret, then the row.",
        "description": "Forgets a connector: every custodied secret, then the row.\nIdempotent — dropping a never-connected id still answers {disconnected:true}\n(disconnect() parity). No provider Revoke: none of the user-plane providers\nexposes a revoke endpoint.",
        "tags": [
          "connectors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the connector id, provider + \":\" + label (\"openai:default\") — the\nauth-profile-id shape. Another user's id is simply no row, so 404.",
            "schema": {
              "type": "string"
            },
            "example": "openai:work"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "disconnected": true
                },
                "schema": {
                  "$ref": "#/components/schemas/disconnectOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/connectors/{id}/refresh": {
      "post": {
        "operationId": "post_connectors_by_id_refresh",
        "summary": "Forces a token rotation for a connected connector, ahead of the automatic rotation a token read would do inside the expiry window.",
        "description": "Forces a token rotation for a connected connector, ahead of the\nautomatic rotation a token read would do inside the expiry window. Only\nproviders that declare a Refresh support it.",
        "tags": [
          "connectors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the connector id, provider + \":\" + label (\"openai:default\") — the\nauth-profile-id shape. Another user's id is simply no row, so 404.",
            "schema": {
              "type": "string"
            },
            "example": "openai:work"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "connector": {
                    "account": "me@acme.com",
                    "connectedAt": "2026-07-01T10:00:00Z",
                    "expiresAt": "2026-07-01T12:00:00Z",
                    "externalId": "u-42",
                    "id": "openai:work",
                    "label": "work",
                    "provider": "openai",
                    "scopes": [
                      "api"
                    ]
                  },
                  "refreshed": true
                },
                "schema": {
                  "$ref": "#/components/schemas/refreshOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/connectors/{id}/token": {
      "get": {
        "operationId": "get_connectors_by_id_token",
        "summary": "Hands the custodied access token to its owner — the ONE place custody exits.",
        "description": "Hands the custodied access token to its owner — the ONE place\ncustody exits. The (org,user)-keyed row IS the same-user gate: another user's\nid is simply \"no row\" → 404. fresh() auto-rotates within the refreshSkew\nwindow; static providers degenerate to a plain kmsGet of Secrets[0]. Refresh\ntokens are NEVER returned — custody keeps the sink. The token is never logged.",
        "tags": [
          "connectors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the connector id, provider + \":\" + label (\"openai:default\") — the\nauth-profile-id shape. Another user's id is simply no row, so 404.",
            "schema": {
              "type": "string"
            },
            "example": "openai:work"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "expiresAt": "2026-07-01T11:00:00Z",
                  "label": "work",
                  "provider": "openai",
                  "token": "\u003cthe access token\u003e"
                },
                "schema": {
                  "$ref": "#/components/schemas/connectorTokenOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/connectors/{provider}/credential": {
      "post": {
        "operationId": "post_connectors_by_provider_credential",
        "summary": "Is the direct intake path: a customer-held token/setup-token (Verify) or an externally obtained OAuth bundle from the CLI's local PKCE (Adopt).",
        "description": "Is the direct intake path: a customer-held token/setup-token\n(Verify) or an externally obtained OAuth bundle from the CLI's local PKCE\n(Adopt). ALWAYS verify-before-store: a bad credential is refused and NOTHING\nis persisted (connectByCredential's fail-closed order).",
        "tags": [
          "connectors"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the user-scoped provider's registry id, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "openai"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "label": "work",
                "provider": "openai",
                "token": "sk-user-owned-key"
              },
              "schema": {
                "$ref": "#/components/schemas/credentialIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "connected": true,
                  "connector": {
                    "account": "me@acme.com",
                    "connectedAt": "2026-07-01T10:00:00Z",
                    "expiresAt": "",
                    "externalId": "u-42",
                    "id": "openai:work",
                    "label": "work",
                    "provider": "openai",
                    "scopes": [
                      "api"
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/credentialOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/connectors/{provider}/device": {
      "post": {
        "operationId": "post_connectors_by_provider_device",
        "summary": "Begins a device sign-in and returns the code to show the user plus how to poll for completion.",
        "description": "Begins a device sign-in and returns the code to show the user plus\nhow to poll for completion. KMS readiness is checked NOW rather than dead-ending\nthe user at poll-done (connect() parity), and the per-provider connector cap is\nchecked before the provider is called. The provider's device code is persisted\nonly in the encrypted grants table and is NEVER returned.",
        "tags": [
          "connectors"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the user-scoped provider's registry id, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "openai"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "label": "work",
                "provider": "openai"
              },
              "schema": {
                "$ref": "#/components/schemas/deviceStartIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "expiresAt": "2026-07-01T10:15:00Z",
                  "flow": "g_7f2c",
                  "interval": 5,
                  "userCode": "WDJB-MJHT",
                  "verifyUrl": "https://example.com/device"
                },
                "schema": {
                  "$ref": "#/components/schemas/deviceStartOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/connectors/{provider}/device/{flow}/poll": {
      "post": {
        "operationId": "post_connectors_by_provider_device_by_flow_poll",
        "summary": "Advances a device sign-in.",
        "description": "Advances a device sign-in. Terminal outcomes are DATA, not errors\n(verifyConn {active:false} discipline) — the status set is closed:\npending|connected|denied|expired. pollSlow collapses to \"pending\" on the\nwire; the raised cadence rides interval.",
        "tags": [
          "connectors"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the user-scoped provider's registry id, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "openai"
          },
          {
            "name": "flow",
            "in": "path",
            "required": true,
            "description": "Flow is the id deviceStartOut returned. Expired or another user's flow is\nindistinguishable from an unknown one: 404.",
            "schema": {
              "type": "string"
            },
            "example": "g_7f2c"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "connector": {
                    "account": "me@acme.com",
                    "connectedAt": "2026-07-01T10:05:00Z",
                    "expiresAt": "2026-07-01T11:00:00Z",
                    "externalId": "u-42",
                    "id": "openai:work",
                    "label": "work",
                    "provider": "openai",
                    "scopes": [
                      "api"
                    ]
                  },
                  "status": "connected"
                },
                "schema": {
                  "$ref": "#/components/schemas/devicePollOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/integrations": {
      "get": {
        "operationId": "get_integrations",
        "summary": "Returns every registered integration provider together with THIS org's connection status for it — the catalog the console's Integrations page renders.",
        "description": "Returns every registered integration provider together with THIS org's\nconnection status for it — the catalog the console's Integrations page renders.\nOrg-authed: a caller with no validated principal is 403, because the status is\nper-org and there is no org-less answer. User-plane providers (the /v1/connectors\nsurface) are omitted; the two planes are disjoint.",
        "tags": [
          "integrations"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "providers": [
                    {
                      "available": true,
                      "category": "Communication",
                      "connected": true,
                      "connection": {
                        "account": "Acme",
                        "connectedAt": "2026-07-01T10:00:00Z",
                        "externalId": "T0231",
                        "scopes": [
                          "chat:write"
                        ]
                      },
                      "description": "Connect your workspace.",
                      "id": "slack",
                      "name": "Slack"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/listOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/integrations/discord/interactions": {
      "post": {
        "operationId": "post_integrations_discord_interactions",
        "summary": "Discord interactions endpoint",
        "description": "The Interactions Endpoint URL for the Discord app. It answers Discord's PING with a PONG, and handles the `/hanzo` slash command by acknowledging with a deferred ephemeral reply and editing that reply with the answer once the agent has run. Any other interaction is acknowledged and ignored.\n\nRequests are verified by ED25519 SIGNATURE over the timestamp and body against the app's public key — not by HMAC, unlike the Slack webhooks. Interactions work over plain HTTP, so no gateway connection and no message-content intent is involved.\n\nDiscord does not retry, so this is the one channel where being at capacity is shown to the user as an ephemeral ask-to-run-it-again rather than answered as a retriable failure — nothing is recorded either way, so the next attempt is clean.\n\nThe caller here is the PLATFORM, not a Hanzo tenant, so there is no bearer and no principal. The signature check IS the authentication, and it fails closed. The tenant is never read from the payload either: it is resolved from the verified platform identifier through the connection map, so an event from a workspace nobody connected does nothing. Refusals are written with their own status rather than being flattened to a 500, so a rejected signature reads as 401 and a malformed body as 400.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/discord/link": {
      "get": {
        "operationId": "get_integrations_discord_link",
        "summary": "Begin linking a Hanzo account from Discord",
        "description": "The entry point behind the connect prompt Hanzo shows in a Discord server. It starts a link session and redirects to Discord's OAuth `identify` consent — the narrowest scope that establishes which Discord user is asking, and nothing more.\n\nThis is one leg of a three-leg flow, and the legs are not interchangeable: a browser is expected to arrive here only from the leg before it. The link URL's state proves the prompt was server-minted and carries the CHAT it started from — it is provenance only, and it never decides which account gets linked. The account identity always comes from the platform's own verified sign-in and a host-bound cookie, so forwarding a link to someone else cannot bind their account, and a session lifted into another browser is refused rather than completed. Each link is single-use, and a deployment without linking configured answers 503.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/discord/link/callback": {
      "get": {
        "operationId": "get_integrations_discord_link_callback",
        "summary": "Complete the Discord account link",
        "description": "The final leg: it binds the verified Discord user to the Hanzo account that just signed in, and answers a short confirmation page telling them to return to Discord. The Hanzo credential is sealed into the connected org's KMS namespace rather than stored beside the link.\n\nThis is one leg of a three-leg flow, and the legs are not interchangeable: a browser is expected to arrive here only from the leg before it. The link URL's state proves the prompt was server-minted and carries the CHAT it started from — it is provenance only, and it never decides which account gets linked. The account identity always comes from the platform's own verified sign-in and a host-bound cookie, so forwarding a link to someone else cannot bind their account, and a session lifted into another browser is refused rather than completed. Each link is single-use, and a deployment without linking configured answers 503.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/discord/link/discord": {
      "get": {
        "operationId": "get_integrations_discord_link_discord",
        "summary": "Discord sign-in return leg",
        "description": "Where Discord returns the user after the identify consent. It resolves the verified Discord user, confirms the server is connected to an org, and hands the browser to the Hanzo sign-in that completes the link.\n\nThis is one leg of a three-leg flow, and the legs are not interchangeable: a browser is expected to arrive here only from the leg before it. The link URL's state proves the prompt was server-minted and carries the CHAT it started from — it is provenance only, and it never decides which account gets linked. The account identity always comes from the platform's own verified sign-in and a host-bound cookie, so forwarding a link to someone else cannot bind their account, and a session lifted into another browser is refused rather than completed. Each link is single-use, and a deployment without linking configured answers 503.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/github/claim": {
      "post": {
        "operationId": "post_integrations_github_claim",
        "summary": "Binds installations the App ALREADY holds to the org the caller is acting in — the reconciliation for a grant that happened outside our connect flow.",
        "description": "Binds installations the App ALREADY holds to the org the caller is\nacting in — the reconciliation for a grant that happened outside our connect\nflow.\n\nAn installation IS the grant: GitHub recorded the consent when the App was\ninstalled, and our connection row is bookkeeping that never got written because\nnobody came through our callback. This writes that row from the App's own view,\nso 23 accounts granted straight from GitHub stop reading as nothing.\n\nThe org is taken from the VALIDATED PRINCIPAL and never from the body, because\nit is the one part GitHub cannot tell us. An installation carries an account\nlogin, a type and a repository selection — nothing that names a Hanzo org. So\nthe binding cannot be DERIVED, only asserted, and the only unforgeable assertion\navailable is the org the caller is already acting in. Inferring one from the\naccount name would be a guess the store cannot catch: its key is\n(org,provider,owner), so a wrong org is a valid row, and a valid row is a\nmirror pointed at the wrong tenant.\n\nSUPER ADMIN only, for that same reason. A tenant's proof that an account is\ntheirs is GitHub's own consent screen — the connect flow — and without it any\norg could claim any account the App holds. Platform sudo is already the scope\nthat reads the whole install list, so it is the scope that may bind from it;\ngiving a tenant this verb would hand it every other tenant's repositories.\n\nIdempotent: the row is keyed (org,provider,owner) and connected_at survives an\nupsert, so claiming twice rebinds the same account to the same org and reports\nit under `already`. Re-claiming also REFRESHES the installation id, so an\naccount reinstalled on GitHub — new id, same login — self-heals instead of\nminting tokens against a dead installation.\n\nClaiming an account another org holds ADDS this org's row and leaves theirs\nstanding, so no org loses an integration it is using.",
        "tags": [
          "integrations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/githubClaimIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "already": [
                    "zooai"
                  ],
                  "claimed": [
                    "hanzoai",
                    "luxfi"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/githubClaimOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/integrations/github/fork": {
      "post": {
        "operationId": "post_integrations_github_fork",
        "summary": "Forks a granted repository.",
        "description": "Forks a granted repository.\n\nGitHub's fork is ASYNCHRONOUS: it answers 202 with the target repo and\npopulates it in the background, and it answers the same 202 when the fork\nalready exists. So this reports what GitHub said rather than waiting — a call\nthat blocked until the clone finished would time out on a large repository and\ntell the caller nothing it does not already know.",
        "tags": [
          "integrations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "repo": "widgets"
              },
              "schema": {
                "$ref": "#/components/schemas/githubForkReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "clone_url": "https://github.com/acme/widgets.git",
                  "default_branch": "main",
                  "existing": false,
                  "full_name": "acme/widgets",
                  "html_url": "https://github.com/acme/widgets"
                },
                "schema": {
                  "$ref": "#/components/schemas/githubForkOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/integrations/github/installations": {
      "get": {
        "operationId": "get_integrations_github_installations",
        "summary": "Lists the GitHub accounts the caller may see the App installed on, each confirmed against the App's own list, plus where to add another.",
        "description": "Lists the GitHub accounts the caller may see the App\ninstalled on, each confirmed against the App's own list, plus where to add\nanother.\n\nThe confirmation is the point. A connection row holds an installation id, and\nan id whose installation was since removed on GitHub is a row that mints\nnothing — every list and import against it fails with a token error, which\nreads as \"our git integration is broken\" rather than \"that install is gone\".\nChecking the App's view turns that into a fact the caller can act on.\n\nORG-SCOPED for a tenant, deliberately. The App is installed across every\ncustomer, so the raw list is the customer list; a tenant sees only accounts its\nown org has bound. It discovers a NEW account by installing it (InstallURL),\nwhich is GitHub's own consent screen — not by reading ours.\n\nA SUPER ADMIN sees the App's whole install list, because that list is the\nplatform's own inventory rather than any one tenant's data, and platform sudo\nis the single cross-tenant scope this house has. Without it an App installed\nout-of-band — granted straight from GitHub, so no connect flow ever ran and no\nconnection row exists — is invisible to everyone: the console card reads \"not\nconnected\" and an operator asked \"which GitHub orgs do you see\" can only\nanswer for accounts already bound, which is precisely the accounts that were\nnever the question.",
        "tags": [
          "integrations"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "installUrl": "https://github.com/apps/hanzo/installations/new",
                  "installations": [
                    {
                      "connected": true,
                      "grant": "all",
                      "htmlUrl": "https://github.com/hanzoai",
                      "login": "hanzoai",
                      "type": "Organization"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/githubInstallationsOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/integrations/github/issues/backfill": {
      "post": {
        "operationId": "post_integrations_github_issues_backfill",
        "summary": "Seeds the native todo with the EXISTING issues across the org's granted repos (default state=open); the webhook keeps them live thereafter.",
        "description": "Seeds the native todo with the EXISTING issues across the\norg's granted repos (default state=open); the webhook keeps them live thereafter.\nOrg-scoped by the validated principal — a caller only ever backfills its OWN org.\nSynchronous + bounded (a total time budget and an issue cap) so it returns the\ncounts directly; idempotent by ExtRef, so a re-run continues where a truncated\npass left off and never duplicates.",
        "tags": [
          "integrations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "state": "all"
              },
              "schema": {
                "$ref": "#/components/schemas/githubBackfillIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "created": 410,
                  "failed": 0,
                  "issues": 430,
                  "repos": 12,
                  "updated": 20
                },
                "schema": {
                  "$ref": "#/components/schemas/githubBackfillResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/integrations/github/repos": {
      "get": {
        "operationId": "get_integrations_github_repos",
        "summary": "Lists the org's granted GitHub repositories, each annotated with its native import + sync status from the git object plane.",
        "description": "Lists the org's granted GitHub repositories, each annotated with its\nnative import + sync status from the git object plane. Org-authed: the org comes\nfrom the validated principal, and the granted set is bounded to THAT org's\ninstallation token — an org can never enumerate another org's repos. The console\npolls it to watch an import flip a repo to imported.",
        "tags": [
          "integrations"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "repos": [
                    {
                      "defaultBranch": "main",
                      "fullName": "acme/widgets",
                      "htmlUrl": "https://github.com/acme/widgets",
                      "imported": true,
                      "lastSyncedAt": "2026-07-01T10:00:00Z",
                      "name": "widgets",
                      "private": true,
                      "syncStatus": "synced"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/githubReposOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/integrations/github/repos/import": {
      "post": {
        "operationId": "post_integrations_github_repos_import",
        "summary": "Imports the selected (or all) granted repos into git.hanzo.ai.",
        "description": "Imports the selected (or all) granted repos into git.hanzo.ai. The\nselection is intersected with the installation's GRANTED set, so a client can\nnever import a repo the App was not granted (org isolation + a grant check). The\nimport runs in a bounded background worker (don't block the request), so the\nanswer is 202 Accepted; poll GET /v1/integrations/github/repos for the per-repo\nstatus to flip to imported.",
        "tags": [
          "integrations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "repos": [
                  "widgets"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/githubImportIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "example": {
                  "queued": 1,
                  "repos": [
                    "widgets"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/githubImportOut"
                }
              }
            },
            "description": "accepted"
          }
        }
      }
    },
    "/v1/integrations/github/repos/{repo}/pages": {
      "delete": {
        "operationId": "delete_integrations_github_repos_by_repo_pages",
        "summary": "Deletes the repo's Pages site.",
        "description": "Deletes the repo's Pages site. 404 when there is none, so a\ncaller can tell \"turned it off\" from \"there was nothing on\".",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "description": "Repo is the repository's short name within the org's installation, with no\nowner prefix (the owner is server-derived from the grant). A trailing \".git\"\nis stripped.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "disabled": true,
                  "repo": "widgets"
                },
                "schema": {
                  "$ref": "#/components/schemas/githubPagesDisabledOut"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "get": {
        "operationId": "get_integrations_github_repos_by_repo_pages",
        "summary": "Returns the repo's Pages status, live URL, custom domain and build source.",
        "description": "Returns the repo's Pages status, live URL, custom domain and build\nsource. The repo is resolved against the org installation's GRANTED set, so a\ncaller can never address a repo the App was not granted; 404 when the repo has no\nPages site.",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "description": "Repo is the repository's short name within the org's installation, with no\nowner prefix (the owner is server-derived from the grant). A trailing \".git\"\nis stripped.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "buildType": "legacy",
                  "cname": "docs.acme.com",
                  "custom404": false,
                  "httpsEnforced": true,
                  "repo": "widgets",
                  "source": {
                    "branch": "main",
                    "path": "/docs"
                  },
                  "status": "built",
                  "url": "https://acme.github.io/widgets/"
                },
                "schema": {
                  "$ref": "#/components/schemas/githubPagesView"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_integrations_github_repos_by_repo_pages",
        "summary": "Creates the repo's Pages site and answers 201 Created with it.",
        "description": "Creates the repo's Pages site and answers 201 Created with it.\nWith buildType \"workflow\" the site builds via GitHub Actions; otherwise it builds\nfrom a branch source, defaulting to the repo's own default branch when none is\ngiven. Only \"/\" and \"/docs\" are legal source paths (GitHub's rule).",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "description": "Repo is the repository, from the :repo path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "branch": "main",
                "path": "/docs",
                "repo": "widgets"
              },
              "schema": {
                "$ref": "#/components/schemas/githubPagesEnableReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "buildType": "legacy",
                  "custom404": false,
                  "httpsEnforced": true,
                  "repo": "widgets",
                  "source": {
                    "branch": "main",
                    "path": "/docs"
                  },
                  "status": "building",
                  "url": "https://acme.github.io/widgets/"
                },
                "schema": {
                  "$ref": "#/components/schemas/githubPagesView"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_integrations_github_repos_by_repo_pages",
        "summary": "Sets or clears the custom domain (cname) and updates HTTPS enforcement, build type, or source.",
        "description": "Sets or clears the custom domain (cname) and updates HTTPS\nenforcement, build type, or source. ONLY the provided fields are sent to GitHub,\nso an update never resets a setting the caller did not mention.",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "description": "Repo is the repository, from the :repo path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "cname": "docs.acme.com",
                "httpsEnforced": true,
                "repo": "widgets"
              },
              "schema": {
                "$ref": "#/components/schemas/githubPagesUpdateReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "repo": "widgets",
                  "updated": true
                },
                "schema": {
                  "$ref": "#/components/schemas/githubPagesUpdatedOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/integrations/github/repos/{repo}/pages/builds": {
      "post": {
        "operationId": "post_integrations_github_repos_by_repo_pages_builds",
        "summary": "Requests a Pages rebuild and returns the queued build's status.",
        "description": "Requests a Pages rebuild and returns the queued build's status.\nThe build is queued AT GITHUB, not completed here, so the answer is 202 Accepted\nand its status is the one GitHub reported at queue time. 404 when the repository\nhas no Pages site, or when the org's installation was not granted it.",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "description": "Repo is the repository's short name within the org's installation, with no\nowner prefix (the owner is server-derived from the grant). A trailing \".git\"\nis stripped.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "example": {
                  "repo": "widgets",
                  "status": "queued",
                  "url": "https://api.github.com/repos/acme/widgets/pages/builds/1"
                },
                "schema": {
                  "$ref": "#/components/schemas/githubPagesBuildOut"
                }
              }
            },
            "description": "accepted"
          }
        }
      }
    },
    "/v1/integrations/github/search": {
      "post": {
        "operationId": "post_integrations_github_search",
        "summary": "Finds repositories on GitHub.",
        "description": "Finds repositories on GitHub.\n\nThis reads the PUBLIC index and returns nothing an installation unlocks: it is\nhow you find a repository to fork, not a way to see inside one. The org's own\ntoken is used only so the query is rate-limited against the installation\nrather than anonymously — the results are the same ones anyone would get.",
        "tags": [
          "integrations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "limit": 5,
                "q": "language:go raft"
              },
              "schema": {
                "$ref": "#/components/schemas/githubSearchReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "count": 1,
                  "repos": [
                    {
                      "full_name": "hashicorp/raft",
                      "language": "Go",
                      "stars": 8000
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/githubSearchOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/integrations/github/webhook": {
      "post": {
        "operationId": "post_integrations_github_webhook",
        "summary": "GitHub App webhook",
        "description": "The address the GitHub App delivers events to. A push is handed to the repository sync engine, and an issue or issue-comment event is mirrored into the native todo — idempotently, so the same issue re-syncs to one row however many times it is edited, closed or reopened.\n\nIt answers a benign 200 for everything it does not act on — the ping, other event types, an unknown installation — deliberately, so GitHub does not enter a retry storm over events that were never going to do anything. Only a bad signature and a genuine sync failure are non-200, and an oversized payload is refused outright.\n\nTwo sync rules are worth stating because neither is guessable. EVERY ref syncs, tags as well as branches, because releases are cut by tag and filtering them would stop publishing with nothing reporting a failure. And a delete is NEVER propagated: the native side is canonical, so an inbound delete never removes a native ref.\n\nThe payload is verified by HMAC against the webhook secret before it is parsed.\n\nThe caller here is the PLATFORM, not a Hanzo tenant, so there is no bearer and no principal. The signature check IS the authentication, and it fails closed. The tenant is never read from the payload either: it is resolved from the verified platform identifier through the connection map, so an event from a workspace nobody connected does nothing. Refusals are written with their own status rather than being flattened to a 500, so a rejected signature reads as 401 and a malformed body as 400.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/openrouter/webhook": {
      "post": {
        "operationId": "post_integrations_openrouter_webhook",
        "summary": "Receive OpenRouter Broadcast traces as usage rows",
        "description": "OpenRouter's spend is invisible to every Hanzo money lens because those lenses read hanzo.cloud_usage and OpenRouter meters keys of its own. Point a Broadcast destination (Settings ▸ Observability ▸ Webhook) at this door and each generation span becomes ONE row in that same ledger with provider `openrouter`, so one query answers what we spend everywhere. Enable the Cost and Identity field categories: cost is the money and identity carries `openrouter.api_key_name`, which is what says WHICH key spent it — it lands in `account` as openrouter/\u003ckey name\u003e.\n\nAUTHENTICATION IS A HANZO KEY. Broadcast signs nothing; its only authentication is the destination's Headers map, so send a key as `Authorization: Bearer pk-…` and it is admitted exactly as /v1/event admits a beacon's: a project key resolves through the project that minted it, an IAM-issued key through IAM. That key names the org every row is filed under; it can write and cannot read. No key, or a key that names no org, is 401 and nothing is stored.\n\nThe body is OTLP/JSON — `{resourceSpans:[{scopeSpans:[{spans:[…]}]}]}` — exactly as OpenTelemetry defines it; the model, tokens and cost are read from each span's `gen_ai.*` attributes and the key name from `openrouter.api_key_name`. The answer is `{stored, dropped}`: how many generations became rows, and how many spans named no model. Those are OpenRouter's trace and span parents — they carry no cost to meter. An empty payload stores nothing and answers 200, which is what makes Test Connection pass. A warehouse that cannot take the rows answers 503 so the delivery shows red and can be replayed: a row is keyed by its span id, so a redelivery collapses rather than double-counting.",
        "tags": [
          "integrations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/slack/commands": {
      "post": {
        "operationId": "post_integrations_slack_commands",
        "summary": "Slack slash command webhook",
        "description": "The address Slack posts a slash command to, form-encoded. It acknowledges inside Slack's three-second budget and posts the answer afterwards to the command's own response URL, which is why the immediate reply is empty.\n\nThe body is verified against the same app signing secret as the events webhook, and a repeat of the same command invocation is absorbed rather than answered twice.\n\nThe caller here is the PLATFORM, not a Hanzo tenant, so there is no bearer and no principal. The signature check IS the authentication, and it fails closed. The tenant is never read from the payload either: it is resolved from the verified platform identifier through the connection map, so an event from a workspace nobody connected does nothing. Refusals are written with their own status rather than being flattened to a 500, so a rejected signature reads as 401 and a malformed body as 400.\n\nThe answer is acknowledged immediately and the work happens afterwards, because every one of these platforms times out a slow webhook. Duplicate deliveries are absorbed durably, so a platform retry of an event that already ran never runs it a second time or bills for it twice. When the agent pool is full nothing at all is recorded and the delivery is refused as retriable, so the message is re-delivered later rather than being lost or half-processed.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/slack/events": {
      "post": {
        "operationId": "post_integrations_slack_events",
        "summary": "Slack Events API webhook",
        "description": "The address a Slack app posts workspace events to. It answers Slack's url_verification handshake with the challenge, and routes an @mention or a direct message to an agent turn that replies in the same thread. The turn holds the product's own tools, so a request to change code starts a sandbox run because the model chose to — there is no prefix and no second path.\n\nThe raw body and its timestamp are verified against the app's signing secret before anything is read from them. Hanzo's own bot messages are dropped, so a reply cannot trigger another reply.\n\nThe caller here is the PLATFORM, not a Hanzo tenant, so there is no bearer and no principal. The signature check IS the authentication, and it fails closed. The tenant is never read from the payload either: it is resolved from the verified platform identifier through the connection map, so an event from a workspace nobody connected does nothing. Refusals are written with their own status rather than being flattened to a 500, so a rejected signature reads as 401 and a malformed body as 400.\n\nThe answer is acknowledged immediately and the work happens afterwards, because every one of these platforms times out a slow webhook. Duplicate deliveries are absorbed durably, so a platform retry of an event that already ran never runs it a second time or bills for it twice. When the agent pool is full nothing at all is recorded and the delivery is refused as retriable, so the message is re-delivered later rather than being lost or half-processed.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/slack/install": {
      "get": {
        "operationId": "get_integrations_slack_install",
        "summary": "Install the Hanzo app into a Slack workspace",
        "description": "The address behind Slack's \"Add to Slack\" and Marketplace Install buttons. It answers a 302 to Slack's own consent screen and does nothing else — it is a redirector by design.\n\nIt exists because Slack refuses a slack.com URL in that field and requires one of ours that redirects there, which makes the field an ATTRIBUTION hook: routing the click through our own address is what lets an install be counted, and always answering the redirect is what keeps the counter from becoming a detour that never reaches consent. The destination is the same consent URL every time, built from the same scopes the console's Connect button asks for, so a workspace is asked to grant one thing however the install began.\n\nIt is PUBLIC and carries no principal, because whoever clicks Install in Slack's directory has no Hanzo session yet. It binds no org either, and that is deliberate rather than missing: the org is resolved at the shared provider callback, from the signed state a console connect minted or from the workspace's existing connection. Minting an org for an anonymous click is the one thing that would break tenant isolation, so an install begun here finishes under exactly the rules every other install obeys.\n\nWhere the app is not configured it answers 503, rather than a consent URL carrying an empty client_id that Slack would render as its own dead-end error page.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/slack/link": {
      "get": {
        "operationId": "get_integrations_slack_link",
        "summary": "Begin linking a Hanzo account from Slack",
        "description": "The entry point behind the connect prompt Hanzo posts in Slack. It starts a link session in the browser and redirects to Slack's own sign-in, which is what proves which Slack user is asking.\n\nThis is one leg of a three-leg flow, and the legs are not interchangeable: a browser is expected to arrive here only from the leg before it. The link URL's state proves the prompt was server-minted and carries the CHAT it started from — it is provenance only, and it never decides which account gets linked. The account identity always comes from the platform's own verified sign-in and a host-bound cookie, so forwarding a link to someone else cannot bind their account, and a session lifted into another browser is refused rather than completed. Each link is single-use, and a deployment without linking configured answers 503.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/slack/link/callback": {
      "get": {
        "operationId": "get_integrations_slack_link_callback",
        "summary": "Complete the Slack account link",
        "description": "The final leg: the user has proved both who they are in Slack and who they are in Hanzo, and this binds the two. It answers a short confirmation page telling them to return to Slack.\n\nThe Hanzo credential obtained here is sealed into the connected workspace's own KMS namespace; it is never written to a database column and never logged. A deployment whose secret store is unavailable refuses the link rather than completing it without custody of the credential.\n\nThis is one leg of a three-leg flow, and the legs are not interchangeable: a browser is expected to arrive here only from the leg before it. The link URL's state proves the prompt was server-minted and carries the CHAT it started from — it is provenance only, and it never decides which account gets linked. The account identity always comes from the platform's own verified sign-in and a host-bound cookie, so forwarding a link to someone else cannot bind their account, and a session lifted into another browser is refused rather than completed. Each link is single-use, and a deployment without linking configured answers 503.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/slack/link/slack": {
      "get": {
        "operationId": "get_integrations_slack_link_slack",
        "summary": "Slack sign-in return leg",
        "description": "Where Slack returns the user after they sign in. It establishes the verified Slack workspace and user, confirms that workspace is connected to an org, and hands the browser on to the Hanzo sign-in that completes the link.\n\nThe verified pair is carried onward in a host-bound cookie rather than in the URL, so the identity being linked cannot be edited in transit.\n\nThis is one leg of a three-leg flow, and the legs are not interchangeable: a browser is expected to arrive here only from the leg before it. The link URL's state proves the prompt was server-minted and carries the CHAT it started from — it is provenance only, and it never decides which account gets linked. The account identity always comes from the platform's own verified sign-in and a host-bound cookie, so forwarding a link to someone else cannot bind their account, and a session lifted into another browser is refused rather than completed. Each link is single-use, and a deployment without linking configured answers 503.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/teams/events": {
      "post": {
        "operationId": "post_integrations_teams_events",
        "summary": "Microsoft Teams Bot Framework webhook",
        "description": "The messaging endpoint for the Teams bot. A message activity is routed to an agent turn and answered proactively through the Bot Connection; anything that is not a message with text is acknowledged and ignored.\n\nAuthentication is the Bot Framework's RS256 JWT, verified against its published keys and bound BOTH to this deployment's app id and to the activity's own service URL. The service-URL binding is the part that matters: without it a token valid for one activity could point the outbound reply somewhere else.\n\nThe caller here is the PLATFORM, not a Hanzo tenant, so there is no bearer and no principal. The signature check IS the authentication, and it fails closed. The tenant is never read from the payload either: it is resolved from the verified platform identifier through the connection map, so an event from a workspace nobody connected does nothing. Refusals are written with their own status rather than being flattened to a 500, so a rejected signature reads as 401 and a malformed body as 400.\n\nThe answer is acknowledged immediately and the work happens afterwards, because every one of these platforms times out a slow webhook. Duplicate deliveries are absorbed durably, so a platform retry of an event that already ran never runs it a second time or bills for it twice. When the agent pool is full nothing at all is recorded and the delivery is refused as retriable, so the message is re-delivered later rather than being lost or half-processed.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/teams/link": {
      "get": {
        "operationId": "get_integrations_teams_link",
        "summary": "Begin linking a Hanzo account from Teams",
        "description": "The entry point behind the connect prompt Hanzo shows in Teams. It starts a link session and redirects to Microsoft sign-in addressed to the CHAT'S OWN tenant, not the common endpoint, so only a member of that tenant can complete it.\n\nThis is one leg of a three-leg flow, and the legs are not interchangeable: a browser is expected to arrive here only from the leg before it. The link URL's state proves the prompt was server-minted and carries the CHAT it started from — it is provenance only, and it never decides which account gets linked. The account identity always comes from the platform's own verified sign-in and a host-bound cookie, so forwarding a link to someone else cannot bind their account, and a session lifted into another browser is refused rather than completed. Each link is single-use, and a deployment without linking configured answers 503.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/teams/link/aad": {
      "get": {
        "operationId": "get_integrations_teams_link_aad",
        "summary": "Microsoft sign-in return leg",
        "description": "Where Microsoft returns the user after sign-in. It resolves the verified directory identity and then re-checks the tenant: the signed-in user's tenant must equal the tenant of the chat the link started from, so a valid Microsoft sign-in from a different organization is refused here rather than accepted.\n\nThis is the leg Teams has and the other platforms do not, which is why the Teams flow has an extra address.\n\nThis is one leg of a three-leg flow, and the legs are not interchangeable: a browser is expected to arrive here only from the leg before it. The link URL's state proves the prompt was server-minted and carries the CHAT it started from — it is provenance only, and it never decides which account gets linked. The account identity always comes from the platform's own verified sign-in and a host-bound cookie, so forwarding a link to someone else cannot bind their account, and a session lifted into another browser is refused rather than completed. Each link is single-use, and a deployment without linking configured answers 503.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/teams/link/callback": {
      "get": {
        "operationId": "get_integrations_teams_link_callback",
        "summary": "Complete the Teams account link",
        "description": "The final leg: it binds the verified directory identity to the Hanzo account that just signed in, and answers a short confirmation page telling them to return to Teams. The Hanzo credential is sealed into the connected org's KMS namespace.\n\nThis is one leg of a three-leg flow, and the legs are not interchangeable: a browser is expected to arrive here only from the leg before it. The link URL's state proves the prompt was server-minted and carries the CHAT it started from — it is provenance only, and it never decides which account gets linked. The account identity always comes from the platform's own verified sign-in and a host-bound cookie, so forwarding a link to someone else cannot bind their account, and a session lifted into another browser is refused rather than completed. Each link is single-use, and a deployment without linking configured answers 503.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/telegram/connect": {
      "post": {
        "operationId": "post_integrations_telegram_connect",
        "summary": "Mints a short, single-use deep-link code bound to the caller's org and returns the t.me link the console navigates to.",
        "description": "Mints a short, single-use deep-link code bound to the caller's\norg and returns the t.me link the console navigates to. Org-authed: a caller with\nno validated principal is 403 (same gate as the framework connect). The code is\nstored as an oauth_nonce (org,telegram); the webhook's /start handler claims it to\nbind chat→org. It is short (128-bit hex) so it fits Telegram's 64-char `start`\npayload limit.",
        "tags": [
          "integrations"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "authorizeUrl": "https://t.me/hanzo_bot?start=9f3c1d2e4b5a6c7d8e9f0a1b2c3d4e5f"
                },
                "schema": {
                  "$ref": "#/components/schemas/authorizeOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/integrations/telegram/link": {
      "get": {
        "operationId": "get_integrations_telegram_link",
        "summary": "Begin linking a Hanzo account from Telegram",
        "description": "The entry point behind the connect prompt Hanzo sends in Telegram. Unlike the other platforms it answers an HTML PAGE rather than a redirect: Telegram has no OAuth flow, so the page hosts Telegram's Login Widget, and the browser is sent onward only after the user signs in through it.\n\nThe widget only appears on the domain registered for the bot, so a deployment whose bot domain is unset renders a page with nothing on it.\n\nThis is one leg of a three-leg flow, and the legs are not interchangeable: a browser is expected to arrive here only from the leg before it. The link URL's state proves the prompt was server-minted and carries the CHAT it started from — it is provenance only, and it never decides which account gets linked. The account identity always comes from the platform's own verified sign-in and a host-bound cookie, so forwarding a link to someone else cannot bind their account, and a session lifted into another browser is refused rather than completed. Each link is single-use, and a deployment without linking configured answers 503.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/telegram/link/auth": {
      "get": {
        "operationId": "get_integrations_telegram_link_auth",
        "summary": "Telegram Login Widget return leg",
        "description": "Where Telegram's Login Widget sends the user with its signed authentication data. That data is verified against the bot token — this is the identity source, and it is the widget's signature rather than a code exchange — and the chat is confirmed to be bound to an org before the browser is handed to the Hanzo sign-in.\n\nWidget data is only accepted while it is fresh, so a captured sign-in blob cannot be replayed later even though its signature stays valid.\n\nThis is one leg of a three-leg flow, and the legs are not interchangeable: a browser is expected to arrive here only from the leg before it. The link URL's state proves the prompt was server-minted and carries the CHAT it started from — it is provenance only, and it never decides which account gets linked. The account identity always comes from the platform's own verified sign-in and a host-bound cookie, so forwarding a link to someone else cannot bind their account, and a session lifted into another browser is refused rather than completed. Each link is single-use, and a deployment without linking configured answers 503.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/telegram/link/callback": {
      "get": {
        "operationId": "get_integrations_telegram_link_callback",
        "summary": "Complete the Telegram account link",
        "description": "The final leg: it binds the verified Telegram user to the Hanzo account that just signed in, and answers a short confirmation page telling them to return to Telegram. The Hanzo credential is sealed into the connected org's KMS namespace.\n\nThis is one leg of a three-leg flow, and the legs are not interchangeable: a browser is expected to arrive here only from the leg before it. The link URL's state proves the prompt was server-minted and carries the CHAT it started from — it is provenance only, and it never decides which account gets linked. The account identity always comes from the platform's own verified sign-in and a host-bound cookie, so forwarding a link to someone else cannot bind their account, and a session lifted into another browser is refused rather than completed. Each link is single-use, and a deployment without linking configured answers 503.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/telegram/webhook": {
      "post": {
        "operationId": "post_integrations_telegram_webhook",
        "summary": "Telegram Bot API webhook",
        "description": "The update webhook for the Telegram bot. It does two jobs: `/start \u003ccode\u003e` or `/connect \u003ccode\u003e` binds the chat it was sent from to an org, idempotently; anything else is treated as a possible agent trigger.\n\nWhat counts as a trigger differs by chat type, and it is easy to get wrong: in a private chat every message is a trigger, while in a group the message must mention the bot or use the `/hanzo` command. Non-triggers and non-message updates are acknowledged and dropped.\n\nAuthentication is the secret token Telegram echoes on every update, compared in constant time. A message in a chat that has never been bound is dropped, which is why the bind command exists.\n\nThe caller here is the PLATFORM, not a Hanzo tenant, so there is no bearer and no principal. The signature check IS the authentication, and it fails closed. The tenant is never read from the payload either: it is resolved from the verified platform identifier through the connection map, so an event from a workspace nobody connected does nothing. Refusals are written with their own status rather than being flattened to a 500, so a rejected signature reads as 401 and a malformed body as 400.\n\nThe answer is acknowledged immediately and the work happens afterwards, because every one of these platforms times out a slow webhook. Duplicate deliveries are absorbed durably, so a platform retry of an event that already ran never runs it a second time or bills for it twice. When the agent pool is full nothing at all is recorded and the delivery is refused as retriable, so the message is re-delivered later rather than being lost or half-processed.",
        "tags": [
          "integrations"
        ]
      }
    },
    "/v1/integrations/{provider}": {
      "get": {
        "operationId": "get_integrations_by_provider",
        "summary": "Returns ONE provider with this org's connection status — the same view list carries, for a single id.",
        "description": "Returns ONE provider with this org's connection status — the same view list\ncarries, for a single id. An unknown id is 404, and so is a user-plane provider:\nthe org surface never resolves one.",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the registry id of the connector — \"slack\", \"github\",\n\"cloudflare\". Unknown ids are 404, as are the user-plane (/v1/connectors)\nproviders, which this surface never resolves.",
            "schema": {
              "type": "string"
            },
            "example": "slack"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "available": true,
                  "category": "Communication",
                  "connected": false,
                  "description": "Connect your workspace.",
                  "id": "slack",
                  "name": "Slack"
                },
                "schema": {
                  "$ref": "#/components/schemas/providerView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/integrations/{provider}/callback": {
      "get": {
        "operationId": "get_integrations_by_provider_callback",
        "summary": "OAuth return for any connector",
        "description": "The single address every connector's OAuth flow returns to. It exchanges the authorization the provider granted, records the connection, and ALWAYS redirects the browser back to the console — on success and on every labeled failure alike, so a user never lands on a raw JSON dead end.\n\nIt is public and carries no principal, so the org is taken ONLY from the signed state minted when the flow began; no header is trusted here. That state is single-use and is burned BEFORE the exchange, so one authorization is one attempt and a replayed return fails instead of exchanging twice.\n\nTokens are sealed into the org's KMS namespace BEFORE the connection row is written, so a failure of the secret store leaves no half-connected integration advertising a credential that was never stored. Token values never appear in the redirect, in a log line or in an error.\n\nOne generalization is worth knowing: a GitHub App installation returns an installation identifier instead of an OAuth code, and it is accepted in the code's place so the App model needs no second address.",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/integrations/{provider}/connect": {
      "post": {
        "operationId": "post_integrations_by_provider_connect",
        "summary": "Acquires the org's credential for one provider.",
        "description": "Acquires the org's credential for one provider. It has TWO paths and the\nREQUEST picks which: a \"token\" key in the body seals that credential directly\n(verify-before-store), and its absence begins the 3-legged OAuth flow — minting a\nsingle-use nonce plus an HMAC-signed state that binds this org to this provider,\nand answering with the provider's authorize URL for the caller to redirect to.\n\nFail-closed order, unchanged: no principal → 403; unknown provider → 404; an\nAdminOnly connector without the caller's own-org admin bit → 403; not configured\n→ 503; KMS not ready → 503 (the flow WILL need to seal a token, so refuse now\nrather than dead-end at the callback).",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the connector's registry id, from the :provider path segment.",
            "schema": {
              "type": "string"
            },
            "example": "cloudflare"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "accountId": "a1b2c3",
                "provider": "cloudflare",
                "token": "cf-scoped-api-token"
              },
              "schema": {
                "$ref": "#/components/schemas/connectIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "account": "Acme",
                  "connected": true,
                  "externalId": "a1b2c3",
                  "provider": "cloudflare",
                  "scopes": []
                },
                "schema": {
                  "$ref": "#/components/schemas/connectOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/integrations/{provider}/disconnect": {
      "post": {
        "operationId": "post_integrations_by_provider_disconnect",
        "summary": "Revokes (best-effort) and forgets an org's connection: it deletes every custodied KMS secret and the connection row.",
        "description": "Revokes (best-effort) and forgets an org's connection: it deletes\nevery custodied KMS secret and the connection row. Idempotent — disconnecting a\nprovider that was never connected still returns {disconnected:true}. Symmetric\nwith connect: an AdminOnly connector needs the caller's own-org admin bit.",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the registry id of the connector — \"slack\", \"github\",\n\"cloudflare\". Unknown ids are 404, as are the user-plane (/v1/connectors)\nproviders, which this surface never resolves.",
            "schema": {
              "type": "string"
            },
            "example": "slack"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "disconnected": true
                },
                "schema": {
                  "$ref": "#/components/schemas/disconnectOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/integrations/{provider}/verify": {
      "post": {
        "operationId": "post_integrations_by_provider_verify",
        "summary": "Re-checks a CONNECTED apikey connector's stored credential against the provider, live (`hanzo connector verify`).",
        "description": "Re-checks a CONNECTED apikey connector's stored credential against the\nprovider, live (`hanzo connector verify`). Org-scoped (any member may check\nstatus); the credential is read from KMS, verified, and NEVER returned or logged.\nA verification failure is reported as {active:false}, not an error — the console/\nCLI renders it. Only apikey providers support verify (OAuth tokens are checked at\nuse, not re-verified here).",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider is the registry id of the connector — \"slack\", \"github\",\n\"cloudflare\". Unknown ids are 404, as are the user-plane (/v1/connectors)\nproviders, which this surface never resolves.",
            "schema": {
              "type": "string"
            },
            "example": "cloudflare"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "account": "Acme",
                  "active": true,
                  "externalId": "a1b2c3",
                  "provider": "cloudflare",
                  "scopes": [
                    "zone:read"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/verifyOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "authorizeOut": {
        "properties": {
          "authorizeUrl": {
            "description": "AuthorizeURL is the provider consent (or bot deep-link) URL.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "connView": {
        "properties": {
          "account": {
            "description": "Account is the provider's label for the connected account.",
            "type": "string"
          },
          "connectedAt": {
            "description": "ConnectedAt is when the connector was last (re)established, RFC 3339 UTC.",
            "type": "string"
          },
          "expiresAt": {
            "description": "ExpiresAt is when the access token expires, RFC 3339 UTC; empty for a\nnon-expiring credential. Reading the token auto-rotates inside the window.",
            "type": "string"
          },
          "externalId": {
            "description": "ExternalID is the provider's own id for that account.",
            "type": "string"
          },
          "id": {
            "description": "ID is provider + \":\" + label — what every other connector route addresses.",
            "type": "string"
          },
          "label": {
            "description": "Label is the caller's name for this connection (\"default\", \"work\").",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the user-scoped provider's registry id.",
            "type": "string"
          },
          "scopes": {
            "description": "Scopes are the permissions the credential carries. Never null; [] when none.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "connectIn": {
        "properties": {
          "accountId": {
            "description": "AccountID is the provider account the credential should be scoped to, for the\nproviders whose Verify needs one (Cloudflare). Ignored by the OAuth path.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the connector's registry id, from the :provider path segment.",
            "type": "string"
          },
          "token": {
            "description": "Token is the customer's provider credential. Its PRESENCE — not its value —\nis what selects the apikey seal over the OAuth flow for a provider that\noffers both: {\"token\":\"…\"}, even empty, is an apikey attempt (→ verify, which\nanswers the \"token required\" 400 on an empty value), while a body with no\ntoken key (the console Connect button, `hanzo connector add` with no --token)\nstarts OAuth. Read on STDIN by the CLI, never argv; never logged or echoed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "connectOut": {
        "properties": {
          "account": {
            "description": "Account is the account label the provider reported for the credential.\napikey path only; a pointer because \"\" is a real answer the provider gave.",
            "type": "string"
          },
          "authorizeUrl": {
            "description": "AuthorizeURL is the provider consent URL to send the user to. OAuth path only.",
            "type": "string"
          },
          "connected": {
            "description": "Connected is true on the apikey path once the credential verified and sealed.",
            "type": "boolean"
          },
          "externalId": {
            "description": "ExternalID is the provider's account id for the credential. apikey path only.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the connector's registry id. apikey path only.",
            "type": "string"
          },
          "scopes": {
            "description": "Scopes are the permissions the credential carries. apikey path only; never\nnull on that path ([] when the provider reported none).",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "connectionView": {
        "properties": {
          "account": {
            "description": "Account is the human label of the connected third-party account (the Slack\nteam name, the GitHub org login). Provider-supplied and sanitized on ingest.",
            "type": "string"
          },
          "connectedAt": {
            "description": "ConnectedAt is when the connection was last (re)established, RFC 3339 UTC.",
            "type": "string"
          },
          "externalId": {
            "description": "ExternalID is the provider's own id for the account (Slack team.id, GitHub\ninstallation_id) — the value inbound webhooks are mapped back to this org by.",
            "type": "string"
          },
          "scopes": {
            "description": "Scopes are the permissions the provider granted. Never null; [] when none.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "connectorProviderView": {
        "properties": {
          "category": {
            "description": "Category groups the card.",
            "type": "string"
          },
          "description": {
            "description": "Description is the one-line pitch the console card shows.",
            "type": "string"
          },
          "id": {
            "description": "ID is the provider's registry id and the :provider path segment.",
            "type": "string"
          },
          "methods": {
            "description": "Methods are the intake paths this provider supports, derived from its\ncapabilities: \"device\", \"oauth\" (adopt an externally obtained bundle) and\n\"token\" (a customer-held credential). At least one, always.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "description": "Name is the provider's display name.",
            "type": "string"
          },
          "scopes": {
            "description": "Scopes are the permissions a connection will ask for. Never null.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "connectorProvidersOut": {
        "properties": {
          "providers": {
            "description": "Providers is every USER-scoped provider, sorted by id. Never null.",
            "items": {
              "$ref": "#/components/schemas/connectorProviderView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "connectorTokenOut": {
        "properties": {
          "expiresAt": {
            "description": "ExpiresAt is when this token expires, RFC 3339 UTC; empty if non-expiring.",
            "type": "string"
          },
          "label": {
            "description": "Label is the connector's label.",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the connector's provider id.",
            "type": "string"
          },
          "token": {
            "description": "Token is the access token, rotated first if it was within the refresh window.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "connectorsOut": {
        "properties": {
          "connectors": {
            "description": "Connectors is the caller's own set. Never null; [] when they have none.",
            "items": {
              "$ref": "#/components/schemas/connView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "credentialIn": {
        "properties": {
          "accountId": {
            "description": "AccountID scopes the credential where the provider's Verify needs one.",
            "type": "string"
          },
          "label": {
            "description": "Label names this connection; empty means \"default\".",
            "type": "string"
          },
          "oauth": {
            "$ref": "#/components/schemas/oauthBundleIn",
            "description": "OAuth is a bundle the CLI already obtained through its own local PKCE flow.\nPresent ⇒ the Adopt path; absent ⇒ the Token path."
          },
          "provider": {
            "description": "Provider is the user-scoped provider's registry id, from the path.",
            "type": "string"
          },
          "token": {
            "description": "Token is the customer-held credential for the Verify path. Read on STDIN by\nthe CLI, never argv; never logged, echoed, or stored outside KMS.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "credentialOut": {
        "properties": {
          "connected": {
            "description": "Connected is always true — a failed verification is a 400 and stores nothing.",
            "type": "boolean"
          },
          "connector": {
            "$ref": "#/components/schemas/connView",
            "description": "Connection is the connector as it now stands."
          }
        },
        "type": "object"
      },
      "devicePollOut": {
        "properties": {
          "connector": {
            "$ref": "#/components/schemas/connView",
            "description": "Connection is the connected connector. Present only on \"connected\"."
          },
          "interval": {
            "description": "Interval is the seconds to wait before the next poll. Present only while\npending, and it may rise when the provider asks the client to slow down.",
            "type": "integer"
          },
          "status": {
            "description": "Status is the flow's state. \"pending\" means poll again after Interval.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "deviceStartIn": {
        "properties": {
          "label": {
            "description": "Label names this connection so one user can hold several per provider\n(\"work\", \"personal\"). Empty means \"default\". 1-64 of [A-Za-z0-9._-].",
            "type": "string"
          },
          "provider": {
            "description": "Provider is the user-scoped provider's registry id, from the path.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "deviceStartOut": {
        "properties": {
          "expiresAt": {
            "description": "ExpiresAt is when the flow dies, RFC 3339 UTC.",
            "type": "string"
          },
          "flow": {
            "description": "Flow is the id to poll with.",
            "type": "string"
          },
          "interval": {
            "description": "Interval is the seconds to wait between polls.",
            "type": "integer"
          },
          "userCode": {
            "description": "UserCode is the short code the user types at VerifyURL.",
            "type": "string"
          },
          "verifyUrl": {
            "description": "VerifyURL is the page the user opens to enter UserCode.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "disconnectOut": {
        "properties": {
          "disconnected": {
            "description": "Disconnected is always true — the org's secrets and connection row are gone.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "githubBackfillIn": {
        "properties": {
          "state": {
            "description": "State is the GitHub issue state to walk: \"open\" (the default), \"closed\" or\n\"all\". Anything else is a 400.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "githubBackfillResult": {
        "properties": {
          "created": {
            "description": "Created is how many native issues this pass created.",
            "type": "integer"
          },
          "failed": {
            "description": "Failed is how many repos or issues errored; the pass continues past each.",
            "type": "integer"
          },
          "issues": {
            "description": "Issues is how many upstream issues were seen.",
            "type": "integer"
          },
          "repos": {
            "description": "Repos is how many granted repos were walked (archived/disabled are skipped).",
            "type": "integer"
          },
          "truncated": {
            "description": "Truncated is set when the time budget or the issue cap stopped the pass early.\nRe-run to continue — the mirror is idempotent by ExtRef, so nothing duplicates.",
            "type": "boolean"
          },
          "updated": {
            "description": "Updated is how many existing native issues this pass refreshed.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "githubClaimIn": {
        "properties": {
          "accounts": {
            "description": "Accounts names GitHub logins the App is installed on (\"hanzoai\"). Matched\ncase-insensitively, since GitHub logins are. Ignored when all is true.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "all": {
            "description": "All binds every account the App holds, instead of naming them.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "githubClaimOut": {
        "properties": {
          "already": {
            "description": "Already were bound before the call and are unchanged by it.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "claimed": {
            "description": "Claimed are the accounts this call bound. Never null; [] when none.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "githubForkOut": {
        "properties": {
          "clone_url": {
            "type": "string"
          },
          "default_branch": {
            "type": "string"
          },
          "existing": {
            "description": "Existing reports that the fork was already there. GitHub answers 202 either\nway, so without this a caller cannot tell \"made you one\" from \"you had one\".",
            "type": "boolean"
          },
          "full_name": {
            "type": "string"
          },
          "html_url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "githubForkReq": {
        "properties": {
          "org": {
            "description": "Org is the GitHub account to fork INTO; empty forks to the installation's\nown account, which is the common case.",
            "type": "string"
          },
          "repo": {
            "description": "Repo is a repository the org's installation was GRANTED, by name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "githubImportIn": {
        "properties": {
          "all": {
            "description": "All imports every repository the installation grants, instead of naming\nthem. Archived and disabled repositories are skipped either way — they\ncannot be fetched.",
            "type": "boolean"
          },
          "repos": {
            "description": "Repos names the repositories to import, either owner-qualified\n(\"hanzo-apps/ai\") or as a bare name (\"ai\"); a trailing \".git\" is stripped.\nA bare name that matches more than one granted repository is an error\nrather than a guess, because one Hanzo org may hold several GitHub\ninstallations and a name is only unique within an owner.\nIgnored when all is true.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "githubImportOut": {
        "properties": {
          "queued": {
            "description": "Queued is how many repositories were handed to the background importer.",
            "type": "integer"
          },
          "repos": {
            "description": "Repos names those repositories, in the installation's listing order.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "githubInstallationView": {
        "properties": {
          "connected": {
            "description": "Connected reports whether THIS org has already bound this account.",
            "type": "boolean"
          },
          "grant": {
            "description": "Grant is \"all\" or \"selected\" — how many of the account's repositories the\ninstall covers. A reader deciding what to import needs the reach, not just\nthe name.",
            "type": "string"
          },
          "htmlUrl": {
            "description": "HTMLURL is the account's page on GitHub.",
            "type": "string"
          },
          "login": {
            "description": "Login is the GitHub account name — the org or user the App is installed on.",
            "type": "string"
          },
          "type": {
            "description": "Type is \"Organization\" or \"User\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "githubInstallationsOut": {
        "properties": {
          "installUrl": {
            "description": "InstallURL is where to grant a new account, so a UI with an empty list has\nsomewhere to send the reader instead of a dead end.",
            "type": "string"
          },
          "installations": {
            "description": "Installations is every account the caller may see: the ones its own org has\nbound, or — for a super admin — every account the App is installed on.\nNever null; [] when none.",
            "items": {
              "$ref": "#/components/schemas/githubInstallationView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "githubPagesBuildOut": {
        "properties": {
          "repo": {
            "description": "Repo is the repository the build was queued for.",
            "type": "string"
          },
          "status": {
            "description": "Status is GitHub's build state at the moment it was queued (\"queued\").",
            "type": "string"
          },
          "url": {
            "description": "URL is GitHub's API URL for the build, for polling it there.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "githubPagesDisabledOut": {
        "properties": {
          "disabled": {
            "description": "Disabled is always true — a failure is an HTTP error, never this shape.",
            "type": "boolean"
          },
          "repo": {
            "description": "Repo is the repository whose site was deleted.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "githubPagesEnableReq": {
        "properties": {
          "branch": {
            "description": "Branch is the legacy source branch; empty defaults to the repo's own default\nbranch. Ignored when buildType is \"workflow\".",
            "type": "string"
          },
          "buildType": {
            "description": "BuildType selects the builder: \"workflow\" builds via GitHub Actions, anything\nelse builds from the branch source above.",
            "type": "string"
          },
          "path": {
            "description": "Path is the source directory within the branch: \"/\" (the default) or \"/docs\".\nGitHub allows no others.",
            "type": "string"
          },
          "repo": {
            "description": "Repo is the repository, from the :repo path segment.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "githubPagesSource": {
        "properties": {
          "branch": {
            "description": "Branch is the branch the site builds from.",
            "type": "string"
          },
          "path": {
            "description": "Path is the directory within that branch: \"/\" or \"/docs\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "githubPagesUpdateReq": {
        "properties": {
          "branch": {
            "description": "Branch switches the legacy source branch. Empty leaves the source alone.",
            "type": "string"
          },
          "buildType": {
            "description": "BuildType switches the builder: \"legacy\" or \"workflow\". Empty leaves it.",
            "type": "string"
          },
          "cname": {
            "description": "CNAME is the custom domain. Omit to leave it alone, \"\" to clear it, or a\nvalid FQDN to set it.",
            "type": "string"
          },
          "httpsEnforced": {
            "description": "HTTPSEnforced toggles GitHub's enforce-HTTPS bit. Omit to leave it alone.",
            "type": "boolean"
          },
          "path": {
            "description": "Path is the source directory to pair with Branch: \"/\" (the default) or\n\"/docs\". Read only when Branch is given.",
            "type": "string"
          },
          "repo": {
            "description": "Repo is the repository, from the :repo path segment.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "githubPagesUpdatedOut": {
        "properties": {
          "repo": {
            "description": "Repo is the repository that was updated.",
            "type": "string"
          },
          "updated": {
            "description": "Updated is always true — a failure is an HTTP error, never this shape.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "githubPagesView": {
        "properties": {
          "buildType": {
            "description": "BuildType is the builder in use: \"legacy\" (branch source) or \"workflow\".",
            "type": "string"
          },
          "cname": {
            "description": "CNAME is the custom domain, absent when none is set.",
            "type": "string"
          },
          "custom404": {
            "description": "Custom404 is whether the repo ships its own 404 page.",
            "type": "boolean"
          },
          "httpsEnforced": {
            "description": "HTTPSEnforced is GitHub's enforce-HTTPS bit.",
            "type": "boolean"
          },
          "repo": {
            "description": "Repo is the repository the site belongs to.",
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/githubPagesSource",
[...]
