{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package templates is a gallery of starter kits you can deploy as they come.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "template"
    }
  ],
  "paths": {
    "/v1/template": {
      "get": {
        "operationId": "get_template",
        "summary": "Lists the public starter-kit catalog plus, for a validated caller, that org's own private kits.",
        "description": "Lists the public starter-kit catalog plus, for a validated caller, that\norg's own private kits. No request field can widen the scope: the org comes\nfrom the validated principal, so an anonymous or cross-org caller structurally\nsees the public catalog only.",
        "tags": [
          "template"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kitList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_template",
        "summary": "Creates a starter kit PRIVATE to the caller's org and answers 201 with the stored kit.",
        "description": "Creates a starter kit PRIVATE to the caller's org and answers 201 with\nthe stored kit. The owner is stamped by the server, so a body \"org\" is never\ntrusted; publishing over a public-catalog slug is 409, so a slug still names\nexactly one kit.",
        "tags": [
          "template"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "framework": "Next.js 14",
                "slug": "acme-portal",
                "title": "Acme Internal Portal"
              },
              "schema": {
                "$ref": "#/components/schemas/publishKitIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarterKit"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/template/{slug}": {
      "delete": {
        "operationId": "delete_template_by_slug",
        "summary": "Deletes the caller org's OWN starter kit.",
        "description": "Deletes the caller org's OWN starter kit. A slug they do not own is a\n404, never a delete: the DELETE binds org.",
        "tags": [
          "template"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the starter kit to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "acme-portal"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "get_template_by_slug",
        "summary": "Returns one starter kit: the caller org's own by that slug, else the public catalog's.",
        "description": "Returns one starter kit: the caller org's own by that slug, else the public\ncatalog's. A slug another org owns reads as not found.",
        "tags": [
          "template"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the starter kit to act on, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "folio"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarterKit"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "put": {
        "operationId": "put_template_by_slug",
        "summary": "Overwrites the caller org's OWN starter kit at the path slug, answering the stored kit.",
        "description": "Overwrites the caller org's OWN starter kit at the path slug, answering\nthe stored kit. A slug they do not own is 404, never a create: the UPDATE binds\norg, so a PUT can never reach another org's kit.",
        "tags": [
          "template"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug is the kit to replace, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "acme-portal"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "slug": "acme-portal",
                "title": "Acme Internal Portal v2"
              },
              "schema": {
                "$ref": "#/components/schemas/replaceKitIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarterKit"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "StarterKit": {
        "properties": {
          "category": {
            "description": "groups the kit in the gallery browser (\"Portfolio\", \"SaaS\")",
            "type": "string"
          },
          "demo": {
            "description": "live demo (\u003cslug\u003e.hanzo.app), when deployed",
            "type": "string"
          },
          "description": {
            "description": "the browse-card blurb",
            "type": "string"
          },
          "features": {
            "description": "the highlights the card lists, at most 32",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "framework": {
            "description": "the stack the kit is built on (\"Next.js 14.2 + TS\")",
            "type": "string"
          },
          "org": {
            "description": "owner of a PRIVATE template; empty in the public catalog",
            "type": "string"
          },
          "preview": {
            "description": "the still image the browse card renders",
            "type": "string"
          },
          "rating": {
            "description": "Rating is public-gallery curation, on the same terms as Tier: catalog-only,\nnever accepted from a request, absent on a customer's own kit.",
            "type": "number"
          },
          "slug": {
            "description": "the kit's identity — lowercase alphanumeric with dashes, max 40",
            "type": "string"
          },
          "source": {
            "description": "the repository the kit is forked from",
            "type": "string"
          },
          "tier": {
            "description": "Tier is public-gallery curation, carried verbatim from the embedded catalog.\nNo request can set it — neither write body has the field and neither builds a\nkit carrying one — so it is absent on every customer-published kit.",
            "type": "integer"
          },
          "title": {
            "description": "display name",
            "type": "string"
          },
          "useCase": {
            "description": "what the kit is for, in a phrase",
            "type": "string"
          },
          "variants": {
            "description": "the shapes this template ships in",
            "items": {
              "$ref": "#/components/schemas/Variant"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Variant": {
        "properties": {
          "framework": {
            "description": "only when it differs from the template's",
            "type": "string"
          },
          "id": {
            "description": "selector, unique within the template (\"react\", \"grid-3-fluid\")",
            "type": "string"
          },
          "kind": {
            "description": "the axis it varies: format | page | theme",
            "type": "string"
          },
          "label": {
            "description": "human label for the picker",
            "type": "string"
          },
          "source": {
            "description": "the repository this shape is forked from; the synthesized default shape carries the template's own",
            "type": "string"
          }
        },
        "type": "object"
      },
      "kitList": {
        "properties": {
          "data": {
            "description": "Data is the public catalog followed by the caller org's own kits.",
            "items": {
              "$ref": "#/components/schemas/StarterKit"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "publishKitIn": {
        "properties": {
          "category": {
            "description": "Category groups the kit in the gallery browser.",
            "type": "string"
          },
          "demo": {
            "description": "Demo is the deployed site itself, when there is one.",
            "type": "string"
          },
          "description": {
            "description": "Description is the browse-card blurb, max 4096 characters.",
            "type": "string"
          },
          "features": {
            "description": "Features are the highlights the card lists, at most 32.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "framework": {
            "description": "Framework is the stack the kit is built on (\"Next.js 14\").",
            "type": "string"
          },
          "preview": {
            "description": "Preview is the still image the browse card renders, max 4096 characters.",
            "type": "string"
          },
          "slug": {
            "description": "Slug is the kit's identity — lowercase alphanumeric with dashes, max 40.",
            "type": "string"
          },
          "source": {
            "description": "Source is the repository the kit is forked from, max 4096 characters.",
            "type": "string"
          },
          "title": {
            "description": "Title is the display name. Required, max 200 characters.",
            "type": "string"
          },
          "useCase": {
            "description": "UseCase is what the kit is for, in a phrase.",
            "type": "string"
          },
          "variants": {
            "description": "Variants are the shapes this kit ships in, at most 32; the fork picks one.",
            "items": {
              "$ref": "#/components/schemas/Variant"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "replaceKitIn": {
        "properties": {
          "category": {
            "description": "Category groups the kit in the gallery browser.",
            "type": "string"
          },
          "demo": {
            "description": "Demo is the deployed site itself, when there is one.",
            "type": "string"
          },
          "description": {
            "description": "Description is the browse-card blurb, max 4096 characters.",
            "type": "string"
          },
          "features": {
            "description": "Features are the highlights the card lists, at most 32.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "framework": {
            "description": "Framework is the stack the kit is built on (\"Next.js 14\").",
            "type": "string"
          },
          "preview": {
            "description": "Preview is the still image the browse card renders, max 4096 characters.",
            "type": "string"
          },
          "slug": {
            "description": "Slug is the kit to replace, from the path.",
            "type": "string"
          },
          "source": {
            "description": "Source is the repository the kit is forked from, max 4096 characters.",
            "type": "string"
          },
          "title": {
            "description": "Title is the display name. Required, max 200 characters.",
            "type": "string"
          },
          "useCase": {
            "description": "UseCase is what the kit is for, in a phrase.",
            "type": "string"
          },
          "variants": {
            "description": "Variants are the shapes this kit ships in, at most 32; the fork picks one.",
            "items": {
              "$ref": "#/components/schemas/Variant"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
