{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package team is your org's shared workspace: documents edited together, files, seats, and agents as teammates.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "team"
    }
  ],
  "paths": {
    "/collaborator": {
      "get": {
        "operationId": "get_collaborator",
        "summary": "Open the live collaborative-editing socket",
        "description": "Upgrades to the hocuspocus WebSocket the Team editor syncs its Y.js documents over: binary frames of document name, message type and payload, with ONE socket multiplexing every document a tab has open. The server is a relay and an ordered update log, not a CRDT engine — it replays the log to each joining peer and broadcasts every update to the rest, which converges because Y.js updates are commutative and idempotent. There is no body; the response is a protocol upgrade.\n\nIT SITS OUTSIDE /v1 ON PURPOSE. The client derives both collaborator lanes from one configured URL — this socket at its root, the markup-snapshot RPC one segment in — so the path is fixed by the editor library's contract rather than chosen by this service.\n\nAUTH IS IN-BAND, PER DOCUMENT, NOT ON THE UPGRADE. The handshake gates only on browser Origin (403 outside the team surfaces; no Origin at all is admitted, which is what a non-browser sends), and then the first frame for a document must be an Auth message carrying the same session or workspace token every other team route verifies — a browser WebSocket cannot set an Authorization header, which is why the token rides inside the protocol. Anything else on an unauthenticated document is answered with one permission denial and nothing further.\n\nEvery document is authorized on its own: the document's workspace must be the token's workspace when the token pins one, and the caller must be a member of it. A mismatch, an unknown workspace and a non-member deny alike with \"document not found\". Rooms are keyed by org and workspace and the persisted log's key embeds both, so a foreign document id can neither join a room nor read a blob.\n\nThe server pings every twenty seconds and drops a socket silent for sixty, so a backgrounded tab — whose JS timers are throttled but whose network stack still auto-pongs — stays connected instead of dying into a reconnect loop."
      }
    },
    "/collaborator/rpc/{documentId}": {
      "post": {
        "operationId": "post_collaborator_rpc_by_documentid",
        "summary": "CollabRPC is the collaborative-markup snapshot plane the Team front's editor speaks: createContent stores a document field's markup at a fresh, immutable blob ref and returns it, updateContent stores a new snapshot and answers nothing, and getContent reads back the exact snapshot a ref names.",
        "description": "CollabRPC is the collaborative-markup snapshot plane the Team front's editor\nspeaks: createContent stores a document field's markup at a fresh, immutable\nblob ref and returns it, updateContent stores a new snapshot and answers\nnothing, and getContent reads back the exact snapshot a ref names.\n\ncreateContent ALSO seeds the live-editing update log from the front-supplied\nY.js update, so a dialog-authored description is visible in the collaborative\neditor — which replays that log — and not only in snapshot reads.\nupdateContent never touches that log: peers may be live-editing the document,\nand their edits are not this call's to overwrite.\n\nEvery call is scoped to the caller's VERIFIED session or workspace token: the\ndocumentId's workspace must be the token's workspace when the token names one,\nand the caller must be a member of it. An unknown workspace, another tenant's\nworkspace and a workspace the caller is not in all answer the same 404, so a\nprobe learns nothing about what exists.",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "DocumentID addresses the document field, as\n\"\u003cworkspaceUuid\u003e|\u003cobjectClass\u003e|\u003cobjectId\u003e|\u003cobjectAttr\u003e\" — the\ncollaborator-client encodeDocumentId shape, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "6579…|tracker:class:Issue|issue-1|description"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "documentId": "6579…|tracker:class:Issue|issue-1|description",
                "method": "getContent",
                "payload": {
                  "source": "issue-1-description-1730000000000"
                }
              },
              "schema": {
                "$ref": "#/components/schemas/collabRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/collabResult"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/team/account": {
      "post": {
        "operationId": "post_v1_team_account",
        "summary": "Read the caller's account and switch workspace",
        "description": "The account control plane the Team client speaks: one POST carries a `method` verb and its `params`, and answers {\"result\": …}. The verbs are the session's own reads and the workspace switch — getLoginInfoByToken, getUserWorkspaces, selectWorkspace, getWorkspaceInfo, getMemberships, getPerson, getSocialIds, getRegionInfo, isReadOnlyGuest — plus sendInvite, which adds a member to a workspace and is refused for a caller who is not its owner or admin.\n\nA REFUSAL IS HTTP 200 carrying {\"error\": {severity, code, params}} — the platform Status the client translates — not a 4xx. An unreadable body, an unauthorized session and an unknown verb all arrive that way, so a caller that reads only the status code reads every failure here as a success.\n\nNO CREDENTIAL IS EVER HANDLED HERE. login, signUp, the OTP verbs, password change and reset, join and the guest-token exchange each answer Unauthorized with \"sign in at hanzo.id\" — a stated policy, not an unknown method, so the door being shut is a fact a test can pin. Sessions come from the OAuth pair under /account/auth.\n\nAuth is the team session token: Authorization: Bearer, else the HttpOnly account-token cookie. The tenant is that token's SIGNED org claim, never a header, and selectWorkspace resolves only among the orgs the token proves membership of. It also demands an explicit workspaceUrl — it never falls back to a first workspace, and a slug that resolves in two of the caller's orgs answers Ambiguous rather than picking one.",
        "tags": [
          "team"
        ]
      }
    },
    "/v1/team/account/auth/{provider}": {
      "get": {
        "operationId": "get_v1_team_account_auth_by_provider",
        "summary": "Start a sign-in at hanzo.id",
        "description": "STARTS the OAuth hop: answers 302 to hanzo.id's authorize endpoint and sets the short-lived HttpOnly state cookie that binds the flow to this browser. NO TOKEN COMES BACK FROM THIS CALL — the session is minted by the callback below, and a client that expects JSON here gets a redirect with no body.\n\nA browser is the intended caller. Anything else must follow the Location AND keep the Set-Cookie, because the callback refuses a flow whose state it cannot match. That cookie carries the random nonce plus the client's navigateUrl, so the round trip needs no second channel, and it lives ten minutes — the whole budget for the hop.\n\nThe provider segment only picks a hint: the redirect_uri is ALWAYS the canonical openid callback, the one IAM has registered. Measured end to end, hanzo.id strips that hint today, so /auth/google and /auth/openid land on the same Hanzo sign-in page — the federation shortcut is an upstream fix, not a second door here.",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/team/account/auth/{provider}/callback": {
      "get": {
        "operationId": "get_v1_team_account_auth_by_provider_callback",
        "summary": "Complete a sign-in and hand the browser its session",
        "description": "COMPLETES the OAuth hop: hanzo.id redirects the browser here with ?code and ?state, and the answer is another 302 — back to the client's login route carrying the freshly minted team session token in the query. Never JSON, and never a token in this response's own body.\n\nTHE STATE IS CHECKED FIRST, before the code is even looked at: the flow cookie is read and cleared one-shot, and a callback whose ?state does not equal the nonce it held is bounced with error=state_mismatch and NEVER exchanged. That is what makes a forged or replayed callback inert. Only then is the code exchanged server-side — team is a confidential client with a client_secret, so there is no PKCE and the code never passes through the browser's JS.\n\nThe tenant is derived from the IAM access token VERIFIED RS256 against the JWKS, the same trust anchor the identity boundary uses; a token whose owner claim is empty fails closed with no login at all. Every org that token proves gets a workspace ensured, so a member of two orgs is a counted seat in both. The IAM access token is also parked in an HttpOnly cookie for the same-origin agents proxy — page JS never reads it.\n\nEVERY failure is a redirect, not a status: a denied consent, a missing code, a failed exchange, an unreadable userinfo, an unverifiable org and a token-mint failure each bounce to the login page with an ?error code naming the step.",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/team/account/cookie": {
      "delete": {
        "operationId": "delete_v1_team_account_cookie",
        "summary": "Signs this browser out of team by expiring the HttpOnly account-token cookie the OAuth callback set.",
        "description": "Signs this browser out of team by expiring the HttpOnly\naccount-token cookie the OAuth callback set. It is the counterpart of the\ncookie PUT, it takes nothing — the cookie it clears is named by this service,\nnever by the caller — and it is unconditional: a caller with no cookie, an\nexpired one or a forged one all get the same acknowledgement, because clearing\nsomething that is not there is the same outcome as clearing something that is.\n\nIt clears ONLY the team session cookie. The IAM access-token cookie the same\ncallback set is a different credential with a different lifetime and is left\nalone, so this is a team sign-out, not a platform one.",
        "tags": [
          "team"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cookieAck"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_v1_team_account_cookie",
        "summary": "Store the session token as this browser's cookie",
        "description": "Writes the team session token into the HttpOnly `account-token` cookie — Secure, SameSite=Lax, whole-origin scope, thirty days — and answers {\"result\": true}. This is how the client turns the token it caught off the OAuth bounce into a credential page JS can no longer read, which IS the security property: script that cannot see the cookie cannot exfiltrate it, and every later call on the files, billing and collaborator planes authenticates from it when no bearer is sent.\n\nThe token is VERIFIED — signature and expiry, against this service's own signing secret — BEFORE it is stored. Anything this service did not sign is 401 and nothing is written; persisting a caller-supplied value unchecked would be a session-fixation door, where an attacker pins a cookie the victim's browser then presents as its own.\n\nThe token may arrive as `token` in the JSON body or, when the body is absent or unparseable, from the Authorization bearer — an unreadable body is NOT an error here. The sibling DELETE clears this same cookie and signs the browser out of team only: the IAM cookie set alongside it is a different credential with its own lifetime and is left alone.",
        "tags": [
          "team"
        ]
      }
    },
    "/v1/team/account/providers": {
      "get": {
        "operationId": "get_v1_team_account_providers",
        "summary": "Returns the identity providers this deployment starts a login with.",
        "description": "Returns the identity providers this deployment starts a login\nwith. It is always exactly one — hanzo.id. Which identities that door accepts\n(Google, GitHub, passkey, password) is IAM's question, answered on IAM's own\npage next to the identity check and the training-data consent that must\nprecede a first session; listing them here would be a second place holding\nthat answer, and the two drift the moment IAM gains or drops one.",
        "tags": [
          "team"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": [
                  {
                    "displayName": "Hanzo",
                    "name": "openid"
                  }
                ],
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ProviderInfo"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/team/billing/plan": {
      "get": {
        "operationId": "get_v1_team_billing_plan",
        "summary": "Returns the plan and seat counts for the caller's OWN org, resolved from the VERIFIED team session token — never a client header.",
        "description": "Returns the plan and seat counts for the caller's OWN org, resolved\nfrom the VERIFIED team session token — never a client header. Seats and guests\nare the org's distinct active human members (a bot member is not a seat); the\nplan comes from the licensing entitlement and is empty when that read is\nunavailable, so the page shows an honest dash rather than a fabricated tier. A\ncaller with no verified session gets 401, and a real seat-read failure is a\n502 rather than a false \"0 members\".",
        "tags": [
          "team"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "active": true,
                  "guestLimit": 3,
                  "guests": 1,
                  "plan": "pro",
                  "seats": 3,
                  "upgradeUrl": "https://billing.hanzo.ai"
                },
                "schema": {
                  "$ref": "#/components/schemas/planInfo"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/team/billing/ui": {
      "get": {
        "operationId": "get_v1_team_billing_ui",
        "summary": "Open the wallet page",
        "description": "Serves the usage-and-wallet page the Team front links to — HTML, not JSON. It is a static React build compiled into this binary, so there is no upstream to be down and no build step at request time.\n\nSESSION-GATED: without a verified team session token — bearer, else the HttpOnly account cookie — the caller gets 401 and not one byte of the page, so an anonymous browser meets a refusal rather than a shell that then fails to load anything.\n\nThe page is markup only. It reads money SAME-ORIGIN from cloud's own balance and usage endpoints, which pin the org from the IAM cookie the team OAuth callback set — nothing under this path proxies a money read, so there is no second auth mechanism here to get wrong. A deployment whose page was never built answers 503 naming the missing bundle, never a blank 200.",
        "tags": [
          "team"
        ]
      }
    },
    "/v1/team/billing/ui/{wildcard1}": {
      "get": {
        "operationId": "get_v1_team_billing_ui_by_wildcard1",
        "summary": "Load an asset of the wallet page",
        "description": "Serves one file of the embedded wallet bundle — a content-hashed script or stylesheet under assets/, an icon, or the page shell itself.\n\nA path that names NO REAL FILE falls back to the shell instead of 404ing, which is what makes a deep link into the page's own routes survive a hard refresh. So a 200 here is not proof the asset exists — a typo answers HTML.\n\nassets/ is immutable for a year (the names carry the content hash); the shell is no-cache, so a deploy is picked up on the next load. Gated exactly like the page: 401 without a verified session, 503 when the bundle was never built.",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/team/bots": {
      "get": {
        "operationId": "get_v1_team_bots",
        "summary": "Returns the caller org's bot members — the org's agents projected as the workspace Employees they become, each with the member account uuid and Person reference the roster addresses it by.",
        "description": "Returns the caller org's bot members — the org's agents projected as\nthe workspace Employees they become, each with the member account uuid and\nPerson reference the roster addresses it by. An agents subsystem that is not\nmounted answers an empty list, never an error.",
        "tags": [
          "team"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/botRoster"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/team/bots/sync": {
      "post": {
        "operationId": "post_v1_team_bots_sync",
        "summary": "SyncBots re-projects the caller org's agents as workspace members into EVERY workspace of the org, and removes the ones whose agent is gone.",
        "description": "SyncBots re-projects the caller org's agents as workspace members into EVERY\nworkspace of the org, and removes the ones whose agent is gone. It is\nidempotent, and admin only: mutating a workspace's roster requires the\ngateway-minted admin flag, which a client can never forge. It answers how many\nroster entries the reconcile touched.",
        "tags": [
          "team"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/botSync"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/team/files/{workspace}": {
      "post": {
        "operationId": "post_v1_team_files_by_workspace",
        "summary": "Upload a file into a workspace",
        "description": "Stores one file in a workspace's blob store and answers the blob id it is addressable by, as plain text — the front discards that body, it is there for a caller driving this by hand.\n\nThe body is a multipart form with a `file` part, and THAT PART'S FILENAME IS THE BLOB ID: the client mints it (a uuid v4) and the server stores under it, so a part whose filename is not a uuid is refused rather than assigned one. A file over 100 MiB is 413 and an empty one is 400.\n\nThe caller must hold a verified session or workspace token AND be a member of the workspace; an unknown workspace, another tenant's workspace and a workspace the caller is not in all answer the same 404, so a probe learns nothing about what exists. The stored key embeds the verified org and the workspace, so an upload cannot land in another tenant's box whatever id it names. A storage backend that is unavailable fails closed with 502 rather than reporting a write it never made.",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/team/files/{workspace}/{filename}": {
      "delete": {
        "operationId": "delete_v1_team_files_by_workspace_by_filename",
        "summary": "Removes one blob from a workspace's file store.",
        "description": "Removes one blob from a workspace's file store. The caller must\nhold a verified session AND be a member of the workspace; anything else — an\nunknown workspace, another tenant's workspace, a workspace the caller is not\nin — answers the same 404, so a probe learns nothing about what exists.\n\nIt is IDEMPOTENT: deleting a present or an absent blob both answer 204, so a\ndelete never confirms a blob's existence and a foreign blob id (a physical key\nthe caller can never name into another tenant's box) is a harmless no-op. A\nstorage backend that is unavailable fails closed with 502 rather than lying\nabout success.",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "Workspace is the workspace uuid the blob belongs to, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "6579…"
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "description": "Filename is the last path segment, which the front sets to the blob id\nwhen it sends no explicit `file`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file",
            "in": "query",
            "required": false,
            "description": "File is the blob id, and wins over the path segment when both are present.",
            "schema": {
              "type": "string"
            },
            "example": "0d4f…"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_team_files_by_workspace_by_filename",
        "summary": "Download a workspace file",
        "description": "Streams one blob's raw BYTES back — this is the read side of the workspace file store, not a JSON envelope around it.\n\nTHE BLOB IS NAMED BY THE `file` QUERY PARAMETER, NOT BY :filename. The path segment is only the name a browser saves the download under; a request without ?file= is a 400 no matter what the path says.\n\nThe Content-Type is derived from the STORED BYTES, never from the name: only png, jpeg, gif and webp, recognized by their magic bytes, are served inline under their true type, and everything else is served inert as application/octet-stream with an attachment disposition. Every response carries nosniff, so a file uploaded under an .svg or .html name cannot be talked into executing in a viewer's origin. Blobs are immutable, so a hit caches privately for a year.\n\nSame gate as the upload: verified token, membership of the workspace. A genuine miss, another tenant's workspace, a workspace the caller is not in, and a blob id belonging to a different workspace are ONE answer — 404 — because the physical key is org- and workspace-scoped and a foreign id is simply a key that does not exist. An unavailable backend is a 502, never an empty 200.",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/team/transactor/api/v1/statistics": {
      "get": {
        "operationId": "get_v1_team_transactor_api_v1_statistics",
        "summary": "Statistics returns the transactor's live sessions for the workspace the caller's credential names — the endpoint the front's workspace switcher and server panel poll on the transactor base.",
        "description": "Statistics returns the transactor's live sessions for the workspace the caller's\ncredential names — the endpoint the front's workspace switcher and server panel\npoll on the transactor base. `token` carries the same two lanes the socket's path\nsegment does: a workspace UUID names the workspace and is authorized against the\nmembership rows, an HS256 workspace token names it in its signed claims.\nactiveSessions carries ONLY that one workspace, never another tenant's sessions.\nAn unverifiable credential, or one the caller is no member under, is 401.",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Token is the workspace token minted by selectWorkspace.",
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiJ9…"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/statsOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/team/transactor/statistics": {
      "get": {
        "operationId": "get_v1_team_transactor_statistics",
        "summary": "Statistics returns the transactor's live sessions for the workspace the caller's credential names — the endpoint the front's workspace switcher and server panel poll on the transactor base.",
        "description": "Statistics returns the transactor's live sessions for the workspace the caller's\ncredential names — the endpoint the front's workspace switcher and server panel\npoll on the transactor base. `token` carries the same two lanes the socket's path\nsegment does: a workspace UUID names the workspace and is authorized against the\nmembership rows, an HS256 workspace token names it in its signed claims.\nactiveSessions carries ONLY that one workspace, never another tenant's sessions.\nAn unverifiable credential, or one the caller is no member under, is 401.",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Token is the workspace token minted by selectWorkspace.",
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiJ9…"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/statsOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/team/transactor/{token}": {
      "get": {
        "operationId": "get_v1_team_transactor_by_token",
        "summary": "Open the workspace data-plane socket",
        "description": "Upgrades to the WebSocket the Team client runs an entire workspace over: every frame is a ZAP envelope wrapping one JSON-RPC message — findAll/findOne reads against the workspace's documents, tx writes that broadcast to the other live sessions, hello negotiating JSON rather than msgpack. The response is a protocol upgrade, so there is no body to read.\n\nTHE PATH SEGMENT IS THE CREDENTIAL. It is the workspace token selectWorkspace minted — bearer-equivalent, and sitting in a URL that proxies and access logs record, which is exactly why it expires in twelve hours and is re-minted on demand rather than being long-lived like the session token. It is decoded and verified (signature and expiry) BEFORE the upgrade, so a bad one is a 401 and never a socket that is accepted and then dropped, and it must carry both an account and a workspace claim. Nothing ambient authorizes this socket: a WebSocket is exempt from CORS, so a cookie-borne credential would make the Origin check the only access control on the whole data plane.\n\nThe tenant is the token's SIGNED org claim and it keys every store path, so no header can name another workspace's data. The upgrade ALSO refuses a browser Origin outside the team surfaces with 403 — otherwise any page could open an authenticated socket with a token it lured out of a logged-in browser — while a request with no Origin at all is admitted, because that is what a non-browser client sends.\n\nOn connect the workspace's system spaces are seeded once and the roster is reconciled every time, so the org's human members and its bots are present as workspace people without a separate sync call.",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ProviderInfo": {
        "properties": {
          "displayName": {
            "description": "DisplayName is the human label for the sign-in button; this deployment\nsends \"Hanzo\". Omitted from the body when empty.",
            "type": "string"
          },
          "name": {
            "description": "Name is the provider id, and it is the value that goes back in the URL to\nstart a login: GET /v1/team/account/auth/{provider}. This deployment\nsurfaces exactly one, \"openid\" — the hanzo.id door.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "botMember": {
        "properties": {
          "active": {
            "description": "Active is whether the agent projects as a LIVE workspace member, derived\nfrom its registry status: empty, \"active\" and \"ready\" are live, anything\nelse (archived/retired) is not. An inactive bot drops out of the Team list\nwhile its past authorship survives.",
            "type": "boolean"
          },
          "id": {
            "description": "the agent id",
            "type": "string"
          },
          "name": {
            "description": "display name",
            "type": "string"
          },
          "personRef": {
            "description": "the projected Person _id",
            "type": "string"
          },
          "userId": {
            "description": "derived member account uuid (personUuid)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "botRoster": {
        "properties": {
          "bots": {
            "description": "Bots is every agent of the caller's org, projected as a workspace member.",
            "items": {
              "$ref": "#/components/schemas/botMember"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "botSync": {
        "properties": {
          "projected": {
            "description": "Projected is how many roster entries the reconcile touched.",
            "type": "integer"
          },
          "synced": {
            "description": "Synced is true when the reconcile ran.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "collabPayload": {
        "properties": {
          "content": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Content maps a document field to its ProseMirror markup JSON.",
            "type": "object"
          },
          "source": {
            "description": "Source is the blob ref a getContent reads the snapshot from. Absent means\nthere is no snapshot to read, which answers empty content.",
            "type": "string"
          },
          "updates": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Updates carries, per field, a base64 Y.js state update encoding the SAME\nmarkup — the front computes it (markupToYDoc → encodeStateAsUpdate) so a\ncreateContent seeds the live-editing lane's update log, not just the\nsnapshot blob. Without it a dialog-created description is invisible in the\ncollaborative editor, which replays the ydoc log, never the snapshot.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "collabRequest": {
        "properties": {
          "documentId": {
            "description": "DocumentID addresses the document field, as\n\"\u003cworkspaceUuid\u003e|\u003cobjectClass\u003e|\u003cobjectId\u003e|\u003cobjectAttr\u003e\" — the\ncollaborator-client encodeDocumentId shape, from the path.",
            "type": "string"
          },
          "method": {
            "description": "Method is the verb: createContent, updateContent or getContent.",
            "type": "string"
          },
          "payload": {
            "$ref": "#/components/schemas/collabPayload",
            "description": "Payload is the verb's argument."
          }
        },
        "type": "object"
      },
      "collabResult": {
        "properties": {
          "content": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Content maps each document field to its value for the verb: the new blob\nref after a createContent, the stored markup after a getContent.",
            "type": "object"
          },
          "error": {
            "description": "Error carries a SEMANTIC refusal, which this RPC reports under 200 because\nthe client throws on result.error — auth and tenancy failures are HTTP\nstatuses instead.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "cookieAck": {
        "properties": {
          "result": {
            "description": "Result is true when the cookie was written or cleared.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "planInfo": {
        "properties": {
          "active": {
            "description": "Active is whether that plan's entitlement is live.",
            "type": "boolean"
          },
          "guestLimit": {
            "description": "GuestLimit is the plan's team.guests cap, when the plan carries one.",
            "type": "integer"
          },
          "guests": {
            "description": "Guests is how many of those seats are guests.",
            "type": "integer"
          },
          "plan": {
            "description": "Plan is the licensed plan id, empty when it cannot be resolved here — an\nhonest dash on the page, never a fabricated tier.",
            "type": "string"
          },
          "seats": {
            "description": "Seats is the org's distinct active human members.",
            "type": "integer"
          },
          "upgradeUrl": {
            "description": "UpgradeURL is where the page sends a caller who wants a bigger plan.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "statsOut": {
        "properties": {
          "admin": {
            "description": "Admin is the upstream service's server-panel flag, always false here.",
            "type": "boolean"
          },
          "metrics": {
            "description": "Metrics is the upstream transactor's metrics block. This server does not\npopulate it, so it is always the empty object — the front reads the key,\nnot its contents.",
            "properties": {},
            "type": "object"
          },
          "statistics": {
            "$ref": "#/components/schemas/statsSessions",
            "description": "Statistics carries the live sessions."
          }
        },
        "type": "object"
      },
      "statsSessions": {
        "properties": {
          "activeSessions": {
            "additionalProperties": {
              "items": {
                "$ref": "#/components/schemas/statsUser"
              },
              "type": "array"
            },
            "description": "ActiveSessions maps a workspace uuid to its connected sessions. It carries\nonly the token's OWN workspace, and is empty for a token that names none.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "statsUser": {
        "properties": {
          "userId": {
            "description": "UserID is the account the session is authenticated as.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
