{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "team"
    }
  ],
  "paths": {
    "/collaborator": {
      "get": {
        "operationId": "get_collaborator"
      }
    },
    "/collaborator/rpc/{documentId}": {
      "post": {
        "operationId": "post_collaborator_rpc_by_documentid",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/team/account": {
      "post": {
        "operationId": "post_v1_team_account",
        "tags": [
          "team"
        ]
      }
    },
    "/v1/team/account/auth/{provider}": {
      "get": {
        "operationId": "get_v1_team_account_auth_by_provider",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/team/account/auth/{provider}/callback": {
      "get": {
        "operationId": "get_v1_team_account_auth_by_provider_callback",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/team/account/cookie": {
      "delete": {
        "operationId": "delete_v1_team_account_cookie",
        "tags": [
          "team"
        ]
      },
      "put": {
        "operationId": "put_v1_team_account_cookie",
        "tags": [
          "team"
        ]
      }
    },
    "/v1/team/account/providers": {
      "get": {
        "operationId": "get_v1_team_account_providers",
        "summary": "ListProviders returns the identity providers this deployment starts a login\nwith.",
        "description": "ListProviders returns the identity providers this deployment starts a login\nwith. It is always exactly one — hanzo.id. Which identities that door accepts\n(Google, GitHub, passkey, password) is IAM's question, answered on IAM's own\npage next to the identity check and the training-data consent that must\nprecede a first session; listing them here would be a second place holding\nthat answer, and the two drift the moment IAM gains or drops one.",
        "tags": [
          "team"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": [
                  {
                    "displayName": "Hanzo",
                    "name": "openid"
                  }
                ],
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ProviderInfo"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/team/billing/plan": {
      "get": {
        "operationId": "get_v1_team_billing_plan",
        "summary": "ReadPlan returns the plan and seat counts for the caller's OWN org, resolved\nfrom the VERIFIED team session token — never a client header.",
        "description": "ReadPlan returns the plan and seat counts for the caller's OWN org, resolved\nfrom the VERIFIED team session token — never a client header. Seats and guests\nare the org's distinct active human members (a bot member is not a seat); the\nplan comes from the licensing entitlement and is empty when that read is\nunavailable, so the page shows an honest dash rather than a fabricated tier. A\ncaller with no verified session gets 401, and a real seat-read failure is a\n502 rather than a false \"0 members\".",
        "tags": [
          "team"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "active": true,
                  "guestLimit": 3,
                  "guests": 1,
                  "plan": "pro",
                  "seats": 3,
                  "upgradeUrl": "https://billing.hanzo.ai"
                },
                "schema": {
                  "$ref": "#/components/schemas/planInfo"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/team/billing/ui": {
      "get": {
        "operationId": "get_v1_team_billing_ui",
        "tags": [
          "team"
        ]
      }
    },
    "/v1/team/billing/ui/{wildcard1}": {
      "get": {
        "operationId": "get_v1_team_billing_ui_by_wildcard1",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/team/bots": {
      "get": {
        "operationId": "get_v1_team_bots",
        "summary": "ListBots returns the caller org's bot members — the org's agents projected as\nthe workspace Employees they become, each with the member account uuid and\nPerson reference the roster addresses it by.",
        "description": "ListBots returns the caller org's bot members — the org's agents projected as\nthe workspace Employees they become, each with the member account uuid and\nPerson reference the roster addresses it by. An agents subsystem that is not\nmounted answers an empty list, never an error.",
        "tags": [
          "team"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/botRoster"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/team/bots/sync": {
      "post": {
        "operationId": "post_v1_team_bots_sync",
        "summary": "SyncBots re-projects the caller org's agents as workspace members into EVERY\nworkspace of the org, and removes the ones whose agent is gone.",
        "description": "SyncBots re-projects the caller org's agents as workspace members into EVERY\nworkspace of the org, and removes the ones whose agent is gone. It is\nidempotent, and admin only: mutating a workspace's roster requires the\ngateway-minted admin flag, which a client can never forge. It answers how many\nroster entries the reconcile touched.",
        "tags": [
          "team"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/botSync"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/team/files/{workspace}": {
      "post": {
        "operationId": "post_v1_team_files_by_workspace",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/team/files/{workspace}/{filename}": {
      "delete": {
        "operationId": "delete_v1_team_files_workspace_filename",
        "summary": "DeleteBlob removes one blob from a workspace's file store.",
        "description": "DeleteBlob removes one blob from a workspace's file store. The caller must\nhold a verified session AND be a member of the workspace; anything else — an\nunknown workspace, another tenant's workspace, a workspace the caller is not\nin — answers the same 404, so a probe learns nothing about what exists.\n\nIt is IDEMPOTENT: deleting a present or an absent blob both answer 204, so a\ndelete never confirms a blob's existence and a foreign blob id (a physical key\nthe caller can never name into another tenant's box) is a harmless no-op. A\nstorage backend that is unavailable fails closed with 502 rather than lying\nabout success.",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "Workspace is the workspace uuid the blob belongs to, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "6579…"
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "description": "Filename is the last path segment, which the front sets to the blob id\nwhen it sends no explicit `file`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file",
            "in": "query",
            "required": false,
            "description": "File is the blob id, and wins over the path segment when both are present.",
            "schema": {
              "type": "string"
            },
            "example": "0d4f…"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_team_files_by_workspace_by_filename",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/team/transactor/api/v1/statistics": {
      "get": {
        "operationId": "get_v1_team_transactor_api_v1_statistics",
        "summary": "Statistics returns the transactor's live sessions for the workspace the\ncaller's token names — the endpoint the front's workspace switcher and server\npanel poll on the transactor base.",
        "description": "Statistics returns the transactor's live sessions for the workspace the\ncaller's token names — the endpoint the front's workspace switcher and server\npanel poll on the transactor base. The token is verified exactly like the\nWebSocket upgrade is, and activeSessions carries ONLY that token's own\nworkspace, never another tenant's sessions. An invalid or expired token is\n401.",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Token is the workspace token minted by selectWorkspace.",
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiJ9…"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/statsOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/team/transactor/statistics": {
      "get": {
        "operationId": "get_v1_team_transactor_statistics",
        "summary": "Statistics returns the transactor's live sessions for the workspace the\ncaller's token names — the endpoint the front's workspace switcher and server\npanel poll on the transactor base.",
        "description": "Statistics returns the transactor's live sessions for the workspace the\ncaller's token names — the endpoint the front's workspace switcher and server\npanel poll on the transactor base. The token is verified exactly like the\nWebSocket upgrade is, and activeSessions carries ONLY that token's own\nworkspace, never another tenant's sessions. An invalid or expired token is\n401.",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Token is the workspace token minted by selectWorkspace.",
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiJ9…"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/statsOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/team/transactor/{token}": {
      "get": {
        "operationId": "get_v1_team_transactor_by_token",
        "tags": [
          "team"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ProviderInfo": {
        "properties": {
          "displayName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "botMember": {
        "properties": {
          "active": {
            "type": "boolean"
          },
          "id": {
            "description": "the agent id",
            "type": "string"
          },
          "name": {
            "description": "display name",
            "type": "string"
          },
          "personRef": {
            "description": "the projected Person _id",
            "type": "string"
          },
          "userId": {
            "description": "derived member account uuid (personUuid)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "botRoster": {
        "properties": {
          "bots": {
            "description": "Bots is every agent of the caller's org, projected as a workspace member.",
            "items": {
              "$ref": "#/components/schemas/botMember"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "botSync": {
        "properties": {
          "projected": {
            "description": "Projected is how many roster entries the reconcile touched.",
            "type": "integer"
          },
          "synced": {
            "description": "Synced is true when the reconcile ran.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "planInfo": {
        "properties": {
          "active": {
            "description": "Active is whether that plan's entitlement is live.",
            "type": "boolean"
          },
          "guestLimit": {
            "description": "GuestLimit is the plan's team.guests cap, when the plan carries one.",
            "type": "integer"
          },
          "guests": {
            "description": "Guests is how many of those seats are guests.",
            "type": "integer"
          },
          "plan": {
            "description": "Plan is the licensed plan id, empty when it cannot be resolved here — an\nhonest dash on the page, never a fabricated tier.",
            "type": "string"
          },
          "seats": {
            "description": "Seats is the org's distinct active human members.",
            "type": "integer"
          },
          "upgradeUrl": {
            "description": "UpgradeURL is where the page sends a caller who wants a bigger plan.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "statsOut": {
        "properties": {
          "admin": {
            "description": "Admin is the upstream service's server-panel flag, always false here.",
            "type": "boolean"
          },
          "metrics": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "Metrics is the upstream service's metrics block, which this server does\nnot populate.",
            "type": "object"
          },
          "statistics": {
            "$ref": "#/components/schemas/statsSessions",
            "description": "Statistics carries the live sessions."
          }
        },
        "type": "object"
      },
      "statsSessions": {
        "properties": {
          "activeSessions": {
            "additionalProperties": {
              "items": {
                "$ref": "#/components/schemas/statsUser"
              },
              "type": "array"
            },
            "description": "ActiveSessions maps a workspace uuid to its connected sessions. It carries\nonly the token's OWN workspace, and is empty for a token that names none.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "statsUser": {
        "properties": {
          "userId": {
            "description": "UserID is the account the session is authenticated as.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
