{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package translate serves POST /v1/translate — the ONE translation surface, two tiers behind one endpoint, one auth path, one meter (HIP-0516).",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "translate"
    }
  ],
  "paths": {
    "/v1/translate": {
      "post": {
        "operationId": "post_v1_translate",
        "tags": [
          "translate"
        ]
      }
    },
    "/v1/translate/memory": {
      "get": {
        "operationId": "get_v1_translate_memory",
        "summary": "List returns the org's own translation-memory entries, newest first, optionally narrowed to one target language and/or one position on the review ladder.",
        "description": "List returns the org's own translation-memory entries, newest first, optionally\nnarrowed to one target language and/or one position on the review ladder. It is\nthe review lane's read: what a human reviewer works through.\n\nThe org is ALWAYS the validated principal's org, never a request field, so one\ntenant can never read another's memory — the entries hold customer source text.",
        "tags": [
          "translate"
        ],
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "required": false,
            "description": "Target narrows to one target language tag (BCP-47, e.g. \"es\" or \"pt-BR\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "State narrows to one position on the review ladder: machine, suggested,\napproved or published.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the rows returned. Non-positive or unparseable means the server\ndefault (200); the ceiling is 1000.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryPage"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "put_v1_translate_memory",
        "summary": "Review records a human decision on one translation-memory entry, and returns the entry as stored.",
        "description": "Review records a human decision on one translation-memory entry, and returns the\nentry as stored. A human write always wins over the stored value, and once it lands\nat approved or published no machine write can move it again — which is what makes a\nlocale rebuild safe to run against reviewed work.\n\nThe org is ALWAYS the validated principal's org, never a request field, so a review\ncan only ever land in the caller's own memory.",
        "tags": [
          "translate"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "source": "Hello",
                "state": "approved",
                "target": "es",
                "text": "Hola"
              },
              "schema": {
                "$ref": "#/components/schemas/ReviewRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryEntry"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MemoryEntry": {
        "properties": {
          "actor": {
            "description": "Actor is the validated user id that last wrote this entry by hand. Empty on an\nentry an engine produced, and on one written before attribution existed.",
            "type": "string"
          },
          "glossary_version": {
            "description": "Glossary is the glossary VERSION the entry was translated under — the digest\nversion() derives from the terms, so changing a term changes the key and the\nstale rendering can never be served.",
            "type": "string"
          },
          "source": {
            "description": "Source is the ORIGINAL string this entry translates. Part of the identity.",
            "type": "string"
          },
          "state": {
            "description": "State is the entry's position on the review ladder: machine, suggested,\napproved or published.",
            "type": "string"
          },
          "target": {
            "description": "Target is the target language tag (BCP-47, e.g. \"es\" or \"pt-BR\"). Part of the\nidentity.",
            "type": "string"
          },
          "text": {
            "description": "Text is the stored translation. A memory hit returns it verbatim, which is the\nidempotence contract.",
            "type": "string"
          },
          "tier": {
            "description": "Tier is the engine tier the entry belongs to, quality or bulk. Part of the\nidentity: the two tiers keep separate renderings of the same source.",
            "type": "string"
          },
          "updated_at": {
            "description": "UpdatedAt is the unix second the entry last changed.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "MemoryPage": {
        "properties": {
          "data": {
            "description": "Data is the matching memory entries, newest first.",
            "items": {
              "$ref": "#/components/schemas/MemoryEntry"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ReviewRequest": {
        "properties": {
          "glossary": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Glossary is the terminology the entry was translated under. Its VERSION — the\ndigest of the sorted terms — is part of the entry's identity, so editing a term\nyields a new entry rather than overwriting the old rendering.",
            "type": "object"
          },
          "source": {
            "description": "Source is the ORIGINAL string this entry translates. Required; part of the\nentry's identity, so a different source is a different entry.",
            "type": "string"
          },
          "state": {
            "description": "State is the entry's new position on the review ladder: suggested, approved or\npublished. `machine` is engine-only and is refused here — a human may not demote\na string back into the churn.",
            "type": "string"
          },
          "target": {
            "description": "Target is the target language tag (BCP-47, e.g. \"es\" or \"pt-BR\"). Required;\npart of the entry's identity.",
            "type": "string"
          },
          "text": {
            "description": "Text is the reviewed translation to store. A human write always wins over the\nstored value.",
            "type": "string"
          },
          "tier": {
            "description": "Tier is the engine tier the entry belongs to, quality (the default) or bulk.\nPart of the entry's identity: the two tiers keep separate renderings.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
