{"openapi":"3.0.3","info":{"title":"Hanzo Platform (PaaS) — /v1/platform","description":"The per-org, user-facing Platform-as-a-Service control plane, native in the unified Hanzo cloud binary (HIP-0106). Users create projects and applications, trigger builds (arcd in-cluster BuildKit), and deploy them (operator hanzo.ai/v1 Service CR into the caller's tenant-\u003corg\u003e namespace). Every route is org-scoped by the gateway-minted, IAM-validated X-Org-Id; a tenant can never read, build, or deploy another org's resources. This is the native Go port that retires the standalone Dokploy (platform.hanzo.ai) tRPC backend.","version":"1.0"},"servers":[{"url":"https://api.hanzo.ai"}],"paths":{"/v1/platform/health":{"get":{"tags":["platform"],"summary":"health platform","operationId":"platform#health","responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponseBody"},"example":{"k8s":false,"service":"Eos voluptatem consequatur in.","status":"Nihil omnis amet nulla in."}}}},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/platform/projects":{"get":{"tags":["platform"],"summary":"listProjects platform","description":"List the caller org's projects, newest-updated first.","operationId":"platform#listProjects","responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Project"},"example":[{"applications":1585314418010430880,"createdAt":5442015360609737095,"description":"Qui placeat alias.","id":"Et quasi quia iste architecto.","name":"Nihil quas architecto exercitationem quisquam qui.","org":"Eius modi.","slug":"u0","updatedAt":127338432070076858},{"applications":1585314418010430880,"createdAt":5442015360609737095,"description":"Qui placeat alias.","id":"Et quasi quia iste architecto.","name":"Nihil quas architecto exercitationem quisquam qui.","org":"Eius modi.","slug":"u0","updatedAt":127338432070076858},{"applications":1585314418010430880,"createdAt":5442015360609737095,"description":"Qui placeat alias.","id":"Et quasi quia iste architecto.","name":"Nihil quas architecto exercitationem quisquam qui.","org":"Eius modi.","slug":"u0","updatedAt":127338432070076858},{"applications":1585314418010430880,"createdAt":5442015360609737095,"description":"Qui placeat alias.","id":"Et quasi quia iste architecto.","name":"Nihil quas architecto exercitationem quisquam qui.","org":"Eius modi.","slug":"u0","updatedAt":127338432070076858}]},"example":[{"applications":1585314418010430880,"createdAt":5442015360609737095,"description":"Qui placeat alias.","id":"Et quasi quia iste architecto.","name":"Nihil quas architecto exercitationem quisquam qui.","org":"Eius modi.","slug":"u0","updatedAt":127338432070076858},{"applications":1585314418010430880,"createdAt":5442015360609737095,"description":"Qui placeat alias.","id":"Et quasi quia iste architecto.","name":"Nihil quas architecto exercitationem quisquam qui.","org":"Eius modi.","slug":"u0","updatedAt":127338432070076858},{"applications":1585314418010430880,"createdAt":5442015360609737095,"description":"Qui placeat alias.","id":"Et quasi quia iste architecto.","name":"Nihil quas architecto exercitationem quisquam qui.","org":"Eius modi.","slug":"u0","updatedAt":127338432070076858},{"applications":1585314418010430880,"createdAt":5442015360609737095,"description":"Qui placeat alias.","id":"Et quasi quia iste architecto.","name":"Nihil quas architecto exercitationem quisquam qui.","org":"Eius modi.","slug":"u0","updatedAt":127338432070076858}]}}},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["platform"],"summary":"createProject platform","operationId":"platform#createProject","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProjectRequestBody"},"example":{"description":"Dolorem voluptatem quod iure ducimus aut cumque.","name":"Molestias suscipit qui.","slug":"Aut aut."}}}},"responses":{"201":{"description":"Created response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"},"example":{"applications":8491136069975346241,"createdAt":3689754781392654772,"description":"Doloremque qui.","id":"Reprehenderit fugit ipsam enim tempore laborum omnis.","name":"Maiores aut beatae enim.","org":"Sit laudantium praesentium dolorum.","slug":"a","updatedAt":4011676462422491061}}}},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/platform/projects/{project}/apps":{"get":{"tags":["platform"],"summary":"listApplications platform","description":"List a project's applications.","operationId":"platform#listApplications","parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string","example":"Omnis veritatis cumque laboriosam."},"example":"Sit veniam eligendi ut."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Application"},"example":[{"buildType":"dockerfile","createdAt":4072331668299267458,"currentDeploymentId":"Deleniti perferendis nulla.","description":"Voluptatem est quibusdam sit a voluptatem.","dockerfile":"Eos cumque quaerat sint ipsa voluptates.","domains":["Dolore nihil omnis harum aut consequuntur.","Quaerat excepturi odio.","Minus odit sed."],"env":[{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."}],"environment":"Aut eaque.","id":"Velit earum.","image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Ipsam sed saepe.","namespace":"Porro recusandae amet.","org":"Consequuntur magni exercitationem aspernatur.","port":946310073707681183,"projectId":"Nulla porro.","replicas":5397387019345358244,"repo":{"branch":"Amet corporis commodi sequi.","provider":"Commodi sint nihil placeat nostrum placeat aperiam.","url":"https://github.com/hanzoai/example"},"slug":"x","source":"image","status":"Nisi atque praesentium.","updatedAt":2239598903732882647},{"buildType":"dockerfile","createdAt":4072331668299267458,"currentDeploymentId":"Deleniti perferendis nulla.","description":"Voluptatem est quibusdam sit a voluptatem.","dockerfile":"Eos cumque quaerat sint ipsa voluptates.","domains":["Dolore nihil omnis harum aut consequuntur.","Quaerat excepturi odio.","Minus odit sed."],"env":[{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."}],"environment":"Aut eaque.","id":"Velit earum.","image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Ipsam sed saepe.","namespace":"Porro recusandae amet.","org":"Consequuntur magni exercitationem aspernatur.","port":946310073707681183,"projectId":"Nulla porro.","replicas":5397387019345358244,"repo":{"branch":"Amet corporis commodi sequi.","provider":"Commodi sint nihil placeat nostrum placeat aperiam.","url":"https://github.com/hanzoai/example"},"slug":"x","source":"image","status":"Nisi atque praesentium.","updatedAt":2239598903732882647},{"buildType":"dockerfile","createdAt":4072331668299267458,"currentDeploymentId":"Deleniti perferendis nulla.","description":"Voluptatem est quibusdam sit a voluptatem.","dockerfile":"Eos cumque quaerat sint ipsa voluptates.","domains":["Dolore nihil omnis harum aut consequuntur.","Quaerat excepturi odio.","Minus odit sed."],"env":[{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."}],"environment":"Aut eaque.","id":"Velit earum.","image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Ipsam sed saepe.","namespace":"Porro recusandae amet.","org":"Consequuntur magni exercitationem aspernatur.","port":946310073707681183,"projectId":"Nulla porro.","replicas":5397387019345358244,"repo":{"branch":"Amet corporis commodi sequi.","provider":"Commodi sint nihil placeat nostrum placeat aperiam.","url":"https://github.com/hanzoai/example"},"slug":"x","source":"image","status":"Nisi atque praesentium.","updatedAt":2239598903732882647}]},"example":[{"buildType":"dockerfile","createdAt":4072331668299267458,"currentDeploymentId":"Deleniti perferendis nulla.","description":"Voluptatem est quibusdam sit a voluptatem.","dockerfile":"Eos cumque quaerat sint ipsa voluptates.","domains":["Dolore nihil omnis harum aut consequuntur.","Quaerat excepturi odio.","Minus odit sed."],"env":[{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."}],"environment":"Aut eaque.","id":"Velit earum.","image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Ipsam sed saepe.","namespace":"Porro recusandae amet.","org":"Consequuntur magni exercitationem aspernatur.","port":946310073707681183,"projectId":"Nulla porro.","replicas":5397387019345358244,"repo":{"branch":"Amet corporis commodi sequi.","provider":"Commodi sint nihil placeat nostrum placeat aperiam.","url":"https://github.com/hanzoai/example"},"slug":"x","source":"image","status":"Nisi atque praesentium.","updatedAt":2239598903732882647},{"buildType":"dockerfile","createdAt":4072331668299267458,"currentDeploymentId":"Deleniti perferendis nulla.","description":"Voluptatem est quibusdam sit a voluptatem.","dockerfile":"Eos cumque quaerat sint ipsa voluptates.","domains":["Dolore nihil omnis harum aut consequuntur.","Quaerat excepturi odio.","Minus odit sed."],"env":[{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."}],"environment":"Aut eaque.","id":"Velit earum.","image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Ipsam sed saepe.","namespace":"Porro recusandae amet.","org":"Consequuntur magni exercitationem aspernatur.","port":946310073707681183,"projectId":"Nulla porro.","replicas":5397387019345358244,"repo":{"branch":"Amet corporis commodi sequi.","provider":"Commodi sint nihil placeat nostrum placeat aperiam.","url":"https://github.com/hanzoai/example"},"slug":"x","source":"image","status":"Nisi atque praesentium.","updatedAt":2239598903732882647},{"buildType":"dockerfile","createdAt":4072331668299267458,"currentDeploymentId":"Deleniti perferendis nulla.","description":"Voluptatem est quibusdam sit a voluptatem.","dockerfile":"Eos cumque quaerat sint ipsa voluptates.","domains":["Dolore nihil omnis harum aut consequuntur.","Quaerat excepturi odio.","Minus odit sed."],"env":[{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."}],"environment":"Aut eaque.","id":"Velit earum.","image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Ipsam sed saepe.","namespace":"Porro recusandae amet.","org":"Consequuntur magni exercitationem aspernatur.","port":946310073707681183,"projectId":"Nulla porro.","replicas":5397387019345358244,"repo":{"branch":"Amet corporis commodi sequi.","provider":"Commodi sint nihil placeat nostrum placeat aperiam.","url":"https://github.com/hanzoai/example"},"slug":"x","source":"image","status":"Nisi atque praesentium.","updatedAt":2239598903732882647},{"buildType":"dockerfile","createdAt":4072331668299267458,"currentDeploymentId":"Deleniti perferendis nulla.","description":"Voluptatem est quibusdam sit a voluptatem.","dockerfile":"Eos cumque quaerat sint ipsa voluptates.","domains":["Dolore nihil omnis harum aut consequuntur.","Quaerat excepturi odio.","Minus odit sed."],"env":[{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."},{"key":"l","secret":false,"value":"Velit sequi esse enim nihil dolore."}],"environment":"Aut eaque.","id":"Velit earum.","image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Ipsam sed saepe.","namespace":"Porro recusandae amet.","org":"Consequuntur magni exercitationem aspernatur.","port":946310073707681183,"projectId":"Nulla porro.","replicas":5397387019345358244,"repo":{"branch":"Amet corporis commodi sequi.","provider":"Commodi sint nihil placeat nostrum placeat aperiam.","url":"https://github.com/hanzoai/example"},"slug":"x","source":"image","status":"Nisi atque praesentium.","updatedAt":2239598903732882647}]}}},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["platform"],"summary":"createApplication platform","operationId":"platform#createApplication","parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string","example":"Ratione nisi facere fugit."},"example":"Blanditiis possimus sint voluptate saepe deleniti."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApplicationRequestBody"},"example":{"buildType":"Cum suscipit in adipisci facere.","description":"Placeat omnis enim quia sunt sit.","domains":["Aut dignissimos aspernatur neque nihil necessitatibus ut.","Quo et quia unde labore natus eligendi.","Rerum quaerat maxime aut recusandae.","Nihil cum."],"env":[{"key":"_","secret":true,"value":"Ipsa ea pariatur molestiae quia voluptatem."},{"key":"_","secret":true,"value":"Ipsa ea pariatur molestiae quia voluptatem."},{"key":"_","secret":true,"value":"Ipsa ea pariatur molestiae quia voluptatem."},{"key":"_","secret":true,"value":"Ipsa ea pariatur molestiae quia voluptatem."}],"image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Omnis qui officiis vel.","port":8562125464505345270,"replicas":2546066698672867672,"repo":{"branch":"Quam earum quos enim vero.","provider":"Vero quod omnis numquam porro.","url":"https://github.com/hanzoai/example"},"slug":"Sapiente molestias at aut et voluptate.","source":"image"}}}},"responses":{"201":{"description":"Created response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"},"example":{"buildType":"pack","createdAt":3999984951475094670,"currentDeploymentId":"Laborum recusandae vel quia illum ratione ut.","description":"Esse quod corrupti ipsum magnam.","dockerfile":"Sit necessitatibus.","domains":["Ratione reprehenderit numquam qui illum minima ullam.","Repellat velit voluptatem enim.","Recusandae repellat doloribus in culpa."],"env":[{"key":"_UF","secret":true,"value":"Et architecto rerum fugiat sint perferendis."},{"key":"_UF","secret":true,"value":"Et architecto rerum fugiat sint perferendis."},{"key":"_UF","secret":true,"value":"Et architecto rerum fugiat sint perferendis."}],"environment":"Sint rerum cumque vitae officiis ipsa ipsam.","id":"Amet aspernatur ut cum.","image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Animi quia dolores et sed aut.","namespace":"Consequatur velit delectus.","org":"Quia aut.","port":166963964086038592,"projectId":"Omnis inventore facere neque.","replicas":4516382522082154385,"repo":{"branch":"Vitae nihil culpa sed debitis molestiae.","provider":"Cumque expedita ex doloribus.","url":"https://github.com/hanzoai/example"},"slug":"s","source":"git","status":"Et fugiat.","updatedAt":347569908136460125}}}},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/platform/projects/{project}/apps/{app}":{"delete":{"tags":["platform"],"summary":"deleteApplication platform","operationId":"platform#deleteApplication","parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string","example":"Voluptas commodi voluptates facilis ratione."},"example":"Ut qui sint dolore natus modi debitis."},{"name":"app","in":"path","required":true,"schema":{"type":"string","example":"Aut nihil."},"example":"Ratione ipsa voluptatem perspiciatis dicta."}],"responses":{"204":{"description":"No Content response."},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"get":{"tags":["platform"],"summary":"getApplication platform","operationId":"platform#getApplication","parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string","example":"Totam quia atque non quia voluptatem."},"example":"Cumque molestiae at est et voluptatibus."},{"name":"app","in":"path","required":true,"schema":{"type":"string","example":"Sunt corrupti."},"example":"Assumenda est officiis aut."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"},"example":{"buildType":"pack","createdAt":2503951960683093151,"currentDeploymentId":"Voluptatem sequi corporis enim a culpa facilis.","description":"Quo necessitatibus quia eligendi aliquid.","dockerfile":"Quae iusto.","domains":["Inventore quos qui id unde labore eos.","Quidem rerum est.","Qui autem et dolores provident."],"env":[{"key":"_UF","secret":true,"value":"Et architecto rerum fugiat sint perferendis."},{"key":"_UF","secret":true,"value":"Et architecto rerum fugiat sint perferendis."},{"key":"_UF","secret":true,"value":"Et architecto rerum fugiat sint perferendis."}],"environment":"Ut eum consequatur perspiciatis.","id":"Esse fuga.","image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Voluptatem est qui eius.","namespace":"Eligendi quia facilis.","org":"Suscipit optio ut nulla ut vel esse.","port":8231199438284858636,"projectId":"Possimus esse iure nihil totam ut.","replicas":3636892577373040940,"repo":{"branch":"Vitae nihil culpa sed debitis molestiae.","provider":"Cumque expedita ex doloribus.","url":"https://github.com/hanzoai/example"},"slug":"nv","source":"git","status":"A similique.","updatedAt":8139067944178506131}}}},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/platform/projects/{project}/apps/{app}/deploy":{"post":{"tags":["platform"],"summary":"deploy platform","description":"Build (git-source, via arcd) and deploy an application (operator Service CR into tenant-\u003corg\u003e). Returns the new Deployment.","operationId":"platform#deploy","parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string","example":"Tempore quis eos cupiditate dolore laboriosam."},"example":"Necessitatibus et."},{"name":"app","in":"path","required":true,"schema":{"type":"string","example":"Tempore repudiandae."},"example":"Neque nostrum occaecati ea quae."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeployRequestBody"},"example":{"commit":"Et vel laboriosam beatae iusto qui consequatur.","tag":"At dignissimos natus."}}}},"responses":{"202":{"description":"Accepted response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Deployment"},"example":{"applicationId":"Temporibus alias excepturi ut.","buildId":"Odio nesciunt.","commit":"Nemo et itaque assumenda id.","createdAt":591005596798002798,"id":"Repellat enim.","image":"Nisi est officiis.","message":"Rem tempore repellendus dolorem et laborum.","org":"Dolorem qui dolorum.","source":"Quae possimus.","status":"Asperiores eius qui et.","updatedAt":2433431848401003669,"version":4163553101425957986}}}},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/platform/projects/{project}/apps/{app}/deployments":{"get":{"tags":["platform"],"summary":"listDeployments platform","operationId":"platform#listDeployments","parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string","example":"Vitae nobis nihil iure est."},"example":"Doloremque harum aliquid quis."},{"name":"app","in":"path","required":true,"schema":{"type":"string","example":"Unde quos quod quia quis voluptas et."},"example":"Aut iure."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Deployment"},"example":[{"applicationId":"Ut saepe.","buildId":"Officiis molestiae et sit eaque veniam.","commit":"Deleniti consequatur a pariatur culpa voluptatem.","createdAt":2227084817482210210,"id":"Ad fugiat sequi tenetur sed.","image":"Deserunt et qui aspernatur consequatur.","message":"Consequatur voluptas.","org":"Rerum quidem tempora enim enim maiores possimus.","source":"Consequatur quia.","status":"Numquam qui.","updatedAt":2734732324083616959,"version":3416967127722260600},{"applicationId":"Ut saepe.","buildId":"Officiis molestiae et sit eaque veniam.","commit":"Deleniti consequatur a pariatur culpa voluptatem.","createdAt":2227084817482210210,"id":"Ad fugiat sequi tenetur sed.","image":"Deserunt et qui aspernatur consequatur.","message":"Consequatur voluptas.","org":"Rerum quidem tempora enim enim maiores possimus.","source":"Consequatur quia.","status":"Numquam qui.","updatedAt":2734732324083616959,"version":3416967127722260600},{"applicationId":"Ut saepe.","buildId":"Officiis molestiae et sit eaque veniam.","commit":"Deleniti consequatur a pariatur culpa voluptatem.","createdAt":2227084817482210210,"id":"Ad fugiat sequi tenetur sed.","image":"Deserunt et qui aspernatur consequatur.","message":"Consequatur voluptas.","org":"Rerum quidem tempora enim enim maiores possimus.","source":"Consequatur quia.","status":"Numquam qui.","updatedAt":2734732324083616959,"version":3416967127722260600}]},"example":[{"applicationId":"Ut saepe.","buildId":"Officiis molestiae et sit eaque veniam.","commit":"Deleniti consequatur a pariatur culpa voluptatem.","createdAt":2227084817482210210,"id":"Ad fugiat sequi tenetur sed.","image":"Deserunt et qui aspernatur consequatur.","message":"Consequatur voluptas.","org":"Rerum quidem tempora enim enim maiores possimus.","source":"Consequatur quia.","status":"Numquam qui.","updatedAt":2734732324083616959,"version":3416967127722260600},{"applicationId":"Ut saepe.","buildId":"Officiis molestiae et sit eaque veniam.","commit":"Deleniti consequatur a pariatur culpa voluptatem.","createdAt":2227084817482210210,"id":"Ad fugiat sequi tenetur sed.","image":"Deserunt et qui aspernatur consequatur.","message":"Consequatur voluptas.","org":"Rerum quidem tempora enim enim maiores possimus.","source":"Consequatur quia.","status":"Numquam qui.","updatedAt":2734732324083616959,"version":3416967127722260600}]}}},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/platform/projects/{project}/apps/{app}/deployments/{id}":{"get":{"tags":["platform"],"summary":"getDeployment platform","operationId":"platform#getDeployment","parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string","example":"Qui assumenda corrupti amet necessitatibus."},"example":"Tempore omnis consectetur alias adipisci."},{"name":"app","in":"path","required":true,"schema":{"type":"string","example":"Inventore nesciunt minima aut dolorum vitae non."},"example":"At repellendus quia odio voluptatem."},{"name":"id","in":"path","required":true,"schema":{"type":"string","example":"Ullam pariatur ipsam eius quae dolorem."},"example":"Quae neque ut aut similique ut."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Deployment"},"example":{"applicationId":"Nostrum officia dolorum ex quo culpa.","buildId":"Aut aliquam consequuntur qui.","commit":"At saepe fugit architecto id.","createdAt":6918430831784607106,"id":"Eveniet aut id molestias ut iure.","image":"Est qui eaque.","message":"Porro quisquam eum.","org":"Quis culpa sunt neque nulla.","source":"Quae et quo.","status":"Eos adipisci sed.","updatedAt":2604397364332483355,"version":235460485693246675}}}},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/platform/projects/{project}/apps/{app}/deployments/{id}/logs":{"get":{"tags":["platform"],"summary":"deploymentLogs platform","description":"Build+deploy logs for a deployment (arcd Job logs + rollout).","operationId":"platform#deploymentLogs","parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string","example":"Id ad vel sunt."},"example":"Distinctio possimus rerum numquam praesentium enim est."},{"name":"app","in":"path","required":true,"schema":{"type":"string","example":"Esse vitae non enim nam nostrum facere."},"example":"Vel harum."},{"name":"id","in":"path","required":true,"schema":{"type":"string","example":"Atque excepturi illo in non."},"example":"Quibusdam molestias rerum quia."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentLogsResponseBody"},"example":{"deploymentId":"Omnis enim.","logs":"Quis quia consequatur id itaque deserunt voluptatem."}}}},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/platform/projects/{project}/apps/{app}/start":{"post":{"tags":["platform"],"summary":"start platform","description":"Scale an application back to its declared replicas.","operationId":"platform#start","parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string","example":"Architecto illum laboriosam voluptatem dignissimos cupiditate voluptatem."},"example":"Ex distinctio ut soluta repudiandae sed sint."},{"name":"app","in":"path","required":true,"schema":{"type":"string","example":"Quibusdam dolorem praesentium repellendus."},"example":"Dolores praesentium tenetur voluptas non aliquid."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"},"example":{"buildType":"pack","createdAt":8643066377119414280,"currentDeploymentId":"Assumenda nostrum aut eligendi laboriosam et.","description":"Architecto voluptate qui neque dolores deserunt.","dockerfile":"Omnis et quidem officia nulla et.","domains":["Architecto fuga id in saepe numquam molestias.","Totam ullam perferendis harum.","Id dolorem."],"env":[{"key":"_UF","secret":true,"value":"Et architecto rerum fugiat sint perferendis."},{"key":"_UF","secret":true,"value":"Et architecto rerum fugiat sint perferendis."},{"key":"_UF","secret":true,"value":"Et architecto rerum fugiat sint perferendis."}],"environment":"Et eveniet adipisci exercitationem est dolor neque.","id":"Omnis commodi.","image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Aliquid eligendi.","namespace":"Facere et qui vel sed.","org":"Ipsa et.","port":6153478742146560612,"projectId":"Repellat hic eum et provident.","replicas":731907451891150911,"repo":{"branch":"Vitae nihil culpa sed debitis molestiae.","provider":"Cumque expedita ex doloribus.","url":"https://github.com/hanzoai/example"},"slug":"3","source":"image","status":"Neque voluptate quod veniam et accusantium.","updatedAt":8070013537105238324}}}},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/platform/projects/{project}/apps/{app}/stop":{"post":{"tags":["platform"],"summary":"stop platform","description":"Scale an application to zero (operator CR replicas=0).","operationId":"platform#stop","parameters":[{"name":"project","in":"path","required":true,"schema":{"type":"string","example":"Error eveniet laborum nihil et."},"example":"Pariatur sint consequatur esse."},{"name":"app","in":"path","required":true,"schema":{"type":"string","example":"Velit magnam."},"example":"Adipisci sit nihil dolor quibusdam accusamus velit."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"},"example":{"buildType":"pack","createdAt":539177619552842699,"currentDeploymentId":"Saepe corrupti et perferendis.","description":"Et harum unde enim consequatur tempore tempore.","dockerfile":"Voluptatem consequuntur aut qui.","domains":["Cupiditate eos.","Est labore non placeat non placeat non."],"env":[{"key":"_UF","secret":true,"value":"Et architecto rerum fugiat sint perferendis."},{"key":"_UF","secret":true,"value":"Et architecto rerum fugiat sint perferendis."},{"key":"_UF","secret":true,"value":"Et architecto rerum fugiat sint perferendis."}],"environment":"Et adipisci et et dolorem.","id":"Qui ut.","image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Ut non assumenda quidem placeat.","namespace":"Iusto et id et dolor.","org":"Saepe neque vero inventore illum aut.","port":2545193892038224293,"projectId":"Officiis est magni aliquam corrupti.","replicas":2896012084518255014,"repo":{"branch":"Vitae nihil culpa sed debitis molestiae.","provider":"Cumque expedita ex doloribus.","url":"https://github.com/hanzoai/example"},"slug":"s8x","source":"image","status":"Fuga non voluptatem nisi non dolores cumque.","updatedAt":339479434235569342}}}},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/platform/projects/{slug}":{"delete":{"tags":["platform"],"summary":"deleteProject platform","operationId":"platform#deleteProject","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string","example":"Labore perferendis."},"example":"Atque dolorum."}],"responses":{"204":{"description":"No Content response."},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"get":{"tags":["platform"],"summary":"getProject platform","operationId":"platform#getProject","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string","example":"Dignissimos commodi et inventore commodi."},"example":"Eum vero aliquid velit quia reiciendis ut."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"},"example":{"applications":3584203199269345512,"createdAt":8163743129140099958,"description":"Illo sunt quasi at illo repellat.","id":"Nemo eos expedita.","name":"Ipsam rerum et.","org":"Voluptatem ea commodi tenetur at eveniet.","slug":"s","updatedAt":2554378346267669357}}}},"400":{"description":"bad_request: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"unauthorized: missing/invalid IAM bearer token","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"forbidden: no validated org, or cross-tenant access","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not_found: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"conflict: slug already exists in this org","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"unavailable: cluster/build backend not reachable (fail-closed)","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"Application":{"type":"object","properties":{"buildType":{"type":"string","description":"pack|dockerfile|image","example":"pack","enum":["pack","dockerfile","image"]},"createdAt":{"type":"integer","example":3176746337918675058,"format":"int64"},"currentDeploymentId":{"type":"string","example":"Error aspernatur dolor rem optio."},"description":{"type":"string","example":"Omnis et ea beatae ut quae."},"dockerfile":{"type":"string","description":"path to Dockerfile (buildType dockerfile)","example":"Ut voluptas."},"domains":{"type":"array","items":{"type":"string","example":"Iste vero dolor rerum."},"description":"ingress hosts","example":["Aut adipisci ut ratione esse nam aut.","Dicta consectetur labore."]},"env":{"type":"array","items":{"$ref":"#/components/schemas/EnvVar"},"example":[{"key":"D","secret":true,"value":"Ex iusto ipsa dolor quisquam."},{"key":"D","secret":true,"value":"Ex iusto ipsa dolor quisquam."},{"key":"D","secret":true,"value":"Ex iusto ipsa dolor quisquam."}]},"environment":{"type":"string","description":"logical env (default production)","default":"production","example":"Sit laudantium aut sint ut."},"id":{"type":"string","description":"app_\u003ctoken\u003e","example":"Architecto asperiores voluptatem molestiae voluptatibus."},"image":{"$ref":"#/components/schemas/ImageSpec"},"name":{"type":"string","example":"Voluptas quia commodi ut amet."},"namespace":{"type":"string","description":"tenant-\u003corg\u003e (derived, read-only)","example":"Quis eaque fugit."},"org":{"type":"string","example":"Praesentium ratione dolores accusantium ad dolore molestias."},"port":{"type":"integer","description":"container port to expose","default":8080,"example":4680173410454267551,"format":"int64"},"projectId":{"type":"string","example":"Dolorum neque dolor minus ut illum."},"replicas":{"type":"integer","default":1,"example":4332467014167886193,"format":"int64"},"repo":{"$ref":"#/components/schemas/RepoSpec"},"slug":{"type":"string","example":"y","pattern":"^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$"},"source":{"type":"string","description":"git|image","example":"image","enum":["git","image"]},"status":{"type":"string","description":"draft|building|deploying|live|stopped|error","example":"Laboriosam consequuntur est illum quibusdam."},"updatedAt":{"type":"integer","example":8445748416498647941,"format":"int64"}},"example":{"buildType":"dockerfile","createdAt":4014936834143783736,"currentDeploymentId":"Quis quia doloremque perferendis.","description":"Iure deserunt autem dolor.","dockerfile":"Harum voluptatum dolores omnis commodi voluptate.","domains":["Cumque saepe officia laborum in fugit.","Quae corrupti tenetur eos.","Expedita voluptatibus maiores accusamus sunt fugiat.","Est minima dignissimos unde."],"env":[{"key":"D","secret":true,"value":"Ex iusto ipsa dolor quisquam."},{"key":"D","secret":true,"value":"Ex iusto ipsa dolor quisquam."}],"environment":"Aut deleniti rem tempora ad.","id":"Quasi modi excepturi.","image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Architecto impedit tenetur occaecati.","namespace":"Officiis quasi.","org":"Illo hic illum.","port":73772926202417168,"projectId":"Quas beatae sunt sunt.","replicas":7417100680815646973,"repo":{"branch":"Cupiditate rerum modi.","provider":"Iure debitis quam quisquam.","url":"https://github.com/hanzoai/example"},"slug":"j","source":"git","status":"Eos laboriosam est.","updatedAt":2237874416545107454},"required":["id","org","projectId","slug","name","source","status","createdAt","updatedAt"]},"Build":{"type":"object","properties":{"applicationId":{"type":"string","example":"Dolorem praesentium eius ut voluptatum."},"createdAt":{"type":"integer","example":2507820308726170289,"format":"int64"},"deploymentId":{"type":"string","example":"Qui voluptate tenetur esse commodi incidunt."},"id":{"type":"string","description":"bld_\u003ctoken\u003e","example":"Commodi voluptate quia sunt praesentium facere."},"image":{"type":"string","description":"output image ref","example":"Libero sint fugiat."},"jobName":{"type":"string","description":"in-cluster BuildKit Job name","example":"Eveniet et itaque ipsum inventore nostrum."},"logsRef":{"type":"string","description":"log location","example":"Consectetur sapiente voluptatum hic."},"org":{"type":"string","example":"Sunt aliquid et doloremque impedit."},"status":{"type":"string","description":"queued|building|succeeded|failed|canceled","example":"Laudantium consectetur labore."},"updatedAt":{"type":"integer","example":8576126024003150019,"format":"int64"}},"example":{"applicationId":"Accusamus debitis esse et eos.","createdAt":4831497353907139466,"deploymentId":"Porro quam commodi ut adipisci alias ut.","id":"Quibusdam et dolorum.","image":"Nisi est aut sit quod ratione.","jobName":"Vel magni est quod saepe.","logsRef":"Voluptate excepturi omnis aspernatur.","org":"Illum in quia odio.","status":"Quisquam magnam voluptatem facere.","updatedAt":6132759429085424304},"required":["id","org","applicationId","status","createdAt","updatedAt"]},"CreateApplicationRequestBody":{"type":"object","properties":{"buildType":{"type":"string","example":"Est possimus ut aut numquam ut a."},"description":{"type":"string","example":"Quia qui voluptas."},"domains":{"type":"array","items":{"type":"string","example":"Est soluta vitae."},"example":["Doloribus quae error omnis nam.","Assumenda non non est nobis magnam.","Enim unde sed perferendis dolorem sint."]},"env":{"type":"array","items":{"$ref":"#/components/schemas/EnvVar"},"example":[{"key":"_","secret":true,"value":"Ipsa ea pariatur molestiae quia voluptatem."},{"key":"_","secret":true,"value":"Ipsa ea pariatur molestiae quia voluptatem."}]},"image":{"$ref":"#/components/schemas/ImageSpec"},"name":{"type":"string","example":"A et doloremque."},"port":{"type":"integer","example":5166341986046070045,"format":"int64"},"replicas":{"type":"integer","example":739604038164101444,"format":"int64"},"repo":{"$ref":"#/components/schemas/RepoSpec"},"slug":{"type":"string","example":"Cum ut et."},"source":{"type":"string","example":"image","enum":["git","image"]}},"example":{"buildType":"Asperiores fugit ut natus ut labore.","description":"Animi id repellendus et rerum.","domains":["Sit nobis nemo.","Architecto aut culpa voluptate in et."],"env":[{"key":"_","secret":true,"value":"Ipsa ea pariatur molestiae quia voluptatem."},{"key":"_","secret":true,"value":"Ipsa ea pariatur molestiae quia voluptatem."}],"image":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"},"name":"Molestias quo non distinctio.","port":6568536730668087768,"replicas":6841073096050501894,"repo":{"branch":"Quam earum quos enim vero.","provider":"Vero quod omnis numquam porro.","url":"https://github.com/hanzoai/example"},"slug":"Consequatur iusto.","source":"git"},"required":["name","source"]},"CreateProjectRequestBody":{"type":"object","properties":{"description":{"type":"string","example":"Dolore et quisquam cupiditate est."},"name":{"type":"string","example":"Natus ut odio molestiae nobis."},"slug":{"type":"string","example":"Saepe numquam suscipit perferendis commodi mollitia."}},"example":{"description":"Pariatur aut et aut.","name":"Consequatur nihil.","slug":"Quia fugit tempora omnis in magni consequuntur."},"required":["name"]},"DeployRequestBody":{"type":"object","properties":{"commit":{"type":"string","description":"git commit to build (git-source)","example":"Voluptas eveniet voluptatem odit qui ut."},"tag":{"type":"string","description":"image tag to deploy (image-source)","example":"Harum qui ut qui quia."}},"example":{"commit":"Ipsam vero.","tag":"Ipsam vel non enim."}},"Deployment":{"type":"object","properties":{"applicationId":{"type":"string","example":"Voluptates et ullam eveniet."},"buildId":{"type":"string","description":"bld_\u003ctoken\u003e (git-source)","example":"Possimus nulla nemo consequatur mollitia recusandae."},"commit":{"type":"string","example":"Animi reprehenderit dolores animi reprehenderit molestias asperiores."},"createdAt":{"type":"integer","example":2613410458787671344,"format":"int64"},"id":{"type":"string","description":"dep_\u003ctoken\u003e","example":"Quibusdam in."},"image":{"type":"string","description":"resolved image ref deployed","example":"Rerum neque qui doloremque quo enim odio."},"message":{"type":"string","description":"error or note","example":"Vel perspiciatis neque aut architecto unde voluptas."},"org":{"type":"string","example":"Voluptatem aut vel similique voluptatem."},"source":{"type":"string","description":"git|image|manual","example":"Ut ab illum et."},"status":{"type":"string","description":"queued|building|deploying|live|error|canceled","example":"Veniam a officiis quis pariatur eum et."},"updatedAt":{"type":"integer","example":8772096177532621266,"format":"int64"},"version":{"type":"integer","description":"monotonic per application","example":7224764945882848174,"format":"int64"}},"example":{"applicationId":"Perferendis non rerum mollitia excepturi.","buildId":"Ut reprehenderit.","commit":"Est nemo est.","createdAt":8697309949648491265,"id":"Nulla labore incidunt.","image":"Odio et aliquid saepe.","message":"Neque ipsam eaque fugiat.","org":"Dolores facilis ut velit distinctio occaecati incidunt.","source":"Doloremque aut maiores veniam.","status":"Enim totam aperiam quo est debitis.","updatedAt":3772975438721042505,"version":5153503261261030787},"required":["id","org","applicationId","version","status","source","createdAt","updatedAt"]},"DeploymentLogsResponseBody":{"type":"object","properties":{"deploymentId":{"type":"string","example":"Qui officiis facere."},"logs":{"type":"string","example":"Deleniti eos."}},"example":{"deploymentId":"Eum eveniet.","logs":"Saepe nam nobis ducimus nam et laboriosam."},"required":["deploymentId","logs"]},"EnvVar":{"type":"object","properties":{"key":{"type":"string","example":"e9","pattern":"^[A-Za-z_][A-Za-z0-9_]*$"},"secret":{"type":"boolean","description":"true when value is KMS-sealed","default":false,"example":false},"value":{"type":"string","example":"Voluptates quo qui tempora aliquid."}},"example":{"key":"vVO","secret":true,"value":"Sit quae hic et esse."},"required":["key"]},"Error":{"type":"object","properties":{"fault":{"type":"boolean","description":"Is the error a server-side fault?","example":false},"id":{"type":"string","description":"ID is a unique identifier for this particular occurrence of the problem.","example":"123abc"},"message":{"type":"string","description":"Message is a human-readable explanation specific to this occurrence of the problem.","example":"parameter 'p' must be an integer"},"name":{"type":"string","description":"Name is the name of this class of errors.","example":"bad_request"},"temporary":{"type":"boolean","description":"Is the error temporary?","example":true},"timeout":{"type":"boolean","description":"Is the error a timeout?","example":false}},"description":"missing/invalid IAM bearer token","example":{"fault":true,"id":"123abc","message":"parameter 'p' must be an integer","name":"bad_request","temporary":false,"timeout":true},"required":["name","id","message","temporary","timeout","fault"]},"HealthResponseBody":{"type":"object","properties":{"k8s":{"type":"boolean","example":false},"service":{"type":"string","example":"Assumenda dolores ipsa maiores ut."},"status":{"type":"string","example":"Sunt est sapiente deserunt est."}},"example":{"k8s":false,"service":"Sit et.","status":"Molestiae minus voluptatem incidunt nostrum laudantium."},"required":["service","status"]},"ImageSpec":{"type":"object","properties":{"repository":{"type":"string","description":"Image repository","example":"ghcr.io/hanzoai/example"},"tag":{"type":"string","description":"Image tag","example":"v1.2.3"}},"example":{"repository":"ghcr.io/hanzoai/example","tag":"v1.2.3"}},"Project":{"type":"object","properties":{"applications":{"type":"integer","description":"count of applications in this project","example":6750941320074410535,"format":"int64"},"createdAt":{"type":"integer","example":5546731056668330879,"format":"int64"},"description":{"type":"string","example":"Esse laboriosam fuga molestiae."},"id":{"type":"string","description":"proj_\u003ctoken\u003e","example":"Et quas nobis corrupti velit facere qui."},"name":{"type":"string","example":"Nostrum aut dolorem est."},"org":{"type":"string","description":"tenant slug (from validated JWT)","example":"Qui vitae dignissimos nulla."},"slug":{"type":"string","description":"org-unique handle","example":"4d","pattern":"^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$"},"updatedAt":{"type":"integer","example":7306698408561863221,"format":"int64"}},"example":{"applications":7778272868929443064,"createdAt":2403330739735696214,"description":"Quisquam dolor similique ut possimus dolores.","id":"Earum voluptatem sit.","name":"Maxime est consequatur.","org":"Qui ipsam blanditiis voluptates.","slug":"v","updatedAt":2404460767795036189},"required":["id","org","slug","name","createdAt","updatedAt"]},"RepoSpec":{"type":"object","properties":{"branch":{"type":"string","description":"Branch/ref to build","default":"main","example":"Non iusto et autem possimus quibusdam dolor."},"provider":{"type":"string","description":"github|gitlab|bitbucket|gitea|git","example":"Nam optio corporis."},"url":{"type":"string","description":"Git remote URL","example":"https://github.com/hanzoai/example"}},"example":{"branch":"Dolor minima.","provider":"Nesciunt accusantium autem ipsa omnis.","url":"https://github.com/hanzoai/example"}}}},"tags":[{"name":"platform","description":"Per-org PaaS control plane (/v1/platform)."}]}