{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package git is Git hosting for your org: create repos, clone, push, and see what they cost.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "git"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "get",
        "summary": "Browse your org's repositories",
        "description": "The repository list for the signed-in caller's org — each repo with its description, default branch, size and last update. SIGNED OUT it renders the public explore page instead of refusing, because most Hanzo repos are open source and the open face is the default one; signed in, the caller's own org shows its private repositories alongside its public ones. This is a server-rendered browser page, not JSON — the console repo-browser reads the same repository through the JSON ops under /v1/git. Repository names, paths and file contents all render through auto-escaping templates rather than being concatenated into HTML. Served only on the dedicated git host, where a browse URL matches the clone URL; on the API and console hosts it falls through to their own routes, so it can never shadow them."
      }
    },
    "/explore": {
      "get": {
        "operationId": "get_explore",
        "summary": "Discover public repositories across every org",
        "description": "The open, unauthenticated face of the git host: every PUBLIC repository in the fleet, org-qualified, so a project can be found and cloned with no account at all — signing in is for private repos and for writes. Repositories live in per-org stores with no global index, so this unions each org's public rows and is bounded to a fixed number of stores per request, keeping discovery quick however many orgs exist. A fleet with no orgs yet is an empty page, not an error. This is a server-rendered browser page, not JSON — the console repo-browser reads the same repository through the JSON ops under /v1/git. Repository names, paths and file contents all render through auto-escaping templates rather than being concatenated into HTML. Served only on the dedicated git host, where a browse URL matches the clone URL; on the API and console hosts it falls through to their own routes, so it can never shadow them."
      }
    },
    "/git": {
      "get": {
        "operationId": "get_git",
        "summary": "Browse your org's repositories",
        "description": "The repository list for the signed-in caller's org — each repo with its description, default branch, size and last update. SIGNED OUT it renders the public explore page instead of refusing, because most Hanzo repos are open source and the open face is the default one; signed in, the caller's own org shows its private repositories alongside its public ones. This is a server-rendered browser page, not JSON — the console repo-browser reads the same repository through the JSON ops under /v1/git. Repository names, paths and file contents all render through auto-escaping templates rather than being concatenated into HTML. Served on every host, which is how the console embeds the git browser under /git."
      }
    },
    "/git/explore": {
      "get": {
        "operationId": "get_git_explore",
        "summary": "Discover public repositories across every org",
        "description": "The open, unauthenticated face of the git host: every PUBLIC repository in the fleet, org-qualified, so a project can be found and cloned with no account at all — signing in is for private repos and for writes. Repositories live in per-org stores with no global index, so this unions each org's public rows and is bounded to a fixed number of stores per request, keeping discovery quick however many orgs exist. A fleet with no orgs yet is an empty page, not an error. This is a server-rendered browser page, not JSON — the console repo-browser reads the same repository through the JSON ops under /v1/git. Repository names, paths and file contents all render through auto-escaping templates rather than being concatenated into HTML. Served on every host, which is how the console embeds the git browser under /git."
      }
    },
    "/git/{org}/{repo}": {
      "get": {
        "operationId": "get_git_by_org_by_repo",
        "summary": "Open a repository's home page",
        "description": "A repository at a glance: its branches, the tree at the tip, its most recent commits, its README rendered, and the HTTPS and SSH clone URLs. `?ref=` selects a branch, tag or commit; the default branch is used when it is omitted. A repository with no commits yet renders its clone instructions rather than an error, which is what a caller who has just created one needs to see. A public repository is readable by anyone; a private one only by its own org. A repository that does not exist and one belonging to another org answer the SAME 404, so the page is never an existence oracle. This is a server-rendered browser page, not JSON — the console repo-browser reads the same repository through the JSON ops under /v1/git. Repository names, paths and file contents all render through auto-escaping templates rather than being concatenated into HTML. Served on every host, which is how the console embeds the git browser under /git.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/git/{org}/{repo}/blob/{wildcard1}": {
      "get": {
        "operationId": "get_git_by_org_by_repo_blob_by_wildcard1",
        "summary": "View a file in a repository",
        "description": "One file's contents at one revision, with its size and line count. A BINARY file is reported as binary rather than dumped into the page. The path after /blob/ is the file and `?ref=` selects the branch, tag or commit. An unknown ref or a path that is not a file in it is 404. A public repository is readable by anyone; a private one only by its own org. A repository that does not exist and one belonging to another org answer the SAME 404, so the page is never an existence oracle. This is a server-rendered browser page, not JSON — the console repo-browser reads the same repository through the JSON ops under /v1/git. Repository names, paths and file contents all render through auto-escaping templates rather than being concatenated into HTML. Served on every host, which is how the console embeds the git browser under /git.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/git/{org}/{repo}/commits": {
      "get": {
        "operationId": "get_git_by_org_by_repo_commits",
        "summary": "Read a repository's commit log",
        "description": "The hundred most recent commits on one ref, each with its author, message and date. `?ref=` selects the branch, tag or commit, defaulting to the repository's default branch; an unknown one is 404. A public repository is readable by anyone; a private one only by its own org. A repository that does not exist and one belonging to another org answer the SAME 404, so the page is never an existence oracle. This is a server-rendered browser page, not JSON — the console repo-browser reads the same repository through the JSON ops under /v1/git. Repository names, paths and file contents all render through auto-escaping templates rather than being concatenated into HTML. Served on every host, which is how the console embeds the git browser under /git.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/git/{org}/{repo}/tree/{wildcard1}": {
      "get": {
        "operationId": "get_git_by_org_by_repo_tree_by_wildcard1",
        "summary": "Browse a directory inside a repository",
        "description": "The contents of one directory at one revision, with breadcrumbs back up and links onward into subdirectories and files. The path after /tree/ is the directory and `?ref=` selects the branch, tag or commit, defaulting to the repository's own default branch. An unknown ref is 404, as is a repository with no commits. A public repository is readable by anyone; a private one only by its own org. A repository that does not exist and one belonging to another org answer the SAME 404, so the page is never an existence oracle. This is a server-rendered browser page, not JSON — the console repo-browser reads the same repository through the JSON ops under /v1/git. Repository names, paths and file contents all render through auto-escaping templates rather than being concatenated into HTML. Served on every host, which is how the console embeds the git browser under /git.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/git/keys": {
      "get": {
        "operationId": "get_git_keys",
        "summary": "Returns the SSH public keys registered to the caller's org — the keys that authenticate `git clone git@\u003chost\u003e:\u003corg\u003e/\u003crepo\u003e.git`.",
        "description": "Returns the SSH public keys registered to the caller's org — the keys\nthat authenticate `git clone git@\u003chost\u003e:\u003corg\u003e/\u003crepo\u003e.git`. Keys are org-scoped\non read even though the fingerprint index is global, so one org never sees\nanother's.",
        "tags": [
          "git"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "createdAt": "2026-07-01T10:00:00Z",
                      "fingerprint": "SHA256:9pQ…",
                      "id": "gitkey_4a1b",
                      "publicKey": "ssh-ed25519 AAAAC3Nz…",
                      "title": "laptop"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/keyList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_git_keys",
        "summary": "Registers an SSH public key so it can authenticate `git clone git@\u003chost\u003e:\u003corg\u003e/\u003crepo\u003e.git` for the caller's org.",
        "description": "Registers an SSH public key so it can authenticate `git clone\ngit@\u003chost\u003e:\u003corg\u003e/\u003crepo\u003e.git` for the caller's org. The key line is parsed and\ncanonicalized before storage, its SHA256 fingerprint becomes the auth lookup\nhandle, and the full public key round-trips (it is public). Answers 201.\nFingerprints are globally unique, so a key already registered — to this org or\nany other — is a 409: one key belongs to exactly one org.",
        "tags": [
          "git"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "publicKey": "ssh-ed25519 AAAAC3Nz… z@hanzo.ai",
                "title": "laptop"
              },
              "schema": {
                "$ref": "#/components/schemas/registerKeyReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/keyView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/git/keys/{id}": {
      "delete": {
        "operationId": "delete_git_keys_by_id",
        "summary": "Removes a registered SSH key, scoped to the caller's org: an org can only delete its own, and a key id it does not own is not found.",
        "description": "Removes a registered SSH key, scoped to the caller's org: an org can\nonly delete its own, and a key id it does not own is not found. Answers 204\nwith no body. Once removed the key no longer authenticates any SSH git access.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the key's identifier (\"gitkey_…\"), from the :id path segment.",
            "schema": {
              "type": "string"
            },
            "example": "gitkey_4a1b"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/git/repos": {
      "get": {
        "operationId": "get_git_repos",
        "summary": "Returns the repos in the caller's scope, most recently updated first.",
        "description": "Returns the repos in the caller's scope, most recently updated\nfirst. The scope is the request principal's — the gateway-minted org and its\noptional project — never anything off the wire, so a caller only ever sees its\nown. Rows carry no branches or HEAD; read one repo for those.",
        "tags": [
          "git"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "cloneUrl": "https://api.hanzo.ai/v1/git/acme/widgets.git",
                      "createdAt": "2026-07-01T10:00:00Z",
                      "defaultBranch": "main",
                      "id": "repo_9f3c",
                      "name": "widgets",
                      "org": "acme",
                      "public": false,
                      "sizeBytes": 4096,
                      "sshUrl": "git@git.hanzo.ai:acme/widgets.git"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/repoList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_git_repos",
        "summary": "Provisions an empty bare repository in the caller's scope and returns it with its clone URLs.",
        "description": "Provisions an empty bare repository in the caller's scope and\nreturns it with its clone URLs. Answers 201. The name must be unique within\nthe scope — a repeat is a 409, never a silent overwrite of an existing repo.\nThe org comes from the validated principal, so a repo is always born owned by\nthe caller's own tenant.",
        "tags": [
          "git"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "description": "the widget service",
                "name": "widgets"
              },
              "schema": {
                "$ref": "#/components/schemas/createReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/repoView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/git/repos/{name}": {
      "delete": {
        "operationId": "delete_git_repos_by_name",
        "summary": "Removes a repo's metadata and purges its storage.",
        "description": "Removes a repo's metadata and purges its storage. Answers 204 with\nno body. The metadata row is the source of truth for existence, so a storage\npurge that fails is logged and the delete still succeeds — and a second call\nis a 404, not a second delete.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo's org-unique handle, from the :name path segment. A\ntrailing \".git\" is stripped.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_git_repos_by_name",
        "summary": "Returns one repo with its live ref state: every branch name and the resolved HEAD commit.",
        "description": "Returns one repo with its live ref state: every branch name and the\nresolved HEAD commit. Both are read from the object store on each call, so an\nempty repo reports no branches and an empty head rather than failing. A repo\noutside the caller's scope is not found.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo's org-unique handle, from the :name path segment. A\ntrailing \".git\" is stripped.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/repoView"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_git_repos_by_name",
        "summary": "Flips a repo's public bit, the one mutable repo setting today.",
        "description": "Flips a repo's public bit, the one mutable repo setting today.\nPublic grants ANONYMOUS fetch only; push and the whole control plane stay\norg-authed. Returns the updated repo.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo to update, from the :name path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": "widgets",
                "public": true
              },
              "schema": {
                "$ref": "#/components/schemas/patchIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/repoView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/git/repos/{name}/blob": {
      "get": {
        "operationId": "get_git_repos_by_name_blob",
        "summary": "Returns one file's bytes at one revision.",
        "description": "Returns one file's bytes at one revision. Text comes back verbatim,\nbinary comes back base64, and a file past the 1 MiB view cap comes back marked\ntruncated with NO content — the client is expected to clone instead.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo to read, from the :name path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          },
          {
            "name": "ref",
            "in": "query",
            "required": false,
            "description": "Ref is a branch, tag or commit; empty means the repo's HEAD.",
            "schema": {
              "type": "string"
            },
            "example": "main"
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Path is repo-relative; empty is the tree root. Traversal is stripped.",
            "schema": {
              "type": "string"
            },
            "example": "go.mod"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "binary": false,
                  "content": "module widgets\n",
                  "encoding": "utf8",
                  "path": "go.mod",
                  "size": 42,
                  "truncated": false
                },
                "schema": {
                  "$ref": "#/components/schemas/blobJSON"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/git/repos/{name}/commits": {
      "get": {
        "operationId": "get_git_repos_by_name_commits",
        "summary": "Walks a ref's history newest first, or one path's history when a path is given.",
        "description": "Walks a ref's history newest first, or one path's history when a\npath is given. There is no cursor: the page is the newest `limit` commits.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo to read, from the :name path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          },
          {
            "name": "ref",
            "in": "query",
            "required": false,
            "description": "Ref is the branch, tag or commit to walk back from; empty means HEAD.",
            "schema": {
              "type": "string"
            },
            "example": "main"
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Path narrows the history to commits touching it; empty walks the whole ref.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the page. Anything not positive means 50; the cap is 100.",
            "schema": {
              "type": "integer"
            },
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "commits": [
                    {
                      "authorEmail": "ada@hanzo.ai",
                      "authorName": "Ada",
                      "date": "2026-07-01T10:00:00Z",
                      "message": "add the widget service",
                      "sha": "a1b2c3d4e5f6",
                      "shortSha": "a1b2c3d"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/commitsJSON"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/git/repos/{name}/files": {
      "get": {
        "operationId": "get_git_repos_by_name_files",
        "summary": "Returns every file a glob selects at one revision, WITH its bytes and the revision they came from.",
        "description": "Returns every file a glob selects at one revision, WITH its bytes\nand the revision they came from. It is the read a delivery generator makes:\none call answers \"what is the inventory at this commit, and what does it say\",\nwhere listing and then fetching would be a request per file.\n\nReturning the resolved revision matters as much as the bytes. A generator that\nlists at `main` and then reads at `main` can straddle a push and assemble half\nits inventory from one commit and half from the next; resolving once makes the\nwhole read consistent by construction.\n\nA file past the read cap comes back Truncated with no content rather than\nbeing dropped. A caller building a desired set has to know the difference\nbetween \"this file is empty\" and \"this file was not read\" — silently omitting\nit is how a pruning reconcile deletes what the missing file declared.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo to read, from the :name path segment.",
            "schema": {
              "type": "string"
            },
            "example": "universe"
          },
          {
            "name": "ref",
            "in": "query",
            "required": false,
            "description": "Ref is a branch, tag or commit; empty means the repo's HEAD.",
            "schema": {
              "type": "string"
            },
            "example": "main"
          },
          {
            "name": "glob",
            "in": "query",
            "required": false,
            "description": "Glob selects files, matched segment by segment so `*` never crosses a `/`.\n`**` matches zero or more whole segments.",
            "schema": {
              "type": "string"
            },
            "example": "charts/app/values/*/*.yaml"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/filesJSON"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/git/repos/{name}/gc": {
      "post": {
        "operationId": "post_git_repos_by_name_gc",
        "summary": "Repacks a repo into one bitmapped pack and rewrites its commit-graph, so the next clone reuses the bitmap instead of walking the whole object graph.",
        "description": "Repacks a repo into one bitmapped pack and rewrites its commit-graph, so\nthe next clone reuses the bitmap instead of walking the whole object graph.\nIdempotent, and safe to interrupt — git swaps both artifacts atomically. It\nruns under one pack slot with the same memory bounds as a clone, so it can\nblock behind heavy pack traffic rather than compete with it. Storage usage is\nre-measured afterwards, since a repack reclaims space.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo's org-unique handle, from the :name path segment. A\ntrailing \".git\" is stripped.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "maintained": true,
                  "repo": "widgets",
                  "sizeBytes": 3072
                },
                "schema": {
                  "$ref": "#/components/schemas/gcOut"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/git/repos/{name}/mirror": {
      "post": {
        "operationId": "post_git_repos_by_name_mirror",
        "summary": "Imports an external git repository into the caller's repo, provisioning it on first use.",
        "description": "Imports an external git repository into the caller's repo, provisioning\nit on first use. Fetch is FORCED and covers every ref, so a first call clones\nthe source and a repeat call re-syncs it — the endpoint is idempotent by mirror\nsemantics. Mirrored bytes are metered exactly like a push, and a push.landed\nevent is emitted for the default branch so the code index picks the repo up.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the local repo to mirror into, from the :name path segment. It is\nCREATED on first use.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": "widgets",
                "source": "https://github.com/acme/widgets.git"
              },
              "schema": {
                "$ref": "#/components/schemas/mirrorReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/repoView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/git/repos/{name}/mirrors": {
      "get": {
        "operationId": "get_git_repos_by_name_mirrors",
        "summary": "Returns a repo's outbound mirror targets — the downstream remotes the mirror reactor pushes to whenever a push lands here.",
        "description": "Returns a repo's outbound mirror targets — the downstream remotes\nthe mirror reactor pushes to whenever a push lands here.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo's org-unique handle, from the :name path segment. A\ntrailing \".git\" is stripped.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "createdAt": "2026-07-01T10:00:00Z",
                      "host": "github.com",
                      "id": "mir_2d90",
                      "repo": "widgets",
                      "url": "https://github.com/acme/widgets.git"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/mirrorList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_git_repos_by_name_mirrors",
        "summary": "Registers a downstream remote the repo's advanced refs are pushed to whenever a push lands here.",
        "description": "Registers a downstream remote the repo's advanced refs are pushed to\nwhenever a push lands here. Answers 201. The URL must be https to a host on the\nmirror allowlist (github.com / gitlab.com): the same set the mirror credential\nmay be sent to, so a target can never capture the shared token or point the push\nat an internal service. Any embedded userinfo is stripped — credentials ride\nenv-only at push time and never enter the stored URL. One mirror per host per\nrepo; a second is a 409.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo whose advanced refs are pushed downstream, from the :name\npath segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": "widgets",
                "url": "https://github.com/acme/widgets.git"
              },
              "schema": {
                "$ref": "#/components/schemas/mirrorTargetReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mirrorTargetView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/git/repos/{name}/mirrors/{id}": {
      "delete": {
        "operationId": "delete_git_repos_by_name_mirrors_by_id",
        "summary": "Removes one outbound mirror target; later pushes stop being forwarded to it.",
        "description": "Removes one outbound mirror target; later pushes stop being\nforwarded to it. Answers 204 with no body. Nothing is done to the downstream\nremote itself — only this repo's intent to push there is dropped.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo, from the :name path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the row to remove, from the :id path segment.",
            "schema": {
              "type": "string"
            },
            "example": "mir_2d90"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/git/repos/{name}/pulls": {
      "get": {
        "operationId": "get_git_repos_by_name_pulls",
        "summary": "Returns a repo's pull requests, newest number first — what is waiting to be reviewed, and what has already landed.",
        "description": "Returns a repo's pull requests, newest number first — what is\nwaiting to be reviewed, and what has already landed. Narrow it with\n?state=open or ?state=merged; omit state for every proposal.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo, from the :name path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "State narrows the list to \"open\" or \"merged\". Omit it for every proposal.",
            "schema": {
              "type": "string"
            },
            "example": "open"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "base": "main",
                      "createdAt": "2026-08-07T10:00:00Z",
                      "head": "agent/cache-catalog",
                      "number": 4,
                      "repo": "widgets",
                      "state": "open",
                      "title": "cache the catalog read",
                      "updatedAt": "2026-08-07T10:00:00Z"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/pullList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_git_repos_by_name_pulls",
        "summary": "Proposes a branch for merging and returns it with its number.",
        "description": "Proposes a branch for merging and returns it with its number. Answers\n201. Both branches must already exist — a proposal naming a branch nobody\npushed is a typo, not a plan — and base defaults to the repo's default branch.\n\nProposing the same head into the same base twice is a 409 while the first\nproposal is still open, so a retried agent run leaves ONE thing to review\nrather than a pile of identical ones. A repo outside the caller's scope is a\n404, exactly as reading it is.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo the proposal belongs to, from the :name path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "base": "main",
                "head": "agent/cache-catalog",
                "name": "widgets",
                "title": "cache the catalog read"
              },
              "schema": {
                "$ref": "#/components/schemas/openReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pullView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/git/repos/{name}/pulls/{number}": {
      "get": {
        "operationId": "get_git_repos_by_name_pulls_by_number",
        "summary": "Returns one pull request by its per-repo number.",
        "description": "Returns one pull request by its per-repo number. A number belonging to\nanother tenant's repo is not found, exactly as the repo itself is not.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo, from the :name path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Number is the proposal's per-repo number, from the :number path segment.",
            "schema": {
              "type": "integer"
            },
            "example": 4
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pullView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/git/repos/{name}/pulls/{number}/merge": {
      "post": {
        "operationId": "post_git_repos_by_name_pulls_by_number_merge",
        "summary": "Merges an open pull request by FAST-FORWARDING base to head, and answers the proposal in its merged state with the revision base now points at.",
        "description": "Merges an open pull request by FAST-FORWARDING base to head, and\nanswers the proposal in its merged state with the revision base now points at.\n\nIt merges only when base is already an ancestor of head — the case where head\ncontains every commit base has, so moving the branch loses nothing and invents\nnothing. When base has moved on independently, this REFUSES with 409 and says\nso: a real three-way merge is not implemented here, and reporting one would\nclaim a result these bytes do not produce. Rebase head onto base and merge\nagain.\n\nThe move is judged by the same ref policy a `git push` of it would face, and\nfires the same build and notify reactions, so merging is not a way around\neither. Merging an already-merged proposal is a 409.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo, from the :name path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Number is the proposal's per-repo number, from the :number path segment.",
            "schema": {
              "type": "integer"
            },
            "example": 4
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pullView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/git/repos/{name}/push": {
      "post": {
        "operationId": "post_git_repos_by_name_push",
        "summary": "Lands a set of files as one commit without a git client — the hanzo.app builder's push.",
        "description": "Lands a set of files as one commit without a git client — the\nhanzo.app builder's push. The repo is CREATED on first push, the files are\nmerged onto the branch tip (unlisted files survive), and the same\npush-to-deploy hook a real receive-pack fires is fired, so downstream this is\nindistinguishable from a `git push`.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo to push into, from the :name path segment. It is CREATED\non first push if it does not exist.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "branch": "main",
                "files": [
                  {
                    "content": "\u003ch1\u003ehi\u003c/h1\u003e",
                    "path": "index.html"
                  }
                ],
                "message": "generated build",
                "name": "widgets"
              },
              "schema": {
                "$ref": "#/components/schemas/pushReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "branch": "main",
                  "cloneUrl": "https://api.hanzo.ai/v1/git/acme/widgets.git",
                  "commit": "a1b2c3d4e5f6",
                  "sshUrl": "git@git.hanzo.ai:acme/widgets.git"
                },
                "schema": {
                  "$ref": "#/components/schemas/pushResp"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/git/repos/{name}/readme": {
      "get": {
        "operationId": "get_git_repos_by_name_readme",
        "summary": "Returns the README at the tree root as plain text — unrendered, so the caller decides how to present it.",
        "description": "Returns the README at the tree root as plain text — unrendered, so\nthe caller decides how to present it. A repo with no README is not found.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo to read, from the :name path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          },
          {
            "name": "ref",
            "in": "query",
            "required": false,
            "description": "Ref is a branch, tag or commit; empty means the repo's HEAD.",
            "schema": {
              "type": "string"
            },
            "example": "main"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "content": "# widgets\n",
                  "encoding": "utf8",
                  "path": "README.md"
                },
                "schema": {
                  "$ref": "#/components/schemas/readmeJSON"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/git/repos/{name}/refs": {
      "get": {
        "operationId": "get_git_repos_by_name_refs",
        "summary": "Lists a repo's branches, tags and default branch — what a branch picker needs in one call.",
        "description": "Lists a repo's branches, tags and default branch — what a branch\npicker needs in one call. Unlike the other read ops it tolerates a repo with no\ncommits: the ref sets come back empty and the default branch is still named.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo's org-unique handle, from the :name path segment. A\ntrailing \".git\" is stripped.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "branches": [
                    {
                      "name": "main",
                      "sha": "a1b2c3d4"
                    }
                  ],
                  "default": "main",
                  "tags": []
                },
                "schema": {
                  "$ref": "#/components/schemas/refsJSON"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/git/repos/{name}/subscriptions": {
      "get": {
        "operationId": "get_git_repos_by_name_subscriptions",
        "summary": "Returns a repo's Slack subscriptions — which channels the lifecycle notifier posts this repo's push and deploy events to.",
        "description": "Returns a repo's Slack subscriptions — which channels the\nlifecycle notifier posts this repo's push and deploy events to.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo's org-unique handle, from the :name path segment. A\ntrailing \".git\" is stripped.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "channel": "#builds",
                      "createdAt": "2026-07-01T10:00:00Z",
                      "events": [
                        "push.landed"
                      ],
                      "id": "sub_7c2e",
                      "repo": "widgets"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/subscriptionList"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_git_repos_by_name_subscriptions",
        "summary": "Binds a Slack channel to a repo, so the lifecycle notifier posts that repo's push and deploy events there.",
        "description": "Binds a Slack channel to a repo, so the lifecycle notifier posts\nthat repo's push and deploy events there. Answers 201. The same channel twice\non one repo is a 409; a repo outside the caller's scope is a 404, exactly as\nreading it is.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo to subscribe, from the :name path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "channel": "#builds",
                "events": [
                  "push.landed"
                ],
                "name": "widgets"
              },
              "schema": {
                "$ref": "#/components/schemas/subscribeReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscriptionView"
                }
              }
            },
            "description": "created"
          }
        }
      }
    },
    "/v1/git/repos/{name}/subscriptions/{id}": {
      "delete": {
        "operationId": "delete_git_repos_by_name_subscriptions_by_id",
        "summary": "Removes one Slack subscription from a repo; the notifier stops posting that repo's events to that channel.",
        "description": "Removes one Slack subscription from a repo; the notifier stops\nposting that repo's events to that channel. Answers 204 with no body. An id\nthat is not this repo's subscription is not found.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo, from the :name path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the row to remove, from the :id path segment.",
            "schema": {
              "type": "string"
            },
            "example": "sub_7c2e"
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/v1/git/repos/{name}/tree": {
      "get": {
        "operationId": "get_git_repos_by_name_tree",
        "summary": "Lists the immediate children of one directory at one revision, directories before files.",
        "description": "Lists the immediate children of one directory at one revision,\ndirectories before files. It does not recurse — walk down a level at a time.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name is the repo to read, from the :name path segment.",
            "schema": {
              "type": "string"
            },
            "example": "widgets"
          },
          {
            "name": "ref",
            "in": "query",
            "required": false,
            "description": "Ref is a branch, tag or commit; empty means the repo's HEAD.",
            "schema": {
              "type": "string"
            },
            "example": "main"
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Path is repo-relative; empty is the tree root. Traversal is stripped.",
            "schema": {
              "type": "string"
            },
            "example": "cmd"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "entries": [
                    {
                      "mode": "040000",
                      "name": "server",
                      "path": "cmd/server",
                      "size": 0,
                      "type": "tree"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/treeJSON"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/git/usage": {
      "get": {
        "operationId": "get_git_usage",
        "summary": "Returns per-repo and total storage bytes for the caller's org — the queryable, per-tenant number commerce and o11y meter on.",
        "description": "Returns per-repo and total storage bytes for the caller's org — the\nqueryable, per-tenant number commerce and o11y meter on. It spans EVERY\nproject sub-scope, unlike the repo list, so a billing consumer sees the whole\ntenant footprint in one call. Sizes are last-measured values (create, push,\nmirror and gc each re-measure), not a live walk of the disk.",
        "tags": [
          "git"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "org": "acme",
                  "repos": [
                    {
                      "name": "widgets",
                      "sizeBytes": 4096
                    },
                    {
                      "name": "site",
                      "project": "web",
                      "sizeBytes": 8192
                    }
                  ],
                  "totalBytes": 12288
                },
                "schema": {
                  "$ref": "#/components/schemas/usageView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/git/webhook": {
      "post": {
        "operationId": "post_git_webhook",
        "summary": "Retired — forge pushes build via platform.hanzo.ai",
        "description": "GONE (410). This was the canonical forge's push-to-deploy door, and it never dispatched a build in its life.\n\nIt handed each verified push to cloud.OnGitPush, a single-registrant seam whose only registrant lives in apps/platform. cloud runs each app as its own OS process, so in the git process that builder is nil forever — and this handler answered 204 either way. Delivered, signature valid, green on the forge's hook page, and nothing built.\n\nPush-to-deploy now belongs to POST https://platform.hanzo.ai/v1/git-webhook, which owns the build system-of-record and dispatches BuildKit Jobs. git.hanzo.ai delivers there through ONE forge-wide system webhook covering every repository; a repo opts in by committing hanzo.yml, not by owning a hook of its own.\n\nThe route is kept, and answers 410 naming that address, precisely so a misdirected delivery says what is wrong. Deleting it would 404, and a 404 here reads as 'the API is switched off' — the wrong conclusion this estate has already drawn twice.",
        "tags": [
          "git"
        ]
      }
    },
    "/v1/git/zap/createRepo": {
      "post": {
        "operationId": "post_git_zap_createrepo",
        "summary": "Create a repository over the ZAP transport",
        "description": "Creates a repository in the caller's org and project scope and answers with its record. `name` is required and `description` is optional; `project` narrows the scope within the org. A name already taken in that scope is a 409 envelope and an invalid name a 400.\n\nA ZAP PROCEDURE, not a REST resource. It answers the bridge's {status, msg, data} envelope rather than the raw view the /v1 route returns — which is a wire shape a typed op cannot produce, and the reason this stays a raw handler — and it calls the SAME core function the REST route calls, so the two transports cannot diverge in behaviour. Org and project scope come from the request identity and NEVER from the body: the body cannot widen the caller's scope. Without a validated org the answer is a 403 envelope.",
        "tags": [
          "git"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/zapProcReq"
              }
            }
          }
        }
      }
    },
    "/v1/git/zap/deleteRepo": {
      "post": {
        "operationId": "post_git_zap_deleterepo",
        "summary": "Delete a repository over the ZAP transport",
        "description": "Deletes the repository named by `name` and answers with the deleted name. A repository outside the caller's org and project scope is a 404 envelope, so a delete can never reach another tenant's repository.\n\nA ZAP PROCEDURE, not a REST resource. It answers the bridge's {status, msg, data} envelope rather than the raw view the /v1 route returns — which is a wire shape a typed op cannot produce, and the reason this stays a raw handler — and it calls the SAME core function the REST route calls, so the two transports cannot diverge in behaviour. Org and project scope come from the request identity and NEVER from the body: the body cannot widen the caller's scope. Without a validated org the answer is a 403 envelope.",
        "tags": [
          "git"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/zapProcReq"
              }
            }
          }
        }
      }
    },
    "/v1/git/zap/getRepo": {
      "post": {
        "operationId": "post_git_zap_getrepo",
        "summary": "Read one repository over the ZAP transport",
        "description": "Answers a single repository's record, named by `name`. A repository outside the caller's org and project scope is a 404 envelope, the same answer one that does not exist gets.\n\nA ZAP PROCEDURE, not a REST resource. It answers the bridge's {status, msg, data} envelope rather than the raw view the /v1 route returns — which is a wire shape a typed op cannot produce, and the reason this stays a raw handler — and it calls the SAME core function the REST route calls, so the two transports cannot diverge in behaviour. Org and project scope come from the request identity and NEVER from the body: the body cannot widen the caller's scope. Without a validated org the answer is a 403 envelope.",
        "tags": [
          "git"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/zapProcReq"
              }
            }
          }
        }
      }
    },
    "/v1/git/zap/listRepos": {
      "post": {
        "operationId": "post_git_zap_listrepos",
        "summary": "List your repositories over the ZAP transport",
        "description": "Answers every repository in the caller's org and project scope. It reads NO body — the scope is entirely the caller's identity — so a request with an empty object is correct.\n\nA ZAP PROCEDURE, not a REST resource. It answers the bridge's {status, msg, data} envelope rather than the raw view the /v1 route returns — which is a wire shape a typed op cannot produce, and the reason this stays a raw handler — and it calls the SAME core function the REST route calls, so the two transports cannot diverge in behaviour. Org and project scope come from the request identity and NEVER from the body: the body cannot widen the caller's scope. Without a validated org the answer is a 403 envelope.",
        "tags": [
          "git"
        ]
      }
    },
    "/v1/git/zap/usage": {
      "post": {
        "operationId": "post_git_zap_usage",
        "summary": "Report your org's git storage footprint over the ZAP transport",
        "description": "Answers every repository in the caller's org with its size in bytes, plus the org's total — what git storage is actually being used, and by which repository. It reads NO body, and it is scoped to the caller's own org, so it is that org's footprint and never the fleet's.\n\nA ZAP PROCEDURE, not a REST resource. It answers the bridge's {status, msg, data} envelope rather than the raw view the /v1 route returns — which is a wire shape a typed op cannot produce, and the reason this stays a raw handler — and it calls the SAME core function the REST route calls, so the two transports cannot diverge in behaviour. Org and project scope come from the request identity and NEVER from the body: the body cannot widen the caller's scope. Without a validated org the answer is a 403 envelope.",
        "tags": [
          "git"
        ]
      }
    },
    "/v1/git/{org}/{project}/{repo}/git-receive-pack": {
      "post": {
        "operationId": "post_git_by_org_by_project_by_repo_git-receive-pack",
        "summary": "Accept a push, and turn it into a build",
        "description": "The pack-transfer phase of a push, and the point at which a push becomes an EVENT. NEVER ANONYMOUS: a push always requires an authenticated org, and the org in the path must equal it.\n\nOnce the pack is on disk the repository's storage usage is metered and a build is fired for every branch whose tip actually moved, computed from the before/after branch diff rather than from what the client claimed. That runs on a cancel-immune context, so a client that hangs up the moment its push lands still gets its build, and it runs even when git itself exited non-zero — the refs on disk are the ground truth. Repacking housekeeping is detached and never blocks the response.\n\nA Content-Type other than `application/x-git-receive-pack-request` is 400. Addressed under the API prefix, with the PROJECT as a middle path segment: project scope otherwise rides a header a git client cannot send, so this path is the only usable remote for a project-scoped repository. This is git's own wire protocol, not an API call to make by hand: point a git client at the clone URL and it makes this request itself.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    },
    "/v1/git/{org}/{project}/{repo}/git-upload-pack": {
      "post": {
        "operationId": "post_git_by_org_by_project_by_repo_git-upload-pack",
        "summary": "Serve a clone or fetch",
        "description": "The pack-transfer phase of a clone or fetch: the request and the response are git's binary pack protocol, streamed straight through git itself — request body to git's stdin, git's stdout to the response — so a multi-gigabyte clone never lands in this process's memory.\n\nA PUBLIC repository is fetched anonymously; a private one requires its own org, and a wrong or absent org is 404 rather than a hint that the repository exists. A Content-Type other than `application/x-git-upload-pack-request` is 400. Addressed under the API prefix, with the PROJECT as a middle path segment: project scope otherwise rides a header a git client cannot send, so this path is the only usable remote for a project-scoped repository. This is git's own wire protocol, not an API call to make by hand: point a git client at the clone URL and it makes this request itself.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    },
    "/v1/git/{org}/{project}/{repo}/info/refs": {
      "get": {
        "operationId": "get_git_by_org_by_project_by_repo_info_refs",
        "summary": "Advertise a repository's refs to a git client",
        "description": "The ref-advertisement phase of git's smart-HTTP protocol — the first request a clone, a fetch and a push all make. `?service=` selects which: `git-upload-pack` advertises for a fetch, `git-receive-pack` for a push, and any other value is 400.\n\nANONYMOUS ONLY FOR FETCH, AND ONLY ON A PUBLIC REPOSITORY. The push advertisement always requires an authenticated org, and where a path org is present it must equal the authenticated one. A private repository reached without its org is 404, indistinguishable from one that does not exist. Addressed under the API prefix, with the PROJECT as a middle path segment: project scope otherwise rides a header a git client cannot send, so this path is the only usable remote for a project-scoped repository. This is git's own wire protocol, not an API call to make by hand: point a git client at the clone URL and it makes this request itself.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/git/{org}/{repo}/git-receive-pack": {
      "post": {
        "operationId": "post_git_by_org_by_repo_git-receive-pack",
        "summary": "Accept a push, and turn it into a build",
        "description": "The pack-transfer phase of a push, and the point at which a push becomes an EVENT. NEVER ANONYMOUS: a push always requires an authenticated org, and the org in the path must equal it.\n\nOnce the pack is on disk the repository's storage usage is metered and a build is fired for every branch whose tip actually moved, computed from the before/after branch diff rather than from what the client claimed. That runs on a cancel-immune context, so a client that hangs up the moment its push lands still gets its build, and it runs even when git itself exited non-zero — the refs on disk are the ground truth. Repacking housekeeping is detached and never blocks the response.\n\nA Content-Type other than `application/x-git-receive-pack-request` is 400. Addressed under the API prefix, so `git clone https://\u003chost\u003e/v1/git/\u003corg\u003e/\u003crepo\u003e.git` works on any host the binary serves. This is git's own wire protocol, not an API call to make by hand: point a git client at the clone URL and it makes this request itself.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    },
    "/v1/git/{org}/{repo}/git-upload-pack": {
      "post": {
        "operationId": "post_git_by_org_by_repo_git-upload-pack",
        "summary": "Serve a clone or fetch",
        "description": "The pack-transfer phase of a clone or fetch: the request and the response are git's binary pack protocol, streamed straight through git itself — request body to git's stdin, git's stdout to the response — so a multi-gigabyte clone never lands in this process's memory.\n\nA PUBLIC repository is fetched anonymously; a private one requires its own org, and a wrong or absent org is 404 rather than a hint that the repository exists. A Content-Type other than `application/x-git-upload-pack-request` is 400. Addressed under the API prefix, so `git clone https://\u003chost\u003e/v1/git/\u003corg\u003e/\u003crepo\u003e.git` works on any host the binary serves. This is git's own wire protocol, not an API call to make by hand: point a git client at the clone URL and it makes this request itself.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    },
    "/v1/git/{org}/{repo}/info/refs": {
      "get": {
        "operationId": "get_git_by_org_by_repo_info_refs",
        "summary": "Advertise a repository's refs to a git client",
        "description": "The ref-advertisement phase of git's smart-HTTP protocol — the first request a clone, a fetch and a push all make. `?service=` selects which: `git-upload-pack` advertises for a fetch, `git-receive-pack` for a push, and any other value is 400.\n\nANONYMOUS ONLY FOR FETCH, AND ONLY ON A PUBLIC REPOSITORY. The push advertisement always requires an authenticated org, and where a path org is present it must equal the authenticated one. A private repository reached without its org is 404, indistinguishable from one that does not exist. Addressed under the API prefix, so `git clone https://\u003chost\u003e/v1/git/\u003corg\u003e/\u003crepo\u003e.git` works on any host the binary serves. This is git's own wire protocol, not an API call to make by hand: point a git client at the clone URL and it makes this request itself.",
        "tags": [
          "git"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{org}/{project}/{repo}/git-receive-pack": {
      "post": {
        "operationId": "post_by_org_by_project_by_repo_git-receive-pack",
        "summary": "Accept a push, and turn it into a build",
        "description": "The pack-transfer phase of a push, and the point at which a push becomes an EVENT. NEVER ANONYMOUS: a push always requires an authenticated org, and the org in the path must equal it.\n\nOnce the pack is on disk the repository's storage usage is metered and a build is fired for every branch whose tip actually moved, computed from the before/after branch diff rather than from what the client claimed. That runs on a cancel-immune context, so a client that hangs up the moment its push lands still gets its build, and it runs even when git itself exited non-zero — the refs on disk are the ground truth. Repacking housekeeping is detached and never blocks the response.\n\nA Content-Type other than `application/x-git-receive-pack-request` is 400. Addressed at the git host's root with the PROJECT as a middle path segment — the canonical-URL form of the project-scoped remote, since a git client has no header to carry a project. Served only on the dedicated git host; elsewhere it falls through. This is git's own wire protocol, not an API call to make by hand: point a git client at the clone URL and it makes this request itself.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    },
    "/{org}/{project}/{repo}/git-upload-pack": {
      "post": {
        "operationId": "post_by_org_by_project_by_repo_git-upload-pack",
        "summary": "Serve a clone or fetch",
        "description": "The pack-transfer phase of a clone or fetch: the request and the response are git's binary pack protocol, streamed straight through git itself — request body to git's stdin, git's stdout to the response — so a multi-gigabyte clone never lands in this process's memory.\n\nA PUBLIC repository is fetched anonymously; a private one requires its own org, and a wrong or absent org is 404 rather than a hint that the repository exists. A Content-Type other than `application/x-git-upload-pack-request` is 400. Addressed at the git host's root with the PROJECT as a middle path segment — the canonical-URL form of the project-scoped remote, since a git client has no header to carry a project. Served only on the dedicated git host; elsewhere it falls through. This is git's own wire protocol, not an API call to make by hand: point a git client at the clone URL and it makes this request itself.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    },
    "/{org}/{project}/{repo}/info/refs": {
      "get": {
        "operationId": "get_by_org_by_project_by_repo_info_refs",
        "summary": "Advertise a repository's refs to a git client",
        "description": "The ref-advertisement phase of git's smart-HTTP protocol — the first request a clone, a fetch and a push all make. `?service=` selects which: `git-upload-pack` advertises for a fetch, `git-receive-pack` for a push, and any other value is 400.\n\nANONYMOUS ONLY FOR FETCH, AND ONLY ON A PUBLIC REPOSITORY. The push advertisement always requires an authenticated org, and where a path org is present it must equal the authenticated one. A private repository reached without its org is 404, indistinguishable from one that does not exist. Addressed at the git host's root with the PROJECT as a middle path segment — the canonical-URL form of the project-scoped remote, since a git client has no header to carry a project. Served only on the dedicated git host; elsewhere it falls through. This is git's own wire protocol, not an API call to make by hand: point a git client at the clone URL and it makes this request itself.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{org}/{repo}": {
      "get": {
        "operationId": "get_by_org_by_repo",
        "summary": "Open a repository's home page",
        "description": "A repository at a glance: its branches, the tree at the tip, its most recent commits, its README rendered, and the HTTPS and SSH clone URLs. `?ref=` selects a branch, tag or commit; the default branch is used when it is omitted. A repository with no commits yet renders its clone instructions rather than an error, which is what a caller who has just created one needs to see. A public repository is readable by anyone; a private one only by its own org. A repository that does not exist and one belonging to another org answer the SAME 404, so the page is never an existence oracle. This is a server-rendered browser page, not JSON — the console repo-browser reads the same repository through the JSON ops under /v1/git. Repository names, paths and file contents all render through auto-escaping templates rather than being concatenated into HTML. Served only on the dedicated git host, where a browse URL matches the clone URL; on the API and console hosts it falls through to their own routes, so it can never shadow them.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{org}/{repo}/blob/{wildcard1}": {
      "get": {
        "operationId": "get_by_org_by_repo_blob_by_wildcard1",
        "summary": "View a file in a repository",
        "description": "One file's contents at one revision, with its size and line count. A BINARY file is reported as binary rather than dumped into the page. The path after /blob/ is the file and `?ref=` selects the branch, tag or commit. An unknown ref or a path that is not a file in it is 404. A public repository is readable by anyone; a private one only by its own org. A repository that does not exist and one belonging to another org answer the SAME 404, so the page is never an existence oracle. This is a server-rendered browser page, not JSON — the console repo-browser reads the same repository through the JSON ops under /v1/git. Repository names, paths and file contents all render through auto-escaping templates rather than being concatenated into HTML. Served only on the dedicated git host, where a browse URL matches the clone URL; on the API and console hosts it falls through to their own routes, so it can never shadow them.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{org}/{repo}/commits": {
      "get": {
        "operationId": "get_by_org_by_repo_commits",
        "summary": "Read a repository's commit log",
        "description": "The hundred most recent commits on one ref, each with its author, message and date. `?ref=` selects the branch, tag or commit, defaulting to the repository's default branch; an unknown one is 404. A public repository is readable by anyone; a private one only by its own org. A repository that does not exist and one belonging to another org answer the SAME 404, so the page is never an existence oracle. This is a server-rendered browser page, not JSON — the console repo-browser reads the same repository through the JSON ops under /v1/git. Repository names, paths and file contents all render through auto-escaping templates rather than being concatenated into HTML. Served only on the dedicated git host, where a browse URL matches the clone URL; on the API and console hosts it falls through to their own routes, so it can never shadow them.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{org}/{repo}/git-receive-pack": {
      "post": {
        "operationId": "post_by_org_by_repo_git-receive-pack",
        "summary": "Accept a push, and turn it into a build",
        "description": "The pack-transfer phase of a push, and the point at which a push becomes an EVENT. NEVER ANONYMOUS: a push always requires an authenticated org, and the org in the path must equal it.\n\nOnce the pack is on disk the repository's storage usage is metered and a build is fired for every branch whose tip actually moved, computed from the before/after branch diff rather than from what the client claimed. That runs on a cancel-immune context, so a client that hangs up the moment its push lands still gets its build, and it runs even when git itself exited non-zero — the refs on disk are the ground truth. Repacking housekeeping is detached and never blocks the response.\n\nA Content-Type other than `application/x-git-receive-pack-request` is 400. Addressed at the git host's root, so `git clone https://\u003cgit-host\u003e/\u003corg\u003e/\u003crepo\u003e.git` works with the canonical URL and no prefix. Served ONLY on the dedicated git host; on the API and console hosts it falls through, so a bare /:org/:repo can never shadow another surface. This is git's own wire protocol, not an API call to make by hand: point a git client at the clone URL and it makes this request itself.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    },
    "/{org}/{repo}/git-upload-pack": {
      "post": {
        "operationId": "post_by_org_by_repo_git-upload-pack",
        "summary": "Serve a clone or fetch",
        "description": "The pack-transfer phase of a clone or fetch: the request and the response are git's binary pack protocol, streamed straight through git itself — request body to git's stdin, git's stdout to the response — so a multi-gigabyte clone never lands in this process's memory.\n\nA PUBLIC repository is fetched anonymously; a private one requires its own org, and a wrong or absent org is 404 rather than a hint that the repository exists. A Content-Type other than `application/x-git-upload-pack-request` is 400. Addressed at the git host's root, so `git clone https://\u003cgit-host\u003e/\u003corg\u003e/\u003crepo\u003e.git` works with the canonical URL and no prefix. Served ONLY on the dedicated git host; on the API and console hosts it falls through, so a bare /:org/:repo can never shadow another surface. This is git's own wire protocol, not an API call to make by hand: point a git client at the clone URL and it makes this request itself.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    },
    "/{org}/{repo}/info/refs": {
      "get": {
        "operationId": "get_by_org_by_repo_info_refs",
        "summary": "Advertise a repository's refs to a git client",
        "description": "The ref-advertisement phase of git's smart-HTTP protocol — the first request a clone, a fetch and a push all make. `?service=` selects which: `git-upload-pack` advertises for a fetch, `git-receive-pack` for a push, and any other value is 400.\n\nANONYMOUS ONLY FOR FETCH, AND ONLY ON A PUBLIC REPOSITORY. The push advertisement always requires an authenticated org, and where a path org is present it must equal the authenticated one. A private repository reached without its org is 404, indistinguishable from one that does not exist. Addressed at the git host's root, so `git clone https://\u003cgit-host\u003e/\u003corg\u003e/\u003crepo\u003e.git` works with the canonical URL and no prefix. Served ONLY on the dedicated git host; on the API and console hosts it falls through, so a bare /:org/:repo can never shadow another surface. This is git's own wire protocol, not an API call to make by hand: point a git client at the clone URL and it makes this request itself.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{org}/{repo}/tree/{wildcard1}": {
      "get": {
        "operationId": "get_by_org_by_repo_tree_by_wildcard1",
        "summary": "Browse a directory inside a repository",
        "description": "The contents of one directory at one revision, with breadcrumbs back up and links onward into subdirectories and files. The path after /tree/ is the directory and `?ref=` selects the branch, tag or commit, defaulting to the repository's own default branch. An unknown ref is 404, as is a repository with no commits. A public repository is readable by anyone; a private one only by its own org. A repository that does not exist and one belonging to another org answer the SAME 404, so the page is never an existence oracle. This is a server-rendered browser page, not JSON — the console repo-browser reads the same repository through the JSON ops under /v1/git. Repository names, paths and file contents all render through auto-escaping templates rather than being concatenated into HTML. Served only on the dedicated git host, where a browse URL matches the clone URL; on the API and console hosts it falls through to their own routes, so it can never shadow them.",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "blobJSON": {
        "properties": {
          "binary": {
            "description": "Binary marks content git could not treat as text; it comes back base64.",
            "type": "boolean"
          },
          "content": {
            "description": "Content is the file's bytes, empty when Truncated.",
            "type": "string"
          },
          "encoding": {
            "description": "Encoding is how Content is carried: \"utf8\" verbatim, or \"base64\".",
            "type": "string"
          },
          "path": {
            "description": "Path is the file's repo-relative path.",
            "type": "string"
          },
          "size": {
            "description": "Size is the file's byte length in the repo, whatever was returned below.",
            "type": "integer"
          },
          "truncated": {
            "description": "Truncated marks a file past the 1 MiB view cap. No content is sent —\nclone the repo for it.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "commitJSON": {
        "properties": {
          "authorEmail": {
            "description": "AuthorEmail is the commit author's email.",
            "type": "string"
          },
          "authorName": {
            "description": "AuthorName is the commit author's name.",
            "type": "string"
          },
          "date": {
            "description": "Date is the author date, RFC 3339 UTC.",
            "type": "string"
          },
          "message": {
            "description": "Message is the commit's SUBJECT — its first line only.",
            "type": "string"
          },
          "sha": {
            "description": "SHA is the full commit hash.",
            "type": "string"
          },
          "shortSha": {
            "description": "ShortSHA is the abbreviated hash a UI displays.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "commitsJSON": {
        "properties": {
          "commits": {
            "description": "Commits are newest first.",
            "items": {
              "$ref": "#/components/schemas/commitJSON"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "createReq": {
        "properties": {
          "description": {
            "description": "Description is a free-form blurb, max 4KiB.",
            "type": "string"
          },
          "name": {
            "description": "Name is the repo's handle, unique within the scope, and the last segment of\nboth clone URLs. Must match ^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$; a trailing\n\".git\" is stripped first. Required.",
            "type": "string"
          },
          "project": {
            "description": "Project narrows the repo to a sub-scope of the org. Omit it to use the\ncaller's own X-Project-Id scope; it can never widen past the caller's org.",
            "type": "string"
          },
          "public": {
            "description": "Public grants ANONYMOUS read (fetch) only; push and the whole control plane\nstay org-authed. Defaults to false.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "fileJSON": {
        "properties": {
          "content": {
            "description": "Content is the file's bytes, empty when Truncated.",
            "type": "string"
          },
          "encoding": {
            "description": "Encoding is how Content is carried: \"utf8\" verbatim, or \"base64\".",
            "type": "string"
          },
          "path": {
            "description": "Path is the file's repo-relative path.",
            "type": "string"
          },
          "size": {
            "description": "Size is the file's byte length in the repo.",
            "type": "integer"
          },
          "truncated": {
            "description": "Truncated marks a file past the read cap; no content is sent. A caller\nassembling a desired set must treat this as INCOMPLETE, never as empty.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "filesJSON": {
        "properties": {
          "files": {
            "description": "Files are the selected files, sorted by path. Directories are never\nreturned.",
            "items": {
              "$ref": "#/components/schemas/fileJSON"
            },
            "type": "array"
          },
          "rev": {
            "description": "Rev is the full revision the ref resolved to — pin follow-up reads to it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "gcOut": {
        "properties": {
          "maintained": {
            "description": "Maintained is always true; the call fails rather than reporting false.",
            "type": "boolean"
          },
          "repo": {
            "description": "Repo is the repo that was repacked.",
            "type": "string"
          },
          "sizeBytes": {
            "description": "SizeBytes is the size measured AFTER the repack — usually smaller, since\nrepacking drops the packs it supersedes.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "keyList": {
        "properties": {
          "data": {
            "description": "Data holds the org's keys.",
            "items": {
              "$ref": "#/components/schemas/keyView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "keyView": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is RFC 3339 UTC.",
            "type": "string"
          },
          "fingerprint": {
            "description": "Fingerprint is the key's SHA256 fingerprint (\"SHA256:…\"), globally unique\nand the handle SSH auth resolves a presented key by.",
            "type": "string"
          },
          "id": {
            "description": "ID is the key's identifier (\"gitkey_…\"), the handle to delete it by.",
            "type": "string"
          },
          "publicKey": {
            "description": "PublicKey is the canonical OpenSSH authorized-key line as stored.",
            "type": "string"
          },
          "title": {
            "description": "Title is the key's label — the caller's, or the comment on the key line.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mirrorList": {
        "properties": {
          "data": {
            "description": "Data holds the repo's outbound mirror targets.",
            "items": {
              "$ref": "#/components/schemas/mirrorTargetView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "mirrorReq": {
        "properties": {
          "name": {
            "description": "Name is the local repo to mirror into, from the :name path segment. It is\nCREATED on first use.",
            "type": "string"
          },
          "project": {
            "description": "Project is the sub-scope to land the repo in; empty uses the caller's own,\nexactly as a create would.",
            "type": "string"
          },
          "source": {
            "description": "Source is the http(s) git URL to fetch from. The host is SSRF-guarded, and a\ncredential is sent only if we hold one NAMED FOR that host — so a\ntenant-supplied URL to anywhere else fetches anonymously.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mirrorTargetReq": {
        "properties": {
          "host": {
            "description": "Host is an optional assertion of the target's hostname. The authoritative\nhost is the one in URL; a value that disagrees with it is refused.",
            "type": "string"
          },
          "name": {
            "description": "Name is the repo whose advanced refs are pushed downstream, from the :name\npath segment.",
            "type": "string"
          },
          "url": {
            "description": "URL is the downstream https git remote. Must be https to an allowlisted\nhost (github.com / gitlab.com); any embedded credentials are stripped.\nRequired.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mirrorTargetView": {
        "properties": {
          "createdAt": {
            "description": "CreatedAt is RFC 3339 UTC.",
            "type": "string"
          },
          "host": {
            "description": "Host is the target's lowercased hostname, taken from URL and never the body.",
            "type": "string"
          },
          "id": {
            "description": "ID is the target's identifier (\"mir_…\"), the handle to remove it by.",
            "type": "string"
          },
          "repo": {
[...]
