{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package tracker is your org's issue tracker: projects, issues, and the filters to find them.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "tracker"
    }
  ],
  "paths": {
    "/v1/tracker/projects": {
      "get": {
        "operationId": "get_v1_tracker_projects",
        "summary": "Returns every tracker project in the caller's org, newest first.",
        "description": "Returns every tracker project in the caller's org, newest first.\n\nA project is the board: it owns a KEY (the uppercase handle that prefixes every\nissue identifier, \"ENG-14\") and the issues filed under it. The listing is\norg-scoped server-side — the org is the validated bearer claim, never a\nclient-supplied header — so one org can never see another's boards.",
        "tags": [
          "tracker"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/trackerProject"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_tracker_projects",
        "summary": "Open a tracker board in your org",
        "description": "Creates a board and returns it, including the KEY that will prefix every issue identifier filed under it — the same key GET, PATCH and DELETE address the board by, and the ENG in ENG-14.\n\n`name` is required. `key` is optional and is UPPERCASED: omit it and one is derived from the name — its first four letters and digits, or PRJ when that yields nothing usable. A key that is not 2-8 characters starting with a letter is 400.\n\nTHE KEY IS UNIQUE PER ORG AND A COLLISION IS REFUSED, NOT MERGED: a second board on a key already taken is 409, and the derived key is not made unique for you, so two similarly named boards collide and the second caller must name a key. Re-POSTing is therefore not idempotent — it fails rather than returning the existing board.\n\nThe org is the validated bearer's own, never a client header, and the board is stored under the caller's selected IAM PROJECT: the same key in two IAM projects is two unrelated boards. 403 without a validated org.\n\nFree by default. The create runs the shared per-org balance gate at a fee of zero unless a deployment prices it, and a priced deployment out of balance refuses with the nested {\"error\":{\"code\",\"message\"}} body at 402/503 rather than a flat error.",
        "tags": [
          "tracker"
        ]
      }
    },
    "/v1/tracker/projects/{key}": {
      "delete": {
        "operationId": "delete_v1_tracker_projects_key",
        "summary": "Removes one tracker project of the caller's org AND every issue filed under it, and answers 204 with no body.",
        "description": "Removes one tracker project of the caller's org AND every issue\nfiled under it, and answers 204 with no body. 404 when the org has no project\nunder that key.\n\nThe cascade is the point: an issue has no meaning without the board whose key\nnames it, so deleting the board deletes them together rather than leaving\norphans addressable by an identifier that no longer resolves.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the project's org-unique handle: 2-8 uppercase alphanumerics starting\nwith a letter (\"ENG\", \"OPS2\"). Matched case-insensitively.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_tracker_projects_key",
        "summary": "Returns one tracker project of the caller's org by its key — its name, description and timestamps.",
        "description": "Returns one tracker project of the caller's org by its key —\nits name, description and timestamps. 404 when the org has no project\nunder that key.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the project's org-unique handle: 2-8 uppercase alphanumerics starting\nwith a letter (\"ENG\", \"OPS2\"). Matched case-insensitively.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trackerProject"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_v1_tracker_projects_key",
        "summary": "Renames a tracker project or rewrites its description, and returns the updated project.",
        "description": "Renames a tracker project or rewrites its description, and\nreturns the updated project. Both fields are optional: one the caller omits\nkeeps its stored value.\n\nThe project KEY is never editable — it prefixes every issue identifier already\nfiled under the board, so changing it would rewrite the human handle of every\nissue in it.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the project to update, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": "Platform Engineering"
              },
              "schema": {
                "$ref": "#/components/schemas/projectPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trackerProject"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/tracker/projects/{key}/issues": {
      "get": {
        "operationId": "get_v1_tracker_projects_key_issues",
        "summary": "Returns the issues of one tracker project, optionally filtered by status, kind, repo and source.",
        "description": "Returns the issues of one tracker project, optionally filtered by\nstatus, kind, repo and source.\n\nThis is the ONE place a surface takes its slice of the shared issue table:\nhanzo.team passes no filter or a status, a git repository's Issues tab passes\nkind=issue\u0026repo=\u003cr\u003e and its Pull Requests tab kind=pr\u0026repo=\u003cr\u003e. A filter value\noutside its closed set is refused with 400 rather than silently returning an\nempty board.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the project whose issues to list, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "ENG"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status keeps only issues in that board column: backlog, todo, in_progress,\ndone or canceled. An unknown value is refused with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind keeps only work items of that shape: issue, pr or epic. An unknown\nvalue is refused with 400.",
            "schema": {
              "type": "string"
            },
            "example": "pr"
          },
          {
            "name": "repo",
            "in": "query",
            "required": false,
            "description": "Repo keeps only issues bound to that git repository.",
            "schema": {
              "type": "string"
            },
            "example": "hanzoai/cloud"
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source keeps only issues opened from that surface: team, git, crm,\nhelpdesk, cms or agent. An unknown value is refused with 400.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/issueView"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_v1_tracker_projects_by_key_issues",
        "summary": "File an issue on a tracker board",
        "description": "Files a work item on one board and returns it, carrying the `identifier` — KEY-\u003cnumber\u003e — it will be known by everywhere else.\n\nTHE NUMBER IS THE SERVER'S TO ASSIGN and is not accepted from the caller: it is the board's highest plus one, taken inside the insert's own transaction, and it counts PER BOARD — ENG-1 and OPS-1 are different issues.\n\n`title` is required; everything else is optional and defaults. `kind` (issue, pr, epic) says what the item IS, `source` (team, git, crm, helpdesk, cms, agent) says which surface OPENED it, and the two are orthogonal — an issue escalated from support is kind=issue\u0026source=helpdesk. `status` defaults to backlog, `priority` to none. A value outside one of these closed sets is 400, never silently defaulted. `labels` may not contain a comma, the storage separator.\n\n`repo` and `extRef` RECORD an external binding; they do not create one. Filing here writes to your tracker and reaches no external system — nothing is pushed to GitHub. The GitHub integration runs the other way, mirroring upstream issues INTO this tracker.\n\n404 when the caller's org has no board under that key. The org is the validated bearer's own and the board is resolved within the caller's selected IAM project; 403 without a validated org. Free by default, on the same balance gate as the board create — an epic, a pull request and an issue are priced identically, since the fee is per work item rather than per kind.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/tracker/projects/{key}/issues/{num}": {
      "delete": {
        "operationId": "delete_v1_tracker_projects_key_issues_num",
        "summary": "Removes one issue from a tracker project and answers 204 with no body.",
        "description": "Removes one issue from a tracker project and answers 204 with no\nbody. 404 when the project or the issue does not exist in the caller's org.\n\nThe issue's number is NOT reused: the next issue on the board takes the next\nnumber, so a deleted identifier stays retired rather than silently pointing at\ndifferent work.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the issue's project, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num",
            "in": "path",
            "required": true,
            "description": "Num is the issue's number within that project — the digits of KEY-14.\nPositive; anything else is refused with 400.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        }
      },
      "get": {
        "operationId": "get_v1_tracker_projects_key_issues_num",
        "summary": "Returns one issue of one tracker project by its per-project number — title, description, status, priority, assignee, labels, kind, source and its git bindings.",
        "description": "Returns one issue of one tracker project by its per-project number —\ntitle, description, status, priority, assignee, labels, kind, source and its\ngit bindings. 404 when the project or the issue does not exist in the caller's\norg.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the issue's project, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num",
            "in": "path",
            "required": true,
            "description": "Num is the issue's number within that project — the digits of KEY-14.\nPositive; anything else is refused with 400.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issueView"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_v1_tracker_projects_key_issues_num",
        "summary": "Edits one issue in place and returns it — retitle it, rewrite its body, move it between board columns, reprioritize, reassign, or replace its labels.",
        "description": "Edits one issue in place and returns it — retitle it, rewrite its\nbody, move it between board columns, reprioritize, reassign, or replace its\nlabels. Every field is optional: one the caller omits keeps its stored value,\nand `labels` REPLACES the set rather than adding to it.\n\nThe issue's kind, source and git bindings are not editable here: they record\nwhere the work item came FROM, which is a fact about its origin rather than\nits current state.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the issue's project, from the path.",
            "schema": {
              "type": "string"
            },
            "example": "ENG"
          },
          {
            "name": "num",
            "in": "path",
            "required": true,
            "description": "Num is the issue's number within that project, from the path.",
            "schema": {
              "type": "integer"
            },
            "example": 14
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "assignee": "z",
                "key": "ENG",
                "num": 14,
                "status": "in_progress"
              },
              "schema": {
                "$ref": "#/components/schemas/issuePatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issueView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "issuePatch": {
        "properties": {
          "assignee": {
            "description": "Assignee is who owns the issue, at most 256 characters. Empty unassigns it.",
            "type": "string"
          },
          "description": {
            "description": "Description is the issue body, at most 32768 characters.",
            "type": "string"
          },
          "key": {
            "description": "Key is the issue's project, from the path.",
            "type": "string"
          },
          "labels": {
            "description": "Labels REPLACES the issue's labels with exactly this set. Each label is at\nmost 48 characters and may not contain a comma (the storage separator);\nempty entries are dropped.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "num": {
            "description": "Num is the issue's number within that project, from the path.",
            "type": "integer"
          },
          "priority": {
            "description": "Priority is none, urgent, high, medium or low. Empty resets it to none.",
            "type": "string"
          },
          "status": {
            "description": "Status moves the issue between board columns: backlog, todo, in_progress,\ndone or canceled. Empty resets it to backlog.",
            "type": "string"
          },
          "title": {
            "description": "Title is the issue's one-line summary. Non-empty, at most 512 characters.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "issueView": {
        "properties": {
          "assignee": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "extRef": {
            "description": "external anchor",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "identifier": {
            "description": "KEY-\u003cnumber\u003e, the human handle",
            "type": "string"
          },
          "kind": {
            "description": "issue | pr | epic",
            "type": "string"
          },
          "labels": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "number": {
            "type": "integer"
          },
          "priority": {
            "type": "string"
          },
          "projectKey": {
            "type": "string"
          },
          "repo": {
            "description": "git repo binding",
            "type": "string"
          },
          "source": {
            "description": "team | git | crm | helpdesk | cms | agent",
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "projectPatch": {
        "properties": {
          "description": {
            "description": "Description is the board's free-form blurb, at most 32768 characters.",
            "type": "string"
          },
          "key": {
            "description": "Key is the project to update, from the path.",
            "type": "string"
          },
          "name": {
            "description": "Name is the project's display name. Non-empty, at most 256 characters.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "trackerProject": {
        "properties": {
          "createdAt": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}
