{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package tracker is Hanzo Todo: boards, the work items on them, and the filters that make a board.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "tracker"
    }
  ],
  "paths": {
    "/tracker": {
      "delete": {
        "operationId": "delete_tracker_app",
        "summary": "Not served by the Hanzo Todo board",
        "description": "Published because this address accepts every method, but a static bundle has no writes: the request is refused 405 and nothing is read or changed."
      },
      "get": {
        "operationId": "get_tracker_app",
        "summary": "The Hanzo Todo board",
        "description": "Serves the application shell on GET, which is the entry point a browser loads before it calls anything under /v1/tracker/.\n\nThis is the Hanzo Todo board itself — HTML and hashed assets, not an API. Only GET and HEAD are served; every other method is refused 405. Hashed assets are returned immutable and cached for a year, while the shell is always revalidated, so a new deployment replaces a stale one on the next request."
      },
      "patch": {
        "operationId": "patch_tracker_app",
        "summary": "Not served by the Hanzo Todo board",
        "description": "Published because this address accepts every method, but a static bundle has no writes: the request is refused 405 and nothing is read or changed."
      },
      "post": {
        "operationId": "post_tracker_app",
        "summary": "Not served by the Hanzo Todo board",
        "description": "Published because this address accepts every method, but a static bundle has no writes: the request is refused 405 and nothing is read or changed."
      },
      "put": {
        "operationId": "put_tracker_app",
        "summary": "Not served by the Hanzo Todo board",
        "description": "Published because this address accepts every method, but a static bundle has no writes: the request is refused 405 and nothing is read or changed."
      }
    },
    "/tracker/{wildcard1}": {
      "delete": {
        "operationId": "delete_tracker_app_assets",
        "summary": "Not served by the Hanzo Todo board",
        "description": "Published because this address accepts every method, but a static bundle has no writes: the request is refused 405 and nothing is read or changed.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_tracker_app_assets",
        "summary": "The Hanzo Todo board's assets and client-side routes",
        "description": "Serves the static assets on GET, and returns the application shell for any path that is not a file — client-side routing means a deep link is a shell load, not a 404.\n\nThe one exception is /tracker/assets/, which holds only content-addressed build output: a name that is not there is a purged chunk, never a route, and answers 404. Everywhere else a path that looks like a missing file answers 200 with the shell, so read the content type rather than the status when a resource seems to be missing.\n\nA bundle that was never built answers 503 under its own name on every path, which is a failed deploy rather than a missing page.\n\nThis is the Hanzo Todo board itself — HTML and hashed assets, not an API. Only GET and HEAD are served; every other method is refused 405. Hashed assets are returned immutable and cached for a year, while the shell is always revalidated, so a new deployment replaces a stale one on the next request.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patch_tracker_app_assets",
        "summary": "Not served by the Hanzo Todo board",
        "description": "Published because this address accepts every method, but a static bundle has no writes: the request is refused 405 and nothing is read or changed.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_tracker_app_assets",
        "summary": "Not served by the Hanzo Todo board",
        "description": "Published because this address accepts every method, but a static bundle has no writes: the request is refused 405 and nothing is read or changed.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_tracker_app_assets",
        "summary": "Not served by the Hanzo Todo board",
        "description": "Published because this address accepts every method, but a static bundle has no writes: the request is refused 405 and nothing is read or changed.",
        "parameters": [
          {
            "name": "wildcard1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/tracker/board": {
      "get": {
        "operationId": "get_tracker_board",
        "summary": "Returns a board's issues — work items with their column, priority, assignee, labels and schedule.",
        "description": "Returns a board's issues — work items with their column, priority,\nassignee, labels and schedule.\n\nWHICH board is a filter, not an address. Bound to a repository (the key from\nthe path) it is that project's board; left unbound it is the org's whole\nboard; narrowed by label it is a board smaller than any repository — which is\nthe only way an app that lives as a directory inside a shared repository can\nhave one. Every combination is the same rows through the same projection, so\nno two boards can disagree about what a column means.\n\nThe column is a LABEL on the forge, so the board and the forge web UI are the\nsame object seen twice: relabelling in either moves the card in both. A closed\nissue reads as done whatever its labels say.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": false,
            "description": "Key is the project whose issues to list, from the path. EMPTY means every\nproject in the org — the global board. It is a filter like the rest of\nthis struct rather than an address, which is what lets one op answer both\n\"this board\" and \"all the work\" without a second surface disagreeing with\nthe first about what a column is.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status keeps only issues in that board column: backlog, todo, in_progress,\ndone or canceled. An unknown value is refused with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind keeps only work items of that shape: issue, pr or epic. An unknown\nvalue is refused with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": false,
            "description": "Repo keeps only issues bound to that git repository.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "description": "Label keeps only issues carrying that label, compared case-insensitively.\n\nThis is how a board narrows to something SMALLER than a repository — the\none mechanism for it. An estate whose apps are directories inside one\nrepository (hanzoai/cloud carries ~140 of them) has no repository per app\nto address, so the app is a label: `label=app/meet` is the meet board.\nNothing is provisioned to make one exist; a board is the query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source keeps only issues opened from that surface: team, git, crm,\nhelpdesk, cms or agent. An unknown value is refused with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduled",
            "in": "query",
            "required": false,
            "description": "Scheduled keeps only issues that carry a date — a start, a due date or\nboth. This is the timeline's slice of the board: pass scheduled=true to\nget exactly the rows a gantt has somewhere to draw, instead of fetching\nevery issue and discarding the undated ones client-side.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/issueView"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/tracker/issues": {
      "get": {
        "operationId": "get_tracker_issues",
        "summary": "Answers across every project in the org.",
        "description": "Answers across every project in the org.\n\nThe org comes from the validated principal and never from the request: a\ncaller able to name the org could read another tenant's backlog, and a search\nis exactly the shape that would quietly return it.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Q matches an issue's title or description. A word from the issue, which is\nwhat someone remembers — not its number, which is what they are looking up.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project narrows to one team key; \"\" searches every project in the org,\nwhich is the point of this op.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status keeps one board column: backlog, todo, in_progress, done, canceled.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind keeps one shape: issue, pr, epic.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": false,
            "description": "Repo keeps issues bound to one git repository.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source keeps one origin: team, git, crm, helpdesk, cms, agent. \"git\" is\nhow you ask for the mirrored GitHub issues specifically.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "description": "Assignee keeps issues held by one person. Pass \"me\" for yourself.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit caps the answer; 0 means the default, and anything above the ceiling\nis clamped rather than refused — a search that errors on being too broad\nteaches people to guess.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issueHits"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/tracker/milestones": {
      "get": {
        "operationId": "get_tracker_milestones",
        "summary": "Returns every milestone across your org's repositories, each stamped with the repository it belongs to.",
        "description": "Returns every milestone across your org's repositories, each\nstamped with the repository it belongs to.\n\nThe forge scopes milestones to a repository and publishes no org-level list,\nso this is a server-side fan-out over the repositories you can see. It runs\nhere rather than in the browser because a client-side fan-out would need the\nforge reachable from the page and a credential held there.",
        "tags": [
          "tracker"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/milestoneView"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/tracker/projects": {
      "get": {
        "operationId": "get_tracker_projects",
        "summary": "Returns the boards of your org — the places your work actually is.",
        "description": "Returns the boards of your org — the places your work actually\nis. The key addresses the board's issues.\n\nA BOARD IS A PLACE WORK IS, not an object somebody provisioned. So the list is\nassembled from the work itself: the repositories your org has filed issues on,\nplus the boards the index holds. A repository with nothing on it is not in the\nlist and is still perfectly addressable — GET /projects/\u003cname\u003e reads it and a\ncreate files into it — so nothing is lost by leaving it out.\n\nMeasured, which is why: reading the forge's whole repository inventory put 745\nboards here, of which all but a handful were vendored forks and mirrors\n(.github, .profile, DOMPurify, BoatAttack) that will never carry this org's\nwork. A list that long is not a list — the estate's real roadmap was in it\nsomewhere and no one could see it.\n\nThe forge half is the FORGE's answer for your own account, so two people in\none org can legitimately see different boards.",
        "tags": [
          "tracker"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/trackerProject"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_tracker_projects",
        "summary": "Refused — a board is a repository on the forge",
        "description": "Answers 405. A tracker board IS a repository on this deployment's forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.\n\nOffering it here would put a second door on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: \"not this service's job\" and \"no such thing\" are different facts, and the body names the forge so a caller knows where the job IS done.\n\nWhat this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and roll milestones up across the org. Those are the routes beside this one.",
        "tags": [
          "tracker"
        ]
      }
    },
    "/v1/tracker/projects/{key}": {
      "delete": {
        "operationId": "delete_tracker_projects_by_key",
        "summary": "Refused — a board is a repository on the forge",
        "description": "Answers 405. A tracker board IS a repository on this deployment's forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.\n\nOffering it here would put a second door on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: \"not this service's job\" and \"no such thing\" are different facts, and the body names the forge so a caller knows where the job IS done.\n\nWhat this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and roll milestones up across the org. Those are the routes beside this one.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_tracker_projects_by_key",
        "summary": "Returns one board of your org by its key — the repository name.",
        "description": "Returns one board of your org by its key — the repository name.\n404 when your org has no repository under that key, or when your own forge\naccount cannot see it.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the project's org-unique handle: 2-8 uppercase alphanumerics starting\nwith a letter (\"ENG\", \"OPS2\"). Matched case-insensitively.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trackerProject"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "patch": {
        "operationId": "patch_tracker_projects_by_key",
        "summary": "Refused — a board is a repository on the forge",
        "description": "Answers 405. A tracker board IS a repository on this deployment's forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.\n\nOffering it here would put a second door on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: \"not this service's job\" and \"no such thing\" are different facts, and the body names the forge so a caller knows where the job IS done.\n\nWhat this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and roll milestones up across the org. Those are the routes beside this one.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/tracker/projects/{key}/issues": {
      "get": {
        "operationId": "get_tracker_projects_by_key_issues",
        "summary": "Returns a board's issues — work items with their column, priority, assignee, labels and schedule.",
        "description": "Returns a board's issues — work items with their column, priority,\nassignee, labels and schedule.\n\nWHICH board is a filter, not an address. Bound to a repository (the key from\nthe path) it is that project's board; left unbound it is the org's whole\nboard; narrowed by label it is a board smaller than any repository — which is\nthe only way an app that lives as a directory inside a shared repository can\nhave one. Every combination is the same rows through the same projection, so\nno two boards can disagree about what a column means.\n\nThe column is a LABEL on the forge, so the board and the forge web UI are the\nsame object seen twice: relabelling in either moves the card in both. A closed\nissue reads as done whatever its labels say.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the project whose issues to list, from the path. EMPTY means every\nproject in the org — the global board. It is a filter like the rest of\nthis struct rather than an address, which is what lets one op answer both\n\"this board\" and \"all the work\" without a second surface disagreeing with\nthe first about what a column is.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status keeps only issues in that board column: backlog, todo, in_progress,\ndone or canceled. An unknown value is refused with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Kind keeps only work items of that shape: issue, pr or epic. An unknown\nvalue is refused with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": false,
            "description": "Repo keeps only issues bound to that git repository.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "description": "Label keeps only issues carrying that label, compared case-insensitively.\n\nThis is how a board narrows to something SMALLER than a repository — the\none mechanism for it. An estate whose apps are directories inside one\nrepository (hanzoai/cloud carries ~140 of them) has no repository per app\nto address, so the app is a label: `label=app/meet` is the meet board.\nNothing is provisioned to make one exist; a board is the query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Source keeps only issues opened from that surface: team, git, crm,\nhelpdesk, cms or agent. An unknown value is refused with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduled",
            "in": "query",
            "required": false,
            "description": "Scheduled keeps only issues that carry a date — a start, a due date or\nboth. This is the timeline's slice of the board: pass scheduled=true to\nget exactly the rows a gantt has somewhere to draw, instead of fetching\nevery issue and discarding the undated ones client-side.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/issueView"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "post_tracker_projects_by_key_issues",
        "summary": "Opens a work item on the board — an issue on that repository on the deployment's forge, filed as YOU.",
        "description": "Opens a work item on the board — an issue on that repository on\nthe deployment's forge, filed as YOU.\n\nThe column and priority are written as LABELS, which is what makes the card\nand the forge issue the same object: someone relabelling in the forge web UI\nhas moved your card.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the board — the repository name, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/newIssue"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issueView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/tracker/projects/{key}/issues/{num}": {
      "patch": {
        "operationId": "patch_tracker_projects_by_key_issues_by_num",
        "summary": "Edits a work item — rename it, rewrite it, move it to another column, or re-prioritise it.",
        "description": "Edits a work item — rename it, rewrite it, move it to another\ncolumn, or re-prioritise it. Absent fields are left alone.\n\nMOVING A CARD IS A RELABEL. The column lives in the forge's label set, so the\nmove replaces that set rather than writing a status column here that a\nforge-side change could contradict. Moving to `done` also CLOSES the issue on\nthe forge, because a done card and an open issue are a contradiction.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Key is the board — the repository name, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num",
            "in": "path",
            "required": true,
            "description": "Num is the issue number on that repository, from the path.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/issueEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issueView"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/tracker/projects/{key}/issues/{num}/claim": {
      "post": {
        "operationId": "post_tracker_projects_by_key_issues_by_num_claim",
        "summary": "Takes an issue: it becomes yours and it moves to in_progress.",
        "description": "Takes an issue: it becomes yours and it moves to in_progress.\n\nThe holder is the CALLER, never an argument. \"Assign this to someone else\" is\na different act with different authority, and it already exists as a PATCH;\nconflating them would let anyone hand work to anyone by naming them.\n\nClaiming something already held by someone else is refused rather than\nsilently taken — two agents on one issue is the failure this prevents, and a\nclaim that quietly wins a race is worse than one that says no.",
        "tags": [
          "tracker"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issueHit"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "issueEdit": {
        "properties": {
          "description": {
            "description": "Description rewrites the body.",
            "type": "string"
          },
          "key": {
            "description": "Key is the board — the repository name, from the path.",
            "type": "string"
          },
          "num": {
            "description": "Num is the issue number on that repository, from the path.",
            "type": "integer"
          },
          "priority": {
            "description": "Priority re-prioritises it.",
            "type": "string"
          },
          "status": {
            "description": "Status moves the card to another column.",
            "type": "string"
          },
          "title": {
            "description": "Title renames the work item.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "issueHit": {
        "properties": {
          "assignee": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "number": {
            "type": "integer"
          },
          "priority": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "repo": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "issueHits": {
        "properties": {
          "count": {
            "type": "integer"
          },
          "issues": {
            "items": {
              "$ref": "#/components/schemas/issueHit"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "issueView": {
        "properties": {
          "assignee": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "dueAt": {
            "description": "unix seconds; absent = no due date",
            "type": "integer"
          },
          "extRef": {
            "description": "external anchor",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "identifier": {
            "description": "KEY-\u003cnumber\u003e, the human handle",
            "type": "string"
          },
          "kind": {
            "description": "issue | pr | epic",
            "type": "string"
          },
          "labels": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "number": {
            "type": "integer"
          },
          "priority": {
            "type": "string"
          },
          "projectKey": {
            "type": "string"
          },
          "repo": {
            "description": "git repo binding",
            "type": "string"
          },
          "source": {
            "description": "team | git | crm | helpdesk | cms | agent",
            "type": "string"
          },
          "startAt": {
            "description": "unix seconds; absent = unscheduled",
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "milestoneView": {
        "properties": {
          "closed": {
            "type": "integer"
          },
          "dueAt": {
            "type": "integer"
          },
          "id": {
            "type": "integer"
          },
          "open": {
            "type": "integer"
          },
          "repo": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "newIssue": {
        "properties": {
          "description": {
            "description": "Description becomes the issue body.",
            "type": "string"
          },
          "key": {
            "description": "Key is the board — the repository name, from the path.",
            "type": "string"
          },
          "priority": {
            "description": "Priority is one of none, urgent, high, medium or low.",
            "type": "string"
          },
          "status": {
            "description": "Status is the board column to open into: backlog, todo, in_progress, done\nor canceled. Empty opens into backlog.",
            "type": "string"
          },
          "title": {
            "description": "Title is required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "trackerProject": {
        "properties": {
          "createdAt": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}
