{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Generated from the live router — every operation below is a route the unified cloud binary actually serves. Tagged by product: the first path segment after /v1/.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "tags": [
    {
      "name": "builds"
    },
    {
      "name": "environments"
    },
    {
      "name": "pipelines"
    },
    {
      "name": "platform"
    },
    {
      "name": "releases"
    },
    {
      "name": "run"
    },
    {
      "name": "runner"
    }
  ],
  "paths": {
    "/v1/builds": {
      "get": {
        "operationId": "get_v1_builds",
        "summary": "listBuilds returns the org's recorded BuildKit builds, newest first.",
        "description": "listBuilds returns the org's recorded BuildKit builds, newest first.\nEach row is joined to its app for the source repo and to its deployment for\nthe commit.\nA build is triggered by deploying a git-source app — the ONE build trigger —\nso this is list-only, and an org that has built nothing gets an empty list\nrather than a fabricated one.",
        "tags": [
          "builds"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/buildList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/environments": {
      "get": {
        "operationId": "get_v1_environments",
        "summary": "listEnvironments aggregates the org's apps into their deploy targets.",
        "description": "listEnvironments aggregates the org's apps into their deploy targets.\nAn environment is not a standalone record — it is the Application.Environment\nscope — so this is list-only, and a new environment appears the moment an app\ntargets it.",
        "tags": [
          "environments"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/environmentList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/pipelines": {
      "get": {
        "operationId": "get_v1_pipelines",
        "summary": "listPipelines projects each of the org's apps as a CI/CD pipeline.",
        "description": "listPipelines projects each of the org's apps as a CI/CD pipeline.\nA row carries the app's build source (repo or image) and the status and timing\nof its latest deployment run.\nThere is one pipeline per app — a pipeline is created by creating an app — so\nthis is list-only.",
        "tags": [
          "pipelines"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pipelineList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/platform/fleet": {
      "get": {
        "operationId": "get_v1_platform_fleet",
        "tags": [
          "platform"
        ]
      }
    },
    "/v1/platform/fleet/{app}": {
      "get": {
        "operationId": "get_v1_platform_fleet_by_app",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/fleet/{app}/deploy": {
      "post": {
        "operationId": "post_v1_platform_fleet_by_app_deploy",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/health": {
      "get": {
        "operationId": "get_v1_platform_health",
        "tags": [
          "platform"
        ]
      }
    },
    "/v1/platform/projects": {
      "get": {
        "operationId": "get_v1_platform_projects",
        "tags": [
          "platform"
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/projectView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}": {
      "get": {
        "operationId": "get_v1_platform_projects_by_project",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/projectView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps": {
      "get": {
        "operationId": "get_v1_platform_projects_by_project_apps",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/appView"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createAppReq"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}": {
      "delete": {
        "operationId": "delete_v1_platform_projects_by_project_apps_by_app",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_v1_platform_projects_by_project_apps_by_app",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/deploy": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_deploy",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deployReq"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deploymentView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/deployments": {
      "get": {
        "operationId": "get_v1_platform_projects_by_project_apps_by_app_deployments",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/deploymentView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/deployments/{id}": {
      "get": {
        "operationId": "get_v1_platform_projects_by_project_apps_by_app_deployments_by_id",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deploymentView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/deployments/{id}/logs": {
      "get": {
        "operationId": "get_v1_platform_projects_by_project_apps_by_app_deployments_by_id_logs",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/domains": {
      "get": {
        "operationId": "get_v1_platform_projects_by_project_apps_by_app_domains",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/domainView"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_domains",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/addDomainReq"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domainView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/domains/{host}": {
      "delete": {
        "operationId": "delete_v1_platform_projects_by_project_apps_by_app_domains_by_host",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/domains/{host}/verify": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_domains_by_host_verify",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domainView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/env": {
      "put": {
        "operationId": "put_v1_platform_projects_by_project_apps_by_app_env",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setEnvReq"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/preview": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_preview",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/previewReq"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/previewView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/promote": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_promote",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/promoteReq"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deploymentView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/rollback": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_rollback",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/rollbackReq"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deploymentView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/start": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_start",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/stop": {
      "post": {
        "operationId": "post_v1_platform_projects_by_project_apps_by_app_stop",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/releases": {
      "get": {
        "operationId": "get_v1_releases",
        "summary": "listReleases returns the org's released versions.",
        "description": "listReleases returns the org's released versions.\nA release is a deployment that actually reached the cluster (deploying or\nlive), so a build that never rolled out is not one.\nReleases are created by deploying — the ONE deploy path — so this is\nlist-only, and it reports real deployment history and nothing else.",
        "tags": [
          "releases"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/releaseList"
                }
              }
            },
            "description": "ok"
          }
        }
      }
    },
    "/v1/run": {
      "post": {
        "operationId": "post_v1_run",
        "tags": [
          "run"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/runReq"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runView"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runner": {
      "post": {
        "operationId": "post_v1_runner",
        "tags": [
          "runner"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/runnerBuildReq"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runnerBuildResp"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AppView": {
        "type": "object",
        "properties": {
          "app": {
            "type": "string"
          },
          "cluster": {
            "type": "string"
          },
          "declaredTag": {
            "type": "string"
          },
          "drift": {
            "$ref": "#/components/schemas/Drift"
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "env": {
            "type": "string"
          },
          "health": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "latestTag": {
            "type": "string"
          },
          "namespace": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "phase": {
            "type": "string"
          },
          "registry": {
            "type": "string"
          },
          "repo": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "runningTag": {
            "type": "string"
          }
        }
      },
      "Drift": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DriftFlag"
            }
          },
          "severity": {
            "type": "string"
          }
        }
      },
      "DriftFlag": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "severity": {
            "type": "string"
          }
        }
      },
      "EnvVarJSON": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "secret": {
            "type": "boolean"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "addDomainReq": {
        "type": "object",
        "properties": {
          "host": {
            "type": "string"
          }
        }
      },
      "appView": {
        "type": "object",
        "properties": {
          "buildType": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "currentDeploymentId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dockerfile": {
            "type": "string"
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "env": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvVarJSON"
            }
          },
          "environment": {
            "type": "string"
          },
          "health": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "image": {
            "$ref": "#/components/schemas/imageView"
          },
          "name": {
            "type": "string"
          },
          "namespace": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "phase": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "projectId": {
            "type": "string"
          },
          "replicas": {
            "type": "integer"
          },
          "repo": {
            "$ref": "#/components/schemas/gitSource"
          },
          "secretSync": {
            "type": "string"
          },
          "secretSyncDetail": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "storageGb": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          }
        }
      },
      "binarySpec": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string"
          },
          "ldflags": {
            "type": "string"
          },
          "main": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "out": {
            "type": "string"
          },
          "platforms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "run": {
            "type": "string"
          }
        }
      },
      "buildList": {
        "properties": {
          "builds": {
            "description": "Builds is the org's real build records, joined to their app and commit.",
            "items": {
              "$ref": "#/components/schemas/buildView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "buildView": {
        "properties": {
          "commit": {
            "type": "string"
          },
          "duration": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "repo": {
            "type": "string"
          },
          "startedAt": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "createAppReq": {
        "type": "object",
        "properties": {
          "buildType": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dockerfile": {
            "type": "string"
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "env": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvVarJSON"
            }
          },
          "environment": {
            "type": "string"
          },
          "image": {
            "type": "object",
            "properties": {
              "repository": {
                "type": "string"
              },
              "tag": {
                "type": "string"
              }
            }
          },
          "name": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "replicas": {
            "type": "integer"
          },
          "repo": {
            "type": "object",
            "properties": {
              "branch": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          },
          "slug": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "storageGb": {
            "type": "integer"
          }
        }
      },
      "deployReq": {
        "type": "object",
        "properties": {
          "commit": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        }
      },
      "deploymentView": {
        "type": "object",
        "properties": {
          "applicationId": {
            "type": "string"
          },
          "buildId": {
            "type": "string"
          },
          "commit": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          },
          "version": {
            "type": "integer"
          }
        }
      },
      "domainView": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "primary": {
            "type": "boolean"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            }
          },
          "status": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          }
        }
      },
      "environmentList": {
        "properties": {
          "environments": {
            "description": "Environments is one row per environment any of the org's apps targets.",
            "items": {
              "$ref": "#/components/schemas/environmentView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "environmentView": {
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "services": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "gitSource": {
        "type": "object",
        "properties": {
          "branch": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "imageView": {
        "type": "object",
        "properties": {
          "repository": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        }
      },
      "pipelineList": {
        "properties": {
          "pipelines": {
            "description": "Pipelines is one row per app, carrying its latest deployment run.",
            "items": {
              "$ref": "#/components/schemas/pipelineView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "pipelineView": {
        "properties": {
          "duration": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lastRun": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "repo": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "previewReq": {
        "type": "object",
        "properties": {
          "branch": {
            "type": "string"
          },
          "image": {
            "type": "string"
          }
        }
      },
      "previewView": {
        "type": "object",
        "properties": {
          "app": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "deployment": {
            "$ref": "#/components/schemas/deploymentView"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "projectView": {
        "type": "object",
        "properties": {
          "applications": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "promoteReq": {
        "type": "object",
        "properties": {
          "deploymentId": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        }
      },
      "releaseList": {
        "properties": {
          "releases": {
            "description": "Releases is one row per deployment that actually reached the cluster.",
            "items": {
              "$ref": "#/components/schemas/releaseView"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "releaseView": {
        "properties": {
          "environment": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "releasedAt": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "rollbackReq": {
        "type": "object",
        "properties": {
          "deploymentId": {
            "type": "string"
          }
        }
      },
      "runReq": {
        "type": "object",
        "properties": {
          "env": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvVarJSON"
            }
          },
          "gpu": {
            "type": "integer"
          },
          "image": {
            "type": "string"
          },
          "maxScale": {
            "type": "integer"
          },
          "minScale": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "runtime": {
            "type": "string"
          },
          "shape": {
            "type": "string"
          }
        }
      },
      "runView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shape": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "runnerBuildReq": {
        "type": "object",
        "properties": {
          "arch": {
            "type": "string"
          },
          "binaries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/binarySpec"
            }
          },
          "branch": {
            "type": "string"
          },
          "bucket": {
            "type": "string"
          },
          "context": {
            "type": "string"
          },
          "dockerTarget": {
            "type": "string"
          },
          "dockerfile": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "ref": {
            "type": "string"
          },
          "release": {
            "type": "boolean"
          },
          "repo": {
            "type": "string"
          },
          "sha": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        }
      },
      "runnerBuildResp": {
        "type": "object",
        "properties": {
          "buildJobId": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "index": {
            "type": "string"
          },
          "runnerPool": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "setEnvReq": {
        "type": "object",
        "properties": {
          "env": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvVarJSON"
            }
          }
        }
      }
    }
  }
}
