{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package platform is Hanzo PaaS: deploy containers to your own tenant namespace — builds, releases, environments, logs, custom domains.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "platform"
    }
  ],
  "paths": {
    "/v1/platform/apps": {
      "get": {
        "operationId": "get_platform_apps",
        "summary": "Answers what this organisation has declared, joined with what the delivery plane has done about it.",
        "description": "Answers what this organisation has declared, joined with what\nthe delivery plane has done about it.\n\nThe join is best-effort BY DESIGN and says so when it is missing: the\ndeclarations ARE the answer to \"what have I deployed\", so refusing the whole\nboard because the cluster is unreadable would lose the half that is readable.\nWhat must never happen is a silent null — an unreadable plane is reported as\n`cd.unavailable` carrying the reason, never as an app with no reconciliation.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org names the organisation whose declarations to read, defaulting to the\ncaller's own. Only a SuperAdmin may name one that is not theirs; anyone\nelse naming a foreign org is refused, so this widens nothing by itself.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/declaredResp"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_platform_apps",
        "summary": "Deploy an app through cd.hanzo.ai",
        "description": "Builds a git repository into an image and writes the declaration that names it — a values file in `hanzoai/universe` under `charts/app/values/\u003cnamespace\u003e/\u003cname\u003e.yaml`, which the `fleet` ApplicationSet renders as one Application. That file IS the deployment: nothing else has to be applied.\n\n`mode` decides whether anything can go live. The default, `branch`, pushes to `deploy/\u003cnamespace\u003e/\u003cname\u003e/\u003ctag\u003e` and returns a review URL; the generator reads main, so a branch declaration deploys NOTHING and merging the review is the deliberate act. `commit` writes main, and proves the image is pullable first — a declaration naming an image the registry cannot serve is an ImagePullBackOff with no rollback path.\n\nOmit `tag` to build; give it to declare an image an earlier call already built, which is how a green build is released without rebuilding it.\n\nAn org is its name: the values DIRECTORY, the destination NAMESPACE and the AppProject FENCE are all `\u003corg\u003e`, and the image is `\u003cregistry\u003e/\u003corg\u003e/\u003capp\u003e`. None of them is a request field — the directory decides what CD admits the sync under and the repository decides what the cluster pulls, so a caller who could name either could reach outside its own org.\n\n`org` is an ACT-AS, not a placement field: it defaults to the caller's own, and naming another requires SuperAdmin. So does naming a RESERVED org — the platform's own namespace family (the brands and their environments, the control and delivery planes, `admin`) — even when it is the caller's own, because an IAM org named `kube-system` does not own Kubernetes. Both refuse rather than downgrade, so an escape attempt is never indistinguishable from a normal request.\n\nA host outside the caller's org subtree is refused: claim and verify a custom domain first.",
        "tags": [
          "platform"
        ],
        "x-public": true
      }
    },
    "/v1/platform/apps/{app}": {
      "get": {
        "operationId": "get_platform_apps_by_app",
        "summary": "Answers ONE declaration — what git says this app is, before the delivery plane has had any say in it.",
        "description": "Answers ONE declaration — what git says this app is, before the\ndelivery plane has had any say in it.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the DNS-1123 label of the declaration. The URL is the addressing\nauthority — a path segment binds after the body and after the query — so\nthe address decides which app is read whatever else is sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org names the organisation the declaration lives in, defaulting to the\ncaller's own and subject to the same SuperAdmin rule as the listing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Declaration"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/apps/{app}/cd": {
      "get": {
        "operationId": "get_platform_apps_by_app_cd",
        "summary": "Answers ONE app's reconciliation alone — the poll a deploy console makes while it waits, without re-reading the whole inventory each time.",
        "description": "Answers ONE app's reconciliation alone — the poll a deploy\nconsole makes while it waits, without re-reading the whole inventory each time.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the DNS-1123 label of the declaration. The URL is the addressing\nauthority — a path segment binds after the body and after the query — so\nthe address decides which app is read whatever else is sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org names the organisation the declaration lives in, defaulting to the\ncaller's own and subject to the same SuperAdmin rule as the listing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDApp"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/builds": {
      "get": {
        "operationId": "get_platform_builds",
        "summary": "Returns real build records for your org.",
        "description": "Returns real build records for your org.\n\nIt lists the org's BuildKit build records — the git build step behind a deploy —\neach with the repo it built, the short commit, its status, when it started and\nhow long it took. These are real records or an honest empty list; a build appears\nhere because one ran, never because a page needed a row. Builds are created only\nby /deploy and the push-to-deploy hook. Requires a validated principal; 403\nwithout one.",
        "tags": [
          "platform"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/buildBoard"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/cd": {
      "get": {
        "operationId": "get_platform_cd",
        "summary": "Answers every Application the delivery plane holds.",
        "description": "Answers every Application the delivery plane holds.\n\nScoped to the namespaces the caller's own validated org owns: the ROLE opens\nthe door and the tenant boundary is applied inside, so an admin of one org\nnever observes another's.",
        "tags": [
          "platform"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cdResp"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/ci": {
      "get": {
        "operationId": "get_platform_ci",
        "summary": "Continuous integration (not wired)",
        "description": "Answers 501. The forge's Actions runs need a Forgejo API client and this deployment has none; an empty run list would be indistinguishable from a forge with no runs.",
        "tags": [
          "platform"
        ],
        "x-public": true
      }
    },
    "/v1/platform/environments": {
      "get": {
        "operationId": "get_platform_environments",
        "summary": "Returns your deploy targets, and what is running on each.",
        "description": "Returns your deploy targets, and what is running on each.\n\nIt returns the org's environments — the distinct deploy targets its applications\nname, `production` for anything that names none — each aggregating the apps that\ntarget it, a rolled-up status and when it last changed.\n\nAn environment is DERIVED, not stored: there is nothing to create or delete here,\nand an environment exists exactly as long as an app points at it. Requires a\nvalidated principal; 403 without one.",
        "tags": [
          "platform"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/environmentBoard"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/fleet": {
      "get": {
        "operationId": "get_platform_fleet",
        "summary": "Returns the platform's own service tier, and where it has drifted.",
        "description": "Returns the platform's own service tier, and where it has drifted.\n\nIt returns the board for the services the PLATFORM itself runs — iam, kms,\ngateway and the rest — as `{apps, summary}`: per service its environment, health,\nphase, the image tag its CR DECLARES, the tag actually running, and the drift\nbetween them, plus a summary counting the board green, yellow and red.\n\nThis is not a customer surface. `/v1/platform/projects/:project/apps` is a\ntenant's apps; this is the tier those tenants run ON, which is why the two are\nnamed differently rather than sharing a prefix.\n\nAdmission is scoped at the SCAN, before any CR is read: a platform SuperAdmin\nobserves the whole fleet, an org admin observes only their own org's namespaces,\nand an org that owns none gets an empty board — a non-super caller never even\nlists another org's services. Narrow further with `env`, `health`, `org`, or\n`drift=1` for only what has drifted.\n\nIt degrades honestly rather than failing whole: a namespace that does not exist\nis skipped, and a running-state read the caller cannot make leaves the running\ntag empty — an unknown, never a guess — while the declared, health and phase\ncolumns still render.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "env",
            "in": "query",
            "required": false,
            "description": "Env narrows to one lifecycle env: main, test or dev.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "required": false,
            "description": "Health narrows to one health colour: green, yellow or red.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Org narrows to one image namespace.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "drift",
            "in": "query",
            "required": false,
            "description": "Drift is `1` or `true` to show only rows that have actually drifted. It is\na STRING and not a bool because those two spellings are exactly what the\nboard has always accepted, and a bool would silently widen that to `?drift`\nalone and to `TRUE` — a behaviour change wearing a type change's clothes.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/driftBoard"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/fleet/{app}": {
      "get": {
        "operationId": "get_platform_fleet_by_app",
        "summary": "Returns one platform service, resolved to production by default.",
        "description": "Returns one platform service, resolved to production by default.\n\nIt returns a single platform service by its CR name, with the same\ndeclared-versus-running and drift facts the board carries. The name must be a\nDNS-1123 label; anything else is 400.\n\nNamespaces are scanned in lifecycle order — main, then test, then dev — and the\nfirst match wins, so a bare name resolves to PRODUCTION. The scan covers only the\nnamespaces the caller is authorized for, so an org admin can never read a service\noutside their own org, and a name found in none of them is 404 rather than a leak.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the service's CR name, from the path. It must be a DNS-1123 label.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "env",
            "in": "query",
            "required": false,
            "description": "Env narrows the scan to one lifecycle env: main, test or dev. Omitted, the\nnamespaces are scanned in lifecycle order and the first match wins, so a\nbare name resolves to PRODUCTION.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/fleet/{app}/deploy": {
      "post": {
        "operationId": "post_platform_fleet_by_app_deploy",
        "summary": "Rolls a platform service's pods, in a named environment.",
        "description": "Rolls a platform service's pods, in a named environment.\n\nIt triggers a rolling restart of one platform service's Deployment by stamping a\nfresh restart annotation, and answers 202 with the app, the namespace, the\nenvironment and the timestamp. It restarts pods; it does NOT change the image — a\nversion change is the release path, not this.\n\nSuperAdmin ONLY, and deliberately narrower than the read gate beside it. The only\nnamespaces this board touches are the platform's own tier, so a restart here\nrecycles a SHARED service every tenant depends on. A brand-org admin is a\ncustomer-org admin, not a platform operator: observing the board is bounded and\naudited, and restarting production identity is not.\n\n`?env=main|test|dev` is REQUIRED — a bare call does not default to production,\nwhich is what closes the fat-finger and confused-deputy hazard — and any other\nvalue is 400. A service with no Deployment to restart in that environment is 404.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the service's CR name, from the path. It must be a DNS-1123 label.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/restartRef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/restarted"
                }
              }
            },
            "description": "accepted"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/health": {
      "get": {
        "operationId": "get_platform_health",
        "summary": "Reports whether this control plane can actually deploy anything.",
        "description": "Reports whether this control plane can actually deploy anything.\n\nA real probe, not a status page. It answers 200 only when the metadata store is\nopen AND the cluster is genuinely reachable — proved by LISTING the operator App\nCRD, which settles reachability and CRD presence in one bounded call, and which\nis the exact question every deploy depends on. Anything else is 503 carrying the\nreal reason and whether the CRD was found.\n\nA constructed cluster client proves nothing — it is built from a kubeconfig, not\nfrom a reachable apiserver — so this deliberately spends a round trip rather than\nreporting `ok` while every deploy fails. Not admin-gated: liveness has to be\nprobe-able without a credential.",
        "tags": [
          "platform"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/readiness"
                }
              }
            },
            "description": "ok"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/readiness"
                }
              }
            },
            "description": "service unavailable"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/hook": {
      "post": {
        "operationId": "post_platform_hook",
        "summary": "Receive a push from the forge and trigger its build",
        "description": "The forge's push-to-deploy door. git.hanzo.ai runs as a separate server, so its pushes never reach this fleet's own receive-pack; without this a push to the host we call canonical builds nothing. A verified push is handed to the SAME two seams a native push travels — the single-registrant deploy trigger, and the many-subscriber lifecycle stream that notifies and indexes — and the build decision itself stays downstream in the one place that knows what a push means.\n\nPUBLIC at the JWT layer, because the forge carries no Hanzo session: AUTHENTICATION IS THE SIGNATURE. The HMAC covers the raw bytes and is verified BEFORE the payload is parsed, so an unauthenticated body is never decoded. The secret is read from KMS; a deployment that cannot read it answers 503 and processes nothing, rather than trusting a delivery it could not check. The body is read UNCOMPRESSED — a request declaring a Content-Encoding is refused 415 before it is touched, because decoding one is unbounded work bought with a few bytes and no credential. A bad signature is 401, a payload over 8 MiB is 413, and a malformed one 400.\n\nA verified push that reaches both seams answers 200 with fired true and the NUMBER OF BUILDS it launched — zero is ordinary, since most pushes track no application, and it is the answer 'fired' cannot give. A push that could not be dispatched answers 500: the delivery page shows it red, and the Replay that prompts reaches a fresh attempt rather than being declined as already landed.\n\nThe deliveries deliberately ignored answer 200 with a reason and nothing else: a payload that is not a push, a ref DELETE (a zero `after` has no commit to build), a BOT-authored push (release automation pushes as the forge's own Actions user, and a release must never rebuild itself), a push from a forge namespace that maps to no org, and a redelivery of a push already fired. Branches and tags both reach the build trigger, because releases are cut by tag and filtering here would silently stop publishing.",
        "tags": [
          "platform"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/push"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/verdict"
                }
              }
            }
          }
        },
        "x-public": true
      }
    },
    "/v1/platform/pipelines": {
      "get": {
        "operationId": "get_platform_pipelines",
        "summary": "Returns one build-and-deploy pipeline per app, with its latest run.",
        "description": "Returns one build-and-deploy pipeline per app, with its latest run.\n\nIt returns one pipeline per application in the caller's org — its repo or image\nsource, its current status, and when its most recent deployment ran and how long\nit took. A pipeline is a PROJECTION of an app plus its newest deployment, not a\nseparate record: it comes into existence with the app and is triggered only\nthrough /deploy, never here. Requires a validated principal; 403 without one.",
        "tags": [
          "platform"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pipelineBoard"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects": {
      "get": {
        "operationId": "get_platform_projects",
        "summary": "Returns your org's projects, each with how many apps live under it.",
        "description": "Returns your org's projects, each with how many apps live under it.\n\nIt lists the caller org's projects with the number of platform applications in\neach. A project is IAM's resource — it is created and deleted at\n/v1/iam/projects, never here — so this is the ONE projection IAM cannot serve:\nthe project plus what the platform has put under it.\n\nRequires a validated principal; 403 without one, and the org comes from that\nvalidated identity rather than a request header. This is the console's first\nauthenticated read, so a project store that is not yet initialised degrades to\nan EMPTY list rather than a 500 — a new org genuinely has zero projects — and\nthe real cause is surfaced to operators instead of to the caller.",
        "tags": [
          "platform"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/projectView"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}": {
      "get": {
        "operationId": "get_platform_projects_by_project",
        "summary": "Returns one project and its app count.",
        "description": "Returns one project and its app count.\n\nIt returns a single project of the caller's org with the number of platform\napplications under it. A project this org does not have is 404, which is also\nwhat another tenant's project looks like from here. Requires a validated\nprincipal; 403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project's name, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/projectView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps": {
      "get": {
        "operationId": "get_platform_projects_by_project_apps",
        "summary": "Returns the applications in one project, with what the cluster says about them.",
        "description": "Returns the applications in one project, with what the cluster says\nabout them.\n\nIt lists the caller org's applications under one project. Each row carries the\nstored record and, for an app that is live or deploying, the LIVE phase and\nhealth read from its operator Service CR; an app with sealed env also carries\nits secret-sync state. Those cluster reads are best-effort — an unreachable\ncluster leaves those fields empty and never blocks the listing.\n\nThe project must exist in IAM for this org, or the answer is 404; the `default`\nproject is implicit and always accepted, because it is part of what an org IS.\nRequires a validated principal; 403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project's name, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/appView"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_platform_projects_by_project_apps",
        "summary": "Creates an application from a git repo or a container image.",
        "description": "Creates an application from a git repo or a container image.\n\nIt registers a new application under one of the caller org's projects and\nanswers 201 with it. Creating does NOT deploy: the app lands in `draft` and\nnothing reaches the cluster until /deploy.\n\n`source` is `git` — which requires `repo.url` — or `image`, which requires\n`image.repository`; anything else is 400. A git app builds with zero-config\n`pack` by default and may opt into `dockerfile`; an image app never builds. The\nrepo URL and Dockerfile path are validated here against the SAME allowlist the\nprivileged build enforces, so an unsafe source is refused before it is ever\npersisted.\n\nThe `slug` is the app's identity in the cluster: given or derived from `name`,\nit must match `^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$`, and a slug already used in\nthis project is 409. `replicas` and `storageGb` are clamped to the deployment's\nlimits rather than refused.\n\nEnv keys must match `^[A-Za-z_][A-Za-z0-9_]*$`. A variable marked `secret: true`\nis SEALED into KMS and its plaintext is never written to the database — and if\nKMS is unavailable the create fails 503 rather than falling back to storing a\nsecret in the clear.\n\nThe app is seeded with its canonical default host, so it has a working HTTPS URL\nthe moment it deploys. A bare custom domain cannot be attached here — it has to\ngo through add-domain and DNS verification first. Requires a validated\nprincipal; 403 without one, and every cluster object it will later create lands\nin that org's own `tenant-\u003corg\u003e` namespace.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project to create the application under, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createAppReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appView"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}": {
      "delete": {
        "operationId": "delete_platform_projects_by_project_apps_by_app",
        "summary": "Deletes an application and tears down what it runs.",
        "description": "Deletes an application and tears down what it runs.\n\nIt removes the application record and tears down what it owns in the org's\ntenant namespace — its operator Service CR and its KMSSecret — then answers 204.\nAn app this org and project do not have is 404, never a silent success.\n\nTeardown is best-effort by design: a cluster that refuses or is unreachable does\nnot block the delete, so the record cannot be left orphaned behind a broken\ncluster; the failure is logged for operators and the orphan reaper reconciles\nit. Requires a validated principal; 403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "get_platform_projects_by_project_apps_by_app",
        "summary": "Returns one application, with its live phase, health and secret sync.",
        "description": "Returns one application, with its live phase, health and secret sync.\n\nIt returns a single application of the caller's org together with what the\ncluster currently reports for it: the operator Service CR's phase and health,\nand whether its sealed env has synced. An app this org and project do not have\nis 404. Requires a validated principal; 403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/deploy": {
      "post": {
        "operationId": "post_platform_projects_by_project_apps_by_app_deploy",
        "summary": "Deploys the app — building it first if it comes from git.",
        "description": "Deploys the app — building it first if it comes from git.\n\nIt starts a new, monotonically versioned deployment of the app and answers 202\nwith the deployment record. A 202 is an ACCEPTED deployment, not a live one.\n\nAn IMAGE app deploys the tag you name (falling back to the app's tag, then\n`latest`) by writing its operator Service CR; the operator reconciles it to\nrunning. A GIT app launches an in-cluster BuildKit Job at `commit` — or the app's\nbranch — and comes back in `building`; the Service CR is applied later, by the\nreconciler, once the Job succeeds. The reconciler is restart-safe, so a build in\nflight survives a cloud restart.\n\nDeploys are bounded per org: over the concurrent-deploy cap is 429 and NOTHING is\nrecorded, so a rejected deploy leaves no phantom in the history. An unreachable\ncluster is 503 but still records an honest `error` deployment, because a deploy\nthat was attempted and failed must not be indistinguishable from one never made.\nEvery other failure is likewise recorded in its real terminal state.\n\nThis is metered work: a git build is billed to the org's ledger in wall-clock\nbuild minutes once the Job finishes, and the running deployment is billed for its\ncompute per tick for as long as it stays live. Requires a validated principal; 403\nwithout one, and everything is written into that org's own `tenant-\u003corg\u003e`\nnamespace.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deployReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deploymentView"
                }
              }
            },
            "description": "accepted"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/deployments": {
      "get": {
        "operationId": "get_platform_projects_by_project_apps_by_app_deployments",
        "summary": "Returns an app's deployment history.",
        "description": "Returns an app's deployment history.\n\nIt lists every deployment recorded for one of the caller org's applications,\nnewest version first, each with its version, status, source, commit and image.\nFailed and superseded attempts are included — that is the point of a history.\nRequires a validated principal; 403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/deploymentView"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/deployments/{id}": {
      "get": {
        "operationId": "get_platform_projects_by_project_apps_by_app_deployments_by_id",
        "summary": "Returns one deployment of one app.",
        "description": "Returns one deployment of one app.\n\nIt returns a single deployment by id, scoped to the named application of the\ncaller's org — so an id belonging to another app or another tenant is 404, not a\nread. Requires a validated principal; 403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the deployment's id, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deploymentView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/deployments/{id}/logs": {
      "get": {
        "operationId": "get_platform_projects_by_project_apps_by_app_deployments_by_id_logs",
        "summary": "Returns real logs for a deployment — the build's, then the app's.",
        "description": "Returns real logs for a deployment — the build's, then the app's.\n\nIt returns the deployment's recorded status timeline together with LIVE pod logs\npulled from the cluster: the build pod's output while a git build is running, and\nthe running app's output once it is deployed. The `source` field says which of\nthe two the body is — `build`, `app` or `none` — so a console can label the pane\nhonestly.\n\nIt never fabricates log content. When no pod exists yet, or the cluster is\nunreachable, it degrades to the recorded timeline and says so. Every cluster read\nis confined to the caller org's own namespaces and time-boxed. Requires a\nvalidated principal; 403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the deployment's id, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deployLogs"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/domains": {
      "get": {
        "operationId": "get_platform_projects_by_project_apps_by_app_domains",
        "summary": "Returns every hostname this app answers on.",
        "description": "Returns every hostname this app answers on.\n\nIt lists the app's hosts: the permanent default host it was born with, any\norg-subtree hosts attached to it, and every custom host claimed for it with its\nverification state and, while pending, the DNS challenge records to publish. Live\nendpoint status for each host is observed from the cluster. Requires a validated\nprincipal; 403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/domainView"
                  },
                  "type": "array"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_platform_projects_by_project_apps_by_app_domains",
        "summary": "Attaches a hostname — instantly if you already own it, otherwise with a DNS challenge.",
        "description": "Attaches a hostname — instantly if you already own it, otherwise with a\nDNS challenge.\n\nIt attaches `host` to the app, and which of two things happens depends on who\nowns the name. A host inside the caller org's own subtree is structurally owned,\nso it goes ACTIVE immediately and answers 201. A bring-your-own host is claimed\nas PENDING and answers the DNS challenge records to publish; it is NOT rendered\ninto the app's ingress until /verify passes.\n\nClaims are globally unique. A host already claimed by another organization is\n409, and so is one claimed by a different app in your own; re-adding this app's\nOWN claim is idempotent and answers its current state at 200. The default host is\nalways attached and re-adding it is 409. A host under the platform's shared apex\nthat is not the caller's own subtree is 403 — it belongs to whoever owns that\nsubtree and can never be grabbed through the custom path.\n\n`host` must be a valid DNS hostname; anything else is 400. Requires a validated\nprincipal; 403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/addDomainReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domainView"
                }
              }
            },
            "description": "ok"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domainView"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/domains/{host}": {
      "delete": {
        "operationId": "delete_platform_projects_by_project_apps_by_app_domains_by_host",
        "summary": "Detaches a hostname and releases the claim.",
        "description": "Detaches a hostname and releases the claim.\n\nIt drops the host from the app's ingress and releases any custom claim on it, so\nthe name becomes claimable again — by this org or any other. Answers 204.\n\nThe default host is permanent and cannot be removed: that is 400, not 404. A host\nthat is neither attached nor claimed here is 404. Requires a validated principal;\n403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "description": "Host is the hostname, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/domains/{host}/verify": {
      "post": {
        "operationId": "post_platform_projects_by_project_apps_by_app_domains_by_host_verify",
        "summary": "Checks a custom domain's DNS and turns it on if it passes.",
        "description": "Checks a custom domain's DNS and turns it on if it passes.\n\nIt runs the DNS challenge check for a pending custom host and, when it passes,\nmarks the host verified and renders it into the app's ingress so it starts\nserving.\n\nA check that RAN and did not pass is not an error: it answers 200 with the host\nstill pending and the reason in `detail`, so a console can show the operator what\nDNS is actually returning. An already-verified host answers as-is without\nre-checking. A host not claimed by this app is 404. Requires a validated\nprincipal; 403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "description": "Host is the hostname, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domainView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/env": {
      "put": {
        "operationId": "put_platform_projects_by_project_apps_by_app_env",
        "summary": "Replaces an app's environment variables.",
        "description": "Replaces an app's environment variables.\n\nIt writes the app's whole environment set and answers the updated application.\nThis is the one post-create write path for env, and it REPLACES rather than\nmerges: a variable absent from the body is gone, and a secret dropped from the\nset leaves the app's Secret on its next deploy.\n\nKeys must match `^[A-Za-z_][A-Za-z0-9_]*$`. A value marked `secret: true` is\nsealed into KMS and blanked in the database, so plaintext is never persisted —\nand the write fails 503 if KMS is unavailable rather than storing one in the\nclear.\n\nThe rule worth knowing: this does not restart anything. Once the app has been\ndeployed the secret sync is re-declared immediately so the operator\nre-materialises the Secret, but RUNNING pods keep the environment they started\nwith until their next deploy or restart. Requires a validated principal; 403\nwithout one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/setEnvReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/preview": {
      "post": {
        "operationId": "post_platform_projects_by_project_apps_by_app_preview",
        "summary": "Puts a branch on its own URL.",
        "description": "Puts a branch on its own URL.\n\nIt deploys an already-built `image` to a per-branch preview and answers its URL,\nthe branch, the preview's slug and the deployment. The preview is a FIRST-CLASS\napplication named `\u003capp\u003e-\u003cbranch\u003e` in the same project and tenant namespace, with\nits own default host — so it is completely isolated from production while reusing\nthe same deploy mechanic. Re-previewing a branch converges that same target in\nplace rather than stacking another one.\n\nIt carries NO environment variables, deliberately: a preview never inherits\nproduction's secrets. It also does not build — `image` is required and must\nalready exist, and `branch` defaults to the parent app's. A branch that does not\nresolve to a valid slug distinct from the parent's is 400. Requires a validated\nprincipal; 403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the parent application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the parent application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/previewReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/previewView"
                }
              }
            },
            "description": "accepted"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/promote": {
      "post": {
        "operationId": "post_platform_projects_by_project_apps_by_app_promote",
        "summary": "Promotes an already-built release to the app.",
        "description": "Promotes an already-built release to the app.\n\nIt redeploys an image that already exists — named either by `deploymentId`, which\npromotes that deployment's exact built image, or by `tag`, resolved the same way\na deploy resolves one. One of the two is required; neither is 400.\n\nPromotion never builds. A deployment that carries no built image cannot be\npromoted and is 400, and a deployment id outside this app is 404. It runs through\nthe same deploy core as everything else, so it takes a NEW version number and is\nsubject to the same per-org concurrency cap. Requires a validated principal; 403\nwithout one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/promoteReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deploymentView"
                }
              }
            },
            "description": "accepted"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/rollback": {
      "post": {
        "operationId": "post_platform_projects_by_project_apps_by_app_rollback",
        "summary": "Goes back to the previous release.",
        "description": "Goes back to the previous release.\n\nIt redeploys a prior image: the one named by `deploymentId`, or — with no body —\nthe newest earlier deployment that carries a real built image and did not error,\nskipping the release currently live. An app with nothing earlier to return to is\n400.\n\nA rollback is a deploy of an old image, not a rewind: it takes a NEW version\nnumber and appends to the history rather than erasing what came after. Both\nlookups are scoped to this app and org, so another tenant's image can never be\nrolled in. Requires a validated principal; 403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/rollbackReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deploymentView"
                }
              }
            },
            "description": "accepted"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/start": {
      "post": {
        "operationId": "post_platform_projects_by_project_apps_by_app_start",
        "summary": "Starts a stopped app back up.",
        "description": "Starts a stopped app back up.\n\nIt scales the app's Service back to its configured replica count and marks it\nlive, answering the updated application. It does not redeploy: the image already\non the Service CR is what comes back.\n\nThe billing watermark is reset to now as part of starting, so the org is charged\nfor THIS live span and never for the gap the app spent stopped. An app with no\nService CR is 404, an unreachable cluster is 503, and a cluster that refuses the\nscale is 502. Requires a validated principal; 403 without one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/projects/{project}/apps/{app}/stop": {
      "post": {
        "operationId": "post_platform_projects_by_project_apps_by_app_stop",
        "summary": "Stops an app without deleting it.",
        "description": "Stops an app without deleting it.\n\nIt scales the app's Service to zero replicas and marks it stopped, answering the\nupdated application. Nothing else is removed — the record, its env, its domains\nand its deployment history all survive, and /start brings it back at the same\nreplica count.\n\nAn app that is not deployed has no Service CR to scale and is 404. An\nunreachable cluster is 503 and a cluster that refuses the scale is 502. Because\nthe pods stop, so does the compute metering. Requires a validated principal; 403\nwithout one.",
        "tags": [
          "platform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project is the project the application lives under, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App is the application's slug, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appView"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/releases": {
      "get": {
        "operationId": "get_platform_releases",
        "summary": "Returns the versions that actually reached the cluster.",
        "description": "Returns the versions that actually reached the cluster.\n\nIt lists the org's releases: the deployments that were genuinely applied to the\ncluster, with the app they belong to, their version, environment, status and when\nthey were released. A deployment that failed or is still building is NOT a\nrelease and is excluded — reaching the cluster is what makes one. Requires a\nvalidated principal; 403 without one.",
        "tags": [
          "platform"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/releaseBoard"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/run": {
      "post": {
        "operationId": "post_platform_run",
        "summary": "Runs a container image and gives back a URL.",
        "description": "Runs a container image and gives back a URL.\n\nThe one-call shortcut over project → app → deploy: give it a `name` and an\n`image` and it creates or updates an image-source application in your org's\nDEFAULT project, deploys it through the same operator Service-CR writer\neverything else uses, and answers its id, name, live URL, status and shape.\nRe-running the same name UPDATES it in place, so the call is idempotent by name.\n\nWhat it produces is a first-class application, not a special object: it is\nlistable, stoppable and redeployable through the /v1/platform routes like any\nother app.\n\n`minScale` is the replica floor. `maxScale` above it declares an autoscaling\nceiling; `maxScale: 0` means no autoscaler at all — a fixed run at the floor.\nBoth are clamped to the deployment's limits. `runtime` and `shape` are accepted\nfor the client contract and echoed back: the image is the runtime unit and sizing\nis the operator's default.\n\nIt is BILLING-GATED before it touches the cluster: a flat per-run fee is\nauthorized against the org's own prepaid balance first, so an org that cannot pay\nis refused without anything being created. An unreachable cluster is 503 — a run\nnever reports a URL it did not create. Secret env is sealed into KMS and fails\nclosed without it.\n\nRequires a validated principal; 403 without one. The org is resolved from that\nvalidated identity and is what both pays and owns the namespace — it is never\nread from the body.",
        "tags": [
          "platform"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/runReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runView"
                }
              }
            },
            "description": "accepted"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/platform/runner": {
      "post": {
        "operationId": "post_platform_runner",
        "summary": "Triggers a native build — an image, or the binaries a repo declares.",
        "description": "Triggers a native build — an image, or the binaries a repo declares.\n\nThe fabric's own build trigger, and what `hanzo build` and git-push-to-deploy\ncall. It answers 202 with the build job id: a queued build, not a pushed\nartifact.\n\nTwo lanes, and a build is exactly one of them. The IMAGE lane takes `repo` and\nthe output `image` and launches a BuildKit Job that pushes it. The ARTIFACT lane\ntakes `binaries` — the same recipe the repo's hanzo.yml declares — and publishes\nto object storage instead; it must carry no `image`, because a build produces\nbinaries or an image, never both.\n\nPRIVILEGED, and A BUILD BELONGS TO THE ORGANIZATION ITS CREDENTIAL NAMES. Two\ncredentials, never a third:\n\n  - one that NAMES an organization — a person who administers it (the `hanzo\n    build` path, so one IAM login authorizes a build with no separate build\n    token), or that organization's own machine identity (the pipeline path). The\n    build is attributed to that org and confined to what it owns.\n  - the shared build-callback token, compared in constant time. It names NO\n    organization, which is both why the fabric's own release can publish across\n    brands with it and why anything that CAN name one is read first.\n\nBoth are bounded by the owned-registry allowlist. The org path is bounded again,\nby the org: the image's registry namespace must be one that organization owns, so\nit publishes into its own brand and can never overwrite another's through the\nshared push credential. The same confinement applies to the artifact lane's repo\nowner. There is no request field naming an organization — the attribution is read\noff the credential, so there is nothing for a caller to write it with.\n\nThe output image is parsed and validated as a single well-formed OCI ref before\nany authorization decision reads it, so a crafted ref cannot smuggle a\nbuild-exporter attribute past the check.",
        "tags": [
          "platform"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/runnerBuildReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runnerBuildResp"
                }
              }
            },
            "description": "accepted"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "AppView": {
        "properties": {
          "app": {
            "description": "service / CR name, e.g. iam",
            "type": "string"
          },
          "cluster": {
            "description": "always \"hanzo-k8s\"; cross-cluster federation is a follow-up phase",
            "type": "string"
          },
          "declaredTag": {
            "description": "spec.image.tag — the tag the CR SAYS to run; anything but vX.Y.Z is red drift",
            "type": "string"
          },
          "drift": {
            "$ref": "#/components/schemas/Verdict",
            "description": "declared vs running vs latest as flags, plus their rolled-up severity"
          },
          "endpoints": {
            "description": "status.endpoints the operator published for this service; empty until it reconciles",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "env": {
            "description": "main|test|dev",
            "type": "string"
          },
          "health": {
            "description": "green|yellow|red|\"\" (unknown)",
            "type": "string"
          },
          "id": {
            "description": "\u003corg\u003e/\u003capp\u003e/\u003cenv\u003e, e.g. hanzoai/iam/main",
            "type": "string"
          },
          "latestTag": {
            "description": "newest released tag; \"\" until the GH release reader lands, so \"stale\" cannot fire yet",
            "type": "string"
          },
          "namespace": {
            "description": "namespace the row was scanned from: a platform one (hanzo, hanzo-testnet, …) or a tenant-\u003corg\u003e",
            "type": "string"
          },
          "org": {
            "description": "image namespace, e.g. hanzoai",
            "type": "string"
          },
          "phase": {
            "description": "operator status.phase (Running/…)",
            "type": "string"
          },
          "registry": {
            "description": "spec.image.repository verbatim (ghcr.io/hanzoai/iam); Org and Repo are read off it",
            "type": "string"
          },
          "repo": {
            "description": "owner/repo, e.g. hanzoai/iam",
            "type": "string"
          },
          "role": {
            "description": "operator spec.role (sql|kv|generic|ingress|…) or \"\" — the one declared class field",
            "type": "string"
          },
          "runningTag": {
            "description": "the tag the live Deployment actually runs; \"\" when unreadable — unknown, not a guess",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CDApp": {
        "properties": {
          "automated": {
            "description": "Automated is whether CD applies git without being asked. It is\ncd.automated in the values file, rendered by the ApplicationSet's\ntemplatePatch — false means the Application reports drift and nothing moves.",
            "type": "boolean"
          },
          "health": {
            "description": "Health is the workload's verdict: Healthy, Progressing, Degraded, Missing.",
            "type": "string"
          },
          "message": {
            "description": "Message is why, when Health is not Healthy.",
            "type": "string"
          },
          "name": {
            "description": "Name is the Application name the generator mints: \u003cnamespace\u003e-\u003capp\u003e. It is\nthe join key against a Declaration.",
            "type": "string"
          },
          "namespace": {
            "description": "Namespace is the DESTINATION namespace as the CR declares it — where the\nworkload lands. For a fleet Application that is the org, but this is the\nOBSERVED field and not our model of it: the two can disagree, and a board\nwhose whole job is drift must be able to show that they do.",
            "type": "string"
          },
          "operationMessage": {
            "type": "string"
          },
          "path": {
            "description": "Path is the values file CD renders against, relative to the chart source.",
            "type": "string"
          },
          "phase": {
            "description": "Phase is the last sync operation's phase (Running, Succeeded, Failed) and\nOperationMessage is its message. A Failed phase with a Synced verdict is\nthe shape a stuck Application takes.",
            "type": "string"
          },
          "project": {
            "description": "Project is the AppProject fence the sync is admitted under.",
            "type": "string"
          },
          "reconciledAt": {
            "description": "ReconciledAt is when CD last compared this Application.",
            "type": "string"
          },
          "revision": {
            "description": "Revision is the universe commit CD last applied. Empty means it has not\napplied one — never assume it means main.",
            "type": "string"
          },
          "selfHeal": {
            "description": "SelfHeal is whether CD also corrects drift the cluster introduced.",
            "type": "boolean"
          },
          "sync": {
            "description": "Sync is CD's verdict on git-versus-cluster: Synced, OutOfSync, or Unknown.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Declaration": {
        "properties": {
          "application": {
            "description": "Application is the CD Application name the generator mints: \u003corg\u003e-\u003cname\u003e.\nIt is the join key against /v1/platform/cd.",
            "type": "string"
          },
          "automated": {
            "description": "Automated is cd.automated: false means the Application reports drift and\nNOTHING moves. It is off by default for a new file on purpose.",
            "type": "boolean"
          },
          "digest": {
            "description": "image.digest — wins over tag",
            "type": "string"
          },
          "env": {
            "description": "Env is the declared container environment, as the chart's list of\n{name,value}. It is read back so a re-declare of an identical body is a\nno-op rather than a refusal — idempotency is what makes a retry safe.",
            "items": {
              "$ref": "#/components/schemas/declareEnv"
            },
            "type": "array"
          },
          "hosts": {
            "description": "ingress.hosts, both shapes flattened",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "description": "the Helm release name — the file's basename",
            "type": "string"
          },
          "org": {
            "description": "Org is the owner. It is ALSO the values directory and the destination\nnamespace, because those are one value under one name — see the header.",
            "type": "string"
          },
          "path": {
            "description": "Path is the file, relative to the repository root.",
            "type": "string"
          },
          "project": {
            "description": "Project is the AppProject the sync is admitted under, derived from the\ndirectory exactly as the ApplicationSet derives it. It differs from Org\nfor a reserved directory, which syncs under the platform fence.",
            "type": "string"
          },
          "replicas": {
            "type": "integer"
          },
          "repository": {
            "description": "image.repository",
            "type": "string"
          },
          "tag": {
            "description": "image.tag",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DriftFlag": {
        "properties": {
          "kind": {
            "description": "Kind is which finding this is, one of stale, un-rolled, floating-declared,\nfloating-running, no-release or zero-assets. It is what code matches on, and\nthe kinds are independent — one row can carry several at once.",
            "type": "string"
          },
          "message": {
            "description": "Message is the finding in words, naming the tags that produced it (\"running\nv1.2.3 has not rolled to declared v1.2.4\"). For display: match on Kind.",
            "type": "string"
          },
          "severity": {
            "description": "Severity is this ONE finding's weight — yellow for stale and un-rolled, red\nfor the other four. It is a constant of the kind (severityOf), never a\njudgement about the row, so the same kind always weighs the same.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EnvVarJSON": {
        "properties": {
          "key": {
            "description": "Key is the variable's name in the container, which must match\n`^[A-Za-z_][A-Za-z0-9_]*$`. For a sealed value it is also the last segment\nof the KMS ref, so it is what identifies the value across a round trip.",
            "type": "string"
          },
          "secret": {
            "description": "Secret says the value lives in KMS and never in the database. A caller may\nonly ADD secrecy: the server seals a value whose key or shape looks like a\ncredential anyway (secretshape.go), so an entry can come back secret that\nwas not sent that way.",
            "type": "boolean"
          },
          "value": {
            "description": "Value is the plaintext, and it is WRITE-ONLY once the entry is secret: a\nsealed value reads back as \"\", and sending \"\" again KEEPS what is sealed\nrather than wiping it. Only a non-empty value seals a new one.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Record": {
        "properties": {
          "name": {
            "description": "the record name the customer creates",
            "type": "string"
          },
          "type": {
            "description": "TXT | CNAME",
            "type": "string"
          },
          "value": {
            "description": "the record value",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Verdict": {
        "properties": {
          "flags": {
            "description": "Flags are the findings behind the severity, in detection order:\nfloating-declared, floating-running, stale, un-rolled, then the\nrelease-artifact ones. Always present — `[]` for a row that runs what it\ndeclares, never null.",
            "items": {
              "$ref": "#/components/schemas/DriftFlag"
            },
            "type": "array"
          },
          "severity": {
            "description": "Severity is the roll-up over Flags — red if any flag is red, else yellow if\nany is yellow, else ok. It is the column a board sorts and filters on, and\n\"ok\" is exactly what no flags means.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "addDomainReq": {
        "properties": {
          "app": {
            "description": "App is the application's slug, from the path.",
            "type": "string"
          },
          "host": {
            "description": "Host is the hostname to attach. Required, and must be a valid DNS hostname.",
            "type": "string"
          },
          "project": {
            "description": "Project is the project the application lives under, from the path.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "appView": {
        "properties": {
          "buildType": {
            "description": "BuildType is how a git app builds: `pack`, the zero-config default that\ndetects the project, or `dockerfile`. An image app carries `image`, which\nmeans it never builds.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the app was created, unix seconds.",
            "type": "integer"
          },
          "currentDeploymentId": {
            "description": "CurrentDeploymentID is the deployment that is live — the pointer a deploy\nadvances monotonically by version, so it never regresses to an older one.\nEmpty until the first deploy reaches the cluster.",
            "type": "string"
          },
          "description": {
            "description": "Description is free text about what the app is. Nothing derives from it.",
            "type": "string"
          },
          "dockerfile": {
            "description": "Dockerfile is the path inside the repo to build from, for buildType\n`dockerfile`. The build path keys off its presence, and it is validated at\ncreate against the same allowlist the privileged build enforces.",
            "type": "string"
          },
          "domains": {
            "description": "Domains are the ingress hosts rendered into the app's CR, its own\n`\u003cslug\u003e.\u003corg\u003e.\u003csites host\u003e` first. That one is seeded at create and cannot be\nremoved; a custom host joins only after add-domain and DNS verification.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "env": {
            "description": "Env is the app's environment variables, with every SECRET value masked to \"\"\n— the plaintext is in KMS and this surface never echoes it. That masking is\nwhy an empty secret value means \"keep what is sealed\" when posted back.",
            "items": {
              "$ref": "#/components/schemas/EnvVarJSON"
            },
            "type": "array"
          },
          "environment": {
            "description": "Environment is the deploy target this app names, `production` when none was\ngiven. It is a LABEL: /v1/platform/environments derives the environment list\nfrom the apps that name one, so an environment exists as long as an app\npoints at it and no route creates or deletes one.",
            "type": "string"
          },
          "health": {
            "description": "Health rolls ready-vs-desired replicas up to a colour: green (all ready),\nyellow (some ready, or deliberately scaled to zero), red (none), or \"\" when\nthe cluster reports no replica counts at all — unknown, never a guessed green.",
            "type": "string"
          },
          "id": {
            "description": "ID is the server-minted application id (`app_…`). Routes address an app by\nproject and slug; this is the key its deployments and builds carry.",
            "type": "string"
          },
          "image": {
            "$ref": "#/components/schemas/imageView",
            "description": "Image is the image a source `image` app runs. For a git app only the tag is\nfilled, stamped by the deploy that went live; the built ref is on the\ndeployment."
          },
          "name": {
            "description": "Name is the display name. It is not an address — the slug is.",
            "type": "string"
          },
          "namespace": {
            "description": "Namespace is where the app's cluster objects live, `tenant-\u003corg\u003e`. It is\nderived from the validated org and is never accepted from a request.",
            "type": "string"
          },
          "org": {
            "description": "Org is the tenant that owns the app. It comes from the validated identity,\nnever from the request, and it is the boundary every route is scoped to.",
            "type": "string"
          },
          "phase": {
            "description": "Phase is the operator's own `status.phase` for the app's Service CR, read\nfrom the cluster on this request. Empty when there is no CR yet or the\ncluster could not be read.",
            "type": "string"
          },
          "port": {
            "description": "Port is the container port traffic is sent to. 8080 when the create asked\nfor none, or for one outside 1–65535.",
            "type": "integer"
          },
          "projectId": {
            "description": "ProjectID is the IAM project the app lives under, and it is that project's\nNAME — the (org,name) key IAM identifies it by, which is also what the\n`:project` path segment carries. There is no platform-minted project id.",
            "type": "string"
          },
          "replicas": {
            "description": "Replicas is how many copies the CR declares. It is CLAMPED to the\ndeployment's ceiling rather than refused, so it can be below what was asked.",
            "type": "integer"
          },
          "repo": {
            "$ref": "#/components/schemas/gitSource",
            "description": "Repo is the git origin a source `git` app builds from, and the repo+branch a\nlanded push has to match to build it."
          },
          "secretSync": {
            "description": "SecretSync is how far the app's secret env has got into the cluster:\n\"\"|pending|syncing|ready|failed (secrets.go). It is best-effort and never\nfails a deploy, so `pending` is ordinary right after one.",
            "type": "string"
          },
          "secretSyncDetail": {
            "description": "SecretSyncDetail is the honest reason when the sync is not ready — a missing\nCRD, an RBAC grant, a per-tenant credential. Empty when it is.",
            "type": "string"
          },
          "slug": {
            "description": "Slug is the app's identity in the cluster: the operator CR's name, the first\nlabel of its default host, and the `:app` path segment. Unique per project.",
            "type": "string"
          },
          "source": {
            "description": "Source is what the app deploys FROM: `git`, which builds Repo, or `image`,\nwhich runs Image as it is. It decides whether a deploy builds at all.",
            "type": "string"
          },
          "status": {
            "description": "Status is the lifecycle THIS store records: draft (created, nothing in the\ncluster yet), building, deploying, live, stopped or error. What the cluster\nitself says is Phase and Health.",
            "type": "string"
          },
          "storageGb": {
            "description": "StorageGB is the persistent volume size in GiB. Absent means stateless —\nno volume at all — and it is clamped like Replicas.",
            "type": "integer"
          },
          "updatedAt": {
            "description": "UpdatedAt is when it last changed, unix seconds. Every lifecycle transition\nmoves it, so it tracks deploys as well as edits.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "binarySpec": {
        "properties": {
          "image": {
            "description": "Image is the toolchain image the recipe runs in, a Go bookworm image by\ndefault. It is the one field the GitHub lane ignores: there the runner IS\nthe toolchain, and a cluster has to be told what a runner already is.",
            "type": "string"
          },
          "ldflags": {
            "description": "Ldflags are the Go linker flags, `-s -w` when the recipe names none, on one\nline. Go lane only.",
            "type": "string"
          },
          "main": {
            "description": "Main is the Go package to build, repo-relative (`.` or `./cmd/x`), and it\nselects the GO LANE. Defaults to `.` when neither lane is named; declaring\nit together with `run` is refused.",
            "type": "string"
          },
          "name": {
            "description": "Name is the artifact's base name: the prefix of every file published for\nthis entry, and the name a host later asks for. It must match\n`^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$`, which is what makes it safe as both a\nfilename and a URL path segment.",
            "type": "string"
          },
          "out": {
            "description": "Out is the glob of files `run` produced, relative to the repo root; matching\nnothing FAILS the build rather than publishing an empty entry. It expands\nunquoted, so it is bounded to path and glob characters. The Go lane names\nits own files and ignores this.",
            "type": "string"
          },
          "platforms": {
            "description": "Platforms are the `\u003cos\u003e/\u003carch\u003e` pairs the Go lane cross-compiles, [linux/amd64]\nby default. Each one publishes as `\u003cname\u003e-\u003cos\u003e-\u003carch\u003e`, which is the shape a\nhost resolves a binary BY — so the list is what a caller can ask for later.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "run": {
            "description": "Run is any other toolchain's build command, run by `sh -c` in this entry's\nimage, and it selects the OTHER LANE. Arbitrary shell is the point — it is\nthe same trust as a Dockerfile RUN — which is why it executes with no\nobject-store credential and no service-account token. It requires `out`.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "buildBoard": {
        "properties": {
          "builds": {
            "description": "Builds are the org's real BuildKit build records, newest first.",
            "items": {
              "$ref": "#/components/schemas/buildRow"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "buildRow": {
        "properties": {
          "commit": {
            "description": "Commit is the short git ref the build pinned.",
            "type": "string"
          },
          "duration": {
            "description": "Duration is the wall time of a TERMINAL build; empty while it still runs.",
            "type": "string"
          },
          "id": {
            "description": "ID is the build record's id.",
            "type": "string"
          },
          "repo": {
            "description": "Repo is the repo the build built, or the image it produced.",
            "type": "string"
          },
          "startedAt": {
            "description": "StartedAt is when the build was recorded, RFC3339 UTC.",
            "type": "string"
          },
          "status": {
            "description": "Status is the build's real state: queued, building, succeeded or failed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "cdResp": {
        "properties": {
          "applications": {
            "items": {
              "$ref": "#/components/schemas/CDApp"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "createAppReq": {
        "properties": {
          "buildType": {
            "description": "BuildType is `pack` — the zero-config default that detects any project —\nor `dockerfile`, the explicit escape hatch. An image app never builds.",
            "type": "string"
          },
          "description": {
            "description": "Description is free text about what the application is.",
            "type": "string"
          },
          "dockerfile": {
            "description": "Dockerfile is the path to build from, for buildType `dockerfile`.",
            "type": "string"
          },
          "domains": {
            "description": "Domains are extra ingress hosts. The canonical default host is always\nattached; a bare custom host is refused here and must go through\nadd-domain → verify first.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "env": {
            "description": "Env is the application's environment. Keys must match\n`^[A-Za-z_][A-Za-z0-9_]*$`; a variable marked `secret: true` is sealed into\nKMS and its plaintext is never written to the database.",
            "items": {
              "$ref": "#/components/schemas/EnvVarJSON"
            },
            "type": "array"
          },
          "environment": {
            "description": "Environment is the deploy target this app names (\"production\" by default).",
            "type": "string"
          },
          "image": {
            "$ref": "#/components/schemas/imageOrigin",
            "description": "Image is the container image to run, for source `image`."
          },
          "name": {
            "description": "Name is the application's display name. Required; the slug is derived from\nit when none is given.",
            "type": "string"
          },
          "port": {
            "description": "Port is the container port the app listens on.",
            "type": "integer"
          },
          "project": {
            "description": "Project is the project to create the application under, from the path.",
            "type": "string"
          },
          "replicas": {
            "description": "Replicas is how many copies to run; clamped to the deployment's limit\nrather than refused.",
            "type": "integer"
          },
          "repo": {
            "$ref": "#/components/schemas/gitOrigin",
            "description": "Repo is the git source to build from, for source `git`."
          },
          "slug": {
            "description": "Slug is the app's identity in the cluster — its CR name and part of its\nhost. Given or derived from Name, it must match\n`^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$`, and one already used in this\nproject is 409.",
            "type": "string"
          },
          "source": {
            "description": "Source is `git`, which requires repo.url, or `image`, which requires\nimage.repository. Anything else is 400.",
            "type": "string"
          },
          "storageGb": {
            "description": "StorageGB is the persistent volume size in GiB; absent means stateless.\nClamped to the deployment's limit rather than refused.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "declareEnv": {
        "properties": {
          "name": {
            "type": "string"
          },
          "public": {
            "description": "Public marks a value that may be WRITTEN INTO GIT. Absent, it is false,\nand the value is sealed into KMS and referenced.\n\n★ THE DEFAULT IS SECRET, AND THE POLARITY IS THE WHOLE DESIGN. This lane's\noutput is a commit in a repository replicated to every clone, so a\nmisclassification is not a bug to fix later — it is a credential published\nforever. A heuristic classifier fails in both directions; what decides is\nwhich direction it fails IN. Seal-by-default makes the failure mode \"an\noperator cannot read back a config value\", which is a support ticket.\nClassify-by-shape made it \"a password is in git history\", which is an\nincident with no rollback.\n\nIt is also the only rule that needs no list. PGPASSWORD, *_PW, a\nsymbol-rich password, a KUBECONFIG, a base32 MFA seed — every one of them\nslipped a shape classifier, and each miss was a different reason. There is\nno reason left when the default is to seal.",
            "type": "boolean"
          },
          "value": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "declared": {
        "properties": {
          "application": {
            "type": "string"
          },
          "automated": {
            "type": "boolean"
          },
          "cd": {
            "$ref": "#/components/schemas/CDApp"
          },
          "digest": {
            "type": "string"
          },
          "env": {
            "items": {
              "$ref": "#/components/schemas/declareEnv"
            },
            "type": "array"
          },
          "hosts": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "replicas": {
            "type": "integer"
          },
          "repository": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "declaredResp": {
        "properties": {
          "apps": {
            "items": {
              "$ref": "#/components/schemas/declared"
            },
            "type": "array"
          },
          "cdUnavailable": {
            "$ref": "#/components/schemas/unreadable"
          },
          "org": {
            "description": "Org is the directory read — the caller's own, or another when a SuperAdmin\nasked to act as it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "deployLogs": {
        "properties": {
          "deploymentId": {
            "description": "DeploymentID is the deployment these logs belong to.",
            "type": "string"
          },
          "logs": {
            "description": "Logs is the recorded status timeline followed by the streamed pod output,\nnewline-separated.",
            "type": "string"
          },
          "source": {
            "description": "Source says which pod the log body carries — `build`, `app`, or `none` when\nneither pod was reachable — so a console can label the pane honestly.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "deployReq": {
        "properties": {
          "app": {
            "description": "App is the application's slug, from the path.",
            "type": "string"
          },
          "commit": {
            "description": "Commit is the git commit or ref to build, for a git-source app. Defaults to\nthe app's branch.",
            "type": "string"
          },
          "project": {
            "description": "Project is the project the application lives under, from the path.",
            "type": "string"
          },
          "tag": {
            "description": "Tag is the image tag to deploy, for an image-source app. Defaults to the\napp's tag, then `latest`.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "deploymentView": {
        "properties": {
          "applicationId": {
            "description": "ApplicationID is the app this deployed — the app's `id`, not its slug.",
            "type": "string"
          },
          "buildId": {
            "description": "BuildID is the build record behind a git deploy, whose logs and status live\nat /v1/platform/builds. Empty for an image deploy.",
            "type": "string"
          },
          "commit": {
            "description": "Commit is the git ref this built — the commit a deploy or a push named,\nelse the app's branch. Empty for an image deploy, which builds nothing.",
            "type": "string"
          },
          "createdAt": {
            "description": "CreatedAt is when the attempt was recorded, unix seconds.",
            "type": "integer"
          },
          "id": {
            "description": "ID is the deployment's id (`dep_…`), minted when the attempt is recorded.\nThe app's currentDeploymentId points at one of these.",
            "type": "string"
          },
          "image": {
[...]
