{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package sandbox is the ONE compute primitive: a sandbox is a gVisor pod that runs somebody else's code, and every lifetime is the same object.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "sandbox"
    }
  ],
  "paths": {
    "/v1/sandbox": {
      "get": {
        "operationId": "get_sandbox",
        "summary": "Lists the caller org's sandboxes, newest first.",
        "description": "Lists the caller org's sandboxes, newest first.\n\n`?project=` and `?status=` narrow it. Only the caller's org's: the store is\nkeyed on the validated org, so another tenant's sandbox is not something this\noperation can return.",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sandboxList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_sandbox",
        "summary": "Leases a sandbox — a real computer — for the caller's org.",
        "description": "Leases a sandbox — a real computer — for the caller's org.\n\nThe class decides what it is for and therefore its image, working directory\nand isolation. A dev or desktop sandbox is SINGLE-ATTACH per project, so\nasking twice for one project resumes the one that exists rather than paying\nfor a second; an exec sandbox carries no project and is bounded per org\ninstead, refused 429 past the ceiling because the caller's correct response is\nto wait.\n\nAnswers 201 with the sandbox as leased, which names the runtime it GOT — not\nthe one that was asked for.",
        "tags": [
          "sandbox"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/leaseIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sandbox"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/sandbox/end": {
      "post": {
        "operationId": "end_sandbox",
        "summary": "End a sandbox and release it",
        "description": "Ends the caller's sandbox lease: the pod goes, and the volume goes only\nwhen the caller asked for that too.",
        "tags": [
          "sandbox"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/sandbox/lease": {
      "post": {
        "operationId": "lease_sandbox",
        "summary": "Lease a sandbox — a real computer — or resume one you hold",
        "description": "Leases the caller's sandbox, or returns the one it named if that\nlease is still running.\n\nWhat comes back is a real computer: a pod under a runtime boundary with a\ntoolchain already in it, its own filesystem, and a lease that ends it. Every\nother op here acts on the one this returns.",
        "tags": [
          "sandbox"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaseIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Leased"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/sandbox/read": {
      "post": {
        "operationId": "read_sandbox_file",
        "summary": "Read a file from a sandbox you hold",
        "description": "Reads one path in the caller's sandbox: a file's bytes, or a\ndirectory's entries when the path names one.",
        "tags": [
          "sandbox"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PathIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blob"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/sandbox/run": {
      "post": {
        "operationId": "run_in_sandbox",
        "summary": "Run a command in a sandbox you hold and read its output",
        "description": "Runs one command inside the caller's sandbox and answers its exit code,\nstdout and stderr. A non-zero exit is a successful call carrying a failed\nprogram, so it comes back as data and not as an error.\n\nName a `session` and the command NARRATES INTO IT: its output is appended to\nthat session's live log as the program produces it, so anything watching the\nsession — GET /v1/agent/sessions/stream, scoped to one run with ?root= —\nwatches the work happen rather than waiting for the verdict. Without it the\ncall is what it always was: silent until it returns, which for an agentic run\nis twenty-five minutes of blank screen.\n\nThe session is named; the TENANT is not. It is the org the caller already\nproved, so a session belonging to somebody else is absent from the org this\ncall acts for and the append is refused there.",
        "tags": [
          "sandbox"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ran"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/sandbox/stop": {
      "post": {
        "operationId": "stop_run",
        "summary": "Stop what a sandbox is running, and keep the sandbox",
        "description": "Interrupts whatever the caller's sandbox is running and answers how\nmany commands it ended. The sandbox stays leased — stop ends the WORK, end ends\nthe RESOURCE — so whoever stopped a run can still read what it left behind.",
        "tags": [
          "sandbox"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stopped"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/sandbox/write": {
      "post": {
        "operationId": "write_sandbox_file",
        "summary": "Write a file into a sandbox you hold",
        "description": "Writes bytes to one path in the caller's sandbox, creating parents,\nand answers the resolved path.",
        "tags": [
          "sandbox"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WriteIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wrote"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/sandbox/{id}": {
      "delete": {
        "operationId": "delete_sandbox_by_id",
        "summary": "Ends a sandbox and releases the compute behind it.",
        "description": "Ends a sandbox and releases the compute behind it. Answers 204.\n\nENDING IS NOT STOPPING. This releases the resource: the pod goes and anything\nonly inside it goes with it. To end what a sandbox is RUNNING while keeping\nthe sandbox — the checkout, the logs, the half-written file — the verb is\nPOST /v1/sandbox/stop.\n\n`?purge=1` additionally removes the record, so the sandbox stops being listed\nat all rather than being listed as ended.",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the sandbox to end, from the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "get": {
        "operationId": "get_sandbox_by_id",
        "summary": "Returns one sandbox: its class, project, image, the runtime it was given, its status and when its lease ends.",
        "description": "Returns one sandbox: its class, project, image, the runtime it was\ngiven, its status and when its lease ends.\n\nAn id the caller's org does not hold is the same 404 an unknown id gives — the\nstore is keyed on the org, so a cross-tenant id simply is not there.",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the sandbox to address, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sandbox"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/sandbox/{id}/exec": {
      "post": {
        "operationId": "post_sandbox_by_id_exec",
        "summary": "Runs one command in a sandbox the caller holds and answers with its exit code, stdout and stderr.",
        "description": "Runs one command in a sandbox the caller holds and answers with\nits exit code, stdout and stderr.\n\nSend `argv` — an argument vector cannot be word-split by accident — or\n`command` for a shell line, which is the only input here that ever reaches a\nshell. A non-zero exit is a SUCCESSFUL call carrying a failed command: the\nstatus is 200 and the exit code is in the answer, because \"the command failed\"\nand \"the call failed\" are different facts.",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the sandbox to run in, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/execRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecResult"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/sandbox/{id}/fs": {
      "get": {
        "operationId": "get_sandbox_by_id_fs",
        "summary": "Read a file, or list a directory",
        "description": "Reads one file from the sandbox's project directory as text, or lists the entries when the path names a directory. Paths resolve under the project root and a path that climbs out is refused rather than rewritten.",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      },
      "post": {
        "operationId": "post_sandbox_by_id_fs",
        "summary": "Write a file",
        "description": "Writes the request body to one file in the sandbox's project directory, creating parent directories. Same confinement as the read above.",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/sandbox/{id}/screen": {
      "get": {
        "operationId": "get_sandbox_by_id_screen",
        "summary": "The screen, as a page",
        "description": "A complete, self-contained desktop — noVNC inline, no other origin — that opens its own socket and draws this sandbox's display. Embed it in an iframe and there is nothing else to build.\n\n`ticket` is the credential from the POST above, carried through to the socket. The page is NOT gated: it is inert markup and does not redeem the ticket, because a ticket is spent once and a page that spent it would hold a credential that no longer opens anything. `frame-ancestors` admits our own brands' hosts and nothing further.\n\nIt is served for every class, not only for `desktop`. The class is a fact about the image, and a sandbox with no VNC server already fails exactly — the connection is refused and the page says so — where a check here would be a second opinion about what is running inside a pod, formed from a label rather than from the pod.",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/sandbox/{id}/screen/ticket": {
      "post": {
        "operationId": "post_sandbox_by_id_screen_ticket",
        "summary": "Mints a short-lived grant to open the screen of a desktop sandbox.",
        "description": "Mints a short-lived grant to open the screen of a desktop\nsandbox. Same properties as the terminal ticket, for the other endpoint.",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the sandbox to address, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ticketGrant"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/sandbox/{id}/screen/ws": {
      "get": {
        "operationId": "get_sandbox_by_id_screen_ws",
        "summary": "The screen, as a socket",
        "description": "Upgrades to a WebSocket carrying RFB — the VNC wire protocol — from the sandbox's display, for a host that brings its own client. Requires `ticket`; a missing, expired or already-spent one answers 401 without upgrading.\n\nTHE WIRE IS RFB, in BINARY frames both ways, and it is not interpreted here: this is a pipe between the caller's client and the server inside the pod.\n\nTHE PIXELS COME OUT THROUGH THE EXEC CHANNEL. The display binds 127.0.0.1 only and deliberately nothing else, so there is no address to dial — `socat` joins the stream to that loopback port over the same Kubernetes exec subresource every other call into a sandbox uses. One way in, one thing to authorize, nothing further exposed.\n\nThe window size is ignored. A browser pane is not the X server's geometry, and the client scales what it is given rather than asking a server with no RandR to resize itself.",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/sandbox/{id}/terminal": {
      "get": {
        "operationId": "get_sandbox_by_id_terminal",
        "summary": "The terminal, as a page",
        "description": "A complete, self-contained terminal — xterm inline, no other origin — that opens its own socket and runs a shell in this sandbox. Embed it in an iframe and there is nothing else to build.\n\n`ticket` is the credential from the POST above and `arg` names the session (see the socket below); both are simply carried through to the socket. The page is NOT gated — it is inert markup and does not redeem the ticket, because a ticket is spent once and a page that spent it would hold a credential that no longer opens anything.\n\nWhen the terminal is up it posts `{source:\"hanzo-term\", ready:true}` to its parent frame, so a host can tell a live terminal from a page that failed into something else. `frame-ancestors` admits our own brands' hosts and nothing further.",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    },
    "/v1/sandbox/{id}/terminal/ticket": {
      "post": {
        "operationId": "post_sandbox_by_id_terminal_ticket",
        "summary": "Mints a short-lived grant to open a terminal on a sandbox.",
        "description": "Mints a short-lived grant to open a terminal on a sandbox.\n\nThe ticket travels in the query string of the URL it answers with, because a\nbrowser cannot set an Authorization header on a WebSocket handshake. It is\nsingle-purpose and short-lived for exactly that reason. A sandbox that is not\nrunning is 409 rather than a ticket that cannot be used.",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID is the sandbox to address, from the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ticketGrant"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/sandbox/{id}/terminal/ws": {
      "get": {
        "operationId": "get_sandbox_by_id_terminal_ws",
        "summary": "The terminal, as a socket",
        "description": "Upgrades to a WebSocket carrying a login shell on a pseudo-terminal inside the sandbox — for a host that brings its own emulator. Requires `ticket`; a missing, expired or already-spent one answers 401 without upgrading.\n\nTHE WIRE. A text frame is stdin, unless it is the one control object `{\"resize\":{\"cols\":N,\"rows\":M}}`; a binary frame is always stdin. Output comes back as BINARY frames, because a pty emits arbitrary bytes cut at arbitrary offsets and a text frame carrying half a rune is one the browser closes the connection over.\n\n`arg` names a SESSION: the shell runs under `tmux new -A -s \u003carg\u003e`, which attaches to that session if it exists and creates it if it does not — so one sandbox holds as many terminals as a caller has names for. It is 1-64 characters of letters, digits, `-` or `_` and may not begin with `-`; anything else is 400. Without `arg` the shell is unnamed and unmultiplexed.\n\nThe shell is `zsh -l`, falling back to `bash -l` and then to `sh -l`, and to the plain shell again when the image has no tmux. Every step is a preference and none is a requirement: whatever else the image carries — the hanzo CLI included — is a command to type, never a condition for getting a prompt.",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-public": true
      }
    }
  },
  "components": {
    "schemas": {
      "Blob": {
        "properties": {
          "data": {
            "contentEncoding": "base64",
            "description": "Data is the file's bytes, verbatim, base64 on the wire. Empty for a directory\nand for an empty file alike; Dir is what tells those apart.",
            "type": "string"
          },
          "dir": {
            "description": "Dir says which of the two answers this is: true and the path is a directory,\nso read Entries; false and it is a file, so read Data. Nothing else\ndistinguishes them — an empty file and an empty directory look alike here.",
            "type": "boolean"
          },
          "entries": {
            "description": "Entries is a directory's contents as bare NAMES, not paths — one level, no\nrecursion, dotfiles included, \".\" and \"..\" excluded (`ls -1A`). Empty for a\nfile, and for an empty directory.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "path": {
            "description": "Path is the RESOLVED absolute path that was read — the caller's relative path\njoined onto the sandbox's working directory (Leased.Workdir), so it names the\nsame file for a reader who does not know the class.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EndIn": {
        "properties": {
          "id": {
            "description": "ID is the sandbox whose lease ends, from an earlier lease.",
            "type": "string"
          },
          "purge": {
            "description": "Purge deletes the project's DISK as well. It is opt-in because the disk holds\nthe only copy of the checkout: ending a lease is cheap and reversible,\ndeleting someone's uncommitted work is neither.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ExecResult": {
        "properties": {
          "exitCode": {
            "description": "ExitCode is the command's own exit status. A non-zero one is a SUCCESSFUL\ncall carrying a failed command — the HTTP status stays 200, because \"the\ncommand failed\" and \"the call failed\" are different facts and a caller has\nto be able to tell them apart.",
            "format": "int64",
            "type": "integer"
          },
          "stderr": {
            "description": "Stderr is everything it wrote to standard error. It is populated on a\nsuccessful run too — plenty of tools report progress there — so it is not a\nsignal that anything went wrong; ExitCode is.",
            "type": "string"
          },
          "stdout": {
            "description": "Stdout is everything the command wrote to standard output, as text.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "LeaseIn": {
        "properties": {
          "class": {
            "description": "Class is what KIND of computer to lease, and the set is closed:\n\n\texec     a throwaway one that keeps nothing. Seconds to minutes.\n\tdev      a coding one, with the project's own disk attached. Hours.\n\tdesktop  a dev one that also has a screen.\n\tandroid  a desktop with a phone running on that screen.\n\nEmpty leases an `exec`, which is the right answer for running a program and\nthe wrong one for working on a repository, because it keeps nothing.\n\nAn `android` needs a node that can virtualise a CPU, so it is the one class\na deployment may not be able to place. Where the fleet has none, the lease\nsucceeds and the pod stays Pending naming the device it is waiting for —\nwhich is the honest answer, because the alternative is an emulator running\non an interpreted CPU and never finishing its boot.",
            "type": "string"
          },
          "cluster": {
            "description": "Cluster names one of the org's ATTACHED clusters to run the lease on —\nthe fleet-local name a BYO cluster was registered under. Empty runs where\nleases have always run, the home cluster. The named cluster must carry\nthe sandbox namespace and the gvisor runtime class; a name the org has\nnot attached is refused 404.",
            "type": "string"
          },
          "id": {
            "description": "ID names a sandbox to RESUME, and is the id an earlier lease answered with.\nEmpty asks for a new one. A caller that holds an id and omits it does not get\na second view of the same computer, it gets a second computer.",
            "type": "string"
          },
          "project": {
            "description": "Project names the disk to attach, and is REQUIRED for every class but `exec`.\n\nOne live sandbox per project: the disk attaches to one computer at a time, so\na second lease over a project that already has one is refused by name rather\nthan handed a silently empty disk.",
            "type": "string"
          },
          "runtime": {
            "description": "Runtime is the isolation boundary asked for: `gvisor` shares a filesystem\nand holds a project volume, `kata-fc` is a microVM that boots slower and\nreads files faster but has no shared filesystem at all. Empty asks for the\nfleet's default, which is the right answer unless you are measuring.\n\nIt is a REQUEST. The owner decides, and refuses a combination it cannot\nhonour — a volume under a runtime with no shared filesystem would write\ninto a tmpfs and lose the bytes at exit. Read Leased.Runtime for what the\nsandbox actually got.",
            "type": "string"
          },
          "ttlSec": {
            "description": "TTLSec bounds the lease in seconds. Unset takes the class default. Nothing\nruns forever, because a sandbox is somebody else's code on our nodes.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Leased": {
        "properties": {
          "class": {
            "description": "Class is what was actually leased, from the closed set LeaseIn.Class names:\nexec | dev | desktop | android. A request that named none leased an `exec`,\nso this is where a caller learns which kind of computer it is holding, and it\nis what Workdir below follows from.",
            "type": "string"
          },
          "cluster": {
            "description": "Cluster is the attached cluster this sandbox runs on, when one was named.\nEmpty is the home cluster.",
            "type": "string"
          },
          "id": {
            "description": "ID names this computer for every later call — run, read, write, stop and end\nall take it, and a LeaseIn carrying it resumes THIS sandbox instead of leasing\na second one. Minted here; a caller cannot choose it, and a resumed lease that\nhad expired comes back under a new one.",
            "type": "string"
          },
          "runtime": {
            "description": "Runtime is the boundary this sandbox GOT, which need not be the one asked\nfor — carried for the same reason Workdir is, that it is a fact only the\nowner knows and a caller assuming it would be holding a second copy. Empty\nis the node's default runtime, and a real answer.",
            "type": "string"
          },
          "status": {
            "description": "Status is where the pod stands, from the store's three: pending | running |\nerror. A lease that ANSWERS has already waited for the pod, so this reads\n`running` — a start that failed is a 503 and no sandbox at all. Read it\nanyway: exec refuses a sandbox that is not running, so anything else here is\nthe reason the next call will not work.",
            "type": "string"
          },
          "workdir": {
            "description": "Workdir is the absolute directory this sandbox keeps files in, and what a\nrelative path in a later read, write or run resolves against — /work for dev,\ndesktop and android (the project volume's mount point), /mnt/data for exec\n(the artifact directory the code tool tells the model to write to). A path\nthat climbs above it is refused rather than rewritten.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PathIn": {
        "properties": {
          "id": {
            "description": "ID is the sandbox to read from, from an earlier lease.",
            "type": "string"
          },
          "path": {
            "description": "Path is read relative to the sandbox's working directory unless it is\nabsolute, and a path that climbs out of it is refused rather than rewritten.\nEmpty names the working directory itself, which lists it.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Ran": {
        "properties": {
          "exitCode": {
            "description": "ExitCode is the PROGRAM's own status — 0 succeeded, anything else is what it\nreturned, and a Command runs under `sh -c` so its shell's conventions apply.\nA command that never reached an exit does not arrive here at all: a timeout\nor a stop cancels the channel, and that is an error on the call rather than a\ncode of ours invented to fill this field.",
            "format": "int64",
            "type": "integer"
          },
          "stderr": {
            "description": "Stderr is standard error, kept apart from Stdout so a caller reading a\nprogram's OUTPUT is not reading its diagnostics as data. Same 1 MiB cap, same\nredaction. A program that failed usually says why here and nowhere else.",
            "type": "string"
          },
          "stdout": {
            "description": "Stdout is what the program wrote to standard output, collected whole rather\nthan streamed — to watch it arrive instead, name a RunIn.Session and read that\nsession's feed. Capped at 1 MiB, past which it ends in \"[truncated at 1MiB]\".\nEvery string named in RunIn.Blind is replaced by \"[redacted]\" before it gets\nhere, and before it reaches the session.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "RunIn": {
        "properties": {
          "argv": {
            "description": "Argv is the program and its arguments, already split — the form no shell can\nmisread. Give this or Command, not both.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "blind": {
            "description": "Blind is the set of secrets this command must never publish.\n\nIt exists because output is redacted where it is PRODUCED or not at all. A\ncaller that scrubbed the returned result would still have streamed the\nunredacted bytes into the session as they were written — to a durable event\nstore, an SSE feed and a chat thread — because the narration leaves the\nsandbox by a different path from the result. Nothing downstream can take a\nsecret back out of a message that has already been delivered.\n\nThe sandbox holds these only for the life of the one command, applies them\nto every stream leaving it, and never logs or stores them.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "command": {
            "description": "Command is a shell line, run by `sh -c`. Use it when a pipeline or a\nredirection is the point, and Argv when it is not.",
            "type": "string"
          },
          "dir": {
            "description": "Dir runs the command somewhere other than the sandbox's working directory,\nwhich Leased.Workdir names.",
            "type": "string"
          },
          "id": {
            "description": "ID is the sandbox to run in, from an earlier lease.",
            "type": "string"
          },
          "session": {
            "description": "Session is the live agent session this command narrates into: its output is\nappended there AS IT IS PRODUCED, so every surface watching that session\nwatches the command work instead of a blank pause. A long run is otherwise a\nsilence with a verdict at the end.\n\nIt names a SESSION and never a tenant. The org is the one the caller already\nproved, so a session belonging to somebody else is simply absent from the org\nthis call acts for and the append is refused there. Empty means nothing is\nwatching, and then nothing is sent.",
            "type": "string"
          },
          "stdin": {
            "description": "Stdin is fed to the program on standard input. This is how bytes reach a file\nwithout being quoted into a shell line: `cat \u003e path` with the contents here\nwrites them exactly.",
            "type": "string"
          },
          "timeoutSec": {
            "description": "TimeoutSec bounds this ONE command, so a wedged program holds the caller for\nits own timeout rather than for the whole lease.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Sandbox": {
        "properties": {
          "class": {
            "description": "Class is what the sandbox is FOR, and it decides the image, the working\ndirectory and the isolation: \"exec\" for a code-interpreter call (workdir\n/mnt/data, no project, bounded per org), \"dev\" for a workspace bound to a\nproject (workdir /work, single-attach), \"desktop\" for one with a screen.",
            "type": "string"
          },
          "cluster": {
            "description": "Cluster is the attached cluster this sandbox runs on — the fleet-local\nname the lease named — or empty for the home cluster. Immutable for the\nlife of the lease, like the pod it locates: every later call into the\nsandbox reads it to reach the right apiserver.",
            "type": "string"
          },
          "connectedAt": {
            "description": "ConnectedAt is when somebody was last known to have this sandbox's project\nOPEN, Unix seconds. It is a fact with an EXPIRY rather than a flag: a\nwatcher restamps it every beat of its stream, and it goes stale on its own\nwhen the stream dies, so nothing has to be turned off by a process that may\nnot be there any more. The reaper reads it to choose WHICH idle allowance\napplies — see lifecycle.go.\n\nZero means nobody has said so, which puts the sandbox on the short clock.",
            "format": "int64",
            "type": "integer"
          },
          "createdAt": {
            "description": "CreatedAt is when the lease was first taken, Unix seconds.",
            "format": "int64",
            "type": "integer"
          },
          "error": {
            "description": "Error is why the sandbox could not come up, in plain words. Present only\nwith status \"error\", and it is the field to read rather than inferring a\ncause from the absence of a pod.",
            "type": "string"
          },
          "expiresAt": {
            "description": "ExpiresAt is when the lease ends, Unix seconds. Past it the reaper may take\nthe sandbox at any time; it is a deadline, not a guarantee of survival until\nthen, since an idle sandbox goes sooner.",
            "format": "int64",
            "type": "integer"
          },
          "id": {
            "description": "ID is the sandbox's server-minted handle and what every operation addresses\nit by. The caller does not choose it.",
            "type": "string"
          },
          "image": {
            "description": "Image is the container image this sandbox is actually running — the one the\nclass chose, or an override the policy admitted. It is what ran, not what\nwas asked for.",
            "type": "string"
          },
          "kind": {
            "description": "Kind is the resource family this row belongs to. Always \"sandbox\" here; it\nexists because the store this shares is keyed across kinds.",
            "type": "string"
          },
          "lastUsedAt": {
            "description": "LastUsedAt is when the sandbox last did work, Unix seconds. The reaper reads\nit: a sandbox idle past the idle window is reclaimed even inside its TTL,\nbecause an idle lease is capacity nobody is using.",
            "format": "int64",
            "type": "integer"
          },
          "org": {
            "description": "Org is the org that holds the lease — the validated caller's, never a value\na request supplied. It is also the store's key, so a sandbox is not merely\nfiltered out of another org's answers; it is unreachable from them.",
            "type": "string"
          },
          "project": {
            "description": "Project is the project this sandbox is bound to. A dev or desktop sandbox\nhas one and is SINGLE-ATTACH under it, so asking twice resumes rather than\nleasing a second; an exec sandbox has none.",
            "type": "string"
          },
          "runtime": {
            "description": "Runtime is the isolation boundary this sandbox GOT, which is not always the\none it asked for: a caller states a preference and runtimeFor answers with\nwhat the sandbox can actually have. Reported so a person comparing two\nruntimes is comparing the runtimes they got rather than the ones they typed\n— the difference between those two is the whole reason to record it.\n\nEmpty means the node's default runtime, which is a real answer and not a\nmissing one.\n\nThis is not a copy that can go stale. runtimeClassName is IMMUTABLE on a\npod, a sandbox's pod is created once and never recreated (restartPolicy\nNever, no pool), and its name is never reused — so for as long as the pod\nthis row names exists, it is running this runtime. The alternative, asking\nthe apiserver on every read, buys nothing and costs a round trip per row.",
            "type": "string"
          },
          "status": {
            "description": "Status is where the sandbox is in its life: \"pending\" while the pod is\ncoming up, \"running\" once it can take work, \"error\" when it cannot. Only a\nrunning sandbox takes an exec or mints an interactive ticket.",
            "type": "string"
          },
          "volume": {
            "description": "Volume is the persistent volume attached to the sandbox, when it has one. A\ndev sandbox keeps its work across leases through it; an exec sandbox has\nnone and loses everything outside /mnt/data when the lease ends.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "StopIn": {
        "properties": {
          "id": {
            "description": "ID is the sandbox to interrupt, from an earlier lease. Every command running\nin it stops; the lease itself survives, so the checkout and the half-written\nfiles are still there to read. Use EndIn to give the computer back.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Stopped": {
        "properties": {
          "stopped": {
            "description": "Stopped counts the commands that were still running and were interrupted.\nZero says the sandbox was idle, not that the stop failed — see above.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "WriteIn": {
        "properties": {
          "data": {
            "contentEncoding": "base64",
            "description": "Data is the file's bytes, and replaces whatever was there.",
            "type": "string"
          },
          "id": {
            "description": "ID is the sandbox to write into, from an earlier lease.",
            "type": "string"
          },
          "path": {
            "description": "Path is confined the same way PathIn.Path is. Missing parent directories are\ncreated.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Wrote": {
        "properties": {
          "bytes": {
            "description": "Bytes is how many bytes the file now holds. A write REPLACES the file, so this\nis its whole length and not an amount appended, and 0 is a legitimate answer:\na WriteIn with no Data truncates the file to nothing.",
            "format": "int64",
            "type": "integer"
          },
          "path": {
            "description": "Path is where the bytes actually landed: the caller's path resolved against\nthe sandbox's working directory (Leased.Workdir), which is what a later read\nor a shell line inside the sandbox has to name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "execRequest": {
        "properties": {
          "argv": {
            "description": "Argv is the command as an argument vector, which is the honest form: it\ncannot be word-split by accident. Send this OR Command, not both.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "command": {
            "description": "Command is a shell line, for a caller that holds one. It is a convenience\nover Argv and is the only input that ever reaches a shell.",
            "type": "string"
          },
          "dir": {
            "description": "Dir is the working directory to run in. Empty runs in the class's own\nworkdir — /mnt/data for exec, /work for dev.",
            "type": "string"
          },
          "id": {
            "description": "ID is the sandbox to run in, from the path.",
            "type": "string"
          },
          "stdin": {
            "description": "Stdin is fed to the command on its standard input.",
            "type": "string"
          },
          "timeoutSec": {
            "description": "TimeoutSec bounds the run in seconds. Zero takes the default.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "leaseIn": {
        "properties": {
          "class": {
            "description": "Class is what the sandbox is FOR: \"exec\" for a code-interpreter call,\n\"dev\" for a workspace bound to a project, \"desktop\" for one with a screen.\nIt decides the image, the working directory and the isolation.",
            "type": "string"
          },
          "cluster": {
            "description": "Cluster names one of the org's attached clusters to run the sandbox on —\nthe fleet-local name it was registered under. Empty runs on the home\ncluster. The named cluster must carry the sandbox namespace and the\ngvisor runtime class; a name the org has not attached is 404.",
            "type": "string"
          },
          "image": {
            "description": "Image overrides the image the class would pick. Honoured only for a caller\nthe policy admits, and the sandbox that comes back names the image it GOT.",
            "type": "string"
          },
          "project": {
            "description": "Project binds the sandbox to one of the org's projects. Required for a dev\nor desktop class, which are single-attach per project; an exec sandbox\ncarries none.",
            "type": "string"
          },
          "runtime": {
            "description": "Runtime asks for an isolation: runc, gvisor, kata-clh or kata-fc. It is a\nREQUEST, not a guarantee — the sandbox that comes back carries the runtime\nit was actually given, which is the field to read.",
            "type": "string"
          },
          "ttlSec": {
            "description": "TTLSec is how long the lease runs before the reaper may take it, in\nseconds. Zero takes the class's own default.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sandboxList": {
        "properties": {
          "sandboxes": {
            "description": "Sandboxes are the caller org's sandboxes matching the filter. Never null.",
            "items": {
              "$ref": "#/components/schemas/Sandbox"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ticketGrant": {
        "properties": {
          "expiresIn": {
            "description": "ExpiresIn is how long the ticket is good for, in seconds.",
            "format": "int64",
            "type": "integer"
          },
          "ticket": {
            "description": "Ticket is the grant itself. It is single-purpose and short-lived, and it\ntravels in a query string because a WebSocket handshake carries no\nAuthorization header a browser can set.",
            "type": "string"
          },
          "url": {
            "description": "URL is the PATH to open, ticket included — not an absolute URL. Which host\nthis address wears in public is the edge's answer and not this process's, so\nan absolute URL would be a guess; the client already knows the host it is\ntalking to. It names the PAGE, which is what a caller embeds — the page\nfinds its own socket, and a caller that wants the raw socket adds `/ws`.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
