{
  "openapi": "3.1.0",
  "info": {
    "title": "Hanzo Cloud API",
    "description": "Package tel is the telecommunications surface: phone numbers, calls and messages, on whatever carrier the deployment is configured for.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hanzo.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "tel"
    }
  ],
  "paths": {
    "/v1/tel/calls": {
      "get": {
        "operationId": "get_tel_calls",
        "summary": "Lists the calls this org has placed or received, newest first.",
        "description": "Lists the calls this org has placed or received, newest first. Like the\nmessage list beside it, these are our own records rather than the carrier's.",
        "tags": [
          "tel"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/callList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_tel_calls",
        "summary": "Dials.",
        "description": "Dials. An `agent` names a Hanzo assistant to answer it; the call is\nrefused up front when no assistant plane is configured, because a call that\nconnects to silence has already cost the person who answered it.",
        "tags": [
          "tel"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/callInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/tel/calls/{id}": {
      "delete": {
        "operationId": "delete_tel_calls_by_id",
        "summary": "Ends a call this org placed.",
        "description": "Ends a call this org placed. The holding is read for THIS org before the\ncarrier is asked, for the reason releaseNumber gives one surface up: an id\nbelonging to another tenant would otherwise be hung up by whoever guessed it.",
        "tags": [
          "tel"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/noInput"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/tel/messages": {
      "get": {
        "operationId": "get_tel_messages",
        "summary": "Lists the messages this org has sent or received, newest first.",
        "description": "Lists the messages this org has sent or received, newest first. Records from\nour own store, not the carrier's — so it is what this platform did on the\norg's behalf, which is the set an audit or a bill has to agree with.",
        "tags": [
          "tel"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messageList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_tel_messages",
        "summary": "Sends a message from one of this org's own numbers.",
        "description": "Sends a message from one of this org's own numbers.\n\n`from` must be a number the org HOLDS, checked against the store rather than\ntaken on trust — a caller that could send from any number could impersonate\none, and the carrier would deliver it. `to` is required, and the body needs\ntext or media, because a message with neither is delivered as nothing and\nbilled as something.",
        "tags": [
          "tel"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/messageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMS"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/tel/numbers": {
      "get": {
        "operationId": "get_tel_numbers",
        "summary": "Lists the phone numbers this org HOLDS — the ones it has bought and not released.",
        "description": "Lists the phone numbers this org HOLDS — the ones it has bought and not\nreleased. Distinct from the availability search one path down\n(`/numbers/available`), which asks the carrier what could be bought: this\nanswers only from our own store, so it is what an org owns rather than what\nit could own.",
        "tags": [
          "tel"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numberList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      },
      "post": {
        "operationId": "post_tel_numbers",
        "summary": "Provisions with the carrier FIRST and records second.",
        "description": "Provisions with the carrier FIRST and records second. The other order\nrecords a holding that may not exist, and a number the platform believes it owns\nbut cannot use is worse than one it failed to buy.",
        "tags": [
          "tel"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/buyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Number"
                }
              }
            },
            "description": "created"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/tel/numbers/available": {
      "get": {
        "operationId": "get_tel_numbers_available",
        "summary": "Asks the carrier what is available to buy.",
        "description": "Asks the carrier what is available to buy. Nothing is recorded —\na search is not a holding, and treating it as one is how inventory leaks.",
        "tags": [
          "tel"
        ],
        "parameters": [
          {
            "name": "Country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Area",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numberList"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/tel/numbers/{id}": {
      "delete": {
        "operationId": "delete_tel_numbers_by_id",
        "summary": "Checks the holding is THIS org's before it reaches the carrier.",
        "description": "Checks the holding is THIS org's before it reaches the carrier.\nWithout that read, an id belonging to another tenant would be released by\nwhoever guessed it.",
        "tags": [
          "tel"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/noInput"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    },
    "/v1/tel/summary": {
      "get": {
        "operationId": "get_tel_summary",
        "summary": "Counts what this org holds on the telephony plane: its numbers, its calls and its messages.",
        "description": "Counts what this org holds on the telephony plane: its numbers, its calls and\nits messages. The one read a dashboard makes before it asks for any list, so\nit answers three totals and no rows.",
        "tags": [
          "tel"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/summary"
                }
              }
            },
            "description": "ok"
          }
        },
        "x-public": true,
        "x-tool": true
      }
    }
  },
  "components": {
    "schemas": {
      "Call": {
        "properties": {
          "agent": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "status": {
            "description": "queued | ringing | answered | completed | failed",
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Number": {
        "properties": {
          "capable": {
            "description": "voice | sms | mms | fax",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "country": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "e164": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "monthly": {
            "description": "minor units, as the carrier quoted it",
            "type": "integer"
          },
          "org": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SMS": {
        "properties": {
          "from": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "status": {
            "description": "queued | sent | delivered | failed",
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "buyInput": {
        "properties": {
          "e164": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "callInput": {
        "properties": {
          "agent": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "record": {
            "description": "Record is a per-call flag rather than a product. Where a recording lands and\nhow long it is kept is the org's retention policy, not this call's.",
            "type": "boolean"
          },
          "to": {
            "type": "string"
          },
          "webhook": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "callList": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Call"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "messageInput": {
        "properties": {
          "from": {
            "type": "string"
          },
          "media": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "text": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "messageList": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/SMS"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "noInput": {
        "properties": {},
        "type": "object"
      },
      "numberList": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Number"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "summary": {
        "properties": {
          "calls": {
            "type": "integer"
          },
          "messages": {
            "type": "integer"
          },
          "numbers": {
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "The caller's credential, sent as `Authorization: Bearer \u003ctoken\u003e`. It is either an access token minted by Hanzo IAM or an API key (pk-/sk-). X-Authorization, and HTTP Basic carrying the token as the password, are accepted spellings of the same header for clients that cannot set Authorization; a browser presents the session cookie instead. Every operation requires it unless it says `security: []`."
      }
    }
  }
}
